[2018-09-27 08:30] khouloudbelguith commented on #10729
Hi @josedgal,

I did not manage to reproduce the issue in your shop.
I attached a video record.
https://drive.google.com/file/d/1wtvZ6y0AK0JdY8MD536I6vXHi7lVkjSM/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-27 08:39] eternoendless commented on #10463
Unfortunately we cannot upgrade Bootstrap and jQuery on the classic theme until the next major version. As @rdy4ever said, Bootstrap changed their layout system since alpha 6, which is a backwards compatibility break that would affect all of classic's child themes.

If you are concerned about these vulnerabilities, take a look at [Classic-Rocket](https://github.com/PrestaShop/classic-rocket/), whi

[2018-09-27 08:39] #10463 closed, assigned to eternoendless

[2018-09-27 08:40] khouloudbelguith commented on #10710
Hi @jancinert,

Thanks for the clarifications.
I manage to reproduce the issue with PS 1.6.1.20.
@marion what do you think?
Here's the fix: #10711

Best regards, Khouloud

[2018-09-27 08:45] Prestaworks commented on #10701
can you show how it looks inside your themes folder now?

[2018-09-27 08:46] eternoendless commented on #10250
FYI the 1.7.5 catalog hasn't been uploaded to Crowdin yet, I simply updated TranslationFiles manually.

[2018-09-27 08:57] matks opened #10733 "Reorganize tests folder"
Here is the current`tests` folder structure:

- E2E
- Integration
    - Adapter
    - classes
    - Core
    - PrestaShopBundle
- phpcs (removed in https://github.com/PrestaShop/PrestaShop/pull/10724)
- PrestaShopBundle
- resources
    - assets
    - minimal-missconfig-theme
    - minimal-missfiles-theme
    - minimal-valid-theme
    - module
    - module-self-config-files
    - modules
    - temp

[2018-09-27 08:58] matks commented on #10733
What do you think @eternoendless @mickaelandrieu ?

[2018-09-27 09:22] khouloudbelguith commented on #10701
@Prestaworks,

![image](https://user-images.githubusercontent.com/16067358/46136323-9d295b80-c247-11e8-99bb-27625d7bc1f2.png)

[2018-09-27 09:28] Prestaworks commented on #10701
odd, we tried on two installations on separate machines here, works fine on both, maybe you need to clear cache?

[2018-09-27 09:28] khouloudbelguith commented on #10732
Hi @,

I did not manage to reproduce the issue with the last version 1.7.4.2.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this infor

[2018-09-27 09:32] centoasa commented on #10732
debug mode on
Duplicate entry '16-1' for key 'PRIMARY'

INSERT INTO `ps_feature_value_lang` (`id_feature_value`, `value`, `id_lang`) VALUES ('16', 'test55', '1')
![2018-09-27](https://user-images.githubusercontent.com/5500935/46136949-0362ae00-c249-11e8-923c-fd3948262a56.png)

[2018-09-27 09:33] khouloudbelguith commented on #10732
Hi @centoasa,

Did you use the multistore context?

Best regards, Khouloud

[2018-09-27 09:34] prestamodule opened #10734 "EU taxes aren't working since 1.7.4"
**Describe the bug**

EU VAT doesn't work as expected since v1.7.4+ (also tested on 1.7.5)
It works fine if vatnumber module is enabled on version < 1.7.4

If you make an order using a Spanish customer, on a French shop and using VAT number, you'll have to pay taxes but you should not.
In the invoice, we have the exempt text, but taxes table & amount are displayed.

**To Reproduce**
Steps to repro

[2018-09-27 09:37] centoasa commented on #10732
sorry what's this?
where I can find it?

[2018-09-27 09:39] khouloudbelguith commented on #10701
@Prestaworks, no after clearing cache, there's no success.
Same issue!

[2018-09-27 09:44] Prestaworks commented on #10701
ok, maybe you can get some support at your office on how to get the child theme to install or you may have to add your own bug report to get this fixed :)

[2018-09-27 09:54] jancinert commented on #10710
Addendum:
I tried to keep code changes short.
Because pull requests with many changes tend to be not accepted by the team (no offence...).

But an ideal fix would be to code refactor whole product.js theme file.

[2018-09-27 09:55] fatmaBouchekoua commented on #10733
Hello @matks ,
Actually, we are moving the Selenium folder under E2E tests (we are migrating them to the new architecture)

[2018-09-27 09:55] khouloudbelguith commented on #9525
Fixed by: #10735

[2018-09-27 09:58] matks commented on #10733
@fatmaBouchekoua Thank you for letting me now :) so you plan to keep all E2E tests together ? You will not split them between projects (because Selenium tests are, according to the README, dedicated to StarterTheme) ?

[2018-09-27 09:59] khouloudbelguith commented on #10732
In the BO => Shop Parameters => General page => did you enabled the multishop option?

[2018-09-27 10:01] centoasa commented on #10732
no, it didn't enabled

[2018-09-27 10:02] gkanakaris commented on #10655
The update never took place. My prestashop is still 1.7.3.4 so php dont need to be 5.6 right? can it still work with 5.4?
The server admin remove the opebasedir security and the dashboard error gone away.
The module page error is still there.

[2018-09-27 10:03] khouloudbelguith commented on #10701
Hi @Prestaworks,

Could you please try with this theme: https://github.com/PrestaShop/childtheme-example & feedback.

Best regards, Khouloud

[2018-09-27 10:04] fatmaBouchekoua commented on #10733
Yes we will keep all E2E tests together but in different campaigns (you can find all campaigns under E2E/test/campaigns)

[2018-09-27 10:05] eternoendless commented on #10527
The problem is clearly not in the line itself, it's a simple constant declaration which has a complexity of O(1). There must be something else that uses that constant and according ot its value it triggers some behavior which is causing the performance issues you are experimenting. It could be a module or an override, it could be anything really.

I'd suggest looking for usages of `_PS_CREATION_DA

[2018-09-27 10:06] khouloudbelguith commented on #10734
Hi @prestamodule,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9928
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-27 10:06] #10734 closed, assigned to nobody

[2018-09-27 10:06] khouloudbelguith commented on #10734
Duplicate of #9928

[2018-09-27 10:07] Quetzacoalt91 commented on #10480
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10736

[2018-09-27 10:12] prestamodule commented on #9928
@khouloudbelguith is there any opened PR for this already ?

[2018-09-27 10:12] khouloudbelguith commented on #10655
Hi @gkanakaris,

You can follow this link for more details about PrestaShop 1.7 compatibility with PHP: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/

Best regards, Khouloud

[2018-09-27 10:14] khouloudbelguith commented on #9928
Hi @prestamodule,

If there is a PR, it should be referenced here.
So, I don't think.

Best regards, Khouloud

[2018-09-27 10:17] prestamodule commented on #9928
@khouloudbelguith Ok. We are not seeing 1.7.5 tag here, should be added, this is very critical

[2018-09-27 10:22] khouloudbelguith commented on #9928
Hi @prestamodule,

For the PS 1.7.5.0: Code Freeze: 20/09/2018 Target first Release Candidate: 12/10/2018 Target final Release:	22/10/2018
So, I don't think, it will be added in the 1.7.5.

Best regards, Khouloud

[2018-09-27 10:33] khouloudbelguith commented on #10136
Hi @positrongr,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-27 10:33] #10136 closed, assigned to nobody

[2018-09-27 10:34] khouloudbelguith commented on #10173
Hi @lerougestefan,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-27 10:34] #10173 closed, assigned to nobody

[2018-09-27 10:35] khouloudbelguith commented on #10159
Hi @Hanoician,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-27 10:35] #10159 closed, assigned to nobody

[2018-09-27 10:37] khouloudbelguith commented on #9495
Hi @PeNov,

We have released a new version of the 1-click upgrade module v4.3.0.
You can follow this link: https://github.com/PrestaShop/autoupgrade/releases/tag/v4.3.0
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-27 10:39] khouloudbelguith commented on #10732
Hi @centoasa,

Did you delete any features from your Database?

Best regards, Khouloud

[2018-09-27 10:43] centoasa commented on #10732
no. This is a fresh installation of 1.7.4.2 directly from plesk
I've only import some tables from 1.6.1.19 (customers, order, attributes)

[2018-09-27 10:44] jancinert commented on #10730
Thank You for Your work.

I tried new tests, one with "Quantity discounts based on" set on and second one with "Quantity discounts based on" off.
Both tests leads to same wrong result on screen.

The root cause is that the screen value is not getting updated by any value.
It is not about getting updated by wrong number.
In other words switching the quantity from 1 to 2 keeps the discount percentag

[2018-09-27 10:47] benwallis opened #10737 "Javascript error when trying to edit embedded video (TinyMCE)"
**Describe the bug**
After embedding a video in a product description, clicking on the object in the textarea causes a Javascript error to be reported in console, so the embed can not be edited.

`Uncaught DOMException: Failed to execute 'setBaseAndExtent' on 'Selection': There is no child at offset 1.`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin > Shop Parameters > General'

[2018-09-27 10:51] khouloudbelguith commented on #10730
Hi @jancinert,

Thanks for the clarifications.
I manage to reproduce the issue with the last version: 1.6.1.20.
Thanks for the fix: #10731

Best regards, Khouloud

[2018-09-27 11:05] khouloudbelguith commented on #10737
Hi @benwallis,

I did not manage to reproduce the issue with PS: 1.7.4.2.
I attached a video record.
https://drive.google.com/file/d/15czDbGJU-gzXiTu3XHjCd79cG2iR8WKD/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-27 11:16] khouloudbelguith commented on #10732
Hi @centoasa,

I did not manage to reproduce the issue with PS 1.7.4.2 (nginx + PHP 7.2)
https://drive.google.com/file/d/1rVOzuSNTv__osXUdyCanuuW1K-v4KDMT/view
Could you please check the ps_feature_value_lang table if you have a duplicated data?

Best regards, Khouloud

[2018-09-27 11:46] benwallis commented on #10737
Ah, it seems to only happen in Chrome browser.

I believe the issue is fixed by TinyMCE v4.5.6

[2018-09-27 11:49] sarjon opened #10738 "Issue with text editors"
**Describe the bug**
There is something wrong with text editors on multiple pages, see Brands for example here https://prnt.sc/kzcjnb

**To Reproduce**
Steps to reproduce the behavior:
Open Brands page.

**Screenshots**
n/a

**Additionnal information**
PrestaShop version: develop
PHP version: N/A

[2018-09-27 11:59] centoasa commented on #10732
But on your video it’s seems you’ve only one language, instead I’ve 2 languages ita + eng

[2018-09-27 12:09] #10527 closed, assigned to nobody

[2018-09-27 12:21] febestore opened #10739 "Free shipping as visitor"
**Describe the bug**
Hello, I've noticed a bug with displaying shipping cost in the cart. As the guest there is always free shipping. As logged member shipping cost is displaying correctly.

I have only one Carrier (DHL). Shipping costs are calculating by summary package weight and there is no free shipping option.

I've run out of ideas. Can You help me with this issue?

**To Reproduce**
Steps to

[2018-09-27 12:22] khouloudbelguith commented on #10738
Hi @

Here's the PR: #10462 to solve the issue.
Your ticket is a duplicate of #10461
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-27 12:23] khouloudbelguith commented on #10738
Duplicate of #10461

[2018-09-27 12:23] #10738 closed, assigned to nobody

[2018-09-27 12:23] marionf commented on #10700
@khouloudbelguith It should be good now

![capture d ecran_346](https://user-images.githubusercontent.com/13449658/46145545-c0acd000-c260-11e8-8733-3bd8cc8d0321.png)

There is still some modules missing but it's "normal"

![capture d ecran_347](https://user-images.githubusercontent.com/13449658/46145585-df12cb80-c260-11e8-86ab-4de2aa0cee22.png)

[2018-09-27 12:23] #10700 closed, assigned to nobody

[2018-09-27 12:24] khouloudbelguith commented on #10700
Hi @marionf,

Thanks!

[2018-09-27 12:30] khouloudbelguith commented on #10732
Hi @centoasa,

No, I have 3 languages.
![image](https://user-images.githubusercontent.com/16067358/46145931-cd7df380-c261-11e8-85ed-1233b7b80d8d.png)

Best regards, Khouloud

[2018-09-27 12:34] Dennis002 opened #10740 "No way to update my modules: Warning: ZipArchive::extractTo(): Invalid or uninitialized Zip object"
**Describe the bug**
When i try to update my module, for all modules, i got always the same error:
Warning: ZipArchive::extractTo(): Invalid or uninitialized Zip object

**To Reproduce**
Steps to reproduce the behavior:
1. Go to modules
2. Click on a random module that need upgrade
3. upgrade it
![immagine](https://user-images.githubusercontent.com/24193791/46146142-5301a380-c262-11e8-96cb-b2d44d0

[2018-09-27 12:40] centoasa commented on #10732
I thinnk there was a mistake on ps_feature_value_lang table
![2018-09-27 1](https://user-images.githubusercontent.com/5500935/46146400-f9e63f80-c262-11e8-8a54-0411178a9a23.png)
so I've truncate table and testing....

[2018-09-27 12:42] centoasa commented on #10732
@khouloudbelguith great, now all works great!
Thanks a lot for your fast reply and suggestions!

[2018-09-27 12:42] khouloudbelguith commented on #10732
Hi @centoasa,

Thanks!
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-27 12:42] #10732 closed, assigned to nobody

[2018-09-27 12:44] khouloudbelguith commented on #10740
Hi @Dennis002,

Could you please check if the zip extension is enabled in your php.ini file and feedback.

Best regards, Khouloud

[2018-09-27 12:52] Dennis002 commented on #10740
Yes, i asked to siteground support and it is enabled in all of their servers
Best regards

[2018-09-27 13:10] khouloudbelguith commented on #10740
Hi @Dennis002,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2018-09-27 13:12] khouloudbelguith commented on #10737
HI @benwallis,

Have you the same issue with this ticket: #9651?

Best regards, Khouloud

[2018-09-27 13:16] khouloudbelguith commented on #10739
Hi @febestore,

In the BO => IMPROVE => Shipping => Preferences => you need to edit the Default carrier.
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-27 13:27] febestore commented on #10739
The default carrier was set up before. The problem still exists.
Screenshot below

![d-shipp](https://user-images.githubusercontent.com/40421616/46149099-cfe44b80-c269-11e8-8bfc-7f5ca66d215a.JPG)

[2018-09-27 13:38] khouloudbelguith commented on #10739
Hi @febestore,

I attached a video record.
https://drive.google.com/file/d/1WCGGfFAmE5Yt_HwgivnYcti1cznYmnZP/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-27 13:39] dennispw commented on #10596
@khouloudbelguith See attached.

[#10596.zip](https://github.com/PrestaShop/PrestaShop/files/2424330/10596.zip)

[2018-09-27 13:44] Dennis002 commented on #10740
host: Siteground
server setup and configuration:  https://wegeek.shop/phpinfo.php
PrestaShop version (source): 1.7.4.2
debug mode report:

×
Error!
Eccezione lanciata dal modulo prestagiftvouchers su upgrade. Warning: ZipArchive::extractTo(): Invalid or uninitialized Zip object

PHP error logs: no errors in logs (screen attached)

apache error log: no errors in logs (screen attached)

javascript c

[2018-09-27 13:51] Prestaworks commented on #10701
ok, here you go.

[childtheme-example-master.zip](https://github.com/PrestaShop/PrestaShop/files/2424366/childtheme-example-master.zip)

[2018-09-27 13:54] febestore commented on #10739
Problem is not solved. Video below:

https://drive.google.com/file/d/1_By73606C0cXTEkCgKrSYkcgGbNyJz8S/view

Regards

[2018-09-27 14:06] Prestaworks commented on #10701
here is also a video of the issue
https://www.useloom.com/share/09bd7db867fc4488a37d16cd54374ae5

[2018-09-27 14:07] josedgal commented on #10729
Hi  Khouloud,

Here I send the error screenshot and a file with the order, if you want we
can chat throught skype or Google Hangouts for better and faster
explanation.

My user in SKype is jose.galvis2.

The error PayU is showing.
[image: image.png]

Let me know if you need more info.

Best regards.

El jue., 27 sept. 2018 a las 3:30, khouloudbelguith (<
notifications@github.com>) escribió:

--

Y

[2018-09-27 14:13] khouloudbelguith commented on #10739
Hi @febestore,

Have you tried to contact the theme author about this issue?
Thanks to check with them & feedback.

Best regards, Khouloud

[2018-09-27 14:35] khouloudbelguith commented on #10701
Hi @Prestaworks,

Thanks for the clarifications.
Now I manage to reproduce the issue with PS1.7.4.2.
When there are 3 expressions with the same value.
Only the first expression will be edit successfully but with the third value.
https://drive.google.com/file/d/1Tx3HESPCpUzMEFzJLi_rUWAUQ_IZZIi8/view
@marionf What do you think?

Best regards, Khouloud

[2018-09-27 14:37] khouloudbelguith commented on #10729
Hi @josedgal,

There's no screenshot attached.

Best regards, Khouloud

[2018-09-27 14:52] khouloudbelguith commented on #10596
Hi @dennispw,

I attached a screen record.
https://drive.google.com/file/d/1918Hsh4npU7OdThhP3kGGFege4vsmY1S/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-27 15:00] dennispw commented on #10596
@khouloudbelguith It's strange you don't get the 404. However, the real issue is that the texture is removed when entering a color code and/or not even uploaded when there is a color code entered.

It should either:
1. Upload a texture with an additional setting to choose which to use
2. Keep the uploaded texture and display a notice that **clearly** states that the color value has a higher priori

[2018-09-27 15:04] khouloudbelguith commented on #10740
Hi @Dennis002,

Could you please try to upgrade the module on your PC(local) and I do the transfer with FTP on the server.
Thanks to check& feedback.

Best regards, Khouloud

[2018-09-27 15:11] khouloudbelguith commented on #10596
Hi @dennispw,

So, this is an improvement issue.
When we try to upload a texture and the Color value is not empty. a green alert is displayed "Successful update." but the texture is not uploaded.
@marionf  @colinegin what do you think of his suggestion?

Best regards, Khouloud

[2018-09-27 15:18] SebSept commented on #10740
Hello,
This happend when trying to update a module bought on the addon store but when user is not connected to psaddon (or connected with another account).
No zip is downloaded, so it can't be extracted...

[2018-09-27 15:29] khouloudbelguith commented on #10740
HI @Dennis002,

Thanks for the clarifications.
Now, I manage to reproduce the issue.
https://drive.google.com/file/d/1DQzi8zBpjAGkko_2hHrKq9XLsW21Z--o/view
This issue occurs only when we try to upgrade a module bought by addons & we are not logged/connected with another account.

Best regards, Khouloud

[2018-09-27 15:44] Dennis002 commented on #10740
Here we go! It is fixed, thanks a lot

[2018-09-27 15:44] #10740 closed, assigned to nobody

[2018-09-27 15:54] matks commented on #10686
Linked to https://github.com/PrestaShop/PrestaShop/pull/10741

[2018-09-27 15:55] Quetzacoalt91 opened #10742 "LazyArrays on 1.7.5 - Google analytics module is incompatible"
**Describe the bug**
When using ps_googleanalytics module on 1.7.5, going on a product page in the front office brings the following notice:

Notice: Undefined index: name

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product page

**Screenshots**
![capture du 2018-09-27 16-53-15](https://user-images.githubusercontent.com/6768917/46158582-1344b700-c276-11e8-80b9-6c1622294b51.png)

[2018-09-27 16:00] matks commented on #10630
Is this page handled by the core or by a module @colinegin ?

[2018-09-27 16:02] khouloudbelguith commented on #10740
Hi @Dennis002,

Thanks for your feedback.
How did you fix the issue?

Best regards, Khouloud

[2018-09-27 16:13] khouloudbelguith commented on #10742
Hi @Quetzacoalt91,

Thanks for your report.
I manage to reproduce the issue with the branch 1.7.5.x & the ps_googleanalytics v3.1.1 - by PrestaShop.
PS1.7.4.2 => OK

Best regards, Khouloud

[2018-09-27 21:16] josedgal commented on #10729
Hi,

Here you go the attachment

Best regards.

El jue., 27 sept. 2018 a las 9:38, khouloudbelguith (<
notifications@github.com>) escribió:

--

Yenny Cardozo.

Promotor Comercial

+571 6254455 ext. 10 <+57%201%206254455>6 / +57 3165230799
<(317)%20383-4092>

Cll 137 # 52a-36 Bogotá, Colombia
<https://maps.google.com/?q=Cll+137+%23+52a-36+Bogot%C3%A1,+Colombia&entry=gmail&source=g>

[2018-09-27 21:19] PierreRambaud commented on #10729
@josedgal You must come on github to send us an attachment :)

[2018-09-27 21:27] mickaelandrieu commented on #10733
I agree we need to do something about it (I've already tried to reorganize some of them between 1.7.3 and 1.7.4) but I don't think we should consider this is part of Symfony migration 🤔

[2018-09-27 22:26] josedgal commented on #10729
![error-fullunas-payu fw](https://user-images.githubusercontent.com/43620009/46177848-104bc580-c27a-11e8-95fa-a4429022d5f1.png)

Thats the error the platform is showing, and I also attached the order im trying to buy.

Don´t hesitate to ask if you need anything.

Best Regards

[Pedido-error.pdf](https://github.com/PrestaShop/PrestaShop/files/2426110/Pedido-error.pdf)

[2018-09-27 23:16] magichouse commented on #9518
Prestashop vers. 1.7.4.2. fresh install
php vers7.0.32
The problem is that I moved everything from one shop to another with
MigrationPro: PrestaShop To PrestaShop Migration Tool .
I moved the cookey key too.
Just noticed that on the second line of error
ToolsCore::displayError - [line 244 - classes/PaymentModule.php]
239.
240.         // Does order already exists ?
241.         if (Validate::isLoa

[2018-09-28 07:23] sarjon commented on #10733
@matks wants us to do all the work so he added it to migration :trollface:

[2018-09-28 08:41] khouloudbelguith commented on #10729
Hi @josedgal,

Could you please try to install another payment method for example "Payment by check", try to add all your 14 products to your cart & process your order.
I think the problem is related to the payu module, because the error is about long description [Invalid parameter The parameter value exceeds the maximum allowed size (255).]
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-28 08:51] khouloudbelguith commented on #9518
Hi @magichouse,

The MigrationProAs module is developed by our partner MigrationPro, it's not provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account https://addons.prestashop.com/en/contact-us?id_product=8934, they are the only ones to help you with it.
Thanks!

Best regards, Khouloud

[2018-09-28 08:51] #9518 closed, assigned to nobody

[2018-09-28 08:57] mickaelandrieu commented on #10412
The LegacyHookSubscriber register listeners to the HookDispatcher according to the hooks already registered in the database, it's like doing:

[code]

So no listener will "listen" to "HooKName", "hook_name" or "hookName".

We won't pollute our database with all possible syntaxes for a hook nor register thousand more listeners to the Hook Dispatcher because some developers are just too lazy to read

[2018-09-28 09:06] prestamodule commented on #10742
@Quetzacoalt91 LazyArrays are breaking a lot of behaviour into modules, especially when using simple checks like is_array() that is not working anymore as it's now an object... We had to make a lot of changes on our side too.

[2018-09-28 09:29] khouloudbelguith opened #10744 "Set language from browser / Set default country from browser language"
**Describe the bug**

In the International / Localization page the options "Set language from browser" & "Set default country from browser language" => Whether I activate or deactivate it, I don't see any difference.
**First issue**
If I disable the "Set language from browser", the shop will be always displayed in the default language of the navigator.
https://drive.google.com/file/d/1ZGwVOrPtKxJZ

[2018-09-28 09:30] vledenev commented on #10264
Please help to solve this bug.
Prestashop version 1.7.4.2

[2018-09-28 09:36] matks commented on #10412
And how does the `ps_hooks` database gets populated ?

[2018-09-28 09:38] Quetzacoalt91 commented on #10742
We could have made something totally transparent if a `__toString` equivalent method for arrays existed.

We did our best to keep the same behavior. Getting the properties as an array or good old Product class still works, but as soon as the variables is cast as an array, we end with a product key in the product. :/

I'll add a page about this in the dev documentation, and fixed the module by stri

[2018-09-28 09:46] jolelievre opened #10745 "Manage backward compatibility of legacy links"
**Describe the bug**
Some former controller urls are not correctly managed with le Link class when they have been migrated:

e.g.:
`getAdminLink('AdminModules')` will work (only if the controller has been added in an ugly array)
`getAdminLink('AdminModules', ['action' => 'configure'])` won't
`getAdminLink('AdminModules', ['configure' => true])` won't
`getAdminLink('AdminModules').'?configure'` won

[2018-09-28 10:01] sarjon commented on #10412
how about

[code]

as in legacy hook it does that, so maybe we can have same behavior everywhere?

[2018-09-28 10:24] wouterb038 commented on #10264
Yes we need it to :(

[2018-09-28 10:55] rdy4ever commented on #10463
Hi @eternoendless
Could you please tell me how to update jquery from 2.2.4 to latest? The strange thing is that in package.json and node_modules I have updated jquery but, after the build asstest/js/theme.js still comes with 2.2.4. Is there another source used for jquery? Thanks!

[2018-09-28 11:11] khouloudbelguith opened #10747 "BO - Search category does not work perfectly"
**Describe the bug**

Navigate to a category which has subcategories, then try to search with the name. On click "Search" you have redirect to list of category ...not having search results. Going back to the list, search filter works OK, reset button same work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Categories
2. Click on "View button", Check that you have mor

[2018-09-28 11:12] khouloudbelguith commented on #10747
Related to: #9706

[2018-09-28 11:36] #10688 closed, assigned to nobody

[2018-09-28 12:27] khouloudbelguith opened #10749 ""Reference" is displayed in Product page -FO- if empty"
**Describe the bug**
Create a new product with an empty reference.
Go to the FO to see this product, in the Product Details tab you will see the text "Reference" with nothing below.
In the 1.7.4.2 => Ok.

**Screenshots**
![image](https://user-images.githubusercontent.com/16067358/46208143-1600e400-c32a-11e8-873a-72d6ce65245c.png)

**Additionnal information**
PrestaShop version: 1.7..5.x
PHP versio

[2018-09-28 12:28] khouloudbelguith commented on #10749
Fixed by: #10750

[2018-09-28 13:25] mickaelandrieu commented on #10412
@sarjon doing that in 1.7 introduces a BC, but yeah it's a workaround. IMHO, 2 things:

* we need to remove the use of the database here;
* we need to check what is inserted in hooks table;

But eh! I trust you guys to find something, It's time for me to leave far far away from the sea...

https://www.youtube.com/watch?v=89cJoRH45vM

[2018-09-28 13:27] jolelievre commented on #10257
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10728

[2018-09-28 13:38] eternoendless commented on #10597
Ok for conventions regarding naming the template the same as the action 👍

The only caveat is not to mistake `add` with `create` which are two different actions. Add implies a collection, whereas Create is the C in CRUD. Actually, we could follow CRUD for the other action names too...

[2018-09-28 13:42] LouToma commented on #10048
The order will be set by Addons team:
Administration
Design & Navigation
Promotions & Marketing
Product Page
Payment
Shipping & Logistics
Traffic & Marketplaces
Customers
Facebook & Social Networks
Specialized Platforms
Theme modules
Other

[2018-09-28 14:07] khouloudbelguith commented on #10211
Hi @Klixa-Web,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-28 14:07] #10211 closed, assigned to nobody

[2018-09-28 14:09] khouloudbelguith commented on #9583
Hi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-28 14:17] sarjon commented on #10597
what do you mean exactly? :thinking:

[2018-09-28 14:29] matks commented on #10412
If we combine @sarjon suggestion with an additionnal `strtolower` in `$this->hookDispatcher->dispatchWithParameters()` we should be able to make sure every hook name get lowercased 🤔

[2018-09-28 14:40] Quetzacoalt91 commented on #10742
See dedicated pull-request in the documentation repository https://github.com/PrestaShop/docs/pull/146

[2018-09-28 14:51] josedgal commented on #10729
Hi  Khouloud,

At first I think the problem was with the payu module, but after a long
talk with them, they told me the error was with prestashop and the field
that it is sending to PayU.

They told me I have to change the field I send, to for example a date or
order number to fix this issue.

Please let me know how to do this or if you need any further information.

Best regards

El vie., 28 sept

[2018-09-28 15:39] khouloudbelguith commented on #10729
Hi @josedgal,

Could you please provide me the PayU module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks & best regards, Khouloud

[2018-09-28 15:51] zumschinderhannes opened #10754 "500 Internal Server Error on Product Preferences Page"
Getting a 500 Internal Server Error by clicking on the Product Preferences Page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Advanced Shop Configuration'
2. Click on 'Product Preferences'
3. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.
![grafik](https://user-images.githubusercontent.com/43680010/46219210-004de780-c347-11e

[2018-09-28 15:54] khouloudbelguith commented on #10754
Hi @zumschinderhannes,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.co

[2018-09-28 17:27] hellodracon opened #10755 "Bad SQL query when ordering stores alphabetically"
**Describe the bug**
I got this message when trying to order stores in contact by alphabetical order :
_Bad SQL query - Unknown column 'a.name' in 'order clause'_

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > Contact > Click on Store tab
2. Click on an arrow to order the stores by alphabetical order
3. See error

**Screenshots**
<img width="1224" alt="par defaut 201

[2018-09-28 18:50] josedgal commented on #10729
I have send you the module

Thanks

El vie., 28 sept. 2018 a las 10:39, khouloudbelguith (<
notifications@github.com>) escribió:

--

Yenny Cardozo.

Promotor Comercial

+571 6254455 ext. 10 <+57%201%206254455>6 / +57 3165230799
<(317)%20383-4092>

Cll 137 # 52a-36 Bogotá, Colombia
<https://maps.google.com/?q=Cll+137+%23+52a-36+Bogot%C3%A1,+Colombia&entry=gmail&source=g>

[2018-09-28 19:04] ket4z commented on #9928
Khouloud, on 23rd August you said this would be addressed  in 1.7.5, now you say it won't because 1.7.5's 20th September freeze has been missed. I am mightily confused. Mind you this is not some nice-to-have feature, this is a major regression affecting fundamentals of EU merchants business. It should be treated as such.

[2018-09-28 23:50] kpodemski opened #10756 "Friendly URL not updated in SEO preview"
**Describe the bug**
Title says it all

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog -> Products'
2. Click on 'SEO'
3. Scroll down to 'Friendly URL', change it
4. See that Friendy URL is not updated in the preview

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version

[2018-09-28 23:53] kpodemski opened #10757 "Multiple features with same value are causing not described errors"
**Describe the bug**
Title says it all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog > Product -> Edit'
2. Add feature, Color: White, and below again, Color: white
3. Click the "Save" button
4. See error, it says that settings cannot be saved but there's literally no information at all about what went wrong, of course it's obvious mistake to have 2 features with same value

[2018-09-28 23:55] kpodemski opened #10758 "Quick nav does not work anymore"
**Describe the bug**
Read below

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog -> Product -> Edit'
2. Click on 'Product list' icon on your right
3. You'll see an error in devtools Network tab:

**Additionnal information**
PrestaShop version: 1.7.5.0
PHP version: N/A

[2018-09-29 00:00] kpodemski opened #10759 "Delivery Time, confusing UI in back-office"
**Describe the bug**
Read below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog -> Product -> Edit'
2. Click on 'Shipping' tab
3. Scroll down to 'Delivery Time'
4. Fill in "Delivery time of in-stock products:" field.

It will not show up on product page unless you'll select option "Specific delivery time to this product" from these three radio fields above. What is the point

[2018-09-29 00:12] kpodemski opened #10760 "Module searching in back-office is broken..."
**Describe the bug**
Read below...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Module Manager' (and yet again we are confusing people by changing naming of the page and path to it...)
2. Try to search by typing "faceted". You'll not find any module but the thing is that we have ps_facetedsearch installed

You must first click "More" on the list of "Natif" (why not "Native"?) modul

[2018-09-29 00:14] kpodemski opened #10761 "Module listing buttons"
**Is your feature request related to a problem? Please describe.**
I guess... why is the default button next to "Other" "Disable"? Shouldn't it be "Configure"? It's most common option to use  on module listing.
**Describe the solution you'd like**
Replace "Disable" with "Configure"

[2018-09-29 00:34] kpodemski opened #10762 "Stock quantity are not verified at the last step of the checkout"
**Describe the bug**

As the remaining quantity in stock is not checked at the last step of the checkout, you are able to arrive in the payment process and to pay a product that is out of stock even if it's not allowed.

**To Reproduce**
Steps to reproduce the behavior:

1. Set a product quantity to 2 in the BO
2. Add this product to cart, 2 units
3. Go to the last step of the checkout (payment),

[2018-09-29 00:39] kpodemski opened #10763 "Category Tree module always displays latest visited category with default settings"
**Describe the bug**
Read below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Clothes'
2. Category tree on your left starts from 'Clothes'
3. Now move to the "New products" page, still 'Clothes' on your left
4. Now go to 'Art', go once again to 'New Products', 'Best sales' or other page with a left column and you'll see that category block is now 'Art'.

Settings from category tree

[2018-09-29 00:42] kpodemski opened #10764 "Clicking "Add to cart" two times is causing problems"
**Describe the bug**
Read below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to some product page.
2. Click on the 'Add to cart' button two times, quickly
3. You'll not be able to close overlay created by cart popup

My proposal:
Prevent dbl click on this button :)

And yes - some people do that, they're clicking quickly two times on some elements, probably because you're clicking two

[2018-09-29 00:46] kpodemski opened #10765 "Duplicates in "Related products", "Pack products" autocomplete feature"
**Describe the bug**
Read below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog -> Product -> Edit'
2. Click on 'Add a related product'
3. Type 'mug' just to add a product with for example demo_11 ref, add it
4. Type 'mug' again, it's once again available to add (demo_11 ref)

Same situation on Related products and on the search field to add products to Product Pack. In 1.6 p

[2018-09-29 01:01] kpodemski opened #10766 "Logic for displaying some discounts in "My account -> Discounts" is broken"
**Describe the bug**
Read below.

**To Reproduce**
Steps to reproduce the behavior:

1. Lets assume that you'll add some coupon code for your customers, free shipping for everyone within a valid code. Ok.
1. Add new voucher, with some generated code, free shipping, and - this is important - for Customer group only, Highlight option set to "No", other settings with default values.
1. Now login into

[2018-09-29 01:03] kpodemski opened #10767 "No default cover for products without images"
**Describe the bug**
If you have product without images it should display some default cover, just like it was in PrestaShop 1.6. Now PrestaShop is trying to load image which does not exists.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit product
2. Remove all photos, save it
3. Preview this product on listings and product page

**Additionnal information**
PrestaShop version: 1.7.0.0 t

[2018-09-29 04:59] jstillings1 opened #10768 "install bug - an error has occured - 403 on index.php"
**Describe the bug**
Hi guys, I want to report a few things to ya about installing and the 403 error I am experiencing doing so.
I have my hosting working very hard to solve this also but I figured I would reach out here.

**To Reproduce**
Steps to reproduce the behavior:
I am terribly bad at anything but making videos to reproduce failures( I did not overlay my normal yelling about it...) So here

[2018-09-29 06:17] jstillings1 commented on #10768
Oh server is a Centos 7.5 with CPanel 74.0.8 with WHM and NGINX installed in a reverse proxy.

[2018-09-29 11:20] soosap opened #10771 "Persist prestashop data using docker"
If you remove the container all your data and configurations will be lost, and the next time you run the image the database will be reinitialized. I wanted to mount volumes to the directories that are user-generated such as **uploaded images, configuration, etc.**. What directories in particular hold user-generated content?

Keep in mind I cannot just use a single volume for `/var/www/html`. What

[2018-09-29 11:40] Maofree opened #10772 "Contact form does not send emails"
Hi

I've seen from 3 sites that the contact form does not send emails
this problem is present on 2 online sites, they use different hosting and different themes (one report an error when I send a message, the other says all is ok)
and on my local server with a clean installation with default theme (the form answer that the email is sent but it is not true and the log does not report this sending)

[2018-09-29 13:11] Felkio opened #10773 "Bug on Mininum Order"
**The bug and how to reproduce**
I set to 10 the "Mininum Quantity for selling" for a product. When I add that product in the cart the standard quantity is 10, and it's fine, but if I click on the left arrow to decrease the quantity I can see that it become "9" and then return to "10", but actually the quantity is decreased to 9. If I complete the check-out I pay for 9 products and not 10.

**Scre

[2018-09-29 15:16] zumschinderhannes commented on #10754
Hi,

I've looked for all the positions on the list
and attached all I could find to this mail.
I really hope that something useful is with it.
My host is 1und1.de

Regards,
Andreas

Am 28.09.2018 um 17:54 schrieb khouloudbelguith:

--
Administrator <mailto:zum.schinderhannes@gmail.com>

Expected argument of type "object, array or empty", "string" given

    Exception Logs 2 Stack Trace

Symfony\Co

[2018-09-29 16:19] allyx76 commented on #10407
Hello,

Is there a solution now ?

[2018-09-29 21:13] PierreRambaud commented on #10771
You need to use docker volume to keep your data when playing with docker container. Can you tell us how you use it?

[2018-09-30 12:19] mrabsinthe opened #10775 "Unable edit product attributes when editing an order from BO"
**Describe the bug**
If there is an order containing a product with attributes, such as t-shirt size L, it is not possible to edit the attribute from BO. The only option is to delete the product from the order and use "Add a product" button to insert the product again with the new attribute (such as t-shirt size XL).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'back office -> order

[2018-09-30 14:49] niccoX opened #10779 "Stock management quantity is not synced with Product quantity"
**Describe the bug**
A user in the PrestaShop forum is indicating an issue with the product synchronization between Advanced Stock Management and Products> Quantities when an item is returned,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain you

[2018-09-30 17:50] demeldoo opened #10782 "Deprecated: The each() function is deprecated version 1.6.1.20"
Deprecated: The each() function is deprecated. This message will be suppressed on further calls in /tools/smarty/sysplugins/smarty_internal_compilebase.php on line 75

[2018-09-30 20:09] jstillings1 commented on #10768
I rewrote the installer a little bit to give some error messages.

[index.php.txt](https://github.com/PrestaShop/PrestaShop/files/2432000/index.php.txt)

[2018-10-01 07:10] sarjon commented on #10597
by the way, noticed one small improvement regarding naming. Instead of having for example `add.html.twig`, can we name it as `add_category.html.twig`, `edit_category.html.twig` & etc.?
that way we could avoid lots of templates with same name (e.g. `add.html.twig`) and searching for particular would be easier.

@eternoendless @matks wdyt?

[2018-10-01 07:25] Quetzacoalt91 commented on #10761
This change has been reverted in https://github.com/PrestaShop/PrestaShop/pull/10726/commits/055c2c546d54cacdea24665e7e673b2bcd63ed1a.

It will be fine pour the stable release of 1.7.5.0. :)
Closing as duplicate of https://github.com/PrestaShop/PrestaShop/issues/10688

[2018-10-01 07:25] #10761 closed, assigned to nobody

[2018-10-01 07:40] khouloudbelguith commented on #10755
Hi @hellodracon,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9704
So, I close it.
Thanks!

Best regards, Khouloud

[2018-10-01 07:40] #10755 closed, assigned to nobody

[2018-10-01 07:40] khouloudbelguith commented on #10755
Duplicate of #9704

[2018-10-01 07:42] khouloudbelguith commented on #10758
Hi @kpodemski,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10703
So, I close it.
Thanks!

Best regards, Khouloud

[2018-10-01 07:42] khouloudbelguith commented on #10758
Duplicate of #10703

[2018-10-01 07:42] #10758 closed, assigned to nobody

[2018-10-01 08:10] khouloudbelguith commented on #10764
Hi @kpodemski,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9634
So, I close it.
Thanks !

Best regards, Khouloud

[2018-10-01 08:11] khouloudbelguith commented on #10764
Duplicate of #9634

[2018-10-01 08:11] #10764 closed, assigned to nobody

[2018-10-01 08:24] Bettelstab opened #10784 "Enable connection to MySQL with SSL/TLS"
I recently moved my database to an external server and I wanted to use TLS encryption for the database connection. If I remember correctly, I got an SSL connection error in prestashop because there were no SSL options specified. In my case, the only option I needed was MYSQL_ATTR_SSL_CA. At the end, I added it manually in /classes/db/DbPDO.php, line 81:
[code]

I also had to add it manually in /ve

[2018-10-01 08:31] GutImedia opened #10785 "[DOM] Found 2 elements with non-unique id"
My backoffice is very long when I go on products (Catalog > Product)
I have these errors in my search console (only in backoffice):

See attached file

Prestashop 1.7.4.2
![searchconseil-backoffice-prestashop1 7 4 2](https://user-images.githubusercontent.com/43534581/46277988-38327600-c565-11e8-9c1f-acff9ac08f14.jpg)

Informations sur votre serveur Linux #1 SMP Debian 4.9.110-3+deb9u4 (2018-08-21)

[2018-10-01 08:33] Quetzacoalt91 commented on #10756
Hi @kpodemski,

Indeed, I could not implement it only using the js `change` event, as the information is stored in a data attribute of the "Preview" link.
I'll have a look by looking at a potential JS event triggered on product save, but we won't have a link being live updated while you're typing.

[2018-10-01 08:35] khouloudbelguith commented on #10762
Hi @kpodemski,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.2 / branch 1.7.5.x.
This PR: #8752 do not check the quantity of products available in the last step.
@marionf what do you think?

Best regards, Khouloud

[2018-10-01 08:41] khouloudbelguith commented on #10757
Hi @kpodemski,

Thanks for your report.
I manage to reproduce the issue with the branch 1.7.5.x.
![image](https://user-images.githubusercontent.com/16067358/46278370-3c12c800-c566-11e8-8856-7353e4467681.png)
When we refresh the page, only one feature will be displayed.

In the previous version 1.7.4.2, when we have multiple features, settings will be saved successfully with **green alert** but whe

[2018-10-01 08:43] khouloudbelguith commented on #10785
Hi @GutImedia,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10469
So, I close it.
Thanks!

Best regards, Khouloud

[2018-10-01 08:44] khouloudbelguith commented on #10785
Duplicate of #10469

[2018-10-01 08:44] #10785 closed, assigned to nobody

[2018-10-01 09:03] khouloudbelguith commented on #10775
Hi @mrabsinthe,

Thanks for your report.
It is a normal behavior, it is not a bug.
Because when you try to edit the attribute of a product, it is different from the first one ordered which has other features ( quantity, price, reference, ..).
So you need to add a new product in your order.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-10-01 09:03] #10775 closed, assigned to nobody

[2018-10-01 09:07] scoreggino opened #10786 "BO - Modules Catalog - LayoutExtension cannot find the {$content} string in legacy layout template"
**Describe the bug:** When opening the Modules & Services tab I get an internal 500 error, this is the exception I got after enabling Debug mode: An exception has been thrown during the rendering of a template ("PrestaShopBundle\Twig\LayoutExtension cannot find the {$content} string in legacy layout template").

**To Reproduce:** BO -> modules -> Modules & Services -> error

**Screenshots:**
![sch

[2018-10-01 09:08] khouloudbelguith commented on #10773
Hi @Felkio,

We manage to reproduce the issue.
Here's the PR: #10279 to solve the issue
Your ticket is a duplicate of #10162
So, I close it.
Thanks!

Best regards, Khouloud

[2018-10-01 09:08] khouloudbelguith commented on #10773
Duplicate of #10162

[2018-10-01 09:08] #10773 closed, assigned to nobody

[2018-10-01 09:15] khouloudbelguith commented on #10760
Hi @kpodemski,

Thanks for your report.
Here's the PR: #10726 to solve the issue.
Your ticket is a duplicate of #10690
So, I close it.
Thanks !

Best regards, Khouloud

[2018-10-01 09:15] #10760 closed, assigned to nobody

[2018-10-01 09:15] khouloudbelguith commented on #10760
Duplicate of #10690

[2018-10-01 09:16] Quetzacoalt91 commented on #10756
Unfortunately, the preview URL is not updated when the product is saved, only when the page is refreshed. The feature is limited to the form current behavior.

[2018-10-01 09:24] khouloudbelguith commented on #10756
Hi @kpodemski,

Yes, as @Quetzacoalt91 said, it is the same behavior with 1.7.4.2.
The preview URL will be updated only when we refresh the page.
@marionf @colinegin @Quetzacoalt91 what do you think? it could be an improvement?

[2018-10-01 09:31] antonioortizdev opened #10787 "Can't save nor edit imported Products"
Hi everyone!

I updated an old Prestashop 1.4.x shop to 1.7.4.2 by doing a fresh install and importing the data (products, categories, etc.) with a plugin. The thing is I can save the changes of new products I create, but I can't do same with the imported ones. When I click to save in an old product, Prestashop says that changes have been saved successfully, but that's not true. Also it returns a

[2018-10-01 09:35] khouloudbelguith commented on #10772
HI @maofree,

Have you the same issue with this ticket: #9566?

Best regards, Khouloud

[2018-10-01 09:42] CesarNatic opened #10789 "Prestashop 1.7.3.2 slow on edit, duplicate or delete products"
Hi everyone:

I have a big issue with Prestashop 1.7.3.2, when i try to edit, duplicate or delete a product, it takes a lot of time to finish. I tried a lot of things i found on the web and sometimes seems like it fixed the issue but days laters the issue come back. See the attachment of the network inspector, the 302 redirect take like 2 minutes to complete. I dont know if its because prestashop

[2018-10-01 09:44] khouloudbelguith commented on #10759
Hi @kpodemski,

Thanks for your report.
I manage to reproduce the issue with the 1.7.5.x branch / PS1.7.4.2.
First issue:
1. If the "**Default delivery time**" option is checked
1.1 we have set the "Delivery time of in-stock products" & "Delivery time of out-of-stock products with allowed orders" => It will not show up on the product page => it should be **disabled**
2. If the "**Specific delivery

[2018-10-01 09:48] khouloudbelguith commented on #10789
Hi @CesarNatic,

To regenerate the file .htaccess you need:

1. Rename the old file to .htaccess_old
2. Disable friendly URL
3. Enable friendly URL

Thanks to check and feedback

Best regards, Khouloud

[2018-10-01 09:57] antonioortizdev commented on #10787
Looks like I fixed it by doing the same this one did: https://www.prestashop.com/forums/topic/685720-cant-save-product/?do=findComment&comment=2863365
I'll be doing some tests to confirm the fix

[2018-10-01 09:57] #10787 closed, assigned to nobody

[2018-10-01 09:58] CesarNatic commented on #10789
Done it and it regenerated the same .htaccess.

[2018-10-01 10:01] khouloudbelguith commented on #10765
Hi @kpodemski,

Thanks for your report.
We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9617
I edit the #9617 to add the "Related products" issue.
So, I close it.
Thanks!

Best regards, Khouloud

[2018-10-01 10:01] #10765 closed, assigned to nobody

[2018-10-01 10:02] khouloudbelguith commented on #10765
Duplicate of #9617

[2018-10-01 10:02] antonioortizdev commented on #10787
In my case there were several categories who had Root category with id_category 1 as parent, when they must have Home category with id_category 2 as parent. Also, for some reason, the Home category did not exist, so I just created a new category with name Home, changed its id_category in PhpMyAdmin to 2, and changed the id_parent of those Root children categories to the id of the Home category

[2018-10-01 10:02] Maofree commented on #10772
hi
I don't know if it is the same error, but could be (in one site I get the same error answer in the other 2 no but the mail is not sent)
but I reproduce this error on 3 different servers
I can give you the access to one of it

bye

[2018-10-01 10:06] marionf commented on #10762
Hello @kpodemski
Yes, we are aware of this and we talked about it with @alegout & @rGaillard  when we added stock verification at each step but unfortunately for some technical reasons, we can't add this verification at the last step
@rGaillard if you want specify the technical reasons

[2018-10-01 10:11] Maofree commented on #10772
at this moment there is another problem on many prestashop 1.6.x sites, the hosting said me it is due from the api connection

Dear Customer,

The problem is because the PrestaShop API is not responding correctly, and any action on the administration tries to connect to it (api.prestashop.com) and it takes about 10-12 seconds to cut the connection. You have to wait for PrestaShop to solve the prob

[2018-10-01 10:15] khouloudbelguith commented on #10789
Hi @CesarNatic,

In general, your issue is related to Prestashop performance which is too slow to return the result.
We are aware of this issue and we are working on it.
Your ticket is a duplicate of #9809
This issue is in progress & it is assigned to our developer.
So, I close it. Please, follow #9809.
Thanks!

Best regards, Khouloud

[2018-10-01 10:15] #10789 closed, assigned to nobody

[2018-10-01 10:15] khouloudbelguith commented on #10789
Duplicate of #9809

[2018-10-01 10:17] marionf commented on #10759
Yes, this part could be improved

[2018-10-01 10:18] khouloudbelguith commented on #10772
Hi @maofree,

About the Contact form issue, what the exact version of the module did you use?
About the second issue (PrestaShop API), what is the exact issue do you have?

Best regards, Khouloud

[2018-10-01 10:23] khouloudbelguith commented on #10767
Hi @kpodemski,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9926
So, I close it.
Thanks!

Best regards, Khouloud

[2018-10-01 10:23] khouloudbelguith commented on #10767
Duplicate of #9926

[2018-10-01 10:23] #10767 closed, assigned to nobody

[2018-10-01 10:28] khouloudbelguith commented on #10768
Hi @jstillings1,

Thanks for your report.
It is a permission issue.
Thanks to follow these steps:

1. Set up your database
2. Download Prestashop and extract
3. Upload Prestashop to your server using FTP
4. Change file permissions of all directories to 777 using your FTP software. In Filezilla, this is done by:
5. File permissions >777>tick box to do it for all subdirectories> choose directories o

[2018-10-01 10:34] Maofree commented on #10772
the contactform version is 4.1.1

the other problem is in the admin's panel (it is very slow today in many sites)
The problem is because the PrestaShop API is not responding correctly, and any action on the administration tries to connect to it (api.prestashop.com) and it takes about 10-12 seconds to cut the connection. You have to wait for PrestaShop to solve the problem with the connection to yo

[2018-10-01 10:45] khouloudbelguith commented on #10763
Hi @kpodemski,

Thanks for your report.
Yes, I manage to reproduce the issue with the last version 1.7.4.2.
We will see how to fix it.

Best regards, Khouloud

[2018-10-01 10:48] khouloudbelguith commented on #10772
Hi @maofree,

Could you please check if the contactform works with the older version (v3.0)?
Thanks to check & feedback.

Best regards, Khouloud

[2018-10-01 10:56] Maofree commented on #10772
hi
the problem is inside the sendmessage function
if I use the function of 3.0 the 4.1.1 works well and it can send email

I can give you the ftp and admin access to a site to do some tests

[2018-10-01 10:59] khouloudbelguith commented on #10782
Hi @demeldoo,

Could you please add steps to reproduce the issue in a new comment.

Thanks & best regards, Khouloud

[2018-10-01 11:02] khouloudbelguith commented on #10772
Hi @maofree,

So, it is the same issue reported here: #9566.
We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9566
So, I close it.
Thanks!
For the second issue: here's a PR: https://github.com/PrestaShop/PrestaShop/pull/10791 may help you solve the API issue & You can follow this link: https://twitter.com/PrestaShop/status/1046770589002878977

Best

[2018-10-01 11:02] khouloudbelguith commented on #10772
Duplicate of #9566

[2018-10-01 11:13] fdelprete opened #10792 "Unit price reset to 0 if you activate/deactivate or duplicate products in bo product list"
**Describe the bug**
The Unit price and cost price are reset to 0 if you activate/deactivate/duplicate products from the product list.

**To Reproduce**
You have a product with unit price & cost price value.
From the product list you deactivate the product (both with single action or via mass action).
You open the product form and you can see that the unit price & cost price are set to 0.

NB
If y

[2018-10-01 11:14] sarjon commented on #10193
_Note: after migration dont forget to update `@todo` part of `category-position-extension.js`._

[2018-10-01 11:21] khouloudbelguith commented on #10784
Hi @Bettelstab,

Thanks for your report.
@eternoendless, @PrestaShop/prestashop-core-developers what do you think of this issue?

Best regards, Khouloud

[2018-10-01 11:26] khouloudbelguith commented on #10786
Hi @scoreggino,

IS this a fresh install 1.7.4.2? or it is an upgrade from a previous version?
Did you installed any custom module before this issue occurs?
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

Best regards, Khouloud

[2018-10-01 11:27] PierreRambaud commented on #10784
@Bettelstab For the moment you can try to change doctrine configuration in your config.yml file and add these options (do not remove the current configuration).

[code]

[2018-10-01 11:34] ghost commented on #10255
Hi. Any news on this issue?

[2018-10-01 11:37] PierreRambaud commented on #10597
It's redundant and not consistent.
You don't want to have `PrestaShop\Core\CoreException\CoreExceptionInvalidArgument` in namespace, it's the same with directories `Resources/views/catalog/category/edit_category.html.twig` is ugly too because of the parent already gives the context.
If it's a searching problem, you can change your IDE to Emacs which allows you to search easily (like github interfa

[2018-10-01 11:40] khouloudbelguith commented on #10792
Hi @fdelprete,

Thanks for your report.
I manage to reproduce the issue with PS1.7.4.2 / 1.7.5.x / 1.7.3.4
We will see how to fix it.

Best regards, Khouloud

[2018-10-01 11:42] khouloudbelguith commented on #10407
Hi @allyx76

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-10-01 11:45] khouloudbelguith commented on #10729
Hi @josedgal,

I just received the email.
I will check & feedback.

Best regards, Khouloud

[2018-10-01 11:46] khouloudbelguith commented on #10754
Hi @zumschinderhannes,

There are no files attached.
Thanks to check & feedback.

Best regards, Khouloud

[2018-10-01 11:57] khouloudbelguith commented on #10779
Hi @niccoX,

Have you the same issue described in this old ticket: http://forge.prestashop.com/browse/PSCSX-7764?

Best regards, Khouloud

[2018-10-01 12:10] soosap commented on #10771
Hi actually, I realized just persisting the `/var/www/html` directory will do the job. The docker run script checks if the destination is empty and if so will take care that a re-initialization occurs.

[code]

[2018-10-01 12:10] #10771 closed, assigned to nobody

[2018-10-01 12:40] sitolab opened #10793 "do not show all modules"
I just installed prestashop version 1.7.4.2 but if I log in modules -> Modules & Services -> Selection

only 1 module "The best brands" is displayed while the others are not displayed, also with inspection I have noticed these errors

catalog? _token = D5MGJZ1nBngJYJj2gKXs2PPBRw7_kPRqYTobxqV1DVM: 1 [DOM] Found 2 elements with non-unique id #addons_login_button: (More info: https://goo.gl/9p2vKq) <

[2018-10-01 12:42] marionf opened #10794 "Update link to Traffic & SEO page in product page"
**Describe the bug**
Update link to SEO & URLs page in product page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Product
2. Edit a product
3. Click on SEO tab
4. The link to the Traffic & SEO should be the one of the migrated page

**Screenshots**
![capture d ecran_361](https://user-images.githubusercontent.com/13449658/46289058-2910ef80-c588-11e8-9d87-6f0d55e637e2.png)

*

[2018-10-01 12:50] sitolab commented on #10793
Informazioni sul server
Informazioni sul server Linux #1 SMP Tue Jun 26 16:32:21 UTC 2018 x86_64

Versione software del server: Apache

Versione di PHP: 7.0.32

Limite di memoria: 256M

Tempo di esecuzione massimo: 299

Dimensione Max. dei file da caricare: 256M

 Database Information
Versione MySQL: 5.6.41

Server MySQL: 127.0.0.1

Prefisso delle tabelle: ps_

Motore MySQL: InnoDB

Driver MySQL:

[2018-10-01 13:02] sarjon commented on #10285
is someone willing to give it a go? @matks @jolelievre :) actually i was thinking about doing some UML so we are all on the same page and can spot issues before starting development, wdyt? :)

[2018-10-01 13:02] eternoendless commented on #10685
We need to improve the API polling system so that it stops trying to retrieve data for a while (say, 1h or 2) if one request fails.

Currently, each request has a timeout of 5 seconds. But 5 + 5 + 5 makes a lot...

In the future, API requests should be done directly from the front-end. This would make the BO _way faster_ because it wouldn't have to wait for the API response before initial render.

[2018-10-01 13:15] eternoendless commented on #10638
Hi there,

As it happens, the original bug had been fixed in the core but not in the ps_shoppingcart module.

[2018-10-01 13:18] phaan commented on #10754
I have the same error, see also https://www.prestashop.com/forums/topic/876662-multistore-upgrade-1734-to-1742-product-settings-500-error/

[500error debug2.pdf](https://github.com/PrestaShop/PrestaShop/files/2434098/500error.debug2.pdf)
[serverinfo 500 error.pdf](https://github.com/PrestaShop/PrestaShop/files/2434099/serverinfo.500.error.pdf)
[500error debug3.pdf](https://github.com/PrestaShop/Pr

[2018-10-01 13:20] khouloudbelguith commented on #10793
Hi @sitolab,

Thanks for your report.
The issue of the selection modules & the console error log is not the same.
In the selection page, you have just one module is because the PrestaShop API is not responding correctly, and any action on the administration tries to connect to it (api.prestashop.com) => we are aware of this issue & it is in progress to fix it.
The second issue, we manage to reprod

[2018-10-01 13:20] #10793 closed, assigned to nobody

[2018-10-01 13:25] sitolab commented on #10469
same problem with prestashop version 1.7.4.2 how to solve this problem?

[2018-10-01 13:27] khouloudbelguith commented on #10469
Hi @sitolab,

The issue is added to our bug roadmap.
We will see how to fix it.

Best regards, Khouloud

[2018-10-01 13:28] eternoendless commented on #10638
Fixed in v2.0.2

[2018-10-01 13:28] #10638 closed, assigned to nobody

[2018-10-01 13:30] khouloudbelguith commented on #10754
Hi,

The issue has been fixed with the v4.0.0-beta.4 release of 1-click upgrade module (https://github.com/PrestaShop/autoupgrade/releases).
If you already upgraded, please follow the message of Peter Visser: http://forge.prestashop.com/browse/BOOM-5982?focusedCommentId=171708&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-171708 to solve your issue.
Thanks to chec

[2018-10-01 13:35] romeritoCL commented on #9783
Hello, please do not forget about this fix since we have several clients using our payment method that are missing the transaction information in prestashop 1.7.x and there is a heavy disadvantage.

Paga+Tarde

[2018-10-01 14:22] khouloudbelguith commented on #10766
Hi @kpodemski,

In the FO => My account => discount, the customer will see all the cart rules so he can use it. (The code is displayed)
But if Total available = 0 < Total available for each user, in the Discount page, the customer has always the code is displayed with quantity > 0 but he can't use it.
![image](https://user-images.githubusercontent.com/16067358/46294169-76478e00-c595-11e8-848c-0644

[2018-10-01 14:44] kpodemski commented on #10766
@khouloudbelguith

yeah, so that's the other way to describe this problem, some discounts, even tho they're valid for this customer, should not be listed as they're valid for all customers and there is a place for abuse

[2018-10-01 15:01] marionf commented on #10766
@khouloudbelguith
Yes, the customer should see only vouchers that can be used, if the voucher can't be used it shouldn't be displayed

[2018-10-01 15:02] khouloudbelguith commented on #10729
Hi @josedgal,

I have more than 17 products in my order, but I did not manage to reproduce the issue.
I attached a video record.
https://drive.google.com/file/d/1Iir-4mGpazcr9rHdtld5JGM13bMm2SLX/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-10-01 15:07] jstillings1 commented on #10768
Are you aware when you extract the download there is no folders and only a zip and an index.php file that unzips it on the server?
http://prntscr.com/l0w6g4

Are you also aware that unziping the zip inside the download and ftpin up will take about a day!

There is a reason the index.php uses gz to unzip it...

Are you also aware the download installs nasty .htaccess files deep inside the file stru

[2018-10-01 15:15] khouloudbelguith commented on #10768
Hi @jstillings1,

Thanks to follow this link: https://www.youtube.com/watch?v=IOM9AffOa3s, check, and feedback.

Best regards, Khouloud

[2018-10-01 15:26] #10257 closed, assigned to jolelievre

[2018-10-01 15:27] #10703 closed, assigned to jolelievre

[2018-10-01 15:28] #9525 closed, assigned to nobody

[2018-10-01 15:28] scoreggino commented on #10786
I recently upgraded to the latest version, i tried deleting everything inside cache but nothing changed.
I have installed a module recently, so I uninstalled and cleared cache but again no difference.

[2018-10-01 15:30] #10461 closed, assigned to jolelievre, khouloudbelguith

[2018-10-01 15:31] khouloudbelguith commented on #10786
Hi @scoreggino,

What is the exact version of 1-click upgrade did you use?
What is the previous version Prestashop did you use before the upgrade?

Best regards, Khouloud

[2018-10-01 15:35] jstillings1 commented on #10768
Thank you for trying to help @khouloudbelguith
have a look at my issue
[video of 403](https://www.youtube.com/watch?v=rUzUABhMz-k&feature=youtu.be)

[2018-10-01 15:39] #10599 closed, assigned to jolelievre

[2018-10-01 15:39] #10480 closed, assigned to Quetzacoalt91

[2018-10-01 15:40] #10690 closed, assigned to nobody

[2018-10-01 15:40] matks commented on #10597
This will be done and shipped in 1.7.5 (eternoendless approved)

[2018-10-01 15:40] #10720 closed, assigned to nobody

[2018-10-01 15:40] matks commented on #10412
Has to be done for 1.7.5

[2018-10-01 15:41] #10488 closed, assigned to Quetzacoalt91

[2018-10-01 15:41] matks commented on #10652
We will probably hide this page in 1.7.5 in order to have the time to handle this problem nicely during 1.7.6 work

[2018-10-01 15:44] Quetzacoalt91 commented on #10794
See #10796

[2018-10-01 15:48] sarjon commented on #10597
@PierreRambaud regarding your comments, i guess you are right, its redundant. :+1:

[2018-10-01 15:50] khouloudbelguith commented on #10768
Hi @jstillings1,

403 errors usually mean that the server does not have permission to view the requested file or resource. These errors are often caused by IP Deny rules, File protections, or permission problems.
In many cases, this is not an indication of an actual problem with the server itself but rather a problem with the information the server has been instructed to access as a result of the

[2018-10-01 15:50] #10742 closed, assigned to nobody

[2018-10-01 15:56] jstillings1 commented on #10768
Hi, the host IMH has been chasing this issue for about 5 days now with no clear answer. They keep closing the ticket with a we fixed it and i show them it fails right after.
They are about as frustrated as I.

After finding the dirty .htaccess files in the download i did a little cleaning of the .zip and removed the ones that block. I then modded the index to report more diag on the gz process. I

[2018-10-01 16:00] jstillings1 commented on #10768
This was yesterdays work.[yesterdays work to try to get it to install](
https://www.youtube.com/watch?v=oFBbjZgypWA&feature=youtu.be)

[2018-10-01 16:01] khouloudbelguith commented on #10768
Hi @jstillings1,

Thanks to check again & feedback.
Also, you can follow this link to get PrestaShop system requirements.

Best regards, Khouloud

[2018-10-01 16:02] jstillings1 commented on #10768
You do not have a list of what apache mods requried and a list of php ext required. I wish ya did.
About all i KNOW it needs at this time is apache 2.4 and GZ and Curl and ssl and pdo.

[2018-10-01 16:04] khouloudbelguith commented on #10768
Hi @jstillings1,

You can follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this will

[2018-10-01 16:06] jstillings1 commented on #10768
checking now I get a 403 after typing in the user name and password
 gonna try it on the non-php-fpm server

[2018-10-01 16:15] khouloudbelguith commented on #10768
@jstillings1, after editing the php.ini file, you need to restart apache.

[2018-10-01 16:15] jstillings1 commented on #10768
On that server in the video we do not get that kind of control it is a managed vps.

[2018-10-01 16:20] jstillings1 commented on #10768
Here is a video of the results on the php-fpm modded server after setting all folder permissions to 0777
[777 fails](https://www.youtube.com/watch?v=tE1U9FRXeSw&feature=youtu.be)

[2018-10-01 16:36] jstillings1 commented on #10768
I completely gave up on that server I bought another server that does not use cpanel( plesk)  and am focusing on building the site there. This installed with zero issues and zero headaches. I just have to point the domain and wait for dns

[2018-10-01 16:39] khouloudbelguith commented on #10768
@jstillings1 do you have the same issue with this new server?

[2018-10-01 16:47] gennaris opened #10798 "Wrong behaviour when using "tax included" in amount specific prices"
**Describe the bug**

When using an "amount" type specific price, it the discount is set to be "tax included",
taxes are not removed if the customer country have a tax-free rule

**To Reproduce**
Steps to reproduce the behavior:
1. Install a Prestashop in Italian language to have standard VAT handling

2. Create a Tax Rule named "Tax Free" and add a country into it with "This tax only" behaviour

[2018-10-01 16:48] jstillings1 commented on #10768
I have not been able to install presta shop on either of the VPS from IHM. I was able to on the plesk based server. And after 5 days of IHM telling me try this I give up.

[2018-10-01 17:01] khouloudbelguith commented on #10798
Hi @gennaris,

Have the same issue with this ticket: #9696?

Best regards, Khouloud

[2018-10-01 17:11] gennaris commented on #10798
Hi @khouloudbelguith ,
Kind of... Reporter on ticket #9696 had display issue with customers group, I'm having calculation issue with tax rules group. I am not sure a single PR can fix both issues.

[2018-10-01 17:23] khouloudbelguith commented on #10798
Hi @gennaris,

We have a lot of issue related to the prices.
Thanks to take a look at this link: Prices - Lot 2 #9700
You may have your issue described in this list.
Thanks to check and feedback.

Best regards, Khouloud

[2018-10-01 17:25] jstillings1 commented on #10768
This is the new server based on plesk. https://host.tfa.services/shopfth/phppsinfo.php
there is only 1 setting that i cant find
that is the memcached php ext
http://prntscr.com/l0y1a3

[2018-10-01 17:34] khouloudbelguith commented on #10768
@jstillings1 so did you manage to install PrestaShop now?

[2018-10-01 17:35] jstillings1 commented on #10768
Not on either of the two VPS hosted at IHM no. I had to buy another one from elsewhere which installed like a champ.

[2018-10-01 17:37] jstillings1 commented on #10768
Use a PLESK server problem solved.

[2018-10-01 17:37] #10768 closed, assigned to nobody

[2018-10-01 17:38] php-me opened #10799 "EU VAT still charged if VAT number provided"
Hello,

In PS 1.6 when a store located in the UK had a customer from the EU e.g. France, it would charge them 20% tax (VAT). If the customer provided a VAT number, it would **not** charge them VAT (0% VAT).

However, in PS 1.7.4.2 this does not appear to be the case and VAT is charged for all the EU countries **regardless** of a VAT number being entered during checkout.

To recreate the issue, use

[2018-10-01 17:52] niccoX commented on #10779
Hi @khouloudbelguith

Yes it's the same issue.

[2018-10-01 17:56] MathiasReker commented on #9700
Will this be fixed in 1.7.5?

[2018-10-01 18:12] fyndpriser opened #10800 "Wrong Product Price in the listing of Category, Search and Others"
Hello
I have a shop that has multiple stores the product price of the products having combinations in the category list and search list shows wrong. It shows the highest value but in the product it shows the correct price.
The problem is solved by entering the product page in the BO and then clicking Save! Please note that I do not modify anything in the product information just click Save
How do

[2018-10-01 19:37] Maofree opened #10801 "must_have_module_list.xml errors today 1 October"
Hi

**To Reproduce**
today two sites that I manage one in Italy and one in Spain in the afternoon have the same error in the admin side. Today all sites have a new must_have_module_list.xml and probably it has some error inside it

`3 errors
Error found : StartTag: invalid element name in must_have_module_list.xml file.
Error found : Premature end of data in tag module line 1 in must_have_module_l

[2018-10-01 19:57] josedgal commented on #10729
Hi  Khouloud,

The field that must be filled is the name of the product, if you enter
www.fulluñas.com <http://www.xn--fulluas-8za.com> and start adding products
with a long name and you add about 17 products, the issue starts to appear.

Please try putting a tittle to your productos, specifically a long tittle
and youll see the error.

Let me know if these works or if you want to have a talk usin

[2018-10-01 21:46] MathiasReker commented on #10801
Clear cache and it is solved. It was due to API problem with prestashop. I had the same.

[2018-10-01 22:02] MathiasReker commented on #10800
What is your prestashop version?

[2018-10-01 22:22] fyndpriser commented on #10800
Hi,
Prestashop version 1.7.4
I've recorded a video
https://youtu.be/-gTr7CDU5co

[2018-10-01 22:32] fyndpriser commented on #10800
Maybe the problem is due to the different product combinations ID?
For example
Product A in SV store has the following link
https://www.domain.com/891385-29777-militarinspirerad-duffelvaska-85-l-olivgron.html#/44-storlek-n_a/80-farg-gron

The same Product in UK store has the following link

https://www.domain.co.uk/891385-55756-army-style-duffel-bag-85-l-olive-green.html#/44-storlek-n_a/80-farg-gr

[2018-10-01 23:39] marchspa opened #10802 "Contact form on PS 1.6.20 doesn't work"
i can send emails to my customers from customer service but the contact form is not sending anything nor giving any errors on the console. The hosting side is ok.

[2018-10-01 23:54] #10802 closed, assigned to nobody

[2018-10-01 23:55] marchspa commented on #10802
it was the captcha

[2018-10-02 05:20] web-centre opened #10803 "library php_fileinfo extension."
The issue has caused because when my Prestashop tries to upload a module, it doesn't find the library php_fileinfo extension.

[2018-10-02 07:04] prestamodule commented on #10799
See #10734 #9928, very critical indeed

[2018-10-02 07:13] PierreRambaud commented on #10803
Hi,
Which version of PHP are you using? This extension of PHP is enabled by default as of PHP 5.3.0.
Regards

[2018-10-02 07:15] SebSept commented on #10782
hello,

I guess, you are using php 7.2. @demeldoo .
This is a deprecation triggered by php - [php 7.2 deprecations](https://secure.php.net/manual/en/migration72.deprecated.php)
The each() call is made in [smarty](https://www.smarty.net/) code.
I don't know if this will be fixed in ps 1.6.

enable debug mode, use php 7.2, force template recompilation (maybe not needed) you'll reproduce the bug.

[2018-10-02 07:17] gennaris commented on #10798
Hi @khouloudbelguith ,
indeed my issue is duplicate of #9856  (BOOM-4062)

I wasn't able to find this issue yesterday.

[2018-10-02 07:26] Maofree commented on #10801
hi
yes cleaning the cache the error goes away
thanks

[2018-10-02 07:26] #10801 closed, assigned to nobody

[2018-10-02 07:33] marionf opened #10804 "Can't add a new SEO page"
**Describe the bug**
Can't add a new SEO page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Shop parameters > Traffic & SEO
2. Click on Add a new page
3. You are still on the Traffic & SEO page

**Additionnal information**
PrestaShop version: 1.7.5.x
PHP version: N/A

[2018-10-02 07:35] khouloudbelguith commented on #10768
Hi @jstillings1,

Thanks for your feedback.
Feel free to open a new one when needed.

Best regards, Khouloud

[2018-10-02 07:38] khouloudbelguith commented on #10803
Hi @web-centre,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prest

[2018-10-02 07:44] Tomskor opened #10805 "Empty customers orders! - need fast help"
Hi, have big isssue from yestarday, first time have problem like that. We notice that the last two orders is empty, its look like this:

![screencapture-tomskor-pl-admin850kwyszj-index-php-2018-10-02-09_38_44](https://user-images.githubusercontent.com/42567245/46335329-58c30480-c627-11e8-8fba-83c90ea69651.jpg)

And only one thing what changed from yesterday is install a integration module to arena

[2018-10-02 07:46] kpodemski commented on #10805
This is not a place for issues like this, you should go to official forum or Facebook group and ask for help.

Probably you have some issues related to payment module and order is not validated correctly at the end of checkout. This is not a global issue, PrestaShop problem etc.

[2018-10-02 07:52] khouloudbelguith commented on #10800
Hi @fyndpriser,

Thanks for your report.
Could you please navigate to BO => Modules & Services page => search for the ps_facetedsearch module => Click on configure button => Click on the "Rebuild entire price index" button, clear cache, check & feedback.

Best regards, Khouloud

[2018-10-02 07:55] khouloudbelguith commented on #10805
Hi @Tomskor,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

Best regards, Khouloud

[2018-10-02 07:55] #10805 closed, assigned to nobody

[2018-10-02 08:01] khouloudbelguith commented on #10799
Hi @php-me,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9928
So, I close it.
Thanks!

Best regards, Khouloud

[2018-10-02 08:01] #10799 closed, assigned to nobody

[2018-10-02 08:05] khouloudbelguith commented on #10798
Hi @gennaris,

This issue is added to our bug roadmap with a Major priority.
Your ticket is a duplicate of #9856
So, I close it.
Thanks!

Best regards, Khouloud

[2018-10-02 08:05] #10798 closed, assigned to nobody

[2018-10-02 08:05] khouloudbelguith commented on #10798
Duplicate of #9856

[2018-10-02 08:21] #10794 closed, assigned to Quetzacoalt91

[2018-10-02 08:22] ttoine commented on #10456
Possible workarounds:

- https://github.com/PrestaShop/PrestaShop/compare/1.7.4.x...jocel1:disable-api-addons-calls
- https://www.prestatoolbox.fr/outils-administration/332-securite-et-vie-privee-dans-le-backoffice-de-prestashop.html
- https://github.com/PrestaShop/PrestaShop/pull/9184

Please note that the first link is a workaround for the BO pages about customer orders management. It does not f

[2018-10-02 08:23] RANSoftRA commented on #9902
I have the same issue using 1.7.4.2. It is very annoying since this is such a basic functionality for a Shop / CMS.

[2018-10-02 08:25] khouloudbelguith commented on #10782
Hi @demeldoo,

Prestashop 1.6 may have problems with PHP 7.2, we recommended using PHP 7.1.
You can follow this link: https://github.com/PrestaShop/PrestaShop/pulls?q=is%3Apr+label%3A1.6.1.x+PHP+7.2+is%3Aopen to see some fixes about php 7.2 compatibility.
Thanks to check & feedback.

Best regards, Khouloud

[2018-10-02 08:28] khouloudbelguith commented on #9902
Hi @RANSoftRA,

This issue is added to our bug roadmap with a Major priority.
But there are some major issues to solve before this one.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-10-02 08:29] khouloudbelguith commented on #10779
@marionf what do you think about this issue?
This issue is added to our bug roadmap since 07/02/2017.

[2018-10-02 08:31] Tomskor commented on #10805
I dont think so, problem is with your module not a payu. We have empty order with some amount to pay and when I want add missing products the amount is doubled. I update every module and for now new orders is work propetly.

[2018-10-02 08:32] sonosergio opened #10806 "Problem with minimum order quantity"
**Describe the bug**
There's a bug when a product has the minimum order quantity setted. For instance if a product has set to 10 the Minimum Order Quantity, when I add to cart the ten product and then I proceed to checkout, in this page is possible to decrease the quantity of the product in the cart. It shouldn't be possible to do that instead.

**To Reproduce**
Steps to reproduce the behavior:
Go

[2018-10-02 08:33] khouloudbelguith commented on #10805
Hi @Tomskor,

So the issue is fixed after updating all payment modules?

[2018-10-02 08:34] khouloudbelguith commented on #10806
Hi @sonosergio,

We manage to reproduce the issue.
Here's the PR: #10279 to solve the issue
Your ticket is a duplicate of #10162
So, I close it.
Thanks!

Best regards, Khouloud

[2018-10-02 08:34] #10806 closed, assigned to nobody

[2018-10-02 08:34] khouloudbelguith commented on #10806
Duplicate of #10162

[2018-10-02 08:36] RANSoftRA commented on #9902
Hi @khouloudbelguith. Thanks for the quick reply.
I know it is an open source project - this is actually why I left that comment here ;) - Just wanted to show that other people are looking forward to this feature.

Thx

[2018-10-02 08:36] khouloudbelguith commented on #9700
@Mreker, it is not one issue.
They are a list of issues related to prices

[2018-10-02 08:37] Tomskor commented on #10805
@khouloudbelguith hard to tell, cuz I update a cart module too and I think its a problem. In logs there is line with "Cart cannot be loaded or an order has already been placed using this cart" and date is exact same like this empty orders.

[2018-10-02 08:41] khouloudbelguith commented on #10805
Hi @Tomskor,

About this error [Frontcontroller::init - Cart cannot be loaded or an order has already been placed using this cart], you can follow this issue: #9866, it is added to our bug roadmap.

Best regards, Khouloud

[2018-10-02 08:42] dennispw opened #10807 "Translation domains still present in translation tool even if empty"
**Describe the bug**
If you create a theme and add a few translations witha custom domain - if you change it later so that domain is not in use anywhere in the template files, that domain still shows up when going into translations. This will return an error saying that there is no translation file available.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new theme
2. Add a transla

[2018-10-02 08:52] scoreggino commented on #10786
I didn't use the 1-click upgrade module I updated it manually, Prestashop was version 1.7.1.1.

[2018-10-02 09:03] khouloudbelguith commented on #10786
Hi @scoreggino,

It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.4.
The solution is to add the missing columns to your database schema.
You can find the schema changes to 1.7.3.0 by looking at this file: https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/upgrade/sql/1.7.4.2.sql
https://github.com/PrestaShop/Pres

[2018-10-02 09:03] rdy4ever commented on #9634
Maybe the user should not be allowed to click twice on the atc button that fast, as it could also create other unwanted issuses like adding more products than wanted. So a simple solution would be:
1. After the first click on "add to cart", disable the button - `$(this).attr("disabled",true);`.
2. Re enable the button after the "updatedCart" ajax event. -` prestashop.on("updatedCart", function(eve

[2018-10-02 09:16] khouloudbelguith commented on #10729
Hi @josedgal,

I attached a video record.
https://drive.google.com/file/d/1My2vO_XTJgPdxOe3IsMyCzeyUQx3O3W4/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-10-02 09:43] khouloudbelguith commented on #10807
Hi @dennispw,

I attached a video record.
https://drive.google.com/file/d/1nFLz49daYuix4sbV06hiKSH_RvV9-FrY/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-10-02 09:48] marionf opened #10809 "Product ref with combinations"
**Describe the bug**
My product have a global ref (in basic settings tab)
My product have a specific ref for each combination (combinations tab)
In FO, the ref displayed is always the global one instead of the combination one

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Product
2. Edit the product Affiche encadrée Today is a good day
3. Enter a ref in basic settings tab
4.

[2018-10-02 09:50] matks commented on #10285
I'm OK with everything in this Issue.
But we got some disagreements on the POC 😅 https://github.com/PrestaShop/PrestaShop/pull/10286

[2018-10-02 10:02] Quetzacoalt91 commented on #10756
I managed to manually update the URL, instead of relying on the core: https://github.com/PrestaShop/PrestaShop/pull/10810

[2018-10-02 10:13] sarjon commented on #10285
regarding validation and form data i have another suggestion, what do you think about using custom data classes for forms instead of dealing with plain arrays? in addition to that, we could add validations for those data classes. In general, the idea is similar to this -> https://blog.martinhujer.cz/symfony-forms-with-request-objects/ @matks wdyt?

[2018-10-02 10:15] scoreggino commented on #10786
Yea I checked and some tables were different from the 1.7.4.2 schema, I updated them and now everything is working fine.

Thanks for the support.

[2018-10-02 10:15] #10786 closed, assigned to nobody

[2018-10-02 10:20] khouloudbelguith commented on #10786
Hi @scoreggino,

Thanks for your feedback.
Feel free to open a new one when needed.

Best regards, Khouloud

[2018-10-02 10:33] php-me commented on #9928
Anyone have any work around for this? Its a pretty big issue for us. We had to upgrade from 1.6 (since it's EOL = October) and sadly are now no longer able to sell to the EU (since VAT is still charged when a VAT number is supplied). Are we still looking for this to be fixed in 1.7.5 or has it been pushed back?

I can see this has a priority of '**_standard_**'. Not sure I agree with that (it rend

[2018-10-02 10:33] colinegin commented on #10756
Great news ! Thanks a lot @kpodemski and @Quetzacoalt91

[2018-10-02 11:09] prestamodule commented on #9928
@toutantic @Saycile WDYT regarding this issue ? Very critical for any merchant in EU

[2018-10-02 11:11] php-me commented on #9928
@prestamodule it is for us. £800+ modules and our client is now asking us to look into WooCommerce asap.

[2018-10-02 12:02] josedgal commented on #10729
Hi  Khouloud

Did you get the error?, what is the next step? Can I help you with
something?

Let me know your answers.

Best Regards

El mar., 2 oct. 2018 a las 4:17, khouloudbelguith (<notifications@github.com>)
escribió:

--

Yenny Cardozo.

Promotor Comercial

+571 6254455 ext. 10 <+57%201%206254455>6 / +57 3165230799
<(317)%20383-4092>

Cll 137 # 52a-36 Bogotá, Colombia
<https://maps.google.co

[2018-10-02 12:05] matks commented on #10285
This pattern ([using DTOs for validation](https://www.thinktocode.com/2018/05/17/symfony-form-validation-with-dto/)) is very good, however this means creating even more classes for forms. We already have FormFactories, FormDataProvides, FormDataHandlers. So even more objects to extend for a prestashop developer ...

[2018-10-02 12:14] #10749 closed, assigned to nobody

[2018-10-02 12:17] marionf opened #10811 "Can't transplant a module"
**Describe the bug**
Can't transplant a module

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Design > Position
2. Click on Transplant a module
3. You are still on the same page

**Additionnal information**
PrestaShop version: 1.7.5.x
PHP version: N/A

[2018-10-02 12:18] ttoine commented on #10456
A solution would be to replace the current PHP with asynchrone JS code.
If an option is made available to temporary disable API calls, it is still possible to display the latest information in the BO so the dedicated spaces are not empty and everything is working as expected.
For the installer, why not include default information, so if it is not possible to call the API during the installation, e

[2018-10-02 13:15] khouloudbelguith commented on #10809
Hi @marionf,

Here's the PR: #10812 to solve the issue.

Best regards, Khouloud

[2018-10-02 13:18] khouloudbelguith commented on #10729
Hi @josedgal,

No, I don't get the same error as you, despite along description.
It is just an error processing the transaction because the ID Marchand is not correct.
![image](https://user-images.githubusercontent.com/16067358/46350966-693ea380-c656-11e8-8bc2-2dfeb558f14b.png)

Best regards, Khouloud

[2018-10-02 13:23] matks commented on #10412
Do you suggest we use the `HookRegistry` SF service instead ?

[2018-10-02 13:27] sarjon commented on #10412
why do we want to use 2 different systems to dispatch hooks in the first place? :/ can't we keep `Hook:exec()` and rework it to use events in the next major?

[2018-10-02 13:33] matks commented on #10412
So, after diving into the code of core class `Hook`, and adapter classes / SF services `LegacyHookSubscriber` and `HookDispatcher`, one possible plan is:

- modify HookDispatcher to normalize dispatched hook names so that `one_HooK_name` becomes `onehookname`
- modify core class Hook to normalize registered hook names too
- so hook names in database and dispatched hook names should be identical ev

[2018-10-02 13:46] sarjon commented on #10412
even if thats true, having 2 systems dispatching hooks differently is bad, there should be one either using events or legacy. :/

hook registration is performed in legacy class, so thats not a case.

not sure if that works on apache as most of the sites are using it. :/

[2018-10-02 14:34] khouloudbelguith opened #10813 ""Filter by status" doesn't work in the Movements page"
#### Describe the bug

In the Sock page => Movements tab => when we try to use the "Advanced filters", the "Filter by status" doesn't work

#### Steps to Reproduce
PS: In the product list page ( you have some products disabled)

1. Go to BO => Stocks Page => Movements page
2. Click on Advanced filters
3. Try to filter by status ( Disabled)
4. Nothing happens => the page is refreshed

#### Addition

[2018-10-02 14:37] josedgal commented on #10729
Hi,

Could you please try adding in www.fulluñas.com
<http://www.xn--fulluas-8za.com> about 20 products from different
references to see the error.

I don know what else I can do.

Best regards

El mar., 2 oct. 2018 a las 8:19, khouloudbelguith (<notifications@github.com>)
escribió:

--

Yenny Cardozo.

Promotor Comercial

+571 6254455 ext. 10 <+57%201%206254455>6 / +57 3165230799
<(317)%20383-409

[2018-10-02 14:42] khouloudbelguith commented on #10729
Hi @josedgal,

Could you please provide me test credentials of this module.
![image](https://user-images.githubusercontent.com/16067358/46355973-2256ab00-c662-11e8-94d8-d2cacdd3fc4b.png)
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks & best regards, Khouloud

[2018-10-02 15:00] demeldoo commented on #10782
yes excatly as described

This is a deprecation triggered by php - php 7.2 deprecations
The each() call is made in smarty code.

enable debug mode, use php 7.2, force template recompilation (maybe not needed) you'll reproduce the bug.

[2018-10-02 15:12] mortenhartvig opened #10815 "Tax/totals rounding issues (on the invoice)"
**Describe the bug**

On my site, i have a product with a regular price of 4999
It has a general 20% discount applied via some rule for the category. Therefore the 20% discount sets the sale price for 3999.20, rounded down to 3999, due to my rounding settings (round every item, zero decimals, std. rounding up from half)

(the customer pays 3999 on the website, which is fine)

**Prestashop gives me

[2018-10-02 15:29] khouloudbelguith commented on #10815
Hi @mortenhartvig,

Have you the same issue with this ticket:  Rounding Problem: #9779?

[2018-10-02 15:32] matks commented on #10597
## OK let's settle this:

=> controller actions: use `indexAction`, `createAction`, `editAction`, `deleteAction` ...
=> template names: use `index.html.twig`,  `create.html.twig`, `edit.html.twig`, `delete.html.twig` ...
=> route names and paths:
- Index -> admin_{resources}_index with URL /{resources}
- Create -> admin_{resources}_create with URL /{resources}/new
- Edit -> admin_{resources}_edit

[2018-10-02 15:33] khouloudbelguith commented on #10782
Hi @demeldoo,

As I said before, Prestashop 1.6 is not compatible with PHP 7.2, we recommended to use PHP 7.1.
In this link: https://github.com/PrestaShop/PrestaShop/pulls?q=is%3Apr+label%3A1.6.1.x+PHP+7.2+is%3Aopen you can follow the progress fixes about php 7.2 Prestashop's compatibility.
I close the issue, feel free to open a new one when needed.

[2018-10-02 15:33] #10782 closed, assigned to nobody

[2018-10-02 15:39] fyndpriser commented on #10800
Hello
Thank you for replying
I've rebuild an entire price index but unfortunately the same problem

Please note that products which have no combinations there is no problem with them
Best Regards
Adam

[2018-10-02 15:41] sarjon commented on #10597
hmmm, why `edit` instead of `update`? :thinking: lets keep CR**U**D everywhere?

[2018-10-02 15:48] khouloudbelguith commented on #10800
@fyndpriser have you tried to contact the theme author with this issue?
Thanks to check with them & feedback.

[2018-10-02 15:50] eternoendless commented on #10597
I guess `edit` sound more natural than `update`, unless we intend to have one route for reading and one for writing.

[2018-10-02 16:39] khouloudbelguith opened #10817 "Can't edit an SEO page"
**Describe the bug**
Can't edit an SEO page

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Shop parameters > Traffic & SEO
2. Edit any page
3. You are still on the Traffic & SEO page

**Screenshots**
https://drive.google.com/file/d/14EpKpAkOIbOP8vRy-s_Epe-NtvkYiy7U/view

**Additionnal information**
PrestaShop version: 1.7.5.x
PHP version: 7.1

[2018-10-02 16:39] khouloudbelguith commented on #10817
Related to: #10804

[2018-10-02 16:59] V41F commented on #15203
Hello @Quetzacoalt91
any new information?
thx

[2018-10-02 18:47] Maofree opened #10818 "remove white-space: nowrap from .btn class"
Hi
I suggest you to remove the from .btn class of theme.css
white-space: nowrap
because for small devices the buttons with that class go outside the view

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/46369804-49be6f80-c684-11e8-9c03-2e2a478477a8.png)
![2](https://user-images.githubusercontent.com/653230/46369805-49be6f80-c684-11e8-9f1e-40cf3e8e161c.png)

**Additionnal info

[2018-10-02 23:04] cmroanirgo opened #10819 "Can't FTP a module, but must use Back office 'upload'"
**Describe the bug**
If you FTP (or copy via network, etc) a module into the modules folder, it never shows up in the Back Office, however when you have a .zip file and use the 'upload a module' button, it does.

**To Reproduce**
Steps to reproduce the behavior:

1. (optional) Use a module created by https://validator.prestashop.com/generator, as I have.
2. Unzip and upload/copy the contents of th

[2018-10-03 02:49] fyndpriser commented on #10800
Hi Khouloud,
The problem also exists in the default theme
Thank you
Best Regards
Adam

[2018-10-03 03:39] r-llaurado commented on #9573
Hi sroubek.

Your fix works excellent. Related to this issue there is a problem with the links to the product page from cart in multistores. The links that cart shows point to the current selected shop and not to the shop where the product is registered.

Have you got any fix to this problem.

Thank you

Rafael

[2018-10-03 06:30] sarjon commented on #10597
okay, this must be added to dev docs migration part, right?

[2018-10-03 07:12] PierreRambaud commented on #10819
:+1:  it could be a good improvement.
@colinegin Already talk about this to Cecile, she agreed :D

[2018-10-03 07:23] web-centre commented on #10803
Good morning.
My prestashop version is 1.7.2.4
php: 5.6
attached all the filelog screens and settings
![errori cpanel](https://user-images.githubusercontent.com/43772147/46395839-f7199d80-c6ed-11e8-89cb-00b283b0b236.JPG)
![impostazione](https://user-images.githubusercontent.com/43772147/46395840-f7199d80-c6ed-11e8-8219-b6aaa4314af0.JPG)
![log errori pag 1](https://user-images.githubusercontent.com

[2018-10-03 07:53] mickaelandrieu commented on #10652
Good to me, so we can move this issue to 1.7.6 milestone?

[2018-10-03 08:04] marionf commented on #10679
Fixed by #10726

[2018-10-03 08:04] #10679 closed, assigned to nobody

[2018-10-03 08:04] khouloudbelguith commented on #10818
Hi @maofree, I manage to reproduce the issue with PS 1.7.4.2.
When the resize the window less than 296px * 981px, the button goes outside the view.
We will see how to fix it.

[2018-10-03 08:22] matks opened #10820 "[SF Migration] Handle pages with multiple grids and/or multiple filters usage"
type: tech-issue
Todo:
- [x] Fix issue #10830

Copied from https://github.com/PrestaShop/prestafony-project/issues/61

## How it currently works

Let's say we have action that lists products:

[code]

Currently filters are injected into action by using controller's & action's name (in this case `Product` and `listing`) which are used to find them in database. And it works.

## Use cases

### 1. Ex

[2018-10-03 08:23] matks commented on #10565
Needs https://github.com/PrestaShop/PrestaShop/issues/10820 to be solved first as this pages contains 2 grids

[2018-10-03 08:23] matks commented on #10652
Yes indeed.

[2018-10-03 08:29] khouloudbelguith commented on #10800
Hi @fyndpriser, sorry but I did not manage to reproduce the issue with PS 1.7.4.2 & the default theme.
I attached a video record: https://drive.google.com/file/d/1mDyypuRJ4BJqJZL6qV5c_rFf4QM8LvSV/view
Thanks to check & feedback.

[2018-10-03 08:39] Ludofloria opened #10822 "[API] Filtering orders by date_add"
**Describe the bug**
When querying the API using this type of URL :
https://www.myprestashopsite.com/api/orders/?display=full&filter[current_state]=[4|5|25]&filter[date_add]=[2018-07-01,2018-07-31]&date=1&sort=date_add_DESC (_or ASC_)

It doesn't show orders that are placed on the 1st of July, or on the 31st of July. I have to change my filter this way :
**filter[date_add]=[2018-06-30,2018-08-01]*

[2018-10-03 08:42] matks opened #10823 "[SF Migration] Grid extension: what happens to filters, sort, search, export ?"
Initial topic https://github.com/PrestaShop/PrestaShop/pull/10777#discussion_r222205039

## Summary

Symfony pages using [the Grid]() allow modules to add
- new columns
- new bulk actions
- new grid actions

However, if a module adds a new column and fills it with some custom data, how should/does it handle
- filtering/searching this new column
- sorting this new column
- exporting this new column

[2018-10-03 08:47] khouloudbelguith commented on #10803
Hi @web-centre,

Could you please check if the fileinfo PHP extension is enabled on your server.
![image](https://user-images.githubusercontent.com/16067358/46399945-7496db00-c6f9-11e8-9279-ef0645b6a8b7.png)
- You can follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about th

[2018-10-03 09:01] jgtrescazes opened #10824 "Product with numeric references not imported as accessories in CSV Import"
When using numeric references for products, while importing from CSV file, if in accessories column we put a list of numeric references, none of them is imported.
The problem is in **classes/Product.php,** method **getExistingIdsFromIdsOrRefs**

[code]
Because of this condition when reference is a numeric value, the method use it as an ID but in our case it is not one, so none of the reference are

[2018-10-03 09:06] khouloudbelguith commented on #10822
Hi @Ludofloria,

When I use the date_add filter, I don't get any result.
There is no filter on **date_add** and **date_upd** for order object.
Access the following URL - http://shop_name/api/orders/?display=full&filter[date_add]=[2018-09-27] which should give me the orders between the orders added in this date but the XML response for the above method says

[code]

Reported in the [forge](http://f

[2018-10-03 09:12] Ludofloria commented on #10822
In order to this filter to work, you have to add "&date=1" ;)

[2018-10-03 09:13] khouloudbelguith commented on #10824
Hi @jgtrescazes,

Could you please provide me your CSV file to test with it.
Thanks!

[2018-10-03 09:15] dennispw commented on #10807
@khouloudbelguith For some reason I can not reproduce the behaviour in a fresh install. It is however present in another fresh install. I guess there must be some difference in the environment but as of right now I can't figure out what.

You can close it, I'll come back to this issue if I can reproduce it more accurately.

[2018-10-03 09:21] khouloudbelguith commented on #10822
@Ludofloria, thanks!

Yes, you are right, to show orders that are placed on the 1st of July, or on the 31st of July. I have to change my filter this way :
filter[date_add]=[2018-06-30,2018-08-01]
This issue is added to our bug roadmap.

[2018-10-03 09:23] Ludofloria commented on #10822
Thanks for this extremely quick feedback :)

[2018-10-03 09:24] khouloudbelguith commented on #10807
@dennispw thanks for your feedback.
I close the issue, feel free to open a new one when needed.

[2018-10-03 09:24] #10807 closed, assigned to nobody

[2018-10-03 09:31] GeoTimber commented on #9926
solved in version 1.7.4.2

[2018-10-03 09:33] web-centre commented on #10803
I downloaded the file at www.web-centre.it/negozi but does not let me open it

[2018-10-03 09:34] marionf opened #10825 "Height of wysiwyg editor on product page"
**Describe the bug**
Edit a product and enter a long description

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products > Edit a product
2. Enter a long description & save
3. Refresh the page
4. You don't see all your text

**Screenshots**

![capture d ecran_373](https://user-images.githubusercontent.com/13449658/46402534-4799f680-c700-11e8-8ffe-700aea5f62ea.png)

It was go

[2018-10-03 09:37] GeoTimber opened #10826 "Order Prints show menu"
Presashop 1.7.4.2

I have the menu appearing on Order prints as attached on all browsers

[Pedidos _ Pedido VBGCQKYFA de alberto hortelano • Las Torcas S.C.A_.pdf](https://github.com/PrestaShop/PrestaShop/files/2441436/Pedidos._.Pedido.VBGCQKYFA.de.alberto.hortelano.Las.Torcas.S.C.A_.pdf)

[2018-10-03 09:39] GeoTimber opened #10827 "No sorting on "Reserved" products in "Stock""
Prestashop 1.7.4.2

The sorting option is missing on "Reserved" products in the Stock.

![selection_686](https://user-images.githubusercontent.com/6180238/46402768-fb02eb00-c700-11e8-99cb-b38ec2493344.png)

[2018-10-03 09:41] khouloudbelguith commented on #10803
@web-centre, could you please try to know if fileinfo is enabled in your PHP info.
You can follow this link http://kb.mediatemple.net/questions/764/How+can+I+create+a+phpinfo.php+page%3F#gs

[2018-10-03 09:43] matks opened #10828 "[SF Migration] Use a JS routing registry"
In new-theme JS code we usually provide routes to JS classes using this kind of workaround:

[code]

I'm looking for ideas to improve this 🤔

[2018-10-03 09:44] khouloudbelguith commented on #10826
Hi @GeoTimber,

This is the PR to fix the issue: #10135
The issue will be fixed on 1.7.5.0. I'm closing as this is a duplicate of #9527.

[2018-10-03 09:44] #10826 closed, assigned to nobody

[2018-10-03 09:49] khouloudbelguith commented on #10827
Hi @GeoTimber,

Thanks for your report.
This is an improvement request.
@marionf what do you think?

[2018-10-03 10:24] sarjon commented on #10828
this is what comes to my mind => https://symfony.com/doc/master/bundles/FOSJsRoutingBundle/usage.html

[2018-10-03 10:52] jgtrescazes commented on #10824
Hi @khouloudbelguith
I'm not allowed to give you the real file but you can reproduce the issue with this file : [reproduce-issue-10824.zip](https://github.com/PrestaShop/PrestaShop/files/2441675/reproduce-issue-10824.zip) (csv in zip)
**Import config:**
Separator=";"
Separator multiple values=","
**Mapping:**
Col1=Reference
Col2=Name
Col3=Accessories

After importing this none of the accessories a

[2018-10-03 11:03] matks commented on #10570
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/10576

[2018-10-03 11:03] #10570 closed, assigned to nobody

[2018-10-03 11:33] khouloudbelguith commented on #10824
Hi @jgtrescazes,

Thanks for this clarifications.
I manage to reproduce the issue described above.
In the Col3=Accessories: if we put a reference of the products as values => Accessories are not imported.
But in the Col3=Accessories: if we put ids of the products as values => Accessories are successfully imported.
PS: Use product reference as a key is enabled.
@marionf what do you think?

[2018-10-03 12:15] itisco commented on #9967
We do have the issue too.
We have a customer's projet that is stuck due to this bug.
The issue is not only on the front but also in the invoice and order history.
Any news? When will the fix be implemented?
Thanks

[2018-10-03 12:33] khouloudbelguith commented on #9967
Hi @itisco,

We aware of this issue, it is added to our bug roadmap.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2018-10-03 12:38] corsik opened #10831 "description short not save more 400 characters"
In the description short it is not possible to save more than 400 characters, after the update, no save is accepted.
http://prntscr.com/l1ohav

[2018-10-03 12:49] khouloudbelguith commented on #10831
Hi @corsik,

I did not manage to reproduce the issue with PS1.7.4.2.
I attached a video record.
https://drive.google.com/file/d/1_MyPLBprcpEDix5PwyFUm-Yo4HemXTzw/view
Thanks to check & feedback.

[2018-10-03 12:51] LSClaire opened #10833 "Error when upgrading from 1.7.2.4 to 1.7.4.2"
**Describe the bug**
Site live and healthy on 1.7.2.4. We upgraded it using 1 click upgrade module, "successfully" upgraded to 1.7.4.2. Many errors appeared in front office. We decided to go for a manual upgrade. We get an error when running http://<shop_domain>/install/upgrade/upgrade.php (see screenshot). When refreshing, we get an error code 28, which means upgrade is already complete. That's t

[2018-10-03 13:07] corsik commented on #10831
I checked it myself, if the value 0 is set in the product settings, the description shows the maximum 800 characters, and saves only 400
http://prntscr.com/l1oy9u
http://prntscr.com/l1oyh7

[2018-10-03 13:14] khouloudbelguith commented on #10833
Hi @LSClaire,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt

Thanks!

[2018-10-03 13:22] khouloudbelguith commented on #10831
Hi @corsik,

When I try to set the Max size of short description option to **0**, an alert is displayed => Invalid size.
![image](https://user-images.githubusercontent.com/16067358/46412852-f4d03700-c71f-11e8-9c68-94b0476928a5.png)
How did you save this value 0 in this option?

[2018-10-03 13:27] corsik commented on #10831
@khouloudbelguith, strange i had the "Max size short description" value 0

[2018-10-03 13:27] corsik commented on #10831
@khouloudbelguith Then the question is closed

[2018-10-03 13:28] khouloudbelguith commented on #10831
@corsik, what is the exact version of Prestashop did you use?

[2018-10-03 13:34] khouloudbelguith commented on #10237
Hi @twazerty,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2018-10-03 13:34] #10237 closed, assigned to nobody

[2018-10-03 13:35] khouloudbelguith commented on #10243
@CArlvJ1N0N8 any news?

[2018-10-03 13:36] khouloudbelguith commented on #10261
Hi @johnstyle ,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2018-10-03 13:36] #10261 closed, assigned to nobody

[2018-10-03 13:45] CArlvJ1N0N8 commented on #10258
Hello,
Is there any update for this discussion?
Did you get any return from the developers?

[2018-10-03 13:51] corsik commented on #10831
@khouloudbelguith, At the moment, 1.7.4.2, but initially it was installed 1.7.0 and then updated using the autoupdate module.

[2018-10-03 13:59] khouloudbelguith commented on #10831
@corsik could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks

[2018-10-03 14:22] marionf opened #10836 "Bulk actions on migrated webservice page doesn't work"
**Describe the bug**
Bulk actions on migrated webservice page doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin-dev/index.php/configure/advanced/webservice
2. Create many webservice keys
3. Try to make a bulk action (disable or delete)
4. See error

**Screenshots**
![capture d ecran_377](https://user-images.githubusercontent.com/13449658/46416779-89d72e00-c728-11e8-8e1

[2018-10-03 14:50] web-centre commented on #10803
ok, ho caricato il file in http://web-centre.it/negozi/info.php

allego screen
![info php 1](https://user-images.githubusercontent.com/43772147/46418581-5bf3e880-c72c-11e8-88ba-9cb548db52d6.JPG)
![info php 2](https://user-images.githubusercontent.com/43772147/46418582-5bf3e880-c72c-11e8-81ee-1a7e80978318.JPG)
![Uploading info php 4.JPG…]()
![Uploading info php 5.JPG…]()
![Uploading info php3.JPG…]

[2018-10-03 14:54] khouloudbelguith commented on #10803
Hi @web-centre, as expected, you need to enable the fileinfo extension on your server.
![image](https://user-images.githubusercontent.com/16067358/46418883-eccac400-c72c-11e8-8b31-9ada13e4761d.png)
You need to check your host, if you don't have access.

[2018-10-03 15:07] web-centre commented on #10803
as?

[2018-10-03 15:11] colinegin commented on #10258
Hello @CArlvJ1N0N8,

Sorry for the delay, we are currently quite busy with the upcoming 1.7.5 release !
Regarding the emails sent to customers, I have checked and they are always sent in the customer language. Do you know how emails are sent for Amazon ? Is it a module you use ? If yes, I think you should check with the module.

Regarding your point A and point C, it's already working this way (in

[2018-10-03 15:11] khouloudbelguith commented on #10803
@web-centre, sorry but it is a server issue, not in the core of PrestaShop.

[2018-10-03 15:21] khouloudbelguith opened #10838 "It is impossible to import data - ERR_TOO_MANY_REDIRECTS"
**Describe the bug**
In the import page, we try to import products; categories;.., after clicking on the "Next step" button, we are redirected to an error page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Advanced Parameters => Import page
2. Click on Choose a file
3. Set the "Field separator" option & "Multiple value separator" option
4. Click on "Next step"
5. See error

**

[2018-10-03 15:24] CArlvJ1N0N8 commented on #10258
Hello,

I am dealing with Amazon through the module Amazon Marketplace and it was already settled that they are sending emails in the customer defined language.
Although they don't send the emails, it is the order status change that creates and sends the emails

So it is not related to the Amazon module (except that they create the customer and provide the customer language)

For this actual discu

[2018-10-03 15:50] #10697 closed, assigned to nobody

[2018-10-03 16:03] jgtrescazes opened #10841 "Voucher display in cart doesn't check group's price display method"
In a B2B websitewith all groups configured to show price tax excluded, price display is OK everywhere except in cart voucher, when discount is an amount.
In this case voucher amount is displayed tax included.
In code the problem is in src/Adapter/Cart/CartPresenter.php file in method getTemplateVarVouchers
The code that compute the displayed value doesn't check any price display settings.

[code]

[2018-10-03 16:15] matks commented on #10285
After a discussion with @eternoendless here are some feedbacks about this concept and the POC:

1) We should stop using the Entity word for class names or concepts as these forms and data handlers might be used to update something else than Entities
2) The `EntityIdentifierInterface:: getIdentifier()` method should return only strings to reduce possible complex/unreliable code as mixed returns usu

[2018-10-03 16:17] khouloudbelguith commented on #10841
Hi @jgtrescazes,

Have you the same issue with this ticket: #9856?
We have a lot of issues related to the prices.
Thanks to take a look at this link: Prices - Lot 2 #9700
Thanks to check & feedback.

[2018-10-03 17:23] ricardo-lobo opened #10842 "Release 1.7.4.3 doesn't have a installation zip file"
**Describe the bug**
From what I've seen recently, releases usually have a zip file attached in the form of prestashop_1.7.*.*.zip

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/PrestaShop/PrestaShop/releases
2. Click on PrestaShop 1.7.4.3
3. See error

![screen shot 2018-10-03 at 18 22 10](https://user-images.githubusercontent.com/21181036/46427471-6bc5f980-c739-11

[2018-10-03 17:33] Maofree commented on #9566
hi
the problem is on the contition at line 544 of contactform.php

`            if (!count($this->context->controller->errors)
                && empty($mailAlreadySend)
                && ($sendConfirmationEmail || $sendNotificationEmail)
            )`

replacing it with the condition of contactform 3.0 it seems ok
so it is necessary to improve that condition to solve this porblem

bye

[2018-10-03 18:06] Maofree commented on #10393
Hi @khouloudbelguith
I continue to get this problem on the google api
on the 1.6.x using a google api a fix the problem, I set it in the preferences page
but on the 1.7.x where is the field to set it?

thanks

[2018-10-03 18:44] niccoX commented on #10779
@khouloudbelguith Do you think it's possible to assign anyone to this issue, as it affects everyone in production using ASM.

[2018-10-03 21:37] JirkaDeLucina opened #10844 "PS 1.7.4 - does not work translation in Showing %from%-%to% of %total% item(s)"
In admin in Translations in: Shop-Theme-Catalog is not possible translate "Showing %from%-%to% of %total% item(s)" - If I change it in my language default translation {czech language} and save it, always stay original translation from default instalation.

[2018-10-04 06:11] LSClaire commented on #10833
[20181001_upgrade.log](https://github.com/PrestaShop/PrestaShop/files/2445077/20181001_upgrade.log)

[2018-10-04 07:30] jgtrescazes commented on #10841
Hi @khouloudbelguith
I just had a look at all those tickets and none of them is exactly the same as this one.
This is not a calculation problem but a display problem.
In my case prices are right as we dont use taxes anymwhere but the shown discount amount is wrong : it is displayed tax included but it should not as customer group is set to show tax excluded.
So if customer make the calculation fro

[2018-10-04 07:49] khouloudbelguith commented on #10842
Hi @ricardo-lobo,

If you download the last version from the official website, https://download.prestashop.com/download/releases/prestashop_1.7.4.3.zip?_ga=2.115669190.195077929.1538385031-446192319.1536843266, you will find the zip file attached in the form of prestashop_1.7...zip.
About this link: https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.4.3, you are right, the zip file is missi

[2018-10-04 07:50] Casper-O commented on #10530
I do not see this as a "standard" bug - its a critical bug that destroys the FO search function, when a product is deleted.

Please reconsider this and make sure something happens regarding the PR for 1.6.1.X else i'm just going to close it and the issue report...

[2018-10-04 08:04] NadiaCamard opened #10846 "Back button redirects to 'Modules & Services' instead of previous step for all modules"
**Describe the bug**
Wrong link on the 'Back' button in 'Customer Reassurance' Module

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Customer Reassurance' Module
2. Click on any row of the table or click on 'Edit' button
3. Once the page loaded, click on the Back button in the top-right corner
4. It redirects to 'Modules & Services' page. It should display the 'Customer Reassurance'

[2018-10-04 08:10] khouloudbelguith commented on #10841
Hi @jgtrescazes,

Yes, I said before, it is the same issue: #9856.
You can find in this description: https://github.com/PrestaShop/PrestaShop/issues/9856#issue-353105910 => [The problem occurs for countries outside the EU: In the cart and in the product details page, I get displayed the price tax Excl. with the reduction **tax incl**. ]
![image](https://user-images.githubusercontent.com/16067358/4

[2018-10-04 08:10] khouloudbelguith commented on #10841
Duplicate of #9856

[2018-10-04 08:10] #10841 closed, assigned to nobody

[2018-10-04 08:15] NadiaCamard opened #10848 "Back button redirects to 'Modules & Services' instead of previous step - for 'Image Slider' Module"
**Describe the bug**
Wrong link on the 'Back' button in 'Image Slider' Module

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Image Slider' Module
2. Scroll down to 'Slides list' block and click on any 'Edit' button
3. Once the page loaded, click on the Back button in the top-right corner
4. It redirects to 'Modules & Services' page. It should display the 'Image Slider' configuration

[2018-10-04 08:21] khouloudbelguith commented on #10848
Hi, Image slider  v3.0.0 - by PrestaShop
Related to #10846

Thanks!

[2018-10-04 08:23] khouloudbelguith commented on #10846
Hi, Customer reassurance v3.0.1 - by PrestaShop

Thanks!

[2018-10-04 08:27] Flowster opened #10849 "Wrong visitor group assumed on multistore"
**Describe the bug**

Every time the `FrontController::getCurrentCustomerGroups()` method is called and returns an empty array, the customer group is assumed to be `1` by default. But In Group admin page, you've got the choice to define visitor group to a different id than `1`.

We should be using `Group::getCurrent()->id` instead.

**To Reproduce**

* Create a new group and define it as the visit

[2018-10-04 09:02] rdy4ever commented on #10818
The `nowrap` value for the `btn` `white-space` property  comes from [bootstrap](http://getbootstrap.com/docs/4.1/components/buttons/). And I do believe it is a UX best practice not to wrap buttons.
296px is by no mean a 2018 smarphone common width, even the 2011 budget mini-galaxy phone [Samsung Galaxy Gio](https://www.gsmarena.com/samsung_galaxy_gio_s5660-3741.php) or the 2007 [original iPhone](h

[2018-10-04 09:08] khouloudbelguith commented on #10844
Hi @JirkaDeLucina,

Thanks for your report, I manage to reproduce the issue with the last version: PS 1.7.4.3.
**Steps to reproduce**
1. Install Prestashop 1.7.4.3 / 1.7.4.2 with English language / French country
2. Import the Czech pack
3. In the Translation theme page ( Czech translation) => search for "Showing %from%-%to% of %total% item(s)" => edit this expression => save => The green alert is

[2018-10-04 09:21] eternoendless commented on #10842
Fixed! Thanks for noticing @ricardo-lobo 👍

[2018-10-04 09:21] #10842 closed, assigned to nobody

[2018-10-04 09:26] Casper-O commented on #10530
@PierreRambaud Open it Again  it has not ben solved for 1.6.1.X where this issue is related to...

[2018-10-04 09:26] khouloudbelguith commented on #10849
Hi @Flowster,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.3.
We will see how to fix it.
https://drive.google.com/file/d/16uTliauIC5QSaAjxlTgHy_ILy2HnXz9n/view
Thanks!

[2018-10-04 09:31] jgtrescazes commented on #10841
@khouloudbelguith
I dont think it is the same problem.
On your sceenshot (and in #9856) it concerns product specific price as I understand.
In my case it concerns voucher (cart rule) amount only there are no country or tax calculation issue.
In the capture bellow problem is only on cart summary block in right sidebar.
My voucher amount is 200 € tax excluded and it's shown tax included (240) but al

[2018-10-04 09:36] khouloudbelguith commented on #9566
@maofree, thanks for your fix suggestion.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/contactform
Thank you!

[2018-10-04 09:37] PierreRambaud commented on #10530
Woot, it was closed automatically when I merged the pull request :)

[2018-10-04 09:41] tabularasadev opened #10850 "User cannot select product variants"
Hi,

I have a lot of products that have variations, but on one in particular, i have an issue. When a visitor chooses a variant that is not available in stock. The site de-select the declination and return to the default, but I would like the user can still place his order.

I tried with the parameter "Availability Preference" in "Accept Orders" but nothing helps.

I also noticed that the choice o

[2018-10-04 09:42] khouloudbelguith commented on #10393
Hi @maofree,

We are aware of this issue, it is added to our debug roadmap.
Google map API missing in BO in the PS1.7.
Please follow: #9797
Thanks!

[2018-10-04 09:42] PierreRambaud commented on #10811
Will be fixed with @jolelievre changes about `_legacy_link` =)

[2018-10-04 09:43] marionf commented on #10530
@Casper-O
This one is for 1.7, for 1.6 it's http://forge.prestashop.com/browse/PSCSX-8239
So, this one can be closed

[2018-10-04 09:43] #10530 closed, assigned to nobody

[2018-10-04 09:52] khouloudbelguith commented on #9856
Hi,

Same issue with discounts/ amount voucher.
In the shopping cart, the reduction is displayed in tax incl

Thanks!

[2018-10-04 09:52] khouloudbelguith commented on #10841
Hi @jgtrescazes, thanks for your feedback.
I edit the #9856 to add the "discounts/ voucher" issue.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-10-04 09:58] Quetzacoalt91 commented on #10683
I guess this PR should be on `1.7.5.x` branch?

[2018-10-04 09:58] khouloudbelguith commented on #9785
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10843

[2018-10-04 10:08] khouloudbelguith commented on #10850
Hi @JimTabularasa,

We are aware of this issue, it is added to our bug roadmap.
Your ticket is a duplicate of #9667
So, I close it.
Thanks!

[2018-10-04 10:08] #10850 closed, assigned to nobody

[2018-10-04 10:08] khouloudbelguith commented on #10850
Duplicate of #9667

[2018-10-04 10:14] Casper-O commented on #10530
@marionf i made this one for 1.6.1.X not for 1.7.X

Solution PR is into PrestaShop:1.6.1.x - check https://github.com/PrestaShop/PrestaShop/pull/8587

Open it agian

[2018-10-04 10:23] sarjon commented on #10838
this issue was introduced after this PR => https://github.com/PrestaShop/PrestaShop/pull/10796 maybe it can be fixed it this one => https://github.com/PrestaShop/PrestaShop/pull/10821

[2018-10-04 10:27] marionf commented on #10530
There is already an issue for 1.6: http://forge.prestashop.com/browse/PSCSX-8239
It wasn't necessary to create a new one.
This one is associated with 1.7 project and pull request.

[2018-10-04 10:27] khouloudbelguith commented on #10833
@LSClaire, in your log file => you have this error [You already have the 1.7.4.2 version] as you said.
It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.4.
The solution is to add the missing columns to your database schema.
You can find the full schema for 1.7.4.2 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.4.2/insta

[2018-10-04 10:35] Casper-O commented on #10530
@marionf clearly Forge is closing, really... the Forge report was open for 10 months, tell me one more time it was not necessary to create a new Issue report to get your attentions..

Now open the issue report again or i make a new one - also Forge already had one for 1.7 also.. http://forge.prestashop.com/browse/BOOM-3965

[2018-10-04 10:42] mikecastrodemaria opened #10853 "Uncaught Exception: An exception has been thrown during the rendering of a template ("PrestaShopBundle\Twig\LayoutExtension cannot find the {$content} string in legacy layout template")."
**Describe the bug**
After an update to 1.7.4, whene I click on "calalog de module" I have this error display (using the debug mode)

Uncaught Exception: An exception has been thrown during the rendering of a template ("PrestaShopBundle\Twig\LayoutExtension cannot find the {$content} string in legacy layout template").
--

**To Reproduce**
Steps to reproduce the behavior:
1. Login as admin
2. Clic

[2018-10-04 10:49] khouloudbelguith commented on #10853
Hi @mikecastrodemaria,

What is the exact version of twig did you use?
It is a twig version issue.
Thanks to check & feedback.

[2018-10-04 11:28] iDanielBH opened #10855 "Lost special characters utf8 on update 1.6.1.21 to 1.7.4.3"
I had the database configured as utf8_general_ci, the files as utf8. The configuration in php.ini and apache, all in utf8.

After updating from 1.6.1.21 to 1.7.4.3 I have lost the special characters of many tables. After investing a lot of time i have solved it by personalizing the update file.

Removing the line:

/ * PHP: latin1_database_to_utf8 (); * /;

In /prestashop/install/upgrade/sql/1.0.0

[2018-10-04 11:58] eternoendless commented on #10285
I'd like to clarify something about (3).

We discussed about a two-tier validation system:

The first one is on the Controller side, powered by symfony validator if you will. It is responsible to **prevent the end user from providing invalid data** through the form and displaying a validation report containing all the errors in a user-understandable, localized, practical way. We could say that the

[2018-10-04 12:01] marionf commented on #10530
No, I will not reopen this one because as explained before it's for 1.7
Issue and fix already exists for 1.6
So, you can open a new issue, it will be closed for duplicate.

[2018-10-04 12:13] Casper-O commented on #10530
Fine i wil close all my PR, im done with this....

[2018-10-04 12:24] khouloudbelguith commented on #10855
Hi @iDanielBH, thanks for your fix suggestion.
@Quetzacoalt91 what do you think??

[2018-10-04 12:25] Benla79 opened #10858 "Translation missing"
**Describe the bug**
When I try to connect to the back office, I get a HTTP 500 error. I go in Debug mode using define.inc.php.
Then it says there are 7 translations missing (see screenshot). When I go to the translation/back office, I can't find them.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin page

**Screenshots**
![2018-10-04 2](https://user-images.githubusercontent.com/4

[2018-10-04 12:36] Benla79 opened #10860 "Optional field are compulsary without reason and give HTTP 500 error"
**Describe the bug**
For account registration, the fields, company, adress2, phone are compulsary and if not entered an **error HTTP 500** occurs.
I checked in Client/address and nothing is checked.

It should not be compulsary...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'create an account'
1. Go to 'checkout'
2. enter 'name, adress, postcode, city,..'
3. Click on 'continue'
4.

[2018-10-04 12:58] Quetzacoalt91 commented on #10855
Well, the actual issue is totally different from what you could expect from the description.

When an upgrade is done between PrestaShop 1.6.1.21 and 1.7.4.3, only the sql files in this version range are supposed to be run.
The file 1.0.0.1.sql wasn't supposed to be executed. If you still have the database backup before the upgrade, I'd like to know what are the VERSION registered in your configur

[2018-10-04 13:16] khouloudbelguith commented on #10860
Hi @Benla79,

Thanks for your report.
You should add the company field in the format address => Go to => International > Locations > Edit your country and add the field in the address format for your country.
The issue is fixed in the PS version 1.7.3.0.
Here is a PR: https://github.com/PrestaShop/PrestaShop/pull/8435
https://github.com/PrestaShop/PrestaShop/pull/7975
I close the issue, feel free

[2018-10-04 13:35] khouloudbelguith commented on #10779
Hi @niccoX,

There is already an issue for 1.6: http://forge.prestashop.com/browse/PSCSX-7764
It wasn't necessary to create a new one.
So, this one can be closed
Thanks!

[2018-10-04 13:35] #10779 closed, assigned to nobody

[2018-10-04 13:40] Benla79 commented on #10860
Hi @khouloudbelguith
I did what you said and it took away the fields address 2, company, phone (but I still need them optional).
But even if I do it and click on "continue" I have the same HTTP 500 with the same screenshot as above...

![2018-10-04 5](https://user-images.githubusercontent.com/43850197/46477802-cd46a080-c7eb-11e8-82ce-07c4c87b511c.png)

[2018-10-04 13:43] colinegin commented on #10630
Yes, I just checked, you are correct, we can remove it !

[2018-10-04 13:45] Benla79 commented on #10860
Here you can see:
![2018-10-04 6](https://user-images.githubusercontent.com/43850197/46478110-89a06680-c7ec-11e8-843c-3838f1e2f4f1.png)

[2018-10-04 13:46] khouloudbelguith commented on #10860
@Benla79, you need to navigate International > Locations > Edit your country and add these fields (address 2, company, phone ) in the address format for your country.
Also, you need to navigate to BO => Customers => Addresses => Click on " Set required fields for this section" & uncheck these fields.
![image](https://user-images.githubusercontent.com/16067358/46478190-afc60680-c7ec-11e8-812e-738a5

[2018-10-04 13:49] Benla79 commented on #10860
Unfortunately, they are not checked!

[2018-10-04 13:59] iDanielBH commented on #10855
Where do I find the configuration table? "Ps_configuration"? and if so, in what value is the VERSION registered

[2018-10-04 14:24] Benla79 commented on #10860
![2018-10-04 7](https://user-images.githubusercontent.com/43850197/46480689-05e97880-c7f2-11e8-9c55-4e0b770eadfb.png)

[2018-10-04 14:39] web-centre commented on #10803
the info file library is now working. Is there anything else to do?

[2018-10-04 14:40] khouloudbelguith commented on #10729
Hi @josedgal,

Thanks for your feedback.
As I said before, this issue occurs only when I use the PayU module.
But I use another payment method module like "pay by bank wire" or "Pay by check" there is no error.
You need to contact the PayU author to allow a long description.
https://drive.google.com/file/d/1srvOEwWJ3Ab23_ciibPIRzRnVLRLwdyF/view
I close the issue, feel free to open a new one when n

[2018-10-04 14:40] #10729 closed, assigned to nobody

[2018-10-04 14:44] khouloudbelguith commented on #10803
@web-centre, thanks!
So the issue is solved?

[2018-10-04 15:05] Benla79 commented on #10858
Strange that I can't find it in the translation section

[2018-10-04 15:08] khouloudbelguith commented on #10858
Hi @Benla79,

The screenshot that you uploaded cannot help us to understand the issue.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get t

[2018-10-04 15:15] mikecastrodemaria commented on #10853
HI, I used twig from PrestaShop 1.7.4 normaly. How see that ?

[2018-10-04 15:17] Quetzacoalt91 commented on #10855
Exactly, in the ps_configuration table.

I ran this request to get the installation version:

[code]

[2018-10-04 15:18] mikecastrodemaria commented on #10853
@khouloudbelguith I find from vendor/twig/twig/lib/Twig/Environment.php

    const VERSION = '1.35.3';
    const VERSION_ID = 13503;
    const MAJOR_VERSION = 1;
    const MINOR_VERSION = 35;
    const RELEASE_VERSION = 3;
    const EXTRA_VERSION = '';

[2018-10-04 15:18] Benla79 commented on #10858
Hi @khouloudbelguith,
Sorry for the missing information.
PrestaShop version: 1.7.4.2
Serveur Linux #1 SMP Thu Aug 23 15:15:40 CEST 2018 x86_64
 Apache
 PHP : 7.0.32
Memory limit : 512M
Temps maximal d'exécution : 300
MySQL : 5.6.40-log
Serveur MySQL : mysql606.sql004:3306

[2018-10-04 15:20] #9704 closed, assigned to nobody

[2018-10-04 15:21] eternoendless commented on #10285
I made a schema to provide a better overview of the system:

![forms](https://user-images.githubusercontent.com/1009343/46484374-f4a46a00-c7f9-11e8-9a8a-f05993537766.png)

[2018-10-04 15:23] Benla79 commented on #10858
I tried to get some logs but couldn't. There was no var/log/

I got this through Chrome console log
![2018-10-04 8](https://user-images.githubusercontent.com/43850197/46484411-08e86700-c7fa-11e8-9644-1016440b181f.png)

[2018-10-04 15:26] Benla79 commented on #10860
It acts as if all of the fiels were checked but in fact aren't...

[2018-10-04 15:29] Benla79 commented on #10858
And that's the Debug log:
![2018-10-04 9](https://user-images.githubusercontent.com/43850197/46484974-19e5a800-c7fb-11e8-887c-610f733d37f0.png)

[2018-10-04 15:31] khouloudbelguith commented on #10853
Hi @mikecastrodemaria,

Thanks for your feedback.
It is the same issue reported here: #10786.
It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.4.
The solution is to add the missing columns to your database schema.
You can find the full schema for 1.7.4.2 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.4.2/install-dev/da

[2018-10-04 15:34] iDanielBH commented on #10855
Only returns PS_LAST_VERSION_CHECK

I come to update from a version 1.3.2.3 and in the copy of the database of 1.4.0.17 that query does not return anything, and in 1.5.0.17 either.

In other words, that parameter did not exist and has never been created automatically in the database.

[2018-10-04 15:41] khouloudbelguith commented on #10858
Hi @Benla79,

For the console error, it is a different issue, you can find it here: #10469.
For your real issue, have you made any changes before this error occurs?
Did you make an upgrade of your version Prestashop?
Did you installed any custom module?

PS: Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-10-04 15:42] khouloudbelguith commented on #10860
@Benla79, did you use the default theme provided by PrestaShop?

[2018-10-04 15:45] web-centre commented on #10803
no, now I have this
![errore2](https://user-images.githubusercontent.com/43772147/46486085-4dc1cd00-c7fd-11e8-82f1-28d3eb8aa101.jpg)

[2018-10-04 15:46] Benla79 commented on #10858
@khouloudbelguith
I did an upgrade a couple days ago but it was working fine until today.
No I didn't install any custom module.

Just to double check, you want me to erase everything in the folders var/cache/prod and var/cache/dev?

[2018-10-04 15:49] Benla79 commented on #10860
@khouloudbelguith
No I use a different theme.
But it still does the same with the default theme.

[2018-10-04 15:50] tomas862 commented on #10189
Hi @colinegin

I was wondering of how two tiny blocks  in currency list should look like
![currency_list](https://user-images.githubusercontent.com/17051250/46486162-d6446b80-c805-11e8-9451-9ebbdf33d000.png)

My questions would be:

1. Should they be located in the same place on the new page?
2. Maybe there is a sketch of how they should look like on the new page?

Thank you for the answers! :slig

[2018-10-04 15:50] khouloudbelguith commented on #10858
@Benla79, yes you can delete both folder prod/ & dev/ into the path /var/cache.
What is the exact version of the 1-click upgrade did you use?
What is the previous version Prestashop did you use before the upgrade?

[2018-10-04 15:50] PierreRambaud commented on #10811
this issue was introduced after this PR => https://github.com/PrestaShop/PrestaShop/pull/10796 maybe it can be fixed it this one => https://github.com/PrestaShop/PrestaShop/pull/10821

[2018-10-04 15:51] khouloudbelguith commented on #10803
@web-centre, what is the exact name of the module do you want to install?

[2018-10-04 15:53] khouloudbelguith commented on #10860
@Benla79, you have fields not checked as required in BO => But they are required in the FO?
Did you make the test with both default theme & custom theme?

[2018-10-04 15:53] Benla79 commented on #10858
I used the 1-click upgrade v4.2.0 - by PrestaShop
As for the previous Prestashop, I don't remember. Is there a way to find out?

[2018-10-04 15:55] Benla79 commented on #10860
Yes I made the test with both default theme & custom theme.

Yes, I have fields not checked as required in BO => But they are required in the FO (even though it is written optional)!!

[2018-10-04 15:56] khouloudbelguith commented on #10858
@Benla79, to be sure.
Could you please check that you don't have missing columns on your database schema.
You can find the full schema for 1.7.4.2 here: https://github.com/PrestaShop/PrestaShop/blob/1.7.4.2/install-dev/data/db_structure.sql
Thanks to check & feedback.

[2018-10-04 15:58] Benla79 commented on #10860
For example, I have this:
![2018-10-04 11](https://user-images.githubusercontent.com/43850197/46486857-ec026280-c7fe-11e8-85bb-37414af69af4.png)
and If I press continue, I have:
![2018-10-04 12](https://user-images.githubusercontent.com/43850197/46486918-0e947b80-c7ff-11e8-9512-00a345d824a7.png)

[2018-10-04 16:00] Benla79 commented on #10858
Sure I will do that and let you know.
Sorry for the next question but where can I find my database schema?

[2018-10-04 16:01] khouloudbelguith commented on #10860
@Benla79, you need to navigate International > Locations > Edit your country and add this field (address 2) in the address format for your country.
![image](https://user-images.githubusercontent.com/16067358/46487124-8d89b400-c7ff-11e8-8c8f-dfcbc6c6c5d9.png)
Thanks to add this field & feedback.

[2018-10-04 16:02] Benla79 commented on #10860
It is.

[2018-10-04 16:03] khouloudbelguith commented on #10860
@Benla79, it is added in the address format?

[2018-10-04 16:04] Benla79 commented on #10860
![2018-10-04 13](https://user-images.githubusercontent.com/43850197/46487293-f3763b80-c7ff-11e8-95a5-60f19e101814.png)

[2018-10-04 16:13] khouloudbelguith commented on #10858
@Benla79, you need to access to your Phpmyadmin, so you can display all columns of your database & you can export this database.
In the BO => Advanced Parameters => Information page, you can find the MySQL name
![image](https://user-images.githubusercontent.com/16067358/46487780-2d940d00-c801-11e8-85ea-4443d212850d.png)

[2018-10-04 16:19] web-centre commented on #10803
We want to update the module mmo_connector to synchronize  with the his right version 4.5.0.

[2018-10-04 16:21] colinegin commented on #10189
Good question @tomas862 !
In my opinion, if we can move those blocks somewhere else on the page, it would be easier to understand.
What do you think @TristanLDD or @NadiaCamard ? Is there any sketch for that type of page ?

[2018-10-04 16:22] Benla79 commented on #10858
Thanks.
________________________________
De : khouloudbelguith <notifications@github.com>
Envoyé : jeudi 4 octobre 2018 16:13
À : PrestaShop/PrestaShop
Cc : Benla79; Mention
Objet : Re: [PrestaShop/PrestaShop] Translation missing (#10858)

@Benla79<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FBenla79&data=02%7C01%7C%7C6cdf4d1d278a4e80882708d62a1463b0%7C84df9e7fe9f

[2018-10-04 16:22] khouloudbelguith commented on #10803
@web-centre, this module is it compatible with the Prestashop version 1.7.2.4?
Have you tried to contact the module author?

[2018-10-04 16:25] web-centre commented on #10803
yes, it is compatible with the prestashop version. The author of the module is helping me with the installation but it is necessary to solve these problems

[2018-10-04 16:27] khouloudbelguith commented on #10860
@Benla79, could you please check your file AddressFormat.php into the path Project_Folder/classes/AddressFormat.php, the list of requireFormFieldsList.
![image](https://user-images.githubusercontent.com/16067358/46488500-20781d80-c803-11e8-80db-2222f9fd8f2b.png)
Thanks to check & feedback.

[2018-10-04 16:28] khouloudbelguith commented on #10858
@Benla79, you are welcome

[2018-10-04 16:29] Benla79 commented on #10858
As I tried to access Phpmyadmin, I had to change the password of my database and now, of course,
"Link to database cannot be established: SQLSTATE[HY000] [1045] Access denied for user 'shirotsuvf864'@'10.4.106.75' (using password: YES)
at line 120 in file classes/db/DbPDO.php"
How can I put the right password so Prestashop has access to my database? I feel like a fool, sorry for the bother...

[2018-10-04 16:31] khouloudbelguith commented on #10803
@web-centre, when you click on the "What happened?" link, is there any exception displayed? (thanks to enable the debug mode)

[2018-10-04 16:33] Benla79 commented on #10860
Seems good
![2018-10-04 14](https://user-images.githubusercontent.com/43850197/46488766-eeb38680-c803-11e8-8b38-f82f92fee7ca.png)

[2018-10-04 16:33] khouloudbelguith commented on #10858
@Benla79, sorry but I can't help you to solve this issue, you need to check your host.
f you need help, you can ask on the Stack Overflow, forum,...
Thanks for your understanding!

[2018-10-04 16:40] Quetzacoalt91 commented on #10855
That's interesting, thanks for the feedback. This could explain why I get this kind of report.

How did you make the previous upgrades? With the 1-click upgrade module?

[2018-10-04 16:42] khouloudbelguith commented on #10860
@Benla79, now could you please check your database => the PREFIX_address_format, what is the exact format of your country (you need to check your id's country)
PS: PREFIX is the prefix of your tables, t could be for example ps.

[2018-10-04 16:47] demeldoo opened #10866 "advanced eu compliance - shipping cost"
Hello, can you please restest if the latest version is showing shipping cost (also free shipping) correctly on the cart page... i had a shop test and this part is missing , but i noticed it worked on previous version of this module...

How to reproduce 👍
Use latest version of prestashop 1.6 , add the advanced compliance module, add the product to cart and go to checkout

Kind regards,
jimmy

[2018-10-04 16:47] Benla79 commented on #10860
@khouloudbelguith , it is:
firstname lastname
company
vat_number
address1
address2
postcode city
Country:name
phone

[2018-10-04 16:53] khouloudbelguith commented on #10860
@Benla79, sorry but I did not manage to reproduce this issue with PS1.7.4.2
This issue is fixed in the PS version 1.7.3.0.
Here is a PR: #8435, #7975
@marion what do you think?

[2018-10-04 17:03] khouloudbelguith commented on #10866
Hi @demeldoo,

Thanks for your report.
The "Total shipping" is missing on your cart page?
![image](https://user-images.githubusercontent.com/16067358/46490348-19074300-c808-11e8-8b38-bc925a6a09a5.png)

[2018-10-04 17:04] iDanielBH commented on #10855
From v1.3.2.3 to v1.4.11.1 manually. As of v1.4.11.1 with 1-click upgrade module.

Thanks for the help.

I'm going to add the field PS_VERSION_DB manually in the database and to update everything again. Just in case it solves other problems.

[2018-10-04 17:15] demeldoo commented on #10866
yes,yes,,, you saved my day :) free shipping..or total shipping... on this first step.... yes, its missing...

can you provide me some help...fix ?

[2018-10-04 17:26] khouloudbelguith commented on #10866
Hi @demeldoo,

If you are not logged, the shipping cost is not displayed.
Since you are logged, it will be displayed.
I attached a video record: https://drive.google.com/file/d/1gHFGk-xjTx1Hg7OUY2qYpVK2zzWEEUWi/view
Thanks to check & feedback.

[2018-10-04 17:29] demeldoo commented on #10866
thank you for clarification, it seems that this behaviour is not completly ok, i had an standard agency testing a shop, and they say eu laws demand that the shipping cost should be displayed (has no sense to me also, because by logging the location is set)

[2018-10-04 17:30] khouloudbelguith commented on #10866
@demeldoo thanks to check with them again & feedback.

[2018-10-04 18:16] Mushr0000m commented on #23748
Same issue, how can we translate the mail subject ?

[2018-10-04 18:17] Benla79 commented on #10858
OK, I got it.
Just FYI, in case someone ever needs it, the name of the database and the password is in /app/config/parameters.php

[2018-10-04 18:25] mikecastrodemaria commented on #10853
I was using the shell way to process the update using the "easy update module" to go to 1.7.4

[2018-10-04 18:28] mikecastrodemaria commented on #10853
Any advice to do the diff + update process of the DB without spend hours to play to the game of 7 errors ? Thanks

[2018-10-04 18:57] Benla79 commented on #10858
Now I can't access at all to the admin even in Debug mode
![2018-10-04 15](https://user-images.githubusercontent.com/43850197/46496274-eebd8180-c817-11e8-97cf-e7bdf998a260.png)

It says:  Failed opening required '/home/shirotsuvf/www/var/cache/dev/ContainerOtmvj2w/removed-ids.php'
I erased the whole cache/dev folder...

[2018-10-05 06:13] Xaconi commented on #10264
I've checked it, this is an important issue!!

[2018-10-05 06:53] web-centre commented on #10803
When you click on "What happened?" shows the error 500.Inviato dal mio dispositivo mobile Huawei-------- Messaggio originale --------Oggetto: Re: [PrestaShop/PrestaShop]  library php_fileinfo extension. (#10803)Da: khouloudbelguith A: PrestaShop/PrestaShop CC: web-centre ,Mention @web-centre, when you click on the "What happened?" link, is there any exception displayed? (thanks to enable the debug

[2018-10-05 07:09] web-centre commented on #10803
When you click on "What happened?" shows the error 500

debug mode enable

[2018-10-05 07:32] dgtn-va opened #10869 "Color/texture no longer appears in facet filters"
Hi,

I had to reset the module (Faceted Search) to re-index all products prices (since it doesn't work by itself ...), but suddenly my textures thumbnails missing and I've checkboxes displayed instead: ![tissus](https://user-images.githubusercontent.com/43678844/46521879-4217ea00-c881-11e8-851f-b03df4db0340.jpg)

And impossible (of course), to access the module config to check this point: ![facete

[2018-10-05 07:47] corsik opened #10870 "The image on the page redirects does not scale"
http://prntscr.com/l2fcx3

[2018-10-05 07:47] romain-le-mercier commented on #9594
Don't know if it's the same issue but I also have order split in two.
Product are restricted by the same carrier, on both the order the carrier is the same.
The difference in my case is that there is always a discount that offer a product and free shipping.
I have his problem on 4 order, 2 paypal and two Debit card.

[2018-10-05 08:00] marionf commented on #10860
Yes, this issue has been fixed in 1.7.3.0 and I can't reproduce it on 1.7.4.3

[2018-10-05 08:00] #10860 closed, assigned to nobody

[2018-10-05 08:01] #10403 closed, assigned to nobody

[2018-10-05 08:02] Benla79 commented on #10860
@marionf
Thank you for trying. I see you closed the topic so what should I do? Does that mean I have to start over, erase all and restart?

[2018-10-05 08:06] Benla79 commented on #10858
@khouloudbelguith
This morning I still can't access the admin, even in debug mode...

[2018-10-05 08:50] itisco opened #10871 "Allow product import to change previous id_category_default when you force ID"
**PrestaShop 1.7.4.2**

First of all, I'm sorry for my english, I hope that it's understandable

**During import product with force ID option, it's impossible to change the category_default with the new category**

I tried to import few products with a CSV file, and I wanted to force ID to keep products how the supposed to be with a full import. I found out that the new category wasn't set in _id_

[2018-10-05 09:03] web-centre commented on #10803
solved

[2018-10-05 09:04] LSClaire commented on #10833
We check thoroughly and we have no column missing in the database. Do you have other ideas of where the issue can come from?

[2018-10-05 09:34] #10469 closed, assigned to jolelievre

[2018-10-05 09:39] itroom-agence opened #10873 "Ajax cart first add doesnt work"
**Describe the bug**

On a product page when you  try to add a product in the cart (before the page is fully loaded but after the DOM load) our product is not added to the cart modal.

**To Reproduce**

Steps to reproduce the behavior:
1. First connexion to a prestashop website
2. Go to a product page
3. Before the page is fully loaded but after the dom is load
4. Wait for ajax return of the modal

[2018-10-05 10:10] TristanLDD commented on #10189
Hi @tomas862, I recommend to merge the 2 blocks and to display the tab in full screen:
![blocs_currency](https://user-images.githubusercontent.com/27484094/46529580-4222e480-c897-11e8-8058-0711c7199998.jpg)

[2018-10-05 10:13] tomas862 commented on #10189
Nice - I thought about something similar but now it's very clear what to do. Thank you!

[2018-10-05 10:24] #10062 closed, assigned to nobody

[2018-10-05 11:41] Ybeske opened #10874 "Location field import/export"
### Describe the bug
I'm very happy the product "Location" field finally got visible again for the first time since the last version of 1.6.
The only thing I miss to really enjoy this feature is to make the field possible with the import function.

In the right column of "Advanced Parameters / Import" the "Available fields" for Products are mentioned. The Location field is missing.

Can you please

[2018-10-05 12:05] Xaconi commented on #10264
Temporal solution, at least for me. We have a full virtual product Prestashop ecommerce (1.7.4.2), and we made these changes on Cart class (/classes/Cart.php). The problem was that, if the full cart was virtual, the Cart Rules weren't added to cart final calculation.

* Cart.php:1884 => Added Cart::BOTH_WITHOUT_SHIPPING to the array to check at the IF statement
* Cart.php:1905 => Move the "case Ca

[2018-10-05 12:29] #10630 closed, assigned to nobody

[2018-10-05 12:53] Ybeske opened #10875 "Add Search filter (by ean/upc/location) for Stock update"
I really miss the feature to search by ean code, upc code and product location in the search bar for stock management - stock update movements.

"search by ean-/upc code": When the products arrive, the need to search by ean and upc code - using a barcode scanner- will be very user friendly to easily find the right product to update!

"search by product location": the search filter by product locat

[2018-10-05 13:06] Shiryu75 opened #10876 "Specific Price - Catalog rules - date filtering - PrestaShopDatabaseException"
**Describe the bug**
PrestaShopDatabaseException error on the controller AdminSpecificPriceRule. The filtering system on the dates is causing that when using arrows.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin controller AdminSpecificPriceRule (catalog -> discounts) -> Catalog rules.
2. Create at least 2 CATALOG RULES
3. After that, try to apply a filter on the dates by using

[2018-10-05 14:41] matks commented on #10823
To be tried:

[2018-10-05 14:43] BilalDr commented on #10502
This page needs to have an Helper Card.
refer to this PR : https://github.com/PrestaShop/PrestaShop/issues/10434

Thanks

[2018-10-05 15:40] Ybeske opened #10880 "Wrong Product sort order by quantity"
**Description**
In the "Pagination" section under "Shop Parameters" > "Product Settings", Prestashop wisely offered the product order "by quantity" so you could display the product with high quantities first for example.
However, the sort order in't changing in the correct sort order.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Shop Parameters" > "Product Settings"
2. Scroll down

[2018-10-05 15:53] mikecastrodemaria commented on #10853
@khouloudbelguith Any advice ?

[2018-10-05 15:54] BilalDr commented on #10565
This page needs to have an Helper Card.
refer to this PR : #10434

Thanks

[2018-10-05 15:55] BilalDr commented on #10559
This page needs to have an Helper Card.
refer to this PR : #10434

Thanks

[2018-10-05 15:56] BilalDr commented on #10545
This page needs to have an Empty States.
refer to this issue : #10434

Thanks

[2018-10-05 15:58] BilalDr commented on #10552
This page needs to have an Helper Cards.
refer to this PR : #10434

Thanks

[2018-10-05 16:04] ntiepresta opened #10881 "Help message header isn't displayed correctly"
Describe the bug
In BO, Attributes & Features page, Brand & Suppliers page , Discounts page (Catalog); Theme & logo page (Design) ; locations page, Taxes page(International) ; Contact page, Search page(Shop Parameters) ; and Team page(Advanced Parameters),Help message header does not displayed correctly. It should displayed like in the categories page.

To Reproduce
Steps to reproduce the behavior

[2018-10-05 16:04] BilalDr commented on #10546
This page needs to have an Empty States.
Check : Cart rules
https://projects.invisionapp.com/share/FQNYNAE6RDJ#/screens/319796788

Thanks

[2018-10-05 16:05] BilalDr commented on #10549
This page needs to have an Empty States.
Check : Catalog price rules
https://projects.invisionapp.com/share/FQNYNAE6RDJ#/screens/319796787

Thanks

[2018-10-05 16:06] BilalDr commented on #10581
This page needs to have an Empty States.
Check : credit slips :
https://projects.invisionapp.com/share/FQNYNAE6RDJ#/screens/319796785

Thanks

[2018-10-05 16:07] BilalDr commented on #10550
This page needs to have an Empty States.
Check : credit slips :
https://projects.invisionapp.com/share/FQNYNAE6RDJ#/screens/319796789

Thanks

[2018-10-05 16:09] web-centre opened #10882 "add to cart button is disabled"
Hi, work on prestashop 1.7.4,
I recently noticed that on some (not all) products, the add to cart button is disabled even if the product is in stock.

for example from this link https://web-centre.it/negozi/buonprezzo/it/illuminazione-led/84139-proiettore-led-di-stelle-innovagoods-8435527811433.html

it is not possible to add the product to cart even though there are 10 products available

[2018-10-05 16:12] BilalDr commented on #10631
This page needs to have an Empty States.
Check : product page :
https://projects.invisionapp.com/share/FQNYNAE6RDJ#/screens/319796784

Thanks

[2018-10-05 16:13] BilalDr commented on #10633
This page needs to have an Helper Cards .
Check : "Handle your stock here" :
https://projects.invisionapp.com/share/FQNYNAE6RDJ#/screens/318967518

Thanks

[2018-10-05 16:14] BilalDr commented on #10634
This page needs to have an Helper Cards.
Check : "Have a look at your store history" :
https://projects.invisionapp.com/share/FQNYNAE6RDJ#/screens/318967518

Thanks

[2018-10-05 18:21] MathiasReker commented on #9782
@khouloudbelguith sorry, I can't reproduce. Everything is OK on 1.7.5.0. Please see this record.

[cant-reproduce.zip](https://github.com/PrestaShop/PrestaShop/files/2451690/cant-reproduce.zip)

[2018-10-05 18:26] MathiasReker commented on #9932
can someone reproduce this on a record? I can't reproduce it.

[2018-10-05 18:49] MathiasReker commented on #9932
I can't reproduce this on 1.7.5.0. I just made a video, but the video is >10mb

[2018-10-05 22:42] RaspTLC opened #10884 "Search module prestashop 1.6 does not work perfectly"
Hello everyone and thank you in advance who will answer!
The search in my shop does not work perfectly, it does not find all the products.
Let me explain: for example, looking for the word "abito", the research should return 2 products instead it shows only one (and so also with other words).
The search is not complete!
I rebuild the entire index but it does not even work.
Can someone help me?

I

[2018-10-06 02:00] cmroanirgo commented on #10819
I'm not sure if the labels are correct. To me, this is a bug.

Have a look at the developer documentation (https://devdocs.prestashop.com/1.7/modules/creation/)

This clearly isn't happening, and truthfully, being new to Presta development, I've no idea how to realistically develop a module if the only way is to upload a zip file all the time! Nevertheless, the general feel of the documentation is

[2018-10-06 09:04] jachymb opened #10885 "nav-bar is a class in html, but marked as id in css"
**To Reproduce**
Symptom: When I click "Print order" in the admin section. There is rubbish from the sidebar in the printed page.

**Describe the bug**
I believe that the cause is following: This is in the html page:

    <nav class="nav-bar d-none d-md-block" role="navigation" id="nav-sidebar">

But there is

            #header, #footer, #nav-bar, #nav-topbar, .hidden-print
                displ

[2018-10-06 09:25] jachymb commented on #10885
Note: there is also mention of `#nav-bar` in the file `admin/themes/default/sass/partials/_rtl.sass`

[2018-10-06 15:07] Maofree opened #10886 "1-click upgrade module - "Keep the customized email templates" does not work"
Hi
I've upgraded from 1.6.1.20 to 1.6.1.21 with 1-click upgrade 4.2.0 and the option "Keep the customized email templates" does not work, each time all emails inside mails/ are updated
I've no tested to upgrade the 1.7 versions but probably it does the same thing

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/46572678-5562ac80-c98a-11e8-88c2-8de5db767541.png)

**Additionnal

[2018-10-06 15:16] durgaprasadkundu commented on #10470
Hi @maofree ,
Thanks for linking & referring to my post.:)

As per HTML5, yes, we can add multiple H1s but in different sections in a page. We’ve been practicing the same for our clients without any issues. And recently, Google has also confirmed that.

But here in this case, H1 for two category names shouldn’t be used.

[2018-10-06 18:37] vledenev commented on #10264
Thank you! It helped me

[2018-10-06 18:58] demeldoo commented on #10866
Hello @khouloudbelguith , i belive they tested the site with Opera browser, can you please recheck.

It's not showing on my latest Opera browser, also there is a secondary bug changing the quantity in the cart (plus , minus).

Best wishes,

Jimmy

[2018-10-06 19:08] demeldoo commented on #10866
also, have you checked the v2.0.2  version of advanced eu complinace running php 7.1, file cache on, apcu cache, smart cache on, compression...move js to end...everything on

[2018-10-06 19:09] demeldoo commented on #10866
because i have tested also chrome, safari , firefox

[2018-10-06 19:18] demeldoo opened #10887 "opera and safari quantity changing on checkout in 1.6.1.20"
opera and safari quantity changing on checkout resulting a strange behaviour.. very bugy.

please recheck, try to change quantities in latest versions of opera and safari browser... try also from 1 to go down

kind regards,

jimmy

[2018-10-06 19:19] demeldoo opened #10888 "safari adress on checkout"
hello,

the adress is not showing on boxes in the checkout process...

please retry with latest version of safari browser,

thank you in advance,
jimmy

[2018-10-06 19:20] demeldoo commented on #10888
also, there is a big red warning when you go to next step

[2018-10-07 11:19] Bettelstab commented on #10784
@PierreRambaud
Thanks! I tried that, but it didn't seem to work. I didn't put too much effort there, though, since I had to do it in a hacky way anyway, so I didn't debug it properly. Even if it works, there are still cases where doctrine is not used and it throws an error then without the change I described above.

[2018-10-07 13:24] adctive opened #10893 "Product availability_message incorect if order out of stock products is disabled"
BUG:
The $product.availability_message in product template is always displayed as "There are not enough products in stock"  if order of out of stock products is not allowed and it should display PS_LABEL_OOS_PRODUCTS_BOD

src/Core/Product/ProductPresenter.php:480
 } elseif ($product['quantity_wanted'] > 0 && $product['quantity'] >= 0) {  //this should be '>' not '>='

! notice: also availability_m

[2018-10-07 20:12] dpalauzov commented on #9780
Hi Guys,

any progress on that issue? i am facing it since version 1.7.4.0 to 1.7.4.3

Thanks!

[2018-10-08 01:07] jmceara opened #10894 "Can't install any module: Call to undefined method DbPDO::autoExecute()"
**Describe the bug**
Can't install any module on frash-new install of PrestaShop

**To Reproduce**
Steps to reproduce the behavior:
1. Install a fresh new PrestaShop
2. Go to admin insterface and try to install any module using GUI
3. Got error 500 and this error in logs: "Call to undefined method DbPDO::autoExecute()"

**Screenshots**
If applicable, add screenshots or screenrecords to help explai

[2018-10-08 01:09] jmceara commented on #10894
Full error:

[code]

[2018-10-08 02:09] k2165 opened #10895 "500 Internal Server Error"
Describe the bug
500 Internal Server Error

To Reproduce
Steps to reproduce the behavior:

Login background
Click on Modules & Services menu
![image 6](https://user-images.githubusercontent.com/43941963/46589895-70940000-cae1-11e8-8505-a8a7e727e50c.png)

wait a minute
then show error
![image 8](https://user-images.githubusercontent.com/43941963/46589938-f87a0a00-cae1-11e8-9514-0a8abc0973b5.png)

A

[2018-10-08 02:49] checkaxon opened #10896 "PDF attachments file can't down load"
I can't download attachments file.
https://proteushop.fr/en/oxygen-sensors/90678-oxygen-sensor-nrc-d-01-eq-r17-d.html

[2018-10-08 07:00] Sisow commented on #10445
Dear Khouloud,

looks something in Giropay/EPS, can you switch it off in the Sisow settings?
I'll check it out why this error occurs.

With kind regards,
Mark van Haaren
Sisow

[2018-10-08 07:12] marionf commented on #10264
Thanks for diving into this @Xaconi

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2018-10-08 07:30] tomlev commented on #9505
I tried refreshing the page but the page state is lost (checked radio or other)
The best way to properly update the cart total in the payment module page is to do that from ajax response. But modules have to be upgraded to properly display the expecting price format (check payment module tries to display price like '23 € TTC' : core can only send '23 €' so module has to be updated with the correct

[2018-10-08 07:45] khouloudbelguith commented on #10896
Hi @checkaxon,

Have you tried to contact the theme author?
![image](https://user-images.githubusercontent.com/16067358/46597062-ddf26180-cade-11e8-9df6-5bf312be19e6.png)
Thanks to check with them & feedback.

Best regards, Khouloud

[2018-10-08 07:52] #9785 closed, assigned to nobody

[2018-10-08 07:56] khouloudbelguith commented on #10888
Hi @demeldoo,

Could you please provide us with more info?
 - PrestaShop version (source)
 - screenshots
 - Did you use the default theme of Prestashop ?

Thanks!

[2018-10-08 08:08] khouloudbelguith commented on #10895
Hi @k2165,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

- debug mode report
- PHP error logs
- apache error log
- javascript console log

Don't you know how to get this information? Please read the following article:

**Adding logs**
Sometimes you just don’t know what’s wrong: something’s not happening, that’s all.

That’s where

[2018-10-08 08:11] khouloudbelguith commented on #10869
Hi @fujitsuDev,

Thanks for your report.
Could you please try to re-install the Faceted Search module.

PS: Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks to check and feedback.

[2018-10-08 08:54] khouloudbelguith commented on #10894
Hi @jmceara,

Thanks for your report.
What is the exact command line that you are launching using GUI?

[2018-10-08 09:07] matks commented on #10285
Here is a summary of the discussions which happened on gitter:

## Interfaces

- Form Factories:
[code]
(EDITED: removed `public function save(array $data, $id = null);`
- Form Data Providers:
[code]
- Form Data Handlers:
[code]

`$id` is a nontyped parameter in order to provides flexibility

[2018-10-08 09:09] sethsnel opened #10900 "Internal Server Error on [GET configurations] API call"
**Bug Description**
Our module mainly sets up a connection api authorization between PrestaShop and our system.
For most users this works perfectly fine. However, we have difficulty retrieving the shop configurations for some users.

This is an example call for a user which works fine:
https://pastebin.com/D2TJtCvz

This is an example call for a user which returns an internal server error:
https:/

[2018-10-08 09:13] khouloudbelguith commented on #10870
Hi @corsik,

Thanks for your report.
I manage to reproduce the issue with PS 1.7.4.3 / 1.7.5.x.
![image](https://user-images.githubusercontent.com/16067358/46600567-d3d66000-caea-11e8-94f7-3c0ed68b86f4.png)
We will see how to fix it.
Thanks!

[2018-10-08 09:32] khouloudbelguith commented on #10874
Hi @Ybeske,

Thanks for your report.
We are aware of this issue, in fact, the download sample CSV files is not updated with the new fields.
Your ticket is a duplicate of #9764
So, I close it.
Thanks!

[2018-10-08 09:32] khouloudbelguith commented on #10874
Yes, you are right.
Stock location is back, but this field is not added to the list of import.
https://github.com/PrestaShop/PrestaShop/pull/10422
Related to #9764
We will see how to fix it.
Thanks!

[2018-10-08 09:44] khouloudbelguith commented on #10875
Hi @Ybeske,

Thanks for your improvement.
Related to: #9727.
@marionf what do you think?
Thanks!

[2018-10-08 09:55] khouloudbelguith commented on #10876
Hi @Shiryu75,

Thanks for your report.
I manage to reproduce the issue with PS1.7.4.3 / 1.7.4.2
![image](https://user-images.githubusercontent.com/16067358/46602615-f5d2e100-caf0-11e8-85db-2a83b26fd052.png)
We will see how to fix it.
Thanks!

[2018-10-08 09:59] khouloudbelguith commented on #10873
Hi @itroom-agence,

Thanks for your report.
I did not manage to reproduce the issue with PS 1.7.4.3.
I attached a video record.
https://drive.google.com/file/d/1depnf_QhkBsomnM5DZZhQDLx5TiKeGrE/view
It will help us if you can attach a screen record.
Thanks!

[2018-10-08 10:03] Falataya opened #10902 "Cannot save product information in back office"
I cannot save porduct information in the back office. When I edit/add information on a product and click Save and stay I'm redirected to the product list and the information is not saved. I need to repeat the adding/editing and saving up to 10 times before it is finally saved. The worst section appears to be editing combinations of attributes (e.g. choosing which picture goes with a certain combin

[2018-10-08 10:11] khouloudbelguith commented on #10882
Hi @web-centre,

I did not manage to reproduce the issue with PS 1.7.4.2 / 1.7.4.3.
https://drive.google.com/file/d/1HtBdwJMBUnrAfBsSMF9r3onu67DMERSj/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log

[2018-10-08 10:18] khouloudbelguith commented on #10902
Hi @Falataya,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

- debug mode report
- PHP error logs
- apache error log
- javascript console log

Don't you know how to get this information? Please read the following article:

**Adding logs**
Sometimes you just don’t know what’s wrong: something’s not happening, that’s all.

That’s whe

[2018-10-08 10:21] web-centre commented on #10882
Good morning.
My prestashop version is 1.7.2.4
php: 5.6

to recreate the erroe it is sufficient to go on this link
https://web-centre.it/negozi/buonprezzo/it/illuminazione-led/84139-proiettore-led-di-stelle-innovagoods-8435527811433.html
and click on "add to cart" you will notice that the button remains blogged even if there are enough products, also the same problem happens in other products

![e

[2018-10-08 10:22] khouloudbelguith commented on #10884
Hi @RaspTLC,

In the BO => Preferences => Search page => did you enable the Search exact end match option?
Thanks to disable it, check & feedback.

[2018-10-08 10:23] ghost commented on #10255
Module right now is completely unusable. Shows not available attributes, quantities...

[2018-10-08 10:26] khouloudbelguith commented on #10880
Hi @Ybeske,

Your issue is a duplicate of #9956 so, I close it
Yous should follow this issue.
Thanks!

[2018-10-08 10:26] #10880 closed, assigned to nobody

[2018-10-08 10:26] khouloudbelguith commented on #10880
Duplicate of #9956

[2018-10-08 10:32] arisschl opened #10903 "No carriers available in checkout when cart rule with a minimum amount & shipping included is not used"
**Describe the bug**
When you have a cart rule that only applies from a minimum amount or quantity, no carriers are available in the checkout.

**To Reproduce**
Steps to reproduce the behavior:
1.Create cart rule without code

1. In the condition Tab "Minimum amount 100 EUR & Shipping included
1. In the actions tab, apply any action => Apply a discount
Go to FO, add to cart a product which price =

[2018-10-08 10:51] khouloudbelguith commented on #10903
Hi @arisschl,

I did not manage to reproduce the issue with the last version 1.7.4.3.
I attached a video record.
https://drive.google.com/file/d/1UJHiEeXWv7x7oLbokBPaFHHtRB36LwgY/view
Thanks to check & feedback.

[2018-10-08 10:53] ghost commented on #10882
![bez-nazwy-2](https://user-images.githubusercontent.com/8243273/46605210-0a1adc00-caf9-11e8-80f7-4e633d41b620.jpg)
Looks like .js problem (Empty string passed to getElementById().)

[2018-10-08 10:57] dgtn-va commented on #10869
Thanks for response.

Cache is already completly disabled and cleared many times. Module already re-installed too, two times.
Sorry, I should have said.
![performances](https://user-images.githubusercontent.com/43678844/46605408-ad6bf100-caf9-11e8-94c4-8c5d978b5fd9.jpg)

[2018-10-08 10:58] khouloudbelguith commented on #9780
@dpalauzov, sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2018-10-08 11:01] khouloudbelguith commented on #10885
Hi @jachymb,

This is the PR to fix the issue: #10135
The issue will be fixed on 1.7.5.0. I'm closing as this is a duplicate of #9527.

[2018-10-08 11:01] #10885 closed, assigned to nobody

[2018-10-08 11:02] khouloudbelguith commented on #10885
Duplicate of #9527

[2018-10-08 11:15] khouloudbelguith commented on #10869
Hi @fujitsuDev,

I did not manage to reproduce the issue with PS 1.7.4.3 & the ps_facetedsearch module v2.1.2.
![image](https://user-images.githubusercontent.com/16067358/46606140-1ce2e000-cafc-11e8-9f98-3f47731a150c.png)
What is the exact version of the ps_facetedsearch did you use?
Thanks!

[2018-10-08 11:30] web-centre commented on #10882
and how do you solve it?

[2018-10-08 11:36] arisschl commented on #10903
Hi @khouloudbelguith ,

Thanks for checking, I have checked again and found that the error only occurs when the basket rule does not apply to the cart.
So can you please test again with a cart value less than specified in the basket rule?

[2018-10-08 11:38] k2165 commented on #10895
Hi khouloudbelguith :
I press Ctrl + Shit + J when I Click on Modules & Services menu.
Here is snapshot.
![error](https://user-images.githubusercontent.com/43941963/46606977-c1334980-cb31-11e8-9702-0e37b5d2f5d2.png)

[2018-10-08 12:13] dgtn-va commented on #10869
Prestashop v1.7.4.2
ps_facetedsearch v2.2.0, re-installed from https://github.com/PrestaShop/ps_facetedsearch/releases

[2018-10-08 12:14] khouloudbelguith commented on #10887
Hi @demeldoo,

I did not manage to reproduce the issue with PS 1.6.1.21.
I attached a video record.
https://drive.google.com/file/d/1ck5gBVEVLuEs99C4zd4666hFeKEwQFvM/view
Thanks to check & feedback.

[2018-10-08 12:58] khouloudbelguith commented on #10886
Hi @maofree,

There is already an issue for 1.6: http://forge.prestashop.com/browse/PSCSX-9782
It wasn't necessary to create a new one.
So, this one can be closed
Thanks!

[2018-10-08 12:58] #10886 closed, assigned to nobody

[2018-10-08 13:03] idnovate commented on #10895
Enable debug mode and paste the error that you get

[2018-10-08 13:14] khouloudbelguith commented on #10893
Hi @adctive,

Thanks for your fix suggestion.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-10-08 13:20] matks commented on #10316
The migrated SQL Manager page has been hidden for 1.7.5 and will be back only for 1.7.6.
So this issue is now for 1.7.6.

However there is a new issue for 1.7.5, most of queries obtained by the scenario of this Issue
are considered not valid by the old Legacy SQL Manager (this is because we upgraded PHPSQLParser). [New issue created for 1.7.5](https://github.com/PrestaShop/PrestaShop/issues/10908)

[2018-10-08 13:20] febestore opened #10907 "Offical PayPal module error"
Hello.
I have a huge problem with official PayPal module. Module downloaded from https://addons.prestashop.com.
I have multistore with Polish and German shop.
When You try to enter German shop there are few PHP errors - screenshot in attachment.

PayPal module is turned off at Polish shop (https://www.febe.store/sklep/pl/) - everything works fine.

I have reinstalled the module. But the error stil

[2018-10-08 13:24] matks opened #10908 "Undefined "checkedForm" error on valid queries in SQL Manager"
**Describe the bug**
I have an error message "undefined checkedForm" when I try to export order sql query to sql manager. The SQL queries used to be considered valid in previous versions of PrestaShop.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Orders > Orders or Orders > Credit slip or Catalog > Products or Catalog > Categories
2. Click on Export to sql manager
3. Click on Save
4

[2018-10-08 13:27] khouloudbelguith commented on #10900
Hi @sethsnel,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2018-10-08 13:27] matks opened #10910 "[SF Migration] Introduce a 'template' property for Columns to allow override ?"
https://gist.github.com/sarjon/50a2e79435e0902e6b1eb74a4d620538

Idea is to allow developers to override the template being used to render a Grid column for 1 grid only.
This could be done by adding a `template` property to columns, that would be used by Twig when not null.

Currently twig finds Twig template to render a column using `type`.

[2018-10-08 13:30] khouloudbelguith commented on #10907
Hi @febestore,

The Paypal module isn't developed by PrestaShop.
You can contact the developer of this module here: https://www.202-ecommerce.com/en/partners-modules/technical-support/
Thanks for your understanding!

[2018-10-08 13:30] #10907 closed, assigned to nobody

[2018-10-08 13:31] matks commented on #10579
See https://github.com/PrestaShop/PrestaShop/pull/10839

[2018-10-08 13:49] lacrm opened #10912 "Wrong total and total_wt on order-confirmation with customization"
**Describe the bug**
in the confirmation page, the total and the total_wt is wrong when we add a customization in the cart
![image](https://user-images.githubusercontent.com/17384523/46612653-773a6b80-cb11-11e8-8618-242858d49ad9.png)

**Additionnal information**
PrestaShop version: 1.7.4.2
PHP version: 7.1

In classes\Product.php
![image](https://user-images.githubusercontent.com/17384523/46612473

[2018-10-08 13:49] khouloudbelguith commented on #10871
Hi @itisco,

Thanks for your report.
I manage to reproduce the issue with PS 1.7.4.3.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2018-10-08 13:58] matks commented on #10193
1st PR merged because too big, another is coming to handle unprocessed code review feedbacks and QA validation

[2018-10-08 14:00] Werbike opened #10914 "Module site in BO didn't working"
When I enter Modules, nothing want to load and I've got problems like in this SS http://prntscr.com/l3le2v
In debug mode > http://prntscr.com/l3leow

Any solutions ?

[2018-10-08 14:00] khouloudbelguith commented on #10912
Hi @lacrm,

I did not manage to reproduce the issue with the last version 1.7.4.3.
![image](https://user-images.githubusercontent.com/16067358/46613340-4bb88080-cb13-11e8-81ba-cd5098458840.png)
![image](https://user-images.githubusercontent.com/16067358/46613345-4f4c0780-cb13-11e8-8980-b9d2932b9e53.png)
Thanks to check & feedback.

[2018-10-08 14:03] sethsnel commented on #10900
@khouloudbelguith I don't have acces to the users store/shop. So it is not easy to retrieve these server side logs and reports.

[2018-10-08 14:04] matks commented on #10285
I believe we have enough material to start doing some CRUD pages. There might be some improvements later but we agreed on the main components so even if we change things later, the changes to be made to already-done-CRUD-pages will be minor.

[2018-10-08 14:07] khouloudbelguith commented on #10900
@sethsnel The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself is vague, there are actually several different issues that can cause the 500 error message to appear.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

[2018-10-08 14:19] lacrm commented on #10912
With a fresh install (1.7.4.3) :
![image](https://user-images.githubusercontent.com/17384523/46614300-c84c5e80-cb15-11e8-94c0-e4969db5401c.png)

[2018-10-08 14:20] khouloudbelguith commented on #10895
Hi @k2165,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache from your shop & your browser.
Thanks to check and feedback.

[2018-10-08 14:23] marionf opened #10915 "Display issue in virtual product email"
**Describe the bug**
Some html tags are displayed in email when you order virutal product

**To Reproduce**
Steps to reproduce the behavior:
1. Go to advanced parameters > Email and choose Send email in text format
2. Make sure you receive email (test it)
3. Go to Catalog > Product
4. Create a new virual product with a file
4. Order this product
5. Put the order in "payment accepted" status
6. See

[2018-10-08 14:25] idnovate commented on #10895
@k2165
This JS error is not related with the other error. This is an error throwed by a moduel from @Dh42

[2018-10-08 14:34] Dh42 commented on #10895
Unhook the module from the header, that will solve the javascript error. That is our advertising block it is trying to load.

[2018-10-08 14:36] jmceara commented on #10894
Modulos -> Modulos e Serviços -> Enviar Modulo. (Modules -> Modules and Services -> Upload Module).

[2018-10-08 14:40] khouloudbelguith commented on #10912
@lacrm, thanks for this clarifications.
I manage to reproduce the issue on the order confirmation page with PS 1.7.4.2 / 1.7.4.3 / 1.7.5.x.
![image](https://user-images.githubusercontent.com/16067358/46615649-09923d80-cb19-11e8-9263-ddcc77e47366.png)
We will see how to fix it.
Thanks!

[2018-10-08 14:50] lacrm commented on #10912
You're welcome @khouloudbelguith 😉

[2018-10-08 14:54] khouloudbelguith commented on #10914
Hi @Werbike,

Thanks to follow this link: https://twitter.com/PrestaShop/status/1046770589002878977
The Addons API is currently having performance issues, and our developers are working to find a solution asap.
Thanks!

[2018-10-08 15:01] khouloudbelguith commented on #10903
@arisschl, it is OK when the cart value less than specified in the basket rule or cart value more than specified in the basket rule
https://drive.google.com/file/d/1uW1UnlNzT_jxFWZVuKFlYz60RT2YlQeq/view
Could you please check your shipping locations & feedback.

[2018-10-08 15:05] khouloudbelguith commented on #10869
@fujitsuDev, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestasho

[2018-10-08 15:15] khouloudbelguith commented on #10894
@jmceara,

The issue occurs only with the qvmcarriercorreiosfree module?
Have you tried to contact the module author?
Thanks!

[2018-10-08 15:17] marionf commented on #10611
We need to think to change the link in product page

![capture d ecran_405](https://user-images.githubusercontent.com/13449658/46617790-f5047400-cb1d-11e8-9d8f-f2d24c4c8840.png)

[2018-10-08 15:19] marionf commented on #10591
We need to think to change the link here:

![capture d ecran_406](https://user-images.githubusercontent.com/13449658/46617921-575d7480-cb1e-11e8-93ac-3086b566bbd4.png)

[2018-10-08 15:26] marionf opened #10918 "Bad breadcrumb in new category page"
**Describe the bug**
Bad breadcrumb in new category page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Categories > New category
2. The breadcrumb link is ok but it should be Modules > Module manager

**Screenshots**
![capture d ecran_407](https://user-images.githubusercontent.com/13449658/46618232-4b25e700-cb1f-11e8-9698-54c07e4a34ed.png)

**Additionnal information**
Prest

[2018-10-08 15:33] Werbike commented on #10914
They postet on 2th Oct that's fine... today its 8th and I can't still upload or buy any module..

[2018-10-08 15:34] marionf commented on #10559
We need to think to change this link:
![capture d ecran_408](https://user-images.githubusercontent.com/13449658/46618654-69401700-cb20-11e8-9df3-17506c392953.png)

[2018-10-08 15:37] marionf commented on #10547
We need to think to change this link:
![capture d ecran_409](https://user-images.githubusercontent.com/13449658/46618824-c89e2700-cb20-11e8-8b6f-2399d948e80d.png)

[2018-10-08 15:39] marionf commented on #10560
We need to change this link:
![capture d ecran_408](https://user-images.githubusercontent.com/13449658/46618928-09963b80-cb21-11e8-9fad-ae3e7b2b20b9.png)

[2018-10-08 15:41] marionf commented on #10558
We need to think to change this link:
![capture d ecran_410](https://user-images.githubusercontent.com/13449658/46619032-537f2180-cb21-11e8-882c-a030b04d11f1.png)

[2018-10-08 15:44] marionf commented on #10624
We need to think to change this link:
![capture d ecran_411](https://user-images.githubusercontent.com/13449658/46619207-d902d180-cb21-11e8-9231-043d3691aef8.png)

[2018-10-08 15:46] khouloudbelguith commented on #9782
@Mreker, the customer that we deleted must have at list one address.
I still have the issue with 1.7.4.3. / 1.7.5.x

[2018-10-08 15:47] marionf commented on #10565
We need to think to change this link in ps_themecusto module:
![capture d ecran_413](https://user-images.githubusercontent.com/13449658/46619372-3d259580-cb22-11e8-8100-ce27a79f489b.png)

[2018-10-08 15:50] marionf commented on #10542
We need to think to change this link in ps_themecusto module:
![capture d ecran_414](https://user-images.githubusercontent.com/13449658/46619521-91c91080-cb22-11e8-8a1e-1c44254b0ed2.png)

[2018-10-08 15:58] khouloudbelguith commented on #10866
@demeldoo, it is OK with Opera browser_version=56.0
![image](https://user-images.githubusercontent.com/16067358/46619988-cbe6e200-cb23-11e8-8cb7-c64503b25621.png)

[2018-10-08 16:00] khouloudbelguith commented on #10895
@k2165,

As it's not the module provided by Prestashop, we can't do anything with this.
I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-08 16:04] Dh42 commented on #10895
The 500 error is not caused by our module, it just loads a javascript snippet. There would be no javascript snippet in the source of the 500 error page. This is a prestashop issue.

[2018-10-08 16:05] khouloudbelguith commented on #10853
@mikecastrodemaria, as I said before, The solution to fix issues is to add the missing columns to your database schema.

[2018-10-08 16:07] khouloudbelguith commented on #10914
@Werbike, this issue is not fixed yet, we suggest you to use this workaround to temporary disable API calls: http://bit.ly/2zIVejJ

[2018-10-08 16:19] khouloudbelguith commented on #10833
ping @Quetzacoalt91 what do you think of this issue?

[2018-10-08 16:20] khouloudbelguith commented on #10803
@web-centre, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

[2018-10-08 16:20] #10803 closed, assigned to nobody

[2018-10-08 16:21] khouloudbelguith commented on #10858
Hi @Benla79,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2018-10-08 16:24] khouloudbelguith commented on #10895
@Dh42 thanks!
@k2165 we need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.

[2018-10-08 16:36] wojcin1 opened #10920 "Bug with open "catalog - product page""
Bug with open "catalog - product page"

https://www.evernote.com/shard/s378/sh/fe2c479b-249c-4a2f-9565-1a7f861a46ba/119b69946951ce2db66b902d71bb21a4

Regarding continuation to ISSUE:  BOOM-6192 after again reinstall, even upgrade to 1.7.4.3 no helped.

[2018-10-08 16:54] khouloudbelguith commented on #10920
@wojcin1,

Could you please add steps to reproduce the issue in a new comment.
What is the exact version of the module 1-click upgrade did you use?
Thanks!

[2018-10-08 16:58] khouloudbelguith commented on #10445
HI @twazerty,

I attached a video record.
https://drive.google.com/file/d/1YnyqLfMjKFY-DRxiA2G7WgqHbbZXClrh/view
Thanks to check & feedback.

[2018-10-08 17:42] demeldoo commented on #10866
hello,

yes now it is working... does the module grabs something from the internet ??? because it started working now

[2018-10-08 17:42] demeldoo commented on #10887
Please close this ticket, this was caused by poor internet connection.

My apologizes

[2018-10-08 17:56] wojcin1 commented on #10920
It is happening in my back office while i am trying to get into my Catalog Product Page.

[2018-10-08 20:41] Ingematic commented on #10118
Hi,
i have find the "Error 500 Internal Server Error" in the admin section, after uninstall the module 1-click upgrade ver 4.0.0
I have version PS 1.7.4.2
If i rename the /root/modules/ps_facetedsearch in other name, the error 500 not compare.
After if i restore the name of module ps_facetedsearch then i have the error 500.
Have you any idea?
Thank you
Michele

[2018-10-08 22:17] lozaria opened #10922 "Error 500 during installation - appParameters.php - Permission denied"
Hello,

I'm getting error 500 on two different hosting companies (bluehost.com and superhosting.bg) when trying to install Prestashop 1.7.4.3 and 1.7.4.2

The error log is: [Mon Oct 08 13:11:48 2018] [warn-ioncube] mmap cache can't open /home/..../var/cache/prod/appParameters.php - Permission denied

I made 777 permissions on the whole store's files and folders..
I tried to use United States setti

[2018-10-08 23:06] darkf3d3 commented on #9576
I have the same problem on PS1.7.4.2.
Do you know when this will be fixed?

[2018-10-09 01:58] k2165 commented on #10895
Hi khouloudbelguith:
Is this PHP error log  ?
![image 11](https://user-images.githubusercontent.com/43941963/46642447-d77cec00-cba9-11e8-9dcb-beea490b912b.png)

And after I Enable Debug Mode then click on  Modules & Services menu.
The following screen pops up:
![image 7](https://user-images.githubusercontent.com/43941963/46642776-68a09280-cbab-11e8-91eb-86c744d0d004.png)

[2018-10-09 02:08] Dh42 commented on #10895
FTP into your site, and go to the modules directory, find the module named newsletterpro and rename it with an underscore in front of the name, like _newsletterpro.

[2018-10-09 02:16] k2165 commented on #10895
Hi Dh42:
I can find and rename it .
And the next ?Try again?

thanks !

[2018-10-09 02:18] Dh42 commented on #10895
Yeah, try to load the modules page again and see if you get the 500 error.

[2018-10-09 02:44] k2165 commented on #10895
Hi Dh42:

Actually, it didn’t appear 500 error  in the morning.
So I am not sure if it is related to this change.
But it still appears this image:

![](https://user-images.githubusercontent.com/43941963/46642776-68a09280-cbab-11e8-91eb-86c744d0d004.png)
And I am afraid that it will be good or bad.
I want to know the cause or the root problem.

thanks a lot.

[2018-10-09 03:01] Dh42 commented on #10895
The cause of the problem is the person that wrote the opay module has some undefined variables and a couple other things. Nothing major, turn debug mode off and move on.

[2018-10-09 03:24] remagalot opened #10923 "Orders are placed on "On Backorder (paid)" with 1 item in stock"
**Describe the bug**
When stock item is 1, and order is placed, instead of fulfilling order, order is placed On Back order (Paid)

**To Reproduce**
Steps to reproduce the behavior:
1. Place order for item with 1 stock
2. Order is marked at Delivered
3. Order is marked as On Backorder(paid)

**Additionnal information**
PrestaShop version:  1.7.4.2

[2018-10-09 06:36] Sisow commented on #10445
Dear,

Could you try this plug-in, it’s the lasted update with the fix for the non-numeric error.

Met vriendelijke groet,

Mark van Haaren
R&D Manager

[1507886609460_sisow.png]

Binnen Parallelweg 14
5701 PH Helmond

E:   m.vanhaaren@sisow.nl<mailto:m.vanhaaren@sisow.nl>
W: https://www.sisow.nl
T:   +31 (0)85 2 734 734

Volg ons op:
[1507836975509_linkedin.png]<http://www.linkedin.com/company/si

[2018-10-09 06:52] yooniks9 commented on #9542
Hi there,

For those who have this issues, it should be fine, please checkout my screenshot

https://share.ten2.tw/file/tentendropshare/Screen-Shot-2018-10-09-14-46-15.png

https://share.ten2.tw/file/tentendropshare/Screen-Shot-2018-10-09-14-47-55.png

just an minor issues of data response.

[2018-10-09 07:44] khouloudbelguith commented on #10922
Hi @lozaria,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Before the installation, could you please enable the mode dev.
You can enable the Debug Move using an FTP client (for instance the free Filezilla tool) to edit the config/defines.inc.php file. Find the following line in the file:
define('_PS_MODE_DEV_', false);
… and change it to:
def

[2018-10-09 07:47] arisschl commented on #10903
@khouloudbelguith, can you please check the video at
https://drive.google.com/file/d/1jRnBXAD5oH0U6Im3LIcmQc8Iv2PCHrMb/view

Found out that the indication "Shipping included" of the basket rule has effect on the error.

[2018-10-09 07:50] khouloudbelguith commented on #10923
@remagalot, this issue is fixed in the PS 1.7.4.0, Here's the PR https://github.com/PrestaShop/PrestaShop/pull/8985 to solve the problem.
What is the exact version PrestaShop did you use?

[2018-10-09 07:53] sethsnel commented on #10900
@khouloudbelguith Okay I'll try to gain access to their shop.

[2018-10-09 08:10] khouloudbelguith commented on #10900
@sethsnel, thanks!
Waiting for your feedback.

[2018-10-09 08:12] khouloudbelguith commented on #10903
@arisschl, I need permission to see the video record.

[2018-10-09 08:18] khouloudbelguith commented on #10882
@web-centre, could you please try to enable debug mode and paste the error that you get

[2018-10-09 08:22] khouloudbelguith commented on #10895
@k2165, yes the error is caused because of the opay module, for a quick fix you need to connect to your FTP, in the PROJECT_FOLDER/modules search for the opay folder, rename it.
You should contact the module author via your addons.prestashop.com account.
Thanks!

[2018-10-09 08:27] khouloudbelguith commented on #10445
Hi @Sisow,

I did not receive anything, you need to connect to GitHub & upload the attachment.
Thanks!

[2018-10-09 08:28] khouloudbelguith commented on #9576
Hi @darfk3d3,

We are aware of this issue, it is added to our bug roadmap.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2018-10-09 08:30] N-Wouda opened #10929 "Upgrade Guzzle to v6"
**Is your feature request related to a problem? Please describe.**
Mostly development: the current version of Guzzle used (v5) is a bit older, does not yet use Psr-7, and blocks the use of other libraries that rely on v6.

**Describe the solution you'd like**
Upgrade the dependency on Guzzle to use the v6 branch.

**Describe alternatives you've considered**
There is none: conflicting namespaces ca

[2018-10-09 08:34] khouloudbelguith commented on #10887
@demeldoo, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

[2018-10-09 08:34] #10887 closed, assigned to nobody

[2018-10-09 08:36] khouloudbelguith commented on #10866
Hi @demeldoo,

Thanks for your feedback.
It could be a browser/shop cache.
Since it is fixed I close the issue, feel free to open a new one when needed.
Thanks!

[2018-10-09 08:36] #10866 closed, assigned to nobody

[2018-10-09 08:39] jolelievre commented on #10811
Will be Fixed by https://github.com/PrestaShop/PrestaShop/pull/10868

[2018-10-09 08:39] k2165 commented on #10895
Hi Dh42:

OK!Thanks.

And thank you, every respondent.

[2018-10-09 08:44] k2165 commented on #10895
Hi khouloudbelguith .

Ok thank you

And Thank you,every respondent.

[2018-10-09 08:44] khouloudbelguith commented on #10895
@k2165, the issue is solved?

[2018-10-09 08:45] fruitfreak opened #10931 "BO errors"
Hi.
My BO is suddenly slow and these errors are showing everywhere in BO.

Error found : CData section not finished https://medias1.prestastore.com/ in country_module_list.xml file.
Error found : Premature end of data in tag img line 1 in country_module_list.xml file.
Error found : Premature end of data in tag module line 1 in country_module_list.xml file.
Error found : Premature end of data in ta

[2018-10-09 08:52] khouloudbelguith commented on #10931
Hi @fruitfreak,

Could you please try to clear cache from your shop & your browser.
Thanks to check & feedback.

[2018-10-09 08:59] MaxL commented on #10931
this is happening on all our prestashop shops too, versions from 1.6 and 1.7
i thinks it's related to prestashop.com being highly unresponsive and since there are so many requests to that domain this is slowing all backends down?

[2018-10-09 08:59] khouloudbelguith commented on #10929
Hi @N-Wouda,

Thanks for your report.
![image](https://user-images.githubusercontent.com/16067358/46658144-4eb67e00-cbb2-11e8-81e0-5747c8f89e50.png)
@eternoendless @PrestaShop/prestashop-core-developers what do you think about his suggestion?
Thanks!

[2018-10-09 09:12] fruitfreak commented on #10931
Okay thanks for feedback! Seems better now. :-)

[2018-10-09 09:14] k2165 commented on #10895
Hi khouloudbelguith:

Yes, thanks a lot.

[2018-10-09 09:18] khouloudbelguith commented on #10931
@fruitfreak can I close the issue?

[2018-10-09 09:19] khouloudbelguith commented on #10895
@k2165 thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!