[2021-08-09 14:06] Rizzen59 commented on #25542
You can't see If you keep the default product_tag.tpl. Only tag are display Not the product availlabilibity.

If you try to use $product.allow_oosp or $product.availability_message in Amy tpl on catalog page, value are incorrect.

But these value are ok on product detail page or on module.

[2021-08-09 14:44] hibatallahAouadni commented on #25552
Hello @Vitamixlife

Could you please edit your issue **following the provided template to submit a complete bug report**.
I think your issue is similar to this one #11506.
Please check and feedback.

Thanks!

[2021-08-09 14:45] matks commented on #25521
@hibatallahAouadni I'd prefer we do not work on this for now because the module ps_googleanalytics might change soon, and go out of the scope of the prestashop project. If this happens, it'll make things harder if it's published on Packagist.

It will be better to enable the Packagist distribution when the module is "in the right hands".

[2021-08-09 14:45] #25521 closed, assigned to nobody

[2021-08-09 14:50] wuliao6688 opened #25553 "After logging in, no matter where I click or refresh, I will log in and can't do anything."
Version: prestashop 1.7.7.5

SQL：MySQL 5.6

PHP：PHP7.3

After logging in, no matter where I click or refresh, I will log in and can't do anything.

Here is the day of PHP

[09-Aug-2021 22:28:26]  [pool www] pid 2013
script_filename = /www/wwwroot/Prestashop/install/index.php
[0x00007fa7a1c20700] file_get_contents() /www/wwwroot/Prestashop/classes/Tools.php:2171
[0x00007fa7a1c20650] file_get_conten

[2021-08-09 14:56] 760644586 commented on #25553
After login, no matter where you click or refresh, you will enter the login page and cannot perform any operation.

[2021-08-09 15:03] matks commented on #25202
## Status update

It is possible to upgrade to 1.7.7.6 .

Docker images for 1.7.7.6 are available.

Bravo @matthieu-rolland

[2021-08-09 15:03] #25202 closed, assigned to matthieu-rolland, marionf

[2021-08-09 15:15] rtvt commented on #25488
Hi @matks
Thank you for answers.

1. Yes, it would be good to select between 2 hooks into module for example.
About transplant module to different hook - of course I can transplant it, but module return nothing to displayProductExtraContent.
It returns comments list only to displayFooterProduct hook.
That's why I ask to add support for this hook too ( or add any other hook ) to show full comments

[2021-08-09 15:19] matks commented on #25488
Thank you for answer!

The request is now clear, I give the hand to @PrestaShop/product-team to sort this into the roadmap.

[2021-08-09 15:58] 760644586 commented on #25553
@shakaran

[2021-08-09 16:34] PierreRambaud commented on #25535
You should check your PHP log to see what failed exactly.

[2021-08-09 16:41] karelkryda commented on #25535
Well, Options MultiViews is disabled by my hosting. That means, it can't work and must be commented. And I think most of shared hostings has MultiViews disabled, so I think it should be commented by default.

[2021-08-09 16:51] PierreRambaud commented on #25535
This is what `Options -MultiViews` is doing, disabling the Multiviews, you can option do it a lot of time, it will work. If you're talking about `mod_negotiation` there is already a condition surrounded it.

[2021-08-09 17:06] hibatallahAouadni commented on #25553
Hello @760644586

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-08-09 17:06] #25553 closed, assigned to nobody

[2021-08-10 05:44] matiasturunen2 opened #25554 "Multiple orders for single shopping cart"
#### Describe the bug

Calling payment return url multiple times within same second may generate multiple orders from single shopping cart.

#### Expected behavior

Only one order is generated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a demo order
2. Pay for order, inspect the return url and block the request from going into prestashop
3. Call return url you just obtain

[2021-08-10 07:15] jameswill opened #25555 "ps_metrics image not loading in sub directory installation"
I have installed Prestashop 1.7.7.6 on one of my test servers with PHP 7.1 and Mysql 5.6

However I am facing an issue post logging into the admin panel. There is a widget sort of thing called **"PrestaShop Metrics"** which fails to load it's image.(please refer image) On debugging I found it's loading image from **"/modules/ps_metrics/views/assets/logo-ps-metrics.7e5c2dc7.png"** which is present

[2021-08-10 07:20] tswfi commented on #14913
correction to the previous. In dev branch as the minussign is a different character the saving does not work at all. (the response from the save request is just `[]` without any error information).

This means that if even one combination has negative stocklevel editing the product is impossible until the negative stock field is fixed by the user.

In expiremental product edit it saving the combin

[2021-08-10 07:31] onklmaps commented on #10762
I can confirm that this is still an issue with 1.7.7.5.

_Millisecond_? No, you can open a checkout window monday and finish it friday. As long as the customer does **no changes on the cart, address or similar**, you can proceed with the order even though  the products in your cart are oversold. You can even open a checkout, then the **admin** sets the stock to 0 manually, well you are still able

[2021-08-10 07:43] Progi1984 commented on #25063
Thanks @Hlavtox ;)

[2021-08-10 08:06] Progi1984 commented on #24850
@matks @MatShir Shouldn't it be fixed in Product v2 page ?

[2021-08-10 08:18] matks commented on #24850
This is not related to the Back Office Product page.

[2021-08-10 08:21] Progi1984 commented on #24850
@matks Are you sure wit `Can't add Virtual products like a vector in PS 1.7.7.X & PS 1.7.8.X` ?

[2021-08-10 08:29] matks commented on #24850
I am sure.

This happens outside of Back Office product page.

Else, this issue story must be reworked to

If the issue is reworked and new scope is only related to Back office Product page we can take it.

[2021-08-10 08:31] Progi1984 commented on #24850
OK. I check it.

[2021-08-10 08:50] TheKombinat commented on #19935
Hi!
**It's Aug 2021 already so a feedback from a comp-sci Msc. folk who is also a shop owner.**

**tl;dr: make the compatibility option "opt-in" not opt-out.**

It's a simple change technically. Backward compatibility of this change is hard to call problematic, since combined coupons is very rare case and can be fixed quickly in the BO. It was already mentioned above and I can send you opinion/evi

[2021-08-10 10:45] hibatallahAouadni commented on #25555
Hello @jameswill

This issue is not a PrestaShop core bug.It's related to PS Metrics.
We will contact the Addons Team to fix it as soon as possible.

We will close this issue.

Thanks for your understanding!

[2021-08-10 10:45] #25555 closed, assigned to nobody

[2021-08-10 10:58] tswfi commented on #14913
#25549 against develop branch now fixes this minusSign parsing issue also.

I've heard there probably wont be another 1.7.7.x release so should this issue be closed?

I do have a fix implemented and here is diff against 1.7.7.x branch:

[code]

[2021-08-10 13:15] aboussaid opened #25560 "Add the possibility of translating the name of the states"
#### Is your feature request related to a problem?

I have a multilingual site (English / Arabic), and I need to translate the states of the active countries, unfortunately the names of the states are not translatable

![image](https://user-images.githubusercontent.com/33961628/128873375-e3ac8988-2227-490b-9eec-e23e9a6a535a.png)

#### Describe the solution you'd like

add the possibility to transl

[2021-08-10 15:15] matks commented on #21752
PR started in https://github.com/PrestaShop/blockreassurance/pull/60 but I could not push it to the merge

[2021-08-10 17:55] #25536 closed, assigned to nobody

[2021-08-10 19:11] seederp2p opened #25565 "1.7.7.6 - ps_order_recalculate_shipping set to NO - Not working correctely"
#### Describe the bug

ps_order_recalculate_shipping set to NO - Not working correctely

#### Expected behavior

When the configuration "Recalculate shipping costs after editing the order" is defined to "No" and the user edits the carrier of an order, the shipping cost of the order remains the same. The order total and invoice are not impacted.
Specs: https://github.com/PrestaShop/prestashop-specs

[2021-08-10 21:18] Spiros333 opened #25566 "Set minimum quantity for sale doesn't work, decreaseable quantity in the checkout."
On cart page, the minimum purchase order quantity for a product is 5 (wholesales) but you can decrease product quantity in the checkout.

Can you assist on this please?

![afbeelding](https://user-images.githubusercontent.com/85503636/128936318-76fefba5-0fef-4a14-b1d4-52b4fbd36424.png)
![afbeelding](https://user-images.githubusercontent.com/85503636/128936385-602c3d96-bd23-4f0e-a9cc-1d270500c4dc.p

[2021-08-10 21:44] spriale commented on #25507
There is no extra module inside Prestashop installed. It has to be from the Prestashop Core. I am not a developer of your code but looking into it I can see a Checkout Module for example that handles the addresses. There should be a module that handles the invoices as well.

[2021-08-11 05:06] jameswill commented on #25555
Hi,

Is there any ETA for the same ? How much time it will take to solve this ? Do I expect new release from Prestashop soon for this ?

[2021-08-11 07:04] #25507 closed, assigned to nobody

[2021-08-11 07:27] #25566 closed, assigned to nobody

[2021-08-11 07:29] hibatallahAouadni commented on #25560
Hello @aboussaid

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-08-11 07:32] hibatallahAouadni commented on #25536
@seederp2p thanks for your feedback.

[2021-08-11 07:50] futurehousestore commented on #25042
Thanks @khouloudbelguith but your testing is slightly different than mine. I use only the English GB language on my website and your test is done on a multilanguage website. Prestashop add a piece of code for multilanguage websites such as <link rel="alternate" href="***" hreflang="en-gb"> which I think fixes the issue found on SEO audit of a single language (GB) website.
![7](https://user-images.

[2021-08-11 08:24] hibatallahAouadni commented on #25565
Hello @seederp2p

I didn't manage to reproduce the issue with PS1776, see the attached screen record below:

https://drive.google.com/file/d/10Mjk-Susg_kSGGK64aU_kJKntOXqFHhs/view

Please check and feedback.
Thanks!

[2021-08-11 09:41] matks commented on #14913
I'm not sure to fully understand: bugs https://github.com/PrestaShop/PrestaShop/issues/14913 and https://github.com/PrestaShop/PrestaShop/issues/25545 are identical ?

Anyway this is what should be done:
- if there is a bug that can be confirmed on `develop` we must fix `develop` first
- when the bug is fixed on `develop`, we must consider whether 1) it can be backported 2) it should be backported

[2021-08-11 09:59] hibatallahAouadni commented on #25554
Hello @matiasturunen2

I really don't understand why you're trying manipulating the functionality, could you please explain to me why you need to call the URL multiple times with nodejs script?
Waiting for your feedback.

Thanks!

[2021-08-11 10:20] tswfi commented on #14913
They are not identical.

#25545 (using abs in stocklevel which changed negative stock to poitive) "masks" #14913 (minusSign was not correctly used which made the stocklevel zero) in develop branch.

PR #25549 against develop fixes both issues in develop (and the diff above fixes #14913 in 1.7.7.x branch which does not  have the abs() problem)

[2021-08-11 10:35] seederp2p commented on #25565
Hello,

I was able to reproduce it on the official demo yesterday. please check this:

https://we.tl/t-R8HzBjaCRs

[2021-08-11 12:51] hibatallahAouadni commented on #25565
Hello @seederp2p

I can't access to your screen record, could you please record your screen with this free tool **Screencastify** :pray:
Please check and feedback.

Thanks!

[2021-08-11 13:23] PierreRambaud commented on #23243
I remove the To Be Specified label as all steps are defined in the issue content.

[2021-08-11 13:27] ouriveferreira opened #25568 "Checkout Bug"
#### Describe the bug

The bug I'm reporting is related to my store's checkout process, when the customer checks out and tries to enter their data to finalize the order, the customer's account goes down.

#### Expected behavior

What I want is for the customer to be able to complete their purchase at my store, without the account going down during the checkout process.

#### Steps to Reproduce

St

[2021-08-11 13:33] Lionel-dev commented on #9867
Very good patch ! Unfortunately, it doesn't work in 1.7.6.5... You have to remove the function parameter and be careful to put the call before the line `$this->appendArray($this->product);` . I take the liberty of repeating your fix with these modifications:

Replace existing function in ProductLazyArray.php by this:

`public function getQuantityDiscounts()
    {
        $id_product = $this->getId

[2021-08-11 14:03] PierreRambaud commented on #24111
Can we remove #20084 from the Must-Have section? If this issue is a must-have for v8.0.0, we need the mock-ups and specifications as soon as possible (I'm expecting it since April) because the development was already done and QA tested, we had to close the PR because of conflicts.
We have a lot of other stuff with higher priority to do, I'm not sure it's quite relevant to keep this kind of issue i

[2021-08-11 14:10] matks opened #25570 "CI is failing - integration tests - php8 Required parameter $id_shop follows optional parameter $id_linksmenutop"
#### Describe the bug

CI is failing on Integration tests with PHP8
[code]

#### Expected behavior

CI should be green ... 😆

#### Steps to Reproduce

See Continuous Integration report from any PR

[2021-08-11 14:18] seederp2p commented on #25565
https://drive.google.com/file/d/1jTdQG56K4I9k-z0e1Jfzp8HiZ1dEs7D_/view

[2021-08-11 14:23] 01park opened #25571 "Option to add house number to address within locations"
#### Is your feature request related to a problem?

For many countries a home number for the address is normal. Unfortunately,  this can be forgotten to be filled in by the customer if this is note made mandatory by the store holder.

#### Describe the solution you'd like

I think this issue can be solved by adding a simple extra field  + home number ( or similar text ) in the localisation area of

[2021-08-11 14:31] ldeprestashop commented on #24111
Ok we could remove the must have.

This feature is very interesting but we lost time dur to CI so we must focus on major retire like PHP, Symphony, Autoupgrade.

I remove the must have tag.
Le 11 août 2021 à 16:03 +0200, GoT ***@***.***>, a écrit :

[2021-08-11 14:51] PierreRambaud commented on #24111
@ldeprestashop I don't see what's the relationship between the CI and the need of specs and mock-ups :thinking:
The work has been done before all CI's problems :thinking:

[2021-08-11 16:30] matks commented on #14480
PR started in https://github.com/PrestaShop/PrestaShop/pull/17249 but not finished

[2021-08-11 17:09] Mikomil opened #25575 "[Feature Request] Update Ghanaian Cedi Symbol"
Kindly update the Ghanaian Cedi symbol on Prestashop. This is the cedi symbol (¢)
 Thank You

[2021-08-11 19:24] #25568 closed, assigned to nobody

[2021-08-11 20:51] hibatallahAouadni commented on #25571
Hello @01park

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fea

[2021-08-12 03:43] BenTen commented on #25560
@aboussaid be patient, I already created a ticket #11294 in 2018 :D

[2021-08-12 07:27] hibatallahAouadni commented on #25560
@BenTen Thanks for the tip, I habe been searching for your issue :sweat_smile:
Well, we already have the PM approval but we need users vote for it to change the status of the improvement to **`ToDo`** :wink:

[2021-08-12 07:28] hibatallahAouadni commented on #25560
Hello @aboussaid

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #11294 .
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-08-12 07:28] #25560 closed, assigned to nobody

[2021-08-12 07:28] hibatallahAouadni commented on #25560
Duplicate of #11294

[2021-08-12 08:10] javierdelval opened #25577 "Performance issue when loading front end"
#### Crome web developer performance tool analysis

When we do a performance analysis on 1.7.6.8, shop starts rendering ok (1.jpg). At 2.jpg the page render seems to be restarted. In 3.jpg and 4.jpg we see the render ended. This issue worsens the load performance noticeably. We have noticed this effect in 1.7.6.1 and 1.7.6.5

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Open Chrom

[2021-08-12 08:58] Huluti opened #25578 "Add a simple way for a module to require a minimum version of PHP"
#### Is your feature request related to a problem?

As a module developer, we need to prevent installs and upgrade to a module that will requires PHP 7.1 at least for example.

#### Describe the solution you'd like

It would be good to have a simple way to specify this prerequisite and don't allow installs or upgrades.

#### Alternatives you've considered

I've managed to detect versions of PHP us

[2021-08-12 09:21] khouloudbelguith opened #25579 "BO - Add new Order page - Summary block - Total taxes & Total (Tax excl.) & Total (Tax incl.) are not updated when adding a voucher without code"
#### Describe the bug

In the BO > Add new Order page > in the summary block, the Total taxes  & Total (Tax excl.) & Total (Tax incl.) are not updated when adding a voucher without code.
It is just an ajax issue.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Add new Order
2. Choose a customer and choose a product
3. Click on Add new voucher > Fill fields of a v

[2021-08-12 09:38] hibatallahAouadni commented on #25577
Hello @javierdelval

Thanks for your issue!
Could you please downgrade your PHP version to 7.2 cause PS176x is not compatible with PHP 7.3 (see our [sysem requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart)).
I know it may not related to your issue performance, but let's check :wink:

Thanks!

[2021-08-12 09:49] Jeevachezhiyan commented on #25369
Hi Team,

I fixed this issue by deleting the auto-upgrade module.

Thanks

[2021-08-12 09:51] SD1982 opened #25581 "FO - Order details - Download link is not displayed in order details for a virtual product if product is in a pack of virtual products"
#### Describe the bug

If we create a pack of virtual product and after creation we add associated file to the virtual products contained in the pack
After an order, the link to download the associated file is not displayed in the order details

Maybe related with : #25582

#### Expected behavior
The download link should be displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. G

[2021-08-12 09:51] SD1982 opened #25582 "BO - Create product - Can't add a virtual product to a pack if the virtual product have associated file"
#### Describe the bug
If you want to create a product pack with virtual products it is not possible to add a virtual product that has an associated file

Maybe related with : #25581

#### Expected behavior

It should be possible to add to a pack a virtual product that has a file associated with it

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO
2. Create a virtual product w

[2021-08-12 10:01] hibatallahAouadni commented on #25578
Hello @Huluti

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this f

[2021-08-12 10:06] javierdelval commented on #25577
hi,

thanks for your quick answer. I've checked with php 7.2 version and I have
the same effect. I configured 7.3 because my hosting provider has issues
with imagick with 7.2.

regards

Javier

El jue, 12 ago 2021 a las 9:38, Hibatallah Aouadni (<
***@***.***>) escribió:

[2021-08-12 10:08] hibatallahAouadni commented on #24850
@Progi1984 you're right! So I edit the issue description :wink:
This issue is related to #25582

[2021-08-12 10:15] Hlavtox opened #25583 "Dangerous JS selectors should be removed"
There is a lot of potentially dangerous JS selectors. We shouldn't be scared of breaking stuff when redoing the markup.

Selectors using `.row`, `.col-XXX`, `.container`, hardcoded boostrap markup into JS.

### Example
this.productsGrid = `${this.contentDiv} > div.row > div > div.row:nth-of-type(2)`;

### File list
**Admin**
https://github.com/PrestaShop/PrestaShop/blob/develop/admin-dev/themes/de

[2021-08-12 11:40] 01park opened #25584 "Order set to 0.00 with sold out product after changing status"
#### Describe the bug

we have an order that the payment was accepted. the order was set to processing. The product was sold out and deleted.

Later we put the order back to payment accepted, because we where able to replace the product, but now the total order price is set to 0.00 instead of keeping the original value of the order.

#### Expected behavior

Order to keep it orginal value

#### Ste

[2021-08-12 11:57] gadnis opened #25585 "Please provide a dd() (“dump and die”) helper function"
#### Is your feature request related to a problem?
NO

#### Describe the solution you'd like

Thanks to symfony we already can use `dump()` helper function in prestashop.
But symfony VarDumper component provides dd() helper function as well, which is very handy.
Why not to add it to prestashop?

[2021-08-12 12:18] matks commented on #25578
Hello @Huluti

We provide a map of "what versions of PHP are compatible with PrestaShop versions" on https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

So theoretically, if I acknowledge that module A is compatible with PrestaShop 1.7.4, it _has_ to be compatible with 5.6 to 7.1

If I acknowledge that module A is compatible with PrestaShop 1.7.7, it _has_ to be compatible

[2021-08-12 12:31] Huluti commented on #25578
Hi @matks! Ah yes indeed, so the easiest way would be to limit the compatibility of the plugin with this line: ps_versions_compliancy and and also to limit the releases on the addons/prestashop site in our seller account? It seems to me to be viable and this issue isn't one so. Thank's for your time!

[2021-08-12 12:34] Huluti commented on #25578
But for example, our plugin is compatible 1.6 and 1.7, but the plugin could be installed on multiple PHP versions while we need to be sure the user have PHP 7.1 at least.

[2021-08-12 13:04] Hlavtox opened #25586 "Cards inside forms are using improper markup"
#### Is your feature request related to a problem?

Cards in nearly all Prestashop forms are using improper markup. It only makes it harder to debug and increases render depth.

[code]

#### Describe the solution you'd like

- `row` without `col-` is improper markup and should be removed
- `card-block` is obsolete class used only in early boostrap 4 alpha versions
- `card-text` is a class solely f

[2021-08-12 13:18] Prestaworks commented on #10762
In your case the issue is in ps_wirepayment, that module could have it's own stock check in the confirmation controller.

If you put an extra stock check inside the validateOrder function, you will end up getting lots of payments from external payment gateways but no orders in the shop. So all those modules would have to add some kind of automatic refund feature. And it will still not help agains

[2021-08-12 13:30] Hlavtox opened #25587 "Faceted search cache needs to be invalidated when changing stock management settings"
#### Is your feature request related to a problem?

Steps to reproduce the behavior:

1. Make two products, disable out of stock ordering on one of them.
2. Set up faceted search with quantity filter. Check that it works.
3. Disable stock management in Prestashop settings.
4. Go to FO, see that availability filter disappeared.
5. Enable stock management again, see that the filter does not reappear

[2021-08-12 13:53] khouloudbelguith opened #25588 "BO - Customer View page - Pagination of the block voucher is NOK"
#### Describe the bug

In the BO > Customers > Customers view page, if we have more than 10 vouchers, the pagination is not working.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create more than 10 vouchers for a customer `John DOE`
2. Go to BO > Customers page
3. View the customer `John DOE`
4. In the Voucher block, try to change the item of pagination => NOK
5. try to change th

[2021-08-12 15:24] Progi1984 commented on #24850
@hibatallahAouadni @florine2623  Sorry : I retry.

In front office, where must I find my downloads ?
In which email, where must I find my download link or virtual product attachments ?

Have you got some screenshot in previous versions ?

[2021-08-12 15:31] khouloudbelguith opened #25589 "BO - Product V2 - An exception is displayed when creating a product with ecotax enabled"
#### Describe the bug
In the BO > Catalog > Products > when we try to add a product V2 with ecotax enabled => an exception displayed
![image](https://user-images.githubusercontent.com/16067358/129224266-2a132a15-c914-491e-82a0-2691f476f822.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > International > Taxes page > enable ecotax
2. Go to BO > Advanced Parameters > Ex

[2021-08-12 16:14] khouloudbelguith opened #25590 "BO - Product V2 - Options Tab - References cannot be saved"
#### Describe the bug

In the BO > Catalog > Add/Edit product V2, in the Options Tab > the data in the References section cannot be saved.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Advanced Parameters > Experimental Features page
2. Enable Experimental product page
3. Go to BO > Catalog > Products page and add/Edit a product V2
4. In the Options Tab > References sec

[2021-08-12 16:19] Julievrz commented on #25575
Hi @Mikomil @hibatallahAouadni

I checked on Wikipedia and the symbol written is the same as the one used in the BO:  GH₵

 @Mikomil Do you have any official document?

[2021-08-12 16:22] khouloudbelguith opened #25591 "BO - Product V2 - Brand cannot be associated to a product"
#### Describe the bug
In the BO > Catalog > Add/Edit product V2 > it is not possible to associate or change a brand to a product V2
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Advanced Parameters > Experimental Features page
2. Enable Experimental product page
3. Go to BO > Catalog > Products page and add/Edit a product V2
4. Try to select a brand
5. Save
6. Refresh th

[2021-08-12 16:33] hibatallahAouadni commented on #25585
Hello @gadnis

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this f

[2021-08-12 16:37] khouloudbelguith opened #25592 "BO - Product V2 - combinations - when searching for combinations the attributes are not well displayed and an error is displayed in the console when selecting an attribute"
#### Describe the bug
In the BO > Catalog > Product V2, when we try to regenerate some combinations, the attributes are not well displayed and an error is displayed in the console when selecting an attribute

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Advanced Parameters > Experimental Features page
2. Enable Experimental product page
3. Go to BO > Catalog > Products

[2021-08-12 20:44] hibatallahAouadni commented on #25565
Hello @seederp2p

Yess! thanks for your feedback.
I reproduce the issue with PS1.7.7.6 and develop, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/129266528-56d5cea9-0d64-4bdc-ac7b-5d429ca0d8e8.png)

I didn't reproduce the issue with PS1.7.6.7, so it's a **regression**! I’ll add this to the debug backlog so that it’s fixed.

![image](https://user-im

[2021-08-12 21:27] hibatallahAouadni commented on #25583
@NeOMakinG all right, we have a GO :tada:
Gonna to change the status to **`To Do`** :wink:

[2021-08-12 21:29] hibatallahAouadni commented on #25369
Thanks for the tip :wink:
I hope it helps someone :relaxed:

[2021-08-12 23:26] hibatallahAouadni commented on #24850
Hello @Progi1984

Really sorry for my late check in :disappointed: it seems this issue is not regression and it's well detailed in this new issue #25581 created by @SD1982
Check my screen record:

https://drive.google.com/file/d/1Z5ggcp8MGszc7ueXwDHxilHwCXWuXgFL/view

I will close this issue as a duplicate of #25581 and I will add my screen record to it.
Thanks!

[2021-08-12 23:26] #24850 closed, assigned to nobody

[2021-08-12 23:27] hibatallahAouadni commented on #24850
Duplicate of #25581

[2021-08-13 06:57] hibatallahAouadni commented on #25587
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-08-13 07:01] hibatallahAouadni commented on #25586
Hello @Hlavtox

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2021-08-13 07:11] NeOMakinG commented on #25586
Yes we've a go, but it's really mandatory, there are no urgency to fix this to me

[2021-08-13 07:27] hibatallahAouadni commented on #25586
Well then, let's change it to **`To Do`** but with **`Trivial`** priority :wink:

[2021-08-13 07:39] Hlavtox commented on #25586
@hibatallahAouadni BO issue, wrong epic 😉

[2021-08-13 08:11] khouloudbelguith commented on #24149
Hi,

an exception is displayed with Product V2 also
![image](https://user-images.githubusercontent.com/16067358/129325757-24f39808-f430-4ecb-b53a-4ab1f14d6aa3.png)

Thanks!

[2021-08-13 08:53] hibatallahAouadni commented on #25584
Hello @01park

I just edit your steps to reproduce, could you please check if there's something missing :pray:
I didn't manage to reproduce your issue with PS1776, see the attached screen record below:

https://drive.google.com/file/d/11uQGLedTkFWVYOtoduCtNQjycUmAr4_x/view

Well, it seems that you define this new status **In progress**, so could you please make a screenshot of its configuration.
P

[2021-08-13 08:55] hibatallahAouadni commented on #25586
@Hlavtox it's not :wink:

![image](https://user-images.githubusercontent.com/23308427/129331977-58b26649-9d51-4487-9269-b0e863e4fb03.png)

This EPIC contain the BO & FO issues :slightly_smiling_face:

[2021-08-13 09:31] Matt75 commented on #24338
We have a merchant with more 50 orders not created after payments every days !
So I made a Pull Request on this module because Sentry reports keep going.

[2021-08-13 09:47] Mikomil commented on #25575
Hello @Julievrz The Ghanaian Cedi Symbol is exactly what you stated but the symbol does not appear at the BO.
Thank you.

![Screenshot (7)](https://user-images.githubusercontent.com/86637707/129338711-8ec9f0d6-9499-4b99-afc8-0ab0528c5b72.png)

[2021-08-13 10:03] eternoendless opened #25593 "Error when viewing a supplier"
#### Describe the bug

An error is shown when I try to view a supplier:

<img width="1792" alt="Screenshot 2021-08-13 at 11 53 18" src="https://user-images.githubusercontent.com/1009343/129339595-d55a5636-80cb-4d60-aabc-a59677eb1c9b.png">

Here's the stack trace (to see it yourself, edit line 386 in \PrestaShopBundle\Controller\Admin\Sell\Catalog\SupplierController and add `throw $e`);

<img width

[2021-08-13 10:14] Julievrz commented on #25575
Hi @Mikomil
What version of PrestaShop are you using?

@hibatallahAouadni maybe you can double-check but I checked on my side, in 1.7.7.5, le symbol displayed is "GHS"

![image](https://user-images.githubusercontent.com/70583503/129342114-c0b1ae1d-0b35-4cd7-8998-dfbd07ac8cf9.png)

and in 1.7.8 the symbol displayed is GH₵

![image](https://user-images.githubusercontent.com/70583503/129342163-54c30f

[2021-08-13 10:20] JaqubR commented on #25525
Hello @hibatallahAouadni

sorry for the late reply. I know that the issue seems to be solved since 1.7.6.4, but I can't really update from 1.7.4.4, so I'd like to know how to fix this issue on 1.7.4.4

[2021-08-13 11:00] Mikomil commented on #25575
Hello @ Julie Varisellaz

*             Please am using the 1.7.6.7 version*

On Fri, Aug 13, 2021 at 10:14 AM Julie Varisellaz ***@***.***>
wrote:

[2021-08-13 13:06] WebXYAgency commented on #25505
Hi @khouloudbelguith,

It looks like you have the same problem as me.
Are your product images displayed in your PDF invoices?

[2021-08-13 13:22] hibatallahAouadni commented on #25575
Hello @Mikomil & @Julievrz

On 1.7.8.0, the symbol is well displayed :heavy_check_mark:

![image](https://user-images.githubusercontent.com/23308427/129362951-cab345c1-c7ef-4bc8-a066-0dc976753921.png)

On 1.7.7.6, the symbol is the same as ISO code :x:

![image](https://user-images.githubusercontent.com/23308427/129363408-1f2bfd99-80de-40c0-98dc-4673763877cc.png)

On 1.7.6.7, same as 1.7.7.6 :x:

[2021-08-13 13:26] khouloudbelguith opened #25594 "FO - After an upgrade to PS178, the search_bar module is not well displayed"
#### Describe the bug

After an upgrade from the previous version to PS178rc1build2, in the FO, the search_bar module is not well displayed

![image](https://user-images.githubusercontent.com/16067358/129363494-42954d44-c2bd-483a-aa93-315d88fabd9d.png)

In my case, I tried with an upgrade from PS1744 to PS1780rc1build2 + php7.1
@SD1982 reproduced the issue with an upgrade from PS1776 to PS1780rc1b

[2021-08-13 13:39] hibatallahAouadni commented on #25593
Hello @eternoendless

I reproduce the issue with PS1.7.8.x and (only with) PHP 7.4, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/129364724-1bb8f5de-47a8-4ded-878c-c0b136f34591.png)

So it's a kind of **regression**! Thanks @eternoendless :wink:
I’ll add this to the debug backlog so that it’s fixed.

Thanks!

[2021-08-13 13:42] Mikomil commented on #25575
Thank you for your prompt response. I am still not getting the symbol on
both my Website and BO. I have attached a picture of  of the exact problem.
Thank You. Regards

On Fri, Aug 13, 2021 at 1:22 PM Hibatallah Aouadni ***@***.***>
wrote:

[2021-08-13 13:49] hibatallahAouadni commented on #25575
@Mikomil when you respond on the issue with your mail, we're not able to see the attached picture.
So please answer on Github :pray:

[2021-08-13 13:51] Mikomil commented on #25575
Thank you for your prompt response. I am still not getting the symbol on  both my Website and BO. I have attached a picture of  of the exact problem.
Thank You. Regards
![Capture](https://user-images.githubusercontent.com/86637707/129367318-78bfe3a4-37c3-4bee-b9a3-8c8cbd11435e.JPG)

[2021-08-13 13:57] hibatallahAouadni commented on #25575
Ping @Mikomil could you please delete the currencie and that add it again, please follow my steps in the screen record below:

https://www.awesomescreenshot.com/video/4836705?key=eee3bab14c174c3a32512ed8015a567a

Thanks!

[2021-08-13 14:03] Mikomil commented on #25575
Thank you so much. Its working now🙌🙌🙌🙌🙌🙌🙌
God bless you.
Regards
Michael

On Fri, Aug 13, 2021 at 1:57 PM Hibatallah Aouadni ***@***.***>
wrote:

[2021-08-13 14:17] Mikomil commented on #25575
Thank you so much. Its working now🙌🙌🙌🙌🙌🙌🙌
God bless you.
Regards
Michael

On Fri, Aug 13, 2021 at 2:03 PM Michael Duffuor ***@***.***>
wrote:

[2021-08-13 14:23] hibatallahAouadni commented on #25575
Glad to hear :tada:
You're welcome :relaxed:

Closing the issue. Thanks!

[2021-08-13 14:23] #25575 closed, assigned to nobody

[2021-08-13 15:53] Matt75 opened #25597 "Unable to uninstall native module ps_dataprivacy"
#### Describe the bug

Unable to uninstall native module [ps_dataprivacy](https://github.com/PrestaShop/ps_dataprivacy)

#### Expected behavior

Be able to uninstall native module [ps_dataprivacy](https://github.com/PrestaShop/ps_dataprivacy)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Module Manager
2. Click on Uninstall module ps_dataprivacy
4. See error

**Screenshots**

[2021-08-13 16:31] nahrin opened #25598 "Error uploading product images."
I upgraded my prestashop store from 1.7.7.4 to 1.7.7.6, yesterday. Today I created a new product I can save all the written information but when I upload the product images an html text is displayed.
![image](https://user-images.githubusercontent.com/12375876/129390751-264a4b06-96ba-4995-99cd-760d6b53469f.png)

[2021-08-13 19:54] knut4github commented on #23790
I have exact the same issue. Have anyone solv this issue?

[2021-08-13 20:02] go-sudo commented on #23790
Hello try please to disable all the modules

[2021-08-13 20:32] thbl opened #25599 "BO Symfony - TransformationFailedException BUG after upgrading to v 1.7.7.6"
After upgrading to newest version i'm getting this error msg when trying to open one of my theme modules.
-seems there has been some changes to symfony since 1.7.7.5 ?

Tried clean install with 1.7.7.5 (don't get error here)
Tried clean install with 1.7.7.6 (get error here)

**Screenshots**
![bug](https://user-images.githubusercontent.com/19774996/129415044-98ecd257-6eca-4a43-a262-b67a408fa7bf.PNG

[2021-08-14 00:01] DracoBluee opened #25600 "Support for SVG files"
Prestashop 8.0.0 must have svg support adding a logo, favicon etc.

[2021-08-14 00:15] arouiadib commented on #25598
This is the error: Unable to guess the mime type as no guessers are available.
It might be caused by php version and/or phpinfo extension status.

[Further reading.](https://www.prestashop.com/forums/topic/625041-server-responded-with-500-code-when-upload-an-product-image/)

[2021-08-14 01:09] DracoBluee opened #25601 "Register / Login with social channel"
Register and login with social account facebook, google etc. I think it's a good feature for prestashop.

[2021-08-14 09:40] sextoysunivers opened #25602 "GSitemap module does not generate sitemap"
#### Describe the bug

Hi I have a multishop store and the natif sitemap module is not working at all to generate a sitemap at any of my stores.

A clear and concise description of what went wrong.

Hi I have a multishop store and the natif sitemap module is not working at all to generate a sitemap at any of my stores.

#### Expected behavior

Create a sitemap for each store

Explain what you expe

[2021-08-14 10:39] skellatore commented on #17225
Desperately need this feature.  What's worse Is if you want to add the tracking number to a "Remote" generated shipping price, the carrier is no longer in the list!
Often I get customers that forget items and want to "combine" shipping resulting in a lower rate than what was charged across two orders - I deliver a in-store credit with a voucher - this is well received by the customer and drives re

[2021-08-14 11:25] eveneme commented on #25600
yes, please supported SVG files

[2021-08-14 11:25] eveneme commented on #25601
Good idea

[2021-08-14 11:26] eveneme commented on #25602
isn't that a problem with the module, not with prestashop itself?

[2021-08-14 12:46] sextoysunivers commented on #25602
Hi,Well It's the natif sitemap module of PrestaShop.Am I asking at the wrong place ?Télécharger Outlook pour AndroidDe : eveneme ***@***.***>Envoyé : samedi 14 août 2021 à 13:26À : PrestaShop/PrestaShopCc : sextoysunivers; AuthorObjet : Re: [PrestaShop/PrestaShop] GSITEMAP NOT GENERATING A SITEMAP  (#25602)
isn't that a problem with the module, not with prestashop itself?

—You are receiving this

[2021-08-14 13:12] Oksydan commented on #25601
I think it shouldn't go into core. API might change and prestashop will  have to keep it up to date. There is a lot cheap module out there and even free ones https://github.com/oneall/social-login-prestashop

[2021-08-14 16:16] Rickiesee commented on #22215
Hello,

I'm having this issue after upgrading to latest version 1.7.7.5.

The problem only presents itself on **old orders**, and from **new orders on customers that registered before the update.**

Thanks

[2021-08-14 16:23] dbartelmus commented on #22215
Follow steps on this post with SQL query, make sure that you cover
ps_customers table if you encounter problem with new order too
DAMIAN BARTELMUSIT Specialist / DevOps

www.panther.software <https://panther.software/>
+48-PANTHER-00 (+48726843700)

sob., 14 sie 2021 o 18:16 Rickiesee ***@***.***> napisał(a):

[2021-08-14 16:27] Rickiesee commented on #22215
Thank you Damian. I'm going to backup my database then give it a go.

Just to clarify:

 PHPMyAdmin > SQL > Go

Thanks in advance, Rickiesee (noob)

[2021-08-14 16:30] dbartelmus commented on #22215
Yes, always do the backup routine.

Copy paste this one and check results on PS panel
https://github.com/PrestaShop/PrestaShop/issues/22215#issuecomment-791938465

[2021-08-14 16:39] thbl opened #25604 "BO - 1.7.7.6 TextWithUnitType bug"
In 1.7.7.6 the TextWithUnitType dosen't work properly anymore, caused by #24339

[DOC](https://devdocs.prestashop.com/1.7/development/components/form/types-reference/text-with-unit/)

example
[code]
In 1.7.7.6 this will return an 'TransformationFailedException' error

Cause this was changed from text to number in 1.7.7.6 for some reason ? maby a mistake in https://github.com/PrestaShop/PrestaShop/

[2021-08-14 16:43] thbl commented on #21539
The slack channel link dosen't work ?

[2021-08-14 17:08] Rickiesee commented on #22215
Hello Damien. I did as instructed and it has worked. Thank you!

[2021-08-14 17:25] eveneme opened #25605 "Improve PS limits - product attributes & combinations"
#### Is your feature request related to a problem?

Improvement, simplification of adding attributes, combinations, product prices. this should be in prestashop and not with the help of additional modules.

Presta doesn't support attribute combinations at all, it just has a primitive combination handler. It is only suitable for a few, up to a dozen or so attribute values. PrestaShop limits you to

[2021-08-14 18:11] thbl commented on #25604
@PierreRambaud

[2021-08-14 18:11] thbl commented on #25599
related to https://github.com/PrestaShop/PrestaShop/issues/25604

[2021-08-14 18:11] #25599 closed, assigned to nobody

[2021-08-14 19:43] matks commented on #25602
Module https://github.com/prestashop/gsitemap

This is the right place to report bugs related to https://github.com/prestashop/gsitemap

@sextoysunivers there is a bug report https://github.com/PrestaShop/PrestaShop/issues/20264 that mentions issues can happen with multiple languages, but you say there is no sitemap at all, right?

[2021-08-14 19:45] matks commented on #25162
Have a look at https://github.com/PrestaShop/PrestaShop/issues/17673 and https://github.com/PrestaShop/PrestaShop/pull/23959

[2021-08-14 19:45] matks commented on #25605
@eveneme I'm sorry but this is not accurate enough, this is too vague. You must describe more what you suggest.

[2021-08-14 19:46] matks commented on #25600
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/10600 and https://github.com/PrestaShop/PrestaShop/issues/17673 😉

Please do a quick search before creating a new issue, someone might have already created something before 😄

[2021-08-14 19:46] #25600 closed, assigned to nobody

[2021-08-14 20:03] sextoysunivers commented on #25602
Thank you !!!Télécharger Outlook pour AndroidDe : Mathieu Ferment ***@***.***>Envoyé : samedi 14 août 2021 à 21:43À : PrestaShop/PrestaShopCc : sextoysunivers; MentionObjet : Re: [PrestaShop/PrestaShop] GSitemap module does not generate sitemap  (#25602)
Module https://githubcom/prestashop/gsitemap
This is the right place to report bugs related to https://github.com/prestashop/gsitemap
@sextoysuni

[2021-08-14 20:20] matks commented on #21539
Because it has changed since 2020 😉

Now it's https://www.prestashop-project.org/slack/

[2021-08-14 20:23] matks commented on #25601
Agreed with @Oksydan : such features will never go into the Core because they rely on third party.

AFAIK there is already good capabilities to plug in any SSO on Front Office and there is an issue to do the same for Back Office https://github.com/PrestaShop/PrestaShop/issues/23243

The Core will welcome the right mechanisms to allow adding SSO modules (probably hooks) but will not implement any o

[2021-08-14 20:23] #25601 closed, assigned to nobody

[2021-08-14 23:38] DracoBluee commented on #25605
Presta doesn't support attribute combinations at all, it just has a primitive combination handler.  It is only suitable for a few, up to a dozen or so attribute values. PrestaShop limits you to around 1000 total combinations. That is not nearly enough for thousands of shops around the world. all these functions are performed by https://www.presto-changeo.com/prestashop-17-modules/139-prestashop-at

[2021-08-14 23:41] eveneme commented on #25605
just what a friend wrote above.  prestashop should have more attributes built in, combinations should be simpler and more intuitive

[2021-08-15 00:42] eveneme opened #25606 "Support for Node.js"
Support for Node.js

[2021-08-15 09:30] ubergenki opened #25607 "Links on main page not clickable"
#### Describe the bug

I just upgraded from Prestashop 1.7.7.5 to 1.7.7.6, and now for some reason, the image-based links + links within modules that include images (top sellers, new products, etc.) on the main page aren't clickable.
The text links in the top + footer menus work fine.

My website: https://getkawaii.com

#### Additional information

* PrestaShop version: 1.7.7.6
* PHP version: PHP

[2021-08-15 09:42] hibatallahAouadni commented on #25598
Hello @nahrin

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-08-15 09:42] #25598 closed, assigned to nobody

[2021-08-15 09:46] hibatallahAouadni commented on #25602
Hello @sextoysunivers

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #20264.
To be informed when it's fixed, please subscribe to the issue mentioned above.

PS: thanks @matks :pray:

Thanks!

[2021-08-15 09:46] #25602 closed

[2021-08-15 09:46] hibatallahAouadni commented on #25602
Duplicate of #20264

[2021-08-15 09:57] hibatallahAouadni commented on #25597
Hello @Matt75

Thanks for your issue and your PR :rocket:
I reproduce the issue with `PS1770` and `PS1776` with `PHP 7.2` and `ps_dataprivacy v2.0.1`, see the attached screen record below:

https://drive.google.com/file/d/19ZMZQ3kR5ZF5sbMgPBPHy52OE1CSTEow/view

But I didn't reproduce it with `PS1767`, `PHP 7.2` and `ps_dataprivacy v2.0.1`.
So, it's a **regression**! ’ll add this to the debug backl

[2021-08-15 10:00] hibatallahAouadni commented on #25606
Hello @eveneme

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-08-15 10:00] #25606 closed, assigned to nobody

[2021-08-15 10:08] hibatallahAouadni commented on #25605
Hello @eveneme

As you know, we only accept the issues respecting the provided template.
So, I'm closing the issue till you edit your issue description following the provided template for feature request (in your case) :pray: then please ping me to reopen it :wink:

PS: @DracoBluee thanks for the details :wink:

Thanks for understanding.

[2021-08-15 10:13] hibatallahAouadni commented on #25604
Hello @thbl

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2021-08-15 10:13] #25604 closed, assigned to nobody

[2021-08-15 10:17] thbl commented on #25604
@hibatallahAouadni this example is based on the doc provied by prestashop https://devdocs.prestashop.com/1.7/development/components/form/types-reference/text-with-unit/
so to reproduced simply use the code i have provided in my bug report, php version dosent matter it will fail on all with ps 1.7.7.6

[2021-08-15 10:42] thbl commented on #25604
@PierreRambaud @matks
Can you confirm if this is a bug or not ?

[2021-08-15 10:56] sextoysunivers commented on #25602
Thank you very much !

My concern is that seems to be a very old non solved issue from 2020.

Best regards,

Cordialement,

Juan Carlos D'Arrigo
Easy Partenaire
Gestion des Risques et Centre de Formation
14 avenue de l'opéra
75001 Paris
Standard : 09 86 33 53 75
Portable : 06 60 43 30 83
Accréditation : 11755793175

[https://stfc.fr/images/qualite/Picto_datadocke_couleurBD.jpg]

__________________

[2021-08-15 12:32] matks commented on #25606
Hi @eveneme PrestaShop is a PHP project and this will not change.

[2021-08-15 13:13] eveneme commented on #25605
done

[2021-08-15 16:49] ubergenki commented on #25607
Update - I tried simply removing the snapwidget code I had on my main page and that fixed it!

Not sure why it suddenly started causing an issue now, since I'd been using it for a while🤔

Guessing it's because I'd inserted the code as an iframe.

[2021-08-15 16:49] #25607 closed, assigned to nobody

[2021-08-15 18:43] eveneme opened #25608 "Update to bootstrap 4.6 & 5 framework"
update to the current version bootstrap new major version

[2021-08-15 18:49] kpodemski commented on #25608
You're adding the same issue as one from the few weeks ago. What's the point? :)

[2021-08-15 18:52] eveneme commented on #25608
The point is that it should be included in the next major version

[2021-08-15 18:58] kpodemski commented on #25608
Creating duplicated issues won't help 🙂

We know about this issue and there are other topics where we've already discussed this.

[2021-08-15 19:02] #25608 closed, assigned to nobody

[2021-08-15 19:37] Henrik41 opened #25609 "Notice: Undefined property: Product::$mpn after updating from 1.7.1 ->1.7.7.6"
After updating I can't add/edit a product:

[code]

<img width="1050" alt="Screen Shot 2021-08-15 at 3 35 57 PM" src="https://user-images.githubusercontent.com/81451/129490328-b6bc93e4-5274-4b92-80ce-c3144db6afde.png">

I checked my database and mpn is present where it is suppose too.
My overrides are disabled too.

How do I even debug this?

[2021-08-15 20:39] hibatallahAouadni opened #25610 "[BO] - Bad display of help-box in Virtual product tab"
#### Describe the bug

the help-box and the label are not aligned (see the attached screenshot N°1 below)

#### Expected behavior

the label and the help-box should be aligned as 1776 (see the attached screenshot N°2 below)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. **BO** > **SELL** > **Catalog** > **Products**
2. Click on **New product** button
3. Choose **Virtual produuct**

[2021-08-15 22:06] SuchyTheMaster commented on #15785
I have the same problem. Prestashop 1.7.7.6 with multistore.

I've found those facts:

1. It happens only when products have combinations and were imported (imported simple products or products with combinations bu created directly in admin panel are ok)
2. Wrong products has set `unit_price_ratio` to 0 in table `ps_products` and `ps_products_shop`
3. When I change those field directly in database

[2021-08-15 22:27] hibatallahAouadni commented on #25605
Hello @eveneme

Thanks for your feedback and for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing t

[2021-08-16 02:47] Henrik41 commented on #25609
Adding to my pain I also have this which tells me that the issue is in mapStep6FormData($product) not reading properly the mpn value of the product from the database:

 /home/gsddev/public_html/src/PrestaShopBundle/Model/Product/AdminModelAdapter.php:656 {▼
    › 'upc' => $product->upc,
    › 'mpn' => $product->mpn,
    › 'ean13' => $product->ean13,
  }
  /home/gsddev/public_html/src/PrestaShopBun

[2021-08-16 07:00] zuk3975 commented on #14154
this one just lists the commands with description, but doesn't show the handler:
https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Command/ListCommandsAndQueriesCommand.php
Also there was one to print more detailed info into `.md` file for docs (it includes handlers and more), but it was moved to separate bundle. You can follow this:
https://github.com/PrestaShop/PrestaSho

[2021-08-16 07:19] Katlecat commented on #16803
Hi, have you found a solution ? Because I have the same issue.

[2021-08-16 07:58] Hlavtox commented on #25610
@NeOMakinG Move all span.help-box into form-control-label and it will be fine ;-)

[2021-08-16 08:00] NeOMakinG commented on #25610
Thought about something like this yeah

[2021-08-16 08:57] onklmaps commented on #10762
Yes, that would not be a good option.

I'd say that the best option is `Cart::checkQuantities()` **before** payment is even begun. For offline and redirected payment solutions, the check can be done before you get redirected, for embedded/iframe/checkout payment solutions I think there is always some callback-function that can ajax-query `Cart::checkQuantities()` and abort the payment if it return

[2021-08-16 10:14] Robin-Fischer-PS opened #25614 "FO - Cannot create customer after upgrade from 1.6.1.24 to 1.7.8"
#### Describe the bug

After upgrade from 1.6.1.24 to 1.7.8.0 RC1 Build 2, on FO, creation of a customer is not possible : Without debug mode, nothing happens, with debug mode, an exception is displayed.

#### Expected behavior

No error and create a customer should be OK

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Upgrade from 1.6.1.24 to 1.7.8.0 RC1 Build 2
2. Go to FO => Crea

[2021-08-16 10:48] hibatallahAouadni commented on #25609
Hello @Henrik41

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source

[2021-08-16 10:48] #25609 closed, assigned to nobody

[2021-08-16 10:49] hibatallahAouadni commented on #25431
Hello @lennertvhoy

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-08-16 10:49] #25431 closed, assigned to nobody

[2021-08-16 11:08] eveneme commented on #25605
Unfortunately, I am not a programmer. Can you count on this in major version 8.0.0?

[2021-08-16 11:19] mrbig00 commented on #24911
This is caused by [this](https://github.com/PrestaShop/PrestaShop/blob/ad181f7fb89dea67dfebba779a6440854baa6d5b/src/Core/Grid/Query/OrderQueryBuilder.php#L266), honestly I don't even know why we are creating a temp table instead using a subquery?!

[2021-08-16 11:51] matks commented on #25605
Sorry but this is unlikely. We already have a very big backlog with important content for versions 8.0, 8.1 and above. Content for 8.0.0 is already frozen.

Unless the @PrestaShop/product-team considers that your feature request is a major and high-value topic, it will not be inserted into the roadmap for version 8.

I suggest reading the great essay from DHH (founder of Ruby on Rails & Basecamp)

[2021-08-16 12:01] ewonta opened #25615 "Initialization after AJAX loading of the ps_checkout module"
Hello!
Please help, on the checkout page, the payment block is the ps_checkout module.

All payment steps are uploaded via AJAX.
After everything is loaded, the ps_checkout payment module is not initialized as on yes.

How can I reinitialize the ps_checkout module after loading the payment block via AJAX?

Thanks!

[2021-08-16 12:10] matks commented on #25608
@kpodemski is right.

I already said in https://github.com/PrestaShop/PrestaShop/issues/25550 that this is already included in https://github.com/PrestaShop/PrestaShop/issues/14533 item. "Classic theme should promote code quality and best practices - upgrade and rework" implies to use, as much as possible, up-to-date dependencies.

In next major version we'll do our best to upgrade bootstrap versi

[2021-08-16 12:22] Matt75 commented on #25615
Hello

You can read this : https://github.com/PrestaShopCorp/ps_checkout/blob/master/_dev/js/front/README.md

[2021-08-16 12:23] MatShir commented on #25594
We need to investigate first the issue before considering the severity. @NeOMakinG Could you take a look?

[2021-08-16 12:33] dmitrij1988 commented on #25615
I read this, I lost 3 days with this problem. I am writing to you from no source, there is no information anywhere, please help.

[2021-08-16 13:09] MatShir commented on #25028
Hi @ttoine,
Could you help us to identify what's need to be removed exactly?

[2021-08-16 13:46] #25340 closed, assigned to kpodemski

[2021-08-16 13:55] ks129 opened #25616 "Make shipping tab separate block in BO order view page"
#### Is your feature request related to a problem?

If you have a huge amount of orders, every extra click you have to make just waste time. And shipping tab is one of such cases where you currently waste time by clicking.

#### Describe the solution you'd like

Put shipping information in a separate block.

#### Alternatives you've considered

Make shipping tab default, but changing status is als

[2021-08-16 14:27] #25615 closed, assigned to nobody

[2021-08-16 14:27] hibatallahAouadni commented on #25615
Hello @dmitrij1988

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-08-16 14:40] #25570 closed, assigned to PierreRambaud

[2021-08-16 14:40] ttoine commented on #25028
The copyright does not change until there is an other organisation that ship this distribution of PrestaShop.

However, elements that are linked to prestashop.com or its APIs will be removed in the open source version available on GitHub.
The question is who is in charge, inside the company, to build the distribution for prestashop.com, that will put back the elements in place?

[2021-08-16 15:00] hibatallahAouadni commented on #25616
Hello @ks129

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feat

[2021-08-16 15:14] matks opened #25617 "FO - Using a limited cart rule crashes checkout at shipping step if the database prefix is not ps_"
#### Describe the bug

The 'Total available for each user' in cart rule not considered if the customer is signed in from the checkout page.

#### Steps to Reproduce

Steps to reproduce the behavior:
1. Install PS 1.7.7.6, choose a prefix different from `ps_` from database

![Capture d’écran 2021-08-16 à 17 11 56](https://user-images.githubusercontent.com/3830050/129586529-d6119609-7e0a-4b51-81fb

[2021-08-16 15:33] Robin-Fischer-PS opened #25618 "FO - Product images are blurry after upgrade from 1.6.1.24 to 1.7.8.0"
#### Describe the bug

After upgrade from 1.6.1.24 to 1.7.8.0 RC1 Build 2, the images of products on FO are blurry : The thumbnails are used instead of the large product pictures.

If I switch to another image of this product, the image is displayed OK. If I go back to the first image, it's also displayed OK now.

If i refresh the page, the image is blurry again.

#### Expected behavior

Image sho

[2021-08-16 15:36] kpodemski commented on #25618
Hello @Robin-Fischer-PS

Have you tried to regenerate the images again?

[2021-08-16 15:53] NeOMakinG commented on #25594
I investigated on this one and here is what I found:

- ps_searchbar is overridden in classic theme on 1.7.7.x branch but not on 1.78.
- When you upgrade to 1.7.8, it keep the old file, but on 1.7.8 branch the file is not existing and so the markup is wrong

[2021-08-16 15:59] matks opened #25619 "Release 1.7.7.7 🚀"
This issue tracks the status of the PrestaShop 1.7.7.7 release

### Information

Q                                    | A
-----------------------|---------------
**Type**                        | Patch version
**Build date**  |  2021-08-18
**Milestone** | [1.7.7.7](https://github.com/PrestaShop/PrestaShop/milestone/76)
**Kanban** | [1.7.7.7](https://github.com/PrestaShop/PrestaShop/projects/18)
**

[2021-08-16 16:00] matks commented on #25619
This release is needed following the discovery of a critical regression introduced in 1.7.7.6 https://github.com/PrestaShop/PrestaShop/issues/25617

[2021-08-16 16:02] matks commented on #25617
Bug introduced in https://github.com/PrestaShop/PrestaShop/pull/25286

[2021-08-16 16:06] arirangz opened #25620 "Incorrect stock management with packs"
#### Describe the bug
When increasing the stock of a pack, the stock of the products of the pack are increase but wrongly (5 times more than expected) and the pack is not increase

#### Expected behavior
The products of the pack should increase the same as the pack increase

#### Steps to Reproduce

Steps to reproduce the behavior:
Requirement: Edit the pack and set Decrease product of pack only (

[2021-08-16 16:37] matks commented on #23010
### 16-08-2021 Status update - 1.7.8.0 RC1 build 2 is faulty

QA team did an outstanding job at testing the build 2 over the last week

Here are the latest the issues that block the release:
- https://github.com/PrestaShop/PrestaShop/issues/25617
- https://github.com/PrestaShop/PrestaShop/issues/25594
- https://github.com/PrestaShop/PrestaShop/issues/25614
- https://github.com/PrestaShop/PrestaSho

[2021-08-17 00:02] prestaalba opened #25622 "BO - Products - pack items do not display cover image if related to a combination"
#### Describe the bug

In backoffice Products creation when you search an item for a pack, product cover image is not displayed properly if the item is a combination. Product cover image on the selected product pack items list is not displayed either.

#### Expected behavior

All pack items cover image must be displayed properly, regardless of whether the item is a product or combination.

#### St

[2021-08-17 06:48] kviwilavi commented on #19605
It's and old thread and I hope it's solved by now, but I'm having the same problem with newest PrestaShop 1.7.7.6. Testing enviroment with around 10 to 20k products, I need to insert and delete them very often a very quickly. It seems that the problem is mainly in categories, perhaps PrestaShop is trying to re-order ALL products after one delete (?).

If you are **testing** and just need very **qu

[2021-08-17 07:56] Cheeckk opened #25623 "Problem with entering the category from the main menu on Mozilla Firefox 91.0 in Incognito mode"
Hi

On the website of the store placed on PrestaShop 1.7.6.1 after updating the browser Mozilla Firefox up to version 91.0 in Incognito Mode
I cannot enter to category or any tab in main menu of the store by left-clicking as if left clicking the mouse did not cause any action.
The shopping cart in the main menu, as well as the rest of the home page, "click" correctly. Right-clicking and opening a

[2021-08-17 08:03] Robin-Fischer-PS commented on #25618
Hi @kpodemski ! Yes, even after regenerating it's KO, I'm checking with others QA if they reproduce it !

[2021-08-17 08:19] hibatallahAouadni opened #25624 "[BO] - Can't configure the autoupgrade module"
#### Describe the bug

When I click on **Configure** button, an error 500 is thrown

#### Expected behavior

The Configuration page should be displayed without any error

#### Steps to Reproduce

Steps to reproduce the behavior:

1. **BO** > **DESIGN** > **Modules** > **Module Catalog**
2. Install **1-Click Upgrade** module
3. Try to click on **Configure** button
4. See error => error 500

**Scree

[2021-08-17 08:28] musaffar-patel opened #25625 "Employee permissions to access ModuleAdminController"
Hi

Steps to reproduce:

Create an admin controller in a module, below is a sample controller I created:

class AdminAjaxMyModuleController extends ModuleAdminController
{
    public function ajaxProcessGetBar()
    {
        die(''success');
    }
}

Now I login into the admin under a Super Admin account: and access the controller url with the correct security token:

http://mytest.dev/adminps/in

[2021-08-17 09:14] Hlavtox commented on #9641
@tswfi @khouloudbelguith @kpodemski @marionf Hi everyone, fixed by https://github.com/PrestaShop/ps_emailalerts/pull/89. There is no issue in the core itself.

[2021-08-17 09:33] matks commented on #19266
Code related to adv stock management is being removed in PS 8.0.0 in PR https://github.com/PrestaShop/PrestaShop/pull/25621

[2021-08-17 09:33] #19266 closed, assigned to nobody

[2021-08-17 09:40] hibatallahAouadni commented on #25625
Hello @musaffar-patel

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have
questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forum

[2021-08-17 09:40] #25625 closed, assigned to nobody

[2021-08-17 09:41] hibatallahAouadni commented on #25623
Hello @Cheeckk

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or

[2021-08-17 09:41] #25623 closed, assigned to nobody

[2021-08-17 10:06] MatShir commented on #25028
I guess ! When the company will be ready, they could customize the installer. @PierreRambaud what are your thoughts ?

[2021-08-17 10:18] MatShir commented on #25028
Thanks for the input @ttoine, I suggest:
- replacing "Forum" and "Support" for "I need help" with the link from the devdoc (https://devdocs.prestashop.com/1.7/faq/i-need-help/.
).
- Adding, "Project's Blog" with the link of the build blog.

We need to make sure to use the official link of the user documentation of the project and replace prestashop.com by the official website of the project.

Mayb

[2021-08-17 10:22] #25614 closed, assigned to kpodemski

[2021-08-17 10:59] hibatallahAouadni commented on #25620
Hello @arirangz

I didn't manage to reproduce your issue with PS1776, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/129714686-36fc0e78-995e-4644-a36a-3fd7e11c2b39.png)

![image](https://user-images.githubusercontent.com/23308427/129714696-73e80e85-c6c3-4ada-8711-8e001725b7d6.png)

![image](https://user-images.githubusercontent.com/23308427/1297147

[2021-08-17 11:22] khouloudbelguith opened #25627 "BO - Orders page - Cannot add a voucher - the Add button is disabled"
#### Describe the bug

In the BO > Orders > Order details page, when we try to Add a discount, the Add button is disabled
![image](https://user-images.githubusercontent.com/16067358/129717177-15f9d0e4-be77-44b7-bb75-6ce0778260dd.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Orders > Orders page
2. Open an order
3. Click Add discount
4. If it is Free shipping Fill t

[2021-08-17 11:23] musaffar-patel commented on #25625
Hi

This is not a question, it is a bug report.   Prestashop Access controller only allows access to module admin controller for Super Admin and not other admin profiles, even when they have been granted access to the the module.

[2021-08-17 14:03] #25617 closed, assigned to nobody

[2021-08-17 14:04] hadran9 opened #25628 "Translation not showing in the Backoffice"
#### Describe the bug

Hello everyone,
I'm encountering an issue when I want to translate an input which will be generated using PHP, and to be specific I'm speaking about customerForm. So my situation is that I've added an input inside the `CustomerForm.php` and I want to be able to translate this input from the BackOffice.

And I want to add that all the `Shop.Notifications.Error` doesn't show i

[2021-08-17 14:31] hibatallahAouadni commented on #25505
Hello @WebXYAgency

Yes they are!

[2021-08-17 15:04] hibatallahAouadni commented on #25628
Hello @hadran9

Could you please check this issue #25500 seems related to yours.
Please check and feedback.

Thanks!

[2021-08-17 15:12] hibatallahAouadni commented on #25622
Hello @prestaalba

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #20001.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-08-17 15:12] #25622 closed, assigned to nobody

[2021-08-17 15:13] hibatallahAouadni commented on #25622
Duplicate of #20001

[2021-08-17 15:23] hibatallahAouadni commented on #25500
Hello @JakubSVK

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/129754344-4c8ef5a6-af1e-4fb6-a0d0-a8356f560a5b.png)

We will close this issue as we use GitHub issues only

[2021-08-17 15:23] #25500 closed, assigned to nobody

[2021-08-17 15:26] hibatallahAouadni commented on #25577
Hello @javierdelval

Thanks for your feedback.

Could you please explain it more, like in your screenshots add some circules to see better the issue :pray:
Please check and feedback.

Thanks!

[2021-08-17 15:30] hibatallahAouadni commented on #25554
Ping @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-maintainers could someone please try to reproduce the issue, cause it's logic that **should only be one order created per cart**.

Thanks in advance :pray:

[2021-08-17 15:33] hibatallahAouadni commented on #25042
Ping @PrestaShop/product-team @Julievrz wdyt? should we change the value of lang attribute in html tag from **"gb"** to **"en-gb"**? or the value **"gb"** is the right one?

Thanks in advance :pray:

[2021-08-17 16:03] hadran9 commented on #25628
Hello @hibatallahAouadni, First of all thank you for your quick reply.
I've already saw this issue and I didn't find anything in it that could help me, FYI I'm using the default theme of PrestaShop.

[2021-08-17 16:09] hibatallahAouadni commented on #25542
Hello @Rizzen59

Thanks for your feedback.
Could you provide the code that you add in `product_tag.tpl` while using these attributes `$product.allow_oosp` and `$product.availability_message` to reproduce the issue.

Thanks in advance :pray:

[2021-08-17 16:14] hibatallahAouadni commented on #25547
Hello @01park

I need an exemple to understand better the issue, for exemple: **the averge sales should be ... but it display ... and it's wrong cause if you calculate it the total ... and divide into ... the result should be ...** .
Please check and feedback.

Thanks!

[2021-08-17 16:37] hibatallahAouadni commented on #25531
Hello @ProteanCode

Could you please provide clear and consice steps to reproduce the issue :pray:
Cause I didn't manage to reproduce the issue with provided infos.

Thanks!

[2021-08-17 16:53] khouloudbelguith opened #25631 "BO - Order page - Debug mode enabled - an exception is displayed when ordering a product with a file customization - The label is empty in the employee language"
#### Describe the bug

This issue is reproduced with a multilanguage shop.
The employee language is English
We create a product with a customization
- Type: file
- Label: in English valid label / in french is empty
- Required (yes/No) => Same issue

When we order this product, we have an error in the BO > Order page when we change the employee language to french
![image](https://user-images.github

[2021-08-17 16:59] khouloudbelguith commented on #25631
Related to https://github.com/PrestaShop/PrestaShop/issues/21815

[2021-08-17 18:46] goyetus opened #25633 "FO product page contains div tab-product-info that exposes too much product data"
#### Describe your bug

In product View:

If you see html in "product-info-tab"  ALL data from products.php  is printed in html !!!
I Think is terrible cause it can be data-mined  your supplier, ids, images, configuration,  all !!
Private Data showed:  Id_shop , Id_manufacturer, Id_supplier, Referente, Is_virtual .......  ALL .

The function prints all data comes from "product.php"  and "product.e

[2021-08-17 20:13] matks commented on #25633
Interesting, good catch.

I looked at the history to see if there is a reason for this. I found the github comment where it was decided to put the full product data https://github.com/PrestaShop/PrestaShop/pull/6418#discussion_r80515164

I agree with you SQL IDs should not be added, at least not by default. Some modules might need to fetch this data using JS so it could be an option that could be

[2021-08-17 20:23] kpodemski commented on #25633
@matks and later it was decided to provide a way to filter these variables, that was done by @eternoendless - see ProductLazyArray and whitelisted properties 👍🏻

This was introduced to make easier to work with the product and JS.

[2021-08-17 20:33] matks commented on #25633
@kpodemski indeed https://github.com/PrestaShop/PrestaShop/pull/8803

Looks like we can add more data inside the whitelist 😛

[2021-08-18 07:38] #25538 closed, assigned to Progi1984

[2021-08-18 07:48] PierreRambaud commented on #25633
I confirm that some data shouldn't be visible in the JSON.
As example:
![image](https://user-images.githubusercontent.com/1462701/129859009-803f9715-07c7-49f9-9e5b-7b991b7106fa.png)

We should only return what we need in our classic theme, and allow people with a hook to add data in the whitelist if needed.

[2021-08-18 07:53] hibatallahAouadni commented on #25633
Hello everyone,

Thanks @goyetus for your suggestion!
@matks & @kpodemski Thanks guys for your quick reply :rocket:
@PierreRambaud thanks for the proposed solution :superhero:

If you are willing to implement this feature into PrestaShop as a [Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/), the teams will be happy to help you by ensuring that it is appropria

[2021-08-18 08:02] kpodemski commented on #25633
You're right, I remember this:
https://build.prestashop.com/news/exposing-data-with-confidence/

but the fact is that it doesn't work with `ProductLazyArray::getEmbeddedAttributes`

IMO this is a critical issue 😕

[2021-08-18 08:09] tmsio commented on #10157
Hello, any solutions?
Thank You

[2021-08-18 09:04] MatShir commented on #25042
Indeed, there is a problem because "gb" is not part of the list of language tags (check link [here](http://www.iana.org/assignments/language-subtag-registry/language-subtag-registry)).
We can definitely use the language code defined by the IETF standard for the lang, we won't have to worry about any other language

[2021-08-18 09:26] NeOMakinG commented on #25042
Fixed here https://github.com/PrestaShop/PrestaShop/pull/25635

[2021-08-18 09:50] kpodemski commented on #25633
Hello @hibatallahAouadni

It's not related to WebService 👍

[2021-08-18 10:09] matks commented on #25554
Hi, maybe there is a concurrency issue that allows someone to generate multiple orders if the return URL is called multiple times in a very short timespan.

I did not check the code, but I guess that the process that happens after return URL has been called once successfully will persist something in database that prevents return URL future calls. But this process takes time, maybe a few microseco

[2021-08-18 11:25] 01park commented on #25547
Hi,

The average sales is calculated by the forecast / the selected time period. It should be, the total sales / selected time period

[2021-08-18 12:09] matydominguez opened #25637 "Implement Faceted search or filter by drop-list prices in the search bar"
#### Is your feature request related to a problem?

Are you going to add faceted search to all searches or it is just a big deal we have to buy a new module to filter our search?

#### Describe the solution you'd like

It would be great to see "faceted search" when you use native search box or when you go to drop-down list with discounts and new products on my store.

Thanks!

[2021-08-18 12:11] #25631 closed, assigned to PierreRambaud

[2021-08-18 12:29] 01park commented on #20264
Google sitemap then. There is still an issue with the 4.2 version that does not work correct with multishop

[2021-08-18 12:46] hibatallahAouadni commented on #25637
Hello @matydominguez

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement t

[2021-08-18 12:51] hibatallahAouadni commented on #25461
Hello @ritafrancisco

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-08-18 12:51] #25461 closed, assigned to nobody

[2021-08-18 12:52] hibatallahAouadni commented on #25453
Hello @jf-viguier

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-08-18 12:52] #25453 closed, assigned to nobody

[2021-08-18 13:21] pablo9x opened #25638 "Catalog Price Rules Issue"
**Describe the bug**

I have a problem with the pricing rules. Everything configured correctly, rules enabled in preferences but the module does not show discounts. The application of promotions on a single product card works correctly. For verification, I installed a custom shop with the selected template and everything is correct there.

Module: Specials block v1.0.1

#### Expected behavior

I e

[2021-08-18 13:23] #14783 closed, assigned to nobody

[2021-08-18 13:23] #14782 closed, assigned to nobody

[2021-08-18 13:24] #14778 closed, assigned to PierreRambaud

[2021-08-18 13:24] #14780 closed, assigned to jolelievre

[2021-08-18 13:38] marionf commented on #20097
Hello @matks
This message will be removed in the new version of the upgrade module, so I close this issue

[2021-08-18 13:43] marionf commented on #23147
Hello @alfonsolr09

We are currently working on the new version of the upgrade module and this sentence will be removed, so I close your issue.

Thank you for raising this problem

[2021-08-18 13:43] tjerry opened #25639 "Updating an order's status through API, does not send the associated e-mail."
#### Describe the bug

When updating an order's status through API's /order_histories, the associated e-mail is not sent.

#### Expected behavior

If a status has an e-mail template set, it should be sent, when the status is added to an order through API.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Statuses.
2. Set an e-mail template in any status.
3. Add that status throu

[2021-08-18 13:59] tjerry commented on #25639
Scratch this.
E-mail are sent by adding ?sendemail=1.

[2021-08-18 13:59] #25639 closed, assigned to nobody

[2021-08-18 14:05] jolelievre commented on #19605
Hi @kviwilavi,

as I explained in an earlier comment (https://github.com/PrestaShop/PrestaShop/issues/19605#issuecomment-640624605) the solution is not as simple as truncating the DB directly, at least not for everyone...

PrestaShop acts as a CMS that provides hooks for external modules and solutions, when a product is deleted a hook is called so that modules can clear their own data related to t

[2021-08-18 14:19] Bellaco1 opened #25640 "Friendly url not working for Attachments when multi lang used"
#### Describe the bug

Friendly url not working for products attachments when multi lang used on Ubuntu and Nginx setup
 you get 404 Not Found https://shop.bellaco.se/en/index.php?controller=attachment&id_attachment=52
but when you take away /en/ it work's

#### Expected behavior

expected to download or show products attachments directly now somthing wrong when use multi lang

#### Steps to Repro

[2021-08-18 14:30] marionf opened #25641 "Check if the module is up to date"
**As a user, I want to know if my module is up to date to be able to move to the next step to start the upgrade and ensure its success.**

1. In the welcome step, we should check that the module is well up to date (if it's not the case, the user should not be able to go to the next step).

2. We should add a link redirecting to the Module Manager page > Updates tab to let the user upgrade his modu

[2021-08-18 14:53] marionf opened #25642 "Check the maintenance mode activation"
### Describe the bug

It says that the store is in maintenance mode while it's not.

### Steps to Reproduce

1. Go to Shop parameters > General > Maintenance
2. Put the "enable shop" toggle on "yes"
3. Go to the auto-upgrade module
4. See error: the "Your store is in maintenance mode" line is ✅ while the shop is not in maintenance mode

<img width="309" alt="Capture d’écran 2021-08-19 à 14 14 57

[2021-08-18 15:11] khouloudbelguith commented on #21361
Hello @matks,

All the modules in the list which are not archived are fixed.
It is ok!

Thank you!

[2021-08-18 15:31] eveneme opened #25643 "DevTools failed to load source map"
#### Describe the bug

DevTools failed to load source map: Could not load content for https://three-veil.demo.prestashop.com/modules/blockreassurance/views/dist/front.css.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE
DevTools failed to load source map: Could not load content for https://three-veil.demo.prestashop.com/modules/blockreassurance/views/dist/front.js.map: HTTP er

[2021-08-18 16:11] hibatallahAouadni commented on #25638
Hello @pablo9x

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
- expected behavior
- Steps to reproduce
- ...

You don't know how to get this information? Please read the following article: [How to create a bug report](http://build.prestashop.com/howtos/misc/how-to-create-bug-report/).

Thanks!

[2021-08-18 16:25] khouloudbelguith opened #25644 "BO - Order page - Debug mode enabled - an exception is displayed when ordering a deleted product with a file customization"
#### Describe the bug

In the BO > Orders > Order details page, an exception is displayed when ordering a deleted product with a file customization

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a product with a customization
- Type: file
- Label: valid label
- Required (yes/No) => Same issue
2. Go to FO > Product details page
3. Choose a file and save a customization
4. add

[2021-08-18 16:40] hibatallahAouadni commented on #25643
Hello @eveneme

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-08-18 16:40] #25643 closed, assigned to nobody

[2021-08-18 16:41] hibatallahAouadni commented on #25639
@tjerry lad to hear :tada:

[2021-08-18 16:41] marionf commented on #17496
Duplicate of #14784

[2021-08-18 16:41] #17496 closed, assigned to marionf, prestascott

[2021-08-18 16:48] marionf commented on #15194
Duplicate of #25641

[2021-08-18 17:30] marionf commented on #14596
In the new version of the upgrade module, we should check if overrides are well disabled (see #14781)
We should fix this issue before working on the upgrade module

[2021-08-18 20:30] matks commented on #25619
## 🚧 🚥 STATUS UPDATE

`1.7.7.x` branch has been completed for release, and a 1st ZIP 1.7.7.67archive has been built by the Release Manager @PierreRambaud . It has been delivered to QA team who will be able to launch the standard patch release test campaign.

[2021-08-19 06:42] kviwilavi commented on #19605
@jolelievre

I have read this (and many more) discussion and I understand it's not that simple as performing one SQL query. I have written my comment here because I've been searching for a solution for quite a long time with an headache, blaming my own computer. Deleting just a few thousand products  for hours is really annoying and **at least for testing purposes** , deleting the categories x pro

[2021-08-19 06:55] Rizzen59 commented on #25542
No problem :

[code]

[2021-08-19 06:59] PierreRambaud commented on #24643
I think we have to remove `ps_buybuttonlite` from this list, it shouldn't be a module manage by the community, Otherwise, if we decide to take it, we assume we can improve it, and allow contribution from the community to add whatever they want.

[2021-08-19 07:06] mickine commented on #22215
Hello together, does anyone use variant articles? After updating from 1.7.6 to 1.7.7.6 I had the same trouble. Changing the database as told above works fine with one exception. I can't save products with variants :-( I think, the solution may be simular. Any idea, which database tables I have to change?

Thanks and greetings from germany

[2021-08-19 08:35] pablo9x commented on #25638
I have updated the information in the first post

[2021-08-19 08:45] hibatallahAouadni commented on #25542
Hello @Rizzen59

After adding the provided code in `themes/classic/templates/catalog/_partials/product-flags.tpl`, I didn't manage to reproduce the issue with PS1774, see the screen record below:

https://drive.google.com/file/d/1m2qhMsC7AvU8GrWbzeE2evZVmuYdYZkC/view

Please check and feedback.
Thanks!

[2021-08-19 09:04] khouloudbelguith opened #25646 "BO - Dashboard - Dashproducts - An exception is displayed in the console when deleting a customer that have some orders"
#### Describe the bug
In the BO > Dashboard page, an exception is displayed in the console after deleting a customer that has some orders and the table `Products and Sales` is empty

The module `dashproducts` v2.0.4 => ok
![image](https://user-images.githubusercontent.com/16067358/130040189-9e1ff301-9e1d-4b10-a6d2-ae15a6d6992f.png)

The module `dashproducts` v2.1.1  => nok
![image](https://user-im

[2021-08-19 09:05] hibatallahAouadni commented on #25638
Hello @pablo9x

Thanks for your feedback.
I didn't manage to reproduce the issue with PS1776, see the attached screen record below:

https://drive.google.com/file/d/11VKTLa8d6Mjq4RWP-tIhXs0iano0ungk/view

Please check and feedback.
Thanks!

[2021-08-19 10:18] hibatallahAouadni commented on #25640
Hello @Bellaco1

Could you please check this issue #15936 seems similar to yours.
Please check and feedback.

Thanks!

[2021-08-19 10:22] abcreationIT commented on #25154
@florine2623 or someone else can answer me?

[2021-08-19 11:21] marionf opened #25647 "[EPIC] Upgrade batch 1"
# Scope for the rework of the Auto-upgrade module batch 1

### Must-have
- [x] #25657
- [x] #25659
- [x] #25649
- [x] #25894
- [x] #25893

### Nice-to-have
- [x] #12435
- [x] #20097
- [x] #9564

### No priority
- [x] #27087
- [x] #27184

--------

## Fixed

### Must-have
- [x] #25656
- [x] #15194
- [x] #25642
- [x] #14784
- [x] #14781
- [x] #25654

### Nice-to-have
- [x] #21558
- [x] #25655
- [x]

[2021-08-19 11:23] marionf opened #25648 "[EPIC] Upgrade all issues"
---
# All issues related to the Auto-upgrade module

## Bugs
- [ ] #12435
- [ ] #25276
- [ ] #21558
- [ ] #20332
- [ ] #23652
- [ ] #23071
- [ ] #18113
- [ ] #16284
- [ ] #24423
- [ ] #9564
- [x] #23147
- [x] #20097
- [x] #22141
- [x] #9513
- [x] #22173
- [x] #22177
- [x] #22208
- [x] #22237
- [x] #22250
- [x] #22294
- [x] #22399
- [x] #22485
- [x]  #22668
- [x] #23277

## Improvemments
- [ ] #232

[2021-08-19 11:44] marionf opened #25649 "Deactivation of non-native modules"
### Describe the bug

The feature to Disable non-native modules in the auto-upgrade module is not working.
⚠️ [The feature to disable non native-in modules](https://github.com/PrestaShop/PrestaShop/issues/9965) in the Advanced parameters > Performance page is also not working and should be fixed before.

According to @Progi1984 it's because it's looking for information in the install folder which

[2021-08-19 12:03] khouloudbelguith opened #25650 "BO - Order page - Debug mode enabled - an exception is displayed when adding a cheapest product or removing it from the Order with a specific cart rule (Exclude discounted products enabled)"
#### Describe the bug

We create a cart rule with a percent discount applied on the cheapest product and Exclude discounted products option is enabled
In the BO > Orders > Order details page, an exception is displayed when we try to add/remove a cheaper product than the ordered products.

Only when debug mode is enabled.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create an Orde

[2021-08-19 12:16] abcreationIT opened #25651 "RMA is not working when we use two statuses: one with the condition "Set the order as paid" enabled and the second one with the option "Set the order as shipped" enabled"
#### Describe the bug

Customers cannot return merchandise because there is no option

#### Expected behavior
At least two statuses: one with the condition "Set the order as paid" enabled and the second one with the option "Set the order as shipped" enabled

#### Steps to Reproduce

1. Edit the order status Shipped and uncheck Set the order as paid.
2. Change Order Status to "Payment accepted (Set

[2021-08-19 12:25] eternoendless commented on #25649
To go a little further on what @marionf said, ideally we should identify native modules in the _destination_ version, then disable all modules in the _current_ version that aren't found on that list.

[2021-08-19 12:25] PierreRambaud commented on #25619
Thank your for the report!

[2021-08-19 12:33] marionf commented on #20097
Little change, I re-open this issue

[2021-08-19 12:44] PierreRambaud commented on #25594
It's normal behavior if you don't update the theme.

[2021-08-19 12:46] eternoendless commented on #25594
But if you did update the theme?

[2021-08-19 13:47] hibatallahAouadni commented on #9590
@marionf I reproduce the issue with PS1780 & 178x and I updated the issue description:
https://drive.google.com/file/d/15tRFoj3-z8qATuSLjxw_nlTv0rldTAqa/view

[2021-08-19 13:57] NeOMakinG commented on #25594
I did choice to update the theme

[2021-08-19 14:00] PierreRambaud commented on #25594
Oh, I understand, during the update process, we never remove files. We can do nothing against that, can have a lot of side effects if we decide to do it

[2021-08-19 14:42] marionf opened #25654 "Display the details of errors if PrestaShop requirements are not satisfied"
#### Is your feature request related to a problem?

The line "PrestaShop requirements are not satisfied." ❌  is not really helpful and don't allow to know what's wrong.

#### Describe the solution you'd like

**As a user making an upgrade, I want to be able to upgrade my store only if all PrestaShop requirements are satisfied to ensure the success of the upgrade**

The user should not be able to u

[2021-08-19 14:45] marionf opened #25655 "Edit the wording of the welcome part of the auto-upgrade"
**Replace the current wording:**
"With the PrestaShop 1-Click Upgrade module, upgrading your store to the latest version available has never been easier!"
"Please always perform a full manual backup of your files and database before starting any upgrade.
Double-check the integrity of your backup and that you can easily manually roll-back if necessary.
If you do not know how to proceed, ask your ho

[2021-08-19 15:00] hibatallahAouadni commented on #25651
Hello @abcreationIT

Thanks for your patience and reopening this issue!
So, let's state the steps:
Make an order
Check as "Shipped"
Then, check as "Delivered"
Checking the order on FO
See error => as a client I can't see section to return a product

Is that so? if so I didn't manage to reproduce the issue with PS1776, see the attached screen record below:

https://drive.google.com/file/d/1KxUJUKPf

[2021-08-19 15:06] abcreationIT commented on #25651
@hibatallahAouadni thanks for your reply.
Can I ask you how did you configured the two state "Shipped" and "Delivered"?

And could you explain me why the code ONLY checks if the current order status is paid AND shipped, and not OR as mentioned in the documentation?

Thanks

[2021-08-19 15:07] marionf opened #25656 "Display the current PHP version"
**As a user making an upgrade, I want to know what is my current PHP version before starting the upgrade to know to which version I can upgrade**

In the "Start yout upgrade" block, display "Your current PHP version: X.X" just before "Your current PrestaShop version"

Mockups: https://www.figma.com/file/GpRsUUCHcdhJPAaz7Eqzes/Autoupgrade?node-id=497%3A11710

[2021-08-19 15:10] PierreRambaud commented on #25619
## 🚧 🚥 STATUS UPDATE

The release is available, we are waiting for Docker images:

https://build.prestashop.com/news/prestashop-1-7-7-7-maintenance-release/

[2021-08-19 15:10] eternoendless commented on #25594
Even if we choose to update the default theme?

[2021-08-19 15:12] marionf opened #25657 "Display a modal before lunching the upgrade to let the user verify the PHP compatibility"
**As a user making an upgrade, I want to be sure that my PHP version is compatible with my current PS version and the one to which I want to upgrade**

- If the user clicks on "upgrade now" (no matter the channel selected), we should display a modal to remind him/her to verify the compatibility of his/her PHP version with PS:
- Modal title: “Are you sure you want to upgrade to %version% ?”
- Modal

[2021-08-19 15:20] PierreRambaud commented on #25619
## 🚧 🚥 STATUS UPDATE

Docker images are available:
https://hub.docker.com/r/prestashop/prestashop/tags?page=1&ordering=last_updated&name=1.7.7.7

[2021-08-19 15:20] #25619 closed, assigned to PierreRambaud

[2021-08-19 15:26] marionf opened #25659 "Display the compatibility between PS versions and PHP versions"
**As a user making an upgrade, I want to know which PS version is compatible with which PHP version to know if I need to upgrade my PHP version to upgrade my store to a PS version**

In the "Expert mode" block, under the "changelog" we should display the table of compatibility between PS versions & PHP versions

Mockups: https://www.figma.com/file/GpRsUUCHcdhJPAaz7Eqzes/Autoupgrade?node-id=497%3A1

[2021-08-19 15:56] marionf commented on #20332
Hello @khouloudbelguith

Could you please update the first comment / screenshots of this issue to describe the issue that you currently have (if you still have one) ?

Thank you

[2021-08-19 15:58] marionf commented on #20332
By the way, I don't think people upgrade to the 1.7.7.0beta1 know that the stable version has been released.
I think that we can close this issue if you don't have errors while upgrading from 1.7.2.4 to 1.7.7.0 stable

[2021-08-19 16:29] matthieu-rolland commented on #25618
As seen with @Robin-Fischer-PS and @MatShir

This is not actually a bug:

### What happened

Default image sizes for product thumbnails are different in 1.6.1 and 1.7.8, we would not see these blurry images before because the largest image was always displayed on FO, which was bad for SEO. But now that we fixed that and load the thumbnail at appropriate sizes, the issue is obvious.

It's the same

[2021-08-19 16:32] #25618 closed, assigned to matthieu-rolland

[2021-08-19 18:35] gray-b commented on #10471
There is still a problem, and I am using ps1.7.7.5 and 1.7.7.6

![ps-gb js-missing](https://user-images.githubusercontent.com/22105014/130081978-df049ff1-b39f-4078-ac97-554a0332a275.jpg)

I have copyied en.js to create gb.js in the directory /js/tiny_mce/langs.

First line of en.js changed to en_US
and gb.js changed to en_GB

[2021-08-19 19:41] gray-b opened #25660 "Theme layouts not preserved when changing theme"
When changing from one theme to another, in my case from Transformer theme to Default theme, and then back again, all the layout and modules positions have been removed from the layouts.

You have to go back into every hook and rehook or alter the position, in fact nothing is preserved in the change over.

One would not have expected any thing to have been lost. This is a major flaw in Prestashop,

[2021-08-19 22:42] skills-up opened #25661 "Duplicate invoice generated for each order"
#### Describe the bug

Hello,

On my development site with recent prestashop version (1.7.7.6) with default settings, a duplicate invoice is generated each time an order is paid. I get an invoice #IN000000 for the same amount as the actual invoice. This also results in a warning that 2x amount has been paid instead of x.

#### Expected behavior

Only a single invoice with the correct invoice numbe

[2021-08-20 07:08] mVento3 opened #25662 "Proceed button is enabled when quantity of second product change"
#### Describe the bug

'Order more than on stock' must be enabled.
Order button is enabled if quantity of one product is bigger than available on stock and we add other product and then change its quantity. Of course after this, we can not proceed anyway, it is visual bug.

#### Expected behavior

After the quantity change of second, or any other product, the order button should be disabled/inacti

[2021-08-20 07:41] khouloudbelguith commented on #25660
Hello @gray-b,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be g

[2021-08-20 07:41] #25660 closed, assigned to nobody

[2021-08-20 08:13] Julievrz commented on #24954
Thank you for your patience!

Based on the survey and some discussions within the Product Team, it was decided to keep the current wording for now. The word "combinations" is widely used in the PrestaShop ecosystem: a change could have confused merchants, or been interpreted as a new feature. However, the survey revealed that the user documentation was not very clear in explaining how the combinat

[2021-08-20 08:22] matthieu-rolland opened #25663 "FO: Classic Theme: Wrong product image size loaded when clicking on thumbnail"
### Describe the bug

On FO/Classic theme, in product page, when clicking on one of a product's thumbnails it loads the image in the `large_default` format instead of `medium_default` format.

### Expected behavior

It should load the `medium_default` image size, not the `large_default`

### Steps to Reproduce

1. In FO, go to a product page
2. In the browser's console, check that the main image's

[2021-08-20 08:48] #21210 closed, assigned to PululuK

[2021-08-20 08:51] #25467 closed, assigned to Hlavtox

[2021-08-20 08:56] khouloudbelguith commented on #25661
Hi @skills-up,

Thanks for the issue.
I did not manage to reproduce the issue with PS1777 using the Payment by check module and Paypal module.
I attached a screen record
https://drive.google.com/file/d/1CU65NWIAdbSY4cZoBXnb_hxDxfX-xLhX/view?usp=sharing

Do you have the same issue when using another payment module?
Have you tried to contact the "AstroPay For Prestashop" author?

Thanks to check wit

[2021-08-20 08:59] khouloudbelguith commented on #25662
Hi @mVento3,

We manage to reproduce the issue with PS1777, it is added to our debug roadmap.
Your ticket is a duplicate of #18958
So, I close it.
Thanks!

[2021-08-20 08:59] #25662 closed, assigned to nobody

[2021-08-20 08:59] khouloudbelguith commented on #25662
Duplicate of #18958

[2021-08-20 09:03] hibatallahAouadni commented on #24954
Hello @Hlavtox

Thanks @Julievrz for your hard working :rocket:
So, I close the issue but we can reopen it in the future.

Thanks for understanding :pray:

[2021-08-20 09:03] #24954 closed, assigned to nobody

[2021-08-20 09:14] #25490 closed, assigned to nobody

[2021-08-20 09:14] Julievrz commented on #25028
Hi @MatShir
I suggest keeping only "help", to avoid using the personal pronoun "I". Also, I wonder whether the link should redirect to the dev docs or the user docs? (http://doc.prestashop.com/display/PS17/Installing+PrestaShop)

For the second wording, maybe we could only keep "Blog" as it will necessarily be the project's blog since all mentions of the company will have been removed.

Let me kno

[2021-08-20 09:20] khouloudbelguith commented on #25663
Hi @matthieu-rolland,

Thanks for the issue.
I manage to reproduce the issue with PS1769 and PS1777
![image](https://user-images.githubusercontent.com/16067358/130211382-5ac4dd3a-bff2-4f02-8e83-70bfa395b5fc.png)

Thanks!

[2021-08-20 09:22] khouloudbelguith commented on #19552
Hi @202-ecommerce,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2021-08-20 09:22] #19552 closed, assigned to nobody

[2021-08-20 09:42] khouloudbelguith commented on #25651
Hi @abcreationIT,

I checked the Documentation:

[code]

1. The first case is this
![image](https://user-images.githubusercontent.com/16067358/130213524-e2d92ebe-7a50-404f-a086-f4b0c6e15fee.png)
In the FO => OK
![image](https://user-images.githubusercontent.com/16067358/130213644-2a342986-3456-4945-8a0c-c9b8b374fddd.png)

2. The second case
![image](https://user-images.githubusercontent.com/160673

[2021-08-20 10:13] khouloudbelguith commented on #25547
Hi @01park,

Thanks for your feedback.
I made a fresh install PS1777
I checked:
- The Average cart value in the ` Payment distribution` section => ok
- The Average price in the `Category distribution` section => ok

- The Average of the `STATS DASHBOARD` section, I have strange calculus.
![image](https://user-images.githubusercontent.com/16067358/130218389-a9465128-5cb9-4b09-ac66-953a489ec7f3.png)

[2021-08-20 10:19] abcreationIT commented on #25651
Hi @khouloudbelguith,
I don't know but on my PrestaShop set up like this it doesn't work and seeing the code I didn't find the part where it checks all the statuses but as you can see on my screenshots the code ONLY checks if the current order status is paid AND shipped.

I understand that it works for you but I can't understand how since the code is clear.

I do other research but for now i dont

[2021-08-20 10:32] khouloudbelguith commented on #25651
@abcreationIT;

`Also because if, for example, I set the "Mark as paid" flag on the "Shipped" status which normally always comes after the "Payment accepted" status, the payment is duplicated.`

No there is no payment duplicated
You can check the Payment lock
![image](https://user-images.githubusercontent.com/16067358/130220676-4cbae1a8-5138-4978-9108-dd7011be46e2.png)

Thanks!

[2021-08-20 10:40] 01park commented on #25547
Hi @khouloudbelguith

From my view, the average is being calculated from the forecast revenue / the select amount of time  ( for example 30 day ). I calculated this and everytime it is spot

In your example I see you selected yearly. Not sure how its calculated here.

I remember stats dashboard recently being updated, from what I can remember I was correct back then.

[2021-08-20 11:13] khouloudbelguith commented on #25628
Hello @hadran9,

I tried to add those lines

[code]

In the file `PrestaShop/app/Resources/translations/default/ShopNotificationsError.xlf`

It is ok :heavy_check_mark:
![image](https://user-images.githubusercontent.com/16067358/130225140-0e9b015a-6a41-4f23-9396-2491ebc60eb2.png)

Thanks to check and feedback.

[2021-08-20 11:58] skills-up commented on #25661
Hello @khouloudbelguith

The problem is not reproducible with *AstroPay for Prestashop* either, if I manually change the order status. It is the actual payment flow where the problem manifests.

I've found multiple similar issues during my search, and all recommended unchecking the "Set the order as paid." for Order Status *Payment accepted* in Order Settings. That does solve the problem of duplic

[2021-08-20 13:12] khouloudbelguith commented on #25661
@skills-up, thanks for your feedback.

Could you please check the issue with the actual payments instead of manually changing the order status?
I tried to create an order with COD module.
Thanks to check my record and feedback.
https://www.awesomescreenshot.com/video/4919098?key=7c61d1a75a2284557766afd8bf474b4d

Thanks!

[2021-08-20 13:19] khouloudbelguith commented on #20332
Hi @marionf,

Now, I tried to install PS1724 => ok no errors.
1. I made an upgrade from PS1724 to PS1777 => ok no issues
https://drive.google.com/file/d/1WDlFIfqyK09rlEScytxuDIbhFBuwiTIs/view?usp=sharing
2. I made an upgrade from PS1724 to PS1770 using local archive => ok no issues
https://drive.google.com/file/d/1dq-qLTItbeiaC6BgpkVpQYh4xn-rY1Ji/view?usp=sharing

The 1-click upgrade v 4.12.0

I w

[2021-08-20 13:19] #20332 closed, assigned to nobody

[2021-08-20 13:39] skills-up commented on #25661
@khouloudbelguith

In my opinion, COD module works entirely differently, in the way that the order doesn't go through PS_OS_PAYMENT state.

For all the threads I've read so far pertaining to the similar issues, the issue specifically appears to be linked with PS_OS_PAYMENT state.

So, if you could please check with paypal module or some other payment method, where the payment happens before order

[2021-08-20 13:58] khouloudbelguith commented on #25661
@skills-up, yes, I tried with paypal module in my first comment => ok
Here's my screen record
https://drive.google.com/file/d/1D6AKNg_tqP_9P5DVSvTOAvD6-9xlrCDq/view?usp=sharing

Thanks!

[2021-08-20 14:12] skills-up commented on #25661
Thanks @khouloudbelguith

I'll close this issue as it's not re-creatable at your end.
I'll keep looking for the reasons as to why it might be happening, as I've tried with another payment method, and the issue persists on my installation.

[2021-08-20 14:12] #25661 closed, assigned to nobody

[2021-08-20 14:15] skills-up commented on #25661
BTW, forgot to mention: I didn't face this issue on version 1.7.7.1 (another test installation), only on 1.7.7.6.

[2021-08-20 14:21] eternoendless commented on #25042
Fixed by #25635

[2021-08-20 14:21] #25042 closed, assigned to NeOMakinG

[2021-08-20 14:21] eternoendless commented on #25663
Fixed by #25665

[2021-08-20 14:21] #25663 closed, assigned to matthieu-rolland

[2021-08-20 14:47] eternoendless commented on #25594
We decided that this is not a blocker for 1.7.8.0 as other themes will suffer from the same problem. In the meantime, this issue must be put forward in the release notes.

[2021-08-20 14:52] eternoendless commented on #23010
# Status update - RC 1 build 3 is on the way

A new build has been submitted to QA, based on https://github.com/PrestaShop/PrestaShop/commit/d0972fc0b6988a00d2da2d699a5452a73b0faa78.

Any regression fixes due to 1.7.8.0 must target `1.7.8.0-build`. `1.7.8.x` now only receives patches for 1.7.8.1.

[2021-08-20 16:27] hadran9 commented on #25628
Hi @khouloudbelguith, thank you for your reply.

That actually worked but I don't know what to do in the id section for each new input I'll add.

I was thinking that the trans-unit will be generated automatically like the case for the TPL files but I guess I was mistaken.

So could you please give me the exact steps to follow in order to be able translate the new inputs in the future.

[2021-08-20 17:32] Mirogord commented on #14703
Hi guys, I had the same problem, the order validation process took more than a minute. This happened after enabling the CDN at Cloudflare. I realized that I have not correctly set the mail DNS. After having set them correctly, the passage from the checkout page to the order confirmation page takes about 5 seconds even having a large catalog with more than 17k combinations. I have also read about o

[2021-08-20 19:15] generare commented on #12760
This seems to be a longlasting request. Is there any extra module that would fix this issue since this is quite challenging for the category image usage. It would be great to have wider category images on the page of the category and more squared-shaped image as a thumbnail.

[2021-08-20 20:58] Oksydan opened #25667 "New fields in smarty template urls when using child theme"
#### Is your feature request related to a problem?

Here is my case.
Client want to create easy to maintain theme for their franchise stores.
Franchise stores are not multistores but separate installation for different countries and they are not operated by client employees but by different company.
Our goal is to provide theme and configured store that will be looking the same as main store but w

[2021-08-21 12:34] Hlavtox opened #25669 "Faceted search - back/forward buttons in browser do nothing"
#### Steps to Reproduce

1. Enable faceted search, setup some filters.
2. Go to category, select one filter, select another filter.
3. Use your browser's back button and see that it changes the URL, but the page itself does not change.

#### Expected behavior

Back button should work, page data should be updated and URL should stay consistent with the data shown.

#### Video

https://drive.google.

[2021-08-21 20:45] lthienard commented on #23189
I have the same problem on my PS 1.7.7.7

`Type error: Argument 1 passed to PrestaShop\PrestaShop\Core\Localization\CLDR\ComputingPrecision::getPrecision() must be of the type int, null given, called in /classes/Context.php on line 467`

The customer has no baskets due to the use of a basket cleaning module ... can it come from there?

This error appears when I want to add a reduction to the order

[2021-08-21 21:20] lthienard commented on #23189
If i force getPrecision(2) i have this message: Could not find the product in cart, meaning Order and Cart are out of sync

[2021-08-21 22:23] ivordurham opened #25670 "Context::getComputingPrecision currency not initialized (see also #18789)"
#### Describe the bug
[code]

#### Expected behavior

No Exception!

#### Steps to Reproduce

I'm using the Stamps.com "stamps.php" plugin to enumerate orders. See https://stamps.custhelp.com/app/answers/detail/a_id/3327/~/how-to-connect-to-prestashop

Requires a POST to MYSHOP/PATH_TO_PLUGIN/stamps.php with the following parameters:
action = getorders
username = (Prestashop employee email)
passwo

[2021-08-22 00:11] psyray opened #25671 "Upgrade failed with error: Cache key must be string, "NULL" given"
#### Describe the bug

While upgrading database from 1.7.5.2 to 1.7.7.6 from command line with `php install/upgrade/upgrade.php` upgrade failed with this message
[code]

#### Expected behavior

Database upgrade should run fine

#### Steps to Reproduce

Firstly you need two 1.7.5.2 version (local and dev - with GIT versioning)
1. In local environment make and upgrade from 1.7.5.2 to 1.7.7.6 with 1

[2021-08-22 09:23] Matt75 commented on #25670
Hello

This script is outdated, it should be the inside a module and called by a ModuleFrontController to access the service container in order to works with CLDR.

You can find documentation to create a module here: https://devdocs.prestashop.com/1.7/modules/

Advice: you should manage authentication inside ModuleFrontController::checkAccess()  then put your logic into ModuleFrontController::post

[2021-08-22 09:49] Bellaco1 commented on #25640
Hi No this don't feel like similar problem, I just looking for be able to use same Attachments for every language. I see a lot of diffrent solutions to use diffrent lang on attachments. Any one that can point me in right direction for just get rid of lang for attachments?

[2021-08-22 14:05] lhotakj opened #25672 "Image upload doesn't work in Image Slider plugin"
#### Describe the bug

After an upload of image, this image does not show up. When I check the link, it looks in correct form like
/modules/ps_imageslider/images/1e39f131ef4a8094542c70218d8b25d0fb3491ca_banner4-2021.png
but the file is actually missing on FTP. The workaround was obvious - I created such file and it works.

This stoppe working about some update, but I can't recall of what. I was su

[2021-08-22 17:14] abcreationIT commented on #25651
@khouloudbelguith I don't understand why I have all these errors ...

I am attaching screenshots of the duplicate payment in case I switch to a state that mark the order as paid in an order that has already been marked as paid by another state.

<img width="1048" alt="Schermata 2021-08-22 alle 19 09 49" src="https://user-images.githubusercontent.com/33608547/130364018-c6d828ae-79e8-4f83-ae69-79f67

[2021-08-22 17:15] ivordurham commented on #25670
Thanks for the advice. I understood that my patch was probably not the
right solution. Unfortunately, this script is provided to Stamps.com by
interapptive.com/ShipWorks, so I'm trying to reach both about this and
several other bugs that are manifest with more recent PS releases. At this
time the standalone script is still being advertised to Stamps.com
customers and I needed to get it working wit

[2021-08-23 07:00] #25610 closed, assigned to NeOMakinG

[2021-08-23 07:55] Progi1984 commented on #25459
Fixed by @NeOMakinG in #25569

[2021-08-23 07:55] #25459 closed, assigned to NeOMakinG

[2021-08-23 08:02] hibatallahAouadni commented on #25667
Hello @Oksydan

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
And thanks for your PR :rocket:

Thank you

[2021-08-23 08:52] hibatallahAouadni commented on #25669
Hello @Hlavtox

Thanks for your detailed bug report :clap:
I reproduce the issue with PS1767, PS1777, but it seems the issue has been fixed with PS1780_build2, see the attached screen record below:

https://drive.google.com/file/d/1aDdZP2Ze6w9p-G3-nBe-X0p4WrXzbKdm/view

With Faceted Search 3.7.1.
Browser Chrome: 91.0.4472.114
Please check and feedback.

Thanks!

[2021-08-23 09:09] hibatallahAouadni commented on #25672
Hello @lhotakj

I didn't manage to reproduce the issue with PS1777 and PS1767, see the attached screen record below:

https://drive.google.com/file/d/1akTXlHDpzoHJMCb0hIWyx19A2Id0ARW0/view

Please check and feedback.
Thanks!

[2021-08-23 09:12] khouloudbelguith commented on #25628
Hi @hadran9,

I will ping our developer.
Ping @sowbiba what do you think of this issue?

Thanks!

[2021-08-23 09:16] NeOMakinG commented on #25669
@Hlavtox It remember me something, I think we fixed it on 1.7.7 or something like it

[2021-08-23 09:49] psyray commented on #25671
Seems that the problem comes from this hardcoded value **1** in the `initContext` method
https://github.com/PrestaShop/PrestaShop/blob/76d89d7833644e461be72f131cca6de43d5a8d99/src/PrestaShopBundle/Install/Upgrade.php#L302

In my database, there is no shop assigned to the `PS_LANG_DEFAULT` value
![image](https://user-images.githubusercontent.com/1230954/130425882-75022ea3-e50a-483a-af11-8372c4d24ce

[2021-08-23 10:10] jolelievre commented on #25545
I have a question, since we are finishing the new product page for the next version is it worth investing time to fix bugs from the old page that is gonna be removed anyway?

@hibatallahAouadni is there the same problem in the new experimental page? If yes then it would be better to fix the new page instead of the old one. If not we could, maybe, close this issue.

[2021-08-23 10:25] copostic commented on #18777
Nice idea but wouldn't it be better by combination ?
For example I have a product that is in silver or gold depending what combination customer choose so HS.Code is not the same ..

[2021-08-23 10:36] Hlavtox commented on #9779
@khouloudbelguith @hibatallahAouadni Girls I think you can close this, it is fixed in 1.7.8 beta. :-) (maybe even in 1.7.7)

![beta](https://user-images.githubusercontent.com/6097524/130433760-a80e4e31-19fc-4a80-bb71-6e6e8deb1ad7.JPG)

[2021-08-23 12:19] MatShir commented on #25594
Add in the search bar module to check if the fill exists to delete it (only if it is the classic theme)

[2021-08-23 12:44] khouloudbelguith opened #25674 "BO - Multistore - SEO & URLs page & Webservice page & new marchandise return page - an exception is displayed when changing Shop links"
#### Describe the bug

In the BO > Shop Parameters > Traffic & SEO page, an exception is displayed when changing the shop link in the header
The same issue is displayed in the Webservice page

#### Steps to Reproduce

Steps to reproduce the behavior:

- [ ] Issue1

- Enable multistore
- Create a new shop group
- create a new shop in this group
- Go to SEO & URLs page
- make any change (enable URL

[2021-08-23 12:48] psyray commented on #25671
And last but not least, the `updateLangs()` method failed
https://github.com/PrestaShop/PrestaShop/blob/76d89d7833644e461be72f131cca6de43d5a8d99/src/PrestaShopBundle/Install/Upgrade.php#L838
With the same problem of bad configuration check
https://github.com/PrestaShop/PrestaShop/blob/76d89d7833644e461be72f131cca6de43d5a8d99/src/PrestaShopBundle/Install/Upgrade.php#L761
But this time the check is

[2021-08-23 12:51] khouloudbelguith opened #25677 "BO - Employee page - the gravatar is NOK"
#### Describe the bug

The gravatar is not displayed on the employee page and in the dropdown-menu-right show
![image](https://user-images.githubusercontent.com/16067358/130449937-7c024730-b42e-43de-a107-769a0c95c015.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Advanced Parameters > Employees page
2. Edit your profile
3. Enable gravatar and save
4. See error

This

[2021-08-23 13:13] Innlog85 opened #25678 "Product taxes incorrect in the credit note"
#### Describe the bug

The total product tax calculated in the credit note differs from that calculated in the invoice

#### Expected behavior

The two taxes should be the same

#### Steps to Reproduce

Steps to reproduce the behavior:

Generate a credit note for an order in the backoffice
![image](https://user-images.githubusercontent.com/89395832/130455223-968b5dfb-fd66-4324-b576-c01e4fb62b37.pn

[2021-08-23 13:55] Robin-Fischer-PS opened #25680 "BO - SEO and Webservice Parameters pages not saved in Multistore"
#### Describe the bug

When in Multistore, in shop or group of shops context, the parameters are not saved on both SEO & URLS and Webservice pages.

#### Expected behavior

Parameters should be saved in every context in Multistore on these pages.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Shop Parameters > Traffic & SEO > SEO & URLs or to Advanced Parameters > Webservice

[2021-08-23 13:55] Robin-Fischer-PS commented on #25680
Linked to #25674

[2021-08-23 14:46] hibatallahAouadni commented on #25545
Hello @jolelievre

No, I didn't manage to reproduce the issue with the **experimental product page** on **develop**.

Ping @PrestaShop/product-team could you please answer @jolelievre question :pray:
PS: we have a PR to fix the issue :wink:

Thanks!

[2021-08-23 15:11] hibatallahAouadni commented on #25678
Hello @Innlog85

Could you please check this issue #23821 cause it seems similar to yours.
Please check and feedback.

Thanks!

[2021-08-23 15:14] hibatallahAouadni commented on #25669
@NeOMakinG Indeed, it has been fixed with PS1780 :wink:

[2021-08-23 15:14] #25669 closed, assigned to nobody

[2021-08-23 16:37] Hlavtox commented on #24494
@matks @ldeprestashop Just got a call from customer who cannot upload a photo to Prestashop due to it being in HEIC... These formats are getting standard also on Androids, we need to implement it soon.

No comment

[2021-08-23 17:30] ivordurham commented on #25670
I am conscious of the PHP version requirements; I'm working on the 1.7
re-design of our deployment in preparation for the release of 1.7.8.
Although downgrading PHP is tricky in my development environment, I believe
I can clone the deployment into a different environment where I can
reproduce my tests with PHP 7.3. It may take a day or so though. I will
note that none of the issues I've encountere

[2021-08-23 18:00] ocio87 opened #25682 "Customers Query slow with many orders"
Hello there,

When trying to view or edit the password of a customer with many orders, this generates slowness in seeing customer as edit (Change Password).

You should not delay in the edit client option (Change Password) since in this option there is only basic information, there is no detailed information about the client.

![image](https://user-images.githubusercontent.com/12537826/130483536-6

[2021-08-23 20:04] #25682 closed, assigned to nobody

[2021-08-23 20:05] ocio87 opened #25683 "Customers Query slow with many orders"
#### Describe the bug

Hello there,

When trying to view or edit the password of a customer with many orders, this generates slowness in seeing customer as edit (Change Password).

You should not delay in the edit client option (Change Password) since in this option there is only basic information, there is no detailed information about the client.

#### Expected behavior

Explain what you expecte

[2021-08-24 08:01] SD1982 opened #25684 "BO - SQL Manager - SQL query return exception"
#### Describe the bug

SQL Manager throws Fatal Error when trying to run complex query

#### Expected behavior

No exception should be displayed

#### Steps to Reproduce

Steps to reproduce the behavior:

1 - Go to BO => discount
2 - Click on "export to sql manager" button
3 - In the SQL manager page, just click on "save" button
4- See error

**Screenshots**

https://drive.google.com/file/d/152rsn

[2021-08-24 08:11] florine2623 commented on #25683
Hello @ocio87 ,

Following your video steps, I couldn't reproduce the issue.
Please check my screen record : https://drive.google.com/file/d/1V1nMG99SI91elxsxE0MHyKuu7z8Qof9D/view

Thanks!

[2021-08-24 08:16] hibatallahAouadni commented on #25684
Hello @SD1982

Thanks for your issue!
FYI (for Dev only :wink: ):
The Request is well saved, if you use one condition in the ON Clause:
[code]
But, if you add another condition in the ON Clause, an error is thrown:
[code]
Enjoy it and happy developing :rocket:

Thanks!

[2021-08-24 08:34] ocio87 commented on #25683
the bug occurs with customers who have many orders.  When the customer has few orders, his behavior is normal.  when you have many orders, hundreds of orders with thousands of products ordered, it blocks the entire site until it manages to load all the information.  While it is running, other computers cannot interact with the site.

[2021-08-24 08:43] #25515 closed, assigned to nobody

[2021-08-24 09:03] Hlavtox commented on #25683
Just tested and even with a customer with one order, it makes hundreds of unnecessary queries.

**The customer**
![customer](https://user-images.githubusercontent.com/6097524/130588898-91294a57-8e7e-4181-89d1-1af37624303d.JPG)

**Queries on view page**
![queries](https://user-images.githubusercontent.com/6097524/130588980-476f80a4-64ce-4ddf-9676-e8541b4d585d.JPG)

**Queries on edit page - why?**
!

[2021-08-24 09:52] florine2623 commented on #25640
Hello @Bellaco1 ,

I can't reproduce your issue using PS 1.7.7.6 and PHP 7.2.
Please check my screen record : https://drive.google.com/file/d/13Vq_yUys_9L_VFt4k7KLHxUDg8LMiLP5/view

Thanks!

[2021-08-24 10:04] Hlavtox commented on #25683
@ocio87 @florine2623 Will be fixed by https://github.com/PrestaShop/PrestaShop/pull/25686

[2021-08-24 10:11] hibatallahAouadni commented on #25671
Hello @psyray

After testing the issue in multiple ways with @florine2623, here's the results:

- Upgrading a shop `1.7.5.2 stable version `with the module `1-Click upgrade` => Done :heavy_check_mark:
- Upgrading a shop `1.7.5.2 tag` (cloned from Git) with `manual upgrade` => Error :x:

![image](https://user-images.githubusercontent.com/23308427/130594151-dc11cde3-5faa-4789-aad0-2145e29fd5f9.png)

[2021-08-24 10:16] hibatallahAouadni commented on #25670
ok, waiting for your feedback!

[2021-08-24 10:27] hibatallahAouadni commented on #25651
Hello @abcreationIT

It's really weird that the invoice is not generated on the first line of payment "Card via Stripe":

![image](https://user-images.githubusercontent.com/23308427/130600712-af095046-3fda-42c5-abc5-2a2d4a33a090.png)

So, it seems your issue is related to your Order Statuses or to the payment module.
To check your issue source, could you please make screenshots of these two status

[2021-08-24 10:31] florine2623 commented on #25683
Hello @ocio87 ,

Thank you for your suggestion. The Development Team will take it into consideration for future developments.

Thanks for your PR @Hlavtox !

[2021-08-24 10:56] abcreationIT commented on #25651
Hi @khouloudbelguith, thanks for your answer.

I am attaching the screenshots of the states.
I also add that I tried to mark the "Mark as paid" status also on the "shipped" status, just to test if the return section was shown on the Front End side.
I actually saw that the return section appeared on the customer order details page but, as seen in the screenshot of the previous answer, it duplicated

[2021-08-24 11:53] Mulherbe opened #25687 "Problem with refund voucher prestashop 1.7"
Hi, i have an issue on prestashop 1.7.6.3.

    On my shop, if someone is ordering by using a discount code, and he wish to get a refund on a specific product.

It works fine when the order is made with only one product and the refund is done by taking account of the voucher.

In case there is more than one product, it's sligthly more difficult.
Presatshop refund the whole discount as well as the

[2021-08-24 12:33] florine2623 commented on #25687
Hello @Mulherbe ,

This is how the discount feature works. If you want to refund just 45 euro, you can add it in the following field - Amount :
<img width="1195" alt="Screenshot 2021-08-24 at 14 32 43" src="https://user-images.githubusercontent.com/16019289/130616933-4590c85e-a97e-4653-a114-2cf9c8979ae8.png">

Thanks!

[2021-08-24 12:35] mrabsinthe opened #25688 "Volume discounts should not be available to unselected countries"
I think that this is rather a bug, not improvement... If you go to any product, pricing, specific prices and and a volume discount available for USA, Japan and Germany, the table on FO product's page should be shown only to customers from USA, Japan and Germany. It is however there all the time visible to visitors from any country. Quite confusing and should not be there.

#### Expected behavior

[2021-08-24 12:42] Mulherbe commented on #25687
![presta](https://user-images.githubusercontent.com/77394951/130617722-0ef39b69-fb2e-447f-9b8e-3318117cdb74.jpg)
No, look:
I have one command with this, i want to refund juste one item.
Look the block on red that price of my item 1: 34,80€ - 5,75€ so 29.05€ but that dont works because  the good calcul is 34,80€ - 3,48€.
5,75€ is voucher on all command not juste one item

[2021-08-24 12:44] florine2623 commented on #25688
Hello @mrabsinthe ,

Can you follow the Bug Report Template and add screenshots so that we can reproduce it ?

Thanks!

[2021-08-24 13:12] mrabsinthe commented on #25688
My bad, it works fine on a vanilla 1.7.7.7 but not on my, two updated installations. Need to figure out where the bug is. Apologies.

[2021-08-24 14:12] florine2623 commented on #25688
Thanks for the updates, I'll close your issue, if you come up with any new updates, feel free to open a new ticket.

[2021-08-24 14:12] #25688 closed, assigned to nobody

[2021-08-24 14:15] florine2623 commented on #25687
You apply the discount on the whole order and not on each product, as explained in the configuration board :
<img width="581" alt="Screenshot 2021-08-24 at 16 14 09" src="https://user-images.githubusercontent.com/16019289/130632724-5635ad50-d08d-470d-bfe2-663dde59f438.png">

This is how the system works. So I'll close the issue.
Thanks!

[2021-08-24 14:15] #25687 closed, assigned to nobody

[2021-08-24 14:53] tswfi opened #25691 "BO - Saving product - Error not clear- the error gets eaten"
#### Describe the bug

When saving a product in BO if there is a module that throws an exception (or some other exception happens) the error is eaten and there is no easy way to check what happened (nothing in logs, debug mode does not help).

#### Expected behavior

Any error while saving the product should show an error message of why saving failed.

#### Steps to Reproduce

Steps to reproduce t

[2021-08-24 15:34] florine2623 commented on #25691
Hello @tswfi ,

Can you check if your issue is related to https://github.com/PrestaShop/PrestaShop/issues/20279 ?

Thanks!

[2021-08-24 16:17] florine2623 commented on #25651
Thanks for the updates.

Can you try to have the same config for both statuses as the screenshots and re-do the same steps for another order ?

[2021-08-24 16:18] Langmans opened #25694 "Hook to modify returned HTML for ajax requests"
#### My problem

I made a private module to convert `<img>` tags to `<picture>` tags (https://github.com/rosell-dk/dom-util-for-webp), so I can dynamically serve webp files using `<source />` tags for browsers that support it (https://github.com/rosell-dk/webp-convert/blob/master/docs/v2.0/serving/introduction-for-serving.md). I'm using the hook `actionOutputHTMLBefore`, which, like I would expect

[2021-08-24 16:56] elmanu13 opened #25695 "French translation error for Shop > Theme > Catalog"
#### Describe the bug

When you add a new product, the "new" label is added on the picture of the product for 20 days (by default)
In french, you can see "NEUF" that means "unused", not new

#### Expected behavior

Real translation is "NOUVEAU" : have to be changed in the installation files

* PrestaShop version: 1.7.7.7
* PHP version: 7.3

[2021-08-24 18:11] tswfi commented on #25691
@florine2623 #20279 is more generic and seems to affect other pages. AFAIK the current dev branch gives quite good error messages on the product edit page as long as the error is something that was "expected" by the ProductController (form checks etc).

But if a module (or probably even database connection error) happens the user will only get a generic "Unable to update.. " notification and no wa

[2021-08-24 19:05] psyray commented on #25671
Thanks for testing ;)
I confirm that 1 click upgrade is working fine for me also

[2021-08-24 19:58] ghost opened #25696 "regla de catalogo con atributos"
Prestashop 1.7.7.7.

reglas de precios de catalogo con atributos no se aplican
Si tengo
articulo camisa
atributo1  x xl xxl
atributo2 rojo verde azul

al aplicar regla de catalogo por ejemplo con precio unico de 9.95 no aplica la regla a los articulos con atributos pero si lo aplica a los articulos sin atributo.

[2021-08-25 02:48] mehdi-ghezal opened #25697 "Editing deleted / inactive carrier shouldn't be possible"
#### Describe the bug

Carrier pricing disappear when edit the carrier with the wrong identifier.

#### Expected behavior

Shouldn't be able to edit carrier with the wrong identifier.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a **Carrier X** and setup a price grid per weight
2. List available carrier
3. Open the **Carrier X** in a new tab and keep the tab open in step 2

[2021-08-25 05:20] cheekygirlsartisanal opened #25698 "Catalog Price Rules not working correctly"
#### Describe the bug

Created a catalog price rule that says:
For all currencies, all countries, all groups, apply a discount of $0.20 from quantity 6 for Category X.

Use Case 1:
6 units of Product A (from Category X) - A total discount of $1.20 --> CORRECT BEHAVIOR

Use Case 2:
3 units of Product A + 3 units of Product B (both from Category X) - No discount --> INCORRECT BEHAVIOR

#### Expected

[2021-08-25 07:09] Progi1984 commented on #25174
Fixed by @Progi1984 in #25205

[2021-08-25 07:09] #25174 closed, assigned to Progi1984

[2021-08-25 07:10] Progi1984 commented on #25423
Fixed by @NeOMakinG in #25557

[2021-08-25 07:10] #25423 closed, assigned to NeOMakinG

[2021-08-25 07:10] Progi1984 commented on #25264
Fixed by @Progi1984 in #25386

[2021-08-25 07:10] #25264 closed, assigned to Progi1984

[2021-08-25 07:11] Progi1984 commented on #25133
Fixed by @NeOMakinG in #25192

[2021-08-25 07:11] #25133 closed, assigned to NeOMakinG

[2021-08-25 07:46] hibatallahAouadni commented on #25696
Hello @xecron21

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-08-25 07:46] #25696 closed, assigned to nobody

[2021-08-25 07:51] hibatallahAouadni commented on #25695
Hello @elmanu13

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #17455.
This issue has been fixed with the new patch release PS1.7.8.0.

Thanks!

[2021-08-25 07:51] #25695 closed, assigned to nobody

[2021-08-25 07:51] hibatallahAouadni commented on #25695
Duplicate of #17455

[2021-08-25 09:05] abcreationIT commented on #25651
@florine2623

https://doc.prestashop.com/display/PS17/Merchandise+Returns

3. The orders need to have had at least the following statuses:

-  At least two statuses: one with the condition "Set the order as paid" enabled and the second one with the option "Set the order as shipped" enabled.

Or

- One status which has both conditions ("Set the order as paid" and "Set the order as shipped") enabled

[2021-08-25 09:36] abcreationIT commented on #25651
Hi @florine2623 and @khouloudbelguith ,

I believe there is a misunderstanding.

As I had previously said, I had already done this test and it worked **correctly** with the final order status that has the check on both "Set the order as paid" and "Set the order as shipped", but the problem is another.

The official documentation says:

https://doc.prestashop.com/display/PS17/Merchandise+Returns

O

[2021-08-25 09:44] hibatallahAouadni commented on #25694
Hello @Langmans

As much as I understand I think you have a problem with image format while loading the images when you use pagination, is that so?
Please check and feedback.

Thanks!

[2021-08-25 09:47] #23606 closed, assigned to Progi1984

[2021-08-25 09:50] AdrievandeVreede opened #25700 "With updating status in the order list, stay on the same page"
#### Describe the bug

If I update an order status on page 2, I should be staying on the same second page.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Orders'
2. Go to second page
3. Change an order status
4. You'll go to first page

#### Additional information

* PrestaShop version: 1.7.7.3

[2021-08-25 09:51] maiolif commented on #25672
I have the same issue.

[2021-08-25 10:41] LinkOfLight opened #25701 "BO - Order set as shipped - We can't add, edit and remove a product"
#### Is your feature request related to a problem?

The order status is changed to shipped or delivered.
if i like edit a order cant see the button of add product or edit/eliminate product, only in old order (very olds) i can se it but if i change the state of this order the buttons dissapears
A clear and concise description of what went wrong.

#### Steps to Reproduce

Steps to reproduce the beha

[2021-08-25 13:08] eternoendless commented on #25680
According to what was discussed, it seems that the forms are being saved correctly but read incorrectly afterwards.

[2021-08-25 13:08] #24490 closed, assigned to Seb33300

[2021-08-25 13:09] #18215 closed, assigned to Progi1984

[2021-08-25 13:10] eternoendless commented on #23010
## Status update - RC 1 build 3 is faulty

A previously hidden bug has been detected by QA and must be fixed before the release:

- https://github.com/PrestaShop/PrestaShop/issues/25680

[2021-08-25 13:37] khouloudbelguith opened #25703 "BO - Add new SQL query & DB Backup page - An exception is displayed when multistore enabled"
#### Describe the bug

In the BO > Advnced Parameters > Database > Add new SQL query & DB Backup page or Experimental Features page, an exception is displayed when multistore enabled

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable Multistore context
2. Create a new shop and configure it
3. Go to BO > Advanced Parameters > Database page
4. Click on "Add new SQL query"
5. See e

[2021-08-25 13:58] hibatallahAouadni commented on #25697
Hello @mehdi-ghezal

Thanks for the well detailed bug report :clap:
Well, I didn't manage to reproduce the issue with PS1777, see the attached screen record below:

https://drive.google.com/file/d/1rnOCwBY1tKsPPfh7SeWTu_iuFASa12xJ/view

Please check and feedback.
Thanks!

[2021-08-25 15:38] gennaris opened #25705 "BO - Unable to save "meta_keywords" field on suppliers"
#### Describe the bug

When saving a supplier, the "meta_keywords" field is not saved in database.

#### Expected behavior

The data should be saved

#### Steps to Reproduce

~~ ~~1. Go to Catalog > Brands and Suppliers and create a new **Supplier**,
make sure to enter some tags in the "meta_keywords" field.~~ ~~

1. Open an existing supplier with some already saved "meta_keywords"

2. Add some me

[2021-08-25 15:43] hibatallahAouadni commented on #25700
Hello @AdrievandeVreede

Thanks for your issue!
I reproduce the issue with PS1777, but I think this is the wanted behavior.
Let's check with Product Team :wink:

Ping @PrestaShop/product-team wdyt? after changing the order status in the list, should the page after the refresh, stay at the same page or back to the page n°1?

[2021-08-25 15:48] hibatallahAouadni commented on #25701
Hello @LinkOfLight

I didn't manage to reproduce your issue with PS1775, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/130822866-000d40b6-462e-4187-966f-facc6dfc302f.png)

Please check and feedback.
Thanks!

[2021-08-25 15:51] zuk3975 commented on #19518
Reminders to continue work after this PR https://github.com/PrestaShop/PrestaShop/pull/25342;

Still left todo:
- Add new product page` categories component not working;
- Breadcrumbs of duplicate name categories are not yet shown in tags;
- Breadcrumbs are not shown in default category selection
- Default category cannot be deleted from tags (need to clarify expected behavior - whether it should

[2021-08-26 07:17] #17137 closed, assigned to Hlavtox, prestascott

[2021-08-26 07:39] #25468 closed, assigned to Progi1984

[2021-08-26 09:13] #25053 closed, assigned to e-gaulue

[2021-08-26 10:46] thalassa-web opened #25709 "Address Hooks are different between BO and FO"
#### Describe the bug
In **F.O.**, when I update a customer's address (in my account), the hooks actionObjectAddress[mode] are triggered.
In **B.O.**, when I update a customer's address, the hooks actionObjectCustomerAddress[mode] are triggered.
It's quite  disturbing...

#### Expected behavior
Using the same rule in B.O. and F.O..
Or maybe call both to avoid backward compatibility issue …

#### S

[2021-08-26 11:02] thalassa-web opened #25710 "Address modification in B.O. - Inconsistency with F.O."
#### Describe the bug
In F.O., when a user changes his/her address and the updated one was already used in an order a new address is created and the other one is flagged as «deleted» (to keep address consistency in the order's addresses).
If I do the same in B.O., the address is simply updated and so my orders (and invoices …).

#### Expected behavior
In B.O., updating an used address must create

[2021-08-26 11:07] hibatallahAouadni opened #25711 "[BO] - Generate Emails throws an exception missing `parameter_bag`"
#### Describe the bug

When I click on Generate Emails, an exception will be thrown

#### Expected behavior

no error, a success message will be displayed (like 1780)

![image](https://user-images.githubusercontent.com/23308427/130952037-d57a82ef-af34-41c2-b84d-742fc86a1ed1.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. BO > IMPROVE > Design > Email Theme
2. In **Generate emai

[2021-08-26 13:21] hcsara opened #25712 "Problem in Product view and product addition"
I created an online shop using Prestashop v1.7.6.8, I've been using it for several months and everything was fine. Today I tried to add a new product, but I found out that the dashboard view in the product section is totally messed up: it reminds me of a missing div in html or something like that, but no one ever touched the code.
It gets worse if I try to add a product, for which the different pa

[2021-08-26 15:29] abcreationIT opened #25715 "Prefix not valid for credit slips"
#### Describe the bug

Adding certain symbols in the credit slip prefix textbox shows an error saying the prefix is invalid

#### Expected behavior

I expect to be able to insert symbols as well as in delivery slips (see second screenshot).

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Orders' -> 'Credit slips'
2. Put in Credit slips prefix textbox some text with a symbol (

[2021-08-26 15:46] #25712 closed, assigned to nobody

[2021-08-26 15:48] zorrobiwan opened #25716 "Thumbnails in BO lists are never regenerated"
#### Describe the bug

When developing a module and displaying a simple list view of entries containing a picture on the fields_list, thumbnails are not regenerated. So, if you edit an entry, upload a new picture and save the entry, the thumbnail in the list will not be refreshed automatically.

#### Expected behavior

When displaying a list in the BO containing pictures, the thumbnails should be

[2021-08-27 08:38] skeccy opened #25718 "BO combination price editor problem - Number comma formatter"
#### Describe the bug

https://user-images.githubusercontent.com/70293774/131098475-aa0a9a48-f8f8-4d3c-ab09-e007d2807b9e.MP4

Hello everyone, I am writing this post to report a problem I had recently following an update of prestashop from version 1.7.7.6 to 1.7.7.7.
In the back office, if I try to edit a product that contains combinations, as soon as I enter the single combination editor, the pric

[2021-08-27 09:33] #25710 closed, assigned to nobody

[2021-08-27 10:44] Colm001 opened #25720 "PrestaShop install ; error that the SQL Database 6.2 is not advanced enough ; cPanel installatron"
That's basically the problem Every time I try to download PrestaShop I keep getting an error that the SQL Database 6.2 isnt advanced enough.   I get an error message in red saying to try downloading a less advanced version.  When I do that it won't download properly.  I've been trying to sort out this website for over a week now and I'm about at the end of my tether ( don't ask)  But when you need

[2021-08-27 12:01] #25720 closed, assigned to nobody

[2021-08-27 13:38] attiliobs opened #25722 "Import combinations first attribute change sometimes"
I'm using this csv for import combination:

PADRE,FIGLIO,PREZZO,NOME ATT,VALORE ATT,PESO
serie101,24288,"4,84",Misura:select:0|Diametro:select:1|Fuori Ghiera:select:2|Lunghezza:select:3,"000:0|1,4:1|5:2|283:3","0,005"
serie101,24289,"5,13",Misura:select:0|Diametro:select:1|Fuori Ghiera:select:2|Lunghezza:select:3,"00:0|1,7:1|5,5:2|284,5:3","0,005"
serie101,24290,"5,42",Misura:select:0|Diametro:sel

[2021-08-27 13:55] vitalita opened #25723 "Create new order BO - search product engine search only by first letters"
I have several products named:
Denon DCD600NE
Denon DCD800NE
Denon PMA600....etc

I can't add products because search engine search only by first letters...(I guess) I have a Product named "Denon PMA-800" and can't find it anyway.
![screenshoteasy (48)](https://user-images.githubusercontent.com/56353115/131138193-16e65359-9b40-4d6b-b853-1032cea5318f.png)

Please see image attached

My presta: 1.7.

[2021-08-27 14:02] mparvazi opened #25724 "BO - Addresses in order page, better to be shown as tab layout"
#### Is your feature request related to a problem?

Column size of delivery address and invoice address in order page is too narrow.

#### Describe the solution you'd like

For more readability, it is better to show it as tab layout.

#### Additional context

BO > Orders > Select an order

![131103894-21f8661a-ee7e-461e-acc0-b30799698f89](https://user-images.githubusercontent.com/85633460/13113808

[2021-08-27 20:29] AdrievandeVreede opened #25729 "No image changing"
#### Describe the bug

After uploading an image on a CMS page, rename it and upload a different image with the same name as the first image had, the image will not be different. Not in FO or in BO.

#### Expected behaviour

The new image should be the new image, not the old image.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to a CMS page
2. Upload an image
3. Rename the image

[2021-08-27 20:54] Jojo-Kaly opened #25730 "PrestaShopDatabaseException after update"
#### Describe the bug

Hi ! After Preestashop update from 1.7.7.1 to 1.7.7.7, I have a PrestaShopDatabaseException messag on front office in debug mode.
Thank you for your help!

<img width="1440" alt="Capture d’écran 2021-08-27 à 22 35 06" src="https://user-images.githubusercontent.com/59056657/131187460-28c2308c-f44c-4d56-b688-5dd8982c6390.png">

#### Additional information

* PrestaShop versi

[2021-08-27 23:16] kpodemski commented on #25716
Hello @zorrobiwan

At this moment, you need to delete the temporary image manually.

Your idea to have this done automatically is good, but the way you fix it is wrong. In my opinion, we should not force regeneration while visiting the list of items.

[2021-08-28 00:17] saikarthikp9 opened #25731 "Healthcheck path should return 200"
#### Is your feature request related to a problem?
Yes. Unable to host PrestaShop on an instance behind AWS Load Balancer because it fails the healthcheck.

#### Describe the solution you'd like

A healthcheck path needs to be introduced if not existing. Ex: /healthcheck

#### Alternatives you've considered

I have tried to use / and /en/ as the healthcheck routes but the response status code is 3

[2021-08-28 05:38] zorrobiwan commented on #25716
I agree it's not elegant way to do it. But doing it manually is not better.

In our case, lists are not so long, pic not so big so there is no perf issue.

Will think about a better way anyway

Thx for your feedback

[2021-08-28 09:07] musicpanda opened #25732 "Adding Belarussian currency doesn't work"
#### Describe the bug

Adding Belarussian currency doesn't work

#### Expected behavior

Normally the other fields will be filled. That happens with a few other currencies that I tested. However, with the Belarussian Ruble you look forever to the "Loading currency data - Please wait while currency data is being loaded" popup.

#### Steps to Reproduce

1. Go in the menu to International -> Localiza

[2021-08-28 09:52] skeccy commented on #25718
@khouloudbelguith Scuse me, How can I contact you to report another problem of mine other than the one reported?

[2021-08-29 15:43] AldeaG opened #25733 "Impact on price with or without taxes"
Hi, I have a doubt which I couln´t find a solution in the Prestashop forums

I use Prestashop 1.7.7.0

I am importing items with combinations (footwear) by CSV. Some sizes have a different price, so instead of putting a price on the item (product) and the impact on the combination, I am putting the price of the product "0" and in the impact I put the final price. With which I avoid having to calcu

[2021-08-30 07:47] matks commented on #25670
Indeed I think there might be quite a long list of things that changed between PS 1.4 and PS 1.7 . The 1. in front of version number means nothing, so actually 1.4 and 1.7 are 3 major versions apart.

It's like trying to find some 3rd party software compatible with Drupal 2 to 5.

Warning: it seems you are not using the original Context class but a custom replacement -> see https://devdocs.prestas

[2021-08-30 08:20] Julievrz commented on #25715
I think it's a wanted behavior yes, but I'll let @marionf or @MatShir confirm. :-)

[2021-08-30 08:47] tswfi commented on #25691
@khouloudbelguith yeah, that is actually a different problem :D The form does not check the field value correctly and lets the save happen which then errors out later down the save methods and the error is eaten.

Anyways, I created a PR for this so that the user can get at least some identification on what went wrong. #25734

[2021-08-30 08:48] abcreationIT commented on #25715
Hi @Julievrz,

I understood that it is a wanted behaviour but I don't understand the sense of not being able to put certain characters in the prefix (especially ° ).

Also, why can I put any character in the **delivery slips** including symbols but **NOT** on the **credit slips**?

Thanks

[2021-08-30 09:01] hibatallahAouadni commented on #25729
Hello @AdrievandeVreede

I didn't manage to reproduce your issue with PS1773 & PS1777, see the attached screen record below:

https://drive.google.com/file/d/1AdqCHAHdxN5qGl_Y7jjLTCq2PKUtAyaV/view

Please clear your cache, check and feedback.

PS: thanks @kpodemski for your quick reply :rocket:

Thanks!

[2021-08-30 09:23] AdrievandeVreede commented on #25729
Hello,
Thanks for your reply. I've cleared my cache, and tried it again. Same result.
On your video, I saw not what I said to do. I did the following:
1. Clear cache
2. Upload an image ...
3. View page
4. Edit page
5. Rename image to ...2
6. Upload another image with ...
7. See the difference (not)
https://user-images.githubusercontent.com/78849197/131317491-70b6152b-7c80-461d-aba1-135ff290aa98.MO

[2021-08-30 09:32] hibatallahAouadni commented on #25730
Hello @Jojo-Kaly

With the standard install & upgrade, I didn't encounter any issue while upgrading from 1.7.7.1 to 1.7.7.7. And it seems your issue related to a third-module cause in PS, there's no table with this name `_template`:

![image](https://user-images.githubusercontent.com/23308427/131318499-c1498292-aa95-4344-97c7-792e453288f0.png)

So, your issue is not a PrestaShop core bug. We will

[2021-08-30 09:32] #25730 closed, assigned to nobody

[2021-08-30 09:44] jolelievre opened #25735 "Product Page v2: Fix the scrollbars on the iframe for attachment form"
#### Describe the bug

Previously fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/26024
In product page v2 when adding a new file a modal opens containing an iframe that includes the form.
This modal has unwanted scrollbars, we need to find a way to remove those (maybe the max width is too
small, maybe the auto size feature is lacking a few pixels)

#### Expected behavior

No scr

[2021-08-30 09:56] hibatallahAouadni commented on #25731
Hello @saikarthikp9

This module has been archived, it’s no longer maintained but you still can fork it if you need it for your shop.
Also let us know if you are voluntary to maintain this module.

PS: your issue is similar to this one #12982 :wink:

Thanks!

[2021-08-30 09:56] #25731 closed, assigned to nobody

[2021-08-30 09:58] hibatallahAouadni commented on #25733
Hello @AldeaG

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-08-30 09:58] #25733 closed, assigned to nobody

[2021-08-30 10:03] Esh-network opened #25736 "Cannot add order via the prestashop 1.7.7.x back office"
Hello,

I allow myself to post a message following a bug encountered on version 1.7.7.x.

#### Describe the bug
When I want to create an order via the back office I end up with different problems (error 500).
Which does not allow me to create an order.

#### Steps to Reproduce
here is the procedure:
1. Go to the back office command tab.
2. Click on create an order
3. Search for a user (preferably

[2021-08-30 10:30] MatShir commented on #25718
@skeccy If you find a bug, you just have to create a new one issue as you did for this one. On your issue, you have to share the steps of how did you reproduce the bug, your PrestaShop's version and PHP's version.

[2021-08-30 10:49] davidcylke commented on #15878
im having same issue on 1.7.7.6

[2021-08-30 10:51] MatShir commented on #25715
Hi @Julievrz,
As said @abcreationIT, the invoices and the delivery slip can accept this symbol, but not the credit slips, weird 🤔. I don't see why the software would have some restriction on the prefix. It does make a lot of sense to have a symbol, many countries have their own way to display numbers, for example in France we use # or n°.

[2021-08-30 12:07] Hlavtox commented on #23569
Working SQL query

[code]

[2021-08-30 12:21] Oksydan opened #25738 "jQuery UI overrides bootstrap tooltip component"
#### Describe the bug

When modules adds jQuery UI library (for example ps_searchbar, ps_facetedsearch), it is included in template due to higher priority after theme.js where bootstrap library is included. Bootstrap and jQuery UI uses $.fn.tooltip method for their tooltip components. When jQuery UI is included it overrides bootstrap tooltip method.

#### Expected behavior

JQuery UI should be inc

[2021-08-30 12:46] hibatallahAouadni commented on #25736
Hello @Esh-network

I didn't manage to reproduce your issue with PS177x, see the attached screen record below:

https://drive.google.com/file/d/16VL49O5RsLKRZ3NmcWLoZUmIHVN7Y1IZ/view

Please check and feedback.
Thanks!

[2021-08-30 12:55] atomiix commented on #25594
This issue should be solved by itself once the XML file containing the md5 of every files of the core will be published for version 1.7.8.0, as the autoupgrade module delete core files that don't exist anymore

[2021-08-30 14:41] ivordurham commented on #25670
Thank you. I'm now clear my naive patch is the wrong place to address the
missing currency issue. The reason it's missing is that the "plugin" is not
called via any user interface, so the normal route for setting it isn't
followed. Instead it is called asynchronously directly from a Stamps.com
server when it receives a request to pull orders from the shop (according
to our webserver logs). I have

[2021-08-30 14:48] #25527 closed, assigned to NeOMakinG

[2021-08-30 15:27] hibatallahAouadni opened #25740 "[BO] - Buttons are not well displayed"
#### Describe the bug

Order statuses are not well displayed on Order list

#### Expected behavior

Order statuses should be displayed on Order list as it use to be on 177x or 1780

#### Steps to Reproduce

Steps to reproduce the behavior:

1. BO > SELL > Orders
2. See error => Order statuses are not well displayed

**Screenshots**

![image](https://user-images.githubusercontent.com/23308427/13136

[2021-08-30 15:35] prestascott commented on #25313
Hi everyone,

Thank you @Hlavtox for your mockups.
Unfortunately this style of table responsive on mobile isn't adapted. As you can see, search inputs are taking way too much space.

Instead of having this type of table
![table1](https://user-images.githubusercontent.com/54888056/131364891-2bafc9b0-ef06-492e-b77c-1fdbd70a6e5d.gif)

I suggest to have this one and make the checkbox and Id columns st

[2021-08-30 16:02] hibatallahAouadni commented on #25732
Hello @musicpanda

I encountered the same issue with PS1774, it keeps rolling for over 10 minutes without any result, see the attached screen record below:

https://drive.google.com/file/d/1rMe1KmVPgC1kyBWnWGykkbWYQ__g2uS7/view

And I get this error on my console:

![image](https://user-images.githubusercontent.com/23308427/131366392-3b6c0f00-716e-43c6-816f-b20beaa0485f.png)

Fortunately, I didn't

[2021-08-30 16:13] ivordurham commented on #25670
I've replaced the incorrect Context override by copying a line from
webservice/dispatcher.php into the stamps.php plugin, conditioned on the
availability of the Context class. This works for 1.4 (no Context) and1.7
(and, I suspect, versions in between).

if (class_exists('Context')) {
    Context::getContext()->currency = Context::getContext()->currency ??
new Currency(Configuration::get('PS_CURRE

[2021-08-30 16:54] hibatallahAouadni commented on #25738
Hello @Oksydan

I reproduce the issue with PS1770 & PS1775, see the attached screen record below:

https://drive.google.com/file/d/1lF6mXV270Y6bVRPxrIdU7qfXv51XbZQF/view

It's a regression cause with PS1767, I didn't manage to reproduce the issue (searchbar is enabled or disabled, the css of tooltip doesn't change), see the attached screenshot below:

![image](https://user-images.githubusercontent

[2021-08-30 17:02] hibatallahAouadni commented on #25535
Hello @karelkryda

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-08-30 17:02] #25535 closed, assigned to nobody

[2021-08-30 17:03] hibatallahAouadni commented on #25552
Hello @Vitamixlife

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-08-30 17:03] #25552 closed, assigned to nobody

[2021-08-30 19:16] matks opened #25743 "Release 1.7.7.8 🔨"
This issue tracks the status of the PrestaShop 1.7.7.8 release

### Information

Q                                    | A
-----------------------|---------------
**Type**                        | Patch version
**Build date**  |  31/08
**Milestone** | [1.7.7.8](https://github.com/PrestaShop/PrestaShop/milestone/77)
**Kanban** | [1.7.7.8](https://github.com/PrestaShop/PrestaShop/projects/19)
**Deliv

[2021-08-30 19:18] matks commented on #25743
This release is needed following the discovery of a major regression introduced in 1.7.7.x https://github.com/PrestaShop/PrestaShop/issues/25718

[2021-08-30 19:30] adamus007p commented on #25530
Hello I can confirm that webhook problem has been fixed in Stripe version 2.3.6

One thing it that the product will remind it the cart for a long moment and it can confuse the customer.
Do you have the same problem?

[2021-08-30 22:56] AldeaG opened #25746 "Importing combinations "impact on price": tax not included"
#### Is your feature request related to a problem?
A clear and concise description of what the problem is. Ex. "I'm always frustrated when..."

I use Prestashop 1.7.7.0 spanish language

I am importing items with combinations (I.E. footwear) by CSV. Some sizes have a different price, so instead of putting a price on the item (product) and the impact on the combination, I am putting the price of th

[2021-08-31 03:32] go-sudo opened #25748 "B2B option is disabled but company field still apparead"
Hello

I'm using on PS 1.7.7.7 and i disabled the **B2B** option but the company and vat fields still there

so I need your help please to know if this is normal or it's a bug , so if it's normal the how can I remove those fields from the theme instead removing theme from **Zones géographiques** because i have 40 countries to edit

![image](https://user-images.githubusercontent.com/11594433/131437

[2021-08-31 06:17] pdkey commented on #22382
Hi @hibatallahAouadni ,
How can you close this issue if your users do not want this change.

Example - rounding differences in payments of 0.01 €, we used to be able to adjust with -0.01 without any problems. Or overpayments.

How to create an credit slip to this in Prestashop without changing a purchased product?
From an accounting point of view, your change will involve additional personnel cost

[2021-08-31 07:44] matks commented on #24624
I close again for now, I will reopen if relevant new informations are found.

[2021-08-31 07:44] #24624 closed, assigned to nobody

[2021-08-31 08:19] florine2623 commented on #25748
Hello @go-sudo ,

I can't reproduce your issue on PS 1.7.7.7.

When B2B is enabled, I have these 2 fields :
![Screenshot 2021-08-31 at 10 16 11](https://user-images.githubusercontent.com/16019289/131467891-6e6453c4-f243-4d49-b6ab-6902351a0055.png)
![Screenshot 2021-08-31 at 10 16 06](https://user-images.githubusercontent.com/16019289/131467832-70a20908-74cf-4af8-bec5-3c7cb5aec655.png)

Once B2B op

[2021-08-31 08:19] #25748 closed, assigned to nobody

[2021-08-31 08:29] matks commented on #25667
We could change that {$urls.img_url}, {$urls. theme_assets}, {$urls. css_url}, {$urls. js_url} will be pointing to parent theme instead of child and provide new fields with child_ prefix like {$urls.child_img_url} pointing to child theme (current).

It could also be the other way around, provide new fields with parent_ prefix like {$urls.parent_img_url}

@PululuK and @kpodemski : you might have so

[2021-08-31 08:32] matks commented on #25694
It makes sense, this is a good developer need. I validate this issue.

[2021-08-31 08:33] hibatallahAouadni commented on #23486
Hello @Sykoku

It seems good with PS1780 and Wishlist v2.0.1, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/131470078-cbd48d6e-99b6-43eb-8437-715bb1f9717e.png)

![image](https://user-images.githubusercontent.com/23308427/131470060-ec4dd316-1cb3-45dc-9242-a44851796216.png)

Thanks!

[2021-08-31 08:49] hibatallahAouadni commented on #25683
Ping @PrestaShop/prestashop-core-developers this issue is waiting for your confirmation :pray:
So, if you approve these changes proposed by @Hlavtox to improve Customers Query, please put the label **`To Do`**.

Thanks in advance!

[2021-08-31 08:51] Hlavtox commented on #25683
@hibatallahAouadni It still does not solve the insane numbers of queries on customer view page. I think that pagination should be introduced.

[2021-08-31 09:11] florine2623 commented on #25729
Hello @AdrievandeVreede ,

I can't reproduce your issue following your steps :
https://drive.google.com/file/d/1DHmvkkz3ckkRivNtgGEPFhAd5s9XqJuU/view

It seems like it is a cache issue as @kpodemski said. Please check with your hosting provider.

I'll close this issue as I can't reproduce it.
Thanks!

[2021-08-31 09:11] #25729 closed, assigned to nobody

[2021-08-31 09:37] matks commented on #25585
@gadnis Hi!

I just tried using `dd()` on FO homepage in IndexController and on BO dashboard in AdminDashboardController

[code]

and it works 😄

[2021-08-31 09:38] matks commented on #25578
I see.

In my opinion it makes sense. I would like a 2nd review, but I would say it's a relevant module feature request.

ping @PrestaShop/prestashop-maintainers

[2021-08-31 09:41] gadnis commented on #25585
@matks which PS version?

[2021-08-31 09:45] matks commented on #16582
You wish it to happen but it's PrestaShop @PrestaShop/product-team that decides what happens or not in the project.

I understand you find it very useful to have positive or negative payments but there is more than "is it easy or not to use" when it comes to payments.

AFAIK Product team is actually in the process of getting some law compliance people so that they can tell us what can be done or w

[2021-08-31 09:47] matks commented on #22382
I understand you find it very useful to have positive or negative payments but there is more than "is it easy or not to use" when it comes to payments.

AFAIK Product team is actually in the process of getting some law compliance people so that they can tell us what can be done or what cannot be done in order to comply with the law.

The very first thing to do is to verify what is legal and what i

[2021-08-31 09:50] florine2623 commented on #25746
Hello @AldeaG ,

Indeed, now, you can only choose "_Impact on price_"; the VAT is not an option.
Now the you choose "_Impact on price_" the impact will be considered **tax excluded**.

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is impor

[2021-08-31 09:51] matks commented on #25683
I confirm @Hlavtox suggestion is a good idea.

After loading has been optimized, if the page is still slow, we have many ways to fix it.
- display orders as a paginated table as you suggest
- display orders using an ajax query with a spinner
- only display a relevant number of orders (anyway, it's useless to show thousands of orders, nobody can use a page with thousand of rows), a simple maximum a

[2021-08-31 09:52] matks commented on #25585
`develop`

I think that, as long as Symfony is loaded, `dd()` is available everywhere.

[2021-08-31 10:03] Sykoku commented on #23486
It is a two different goods. I'm talking about one product with two colors.
PrestaShop 1.7.8.0 is a beta only. Thank's. Not on my watch.

[2021-08-31 10:13] pdkey commented on #22382
hi @matks

thank you very much - Prestashop as an open source project is wonderful.

But in this case the change was as a stone in the regular order processing.

To the legal (basis German law):
We call this payment transaction as voucherless pass-through item.

Case study:
Prestashop and payment modules, such as Klarna create a payment error, due to incorrect rounding differences of 0,01 €. We ch

[2021-08-31 10:21] hibatallahAouadni commented on #25683
Thanks @matks :tada:

[2021-08-31 10:23] gadnis commented on #25585
@matks I'm using `1.7.6.9`
Maybe develop version has it, but in production version `dd()` function is not found.

At the moment I'm using my own helper.php where I defined `dd()` function my self.

[2021-08-31 10:37] go-sudo commented on #25748
Hello @florine2623

Im talking about order page when a new client will buy and subscribe

![image](https://user-images.githubusercontent.com/11594433/131487996-7706ea05-7670-41fc-b7d7-bc5ee9677418.png)

Regards

[2021-08-31 10:45] radioeventos commented on #22382
Any accounting allows positive and negative amounts. Discounts, without going any further, are a negative amount and this is expressed in the same prestashop. If I make a payment to a customer for a return, there is no way to record said payment in the prestashop accounting. If the order has not been invoiced yet, because until it is sent it is not invoiced, how do I record that payment or that re

[2021-08-31 10:55] attiliobs commented on #25722
hello @khouloudbelguith, i made a fresh installation with ps 1.7.7.7 and make import with this file, the first 14 rows are imported correctly, from 15th rows it begins to change the order of imported attributes
[serie101ok.csv](https://github.com/PrestaShop/PrestaShop/files/7083323/serie101ok.csv)

![immagine](https://user-images.githubusercontent.com/19194341/131490473-6fcff680-412e-4d19-86da-ce7

[2021-08-31 11:03] go-sudo opened #25752 "B2B option is disabled but company field still apparead in Order (commande) Page"
Hello

I'm using on PS 1.7.7.7 and i disabled the B2B option but the company and vat fields still there **IN THE ORDER PAGE** NOT create_account page

so I need your help please to know if this is normal or it's a bug , so if it's normal the how can I remove those fields from the theme instead removing theme from Zones géographiques because i have 40 countries to edit

i![image](https://user-image

[2021-08-31 12:05] khouloudbelguith commented on #25740
Hi @Hlavtox

I have the same issue:

In the BO > Catalog > Attributes page > Add new color value
![image](https://user-images.githubusercontent.com/16067358/131499413-5d77c553-5008-49f4-a928-8d2eb293e8d0.png)
In the BO > Module manager > configure Banner module
![image](https://user-images.githubusercontent.com/16067358/131499512-22d8be00-7ef1-4750-968b-74794e93acb3.png)

Thanks!

[2021-08-31 12:16] Huluti commented on #25578
Thanks for your return. I think that it's could be good to encourage people keeping their environment up to date.

[2021-08-31 12:49] jolelievre commented on #19518
I believe the "Add new category" feature was removed from the product page

[2021-08-31 13:05] florine2623 commented on #25722
Hello @attiliobs ,

Do you mind sending the cvs fil directly ?

Thanks!

[2021-08-31 13:11] zuk3975 commented on #19518
According to wireframes we still have it as a new feature inside the category tree. (need to clarify, maybe we discussed it, but didn't record anywhere)

[2021-08-31 13:12] attiliobs commented on #25722
Hello @khouloudbelguith, is attacched to previuous post
Thank you very much

[2021-08-31 13:52] florine2623 commented on #25722
Hello @attiliobs ,

I managed to reproduce your issue in PS 1.7.6.x, PS 1.7.7.7 and PS 1.7.8.0, so I can confirm that this behavior is indeed a bug.
Although, only some of the entries have this issue.
<img width="890" alt="Screenshot 2021-08-31 at 15 42 21" src="https://user-images.githubusercontent.com/16019289/131513575-9ea8f7a8-1f49-4ee3-a92f-ba33e2b3dabd.png">

The content of the file :
<img w

[2021-08-31 14:08] matks commented on #25585
It's might be that because of https://github.com/PrestaShop/PrestaShop/issues/14995 we have `dd()` available everywhere from 1.7.8

As it's implemented in future versions of PrestaShop and we only ship bug fixes for past versions, I think we can close this issue 😊 . It's already "fixed" for `develop` as far as we know.

[2021-08-31 14:08] #25585 closed, assigned to nobody

[2021-08-31 14:09] gadnis commented on #25585
Sure. Thanks ;)

[2021-08-31 14:22] attiliobs commented on #25722
Thank you very much, if i will solve it, i will very happy to share the solutions.

[2021-08-31 14:35] hibatallahAouadni commented on #25545
@MatShir I didn't manage to rperoduce the issue with PS178x, I only reproduced it with develop

[2021-08-31 14:59] hibatallahAouadni commented on #25303
Ping @PrestaShop/prestashop-core-developers friendly reminder :pray:

[2021-08-31 15:21] jf-viguier commented on #25518
Why did you close this one ? A good issue description there.

[2021-08-31 15:24] Hlavtox commented on #25518
@jf-viguier Because I found an EPIC with basically everything I wrote here... 😄

https://github.com/PrestaShop/PrestaShop/issues/15491

[2021-08-31 15:24] florine2623 commented on #25752
Hello @go-sudo ,

I was able to reproduce the issue with PrestaShop version 1.7.6.7 and PS 1.7.7.7.

I will ping product team to check if this is the wanted behavior or a bug.

Thank you

[2021-08-31 15:29] florine2623 commented on #25752
ping @PrestaShop/product-team ,

I have the B2B option disabled and the fields Company and VAT number displayed in the step 2 of order form
<img width="728" alt="Screenshot 2021-08-31 at 17 26 05" src="https://user-images.githubusercontent.com/16019289/131531332-a9db57a7-6307-4b4b-a545-2fee6354c7fd.png">

In order to hide those fields, we need to go to International > Locations > Countries > Delet

[2021-08-31 15:35] khouloudbelguith opened #25753 "BO - Product combination price (the impact price -5 is converted)"
#### Describe the bug

In the BO > Catalog > Products > Edit a product with combinations
When we try to edit a combination and set the impact price Tax included = -5 it will be converted to `-5.000002`

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO > Catalog > Products > Edit a product with combinations
2. In the Combinations Tab > Edit a combination
3. In the field Impact

[2021-08-31 15:53] #25394 closed, assigned to nobody

[2021-08-31 16:39] atomiix commented on #25303
@hibatallahAouadni this is definitely not the expected behavior, the fix provided by @Seb33300 seems good! 👍

[2021-08-31 18:06] bullmade opened #25754 "Add VAT ID field on customer level"
Add a field for European VAT ID on the customer similiar to how there is a field for SIRET and APE code.
Although there is a VAT ID field on customer address, for practical reasons it can sometimes be easier to identify the customer through VAT ID directly on the customer account and not on the address.

![image](https://user-images.githubusercontent.com/16975198/131553635-b2d5ecf8-c973-4b1e-8ac7-

[2021-08-31 18:26] go-sudo commented on #25752
Hello
Yes but I'm managing 10 websites so to gain time is there any action more faster and easier then removing those fields manually

Regards

[2021-08-31 20:42] matks commented on #25633
@kpodemski I submitted a draft Pull Request for this https://github.com/PrestaShop/PrestaShop/pull/25755

[2021-09-01 04:39] khanhblue95 opened #25756 "I can not docker compose up"
I change https://deb.nodesource.com/setup_10.x  -> https://deb.nodesource.com/setup_12.x
after that I run docker-compose up
----------------------------------------------------------------
Symfony\Component\Filesystem\Exception\IOException: Failed to create "/var/www/html/var/cache/dev/translations": mkdir(): Permission denied in /var/www/html/vendor/symfony/symfony/src/Symfony/Component/Filesyste

[2021-09-01 08:24] hibatallahAouadni commented on #25756
Hello @khanhblue95

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-09-01 08:24] #25756 closed, assigned to nobody

[2021-09-01 08:26] hibatallahAouadni commented on #25754
Hello @bulldesign

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-09-01 08:26] #25754 closed, assigned to nobody

[2021-09-01 08:28] bulldesign commented on #25754
Its not a bug, its a feature request.

[2021-09-01 08:48] hibatallahAouadni commented on #25584
Hello @01park

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-09-01 08:48] #25584 closed, assigned to nobody

[2021-09-01 08:49] Hlavtox commented on #25752
@go-sudo @florine2623 That's perfectly normal behavior. :-) Even without B2B mode, in 99 % of cases you need the company and VAT fields. If ordering stuff for a company, you need these fields to be on a invoice.

So if you really want to remove it... in order to update it quickly, run this SQL:
[code]

[2021-09-01 09:09] MatShir commented on #25752
@Hlavtox I couldn't answer it better, thanks :)
I will close the issue, @go-sudo do not hesitate to reopen it if the context of your problem changes.

[2021-09-01 09:09] #25752 closed, assigned to nobody

[2021-09-01 09:37] camlafit opened #26093 "In some case GoogleAnalyticEnhancedECommerce is not defined"
#### Describe the bug

On some case GoogleAnalyticEnhancedECommerce javascript variable is undefined. In this case we could get an
Uncaught ReferenceError, this error once raised any javascript execution following can't be execute (as popin validation on add to cart).
This behavior occurs at least on category and product page

#### Expected behavior

Could be nice to check this variable before to

[2021-09-01 10:14] hibatallahAouadni commented on #25303
Thanks @atomiix for your quick reply :pray: changing the status to **`To Do`**

[2021-09-01 12:06] #24740 closed, assigned to eternoendless

[2021-09-01 12:06] #24744 closed, assigned to eternoendless

[2021-09-01 12:06] #24747 closed, assigned to eternoendless

[2021-09-01 12:06] #24751 closed, assigned to eternoendless

[2021-09-01 12:19] Progi1984 commented on #25677
@khouloudbelguith It is normal.

As mentionned in the documentation of Gravatar (https://fr.gravatar.com/site/implement/images/), if you are on a local server, the image can't be displayed.

![image](https://user-images.githubusercontent.com/1533248/131669931-0f42e067-75da-467c-99cf-8ba201adbeda.png)

So you can close this issue.

[2021-09-01 12:21] #25677 closed, assigned to Progi1984

[2021-09-01 12:59] tswfi commented on #18777
We would also need this for few carrier modules. Almost all carriers are starting to require this information for shipments.

[2021-09-01 13:11] cyrilchapon opened #25758 "API error codes documentation"
When accessing an URL like

https://API_KEY@the-store.com/api/products?output_format=JSON&display=full

I'm getting a PHP warning serialized, at the end of the JSON like so :

[code]

My topic here is not about resolving this error; but rather understanding where the `code: 3` comes from.
Mainly in order to be able to anticipate the future, and potentially ignore / trust errors based on their code

[2021-09-01 13:33] cyrilchapon commented on #25758
@Hlavtox thank you.
This is not my question.

[2021-09-01 13:42] Hlavtox commented on #25758
@cyrilchapon I think that code 3 is a an exception type - https://www.php.net/manual/de/exception.getcode.php

[2021-09-01 14:23] tajriba opened #25759 "When prestashop.com is down, the admin backoffice is slow"
Version:

1.7.X

Because it wants to load the profile picture (avatar) :
<img width="559" alt="Schermafbeelding 2021-09-01 om 16 22 10" src="https://user-images.githubusercontent.com/68469531/131688457-58c6ab83-eb0b-46ce-86a8-db0cb253d057.png">

My solution: stop loading profile avatars in prestashop backoffice from external source like prestashop.com.
This slows down many backoffices if yu have a

[2021-09-01 14:49] #21640 closed, assigned to Progi1984

[2021-09-01 15:05] hibatallahAouadni commented on #25758
Hello @cyrilchapon

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-09-01 15:05] #25758 closed, assigned to nobody

[2021-09-01 15:06] hibatallahAouadni commented on #25759
Hello @tajriba

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-09-01 15:06] #25759 closed, assigned to nobody

[2021-09-01 15:10] matks commented on #25759
It’s already done in the 1.7.8.0 version which will be released soon :wink:

See details https://github.com/PrestaShop/PrestaShop/issues/18503

[2021-09-01 17:56] rflorent opened #25761 "attribute_ecotax : Notice: A non well formed numeric value encountered"
#### Describe the bug

After update from 1.7.6.4 to 1.7.7.7, with debug mode enabled, editing a product show an error : Notice: A non well formed numeric value encountered
This come from the attribute_ecotax calculation on line 152 , class PrestaShop\PrestaShop\Adapter\Product\AdminProductWrapper

`            $combinationValues['attribute_ecotax'] = Tools::ps_round(
                $combinationVa

[2021-09-01 17:58] rflorent commented on #25761
Ecotax disabled for informations.

[2021-09-01 19:48] Rockabit opened #25762 "Error after update from 1.7.7.6 to 1.7.7.7 - Unable to update settings -"
#### Describe the bug

After updated from PS 1.7.7.6 to PS 1.7.7.7, I save the changes in product form and I receive "unable to update settings".
In debug mode I see

#### Expected behavior

I expect you to save the product changes.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO
2. Click on products
3. Click on a product
4. Click on 'add new image or save any change'
5. Se

[2021-09-02 01:58] khanhblue95 opened #25763 "cannot docker-compose when clone source"
#### I use system linux KDE,

I cannot docker-compose when clone source

#### Can docker-compose success

expected: docker-compose success and I can go to localhost:8001

#### Steps to Reproduce

Steps to reproduce the behavior:

1. setup dockerfile nodesource.com/setup_10 -> nodesource.com/setup_12
2. into bash of prestashop run : make
3. Docker-compose up
4. See error

**Screenshots**

[code]

#

[2021-09-02 02:01] go-sudo commented on #25752
Hello @Hlavtox

 Thank you for the solution , but I'm not agree with you , if I choose to disable B2B it means that I do not Sell products to Companies Otherwise this B2B option worth nothing

Regards

[2021-09-02 07:08] matks commented on #25758
@cyrilchapon this information is not in https://devdocs.prestashop.com/1.7/webservice/ so I don't think it's documented

Unfortunately webservice documentation is far from complete. If you're motivated, consider contributing to the doc ;)

[2021-09-02 07:16] lmeyer1 opened #25764 "Missing index on table ps_address"
#### Describe the bug

The display of the BO page *Catalog - Brands and suppliers* takes ~60 s to display.

We have ~50'000 addresses and ~5'000 manufacturers (=brands)

#### Expected behavior

Working with BO should be more fluid.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to *Catalog - Brands and suppliers*
2. Go and get a coffee ☕ 🥐 (wait for  ~60 s)

**Solution**

There

[2021-09-02 07:42] #9927 closed, assigned to tswfi

[2021-09-02 07:44] matks commented on #22382
I have heard this story before. This is wrong, please don't assume bad intentions just because we disagree with you.

You provide good points and good things to think about, please focus on the good ideas you provide and leave the unnecessary ranting aside, following our [Code of Conduct](https://github.com/PrestaShop/PrestaShop/blob/4d09e859c595ded636d5f1ae3952afb97343e1bb/CODE_OF_CONDUCT.md).

T

[2021-09-02 08:26] BenTen opened #25765 "Apply cart rules to shipping fee"
#### Is your feature request related to a problem?

In Carte Rules, we can apply a discount to Order (**without shipping**) only.

#### Describe the solution you'd like

It could be good to add Order (**with** shipping) to discount shipping fee too.

#### Alternatives you've considered

N/A

#### Additional context

Exemple:
I give 5 EUR to a customer.
The customer buy a 2 EUR product
There is 3 E

[2021-09-02 08:38] Benoit1980 opened #25766 "deleteSearchIndexes issues on Prestashop 1.7.7.2"
Hello,

I would like to know if this bug has been fixed in future Prestashop releases please.

On the version 1.7.7.2 the deleteSearchIndexes() query has issues:
`DELETE sw FROM `ps_search_word` sw LEFT JOIN `ps_search_index` si ON (sw.id_word=si.id_word) WHERE si.id_word IS NULL;
`
The query runs non stop for days.

Causing this one to fail too:
`SELECT DISTINCT si.id_product FROM ps_search_word

[2021-09-02 08:42] matks commented on #25633
Waiting for PM => https://github.com/PrestaShop/PrestaShop/pull/25755#issuecomment-911359962

[2021-09-02 09:16] khanhblue95 commented on #25763
I just comment var and vendor in service of docker-compose and after that I can run

[2021-09-02 09:30] hibatallahAouadni commented on #25766
Hello @Benoit1980

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we w

[2021-09-02 09:30] #25766 closed, assigned to nobody

[2021-09-02 09:32] JasminAllForWeb opened #25768 "[ErrorException] Undefined index: prestashop with composer"
On 1.7.7.x branch, when I run ``composer install``, I got this error :
Undefined index: prestashop
I got php 7.4.23.

[2021-09-02 09:37] atomiix commented on #25457
I think this one has been make already? https://github.com/PrestaShop/blockreassurance/pull/219

[2021-09-02 09:38] #25768 closed, assigned to nobody

[2021-09-02 09:42] hibatallahAouadni commented on #25765
Hello @BenTen

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or i

[2021-09-02 09:48] JasminAllForWeb commented on #25768
Sorry, I will respect the provided template to submit a complete bug report next time.
Actually, I have the same issue with 1.7.8.x branch.

[2021-09-02 09:56] matks commented on #25651
Warning: please follow the [Code of Conduct](https://github.com/PrestaShop/PrestaShop/blob/9723602bfddb7240c52c1720e6ecac837d07be6e/CODE_OF_CONDUCT.md)

Using welcoming and inclusive language
Being respectful of differing viewpoints and experiences
Gracefully accepting constructive criticism
Focusing on what is best for the community
Showing empathy towards other community members

Communication c

[2021-09-02 10:13] abcreationIT commented on #25651
@matks  I am very sorry for the language but I felt offended because this issue was commented on by several people of PrestaShop and no one, at least until I wrote that message, took me seriously by reading ENTIRELY what I had written.

I spent time documenting, finding possible problems and explaining them in all possible ways (link to documentation, quoted text, screenshots of the code) but my q

[2021-09-02 10:27] Progi1984 commented on #25457
@PrestaShop/product-team Do we need to add in `blockreassurance` hooks for adding this elements from `MBO` ?

[2021-09-02 10:50] hibatallahAouadni commented on #25764
Hello @lmeyer1

I didn't manage to reproduce your issue with PS1775 (fresh install), see the attached screen record below:

https://drive.google.com/file/d/1gB-Y8Ev5P9SK8Yj6mwcA1IyHuVeLcHLz/view

After adding 5 suppliers, it took longer. Then, I add 5 more (10 brands), it tooks only 1 second:

https://drive.google.com/file/d/1IsIeQw3m9FVvc91vWYqbhM--kmdRE973/view

So, could you please provide  an

[2021-09-02 10:55] hibatallahAouadni commented on #25763
Hello @khanhblue95

It seems that your issue is not a PrestaShop core bug.
It's Dokcer problem, please create the issue on [Docker repo](https://github.com/PrestaShop/docker/issues).

We will close this issue.

Thanks!

[2021-09-02 10:55] #25763 closed, assigned to nobody

[2021-09-02 11:07] khouloudbelguith commented on #9896
Hi,

It is ok :heavy_check_mark:
I checked with PS1777 => ok
https://drive.google.com/file/d/12dgAVG75GJMhomgpl0hNkvrvVrj9mt4O/view?usp=sharing

Thanks!

[2021-09-02 11:07] #9896 closed, assigned to nobody

[2021-09-02 11:27] khouloudbelguith commented on #9901
Hi @marionf,

I manage to reproduce the issue with PS1.7.7.7 also
![image](https://user-images.githubusercontent.com/16067358/131835766-ad7dfc74-b00c-445d-86ec-a1a3ca2ba611.png)

Thanks!

[2021-09-02 11:28] khouloudbelguith commented on #9910
Hi @marionf,

I did not manage to reproduce the issue with PS1.7.7.7
https://drive.google.com/file/d/1-E-HEJ5O7h7814hSkxfk2aq2frb24s7k/view?usp=sharing

It is fixed.

Thanks!

[2021-09-02 11:28] #9910 closed, assigned to nobody

[2021-09-02 12:06] matks commented on #22382
I am closing this topic as it's going in the wrong direction.

[2021-09-02 12:12] hibatallahAouadni commented on #25768
I think you may need help with your shop. If you want please consider one of our [support plans](https://www.prestashop.com/support).
Or, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack).

[2021-09-02 12:18] JasminAllForWeb commented on #25768
I got a 404 error with your slack link. Could you give me the good link ?

[2021-09-02 12:35] BenTen commented on #25765
hello @hibatallahAouadni
Do you think I open the issue for help or for something doesn't exit?

[2021-09-02 12:42] sfroment opened #25772 "Module list is bugged"
#### Describe the bug
Following the addons tutorial on how to make a [modules](https://devdocs.prestashop.com/1.7/modules/creation/tutorial/#the-constructor-method) your module won't be in the list

#### Expected behavior

My module being listed

#### Steps to Reproduce

follow [addons tuto](https://devdocs.prestashop.com/1.7/modules/creation/tutorial/#the-constructor-method)

[this line is causin

[2021-09-02 12:44] Hlavtox opened #25773 "actionShippingPreferencesPageHandlingForm doesn't work"
#### Describe the bug

**actionShippingPreferencesPageHandlingForm** is not called on **Shipping > Configuration** page, while according to documentation, it should since 1.7.4. https://devdocs.prestashop.com/1.7/modules/concepts/forms/admin-forms/

**actionShippingPreferencesPageHandlingSave** is called just fine.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add hookActionShippi

[2021-09-02 12:49] javierdelval commented on #25577
Hello,

I've just come from holidays. Sorry.

At the beginning  the render seems okay. Template and images are rendered...

[image: image.png]

But a few *ms *later all the images are gone.

[image: image.png]

Then, all images begin to reload

[image: image.png]
After 300ms, all images are rendered.

[image: image.png]

This effect (from 900ms to 2200ms) worsens the render time and Page Speed
Ins

[2021-09-02 12:58] hibatallahAouadni commented on #25577
Hello @javierdelval

Could you please respond on GitHub. Cause when you answer via mail, all the attached photos are not displayed:

![image](https://user-images.githubusercontent.com/23308427/131847709-520135ad-ac02-47ac-b106-9dec5876e68a.png)

Please check and feedback.
Thanks!

[2021-09-02 13:03] hibatallahAouadni commented on #25765
Hello @BenTen

So, you asking for a new improvement, is that so?
Why you didn't use the provided template to submit a feature request? all you need to do is to click on the button **Get Started**  to open a feature request:

![image](https://user-images.githubusercontent.com/23308427/131848177-b3f9175c-60c7-423c-bdb5-feff36fdc365.png)

And then, you have the provided template to fill:

![image](ht

[2021-09-02 13:04] musicpanda commented on #25732
Indeed. It worked in 1.7.7. Thank you.

[2021-09-02 13:09] hibatallahAouadni commented on #25732
Thanks for your feedback!
Glad to hear :tada:

So, closing the isssue as it has been fixed :relaxed:

[2021-09-02 13:09] #25732 closed, assigned to nobody

[2021-09-02 13:11] BenTen commented on #25765
ping @hibatallahAouadni

[2021-09-02 13:14] hibatallahAouadni commented on #25765
Hello @BenTen

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fea

[2021-09-02 13:31] hibatallahAouadni commented on #25768
Sorry, here's the link https://prestashop.slack.com/
You have to create an account on Slack.

[2021-09-02 13:58] hibatallahAouadni commented on #25772
Hello @sfroment

Could you please specify your Prestashop and PHP version :pray:

Thanks in advance!

[2021-09-02 15:36] JoryHogeveen commented on #18777
@BenTen Ah right, good example!

[2021-09-02 16:19] tswfi commented on #25772
@sfroment a module that is not yet installed will not be shown in the "Modules" -> "Module manager" list. It is only shown in "Modules" -> "Module catalog" page (Yes, I have tripped on this multiple times :)

[2021-09-02 16:21] sfroment commented on #25772
prestashop version 1.7.8.0
php version 7.4
@tswfi thanks ! maybe it isn't a good thing as the catalog isn't available when prestashop have down times

[2021-09-02 16:21] #25772 closed, assigned to nobody

[2021-09-02 16:28] tswfi commented on #25701
If I had to guess the order has been or is currently in a order status that has shipped or delivery marked.

Prestashop wont allow editing orders that have been in those states. (which should probably be documented somewhere)

My suggestion is to instead of checking all the past states to only check the current state.

This way merchant can change the state back to something like "oops, we made a

[2021-09-02 20:21] Progi1984 commented on #25738
(Ping @NeOMakinG)

[2021-09-02 21:54] ocio87 commented on #25683
Thank you very much for all the support and interest in this bug.

I remain very pending if the changes that are going to be made will be able to be applied in version 1.7.7.x.

[2021-09-03 00:09] goyetus opened #25779 "Translation module is not working - Cant update translations"
#### Describe the bug

Can´t SAVE Translations in Admin >>> Language/translations/module

#### Expected behavior

You cant save translations,  and dev.log is filled with lot of errors.

**Screenshots**

![translation](https://user-images.githubusercontent.com/24479700/131931127-10d03b4d-5b02-40f3-aea8-0ca3e4c482dc.PNG)

![error](https://user-images.githubusercontent.com/24479700/131931140-e922579a

[2021-09-03 07:22] Thread10 opened #26092 "Stripe orders not tracking"
Hello there
For a few weeks now, all orders that are paid with stripe have not been registered by analytics in the e-commerce tab. This is a big problem, since google ads campaigns and their performance depend on this data.

[2021-09-03 08:04] Hlavtox commented on #25683
Customer with 20 orders, 0 vouchers, 50 carts, 200 products bought... it takes **1 minute** to view him. :( On a fast server.

![1](https://user-images.githubusercontent.com/6097524/131971935-d2ea4045-7735-407f-8c07-d96660ba7c67.JPG)
![2](https://user-images.githubusercontent.com/6097524/131971934-cb7e8063-fc96-4dc9-a6ec-b7cd1c561fcb.JPG)

ping @matks

[2021-09-03 08:12] Hlavtox opened #25780 "Wrong sorting by ID order on BO carts page"
#### Describe the bug

When you sort carts by ID order on cart listing page in backoffice, it sorts them wrong, as a string.

#### Current result

Abandoned carts, 99, 98 .... 66, 65, 595, 594...

#### Expected result

595, 594 ... 66, 65, Abandoned carts

Abandoned cart should be taken as a 0 and the column sorted as an int.

#### Additional information

* PrestaShop version: 1.7.6
* PHP version:

[2021-09-03 09:05] khouloudbelguith commented on #25780
Hi @Hlavtox,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/21456 to fix the issue.
Your ticket is a duplicate of #21251
So, I close it.
Thanks!

[2021-09-03 09:05] #25780 closed, assigned to nobody

[2021-09-03 09:05] khouloudbelguith commented on #25780
Duplicate of #21251

[2021-09-03 09:06] Hlavtox commented on #25780
@khouloudbelguith Aaaah, but I really tried to find it! :D

[2021-09-03 09:07] hibatallahAouadni commented on #25773
Hello @Hlavtox

I didn't manage to reproduce the issue with PS1767, see the attached screen reocrd below:

https://drive.google.com/file/d/1J4vr8ihBrDLI5-YMkZWc-xuxDxG0bmQ_/view

Please check and feedback.
Thanks!

[2021-09-03 09:32] dmoibm opened #25782 "BO - Products page - an exception is displayed when combination feature is disabled"
#### Describe the bug

After the update from 1.7.7.5 to 1.7.7.7 the error 'Undefined index: attribute_price' appears.
#### Steps to Reproduce

Steps to reproduce the behavior:
1. Enable debug mode
2. Delete all products with combinations
3. Go to BO > Advanced Parameters > Performance page
4. Disable Combination
5. Go to BO > Catalog > Products page
6. See an error
![image](https://user-images.git

[2021-09-03 10:12] khouloudbelguith commented on #25761
Hi @rflorent,

Thanks for your report.

Did you use the 1-click upgrade module?
If yes, what is the exact version did you use?

Before the upgrade, could you please provide me the exact steps to create this product?
After the upgrade, have you had the same issue with a new product created?

In my case, I did not manage to reproduce the issue with fresh install PS1.7.7.7.

Thank you!