[2019-04-18 17:13] khouloudbelguith commented on #13380
Hi @scolink,

As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6) : the maintenance of PrestaShop 1.6 is extended to June 2018 for security and critical bugs.
That’s why I close it.
Thanks!

[2019-04-18 17:13] #13380 closed, assigned to nobody

[2019-04-18 20:59] matks commented on #13436
Looks like there is at least 2 usecases
- `session.save_path` empty (not provided): missing configuration
- `session.save_path` targeting a not writable folder: bad configuration

The code
[code]
is supposed to handle the bad configuration usecase.

So what's left is how to handle the missing configuration usecase. Is that correct ?

[2019-04-18 21:17] rblaurin commented on #13436
I think so.
I don't know... maybe it could be tested with some operation in a try block?

[2019-04-19 06:25] sarjon commented on #10228
@marionf this makes sense, but if I delete other Profile (not my own) that other employees are assigned to, should I be able to do it? I guess it could have unexpected results as well, but I didn't test it. What do you think?

[2019-04-19 06:44] tlukowskia commented on #13452
Okey i know everythink now, when i install polish version "delivery time" doesn't work, after install new presta 1.7.5.1 everythink is fine, what can i do?

[2019-04-19 06:48] tlukowskia commented on #13452
Check it http://prntscr.com/ne0jlm - polish version
http://prntscr.com/ne0jyg - English version

[2019-04-19 07:16] sarahdib opened #13483 "Undefined offset in front office when we add a language"
**Describe the bug**
When I try to use a language that I add in the back office there is an error in the front office Undefined offset

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'back office-> International-> Languages
2. Add a language
3. Go to the front office and select the language you just add
4. See error

**Screenshots**
![Capture d’écran 2019-04-19 à 09 12 39](https://us

[2019-04-19 07:29] marionf commented on #11540
Yes, it's fixed
Thanks @matks

[2019-04-19 07:29] #11540 closed, assigned to nobody

[2019-04-19 07:32] marionf commented on #11546
Yes, it's fixed +1

[2019-04-19 07:32] #11546 closed, assigned to nobody

[2019-04-19 07:35] sarjon commented on #10193
Empty State for Categories is not available in invision yet. :/ Or at least in "Empty States BO" project.

[2019-04-19 07:38] marionf commented on #10747
Yes, it's fixed :)

[2019-04-19 07:38] #10747 closed, assigned to nobody

[2019-04-19 07:41] matks commented on #10434
Hi @TristanLDD, we dont see the empty state 😐? What we need here is the Empty State card, you might have confused it with the Helper Card 😉there are both on Categories page.

[2019-04-19 08:01] sarjon commented on #10559
@matks I don't think we can fix this in 1.7.6.x. It requires improvement for Grid component to allow adding new buttons to it. :/

[2019-04-19 08:11] matks commented on #10559
Agreed 👍

[2019-04-19 08:17] TristanLDD commented on #10434
Hi @matks, the link in Coline's description works for me 🤔 There are two links, one for the helper cards and one for the empty states.

[2019-04-19 08:31] TristanLDD commented on #10434
Hi @matks, we realized yesterday that 3 empty states where missing, the Categories page empty state is one of them. Louise is working on the wording while I'm doing the design.

[2019-04-19 08:42] marionf commented on #10228
@sarjon If you delete an employee account of someone else, if this person was logged in the BO he/she is disconnected. It seems to me correct behavior, wdyt ?

[2019-04-19 08:57] sarahdib opened #13487 "PrestaShopException when we add DNI option"
**Describe the bug**
When the DNI option is activated there is an error in front office when you try to add an address. In 1.7.5.1 there is no error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International -> Zone
2. Create a country with DNI required
3. Go to front add a product to the cart and start the order process
4. When you add the adresse and validate see error

**Screens

[2019-04-19 08:59] marionf commented on #10112
Duplicate of #9962

[2019-04-19 08:59] #10112 closed, assigned to nobody

[2019-04-19 09:25] sarjon commented on #10228
Yes @marionf, but my question is about Profile (not Employee). If you delete someone else's Profile.

For example, there is Employee named Tom with Salesman profile. Then I delete Salesman profile. This is what happens to Tom https://prnt.sc/ne2onp He no longer has any Profile, even though it's required.

Does this behavior make sense for you? For me, it doesn't. :thinking:

[2019-04-19 09:31] khouloudbelguith commented on #13452
@tlukowski, thanks for your feedback.
I installed a PrestaShop v1.7.5.1 with Poland country & Polish language => but I did not manage to reproduce the issue.
I attached a video record.
https://drive.google.com/file/d/1lg-TIAo27PriEQqqnH26g20k41zHRgI3/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-04-19 09:46] sanctusmob commented on #13262
I have the same problem
Dedicated server with plesk
Server information Linux #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64
PrestaShop version: 1.7.5.1
Server software version: Apache
PHP version: 7.1.28

I think the problem is that mod_pagespeed save files in /var/cache/mod_pagespeed/ and the vhost does not have access there or the rewrite rules for the images are not correct.

[2019-04-19 09:51] marionf commented on #10228
Humm sorry @sarjon

Yes, you are right, it doesn't make sense.

What do you think if when you delete a profile, employees with this profile are disconnected from the BO like when you delete an employee account ? It could be better than stay logged in and have access to nothing ?

@colinegin wdyt about that ?

[2019-04-19 10:06] matks opened #13489 "Generating a test database fixture adds unwanted modules"
**Describe the bug**
When I run the command `composer create-test-db` dedicated to tests, this downloads additional modules that are not versioned nor gitignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `php composer.phar create-test-db`
2. Then run `git status` you can see some unstaged files:
[code]

**Additionnal information**
PrestaShop version: develop branch
PHP version: 7.

[2019-04-19 10:08] khouloudbelguith commented on #9834
Hi all,

This issue is fixed in the branch 1.7.6.x.
https://drive.google.com/file/d/1gX_zWTgv0KycnAkmfRrb_wgq4Jpy8X_F/view
I will close the issue.
Thanks!

[2019-04-19 10:08] #9834 closed, assigned to nobody

[2019-04-19 10:14] marionf commented on #13468
@khouloudbelguith

Categories that shouldn't be accessible from shop2 is well not displayed in the menu
Products that are only in this category are not displayed also.
But you can acceed to the category if you enter the URL, and this way can also see products

[2019-04-19 10:15] sarjon commented on #10228
I don't know. Maybe user who deletes Profile should be warned that this Profiles is used by 1 or more employees. And still, if we allow to delete Profile, this means that other Employees that used deleted Profile will become invalid from the code point of view, as Profile is **required** for every employee.

Maybe there could be option before deleting to assign new Profile for Employees.

[2019-04-19 10:23] tomas862 opened #13490 "Issues when creating new module for PS 1.7.6"
### Summary
Needs to be done for module release and 1.7.6.0 release
- [x] How to handle errors happening inside module (translation + display to user) https://github.com/PrestaShop/PrestaShop/issues/13490 ✅ fixed by https://github.com/PrestaShop/PrestaShop/pull/14239
- [x] Translation is not working in a module https://github.com/PrestaShop/PrestaShop/issues/13942 ✅ fixed in the module
- [x] https

[2019-04-19 10:25] khouloudbelguith commented on #13468
Hi @marionf,

Thanks for your feedback.
Yes, categories are not displayed in the menu & in the sitemap.
But, if you search for the product that is in the unselected category => it will be displayed => so you can display the category
https://drive.google.com/file/d/1G0gcC4c_D9sif2KgC4kwk_ltDlsesCBW/view
Thanks!

[2019-04-19 10:25] tomas862 commented on #13490
@matks let me know what you think about problems and solutions. Maybe you have some other suggestions?

[2019-04-19 10:31] sanctusmob commented on #13262
Same problem here.
Dedicated server with plesk
Server information Linux #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64
PrestaShop version: 1.7.5.1
Server software version: Apache
PHP version: 7.1.28

I think the problem is that mod_pagespeed is using for cache the directory /var/cache/mod_pagespeed/ and the vhost does not have access there or the problem is on the rewrite rules for the images.

`cl

[2019-04-19 10:44] morghy1992 commented on #12687
Are you guys having problem also with SEO?
I think google is penalizing my products for this problem.

[2019-04-19 10:59] khouloudbelguith commented on #9615
Hi all,

This issue is fixed in the branch PS1.7.6.x.
![image](https://user-images.githubusercontent.com/16067358/56421465-8eb19880-629a-11e9-8238-a2ed13adb382.png)
I close the issue.
Thanks!

[2019-04-19 10:59] #9615 closed, assigned to nobody

[2019-04-19 11:07] Prestashopnewbie opened #13491 "1-click upgrade 1.7.5.1 - blank screen after update from 1.7.4.2 to 1.7.5.1"
Just started to upgrade our prestashop from 1.7.4.2 to 1.7.5.1, using 1-click upgrade module.

The upgrade seems to work fine (just 3 warnings about the d-base).

Unfortionally the upgrade didn`t preform well, the shop and backoffice are returning a blank http 500 error screen.

When I try to enable debug modus I get the following message:

(1/1) FatalThrowableErrorCall to a member function getReq

[2019-04-19 11:30] khouloudbelguith commented on #13491
Hi @Prestashopnewbie,

Thanks for your report.
I did not manage to reproduce the issue after upgrade from PS1.7.4.4 to PS1.7.5.1 using the 1-click upgrade v4.6.0.
I attached a video record.
https://drive.google.com/file/d/1Z0nLQ9ED8v6utyYGIpWYjh5o2oG1JifR/view
do you have any override file which is not compatible?
Thanks to check & feedback.

[2019-04-19 12:45] lelethered commented on #12687
i @morghy1992, i have the same doubt! I start the project both with wordpress and prestashop for same client (wp for corporate site and presta for shop) and the result is completly different! So for me the number in analytics it's clear: this issue on prestashop is much more extensive and also generates problems on SEO result

[2019-04-19 12:46] ttoine commented on #13437
@khouloudbelguith you rock, thanks a lot for your time.
@wikao2 so maybe you have an issue with the file system. You should just delete the folder and files, and create a new folder with the good rights, upload fresh prestashop files and start the installation.

[2019-04-19 13:30] Prestashopnewbie commented on #13491
Yes u are right, I've a dispachter override wich is not compatible, related to the module clean url - from vekia.

[2019-04-19 13:32] khouloudbelguith commented on #13491
@Prestashopnewbie, Thanks for your feedback.
As it's not the module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-04-19 13:32] #13491 closed, assigned to nobody

[2019-04-19 13:43] khouloudbelguith commented on #13489
Hi,

I manage to reproduce the issue with the develop branch.
Thanks!

[2019-04-19 13:52] TristanLDD commented on #10434
@matks Actually, there is no empty state for the category page, only the helper card. Using both of them would be like duplicating the same content. Also the demo categories would prevent the empty state to display in the table, that's why using the card is more relevant.

[2019-04-19 13:55] matks commented on #10434
Makes sense 👍thanks !

[2019-04-19 14:06] tvorgul opened #13497 "It is possible to order product transformed from regular into product with combinations"
It is possible to order perviously created simple product after its transformation to a product with combinations. (so, the simple product should be unavailable for order)

Here is an exemple:

- create a simple product
- add it to cart
- modify product and switch to product with combinations mode, save
- go to your cart and buy the product.

This product is not available in the shop anymore but i

[2019-04-19 14:37] tanasi commented on #12687
@lelethered I have the same experience. Wordpress (and woocommerce to that extend) provide updates more frequently and thus seem to have fixed some of those issues. So, my wordpress sites were "healed" automatically - I didn't do anything else apart from updates.

In my prestashop case those errors were generated by all elements that had a product shema and they shouldn't have (according to google

[2019-04-19 15:03] khouloudbelguith commented on #13497
Hi @tvorgul,

Thanks for your report.
I manage to reproduce the issue with PS1.7.4.4 & PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1sphRg2_rTI-QMc5XtnWsv6h9NiixRYh7/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Related to #11631
Thanks!

[2019-04-19 15:14] ange007 opened #13499 "Error when working with NGinx and ban on the forum"
What is going on in your forum?
Registered, asked a question and after some time:
![Выделение_002](https://user-images.githubusercontent.com/2736539/56430055-c71e9a00-62cd-11e9-9e6e-44a71300f219.jpg)

Essence of the question:
Not work controllers in admin page:
- /index.php/sell/catalog/products
- /index.php/sell/orders/delivery-slips/
- etc

Config file:
[code]
As a result:
 - ERR_TOO_MANY_REDIRE

[2019-04-19 15:19] khouloudbelguith commented on #13499
Hi @ange007,

Thanks for your report.
First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Thanks to downgrade your PHP version, check & feedback.

[2019-04-19 15:26] tvorgul commented on #13497
Hello,

Thank you for your quick response.
I'll been waiting for update!

Thank you !

[2019-04-19 15:26] ange007 commented on #13499
Hello.
No changes.
The bulk of the function with links to the ```controller=*``` - work on 7.3 and 7.2, without - do not work

[2019-04-19 15:42] khouloudbelguith commented on #13499
@ange007, I did not manage to reproduce your issue with PS1.7.5.1 & nginx server nginx/1.14.0
I attached a video record
https://drive.google.com/file/d/1zZ9CW4lCPMGfWLoBkUxQ4XxZ7nqsgP3i/view
It is an issue related to your configuration
here's my nginx configuration
[code]
I followed this link https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-ng

[2019-04-19 15:45] ange007 commented on #13499
@khouloudbelguith, I saw your messages about this, and as you can see my config is similar to yours _(it is compiled from the docker config and yours)_.
But it doesn't work anyway.
Therefore, I asked a clarifying question on forum to one of the users who encountered this. But I was banned.

[2019-04-19 15:51] khouloudbelguith commented on #13499
@ange007, in your file I found this

[code]

your project PrestaShop folder is located in the /var/www/path?
Thanks!

[2019-04-19 15:52] christian-predebon opened #13500 "Possibility to negate checkbox filter"
Hello,
in order to use a different type of filter in the catalog page, it would be interesting to add the possibility to negate a specific filter among those available with checkbox.
Let me explain with an example.

In my shop I need to filter a catalog for the absence of an allergenic ingredient, created using features.
It would be interesting to negate this condition and return the list of the p

[2019-04-19 15:53] ange007 commented on #13499
I just hidden the domain data.
Real path: `set $root_path /var/www/site/data/www/site; `
I think that in the case of an incorrectly specified path, what worked now would not work _(although I could be wrong)_.

[2019-04-19 16:01] mickaelandrieu opened #13501 "BC on SearchAndResetType forms"
See [1.7.5.1 version](https://github.com/PrestaShop/PrestaShop/blob/1.7.5.x/src/PrestaShopBundle/Form/Admin/Type/SearchAndResetType.php) and [develop version](https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Form/Admin/Type/SearchAndResetType.php).

I've noticed while updating training contents, this *should* be fixed.

Proposal:

1. Revert content of this update
2. Creat

[2019-04-19 16:02] khouloudbelguith commented on #13500
Hi @ChristianPredebon,

Thanks for your report.
To better understand your issue, in the FO => Catalog page, with the faceted search block, you need to filter all products which they do not have the specific feature?
Thanks!

[2019-04-19 16:12] mickaelandrieu commented on #13490
AFAIK @sarjon was asked to document that in august, 2018 :trollface:

It's part of form theming improvement initiative started by @sarjon (what a man!), we're aware of that since 1.7.3 but we couldn't manage to prioritize this need in 1.7.6 branch... it's not too late, though as this is clearly a bug for me.

I'm not really in favor of using a php hook for rendering while the Form component alread

[2019-04-19 16:14] khouloudbelguith commented on #13499
@ange007,  you need to define all rules in your nginx configuration, the .htacces file is generated by prestashop but it's because Apache allows to use it. Unlike Nginx.
It could be related, in your server the extension is enbled tokenizer?
![image](https://user-images.githubusercontent.com/16067358/54769331-45214f80-4c01-11e9-813f-fbbd0060d779.png)
If you run `php -m` on the command line, tokeniz

[2019-04-19 16:59] khouloudbelguith commented on #13499
@ange007, about your problem on the forum, you can send an email to this address forum@prestashop.com and describe your issue.
Thanks!

[2019-04-19 18:31] Jeff-A-Again opened #13505 "errors/maintenance.tpl does not include custom.css in head"
**Describe the bug**
The errors/maintenance.tpl does not include  themes/child_classic/assets/css/custom.css when it is present on the file system, making it impossible to easily use custom CSS on the maintenance page.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Admin -> Configure -> Shop Parameters -> Maintenance
2. Enable Maintenence Mode
3. Check the HEAD content that is render

[2019-04-19 19:21] ange007 commented on #13499
Yes, Tokenizer exists

[2019-04-19 20:33] christian-predebon commented on #13500
Hi @khouloudbelguith,
That's exactly what I want to achieve.
Thanks

[2019-04-19 21:23] rdy4ever commented on #13505
maintenence.tpl uses assets/css/error.css stylesheet, so that’s the one you’d want to edit to customize the page.

[2019-04-19 21:30] rdy4ever commented on #13499
I‘ve also found myself banned on the forum for whatever reason :)

[2019-04-19 21:43] rdy4ever commented on #13427
+1. Disabling all PS stats modules is the first thing I always do for fresh installs. They’re pretty much useless and hog performance. Google Analytics module with enhanced ecommerce is all the stats you need.

[2019-04-20 06:07] kshirodpatel opened #13507 "Prestashop 1.7.X actionCustomerAccountAdd not firing when user making register"
**Describe the bug**
I am using the hook actionCustomerAccountAdd in one of my custom module. When user makes register I want to get the details of the user. Thats why I have used the hook actionCustomerAccountAdd. But its not firing at all. But the same code works in Prestashop 1.6.X.

**To Reproduce**
Use actionCustomerAccountAdd in any module and try to make register. You will not get any data

[2019-04-20 08:15] Jeff-A-Again commented on #13505
No - modifying the upstream is an anti-pattern - it's a bug that child theme css is not already included - esp. when it is included elsewhere.

[2019-04-20 08:30] Jeff-A-Again commented on #13505
Until the bug is fixed, the best work-around I've found is:

[code]
This is a better solution because I get to keep all my CSS tweaks in one place, without touching the contents of the classic theme.

This is the first time I've looked at PrestaShop code - it has lots of obvious issues, looks like no-one is doing code reviews? An example - I had to reimplement stylesheets.tpl instead of just using

[2019-04-20 11:03] CyrilMT commented on #9662
Ok it works with 1.7.5.1, thanks

[2019-04-20 16:13] nirav-nanda commented on #9684
### **

I found my issue different,

**
hello @khouloudbelguith ma'am ,thank you for guide, i have checked above referred #13443, i have already selected all categories in filter template, but my issue not same. i can able to put faceted search on product listing pages .

- but i cant able to find solution to display it on brands specific page
where 1 brand have more than one categorized products

[2019-04-20 19:48] Jeff-A-Again opened #13509 "ISBN not available in Product Import - v1.7.5.1"
**Describe the bug**
The ISBN field is not available for Product Import in 1.7.5.1

**To Reproduce**
Steps to reproduce:
1. Advanced Parameters -> Import -> Product
2. select a CSV to import
3. scroll through the import / csv fields
4. ISBN is not in the import field list.

**Additionnal information**
PrestaShop version: 1.7.5.1
PHP version: N/A

[2019-04-20 21:41] preoteasa opened #13510 "The hook DisplayProductPriceBlock is not available in the list of hooks in the latest development version of prestashop (1.7.6.0)"
**Describe the bug**
The hook displayProductPriceBlock is not available in the list of hooks in the latest development version of Prestashop (1.7.6.0)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Back office - Design - Positions - Transplant a module'
2. Select for example the module "Currency block"
3. In the list "Transplant to", the hook displayProductPriceBlock is not available

[2019-04-21 10:24] Ixreb commented on #9809
Any news? I'm going to have to scrap an entire project already finished by this bug.

[2019-04-21 14:34] stoltzsp commented on #13399
When trying to access "Design/Positions" The following is shown in /var/logs/dev.logs:

[2019-04-21 16:30:36] request.INFO: Matched route "admin_modules_positions". {"route":"admin_modules_positions","route_parameters":{"_controller":"PrestaShopBundle\\Controller\\Admin\\Improve\\Design\\PositionsController::indexAction","_legacy_controller":"AdminModulesPositions","_legacy_link":"AdminModulesPosi

[2019-04-21 14:47] mickaelandrieu opened #13511 "Pagination system is broken on Grid pages"
**Describe the bug**
Go the the logs page in 1.7.5.1, create enough log entries to get a second page available.
Click on "2" and you will get this exception page (in dev mode).

![exeption](https://user-images.githubusercontent.com/1247388/56471628-00354680-6455-11e9-8a56-d3a1f7cc7772.png)

**To Reproduce**
See the previous section.

**Additionnal information**
PrestaShop version: 1.7.5.1+ (also b

[2019-04-22 07:28] khouloudbelguith commented on #12972
Hi @jorgevrgs,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-22 07:28] #12972 closed, assigned to nobody

[2019-04-22 07:31] khouloudbelguith commented on #12977
Hi @pks891618,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-22 07:31] #12977 closed, assigned to nobody

[2019-04-22 07:33] khouloudbelguith commented on #12943
Hi @pks891618,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-22 07:33] #12943 closed, assigned to nobody

[2019-04-22 07:35] khouloudbelguith commented on #13000
Hi @fededim,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-22 07:35] #13000 closed, assigned to nobody

[2019-04-22 07:38] khouloudbelguith commented on #13001
Hi @Tomskor,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-22 07:38] #13001 closed, assigned to nobody

[2019-04-22 08:03] khouloudbelguith commented on #13011
Hi @bm-services,

Any news about your issues?
Thanks!

[2019-04-22 08:11] khouloudbelguith commented on #9809
Hi @arketik,

Sorry not yet, it is added to our bug roadmap so that it will be fixed. if you think you can do it, please do send us a pull request!
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks for your understanding!

[2019-04-22 08:20] JanicW commented on #9809
Do you have a timeframe or priority list?

[2019-04-22 08:27] khouloudbelguith commented on #9809
Hi @JanicW,

Our product team is responsible for the priority list of all the issues.
Thanks!

[2019-04-22 08:28] khouloudbelguith commented on #13511
Hi @mickaelandrieu,

I did not manage to reproduce the issue with PS1.7.5.1. / 1.7.6.x branch
Debug mode is enabled, I tried with PHP 5.6.40 & PHP 7.2.14.
I attached a video record.
https://drive.google.com/file/d/14-AmVkSv8tSl8i1mhHc9_u-e8zuPBTEu/view
Thanks to check & feedback.

[2019-04-22 09:49] khouloudbelguith commented on #13499
Hi @ange007,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

@rdy4eve

[2019-04-22 09:50] rdy4ever commented on #13499
I did. No answer.

[2019-04-22 09:57] khouloudbelguith commented on #13509
Hi @Jeff-A-Again,

Thanks for your report.
I manage to reproduce the issue with PS1.7.4.4, PS1.7.5.1 & the branch 1.7.6.x.
The ISBN field doesn't exist in the import field list.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-04-22 10:13] khouloudbelguith commented on #13499
@rdy4ever, today is a holiday, they will answer you soon.
Thanks!

[2019-04-22 10:32] khouloudbelguith commented on #13500
Hi @ChristianPredebon,

Thanks for your feedback.
For your information, we are currently reworking this module.
@marionf, @colinegin what do you think of his suggestion?
THanks!

[2019-04-22 10:43] khouloudbelguith commented on #13510
Hi @preoteasa,

I installed a demo module which uses the displayProductPriceBlock hook
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/3103087/mymodule.zip)
In BO => Positions page => When I transplant the currency block module => this hook is available.
I tried with PS1.7.5.1 & branch 1.7.6.x.
![image](https://user-images.githubusercontent.com/16067358/56497008-bf403f00-64f3-11e9-8a

[2019-04-22 10:46] khouloudbelguith commented on #9684
Hi @nirav-nanda,

Thanks for your feedback.
This is an Epic issue, could you please create a new "Feature request" so you can describe your feature & the solution you'd like.
Thanks!

[2019-04-22 10:49] renkam opened #13512 "Please add support for PostgreSQL"
I would like to use PostgreSQL instead of MySQL
PostgreSQL seems to behave better on heavy load.

[2019-04-22 11:02] rdy4ever commented on #13499
Yeap, except that I sent my message over a week ago :)

[2019-04-22 11:05] khouloudbelguith commented on #13512
Hi @renkam,

This link could be helpful
https://stackoverflow.com/questions/23691112/prestashop-and-postgresql
About the PostgreSQL support @eternoendless, @PrestaShop/prestashop-core-developers what do you think?

[2019-04-22 11:23] khouloudbelguith commented on #13507
Hi @kshirodpatel,

Could you please provide me a demo module to check with it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-04-22 12:50] zuk3975 opened #13513 "Product settings hints misbehave when loading tabs with ajax"
**Describe the bug**
In product edit form `Basic settings` tab the hints stays opened when going to another tab through references in `Quantity` or `Price` sections.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products > edit
2. Click on any hint ( marked as `?`) in `Basic settings` tab.
3. Click on `Quantities` or `Pricing` reference in in corresponding sections( `Quanti

[2019-04-22 13:39] khouloudbelguith commented on #13505
Hi @Jeff-A-Again,

Thanks for your report.
I manage to reproduce the issue with PS1.7.4.4 & PS1.7.5.1.
I tried with this child theme
[child.zip](https://github.com/PrestaShop/PrestaShop/files/3103509/child.zip)
In the `custom.css` file, I added these lines

[code]

But in FO => when maintenance enabled => those changes are not considered
I’ll add this to the debug roadmap so that it’s fixed. If yo

[2019-04-22 13:58] khouloudbelguith commented on #13513
Hi @zuk3975,

I did not manage to reproduce the issue with the branch 1.7.6.x & the PS version 1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/174JT8Z-nW2fK6WGwsjY4e1HzfTi8zs8o/view
What is the exact version PrestaShop did you use?
Thanks!

[2019-04-22 15:28] lilianamc opened #13514 "Downloadable product email: Not sent"
**Describe the bug**
The email for a  downloadable product is not sent

**To Reproduce**
Steps to reproduce the behavior:
1. Create a downloadable product
2. Do the checkout process
3. You don't get the email to download the virtual product :(

**Screenshots**
As you can see the configuration of the virtual product is ok . Please see image https://imgur.com/a/G6YhMJu

**Additional information**
Pr

[2019-04-22 15:41] khouloudbelguith commented on #13514
Hi @lilianamc,

For this order, it should be valid (the status of the order id payment accepted for example), so you have the email to download the virtual product
Mail page
![image](https://user-images.githubusercontent.com/16067358/56508899-743b2180-651d-11e9-8870-56050495241a.png)
Order History page
![image](https://user-images.githubusercontent.com/16067358/56508904-77cea880-651d-11e9-8c3d-be7

[2019-04-22 15:48] lilianamc commented on #13514
Hi @khouloudbelguith

I did all that.

It is a pack product.

Please see the images.

https://imgur.com/a/yd0VC1H
https://imgur.com/a/mDfs969
https://imgur.com/a/AfN0ji4

[2019-04-22 15:53] zuk3975 commented on #13513
Hi, im using 1.7.6.x and actually was on develop branch, but to reproduce the bug you have to press the references in the right (not the tabs in top. I added screenshot bellow).
![Screenshot from 2019-04-22 18-50-10](https://user-images.githubusercontent.com/31609858/56509491-cedd7900-652f-11e9-8536-1cf893ddee8c.png)

[2019-04-22 15:54] khouloudbelguith commented on #13514
@lilianamc, the type of product is a pack or virtual product?
The first screenshot from your product page
![image](https://user-images.githubusercontent.com/16067358/56509560-3e973800-651f-11e9-9e7c-068fd11258af.png) => it is from a virtual product
Thanks!

[2019-04-22 15:58] khouloudbelguith commented on #13513
@zuk3975, thanks for these clarifications.
Yes, now I manage to reproduce the issue with PS1.7.4.4, PS1.7.5.1 & The 1.7.6.x branch.
I’ll add this to the debug roadmap.
Thanks!

[2019-04-22 16:04] lilianamc commented on #13514
Hi @khouloudbelguith

It is combination.

In order to sell more I'm given away 2 virtual products for the purchase of a bracelet. So I created a pack products.
1 standard product
2 virtual products

As you can see here
Image 1 : https://imgur.com/a/Yw170mD
Image 2 : https://imgur.com/a/YVARTSm

[2019-04-22 16:19] hacchus commented on #10739
Hi, I'm using Prestashop 1.7.5.1 with PHP 7.2 and have this issue. It's a problem because if you are not logged in or need postal codes to determine shipping, you always see shipping as "Free" in your cart, which really means "not calculated yet". It is bad for customer psychology to see "Free" and after they enter more information to get a price.

I managed to solve this by editing the file "\src

[2019-04-22 16:41] khouloudbelguith commented on #10739
Hi @hacchus,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-04-22 16:53] khouloudbelguith commented on #13514
@lilianamc, it is impossible to add virtual products to a pack.
For more information, you can follow our official documentation: http://doc.prestashop.com/display/PS17/Managing+Products#ManagingProducts-Creatingapackofproducts
![image](https://user-images.githubusercontent.com/16067358/56512500-76a27900-6527-11e9-8de8-898ad78ce98a.png)
Thanks to check & feedback.

[2019-04-22 16:55] lilianamc commented on #13514
Ok :(

Thank you very much @khouloudbelguith

[2019-04-22 17:07] khouloudbelguith opened #13516 "Final retail price is not displayed"
**Describe the bug**
IN the BO => Product page => Pricing Tab, the Final retail price is not displayed

**To Reproduce**
Steps to reproduce the behavior: New clone from GitHub 1.7.6.x branch
1. Go to BO => Product Page
2. Edit a product
3. Go to the Pricing Tab
4. See error => The final retail price is not displayed

**Screenshots**

![image](https://user-images.githubusercontent.com/16067358/5651

[2019-04-22 17:09] khouloudbelguith commented on #13516
ping @nesrineabdmouleh

[2019-04-22 17:11] khouloudbelguith commented on #13395
Hi @pppplus,

Now, I have this error
[code]

I think because you use in your script you use `Amazon`, in my case no.
Thanks to check & feedback

[2019-04-22 17:12] khouloudbelguith commented on #13514
@lilianamc, I close the issue.
Feel free to open a new one when needed.
Thanks!

[2019-04-22 17:12] #13514 closed, assigned to nobody

[2019-04-22 17:13] khouloudbelguith commented on #13399
@stoltzsp, did delete any folders before this bug occurred?
did you recreate the vendor folder?
Thanks!

[2019-04-22 18:09] hacchus commented on #10739
OK just did. I hope it's OK it's my first one :)

[2019-04-22 18:43] psyray opened #13518 "Hook actionCartUpdateQuantityBefore replaced by obsolete hook actionBeforeCartUpdateQty"
**Describe the bug**

During module installation with the new **actionCartUpdateQuantityBefore** hook, this one is replaced by the obsolete **actionBeforeCartUpdateQty** which [was commented](https://github.com/PrestaShop/PrestaShop/blob/199d56fdd616b52a9801e7f37750179b94952331/classes/Cart.php#L1351) in the cart class.
So the new hook **actionCartUpdateQuantityBefore** is never called.

This is c

[2019-04-22 20:56] banan44 opened #13519 "Multistore does not shop the home page content"
Hello,
I am configuring the MultiStore function in my prestashop 1.7.5.1 but I found a strange issue that I cannot resolve. The main website have the .eu domain. I have purchased the .it domain and parked it on my server. Then I have created a new shop group called IT, set ut the .it domain in that group and selected that all functions like order, products, themes etc must be shared from the main

[2019-04-23 03:03] pks891618 opened #13520 "Prestashop breadcrumb google issue"
Google is generating the position error for the breadcrumb on prestashop
![2019-04-11_14-25-25](https://user-images.githubusercontent.com/46920172/56550158-7b584300-65a2-11e9-991e-741bb1a9ee5b.jpg)

[2019-04-23 05:10] nirav-nanda opened #13521 "filter panel based for brand specific page."
hello developers,

some days ago i have raised  a issue regarding faceted search in brand specific page #9684, but lately i got to know that faceted search serves  to the category specific filters, if we want filters from  any particular brands , like one brand have more than one categories and if user wanted to know how many categorized product have under the same brand , we can't show it. this f

[2019-04-23 05:13] nirav-nanda commented on #9684
thank you ma'am , new feature request have submitted. #13521

[2019-04-23 07:01] bm-services commented on #13011
No, I have no more information and the mistake is still relevant.

[2019-04-23 07:26] tomlev commented on #13483
hi @sarahdib
could you please retry with latest 1.7.6.x version ?
This bug should have been fixed recently
On my local env I didn't manage to reproduce the issue.

[2019-04-23 07:28] marionf commented on #13500
@ChristianPredebon

You can create a feature without this ingredient

[2019-04-23 07:49] tomlev commented on #13483
probably fixed by https://github.com/PrestaShop/PrestaShop/pull/13261

[2019-04-23 08:06] khouloudbelguith commented on #13518
Hi @psyray,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
In my module, I used the `actionCartUpdateQuantityBefore` hook.
[mymodule.zip](https://github.com/PrestaShop/PrestaShop/files/3106491/mymodule.zip)
In the BO => Design => Positions => the `actionbeforecartupdateqty` is used.
![image](https://user-images.githubusercontent.com/16067358/56564900-fae81100-

[2019-04-23 08:12] jnvgi commented on #13432
Hello there,

Well there was a misconfiguration in the PHP version naming. Hosting is now in PHP 7.1 but the problem still happen.
There are also many other bugs. I think the update from Prestashop 1.5 was kinda shitty...

[2019-04-23 08:12] khouloudbelguith commented on #13011
Hi @bm-services,

Thanks for your feedback.
In fact, we need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Could you please provide us with more info?
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.

[2019-04-23 08:12] marionf commented on #13483
@tomlev

I still have it on 1.7.6.x branch

![capture d'écran_1443](https://user-images.githubusercontent.com/13449658/56565287-510d8200-65b0-11e9-8879-21ba7323e439.png)

[2019-04-23 08:15] khouloudbelguith commented on #13432
Hi @jnvgi,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/mis

[2019-04-23 08:18] gumballerss commented on #13215
Hello,

@itisco did you get an answer?

Kind regards,
Stan

[2019-04-23 08:27] wikao2 commented on #13437
@ttoine
So you think that I just have to delete the presta1751 folder, that I recreate it, that I put Prestashop 1.7.5.1 files back there, and that I restart an installation right?
What do you mean by "good rights" ? What rights do I have to put? 755? 666?

[2019-04-23 08:39] matks commented on #13427
Can you tell us what you mean by "all PS stats modules" ? What other modules do you disable, apart from statslive ?

Indeed Google Analytics cannot be challenged 😛 that's for sure. I guess the people who build statslive wanted to make sure there was at least one not-google alternative available in prestashop, although not on the same level.

[2019-04-23 08:43] ttoine commented on #13437
start with 755.
but your hosting provider should provide the information about that in their documentation. sometimes, 644 is enough. that's the issue with shared hosting...

[2019-04-23 08:43] jnvgi commented on #13432
Sure, but it's hard to reproduce since it's very random ! Sometimes changes are saved, sometimes I get this error.

It's a cloud hosting on OVH.
PHP version : 7.1.26
MySQL : 5.6
Prestashop version : 1.7.5.1

I get much of this in the console log :

And among the Ajax request, when the error occur, I get a status 400 on the xhr request that should update the product.

![error-400-xhr](https://user-

[2019-04-23 08:48] khouloudbelguith commented on #13437
@wikao2, giving files or folders a "write permission" is called "doing a CHMOD 755" or "a CHMOD 775", depending on the host.
Some hosts might require you to use CHMOD 777, although it is not recommended for anything more than a one-time need.
If you have to use CHMOD 777 in order to install PrestaShop, make sure to switch to a safer setting (for instance, 775 for folders and 664 for files) once yo

[2019-04-23 08:53] psyray commented on #13518
I can't decide what's the good fix because I don't know your strategy about removing deprecated function.

For me the best fix is to remove the call to the [getRetroHookName](https://github.com/PrestaShop/PrestaShop/blob/f2a7da28d55f884f5f9758dd56a9ca632b96f41e/classes/Hook.php#L377) function at [this line](https://github.com/PrestaShop/PrestaShop/blob/f2a7da28d55f884f5f9758dd56a9ca632b96f41e/clas

[2019-04-23 08:55] khouloudbelguith commented on #13432
@jnvgi, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
Thanks!

[2019-04-23 09:01] mbadrani commented on #13516
Detected by Test Automation Suit Full/02_product thanks @nesrineabdmouleh & @khouloudbelguith

[2019-04-23 09:05] rdy4ever commented on #13427
Hi @matks
I usually disable all stats* related modules:
![image](https://user-images.githubusercontent.com/12268701/56568495-cf255500-65bf-11e9-9cac-5264ebf28326.png)
I know that the big performance hog is stastlive, but each less module is a little performance boost (I also consider BO performance here). I rely on GA for all stats, I don't use internal stats engine.

[2019-04-23 09:09] khouloudbelguith commented on #13520
Hi @pks891618,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1z0vKhSnLLUKUhruFu2D3KnOgBwReKOJD/view
Thanks to check & feedback

[2019-04-23 09:17] jnvgi commented on #13432
I found this in the PHP error log :

That match with my error message. There are many other translation errors in the log. That's weird because i updated the langauge pack and everything is translated well in the BO.

[php_error_log.txt](https://github.com/PrestaShop/PrestaShop/files/3106763/php_error_log.txt)

Also, it looks like the form validation block on attributes. It says ecotax, minimal qu

[2019-04-23 09:20] marionf commented on #13388
@LouiseBonnard seems not fixed

[2019-04-23 09:25] LouiseBonnard commented on #13388
Hey Marion! From my side, it is corrected... have you updated the German language?

[2019-04-23 09:36] DCL34 opened #13523 "No access to Prestashop back office"
Hi,

I have no access to the back office of my shop (error 500) since I changed the access password to the database. I made no change in the database.

I wrote the new password in the app/config/parameters.php but it still failed.

Anyone have an idea ?

Best Regards,

DCL34.

PrestaShop version: 1.7.5.1

[2019-04-23 09:41] christian-predebon commented on #13500
@marionf
Of course, I can create a feature named for instance "w/o eggs, w/o soy" and then add this feature to an article that not contains this ingredient. It would work as well but I think it's a workaround.
It would be better to have a solution more straight, in this case I could name the feature "Not contains" and then flag a single ingredient to keep out it from the selection.

Thanks!

[2019-04-23 09:43] khouloudbelguith commented on #13523
Hi @DCL34,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop

[2019-04-23 09:49] matks commented on #13512
Hi @renkam indeed PostgreSQL is known for having better results for heavy workload in comparison to MySQL.

It would be great to have prestashop supporting both MySQL and PostgreSQL however we have already a lot of major projects in progress, and the work needed to make this happen is huge.

I am sorry but although this is a relevant feature and, as a developer, I consider this an interesting chal

[2019-04-23 09:49] #13512 closed, assigned to nobody

[2019-04-23 09:50] kshirodpatel commented on #13507
Hello @khouloudbelguith ,

I have sent you the module. Please check it. Its just a basic module.

[2019-04-23 09:51] khouloudbelguith commented on #13519
Hi @banan44,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record
https://drive.google.com/file/d/1a9JspwVX_kdara344UJ6x7WNz3DujHqJ/view
I used this child theme
[childB.zip](https://github.com/PrestaShop/PrestaShop/files/3106939/childB.zip)
Thanks to check & feedback

[2019-04-23 09:54] khouloudbelguith commented on #13507
Hi @kshirodpatel,

I just received the email.
I will check & feedback.
Thanks a lot!

[2019-04-23 09:56] matks commented on #13523
Hi @DCL34 parameters such as database passwords are put in a cache file, as you can see in https://github.com/PrestaShop/PrestaShop/blob/develop/config/bootstrap.php#L73

Check your cache file is up-to-date.

[2019-04-23 09:57] marionf commented on #13388
Yes, fresh install of German language

[2019-04-23 10:48] arg73 opened #13524 "Problem with customer account creation"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-04-23 10:49] LouiseBonnard commented on #13388
Alright, I think I got it. I guess that it is because the shop is 1.7.6.x, the translation catalog has not been pushed on Crowdin yet and therefore has not retrieved the correction.

[2019-04-23 10:54] zuk3975 commented on #13474
I have checked this issue, and it seems it only requires to rebuild assets to work.
@matks, I guess it's not worth separate PR as it should be fixed automatically later once rebuilding assets in another PR's?

[2019-04-23 11:16] itisco commented on #13215
hi
yes, they told me to update with the latest version of the module.
thanks a lot

Cordialement,
[image: Animation Itis]

Jean-Philippe BEAUVE
Chef de projet
65, rue du Bourbonnais 69009 LYON
09 72 11 89 24 | 08 05 69 20 06
www.itis-commerce.com
Téléchargez ma VCard !

Le mar. 23 avr. 2019 à 10:18, stan-smith <notifications@github.com> a
écrit :

--
*PETIT DEJITAL #15*
*PERSONNALISER & ORCHESTRER

[2019-04-23 11:25] khouloudbelguith commented on #13507
@kshirodpatel, it is OK.
I tried with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1niJmAAWgTjOlPQgEGxdKdzraledUFV4u/view
Thanks!

[2019-04-23 11:26] khouloudbelguith commented on #13215
Hi all,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-04-23 11:27] khouloudbelguith commented on #13524
Hi @arg73,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop

[2019-04-23 11:40] madsoliver opened #13526 "Adding product in BackOffice order gets the price in default shop currency, and not the order currency. PS 1.7.4.2"
When trying to add a new product to an (not yet valid) order in PS backoffice default currency the price is added in the default currency instead of the currency selected for that order.

The price is shown correctly in the input fields before clicking "add", but after then this happens: Value is set in the default currency, while the currency symbol is set to order currency.

**Example:**
My shop

[2019-04-23 11:46] gumballerss commented on #13215
Wait @khouloudbelguith, I've contacted both Prestashop and the Author on addons.prestashop.com. The author told me to contact prestashop and prestashop told me to use github.

FYI, I've updated the module as you told me @itisco , thank you.

Do you know for the old transaction (before the update of the module) if the refund will be applied  or if I have to do it manually?

Kind regards,
Stan

[2019-04-23 12:01] colinegin commented on #13427
Statslive display name is "Dashboard Activity". We should just be careful with disabling it, as it leaves an empty left column, which makes the dashboard seem "broken". What's your opinion @TristanLDD ?

[2019-04-23 12:03] khouloudbelguith commented on #13215
Hi @stan-smith,

I just re-opened the issue.
Thanks!

[2019-04-23 12:04] khouloudbelguith commented on #13215
@stan-smith, what is the exact version PrestaShop & Paypal version did you use?
Thanks!

[2019-04-23 12:09] marionf commented on #13005
V1.1.3 of the module is now available in BO and working with PrestaShop 1.7.6.x
So, I close this issue

[2019-04-23 12:09] #13005 closed, assigned to jolelievre

[2019-04-23 12:10] colinegin commented on #13516
Is it really critical ? It does not display the final price, but is this price still taken into account ?

[2019-04-23 12:13] khouloudbelguith commented on #13516
Hi @colinegin,

In our documentation http://doc.prestashop.com/pages/viewpage.action?title=Severity+Criteria&spaceKey=QA, if an issue breaks the Auto Tests so it is critical.
Thanks!

[2019-04-23 12:18] Tomskor commented on #13001
Hi @khouloudbelguith

I just can't do all stuff from the list. That's hard to look at specific bug on the living main store, when it's just happend occasionally. We can't impede our customers using our shop, and we havn't enough time to clone everything and trying to find this bug. I just hope maybe in some update you will fix this.

[2019-04-23 12:18] arg73 commented on #13524
hello
i have an e-boutic of engraving on glasses ''www.gravure-sur-verres.fr'' with prestashop version 1.6.1.22
since 1 month, eatch day in my back office i have about 20 new creations of customer's accounts
(see the attached picture) which provide from spam, virus or other ...

![argprobleme](https://user-images.githubusercontent.com/46370249/56580188-4c59c580-65d2-11e9-9985-be028ab3fe8f.JPG)
![a

[2019-04-23 12:19] matks commented on #10193
Empty state has been cancelled by UX team as it was not relevant anymore

[2019-04-23 12:20] khouloudbelguith commented on #13521
Hi @nirav-nanda,

Thanks for your report.
In the FO => home page => you can filter by brand
![image](https://user-images.githubusercontent.com/16067358/56580240-0698ff00-65ca-11e9-82a2-7a87f85fb429.png)
=> OK => then you have the number of products displayed in each category
![image](https://user-images.githubusercontent.com/16067358/56580286-25979100-65ca-11e9-9da7-6da85c8e6f4e.png)
In this scree

[2019-04-23 12:24] khouloudbelguith commented on #13524
@arg73, we need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-04-23 12:38] colinegin commented on #13397
Hello,

Thanks for your idea ! Could you give us more details about your need ? In which cases do you need this feature ?

[2019-04-23 12:40] colinegin commented on #13389
@PrestaShop/prestashop-core-developers what do you think ?

[2019-04-23 12:50] matks commented on #13389
Hi @go-sudo, although indeed the frontend benefits a lot more from cache capabilities than the backend, being able to use memcached for backend is still a useful feature.

So can we rephrase your feature request as "Enable PrestaShop users to choose to either use memcached for backoffice, frontoffice, or both" ?

[2019-04-23 12:54] matks commented on #10228
Or easier: *refuse* to delete a Profile if there are active Employees using it. This would prevent people from making mistakes.

[2019-04-23 12:58] marionf commented on #13174
@manfield

We have posted your suggestion here: http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/suggestions/37448746-disable-emails

Don't hesitate to vote for it

[2019-04-23 13:10] pks891618 commented on #13520
Hi @khouloudbelguith
Please test the url here on the google

https://search.google.com/structured-data/testing-tool/u/0/#url=https%3A%2F%2Fdev.legastronomesexy.com%2Ftenga-eggs-oeuf-masturbateurs%2F30-tenga-egg-masturbateur-homme.html

You need to pass the page like category or products page where breadcrumb are commings

this url testing the schema of the prestashop breadcrumb

[2019-04-23 13:18] khouloudbelguith commented on #13526
Hi @onklmaps,

Is it the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/12521?
Thanks to check & feedback.

[2019-04-23 13:23] khouloudbelguith commented on #13520
@pks891618, with your URL, I have a problem
![image](https://user-images.githubusercontent.com/16067358/56584217-3d274780-65d3-11e9-9875-6638e1a80926.png)
But if check with my shop, it is OK
![image](https://user-images.githubusercontent.com/16067358/56584264-58925280-65d3-11e9-87b2-2ec13942b2f0.png)
Thanks!

[2019-04-23 13:33] gumballerss commented on #13215
v1.7.4.4 for Prestashop

v4.4.4 for Paypal

[2019-04-23 13:35] khouloudbelguith commented on #13432
@jnvgi, did you use multishop? and did you use multilanguage?

In your browser, you can use DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. save the product
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Response" or "Preview" tab

Thanks to check & fee

[2019-04-23 13:58] ghost commented on #13524
@khouloudbelguith

Log and debug are not needed :

https://www.prestashop.com/forums/topic/981159-securite-spam-customer-account-solution-13-17/

https://www.prestashop.com/forums/topic/981158-securite-spam-compte-client-solution-13-17/

The form allows url in fisrtname and lastname.

[2019-04-23 13:58] ghost commented on #13524
You can also add 1.7 label

[2019-04-23 14:07] DCL34 commented on #13523
Thank you for your feedback ! Sorry, I don't understand how to get this informations you want.

[2019-04-23 14:09] khouloudbelguith commented on #13523
@DCL34, if you don't know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/
Thanks!

[2019-04-23 14:19] Ortezjan opened #13531 "Related Products problem"
**Describe the bug**
When I save related products to product all working fine. But when I refresh product page I get an error. I mean that "ref" in the related product. I receive that information from my template support:

"Sorry, I really don't know this problem. When I disable the friendly URL option on your site, it works, see the attachment. I think it is related to the UTF-8 character code in

[2019-04-23 14:24] blks commented on #12170
Reproduced in PS 1.7.5
When changing addressee in addition of creating a new addressee , shipping fees are not being recalculated correctly (because shipping fees are related to state_id, when changing state => shipping fees should be recalculated).

[2019-04-23 14:33] colinegin commented on #13476
@LouiseBonnard what do you think ? Is it critical ?

[2019-04-23 14:42] matks commented on #13524
Thank you ! Our understanding of the issue is that the goal of the spam attack is to make the shop send a registration email to a real user, and put there links using firstname or lastname URL. Then the user clicks on the link, be it a spam link or a phishing link.

Did you observe another behavior behind this spam attack ?

[2019-04-23 14:45] matteolavaggi opened #13532 "Order confirmation page (classic theme) reuse same image for all product (cache problem?!)"
**Describe the bug**

The order confirmation page use the same (first) product image for all the product details, bug in cache or theme file. Classic theme PS 1.7.2

**To Reproduce**

![image](https://user-images.githubusercontent.com/24798703/56590294-2559be80-65e7-11e9-84a2-d94df8428c8f.png)

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additio

[2019-04-23 14:47] colinegin commented on #13516
As seen with Mehdi, as those auto tests are going to be changed, this is not a critical but major issue. I've changed the label :) Thanks !

[2019-04-23 14:48] pks891618 commented on #13520
Are you using prestashop. 1.6

[2019-04-23 14:50] matteolavaggi commented on #13532
Found fix, sorry.
https://github.com/PrestaShop/PrestaShop/pull/8281/files

[2019-04-23 14:50] #13532 closed, assigned to nobody

[2019-04-23 14:55] khouloudbelguith commented on #13520
@pks891618, no.
I'm using the latest PrestaShop version PS1.7.5.1.
![image](https://user-images.githubusercontent.com/16067358/56591186-2d623000-65e0-11e9-9a69-6bb6b89bdd33.png)
Thanks!

[2019-04-23 14:58] khouloudbelguith commented on #13531
Hi @Ortezjan,

I did not manage to reproduce the issue with PS1.7.5.1.
![image](https://user-images.githubusercontent.com/16067358/56591324-70bc9e80-65e0-11e9-867c-99d826096dcf.png)
You need to enable debug mode in your store and debug request which is sent for product save in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Netw

[2019-04-23 15:10] Ortezjan commented on #13531
I have no idea i doing good but:
![Screenshot_2](https://user-images.githubusercontent.com/49912771/56592274-a36b9480-65ea-11e9-9ae5-803c10f8b58e.png)
![Screenshot_3](https://user-images.githubusercontent.com/49912771/56592280-a797b200-65ea-11e9-8e74-ce99c4f3991f.png)

[2019-04-23 15:18] pks891618 commented on #13520
Please test this for 1.6.1

[2019-04-23 15:20] Ortezjan commented on #13531
This error showing when i refresh the product page. I have no idea i doing good but:
![Screenshot_2](https://user-images.githubusercontent.com/49912771/56593074-10335e80-65ec-11e9-8f8f-eb1d95ad1d1e.jpg)
![Screenshot_3](https://user-images.githubusercontent.com/49912771/56593122-14f81280-65ec-11e9-978c-292ac3e15ba4.jpg)

[2019-04-23 15:21] #10194 closed, assigned to sarjon

[2019-04-23 15:41] matks commented on #13524
An additional impact of this behavior: if injected mail addresses are bad and the shop sends registration mail to these addresses, this can damage the mailing reputation of the shop and make it look like a spammer.

This is probably a side-effect of this attack but still annoying

[2019-04-23 15:45] khouloudbelguith commented on #13520
@pks891618,
As you can see [here](https://www.prestashop.com/en/blog/Maintenance-extension-PrestaShop-1-6): the maintenance of PrestaShop 1.6 is extended to June 2019 for security and critical bugs.
Thanks!

[2019-04-23 15:46] matks commented on #13469
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13528

[2019-04-23 15:46] #13469 closed, assigned to matks

[2019-04-23 15:48] matks commented on #13474
@marionf Should be fixed on `1.7.6.x` now 😉

[2019-04-23 15:55] hiousi opened #13537 "Order date update is not updated when address is changed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to customer/address
2. Click on "edit" an address then save.
3. check order.date_upd with sql for the related order.
4.  and see that date is not updated

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal inform

[2019-04-23 15:57] khouloudbelguith commented on #13531
@Ortezjan, in your second screenshot, could you please try to click on the error, you should see the error message in "Response" or "Preview" tab
Thanks!

[2019-04-23 15:58] TristanLDD commented on #12991
Hi @PrestaShark, thank you for your contribution.

I suggest a few modifications on your interface:

- The expiration date would be better under the name of the slide, so it's position will not depend on the length of the name, so dates will be easier to 'scan'
- The color indication is not inclusive enough as some people might have troubles to differentiate colors. It's always better not to use c

[2019-04-23 15:59] arg73 commented on #13524
i don't observe another behaviour behind this spam attack
i going to install your solution

thanks for your advices
thierry

[2019-04-23 16:00] hiousi opened #13539 "Invoices can be changed/modified"
**Describe the bug**
When changing an address for a customer, if that address is used in some invoices, the invoice is modified. This can be a problem because some regulation laws does not allow an invoice to be modified.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'customer/address
2. Click on 'edit an address
3. save the address and check an invoice using this address
4. See that

[2019-04-23 16:02] Ortezjan commented on #13531
I can't click on that.
![Screenshot_2](https://user-images.githubusercontent.com/49912771/56597013-ec731700-65f1-11e9-9e33-16408dadaeff.png)

[2019-04-23 16:07] TristanLDD commented on #13427
It just tried to disable it, indeed there's an empty column but the dashboard is too loaded with information anyway so maybe it's for the better. I would be ok with disabling this module.

[2019-04-23 16:14] khouloudbelguith commented on #13539
Hi @hiousi,

Thanks for your report.
Yes, I manage to reproduce the issue with PS1.7.5.1
![image](https://user-images.githubusercontent.com/16067358/56597839-386e8d80-65eb-11e9-9d2d-cd85f1058868.png)
@marionf what do you think?
Thanks!

[2019-04-23 16:17] marionf commented on #13474
Yes, it's all good :+1:

[2019-04-23 16:17] #13474 closed, assigned to matks

[2019-04-23 16:19] khouloudbelguith commented on #13531
@Ortezjan, you should click on the error as described in this screenshot
![image](https://user-images.githubusercontent.com/16067358/56598080-b03cb800-65eb-11e9-8e49-2f38ad8375bb.png)
thanks to check & feedback

[2019-04-23 16:23] marionf commented on #13537
@hiousi

If you want to update the order.date_upd column, you need to change the address directly in the order and not in Customer > Address

[2019-04-23 16:26] zuk3975 opened #13541 "Catalog > Monitoring > Empty categories list status toggling action not working"
**Describe the bug**
In Sell > Catalog > Monitoring > `list of empty categories` status toggling button not working.
This is due to already migrated Categories page to which toggling action is referred with `GET` method ( legacy behavior ), while in migrated page the accepted method is only `POST`. Removing _legacy_link from route provokes just another error, because it can't find legacy `AdminCat

[2019-04-23 16:28] khouloudbelguith commented on #13537
@hiousi, yes as said @marionf, the order.date_upd is updated only if we change address from the order page & not editing the address from BO or FO.
Thanks!

[2019-04-23 16:32] mbadrani opened #13543 "Cart rule with free shipping AND % or amount reduction not applied in FO"
**Describe the bug**
For my case, when I add a new promo code on cart rule (individual or to everyone), in Front-Office adding a correct promo code not working.
Detected by the E2E automation tests.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new promo code
2. Don’t forget to activate free shipping (toggle button) before saving it
3. Go to Front-Office and add the promo code
4. Not

[2019-04-23 16:33] khouloudbelguith commented on #13541
Hi @zuk3975,

I have the same issue with branch 1.7.6.x.
It is a regression.
In the PS1.7.5.1 => OK.
Thanks!

[2019-04-23 16:37] Ortezjan commented on #13531
In text file is all information from response.
(https://github.com/PrestaShop/PrestaShop/files/3108668/Nowy.dokument.tekstowy.txt)

[2019-04-23 16:37] TristanLDD commented on #12068
The horizontal scroll for tables is not very recommended as people don't actually see that it's scrollable and miss the lasts items.

When the window size is too small for proper display, the best thing to do is to adapt to the screen by displaying less content. So my recommendation would be to display only 'Price (tax excl.)' when the window is less than 1270px.

The smallest the screen gets, the

[2019-04-23 16:39] Ortezjan commented on #13531
And on FO related products display normally:
![Screenshot_3](https://user-images.githubusercontent.com/49912771/56599558-17ac3500-65f7-11e9-95f4-8fc076a06656.png)

[2019-04-23 16:45] khouloudbelguith commented on #13543
Hi @mbadrani,

I have the same issue with PS1.7.6.x
After clicking "Add button" => I reload the page => an exception displayed
![image](https://user-images.githubusercontent.com/16067358/56599971-9d2be700-65ef-11e9-9707-d00c038c85b2.png)
Thanks!

[2019-04-23 16:49] khouloudbelguith commented on #13531
@Ortezjan, no, your file doesn't contain the errors.
Could you please navigate to you BO => Design => Image Settings => Click on the "Regenerate thumbnails" button
Thanks to check & feedback.

[2019-04-23 16:57] pks891618 commented on #13520
Is this means there is no solutions for this ?? I need to manually code it ?

[2019-04-23 16:57] mskuser1 commented on #11945
Dear Prestashop and @khouloudbelguith,

I have solved the problem after a lot of hours spent, most of them looking into PHP code. For those with the same error, the problem was with the delivery options which now has to be in a similar json format with the id_address and id_carrier: **{"id_address_delivery":"id_carrier,"}**.

To ensure that you don't commit the same errors as mine I will explain w

[2019-04-23 17:04] khouloudbelguith commented on #13520
@pks891618, I tried with PS1.7.5.1 but we cannot reproduce the issue with PS1.7.5.1
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only

[2019-04-23 17:04] #13520 closed, assigned to nobody

[2019-04-23 17:20] jnvgi commented on #13432
@khouloudbelguith Yep, i get the same message :
`{"step1_name_5":["This value should not be blank."]}`

No multishop and no multilanguage either :s

[2019-04-23 17:36] hiousi commented on #13537
@marionf @khouloudbelguith
I'm happy to hear that we are all saying the same thing:
"_Prestashop provides a way of changing orders  without updating date_upd_"

**this is an unwanted behavior** (do not call it a bug if its too much for you)

- When an address is changed/modified for an order the order.date_upd should be updated.
or
- Prestashop should not allow an address to be modified when an or

[2019-04-23 17:50] Eolia commented on #13524
You can also add all versions, since 0.97 ;)

[2019-04-23 17:50] Ortezjan commented on #13531
Same thing.

[2019-04-23 17:55] Ortezjan commented on #13531
Only when I change URL settings these related products show up.
<img width="716" alt="5cbf0ea71d2cc" src="https://user-images.githubusercontent.com/49912771/56604217-c6ee0980-6601-11e9-9f1b-0eed3fbe0ad3.png">

[2019-04-23 19:38] banan44 commented on #13519
Hello. Thank you for your fast reply. I wanted to make a video for you showing the problem but the strangest thing happened. The .it shop stopped working.

Here's the video showing the main shop with EU domain and how it works on Bentriz theme and child theme I have created. At the end of the video I have switched to the IT showed me ContextErrorExeption in Back Office and some error in Front Offi

[2019-04-23 19:45] matks commented on #13543
Nice catch !

[2019-04-23 20:10] matks opened #13544 "ToggleColumn option name changed between 1.7.5 and 1.7.6"
Spotted by @Payalba

Option name has been changed in https://github.com/PrestaShop/PrestaShop/pull/10160 as you can see in https://github.com/PrestaShop/PrestaShop/commit/dba537cca4794b2e205b6b4ce3d811bf5258b08e#diff-d4a0158121accdf8e50d139ae4a9e7b1

It was `route_param_id` and it is now `route_param_name`

[2019-04-24 00:45] jolelievre commented on #13459
Hi @LouiseBonnard actually I think it's normal for this message. Unlike most other emails this one is sent to the shop administrator, not to the customer. So it is not supposed to be personalized (and the `{firstname}` and `{lastname}` variables are not available in this case).
In `classic` emails we already had this behavior.

[2019-04-24 04:08] bikefactorycl commented on #13121
Hello,

I have the same problem with exactly the same template Zone Supermarket, use PS 1.7.4.2, how did you solve the problem? Thank you very much.

[2019-04-24 04:31] nirav-nanda commented on #13521
yes , this is what i am looking for. Thank you,

need one more help, how can i add this filters to brand page if possible.. i can't find any option for that.

thank you ma'am for quick response, and solving our issue.

[2019-04-24 08:23] khouloudbelguith commented on #13031
Hi @AltilloJoyeros,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-24 08:23] #13031 closed, assigned to nobody

[2019-04-24 08:24] khouloudbelguith commented on #13026
Hi @willymuigai,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-24 08:24] #13026 closed, assigned to nobody

[2019-04-24 08:27] khouloudbelguith commented on #13025
Hi @virani06,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-24 08:27] #13025 closed, assigned to nobody

[2019-04-24 08:43] khouloudbelguith commented on #13016
Hi @cedricfontaine,

Any news about your suggestion?
Thanks!

[2019-04-24 08:57] matks commented on #13524
PrestaShop versions prior to 1.5 are not maintained anymore, so only 1.6 and 1.7 versions are needed

[2019-04-24 08:57] LouiseBonnard commented on #13459
Indeed! But the point was to get all emails with the same header, notably because we were not fully sure of the destination (merchants or clients) for some of the emails.

[2019-04-24 09:16] mbadrani commented on #13543
@matks & @khouloudbelguith I have another bug when I try to access to "orders/shopping carts" in the backoffice, it seems to be related bug wdyt?
![image](https://user-images.githubusercontent.com/29543279/56647691-2986ea00-6682-11e9-816a-3ca99964af92.png)

[2019-04-24 09:16] mbadrani commented on #13543
both are calling CartRuleCalculator.php

[2019-04-24 09:16] khouloudbelguith commented on #13432
@jnvgi, thanks for your feedback.
Could you please provide the exact steps did you follow to upgrade your shop from 1.5 to 1.7 and what is the exact tool did you used to make the upgrade?
During the upgrade did you have any errors?
Thanks!

[2019-04-24 09:22] colinegin commented on #13427
Alright, thanks @TristanLDD !
@eternoendless do you think we could moving the Useful links block to the left column (below Addons connect block) ?

[2019-04-24 09:27] arg73 commented on #13524
i have make modification
there is a probleme now
invalid name when i create an account
[Customer.txt](https://github.com/PrestaShop/PrestaShop/files/3111547/Customer.txt)
[Validate.txt](https://github.com/PrestaShop/PrestaShop/files/3111548/Validate.txt)
see the 2 files

[2019-04-24 09:28] khouloudbelguith commented on #13543
@mbadrani, I think they are related.
In my case all the shop FO is blocked with this exception, I don't have access to FO any more.
![image](https://user-images.githubusercontent.com/16067358/56648785-d27e1680-667b-11e9-9fe9-a7aee6edbe0e.png)

Thanks!

[2019-04-24 09:31] JohnbConneely opened #13546 "Simplify Commerce Module has been deactivated"
**Describe the bug**
A plugin we have on your marketplace has been deactivated for some reason.
The link used to be http://addons.prestashop.com/en/17104-simplifycommerce.html

That link no longer works.

I have since logged into my developer account and can see that the plugin has been deactivated. When I try to save the product sheet, it tells me "One of your documentation is unavailable, try to

[2019-04-24 09:32] mbadrani commented on #13543
so If FO is not accessible anymore it's critical

[2019-04-24 09:38] khouloudbelguith commented on #13546
Hi @Johnnerz,

Please be aware that this bug tracker should be used to report issues of the PrestaShop core only. If you need help, you can ask on this link https://addons.prestashop.com/en/contact-us
Thanks for your understanding!

[2019-04-24 09:38] #13546 closed, assigned to nobody

[2019-04-24 09:55] khouloudbelguith commented on #13521
Hi @nirav-nanda,

You need to create a custom hook for the manufacturer page & transplant the ps_factedsearch module to this hook.
Thanks!

[2019-04-24 09:57] khouloudbelguith commented on #13531
@Ortezjan,

Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2019-04-24 10:35] Ortezjan commented on #13531
Done but same thing.

[2019-04-24 10:41] khouloudbelguith commented on #13531
@Ortezjan, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-04-24 11:05] khouloudbelguith commented on #13215
Hi @stan-smith,

I tried with PrestaShop 1.7.5.1 & PayPal v4.4.4.
From PrestaShop BO, it is all ok.
I attached a video record.
https://drive.google.com/file/d/1hi1hnlpPJJZ5Bh34WtZNub3R1cG0PlDU/view
The credit slip is created & it is OK.
Thanks to check & feedback.

[2019-04-24 11:38] khouloudbelguith commented on #13519
Hi @banan44,

Thanks for your feedback.
I tried with your child theme & also it is OK in the two shops.
https://drive.google.com/file/d/1RQPM4hIcjOTZLbsSLSZHmLSRb8hrFubx/view
Could you please try to re-upload those themes, clear cache, try also to delete the file `shop1.json`, `shop2.json`, which exist in this path /YourProjetFolder/config/themes/Yourtheme/
Thanks to check & feedback.

[2019-04-24 12:07] jnvgi commented on #13432
@khouloudbelguith I upgraded from 1.5 to 1.6 thought the 1-click-upgrade plugin, using a local archive of the last version of PS 1.6 (1.6.1.23 if i remember well)
After that I uploaded PS 1.7.1.5 on my FTP and did the upgrade thought install/upgrade/upgrade.php.
Despite the blank page and the feel that nothing was working, I found out my PS was updated when I checked the website again.
The plugin

[2019-04-24 12:14] madsoliver commented on #13526
That issue was not as much described, but it looks like it, yes. When is this probably fixed?

[2019-04-24 12:21] marionf commented on #13541
There is also an issue if you try to delete a category from Monitoring page:

![capture d'écran_1457](https://user-images.githubusercontent.com/13449658/56658950-39132c80-669c-11e9-93e7-da16dc4a4a5e.png)

[2019-04-24 12:21] tomlev commented on #13543
@mbadrani please give more details:
With a fresh-installed shop, when I add a cart rule I can go through the checkout steps without interruption.
which sort of cart rule did you use ? Is it on a fresh install (which parameters) or after some changes (carrier, products...) ?
Your description is far too vague to reproduce easily.

[2019-04-24 12:25] colinegin commented on #10228
Thanks @marionf for pinging me on this !
I agree with you @matks, the easier the better : you cannot delete a profile if at least one employee has been assigned to this profile. By clicking on delete, there should be a pop up (or error message) asking the merchant to assign the employee with another profile before deleting this profile.
Are you all ok with this ?

[2019-04-24 12:26] Ortezjan commented on #13531
I turn on PHP error:

Parse error: syntax error, unexpected 'finally' (T_STRING), expecting catch (T_CATCH) in /home/barnmobleg/www/vendor/symfony/symfony/src/Symfony/Component/HttpKernel/Kernel.php on line 201

[2019-04-24 12:32] Ortezjan commented on #13531
I have it shared hosting in OVH company and I don't have access to PHP logs and server logs.

[2019-04-24 12:38] tomlev commented on #13463
@marionf or @sarahdib could you please share the content of your `ps_lang` table for a non-working shop ?

[2019-04-24 12:43] hipercenterbo opened #13551 "na abre para verificar os pedidos na administração"
**Describe the bug**
A clear and concise description of what the bug is.
quando entro em minha adim e clico nos pedidod realizados na loja para ver os produtos não abre o pedido
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Ad

[2019-04-24 12:56] khouloudbelguith commented on #13551
Hi @hipercenterbo,

Please, send your request in English.
English is the norm on GitHub.
Thanks to add a clear description of your issue
Thank you!

[2019-04-24 13:03] epnb commented on #10026
In same conditions, i.e. when a VAT tax is applied on eco tax :
- ecotax price is displayed without tax on product page while product price is with tax
- the total price before taxes in PDF invoice (bottom left) does include the ecotax amount, while the eco tax is listed with VAT on a second separated line

Information in french [here](https://www.prestashop.com/forums/topic/909854-éco-participati

[2019-04-24 13:12] khouloudbelguith commented on #13531
@Ortezjan,
Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this

[2019-04-24 13:16] mbadrani commented on #13543
@tomlev a complete description here on how to reproduce it:
https://docs.google.com/document/d/1pUVx5060vM2hgNIlaVS4KfI9BbWWmV7wTUos1OHYnHg/edit?usp=sharing

[2019-04-24 13:18] khouloudbelguith commented on #13526
@onklmaps, the issue is added to bug roadmap, so that will be fixed.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Your ticket is a duplicate of #12521
So, I close it.
Thanks!

[2019-04-24 13:18] #13526 closed, assigned to nobody

[2019-04-24 13:18] sarjon commented on #13463
I was not able to reproduce it, everything was working fine for me, so I'm not sure if my `ps_lang` would help you. :/

[2019-04-24 13:19] tomlev commented on #13543
`Don’t forget to activate free shipping`
I think it was the missing part, please share these details next time ^^

[2019-04-24 13:20] tomlev commented on #13543
it was. I can reproduce now

[2019-04-24 13:20] sarjon commented on #10228
Hmmm, what if there are a lot of employees? Let's say 10 or more? I think we might need a design mockup here.

[2019-04-24 13:21] Ortezjan commented on #13531
I upload this file and go to https://www.barn-mobler.se/phppsinfo.php and I try to login with default login and password but I can't. Nothing happened.

[2019-04-24 13:21] Ortezjan commented on #13531
I should upload just "phppsinfo.php" file?

[2019-04-24 13:23] Ortezjan commented on #13531
![Screenshot_1](https://user-images.githubusercontent.com/49912771/56662745-f43fc380-66a4-11e9-8eb7-a99376fc15b7.png)

[2019-04-24 13:30] marionf commented on #13543
Furthermore, the problem is if you create a cart rule with free shipping **AND** a promo in % or amount.
A cart rule with only free shipping is working correctly

[2019-04-24 13:57] khouloudbelguith commented on #13531
@Ortezjan, Thanks to check with this file a feedback
[phppsinfo.php.zip](https://github.com/PrestaShop/PrestaShop/files/3112586/phppsinfo.php.zip)

[2019-04-24 13:57] khouloudbelguith commented on #13432
@jnvgi, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-04-24 14:02] Ortezjan commented on #13531
![Screenshot_3](https://user-images.githubusercontent.com/49912771/56665468-66ff6d80-66aa-11e9-8601-27a6c45391c6.png)
![Screenshot_4](https://user-images.githubusercontent.com/49912771/56665475-6961c780-66aa-11e9-835e-e427037f4ce8.png)

[2019-04-24 14:11] bubo1991 opened #13555 "Bosnian language doen't apper in backoffice"
![123](https://user-images.githubusercontent.com/6005499/56665991-63b8b180-66ab-11e9-93de-e9105b821542.png)

**Describe the bug**
I can't find bosnian and herzegovina on my back office. I tired 3 older version and i have same problem. When i look on official demo there is bosnan language. Currency (BAM) alo doesn't apper. Sorry for bad English

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-04-24 14:14] khouloudbelguith commented on #13531
@Ortezjan, the error "Parse Error: syntax error, unexpected 'class' (T_CLASS), expecting identifier (T_STRING) or variable (T_VARIABLE)" ... happens when you have a PHP older than 5.5 which is not your case.
Hav you any feedbacks from your hosting?
Thanks!

[2019-04-24 14:36] eternoendless commented on #13524
Hi there, we are going to release a patch for 1.7.5.x and 1.6.1.x in order to mitigate the attack vector.

[2019-04-24 14:42] Ortezjan commented on #13531
Nope. I have no idea about what I should ask them.

[2019-04-24 14:49] khouloudbelguith commented on #13531
@Ortezjan, that's ok, you can ask them about your error displayed.
If you put php -v in your terminal what is the exact information provided?
Thanks!

[2019-04-24 14:51] jolelievre commented on #13487
Hello, this is probably linked to this fix https://github.com/PrestaShop/PrestaShop/pull/11726 and issue https://github.com/PrestaShop/PrestaShop/issues/9891
I'll look into it

[2019-04-24 14:53] Ortezjan commented on #13531
I don't have a possibility to open terminal.

[2019-04-24 14:55] khouloudbelguith commented on #13555
Hi @bubo1991,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
In the BO => International => Localization => the pack Bosnia and Herzegovina, doesn't exist
But in the countries page, this country is displayed
Also, during the install, the Bosnia and Herzegovina country exists.
I tried to install PS1.7.5.1 with Bosnian language /  Bosnia and Herzegovina country =

[2019-04-24 14:55] khouloudbelguith commented on #13555
Hi @bubo1991,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.1 & PS1.7.4.4.
In the BO => International => Localization => the pack Bosnia and Herzegovina, doesn't exist
But in the countries page, this country is displayed
Also, during the install, the Bosnia and Herzegovina country exists.
I tried to install PS1.7.5.1 with Bosnian language /  Bosnia and Herzegovina country =

[2019-04-24 15:00] colinegin commented on #10228
I don't know - why would a merchant remove a profile if ten of his employees are using it... ?

[2019-04-24 15:06] sarjon commented on #10228
Who knows, maybe merchant is firing all employees. :stuck_out_tongue:  Either way, we should be able to handle this situation, because we don't forbid it, it will happen at some point.

[2019-04-24 15:08] khouloudbelguith commented on #13531
@Ortezjan, could you please check that the `mbstring` is installed on your server.
![image](https://user-images.githubusercontent.com/16067358/56670645-23593380-66ab-11e9-9449-8d28cc25c41a.png)

Thanks!

[2019-04-24 15:21] Quetzacoalt91 commented on #13463
I reproduced it, and it happens everytime now. I'm still digging to find the cause, here is my progress so far:

![Capture d’écran du 2019-04-24 16-10-46](https://user-images.githubusercontent.com/6768917/56671697-fc9bfc80-66ac-11e9-9ec5-ba0e0ee77804.png)

![Capture d’écran du 2019-04-24 16-19-17](https://user-images.githubusercontent.com/6768917/56671705-ff96ed00-66ac-11e9-9ed2-4d383ffe1d1f.png)

[2019-04-24 15:25] smag-dev commented on #13441
Hi @khouloudbelguith ,

Sorry but there is no mistake

Thanks!

[2019-04-24 15:25] #13441 closed, assigned to nobody

[2019-04-24 15:43] khouloudbelguith commented on #13441
@aguia10, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-04-24 15:47] marionf commented on #13555
I don't know how localization packs are working
We have well Bosnian language and BAM currency, so why we don't have a Bosnian pack ?
@PrestaShop/prestashop-core-developers any idea ?

[2019-04-24 15:53] jolelievre commented on #13487
Hello @sarahdib I can't reproduce this exception,
we probably didn't set the country address the same way

What I did is, in "International > Locations   Countries > Italia"
- add `dni` field in address format
- enable `Do you need a tax identification number?` for this country

The result is that a new field is added in the address form, when `tax identification number?` is enabled you can't subm

[2019-04-24 16:01] marionf commented on #13487
@jolelievre

It happens when you enable "Do you need a tax identification number?" without adding dni field in address format

[2019-04-24 16:02] marionf commented on #13487
Maybe we could automatically add dni field in address format when "Do you need a tax identification number?" is enabled to avoid this issue ?

[2019-04-24 16:08] tomlev commented on #13555
@marionf please give the bosnian language iso-code, I dont know all of them ^^

[2019-04-24 16:10] marionf commented on #13555
BS

[2019-04-24 16:28] jolelievre commented on #13459
Yes, except this template is different from the others because `{firstname}` and `{lastname}` are not injected in the template so we can't display them. This would require to update the controller code to change this behavior but it's not the purpose of the new email theme feature.

So I will close this issue ;)

[2019-04-24 16:28] #13459 closed, assigned to jolelievre

[2019-04-24 16:34] tomlev commented on #13555
indeed, there is no file named `bs.xml` in `/localization` directory
adding such a file requires defining all data like taxrule groups, units...
have a look on the neighbour files to get examples

[2019-04-24 17:24] khouloudbelguith opened #13556 "BO - We can create a new customer successfully without setting required field "Partner offers""
**Describe the bug**
We can create from the BO a new customer successfully without setting required field "Partner offers"
![image](https://user-images.githubusercontent.com/16067358/56678473-b2ba1300-66ba-11e9-9a30-6b337e45d1b7.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Customers => Click on  Set required fields for this section
2. Check the "Partner offers" option
3.

[2019-04-24 18:41] cedricfontaine commented on #13016
Hello,

We plan to test it in the new few days

On Wed, Apr 24, 2019 at 4:43 AM khouloudbelguith <notifications@github.com>
wrote:

--

*Cédric Fontaine*
Équipe E-commerce Team
Décathlon Canada
p: +1 514-967-4441
w: www.decathlon.ca  e: cedric.fontaine@decathlon.com

[2019-04-24 20:18] banan44 commented on #13519
Deleteing shop1.json, shop2.json solved the Error 500. Thank you for that. I did not know about these files. Now my EU shop and IT shop works so I can show you what I mean. I have made another video. You will notice that the content of the home page shows only on the domain I changed theme the last. At the end of the theme I showed you the Positions tab, where you will notice some of the positions

[2019-04-25 04:29] stoltzsp commented on #13399
Sadly I am giving up on this. I suspect it has something to do with the particular webhost, as I have done a clean install on another domain/server and its working.  It is "impossible" or at least frustrating to try and troubleshoot if the webhost cant give access to the error and log files.  thanks khouloudbelguith for trying to assist.

[2019-04-25 04:29] #13399 closed, assigned to nobody

[2019-04-25 05:41] alejoasotelo commented on #10678
@hamzanatek the old id needs to be in the params because it is a hook for add/duplicated a product. It would be wrong if the hook that is executed when add or duplicate a product doesn't have the old id in the params.
i think so get it from the request it is just an alternative to solve the problem but the best way it is get it from the $params.
Best!

[2019-04-25 07:42] khouloudbelguith commented on #13399
@stoltzsp, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-04-25 07:45] khouloudbelguith commented on #13016
@cedricfontaine, thanks!
Waiting for your feedback.

[2019-04-25 08:13] SimonGrn commented on #12560
The OnBoarding module seems to be broken from almost the beginning of the tutorial. On the first steps (when the module guides you to create a new product) every time you click on "Continue" the popup appears then instantaneously disappears.
You can't know what fields you have to fill to continue to the next step.

**UPDATE**: I installed my PrestaShop in French and added the English language afte

[2019-04-25 08:13] khouloudbelguith commented on #13045
Hi @guigplt,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-25 08:13] #13045 closed, assigned to nobody

[2019-04-25 08:14] mrbig00 opened #13558 "Delete theme json (shopX.json) on cache clear"
It would help a lot of people, especially theme developers, to delete the json files generated from the theme yml when the `CacheClearer::clearAllCaches` method is called.

This fix would prevented partially these issues: #13519, #12729, #11548, #10303

### Solution
Implement `CacheClearer::clearThemeYmlCache` and add to `$this->clearAllCaches();`, something like this:
[code]

[2019-04-25 08:17] khouloudbelguith commented on #13558
Hi @mrbig00,

Thanks for your report.
I think it could be a good idea.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!
@marionf, @colinegin what do you think?
Thanks!

[2019-04-25 08:20] khouloudbelguith commented on #13558
The issue previously reported on forge: http://forge.prestashop.com/browse/BOOM-5605

[2019-04-25 08:24] mrbig00 commented on #13558
Hi @khouloudbelguith

I'm more than happy to make a PR if it's accepted.

[2019-04-25 08:41] marionf commented on #13558
@khouloudbelguith let's ask to @PrestaShop/prestashop-core-developers

[2019-04-25 08:56] marionf commented on #12394
It's also the case when you update addresses in customers > adresses
https://github.com/PrestaShop/PrestaShop/issues/13539#issue-436268394

[2019-04-25 08:57] marionf commented on #13539
@hiousi

Your issue is related to #12394
I added a comment on it and I close this issue as it's a duplicate

[2019-04-25 08:57] #13539 closed, assigned to marionf

[2019-04-25 08:58] vincent-dp opened #13562 "core.js obfuscated"
Hello,

Why is the core.js file is obfuscated? Is it not supposed to be the developer version here? If so, where can I find an unobfuscated version of this file?

[2019-04-25 09:01] matks commented on #13562
Hi, I guess you are referring to https://github.com/PrestaShop/PrestaShop/blob/develop/themes/core.js ?

This is a bundled JS file, created by webpack. The developer version is splitted into several files, each relevant to one topic. You can find them in https://github.com/PrestaShop/PrestaShop/tree/develop/themes/_core/js

[2019-04-25 09:13] gumballerss commented on #13215
Hello @khouloudbelguith,

Thank you for your video record. I just saw it.

I have the same thing as you but I don't see nothing on PayPal. Is it normal ?

How I can be sure that my customer have been refunded?

Kind regards,
Stan

**ps: I've made the refund before the Paypal update**

[000001 (1).pdf](https://github.com/PrestaShop/PrestaShop/files/3116109/000001.1.pdf)
![screencapture-paypal-listi

[2019-04-25 09:14] vincent-dp commented on #13562
Oh ok! thank you very much, I was not aware of that

[2019-04-25 09:16] khouloudbelguith commented on #13562
Hi @vincent-dp,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-04-25 09:16] #13562 closed, assigned to nobody

[2019-04-25 09:33] khouloudbelguith commented on #13519
Hi @banan44,

Thanks for your feedback.
I manage to reproduce the issue with PS1.7.5.1.
Steps to reproduce the issue:
1. Edit the "Classic" theme & add some custom hooks => I edited the /themes/classic/config/theme.yml
which I added this section
[code]
![image](https://user-images.githubusercontent.com/16067358/56725747-5e0faa00-6745-11e9-903e-7b74ee9438cb.png)

2. I select for the shop1 this them

[2019-04-25 09:42] ghost commented on #9684
Hi team! How is work going with module refactoring? Is there a chance to deploy 1.7.6 with functional faceted search module? Ew projects are on hold because of this crucial feature...

[2019-04-25 09:52] khouloudbelguith commented on #9684
ping @PierreRambaud

[2019-04-25 09:54] kpodemski commented on #9684
@PrestaShark

refacto has been done, and from what i can see, it is coming to 1.7.6 :)

[2019-04-25 09:55] kpodemski commented on #13521
@khouloudbelguith @nirav-nanda

unfortunately ps_facetedsearch module is working **only** on category pages

[2019-04-25 10:22] bucovich commented on #10653
Any news about this bug?
On PS1.7.5.1 still unfixed.
Thanks.

[2019-04-25 10:35] khouloudbelguith commented on #10653
Hi @bucovich,

Sorry, not fixed yet.
It is added to our bug roadmap so it will be fixed.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-04-25 11:27] khouloudbelguith commented on #13215
@stan-smith, thanks for your feedback.
After updating your module, did you test again the partial if it is OK?
Thanks!

[2019-04-25 12:17] renkam commented on #13512
Hi @khouloudbelguith, I saw that one before writing this issue. I thought it is not relevant as it mentions version 1.6 and from what I know it is very different from current 1.7
@matks Thanks for explanation. I understand. Unfortunately I am not a PHP fan. I was hoping that it might be possible to make some db framework switch that support both PostgreSQL and MySQL interchangeably.

[2019-04-25 12:21] johstrom opened #13564 "Huge allowed memory size exhausted"
**Describe the bug**
Getting error 500 with this details when trying to open a product detailed page in backoffice:

Error: Allowed memory size of 536870912 bytes exhausted (tried to allocate 20480 bytes)

It appeared that the application required more memory in order to display the product details page. I have increased the memory limit to 1024MB, however, the same error was presented as well (th

[2019-04-25 12:49] ghost commented on #12991
Hi guys and sorry for delay. I will work with all mentioned suggestions and brb soon! Have a good day and keep going with 1.7.6 :)

[2019-04-25 12:52] jnvgi commented on #13432
@khouloudbelguith Sorry for late reply, some Internet blackout :)
I cleared the folders, tried to edit about 20 products, message didn't appear anymore. We will assume it was once again a cache problem i guess !

[2019-04-25 13:05] khouloudbelguith commented on #13432
@jnvgi, thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-04-25 13:05] #13432 closed, assigned to nobody

[2019-04-25 13:14] khouloudbelguith commented on #13564
Hi @johstrom,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9809
So, I close it.
Thanks!

[2019-04-25 13:14] #13564 closed, assigned to nobody

[2019-04-25 13:27] colinegin commented on #9938
Hi @khouloudbelguith ,

We have just tested it, we cannot reproduce it. Could you try to test it ?

[2019-04-25 13:28] johstrom commented on #9809
Hi, after reading all of the comments in this ticket and all tickets that you have refered to this one, I understand that many of the issues I have experienced the last year with Prestashop is due to this.

I see that you haven't been able to give a time estimate on this fix, and the link to Jocelyn Fournier's profile you gave on top doesn't work.

I would need to know if this is an issue that you

[2019-04-25 13:42] colinegin commented on #10007
Hi @khouloudbelguith ,

We have just tested it, we cannot reproduce it. Could you try to test it ?

[2019-04-25 13:47] khouloudbelguith commented on #9938
Hi @colinegin,

I still have the same issue with PS1.7.5.1.
I edited the men category to be a subcategory of women
I added the category women to the ps_mainmenu
![image](https://user-images.githubusercontent.com/16067358/56740486-f10e0b80-6768-11e9-900c-24bc300f8c13.png)

=>
![image](https://user-images.githubusercontent.com/16067358/56740260-81981c00-6768-11e9-9771-d3e6384fd5d2.png)

Thanks!

[2019-04-25 13:55] khouloudbelguith commented on #10007
Hi @colinegin,

No, I can't reproduce the issue.
https://drive.google.com/file/d/1rOp8ArpdZ5JSfj06BEjZCjvdPY2P68dU/view
Thanks!

[2019-04-25 13:56] colinegin commented on #10228
I just discussed with @matks, what you're saying is true, but it means quite a lot of development (and we know there is still a lot of work to do ;)) for a situation which may never happen. And if this has to happen, the merchant won't have any problem to update employees profile one by one, he will just need a bit more time.
So let's keep it simple and do as Mathieu recommended :)

Thanks !

[2019-04-25 13:57] colinegin commented on #10007
Thanks ! Can we close it then ?

[2019-04-25 14:08] Quetzacoalt91 commented on #13463
Fixed by #13563

[2019-04-25 14:08] khouloudbelguith commented on #10007
@colinegin, yes we can close it.

[2019-04-25 14:09] khouloudbelguith commented on #10007
Hi all,

I can't reproduce this issue anymore with PS1.7.5.1.
I will close the issue.
If you still have the same issue, thanks to create a new issue with the provided information.
Thanks!

[2019-04-25 14:09] #10007 closed, assigned to nobody

[2019-04-25 14:14] BenTen commented on #13397
For example:
You create a product and you save it.

The next product that you need to create has the same features.
You will lost a lot of time to apply the same features if you remake from scratch the product page.

So now, you duplicate but if the product has a lot of pictures, you lost a lot of time to erase one by one the pictures.

So there is two things we can add:
**1/ A button "Duplicate w

[2019-04-25 14:20] khouloudbelguith opened #13569 "The Welcome module isn't displayed if you use a language different than the one selected during installation"
#### Describe the bug

The Welcome module isn't displayed if you use a language different than the one selected during installation

#### Steps To Reproduce

Steps to reproduce the behavior:
1. Install Prestashop in English language and France country
2. Go to the BO
3. Select a language other than French or English (Arabic or Polish or Sounth Korea (hangul)) in your employee account
4. Click on t

[2019-04-25 14:22] mbadrani commented on #13569
nice catch Nesrine & Khouloud! Thanks

[2019-04-25 14:23] khouloudbelguith commented on #13569
ping @nesrineabdmouleh

[2019-04-25 14:46] khouloudbelguith commented on #9809
Hi @johstrom,

We have been aware of this problem for some time now. I just wanted you to know that if we didn't fix it right away it's not because we don't think it's important or because we don't care – quite the opposite.

Currently, most bugs on the Product page are very hard to solve, because of a mixture of very old code, design limitations of the current implementation, and several layers o

[2019-04-25 15:04] eternoendless commented on #13512
Hi @renkam

It's currently possible to switch the database adapter from MySQL to PostgreSQL, but most SQL queries in PrestaShop have been written with MySQL in mind and are not portable. Furthermore, it's very difficult to optimize queries for more than one engine, so unfortunately I don't see this happening in the future.

[2019-04-25 15:20] pabrigarcia commented on #12853
Hi,

We managed to fix this issue changing the line

From

212 - `'price' => array('table' => 'p', 'field' => 'price', 'filtering' => ' %s '),`

To

212 - `'price' => array('table' => 'sa', 'field' => 'price', 'filtering' => ' %s '),`

In the /src/Adapter/Product/AdminProductDataProvider.php

This change makes the prestashop listing grab the prices from the ps_product_shop table instead of ps_prod

[2019-04-25 15:23] SimonGrn commented on #12560
**Update**:
Here is how to reproduce this problem 100%: Install PrestaShop 1.7.6.x with any language, any country (example: country France and language English).

The OnBoarding module will then works **only** in the **language** that was selected during the installation. In the example above, the module would work in English but not in French (which was installed automatically because the country

[2019-04-25 15:23] khouloudbelguith commented on #12853
Hi @pabrigarcia,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-04-25 15:32] pabrigarcia commented on #12853
@khouloudbelguith

It looks like the line is changed in the current version. The bug only exists in the earlier versions.

[2019-04-25 15:48] eternoendless commented on #13569
I'm unable to reproduce this issue using the github repository on 1.7.5.1 and 1.7.5.x, nor with the pre release 1.7.5.2 zip. Would you care to see if you can reproduce AND see if there are any error messages in the JS console?

[2019-04-25 15:48] eternoendless commented on #13569
BTW I installed in French. Not sure if related.

[2019-04-25 15:50] khouloudbelguith commented on #12853
@pabrigarcia, yes great.
I cannot reproduce this issue on the branch 1.7.6.x
https://drive.google.com/file/d/1H9p3tiLTTnkz6F1u1n2WeBL7jdG6RmOk/view
Thanks a lot!

[2019-04-25 15:50] #12853 closed, assigned to nobody

[2019-04-25 15:54] SimonGrn commented on #13569
We have a kinda related issue: #12560 in 1.7.6.x. Maybe it's the same problem ? To summarize, the onboarding module only works in the original language selected during installation and not in another one.

[2019-04-25 15:56] matks opened #13573 "[Optimization] Autoloaders proper order"
## Issue description

There is multiple autoloaders involved in rendering the BO pages. Composer autoloader, PrestaShop legacy autoloader, Smarty autoloader*.

It seems that whenever php attempts to autoload a class, Smarty is the 1st autoloader being called. In the case of a Symfony class such as `Symfony\Component\Config\ConfigCache`, Smarty will detect this is a not-Smarty class and [return ear

[2019-04-25 16:03] mbadrani commented on #13569
I've updated the issue, we can reproduce this behaviour after installing in english

[2019-04-25 16:18] marionf commented on #13569
I just tried with 1.7.5.2-**build2**:
- install in English and country United States: can't reproduce
- install in English and country France (default language English): can't reproduce
If I switch my employee language to French, I can reproduce
So, it seems related to #12560 as @SimonGrn said

[2019-04-25 16:20] eternoendless commented on #13569
I'm only able to reproduce using the zip release. If I refresh the page the onboarding appears correctly. If I stop it, reset the module using Module Manager and then start over, It works as expected. It's weird.

[2019-04-25 16:26] khouloudbelguith commented on #13573
ping @PrestaShop/prestashop-core-developers what do you think?

[2019-04-25 16:34] Quetzacoalt91 commented on #13573
@matks you should know that modules can also bring their own autoloader too.

[2019-04-25 17:01] khouloudbelguith commented on #13569
I tried with 1.7.5.2build2 French language / France country => can't reproduce
I tried with 1.7.5.2build2 English language / France country => issue reproduced

Thanks!

[2019-04-25 18:24] madkot opened #13575 "Wrong shipping cost on order page"
Hello, i have a problem with shipping cost on order page. In admin price is set to **12.11** and pl standard rate **23%**, the price should be calculated: 12.11 + 23% = **14.90**, but it is **12.30**
Similar problem in all carrier

in admin:
![obraz](https://user-images.githubusercontent.com/11571787/56758705-97710580-6797-11e9-83a3-97e2a2edbf1e.png)
![obraz](https://user-images.githubusercontent.

[2019-04-25 21:29] Shimazakid commented on #9937
Wow, really no catalog mode anymore....and now modules of catalog mode that demands money?, this is way Electronic Arts level!

[2019-04-25 21:32] Shimazakid commented on #11742
Where is the catalog mode option in prestashop 1.7.5.4? i cannot find it, i just find third party modules that cost 30 dollars or more.....is this the future of this mode function?, to put a paywall on it?

[2019-04-26 07:20] marionf commented on #13569
@khouloudbelguith
I can reproduce it with 1.7.5.1, so it's not a regression of 1.7.5.2

[2019-04-26 07:40] marionf commented on #12560
Here the regression for 1.7.6 is only on Theme & logo, payment and carriers pages
The issue with the language is an old one

[2019-04-26 07:48] khouloudbelguith commented on #13575
Hi @madkot,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record.
https://drive.google.com/file/d/1jCqya1FS7zPIPOSB1lA5baJ3ue7AuS1q/view
did you use the default theme provided by PrestaShop?
Thanks!

[2019-04-26 07:50] khouloudbelguith commented on #12998
Hi @renatox57,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-26 07:50] khouloudbelguith commented on #13042
Hi @pperezclavei,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-26 07:50] #13042 closed, assigned to nobody

[2019-04-26 08:03] #13175 closed, assigned to YeLnatSs

[2019-04-26 08:04] #13240 closed, assigned to jolelievre

[2019-04-26 08:04] #13483 closed, assigned to tomlev

[2019-04-26 08:04] #11545 closed, assigned to nobody

[2019-04-26 08:10] marionf commented on #13373
@ntiepresta Could please close it when it will be fixed in E2E test ?

[2019-04-26 08:11] marionf commented on #13091
Could please close it when it will be fixed in E2E test ?

[2019-04-26 08:11] marionf commented on #13056
Could please close it when it will be fixed in E2E test ?

[2019-04-26 08:11] marionf commented on #13055
Could please close it when it will be fixed in E2E test ?

[2019-04-26 08:18] Prestaworks commented on #13360
A argument for this tech is that there are currently two modules on addons that do this, and it is better to have this feature in the core I think.
Also, the tech was available in 1.6 and was working really well? why did you guys remove it?

Amazon may sell alot, but their UX is really bad :)

[2019-04-26 08:45] khouloudbelguith commented on #13056
Hi @marionf,

I think that there are some ids will be fixed in the E2E test but some other ids should be fixed in the core, for example
`Add new currency Page => The save button changed from id="currency_form_submit_btn" to No id`.
Thanks!

[2019-04-26 08:57] vincent-dp opened #13577 "Failed to start the session: already started by PHP."
When I am in my back office and I try to use the searchbar, I got this

(1/1) RuntimeExceptionFailed to start the session: already started by PHP.
--
in classes.php line 136
at NativeSessionStorage->start()in classes.php line 515
at Session->start()in SessionTokenStorage.php line 78
at SessionTokenStorage->hasToken('https-ANONYMOUS_USER')in CsrfTokenManager.php line 72
at CsrfTokenManager->getToke

[2019-04-26 09:02] #10870 closed, assigned to nobody

[2019-04-26 09:06] khouloudbelguith commented on #13577
Hi @vincent-dp,

Thanks for your report.
What is the exact version PrestaShop did you use?
Did you make the search from a migrated page (Symfony page or not?)
Thanks!

[2019-04-26 09:11] vincent-dp commented on #13577
1.7.5.0

Admin back office page of prestashop, any of them

[2019-04-26 09:19] #13524 closed, assigned to nobody

[2019-04-26 09:27] khouloudbelguith commented on #13577
@vincent-dp, thanks for your feedback.
Did you use a custom module to generate invoices?
Thanks!

[2019-04-26 09:29] khouloudbelguith commented on #11749
Hi,

I did not manage to reproduce the issue with the branch PS1.7.6.x, it is fixed.
https://drive.google.com/file/d/1pR_gQohVI1RicS15jxaca5V3TNTMxWr2/view
I close the issue.
Thanks!

[2019-04-26 09:29] #11749 closed, assigned to nobody

[2019-04-26 09:32] vincent-dp commented on #13577
yes
Team Ever PS Quotation

[2019-04-26 09:37] johstrom commented on #9809
Thanks for your reply. Can you be more specific on the issue here? Is it due to the many categories, many features or what is the bottleneck? Just to know if I can change my site to be lighter on the system.

I wasn't aware of any bottlenecks in the system like this, so I set up this new Prestashop as I wanted it to look like, meaning around 400-500 categories and 2 features with a total of 2700 v

[2019-04-26 09:43] khouloudbelguith commented on #13577
@vincent-dp, have you tried to contact the module author about this issue?
because you have some errors related to invoices

[code]

Thanks to check with them & feedback

[2019-04-26 09:49] khouloudbelguith commented on #9809
Hi @johstrom,

About a large number of categories which causes product page slow => it is fixed in the PS1.7.4.0 with this PR: https://github.com/PrestaShop/PrestaShop/pull/8896
Thanks!

[2019-04-26 09:56] vincent-dp commented on #13577
But, this is a file of yours

[2019-04-26 09:59] khouloudbelguith commented on #13577
@vincent-dp, In my case, I did not manage to reproduce the issue with PS1.7.5.1.
could you please check if you have override file in your ProjetFolder/override/
Thanks!

[2019-04-26 10:01] khouloudbelguith commented on #9713
Hi,

I did not manage to reproduce the issue with the branch 1.7.6.x, it is fixed.
https://drive.google.com/file/d/1_ISJsHRdb0N-mrsq8pBrZ4CbzYO215uN/view
I close the issue.
Thanks!

[2019-04-26 10:01] #9713 closed, assigned to nobody

[2019-04-26 10:05] mickaelandrieu opened #13579 "Grid presenter hook doesn't respects the documentation"
**Describe the bug**
While defining a hook to customize the Grid presentation, the dispatched hook is wrong.

It's not formatted like the other ones, making the use of this hook impossible while using lowercased grid identifiers.

See https://github.com/PrestaShop/PrestaShop/blob/develop/src/Core/Grid/Presenter/GridPresenter.php#L96 while for others one the Grid identifier is formatted https://git

[2019-04-26 10:05] bubo1991 commented on #13555
any solution ? i didn't understand nothing. Can i import my currenncy and language or not and how to do that ? I need currrenny (BAM or KM )

[2019-04-26 10:05] khouloudbelguith commented on #9712
Hi,

I did not manage to reproduce the issue with PS1.7.6.x, it is fixed.
https://drive.google.com/file/d/1XpFM8r35GFUQLJSs_EX2S9hFPi6_Cq0M/view
I close the issue.
Thanks!

[2019-04-26 10:05] #9712 closed, assigned to nobody

[2019-04-26 10:07] vincent-dp commented on #13577
neither in my %root%override nor my template override folders

I find references of `AdminInvoices` in var/cache/dev, should I empty var/cache/dev?

[2019-04-26 10:08] khouloudbelguith commented on #9711
Hi,

I did not manage to reproduce the issue with PS1.7.6.x, it is fixed.
https://drive.google.com/file/d/1hxitJVokyT8TLObmE08AsBrhVHUXHilu/view
I close the issue.
Thanks!

[2019-04-26 10:08] #9711 closed, assigned to nobody

[2019-04-26 10:09] marionf commented on #13555
@bubo1991

You can import Bosnian language from International > Translations menu
You can add BAM currency from International > Localization > Currencies menu

[2019-04-26 10:10] khouloudbelguith commented on #13579
ping @PrestaShop/prestashop-core-developers

[2019-04-26 10:12] khouloudbelguith commented on #13577
@vincent-dp, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-04-26 10:16] mickaelandrieu commented on #13579
Hi @khouloudbelguith, I just fixed the issue :+1:

[2019-04-26 10:17] ange007 commented on #13499
* Debian 9 x64, PHP-FPM ( php70 ), 10.1.37-MariaDB
* [CONFIG](https://github.com/PrestaShop/PrestaShop/files/3120776/nginx.txt)

[dev.log](https://github.com/PrestaShop/PrestaShop/files/3120771/dev.log)

Empty

* Only: ```"/favicon.ico" failed (2: No such file or directory)```
* ![ScreenShot](https://user-images.githubusercontent.com/2736539/56801197-8c64b680-6825-11e9-9e1a-c32eccb512be.jpg)

Empt

[2019-04-26 10:20] khouloudbelguith commented on #13579
Hi @mickaelandrieu,

Great!
Good work :smile:

[2019-04-26 10:29] khouloudbelguith commented on #13499
@ange007, in your config file could you please replace this line
`            rewrite ^/(.*)$ /admin1250azhqw/index.php last; `
with this line
`            rewrite ^/.*$ /admin1250azhqw/index.php last; `

Like in our documentation
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf#L58
Thanks to check & feedback.

[2019-04-26 10:29] marionf commented on #9810
Can't reproduce on 1.7.6.x
Emails newsletter_conf, newsletter_verif and newsletter_voucher are correctly sent with classic and modern templates

[2019-04-26 10:29] #9810 closed, assigned to nobody

[2019-04-26 10:38] ange007 commented on #13499
It makes no difference.
I tried many different options.

[2019-04-26 10:40] khouloudbelguith commented on #13499
@ange007, did you reload your server after this modification?
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks!

[2019-04-26 10:48] vincent-dp commented on #13577
Nope :'( didn't worked

[2019-04-26 10:50] khouloudbelguith commented on #13577
@vincent-dp, to be sure it is not a module issue.
Could you please contact the module author & feedback.
In my case, it is OK.
Thanks!

[2019-04-26 10:59] vincent-dp commented on #13577
I deactivated this module and it still doesn't work

[2019-04-26 11:03] khouloudbelguith commented on #13577
@vincent-dp, thanks for your check!
Do you have the same error as before?
Thanks!

[2019-04-26 11:13] johstrom commented on #9809
Ok, but I got 1.7.5.1, so the categories issue should be solved, then.

So what's the bottleneck in 1.7.5.1? Why is the product detailed page in this version showing 500 error with a huge allowed memory size exhausted as described in #13564?

[2019-04-26 11:17] rachidbigm commented on #11154
To update the **order tracking number**, you have to pass throught "order_carriers" object and not "orders" object.
The tracking number in "orders" object is `deprecated !`

So for those who might occur the same prob as described above, here is a code to set the tracking number in the correct way :

[code]

Hope this will help!

[2019-04-26 11:25] rachidbigm commented on #11154
To update the _**order tracking number**_, you have to pass through "order_carriers" object and not "orders" object.
The _**shipping number**_ property in "orders" object is `deprecated !`

So for those who might occur the same prob as described above, here is a code to set the tracking number in the correct way :

[code]
Hope this will help!

[2019-04-26 11:53] vincent-dp commented on #13577
Yes, same message as before deactivation. I tried to deactivate other modules, same problem :(

[2019-04-26 11:54] marionf commented on #9667
Hi guys,

If "Display unavailable product attributes on the product page" option is disabled and if you allow to order out of stock combinations, they are still displayed in the product but can't be selected.

Question: Why you don't enable "Display unavailable product attributes on the product page" ? This way, you can see and order out of stock combinations.
And if you have a product for which o

[2019-04-26 11:55] PierreRambaud commented on #9684
And please, help us to improve this module and fix new issues if you found something :)

[2019-04-26 12:38] marionf opened #13582 "newsletter_verif and newsletter_voucher email firstname and lastname var empty"
**Describe the bug**
For newsletter_verif and newsletter_voucher emails, firstname and lastname var are empty for modern emails templates

**To Reproduce**
Steps to reproduce the behavior:
1. Install ps_emailsubscription module
2. Configure the module and enable Email verification after subscription and fill promo code field.
3. Subscribe to the newsletter in FO
4. See received emails

When the cu

[2019-04-26 12:40] marionf commented on #13582
@LouiseBonnard FYI

[2019-04-26 13:06] LouiseBonnard commented on #13582
@marionf, thank you.
:-)

[2019-04-26 13:13] matks commented on #12990
Fixed by https://github.com/PrestaShop/PrestaShop/pull/1323

[2019-04-26 13:13] #12990 closed, assigned to nobody

[2019-04-26 13:24] COCOPOT commented on #11622
Hi!
I am glad to inform that people from 202 ecommerce, developers of Official PayPal module, solved the problem in our store. Now Order Amount is right when products are mapped with the different shipping method.
I have invited them to parcicipate here and to share the sollution wich I suppouse will be availble in next module version.
Thank you all,
Best regards,

[2019-04-26 13:28] COCOPOT commented on #9594
Hi!
I am glad to inform that people from 202 ecommerce, developers of Official PayPal module, solved the problem in our store. Now Order Amount is right when products are mapped with the different shipping method.
I have invited them to parcicipate here and to share the sollution wich I suppouse will be availble in next module version.
Thank you all,
Best regards,

[2019-04-26 13:31] khouloudbelguith commented on #11622
Hi @COCOPOT,

Thank you for your feedback.

[2019-04-26 13:35] matks commented on #10193
@sarjon All of the items of this page are completed ✅ this page is fully migrated 🎉 !

[2019-04-26 13:35] #10193 closed, assigned to sarjon

[2019-04-26 13:40] #10502 closed, assigned to sarjon

[2019-04-26 13:41] #10505 closed, assigned to rokaszygmantas

[2019-04-26 14:04] khouloudbelguith commented on #9809
@johstrom, your issue is the same ticket reported here, a large number of products which block the browser, it is not fixed yet.
Thanks!

[2019-04-26 14:10] khouloudbelguith commented on #13577
@marionf, could you please try to reproduce this issue.

[2019-04-26 14:11] Klemart3D commented on #9807
Still missing Help images on 1.7.5.0 and 1.7.5.1 with a shop with "HTTPS everywhere" option enabled. A "Blocked Mixed Content Warning" is displayed for each image:

![missing-help-images](https://user-images.githubusercontent.com/7419525/56813154-b7a6d000-683c-11e9-8a5f-c27e501050df.png)_(Firefox 66.0.3)_

Can you add a SSL certificate to your _doc.prestashop.com_ domain and redirect all HTTP (80)

[2019-04-26 14:25] vincent-dp commented on #13577
I cloned my prestashop from another server, and on this (old) server, it works. What could have change?

[2019-04-26 14:28] ntiepresta commented on #13373
Ok, no problem @marionf

[2019-04-26 14:29] khouloudbelguith commented on #13577
@vincent-dp, it seems that your issue is not a PrestaShop's core bug but most likely a customization problem.
You should check your host.
I close the ticket, feel free to open a new one when needed.

[2019-04-26 14:29] #13577 closed, assigned to nobody

[2019-04-26 14:43] madkot commented on #13575
Hi @khouloudbelguith
I'm have default theme but little modified by me. presta files are default, no changes, no overrides.

Only for one carrier i have a good price, i dont have any idea to resolve it

[2019-04-26 14:44] jolelievre opened #13586 "Email Theme: Disable theme selector when no the theme contains no mail overrides"
**Describe the bug**
In email theme when you try to generate mail templates for a specific theme, if this theme doesn't contain any mail overrides you get an error because the output folder does not exist.

**Screenshots**
![capture d'écran_1466](https://user-images.githubusercontent.com/13801017/56815604-13c02300-6842-11e9-8805-9cdac507738b.png)

**Recommended solution**
Even though the error is

[2019-04-26 15:03] khouloudbelguith commented on #13575
@madkot, do you make a modification to the PrestaShop core?

[2019-04-26 15:03] madkot commented on #13575
May i found problem in my case.. column 'shipping_external' in table 'carrier' is set to 1. I change it to 0 and the price is correct now.

I have some migrated data from ps1.6, may it is the problem source.

[2019-04-26 15:06] khouloudbelguith commented on #13575
@madkot, is your problem solved?

[2019-04-26 15:06] madkot commented on #13575
Yes, but i must know, what 'shipping external' rly mean, and why prestashop calculating bad price when it is set to 1?

[2019-04-26 15:32] Klemart3D commented on #11115
Same here with PS 1.7.5.0 + PHP 5.6 + Nginx 1.15.9 + bankwire module.
Only difference between 2 orders is "_id_address_delivery_" : one is with phone number and the other no:
![cmd-scindée](https://user-images.githubusercontent.com/7419525/56818757-9ba92b80-6848-11e9-99a1-6d8e6709538b.png)

[2019-04-26 15:36] eternoendless commented on #11742
@Shimazakid calm down, I don't know where you got that idea. This feature will be available in PrestaShop 1.7.6.0, as indicated in the Milestone here:

<img width="1012" alt="Screenshot 2019-04-26 at 17 30 49" src="https://user-images.githubusercontent.com/1009343/56819356-d495d000-6849-11e9-9480-7982a493dfe2.png">

BTW PrestaShop 1.7.5.4 doesn't exist, the latest released version to date is 1.7.5

[2019-04-26 15:44] Shimazakid commented on #11742
Edited due to @eternoendless responding to my question in the most polite manner, this post was quite aggresive and has no point to be Here!

[2019-04-26 15:45] jolelievre commented on #13487
@marionf yep that's what I thought as well, seems to be the safest way
Done in this PR https://github.com/PrestaShop/PrestaShop/pull/13578

[2019-04-26 15:50] jolelievre commented on #13016
@cedricfontaine I'm not sure if this will work as I don't know exactly how this redirection is managed
But maybe you can use the multistore feature to add your second domain and it will allow you to use it (be careful about the multi shop context you are editing though with the second domain)

[2019-04-26 15:51] khouloudbelguith commented on #13575
@madkot, the "shipping external"  attribute defaults to 0.
I attached a screenshot.
![carrier](https://user-images.githubusercontent.com/16067358/56820346-84b40a80-6843-11e9-9995-0f91f75aaad0.png)
I close the ticket, feel free to open a new one when needed.

[2019-04-26 15:51] #13575 closed, assigned to nobody

[2019-04-26 15:54] eternoendless commented on #11742
FYI the Catalog mode is still present in 1.7 versions. You can find it in Shop Parameters > Product Settings > Products (general).

This change in particular allows you to go in catalog mode while keeping prices shown.

[2019-04-26 15:56] eternoendless commented on #11742
This screencap was taken on a 1.7.4.2

<img width="824" alt="Screenshot 2019-04-26 at 17 55 46" src="https://user-images.githubusercontent.com/1009343/56820558-8df5a500-684c-11e9-8bbf-ef452e3c884b.png">

[2019-04-26 16:02] Shimazakid commented on #11742
Ok, now, i need to apology, and ask for forgiveness, @eternoendless, i was so frustated with not finding this answer in google that i went  berserk, my most deep and sincerelly apology for my angry rant, i have no words to express the valuable help you provided where google had no answer for this (it had the answer for 1.6).....thanks, many, many thanks! i´ll proceed to erase my last angry post...

[2019-04-26 16:17] jolelievre commented on #13558
Hi,

I didn't know of this feature but indeed it would be a good idea to be able to clear these cache files.
Although the `CacheClearer` interface changed a little since 176 version. Cache clearer is now broken into several classes, each one managing a specific cache which is then injected in `CacheClearerChain`.

So we would need to add a `CacheClearInterface` for those json files, then it can be

[2019-04-26 16:29] eternoendless commented on #11742
Don't worry about it 😉

[2019-04-26 16:29] jolelievre commented on #9937
Hi @Shimazakid,

this issue was actually about fixing and improving the catalog mode, there's no need for a module to do that. So I'm not sure I understand what you are meaning?

[2019-04-26 16:52] colinegin opened #13589 "Classic theme - Mobile improvements"
Apply design improvements for mobile view from Ready theme to Classic theme.

[2019-04-26 19:27] sarjon commented on #10193
I wish. :trollface: We still have to deal with tinymce editor, to make it translatable. Are we keeping this TinyMce editor or will we use alternative?

[2019-04-26 19:43] matks commented on #10193
I have tricked @jolelievre in taking this task from me :trollface:

[2019-04-26 20:06] preoteasa commented on #13510
Thank you for your answer. I did try using some earlier version of prestashop, probably 1.7.3.3 and it worked. However not the latest repository version that I downloaded about one week ago. As you can see in the next screenshot, displayProductPriceBlock in not in the list of hooks.
![prestashop](https://user-images.githubusercontent.com/6583978/56833442-2a34a180-6877-11e9-8159-9dfe02661d83.png)

[2019-04-27 03:50] bestbuybargains opened #13590 "Cannot Add Files - Version 1.7.5.1"
Hello,

When you try to add a theme or file like a logo, the explorer window is not opening.  Tried Chrome and Edge.

PrestaShop version: 1.7.5.1
PHP version: 7.0

![image](https://user-images.githubusercontent.com/50038176/56844320-2d7a5e00-6874-11e9-9536-aaf581901218.png)

[2019-04-27 03:54] bestbuybargains opened #13591 "Module Catalog Broken - Version 1.7.5.1"
Hi.  When using PS 1.7.5.1, I run into various issues. This issue is regarding the Module Catalog.

PrestaShop version: 1.7.5.1
PHP version: 7.0

Steps to reproduce the behavior:
1. Go to Modules > Module Catalog
2. See error

https://www.prestashop.com/forums/uploads/monthly_2019_04/1261342994_PrestaShop.thumb.JPG.12b7526d3fb7d2525fd2140f8b8e3003.JPG

[2019-04-27 04:04] bestbuybargains opened #13592 "Upload a Module - Cannot Exit - Version 1.7.5.1"
The Upload a Module box will not close once opened.  You have to refresh the page to get it to close.

Steps to reproduce the behavior:
1. Go to Module > Module Catalog > Upload a Module
2. Click on the X to attempt to close the box
3. See error

![image](https://user-images.githubusercontent.com/50038176/56844541-61a34e00-6877-11e9-8b0a-3ce91f12743b.png)

PrestaShop version: 1.7.5.1
PHP version:

[2019-04-27 19:14] pppplus commented on #13395
Hi @khouloudbelguith
Do you receive my last version, and do you reproduce the problem ?
I urgently need a solution now... my stock are not updated, and it's very hard to work !!

[2019-04-27 19:59] tomas862 opened #13594 "Inapropriate hook names formatted for identifiable object forms."
Some hooks are being called like **actionAfterUpdateroot_categoryFormHandler**, **actionAfterUpdatecms_page_categoryFormHandler** or **actionAfterCreatemanufacturer_addressFormHandler**. It is due to the form types which are constructed from one then more word are being separated by snake cases automatically.

**Suggestion**

We can use **Container::camelize()** when rendering hook name for identi

[2019-04-27 20:53] banan44 commented on #13519
So what is the procedure now? How to solve this problems? I would like to start operating with IT domain soon.

[2019-04-28 09:15] gumballerss commented on #13215
Hello @khouloudbelguith

I don't know yet but I think it will work.

I just want to know if you think I need to refund my customer from before the pluggin update?

Kind regards,
Stan

[2019-04-29 08:07] PierreRambaud commented on #12560
Fixed here: https://github.com/PrestaShop/welcome/pull/56

[2019-04-29 08:40] khouloudbelguith commented on #13082
Hi @TemKaSD,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-29 08:40] #13082 closed, assigned to nobody

[2019-04-29 08:43] khouloudbelguith commented on #13089
Hi @imartin1983,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-29 08:43] #13089 closed, assigned to nobody

[2019-04-29 08:44] khouloudbelguith commented on #13100
Hi @HECOSFAIR,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-04-29 08:44] #13100 closed, assigned to nobody

[2019-04-29 09:12] gumballerss commented on #11388
I've the same issue with the last version of Chronopost.

[2019-04-29 09:20] khouloudbelguith commented on #13590
Hi @bestbuybargains,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record
https://drive.google.com/file/d/13fLeuVZ6i8c-pJJjwxLB4lrH8APaFzp2/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode re

[2019-04-29 09:33] khouloudbelguith commented on #13591
Hi @bestbuybargains,

I did not manage to reproduce the issue with PS1.7.5.1
I attached a video record
https://drive.google.com/file/d/14ZpoGhNgZotZDMHeE-QsKf9YKZ-3ntk4/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
I think that your issue could be related to this
https://github.com/PrestaShop/PrestaShop/issues/13590
Thanks to check & feedba

[2019-04-29 09:39] #13463 closed, assigned to tomlev

[2019-04-29 09:50] fededim commented on #13000
Well what kind of input do you need from me ? I explained all the steps with screenshots in order to reproduce the bug.

[2019-04-29 10:00] khouloudbelguith commented on #13592
Hi @bestbuybargains,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record
https://drive.google.com/file/d/17gnil1cY-Ii930hUAr596W1bHRfw2bdx/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-04-29 10:03] khouloudbelguith commented on #13594
ping @PrestaShop/prestashop-core-developers

[2019-04-29 11:47] matks commented on #13499
Hi @rdy4ever and @ange007 there was several wrong bans recently on the forum. One of you has been fixed I think 😄please reach again forum@prestashop.com if this is not the case

[2019-04-29 11:55] SimonGrn opened #13598 "Add some targetable markup to the total amount of a customer"
**Is your feature request related to a problem? Please describe.**
For automated testing : we need to be able to target efficiently the total amount a customer generated through valid orders.

**Describe the solution you'd like**
I would like to have some targetable markup around the total amount.

**Describe alternatives you've considered**

**Additional context**
![image](https://user-images.git

[2019-04-29 12:14] khouloudbelguith commented on #13215
Hi @stan-smith,

You should contact the module author about this issue, because in our PrestaShop core it is OK, credit slip is created.
But in your account PayPal, it is not ok.
You should verify with PayPal if your previous refund is created or not?

Thanks to check & feedback

[2019-04-29 12:19] khouloudbelguith commented on #13510
Hi @preoteasa,

Thanks for your feedback.
If you try to install my demo module which uses the displayProductPriceBlock hook, this hook is not displayed also in your list after the install of my demo module?
Thanks to check & feedback.

[2019-04-29 12:20] khouloudbelguith commented on #13521
@kpodemski, thanks for your feedback.
@nirav-nanda, can I close the issue?
Thanks!

[2019-04-29 12:25] khouloudbelguith commented on #13598
ping @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-04-29 12:37] matks commented on #13598
Make sense 👍 we'll do it

[2019-04-29 12:41] jolelievre commented on #13594
@mickaelandrieu seems like this one was not the only one https://github.com/PrestaShop/PrestaShop/pull/13580/files

[2019-04-29 12:44] jolelievre commented on #13594
Good news is https://github.com/PrestaShop/PrestaShop/blob/1.7.6.x/src/Core/Form/IdentifiableObject/Handler/FormHandler.php was only introduced in 176
We probably should check other hooks on grid and form

[2019-04-29 12:48] khouloudbelguith commented on #13598
Hi @matks,

So we can add this improvement to our bug roadmap?
@marionf, @colinegin what do you think?
Thanks!

[2019-04-29 12:50] jolelievre commented on #13598
Not sure w should get rid of the currency however, as it should be tested as well.

[2019-04-29 12:51] SimonGrn commented on #13598
Currency should be kept, you're totally right. I'll edit my FR.

[2019-04-29 12:52] khouloudbelguith commented on #11388
Hi @stan-smith,

This issue is added to our bug roadmap so that it’s fixed.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2019-04-29 13:31] matks opened #13600 "[SF Migration] Use typed IDs instead of primitive for everything coming from adapters"
This originates from this discussion: https://github.com/PrestaShop/PrestaShop/pull/13576#discussion_r278913946

Todo:
- make classes ProfileId, EmployeeId, CustomerId ... extend a common class (suggestions from the discussion: AbstractId, IntValueObject ...)
- modify all code related to that accordingly

I guess we can mitigate the impact of the change by being able to cast AbstractId / IntValueO

[2019-04-29 13:32] matks commented on #10228
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13576

[2019-04-29 13:32] #10228 closed, assigned to sarjon

[2019-04-29 13:59] matks commented on #13594
@tomas862 Nice catch !

We can create a PR for 1.7.5.x just like https://github.com/PrestaShop/PrestaShop/pull/13580 to fix bad hook names using `Container::camelize()`

At least the patch will be there, available. And it might get shipped with either 1.7.5.2 or 1.7.5.3 is there is one

[2019-04-29 14:23] Janoush commented on #9809
Hello, i have this problem too. Cannot be solved (temporarily) by paging combinations or disable/enable showing combinations in product? We can at least edit products. Variants can import over xml.

[2019-04-29 14:24] khouloudbelguith commented on #13395
Hi @pppplus,

Yes, I just received your last version, but as I said, I have a new errors with your script.
[code]

Thanks to check & feedback.

[2019-04-29 14:32] khouloudbelguith commented on #13519
Hi @banan44,

This issue is added to our bug roadmap so it will be fixed.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-04-29 14:37] khouloudbelguith commented on #9809
Hi @Janoush,

This issue is not fixed yet.
It is added to our bug roadmap so it will be fixed.
Thanks for your understanding!

[2019-04-29 14:47] pppplus commented on #13395
Hi
That's not possible.
I check my script on a new website to be sure.
Do you create Products, as I describe in my email ?

[2019-04-29 14:55] cry-ahmet opened #13601 "Pricing / Tax / Different Countries"
hallo,

I am configuring a shop on which we want to sell digital products (Software, gamge code etc)
For every EU-country the endprice has to be the same and only the included TAX has to be change but it is not.
At the moment for greece:
25,20€ without TAX, 31€ included TAX and 5,80€ TAX

How it has to be for example:
for germany it is and it has to be: 29,99€ with TAX, 25,20€ without TAX, 4,79€ T

[2019-04-29 15:12] khouloudbelguith commented on #13395
@pppplus, Yes, I created the two products with the references described & after runing your file, I have
errors
![image](https://user-images.githubusercontent.com/16067358/56905763-22f0dc00-6aa1-11e9-9e06-aae58373ccc8.png)

[code]
I sent you via email the exact script that I followed
Thanks to check & feedback

[2019-04-29 15:50] banan44 commented on #13519
Will I get a notification when the bug will be fixed?

[2019-04-29 15:52] khouloudbelguith commented on #13519
@banan44, yes!
If this issue is fixed, it will be closed & you will be notified.
Thanks!

[2019-04-29 16:57] magnum93 opened #13608 "Unable to open customer service module PrestaShop version: 1.7.2.0"
Hi, I am currently using Prestashop version: 1.7.2.0
and a Database MySQL version: 10.0.30-MariaDB-0+deb8u1

I was configuring my mail mail settings in the customer serice options and in error put in the wrong information in the imap settings.

Now because I entered the wrong settings in the fields, I am no longer able to access the Customer service module.

Is their a way please I can remove thes

[2019-04-29 17:04] magnum93 commented on #13608
Hi, I am currently using Prestashop version: 1.7.2.0
and a Database MySQL version: 10.0.30-MariaDB-0+deb8u1

I was configuring my mail mail settings in the customer serice options and in error put in the wrong information in the imap settings.

Now because I entered the wrong settings in the fields, I am no longer able to access the Customer service module.

Is their a way please I can remove thes

[2019-04-29 17:22] cometemarketing commented on #11105
Hi fellas, i have exactly the same problem with PS version 1.7.4.4, i had upgraded it to 1.7.5.1 and it was fixed but there were many modified files with my theme and i broke my orders page. i will rollback to 1.7.4.4 and search for other resolution without to upgrade PS version. Could someone to help what exactly cause this issue and how to resolve it please? Thanks in advance to everyone whoever

[2019-04-29 19:17] bestbuybargains commented on #13591
[dev.log](https://github.com/PrestaShop/PrestaShop/files/3128871/dev.log)

Logs are attached.

[2019-04-29 20:46] seederp2p opened #13610 "Please delete."
Please delete.

[2019-04-29 21:50] jolelievre commented on #13594
This is not needed for 175 because the FormHandler didn't exist (at least in `IdentifiableObject`)
But we should check it there are other ones that need to be fixed.

[2019-04-30 05:46] TomHsiung opened #13611 "When I upgrade modules - Exception thrown by module autoupgrade on upgrade"
Error! Exception thrown by module autoupgrade on upgrade. Error sent by Addons. You may need to be logged.

![Screen Shot 2019-04-30 at 1 44 28 PM](https://user-images.githubusercontent.com/6930263/56942623-4887ef00-6b4e-11e9-93e1-eb74907c2af2.png)

[2019-04-30 07:25] khouloudbelguith commented on #13608
Hi @magnum93,

Could you please try to delete the data related to IMAP config in the table ps_configuration : PS_SAV_IMAP_URL, PS_SAV_IMAP_PORT, PS_SAV_IMAP_USER and PS_SAV_IMAP_PWD, clear cache and feedback.

[2019-04-30 07:30] nirav-nanda commented on #13521
@khouloudbelguith , thank you for support.
you can close this issue.

[2019-04-30 07:31] #13521 closed, assigned to nobody

[2019-04-30 07:31] khouloudbelguith commented on #13610
Hi @seederp2p,

This issue cannot be deleted but I will closed it.
Thanks!

[2019-04-30 07:31] #13610 closed, assigned to nobody

[2019-04-30 07:42] khouloudbelguith commented on #13521
Hi @nirav-nanda,

You are welcome.
Feel free to open a new on when needed.
Thanks!

[2019-04-30 08:22] khouloudbelguith commented on #11105
Hi @cometemarketing,

No, the issue is not fixed yet.
I manage to reproduce the issue with PS1.7.5.1.
Thanks!

[2019-04-30 08:30] khouloudbelguith commented on #13591
Hi @bestbuybargains,

Thanks for your feedback.
Wen debug mode is enabled, you don't have any exception displayed?
Thanks!

[2019-04-30 09:14] khouloudbelguith commented on #13611
Hi @TomHsiung,

I did not manage to reproduce the issue with PS1751 during the upgrade of the 1-click upgrade module from 4.6.0 to 4.7.0
I attached a screen record
https://drive.google.com/file/d/1cZJcGP1f8rlNEUUXxPWn2GjZKkQeZgdM/view
Could you please try to clear cache, sign in to your account addons & try to upgrade the module again.
Thanks to check & feedback.

[2019-04-30 09:36] TomHsiung commented on #13611
I cleaned my Safari bower's cache. Then I cleaned the Prestashop's cache in the advanced parameters/performance page. After this operation, the back office reported xml file errors (country_modules_list.xml, and must_have_modules_list.xml). So I deleted these two files. Then I cleaned the Safari brewer cache again.

OK. I logged in back the back office, and the update icon for modules disappeared.

[2019-04-30 09:40] khouloudbelguith commented on #13611
@TomHsiung, in your Project_Folder/module/autoupgrade/config.xml, could you please check your current version
Thanks!

[2019-04-30 09:46] TomHsiung commented on #13611
I think it is 4.6.0

![Screen Shot 2019-04-30 at 5 46 11 PM](https://user-images.githubusercontent.com/6930263/56953775-df18d800-6b6f-11e9-84ed-2852f4143c9e.png)

[2019-04-30 09:54] khouloudbelguith commented on #13611
@TomHsiung yes, it is 4.6.0 & it is not the last one.
In the module manager page => Module Tab => search for the 1-click upgrade module & check if the button upgrade is displayed.
Thanks!

[2019-04-30 10:15] TomHsiung commented on #13611
There is no upgrade button.

![Screen Shot 2019-04-30 at 6 14 46 PM](https://user-images.githubusercontent.com/6930263/56955408-e17d3100-6b73-11e9-8f1d-70152e1b0c11.png)

[2019-04-30 10:18] khouloudbelguith commented on #13611
@TomHsiung, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/mis

[2019-04-30 10:21] #13579 closed, assigned to nobody

[2019-04-30 10:25] TomHsiung commented on #13611
It a Ubuntu 18.04 host machine.

Apache 2.4.29-1ubuntu4.6
PHP 7.2.17-0ubuntu0.18.04.1
Prestashop 1.7.5.1

[2019-04-30 10:58] cometemarketing commented on #11105
Hi, I see.. maybe my case is different than yours, i successfully broke the performance page :), now when i press the clear cache button it broke my PS admin panel, i found an old backup and restored the website for luck but can't clear cache anymore because of this. Anyone who knows how to clear it manually without to use clear cache button on advanced parameters->performance page, i will be very

[2019-04-30 11:26] TomHsiung commented on #13611
Now the upgrade icon turns up back, but still the original issue remains.

"Exception thrown by module autoupgrade on upgrade"

[2019-04-30 12:07] khouloudbelguith commented on #11105
@cometemarketing, you can clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks!

[2019-04-30 12:09] khouloudbelguith commented on #13611
@TomHsiung, did you tried to singing in before the upgrade of this module?
Thanks!

[2019-04-30 12:21] decom-media commented on #11150
i understand the idea behind that change - but: is it really a good idea to have the canonical url not accessible and not indexable? in terms of SEO, as far as i did read i learned that this is not a good idea

[2019-04-30 12:29] TomHsiung commented on #13611
Of course I have signed in the addons market with my account.

[2019-04-30 12:47] decom-media opened #13613 "seo canonical url should be accessible"
"Rollback the product canonical url #11150" changed the canonical url to be no longer accessible, but, in terms of SEO this seems to be a bad idea. The canonical url needs to be accessible.

Prestashop Version: 1.7.5.1

[2019-04-30 13:06] khouloudbelguith commented on #13613
Hi @tom75,

Thanks for your report.
As @jolelievre said that the canonical header keeps the no-attribute URL which is not accessible.
ping @PrestaShop/prestashop-core-developers what do you think?
Thanks!

[2019-04-30 13:08] khouloudbelguith commented on #13611
@TomHsiung, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Thanks!

[2019-04-30 13:09] centoasa commented on #13016
Also for me: how can I move my admin from https://www.disney.com/admin to--> https://admin.disney.com ?
Thank you

[2019-04-30 13:16] decom-media commented on #13613
Just have a check on products with options, you will see that basically there is no url available for indexing, as there is always a 301 going on  (attached a screaming frog screenshot)
![prestashop-canonical-301](https://user-images.githubusercontent.com/31710761/56963879-46c42880-6b5a-11e9-8e3d-e8752ea9072a.PNG)

[2019-04-30 13:18] Payalba opened #13614 "Module not found: Error: Can't resolve 'tablednd/dist/jquery.tablednd.min'"
Hi,

I tried to compile my js for a new module and i have an error :
Module not found: Error: Can't resolve 'tablednd/dist/jquery.tablednd.min'

To resolve it i changed then import of  tablednd/dist/jquery.tablednd.min in the  position-extension.js by
import tableDnD from "../../../../../../../js/jquery/plugins/jquery.tablednd";

I think it is not the good solution.
What is the best solution to re

[2019-04-30 13:34] marionf commented on #13373
Fixed in E2E tests

[2019-04-30 13:34] #13373 closed, assigned to nobody

[2019-04-30 13:34] marionf commented on #13091
Fixed in E2E tests

[2019-04-30 13:34] #13091 closed, assigned to matks

[2019-04-30 13:34] marionf commented on #13056
Fixed in E2E tests

[2019-04-30 13:34] #13056 closed, assigned to nobody

[2019-04-30 13:35] marionf commented on #13055
Fixed in E2E tests

[2019-04-30 13:35] #13055 closed, assigned to nobody

[2019-04-30 13:42] khouloudbelguith commented on #13614
Hi @Payalba,

Please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-04-30 13:42] #13614 closed, assigned to nobody

[2019-04-30 14:01] #13598 closed, assigned to nobody

[2019-04-30 14:08] khouloudbelguith commented on #13016
Hi @centoasa,

You can use the solution of @PierreRambaud https://github.com/PrestaShop/PrestaShop/issues/13016#issuecomment-475702896
You need to add in your config.inc.php

`define('_PS_BASE_URL_', 'https://admin.disney.com');`

Thanks!

[2019-04-30 14:10] centoasa commented on #13016
@khouloudbelguith but this solution will change my url shop, or only admin?
Now my admin have this configuration-->https://nimb.ws/2aqpIB
and also I've setup my dns into A admin.100asa.it (ip my server)
but if I try to goes into url admin.100asa.it, put into the defualt shop url www.100asa.it

[2019-04-30 14:13] lelethered commented on #12687
dear @khouloudbelguith and dear all,
i think this bug need to be changed for the status; the problem caused by this bug has a big impact on the performance of entire project and i think need be considered more than minor.
According to my customer's requirement, i would like to understand if there are some time scheduling for this resolution; otherwise i'll need to reconsider the CMS software selec

[2019-04-30 14:26] khouloudbelguith commented on #13016
@cedricfontaine, in your first screenshot, to access to FO => you need to naviagate to this link https://www.100asa.it/
To access to your BO => you need to navigate to this link https://www.100asa.it/admin_folder_name
In your case, you need to change this https://www.100asa.it/admin_folder_name to this https:/www.admin.100asa.it?
Thanks!

[2019-04-30 14:28] centoasa commented on #13016
@khouloudbelguith yes it's true! I would to access to my admin via https://admin.100asa.it to bypass 100 seconds cloudflare timeout scripts

[2019-04-30 14:32] khouloudbelguith commented on #13016
@centoasa,the solution is proposed here https://github.com/PrestaShop/PrestaShop/issues/13016#issuecomment-475702896
Your website'll have different urls.
You will be able to run a front & a back from different domains / subdomains.
Thanks!

[2019-04-30 14:36] centoasa commented on #13016
@khouloudbelguith I've to rebuild .htaccess or change my default url on my backoffice? (please take a look at https://nimb.ws/k8LhvF )
because for now the #13016 solution for me doesn't works!

[2019-04-30 14:41] khouloudbelguith commented on #13016
@centoasa, you need to edit the file `config.inc.php` manuaally which exists in this path /Projet_Folder/config/config.inc.php as described here https://github.com/PrestaShop/PrestaShop/issues/13016#issuecomment-475702896
Thanks!

[2019-04-30 14:44] centoasa commented on #13016
[config.inc.php.zip](https://github.com/PrestaShop/PrestaShop/files/3131732/config.inc.php.zip)
here attached my config (please browse to https://back100asa.100asa.it)

[2019-04-30 14:49] khouloudbelguith commented on #13016
@centoasa, so with this link https://back100asa.100asa.it you will be redirected to the FO.
ping @PierreRambaud what do you think?
Thanks!

[2019-04-30 14:55] PierreRambaud commented on #13016
If you want to have a different admin url and front url, you need to have two directories for now, there is currently no distinction between both in http/https configuration.

[2019-04-30 14:57] centoasa commented on #13016
@PierreRambaud sorry I don't understand

[2019-04-30 15:10] PierreRambaud commented on #13016
You need to split directories:

`/var/www/front` => `www.website.com`
`/var/www/back` => `admin.website.com`

You can't setup `/var/www/website` for `www.website.com` & `admin.website.com`.
Because of `.htaccess` which is automatically generated, you need to write your own server configuration.
Because of redirection, without the change of PS_BASE_URL, you'll be redirected to the front url.
Maybe

[2019-04-30 15:23] centoasa commented on #13016
@PierreRambaud  my request only to prevent Cloudflare 100 seconds timeout for some my admin scripts; now I've a subdomain named cron so I invoke cron.100asa.it to launch prestashop cron module (many module works well, some goes into timeout)
as you can see into my attached config file, I was made PS_BASE_URL adding, but always redirection on front.

[2019-04-30 15:24] khouloudbelguith opened #13618 "Delete categories selected with bulk action will remove all the categories"
**Describe the bug**
In the BO => Categories page, when we try to delete categories with bulk action will remove all categories

**To Reproduce**
Steps to reproduce the behavior: fresh install 1.7.6.x with English language / France country
1. Go to BO => Categories page
2. Select a category for example Clothes
3. Delete with bulk action
4. All categories will be removed

**Screenshots**
https://dr

[2019-04-30 15:33] PierreRambaud commented on #13016
Yep, many cron tasks are running without bootstrapping this is why you can call these scripts.
As I said, with two directories, I'm able to use different domain for my back and my front.

[2019-04-30 15:38] marionf commented on #13618
@matks FYI

[2019-04-30 15:41] #13487 closed, assigned to jolelievre

[2019-04-30 15:42] #13126 closed, assigned to jolelievre

[2019-04-30 15:48] centoasa commented on #13016
@PierreRambaud by my plesk panel, I've created a subdomain named back100asa and copied the full admin directory (100asa.it/admin) into it https://nimb.ws/cbdy3Q
Launch back100asa.100asa.it I've error 500

[2019-04-30 15:56] TomHsiung commented on #13611
Debug logs:

Data from PrestaShop Addons is invalid, and cannot fallback on cache.
Hide context
[▼
  "exception" => "cURL error 28: Operation timed out after 5000 milliseconds with 8316 bytes received"
]

[2019-04-30 15:57] khouloudbelguith opened #13620 "Bulk action & the Select all doesn't work in the SQL manager page"
**Describe the bug**
In the SQL manager page, the bulk action doesn't work, if we select any option, the bulk action button is always disabled
Also, Select all doesn't work.

**To Reproduce**
Steps to reproduce the behavior: Fresh install 1.7.6.x with English language & France country
1. Go to BO => Advanced Parameters => Database
2. Create at least two SQL requests
3. Select any SQL request => th

[2019-04-30 16:04] khouloudbelguith commented on #13611
@TomHsiung, could you please check if the `allow_url_fopen ` is enabled on your server?
Thanks!

[2019-04-30 16:07] TomHsiung commented on #13611
Directive | Local Value | Master Value
-- | -- | --
allow_url_fopen | On | On

[2019-04-30 16:13] jolelievre commented on #11150
@tom75 We fixed this quickly for `175` because the release date was close

In `1.7.6` we improved this behaviour, the "parent" product url (without attribute) is now accessible and no longer returns a redirect response, by default it displays the default combination
All the combinations urls are still accessible and keep their canonical to the "parent" url (which is now accessible) So we should ha

[2019-04-30 16:15] khouloudbelguith commented on #13611
@TomHsiung, thanks a lot for your feedback.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-04-30 16:21] jolelievre commented on #13613
Hello @tom75
As explained in another comment https://github.com/PrestaShop/PrestaShop/issues/11150#issuecomment-488015961 (sorry I didn't see this issue yet) this will change in `176` version, these addresses will now be accessible.
If you want more details this was done with this PR https://github.com/PrestaShop/PrestaShop/pull/13009

This modification will be available in the coming 1.7.6 versio

[2019-04-30 16:24] TomHsiung opened #13622 "Access to BO is slow even from the same local network"
Hello,

Access to BO is very slow even from I am from a same local network.

Tom

[2019-04-30 16:24] decom-media commented on #13613
Well, that sounds already like a solution for that problem - looking forward then to update to 1.7.6. - is there any release date available? (as, after researching quite a lot, this seems to be - at least one of - the reasons on my drop in SER)

thanks for your quick response!

[2019-04-30 16:29] khouloudbelguith commented on #13622
Hi @TomHsiung,

Tanks for your report.
We need more details to understand how we can reproduce your issue:
 - PrestaShop version, fresh install 1.7.5.1 or an upgrade from a previous version?
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - Have you a lot of data?

Thanks!

[2019-04-30 16:31] PierreRambaud commented on #13016
We need more information than "500", this means, it's a Internal Server Error.

[2019-04-30 16:31] jolelievre commented on #13613
You can download our nightly builds here https://nightly.prestashop.com/ if you want to test the next version in advance.

There is no official release date yet but we are aiming at a stable release in june

[2019-04-30 16:31] #13613 closed, assigned to nobody

[2019-04-30 17:15] decom-media commented on #13613
the nightly build is no option for my productive page, therefore i have to wait then for the release of 1.7.6. - thanks anyway!

[2019-04-30 17:21] TomHsiung commented on #13611
Finally, I downloaded the autoupgrade module from the official addons market and uploaded and installed it via the BO module manager. And it was successful.

However, I didn't find the Theme Customization v1.0.10 on the addons market.

Tom

[2019-04-30 17:23] centoasa commented on #13016
as you can see from my screenshot, into subdomain back... I've copied all files and folder of prestashop admin. And on /config/config.inc.php I've add the line
define('_PS_BASE_URL_', 'https://back100asa.100asa.it');
 That's all.
here the apache error:
`

AH01071: Got error 'PHP message: PHP Warning: require(/var/www/vhosts/100asa.it/back100asa.100asa.it/../config/config.inc.php): failed to open s

[2019-04-30 17:58] bestbuybargains commented on #13591
https://drive.google.com/file/d/1nBy0mD2eYBmvoZqah33KnLqNiowzs-K9/view

Here is a video of the issue.  Hope this helps. Updated logs are provided as well.

[dev.log](https://github.com/PrestaShop/PrestaShop/files/3132501/dev.log)

[2019-04-30 18:44] PierreRambaud commented on #13016
This file doesn't exists `/var/www/vhosts/100asa.it/back100asa.100asa.it/../config/config.inc.php` or is not available for reading.

[2019-04-30 19:30] centoasa commented on #13016
there was a misunderstood: on the folder /var/www/vhosts/100asa.it/back100asa.100asa.it I've only copied all the admin files and folders
the config/config.inc.php is on the root prestashop directory

[2019-04-30 20:43] PierreRambaud commented on #13016
You need to copy all files, add symlink for shared files between front and back, like generated images, or .htaccess for the front, it's maybe too complicated and you need to have a serious system administrator / developer to do this kind of job.

[2019-04-30 20:48] centoasa commented on #13016
I assumed ...

[2019-04-30 21:38] PierreRambaud commented on #13016
But I think we need to create an issue to be able to use the front & the back with the same folder on different domains :)

[2019-04-30 21:46] centoasa commented on #13016
@PierreRambaud great idea!!!

[2019-05-01 00:27] bestbuybargains commented on #13591
Also, i noticed that this message randomly pops up.

![image](https://user-images.githubusercontent.com/50038176/57001384-070f3800-6b7e-11e9-8fe6-278892c70090.png)

[2019-05-01 10:40] Quetzacoalt91 commented on #13394
As explained in the related PR, we won't bring back this class in the webservice as it was deprecated 7 years ago.
New entrypoints have been added to cover the new class name from the API, we suggest to use them instead.

[2019-05-01 12:33] qtheuret commented on #13394
@Quetzacoalt91 As explained in the related PR, the `order_cart_rule` is not available in the Prestashop API.
Can you tell me the name of the entrypoint to get order discounts ?

[2019-05-01 12:33] rdy4ever opened #13624 "Admin credentials after installation via docker"
**Describe the bug**
I've followed [this guide](https://devdocs.prestashop.com/1.7/contribute/contribute_using_docker/) to install Prestashop via docker. Everything went well, however: I don't have any credentials to log in into the BO. Where do I find these credentials?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Sc

[2019-05-01 13:29] Quetzacoalt91 commented on #13624
Hi @rdy4ever,

As you started the docker-compose on the root folder of PrestaShop, you used the image `prestashop/prestashop-git` available on [Docker Hub](https://hub.docker.com/r/prestashop/prestashop-git/).

As notified in its readme, the default credentials are `demo@prestashop.com` / `prestashop_demo`.

Regards

[2019-05-01 13:29] #13624 closed, assigned to nobody

[2019-05-01 14:05] Quetzacoalt91 commented on #13394
Well, by looking at the two messages you posted on here and on the PR, it looks like there's probably something I misunderstood.
If you're looking for cart rules associated to an order (= used), it seems difficult to find this data.

It would not change the PR being closed as you were anyway dealing with a deprecated class, but using the class `OrderCartRule` could help.

I'm reopening this issue,

[2019-05-01 16:13] ChineseNorris opened #13625 "Add to cart disabled"
**Describe the bug**
Without touching anything, I began to receive reports from customers regarding shopping cart, the problem is that they can't add products to their cart even if product is in stock. Can't even update or delete from cart without refreshing website (AJAX disabled)
I have tried to disable AJAX but here are a few issues:
1. If AJAX is enabled, nothing works.
2. If AJAX is disabled,

[2019-05-02 05:29] nirav-nanda opened #13627 "Specific prices block disappearing frequently"
we have set specific price rule for bulk purchase on some products.
while it work perfectly in cart, but in back office the block is keep disappearing very frequently, we have to refresh the page 2 to 3 time to display it on screen again.

here i have sending link of recorded video pls check it.
https://drive.google.com/file/d/1428H_85OgUsq3HK_aiq4rFjgh0QlOB1o/view?usp=sharing

[2019-05-02 07:24] danirios93 commented on #13622
Disable gamification module and you will be set :P At least it worked for me, seems it uses lots of resources of the BO

[2019-05-02 07:31] khouloudbelguith commented on #13090
Hi @bapa92,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-02 07:31] #13090 closed, assigned to nobody

[2019-05-02 07:32] khouloudbelguith commented on #13142
Hi @humansix,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-02 07:32] #13142 closed, assigned to nobody

[2019-05-02 07:34] khouloudbelguith commented on #13111
Hi @Legendarior,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-05-02 07:34] #13111 closed, assigned to nobody

[2019-05-02 07:42] khouloudbelguith commented on #13625
Hi @ChineseNorris,

I did not manage to reproduce the issue with PS1.7.5.1 & the ps_shoppingcart module version 2.0.2.
I attached a vdeo record
https://drive.google.com/file/d/1CVeLbBFz9su3ocMq2BA5K8Re-WcBXhSx/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - ps_shoppingcart version
 - d

[2019-05-02 08:13] khouloudbelguith commented on #13627
Hi @nirav-nanda,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record
https://drive.google.com/file/d/19qrS2aHm8o_l_YRa0k7yCknANCFCNBh6/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - ap

[2019-05-02 08:19] fezzit commented on #13419
Same issue here, can't save custom features.
After saving everything seems OK, but the new feature is not stored in DB and doesn't show both in FE or BE.
This happens while editing an existing product. First insert of product was made with previous versions of PS and I had no problem in adding custom features.
Now im in 1.7.5.1 multistore

[2019-05-02 08:21] fezzit commented on #9625
Still present in 1.7.5.1 please fix

[2019-05-02 08:33] khouloudbelguith commented on #13622
Hi @TomHsiung,

What is the exact version of the module `gamification `did you use?
Thanks!

[2019-05-02 08:45] khouloudbelguith commented on #13611
Hi @TomHsiung,

Thanks for your feedback.
You can find the last version of the Theme customization module on our official repository Github https://github.com/PrestaShop/ps_themecusto/releases/tag/v1.0.10
You need to clone it from GitHub.
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-05-02 08:45] #13611 closed, assigned to nobody

[2019-05-02 08:57] khouloudbelguith commented on #13591
Hi @bestbuybargains,

Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-05-02 09:11] MatShir commented on #13389
Hi @go-sudo,
What do you think of matks comment?

[2019-05-02 09:19] khouloudbelguith commented on #13419
Hi @marionf,

I did not manage to reproduce the issue with the branch 1.7.6.x.
I attached a video record
https://drive.google.com/file/d/116e5eyczSxFR1Eqr13UW-pj0pa0aOttH/view
Could you please check if the issue happens again?
@fezzit, I checked in the PS1.7.5.1, it is Ok also.
Thanks!

[2019-05-02 09:30] fezzit commented on #13419
Thank you. Solved, but an issue remains IMHO.
You should fill the field for any installed language. If one language is left empty, it doesn't save the customer feature for all langiages.
I suggest to fix this, anyway, because it's common to insert content one language at a time.

[2019-05-02 09:35] khouloudbelguith commented on #9625
Hi all,

I manage to reproduce the issue with PS1.7.6.x branch.
It is not fixed yet, it is added to our bug roadmap, so that's fixed.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-05-02 09:38] khouloudbelguith commented on #13419
@fezzit, is it the same issue reported here: #9625?
Thanks!

[2019-05-02 09:42] matks commented on #9959
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13407

[2019-05-02 09:42] #9959 closed, assigned to jolelievre

[2019-05-02 09:46] khouloudbelguith commented on #12302
Hi @marchspa,

I did not manage to reproduce the issue with the branch PS 1.7.6.x, it is fixed.
https://drive.google.com/file/d/1mXuREC9pkNxRl2RcjnhlAo40yvz2rVxt/view
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-05-02 09:46] #12302 closed, assigned to nobody

[2019-05-02 09:47] #13401 closed, assigned to nobody

[2019-05-02 10:09] marionf commented on #13419
@khouloudbelguith , Thank you I can't reproduce also on 1.7.6.x

[2019-05-02 10:09] #13419 closed, assigned to nobody

[2019-05-02 10:16] decom-media opened #13629 "Canonical missing on 1st page and rel="prev" missing on 2nd page"
Pagination and canonical problems - in prestashop 1.7.5.1:

category pages are having a problem with missing prev tag and canonical tag missing and also wrong:

- the first page is ok, but, there is no canonical tag included
![canonicalwrong_page1_](https://user-images.githubusercontent.com/31710761/57069168-1b654900-6cd4-11e9-9656-48a4bc1f3d84.png)

- the second page is missing the rel="prev"
![c

[2019-05-02 10:24] khouloudbelguith commented on #13629
Hi @tom75,

Thanks for your report.
Is it the same issue reported here: #9503?
Thanks to check & feedback.

[2019-05-02 11:36] ChineseNorris commented on #13625
Here are my specs:

-Host : dedicated hosting
- Server setup with apache + engintron
![Captura](https://user-images.githubusercontent.com/7015860/57070941-3c7c6880-6cd9-11e9-805e-de21763f057a.PNG)
-ps_shoppingcart version : 2.0.2
- debug mode is enabled but no errors appears?
- PHP error logs attatched
[error.log](https://github.com/PrestaShop/PrestaShop/files/3137735/error.log)

-Apache error log

[2019-05-02 12:06] decom-media commented on #13629
Hello @khouloudbelguith,

i did edit now my post, to make it more clear and yes, the canonical part seems to be the same like the #9503 issue, as the canonical tag is missing on page 1, but, the second part of my issue is still not covered by this issue (maybe i should seperate it and open another issue)

-> on the second page (?page=2) the rel="prev" tag is missing (but, on the rest of the pages

[2019-05-02 12:10] manu20gm opened #13631 "Sort by products in categories White Screen result on load"
**Describe the bug**
When I go to any Category in the shop and try to sort by any method (price, name, reference...) no result are showed, only the header and body of the categories but without products listed. There are only white div.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Any Category
2. Click on Sort By: "something"
3. The url are updated but no result is loaded
3. See no

[2019-05-02 12:12] khouloudbelguith commented on #13625
@ChineseNorris, in your error log file, you have a fatal error with the pagecache module.

[code]
You need to contact the module author about this issue.

Also, you have some warnings in the override AdminStatsController.php, you should to edit this override.

`[01-May-2019 10:05:18 Country] PHP Warning:  Invalid argument supplied for foreach() in /prestashop_url/override/controllers/admin/AdminSt

[2019-05-02 12:20] khouloudbelguith commented on #13631
Hi @manu20gm,

I did not manage to reproduce the issue with PS1.7.5.1.
I attached a video record
https://drive.google.com/file/d/1uWVxqsRv-rcMU0_0Rb5HSM-eCR1muRUE/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apach

[2019-05-02 12:32] manu20gm commented on #13631
Hope it helps
- Host: regalosgourmetonline.com Linux sd5158.lineagrafica.es 3.10.0-957.10.1.el7.x86_64 #1 SMP Mon Mar 18 15:06:45 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
- server setup and configuration:

- 1. Server software version: Apache
- 2. PHP version: 5.6.40
- 3. Memory limit: 1024M
- 4. Max time of execution: 3600
- 5. Max size for uploading files: 24M

- PrestaShop version (source): 1.7.

[2019-05-02 12:36] Quetzacoalt91 opened #13633 "All new controllers are empty after an upgrade PS 1.6 -> 1.7"
**Describe the bug**
Started a shop on 1.6.1.8 and upgraded it to 1.7.6.0. The upgrade succeeds, but all pages running on Symfony are empty.

**To Reproduce**
Steps to reproduce the behavior:
* Start a shop on PS 1.6.1.8
* Upgrade it to 1.7.6.0 ([the following zip file was used](https://drive.google.com/file/d/15ziaLqzjVDw6db3bN2feWZG0DZOk9Qfj/view?usp=sharing)). Note my autoupgrade module was mod

[2019-05-02 12:42] khouloudbelguith commented on #13629
@tom75, thanks for these clarifications.
I did not manage to reproduce the issue with the PS1.7.5.1.
https://drive.google.com/file/d/1-_9OM_eiRsmFDVkjUq_ZYARVQXa4U2Fv/view
I tried with the Accessories category.
Thanks to check my screen record & feedback.
Thanks!

[2019-05-02 12:48] khouloudbelguith commented on #13631
@manu20gm, you don't use the default theme Classic provided by PrestaShop? is it?
Thanks!

[2019-05-02 12:50] manu20gm commented on #13631
@khouloudbelguith it's the default theme classic only with design modifications

Thanks!

[2019-05-02 12:51] marionf commented on #13453
Hello @Codencode

I just tried and the 3 emails (newsletter_conf, newsletter_verif & newsletter_voucher) sent by emailsubscription module are well sent in the language selected in FO by the customer

![capture d'écran_1492](https://user-images.githubusercontent.com/13449658/57076269-89683b00-6ce9-11e9-82f2-abcf13d75cd8.png)

For some languages, emails are not completely translated, that's why you

[2019-05-02 13:17] decom-media commented on #13629
@khouloudbelguith, well, it seems that there are different pages having different problems with canonical and prev tags

basically, the rel="prev" you are referring to, seems not to be in the head - cannot see it well, but, it does not look like you are showing the one which should be in the header.
i did find out, after checking a few other pages, that even the rel="next" is having wrong informat

[2019-05-02 13:17] SimonGrn opened #13634 "Invalid canonical URL created on checkout for products without attributes"
**Describe the bug**
The product URL generated by PrestaShop on the checkout page is invalid for some products: the URL is generated with "id_product_attribute=0" which is not valid for a product without atttributes.

**To Reproduce**
Steps to reproduce the behavior:
1. In the BO, create a product without attributes and activate it
2. In the FO, add this product in your cart and click on "Checkout

[2019-05-02 13:25] Codencode commented on #13453
Hi @marionf,

the problem does not refer to the sending of the email, but it concerns the lack of the "id_lang" field in the "emailsubscription" table in the database.
This field is useful for knowing the language used by the user when registering for the newsletter.

Thanks!

[2019-05-02 14:04] khouloudbelguith commented on #13629
@tom75, I checked with another PS1.7.5.1 => OK, in the first & second page (Accessories category page)
Here's the link of the shop http://presta1and1.com/prestashop_1.7.5.1/index.php?id_category=6&controller=category&id_lang=1
Thanks to check & feedback.

[2019-05-02 14:06] marionf commented on #13453
Is there something that you would like to do with this information ?

[2019-05-02 14:11] khouloudbelguith commented on #13601
Hi @cry-ahmet,

Could you please navigate to your BO => International => Taxes => Tax Rules Tab, you can find the EU VAT For Virtual Products, Try t edit it, you will discover, that it have different taxes for different countries
![image](https://user-images.githubusercontent.com/16067358/57081409-e9b0aa00-6cf4-11e9-9125-220a0691b09c.png)
Thanks to check & feedback.

[2019-05-02 14:15] Codencode commented on #13453
It is useful to send the newsletter in the user's language.
Thanks!

[2019-05-02 14:20] khouloudbelguith commented on #13633
Hi @Quetzacoalt91,

I tried to upgrade from PS16120 to PS1760 with the same folder provided using the 1-click upgrade v4.7.0
During the uprade I have this error

`[Ajax / Server Error for action upgradeFiles] textStatus: "error " errorThrown:" " jqXHR: " "`

I tried to navigate to the BO=> error 500
![image](https://user-images.githubusercontent.com/16067358/57082048-3f398680-6cf6-11e9-92a6-5968e4

[2019-05-02 14:28] decom-media commented on #13629
@khouloudbelguith, well, that installation is showing also the same problem:

url: http://presta1and1.com/prestashop_1.7.5.1/index.php?id_category=6&controller=category&id_lang=2&page=2 is showing the canonical tag: `<link rel="canonical" href="http://presta1and1.com/prestashop_1.7.5.1/index.php?id_category=6&amp;controller=category&amp;id_lang=2">` ... there is `&page=2` missing

also the `prev `

[2019-05-02 14:40] khouloudbelguith commented on #13629
@tom75, I checked the same link & &page=2 is displayed
![Capture](https://user-images.githubusercontent.com/16067358/57083478-e4edf500-6cf8-11e9-8856-5c65ea0773b4.PNG)
Also, the prev is displayed, if you search with this expression, you will find it
![Capture2](https://user-images.githubusercontent.com/16067358/57083535-fe8f3c80-6cf8-11e9-849f-87db7d99f8c8.PNG)

Thanks!

[2019-05-02 14:53] sarahdib opened #13639 "HTML code appear when I try to add a picture too big in short description"
**Describe the bug**
HTML code appear when I try to add a picture too big in short description

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a product in the tab catalog
2. Add a picture in the short description using the file manager (the size of the picture is 14mo)
3. See error

**Screenshots**
![Capture d’écran 2019-05-02 à 16 52 16](https://user-images.githubusercontent.com/303

[2019-05-02 14:58] cry-ahmet commented on #13601
Hi @khouloudbelguith ,

thanks for your answer.
Yes, I found the rule already and assigned it to the product in product edit page in price tab. But the endprice changes always. I want to keep the endprice for every country. Only included TAX amount should be changed.

cheers

[2019-05-02 14:59] go-sudo commented on #13389
Hello

I think it's good idea to give user that choice to cache the
Frontoffice
Backoffice
Both
Regards

[2019-05-02 15:13] Quetzacoalt91 commented on #13633
You should have used the branch dev, there is a new version to be released for PS 1.7.6.0. :)

[2019-05-02 15:15] Quetzacoalt91 commented on #13633
We tried to find the root cause of this issue, here is our progress so far:

| Original PS Version | Env | Issue reproduced |
| -- | -- | -- |
| PS 1.7.6.0 upgraded from 1.6.1.8 | PHP 5.6 / Twig 1.38.4 | Yes |
| PS 1.7.6.0 upgraded from 1.6.1.8 | PHP 5.6 / Twig 1.36.0 (manual rollback) | No |
| PS 1.7.6.0 upgraded from 1.6.1.23 | PHP 5.6 / Twig 1.38.4 | Yes |
| PS 1.7.6.0 upgraded from 1.6.1.23 |

[2019-05-02 15:25] khouloudbelguith commented on #13601
@cry-ahmet, in fact this behavior is not possible.
The price TTC is calculated just after changing the taxes.
So, the price HT is the same, but if we change the country => the taxes will be changed so the price TTC is changed also=> which is a normal behavior

 => it is not possible.
Thanks!
I close the issue, feel free to open a new one when needed

[2019-05-02 15:25] #13601 closed, assigned to nobody

[2019-05-02 15:51] marionf commented on #13453
Thank you for your answer @Codencode !

I submited your idea [here](http://feedback.prestashop.com/forums/387864-prestashop-1-7-x/suggestions/37531810-save-the-language-of-the-subscribers-to-the-newsle) don't hesitate to vote for it. It will help us to prioritize all improvements ideas

[2019-05-02 16:16] PierreRambaud commented on #13389
Yes, we need to be able to specify which cache we want for FO and/or BO

[2019-05-02 16:21] decom-media commented on #13629
@khouloudbelguith, the prev is not the one i am talking about - you are showing me always the one in the body - i am talking about the one which needs to be in the header as meta information - the next is already there, but, prev is just in pages starting from the 3rd page, in the second one it is missing.

the canonical i will check with more pages and let you know

[2019-05-02 16:21] go-sudo commented on #13389
I want to cache only frontoffice please

On Thu, May 2, 2019, 17:16 GoT <notifications@github.com> wrote:

[2019-05-02 16:21] go-sudo commented on #13389
Hello
I need yo cache frontoffice only
Thanks

[2019-05-02 16:35] khouloudbelguith commented on #13629
@tom75, in the second page, the `next` is also displayed in the body, in the third page also, the `previous` is displayed in the body also.
You can check this view-source:http://presta1and1.com/prestashop_1.7.5.1/index.php?id_category=6&controller=category&id_lang=2&page=2
In the third page also, `previous` is displayed in the body
http://presta1and1.com/prestashop_1.7.5.1/index.php?id_category=6&

[2019-05-02 16:45] decom-media commented on #13629
@khouloudbelguith, well, after checking again everything, it seems that this problem is depending on the theme, which i did buy - the prev and next need to be in the header for seo reasons, i will check now with the developer of the theme if this is maybe related with his modifications.

[2019-05-02 17:08] bestbuybargains commented on #13591
Hello,
I have sent an email with the requested information. Please let me know if you need any assistance!

[2019-05-02 17:10] #13592 closed, assigned to nobody

[2019-05-02 17:10] #13590 closed, assigned to nobody

[2019-05-02 17:17] ghost opened #13640 "Better alert for customer creation and customer info edit forms"
**Is your feature request related to a problem? Please describe.**
Following 1.7.5.2 patch, when an existing customer having a first name such as "John R.Hamond" wants to modify its account info an alert is raised when saving saying "Incorrect name".
This is because his/her name doesn't match the new forms' conditions.
Problem is that this name used to be good and is not anymore, we need to explai

[2019-05-02 17:23] ChineseNorris commented on #13625
@jherry can you help us out about the error?

@khouloudbelguith  I've disabled the module but the error persists, the override is for retrieving stats in dashboard without creating invoices, so it shouldn't interfere with the cart, but I've deleted the override and tested again with same results in the firebug console.
I've tried almost everything but I'm out of ideas and don't know where to start

[2019-05-02 18:58] 4itsoft opened #13641 "Syntax error in HTML Email (error with "3D")"
**Describe the bug**
All transactional emails in HTML format contain the same syntax error.
Instead of "=", "=3D" is displayed

![image](https://user-images.githubusercontent.com/50216024/57099481-31e7c080-6d25-11e9-9eec-2b16fd759d45.png)

**To Reproduce**
Send any transactional email and check the source code.

**Additionnal information**
PrestaShop version: 1.7.5
PHP version: N/A

[2019-05-02 20:44] tonyinuma opened #13642 "Add a new step in checkout process - new Hook and Classes"
There are different steps to make the purchase of a product, before they have 5 in prestashop, now they are 4. It can vary according to the store.

To add a new step to the purchase process, as in my case, I would like to add the step where it helps the customer to choose between the ticket or the invoice, which is before the payment process and after the delivery. It would be great if there was a

[2019-05-03 07:36] khouloudbelguith commented on #13625
@ChineseNorris, could you please try to uninstall the ps_shoppingcart module, remove the ps_shoppingcart  folder from /Projet_Folder/modules/, clear cache & try to install it again.
Thanks to check if the issue persists or not?

[2019-05-03 07:37] khouloudbelguith commented on #13590
@bestbuybargains, you just closed the issue, it is fixed?
Thanks!

[2019-05-03 07:39] khouloudbelguith commented on #13629
@tom75, thanks for your feedback.
As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-05-03 07:39] #13629 closed, assigned to nobody

[2019-05-03 07:39] jolelievre commented on #13634
Fixed by https://github.com/PrestaShop/PrestaShop/pull/13635
@SimonGrn your test should run properly now

[2019-05-03 07:39] #13634 closed, assigned to jolelievre

[2019-05-03 07:43] khouloudbelguith commented on #13591
Hi @bestbuybargains,

I just received the email.
I will check & feedback.
Thanks!

[2019-05-03 07:58] #13641 closed, assigned to nobody

[2019-05-03 08:04] khouloudbelguith commented on #13591
@bestbuybargains, it is OK.
https://drive.google.com/file/d/10JNVOFPw8uNV73xvxajWNsheIg-G85ec/view
Since it is fixed, I close the issue, feel free to open a new one when needed.
Thanks!

[2019-05-03 08:05] khouloudbelguith commented on #13592
@bestbuybargains, I checked your shop, it is fixed.
Feel free to open a new one when needed.
Thanks!

[2019-05-03 08:07] ChineseNorris commented on #13625
@khouloudbelguith , I've checked and clear all cache without success, the problem in product page persists ( add to cart is non clickable) even when the ps_shoppingcart module is uninstalled. Tried reinstalling from fresh 1.7.5.1 and tried from prestashop addons.

[2019-05-03 08:09] khouloudbelguith commented on #13625
@ChineseNorris, so the issue occurs not only when Ajax is enabled?
Thanks!

[2019-05-03 08:13] ChineseNorris commented on #13625
@khouloudbelguith , the cart don't work either with Ajax enabled or disabled, but I managed to "make it work"with a module called Attributegrid(https://www.presto-changeo.com/prestashop-17-modules/122-prestashop-attribute-grid-module.html)
But it only works when ajax is disabled, I can add products to the cart and my shop is still working, if I disable this module my customers can't even add produ

[2019-05-03 08:13] idnovate opened #13644 "Display "Free shipping" cart rule as an amount rule"
**Describe the bug**
A weird discount is displayed when a free shipping cart rule is applied. Instead of "-0.00%" it should be displayed the shipping cost

**To Reproduce**
Steps to reproduce the behavior:
1. Create a "Free shipping" cart rule
![image](https://user-images.githubusercontent.com/15104724/57126085-f2a08a80-6d8b-11e9-961b-8f7343829443.png)

2. Check cart
![image](https://user-images.g

[2019-05-03 08:19] khouloudbelguith commented on #13625
@ChineseNorris, thanks a lot for these clarifications.
Did you use the default theme provided by PrestaShop?
This issue occurs with all products or only with product which have combinations?
Thanks!

[2019-05-03 08:21] idnovate commented on #13644
Sent PR

https://github.com/PrestaShop/PrestaShop/pull/13645

[2019-05-03 08:26] khouloudbelguith commented on #9702
Hi,

Here's a PR: https://github.com/PrestaShop/PrestaShop/pull/13645 to fix the issue solved by @idnovate.
Thanks!

[2019-05-03 08:26] khouloudbelguith commented on #13644
Hi @idnovate,

Thanks a lot for your fix.
Your ticket is a duplicate of #9702
So, I close it.
Thanks !

[2019-05-03 08:26] #13644 closed, assigned to nobody

[2019-05-03 08:41] matks opened #13646 "Installer: suggest localhost as alternative default value for host"
Today I installed a PrestaShop 1.7.5.2 on a Simple Hosting instance from gandi.net .
In the installation process, at the step for configuring the database, I could not connect to my database. I had to change "127.0.0.1" to "localhost" to successfully connect. Dont know why 😐.

**Describe the solution you'd like**
Either update the default value `127.0.0.1` to `127.0.0.1 / localhost`
or add a helpe

[2019-05-03 08:42] khouloudbelguith commented on #13642
Hi @tonyinuma,

You can use the `displayAfterCarrier` hook. This hook is displayed after the carrier list in Front Office Located in: /classes/checkout/CheckoutDeliveryStep.php
For more details, you can follow our dev documentation: https://devdocs.prestashop.com/1.7/modules/concepts/hooks/list-of-hooks/
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-05-03 08:42] #13642 closed, assigned to nobody

[2019-05-03 08:44] khouloudbelguith commented on #13646
ping @PrestaShop/prestashop-core-developers

[2019-05-03 08:47] TeapotCallum opened #13647 "Help Side Bar on Catalog > Products isn't very helpful"
**Describe the bug**
Help Side Bar on Sell > Catalog > Products isn't very helpful.
None of the things it says it covers in the list is actually covered on the page.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Sell > Catalogue > Products.
2. Click on Help.

Having a look at the iframe URL and compared it to the 1.6 version it seems like a lot of information has just been removed!

[2019-05-03 08:53] ChineseNorris commented on #13625
@khouloudbelguith, yes, I've made a few modifications but they are design modifications only and a few functionalities that doesn't touch the cart or combinations, since all of that kind of modifications are made with modules. The issue is ocurring with products with and without combinations.

Thanks!

[2019-05-03 08:54] manu20gm commented on #13631
The problem was resolved, this bug was caused by a third-party module incompatibility

[2019-05-03 08:54] #13631 closed, assigned to nobody

[2019-05-03 08:56] khouloudbelguith commented on #13625
@ChineseNorris,the issue occurs after these modifications?
In my case, with the default installation, no odifications, I did not manage to reproduce the issue.
Thanks!

[2019-05-03 08:57] khouloudbelguith commented on #13631
@manu20gm, thanks for your feedback.
Feel free to open a new one when needed.
Thanks!

[2019-05-03 09:09] khouloudbelguith commented on #13641
Hi @4itsoft,

Thanks for your report.
I manage to reproduce the issue with PS1751 & PS1752.
![image](https://user-images.githubusercontent.com/16067358/57128494-ddc7f500-6d93-11e9-9298-1a9fcc0622ca.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-05-03 09:12] khouloudbelguith commented on #13641
@4itsoft, did you closed the issue?
Thanks!

[2019-05-03 09:16] wikao2 opened #13649 "Prestashop 1.7 : Site only accessible in debug mode"
I have an issue with a test version of our site under Prestashop 1.7
http://vps680775.ovh.net/
Login : user
Password : wikao
(I've set a password so that Googlebot does not crawl the site and sees the content as duplicate content)
It only works in debug mode. As soon as I disable the debug mode => blank page (both on the back and on the front office)

Do you know why ?

Thanks in advance for your

[2019-05-03 09:23] khouloudbelguith commented on #13647
Hi @TeapotCallum,

Thanks for your report.
This is a desired behavior, because the documentation of the PS1.6 is so heavy.
You can follow our documentation in details in this link: http://doc.prestashop.com/display/PS17/User+Guide
Thanks for your understanding!

[2019-05-03 09:23] #13647 closed, assigned to nobody

[2019-05-03 09:25] khouloudbelguith commented on #13649
Hi @wikao2,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

Thanks!

[2019-05-03 09:25] PierreRambaud commented on #13646
This came from your server configuration.
You can tell to your users to accept only localhost and not 127.0.0.1.
For example:
[code]

[2019-05-03 09:28] matks commented on #13646
@PierreRambaud Thanks for the info 😉

What about the help message for the users ? The content can change indeed 😃for example "Having trouble to setup your database connection, see our FAQ" and in the FAQ we add your statement about mysql host and user settings.

If people use root superadmin database user it works 🤣but I think we should encourage proper secure behavior.

[2019-05-03 09:36] PierreRambaud commented on #13646
The return code from MySQL will be the same as if you provide a wrong password / user.
It's a kinda useless :/

[2019-05-03 09:46] ChineseNorris commented on #13625
@khouloudbelguith , the issues occurs from one day to another without me doing modifications to the code or php versions or server at all, the cart was working properly with the modifications.

I know this won't occur in a fresh installation, but can occur after using the fresh install.
To reproduce this problem is really hard, instead of trying to reproduce it I think we should focus in debugging

[2019-05-03 09:51] khouloudbelguith commented on #13625
@ChineseNorris, thanks for your feedback.
When debug mode is enabled, is there any exception displayed in your FO?
Thanks!

[2019-05-03 09:57] Codencode commented on #13453
Thank you @marionf.

My solution is at the following link: https://github.com/PrestaShop/ps_emailsubscription/compare/master...Codencode:patch-1

[2019-05-03 10:20] matks opened #13652 "Creating useless comments when using ajax to refresh the address form in checkout"
**Describe the bug**
On checkout page, for a shop with multiple countries available, you can use the country dropdown to select your country. When you do so, an ajax request is performed to `/order?ajax=1&action=addressForm`. This returns the updated HTML form which is then inserted into the checkout page.

But when it does so, it does replace everything. So if you perform this dropdown multiple t

[2019-05-03 10:21] matks commented on #13652
It's harmless because it's only html comments. But it's not very clean either.

[2019-05-03 10:30] vincent-dp opened #13653 "price doesn't show when stored in a variable"
If I do

`{$priceht = $product.price_tax_exc}{$priceht}`

That returns me the price

but if I do

`{$pricettc = $product.price}{$pricettc}`

That returns me nothing at all, still $product.price alone shows me the price taxe included.

:(

[2019-05-03 10:31] PierreRambaud commented on #13652
These comments came from the debug mode to help developers to create themes and are not displayed in production. Because a comment could not be selected with `selectors` I'm not sure we're able to do something :/

[2019-05-03 10:32] matks commented on #13652
Considering this, then this is 100% harmless

[2019-05-03 11:04] ChineseNorris commented on #13625
@khouloudbelguith , no, I can't see any exception displayed in FO nor error at the javascript console, just the warning you can see in the first comment. Is there any other way to trace the bug?

Thanks!

[2019-05-03 12:09] jotakar opened #13654 "Cannot see carrier buttons"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: N/A
PHP version: N/A

[2019-05-03 12:12] jotakar commented on #13654
Prestashop 1.6
Theme: Panda
When I arrive to the step when you have to select carrier I see the list of carriers, but the radio buttoans appears and, inmediately, dissapears.
It's posible select any carrier clickin in their names, but radio buttons and check buton (for accpet conditions) dissapears...
Any idea?

[2019-05-03 12:20] tomas862 opened #13655 "Lets automatically generate hook titles and descriptions"
**Problem**

I got the task where I need to update hooks information in three different places - more info here: https://github.com/PrestaShop/PrestaShop/issues/13408
In hook.xml and sql I expected this to be too much of writing and very error prone if you type them all by hand.

by creating hook names collector scripts https://github.com/PrestaShop/PrestaShop/pull/13593 I found that in a short pe

[2019-05-03 12:26] khouloudbelguith commented on #13654
Hi @jotakar,

I did not manage to reproduce the issue with the last version PrestaShop 16124 & PS1752.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).
Thanks for understanding!
I close the issue, feel free to open a

[2019-05-03 12:26] #13654 closed, assigned to nobody

[2019-05-03 12:28] khouloudbelguith commented on #13655
ping @PrestaShop/prestashop-core-developers

[2019-05-03 12:33] marionf opened #13658 "Regression on price calculation in FO"
**Describe the bug**
Regression on price calculation in FO when you have cart rules and specific display price in customer group

**To Reproduce**
Scénario 1:
1. Set your customer group to display price tax excl
2. Create a cart rule of 10%
3. Create a product of 10€ tax excl, 20% TVA
4. Total tax excl is 8.80 instead of 9
5. Amount of tax incl is 2 instead of 1.80€

Scénario 2:
1. Set your custom

[2019-05-03 12:43] khouloudbelguith commented on #13653
Hi @vincent-dp,

In your product page, you can display the prices with taxes by editing the /Project_Folder/themes/classic/templates/catalog/_partials/product-prices.tpl
Replace this

[code]

by this

[code]

Thanks to check & feedback.

[2019-05-03 13:12] khouloudbelguith commented on #13625
@ChineseNorris, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev) and try to provide me again the php error file log.
Thanks!

[2019-05-03 13:26] vincent-dp commented on #13653
I don't need, as I told you {$product.price} already shows it

[2019-05-03 13:49] marionf commented on #13453
Thanks for diving into this @Codencode

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2019-05-03 13:54] khouloudbelguith commented on #13653
@vincent-dp, what is the exact edited file which you added this line `{$pricettc = $product.price}{$pricettc}`?
Thanks!

[2019-05-03 13:56] vincent-dp commented on #13653
templates/catalog/_partials/product-prices.tpl

[2019-05-03 14:03] SimonGrn opened #13662 "Invalid canonical URL when changing language for products without attributes"
**Describe the bug**
The product URL generated by PrestaShop is invalid when you switch languages: the URL is generated with "id_product_attribute=0" which is not valid for a product without atttributes.

**To Reproduce**
Steps to reproduce the behavior:
1. In the BO, create a product without attributes and activate it
2. In the FO, go to the product page
3. Switch language
4. See error

**Screens

[2019-05-03 14:03] PrestaSafe opened #13663 "No upgrade management for themes"
**Describe the bug**
Not really a bug but i'm looking deeper on ThemeManager class to upgrade a theme easily.
I found a method call upgrade()
in description:
`/*Download new files from source, backup old files, replace files with new ones
     * and execute all necessary migration scripts form current version to the new one.*/`

Is this method really work ? Where to find migration scripts?
Is ther

[2019-05-03 14:06] #13653 closed, assigned to nobody

[2019-05-03 14:15] khouloudbelguith commented on #13663
Hi @PrestaSafe,

Thanks for your report.
Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-05-03 14:16] khouloudbelguith commented on #13653
@vincent-dp, you just closed the issue? it is fixed?
Thanks!

[2019-05-03 14:17] PrestaSafe commented on #13663
I came from gitter and one of your developper told me to open an issue.
<img width="1044" alt="Capture d’écran 2019-05-03 à 16 17 28" src="https://user-images.githubusercontent.com/4788787/57143352-fac5ed80-6dbe-11e9-9c0e-9d5d2e0bbd66.png">

[2019-05-03 14:19] vincent-dp commented on #13653
Yes, it was just a typo

[2019-05-03 14:19] khouloudbelguith commented on #13663
@PrestaSafe, thanks a lot for your feedback.
Sorry, I just opened it.
Thanks!

[2019-05-03 14:32] khouloudbelguith commented on #13663
@PrestaSafe, I added this issue to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-05-03 14:37] khouloudbelguith commented on #13652
Hi @matks,

I have the same issue with `develop` branch.
With PS1752, it is OK.
Thanks!

[2019-05-03 14:44] Codencode commented on #13453
In https://github.com/PrestaShop/PrestaShop/tree/develop the modules folder is empty. However I have already made a pull request at the following link: https://github.com/PrestaShop/ps_emailsubscription/compare/master...Codencode:patch-1

[2019-05-03 14:50] PierreRambaud commented on #13516
FYI: javascript functions `formatNumber`, `formatNumberCldr` and `formatCurrency` were not longer working. The following pull request must fixed it: #13665

[2019-05-03 15:21] matks commented on #13658
@tomlev Behat tests incoming \o/

[2019-05-03 15:27] marionf commented on #13453
Thank you @Codencode

Seems the PR isn't yet created.

![capture d'écran_1493](https://user-images.githubusercontent.com/13449658/57147843-bdfef400-6dc8-11e9-9152-e0363795b8c7.png)

Could you create it ? It will allow us to review and test it :)

[2019-05-03 15:33] Quetzacoalt91 commented on #13633
We have to make sure the old Twig version will be deleted during upgrade. I'm closing as we must wait for the stable release of 1.7.6.0 to confirm this is done properly.

[2019-05-03 15:40] Codencode commented on #13453
Ok.
https://github.com/PrestaShop/ps_emailsubscription/pull/34

Thanks!

[2019-05-03 16:03] rdy4ever commented on #13649
You don't need to do that. Just replace the content of robots.txt with:
[code]
That's all you need to do in order to prevent the site from being indexed