[2021-09-24 13:58] okom3pom commented on #25989
1.7.8.0 not 1.7.7.8

Regards

[2021-09-24 14:03] khouloudbelguith commented on #25959
Hi @PrestaEdit,

I manage to reproduce the issue with PS1780rc
I used this command
` php index_cli.php --language=fr --country=fr --domain=prestashop.com --base_uri=rc1780 --db_server=10.1.32.2 --db_user=root --db_name=1780cli --db_password=sifast2016 --firstname=Demo --lastname=Prestashop --email=demo@prestashop.com --password=prestashop_demo --db_create=1 --newsletter=0 --send_email=0 --enable_s

[2021-09-24 14:10] khouloudbelguith commented on #25860
Hi @musicpanda, thanks for these clarifications.
Ping @PrestaShop/prestashop-maintainers what do you think?

Thanks!

[2021-09-24 14:16] lmeyer1 commented on #25975
In my opinion, it is crucial to keep the classic theme alongside the new one.
The upgrade from 1.6 to 1.7 meant an important investment to recreate a custom theme, as the base changed radically. Having another such radical break raises indeed the question if Prestashop is stable and mature enough to adopt it as e-commerce software.
Please keep everything in a way that a theme written for 1.7.7 sti

[2021-09-24 14:16] deepindersingh83 commented on #25989
![image](https://user-images.githubusercontent.com/568596/134689619-2ba3034e-21da-4b2d-9b17-f38baff0592f.png)

[2021-09-24 14:25] okom3pom commented on #25989
@deepindersingh83 thank you :)

Regards

[2021-09-24 14:27] deepindersingh83 commented on #25947
Hello @florine2623

No error or issue during upgrade was a smooth transition
- same issue after clearing cache cleared as suggested.

Multistore feature is turn on. Can you try with multistore

[2021-09-24 14:40] lmeyer1 opened #25990 "Display of emails in Outlook (modern theme)"
#### Describe the bug

The standard emails of the modern email theme do not display correctly in Outlook 2016. The logo is oversized.

#### Expected behavior

I expect the email to display correctly in Outlook 2016, because Outlook is a frequently used mail client.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. In the BO, go to `Design - Email Theme`
2. Select the `modern` theme an

[2021-09-24 14:45] mparvazi opened #25991 "[BO] [RTL] Bad display of categories list on Product (V2) edit page"
Hello,

#### Describe the bug

In Product (V2) edit page (RTL language), categories list has invalid padding direction, checkbox overflow and bad radio button placement.

This is what we get:
![Screenshot 2021-09-24 171433](https://user-images.githubusercontent.com/85633460/134693093-c5ead505-a6d1-4611-9e27-f15cb43ab985.png)

#### Expected behavior

This is what we expect:
![Screenshot 2021-09-24

[2021-09-24 14:58] matks commented on #25975
It's intended. Classic theme of PS 1.7 will be 100% usable on PS 8.0.0 . But it will still have all the issues it has for now: outdated Bootstrap version, markup issues, etc.

[2021-09-24 15:01] matks commented on #25959
Looks like we dont test enough the "install prestashop in a subfolder" usecase

[2021-09-24 15:15] lmeyer1 commented on #25975
@matks Thanks a lot for this clarification.

[2021-09-24 15:51] khouloudbelguith commented on #25947
Hi @deepindersingh83,

I did not manage to reproduce the issue with PS1778 after an upgrade from PS1777 using the 1-click upgrade v4.12.0.
I attached a screen record
https://drive.google.com/file/d/1slIMtMSqaM_MgyIonfqKGFE7GeEseQdK/view?usp=sharing
try to open your shop in an incognito browser.
You need to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you ar

[2021-09-24 15:58] marionf opened #25994 "In FO listing pages, display the “Only X left in stock” label"
#### Is your feature request related to a problem?

Currently, the remaining quantities are not displayed in FO product listings.

#### Describe the solution you'd like

As a visitor, I want to know easily when the last products are in stock when I am in a product listing.

The “only X left in stock” label is displayed in green #5A9166 in product listings if the default combination quantity is bel

[2021-09-24 16:03] khouloudbelguith commented on #25990
Hi @lmeyer1,

Thanks for your report.
Does this issue occur only Outlook desktop version?
I used the Outlook web version, it is ok
I attached a screen record
https://drive.google.com/file/d/1RIh8vAjs4dFs0ukLCmIzVJGNB1Oqanqi/view?usp=sharing

Thanks to check and feedback.

[2021-09-24 16:05] khouloudbelguith commented on #25960
@darfk3d3, I did not manage to reproduce the issue with PS1.7.7.7.
I attached a screen record
https://drive.google.com/file/d/1RIh8vAjs4dFs0ukLCmIzVJGNB1Oqanqi/view?usp=sharing

Thanks to check and feedback.

[2021-09-24 16:06] lmeyer1 commented on #25990
Yes, it occurs only on Outlook desktop version. I noticed it in version 2013 and 2016 on Windows 10.
As stated above:

[2021-09-24 16:12] khouloudbelguith commented on #25989
Hi @okom3pom ,

I manage to reproduce the issue with PS1780rc
![image](https://user-images.githubusercontent.com/16067358/134707050-4c9ad948-5b95-421c-8184-344b16eb611e.png)
I'll add this to the debug backlog so that it's fixed.

Thanks for the PR!

[2021-09-24 16:15] khouloudbelguith commented on #25991
Hello @mparvazi,

I manage to reproduce the issue with PS1.7.8.0rc.
![image](https://user-images.githubusercontent.com/16067358/134707647-afbdc7b2-baa5-4c72-8d3c-e20269f43a77.png)
I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cann

[2021-09-24 16:39] khouloudbelguith commented on #25967
Hi @tswfi,

I manage to reproduce the issue with PS1763 and PS1780rc
We can reproduce the issue with some fields
for example

- Go to BO > Orders > Invoices page > In the invoices option
- Set `Invoice prefix ` & `Legal free text` & `Footer text ` with this expression `asdf <= qwer` and save
- See error => only the expression `asdf ` is saved

https://drive.google.com/file/d/1x1VFEPpr3qaJ1JTXgS1PU

[2021-09-24 16:58] khouloudbelguith commented on #25841
Hello @dnkhack,

I manage to reproduce the issue with PS1771 and PS1780
![image](https://user-images.githubusercontent.com/16067358/134712986-6f4e3aab-773c-41ea-a9e8-8ee4dc95e99c.png)

With PS1763 + debug mode enabled => ok
I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If

[2021-09-24 19:57] bsylwek opened #25996 "Back office orders errors after upgrading to Prestashop 1.7.7.8"
#### Describe the bug

I have problems after updating with autoupgrade to 1.7.7.8. All modules have been updated. How can this be fixed? However, should you restore from a backup?

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'back office.'
2. Click on 'orders and details'
3. See error

**Screenshots**
![o

[2021-09-24 20:51] the-ge opened #25997 "Title case is forced by CSS in the blockreassurance module admin interface"
#### Describe the bug

Many languages don't use title case, so forcing it by CSS makes the headings look unprofessional.

#### Expected behavior

Let every language decide its capitalization when doing the translation.
In my language, title case prepositions are a definite no-no. Actually, my language does not have title case, period. It only has lower, upper and sentence case. I blame the title c

[2021-09-24 20:52] oldmanxxxv opened #25998 "Product attributes with ID product 0"
#### Describe the bug

We use a lot of master products with variants.
The problem appears when try to create product variants after a while of inactivity, probably a cookie or token is expired.
I have notice when I had some problems with my script that makes updates automatic from a feed, the ID 0 attributes where chosen first and left behind the real ones with assigned product ID.

#### Expected

[2021-09-24 21:08] yo7hli commented on #25996
it's caused by the db schema changes, most likely because you have null fields in your ps_order_state and or ps_order_state_lang tables.
run an sql update to change your null fields to an empty string and see if that fixes it.

[2021-09-24 21:12] bsylwek commented on #25996
I have access to phpmyadmin. What does the command to fix this in phpmyadmin look like?

[2021-09-24 21:32] yo7hli commented on #25996
supposing the `name` column in `ps_order_state_lang` is NULL for some rows, you should run an sql query that would look like
`UPDATE ps_order_state_lang SET name='' WHERE name IS NULL;`

if that's the case, you should at least get a different error message which should point out other fields that need to be updated.

[2021-09-24 21:43] bsylwek commented on #25996
In these tables, I don't see NULL anywhere except Create table. Should I change that?

CREATE TABLE `ps_order_state` (
  `id_order_state` int(10) UNSIGNED NOT NULL,
  `invoice` tinyint(1) UNSIGNED DEFAULT '0',
  `send_email` tinyint(1) UNSIGNED NOT NULL DEFAULT '0',
  `module_name` varchar(255) DEFAULT NULL,
  `color` varchar(32) DEFAULT NULL,
  `unremovable` tinyint(1) UNSIGNED NOT NULL,
  `hidde

[2021-09-24 22:44] serracol commented on #9599
I would like to share a quick fix:

In the file modules/ps_emailalerts/ps_emailalerts.php
replace: Emails.Subject
with this: Modules.Emailalerts.Emailsubject

Now You can change all the Emailsubjets in the module translation (Email Alerts).

Hope this help, but its really amazing that this is not consider before an important fix to be solve by Prestashop.

![subjet_translation](https://user-images

[2021-09-25 05:42] matteolavaggi commented on #9599
Prestashop dev team is inadeguate compared to prestashop selling module
income :) !

Il Sab 25 Set 2021, 00:44 serracol ***@***.***> ha scritto:

[2021-09-25 13:13] hibatallahAouadni commented on #13639
Hello @sarahdib

I didn't manage to reproduce the issue with PS1778, it seems be fixed, see the attached screen record below:

https://watch.screencastify.com/v/KXQzGzGl3PGLFcLufS1p

![image](https://user-images.githubusercontent.com/23308427/134772723-4b4cf8d2-5c50-4f3f-9876-79d3055bab87.png)

Closing this issue as has been fixed :tada:
PS: I attached below an image with size more than 14Mo, if y

[2021-09-25 13:13] #13639 closed, assigned to sarahdib

[2021-09-25 14:16] hibatallahAouadni commented on #13912
@thbl this issue hasn't been fixed yet :disappointed:

[2021-09-25 14:19] jak78 opened #26001 "Customer review module: make rating mandatory"
#### Is your feature request related to a problem?

Customers that write a review tend to put 3/5, without noticing they have to choose a rating. So they put an 'average' rate without having the opportunity to choose an appropriate rating based on their experience with the product or the order.

#### Describe the solution you'd like

Add an option to make rating choice mandatory instead of 3/5 by

[2021-09-25 14:46] rzuf666 commented on #19393
Hello, any update about this problem and fix? Unfortunately, it is quite serious. My customers who we do stores very often use vouchers.

[2021-09-25 17:30] dandumit commented on #16695
This is still persistent in 1.7.7.8 . please merge it properly since it's annoying

[2021-09-25 17:43] HanamiDangos commented on #25282
Hello @Dupflo ,

I have exactly the same version of Prestashop, the same version of the module and the same template and exactly the same thing you mention happens to me.

Have you found a solution to this bug?

Thanks,

[2021-09-25 20:54] shacker2 commented on #9599
i just tested this change, and the translations are not saved in admin area

[2021-09-26 02:46] dnkhack commented on #25841
Hello. Thank you.
Issue can wait and are not important to solve fast.

I'll try to research PS1763 to find a way. I agree about "more people contribute".

Have a good day :)
Kind regards.

[2021-09-26 12:26] matks commented on #9599
Please be sure to review our [Code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md) and be respectful of other users, including PrestaShop developer team. Repeated offenders will be banned.

[2021-09-26 14:23] ADM777 opened #26002 "Closed"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-09-26 15:10] #26002 closed, assigned to nobody

[2021-09-26 16:06] matteolavaggi commented on #9599
Which offenders ? Inadeguate is an offenders? This is respect or censure ?

Il Dom 26 Set 2021, 14:26 Mathieu Ferment ***@***.***> ha
scritto:

[2021-09-26 16:09] matteolavaggi commented on #9599
so prestashop doesn't have a programmer to fix a 5-year-old bug on emails but manages to censor a comment where I say that the prestashop development team is not adequate compared to the volume of business generated by the sale of modules?  this would be offensive to whom?  in what terms?  the first step is to let a source code die for millions of unsolved bugs (already done), the second is to cen

[2021-09-26 16:12] matteolavaggi commented on #9599
Our Standards
Examples of behavior that contributes to creating a positive environment include:

Using welcoming and inclusive language
Being respectful of differing viewpoints and experiences

===>

Gracefully accepting constructive criticism

you can try to pretend that the truth is not exactly what I wrote, the problem is that anyone can see the level of development and attention that has been

[2021-09-26 16:16] serracol commented on #9599
Im lost here, I didn’t realice that sharing a quick but temp fix, will be offensive or an issue for some. Sorry for the trouble, We just want to contribute in some small way to the community…

[2021-09-26 16:18] serracol commented on #9599
Remember to clear cache… I have check this fix on several stores, and they all work just great. Now we can edit emails subjects on module translations section. Best regards,

[2021-09-26 16:18] shacker2 commented on #9599
is not your comment, was matteolavaggi

[2021-09-26 16:23] matteolavaggi commented on #9599
Sure, no problem.

Il Dom 26 Set 2021, 18:18 shacker2 ***@***.***> ha scritto:

[2021-09-27 01:03] wayneoutthere commented on #21009
I know this is closed but I had the following experience just now:

* had a 11MB module
* tried to upload it, got the 'this value should not be null' error above
* increased `post_max_size` limit to 15MB
* tried to upload it again, this time I got "Your limit is 10MB" (didn't get this at all first time when post_max was set to 10MB, got the null error...)
* went back into php.ini and searched the

[2021-09-27 06:15] ghost opened #26003 "Hide expert mode by default when minor chanel selected"
#### Describe the bug

By default the exepert mode is only hide when the major chanel is seletected. The metchant don't see / undestand the bloc is for expert .

#### Expected behavior

Hide also when the minor chandel is slected .

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Auto upgrade module'
2. Select  'Minor Chanel'
3. Refresh the page
4. See the expert mode is open

[2021-09-27 06:47] PierreRambaud commented on #25870
For me, it's not a bug, regarding the code, when you call the toggleStatus function from the object model, it triggers an update, so the hook is logical. :thinking:
![image](https://user-images.githubusercontent.com/1462701/134857659-08ab994a-79c8-437f-ad3f-918abf8deec3.png)

[2021-09-27 07:06] NeOMakinG commented on #25997
ping @prestascott wdyt? I think it's relevant

[2021-09-27 07:21] bsylwek commented on #25996
Is there any more idea why this error is showing up? I cannot find NULL in the indicated database table.

[2021-09-27 07:28] PierreRambaud commented on #9599
In fact, you forget one thing, and it's maybe the more important.
This is an open-source project where anyone can contribute and improve for his purpose, if you think this issue is mandatory for your business, feel free to fix it by creating a pull request, or pay someone to fix the bug if you don't have developer skills, otherwise, be patient.

Unfortunately, the PrestaShop project maintainer tea

[2021-09-27 07:39] matteolavaggi commented on #9599
Thanks dear, for me is not a problem. I have learned (for years) to
absolutely not rely on an open source project that does NOT receive major
bug updates for 4-5 years. So I do NOT need help with this bug (luckily
because I wouldn't have had it anyway). I simply think it RIGHT to remember
EVERY DAY the direction that the prestashop open source project has taken!
Total lack of support, updates and

[2021-09-27 07:44] matks commented on #9599
I confirm.

I wont participate anymore in the discussion, I will simply quote our Code of Conduct https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md

[2021-09-27 08:04] hibatallahAouadni commented on #26001
Hello @jak78

I totally recommend this feature 👏 cause all the time I forget that the rating stars are just above the form. And by default, my review is always 3/5.

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we stro

[2021-09-27 08:09] hibatallahAouadni commented on #25996
Hello @bsylwek

Could you please provide your previous PrestaShop version, the auto upgrade module version.
Please check and feedback.

PS: thanks @yo7hli for your quick replies 🚀

Thanks!

[2021-09-27 08:15] bsylwek commented on #25996
1-Click Upgrade v4.12.0 , previous version Prestashop 1.7.7.7

[2021-09-27 08:25] bsylwek commented on #25996
I have already looked through the orders and this error appears only where there was a payment with PAYPAL. Where there is a bank transfer no error.
![obraz](https://user-images.githubusercontent.com/66308504/134871539-9ed3c01f-8d5b-47fc-bd92-f60cd68d6adc.png)
PayPal v5.4.5
PrestaShop Checkout v2.0.6

[2021-09-27 09:22] PereDaurell opened #26006 "Problem using coupon in products with different VATs"
#### Describe the bug

Discounts applied with coupons miscalculate the base prices when the coupon applies only to one of the items.

#### Expected behavior

The first item should have a base price with the total coupon discount applied. The second item should not carry any discount or amount addition (as it happens)

#### Steps to Reproduce

Steps to reproduce the behavior:

1.- Create a coupon o

[2021-09-27 09:36] hibatallahAouadni commented on #25997
Hello @the-ge

Thanks for your issue!
It seems as an improvement more than a bug :wink:
As in the older version the whole sentence was uppercased, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/134883744-1bc0c6a0-978f-4045-9be4-6eb273b0739f.png)

So thank you for your suggestion and your PR!
The Product Team will take it into consideration for futur

[2021-09-27 09:45] PierreRambaud commented on #9599
have a clear idea of how an open source project is moving, or am I wrong?
Maybe this can help the prestahsop team invest a few more bucks in
development.

Yes, you're clearly wrong with that.
It's not the responsibility of the PrestaShop company to invest alone in this project.
I really think you don't know how open source work.
Look at OpenStack, a lot of companies are paying and invest in the so

[2021-09-27 10:04] matks opened #26007 "Migrate "Shop parameters > Customer settings > Groups > View group" page"
Part of Symfony migration project

[2021-09-27 10:05] matks commented on #26007
FYI @MatShir just discovered that page in the back office 😞

[2021-09-27 10:07] #25711 closed, assigned to Progi1984

[2021-09-27 10:11] zuk3975 commented on #26007
**Notice**
Related code should be placed under `Core/Domain/Customer/Group/*`, `Adapter/Customer/Group/*` etc.

[2021-09-27 11:07] yo7hli commented on #25996
@bsylwek
check if the `current_state` field in db table `ps_orders` corresponds to a valid `id_order_state` in `ps_order_state` and `ps_order_state_lang` for the id_order in question

[2021-09-27 11:13] hibatallahAouadni commented on #26003
Hello @okom3pom

I was able to reproduce the issue with PrestaShop version 1.7.8.0_rc1, PS1778, PS1767 and with **1-Click Upgrade** v4.12.0, v4.11.0 and v4.10.0:

![image](https://user-images.githubusercontent.com/23308427/134893174-0afdb17c-a716-487b-b778-5f883681f1f5.png)

 I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, som

[2021-09-27 11:30] okom3pom commented on #26003
Thank you @hibatallahAouadni i wait the answer from PM before my PR

[2021-09-27 11:50] tenenick commented on #23010
Hi guys thanks a lot for the great work.
Just one question, what will be the recommended PHP-Version to use with Prestahsop 1.7.8.0 ?

[2021-09-27 11:52] matks commented on #23010
That would be PHP7.4 😉  which is also the main maintained branch of PHP. PHP 7.3 has security support only and this support will end in 2 months.

[2021-09-27 11:55] tenenick commented on #23010
Thanks for the ultra quick answer!!

[2021-09-27 12:13] PululuK opened #26008 "[BUG] Country name translation"
#### Describe the bug

Since the latest versions of PrestaShop, the country names are in english, even if you install the store in another language

#### Expected behavior

The names of the countries must be translated into the languages ​​concerned

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install PS 1.7.7.7 (in FR)
2. Go to `BO > International >  Zones > Countries`
3. Edit a

[2021-09-27 13:11] bsylwek commented on #25996
Do you have an order number with this error at the end?
`SELECT sl.name FROM ps_orders AS o LEFT JOIN ps_order_state_lang sl ON (sl.id_order_state = o.current_state) WHERE o.id_order = 5;`

I get this message in phpmyadmin after giving this command.
Rows 0 - 1 shown (2 total, The query took 0.0007 seconds to execute.)

[2021-09-27 13:49] hibatallahAouadni commented on #25998
Hello @oldmanxxxv

I didn't manage to reproduce the issue with PS1778 and PS1767, see the attached screenshots below:

Before creating the second combination:
![image](https://user-images.githubusercontent.com/23308427/134921488-9f71bd4c-cf91-470d-a39c-9e5012fd3a41.png)

After creating the second combination:
![image](https://user-images.githubusercontent.com/23308427/134921599-362de326-60ec-43bb-

[2021-09-27 13:52] hibatallahAouadni commented on #25996
Hello @bsylwek

Did you check with the Module Developer, cause I didn't manage to reproduce your issue :disappointed:
Please check with Paypal module Developer and feedback.

Thanks!

[2021-09-27 14:09] marionf commented on #26003
Hello @okom3pom

On my side the behavior is different:
The channel "minor release" is selected by default and the "expert mode" is open and I can close it by clicking on "less options".
If I select the channel "major release", the "expert mode" stays open and I can close it by clicking on "less options".

As we plan to display [the table of compatibility between PS version and PHP versions](https:

[2021-09-27 14:15] hibatallahAouadni commented on #22429
Hello everyone,

I reproduce the issue even with PS1767, see the attached screen record below:

https://watch.screencastify.com/v/qfzhQCjfSHlQXpkxQzlh

Thanks!

[2021-09-27 14:16] okom3pom commented on #26003
Thank you @marionf i see you Thursday, For me the expert mod is not open when using the chanel major.

I close this issue.

[2021-09-27 14:16] #26003 closed, assigned to nobody

[2021-09-27 14:56] bsylwek commented on #25996
I wrote to the developer of the PAYPAL module.

[2021-09-27 15:02] hibatallahAouadni commented on #25996
Great, let's wait for his feedback :wink:

[2021-09-27 15:19] prestascott commented on #25997
Hello everyone,

Thank you @the-ge for your request. Yep, the title case shouldn't be forced and only the first letter in the title should be in capital letter.

LGTM

[2021-09-27 15:44] hibatallahAouadni commented on #25801
Hello @metacreo

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-09-27 15:44] #25801 closed, assigned to nobody

[2021-09-27 16:05] hibatallahAouadni commented on #26006
Hello @PereDaurell

Thanks for your issue!
This is a known rounding issue, you can find in this EPIC #19445 all issues related/duplicate to your issue.
Please check and feedback.

Thanks!

[2021-09-27 16:17] hibatallahAouadni commented on #26008
Hello @PululuK

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #12168.
This issue has been fixed with PS1780_rc1, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/134946684-8046e278-9aea-4bf8-9b0f-0901eb745cfc.png)

Thanks!

[2021-09-27 16:17] #26008 closed, assigned to nobody

[2021-09-27 16:17] hibatallahAouadni commented on #26008
Duplicate of #12168

[2021-09-27 18:11] #25684 closed, assigned to Progi1984

[2021-09-27 18:47] bsylwek commented on #25996
Most likely I solved the problem. After the update, only one language is added, e.g. 1 English. All languages ​​must be present if installed as there will be bugs. Below, for example, added for the language.

`INSERT INTO `ps_order_state_lang` (`id_order_state`, `id_lang`, `name`, `template`) VALUES
(22, 1, 'Waiting for PayPal payment', 'payment'),
(23, 1, 'Waiting for Credit Card Payment', 'payme

[2021-09-27 20:39] matks commented on #9599
I was not planning to add anything but I just read again the wonderful [post](https://m.signalvnoise.com/software-has-bugs-this-is-normal/) "Software has bugs. This is normal" by dhh and found a piece very relevant.

So here's an opinion from the founder of Ruby on Rails about adding more developers to fix more bugs :/ .

[2021-09-28 06:29] lmeyer1 opened #26011 "PR checks fail with error"
#### Describe the bug

Pull request scripts fail with error

see https://github.com/PrestaShop/PrestaShop/pull/25992/checks?check_run_id=3729007871

This error is unrelated to PR.

#### Expected behavior

PR checks should not fail with this error

#### Steps to Reproduce

Create new PR

#### Additional information

* PrestaShop version: develop
* PHP version: N/A

[2021-09-28 06:48] NoZTurn opened #26012 "ISO code at BO Localization/Languages should be ISO 3166-1 alpha-2 code not ISO_639-1_codes"
#### Describe the bug

When I add a language here: International - Localization-Languages -- Add new language in the BO, the second textarea is ISO code, follow the HELP popup it was explained as follows:
_ISO code. Enter the adequate 2-letter ISO 639-1 code. See http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes for more information.If you are importing a language pack, this code should exactly

[2021-09-28 07:06] florine2623 commented on #26012
Hello @NoZTurn ,

I'll ping Product team to have their opinion on this topic.
Please stay tuned. Thanks!

[2021-09-28 07:08] florine2623 commented on #26012
Ping @PrestaShop/product-team ,

Could you give @NoZTurn an explanation on why the ISO code and Language code are build this way ?
Thanks a lot

[2021-09-28 07:18] tiedh opened #26013 "ps_facetedsearch module bug: Search with Null quantity options, but there are still available products in the results."
#### Describe the bug

I found this problem after I try to search to find out of stock products using ps_facetedsearch module.
The product found that the problem is a Product with combinations. I think the module only searches only with quantity of Simple product.

#### Expected behavior

I think the module should able to find Simple products and the product with combinations whose sum of combinat

[2021-09-28 07:44] marwachelly opened #26014 "BO - Multistore -URL-BO doesn't exist anymore after creating new shop with invalid URL"
#### Describe the bug

BO doesn't exist anymore after creating new shop with invalid URL

#### Expected behavior

Red alert when entering an invalid URL.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to shop parameters > General> Enable multistore> yes.
2. Click on advanced > parameters> Multistore>Add new shop
3. Set an  invalid URL for this shop for exemple (set the Virtual U

[2021-09-28 07:52] PululuK commented on #26008
Thank you @hibatallahAouadni !

[2021-09-28 08:06] florine2623 commented on #26013
Hello @tiedh ,

I can't reproduce your issue with PS 1.7.7.8 and ps_facetedsearch v3.7.1.
<img width="1225" alt="Screenshot 2021-09-28 at 09 59 07" src="https://user-images.githubusercontent.com/16019289/135048211-3d0251b0-618e-476d-9e66-3d8fc07dbc19.png">
<img width="888" alt="Screenshot 2021-09-28 at 09 59 21" src="https://user-images.githubusercontent.com/16019289/135048219-22569550-f0b0-48b2-9

[2021-09-28 08:06] #26013 closed, assigned to nobody

[2021-09-28 08:24] kpodemski commented on #25801
Hello @metacreo

I couldn't reproduce this issue with PrestaShop 1.7.8. PrestaShop uses 6.2 of TCPDF in this version, and after updating to the latest version (6.4.2), everything is working as expected.

It seems that this error has been fixed in some v6.3, but PrestaShop was not using this version.

I've tested it on PHP 8.

[2021-09-28 08:29] tiedh commented on #26013
Hello @florine2623 ,

I can't also reproduce follow your product created by virtual product with combinations.

Because, Product with combinations is can be create with Standard product only.

How you can create the product?

[2021-09-28 08:40] NoZTurn commented on #26012
thanks, and another suggestion is if we can change to use language code in the url in FO to distiguage different languages? for example: https://www.microsoft.com/en-us/locale.aspx .

[2021-09-28 08:47] florine2623 commented on #26011
ping @matks @PrestaShop/prestashop-core-developers ,

Do you experience the same issue when creating a PR ? Could you check please ?
Thanks !

[2021-09-28 08:51] kpodemski commented on #26011
This has been fixed already on `1.7.8.x`, and the PR merging `1.7.8.x` to `develop` is waiting for approvals.

[2021-09-28 08:52] kpodemski commented on #26011
@lmeyer1 you can try close/open your PR or just rebase 👍

[2021-09-28 09:02] mikeKstm commented on #9594
Still present on **1.7.7.8**? I can't believe this **hasn't been fixed since 2018!!!**

![image](https://user-images.githubusercontent.com/39406664/135057174-ec1a6400-2ae1-4e87-b1d5-0e4ac13b10ba.png)

[2021-09-28 09:04] NoZTurn commented on #26012
I search a litter, and I think this is not a new problem, here is a list of related issues:

https://github.com/PrestaShop/PrestaShop/issues/16070
https://github.com/PrestaShop/PrestaShop/issues/16029
https://github.com/PrestaShop/PrestaShop/issues/16004
https://github.com/PrestaShop/PrestaShop/issues/21483
https://github.com/PrestaShop/PrestaShop/issues/24254

[2021-09-28 09:20] mikeKstm commented on #9594
@kpodemski sure I will, thanks for the reply. This is a basic use of carriers, maybe this would be a priority to the comunity before blockreassurance (something aesthetic) in an e-commerce.

Regards

[2021-09-28 09:35] Progi1984 commented on #25980
Thanks @Hlavtox

[2021-09-28 09:54] tiedh opened #26016 "ps_facetedsearch module bug: Search with "Not available" options, but there are still available products in the results."
Refer: #26013
The bug report closed. Because my steps to reproduce not clear.

Describe the bug
I found this problem after I try to search to find out of stock products using ps_facetedsearch module.
The product found that the problem is a Product with combinations. I think the module only searches only with quantity of Simple product.

Expected behavior
I think the module should able to find "Sim

[2021-09-28 10:07] Progi1984 commented on #25841
@PrestaShop/product-team This issue should be fixed in `8.0.0` as it's not a `1.7.8.x` regression. Isn't it ?

[2021-09-28 10:15] mparvazi opened #26017 "[BO] Mismatch between default-theme and new-theme for RTL languages"
Hello,

#### Describe the bug

There is two themes for back-office, default and new-theme:
public_html/admin/themes/default
public_html/admin/themes/new-theme

Some pages works with default-theme and some pages works with new-theme.
I checked RTL version of default-theme and new-theme source codes (theme.rtlfix) and i found some problems:
1. Mismatch: Some CSS rules not exported from default-theme

[2021-09-28 10:21] MageParts opened #26018 "Missing PHP extension requirements in composer.json"
#### Describe the bug

You are missing definitions for **zlib** and **jpeg** in your **composer.json**

#### Expected behavior

Running **composer install** should work

#### Steps to Reproduce

1. Compile PHP from source with the listed requirements from the documentation and **composer.json**
2. Download PrestaShop.
3. Run **composer install** from source directory. (this will fail since **zlib*

[2021-09-28 10:44] florine2623 commented on #26017
Hello @mparvazi ,

For your first issue I managed to reproduce it in PS 1.7.8.x :

<img width="305" alt="Screenshot 2021-09-28 at 12 42 54" src="https://user-images.githubusercontent.com/16019289/135072588-ba747a71-1f5b-4737-85c0-2d41b11863a5.png">

Only classic template is available :
<img width="1199" alt="Screenshot 2021-09-28 at 12 42 18" src="https://user-images.githubusercontent.com/16019289

[2021-09-28 11:01] mparvazi commented on #26017
Hello @florine2623,

This problem is related to the admin template for Persian language. In BO by selecting Persian as default language for back-office you can see the problem, different font style for different pages. I think the screenshot that you sent is related to front-office. Theme style for Persian language is hard-coded in css files:

.../admin/themes/default/public/theme.rtlfix
.../admin

[2021-09-28 11:07] #25983 closed, assigned to Progi1984

[2021-09-28 11:33] #21475 closed, assigned to Progi1984

[2021-09-28 12:14] #25870 closed, assigned to yo7hli

[2021-09-28 12:18] florine2623 commented on #26018
Hello @MageParts ,

I did the following and didn't have any issues :
`git clone https://github.com/PrestaShop/PrestaShop.git`
`composer install & make assets`

The shop is installed correctly :
<img width="977" alt="Screenshot 2021-09-28 at 14 17 02" src="https://user-images.githubusercontent.com/16019289/135084992-1c4ef059-066e-407a-995a-bd1f814ecd4e.png">

I didn't encounter the bug.
Is there so

[2021-09-28 12:20] florine2623 commented on #26011
Thanks @kpodemski !

@lmeyer1 could you try what @kpodemski suggested and feedback ?
Thanks!

[2021-09-28 12:22] matks commented on #26018
@MageParts Could you give us a list of exactly what extensions you have installed?

@florine2623 it seems a specific PHP setup is required

[code]
The script above will output what is useful.

I just tried with a default PHP from homebrew, I have zlib but not jpeg and I see no issue

[2021-09-28 12:28] lmeyer1 commented on #26011
Everything is ok mow! Thanks.

[2021-09-28 12:28] #26011 closed, assigned to nobody

[2021-09-28 12:28] Rho-bur opened #26020 "Allow the '&' character in product names to be indexed for search"
#### Is your feature request related to a problem?

"Search indexes only alphanumeric characters but a few times I had to modify this behaviour to allow products containing the & in name to be indexed as merchants having such products in catalog complain about these products missing from search. The most recent example is a beverages wholesaler having products like J&B and similar which didn't app

[2021-09-28 12:45] MageParts commented on #26018
Hi!

Sorry, I do not really have time to provide you guys with any of the above, you will need to compile PHP from source to see the problems I referenced (using homebrew, for example, would not be helpful in this case).

You can also just refer to the PHP manual for these extensions, they are clearly listed as not being enabled by default:

https://www.php.net/manual/en/image.installation.php
htt

[2021-09-28 13:31] florine2623 commented on #26020
Hello @Rho-bur ,

I do have this behavior in PS 1.7.8.X and develop, ps_searchbar v2.1.1.
<img width="939" alt="Screenshot 2021-09-28 at 15 24 59" src="https://user-images.githubusercontent.com/16019289/135095769-52707a13-3967-439b-9ea7-1ffc5777b22e.png">

<img width="1097" alt="Screenshot 2021-09-28 at 15 24 45" src="https://user-images.githubusercontent.com/16019289/135096000-33c9d680-ac10-405f-

[2021-09-28 13:34] florine2623 commented on #25945
Hello @prestaquality ,

I see that you submitted a new PR. Can you update your issue so it can be tested ?

[2021-09-28 13:44] Rho-bur commented on #26020
Hello @florine2623!
I have submitted this for 1.7.7x.
Did you test the same on lower than 1.7.8?

[2021-09-28 14:26] atomiix commented on #25959
Fixed by #25982

[2021-09-28 14:26] #25959 closed, assigned to atomiix

[2021-09-28 15:33] florine2623 commented on #26016
Hello @tiedh ,

Thanks for the details.
The product is displayed because one combination is out-of stock, but there is stock for other combination.
It shows the red combination because it is the Default Combination.

That's how it is supposed to work.

[2021-09-28 16:43] florine2623 commented on #26017
Thanks for the details.

I have the same behavior in my PS 1.7.8.x shop :
Dashboard page :
<img width="214" alt="Screenshot 2021-09-28 at 18 40 51" src="https://user-images.githubusercontent.com/16019289/135129769-67499e43-381e-4c5b-ae5e-61defe31e2b3.png">
Employee page :
<img width="199" alt="Screenshot 2021-09-28 at 18 40 56" src="https://user-images.githubusercontent.com/16019289/135129790-969b

[2021-09-28 16:44] florine2623 commented on #26017
ping @PrestaShop/prestashop-core-developers & @NeOMakinG ,

What do you think about @mparvazi 's issue ? Is it the normal behavior ?
Thanks !

[2021-09-28 22:18] dnkhack commented on #25841
Hi. Thank you for tips. I test - not work. Because - private method.
![image](https://user-images.githubusercontent.com/35419462/135170443-651d099c-67a5-45af-9aee-a61d1527b5b5.png)

It is will be work if private function isFreeShipping in parent class change to protected.
![image](https://user-images.githubusercontent.com/35419462/135171903-24481a66-cd38-4abc-822a-8dc4e0e6b533.png)

But we get oth

[2021-09-28 22:22] fall-en commented on #24877
I checked it with last update and issue was still not solved.

[2021-09-28 23:56] andromaque commented on #25975
If the classic theme will remain usable with PS 8.0.0, and everyone agrees that it is outdated, why bother to still maintain it in PS 8.x? The only thing people need is to have it working so it won't prevent an upgrade from 1.7 -> 8.0. And if/when people with a classic theme in 8.0.0 will want to benefit from the new theme architecture, then they'll rewrite their theme based on the new one, and th

[2021-09-29 04:15] schattenfell commented on #26016
Hello @florine2623 ,

the problem here is, that also our own clients see this "feature" buggy. We have several shop owners, that constantly complain about this behavior.

To give you a good example, what is meant:

-> create a product that has combinations, e.g. a Jeans with sizes S, SM, M, L, XL, XXL, XXXL [...]
-> give all combinations a stock value > 0 except one, that is out of stock (e.g. siz

[2021-09-29 06:40] bsh commented on #24877
Stripe Official fixed this:
2.3.2 @yves202 yves202 released this on Jul 15
[] Create new payment intent when returning in checkout after selecting the payment method

[2021-09-29 07:00] alema9 commented on #26008
Great work

[2021-09-29 07:43] NeOMakinG commented on #26017
Hey @mparvazi @florine2623

It looks like it's not a normal behavior :)

We worked on default styling to match with new theme, but this is a miss and should be fixed tbh!

[2021-09-29 07:45] tone87 opened #26023 "1-Click Upgrade from 1.7.5.1 to 1.7.7.8 error"
#### Describe the bug

I tried to upgrade version more times but fail on upgrate db.

`[INTERNAL] /var/www/vhosts/***********/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 168 - Symfony\Component\Config\Exception\FileLoaderLoadException: Expected to find class "PrestaShopBundle\Controller\Admin\Configure\index" in file "/var/www/vhosts/***********/src/PrestaShopBun

[2021-09-29 07:54] #25942 closed, assigned to Progi1984

[2021-09-29 08:24] metacreo commented on #25801
Latest PS is 1.7.7.8 (1.7.8 still beta). 1.7.7.8 use 6.3.2 /vendor/tecnickcom/tcpdf/tcpdf.php
To reproduce this issue you need create module who generate some pdf. You need assign image file to pdf CONTENT section.
Here my module full function (based on code example from https://devdocs.prestashop.com/1.7/modules/concepts/pdf/)
`
    public function generatePdfFile($type)
    {
        // /modules

[2021-09-29 08:26] hibatallahAouadni commented on #26023
Hello @tone87

I didn't manage to reproduce your issue with provided infos.
Could you please provide more details, like did you delete a customer with a lot orders or did you delete a language or a currency before the upgrade.
Please check and feedback.

Thanks!

[2021-09-29 08:28] kpodemski commented on #25801
@metacreo

1.7.8 uses 6.2:
https://github.com/PrestaShop/PrestaShop/blob/1.7.8.x/composer.json#L117

I've tried to reproduce this issue by creating a module as you said, but I didn't manage to reproduce it. Maybe you've updated your TCPDF by mistake?

[2021-09-29 08:34] metacreo commented on #25801
No. I checked on 2 last PS instalation. 1.7.7.7 and 1.7.7.8 both have 6.3.2 tcpdf. Prestashop downloaded from PS site not from git.

[2021-09-29 08:36] kpodemski commented on #25801
@metacreo thanks, let me check that again

[2021-09-29 08:38] tone87 commented on #26023
Hi, no, i never delete language , currency or orders
i just installed 1 click upgrade module and try to start on staging site
i tried to switch php version but the problem are the same and i can't know where are the problem.

[2021-09-29 08:42] metacreo commented on #25801
PS updated via 1-Click, maybe 1-click update vendors?

[2021-09-29 08:43] kpodemski commented on #25801
@metacreo no, no, I didn't notice `^` in composer.json, I still cannot reproduce this error on PHP 8, I'll check on 7.3

[2021-09-29 08:47] kpodemski commented on #25801
[demopdfbug.zip](https://github.com/PrestaShop/PrestaShop/files/7250337/demopdfbug.zip)

Could you check this example module? I've tested it on PHP 8 and PHP 7.3, my is not deleted during the generation

[2021-09-29 08:48] mparvazi commented on #26017
Hello @NeOMakinG

I can fix this issue. I made these changes on my store for **theme.rtlfix** files and the problem was solved.

Two changes are needed:

1. New font face definition for Persian language ([Vazir v30.1.0](https://github.com/rastikerdar/vazir-font) An Optimized Persian font for web)
2. Exporting missed css rules from legacy to new theme

If you want me to make these changes as a PR,

[2021-09-29 08:51] ghost opened #26025 "Bad display when multishop enable Blockreassurance"
#### Describe the bug

Bad display when multishop enable on Blockreassurance module

#### Expected behavior

Good display

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enabble Multishop
2. Go to Blockreassurance module

**Screenshots**

![Capture d’écran de 2021-09-29 10-30-56](https://user-images.githubusercontent.com/5064590/135232845-bcf1ec6f-cc63-4dff-869b-61f725971d77.png)

!

[2021-09-29 08:57] NeOMakinG commented on #26017
@mparvazi Feel free, it would be awesome :)

We need to define if it needs to be fixed on 1.7.8.x branch or on develop @PrestaShop/product-team

[2021-09-29 09:05] marionf commented on #26017
@neomaking it seems that this issue isn't a regression of the 1.7.8, so the PR can be done on develop ;)

[2021-09-29 10:10] metacreo commented on #25801
Thanks tested. Your module not shown the bug. I found that this issue only on multi-paged pdf I upgraded module, check now
[demopdfbug.zip](https://github.com/PrestaShop/PrestaShop/files/7250945/demopdfbug.zip)
.

[2021-09-29 10:29] hibatallahAouadni commented on #26025
Hello @okom3pom

Could you please provide the blockassurance version 🙏

Thanks in advance!

[2021-09-29 10:40] kpodemski commented on #25801
@metacreo

Thank you for the updated version. Unfortunately, I still cannot reproduce this issue.

I'm going to the module configuration, to re-generate the PDF, all images from the `/views/img/pdf` are still there, even after the regeneration.

Is there anything else that might be an issue here? Maybe you use a different font than the default one?

[2021-09-29 11:12] #19590 closed, assigned to Progi1984

[2021-09-29 11:17] metacreo commented on #25801
Now I tried 3 different ps installations with last demopdfbug.zip All 3 servers running with PHP 7.3, PS 1.7.7.8, tcpdf libs 6.3.2
After click Configure images from /views/img/pdf removed. I can try upgrade PHP to 8 but afraid that 1.7.7.8 presta works incorrectly.

[2021-09-29 11:20] kpodemski commented on #25801
@metacreo I've checked this issue on PHP 7.3.11.

@PrestaShop/prestashop-maintainers can someone help with this, please? All you need to do is to download the module provided by metacreo, install it, click the configuration button, and see if there are still images in `views/img/pdf` 💪

[2021-09-29 11:47] okom3pom commented on #26025
v5.1.0 - par PrestaShop or the dev

[2021-09-29 12:00] lmeyer1 commented on #25990
There is a second issue with the display of modern email template in Outlook desktop.
The footer is not centered as it is in all other email-clients.
![2021-09-29_135923](https://user-images.githubusercontent.com/7520695/135264159-f2fc6e71-ec43-4845-bab7-26536bcf9844.png)

[2021-09-29 12:09] tenenick opened #26028 "Cannot install any module on 1.7.8.0 when the employee language is spanish"
#### Describe the bug

It is no possible to install any module.zip with the upload function. when the employee language is spanish

#### Expected behavior

1. Drag&Drop should start the install process
2. The same should happen by using the "select the file" link

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Change employee language to Spanish
1. Go to the Module manager
2. Click

[2021-09-29 12:45] #25989 closed, assigned to nobody

[2021-09-29 14:15] hibatallahAouadni commented on #26028
Hello @tenenick

I didn't manage to reproduce your issue with PS1780_rc1, see the attached screen record below:

https://watch.screencastify.com/v/OKwUgfGy7vBv3v3l1uFd

Please check and feedback.
Thanks!

[2021-09-29 15:50] thequickmick opened #26029 "Sometimes Order is Split in 2 /// Paypal Payment"
#### Describe the bug

Sometimes, an Order is Split in 2 Orders with different Numers. Only with Payment Paypal.
Can't see the Reason for that! Paypal log with no issue... Order Timecode almost the same, or with 1 Second diffence.

#### Additional information

* PrestaShop version: 1.7.6.3
* PHP version: N/A

[2021-09-29 15:59] #13007 closed, assigned to jolelievre

[2021-09-29 16:02] hibatallahAouadni commented on #26029
Hello @thequickmick

Could you please check this issue #9594 seems duplicate to yours.
And could you please provide more details (steps to reproduce, screen record, screenshots, php version, ...).
Please check and feedback.

Thanks!

[2021-09-29 17:20] itsvahid commented on #26017
Hi
It's also related to this issue I had opened #25785

[2021-09-29 18:38] tenenick commented on #25975
Hi guys. I am only a user, so a will give my opinion from that side.
I think there really should be a new FO theme with more universal features like pagebuilder, more multipurpose, like the warehouse theme for example. I don't know it's a crazy idea perhaps, how about a crowdfounding to implement such a paid theme ?
I mean paying the developer of warehouse theme or so. I would pay for this for sur

[2021-09-29 18:51] mikmikmik opened #26030 "Classic theme built throws error Uncaught TypeError: f.selectors is undefined from product.js createProductSpin()"
#### Describe the bug

I built the Classic theme with latest git files but bootstrap-touchspin doesn't work and throws an error from product.js (line 130):
[code]

#### Expected behavior
To have the same Classic theme.
Maybe the 1-click update doesn't give the same 1.7.7.8 version of core files ?
I noticed the change with selectors happened at this commit
https://github.com/PrestaShop/PrestaShop/b

[2021-09-29 18:55] mikmikmik commented on #26030
Maybe I need the latest full prestashop from git to have the theme to work?
What is going on with this theme? I've seen some discussion about ditching it. Is it a reliable source to build a new theme from?

[2021-09-29 19:04] mikmikmik commented on #26030
Rahhh I took the theme from the wrong branch!
Misleading 1.7.7.x and 1.7.8.x with my install which is 1.7.7.8

[2021-09-29 19:05] #26030 closed, assigned to nobody

[2021-09-29 20:22] eveneme opened #26031 "Warning module/Module.php"
error after entering the admin panel

Screenshot: https://i.ibb.co/6grMv5K/obraz-2021-09-29-222213.png

**Linux #1 SMP Fri Jul 23 07:07:00 EDT 2021 x86_64
LiteSpeed
php 7.4.23**

/home/draco94/domains/bimmerstore.pl/public_html/test/classes/module/Module.php
[2] file_exists(): open_basedir restriction in effect. File(/views/templates/hook/HookDashboardZoneTwo.tpl) is not within the allowed path(s)

[2021-09-29 23:19] eveneme commented on #25975
A new template could be very useful, better written, in line with the latest standards, better adapted to mobile devices.  And since have to adapt new modules, templates for the newer version are a normal thing. Prestashop 8.0.0 will support php 8.0 and it will look like it supports php 5.4: D The new template should be created in version 8.0.0 that would also give a new dimension to people who cr

[2021-09-30 00:34] ProteanCode opened #26032 "Compiling the blockreassurance module breaks the url of the files"
#### Describe the bug

Since my customer requested me to make the blockreassurance description longer than default 100 chars, I do have to recompile

I simply cloned the https://github.com/PrestaShop/blockreassurance/tree/v5.0.0 and after some changes to index.js inside _dev/back directory I recompiled the dist directory.

For that I have switched to NodeJS `v10.16.2` and NPM `6.9.0` and ran `npm

[2021-09-30 04:42] okom3pom commented on #26025
Hello @hibatallahAouadni

https://okom3pom.com/videos/PrestaShop-blockreassurance.webm

Regards

[2021-09-30 07:18] matks commented on #13007
Nice work @jolelievre !

[2021-09-30 07:21] jf-viguier commented on #22215
I've facing the same issue, data come from an 1.6 version. I've null values in several tables.

[2021-09-30 07:37] NeOMakinG commented on #25975
Just reminded me that I need to add some `strip` tags everywhere in the new theme 😆

[2021-09-30 07:39] jf-viguier commented on #22510
Duplicate of issue https://github.com/PrestaShop/PrestaShop/issues/22386

[2021-09-30 08:10] hibatallahAouadni commented on #26031
Hello @eveneme

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-09-30 08:10] #26031 closed, assigned to nobody

[2021-09-30 08:23] milla-dev opened #26033 "reduction code error"
Hello,

I have found that if I delete the "reduction code" field value and if I leave it empty, then the reduction is applied automatically on all the new orders. The idea of deleting the Reduction Code field value was that I am using the reduction codes only for the ProFormas by selecting manually a "reduction name" and not by putting the code value into the proforma. I do not share the codes to

[2021-09-30 08:47] ghost opened #26034 "Don't hide expert mode when major chanel selected. Autoupgrade"
#### Is your feature request related to a problem?

Do not hide the expert mode when the major chanel is selected to see the php prestsashop compatibility

#### Describe the solution you'd like

Do not hide the default expert mode so that the merchant can see the compatibility table.

This is the opposite of: https://github.com/PrestaShop/PrestaShop/issues/26003

[2021-09-30 08:48] okom3pom commented on #26034
@marionf

[2021-09-30 09:02] jmirasolswg commented on #19810
Hi everyone, I'm pretty new to Prestashop and I found this article. I have the same problem with a project I'm working on -- the sorting process behaves weird -- especially if there are products with discounts. I have been following this thread for quite some time now. I tried to experiment with the Faceted Search module and attempted to create a new sort order for discounts but as I found out whi

[2021-09-30 09:13] ioweb-gr commented on #19810
I've tried contacting some of the more experienced development companies in the Prestashop ecosystem to see if anyone is willing to tackle this however I'm not sure if we could cover the budget needed for it

Hopefully finding someone who can solve it would be a good start though

@PierreRambaud no worries, I understand written words can be misinterpreted so I was wrong as well not trying to clari

[2021-09-30 09:24] ghost opened #26035 "Remove useless message Autoupgrade module"
#### Is your feature request related to a problem?

When we select the minor chanel there is a message that is no longer necessary.

#### Describe the solution you'd like

Remove the message

#### Additional context

![Capture d’écran de 2021-09-30 11-23-07](https://user-images.githubusercontent.com/5064590/135425888-dc5fb046-e8a0-4905-8964-7158ecf32716.png)

[2021-09-30 09:24] okom3pom commented on #26035
@marionf

[2021-09-30 09:26] bm-services commented on #20746
Hello,
To reproduce, it's easy:

- on a product list, change sort by "product name" and "asc"
- check server logs, you have something like this:
`PHP Fatal error:  Uncaught exception 'Exception' with message 'Invalid SortOrder direction 'asc/'. Expecting one of: 'ASC', 'DESC', or 'RANDOM'.' in .../www/src/Core/Product/Search/SortOrder.php:120`

[2021-09-30 09:37] hibatallahAouadni commented on #26033
Hello @milla-dev

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-09-30 09:37] #26033 closed, assigned to nobody

[2021-09-30 09:41] Speedy1010 opened #26091 "Prestashop 1.7.6.3 stream Google A doesn't work after I put my Analytics ID"
#### Describe the bug

stream doesn't work after i put my Analytics ID in Google Analytics free Prestashop module, I tried everything, can anyone help me?

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

![image](https://user-ima

[2021-09-30 09:57] okom3pom commented on #26032
Hello,

I reproduce also  this issue with the dev branch.

`http://127.0.0.1/var/www/html/177/PrestaShop/modules/blockreassurance/views/dista855ff2d546377320dd5.woff `

And a slash is missing after dist

![Capture d’écran de 2021-09-30 11-52-36](https://user-images.githubusercontent.com/5064590/135430687-17c7a1f8-7c55-4910-9ccc-fdc5a44eeaca.png)

If we test the 5.1.0 the module don't work

[2021-09-30 10:02] kpodemski commented on #26032
I'm working on it. https://github.com/PrestaShop/blockreassurance/pull/209

[2021-09-30 10:09] hibatallahAouadni commented on #26032
Ping @kpodemski do you think it's duplicate of #22892? IMO I don't think it's the same :confused:

[2021-09-30 10:10] kpodemski commented on #26032
@hibatallahAouadni it's not a duplicate, while working on #22892 I've discovered more issues

[2021-09-30 10:15] hibatallahAouadni commented on #26032
@kpodemski I see :slightly_smiling_face: thanks for your PR :tada:
Thanks @ProteanCode for reporting the issue!
And thanks @okom3pom for cyour quick reply :superhero:

[2021-09-30 10:28] mikmikmik opened #26036 "Module Manage page ContextErrorException Critical on 1.7.7.8 when debug ON"
#### Describe the bug

PHP Warning:  A non-numeric value encountered in /public_html/src/Adapter/Presenter/Module/ModulePresenter.php on line 66
It causes a 500 response with 2 Critical errors and can't load the page unless I disable debug.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Upgrade from 1.7.7.7 to 1.7.7.8
2. Turn Debug ON
3. Visit Module Manage admin page
4. See error

[2021-09-30 12:26] weihan00ae commented on #26036
Same error.

[2021-09-30 12:52] maldarol commented on #26036
I have this problem too

[2021-09-30 12:54] krekken commented on #26036
yep, same issue her

[2021-09-30 12:57] hibatallahAouadni commented on #26036
Hello @mikmikmik

We are aware of this issue and we are working to fix it ASAP.
Thanks for your patience :pray:

[2021-09-30 13:35] theMost1ted opened #26039 "upgrade to 1.7.7.5 from 1.6.1.24 : Fatal error: Uncaught Unknown column 'h.live_edit' in /var/www/html/classes/db/Db.php on line 769"
#### Describe the bug

After upgrading to Prestashop 1.7.7.5 from 1.6.1.24 I now have this :
<html>
<body>

Fatal error: Uncaught Unknown column 'h.live_edit' in /var/www/html/classes/db/Db.php on line 769
--

1 | 0.0000 | 388184 | {main}( ) | .../index.php:0
2 | 0.0454 | 2101048 | DispatcherCore::getInstance( ) | .../index.php:28
3 | 0.0456 | 2192056 | Dispatcher->__construct( ) | .../Dispatcher.

[2021-09-30 13:47] hibatallahAouadni commented on #25990
Hello @lmeyer1

I manage to reproduce the issue only with outlook (PS1767 and PS1778), see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/135466353-75dd38e3-5b16-42e0-8c41-0ddb11a32f02.png)

![image](https://user-images.githubusercontent.com/23308427/135466489-1ce0b20e-8c4f-49be-9883-3d351864389b.png)

I’ll add this to the debug backlog so that it’s fi

[2021-09-30 14:31] khouloudbelguith opened #26040 "[BO] Buttons are not well displayed (part 3)"
#### Describe the bug

After fixing this issue #25740 and this https://github.com/PrestaShop/PrestaShop/issues/25980
Some buttons are still NOK

- [x] First issue --> Fixed on develop PR #25056
![image](https://user-images.githubusercontent.com/16067358/135472125-b5221767-37c2-44b4-b801-cc495e2cefdb.png)
~1. Resize the window to 1664px * 945px~
~2. Go to BO > Orders > Add new Order~
~3. Choose a c

[2021-09-30 14:33] hibatallahAouadni commented on #26039
Hello @theMost1ted

I didn't manage to reproduce your issue. It seems that your issue is not a PrestaShop core bug.
It's a module issue related to this column `live_edit`, please contact your module developer.

We will close this issue.

Thanks!

[2021-09-30 14:33] #26039 closed, assigned to nobody

[2021-09-30 14:35] hibatallahAouadni commented on #26040
Ping @Hlavtox

[2021-09-30 14:52] hibatallahAouadni commented on #25522
Ping @okom3pom even with this hook, when I try to save the combination change, the hook is not triggered.
See the attached screen record below:
https://watch.screencastify.com/v/jbqBUOHaKqjWt1TthphE

[2021-09-30 15:00] oldmanxxxv commented on #25998
Hi there,
What do you mean by " is not compatible with 7.3"?
It runs very well I didn't notice any problems despite the fact it is not recommended.
Yes, it is a very tricky to get that situation, probably that is the reason why this bug is still present after so many years, nobody noticed, specially if not use the product combinations. I would recommend to insist, my screenshots don't lie.
As you

[2021-09-30 15:34] hibatallahAouadni commented on #25998
Hello @oldmanxxxv

It runs very well I didn't notice any problems despite the fact it is not recommended.

Check our [system requirements](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart).

Thanks!

[2021-09-30 15:43] okom3pom commented on #25522
Hello,

@hibatallahAouadni this hook is called when you **add** a combination not for update, on the video you update a combination.

And the return is in XHR

You can see this video https://www.okom3pom.com/video/actionAttributeCombinationSave.webm

I can add this hook for update on a PR but we need ask dev and PM teams before.

[2021-09-30 15:58] hibatallahAouadni commented on #25522
Hello @okom3pom

The issue is about edit a combination not creating :wink:

As you said we may need a PM approval, if we don't have a hook that can save the edit of combination.
Let's check with Dev Team :wink:
Ping @PrestaShop/prestashop-core-developers do we have a hook that can save the combination edit?

[2021-09-30 16:04] okom3pom commented on #25522
This one : `actionObjectCombinationUpdateAfter`

[2021-09-30 16:14] hibatallahAouadni commented on #26023
Hello @tone87

Could you please provide more infos, cause with the provided infos I didn't reproduce the issue.
Please check and feedback.

Thanks!

[2021-09-30 20:36] lmeyer1 commented on #25990
@hibatallahAouadni
Not so trivial to deserve a `Trivial` flag😊

[2021-10-01 07:20] Progi1984 commented on #25372
Fixed by @Progi1984 in #25551

[2021-10-01 07:20] #25372 closed, assigned to Progi1984

[2021-10-01 07:30] okom3pom commented on #17830
@hibatallahAouadni

Duplicate : #24360 and fixed by https://github.com/PrestaShop/ps_emailalerts/pull/85

[2021-10-01 07:50] Progi1984 commented on #25980
Fixed by @hibatallahAouadni in #26026

[2021-10-01 07:50] #25980 closed, assigned to Hlavtox, hibatallahAouadni

[2021-10-01 07:51] Progi1984 commented on #22790
@micka-fdz Could you do your PR on https://github.com/PrestaShop/LocalizationFiles too ?

[2021-10-01 07:53] micka-fdz commented on #22790
Yes @Progi1984 I'll do that.

[2021-10-01 08:26] eternoendless commented on #19810
We need some sort of crowdfunding service for this kind of stuff, where many people want something which is hard to do and can't individually finance it. But if they could agree on a communal fund, they could raise enough money to pay some high-end consultant to do it for all of them.

[2021-10-01 08:26] khouloudbelguith commented on #26025
Hi @okom3pom,

I manage to reproduce the issue with
PS1778 + blockreassurance v5.0.0
PS1780rc1 + blockreassurance v5.0.0
PS1769 + blockreassurance v 4.1.1
![image](https://user-images.githubusercontent.com/16067358/135589202-676c3c94-c1c4-4130-a224-76a086f34cd2.png)

It is ok with PS1769 + blockreassurancev3.0.1
![image](https://user-images.githubusercontent.com/16067358/135589271-3014013e-9b52-42

[2021-10-01 08:31] hibatallahAouadni commented on #17830
Thanks @okom3pom :pray:
This issue has been fixed by https://github.com/PrestaShop/ps_emailalerts/pull/85

[2021-10-01 08:31] #17830 closed, assigned to nobody

[2021-10-01 08:43] micka-fdz commented on #22790
@Progi1984 done ✅
https://github.com/PrestaShop/LocalizationFiles/pull/11

[2021-10-01 08:49] Hlavtox opened #26044 "Gift message bug if clicking fast"
#### Steps to Reproduce

1. Enable gift wrapping.
2. Add something to cart, go to checkout, delivery step.
3. Click on gift wrapping checkbox very fast and you can get it to a state where the checkbox is checked, but the gift message is hidden, or reverse.

**Screenshots**

![ezgif-6-75155786c09b](https://user-images.githubusercontent.com/6097524/135592404-278b58c0-a06e-4d11-98bc-08671c79e4ce.gif)

[2021-10-01 09:18] khouloudbelguith commented on #25996
Hi @bsylwek,

I did not manage to reproduce the issue following these steps:

1. Install PS1777 with two languages
2. Install the module Paypal
3. Configure it with Sandbox
4. Create an order with Paypal
5. Upgrade to PS1778
6. Check the orders => ok
7. Add Español (Spanish) lanaguge
8. Change the employee language to Español (Spanish)
9. Check orders => ok

Did I miss something, can you help us w

[2021-10-01 09:22] okom3pom commented on #19991
Hey @Progi1984 i think this issue is fixed but i don't find the PR

[2021-10-01 09:25] bsylwek commented on #25996
I solved the problem and it concerned the missing entries in the database in the table for the Polish language. An example of missing entries in the database is presented above.

[2021-10-01 09:27] hibatallahAouadni commented on #25990
Hello @lmeyer1

You're right it's `Minor`, but the issue only occurs on Outlook Desktop App :wink: and IMHO I think that the number of users that use this app are so low :confused: for that it's `Trivial`.
But, let's ask the Product Team @PrestaShop/product-team wdyt? should it be `Minor` or `Trivial`?

[2021-10-01 09:40] lmeyer1 commented on #25990
I quickly looked up mail client's marketing share, and according to https://www.litmus.com/blog/email-client-market-share-may-2021/, Outlook desktop has still a market share of 9%. Unfortunately, Outlook is a major hurdle when trying to get Emails right 😞

[2021-10-01 10:07] khouloudbelguith commented on #26044
Hi @Hlavtox,

I manage to reproduce the issue with PS1769, PS1778, PS1771, develop branch
![image](https://user-images.githubusercontent.com/16067358/135602320-fa58f95f-142f-49f6-ba78-2c7926f76f24.png)
I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is importa

[2021-10-01 10:11] Kadjar2016 opened #26045 "Campi select non funzionanti"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-10-01 10:12] hibatallahAouadni commented on #26036
Hello everyone,

Like I said, this issue is an Addons API issue and the Addons team is working on it.
Since this is not a Core bug, I should close it :confused:
Don't worry, I'll let you know as soon as this issue is resolved (here by comment).

Thank you for your understanding :pray:

[2021-10-01 10:12] khouloudbelguith commented on #26045
Hi @Kadjar2016,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be

[2021-10-01 10:12] #26045 closed, assigned to nobody

[2021-10-01 10:28] khouloudbelguith commented on #26016
Hi @schattenfell,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #16952
So, I close it.
Thanks !

[2021-10-01 10:28] khouloudbelguith commented on #26016
Duplicate of #16952

[2021-10-01 10:28] #26016 closed, assigned to nobody

[2021-10-01 10:33] Kadjar2016 commented on #26045
Describe the bug
I menu select nella sezione inportazione non funzionano non danno la possibilità di scelta
Expected behavior
Mi aspetto di fare clic nel menu e scegliere una tra le voci:
Categorie, Prodotti, Combinazioni, Clienti, Indirizzi, Marchi, Fornitori, Alias, Contatti negozio
2021Steps to Reproduce
Steps to reproduce the behavior:
1.	Parametri avanzati
2.	Click on Import
Additional inform

[2021-10-01 10:52] d33x opened #26046 "Can't reorder product in product list"
#### Describe the bug

I can't reorder the products in the product list. Sometimes it works, sometimes not. I just notice that when it works, the inputs are well checked. When it doesn't work, the inputs don't get checked.

#### Expected behavior

Inputs must be checked and it must be possible to reorder the products. I have to refresh the page several times to be able to reorder products

#### St

[2021-10-01 10:53] tenenick commented on #26028
Hi hibatallah again.
I tried the following to solve the problem, still without success:
1. Switched from PHP 7.4.23 to 7.2.34
2. Reinstall from the scratch
Some more hints:
The mentioned faulty install is on a subdomain.
I have another test install on another subdomain with PS 1.7.7.5 running well
My production webshop is on the main domain with PS 1.7.7.3 running well

One question: The test you

[2021-10-01 11:19] khouloudbelguith commented on #26046
Hi @d33x,

Thanks for your report.
We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15291
So, I close it.
Thanks!

[2021-10-01 11:19] #26046 closed, assigned to nobody

[2021-10-01 11:19] khouloudbelguith commented on #26046
Duplicate of #15291

[2021-10-01 11:47] khouloudbelguith commented on #25996
The Polish language is added before the upgrade or after the upgrade?
The employee language is Polish?
The Order is created in the Polish language?

Thanks!

[2021-10-01 11:57] hibatallahAouadni commented on #10762
Thanks @Hlavtox for the PR :rocket: :tada:

[2021-10-01 12:01] bsylwek commented on #25996
The Polish language was added before the update to version 1.7.7.8. After that, there was no update of this language.
The order is made in English, the administration panel is in Polish and in English to choose from. The error with the orders was only in Polish in the administration panel.

[2021-10-01 12:02] hibatallahAouadni commented on #26028
Hello @tenenick

On an local install on PC. Well right now, I can't access to Module Manager cause of this issue #26036.
Could you please provide your navigator version, and could you please try to reproduce the issue with another navigator.

Please check and feedback.
Thanks!

[2021-10-01 12:25] khouloudbelguith commented on #26028
Hi @tenenick,

Thanks for your feedback.
I did not manage to reproduce the issue with PS1780rc1.
I attached a screen record
https://www.awesomescreenshot.com/video/5460217?key=838fcde3e99d0aada379bb8530c74f1e

Thanks to check and feedback

[2021-10-01 12:27] #26036 closed, assigned to jolelievre

[2021-10-01 12:39] tenenick commented on #26028
I tried with Chrome Versión 94.0.4606.71 (Build oficial) (64 bits) and also with MS Edge Versión 94.0.992.37 (Compilación oficial) (64 bits). Always the same behaviour.

As I mentioned before: both other Installs I have on this server does not show this behaviour.
I even had another test-install with PS 1.7.7.5 on the same subdomain before deleting it completely and installing the new RC1.

Never

[2021-10-01 13:11] hibatallahAouadni commented on #26036
Thanks @jolelievre :tada:

[2021-10-01 14:16] MageParts opened #26050 "Centralized version description of modules"
#### Is your feature request related to a problem?

Version currently needs to be defined by both composer.json and module base file.

People will confuse these values and most likely forget to update the version number within the base file. At the very least it's an unnecessary annoyance which is very easily solved.

#### Describe the solution you'd like

PrestaShop should omit version assignment

[2021-10-01 15:29] hattia commented on #16306
Hello,

is this bug is resolved please ? cause in last PS version 1.7.7.7 , this bug still exist.

Thanks

[2021-10-01 15:36] #14956 closed, assigned to nobody

[2021-10-01 15:37] PierreRambaud commented on #14956
FYI, we remove the deprecation notice because of this commit:
https://github.com/PrestaShop/PrestaShop/pull/8411/commits/bfd633032da529eae9259a47775d39cd029d10b0#diff-0175e8ccd89d320e7f91e6333bc749edb922cd119188d0545f51fa3dd838aa2cL718

[2021-10-01 15:41] matthieu-rolland opened #26052 "Issue de test"
issue de test

[2021-10-01 15:42] khouloudbelguith commented on #26050
Hi @MageParts,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-10-01 15:46] #26052 closed, assigned to nobody

[2021-10-01 15:55] khouloudbelguith commented on #26018
Hi @MageParts,

Thanks for these clarifications.
In fact, I use Docker.
I checked my Dockerfile, I don't have this option `--with-zlib[=DIR]` => so the Zlib support in PHP is not enabled by default.
I tried to run `composer install` => ok no issue
I removed from my Dockerfile this option `--with-jpeg-dir=/usr/include/`
I tried to install the shop => NOK.
![image](https://user-images.githubusercont

[2021-10-01 15:59] MageParts commented on #26050
Hi @khouloudbelguith!

As stated in my suggestion I've already implemented this class for my own modules to ensure version information is accurate in them. There is no more development required than to add the class I supplied above to a module. I understand you cannot guarantee it will be added of course, though I would recommend you internally discuss the necessity of duplicate version numbers b

[2021-10-01 16:13] khouloudbelguith commented on #25996
@bsylwek, I did not manage to reproduce the issue following these steps:
1. Add the Polish language
2. Change employee language to Polish
3. Create an order with English with Paypal sandbox
4. Upgrade to PS1778
5. Check Order => ok

I attached a screen record
https://watch.screencastify.com/v/ms9ivOdFNx7tJFoqmwB1

Thanks!

[2021-10-01 16:26] khouloudbelguith commented on #26045
Hi @Kadjar2016,

Please, send your request in English.
English is the norm on the GitHub
This issue is currently closed, can you open a new one with more information about your configuration.

Thank you!

[2021-10-01 16:42] khouloudbelguith commented on #26028
@tenenick,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Th

[2021-10-01 16:44] bsylwek commented on #25996
Exactly the same. I had a error. Only when I added the missing entries in the database, the error disappeared.

[2021-10-01 17:34] #25991 closed, assigned to NeOMakinG

[2021-10-01 17:35] #25724 closed, assigned to nobody

[2021-10-01 17:41] tenenick commented on #26028
Ok. will do on Monday. Now it's Friday, day, day... Nice weekend to all

[2021-10-01 18:23] eopws opened #26054 "First column in configure main menu screen has no enough space"
#### Describe the bug

'Change position' label in Modules/ps_mainmenu/Configure has no enough space and next columns overlay it

#### Expected behavior

![after](https://user-images.githubusercontent.com/42320170/135668183-61d2f246-d266-403a-b85f-ab2f7b2df959.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1.) go to module manager
2.) click on configure Main menu module button
3.)

[2021-10-01 22:11] alfonsolr09 commented on #25975
I think you are right that the new theme should be created from 0 without taking into account the classic theme, it should be optimized for mobile devices and correct in SEO, which is why the classic theme is not correct

[2021-10-02 10:39] kpodemski commented on #25539
I think we can close this issue as everything has been clearly explained :)

[2021-10-02 10:39] #25539 closed, assigned to nobody

[2021-10-02 11:36] matks commented on #25975
Sorry but this is likely to destroy the PrestaShop community :/ splitting it in two: people using PS 1.6 / PS 1.7 and people using PS 8

See https://github.com/PrestaShop/PrestaShop/issues/25975#issuecomment-925828832

[2021-10-02 13:24] ProteanCode commented on #17810
Still missing in 1.7.7.6

{l s='Notify me when available' d='Modules.Emailalerts.Shop'}

[2021-10-02 14:31] adamus007p commented on #25975
We as developer see the code, but normal merchants and customers see only FO.
I agree that current theme is weak and look like theme from 90's.
There is a bad SEO and it is not easy to modify it.

What about to create 2nd version for new theme and keep the old one with some updates?
Like new and old theme which people can choose during installation?

I see @matks your point to do not make a big ch

[2021-10-02 14:45] Hlavtox commented on #19810
I would be in, there is no way a successful client would choose Prestashop as their platform, if it cannot sort products by price. 👎

[2021-10-02 18:11] kpodemski opened #26058 "Cannot change the settings in the Performance section for the context of single-store"
#### Describe the bug

We are not able to change settings in Adv. Preferences -> Performance for the single store. That means that we cannot set, for example, different media servers. Page was working completely fine on the 1.7.7 version.

For people using CDN servers or additional cache, it's a no-go for 1.7.8.0.

IMO there's no reason to block it, ok, we don't have checkboxes, but the page shoul

[2021-10-02 19:02] andromaque commented on #25975
Nope it's not, if classic theme from 1.7 is still compatible with 8.0.0. Which should be the case. So in this situation, people upgrading from 1.7 will keep their theme if they want, and the people will progressively migrate to a the new, better developed  theme.

I don't see what is the issue with this process...

[2021-10-02 19:10] Hlavtox commented on #25975
Yes, if we can keep classic perfectly compatible for whole 8 lifecycle, why not ship both or only the new theme? People could upgrade just fine. If anybody is using classic, they would be more than happy to spend 2 days implementing the new look.

Also, modules should work just fine in both Bootstrap 4 and 5. The changes are not so significant.

[2021-10-02 23:18] alfonsolr09 commented on #23010
first time i am going to install 1.7.8.0 on localhost and the installation fails

https://www.awesomescreenshot.com/image/14396043?key=fedf0ba41ef78368c8bffe7f41c29c
![PrestaShop insta](https://user-images.githubusercontent.com/62474824/135734120-a6694744-7713-4876-a815-987001d237df.png)
73

[2021-10-03 05:26] nishithnesdiya opened #26059 "PS 1.7.7.8 Product price_amount value get formatted value instated of without formatted value On CART CartPresenter"
Hi.

I use {$product.price_amount} variable in smarty template in product and product listing page and get price of without currency formatted this is working fine.

Problem is when i use same variable  {$product.price_amount} cart and checkout smarty template then get price of with currency formatted (see image attached).

can you help me with this fix ?

![Capture](https://user-images.githubuser

[2021-10-03 10:55] okom3pom commented on #14781
Ping @marionf i work on this one

[2021-10-03 13:08] ghost opened #26066 "Clean code for PrestaShop 1.5.3.x in AutoUpgrade Module"
#### Is your feature request related to a problem?

There are code snippets related to PrestShop 1.5.x, the module is compatible with versions 1.6.0.x +

#### Describe the solution you'd like

Remove this code snippets related to PrestShop 1.5.x

https://github.com/PrestaShop/autoupgrade/blob/dev/views/templates/block/checklist.twig#L18

https://github.com/PrestaShop/autoupgrade/blob/dev/classes/T

[2021-10-03 13:14] AshleyButcher opened #26067 "Footer from next invoice shown on invoice when exporting multiple invoices (i.e. invoices by date range)"
#### Describe the bug

When exporting multiple invoices (i.e. invoices by date range), the footer of the following invoice is shown on the current invoice erroneously. This meant that in a multi-store environment, the wrong store details could be output on the invoice footer, which can create a compliance issue, especially if different tax information should be displayed. The issue resolves around

[2021-10-03 13:24] okom3pom commented on #15194
Hello, @marionf && @khouloudbelguith

I work actualy on this issue itss not say if the upgrade need to be blocked if it's not the last version ?

[2021-10-03 14:47] okom3pom commented on #14781
Hello @marionf

How about adding a link / button to disable the override directly from the module?

Here a merchant looks at the check list, he will once activate maintenance, then go to performance to deactivate overrides, then he will go back to perfomance to deactivate modules...

Currently there are buttons to deactivate or disable the module directly.

For the moment my PR respect the mockups

[2021-10-03 16:37] andromaque commented on #18547
I have a question regarding PHP version that will be supported. The last years, PrestaShop has always been (very) late regarding the PHP version supported, with a tendency to be available mainly on discontinued versions (e.g. 1.7.7 on PHP 7.3 which is not active since 1 year and will be unsupported next month, 1.7.8 which will be released at the same time that PHP 7.4 ends active support etc.)

PH

[2021-10-03 18:22] okom3pom commented on #11054
I don't reproduce this issue,I think it has been fixed when the page migration

Thomas

[2021-10-03 21:51] CTSol186 opened #26073 "Workaround email sending error (response code 220) after upgrade to 1.7.7"
@web-plus @Lukascisar @Stampa-Stampa @JeffreyDracoon

https://danielhlavacek.cz/files/177mailfix.zip
1. Download it, extract it.
2. Drop these files into your PS installation.
3. Profit
(optional) Let me know if it works 😄

______
PS: @Lukascisar Ahoj, zprávu na fóru jsem viděl, necháme konverzaci tady. :-D

_Originally posted by @Hlavtox in https://github.com/PrestaShop/PrestaShop/issues/22262#is

[2021-10-04 00:06] MorSeRNa commented on #22330
Solved!

Search  mails/_partials/order_conf_product_list.tpl

Change
{$customization['customization_text']}
to
{$customization['customization_text'] **nofilter**}

[2021-10-04 07:40] NeOMakinG commented on #25975
To be honest, I agree with most of these comments: as we didn't deprecate classic and doesn't want to inflict too much pain  to migrate to 8.0 from 1.7, we should keep classic, but we really want a new cleaner theme, so we should work on it!

[2021-10-04 08:21] Dakror commented on #23777
I've identified the root cause of the issue and the solution.

The id_default_image property of the product WS object controls the cover via the Product#setCoverWs function. Since the value is empty in the requests, the setCoverWs function clears out all cover values in the image_shop table, thus the check when adding a new image tries to set cover = 1

you need to ```unset($xmlFields->id_default_

[2021-10-04 08:33] okom3pom commented on #25642
@marionf

I agree with @Hlavtox this option works but if you are on a local environment there is a hack that says we are in maintenance

[code]

This methode say your are always in maintenance mode if your url is 127.0.0.1 or localhost.

Can you clarify the issue.

Regards

[2021-10-04 08:35] hibatallahAouadni commented on #26073
Hello @CTSol186

Could you please change the title of the issue :pray: You need to describe your problem and not just ping contributors.
Please check and feedback.

PS: @Hlavtox could you please check this :pray:

Thanks!

[2021-10-04 08:37] #26073 closed, assigned to nobody

[2021-10-04 08:39] hibatallahAouadni commented on #26066
Hello @okom3pom

Could you please provide the links to these parts (code snippets related to PrestShop 1.5.x) :pray:
Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](h

[2021-10-04 08:41] marionf commented on #19310
@ecomiz will work on this issue

[2021-10-04 08:41] marionf commented on #19357
@ecomiz will work on this issue

[2021-10-04 08:41] okom3pom commented on #26066
Oups i forgot the link i utpdate the issue :

https://github.com/PrestaShop/autoupgrade/blob/dev/views/templates/block/checklist.twig#L18

https://github.com/PrestaShop/autoupgrade/blob/dev/classes/Twig/Block/UpgradeChecklist.php#L115

[2021-10-04 09:11] jf-viguier commented on #16840
product_quantity_in_stock is really weird:
You have 10 in stock
- You order 3 : product_quantity_in_stock is set to 3
- You order 4 : product_quantity_in_stock is set to 4
- You order 6 : product_quantity_in_stock is set to 4
- You order 13 : product_quantity_in_stock is set to -3

[2021-10-04 09:39] #9577 closed, assigned to kpodemski

[2021-10-04 09:44] hibatallahAouadni commented on #26054
Hello @eopws

I didn't manage to reproduce the issue with PS1778 and 1600x900 monitor, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/135829601-eb4c2df6-424e-4130-ac73-f6671263f5cf.png)

Please check and feedback.
Thanks!

[2021-10-04 10:00] tenenick commented on #26028
Hi again nice Monday to all,

I will provide **first the javascript console** log because I guess it is the most suspicious hint:
Uncaught SyntaxError: Invalid or unexpected token
prestashop-ui-kit.js:1 jQuery.Deferred exception: Cannot read properties of undefined (reading 'moduleImport') TypeError: Cannot read properties of undefined (reading 'moduleImport')
    at e.value (https://bak.tecuidana

[2021-10-04 10:06] Hlavtox commented on #16840
@jf-viguier See my PR, it works perfectly.

**Result:**
You have 10 in stock
You order 3 : product_quantity_in_stock is set to 10
You order 4 : product_quantity_in_stock is set to 10
You order 6 : product_quantity_in_stock is set to 10
You order 13 : product_quantity_in_stock is set to 10

[2021-10-04 10:14] hibatallahAouadni commented on #26066
Thanks @okom3pom

[2021-10-04 10:48] rasasu333 opened #26076 "Order confirmation page is not loading"
I can't confirm/create new order nor in Backoffice nor in the shop. It does not matter what is the payment method, with all of them is the same (bank wire payment, paypal, e.t. ). After i press button "Confirm order/Pay", it starts to load the page and then after few minutes it shows 503 or blank page. Nothing happens, the new order is not placed.

First i upgraded Prestashop, from 1.7.7.1 to 1.7.

[2021-10-04 10:51] hibatallahAouadni commented on #26058
Hello @kpodemski

I was able to reproduce the issue with PrestaShop version 1.7.8.0. I’ll add this to the debug backlog so that it’s fixed.
And it's a regression cause with 1.7.7.8, the list of shops are all displayed:

![image](https://user-images.githubusercontent.com/23308427/135838909-c3fbeebc-f443-4b0b-a0a2-00936630a4e0.png)

Please be aware that due to the high number of reported issues, som

[2021-10-04 10:51] eternoendless commented on #18547
Yes (TBC by @atomiix), and that is our plan.

[2021-10-04 10:56] hibatallahAouadni commented on #26059
Hello @nishithnesdiya

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information,

[2021-10-04 10:56] #26059 closed, assigned to nobody

[2021-10-04 10:58] rasasu333 commented on #26076
<img width="1157" alt="Screenshot 2021-10-04 at 13 55 14" src="https://user-images.githubusercontent.com/91870185/135839837-c4692f67-d644-4b27-8a4b-2d00500b3243.png">

[2021-10-04 10:59] rasasu333 commented on #26076
I receive this then i try to log in to my Backoffice.

[2021-10-04 12:23] deepindersingh83 commented on #26076
Last time I came across same error was due to the payment module (stripe).

Try disabling your payment module and then access the backend.

[2021-10-04 12:23] hibatallahAouadni commented on #26076
Hello @rasasu333

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wi

[2021-10-04 12:23] #26076 closed, assigned to nobody

[2021-10-04 12:36] Progi1984 commented on #25457
@marionf confirms that hook for adding elements is required.

[2021-10-04 13:04] hibatallahAouadni commented on #25864
Hello @musicpanda

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-10-04 13:04] #25864 closed, assigned to nobody

[2021-10-04 13:06] hibatallahAouadni commented on #25996
Hello @bsylwek

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem.

We will close this issue.

Thanks!

[2021-10-04 13:06] #25996 closed, assigned to nobody

[2021-10-04 13:32] hibatallahAouadni commented on #23777
@Dakror Could you please create a Pull Request :pray:
Thanks in advance :relaxed:

[2021-10-04 13:33] hibatallahAouadni commented on #16840
Thanks @Hlavtox for your PR :superhero:

[2021-10-04 13:40] eopws commented on #26054
Hello, @hibatallahAouadni.
The version of my prestashop is 1.7.8.1

[2021-10-04 14:03] sirius82 opened #26080 "Exceptions in Positions for ps_categorytree doesn't work on PS 1.7.7.8"
#### Describe the bug

I wish to not display category links in the left column when the page is not category. Normally, I have just to check pages where the module doesn't be displayed in Positions -> Modify (for the choosen module) and add pages in Exceptions.
It's ok for the smartblogcategory module. But not for ps_categorytree. I compare the code in their php files and see that smartblogcategor

[2021-10-04 14:04] Progi1984 commented on #16770
@marionf : Fixed on
- statssales : PrestaShop/statssales#18
- dashtrends : PrestaShop/dashtrends#34

[2021-10-04 14:18] jf-viguier commented on #16840
@hibatallahAouadni I've done a PR too

[2021-10-04 14:33] Hlavtox commented on #26040
@khouloudbelguith @hibatallahAouadni @NeOMakinG

We need to treat all of these issues separately, because the buttons just want to fit into the space they have. Poor babies :D

- Update status is squished because the select has width 100% and pushes everything to be as small as possible. The same the Add condition button in Catalog prices.
- Save & refresh squishes because it wants to fit into a t

[2021-10-04 14:37] ilajili opened #26082 "Dysfunctional order's management with different amounts with multiple tabs"
#### Describe the bug

We encounter order problems when using different tabs:
If I get to the last checkout step, open a second tab and validate the order of my first tab, Prestashop validates the second tab's order.
#### Expected behavior

The expected result would be that Prestashop manages to differentiate the contents of each tab's cart at a given time.

#### Steps to Reproduce
Here is a detai

[2021-10-04 14:39] Hlavtox commented on #26040
And also, because the button has nowhere to move 🔪
![Výstřižek](https://user-images.githubusercontent.com/6097524/135871433-29f4b740-a620-435c-9e2b-bc96d5098e41.JPG)

[2021-10-04 14:49] #25008 closed, assigned to Progi1984

[2021-10-04 14:54] nicolashsymediane commented on #14950
Hi,

I still have this issue on Presta 1.7.7.8, any solution ?

[2021-10-04 15:11] dsamsoniuk opened #26083 "Problem with update product data - ecotax"
## Error - problem with ecotax in polish language

#### Description

Not fully updating product data. When i try 'save' changes of edited product I get an error 'Cannot update settings'.

This problem only appears when my profile account have set language 'Polish'. The reason of this fail is ecotax, in poland this tax not exists so i should have value '0.000' but it gets '0,000', they differe comm

[2021-10-04 15:15] hibatallahAouadni commented on #26083
Hello @dsamsoniuk

Could you please provide steps to reproduce the issue :pray:
And could you please check this EPIC #14900 you may find your issue listed here.
Please check and feedback.

Thanks!

[2021-10-04 15:24] Progi1984 commented on #25457
PR Done : PrestaShop/blockreassurance#280

[2021-10-04 15:50] marionf commented on #15194
Hello @okom3pom

No, the upgrade shouldn't be blocked if the module isn't up-to-date because it could be a problem if for example there was a critical bug on the last version of the module.

[2021-10-04 15:53] marionf commented on #25642
Hello @okom3pom

Thank you, I didn't know there was a hack for local environments, and I don't see the goal of this 🤔
I think we can remove it, unless if you see an interest to keep it ?

[2021-10-04 16:05] hibatallahAouadni commented on #26080
Hello @sirius82

Thanks for reporting the issue and for respecting the provided template!
It seems your steps are a bit confusing :sweat_smile: should I access to the page of Category Tree links (screenshot n°1) or to the page Positions and then select the module (screenshot n°2)?
![image](https://user-images.githubusercontent.com/23308427/135885340-4b28d5ea-9074-44e5-998f-096b229de656.png)

---
!

[2021-10-04 16:15] Maxtab commented on #26023
Hello, I think I have the same issue, please find attached the result of the php-ps-info script

During the process, all files seems to be copied normally, then, I have an error message similar to @tone87 :
`[INTERNAL] /var/www/html/dev.dieticook.com/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 168 - Symfony\Component\Config\Exception\FileLoaderLoadException: Expe

[2021-10-04 16:39] hibatallahAouadni commented on #26082
Hello @ilajili

Thanks for reporting the issue!
Your issue seems similar to this one #24619 Could you please provide your PrestaShop version :pray:
Please check and feedback.

Thanks!

[2021-10-04 16:41] hibatallahAouadni commented on #26054
Hello @eopws

How's that we didn't release yet the 1.7.8.1 :sweat_smile:
Did you mean the develop branch or the 1.7.8.x branch?

Thanks!

[2021-10-04 16:42] hibatallahAouadni commented on #16840
Thanks @jf-viguier for your PR :superhero:

[2021-10-04 16:53] jolelievre opened #26087 "Product page wholesale price not saved in product page v2"
#### Describe the bug

In product page v2 I can't edit the wholesale price value when the product has suppliers with different prices themselves.

The problem is that when we edit supplier's data the price from the default one is copied into the product's wholesale price field. Since on submit the suppliers' command is run after the price command, even if the wholesale price is updated it will lat

[2021-10-04 16:54] Maxtab commented on #26023
I tried the solution suggested here [#22141](https://github.com/PrestaShop/PrestaShop/issues/22141) (To delete some index.php file), but I still have the same result, here is the error message after trying the solution :
`[INTERNAL] /var/www/html/*******/vendor/symfony/symfony/src/Symfony/Component/Config/Loader/FileLoader.php line 168 - Symfony\Component\Config\Exception\FileLoaderLoadException:

[2021-10-04 17:25] hibatallahAouadni commented on #26028
Hello @tenenick

It seems you have an issue with this module **moduleImport**.
Could you please disable it and check if you still encounter the same issue.
Please check and feedback.

Thanks!

[2021-10-04 17:27] hibatallahAouadni commented on #26080
Hello @sirius82

Thanks for your answer!
Could you please provide a screenshot for this step:

Please check and feedback.
Thanks!

[2021-10-04 17:32] ocio87 opened #26088 "Inventory does not discount when changing status from canceled to Waiting for bank transfer"
#### Describe the bug

When taking an order that has been in the canceled status, it is changed to the Waiting for Bank Transfer status, this does not reduce the available inventory. However, when it is changed again it has been canceled, it does return the inventory. This causes an increase in inventory that does not correspond to the real thing.

#### Expected behavior

You must return the units

[2021-10-04 17:51] tenenick commented on #26028
Sure, I will do so if you tell me how to do it, sorry but could find out how.

[2021-10-04 18:01] tenenick commented on #26028
In the the javascript console log it referenced to /themes/new-theme/public/module.bundle.js
The are 44 hits in there, e.g. :
this.moduleImportSuccessConfigureBtnSelector,(function(e){e.stopPropagation(),e.preventDefault(),window.location=u(this).attr("href")})),t.on("click"

You are sure that moduleImport is a module that could be disabled?
Sorry for my ignorance

[2021-10-04 18:25] tenenick commented on #26028
Don't know if it helps:
I just deleted the entire folder  /themes/new-theme/public and copied the same folder but from my other testinstall on the same server but with PS 1.7.7.5 with the same result as before.
Well much luck searching the bug I have to go now. Dinner is waiting. :-)
Thanks for all

[2021-10-04 19:49] #26088 closed, assigned to nobody

[2021-10-04 20:39] kpodemski commented on #22847
@PrestaShop/qa-team this has been done in #24952

We can close this issue.

[2021-10-04 20:40] kpodemski commented on #23744
@PrestaShop/qa-team

This has been done in https://github.com/PrestaShop/ps_emailalerts/pull/86

We can close this issue.

[2021-10-04 22:27] sirius82 commented on #26080
Of course !

![image](https://user-images.githubusercontent.com/11886689/135933148-fbc28b67-c19c-4a15-a630-6dc4cf3c1cfe.png)

All is selected except "category"

[2021-10-05 00:50] DracoBluee commented on #25975
why postpone something that is important and needs to be done. It is known that those who want to move from version 1.7 to 8.0 will have to upgrade, but this is normal.
there is nothing to wait for.  the new template should be version 8.0

[2021-10-05 03:26] RicRey1988 opened #26090 "Error 1871 PS 1.7.7.7 PHP 7.3"
#### Describe the bug

When trying to translate a Template other than the classic one, it causes error 1871

#### Expected behavior

That the selected template can be translated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'International'
2. Click on 'Translate'
3. Select Translate Template
4. Select template
5. select edit

**Screenshots**

If applicable, add screenshots o

[2021-10-05 06:22] #22847 closed, assigned to kpodemski

[2021-10-05 06:30] dsamsoniuk commented on #26083
yes, sory about that. I did't found any similar problem.

### How to reproduce the issue

#### My config system
* ps 1.7.7.8
* mysql 15.1
* php 7.2
* installed polish language in transaltions

#### Steps
1. Change prestashop language to 'polish' on BO > My profile
2. Go to Catalog (Katalog) > Products (Produkty) > 'Chooce any product with **combination**' > Edit product
3. And simplie click 'Save'

[2021-10-05 07:08] www-ROUTE66-store opened #26108 "TVA sur la marge"
#### Describe the bug
URGENT
Merci d'aller ergarder ce post
https://www.prestashop.com/forums/topic/1035690-tva-sur-marge-en-france/

#### Expected behavior

Explain what you expected to happen instead.
TVA sur marge à calculer

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add scr

[2021-10-05 07:12] eopws commented on #26054
I downloaded my prestashop from source code on github, so I have dev version 1.7.8.1.

[2021-10-05 07:22] florine2623 commented on #26090
Hello @RicRey1988 ,

I can't reproduce your issue with classic template on PS 1.7.7.7.
Please check my screen record : https://watch.screencastify.com/v/4vkSSTDVvezEZGSF50zj
I suggest contacting the developer of your template directly, so they can fix the issue.

Thanks

[2021-10-05 07:22] #26090 closed, assigned to nobody

[2021-10-05 07:24] florine2623 commented on #26108
Hello,

I will close your issue as it does not follow the bug report template.
Please create another another issue in English and fill all the required fields.

Thanks

[2021-10-05 07:24] #26108 closed, assigned to nobody

[2021-10-05 07:43] Shaggy84675 commented on #20580
Happened to me too, after we upgraded PrestaShop from 1.6 to 1.7.

I found the problem is in row: https://github.com/PrestaShop/ps_wirepayment/blob/e06c7bf331ad0f900afe93ca814de52ecd01e5af/ps_wirepayment.php#L236

Both values of the `$params['order']->getOrdersTotalPaid()` and `$params['order']->getTotalPaid()` have values of the total price and that's the reason why the result is 0. Could I ask w

[2021-10-05 08:17] ashshah199 opened #26111 "Product Image Quality is downgrading while resizing an image."
#### Describe the bug

Product Image Quality is downgrading while resizing an image.

#### Expected behavior

Image quality should not be compromised.

#### Steps to Reproduce

Original Image: https://drive.google.com/file/d/1LxaYGuHDgAIa-BGigzaYVkTjOPbXs9Fp/view?usp=sharing
Prestashop Image: https://drive.google.com/file/d/1oiWO7_Gu2DYsPCP_r9wozJM2Kh7YfRwy/view?usp=sharing

#### Additional inform

[2021-10-05 08:18] jf-viguier commented on #16840
product_quantity_in_stock should manage ordered quantity in stock ou total quantity in stock ? @hibatallahAouadni ?
What's the behaviour in 1.6 ?

[2021-10-05 09:03] hibatallahAouadni commented on #16840
Ping @PrestaShop/product-team @jolelievre could someone please answer @jf-viguier question 🙏

For this issue we have two different solutions proposed by @jf-viguier and @Hlavtox which one is better?

Thanks in advance ☺️

[2021-10-05 09:04] florine2623 commented on #25928
Hello,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2021-10-05 09:04] #25928 closed, assigned to nobody

[2021-10-05 09:09] Hlavtox commented on #16840
The solution I provided restores the correct functionality from 1.6 and 1.7.2. Feel fry to confirm.

[2021-10-05 09:30] Prestaworks commented on #9941
Issue still exists in 1.7.8

[2021-10-05 09:43] florine2623 commented on #26023
Hello @tone87 ,

On issue  #22141, a PR was created to fix the issue, have you tried implementing it #22146?

[2021-10-05 09:48] florine2623 commented on #26083
Hello @dsamsoniuk ,

I can't reproduce your issue in PS 1.7.7.8, please check my screen record :
https://watch.screencastify.com/v/P4hE8KetsW0Otd8Mgra9

I see you mentioned the ecotax, I also tried to modify the ecotax, but I still didn't encounter your issue :
<img width="1250" alt="Screenshot 2021-10-05 at 11 48 08" src="https://user-images.githubusercontent.com/16019289/136000534-ebe7cc62-0869-

[2021-10-05 09:56] florine2623 commented on #26054
Hello @eopws ,

Thanks for the report. I was able to reproduce the issue with PrestaShop version 1.7.8.1, so I can confirm that this behavior is indeed a bug :
<img width="966" alt="Screenshot 2021-10-05 at 11 51 28" src="https://user-images.githubusercontent.com/16019289/136001437-25b7a8f0-22dd-46d9-bddd-2281cd305a0b.png">

How it was in PS 1.7.7.8 :
<img width="978" alt="Screenshot 2021-10-05 at

[2021-10-05 10:08] florine2623 commented on #26028
Hello @tenenick ,

Are you using the classic template ?
If you are not, you should contact the develop or the template, the issue might come from there.

Also, I suggest changing your admin folder name for security reason, as well as your employee username.

[2021-10-05 10:18] tone87 commented on #26023
No, sorry but I needed to update urgent and I buyed a module from addons that it update fine.

[2021-10-05 10:23] PierreRambaud commented on #24643
Yes we can add them on packagist and yes we can make the other module compatible.
My message was more a note in order to let other developpers work on it :sweat_smile:

[2021-10-05 10:26] dsamsoniuk commented on #26083
To make sure that Im not wrong I have made full clean copy of ps 1.7.7.8 and i have the same issue.

From your screen i see 'eco tax' input number i don't have something like this.
Also i don't have in role tax 'FR Taux standard (20%)'

On my copy i have only installed English and Polish language

![error-ps](https://user-images.githubusercontent.com/138824/136005394-e809d27f-bf31-472c-9781-167d34

[2021-10-05 10:29] PierreRambaud commented on #25978
Done with #25245.
Modules present on disk are now in the Module Manager, with an uninstalled filter (as discussed weeks ago with @MatShir)

[2021-10-05 11:47] #26035 closed, assigned to nobody

[2021-10-05 12:13] florine2623 commented on #26111
Hello @ashshah199 ,

I was able to reproduce the issue with PrestaShop version 1.7.8.x, so I can confirm that this behavior is indeed a bug.

Original image :
<img width="613" alt="Screenshot 2021-10-05 at 14 12 37" src="https://user-images.githubusercontent.com/16019289/136020090-06ff4dc9-bd59-481d-8dd5-6d0917b11ed1.png">

Image in PrestaShop :
<img width="608" alt="Screenshot 2021-10-05 at 14 12

[2021-10-05 12:37] hibatallahAouadni commented on #23744
@kpodemski Glad to hear :tada: thanks for your PR!
Fixed by https://github.com/PrestaShop/ps_emailalerts/pull/86

[2021-10-05 12:37] #23744 closed, assigned to kpodemski

[2021-10-05 12:47] florine2623 commented on #26083
Hello,

Is it possible that you reinstall your shop if you have not yet started selling ? I can see that you are not editing your product, but existing example products.

With the same config as you, I can't reproduce your issue (polish rate, no exotax) :
https://watch.screencastify.com/v/F5SxHI06qShc6BTbsXJz

[2021-10-05 12:52] florine2623 commented on #26023
You can update your mySQL version, you are using 5.0, it is recommended to use 5.6. More info here : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

If your update doesn't work due to this module, please contact the developer of the module directly.

Sorry, but as we can't reproduce your issue, we cannot help.
It seems that your issue is not a PrestaShop core bug but m

[2021-10-05 12:52] #26023 closed, assigned to nobody

[2021-10-05 13:07] SebSept opened #26113 "Replace a die() with an Exception on _PS_MODE_DEV_"
Here :
https://github.com/PrestaShop/PrestaShop/blob/c4e488fa51aff3c42cf0077e5ed34df5380b943e/classes/module/Module.php#L1170
We have a die() not very useful because it can happen when there $module_name is empty.
It's really more developer friendly to have a stack trace, using an exception.

[2021-10-05 13:24] #15858 closed, assigned to Julievrz

[2021-10-05 13:26] florine2623 commented on #26113
Hello @SebSept ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
And thanks for the PR.

Thank you

[2021-10-05 14:14] marionf commented on #25978
I put the PR on waiting for PM, we will discuss it with @MatShir
If the Module catalog page is deleted there could be a problem for those who will use MBO: they will see the modules present on the disk and not installed both in Module Manager and in Module Catalog

[2021-10-05 14:23] alfonsolr09 commented on #26091
what do you mean? To me, works perfectly

[2021-10-05 14:36] kpodemski commented on #25975
@adamus007p

starter themes, default themes are more for the developers. I think it's more important to provide people a tool they can use to create feature-rich themes for the merchants, available to buy, or download

[2021-10-05 14:38] hadran9 commented on #25628
Hello everyone @khouloudbelguith @hibatallahAouadni @sowbiba, is there anything new concerning this issue ?

[2021-10-05 14:40] andromaque commented on #25975
@kpodemski

That being said, it would also be nice to have a clean starter theme, intended for developers. It's such a shame that the previous starter theme, which was advised as the cleanest way to develop a theme, has been silently discontinued and suddenly discarded in PS 1.7...

[2021-10-05 14:42] kpodemski commented on #25975
@andromaque

I think the work that @NeOMakinG is doing right now will allow us, developers, to split the design aspects from the functional elements, very quickly 👍

You can check the repo here: https://github.com/PrestaShop/theme-refacto

[2021-10-05 14:42] tenenick commented on #26028
Just made a clear new install of PrestaShop 1.7.8.0 final version with exactly the same results.
Now wondering if it could be an issue with the installation on a subdomain, What do you think?
Have a nice day

[2021-10-05 15:04] andromaque commented on #25975
@kpodemski @Hlavtox
Nice, it's perfect 👍

[2021-10-05 16:08] Maofree opened #26117 "Big problem with all addons themes with the addresses saved from checkout"
Hi

there is a problem with all themes bought from addons from prestashop 1.7.7.8, and I think because these themes do not follow the updates made to the classic theme.
then there is to consider that many do not update the themes because the support period ends.
however I have seen that this error can really create problems in the purchase phase.

this bug is not present into classic theme, but I

[2021-10-05 16:26] #14414 closed, assigned to nobody

[2021-10-05 16:26] #20388 closed, assigned to matks

[2021-10-05 16:27] matks commented on #14414
PR https://github.com/PrestaShop/PrestaShop/pull/25395 was merged fixing this issue for PrestaShop 8.0.0

[2021-10-05 16:53] Hlavtox commented on #21766
I would do this configurable and add a new toggle to Prestashop Order settings. "Change order status to backorder if ordered products are not in stock".

The first thing I removed from a fresh PS install. :-)

[2021-10-05 16:56] eveneme commented on #25975
I looked at the demo in figma. Well done! :) Now it's only good to implement it and it will be good :)

[2021-10-05 17:09] Hlavtox opened #26119 "Ghost cart and wrong quantities in front office if cart deleted in BO"
I discovered an important issue with one of my big clients, when deleting abandoned carts. Users see wrong quantities in front office if going back to the store.

#### Steps to Reproduce

1. Create products A and B, assign quantity 10 to both of them, disable ordering when out of stock.
2. Add 10 of product A to cart.
3. Go to backoffice and delete your user's cart (imagine it has been abandoned f

[2021-10-05 18:38] tenenick commented on #26028
Hi to all,
I guess I have the solution. It depends on what Install-Zip I choose to install:
1. prestashop_1.7.8.0-rc.1.zip (78.7MB) downloaded from https://www.prestashop.com/en/versions:
  --> The first I tried with the problems described
2. prestashop_1.7.8.0.zip  (78.7MB) downloaded from https://github.com/PrestaShop/PrestaShop/releases/tag/1.7.8.0:
   --> Final Release but with the same proble

[2021-10-06 07:05] humanyu opened #26121 "How to apply coupon on shipping fee?"
I am trying to use wallet amount to purchase order, so I am creating a coupon code and applying on cart. but cart rule is not applied on shipping fee.

[2021-10-06 07:35] matks commented on #26028
Hello @tenenick I cannot download a ZIP from https://www.prestashop.com/es/descargar-exito could you tell me where you found the link to download?

[2021-10-06 07:44] okom3pom commented on #26121
This is not a bug report.

For this question you can ask on :

https://www.prestashop.com/forums/
https://stackoverflow.com/questions/tagged/prestashop
https://www.prestashop-project.org/slack/

Regards

[2021-10-06 07:59] hibatallahAouadni commented on #26121
Hello @humanyu

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-10-06 07:59] #26121 closed

[2021-10-06 08:29] tenenick commented on #26028
Hi matks
The Link is https://www.prestashop.com/es/descarga and not https://www.prestashop.com/es/descargar-exito  ;-)

[2021-10-06 08:32] hibatallahAouadni commented on #26119
Hello @Hlavtox

I didn't manage to reproduce the issue with PS1778 and PS1767, see the attached screen record below:

https://watch.screencastify.com/v/3DL1AhhPnxv4safCkOfc

Please check and feedback.
Thanks!

[2021-10-06 08:44] marionf commented on #19702
I close this issue as MBO isn't in the scope of the core

[2021-10-06 08:44] #19702 closed, assigned to nobody

[2021-10-06 08:46] #11121 closed, assigned to LouToma, TristanLDD

[2021-10-06 08:57] antonioNKT opened #26123 "Module catalog doesn't work on PS 1.7.8"
#### Describe the bug

In a fresh/new install, I can't access to "admin" site, so I take off the multiview module on .htaccess and I can login in the admin page / backoffice. But the module catalog doesn't work. Actually I can't even upload a module on my own.

Tried on 1.7.7 and works perfectly.

![Captura de pantalla de 2021-10-06 10-55-05](https://user-images.githubusercontent.com/72248688/1361

[2021-10-06 09:16] NeOMakinG commented on #25975
By the way, you are all able to participate to this theme : https://github.com/PrestaShop/theme-refacto/issues

Don't hesitate, it's hacktoberfest, you're able to grab a shirt by helping the project going far :)

[2021-10-06 09:28] kpodemski commented on #19492
Hello @marionf

Can you please take a look here https://github.com/PrestaShop/PrestaShop/pull/26089 ?

[2021-10-06 09:29] joseprr87 commented on #12430
I have the same problem!

I just finish to upgrade ps 1.7.4 -> 1.7.5.0. How can I fix the problem?

[2021-10-06 09:38] simbus82 commented on #23057
I have the same problem with 1.7.7.2.
[06-Oct-2021 11:35:00 Europe/Rome] PHP Deprecated:  strpos(): Non-string needles will be interpreted as strings in the future. Use an explicit chr() call to preserve the current behavior in /public_html/modules/sekeywords/sekeywords.php on line 92

[2021-10-06 09:48] #26119 closed, assigned to nobody

[2021-10-06 10:24] hibatallahAouadni commented on #26028
Hello @tenenick

--> no problem :heavy_check_mark:

--> no problem :heavy_check_mark:

--> it's **1.7.7.8** and not 1.7.8.0 that's why not the same size :wink:
![image](https://user-images.githubusercontent.com/23308427/136185478-1180ca13-2ce0-4d16-8393-18765de501b8.png)

Please check and feedback.
Thanks!

[2021-10-06 10:29] hibatallahAouadni commented on #26123
Hello @antonioNKT

I didn't manage to reproduce your issue with PS1780_rc1.
Could you please provide a screenshot of your console :pray:
Please check and feedback.

Thanks!

[2021-10-06 10:39] tenenick commented on #26028
Oh my god sooo sorry my fault!
Ok then the fault persists with 1.7.8.0

[2021-10-06 10:48] hibatallahAouadni commented on #26117
Hello @maofree

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #23808.
And it's already fixed by this PR #24920

Thanks!

[2021-10-06 10:48] #26117 closed, assigned to nobody

[2021-10-06 10:48] hibatallahAouadni commented on #26117
Duplicate of #23808

[2021-10-06 10:53] humanyu opened #26125 "Tax amount become zero while applied cart rule of amount equal to cart sub total amount"
Hello Everyone,

for example-

Cart sub total- $100.00
Tax- $18.00
Cart Total $118.00

if I am applied a coupon of amount $100 then
Cart sub total- $100.00
Discount- $100.00
Tax- 0.00
Cart Total $0.00

so tax is going to zero while applied a coupon amount equal to cart sub total amount.
** tax is applying after coupon applied

Thank you

[2021-10-06 10:55] sowbiba commented on #25628
Hello
The translations in the Core are extracted when we build a version and committed
https://github.com/PrestaShop/PrestaShop/tree/1.7.7.x/app/Resources/translations/default
If you modify them, it will work but you will probably loose the modifications on the next upgrade

The fact is you don't have to modify Core files like this. You should use a hook, if there is one, or create a module to ove

[2021-10-06 10:56] hibatallahAouadni commented on #26091
Hello @Speedy1010

I just edit your issue description, could you please complete the exepected behavior, steps to reproduce and provide your PHP version, GoogleAnalytics version.
Please check and feedback.

Thanks!

[2021-10-06 10:59] hibatallahAouadni commented on #26125
Hello @humanyu

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **Please respect and  follow the provided template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further

[2021-10-06 10:59] #26125 closed

[2021-10-06 11:01] hibatallahAouadni commented on #26092
Hello @Thread10

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2021-10-06 11:01] #26092 closed, assigned to nobody

[2021-10-06 11:08] loetje88 opened #26127 "Price rounding + vat still not correct"
#### Describe the bug

Wrong total price is calculated if prices are ex. vat.

#### Expected behavior

Show the right prices.
For example :

Product of E 3.25 inc. vat = 2,6859 excl. vat -> this can be rounded to 2.69
60 x 2,69 = a total ex vat of E 161.40 , but prestashop calculates only 161.14 - where there is an income loss of almost 0.40ct!!!

#### Steps to Reproduce

Steps to reproduce the be

[2021-10-06 11:08] Progi1984 commented on #25891
Fixed in #25903 by @Progi1984

[2021-10-06 11:08] #25891 closed, assigned to Progi1984

[2021-10-06 11:09] #25715 closed, assigned to nobody

[2021-10-06 11:21] loetje88 commented on #26127
@Hlavtox  Yes,

But the price listed and shown is not 2.685951 , but 2.69 (see shopping cart and product page screenshot).
2.69 x 60 = 161.40

If i enter 2.69 as ex vat in backoffice, the price incl vat is wrong -> 3.26 in stead of 3.25

[2021-10-06 11:24] loetje88 commented on #26127
@Hlavtox  see attached screenshot.

No matter is prices are entered in or ex vat - price calculation and rounding is still wrong.

3.25 x 60 (fro a price of 2.69 ex vat as it should be) = E 195 -> not E 195.29 in total
![nl5](https://user-images.githubusercontent.com/31586907/136193637-f73e9446-a348-4a2b-bbdc-ea41f9ef33a5.png)

[2021-10-06 11:26] humanyu opened #26128 "Discount should be apply on tax included cart amount."
#### Describe the bug

If I am trying to apply cart rule as same amount of cart sub total then tax is going to be zero

#### Expected behavior

Discount should be apply on tax included cart amount.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add a item in cart
2. Create a cart rule of same amount of cart sub total from BO
3. Apply cart rule on cart page
4. Tax become zero while

[2021-10-06 11:30] loetje88 commented on #26127
And just to be sure, a screenshot for the VAT settings
- round up when above half (recommended)
- Round up on each rule

* Also tried : Round up to closest value (causes product prices to be off , for example 3.26 in stead off 3.25 and still wrong calculation on ex vat prices for the product)
* Round each item (causes a wrong total vat)
![nl6](https://user-images.githubusercontent.com/31586907/136

[2021-10-06 11:59] #9722 closed, assigned to nobody

[2021-10-06 12:09] vahidalvandi commented on #17539
solved for me but have issue in correct display page and load css

[2021-10-06 12:50] hibatallahAouadni commented on #26093
Hello @camlafit

I just edit your issue description, so could you please provide steps to reproduce the issue.
Cause with provided infos, I didn't manage to reproduce the issue with PS1778, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/136194853-7d73335d-831d-48ca-bff3-2a6d9dbfebaa.png)

Please check and feedback.
Thanks!

[2021-10-06 12:57] matks commented on #25628
https://github.com/PrestaShop/PrestaShop/tree/1.7.7.x/app/Resources/translations/default
If you modify them, it will work but you will probably loose the modifications on the next upgrade

@hadran9 When we build a new release, we launch a **scan** of all php files of PrestaShop and we look for `trans()` calls. This is how we collect all wordings we need to translate. Then we save this, and this is

[2021-10-06 13:02] MageParts commented on #17988
Lots of love

[2021-10-06 13:18] Hlavtox commented on #26127
@loetje88 So what would you want to happen? How would you like to enter and save the prices?

[2021-10-06 13:22] loetje88 commented on #26127
@Hlavtox  preferably, in my case i would like to enter the prices vat inc. in the backoffice.
But in the end, i dont think one should exclude the other - prices are shown wrong either way.

I would go with saying it should just give the right price - so if the systems thinks 2.685951 should be dusplayed front office as 2.69 , it would need to calculate with that as well.
And at this moment, that i

[2021-10-06 13:25] hadran9 commented on #25628
@matks Thank you for your answer.
Is there's a way to relaunch the scan ?

[2021-10-06 13:26] eternoendless commented on #25628
We really need to add this use case into the docs. The solution is as @khouloudbelguith and @sowbiba  said, you need to add your new wording to the default catalogue so that it shows up in the translation interface. This only needs to be done when you are adding wordings to the core translation domains, if you were doing this in a module it would be picked up automatically.

The trans-unit id is p

[2021-10-06 13:30] hadran9 commented on #25628
@eternoendless Okey, Thank you for your answer.
I'll try that and I'll get back to you.

[2021-10-06 16:14] eveneme opened #26129 "Redis built in prestashop"
#### Describe the solution you'd like

Build in prestashop redis, not via a module. in thirtybees is built into the system it is prestashop 1.6 is modified.

There are many extra paid functions in prestashop.

[2021-10-06 16:57] hibatallahAouadni commented on #26127
Hello @loetje88

We have an EPIC about all rounding issue #19445 could you please check it, you may find a duplicate of your issue.
Thanks @Hlavtox for your quick replies :superhero:

Thanks!

[2021-10-06 16:59] #25593 closed, assigned to atomiix

[2021-10-06 16:59] hibatallahAouadni commented on #26129
Hello @eveneme

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-10-06 17:49] pouzarm opened #26130 "Testing email + Mail:send function"
#### Describe the bug

- Testing email in administration not sending (response is 500).
- `Mail::send` function in custom module returns false (in xdebug - same error like in testing email)

#### Expected behavior

- Send an email (not return 500 in administration response and not returning false on `Mail::send` function).

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to admini

[2021-10-06 19:07] piotro9x commented on #25638
Hello, I am still unable to get the catalogue discount rules to work. I present the video. I previously had multistore running - currently inactive (not sure if this is relevant).
[https://watch.screencastify.com/v/SWyGszx1dMLFB7cPcb7X?fbclid=IwAR1hpjAExSCEGOBfOXIAVY7ZuaP9isLc_NbNvHYPmZsQFPMEXvojqvS19_g](url)

[2021-10-06 19:15] loetje88 commented on #26127
@Hlavtox

Putting that that is how it works in every ecommerce, it a bit overrated.
If i enter my prices inc vat in wordpress, i have no problem.

It has been a while, but i think i remeber that this was the same when we tested magento.

And, i have fairly tried almost every saas software before turning to CMS, and have had no problems entering prices in or ex vat and rounding.

Even here on githu

[2021-10-06 20:18] matks commented on #23010
The [demo](https://www.youtube.com/watch?v=x37-QOockEo) required a lot of people and focus 😅 so the release process was paused to make sure the demo was nicely held, and then we have resumed and we should finish the publication process tomorrow.

[2021-10-07 04:07] okom3pom commented on #23755
Hello @khouloudbelguith

This issue seems to be fixed

https://www.okom3pom.com/videos/cart-rules-bulk.webm

Regards

[2021-10-07 08:05] eternoendless opened #26134 "Update passwords in md5 to bcrypt"
#### Is your feature request related to a problem?

Although customer passwords are normally encrypted using bcrypt, PrestaShop still supports passwords stored in md5 in previous releases.

#### Describe the solution you'd like

PrestaShop should upgrade the customer's password to bcrypt automatically when they successfully log in and their password is encrypted in md5.

[2021-10-07 09:04] deepindersingh83 opened #26135 "Settings are shown twice in the BO"
#### Describe the bug

Some menu option are shown twice in the BO

For example add new product and Help in Products section

![image](https://user-images.githubusercontent.com/568596/136354009-3082b766-5ba1-4536-ab36-84467e1e1236.png)
If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional information

* PrestaShop version: 1.7.8.0
* PHP version: 7.3

[2021-10-07 09:07] marwachelly opened #26136 "Autoupgrade - Autoupgrade to develop is not possible"
#### Describe the bug
There is an error during the autoupgrade to the 8.0.0.

#### Expected behavior

Autoupgrade to develop is possible with no error.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a release 8.0.0 using (php tools/build/CreateRelease.php) from develop branch
2. Install autoupgrade module in version 1.7.8.x
3. upgrade the version 1.7.8.0RC/1.7.8.1/1.7.7.8  t

[2021-10-07 09:07] tenenick commented on #26028
Hi I was just wondering if it would possible, that the ICU version installed on the server could affect? I mean I am using a spanish install, did you test it with a spanish install, too?
I have installed ICU 57.1 and the newest is 69.1. I got in touch with my hoster to check this.
If anybody has any idea please comment. Thank you.

[2021-10-07 10:13] #26094 closed, assigned to nobody

[2021-10-07 10:13] #26034 closed, assigned to nobody

[2021-10-07 10:17] gennaris opened #26137 "BO invoice counters are wrongly displayed in "All shops" context"
( Note: I am opening this issue as requested by @PierreRambaud - A fix for this had already been made in my PR #24120 )

#### Describe the bug
Backoffice invoices counters are displayed only for one shop when using multishop in "All shops" context

#### Expected behavior

I would expect to see counters considering invoices from all shops.

#### Steps to Reproduce

Steps to reproduce the behavior:

[2021-10-07 10:26] hibatallahAouadni commented on #26096
Hello @KrzysztofWWW

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-10-07 10:26] #26096 closed, assigned to nobody

[2021-10-07 10:42] humanyu commented on #26128
@hibatallahAouadni  Please try to understand my point

why tax is going to zero in my senario?

If i changed tax include for cart rule then it's showing only $84.75 inseatd of $100. This is a bug

*Cart rule is not working with product tax.

![sc7](https://user-images.githubusercontent.com/33083243/136369185-5b3a9228-9839-4fa9-9fba-ea1d322f929d.png)

![sc6](https://user-images.githubusercontent.co

[2021-10-07 11:04] humanyu commented on #26128
@hibatallahAouadni  I changed BO cart rule setting as per yours

my total is $118 and i also create a coupon of amount $118 and applied, but discount is showing only $100...Here we applied $118 but not reflecting.

Please have a look screenshot below
![g0](https://user-images.githubusercontent.com/33083243/136372154-fd9f9b69-0220-461b-865e-0ce6bbc58d3d.png)

![g1](https://user-images.githubusercon

[2021-10-07 11:16] #26105 closed, assigned to nobody

[2021-10-07 12:51] raidnet-ms opened #26140 "Unable to select default template for translation editing"
#### Describe the bug

Choosing the template in international settings to change laguage field for the frontend is not possible anymore. you get a "null" value, no template selected and you can't edit the default template frontend language.

#### Expected behavior

As in 1.7.7.6 I'm supposed to be able to select the frontoffice template to edit language fields.

#### Steps to Reproduce

Steps to r

[2021-10-07 12:52] tswfi commented on #20817
can you find more hours to my days somewhere :D

but yes, this is one the things that are on my backlog and needs to be addressed as soon as I have time...

[2021-10-07 12:54] raidnet-ms commented on #26127
same problem here

[2021-10-07 13:07] dsamsoniuk commented on #26083
Ok I found a reason, turn on DEBUG MODE
with version php 7.2 it will give error toast, but in php 7.3 this looks like is fixed and works fine with debugger and without.

[2021-10-07 13:14] #23010 closed, assigned to sowbiba, MatShir

[2021-10-07 13:16] matks opened #26141 "Release 1.7.8.1"
This issue tracks the status of the PrestaShop 1.7.8.1 release

### Information

Q                                    | A
-----------------------|---------------
**Type**                        | Patch version
**Estimated build**  |  5 November 2021
**Milestone** | https://github.com/PrestaShop/PrestaShop/milestone/75
**Kanban** | https://github.com/PrestaShop/PrestaShop/projects/17
**Delivery dat

[2021-10-07 13:17] chattago2002 opened #26142 "Developer documentation not complete enough"
Hi everyone.

I'm reading the devdocs for 1.7 at https://devdocs.prestashop.com/1.7/ but I can't find the entire documentation to develop a module. I'd like to know all methods (and relatives parameters) for PS objects as Product, Tag, Order, etc...

Example
`Product::getProducts(Context::getContext()->language->id, 0, 200, 'position', 'ASC', $id_category, true);`

How can I know all parameters fo

[2021-10-07 13:27] #26142 closed, assigned to nobody

[2021-10-07 14:06] #25105 closed, assigned to nobody

[2021-10-07 14:37] sirius82 opened #26143 "URL rewriting : impossible to disable it"
#### Describe the bug

After to have migrate the website on an other server, product and category images are not displayed. So I try to disable the url rewriting but after to have saved, the button is always on "ON". To test if it's due to the transfert, I tested also on the first server. And it's the same.

#### Expected behavior

I wish to be able to disable the url rewriting

#### Steps to Repr

[2021-10-07 15:12] marionf opened #26144 "Fix module manager bugs"
#### Describe the bug

**Following the PR #25245 there are some things to correct on the module manager page**

- [x] When I select "show all modules" and click to uninstall a module, the button to reinstall it isn't displayed until I refresh the page.
It should be displayed right after uninstalling the module.

![Capture d’écran 2021-10-07 à 16 47 24](https://user-images.githubusercontent.com/1

[2021-10-07 15:19] hibatallahAouadni commented on #26140
Hello @raidnet-ms

I didn't manage to reproduce your issue with PS1778, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/136414361-9ff128a7-f66b-4844-9f2b-6b9b640f7dba.png)

Please check and feedback.
Thanks!

[2021-10-07 15:20] raidnet-ms opened #26146 "Search module for default classic template not compatible with 1.7.8"
#### Describe the bug

The frontend module is not rendering properly

#### Expected behavior

Properly rendering with correct width and without showing resize bars inside the search field.
But here are also font rendering problem as if some css is missing.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'homepage'
2. look on 'search field inside navbar'

**Screenshots**

<img

[2021-10-07 15:23] #25978 closed, assigned to nobody

[2021-10-07 15:53] #26146 closed, assigned to nobody

[2021-10-07 16:12] khouloudbelguith opened #26149 "BO - Customer View page - Sort in the block voucher & the block addresses are NOK"
#### Describe the bug

Related to https://github.com/PrestaShop/PrestaShop/issues/25588
In the BO > Customers > Customers view page if we have more than some vouchers and some addresses, the Sort with all fields is not working.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create some vouchers for a customer John DOE
2. Go to BO > Customers page
3. View the customer John DOE
4. In

[2021-10-07 17:45] hibatallahAouadni commented on #26107
Hello @diegoparoni

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we

[2021-10-07 17:45] #26107 closed, assigned to nobody

[2021-10-07 17:46] #26104 closed, assigned to nobody

[2021-10-07 17:48] #26101 closed, assigned to nobody

[2021-10-07 19:00] VidarPc opened #26150 "PrestaShop 1.7.8.0 does not show "Summary" and "Description" frame when using Microsoft Edge, but with Google Chrome is working as normal"
#### Describe the bug

I am not able to see the "Summary" and "Description" frames when using Microsoft Edge in Windows 11. But I can see the frames when using Google Chrome.
#### Expected behavior

I was expecting to get the frames displayed. But it does not appear any frames. Only the "Summary" and "Description" line.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to PS 1.7.8.

[2021-10-07 19:12] VidarPc commented on #26150
I am attaching an image of the same product when using Google Chrome. Here it appears as in earlier versions
![Skjermbilde 2021-10-07 215827](https://user-images.githubusercontent.com/18537770/136447756-7d00f088-1a20-4677-8e22-f7a302bb7d86.png)
.

[2021-10-07 20:02] hombean commented on #24141
I have the same problem on Prestashop 1.7.7.8.

[2021-10-07 21:07] eveneme opened #26151 "Go to Cache clean, clean cache then error file_exists(): open_basedir restriction in effect"
#### Describe the bug

After clearing the cache and entering the desktop it crashes an error

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Cache clean and clean cache
2. Click on Desktop
4. See error:
[code]

**Screenshots**

https://i.ibb.co/yS2RZLb/obraz-2021-10-07-230357.png

#### Additional information

[2021-10-08 06:40] #26150 closed, assigned to nobody

[2021-10-08 07:26] antonchik777 opened #26152 "Social media follow links"
#### Describe the bug

Social media follow links went down as in the screenshot after updating from 1.7.7.7 to 1.7.8.0(Classic theme)
Excuse me if this is a new feature.

#### Expected behavior

Previously, they were on par with the email subscription block(Classic theme)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Update prestashop to version 1.7.8.0
2. Scroll down to 'Footer'

[2021-10-08 07:33] #16239 closed, assigned to Progi1984, Julievrz

[2021-10-08 07:48] madsoliver opened #26153 "More clear admin listings in general, categories specially"
#### Is your feature request related to a problem?
- Merchants do not know how to sort categories.
- Merchants do not know how to edit a category with children.

#### Describe the solution you'd like
- I suggest showing a more standardized sorting symbol like: https://commons.wikimedia.org/wiki/File:Move_icon.svg
- I suggest showing the icons all the time, and not only on hover
- I suggest allways

[2021-10-08 07:56] madsoliver opened #26154 "Move procuct-combinations back to a separate tab"
#### Is your feature request related to a problem?

Before 1.7.8.0 Combinations (inside the edit product controller) was in a separate tab. It was better because:
When you have 10 colors, 3 styles and 5 sizes it means 150 combinations and a mile long page.
When other essential content is below combinations (like stock behaviour), it might get overseen.

Also it's confusing that categories are dire

[2021-10-08 08:10] madsoliver opened #26155 "Add information about reserved stock to avoid confusion when editing stock in admin product controller"
#### Is your feature request related to a problem?

Merchants are confused why stock says 100 when they just recently put 7 of that product in a box. So they change to 93 product (not knowing that in the background it's 100 - 7reseved = 93).
So when the order(s) are sent, the stock is subtracted to a wrong value.
Yes, it's a mistake the merchant did, but it's made from a confusion that would (prob

[2021-10-08 08:18] doeselschnecke commented on #23010
Really impressed, 1.7.8.0 is a great release!

Is the final release identical to RC1 or is it a different build?

[2021-10-08 08:19] matks commented on #23010
There is only 1 difference: bug https://github.com/PrestaShop/PrestaShop/pull/25982 was fixed in the final release.

Thank you for the amazing message !

[2021-10-08 08:44] Pianczetti opened #26156 "Faceted search - Choose the exact order of each filter (alphabetical or by id)"
#### Is your feature request related to a problem?

I would like to know if there is any possibility to set ordering of filters in faceted search in some other way than alphabetical

#### Describe the solution you'd like

I would like to have choice to set one group of filters in alphabetical order, and other group of filters ordered by id.

PS 1.7.7.5
Faceted search 3.7.1

[2021-10-08 09:26] daresh opened #26157 "Incorrect accented chars replacement for ö and ä"
#### Describe the bug

When importing a product with the above letters in name, the friendly URL is not perfectly correct, ö is changed to o, and ä is changed to a

#### Expected behavior

ö should be changed to oe and ä should be changed to ae

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Prepare a simple CSV file with only one cell - a name of a product containing "ö ä" letters

[2021-10-08 09:32] Hlavtox opened #26158 "Add ability to set image thumbnail fitment"
#### Is your feature request related to a problem?

I want to implement a fancybox gallery to my client's templates, which will show a large image that can go full screen. I cannot set how an image should fit into the generated thumbnail dimensions.

#### Describe the solution you'd like

We should be able to configure how each thumbnail size should be generated and add a new configuration option

[2021-10-08 09:38] #21207 closed, assigned to Progi1984

[2021-10-08 10:34] khouloudbelguith commented on #26157
@daresh, I updated the title and the first comment because `å converted to a` in the creation of the product.

Thanks!

[2021-10-08 10:35] daresh commented on #26157
Thanks, I'm planning to contribute on this issue, maybe I'll stick to ö and ä so it's consistent between the button and the import.

[2021-10-08 10:52] marwachelly commented on #26136
Hi @atomiix ,
You are right, the upgrade to develop works fine when deleting those 3 modules. It is not a core issue. So i will close the issue .
Many thanks,

[2021-10-08 10:53] #26136 closed, assigned to nobody

[2021-10-08 11:05] khouloudbelguith commented on #26153
Hi @onklmaps,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fea

[2021-10-08 11:52] xonsuns opened #26159 "Performance issues with ps_facetedsearch"
#### Describe the bug

We found for some weeks a CPU usage % in our servers of 70%+ when we edit or create a product. Also it starts to take more and more time to do it (last time it was 35sec!). After talking with our hosting they sent us a x-ray php report with a 139ms query launched 205 times by the module. I delete the cache (both manually and auto), reindex product prices, delete price filter

[2021-10-08 12:01] khouloudbelguith commented on #26159
Hi @xonsuns,

Thanks for your report.
We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #19095
So, I close it.
Thanks!

[2021-10-08 12:01] #26159 closed, assigned to nobody

[2021-10-08 12:01] khouloudbelguith commented on #26159
Duplicate of #19095

[2021-10-08 12:06] khouloudbelguith commented on #26152
Related to https://github.com/PrestaShop/PrestaShop/issues/20748

[2021-10-08 12:11] khouloudbelguith commented on #26156
@Pianczetti, thanks for these clarifications.
The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fea

[2021-10-08 12:25] eveneme commented on #26151
This is new install shop 1.7.8.0. I did not install any modules, it is a clean installation. I get this error when debug mode is on. If you turn off debug, you won't get an error. I recorded a video see  https://youtu.be/Y97EFVtcLFY

[2021-10-08 12:50] eveneme opened #26161 "The menu in the management panel is not displayed properly."
#### Describe the bug

The marketing link is displayed badly, but only in the dashboard.  on the screenshot you can see everything.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Dashboard
4. See error Link marketing displayed badly.

**Screenshots**

https://i.ibb.co/Ws2f0Zc/obraz-2021-10-08-144915.png

#### Additional information

* PrestaShop version: 1.7.8.0 but problem a

[2021-10-08 13:05] daresh commented on #26157
Did you read point 1?

PrestaShop already does it exactly like this in the Back Office. Only the old PHP code has it done differently. Look at the screenshots above.

[2021-10-08 13:10] daresh commented on #26157
Allright, always good to verify this information with some native speakers :)

[2021-10-08 13:14] #25298 closed, assigned to ytilotti

[2021-10-08 13:14] #25594 closed, assigned to jolelievre

[2021-10-08 13:18] #25951 closed, assigned to nobody

[2021-10-08 13:30] #25703 closed, assigned to Progi1984

[2021-10-08 13:36] marionf opened #26162 "Multistore - Advanced Parameters > Performance - Add checkboxes and specific settings dropdown"
## Checkboxes
As a merchant, I want to be able to select one or many fields / toggles when I am in a specific shop context or in a group context, so I can apply a different configuration for the selected store or group and see which parameters have different value(s) for the selected store or group.

[Specs checkboxes](https://github.com/PrestaShop/prestashop-specs/blob/master/content/1.7/back-off

[2021-10-08 14:02] matks commented on #26066
Naturally this is a good thing 👍  I confirm the code for PS 1.5 should be removed.

[2021-10-08 14:06] matks commented on #25860
Confirmed. We should never assume input data is valid. If PrestaShop behavior is wrong when receiving invalid input data, it's a bug.

For this 2nd part it's not easy to know what to do 🤔  . I agree the current system is brittle and needs to be improved, but I cannot mark this as a bug. It's rather a "does not behave well under large number" and the solution is a mix of code changes and product de

[2021-10-08 14:07] matks commented on #25792
@boubkerbribri is it useful to keep this issue open ?

[2021-10-08 14:16] hadran9 commented on #25628
Hello everyone,
I've tried the solution suggested by [@khouloudbelguith ](https://github.com/PrestaShop/PrestaShop/issue/25628#issuecomment-902619934) and @eternoendless :

MD5 ("The password and the confirmation password don\'t match") = 5c770f09a8e8eae4e0f3a3c8a122c548

And it's working.

I suggest to add this part in the docs like @eternoendless suggested:

Because when I was searching in the d

[2021-10-08 14:16] #25628 closed, assigned to nobody

[2021-10-08 14:29] boubkerbribri commented on #25792
I'm not sure. We can keep it open and keep track of this discussion. The only thing I know, it could take time before start working on this.

[2021-10-08 15:19] CosimoPalermo opened #26167 "Email not being forwarded from Prestashop 1.7.7.8"
#### Describe the bug

I recognized that when a customer is subscribing to my newsletter or is purchasing an item the my Prestahop 1.7.7.8 is not forwarding the confirmation email.

#### Expected behavior

I noticed  that instead of forwarding the automatic emails to the correct address, the software is being forwarding them to my own address, as like somebody is contacting me directly from my "co

[2021-10-08 15:36] khouloudbelguith commented on #26167
Hi @CosimoPalermo,

Could you please test the send email in the BO > Advanced Parameters > Emails page?
![image](https://user-images.githubusercontent.com/16067358/136584437-feb33400-47c7-4a23-bfb5-4bb3f264876e.png)

What is the exact option did you use to send an email? is it `Use /usr/sbin/sendmail ` or  `Set my own SMTP parameters`?

Thanks!

[2021-10-08 15:37] khouloudbelguith commented on #26099
Hi @Daaaaad,

Sorry for the delay.
What is the exact version PrestaShop did you use?

Thanks!

[2021-10-08 15:48] lhapaipai opened #26170 "module blockreassurance bug with SVG icon"
hi,

if I use the module blockreassurance with a Svg icon and if `__PS_BASE_URI__ == "/"` the module crash on this line :

https://github.com/PrestaShop/blockreassurance/blob/f4cd657281220290af75e8b72ec7987aba6f0f24/classes/ReassuranceActivity.php#L190

because `str_replace` php function try to replace every `/` by `_PS_ROOT_DIR_` not only the first.

[code]

a solution could be

[code]

#### Addi

[2021-10-08 15:48] drkbcn commented on #26028
![image](https://user-images.githubusercontent.com/2090227/136585830-7f3e0981-f866-452e-b4f9-1565ad4ef8a4.png)

Facing the same problem here, with Spanish (ES-ES) Everything works like a charm if I switch back to English.

[2021-10-08 15:51] khouloudbelguith commented on #26083
Hi @dsamsoniuk,

We are awre of the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #25797
So, I close it.
Thanks !

[2021-10-08 15:51] #26083 closed, assigned to nobody

[2021-10-08 15:51] khouloudbelguith commented on #26083
Duplicate of #25797

[2021-10-08 16:06] lhapaipai commented on #26170
Oups a discussion is already in progress : PrestaShop/blockreassurance#213

[2021-10-08 16:09] hugolin69 commented on #16826
I reach the same problem.
You invoice a product of 83.33 EUR without taxes (100 WT). You offer a voucher of 8.33 EUR without taxes (10 EUR WT).
You will have a Product 83.33 EUR - Voucher 8.33 - 75 EUR + 15 EUR (20% taxes on 75 EUR) = 90 EUR

You made a credit slip.
It will calculate the VAT on the product without taxes 83.33 EUR BEFORE the voucher applies, then it will be 16.66 EUR of taxes.

Thi

[2021-10-08 16:13] VidarPc opened #26171 "Multishop - The Payment modules does not work after "I agree to the terms of service", "order with an obligation to pay" is disabled"
#### When ready to confirm the order and check out for payment either using "Pay by bank wire", "Pay using PaySera", "Cash On Delivery (COD)", "PayPal" any of these modules allows you to continue with the "Order with an obligation to pay". The only module that allows continuing the payment process is the "Prestashop Checkout" module.

When ready to click on the "Order with an obligation to pay" th

[2021-10-08 16:25] #26170 closed, assigned to nobody

[2021-10-08 16:34] khouloudbelguith commented on #26140
Hi @raidnet-ms,

I did not manage to reproduce the issue with PS1780 after an upgrade from PS1777 using the 1-click upgrade module
I attached a screen record
https://watch.screencastify.com/v/bB2MgwPBBvAAOBN3PeC0
Could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation, and clear the cache.
Also, try to open your shop in an in

[2021-10-08 16:36] #26123 closed, assigned to nobody

[2021-10-08 16:42] khouloudbelguith commented on #26093
Hi @camlafit,

In my case also, I did not manage to reproduce the issue with PS1780 and ps_googleanalytics v4.1.0
I attached a screen record
https://watch.screencastify.com/v/GaydVVOXNyNV34wgnXIf

Thanks to check and feedback.

[2021-10-08 16:51] #26080 closed, assigned to nobody

[2021-10-08 17:01] khouloudbelguith commented on #26167
@CosimoPalermo, It is a server issue.
You need to contact your host.
On this github repository there is no software support. This is an open source project.

You can find help

- on PrestaShop forums https://www.prestashop.com/forums/
- or by purchasing software support plan from https://www.prestashop.com/en/support

I will close the issue, feel free to create a new one.

Thanks!

[2021-10-08 17:01] #26167 closed, assigned to nobody

[2021-10-09 07:01] VidarPc commented on #26171
Thank you for your solution. I used the core.js file from 1.7.7.8 and now my clients can check out their baskets again using Pay by bank-wire, PayPal, or PaySera, and Cash on delivery. The developers must have tested only their own payment module "PrestaShop checkout", with the option pay by a card or pay using Paysera. Thank you so much Dainora. You made my day today! :-)

[2021-10-09 07:14] ADM777 opened #26172 "Place order button on final command page NOT ACTIVE on Prestashop 1.7.8"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-10-09 07:16] ADM777 opened #26173 "Product quantity change on Cart not change total value on cart on prestashop 1.7.8"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-10-09 08:07] musicpanda opened #26174 ".htaccess in /img directory"
#### Is your feature request related to a problem?

Since version 1.7.2.0 Prestashop has an .htaccess file in the /img directory.
On some hosting providers you won't notice the difference and missing files still produce a 404.

However, on A2hosting it results in all missing files resulting in a 403 - forbidden. I have seen this on two A2 accounts and A2 says that the .htaccess is the problem and

[2021-10-09 08:20] tenenick commented on #26028
Hi @drkbcn
I did exactly the same, but it did not work.
Then after testing everything, deleting all types of caches etc. There was only one difference with yours:
I did a translation before which was still there.
I did it with the normal BO translation over Internacional > Traducciones > Traducciones  de Backoffice -> Español. There I searched for the Key "We strongly advise you to upgrade the mod

[2021-10-09 11:56] fire2 commented on #25969
The proposed solution to install latest version of module (2.0.1) does not work on Prestashop 1.7.8.0 either. This is what I get:
<img width="665" alt="Screenshot 2021-10-09 at 13 53 43" src="https://user-images.githubusercontent.com/7990315/136656901-3874ea7c-e5ef-40b5-b87c-3233a95de1e9.png">

[2021-10-09 12:56] Zero-Room opened #26175 "Unable to send emails from PS v1.7.7.8"
#### Describe the bug

I have been trying to send emails from my PS domain but haven't been able to do so

#### Expected behavior

I expect the shop to send the mails

#### Steps to Reproduce

- sending a test mail
- sending any outgoing mail

**Screenshots**
![image](https://user-images.githubusercontent.com/26248035/136658680-fcf91db5-fb61-4af8-8c61-fe1d1f5bfb3d.png)
![image](https://user-images

[2021-10-09 13:21] tswfi commented on #25967
As commented in the PR changing the existing configuration class is not worth the risk of breaking stuff.

The new configuration service (https://devdocs.prestashop.com/1.7/development/components/configuration/) hopefully does not have this issue (didn't test yet).

I'm self closing this issue.

[2021-10-09 13:21] #25967 closed, assigned to nobody

[2021-10-09 14:03] lthienard opened #26176 "Column not found: 1054 Unknown column 'c.id_customer' in 'on clause'"
Hi,

Since my Upgrade to 1.7.8 version i can't access to Customer on BO (_index.php/sell/customers/{ID}/view_)

With Debug Mode I can't find where it can come from.

See Error:

[code]

#### Screenshot

https://drive.google.com/file/d/1DjQWGVqKNJz6Q9XzrnGlrctSTXF0o5aX/view?usp=sharing
https://drive.google.com/file/d/1DfQ24QmcWV3LtnokE4GgQREXxNKWvgEp/view?usp=sharing
https://drive.google.com/file/d

[2021-10-09 15:43] mparvazi opened #26177 "[BO] Modern email theme isn't optimized for RTL languages"
#### Describe the bug

Email templates that is generated base on Modern theme, isn't configured for RTL languages.

#### Expected behavior

Text align in email templates for RTL languages must be from right to left.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. BO language must be RTL
2. Go to BO > Themes > Email theme
2. At "Generate emails" section, select Modern theme
3. Select

[2021-10-09 19:09] musicpanda commented on #26174
#7678 is about executability of php files. But I see also a 403 for missing jpg files.

[2021-10-09 19:42] matks commented on #26028
Very nice debugging !

We'll have to mirror change https://github.com/PrestaShop/TranslationFiles/pull/21 on Crowdin too.

[2021-10-09 19:49] musicpanda commented on #26174
I looked at the test installation for 1.7.7.0 on my computer. But maybe that was polluted from some other source...

[2021-10-09 19:56] sir-kira opened #26178 "1.7.8 Update"
Hello,

After update to 1.7.8 i can't edit description of product.  Field have text and are sown in the shop, but in back office is blank.
Atched picture.
 Regards,
![product after update](https://user-images.githubusercontent.com/77806205/136672267-90bd6b9e-7b8b-4d2d-8b56-5b68e25da43f.PNG)

[2021-10-09 20:25] matks commented on #25547
Hello ! Sorry but I dont see how developers can help you sort this out 😅 . The people who built this are long gone and I guess there is no documentation about what's expected here. Unless someone digs the ghosts of the past to try to find out what happened, we'll never know.

I dont think it's interesting to dig in the past. I think the Product team should analyze this module and simply state what

[2021-10-09 20:28] matks commented on #25402
@eternoendless I dont see a strong reason to prefer the Symfony Http Client, and we'll soon be able to release major versions more often so the BC promise should not be an issue anymore.

As you mentioned I expect module developers to rely more on Guzzle than Symfony Http Client (it's just more popular and it has been around for a longer time) so IMO we should keep Guzzle for now. It could change

[2021-10-09 20:30] matks commented on #25278
Hello @jf-viguier and @atomiix do you have
- motivations for upgrading php-cs-fixer to v3
- or doubts against upgrading php-cs-fixer to v3

Now that work on v8 is really started, we can consider to bump php-cs-fixer version but we have to make sure it brings benefits.

[2021-10-09 20:48] kpodemski commented on #26178
Hello! Have you tried to clear the cache of your browser? Or try in the Incognito mode?

[2021-10-09 20:58] sir-kira commented on #26178
Solved. Tks kpodemski !

[2021-10-09 20:58] #26178 closed, assigned to nobody

[2021-10-09 21:09] kpodemski commented on #26140
I don't think it's related to the theme installation. It seems that you have some modifications that disable the first option in this select field. Is there any chance of it? In 1.7.8 there are no longer translations for "classic", "classic" translations = "core translations".

[2021-10-09 21:19] kpodemski commented on #26175
Hello 👋

PrestaShop 1.7.7.8 is not compatible with PHP 7.4. https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart

I suggest downgrading to 7.3 and checking again. Secondly, I recommend to use SMTP configuration.

[2021-10-09 21:22] kpodemski commented on #25969
@fire2 I think this is a completely different problem, tho I couldn't manage to reproduce it on the fresh 1.7.8 installation 🤔

@jasper4ni it's because you didn't run `composer install` so the autoloading basically doesn't work. You should use a package from the release page.

[2021-10-09 21:23] kpodemski commented on #26173
Hello @ADM777

Are you referring to the `prestashop` javascript object?

[2021-10-09 22:22] hibatallahAouadni commented on #26172
Hello @ADM777

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-10-09 22:22] #26172 closed, assigned to nobody

[2021-10-09 22:24] hibatallahAouadni commented on #26173
Hello @ADM777

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-10-09 22:24] #26173 closed, assigned to nobody

[2021-10-09 23:22] fire2 commented on #25969
Yes, sorry, you are right. There was another bug report already open for it. And it happens only when you had version 1.3.2 of the module (probably from a migrated PS 1.6 site), the upgrade doesn't work. Completely uninstalling the module and installing the new version worked.

[2021-10-09 23:40] Matt75 commented on #25969
@fire2 Fixed by https://github.com/PrestaShop/blockwishlist/pull/130

[2021-10-09 23:42] fire2 commented on #25969
Yep, would be good to merge it though.

[2021-10-10 04:33] jasper4ni commented on #25969
this fix my prob, should download the release module instead of just download the repo

[2021-10-10 04:47] ADM777 commented on #26173
YES...If I change product quantity on Cart, total value is same  on cart (it's changed just on refresh the page)
Ajax not working for delete product from cart too....and on order last page PLACE ORDER BUTON not activated (allways deactivated)

[2021-10-10 06:58] TGD001 opened #26179 "PS 1.7.8.1 Search Bar"
Installed new release, we upgraded  search  module to 2.1.1 but strangely bar appares as per picture enclosed.
We dont know if is a bug or we have to set it. We have been forced to delete new release and reload old one from backup.
Thank you for attention
Piero Terracina
![barra](https://user-images.githubusercontent.com/41903971/136686017-3ca09793-8738-43fa-a061-983bb52cb65c.JPG)

[2021-10-10 10:22] 01park commented on #25547
Hi @matks

 I assume for whole prestashop it's important that data is showen correctly. Showing an average sale, in my opinion, either should be correct, or removed by prestahop if they believe its out dated. Why show information that is incorrect?

The issue is also in 1.7.8

[2021-10-10 10:58] Gitdyr opened #26181 "Deleted currency entries are used to format price"
#### Describe the bug

A deleted currency entry will take precedence in formatting of prices.

#### Expected behavior

Deleted entries should be ignored.

#### Steps to Reproduce

Steps to reproduce the behavior:

~~1. Modify a currency entry in an old version of PrestaShop (I am not sure how long this goes back).~~
~~2. Change the precision (e.g. 4 decimals).~~
~~3. This will result in an entry w

[2021-10-10 11:59] tswfi opened #26182 "Console command for getting and setting config values"
#### Is your feature request related to a problem?

As a developer and sysadmin I want to set config values with scripts and automate setting things up without having to open a browser and login to BO and try to find the correct place.

#### Describe the solution you'd like

Console command that can be used to get, set and delete configuration values.

#### Alternatives you've considered

Nope :)

[2021-10-10 12:13] lthienard commented on #26176
Module Updated: Thank's for all

[2021-10-10 12:14] #26176 closed, assigned to nobody

[2021-10-10 13:10] #26143 closed, assigned to nobody

[2021-10-11 05:55] pablo9x opened #26186 "Catalog Price Rules Issue"
**Describe the bug**

I have a problem with the pricing rules. Everything configured correctly, rules enabled in preferences but the module does not show discounts. The application of promotions on a single product card works correctly. For verification, I installed a custom shop with the selected template and everything is correct there.

Module: Specials block v1.0.1

#### Expected behavior

I e

[2021-10-11 06:35] ghost opened #26187 "Bug in edit carrier after add an invalid character"
#### Describe the bug

You can't continue the process to edit a carrier after add an invalid character

#### Expected behavior

Same as 1.7.7 you can continue to edit the carrier.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Edit a Carrier'
2. On the name put `#` or `;`
3. Click to continue
4. Show the behavior:

**Screenshots**

![ScreenShot Tool -20211011083412](https://

[2021-10-11 07:55] hibatallahAouadni commented on #26182
Hello @tswfi

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this fe

[2021-10-11 08:38] hibatallahAouadni commented on #26171
Hello @VidarPc

I didn't manage to reproduce the issue with PS1780 and Multishop, see the attached screen record below:

https://watch.screencastify.com/v/8QBHo9M5qLXGm4ZmKZli

Please check your Payment Preferences (BO) and feedback.
Thanks!

[2021-10-11 09:19] ghost opened #26191 "FO: Changes to basket executed but not visible before going to different page"
#### Describe the bug

When someone goes to the basket and changes the quantity of a product or removes it from the basket, the actions are executed in the backend but they are only visible after clicking on the basket icon or navigating to a different page.

#### Expected behavior

The changes should be displayed immediately.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add an i

[2021-10-11 09:19] #26179 closed, assigned to nobody

[2021-10-11 09:59] 01park opened #26192 "1.7.8.0 prestashop product id field backoffice to small - visual improvement needed"
#### Is your feature request related to a problem?

The product id field in prestashop 1.7.8 is to small, its only displaying 2 digits

#### Describe the solution you'd like

I would like the fields to show at least 6 digits

#### Alternatives you've considered

n/a

#### Additional context

Example

n/a
![Screenshot 2021-10-11 at 12 56 39](https://user-images.githubusercontent.com/46492443/136771

[2021-10-11 10:02] 01park opened #26193 "1.7.8 Main menu module not able to update links"
#### Describe the bug

With the latest Main menu module when you want to update a created link, in stead of saying update. It shows add

#### Expected behavior

I returned to a older version where this problem is solved, but returned back in the latest version of Main menu

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to modules
2. Click on main menu
3. Add a link and then try

[2021-10-11 10:04] atomiix commented on #26136
Hey @Vinceveve, I think that for ps_facebook & ps_checkout the issue is that some services are not declared "public" but used without dependency injection which is something now required by symfony 4.4. For ps_metrics the problem comes from the fact that it uses guzzle 5 but develop is now using guzzle 7.

[2021-10-11 10:26] 0dp commented on #24442
Hi @matks
1.7.8.0 is out in the wild, should we see if the product-team is up for investigating ps_gdpr

[2021-10-11 10:53] hibatallahAouadni commented on #26186
Hello @pablo9x

I didn't manage to reproduce your issue with PS1777 and PS1778, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/136778214-88715648-08bc-4a12-a5cc-c8d130148cb0.png)

---
![image](https://user-images.githubusercontent.com/23308427/136778371-2101a838-e114-4e7e-a448-7c53eb73710b.png)

---
![image](https://user-images.githubusercontent.co

[2021-10-11 12:01] pablo9x commented on #26186
On my custom shop everything works too, so I would like to ask for help in explaining what might be wrong.
Or would it be possible to replace some batch files ?

[2021-10-11 12:02] Hlavtox opened #26195 "Wrong microdata brand item type"
#### Describe the bug
We have wrong microdata item type in our structured data. Google started complaining since 1.10.2021.
`Supported types: [http://schema.org/Brand,http://schema.org/Organization]`

#### Expected behavior
Item type must be Brand or Organization.

#### PR to fix
https://github.com/PrestaShop/PrestaShop/pull/26194
https://github.com/PrestaShop/theme-refacto/pull/69

**Screenshots*

[2021-10-11 12:49] hibatallahAouadni commented on #25930
Hello @jonathanromain

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-10-11 12:49] #25930 closed, assigned to nobody

[2021-10-11 12:52] hibatallahAouadni commented on #25968
Hello @jagcAnelis

Since we had no news from you for days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-10-11 12:52] #25968 closed, assigned to nobody

[2021-10-11 12:53] #25947 closed, assigned to nobody

[2021-10-11 12:54] hibatallahAouadni commented on #25960
Hello @darfk3d3

Since we had no news from you for days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-10-11 12:54] #25960 closed, assigned to nobody

[2021-10-11 12:55] hibatallahAouadni commented on #25945
Hello @prestaquality

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2021-10-11 12:55] #25945 closed, assigned to nobody

[2021-10-11 12:57] #26029 closed, assigned to nobody

[2021-10-11 13:01] #20835 closed, assigned to nobody

[2021-10-11 13:19] hibatallahAouadni commented on #25969
Hello @jasper4ni

Glad to hear :tada: So, closing the issue :wink:
@kpodemski @Matt75 Thanks guys for your quick replies :superhero:

Thanks!

[2021-10-11 13:19] #25969 closed, assigned to nobody

[2021-10-11 13:33] jordi-art opened #26197 "Search bar modules backoffice"
Prestashop 1.7.8.0
PHP 7.4
Hi Prestashop team ,i don't is this problem was ready reported. We have a problem in our shop after upgrade from 1.7.7.8 to 1.7.8.0 with 1 click module last version.
We have notice that the search bar modules on backoffice no work when we write the name of one module and click to srarch it show emptied.
Thank you for your job i
Best regards.

[2021-10-11 14:52] momo1240 opened #26198 "Can't translate overrided module template"
**Describe the bug**

When a module template is overrided in theme or childtheme, it's impossible to translate it in the back office
the translation is saved but a message is shown telling that it's missing ( please check the screenshot)
and nothing is updated on front office (tried to empty cache, etc..)
thank you

**Screenshots**
![Capture d’écran 2021-10-11 164418](https://user-images.githubuse

[2021-10-11 15:02] sfroment opened #26199 "Webservice Symfony Container not loaded"
#### Describe the bug

Call a webservice, try to save any Entity that as some lang involved and you'll get ```You have requested a non-existent service "prestashop.translation.translator_language_loader".```

#### Expected behavior

Having all the Symfony deps loaded

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create a webservice
2. Create an entity involving translation
3. ->ad

[2021-10-11 15:17] sfroment commented on #26199
Create your own webservice like
```class WebserviceSpecificManagementXXXX implements WebserviceSpecificManagementInterface```
Then in your module
[code]

[2021-10-11 15:18] matks commented on #26199
Does the error happen with regular entities that already exist in PrestaShop, like customer, product, country?

[2021-10-11 15:21] sfroment commented on #26199
Never tried but I believe it could be the case as this will go through the same dispatcher if you update an entity such as cart_rule, product

[2021-10-11 15:24] sfroment commented on #26199
You can just have the error by adding a $this->l at the construct of your module and then calling your WS

[2021-10-11 15:35] #26197 closed, assigned to nobody

[2021-10-11 15:36] #26134 closed, assigned to PierreRambaud

[2021-10-11 16:04] jordi-art opened #26202 "Module search and module manager does not work in 1.7.8.0"
#### Describe the bug
After upgrading from ps 1.7.7.8 to 1.7.8.0 with PHP 7.4 the module manager and module catalog does not work, it does not show any. This problem happens to more people than just us.
Any solution or should we wait for the next patch update 1.7.8.1
Greetings and thank you very much for the work you do.
**Screenshots**

![screenshoot backoffice module search](https://user-images.

[2021-10-11 16:11] hibatallahAouadni commented on #26195
Hello @Hlavtox

Thanks for reporting the issue and your PR :rocket:
I reproduce the issue with PS1764, PS1778, PS1780, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/136822208-81ee8e7d-2018-4dfe-b29d-f80b928a61c8.png)

I’ll add this to the debug backlog.

Thank you

[2021-10-11 16:14] JacHOBBY opened #26203 "Taxes do not print on invoices with version 1.7.8.0"
[FA013966-3.pdf](https://github.com/PrestaShop/PrestaShop/files/7323853/FA013966-3.pdf)

#### Describe the bug

When printing invoices in command module the taxes are calculated correctly but do not print on the invoice, and the printed version of the invoice does not show the proper total since taxes are missing.

#### Expected behavior

The invoice when printed should show different taxes separa

[2021-10-11 16:15] jordi-art commented on #26141
Hi could it be that update 1.7.8.1 came out before November 16? We are having several problems updating 1.7.8.0 and we don't know how to fix it. And we think they will be fixed for sure with the next update.

[2021-10-11 16:58] sfroment commented on #26199
Why should this be supported ?
1. This was supported before (at least since 2013).
2. The knowledge on how to support it should be at prestashop since it's used inside some part of prestashop actually.
3. Since it's in the hook is in the hook list I suppose that it should be supported.
<img width="1144" alt="Screenshot 2021-10-11 at 18 44 53" src="https://user-images.githubusercontent.com/7238385/

[2021-10-11 17:26] raidnet-ms commented on #26140
Sure I'll try to be as clear as possible.

In the classic template, when an user is trying to register, the default fields prompted for registration are:
![image](https://user-images.githubusercontent.com/22340972/136828542-e10d77b8-f0eb-48f9-a41e-14167e060610.png)
Where CODICE FISCALE (default translation for a default field) is supposed to stand for DNI  (right?)

Anyway, if I put an italialian

[2021-10-11 17:55] TGD001 opened #26206 "After upgrading from ps 1.7.7.8 to 1.7.8.0 with PHP 7.4"
Unfortunately I repeated the upgrade to the new version twice but I encountered two big problems that forced me to restore the backup. As I previously wrote in another thread, the sizing of the search bar looked wrong; in addition to this I noticed that it is not possible to add items to the cart and payment by bank transfer is not possible. So I kindly ask you to make a new release, the current o

[2021-10-11 18:18] VidarPc commented on #26171
I use SiteGround's server. The them that I use are from AngarTheme Version 2.4.0. I am running PS as a Multishop. For the other of the shops, I am using default Classic Version 1.0.0 (Designed by PrestaShop Team). The problem with clicking on the green line "Order with an obligation to pay" fail for both shops, so in my opinion it is not directly related to the theme. My shop is running now, but i

[2021-10-11 18:25] JacHOBBY commented on #26206
Bonjour Piero,

I do have the same theme zone buT I run on PHP 7.2.34. all my transaction with my cart are ok including payment. I have the same error for the search bar but it still work.

Jachobby

[2021-10-11 18:51] raidnet-ms commented on #26140
I think "Identification number" field should be translated as VAT while in Italian is translated as DNI.
But I want to be sure about this and avoid any problems may be related with this field.

[2021-10-11 19:19] JacHOBBY opened #26207 "Cannot add or edit product description or recap."
#### Describe the bug

When creating or editing a product ti is impossible to add a description or a recap.

#### Expected behavior
We should be able to add one or both

#### Steps to Reproduce

Edit or create a product

**Screenshots**

![screen](https://user-images.githubusercontent.com/92323282/136844562-a9e83525-17f2-45a4-8103-f5a3bef0f398.jpg)

#### Additional information

* PrestaShop versio

[2021-10-11 19:23] christophe-rouille opened #26208 "Wrong number of parameters in CheckoutSession class"
In method getCustomerAddressesCount of class CheckoutSession,  the call of method getSimpleAddresseshas has a wrong number of parameters

#### Additional information

* PrestaShop version: at least since 1.7.0
* PHP version: all

[2021-10-11 19:46] #26195 closed, assigned to Hlavtox

[2021-10-11 21:02] #26207 closed, assigned to nobody

[2021-10-12 04:56] TGD001 commented on #26206
Hi guys
Z.One Theme that I use has been modified in some parts, I also use a landing page and other added modules but I have always performed the upgrades without encountering any operating problems. Unfortunately, I can't take the whole site down to make an update. I will keep the current one (1.7.7.8) waiting for a new release to be released that corrects all these errors.

[2021-10-12 06:05] go-sudo commented on #26206
Hello @TGD001

You should work on ovverides to save your work and avoid to be losted after upgrading otherwise you must contact the dev them

I hop you will find a solution soon
regards

[2021-10-12 07:30] matks commented on #10557
https://github.com/PrestaShop/PrestaShop/issues/18414 fixed => this page is complete

[2021-10-12 08:00] ytilotti opened #26211 "Enable/Disable maintenance with CLI"
#### Is your feature request related to a problem?

Need to active maintenance in CLI for automation

#### Describe the solution you'd like

Add a method to active maintenance with command for CLI

#### Alternatives you've considered

- Update manually in SQL query
- Update manually in BO

#### Additional context
n/a

[2021-10-12 08:22] #26208 closed, assigned to nobody

[2021-10-12 08:42] #25997 closed, assigned to nobody

[2021-10-12 08:45] florine2623 commented on #26211
Hello @ytilotti ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Thank you

[2021-10-12 08:46] florine2623 commented on #26211
ping @PrestaShop/product-team ,

What do you think about this feature request ?

Thanks!

[2021-10-12 08:52] florine2623 commented on #26202
Hello @jordi-art ,

PS 1.7.7.8 is compatible with PHP 7.3 not 7.4 : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

I upgraded a shop from 1.7.7.8 to 1.7.8.0, it went well :
<img width="1206" alt="Screenshot 2021-10-12 at 10 49 41" src="https://user-images.githubusercontent.com/16019289/136924009-7307b9ff-167c-439a-95f9-e40a9a5994da.png">

Module search works :
<img wi

[2021-10-12 08:59] #26206 closed, assigned to nobody

[2021-10-12 09:19] #26193 closed, assigned to nobody

[2021-10-12 09:23] christophe-rouille opened #26212 "Wrong number of parameters in method getSimpleAddresses from class Customer in class CheckoutSession"
#### Describe the bug

In method `getCustomerAddressesCount` of class `CheckoutSession`, the call of method `getSimpleAddresses` from class `Customer` has a wrong number of parameters

For info, I met this issue because for a specific need, I had to override method `getSimpleAddresses` in class `Customer` and i had to add an argument to it but it didn't work due to this wrong call

#### Expected b

[2021-10-12 09:39] florine2623 commented on #26151
Hello @eveneme ,

I can't reproduce your issue on fresh install PS 1.7.8.0 in Polish :
<img width="684" alt="Screenshot 2021-10-12 at 11 31 17" src="https://user-images.githubusercontent.com/16019289/136931298-22f4a95b-493d-4099-830e-8dfeba392845.png">

I deleted cache - went back to Dashboard, no Warning :
https://watch.screencastify.com/v/HIzBJ5sprtFPmbn8xq9E

I see that you have overrides on 3

[2021-10-12 09:43] Progi1984 commented on #25457
@PrestaShop/product-team No need to new hooks for MBO. MBO can rewrite templates of modules. Thanks @jolelievre & @PierreRambaud for the help.

[2021-10-12 09:43] #25457 closed, assigned to Progi1984

[2021-10-12 09:49] Speedy1010 commented on #26091
deleted and reinstalled
id analytics added as you can see
https://i.ibb.co/Qvrr4ds/analyt.png

but also in "real time" on analytics i can't see hits

[2021-10-12 09:59] sb4tester opened #26213 "After Install Admin login failure."
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2021-10-12 10:01] #26213 closed, assigned to nobody

[2021-10-12 10:04] awarszewski commented on #26191
Hello @hibatallahAouadni ,
I have switched to the standard theme in a development environment (on a copy of the live system) and can confirm that this is not an issue of PrestaShop itself but a problem with this specific theme. Unfortunately, also an upgrade to the newest version of the theme does not solve this issue, so I will be contacting the theme developer to get this fixed.

[2021-10-12 10:04] #26191 closed, assigned to nobody

[2021-10-12 10:25] rdy4ever commented on #26111
I see this issue is marked as trivial but imagine there are shops that sell art prints or even original pieces of art. This issue is not trivial in this cases. For example, I sell original paintings. I spend a lot of time getting the prduct pictures to look exactly like the painting. This involves using a professional camera, shoot the pictures in RAW, edit them in Photoshop and using a profession

[2021-10-12 10:37] atomiix commented on #25522
@hibatallahAouadni I think the hook `actionObjectCombinationUpdateAfter` is called actually:

https://user-images.githubusercontent.com/2168836/136940644-8ca97aaa-b07b-4451-b056-0e5858823ea1.mov

[2021-10-12 11:07] #25522 closed, assigned to nobody

[2021-10-12 11:27] #22282 closed, assigned to nobody

[2021-10-12 11:51] #23147 closed, assigned to marionf

[2021-10-12 11:55] Progi1984 commented on #26212
@christophe-rouille will work on this bug (he want it as first contribution :+1:).

[2021-10-12 12:10] florine2623 commented on #26140
Ping @Julievrz ,

What do you think about that ? Are those 2 separate information ? Should those fields be differentiated ?

[2021-10-12 12:34] Speedy1010 commented on #26091
PHP 7.3.31
Prestashop: 1.7.6.3

[2021-10-12 13:13] Gronghon commented on #15701
Version 1.7.7.5, the notice is still present... 2021...
Debug mode : off

We can't proceed to make a GET request if it doesn't have any image.

/api/products/593

`<?xml version="1.0" encoding="UTF-8"?>
<prestashop xmlns:xlink="http://www.w3.org/1999/xlink">
    <errors>
        <error>
            <code>
                <![CDATA[5]]>
            </code>
            `<message>`
                <![

[2021-10-12 13:14] florine2623 commented on #26202
Are do you refeing that when i going to make the upgrade from 1.7.7.8 to 1.7.8.0 i should to keep in PHP 7.3 then after once actualized enable PHP 7.4?

Yes exactly.
PS 1.7.7.8 is NOT compatible with PHP 7.4, that's why you should upgrade using PHP 7.3. Once the upgrade done to 1.7.8.0, you can upgrade your PHP version to 7.4.

[2021-10-12 13:18] #25886 closed, assigned to daresh

[2021-10-12 13:22] Speedy1010 commented on #26091
ok i changed to 7.2.34
still analytics don't receive hits

[2021-10-12 13:29] florine2623 commented on #26171
Hello @VidarPc ,

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if yo

[2021-10-12 13:29] #26171 closed, assigned to nobody

[2021-10-12 13:43] Gaja-A opened #26216 "Hide category from search results"
Hi,

_Prestashop version: **1.7.7.3**_

Is there a way to hide certain category products in prestashop search results?

Thanks in advance for your help.

Regards,
Gaja

[2021-10-12 13:54] dainora commented on #26171
@florine2623 You were using cheque not bank transfer module to reproduce. it is definitely not server config issue as changing core.js file started to work. I guess it is a bug left in a condition.

[2021-10-12 14:21] Gaja-A commented on #26216
Hi @florine2623 ,

Thanks for your reply.

I tried your method. I changed to 0 and re-build the index. But still it doesn't work.

In fact, I need to hide the products from certain category.

Ex: I have a category "Already sold". So if I search for the product name that exists in this category, then it should not be displayed in the search results.

Regards,
Gaja

[2021-10-12 14:34] #25655 closed, assigned to nobody

[2021-10-12 15:21] matks commented on #18858
PR to fix this bug https://github.com/PrestaShop/PrestaShop/pull/26215

[2021-10-12 15:42] Gaja-A commented on #26216
Yes, but the problem is that I have a "Already sold" category link to display in the footer. So I want to display the products in FO expect in the search results.

I have tried some conditions in TPL which removes the product but the alignment is not good.
![image](https://user-images.githubusercontent.com/51961329/136986761-f69365e5-3fac-4d38-92cb-74da2cb94dad.png)

PS. It displays the products f

[2021-10-12 15:56] khouloudbelguith opened #26218 "BO - View customer page - No records found after deleting the last item of the second page"
#### Describe the bug

Previously reported here: https://github.com/PrestaShop/PrestaShop/pull/25822#issuecomment-937733187
In the BO > Customers > View customer page, in the Addresses block ( and Vouchers block),
If we delete the last address (voucher) on the second page => No record found is displayed instead of the first page.
This behavior will be displayed after merging this PR: https://githu

[2021-10-12 16:03] MageParts opened #26219 "Twig service unavailable in getContent() method of base class"
#### Describe the bug

Got a module class which extends **PaymentModule**, tried the following within the **getContent** method:

$this->get('twig')->render('@Modules/.......whatever.twig')

Got an error that the service didn't exist. Fixed by using:

PrestaShop\PrestaShop\Adapter\SymfonyContainer::getInstance()->get('twig')->render('........');

instead.

Seems to me this is a bug, but maybe I'm

[2021-10-12 16:04] #25588 closed, assigned to Progi1984

[2021-10-12 16:05] jordi-art commented on #26202
Hello Florine, i made like you told me but there are a lot of problems. Please you can see screenshoots.
1- the update was correct according to module 1 click
2- module manager this time it worked fine but I don't know if a larger symbol at the top left is normal
3- Summary and product description does not appear, after a while it does, but the number of summary characters and text do not appear w

[2021-10-12 16:19] florine2623 commented on #26203
OK.

I see that you have an override in classes/pdf/HTMLTemplateInvoice.php
Can you check if it is the same as : https://github.com/PrestaShop/PrestaShop/blob/develop/classes/pdf/HTMLTemplateInvoice.php

[2021-10-12 16:30] MatShir commented on #24911
All the grid should be extendable, the issue should be shipped into the next patch 🚀

[2021-10-12 20:11] JacHOBBY commented on #26203
This is the difference I found in between the to files.
My version is on the left side.
I have also attach my file version

[HTMLTemplateInvoice.zip](https://github.com/PrestaShop/PrestaShop/files/7332867/HTMLTemplateInvoice.zip)

![Difference TemplateInvoice_PHP](https://user-images.githubusercontent.com/92323282/137022199-b54701aa-125b-4304-acc4-e32395032c5d.jpg)

[2021-10-12 20:53] Dan32b opened #26222 "order_confirmation error display PS 1.7.7.7"
#### Order_confirmation template error display

If you open order_conf template in classic theme core email, you tried to change data  in HTML or <> source code. After saving process. Order Confirmation Email is sending with bug in display. Content of buying are anarchic displaying. ## you can see issue without modification of the HTML file, only just by clicking SAVE.

Has anyone encountered the

[2021-10-12 20:57] Gitdyr commented on #26181
I have setup a test shop from scratch here: http://prestashop1780.byethost7.com/. I manually added a currency entry to the database (currency, currency_lang and currency_shop tables). Then I cleared the cache (from Advanced Parameters > Performance).

The contents of the currency table is:
![image](https://user-images.githubusercontent.com/1284557/137027809-d26092a6-22c6-4b42-a1d4-dbd2ac306d48.png

[2021-10-12 21:20] web-plus opened #26223 "[Blockwishlist] Wishlist button in product list cannot be moved in custom theme"
#### Is your feature request related to a problem?

The way how wish-list button is added to product list (appended via JS in minified file) makes it unusable for custom themes (for addons portal especially). In my theme, there are already some labels in right side of the product box in category. There is no way how I can move the button for example to another DIV, where I already have other "func

[2021-10-13 00:12] presteamshop commented on #24987
Hi everyone,

A solution to this issue is necessary, be it a patch or something temporary, since it is impossible to use the new translation tool in the modules when working with "composer" and we have the "vendor" folder.

![image](https://user-images.githubusercontent.com/48451631/137045346-d41cb865-e747-4d77-bfdc-5587af777982.png)

The problem is still in 1.7.8.0:
![image](https://user-images.g

[2021-10-13 01:26] go-sudo opened #26224 "How to add correctely external JS to 1.7.8.0"
Hello

I was using this code on PS 1.7.7.8 in the file httpdocs/override/classes/controller/FrontController.php
and after upgrading i can't see the files link in the head of website and I'm getting errors in console log, is there any change to make on PS 1.7.8.0 to make it work again

[code]

[2021-10-13 06:38] sextoysunivers opened #26226 "The natif cross selling module is not working on 1.7.7.2"
#### Describe the bug

The natif cross selling module is not working on 1.7.7.2

#### Expected behavior

To show cross selling products with or without prices

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Add

[2021-10-13 07:10] masiorama commented on #19701
Any ETA on this? Can you plan in which version these improvements will be delivered? Thanks.

[2021-10-13 08:40] hibatallahAouadni commented on #26222
Hello @Dan32b

Thanks for respecting the template :clap:
We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #21630.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-10-13 08:40] #26222 closed, assigned to nobody

[2021-10-13 09:36] caotico25 commented on #26202
Hey! I found the error on file app/Resources/translations/es-ES/AdminModulesNotification.es-ES.xlf.

On line 881 exist a line break that cause js problems. Changing this:

        <source>We strongly advise you to upgrade the modules on maintenance mode to avoid any cache issues.</source>
        <target state="final">Le recomendamos encarecidamente que actualice los módulos en modo de mantenimien

[2021-10-13 09:40] DPStudioGR opened #26229 "no link is working after upgrade to 1.7.8"
#### After upgrade to 1.7.8 no menu, link, product link is clickable/working.

Last night i upgraded my eshop (https://stampa-stampa.com) from 1.7.7 to 1.7.8 and today i got a call from a customer that my eshop is not working. After me checking i noticed that other than home page loading nothing else is working like menu, products and any link and button in general.
I did check with PHP 7.3 and 7.

[2021-10-13 09:54] #26224 closed, assigned to nobody

[2021-10-13 09:58] #26229 closed, assigned to nobody

[2021-10-13 10:08] mmursalov opened #26230 "Upgrade issue from 1.7.7.8 to 1.7.8"
#### Describe the bug

**Upgrade fails from 1.7.7.8 to 1.7.8 with the following error:**

[code]

#### Expected behavior

I use 1-Click Upgrade module which is compatible with the new release.

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

![image](https://user-images.githubusercontent.com/70435301/137112912-cca1783a-7dff-4e61-985f-99fcec7d8e76

[2021-10-13 10:09] khouloudbelguith opened #26231 "BO - dashproducts - Bad display in the Dashboard page"
#### Describe the bug

`Last 10 orders`, `Top 10 products From`, `Most Viewed From` and `Top 10 most search terms From` are not well displayed in the Dashboard of the module `dashproducts`
![image](https://user-images.githubusercontent.com/16067358/137112111-efcd16ae-b8b2-4e92-9982-415471c827b3.png)
![image](https://user-images.githubusercontent.com/16067358/137118106-9cae47fb-dcfd-44bf-b2a6-45941

[2021-10-13 10:09] khouloudbelguith commented on #26231
should be fixed by https://github.com/PrestaShop/dashproducts/pull/34

[2021-10-13 10:18] suplies opened #26232 "Customer reassurance Module not working"
Customer reassurance Module not working i cant change the text details

[2021-10-13 10:21] hibatallahAouadni commented on #26232
Hello @suplies

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-10-13 10:21] #26232 closed, assigned to nobody

[2021-10-13 11:25] hibatallahAouadni commented on #26226
Hello @sextoysunivers

Could you please create an order pushing Product A and Product B with payment accepted as status. Then, check again the Product A, you will see Product B is well displayed.
Please check and feedback.

Thanks!

[2021-10-13 11:33] pablo9x commented on #26186
I switch from bentriz to classic theme and the problem is the same as described above.I don't see promotions anywhere, neither on the product page nor on the shop homepage.

Yes, after installing a test clean shop on another server, everything works. However, I want to run promotions in an already configured shop because I have a huge product base and everything is properly configured.

I would li

[2021-10-13 12:06] NeOMakinG commented on #26223
I repoen this issue as I think it's relevant and updated the description in order to follow the template

[2021-10-13 12:10] Hlavtox opened #26233 "Accented characters are replaced with ? on invoices"
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install develop in English.
2. Go to order statuses -> Waiting for check payment, enable invoice generation for this status.
3. Make an order, enter **Daniel Hlaváček** as a customer.
4. Go see generated invoice in BO.

**Screenshots**

![chars](https://user-images.githubusercontent.com/6097524/137129526-c35cfa51-5c30-43a0-835f-62c12076

[2021-10-13 12:38] MatShir commented on #26149
Nice work @tegbessou! Let's add the sorting if we can :)

[2021-10-13 12:45] SharmPRO opened #26235 "Cart loads also expired vouchers"
### Describe the bug and add screenshots

Merchant sets a discount for the weekend, for instance for saturday and sunday. Customer applies discount but creates an abandoned cart. Customer returns to the store on monday(next week) or tuesday and creates the order. Order is created with already applied vouchers, so CartRule.php won't check if voucher is active or not, leading us to an order created

[2021-10-13 12:54] tswfi opened #26236 "Respect "Display tax label" setting in ps_shoppingcart"
#### Describe the bug

Original issue: https://github.com/PrestaShop/PrestaShop/issues/21484

This is for `ps_shoppingcart` part.

BO>Locations>Countries>Edit countries
Display tax label (e.g. "Tax incl.") > No
FO>product page>Add to the cart
The label tax incl is still shown in the attached screenshot:

![](https://user-images.githubusercontent.com/89604350/135472670-40da3f9a-2127-4e2f-b449-0f65b

[2021-10-13 12:55] tswfi opened #26237 "Respect "Display tax label" setting in ps_checkpayment"
#### Describe the bug

Original issue: https://github.com/PrestaShop/PrestaShop/issues/21484

This is for `ps_checkpayment` part.

BO>Locations>Countries>Edit countries
Display tax label (e.g. "Tax incl.") > No
FO>product page>Add to the cart
The label tax incl is still shown in the attached screenshot:

![](https://user-images.githubusercontent.com/89604350/135473112-baf92122-e19a-4a7b-b639-15b47

[2021-10-13 13:12] marwachelly commented on #21484
Hello,

This issue is partially fixed by the PR #25882, the label (tax incl) is not present when "Display tax label" is disabled in the following pages:
-Delivery step
-Cart summary
-Confirmation page
-Checkout summary
-Final summary
But this issue is not fixed in the pages relatd to the modules ps_shoppingcart and ps_checkpayment ( the label (tax incl) is still displayed even when "Display tax la

[2021-10-13 13:22] eveneme commented on #26151
please turn on debug mode. And go to the dashboard / desktop

[2021-10-13 13:58] 111lisu opened #26238 "Presta 1.7.8.0 SMTP problem"
I have a problem with my email sending (SMTP) setup. It doesn't work ssl 465 / tls587 - Error: please check your configuration, I also tested 1.7.7.3.
[code]
The question is how to solve this problem

Mariusz

[2021-10-13 15:01] matthieu-rolland opened #26240 "Refactor and more tests for multistore configuration classes"
I create this issue to follow my current work on multistore configuration classes:

Here is what is to be done:

1/ A small refactor impacting classes extending AbstractMultistoreConfiguration, it:

Abstracts common validation processes into AbstractMultistoreConfiguration
Enforces the use Symfony's OptionsResolver for data validation, by making the buildResolver method mandatory and returning an

[2021-10-13 15:42] hibatallahAouadni commented on #26238
Hello @111lisu

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will

[2021-10-13 15:42] #26238 closed, assigned to nobody

[2021-10-13 16:31] hostisoft commented on #19161
It is happening to me that after updating to version 1.7.8.0 it never lets you click on that button even if the conditions are accepted, solution?

[2021-10-13 16:48] #26216 closed, assigned to nobody

[2021-10-13 16:55] hibatallahAouadni commented on #26127
Hello @loetje88

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #17161.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2021-10-13 16:55] #26127 closed, assigned to nobody

[2021-10-13 17:12] hibatallahAouadni commented on #26202
Hello @jordi-art

Glad to hear :tada:

You just need to clear the cache :wink:

Again, it's a cache issue :sweat_smile:

Could you please provide a screen record or just explain it more :pray:

Well, I think you just need to add your missing translations :slightly_smiling_face:
Please check and feedback.

Thanks!

[2021-10-13 17:14] Gitdyr commented on #26181
Hi @hibatallahAouadni,

I can give you access to the test shop I have setup at http://prestashop1780.byethost7.com/.

[2021-10-13 17:15] JacHOBBY commented on #26203
Bonjour, Hibatallah

Are you using the same files (tpl and PHP) has I upload or you are using
the Github files ?

Jacques

---

270 rue Renaud Ouest
Laval, Québec, Canada
H7M 3M1
450-667-9988
www.JacHOBBY.com [6]
Facebook: JacHOBBY

Le 2021-10-13 13:02, Hibatallah Aouadni a écrit :

Links:
------
[1] https://github.com/JacHOBBY
[2]
https://github.com/PrestaShop/PrestaShop/issues/26203#issuecomment