[2020-07-15 08:14] matks commented on #20173
Looks a bit like https://github.com/PrestaShop/PrestaShop/issues/20130

[2020-07-15 08:26] atomiix opened #20177 "Explore upgrade capabilities of Softaculous"
#### Describe the bug

Following the issue #20079, we're exploring the update process of softaculous to better understand how that bug can happen.

**Update:** I've reach softaculous to ask them to have a look at their upgrade tool. I'll update this issue when I'll get more information from their side.

[2020-07-15 08:37] colinegin commented on #20135
Hello @juraj1000 ,

Thanks for your feedback. As a user, I have never seen this kind of feature on a ecommerce website but maybe this depends on the business activity ?

[2020-07-15 08:38] colinegin commented on #11329
Hello,

it is planned to be added to at least the product page for the 178 version.
@prestascott we need to decide what should be the new design of the calendar with time (hours).

ping @MatShir FYI

[2020-07-15 08:41] prestascott commented on #18926
Hello @IranDec,

Since we had no news from you for 20 days, I'll close this ticket not to clutter up the backlog, but note that you can always create a new one if further information pops up.

Thank you!

[2020-07-15 08:43] prestascott commented on #19278
Hello @dariusakafest,

Since we had no news from you for 20 days, I'll close this ticket not to clutter up the backlog, but note that you can always create a new one if further information pops up.

Thank you!

[2020-07-15 08:43] colinegin commented on #20169
Hello @khouloudbelguith ,

It depends if we intended to fix the 176 issue for 177. Is there any PR related to it ?
If yes, then I'd suggest to fix this bug for 177 as it means we haven't fixed it correctly.
If no, then we should not fix it for 177.

Thanks

[2020-07-15 08:43] #19278 closed, assigned to nobody

[2020-07-15 08:47] prestascott commented on #19550
Hi @202-ecommerce,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #11329. To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you!

[2020-07-15 08:47] matks commented on #11329
@colinegin Are you sure ? Because this is a big change.

Allowing people to select minutes inside the BO page is only a small part of the overall needed work.

Because then we must also _update all the code logic that relies on it_. There is guarantee that the checkout logic that will be used to compute the cart total will work with minutes immediately, as today it only acknowledges hours.

Modify

[2020-07-15 08:47] prestascott commented on #19550
Duplicate of #11329

[2020-07-15 08:49] #19550 closed, assigned to nobody

[2020-07-15 08:50] colinegin commented on #19454
ping @MatShir this is an interesting insight from @ChineseNorris and @arouiadib.
Could we think about something to improve this system while working on the product page ?

[2020-07-15 08:52] colinegin commented on #11329
To be discussed with @MatShir then, because this issue is part of the Pricing tab EPIC : https://github.com/PrestaShop/PrestaShop/issues/19673

[2020-07-15 08:59] prestascott commented on #11329
Hello @matks,

This is a big change but we also need this component for other pages such as Cart Rules. Merchants need to inform the date/hour/min of their discounts.

Here is my design proposition:
![datepickerhourmin](https://user-images.githubusercontent.com/54888056/87525715-2d899800-c68a-11ea-9d34-f5a67a82f2d9.png)

[2020-07-15 09:01] 202-ecommerce commented on #19550
Thank you.
I updated #19537 and replaced by #11329

[2020-07-15 09:02] prestascott commented on #19759
Hello @dariusakafest,

Since we had no news from you for more than 20 days, I'll close this ticket not to clutter up the backlog, but note that you can always create a new one if further information pops up.

Thank you!

[2020-07-15 09:03] #19759 closed, assigned to nobody

[2020-07-15 09:06] prestascott commented on #19773
Hello @voxTeam,

Since we had no news from you for more than 20 days, I'll close this ticket not to clutter up the backlog, but note that you can always create a new one if further information pops up.

Thank you!

[2020-07-15 09:08] marionf commented on #20094
To do: Mark supplier_reference as deprecated

[2020-07-15 09:10] #19773 closed, assigned to nobody

[2020-07-15 09:12] prestascott commented on #19905
Hello @davidhardik,

Since we had no news from you for more than 20 days, I'll close this ticket not to clutter up the backlog, but note that you can always create a new one if further information pops up.

Thank you!

[2020-07-15 09:12] #19905 closed, assigned to nobody

[2020-07-15 09:14] prestascott commented on #19911
Hello @lparenty-deleganet,

Since we had no news from you for more than 20 days, I'll close this ticket not to clutter up the backlog, but note that you can always create a new one if further information pops up.

Thank you!

[2020-07-15 09:14] #19911 closed, assigned to nobody

[2020-07-15 09:14] colinegin commented on #20131
I'm not sure I understand why you should have these books in a pack ?
Why don't you use a catalog price rule stating that a discount is activated from 3 book units ?

[2020-07-15 09:14] matks commented on #11329
The design is something we can handle quite easily 😄  but it cannot be delivered alone.

If we want to allow merchants to select minutes:
- merchants must be able to select minutes in the UI => this is your design
- prestashop code must validate if the selected minutes are valid (= value between zero and sixty)
- prestashop must STORE these selected minutes (= database change)
- any prestashop log

[2020-07-15 09:16] prestascott commented on #19930
Hello @Nesta78,

Since we had no news from you for more than 20 days, I'll close this ticket not to clutter up the backlog, but note that you can always create a new one if further information pops up.

Thank you!

[2020-07-15 09:16] #19930 closed, assigned to nobody

[2020-07-15 09:24] LouiseBonnard commented on #19230
To be checked with @eternoendless & @PierreRambaud before.

[2020-07-15 09:26] prestascott commented on #20120
Hi @javierVP,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #16741. To be informed when it's fixed, please subscribe to the issue mentioned above.

I close the ticket.

Thank you!

[2020-07-15 09:27] prestascott commented on #20120
Duplicate of #16741

[2020-07-15 09:28] #20120 closed, assigned to nobody

[2020-07-15 09:35] prestascott commented on #20173
Hi @Mariooti,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #20130. To be informed when it's fixed, please subscribe to the issue mentioned above.

I close the ticket.

Thank you!

[2020-07-15 09:35] prestascott commented on #20173
Duplicate of #20130

[2020-07-15 09:36] Mariooti commented on #20173
it is not the same issue as the other one, as the carriers do not have the same name.

[2020-07-15 09:42] PierreRambaud commented on #19825
Look like it's a problem with the proxy cache which cannot remove the cookie from the user. But with the latest 1.7.6.7, you shouldn't have the problem since something change in the cookie when you log out

[2020-07-15 09:45] Mariooti commented on #20173
It is a serious issue as it renders the store unusable as people cannot pay and check out.  I hope this issue gets resolved quickly.

My store has over 25000 products so doing a fresh install is not that easy, is there another workaround?

[2020-07-15 09:49] juraj1000 commented on #20131
Hello @colinegin,
there can be different combinations of books in the pack therefore I don't know how to define discount from 3 book units in this case.

_Example_
It is a little different as as it is shown in my previous screen shots (it was only example how it could be visible in BO)
- there are different single product prices
- there are 2 combinations but the customer can create also different

[2020-07-15 09:49] boubkerbribri commented on #20085
@marionf I will fix the tests.
Please ping me if confirmation Box style of legacy page change (because this one is the different from the one on symfony pages).

Thanks

[2020-07-15 09:50] SD1982 opened #20178 "BO - DEMO Order - Price "tax incl" & "tax excl" are identical in order detail"
## Describe the bug

In order detail when trying to edit a product the "taxes included price" and "taxes excluded price" are identical even when tryng to modifying one of them

#### Expected behavior

The prices should not be identical

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Orders => Orders
2. Select one of the demo orders
3. In the order detail try to edit a pr

[2020-07-15 09:50] prestascott commented on #20175
Dear @Webmasterciccio,

Thanks for your issue.
Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report. Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).
Feel free to create a new issue if you can provide further information, we w

[2020-07-15 09:50] #20175 closed, assigned to nobody

[2020-07-15 09:54] Webgaict commented on #20175
Hi, I had the same problem, I have not installed any template on the platform there is only the default one. I need a solution as soon as possible. The version of the php I use is 7.3

[2020-07-15 10:04] colinegin commented on #20164
I think this should be handled by the modules directly, don't you think @Mch0 ?

[2020-07-15 10:10] prestascott commented on #20176
Dear @alfonsolr09,

Thanks for your issue.
Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report. Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/).
Feel free to create a new issue if you can provide further information, we will

[2020-07-15 10:10] #20176 closed, assigned to nobody

[2020-07-15 10:12] colinegin commented on #10258
@20bekharweb your problem is really different than the initial issue, could you please create a new issue so that we can investigate it ?

[2020-07-15 10:22] colinegin commented on #10258
Hello @holle75 @clotaire202 @CArlvJ1N0N8 ,

If I sum up the idea of this improvement :

A. If as a customer you log to the system and view your invoices/delivery slip it definitely needs to be in the customers language.
--> this should use the language used by the customer in FO (works OK already)

B. But if the dispatcher is preparing the shipping and printing the invoice/delivery slip, then does

[2020-07-15 10:25] juraj1000 commented on #20135
Hello @colinegin,
I don't think so.
_Example_
A customer place an order and he found out e.g. there is missing some item. What would he like to do? Place a new order with missing item? No, he would like to cancel incorrect order and create the new one also with missing item. Because he doesn't want to pay twice for shipping costs.
Of course he can place the new order with the missing item and inco

[2020-07-15 10:58] jf-viguier opened #20179 "Sql error on autoupgrade on ps_condition table"
#### Describe the bug

When migrating from ps 1.7.6 to 1.7.7 beta 1 there are sql errors on ps_condition table if gamification module is not installed.

#### Additional information

* PrestaShop version: 1.7.7 beta 1
* PHP version: 7.1

[2020-07-15 11:29] holle75 commented on #10258
[https://github.com/PrestaShop/PrestaShop/issues/10258#issuecomment-466977515](url)

[2020-07-15 11:50] clotaire202 commented on #10258
@colinegin it looks good for me.

@holle75 I understand that you need defined from a list of languages. Why not ?

So to uplaod in the backoffice, you could select invoice or delivrery slips language :
- Customer language
- Employee language
- One of languages available on PrestaShop

[2020-07-15 11:56] holle75 commented on #10258
Thats the only option if you want to safely keep it legal overall in all countries.

[2020-07-15 11:57] colinegin commented on #10258
Why would some need another language than the customer or employee language ?

[2020-07-15 11:57] prestascott commented on #20179
Hi @jf-viguier, thanks for your report.

Could you please provide us with more info?
We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots

Thank you :)

[2020-07-15 12:10] matks commented on #20163
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20166

[2020-07-15 12:10] #20163 closed, assigned to nobody

[2020-07-15 12:26] CArlvJ1N0N8 commented on #10258
Hello,

I agree with the thinking as it is exactly what I was initially stating.
But if you bring this situation to a usage situation,
A. Is on the front and works already as it is using customer language.
B. When the dispatcher is using the delivery note to prepare the shipping he can print the delivery slips in 1. Bulk or 2. Per individual order.
So you could say when individually printed it has

[2020-07-15 12:35] Mch0 commented on #20164
Hi @colinegin,
For me is boring to have to manage this on each module who implements widgetInterface. I supposed is the same for other,
this feature improves the site configuration for the merchant. You can with this functionality have more possibilities and more configuration and choose the basic view to display for a widget. And leaves more freedom to the user.
And we can think of a notion of di

[2020-07-15 13:10] PierreRambaud commented on #20179
@jf-viguier What do you mean by migrating data?

[2020-07-15 13:34] prestascott commented on #20088
Hi @mescalitog, thank you for you report!

@Junebyun Can you take a look at this issue please?

[2020-07-15 13:36] jf-viguier commented on #20179
@PierreRambaud I mean upgrading from 1.7.6 to 1.7.7 with autoupgrade module.

[2020-07-15 13:51] alfonsolr09 commented on #20176
@prestascott thats not a bug. I only nned to know for what is it the check box

[2020-07-15 13:52] SimonGrn commented on #20179
What is the exact version you started from ?

[2020-07-15 13:53] matks commented on #20176
@alfonsolr09 As mentioned [in this document](https://github.com/PrestaShop/PrestaShop/issues/new?template=3_support_question.md), this is a bug tracker, this is not the right place for questions.

If you have questions about using PrestaShop, you might find the answer here:
- User's guide: http://doc.prestashop.com/display/PS17/User+Guide
- Developer documentation: https://devdocs.prestashop.com/

[2020-07-15 13:54] alfonsolr09 commented on #20135
It all depends on whether you will reach the free shipping limit with the item you forgot.  in any case, normally with the shipping costs there are no benefits so it does not matter to make one or two shipments

[2020-07-15 13:55] alfonsolr09 commented on #20176
@matks i cant find this info

[2020-07-15 13:58] SimonGrn commented on #20175
PrestaShop 1.7.6.0 version is only compatible with PHP 7.2 maximum. Check the [compatibility here](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart).
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, pl

[2020-07-15 13:58] matks commented on #20176
@alfonsolr09 I have provided 3 places where you can ask this question for free:

Community chat: https://github.com/PrestaShop/open-source/blob/master/slack/readme.md
Community forums: https://www.prestashop.com/forums/
Stack Overflow: https://stackoverflow.com/questions/tagged/prestashop

[2020-07-15 14:01] prestascott commented on #20173
I understand. Is your issue related to this one https://github.com/PrestaShop/PrestaShop/issues/18936?

[2020-07-15 14:06] SimonGrn commented on #20152
Hello,
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support
Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

[2020-07-15 14:06] #20152 closed, assigned to nobody

[2020-07-15 14:06] #20154 closed, assigned to nobody

[2020-07-15 14:07] matks commented on #20154
I close this issue as I think I provided a complete answer. Feel free to open another issue if you have a tangible (= we can reproduce) issue.

[2020-07-15 14:11] SimonGrn commented on #20130
Hello,
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support
Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

[2020-07-15 14:11] #20130 closed, assigned to nobody

[2020-07-15 14:13] jf-viguier commented on #20179
version 1.7.6.7

[2020-07-15 14:13] Mariooti commented on #20173
I think I solved the problem.  My store has a carrier module linked to all my carriers (DHL, TNT etc) I uninstalled the module and reinstalled it and now all my carriers have payment options enabled.

I hope this solution works for others.

[2020-07-15 14:23] matt-matt1 commented on #20154
@Mathieu Ferment: Where’s the answer?

[2020-07-15 14:24] prestascott commented on #20173
Okay, i'm glad that you solved the problem. Since you've found a solution, i can close this issue.

Thank you :)

[2020-07-15 14:25] matks commented on #20154
Open your eyes 😄  I wrote only 2 messages here https://github.com/PrestaShop/PrestaShop/issues/20154

[2020-07-15 14:25] #20173 closed, assigned to nobody

[2020-07-15 14:25] matt-matt1 commented on #20154
OK got it!  Thanks.  Repaired it

[2020-07-15 14:33] matks commented on #20130
@passio777x someone had a similar issue and found a solution => https://github.com/PrestaShop/PrestaShop/issues/20173#issuecomment-658793572

[2020-07-15 14:35] passio777x commented on #20173
I paid a developper who told me he found a bug in the prestashop core after 5-6 hours. He tolds me it was a country related issue... It's possible because I actiavated multishop, added country and I got error when I did this...

[2020-07-15 15:00] matks commented on #20173
Please consider sharing that fix with everyone by submitting a Pull Request -- that's what the open source spirit is all about 😉

[2020-07-15 15:01] colinegin commented on #13791
ping @SD1982, do you confirm it is removed like on cart rule page ?

[2020-07-15 15:02] colinegin commented on #14761
ping @zuk3975 @MatShir @matks what's the status of this issue ?

[2020-07-15 15:03] #20021 closed, assigned to nobody

[2020-07-15 15:05] Mariooti commented on #20173
hi matks,

I'm very new to Github, so if you could tell me how to do that I will gladly do it. :)

[2020-07-15 15:08] juraj1000 commented on #20135
Hello @alfonsolr09,
it was only example with the missing item. It is also possible the merchant will send to customer two deliveries because there are two separate orders and it is what the customer doesn't want.
But there are also other processes when the customer would like to cancel order, e.g. change item in the order, delete item from the order...

[2020-07-15 15:11] colinegin opened #20183 "[EPIC] - Catalog price rules management"
This EPIC classifies all issues and improvement ideas related to catalog price rules.
This issue is related to the page migration issue : https://github.com/PrestaShop/PrestaShop/issues/10549

## BUGS

**Issues in the configuration**
- [x] #13791
- [x] #19013
- [x] #28383
- [x] #33560

**Compatibility issues between discounts**
- [ ] #9977
- [ ] #14516 - (seems like a duplicate of #9977 )
- [ ] ht

[2020-07-15 15:16] marcusagm commented on #14703
I have the same problem, there are cases where the execution takes 12 to 1 minute.
Why can updatePhysicalProductQuantity be called without the product ID? It does not make sense to update all records. This can result in many problems with the stock. I had a lot of orders with out-of-stock products.

[2020-07-15 15:18] matks commented on #20173
You can submit it a Pull Request following these guidelines https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/ 😉

It's a great opportunity to learn !

[2020-07-15 15:19] colinegin opened #20184 "Incompatibility between catalog price rules"
There is an issue with compatibility between catalog price rules.

Create 2 catalog price rules :
![image](https://user-images.githubusercontent.com/35263827/87562942-ed90d800-c6be-11ea-9ab6-986e50b213b4.png)

The test rule has the following conditions :
![image](https://user-images.githubusercontent.com/35263827/87563076-1dd87680-c6bf-11ea-9b53-eedbff8532fe.png)

To the related products, a 10€ di

[2020-07-15 15:23] colinegin opened #20185 "No priority management in catalog price rules"
Apply 2 different catalog price rules to the same products with the same minimum quantity.
Only the oldest rule will apply to the product. Other rules will have no effect on the product.

This is a problem as merchants might want to change the priority order of these rules.

[2020-07-15 15:30] colinegin commented on #19878
This issue is a duplicate of #20135 . I close this issue so that we can all comment on the same issue, please follow #20135 .

Thanks !

[2020-07-15 15:30] #19878 closed, assigned to nobody

[2020-07-15 15:45] thmavrosavva commented on #20173
Hey @matks ,

I'm colluegues with @Mariooti  and he isn't a web developer or php programmer  :), he said that he just removed (uninstalled) all carriers module and reinstalled the module in prestashop backend.

[2020-07-15 15:56] PierreRambaud commented on #19849
@Hlavtox I tried with more than 100 products, and all products are properly indexed :/

[2020-07-15 16:14] passio777x commented on #20173
OH MY GOD I FIND THE ISSUE AFTER 1 WEEK OH MY GOD !!!!

Just add : **max_input_vars = 3000**
for your server... In my case there was more than 1000 checkboxes on the page and that's why the last checkboxes were not checked... AwWWWWwhhhhhhhhh !!! 1 WEEK FOR THAT

[2020-07-15 16:27] matks commented on #20173
@passio777x Looks like the developer you paid did not find that 😅

[2020-07-15 16:27] matks commented on #20173
@passio777x 1000 checkboxes in that page ? How many payment methods and carriers do you have ?! 😮

[2020-07-15 16:33] passio777x commented on #20173
It was really hard to find... The developper I paid has 5 stars review, 11 years experience and 550 5* reviews (99%)..... But I find myself the problem thanks to him when I realized unchek all checkbox make possible to check the last of them....

How many should i pay him compared to its original bids ? because I find the solution myself, but... thanks to him.

I have 244 countries and 6 carrier i

[2020-07-15 16:36] passio777x commented on #20173
I have to say 3 developpers surrended, (one after 2 days) and 5 people didntt answered... This issue was the worst nightmare in 7 years of prestashop for me. Including it happened after I activated multishop but also a paiement method... then It made me confuse about problem's origin.

[2020-07-15 16:39] thmavrosavva commented on #20173
This is awesome!!!

[2020-07-15 16:45] holle75 commented on #10258
because not every admin in BO or every client in FO is speaking the language of the country the shop is situated in.
As i wrote it might happen (with high probabilty) that your invoices are not getting accepted by the tax office if not in "home country" language. As i wrote, this is against EU-Law but Reality. I don´t understand where´s the problem to just make, at least language of invoices (and

[2020-07-15 17:01] Maofree opened #20187 "The ean code is not shown in the product pages if it is without combinations"
Hi
I've seen that the ean code appears onlly if set in the product combinations
instead if the product is without them, so just a simple product, the ean code set in the "option" tab will not be shown in the front-office like in the other case

can you fix it?

bye

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/87573468-3d769b80-c6cd-11ea-8ecb-b1fa1b44490f.png)
![2](https:/

[2020-07-15 17:05] luciobenini commented on #20049
host -> linux
server setup and configuration -> lamp
PrestaShop version (source) -> 1.7.6.3
debug mode report -> N/A
PHP error logs -> N/A
apache error log -> N/A
javascript console log -> No errors
screenshots -> ![WhatsApp Image 2020-07-15 at 19 02 47](https://user-images.githubusercontent.com/12533159/87574031-1076b880-c6ce-11ea-81b2-11709142a572.jpeg)

[2020-07-15 17:40] Fredcor13 commented on #20146
hi Matks,

thanks for your answer.

I know that in precedent version of the module that was this issue because I had it on another of my websites, and I immediately upgrade the module in last version 3.5.0 here, but.. I confirm that in my case i've always this issue after upgrade.
and I confirm that the module is the source of the problem because as soon as I deactivate it everything is ok.

In th

[2020-07-15 20:44] banan44 commented on #19924
Hello @marionf

Yes, these stores are the same and have the same categories. I just have a new domain address for every country (.de in Germany, .co.uk for UK, etc.). The content is the same in all shops.

[2020-07-15 22:23] PrestaQuestion opened #20189 "Sort order (Price: Low to high) as default. But how? Prestashop 1.7.6"
Hi,

Like the title says, can someone help me out to change the default sort by in the code. Prestashop 1.7.6.
I tried everything but nothing works. The pagination doesnt work either in my prestashop backoffice.
So changes in the code is my only option.

Thanks!

[2020-07-16 06:24] Hlavtox commented on #20187
@maofree

[code]

[2020-07-16 07:06] matks commented on #14761
@colinegin This is something that needs to be done. I explain what it is:

In order to improve performance on Front Office, things like Catalog price rules are cached. This means that when a customer opens page "Product Tshirt XXL Colibri" there is, in the cache, already the information "what catalog rules are applied to this product". There is no need to perform a "catalog price rule search" to f

[2020-07-16 07:13] matks commented on #20173
I am thinking about that, but this situation is very unusual 😄  . And it is complex because issue is in server configuration, not in prestashop. We dont control that.

One idea could be "when one page* has more than 500 form inputs, we display a warning flash message". The Flash message would explain that the form, in order to work properly, require a relevant value of `max_input_vars` on server s

[2020-07-16 07:57] khouloudbelguith commented on #20178
Related to https://github.com/PrestaShop/PrestaShop/issues/17994

[2020-07-16 08:05] florine2623 commented on #20187
Hi @maofree ,
Your issue is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/15783
So I close your issue.

[2020-07-16 08:05] florine2623 commented on #20187
Duplicate of #15783

[2020-07-16 08:07] matks commented on #20169
There is a PR https://github.com/PrestaShop/PrestaShop/pull/20188 that aims for `develop` (178).
We can review/QA it and when it is merged we can backport it for 177

[2020-07-16 08:16] ksaandev commented on #16471
Hi this is really cool

[2020-07-16 08:16] florine2623 commented on #20189
Hi @PrestaQuestion ,
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots
- version of faceted search module
You don't know how to get this information? Please read the followi

[2020-07-16 08:18] matks commented on #17370
@eternoendless May I create a Pull Request aiming for our Changelog Writer tool to allow this ?

[2020-07-16 08:18] #18131 closed, assigned to nobody

[2020-07-16 08:18] matks commented on #17280
ping @PierreRambaud can we do it now ? 🤔

[2020-07-16 08:19] matks commented on #10102
ping @NeOMakinG FYI

[2020-07-16 08:21] colinegin commented on #14761
Thanks for the detailed explanation (as always !) @matks :)
I put this issue in the migration kanban so that we don't forget about it !

[2020-07-16 08:22] #19928 closed, assigned to nobody

[2020-07-16 08:22] florine2623 commented on #19928
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-07-16 08:26] kasugaicrow commented on #20079
Thanks to @sarahdib I managed to resolve my login issue, the problem was that some files for some reason were missing. Sarah provided me a clean prestashop folder and I replaced all except for the folder upload, themes, override, modules, mails, img, docs, download, config, app and the admin folder.
After deleting the install folder I was able to login properly in my backoffice.

Thank you all for

[2020-07-16 08:48] SD1982 commented on #13791
Hi @colinegin Yes I confirm that it's removed on the migrated page ( tested on 1.7.7.x & develop branchs )
https://drive.google.com/file/d/1HPOqt8NBYFP8pssJLE31O8UjXWGVKvzd/view?usp=sharing

[2020-07-16 08:59] colinegin commented on #13791
Alright then, we can close this issue ! :)

Thanks

[2020-07-16 08:59] #13791 closed, assigned to nobody

[2020-07-16 09:11] matks commented on #20172
Thank you for this feedback. We think you are right 😄  we will remove this welcome message from the bot

[2020-07-16 09:17] Mariooti commented on #20173
I am not a developer or a programmer but I have been using Prestashop for more than 4 years now.  I like to enrich my store with as many options for the clients as possible (sometimes this is good and sometimes not).  But if I can add my 5c worth from the perspective of a user and not a developer.

I assume that most developers, when making a module, make it to work on a stand alone version of Pre

[2020-07-16 09:33] sarahdib commented on #20179
Hello @jf-viguier

I was able to reproduce the issue.

Step to reproduce :
1. upgrade prestashop 1.7.6.7 to 1.7.7.0 without the module gamification
2. see the error
<img width="985" alt="Capture d’écran 2020-07-16 à 11 22 46" src="https://user-images.githubusercontent.com/3034677/87654822-bc181b00-c757-11ea-8a18-ec5533d866dc.png">

Thank you!

[2020-07-16 09:38] matks commented on #20173
Hi @Mariooti

First of all, thank you for this very valuable feedback. Not everybody takes the time to write about their issues in such a polite and constructive manner 😄

You are 100% right and you are refering to an broad issue that has been here since day 1 : compatibility between modules. This is a very complex topic as you can guess but we know it is a big problem.

We have plans for next ver

[2020-07-16 09:39] khouloudbelguith commented on #17729
Hi @matthieu-rolland,

Can I change this issue from "To be tested" to "In progress"?

Thanks!

[2020-07-16 09:45] passio777x commented on #20173
What is terrible with is issue is that you do not see bottom of country list, and you don't realize this issue also concern bottom of countries checkboxes, because you have to scrolldown to see it...

This issue is 100% counterintuitive and you don't get any warning or error message.

If you remove a paiement method, or make some test, you can think you fixed the problem but it is only because you

[2020-07-16 10:03] #19549 closed, assigned to Progi1984

[2020-07-16 10:22] edensh89 opened #20191 "Contact form - don't receive emails"
Hello,

My contact us form stopped to send emails, I can see messages only in the BO > Customer service.
I'm using PHP's mail and receive orders emails.

I'm expecting to receive also an email when user submit the contact us form.

Steps to reproduce the behavior:

1. Click on Contact Us
2. Submit the form
3. Your message has been successfully sent to our team.
4. No email received but message is

[2020-07-16 10:22] florine2623 commented on #20049
Is your issue related to https://github.com/PrestaShop/PrestaShop/issues/19810 ?

[2020-07-16 10:44] jf-viguier commented on #20179
That's it, thanks @sarahdib
We always unistall the gamification module because it slow down prestashop.

[2020-07-16 11:11] mihaiSeoCup commented on #9660
yeahp, problem still exists.
Although the cookie ies set corectly  in OrderController, before it enters bootstrap method and then it redirects wrong

[2020-07-16 11:24] PierreRambaud commented on #17280
@matks Yes we can do it in right know, and should have been done in the 1.7.7.x.
Anyway, I agree with @matthieu-rolland we need both checks, FILTER_VALIDATE_DOMAIN and FILTER_VALIDATE_IP even if using an IP as media server isn't a good idea (can be for preproduction / integration environment).

[2020-07-16 11:47] Klemart3D commented on #9660
How PrestaShop can pretends to do a e-commerce CMS without a working reorder function ?
This issue must be qualified as "major" and fixed for 1.7.7 or must deleted from core.

[2020-07-16 11:50] mihaiSeoCup commented on #9660
Coming back to this.
GUYS, check if the redirect still happens after you checked if the product/products in the order you wish to "reorder" are out of stock or not.
I think they thought that if a product is out of stock you can't  make a new order with the same product because there is no product to sell so they redirect you to homepage.
Thats what i think at this time

[2020-07-16 12:01] LouiseBonnard commented on #20110
Hi @SH4LT1S, thanks a lot for bringing this issue! For global translation errors, please go to the Lithuanian project on [Crowdin](https://crowdin.com/project/prestashop-official/lt) and subscribe to suggest a more accurate translation. @Junebyun here will be there to onboard you and help you find the original Lithuanian translation of the wording mentioned here. ;-)

If you need a more customized

[2020-07-16 12:04] florine2623 commented on #20191
Hi @edensh89 ,
Could you please navigate to your Back office => Advanced Parameters => E-mail, try to " Test your email configuration" by sending a test email.

The information for the fields, SMTP, should be provided by your web host: mail domain name, SMTP server, SMTP user, etc. Make sure to transcribe exactly what your web host provides you with.

Thanks!

[2020-07-16 12:04] LouiseBonnard commented on #20088
Hi @mescalitog, thanks a lot for bringing this issue! For global translation errors, please go to the Spanish (Argentina) project on [Crowdin](https://crowdin.com/project/prestashop-official/es-AR) and subscribe to suggest a more accurate translation. @Junebyun here will be there to onboard you and help you find the original Spanish (AR) translation of the wording mentioned here. ;-)

If you need

[2020-07-16 12:09] Klemart3D commented on #9660
@mihaiSeoCup yep it's only when one of already bought products is out of stock. A normal behavior would be to stay on "order history" page and display a warning message (was like this before), but a better integration would be to add all products in stock and display a warning "The product XXX wasn't added to your cart because is out of stock" for each product that can't be rebuy.

[2020-07-16 12:12] Hlavtox commented on #20191
@edensh89 Go to module config and check if sending is enabled ;-) I spent a long time searching for the cause, then I found out it's disabled by default 🤦

https://github.com/PrestaShop/PrestaShop/issues/16689

[2020-07-16 12:17] edensh89 commented on #20191
@Hlavtox Thanks but which module?

[2020-07-16 12:18] PierreRambaud commented on #17370
@matks I agree to improve the ChangeLog Writer tool to improve it :)

[2020-07-16 12:19] PierreRambaud commented on #16471
And it's just the beginning!

[2020-07-16 12:19] Hlavtox commented on #20191
@edensh89 Contact Form module, there is a special module installed for that

[2020-07-16 12:21] edensh89 commented on #20191
@Hlavtox Seems like I don't have it installed.

[2020-07-16 12:23] Hlavtox commented on #20191
@edensh89 If you go to module manager and put **contactform** into search box, it finds nothing?

[2020-07-16 12:30] edensh89 commented on #20191
@Hlavtox Ok, I found the issue.
The recaptcha module cause issues and contact form wasn't shown correctly, I did uninstall to the recaptcha module and now everything seems to work good.

Thank you very much!

[2020-07-16 12:38] #20191 closed, assigned to nobody

[2020-07-16 12:52] #20187 closed, assigned to nobody

[2020-07-16 13:29] ksaandev commented on #20179
I uninstall gamification too 😁

[2020-07-16 13:41] SuichiM opened #20194 "Guest Order Tracking redirects to shop Homepage when Friendly URLs are disabled"
#### Describe the bug

I'm using prestashop 1.7.6.5 with the classic theme and  when I want to follow an order as a guest user _(with valids order_id and email)_, the form redirect to the main page.

#### Expected behavior

Show the order history.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'index.php?controller=guest-tracking'
2. Complete the fields with a valid order_id

[2020-07-16 13:51] khouloudbelguith commented on #20194
Hi @SuichiM,

Thanks for your report.
I think your issue is simar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/15605 fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/16872
Thanks to check it and feedback.

[2020-07-16 14:03] irehi opened #20196 "add to cart button does not work"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-07-16 14:04] #20196 closed, assigned to nobody

[2020-07-16 14:24] SuichiM commented on #20194
I don't believe that is the same bug. In my case I just try with a never-used email (never registered as user). And have the same bug.

my problem, seems to be a malformed url when submit the form (lost the controller param)
...
`index.php?order_reference=FJMGFENOB&email=testingmail%40ageokfc.com`

instead of:
`index.php?controller=guest-tracking&order_reference=FJMGFENOB&email=testingmail%40ageok

[2020-07-16 14:26] NeOMakinG commented on #10102
I think it's closable

- All files are minified now
- Final JS is split if necessary, we've specific JS for specific pages etc
- Libraries are ever inside webpack or inside the main file entry, and this is fine

[2020-07-16 14:26] NeOMakinG commented on #10102
@PierreRambaud wdyt ? If you think we're fine atm, close it :)

[2020-07-16 14:29] PierreRambaud commented on #10102
@NeOMakinG I think yes, even if there are some problems left, the hard part is done.

[2020-07-16 14:31] Cryptex1030 opened #20197 "BO - Error 500 - Too few arguments to function PrestaShopBundle\EventListener\BackUrlRedirectResponseListener::__construct()"
#### Describe the bug

90% of the BO content is no longer accessible. All pages show the same error 500.

#### Expected behavior

:)

#### What's the actual result?

#### Steps to Reproduce

Don't know how. Nothing has changed on the store for several weeks.

But, I found a temporary solution, or less I found where the problem comes from.

**In /src/PrestaShopBundle/EventListener/BackUrlRedirectRe

[2020-07-16 14:34] NeOMakinG commented on #10102
What sort of problems you think about ? I can check

[2020-07-16 14:36] florine2623 commented on #20197
Hi @Cryptex1030 ,
Can you delete you cache ? in var/cache/dev and var/cache/prod
Did you install a theme / module ? or try to do a migration before the error happened ?
Thanks!

[2020-07-16 14:40] Cryptex1030 commented on #20197
Sorry, I forgot to specify. The cache was manually deleted, as well as in /var/cache/ also.

I installed the store directly with its theme, I also implemented several modules, everything has been working fine for several months. This problem appeared suddenly

[2020-07-16 14:57] florine2623 commented on #20197
I can't reproduce the issue in my test shop.
Did you implement any overrides ?
Can you send me the log file please ?

[2020-07-16 15:29] #19772 closed, assigned to nobody

[2020-07-16 15:36] Cryptex1030 commented on #20197
I have not done any override, but maybe there is in the theme.

Of course, which one do you want?

[2020-07-16 15:54] florine2623 commented on #20197
In /var/logs -> exception.log / prod.log / dev.log

[2020-07-16 16:00] SimonGrn commented on #20191
Thanks @Hlavtox for your help :pray:

[2020-07-16 16:43] florine2623 opened #20199 "2 Cart rules with cheapest product offered will subtract the same product twice"
#### Describe the bug

I have 2 discounts that both allow the customer to have the cheapest product of their cart for free.
If I enter these 2 discounts in my cart, the discounts always apply to the same product.
The cheapest product is considered given for free twice to the customer.

#### Expected behavior

It should be the 2 cheapest products offered to the customer and not only the cheapest on

[2020-07-16 16:46] Gipielle commented on #9866
Problem still present in prestashop 1.7.6.6

[2020-07-16 16:47] PrestaQuestion commented on #20189
Hi,

I shared a screenshot: [Screenshot](https://snipboard.io/Z7Stdx.jpg)

Like you can see it is Prestashop 1.7.6.2. In the screenshot you can see that i setup the pagnitation on productprice Low to High.

But in the front nothing is changing.

I also shared the module Faceted search module and the options i selected there.

In the bug mode report i can't find nothing that brings me to a solution

[2020-07-16 16:47] florine2623 commented on #20199
Hi @PrestaShop/prestashop-product-team !
Is this how it is supposed to work ?
Thanks!

[2020-07-16 17:16] Cryptex1030 commented on #20197
I send you Github invitation

[2020-07-16 21:47] BitcoinMitchell commented on #9650
In case it helps, the following fixed it (normal URL for logged in user, special URL for guest/etc):
[code]

[2020-07-16 21:48] BitcoinMitchell commented on #9650
In case it helps, the following resolved it for me. I now get a normal URL for logged in user and the special URL for guests.

[code]

[2020-07-16 22:05] davidglezz commented on #19022
I have not been able to reproduce the problem. By default the text is escaped, the problem occurs if we put nofilter: `title="{$image.legend nofilter}"`

Although the browser shows that there is a double quotation mark in the middle, it is because it has already decoded it, but the source code is valid.

![image](https://user-images.githubusercontent.com/194784/87727133-aee34680-c7c0-11ea-9c21-545

[2020-07-17 05:11] arouiadib commented on #20199
Thanks @florine2623 for this matter.

For the moment, AFAIK yes, only "Free Shipping" type of cart rules is not cumulative. The current calculation accumulates any other type of cart rules (which is normal).

Here is an example:
Cart rule 1 : percent reduction on the cheapest product only with carrier X
Cart rule 2 : percent reduction on the cheapest product only with customer Y.

Then we have:
0+

[2020-07-17 05:26] arouiadib commented on #20009
I think this is normal behaviour. By design, carts are cached because things may change after the cart creation, for instance: the expiration of a cart rule.

I think Customer is granted a cart voucher when he creates a cart, not when he places an order. He has the right to create carts and delay the day of order. I don't think it is a good idea to remove the voucher for someone who already seen i

[2020-07-17 06:06] TDC-Cyrille commented on #20009
Hello Adib,

Thanks for your explanation on this. I get your point of view - and possibly the developers' point of view as well - however I feel that this should not be the case, or at least there should be an option to disable this. Indeed, this defeats the purpose of having an expiration date for the vouchers as some clients would still be able to enjoy them after the said date. When shopping on

[2020-07-17 06:13] Progi1984 commented on #20179
Fixed by #20192

[2020-07-17 06:13] #20179 closed, assigned to PierreRambaud

[2020-07-17 06:25] Sinepel commented on #20075
Hello,

I did the PR to correct on the ps_checkpayment module : https://github.com/PrestaShop/ps_checkpayment/pull/33

Have a good day :)

[2020-07-17 07:22] Gipielle commented on #20135
I think is not a good idea .

[2020-07-17 07:23] Gipielle commented on #20135
You can use the edit order module for this

[2020-07-17 07:27] Gipielle opened #20202 "Backoffice system information take huge time to load"
In back office system information takes minutes to load

all prestashop version in my store got this problem, is not a bug problem but it is

#### Additional information

* PrestaShop version: 1.7.6.6
* PHP version: 7.2

[2020-07-17 07:51] colinegin commented on #19022
ping @florine2623 did you reproduce this issue ?

[2020-07-17 08:49] DianaButkute opened #20205 "Dashboard metrics are inconsistent"
#### Describe the bug

There is a problem with the dashboard statistic page. The metrics are not correct. For example, I have some orders in my localhost PS1761 prestashop witch are displayed into the dashboard. As you can see my sales value is $240.64, but when I check it into the Stats -> Stats Dashboard I can see that Revenue is $284.64.

Why these metrics are not the same?

#### Expected behav

[2020-07-17 09:00] KsaR99 opened #20206 "Options that can't be changed via ini_set()"
#### Describe the bug

PHP ini settings: `realpath_cache_size` and `realpath_cache_ttl` can only be changed via `php.ini` file or `httpd.conf` but not via `ini_set()`.
Because these options has mode "PHP_INI_SYSTEM"

[These options in php manual](https://www.php.net/manual/en/ini.core.php#ini.sect.performance)

[More about PHP_INI_SYSTEM](https://www.php.net/manual/en/configuration.changes.modes.p

[2020-07-17 09:14] PierreRambaud commented on #10102
Some files in the admin-dev/themes/default are not managed by webpack :thinking:

[2020-07-17 09:29] Junebyun commented on #20088
Hi there! I tried to reproduce the bug but I got different results:

- In International > Taxes: **Enabled** + in Shop parameters > Customers settings > Groups > Price display method : **Tax Incl.**
![image](https://user-images.githubusercontent.com/64894223/87767857-96ece080-c81b-11ea-872c-d55649412b20.png)

- In International > Taxes: **Enabled** + in Shop parameters > Customers settings > Group

[2020-07-17 09:43] florine2623 commented on #20189
Hi @PrestaQuestion ,
I can't reproduce your issue on my shop. I am using PS 1.7.6.5. I am also using classic theme.
The issue probably comes from your theme. Can you try to put classic theme and see if the behavior changes ?

[2020-07-17 09:48] florine2623 commented on #20197
Thanks for the invitation. You have a lot of Fatal error, could you send me a screenshot of the bottom page of the modified files, there are probably some files missing. BO > Advanced Parameters > Informations

[2020-07-17 09:53] florine2623 commented on #20206
Hi @KsaR99 ,
Could you follow the bug or improvement template so we can help you ?
Please explain exactly what you want or what the problem is.
Thanks!

[2020-07-17 10:02] NeOMakinG commented on #10102
Wow, every files except one are not managed by webpack !

[2020-07-17 10:25] KsaR99 commented on #20206
@florine2623 I've edited issue with template.

[2020-07-17 10:42] jrpp18 opened #20208 "Cart parameter hook DisplayAdminOrder"
#### Describe the bug

Cart object parameter in hookDisplayAdminOrder is uninitialized. It is there, as parameter received, but with all fields as null.

#### Expected behavior

Receive cart object initialized or remove it as a parameter.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Dump in a module all parameters in displayAdminOrder hook.
2. go to any order admin page.
4. See p

[2020-07-17 11:21] uruk-hai-21 opened #20209 ""Use this address for invoice too" doesn't work"
#### Describe the bug

Invoice address is always replaced with new address.

On checkout page in Addresses step:
1) I click "add new address"
2) I fill all fields
3) I uncheck "Use this address for invoice too" and I click to Continue button
4) The system go to "Shipping Method" step and set Delivery Address and Invoice address the new address

#### Expected behavior

If I uncheck "Use this addres

[2020-07-17 11:53] #19574 closed, assigned to nobody

[2020-07-17 11:59] florine2623 commented on #20209
Hi @ajejebrazorf01 ,
Thank you for your report.
But this is actually how the system works. For example if you have 3 different addresses saved, the system cannot guess which address you want to put in the invoice address and shipping address. That's why you have to choose manually which address you want in the invoice and the shipping
Also please downgrade your PHP version to 7.2 : https://devdocs

[2020-07-17 12:11] florine2623 commented on #20208
Hi @jrpp18
Thanks for the report, I will ping our developer team so they can answer you more precisely
Please stay tuned!

[2020-07-17 12:14] florine2623 commented on #20208
Hi @PrestaShop/prestashop-core-developers ,
When dumping all parameters in displayAdminOrder hook, Cart information is null. Is that the normal behavior ?
Thanks!

[2020-07-17 12:23] florine2623 commented on #20202
Hi @Gipielle ,
Do you have an error in the console or in your log file ?
Can you check if all system requirements are met ?
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Thanks!

[2020-07-17 12:52] #20077 closed, assigned to nobody

[2020-07-17 13:02] Gipielle commented on #20202
Hi, thanks for the replay:

Console i got this:

Questa pagina utilizza la proprietà non standard “zoom”. Al suo posto è possibile utilizzare calc(), oppure  “transform” insieme a “transform-origin: 0 0”. index.php
Caricamento non riuscito per lo <script> con sorgente “https://www.betafer.it/modules/ps_googleanalytics/views/js/GoogleAnalyticActionLib.js”.

System requirements are ok, i can also re

[2020-07-17 13:35] Cryptex1030 commented on #20197
![2020-07-17 15_34_42-Informations • TafitNutri](https://user-images.githubusercontent.com/52559716/87791741-1641da80-c843-11ea-8463-98f27d7218e8.png)

[2020-07-17 13:48] BlackKerio commented on #20043
@gusman126  The question is, why change the price of the product in the order? If I am not mistaken, this option is not even BO

[2020-07-17 14:15] go-sudo opened #20214 "Upgrade issue - errorThrown jqXHR - 1.7.6.2 to 1.7.6.7"
#### Describe the bug
I try to upgrade my PS 1.7.6.2 to PS 1.7.6.7 with differents methods (from archive, locally ) but nothing works

![image](https://user-images.githubusercontent.com/11594433/87794504-a0d40b00-c83e-11ea-906e-af1c3a7ee3cf.png)

[Ajax / Server Error for action backupFiles] textStatus: "error " errorThrown:" " jqXHR: " "

Steps to reproduce the behavior:

1. Go to 'Module upgrade'

[2020-07-17 14:35] fromcouch commented on #12300
Hi,

i did a non-elegant-a-lot-of-dirty solution to this problem.

My client ask me to change the word **Category** inside product-listing. I can't, obviously due this problem.

I did next steps:

I overrode CategoryControllerCore in override folder:

[code]
I was changed to some sort of variable called #text#.

Then in catalog/listing/product-list.tpl I was search for **product_list_header** bloc

[2020-07-17 14:36] florine2623 commented on #20205
Hi @DianaButkute ,
On my test shop PS 1.7.6.7 and PS 1.7.7.0 I can't reproduce the issue.
Here are my screenshots:
![Capture d’écran 2020-07-17 à 16 27 03](https://user-images.githubusercontent.com/16019289/87797519-12b25180-c84b-11ea-8396-fb8818a9af21.png)
![Capture d’écran 2020-07-17 à 16 32 32](https://user-images.githubusercontent.com/16019289/87797641-48efd100-c84b-11ea-9184-477aa81f1f25.

[2020-07-17 14:36] gusman126 commented on #20043
Because I have several stores, each store has a different price for the products, when I want to centralize the orders, I want the prices to be the same as other stores, other ERP,

[2020-07-17 14:48] florine2623 commented on #20202
i can also report that phppsinfo.php works 1 on 10 : sorry i don't understand what you are trying to say

[2020-07-17 15:12] florine2623 commented on #20214
Hi @go-sudo ,

What do you mean "nothing works" ?
Do you have an error ? If yes, please specify

I did the upgrade from 1.7.6.2 to 1.7.6.7 :
![Capture d’écran 2020-07-17 à 16 46 30](https://user-images.githubusercontent.com/16019289/87799188-3a0a1e00-c84d-11ea-814f-cb834a91a86b.png)
![Capture d’écran 2020-07-17 à 17 11 55](https://user-images.githubusercontent.com/16019289/87801850-a3d7f700-c8

[2020-07-17 15:13] Maofree opened #20216 "bugs on ps_emailalerts module"
Hi
on a new small site the module ps_emailalerts doesn't send email like for new orders
I've upgraded to 1.7.6.7 but with the same error
I've done many tests, many installations but each time at the start all settings are without data, look at the image
I can save all settings and emails, but each contact form on prestashop work well, instead from this module I cannot get emails

thanks

**Screens

[2020-07-17 15:21] florine2623 commented on #20216
Hi @maofree ,
Thanks for the report.
Your issue seems to be a duplicate of this one : https://github.com/PrestaShop/PrestaShop/issues/19842
Could you check ?

[2020-07-17 15:22] khouloudbelguith opened #20217 "BO - Orders page - Strange behavior after editing the country"
#### Describe the bug

In the BO => Orders => New Order page, it is impossible to edit the country of an address.
When we try to change the country and save, all the addresses do not appear anymore

#### Expected behavior

The address should be updated

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Orders
2. Click on "Add new Order"
3. Create a new customer or choose an

[2020-07-17 15:32] maofree commented on #20216
hi
yes the problem is the same
but I cannot see the fix
in other sites works well, but it happens also in another one site some weeks ago

[2020-07-17 15:33] go-sudo commented on #20214
Hello @florine2623
Yes I have this error [Ajax / Server Error for action backupFiles] textStatus: "error " errorThrown:" " jqXHR: " "

regards

[2020-07-17 15:44] maofree commented on #20216
hi
the problem is due from this condizion

if ($delete_params && $this->uninstallPrestaShop16Module()) {

replacing it to

if ($delete_params) {

all data is created in the db and all works well

[2020-07-17 15:58] Gipielle commented on #20202
This, https://github.com/PrestaShop/php-ps-info, now i have removed the password id it works so i made a screenshot

<img width="1910" alt="Schermata 2020-07-17 alle 17 58 00" src="https://user-images.githubusercontent.com/53569015/87806398-1ba92000-c857-11ea-9ee4-daf317c8ed45.png">
<img width="1779" alt="Schermata 2020-07-17 alle 17 57 49" src="https://user-images.githubusercontent.com/53569015/8

[2020-07-17 16:09] SimonGrn commented on #20197
It looks like a lot of files were modified.
Did you change something in your environment ?
We only use Github for issues and problems related to the software, and it looks that your issue is related to your environment.

[2020-07-17 16:12] SimonGrn commented on #20206
Hello @KsaR99,
what exactly is the problem ? You're saying that the lines
https://github.com/PrestaShop/PrestaShop/blob/42833c4097071b46f37b76f6c347fb579447e3e1/classes/Windows.php#L35-L36
are useless and are not working on Windows ?
Please explain.
Thank you.

[2020-07-17 16:19] SimonGrn commented on #20216
Hello @maofree,

the fix you're looking for is here : https://github.com/PrestaShop/ps_emailalerts/pull/58
It is still waiting for a QA check. Once verified, a new version of the module will be released.

Since it's a duplicate of #19842 I close this issue.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you.

[2020-07-17 16:19] #20216 closed, assigned to nobody

[2020-07-17 16:20] SimonGrn commented on #20216
Duplicate of #19842

[2020-07-17 16:21] KsaR99 commented on #20206
Yeah, that what I mean i.e. it looks like dead-code

[2020-07-17 16:23] maofree commented on #20216
I found this bug on 5 sites
so it is necessary to fix it quickly
bye

[2020-07-17 16:29] #20197 closed, assigned to nobody

[2020-07-17 16:34] SimonGrn commented on #20206
@KsaR99 Thank you for your answer. We will take a look.
@PierreRambaud do you know if this code is ever executed on Windows ?

[2020-07-17 17:28] Hlavtox opened #20218 "Thumbnails are not automatically generated for 2x formats"
#### Describe the bug

If an image miniature is missing, it gets automatically generated, but not for images in 2x resolution.
Add it to #18518 pls.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Enable high-dpi images in prestashop image settings.
2. Put this to /themes/classic/templates/catalog/_partials/category-header.tpl:
[code]
2. Assign image to some category. Remember ID of

[2020-07-17 17:39] Verlonimo opened #20219 "Sub categories thumbnails not visible in main menu module"
Hi,

#### Bug

Adding thumbnails to subcategories or categories which have no sub categories, thumbnails are not visible.

#### Expected behavior

Thumbnails should be visible on all categories where thumbnails are uploaded.

#### Steps to Reproduce

A.

1. Create category with no subcategories
2. Upload menu thumbnail
3. Thumbnail not visible

B.

1. Create category with subcategories
2. Upload m

[2020-07-17 17:53] Hlavtox commented on #19849
@PierreRambaud Tried your PR with the updated changes. Outputs number of products to be processed.
Still indexes only first 100 products.

[2020-07-18 02:07] msaustral opened #20220 "Multistore -> imported products image issue"
On the imported products from another store, the PS does not erase the imported images on the backend but it does not show them on the frontend.

Steps:
-on a full functional store 1.7.6.7
-activate multistore
-create a new group
-create a new store on the new group
-import all from the first store to the new one
-go to product
-erase all the imported pictures from the previous store
-add new pict

[2020-07-18 09:33] PrestaQuestion commented on #20189
Hi,

Thanks for your reply. You are right! The classic theme it is good. But i use a theme that i bought.

Where does it lie?

[2020-07-18 10:38] PrestaQuestion commented on #20189
Hi, i found it.

Thanks for the time, the new theme had a filter installed. In the code i changed it.

Tip: If you have this problem, search for the filter that is used in the theme. Enable only 1 filter. The filter of the backoffice wasn't working because of the enabled filter of the new theme.

[2020-07-18 10:42] #20189 closed, assigned to nobody

[2020-07-18 13:54] PululuK opened #20221 "[BO][PRODUCTS] Add product count filtered"
#### Is your feature request related to a problem?

Add product count filtered. Display number of products filtereds look Categorie page for example.

![Capture du 2020-07-18 15-48-37](https://user-images.githubusercontent.com/16455155/87853958-95e8ab80-c90e-11ea-89da-9992b8181e1f.png)

#### Describe the solution you'd like

![Capture du 2020-07-18 15-47-29](https://user-images.githubusercontent.c

[2020-07-18 14:48] PululuK opened #20223 "[BO][PRODUCT][SPECIFIC PRICE TAB] Add id_specific_price in list"
## Is your feature request related to a problem?

In my option, in a list the Ids of the objects must be displayed. It is very useful for developers to debug faster in some cases.

## Before

![Capture du 2020-07-18 16-43-53](https://user-images.githubusercontent.com/16455155/87855024-eb748680-c915-11ea-8ddf-9b65e666d5d9.png)

## After

![Capture du 2020-07-18 16-45-59](https://user-images.githubu

[2020-07-18 17:56] LinkOfLight opened #20226 "issue whit customer mensajes"
#### Describe the bug

the mensajes of customers in 1.7.6.7 dont see properly, the ` and ñ get truncate and dont see

#### Expected behavior

the bd is in utf8_general_ci
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'customer mensajes'
2. Click on 'mensaje'

4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/9163980/87858728-47e49f80-c930-11ea-9

[2020-07-18 17:59] Lao-Tuo opened #20227 "Webshop shows price without tax on first load - in most browsers."
### Describe the bug

My shop is set to go "with tax".
When I open my shop first time on a new device (or private browsing window) the highlights module shows the Items but without tax. When I do a refresh, the price is correctly shown with tax.
The Item-preview in the highlights module also shows the Item correctly with tax.
I did a test on various systems and browsers:
 Linux:
    Firefox - no t

[2020-07-18 22:01] davidglezz commented on #19508
Fixed in
https://github.com/PrestaShop/statsvisits/commit/bc31e5569c1d3ed7c03eb9db32b549f73d9fbb71

[2020-07-19 08:26] Trackhe opened #20228 "Deprecated using function array_key_exists(); With objects PHP7.4"
#### Describe the bug

array_key_exists(); using with objects is now Deprecated in PHP7.4 and it want be removed at PHP8
Use isset() or property_exists() instead in
/var/www/html/dev/src/Adapter/EntityMapper.php
on line 99

i tried to patch it with

[code]

to

[code]

But it give me an error.

`
Fatal error: Uncaught Error: Cannot access protected property Shop::$id_shop in /var/www/html/dev/src/

[2020-07-19 09:20] thepixelabs opened #20229 "Provide generic CSP headers for a fresh installation"
#### Describe the bug

I am adding a content security policy header for my web server to restrict XSS vulnerabilities, I do this in "REPORT-ONLY" mode to avoid site breakup.
It seems like even when using the classic theme, i am getting CSP error reports.
Other third party module errors I received were removed by disabling those affected modules.
This forces using unsafe-inline and unsafe-eval in a

[2020-07-19 10:49] davidglezz commented on #20228
array_key_exists() is NOT deprecated, the deprecation is using the function with objects

[2020-07-19 11:11] davidglezz opened #20230 "BO duplicated request for notifications"
#### Describe the bug
The request for notifications is repeated, one is done by the backofice itself and the other is ps_faviconnotificationbo. and so every minute or time interval.

#### Expected behavior
It would be best just to make a request at each time interval.
if another notification module were added ... would the request be made 3 times? this is not desired.

#### Steps to Reproduce
- op

[2020-07-19 11:59] matks commented on #20228
Hi ! Please note that 1.7.7 will not be php7.4-compatible, but 1.7.8 will be https://github.com/PrestaShop/PrestaShop/issues/16477

[2020-07-19 12:06] ksaandev commented on #20206
Hi, I remember having trouble with `ini_set()` on some server configurations. Cannot remember exactly what was the issue, but basically some environments do not let you modify some of php.ini settings. In my case I could not modify request timeout.

So maybe it's not all windows environments, only yours

[2020-07-19 12:10] Trackhe commented on #20228
oh cool thank you. @matks

[2020-07-19 12:10] #20228 closed, assigned to nobody

[2020-07-19 12:34] rdy4ever opened #20231 "Allow admin to select inactive carrier for order"
#### Is your feature request related to a problem?

As a shop admin, I want to be able to switch the carrier for one order, even if the carrier is disabled and not visible to the customer. As it is now, I can ony swich between active carriers. There are many cases as a shop admin when you need to switch the carrier after the order is placed but you don't want all carriers to be visible to the cust

[2020-07-19 12:40] Bahwaimongars opened #20232 "1 Click Upgrade Module - > Error 500 When i try to acces module"
Hi, I noticed there was a bug when I tried to access : One click on the module:

1- Click on : 1-Click Upgrade button in the 'Details' menu.
2- A few seconds (30/40 seconds) later, I get an error of 500

I'm trying:
- Change php version
- Check the php configuration (screen below)
- Debug mode: ON
- All caches disable

![FireShot Capture 051 - PHP PrestaShop Info - mygolftour fr](https://user-imag

[2020-07-19 13:49] ajejebrazorf01 commented on #20209
ok I agree with you but if I check or uncheck the input "Use this address for invoice too" the system behaves the same way.
If I uncheck the input I would like to stay in "Addresses" step where I can choose the Invoce/shipping address, instead the system (independently of my choose) bring me to "Shipping Method" step forcing me to go back to the previous step to change the settings.

Please watch

[2020-07-19 14:30] Lao-Tuo commented on #20227
So actually, that happens on directly going to the product as well. so it's not only the highlights.

Can't upload pictures for some reason.

[2020-07-19 17:57] rblaurin commented on #19615
Well, it ended up fixed as a Bug in #20192
Thanks.

[2020-07-20 03:48] go-sudo opened #20234 "Issue login Backoffice"
Hello

I appreciate you help, there are 2 or 3 scenario.
when I log with my account i'm rejected only if I disable the cache  the same thing from my colleague (BE) he is facing the issue
as you will see on the video I tried to log in with my account anami@ rejected but with my colleague's account (MZ) it works
as for my 3thd (BE) colleague he has the same issue so he works on other computer and ne

[2020-07-20 06:56] t3nd0 commented on #12660
@Alexandre17220 hello, could you please share your fix? I have the same problem for duplicate order invoice + order reference.

[2020-07-20 09:10] PierreRambaud commented on #20206
@SimonGrn This code is always executed on windows. Even if we are not supporting IIS, we support Windows for local environment.
I create a pull request to remove these calls

[2020-07-20 09:21] jajarom opened #20236 "No new customers can be registered"
#### Describe the bug

After the last update the registration page does not work, it just reloads.
Updating to 1.7.6.7

#### Expected behavior

To be able to register new customers

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'https://www.gpg.ro/autentificare?create_account=1.'
2. Click on 'Salveaza'
3. See error : Page reloading

**Screenshots**

If applicable, add screens

[2020-07-20 09:40] matthieu-rolland commented on #17729
yes @khouloudbelguith , (seems like it's done !) thanks

[2020-07-20 09:43] matks commented on #20208
Hi @jrpp18 I dont understand why there should be a "Cart" object on a BO page which manages Orders.

"Cart" object only makes sense on FO pages, where customer has a "Cart" object that contains the items he has put in his cart, and will (hopefully) checkout.

There is no such a thing as a "Cart" on BO pages where you are logged in as an Employee. If there was a Cart object on the legacy page, it l

[2020-07-20 10:05] #20138 closed, assigned to khouloudbelguith

[2020-07-20 10:16] khouloudbelguith opened #20238 "BO - Orders page - Cannot change the address selected in the New Order page - The address-details is not updated"
#### Describe the bug

In the BO => Orders => New Order page, it is impossible to change the address selected
With  branch 1.7.7.x => OK
#### Expected behavior

The address should be changed

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Orders
2. Click on "Add new Order"
3. Create a new customer or choose an old one for example `pub@prestashop.com`
PS: this customer ha

[2020-07-20 10:30] hbmichel opened #20239 "Invalid category vars"
Good morning,

Could you help me with this please ?
[code]

[2020-07-20 10:39] vipdpcolor opened #20240 "Problems with converting currencies when calculating shipping costs"
#### Describe the bug

Our shop has 2 currencies set up (polish zł and euro). We have our default currency set to euro, as it is the one used by most countries, which means we had to set up the product prices and delivery options in euro as well. Switching the currency in the front office as a customer converts the product prices properly (as seen on the first screenshot). However, it doesn't conv

[2020-07-20 11:34] iamtend0 commented on #11115
Hello! Anyone did find a solution? A lock system, cron, or any fix?

[2020-07-20 12:22] vincent-guesnard commented on #20055
Thanks you for this reply,

Have a great day,

Vincent

[2020-07-20 12:58] ks129 commented on #13701
I'd prefer option B, but class names should `ModernHelperList`, `ModernHelperForm` etc. I think.

[2020-07-20 13:38] #20236 closed, assigned to nobody

[2020-07-20 13:54] 5koder commented on #9809
@ahmelg same here. I really need a workaround

[2020-07-20 14:01] matks commented on #19949
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20083

[2020-07-20 14:01] #19949 closed, assigned to jolelievre

[2020-07-20 14:01] matks commented on #19960
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20083

[2020-07-20 14:01] #19960 closed, assigned to jolelievre

[2020-07-20 14:01] matks commented on #19890
Fixed by https://github.com/PrestaShop/PrestaShop/pull/20083

[2020-07-20 14:01] #19890 closed, assigned to jolelievre

[2020-07-20 14:05] matks opened #20244 "[BO] Can't remove discount added from a cart rule on product selection after adding a product in order (again!)"
#### Describe the bug

This bug was initially reported in https://github.com/PrestaShop/PrestaShop/issues/18379, fixed by https://github.com/PrestaShop/PrestaShop/pull/18205 but we observe it again after merging https://github.com/PrestaShop/PrestaShop/pull/20083 (according to @khouloudbelguith in https://github.com/PrestaShop/PrestaShop/pull/20083#issuecomment-659477917)

Can't remove discount ad

[2020-07-20 14:12] SimonGrn commented on #20239
Dear @hbmichel,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be g

[2020-07-20 14:12] #20239 closed, assigned to nobody

[2020-07-20 14:21] webstartconsulting opened #20245 "Gift products discount (voucher) and fixed amount discount (voucher) dont work together. The discount value is Not OK"
#### Describe the bug

When a coupon giving a gift product and a coupon offering a fixed amount discount are used in the cart, the value of the fixed amount coupon is incorrect. See attached screenshots.

Steps to reproduce the behavior:

1. Crete one or two gift product coupon
2. create a fixed amount coupon
3. use it in cart.

**Screenshots**

<img width="1680" alt="Screenshot 2020-07-16 09 01 1

[2020-07-20 14:22] jolelievre opened #20246 "[BO] Removing a cart rule associated to a product, or a generic shop cart rule is not possible"
#### Describe the bug

This bug was reported on this PR https://github.com/PrestaShop/PrestaShop/pull/20083#issuecomment-659477917
The PR reverts a previously fixed bug https://github.com/PrestaShop/PrestaShop/issues/18379

But the reason behind this is probably very different, it was actually intended to have this behaviour during the PR development. The problem comes from the `CartRule::autoAddT

[2020-07-20 14:28] sarahdib commented on #20232
Hello,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

- PrestaShop version (source)
- module version
- a screenshot of your error

Thank you!

[2020-07-20 14:28] hbmichel commented on #20239
Dear Simon
I paid 99€ for your help.
If i was able to do it myself I wouldn't pay.
I was trying to put the website into English, French and German.
So please help me to solve this issue and optimize the website to work correctly.
The main page should be English.
Thanks a lot
Kind regards
Michel HB

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Simon G. <not

[2020-07-20 14:34] jolelievre commented on #20244
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/20246

[2020-07-20 14:34] #20244 closed, assigned to nobody

[2020-07-20 14:38] Bahwaimongars commented on #20232
Hello,

Prestashop version source : 1.7.5.2
Module version : 4.10.1
![image](https://user-images.githubusercontent.com/62238066/87950315-6de08000-caa7-11ea-9dd8-139d0e1aff6d.png)

thx :)

[2020-07-20 14:41] khouloudbelguith commented on #20227
Hi @Lao-Tuo,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade yo

[2020-07-20 14:58] Dario9494 opened #20247 "Issue with import csv and ps 1.7.5.2"
#### Describe the bug

The csv import feature stopped working after updating Chrome version 84.0.4147.89.
I've tried to reproduce it in Firefox and it worked but I've noticed that after clicking the "Next Step" button the form re submission alert appeared and I had to conferm the re submittion.
It seems like that the redirect break the import process.

#### Expected behavior

The mapping page is s

[2020-07-20 15:02] PierreRambaud commented on #19849
Nice catch :+1:
Could you have a new check?

[2020-07-20 15:05] Lao-Tuo commented on #20227
Hi,
Yeah.. I looked wrong in the chart.. :) https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart
I actually checked that, and had that 7 7 in my head.. missed that 6 in there.. and changed the php ver from 7.2 to 7.3.. my bad.
anyways, now it's php 7.2 again.. same error..

also, it seems that the tax rule is simply not applied on the first load. the

[2020-07-20 15:13] SimonGrn commented on #20239
Hello @hbmichel,
If you paid for an intervention, it was in the [PrestaShop dedicated support](https://www.prestashop.com/support).
This is not the support, this is Github, a place to report bugs in the software.

You didn't use the template for issue (you likely deleted everything to past a log message). We cannot work with that as it's missing a lot of crucial informations.

If you need help for

[2020-07-20 15:19] hbmichel commented on #20239
Do you want me to give you access to my account and you can have a look?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Simon G. <notifications@github.com>
Sent: Monday, July 20, 2020 5:13:44 PM
To: PrestaShop/PrestaShop <PrestaShop@noreply.github.com>
Cc: hbmichel <hbmichel@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [PrestaShop/PrestaS

[2020-07-20 15:30] alep93 commented on #20234
do you have find a solution?

[2020-07-20 15:36] SimonGrn commented on #20239
Hello @hbmichel,

please find all the necessary information in my previous comment.
This conversation is now locked.

Thank you for your understanding.

[2020-07-20 15:39] alep93 opened #20248 "Order Duplicate at same time"
#### Describe the bug

Sometimes when a customer place an order, in admin panel i see two order with same reference (different ID) at same time. In first order i see the products that customer bought, in second order i don't see anythings and order status get in waiting for supplying also if a product quantity is greater then 10 qty.

#### Additional information

* PrestaShop version: 1.7.6.5
* PH

[2020-07-20 15:42] alep93 opened #20249 "Redirect to Homepage on "Proceed to payment""
#### Describe the bug

Sometimes when a customer want to proceed to checkout process and click to "Proceed to payment" in cart page, will be redirect to homepage.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to "cart"
2. Click on 'Proceed to payment'
3. Prestashop Redirect to Homepage

* PrestaShop version: 1.7.6.5
* PHP version: 7.2

[2020-07-20 15:46] alep93 opened #20250 "PayPal duplicate Transaction"
#### Describe the bug

Sometimes when a customer place an order with PayPal, i receive two same transaction and i will be forced to refund one of each order.

#### Additional information

* PrestaShop version: 1.7.6.5
* PHP version: 7.2

[2020-07-20 15:52] sarahdib commented on #20240
Hello @frntdev

We can't reproduce
<img width="718" alt="Capture d’écran 2020-07-20 à 17 47 47" src="https://user-images.githubusercontent.com/3034677/87958001-455d8380-cab1-11ea-9c17-049082085d7e.png">
<img width="710" alt="Capture d’écran 2020-07-20 à 17 48 23" src="https://user-images.githubusercontent.com/3034677/87958009-47274700-cab1-11ea-9444-1f5a588067e1.png">

have you installed modul

[2020-07-20 15:59] letwang opened #20251 "1.7.6.7"
![ED19418EB9A4EAB7E32D7E251B0B354E](https://user-images.githubusercontent.com/3644168/87959182-0fd28d80-cae5-11ea-917c-d567849affaa.jpg)

[2020-07-20 16:03] grafeco opened #20252 "Bug ps_emailalerts 2.2.0"
#### Describe the bug

Hello! I’m Darío, Prestashop Developer.

I found a bug in ps_emailalerts 2.2.0: https://github.com/PrestaShop/ps_emailalerts

If you have more than 2 products with “Product::CUSTOMIZE_TEXTFIELD” in the same order, this is print duplicate in the email. Example:

(Mail)

<img src="https://i.imgur.com/6dJgkzm.png">

(Order in Ps 1.7 Backoffice)

<img src="https://i.imgur.com/D4

[2020-07-20 16:04] grafeco commented on #20252
I hope this can help.

Thank you very much to develop all these lines.
I’ll follow the news about this module and PS!

[2020-07-20 16:05] SimonGrn commented on #20251
Dear @letwang,
Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we will be gl

[2020-07-20 16:05] #20251 closed, assigned to nobody

[2020-07-20 16:07] matks commented on #20251
(also we do not speak this language and because this is a screenshot we cant even use translate.google.com to understand)

[2020-07-20 16:12] Alexandre17220 commented on #11115
@iamtend0
Yes, I correct it a long time ago, I have overrided the ugly function "setLastInvoiceNumber"
Alter table order_invoice to add autoincrement and use it in setlastinvoicenumber
I think. maybe the presta team have correct it too ? Look the last source.

[2020-07-20 16:12] matks commented on #11217
Fixed during the migration ✔️  https://github.com/PrestaShop/PrestaShop/issues/10511

[2020-07-20 16:12] #11217 closed, assigned to matks

[2020-07-20 16:15] matks commented on #10511
Hi @zuk3975 I checked and for me the "Export" action works. By "Export" action are we referring to "Export to SQL" button ?

I close this issue but if you tell me something is missing I will open it again 😊

[2020-07-20 16:15] #10511 closed, assigned to JevgenijVisockij

[2020-07-20 16:26] Laimonas-Mituzas opened #20254 "Customer Reassurance module v5 crashes when used as widget with PS 1.7.6"
Checkout links not active due module Customer Reassurance issue.

Bug mode shows error:
Atempted to call an undefined method named "getMimeType" of class "ImageManager".
Did you mean to call "getMimeTypeByExtension"?
in ReassuranceActivity.php line 190

#### Additional information

* PrestaShop version: 1.7.6.7
* PHP version: 7.2

[2020-07-20 16:35] matks commented on #20254
Similar to https://github.com/PrestaShop/blockreassurance/pull/35#issuecomment-566556584 feedback

[2020-07-20 16:35] matks commented on #20254
@Progi1984 it seems `ImageManager::getMimeType()` is only inside the Core since PS 1.7.7 https://github.com/PrestaShop/PrestaShop/commit/c18d5f7fe78fc63e107a9be96316c011e081d6b6

[2020-07-20 16:40] matks commented on #20254
@Laimonas-Mituzas it seems compatibility range on the module is wrong. v5.0.0 is only compatible with PS 1.7.7 and higher. The module should have been configured accordingly (but it's not there)

[2020-07-20 16:40] #20162 closed, assigned to nobody

[2020-07-20 16:42] damianobertuna commented on #14414
I follow this topic.

[2020-07-20 16:43] matks commented on #20254
PR to fix https://github.com/PrestaShop/blockreassurance/pull/54

[2020-07-20 17:28] frntdev commented on #20240
Interesting. We have a module for validating vat numbers with VIES (cant check which one right now), Prestashop Currency and language by country from mypresta to set the language to polish for polish customers and DPD/FedEx modules. I'll have to check if it's the VIES module causing it, honestly didn't think that would be the case because it was calculating the prices of products properly. Plus I

[2020-07-20 20:42] arafatx opened #20255 "[PS 1.7.6.7] Allow courier local delivery by states with different price"
Please refer to this comment discussion in prestashop forum:

https://www.prestashop.com/forums/topic/498702-one-country-in-several-zones/?tab=comments#comment-3251932

and

https://www.prestashop.com/forums/topic/498702-one-country-in-several-zones/?tab=comments#comment-3251933

If this is not a bug, please move it in to feature requests

[2020-07-20 21:35] arafatx commented on #20255
I just found out a similar issue here who suggested to use a module to fix this: https://github.com/PrestaShop/PrestaShop/issues/11662

[2020-07-21 00:05] go-sudo commented on #20234
Hi @alep93 are you facing the same issue ?

[2020-07-21 06:09] ks129 opened #20256 "Webpack error while using Docker"
#### Describe the bug
When I use `docker-compose up`, then I get error:
[code]
This started happening after I made my develop branch up-to-date with PrestaShop develop branch.

#### Expected behavior
No error should be raised.

#### Steps to Reproduce
Use `docker-compose up` to run PrestaShop, then this should show this error.

**Screenshots**

If applicable, add screenshots or screen recordings t

[2020-07-21 06:33] ks129 commented on #10585
I try to migrate this page.

[2020-07-21 07:03] nrcjea001 opened #20257 "Products created by new employee are not visible in BO under SuperAdmin profile"
#### Describe the bug

I created a new employee profile with basic functionality to add new products. After adding the products, all is working as per normal and products are appearing in FO. However, when I sign in to the superadmin profile, the products are no longer visible in the BO.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Create new profile to add new products.
2. Creat

[2020-07-21 07:15] matks commented on #10585
Hi ! it's nice to see your motivation but I warn you: because of the heavy and complex JS behavior, this page is very complex!

We have started working on it and when we saw how much work was needed we put it on hold to focus on other topics. We are not 100% sure yet how to structure the JS part.

[2020-07-21 07:30] iamtend0 commented on #11115
Thank you for your answer.
How do you add the auto_increment on invoice number with SQL ? Because there is already an auto_increment on the primary key.

So if I understand, you just auto incremented the number column and then deleted the SELECT MAX+1 part of the code to fix it?

I also have the problem on order references. I have got a lot of orders per day into FO & BO so when we make an order i

[2020-07-21 07:47] Matt75 commented on #10585
Is there a plan to manage the high amount of input fields ?
Like an ajax submission range by range instead of submit all fields at the end ?

With standard PHP configuration, max_input_vars is reached when you have many ranges of price/weight and zones...

This cause a lot of issues and many complain on PrestaShop Forums : https://www.prestashop.com/forums/tags/max_input_vars/ (Many topics does no

[2020-07-21 07:58] PululuK commented on #19336
Fixed by https://github.com/PrestaShop/productcomments/pull/55

[2020-07-21 07:58] #19336 closed, assigned to nobody

[2020-07-21 07:58] ks129 commented on #10585
This goes so complex yes, so maybe it's not the best idea to do this myself. I try to find something easier.

[2020-07-21 08:03] matks commented on #10585
I would suggest trying "Shop parameters > Customer settings > Titles" (https://github.com/PrestaShop/PrestaShop/issues/10628) or "Customers > Outstanding" (https://github.com/PrestaShop/PrestaShop/issues/17156)

And reading https://devdocs.prestashop.com/1.7/development/architecture/migration-guide/ :)

[2020-07-21 08:07] sarahdib commented on #20219
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Add in the native template a miniature for subcategory in the menu.

Thank you!

[2020-07-21 08:09] sarahdib commented on #20221
Hello,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?
Add the number of product filtered.

Thanks!

[2020-07-21 08:11] flencas commented on #20160
This problem is definitely due to the multi-store.
if i turn off multi store support in prestashop settings, the order page works normally.
maybe someone has ideas on how to fix it?

[2020-07-21 08:13] sarahdib commented on #20223
Hello,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?
Add the id of the specific price.

Thanks!

[2020-07-21 08:15] matks commented on #20254
We might find another work-around to keep a compatibility range as wide as possible.

@Laimonas-Mituzas how did you observe the error ? When I use the module "in a standard way" I do not use its widget capabilities so the error does not appear. Do you use a custom theme where blockreassurance is a widget ?

[2020-07-21 08:24] pixelicous commented on #20229
Hi, this is an important security topic. Would love to get a response, it can currently open up a world of vulnerabilities due to unsafe content security policy.

[2020-07-21 08:30] sarahdib commented on #20226
Hello,

Despite our efforts, we were not able to reproduce your issue with the provided information.
<img width="387" alt="Capture d’écran 2020-07-21 à 10 23 02" src="https://user-images.githubusercontent.com/3034677/88030955-307a0200-cb3c-11ea-9d31-41fc46f21715.png">
<img width="255" alt="Capture d’écran 2020-07-21 à 10 27 51" src="https://user-images.githubusercontent.com/3034677/88031511-fc

[2020-07-21 08:30] #20226 closed, assigned to nobody

[2020-07-21 08:34] sarahdib commented on #20229
@PierreRambaud  could you check this issue :)

Thank you

[2020-07-21 08:35] matks commented on #20229
Hi, please wait 😄  the answer will come but our hands are quite full right now but don't worry these are just warnings, there is nothing dangerous there. It's just a tool that tells you to follow a best practice, nothing more.

[2020-07-21 08:46] sarahdib commented on #20231
Hello,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?
As an admin be able to change carrier in an order even if the carrier is disable.

Thanks!

[2020-07-21 08:53] pixelicous commented on #20229
This is not "just a tool", if i enable policy to allow scripts to only be executed from self and known addresses, i can block more attack surface.

Currently i have to allow "unsafe-inline" and "unsafe-eval". While the latter is optional AND really just an error, the first one causes site functionality problems when not enabled, causing a security risk of adding that unsafe-inline allow.
![image](

[2020-07-21 09:17] #20255 closed, assigned to nobody

[2020-07-21 09:23] atomiix commented on #20230
Hi @davidglezz,

I agree that for this particular case, it's not optimal **but** those calls are made asynchronously so it won't make the BO any slower and for other cases where you might want a different refresh rate of those notification, it allows you to do so.

That being said, if we put appart the freedom of the refresh rate, one solution could be to fire an event when the first call is made

[2020-07-21 09:25] sarahdib commented on #20256
@PierreRambaud  could you check this ?

Thank you

[2020-07-21 09:51] sarahdib commented on #20249
Hello,

Despite our efforts, we were not able to reproduce your issue with the provided information.

It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

Thank you!

[2020-07-21 09:59] sarahdib commented on #20250
Hello @alep93

If your module is PrestaShop Checkout please, contact support team on module configuration page > Subtab Help > there are an email address
If your module is PayPal Official, please contact support team on Addons : https://addons.prestashop.com/en/contact-us?id_product=1748

Thank you!

[2020-07-21 09:59] #20250 closed, assigned to nobody

[2020-07-21 10:00] onklmaps commented on #19043
Any news on this?
Milestone?
Thanks.

[2020-07-21 10:04] guirou62 opened #20259 "PRoblem when you want to override a class using "use""
#### Describe the bug

When a module wants to override some Prestashop classes function by putting the original function, if the original class have "use ...." at the beginning, the override don't use this "use" : If in the function, you needed to use this class, the shop says "This function doesn't exist"

#### Expected behavior

When you generate an override in folder "overrides", the class shou

[2020-07-21 12:08] matks commented on #20259
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/18592

[2020-07-21 12:17] #20259 closed, assigned to nobody

[2020-07-21 12:18] guirou62 commented on #18592
Oh yes, thanks @matks

[2020-07-21 12:34] webstartconsulting commented on #20245
Hi!
Can anyone help me with exactly what files the cart and cart rules work with?
This mistake is quite important and it is a shame that it has not been good for months.
And no one dares to touch or help solve it.

[2020-07-21 12:40] mescalitog commented on #20088
Thanks @Junebyun
Your description describe exactly my issue
I manage to fix my issue modifying "Total con Iva" by "Total" in this files:
* app/Resources/translations/es-AR/ShopThemeCheckout.es-AR.xlf
* app/Resources/translations/es-AR/ShopPdf.es-AR.xlf
* app/Resources/translations/es-AR/AdminGlobal.es-AR.xlf
because couldn't find all ocurrences of "Total con Iva" in BO translations.
I would make t

[2020-07-21 13:05] PierreRambaud commented on #20256
After several tries, I'm not able to reproduce. Could you tell us more about your containers versions, docker-compose & docker versions?

[2020-07-21 13:09] Hlavtox commented on #19849
@PierreRambaud Works properly now!!!
All zeroes, HTTP -> fine
All, zeroes, AJAX-> fine
Empty table, HTTP -> fine
Empty table, AJAX -> fine

You can merge it 🚀

[2020-07-21 13:27] #20249 closed, assigned to nobody

[2020-07-21 13:52] PierreRambaud commented on #19849
Hell yeah!

[2020-07-21 16:41] matks commented on #20170
Should be fixed by https://github.com/PrestaShop/PrestaShop/pull/20263/

[2020-07-21 17:15] sarahdib commented on #20248
Hello,

Despite our efforts, we were not able to reproduce your issue with the provided information.

It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

Thank you!

[2020-07-21 17:15] #20248 closed, assigned to nobody

[2020-07-21 17:19] sarahdib commented on #20247
Hello,

Despite our efforts, we were not able to reproduce your issue with the provided information.

It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

Could you try with the last PrestaShop version and if the problem still appear re-open a new issue.

Thank you!

[2020-07-21 17:19] #20247 closed, assigned to nobody

[2020-07-21 19:22] 01park opened #20264 "GSITEMAP 4.2.0 not generating all languages in Multistore env"
After updating GSITEMAP to 4.2 the sitemaps that are generating only English, not other languages

Also I noticed the index file is not updating the date.

1.7.6 Prestashop

I moved back to 4.1 with personal update to make it work correct with Multistore. This one is working.
[gsitemap.zip](https://github.com/PrestaShop/PrestaShop/files/4955776/gsitemap.zip)

---
#### Describe the bug

After insta

[2020-07-21 19:54] baskettcase opened #20265 "statsbestproducts not combination aware"
#### Describe the bug

When going to the statsbestproducts module page, I only see the base product list.

#### Expected behavior

I would expect to see product combinations also if those are setup.

#### Steps to Reproduce

1. Create a product, then create combinations
2. Purchase different combinations of said product
3. Go to the statsbestproducts page and set the date to include today
4. See t

[2020-07-21 20:24] PululuK opened #20267 "Remove Google+ in install page"
## Is your feature request related to a problem?

Remove Google+ in install page.

![links](https://user-images.githubusercontent.com/16455155/88102269-8d5ad400-cb9f-11ea-9a33-4900fe2a9aa2.png)

![google+mort](https://user-images.githubusercontent.com/16455155/88102179-6c927e80-cb9f-11ea-946a-68a194dcda08.png)

## Additional information
- PrestaShop version: 1.7.7.x
- PHP version: N/A

[2020-07-21 21:23] matks commented on #19967
Despite multiple attempts we cannot reproduce this bug. It is very likely it does come from a specific setting/config on your side, it can be server side configuration, it can be 3rd party module, it can be custom code. I close this issue as we cannot fix something that we cannot reproduce.

This does not mean this discussion is over 😉 if you find some more infos we might understand what's going o

[2020-07-21 21:23] #19967 closed, assigned to nobody

[2020-07-21 21:26] matks commented on #20050
Hi, honestly we have never seen someone deploy a PrestaShop on a Multi-Master Galera Cluster. It's nice to know 😄 it's always good to know how people use and deploy your software but we have zero knowledge of this very specific config/setting and consequently cannot help you

Only thing that could help you is https://github.com/PrestaShop/PrestaShop/issues/15019

[2020-07-21 21:26] #20050 closed, assigned to nobody

[2020-07-21 21:27] matks commented on #20155
Hi, I think this topic does not need further exchanges ... for now 😄 so I close the issue.

This does not mean this discussion is over 😉 if you find some more infos we might understand what's going on and maybe reopen the issue if we find a way to reproduce your usecase. But "open" issues are "things that we know what need to do / what we need to fix" and this issue does not meet this definition

[2020-07-21 21:27] #20155 closed, assigned to nobody

[2020-07-21 21:30] matks commented on #20160
Despite multiple attempts we cannot reproduce this bug. It is very likely it does come from a specific setting/config on your side, it can be server side configuration, it can be 3rd party module, it can be custom code. I close this issue as we cannot fix something that we cannot reproduce.

An error so obvious (a blank page !) would not be unnoticed by us when working on the software. Something i

[2020-07-21 21:30] #20160 closed, assigned to nobody

[2020-07-21 21:33] matks commented on #20202
Hi, I am sorry but "it's very long to load" is not something we can work with 🤔 . It depends on shop database size, on server capabilities, on specific settings ... too many variables you can adjust and modify.

Boosting your shop performances is an area with multiple paths. Can be database config fine-tuning, can be server I/O fine-tuning ... basically on our test shops there's nothing noticeable

[2020-07-21 21:33] #20202 closed, assigned to nobody

[2020-07-21 22:10] baskettcase opened #20268 "ps_googleanalytics allow for trackings hash in URL for product combinations"
#### Is your feature request related to a problem?

In Google analytics it only shows the main product, but no product combinations due to the hash tag

#### Describe the solution you'd like

You can use something like this to track the hash tag, maybe put an option in the admin to include hash or not
`function() {
  return window.location.pathname + window.location.search + window.location.hash;

[2020-07-21 22:50] baskettcase commented on #20268
Or this might be the solution: https://developers.google.com/analytics/devguides/collection/analyticsjs/single-page-applications

[2020-07-21 23:52] PululuK opened #20269 "[FO & BO ] You can create account with an invalid customer name"
#### Describe the bug

You can create account with an invalid customer name. For example : `. ` or `. i .`

![image](https://user-images.githubusercontent.com/16455155/88117440-732eef00-cbbb-11ea-95f1-fa320c02f6a1.png)

#### Expected behavior

Customer names must not begin with special characters (including dots)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Create account p

[2020-07-22 06:41] gennaris commented on #20050
Ok I will see how to deal with it , but keep in mind that #15019 is an incomplete/wrong patch,
because even if installation succeed, it will lead to the error reported here.

[2020-07-22 06:51] Betafer commented on #18890
The problem is still present in prestashop 1.7.6.6 with PHP 7.2.32

' is changed by &amp;#039;

<img width="742" alt="Schermata 2020-07-22 alle 08 49 11" src="https://user-images.githubusercontent.com/5024055/88143948-641a6200-cbf8-11ea-84c3-9708e4b55f90.png">

[2020-07-22 06:53] pdkey opened #20271 "Notification add to cart doesnt work - after upgrade PS 1.7.6.5 to 1.7.6.7"
We have after the upgrade an error, the information that the product in the shopping cart is not displayed, also the number on the shopping cart icon does not change.

We use the Page Cache Ultimate module, but all third-party modules were manually disabled before the upgrade. The cache has been cleared.

---
This error message is displayed by the Console:

Uncaught ReferenceError: ajaxGetProductU

[2020-07-22 07:25] aleksiuno opened #20272 "Can't create separate product combinations"
#### Describe the bug

I've created second multishop store. In BO second store context i went to Catalogs > Products > Any productwith few combinations > Combinations. I've deleted default combination and tried to create a new one. I've got an error.
``Duplicate entry '96-1' for key 'product_default'<br /><br /><pre>UPDATE `ps_product_attribute` SET `id_product_attribute` = '15787',`id_product` =

[2020-07-22 07:49] #20206 closed, assigned to PierreRambaud

[2020-07-22 08:19] PierreRambaud commented on #20267
Hi @PululuK
We will backport #17340 (Issue #17256) on the 1.7.7.x branch :wink:
Thanks

[2020-07-22 08:19] #20267 closed, assigned to nobody

[2020-07-22 08:23] malodeco opened #20274 "Bug when updating to Prestashop 1.7.6.5"
I have an error message that appears when I update the module "module 1 click Upgrade"  to Prestashop 1.7.6.5

1. I downloaded the Module 1 Click Upgrade
2. I search the module in my catalogue and click on "Upgrade Prestashop Now!"
3. The download starts
4. Then I have a message that appears in my activity log :
"Backup of current files. Another 30,908 files.
[Ajax / Erreur du serveur pour la sauv

[2020-07-22 08:50] frntdev commented on #20240
So, after some testing I figured out that it's actually caused by the official DPD module, which is bit surprising. I'll try to contact their devs. Sorry for the false alarm.

[2020-07-22 08:50] #20240 closed, assigned to nobody

[2020-07-22 09:07] khouloudbelguith commented on #20274
Hi @malodeco,

Thanks for your report.
Can you please check if you have the same behavior as reported here: https://github.com/PrestaShop/PrestaShop/issues/9564#issuecomment-470146173

Thanks!

[2020-07-22 09:17] orangepixsamuele opened #20275 "Prestashop nginx - Site goes 404 after new user registration"
When a new user regist himself in the website, site goes 404, but if he refresh the page, it works normally... Some idea?

Prestashop 1.7.6.5
Nginx 1.16.1

ssl.conf:
#
# HTTPS server configuration
#

server {
    listen       443 quic reuseport;
    listen       443 http2 ssl;
    listen       [::]:443 quic reuseport;
    listen       [::]:443 http2 ssl;
    server_name  _;

    ssl_certificate

[2020-07-22 09:18] NeOMakinG commented on #14052
Not fixed for every inputs, not closable yet

[2020-07-22 09:23] orangepixsamuele commented on #20275
This happen because Tools::redirect link to "www.website.it" instead "https://www.websitelink.it".. is there something that i can do in ssl.conf to rebuild all url without https?

[2020-07-22 09:29] TristanLDD commented on #20271
Hello @pdkey, thanks for your report
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem, as so it can't be treated on Github. I encourage you to visit PrestaShop's support solutions https://www.prestashop.com/fr/support or forum https://www.prestashop.com/forums/ to get a personalized answer to the problem you encounter.
Thank yo

[2020-07-22 09:29] #20271 closed, assigned to nobody

[2020-07-22 09:32] TristanLDD commented on #20264
Hello @01park, thanks for your report

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration - PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
...
You don't know how to get this information? Please read the following article: h

[2020-07-22 09:41] malodeco commented on #20274
Thank you for your answer.
 Could you explain it in simpler words, please? Because I’m not a programmer and I don’t understand

[2020-07-22 09:42] NeOMakinG commented on #14052
The category autocomplete doesn't use the same component as the whole page, I think it should be refacto for the next version @matks and use the same everywhere

[2020-07-22 09:46] khouloudbelguith commented on #20274
@malodeco, your database password contains `%`?
For example, you can check the file `/app/config/parameters.php` and verify the 'database_password', if it is correct.

Thanks!

[2020-07-22 09:48] pks891618 commented on #20155
ok thanks

[2020-07-22 09:53] 01park commented on #20264
Hi,

I use prestashop 1.7.6.5, php 7.2

The issue is what I already explained. With the new update. Only the English sitemap is created and not the other languages. Also the index file is not updated.

After going back to my old version, I checked the index file and the data in this is also different than the data that is created with he new update.

I did not make any screen shots of the problem,

[2020-07-22 09:59] malodeco commented on #20274
I updated it again and I have another error message "Could not close the Zip file properly. Check you are allowed to write on the disk and there is available space on it."
 How do I know if I am allowed to write to the disk?

Thank you.

[2020-07-22 10:03] TristanLDD commented on #20265
Hi @baskettcase, thanks for your report

Indeed, statsbestproducts does not include combinations for the moment. This is an interesting improvement, we'll discuss it with @PrestaShop/prestashop-product-team and get back to you as soon as possible.
Thank you

[2020-07-22 10:03] VeiJar1 opened #20276 "Cannot programmatically add feature (insert into database)"
#### Describe the bug

I have a hook actionProductSave(), where I want to add a feature to product, if product is pack of products. I tried using Product::addFeatureProductImport() but it did not work, so I tried to do the sql query myself.

[code]

Hook triggers normally and whole save process gives no errors, but nothing is added into database.

Tried also with insert():

[code]

But result is t

[2020-07-22 10:13] TristanLDD commented on #20276
Hi @VeiJar1, thanks you for your first report :)
@PrestaShop/prestashop-core-developers WDYT?

[2020-07-22 10:17] khouloudbelguith commented on #20274
@malodeco, Thanks to check our [documenation](http://doc.prestashop.com/display/PS17/Installing+PrestaShop) to explain how updating the file permissions.

Your issue that your database password contains `%` ? is it?

Thanks!

[2020-07-22 10:28] TristanLDD commented on #20268
Hi @baskettcase, thanks for your suggestion
We'll discuss it with the @PrestaShop/prestashop-product-team and get back to you as soon as possible

Could you give us more info about the version of PrestaShop you're using and also tell us a bit more about how this improvement would benefit you?
Thank you

[2020-07-22 10:40] Bahwaimongars commented on #20232
Hello,

Any ideas ? :/

[2020-07-22 12:47] sobamartinez opened #20277 "Error 500 when clicking on order"
Bonjour,
j'ai besoin de changer l'état d'une commande, quand clique sur la commande pour l'affiche j'ai un message d'erreur 500.
![Capture d’écran 2020-07-22 à 14 43 18](https://user-images.githubusercontent.com/42717288/88178078-1c143300-cc2a-11ea-94e9-8e30755d8070.png)
![Capture d’écran 2020-07-22 à 14 43 18](https://user-images.githubusercontent.com/42717288/88178142-351ce400-cc2a-11ea-8250

[2020-07-22 13:24] PierreRambaud commented on #20229
I confirm using `unsafe-inline` and `unsafe-eval` is bad practice, but regarding what you're trying to do, you must add all hashes in your header configuration as you see on this screenshot.
![image](https://user-images.githubusercontent.com/1462701/88180084-1e2bc100-cc2d-11ea-83ca-17b4a379dd56.png)

It's the same for your first message when a script is requesting googletagmanager.com, you must ad

[2020-07-22 13:56] TristanLDD commented on #20277
Hello @sobamartinez Please, thanks for your report
Please send your request in English, English is the norm on GitHub.

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration - PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
...

[2020-07-22 13:59] AutobotJazzy opened #20278 "Too much downtime - PS 1.6"
#### Describe the bug

Our customers are constantly calling to complain about our website being difficult to place orders on because it freezes when the order is submitted or it will just have a loading screen that never loads. The website is down way more than it should be. For our employees, we have extreme difficulty getting in on the back end to help customers because it's constantly loading t

[2020-07-22 14:01] #19855 closed, assigned to atomiix

[2020-07-22 14:12] khouloudbelguith commented on #20170
The redirection issue is fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/20263

[2020-07-22 14:14] mcdado commented on #14086
How do people generally handle module upgrade and similar taks? Because upgrading a module that requires upgrade functions needs — to my knowledge — to be done through the backoffice (at least it was in 1.6, I'm not very familiar with 1.7 yet) which means that backoffice actions can change the cache. In our case we resorted to deploying mostly just the theme folder and little else, everything else

[2020-07-22 14:18] khouloudbelguith opened #20279 "How to handle/display error messages for required fields"
#### Describe the bug
As suggested by @matks in this [comment](https://github.com/PrestaShop/PrestaShop/pull/20263#issuecomment-662447464)

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to the BO => Addresses page
2. Create a new address
3. Set an invalid field Address 1 ( too long > 128 chars )
4. Click save

[2020-07-22 14:21] sobamartinez commented on #20277
Hello,
I need to change the state of an order, when click on the order for the poster I have a 500 error message.

Version prestashop 1.7.5.1

1.Commande
2. afficher

![Capture d’écran 2020-07-22 à 16 20 10](https://user-images.githubusercontent.com/42717288/88187881-618b2d00-cc37-11ea-90c1-d89c5a7aa096.png)

[2020-07-22 14:22] muyncky commented on #14086
@mcdado I can recommend, to deploy ./modules, ./override and ./themes. Module upgrade will be a manual process, however, you can upgrade modules with the command line. Check `php bin/console list`.

[2020-07-22 14:24] khouloudbelguith commented on #20279
@matks @PrestaShop/prestashop-product-team should we add to the 177 project?

[2020-07-22 14:28] mcdado commented on #14086
The reason I don't deploy (or manage through git) the override directory is that it is handled by modules at run time. If I have to make an override I'd rather make a specific module that i can upgrade and keep track of that way. Otherwise let's say that I install a new third party module that installs an override and upgrades it on updates. The deployed would get out of sync with scm.

I mean yes

[2020-07-22 14:40] sobamartinez commented on #20277
[probleme01.MOV.zip](https://github.com/PrestaShop/PrestaShop/files/4960632/probleme01.MOV.zip)

[2020-07-22 14:40] marionf commented on #20115
Hello @juraj1000

With the next version (PS 1.7.7), you will be able to configure the number of decimal for your currency in International > Localization > Currencies

![capture d'écran_2731](https://user-images.githubusercontent.com/13449658/88189905-e5461900-cc39-11ea-9c69-2f4ed2b180c2.png)

![capture d'écran_2730](https://user-images.githubusercontent.com/13449658/88189918-eaa36380-cc39-11ea-88

[2020-07-22 14:40] #20115 closed, assigned to nobody

[2020-07-22 14:45] marionf commented on #20221
It seems a nice idea :+1:

[2020-07-22 14:48] eternoendless commented on #15332
This is definitely something we should try.

Some history here: https://github.com/PrestaShop/docs/issues/639#issuecomment-661782014

[2020-07-22 14:58] pixelicous commented on #20229
@PierreRambaud When allowing googletagmanager.com I allow a specific address, I know of approving hashes but if it was 1 or 2 elements on the front page or others, ok. However I cant allow that specific hash because the cart module at the top generates a different hash per page, though it is the same element.

I dont have that issue on the backoffice as i have excluded my specific ip from that.

[2020-07-22 15:02] marionf commented on #20223
Nice idea @PululuK :+1:

[2020-07-22 15:07] matks commented on #20279
To provide some context for this issue: the unclear message error happens when you fill an input with an invalid value AND this input is marked as "required field".

So if you define that "address2" field is **REQUIRED** too, same unclear alert appears when filling badly "address2" field.

There are multiple issues that need to be adressed, and the very first step is to decide what should be the r

[2020-07-22 15:07] matks commented on #20279
Because there is so much usecases to explore I think it's best to take the time to find a good solution 🤔  so I suggest studying this for 1.7.8

[2020-07-22 15:21] zuk3975 commented on #20279
I dont recall any other UI way. Although I think there was some hook to add the required field in FO, which didn't add it in BO (or something like that)

[2020-07-22 15:23] marionf commented on #19688
@juraj1000 your issue is a duplicate of #13212, please follow this issue and comment on it if needed

[2020-07-22 15:23] marionf commented on #19688
Duplicate of #13212

[2020-07-22 15:23] #19688 closed, assigned to nobody

[2020-07-22 15:41] matks commented on #20279
Yes, that was it. You can make a field required through a module by using this hook

[2020-07-22 15:47] PierreRambaud commented on #20229
@pixelicous This is because PrestaShop includes many (many many) javascript directly in the template instead of using only scripts, same for stylesheets. It's because of modules and legacy parts. If you're going to use CSP, you have two choices:
 - add all hashes you found
 - accept unsafe inline and eval.

[2020-07-22 15:48] matks commented on #20278
Hi, I'm sorry but PrestaShop 1.6 has reached end of life and is no longer officially maintained ([see announcement](http://build.prestashop.com/news/1.6.1.x-what-s-next/)).

Maintenance for this version is now being performed exclusively by volunteers on a very limited scope, for critical issues only.

If you need help with your shop or third-party modules, please consider the PrestaShop Company s

[2020-07-22 15:48] #20278 closed, assigned to nobody

[2020-07-22 16:11] sarahdib commented on #20274
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

Thank you!

[2020-07-22 16:11] #20274 closed, assigned to nobody

[2020-07-22 16:12] sarahdib commented on #20277
Hello,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.

If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our support plans: https://www.prestashop.com/support

Alternatively, you can also ask for help in the community forums: https://www.prestashop.com/forums/

Thank you!

[2020-07-22 16:12] #20277 closed, assigned to nobody

[2020-07-22 16:16] sarahdib commented on #20275
@PierreRambaud  could you take a look ?

Thank you :)

[2020-07-22 16:18] SimonGrn commented on #20257
Hello, thanks for your report.
Could you explain this part, please ?

Do you mean the email address of the employee is something like `adminemail+1@test.com` ?

[2020-07-22 16:23] PierreRambaud commented on #20275
Hi everyone,

The problem seems to be a misconfiguration in the Back Office, you must enable and force the HTTPS (which is better for your shop).

Kind regards,

[2020-07-22 16:34] PierreRambaud commented on #20229
But FYI, I will work as soon as possible on a generic CSP configuration for a fresh PrestaShop installation. :wink:

[2020-07-22 16:34] nrcjea001 commented on #20257
Hello SimonGrn

An alias is an alternate address to the original address, but still points to the original address. It basically provides another name for the same email. Please refer to the following [link](https://support.google.com/domains/answer/6304345?hl=en) for more details.

[2020-07-22 16:44] ajejebrazorf01 commented on #20209
News? There is a workaround for this problem?

[2020-07-22 16:45] Sinepel commented on #20075
@sarahdib Hi, PR is merged ! :)

[2020-07-22 16:48] SimonGrn commented on #20257
Thank you for your answer. The alias here has nothing to do with PrestaShop, since your shop cann't know that an email is an alias of another email, it doesn't connect to Gmail to know that.

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization probl

[2020-07-22 16:48] #20257 closed, assigned to nobody

[2020-07-22 16:51] juraj1000 commented on #20115
Hello @marionf,
it seems it is misunderstanding. We want to use € with 2 decimal places and there will be used also cents e.g. for shipping costs. Also for product price with discount there will be displayed price with 2 decimals, but there will be 00 cents. Now everything works correctly with amounts there is not necessary to change anything.

But we'd like to display discount percentage without

[2020-07-22 17:00] nrcjea001 commented on #20257
In my case, I am using the alias as my email to contact. It is also the email I use to respond to customers using Prestashop.  Please refer to image below
![Untitled](https://user-images.githubusercontent.com/26452178/88205744-47187a00-cc5e-11ea-8a0d-6c92279eea62.png)

[2020-07-22 17:28] kpodemski commented on #20246
I think that y'all should keep behavior from 1.6.

1. Creating a new order. You see discount added automatically but you can remove it.
2. Editing existing order, you shouldn't add any discounts automatically.

[2020-07-22 18:19] pixelicous commented on #20229
@PierreRambaud Thanks for your reply. I actually don't remember observing any errors besides these two.
I'm not using any modules that trigger any problems, forcing me to use unsafe-inline and unsafe-eval.

The two errors i observe are generated from the same files everytime. while one of them is even flagging due to some text in a comment.

Anyhow I think integration of the default module cart wo

[2020-07-22 19:33] Pnowfr opened #20281 "All products in back office display a white page. v1.7.1.1 - php 5.6 - classic theme"
Since 1 day, after adding and deleting a new category, all products (and add new product) in the back office spins for 20 seconds and displays a blank page.
I activated debug mode and checked all traces and logs, I did not find any error.

Thanks for your help.
Piotr

[2020-07-22 20:27] kpodemski commented on #20281
First of all, your are using ancient version of the PrestaShop, also, this is not really a place for such a issues, I think that you should ask for an advice on the forum or hire someone to check your store

[2020-07-22 20:30] #20281 closed, assigned to nobody

[2020-07-22 21:16] baskettcase commented on #20268
Hi Tristan thanks for the reply. Right now if you have product combinations, let's say. Hairbrush v2.0 :) and you have a product combination for 1, 3, 5, 10, 20, 50 pack right now if someone orders 1, then someone else 3, someone else 20 and someone else 50, then when it is shown in Google Analytics, it's just showing the main product, it's not showing any of the combinations. That's for eCommerce

[2020-07-22 21:26] baskettcase commented on #20268
Also the SKU of the product is not being passed, the product ID is what is being passed, so let's say a product is number 152 in the database, then that's being passed to Google Analytics, not the actual SKU hairbrush2-50pk

[2020-07-22 21:37] baskettcase commented on #20268
*sigh* Ok.. well this might actually be a problem with how I was expecting to see the data. I have explored further and it looks like yes it sets the main product and then you can click on it and it then shows the main product ID and then dash and then the combination ID, so while it's not very readable.. the information is definitely there.  So maybe Im asking for improved views for google analyt

[2020-07-22 23:26] arafatx opened #20283 "[bug: ps 1.7.6.7] When saving carrier info, it has auto increment id. This can have impact with the database performance"
Prestashop version 1.7.6.7

#### Describe the bug

I'm setting up a new store, when I edit carrier setting and save it (even without any modification), the new ID is generated and a new carrier record is inserted into the carrier table

#### Expected behavior

Clicking save button shouldn't generate new ID and add new record if no modification is done

I understand, this behavior is for historic p

[2020-07-22 23:46] ajejebrazorf01 commented on #20252
Could be depending from mail template?

[2020-07-23 05:10] kpodemski commented on #20283
Thanks to indexes it's almost impossible to do any harm to this piece of the system. It's working like this for over 10 years now. I never had any issues because of this :)

[2020-07-23 05:40] emineminems opened #20285 "reuse"

[2020-07-23 05:53] #20285 closed, assigned to nobody

[2020-07-23 05:59] PululuK commented on #20283
@matks  maybe we should add that here : https://github.com/PrestaShop/PrestaShop/issues/20084 ?

[2020-07-23 06:34] Eva-F opened #20286 "Small formal bug in carts/helpers/view/view.tpl"
imho it is only formal bug and cannot cause a problem

the file **admin/themes/default/template/controllers/carts/helpers/view/view.tpl**

![ps17](https://user-images.githubusercontent.com/3242659/88257825-f422df00-ccbe-11ea-864b-839efa45205d.png)

end of block inside of inner div can be  confusing

[2020-07-23 06:37] juraj1000 opened #20287 "Allow merchant to configure the fee of a payment method, to be repercuted on cart"
#### Is your feature request related to a problem?
There is missing a possibility to define payment fees for payment method. The payment fees can be very various, they can be zero but they can be flat amount or they can be 5%, 8% and even more percent from the total amount. The payment fee depends on the payment method.
It is unfair for the merchant if there is used payment method with payment fee

[2020-07-23 07:18] matks commented on #20287
Hi @juraj1000 I modified the title of this issue to "Allow merchant to configure the fee of a payment method, to be repercuted on cart" to make it easier to understand, is it correct ?

As this is a feature request, I ping the @PrestaShop/prestashop-product-team to handle it

[2020-07-23 07:22] PierreRambaud commented on #20229
@pixelicous We will keep this issue open, and will do our best to provide a standard CSP configuration :)

[2020-07-23 07:49] matks commented on #20286
@Eva-F thanks for the feedback, it is obviously an issue you are right 👍

Doing the PR is very easy, do you want to do it or I do it ?

[2020-07-23 07:51] zbik9 commented on #20068
I think the problem is in ps_emailalerts.php in line 118
`if ($delete_params && $this->uninstallPrestaShop16Module()) {`

In my case it's fresh install, not migration from PS 1.6, so I simply changed that line to:
`if ($delete_params) {`

Now module works.

[2020-07-23 08:09] Sinepel commented on #20286
I can also take care of it if no one wants to do PR :)

[2020-07-23 08:09] Junebyun commented on #20088
Hi @mescalitog I have approved your translation suggestion on Crowdin! Thank you :)

[2020-07-23 08:09] matks commented on #20268
No worries :D it's good we have a better picture now

[2020-07-23 08:10] #20088 closed, assigned to Junebyun

[2020-07-23 08:12] matks commented on #20276
Try
[code]

Also PS 1.7.6.5 is not fully compliant with php7.3, try php7.2 instead

[2020-07-23 08:17] VeiJar1 commented on #20276
Hi, we already have a pack that contains products. I want to add features from these products into the pack itself. This way user can search the pack by features.

Did you test the code?

[2020-07-23 08:31] Eva-F commented on #20286
yes plz, do it yourself ..

[2020-07-23 08:31] marionf commented on #20115
The paremeter to choose the number of decimal is general and applied for all amounts
We can't add a specific parameter allowing to choose the number of decimals just for the discount, this is a very specific need

[2020-07-23 08:38] florine2623 commented on #20272
Hi @aleksiuno ,

I did manage to reproduce your issue in PS 1.7.6.5, although this issue has been corrected in PS 1.7.7.0. I suggest you wait for the release of PS 1.7.7 stable version and update your shop.

Here's the screen record of the issue in PS 1.7.7.0 :
https://drive.google.com/file/d/14-CzGyf4-9sbvtxy5ogVzxHkH6pnZZa8/view

I'll close this issue as it is fixed !
Thanks!

[2020-07-23 08:38] boubkerbribri commented on #20085
Tests were fixed as part of #19997

[2020-07-23 08:38] #20085 closed, assigned to boubkerbribri

[2020-07-23 08:39] matks commented on #20286
@Sinepel be my guest 😄

[2020-07-23 08:44] florine2623 commented on #20234
Hi @go-sudo ,
Does this happen after an upgrade ? If yes, from which version ?

Can you check the cookie's lifetime in your BO in Advanced Parameters > Administration :
![Capture d’écran 2020-07-23 à 10 42 21](https://user-images.githubusercontent.com/16019289/88267593-5684db00-ccd1-11ea-8a4d-33306143074e.png)

Also this is a private platform, please change your admin link.
Thanks!

[2020-07-23 08:46] matks commented on #19266
## Status update

We must check PrestaShop Advanced Stock Management modules to check whether they rely on this dead code and the SQL structure below to work. If they dont, well, it seems we can remove this.

Warning: warehouses and advanced stock management are related but not the same thing.

[2020-07-23 08:49] Sinepel commented on #20286
@matks Done #20289 :)

[2020-07-23 08:53] #20272 closed, assigned to nobody

[2020-07-23 08:58] go-sudo commented on #20234
HI @florine2623
The issue is on different version of PS , I'm facing that even with older version and for 2 websites  1.7.6.6 and 1.7.6.7

![image](https://user-images.githubusercontent.com/11594433/88268724-ce033c00-ccca-11ea-9fa3-c575230f3d90.png)

Regards

[2020-07-23 09:06] NeOMakinG commented on #16073
![image](https://user-images.githubusercontent.com/14963751/88269515-74a00a80-ccd4-11ea-84d5-fd144311afac.png)

Can't reproduce on Outlook for Mac now, should be fine, feel free to open it again if you manage to reproduce it

[2020-07-23 09:06] #16073 closed, assigned to nobody

[2020-07-23 09:11] marionf commented on #19917
Duplicate of #11379

[2020-07-23 09:11] #19917 closed, assigned to nobody

[2020-07-23 09:18] marionf commented on #19895
We can add a toggle in categories of level 1 to choose to display or not all subcategories
Otherwise we can add a toggle in each subcategories to choose to display it or not in parent category page

[2020-07-23 09:32] eternoendless opened #20290 "Prevent installing modules if they look like source code packages"
#### Is your feature request related to a problem?

Some modules use composer to install dependencies or at least to autoload files. People often download source code zip packages from Github thinking it's the whole module and try to install them on their shops. Since composer dependencies haven't been included the module will crash, potentially locking the merchant away from their backoffice.

##

[2020-07-23 09:47] jf-viguier opened #20292 "js added in displayBackOfficeHeader doesn't have jquery"
#### Describe the bug

js added by modules in hook displayBackOfficeHeader with addJS don't have jquery available because it's loaded after.

#### Expected behavior
For example, in ps_faviconnotificationbo module, the js is loaded before jquery.
<script type="text/javascript" src="/modules/ps_faviconnotificationbo/views/js/favico.js"></script>
<script type="text/javascript" src="/modules/ps_favico

[2020-07-23 09:57] marionf commented on #19040
@Natthew99 You don't want to display in parent category the products belonging on the subcategory ?

[2020-07-23 09:58] sarahdib opened #20294 "[ps_contactinfo]Can't disable the display of the email in FO"
#### Describe the bug

In the last version of the module ps_contactinfo I can't disable the display of the email address

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to back office-> modules-> modules manager
2. Click on upgrade and then configure
3. Switch off the option "display email address"
4. Go to FO
4. See the email is still displayed in the footer and in the contact f

[2020-07-23 10:03] marionf commented on #18949
Seems a nice idea @PululuK
FYI @MatShir

[2020-07-23 10:09] #20227 closed, assigned to nobody

[2020-07-23 10:10] Lao-Tuo commented on #20227
I closed the shop for the time being, so can't do further testing.

[2020-07-23 10:16] ttoine commented on #20290
A good start would be to add a ready to use zip file to the release, on module repos.

[2020-07-23 10:17] florine2623 commented on #19978
Hi @tarasklymets ,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2020-07-23 10:17] #19978 closed, assigned to nobody

[2020-07-23 10:22] florine2623 commented on #20214
Can you send me your log file ?
admin/autoupgrade/tmp/log.txt

[2020-07-23 10:23] eternoendless commented on #20290
Both are needed

[2020-07-23 10:24] florine2623 commented on #20232
Can you enable your debug mode ?

Advanced Parameters > Performance > Activate debug mode

Or in FTP, change line in file config/define.inc.php :
`define('_PS_MODE_DEV_', false);`
to
`define('_PS_MODE_DEV_', true);`

[2020-07-23 10:25] florine2623 commented on #20053
Hi @acanopo ,
Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2020-07-23 10:25] #20053 closed, assigned to nobody

[2020-07-23 10:25] jf-viguier commented on #20292
Maybe fixed by https://github.com/PrestaShop/PrestaShop/pull/19712

[2020-07-23 10:35] florine2623 commented on #20234
Can you delete your cache from server in /var/cache ?
Delete browser cache as well.
Try to use another browser to login.
Comment gamification module and try to log in again.

[2020-07-23 10:38] ASchmidt84 opened #20295 "Can't add PNG or JPG file in module Customer Reassurance"
#### Describe the bug

Upload a ong or jpg at blockreassurance with activate the item leads in an exception and the article detail site cannot be displayed

#### Expected behavior

Display the png image

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to blockreassurance
2. Click on +
3. upload png
4. activate
5. load article detail page

**Screenshots**

If applicable, add screen

[2020-07-23 10:41] go-sudo commented on #20214
[log.txt](https://github.com/PrestaShop/PrestaShop/files/4965353/log.txt)
Hi @florine2623

here the file of the 2 websites

https://drive.google.com/file/d/1sfiVeHk4T6wjNXY5aW2HYYyQlskHoWAw/view?usp=sharing

[2020-07-23 10:44] Quetzacoalt91 commented on #20290
That's an implementation which could be handy in other topics, such as module validation for the marketplace. It would be great to have it done outside the core for reusability.

[2020-07-23 10:46] florine2623 commented on #20209
Hi @PrestaShop/prestashop-product-team  ,

@ajejebrazorf01 has an improvement to suggest.
When adding a new address an unchecking this option :
![Capture d’écran 2020-07-23 à 12 43 38](https://user-images.githubusercontent.com/16019289/88278144-36114c80-cce2-11ea-8c91-8345085d78c9.png)
The customer goes directly to the next step : **3. Shipping Method**, when it should stay on step **2. Addresse

[2020-07-23 10:47] go-sudo commented on #20214
Hi @florine2623

you can find it here https://techpc.ma/log.txt
the file is too big
Regards

[2020-07-23 11:03] florine2623 commented on #20295
Hi @ASchmidt84 ,
Thanks for your report, I did manage to reproduce your issue with Customer Reassurance module version 5.0.0.
![Capture d’écran 2020-07-23 à 12 59 07](https://user-images.githubusercontent.com/16019289/88279557-92756b80-cce4-11ea-9c2f-de42aff911e2.png)
In my case I added a png file, same issue goes for jpg uploads.
![Capture d’écran 2020-07-23 à 13 01 36](https://user-images.gi

[2020-07-23 11:15] mikeKstm opened #20296 "Product images are missing when print a multiple products order"
#20182 ## Describe the bug

PS 1.7.6.4

If I print an order when I'm in backoffice the product images dissapear.
I think that the problem appear when the order have multiple products. When products are just one or two the product shows with no problem.

#### Expected behavior

Print product images even if you have multiple products

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go

[2020-07-23 11:21] LouiseBonnard commented on #20279
Don't hesitate to ping @Junebyun in case a rewording is necessary. ;-)

[2020-07-23 11:22] MissLemon commented on #12157
When DEBUG mode is OFF, you have to delete the cache after replacing the folders. And then it will works.

[2020-07-23 11:41] florine2623 commented on #20296
Hi @mikeKstm ,
I can't reproduce your issue :
![Capture d’écran 2020-07-23 à 13 39 27](https://user-images.githubusercontent.com/16019289/88282509-ffd7cb00-cce9-11ea-845f-949b1e7cc8ce.png)

Is there anything special about the order/product ?
Do the products have images ?
If the product have combinations, if you don't have an image for that specific combination, it won't appear on the printed ord

[2020-07-23 11:42] florine2623 commented on #20214
Can you zip it and send the zip file ?

[2020-07-23 11:48] mikeKstm commented on #20296
Thanks for response. Please, try with more diferent products (I tried it with 9).
Products are simple products (not combinations) and all have a images. In BO order review the images are showed in right way.

If I change print scale the images appears. I'm using Chrome but Firefox have same problem.

https://i.imgur.com/XDI0i9a.jpg
https://i.imgur.com/qr5ax8I.jpg
https://i.imgur.com/G2fHJiM.jpg
(a

[2020-07-23 11:56] Bahwaimongars commented on #20232
Hello, Debug mode is already activate, in Back office & in define.inc.php, but nothing appear, just this error.

I have :

Set permissions to 755 foldes / 644 files too, nothing

[2020-07-23 12:10] florine2623 commented on #20264
Hi @01park ,
In my test shop PS .1.7.6.7, PHP 7.2, module Google Sitemaps v4.2.0, I can't reproduce the issue.
I have 3 languages : French, Lithuanian and Greek
Here's the sitemap index with all languages :
![Capture d’écran 2020-07-23 à 14 07 12](https://user-images.githubusercontent.com/16019289/88284541-de78de00-cced-11ea-8aff-c29aeea09600.png)
Thanks!

[2020-07-23 12:11] marionf commented on #16990
Hello,

PrestaShop 1.6 [isn't maintained anymore](http://build.prestashop.com/news/1.6.1.x-what-s-next/). The maintenance for this version is now being performed exclusively by volunteers to fix critical issues.
You can open an issue on the [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues). Please keep in mind that only critical issues will be acknowledged.

Regards

[2020-07-23 12:11] #16990 closed, assigned to nobody

[2020-07-23 12:17] ttoine commented on #20292
may be related to #19244

[2020-07-23 12:17] 01park commented on #20264
And this test shop is also multistore?

[2020-07-23 12:32] go-sudo commented on #20214
Hi @florine2623
https://drive.google.com/file/d/1TNck2tQPOAIkRPl6Yfue88rXdYLs-QjR/view?usp=sharing
[log _teck.zip](https://github.com/PrestaShop/PrestaShop/files/4965873/log._teck.zip)

[2020-07-23 12:34] Bahwaimongars commented on #20232
I have try to install a fresh version of the module in version :
4.10.1 & 4.10.0 and now after install complete i got this error when i click on configure :
![myg-error-v4 10 1](https://user-images.githubusercontent.com/62238066/88286700-72987480-ccf1-11ea-8ae4-dea86c4e60ab.jpg)

[2020-07-23 12:36] NickolayGett opened #20298 "ps_facetedsearch product order using "position" value is inconsistent"
#### Describe the bug

ps_facetedsearch adds a leftJoin to the MySQL query to handle product ordering.
For the "position" value it joins "category_product" with a condition "p.id_product = cp.id_product". The issue is that "category_product" table's primary unique index consists of two columns: id_product and id_category.
This means that ps_facetedsearch condition "p.id_product = cp.id_product" wi

[2020-07-23 12:37] marionf commented on #20294
@sarahdib What is your version of ps_contactinfo ?
It's working with the previous version of the module ?

[2020-07-23 13:44] florine2623 commented on #20218
Hi @Hlavtox ,
Thanks for your suggestion, but before adding this issue to the epic, could you tell me what the 2 lines of code are about ?
And in what case a PS user would add them to their /themes/classic/templates/catalog/_partials/category-header.tpl file ?
Thanks!

[2020-07-23 14:04] prestamodule opened #20300 "Manually created image types are deleted when using multishop with different themes"
#### Describe the bug

In a multishop environment, if you want to use two or more different theme that are using different image type, you are facing the following issue: `image_type` table is being truncated after any theme switch/install.
Meaning that you'll loose any custom `image_type` entries.

#### Expected behavior

Do not truncate the table, and only remove entries related to the current s

[2020-07-23 14:22] prestamodule opened #20301 "Wrong template used when using multiple theme (same compile_id)"
#### Describe the bug

When using 2 different theme, on 2 shops, if you have an overrided template file on both theme for a specific module and trying to use Smarty {include} like this:

`{include file="module:mymodule/my_template.tpl"}`

Depending on the generated cache (and the first visited shop), the compile id will reflect one shop or the other one.
Meaning that a template from shop n°2 can b

[2020-07-23 14:43] Hlavtox commented on #20218
@florine2623 I wrote the 2 lines to make the bug reproducible more easily.

Prestashop offers an option to generate extra thumbnails of images in double the resolution. These images are used in image source sets in templates and can be displayed to people who have display scaling higher than 1. For example, I am using these images in my subcategories with this code.
`
<img src="https://www.trendo.

[2020-07-23 14:51] #19848 closed, assigned to nobody

[2020-07-23 14:57] florine2623 commented on #20292
Hi @jf-viguier ,
Thanks for your report, indeed it order of the scripts is different between 1.7.6.7 and 1.7.7.0.
In PS 1.7.6.7 :
![Capture d’écran 2020-07-23 à 15 34 16](https://user-images.githubusercontent.com/16019289/88294797-f7d55680-ccfc-11ea-8f1d-1e1b5fbcf867.png)

In PS 1.7.7.0 :
![Capture d’écran 2020-07-23 à 15 34 27](https://user-images.githubusercontent.com/16019289/88294813-fc9a0

[2020-07-23 15:05] florine2623 commented on #20292
Hi @PrestaShop/prestashop-core-developers ,

I need your knowledge on this topic !
The issue seems to be fixed with https://github.com/PrestaShop/PrestaShop/pull/19712 but it is still occurring.
What should be done in that case ?

Thanks!

[2020-07-23 15:10] florine2623 commented on #20220
Hi @msaustral ,
I need more detail about your issue.
When you state : erase all the imported pictures from the previous store
In which shop you I be in ? When you erase all picture, do you do it directly from the server ?
Thanks

[2020-07-23 15:14] 8ternity commented on #16004
@Progi1984 @LouiseBonnard any ETA on how long it can take to be available or fixed? Is that something can be implement in 1.7.5.1 version or only in a newer version?

[2020-07-23 15:38] msaustral commented on #20220
Hi, at the end in the new store I had to create new products, it was the only way to not showing the pictures of the products that were imported from the first store.

It seem that the image does not lose the link with the product from the first store

on the new store go to catalogue -> products -> open an imported product -> delete all imported images -> add new onece -> save

re open the same i

[2020-07-23 15:41] florine2623 commented on #20300
Hi @prestamodule ,
Thanks for the report. I did manage to reproduce the issue in PS 1.7.6.7 and PS 1.7.7.0.

I added the image type directly in the BO in Images Settings instead of in the file themes/classic/config/theme.yml.

The steps to reproduce i used :
- Have multistore installed
- Have at least 2 shops
- Add a new image type in BO > Design > Image Settings
![Capture d’écran 2020-07-23 à 1

[2020-07-23 15:47] matks commented on #20170
I noticed the same issue happens in "edit an address" usecase. I reopen this issue and I do the PR immediately https://github.com/PrestaShop/PrestaShop/pull/20303

[2020-07-23 16:01] florine2623 commented on #20298
Hi @NickolayGett ,
In my test shop PS 1.7.6.7, I can't reproduce the issue.
Having different position in each category shows up well in the front shop.

You can check this option in BO > Shop Parameters > Products :
![Capture d’écran 2020-07-23 à 18 00 15](https://user-images.githubusercontent.com/16019289/88309297-666ee000-cd0e-11ea-99c0-f22af8f82c2a.png)
Thanks!

[2020-07-23 16:22] florine2623 commented on #20296
I still can't reproduce the issue. I have the same number of columns as well.
![Capture d’écran 2020-07-23 à 18 20 06](https://user-images.githubusercontent.com/16019289/88311491-3b39c000-cd11-11ea-908e-fd188cdad237.png)

Also, why did you mention issue #20182 ?

[2020-07-23 16:25] florine2623 commented on #20232
Can you delete all cache from your server ?
In /var/cache/prod and /var/cache/dev

[2020-07-23 16:29] florine2623 commented on #20214
Thanks!
What is the repercussion of the error on your shop ?

[2020-07-23 16:36] florine2623 commented on #20220
Ok, so in the 2 stores in your multishop environment, you wanted the products to have different images. I understand.

In the multistore env, you can chose directly what data you want to import. If you didn't need the images, you could have uncheck this option :
![Capture d’écran 2020-07-23 à 18 35 26](https://user-images.githubusercontent.com/16019289/88313128-56a5ca80-cd13-11ea-8cac-e963c7ad0e

[2020-07-23 16:44] SimonGrn commented on #20296
Hello,

despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.
We will close this issue.

Thank you

[2020-07-23 16:44] #20296 closed, assigned to nobody

[2020-07-23 16:47] SimonGrn commented on #20264
Hello @01park,
I noticed you removed the whole template and only gave us the minimum amount of information. That makes it complicated for us to help you since we need to ask you all the information again (as @TristanLDD did).
Please follow the full template [available here](https://github.com/PrestaShop/PrestaShop/issues/new?template=1_bug_report.md) so we can work on your issue.
Typically, if you

[2020-07-23 17:10] msaustral commented on #20220
Hi ok, thank you for the info for future stores, but still the behavior of the new store with the imported images does not seam to be right.

Have a good day.

[2020-07-23 17:29] p1nk15amak opened #20306 "Cross Site Scripting Issue in PrestaShop Using File Upload Functionality"
An issue is discovered in PrestaShop  version 1.7.6.7 under the Catelog feature when using the file-upload functionality for uploading the Files for various products. This issue exists because it fails to implement file content checks and improperly handles the output, resulting in cross-site scripting attack that leads to cookie stealing or malicious actions.

#### Steps to Reproduce

1. Go to Ca

[2020-07-23 17:59] 01park commented on #20264
#### Describe the bug

After installing the 4.2 version of GSITEMAP. Only for my first language EN a sitemap is created. Other sitemaps for the other languages are not made.

Also the index file is not update after a cron job

#### Expected behavior

Expected that all languages would have a sitemap

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install 4.2 gsitemap on a 1.7.6.5 PS

[2020-07-23 20:57] baskettcase commented on #20268
Ok I tested further and one last thing.. When you go to a product with combinations it sends the base product URL to google analytics, good so far! but then when you switch to a different combination, it pushes the new URL and displays the new product combination, but it doesn't send anything to Google Analytics since it's not a fullpage refresh, but a single app refresh. I think this right here i

[2020-07-23 22:05] go-sudo commented on #20214
Hi @florine2623
You are welcome , there is no error all works fine but I can't update to the last version as I said with the differents methods
with folder latest also from archive it gives same thing same error

Regards

[2020-07-23 22:09] go-sudo commented on #20234
Hi @florine2623

[videos.zip](https://github.com/PrestaShop/PrestaShop/files/4969069/videos.zip)
I did, but after 3 hours I'm getting the same error on Firefox and Chrome with my email I'm rejected but with my colleague's mail I can access
now a module "newsletter pro" show me this error
![image](https://user-images.githubusercontent.com/11594433/88343541-88318c80-cd39-11ea-824b-36f5f324e911.png)

[2020-07-24 06:44] SimonGrn commented on #20234
Hello,
We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/).

Thank you

[2020-07-24 06:44] #20234 closed, assigned to nobody

[2020-07-24 06:47] NickolayGett commented on #20298
As I said, the issue is inconsistent. It appears rarely, but it does appear.
Instead of trying to reproduce the issue in the fornt-end, I would suggest that someone with knowledge in MySQL queries to check if the condition "p.id_product = cp.id_product" is enough to pick unique values from the "category_product" table. Keep in mind that the values should be picked for a specific category.

[2020-07-24 06:58] go-sudo commented on #20234
HI @SimonGrn
I think that you did not read my issue, I told you that i can not login to my back office so I just added an other information perhaps it may helps about this module , so please reopen my issue because every time my prestashop cache is full I'm facing that isse
Regards

[2020-07-24 06:59] go-sudo commented on #20234
HI @florine2623 @khouloudbelguith

I'm facing always the same issue it's not a module issue but prestashop matter so please reopen this article

Regards

[2020-07-24 07:07] go-sudo commented on #20234
Bonjour @SimonGrn, J'ai expliqué plusieurs fois que je suis rejeté à chaque fois j'essaye de mon connecter avec mon compte et qu'il me faut vider le cache du site aussi du navigateur. je suis désolé mais vous n'avez peut être rien compris
si j'ai ajouté l'image concernant le message d'erreur rencontré avec le module mais c'était uniquement pour ajouter un détail mais cela vous dérange je vous info

[2020-07-24 07:13] go-sudo opened #20307 "cache issue with login to backoffice"
Hello

I appreciate you help, there are 2 or 3 scenario.
when I log with my account i'm rejected only if I disable the cache the same thing from my colleague (BE) he is facing the issue
as you will see on the video I tried to log in with my account anami@ rejected but with my colleague's account (MZ) it works
as for my 3thd (BE) colleague he has the same issue so he works on other computer and net

[2020-07-24 07:16] florine2623 commented on #20307
Hi @go-sudo ,
This is not a PrestaShop core issue. Please contact the support or an agency if you need customized help.
https://addons.prestashop.com/en/388-support
https://www.prestashop.com/en/partners
Thanks!

[2020-07-24 07:16] #20307 closed, assigned to nobody

[2020-07-24 07:16] go-sudo commented on #20234
Bonjour @SimonGrn, J'ai expliqué plusieurs fois que je suis rejeté à chaque fois j'essaye de mon connecter avec mon compte et qu'il me faut vider le cache du site aussi du navigateur. je suis désolé mais vous n'avez peut être rien compris
si j'ai ajouté l'image concernant le message d'erreur rencontré avec le module mais c'était uniquement pour ajouter un détail mais cela vous dérange je vous info

[2020-07-24 07:17] go-sudo commented on #20307
Hi @florine2623

how come it's not prestashop issue

so read this

Hello again,

Thank you for your patience.

I've checked the information about the issue and I found these errors in the access_log of the domain iptv366.com
[Thu Jul 23 10:22:45.866256 2020] [fcgid:warn] [pid 18904:tid 139730930861824] [client 172.68.11.11:34390] mod_fcgid: stderr: PHP Fatal error:  Uncaught  --> Smarty: 0():Missi

[2020-07-24 07:20] go-sudo opened #20308 "Redirected to login page"
After entering login and password, I was redirected to login page again and everything repeated.

Hello again,

Thank you for your patience.

I've checked the information about the issue and I found these errors in the access_log of the domain iptv366.com
[Thu Jul 23 10:22:45.866256 2020] [fcgid:warn] [pid 18904:tid 139730930861824] [client 172.68.11.11:34390] mod_fcgid: stderr: PHP Fatal error:

[2020-07-24 07:35] matks commented on #20308
@go-sudo Thanks ! That is very valuable information

[2020-07-24 07:39] matks commented on #20306
Hi @p1nk15amak ! thank you for the report

Am I wrong if I guess that you had a look at [our newly opened bug bounty](https://build.prestashop.com/news/bug-bounty-program/) and that you found this while bug hunting, but since the CVS score is low, you reported it here ?

[2020-07-24 07:41] PierreRambaud commented on #20306
Hi,

This is something we already received on the Bug Bounty program.
Unfortunately, this is not a security issue, as we allow to upload any files we wanted, (it's the same for SVG files), any users with admin employee can upload this kind of file, like he's able to upload a module or a theme with comprised data.

Kind regards

[2020-07-24 07:41] #20306 closed, assigned to nobody

[2020-07-24 07:44] NeOMakinG commented on #18681
As we discussed with @PierreRambaud, the html is returned from the core, and if we open the markup afterward, it will have a buggy behavior, we should manage it differently if we wants to do this

[2020-07-24 07:55] matks commented on #20276
Ha, my bad, I read too fast. I saw "add products" instead of "add features".

[2020-07-24 08:16] eternoendless opened #20310 "Rebuild catalogue for 1.7.7 including blockwishlist"
Blockwishlist will be published soon. In order to make it translatable on 1.7.7 we need its translation catalogue to be included in the core. Therefore the translation catalogue must be re-extracted to include blockwishlist, then re-pushed to Crowdin.

This requires pulling the `new-module` branch.

[2020-07-24 08:18] eternoendless commented on #20310
Waiting for module to be ready for extraction

[2020-07-24 08:54] Junebyun commented on #20110
Hi @SH4LT1S thanks for opening this issue!

Changing the translation "_Su PVM_" to "_PVM suma_" (VAT amount) would require to change the original english string "_included taxes_" so that the translation is accurate.
However, I think changing this text for PrestaShop users will not be convenient as there can be other taxes than the VAT,  depending on the country. The text "_included taxes_" is mor

[2020-07-24 09:04] gpsaliola commented on #12452
I've the same problem with Prestashop 1.7.6.5 and PHP 7.3.
I think this may be a penality for SEO.

[2020-07-24 09:24] jolelievre opened #20314 "Deprecated or nonexistent hooks should be noticed"
#### Is your feature request related to a problem?

The `Hook` class contains a list of deprecated hooks:
https://github.com/PrestaShop/PrestaShop/blob/89cd64aaf39aaa6047a67a56ca12c70e7024c976/classes/Hook.php#L87

This allows to have notification when they are executed:
https://github.com/PrestaShop/PrestaShop/blob/89cd64aaf39aaa6047a67a56ca12c70e7024c976/classes/Hook.php#L803

The problem is tha

[2020-07-24 09:41] matthieu-rolland commented on #9972
I assigned this issue to myself, as explained here:  https://github.com/PrestaShop/PrestaShop/pull/20144#issuecomment-662985378

[2020-07-24 09:47] SimonGrn commented on #20308
In the back-office, right ? Like I answered you before in #20234 , your problem is linked to your own configuration and not a problem in PrestaShop itself. We cannot help you here, you need to ask in the [forums](https://www.prestashop.com/forums/) or the [public Slack channel](https://github.com/PrestaShop/open-source/tree/master/slack), or get a [support plan](https://www.prestashop.com/en/suppo

[2020-07-24 09:55] matks commented on #16891
Yes 😄

[2020-07-24 09:55] #16891 closed, assigned to matks

[2020-07-24 09:56] #20223 closed, assigned to khouloudbelguith

[2020-07-24 09:56] LouiseBonnard commented on #16004
Hi @8ternity, if it does not introduce any breaking change (still checking with the dev team to have a clue), it will be part of a future version. We keep you posted!

[2020-07-24 10:00] #17136 closed, assigned to nobody

[2020-07-24 10:10] florine2623 commented on #20264
Thanks for the details.

I did manage to reproduce your issue with Google sitemaps version 4.2.0.

Config of shop :
- multistore enabled with 2 or more shops
- 2 or more languages installed
- Google sitemap module v4.2.0 installed
- generate sitemap
- only one sitemap is generate for only one language instead of all languages

I'll add this to our debug roadmap.

[2020-07-24 10:12] Max84 opened #20315 "Fail to send mail on Order State update through webservice"
#### Describe the bug

When you update order's state through webservice AND you ask to send the email notification, you get an HTTP error 500.

#### Expected behavior

Order's status must be update, email sent and no HTTP 500 error.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. You can use my test file (attached here) [add_order_state_ps15.zip](https://github.com/PrestaShop/Presta

[2020-07-24 10:14] florine2623 commented on #20214
What version of module autoupgrade are you using ?
I'm using 4.10.1 and I haven't had errors.

[2020-07-24 10:16] florine2623 commented on #20031
Hi @TVBZ ,

Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thanks!

[2020-07-24 10:16] #20031 closed, assigned to nobody

[2020-07-24 10:16] Hlavtox opened #20316 "Backoffice styling and usability on smaller devices"
It would be very difficult task to do anything from Prestashop Backoffice from my phone.

LEFT IMAGE
**Sticky header that uses one third of the page** - don't make it sticky
**Uneeded help and recommended module buttons that take up insane amount of space** - you can move it to left menu, the same as logout button.

CENTER IMAGE
**Unneeded info is taking half of the page** - It can be under collap

[2020-07-24 10:18] florine2623 commented on #20116
Hi @TVBZ ,
Since we had no news from you, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.
Thanks!

[2020-07-24 10:18] #20116 closed, assigned to nobody

[2020-07-24 10:19] Hlavtox opened #20317 "[1.7.7 beta] Create order from backoffice not working - cannot select customer"
#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install 1.7.7 beta release.
2. Make some customers.
3. Go to Orders. Click create new order.
4. **Search for customer is not working.**
5. **Clicking create new customer brings you to a fullscreen form, not modal. If you create a customer in this form, it shows a grey page with an alert.**

#### Additional information

* PrestaShop vers

[2020-07-24 10:21] Hlavtox commented on #17136
@marionf Sorry, I forgot to look at it. I will test the PR soon. 🌷

[2020-07-24 10:25] SimonGrn commented on #20264
Thanks for your report @01park,

As you said you fixed the problem on your end, I suggest you [create a Pull Request](https://devdocs.prestashop.com/1.7/contribute/contribution-guidelines/) to help us fix this bug. That would be awesome.

Thanks a lot in advance !

[2020-07-24 10:25] florine2623 commented on #20316
Hi @Hlavtox ,
Thanks for your suggestion, I will ping our product team !
Please stay tuned.

[2020-07-24 10:26] florine2623 commented on #20316
Hi @PrestaShop/prestashop-product-team ,

@Hlavtox has some improvement to suggest regarding the BO UX in smaller device like a phone
What do you think about that ?

Thanks!

[2020-07-24 10:36] #20286 closed, assigned to nobody

[2020-07-24 10:42] LouiseBonnard commented on #20316
Hi @Hlavtox and @florine2623, thanks, there are definitely responsive optimizations to do! I let the designers' team have a look at it and validate/complete your recommendations. :-)

[2020-07-24 10:50] 01park commented on #20264
Hi,

I added the one that works in my first post. This one works 100%

[2020-07-24 10:54] SimonGrn commented on #20264
Thank you, I saw it. We sadly can't work with that as we need to analyze the changes you made through the Github interface.
This is not a big deal, it just extends the time it will takes for us to fix the bug.

Thanks anyway for your bug report, it is appreciated.

[2020-07-24 11:32] SH4LT1S commented on #20110
If it is possible to change it so easily, then ok, thanks for the reply! But please take a look to the first screenshot for the "I agree" box.

[2020-07-24 11:53] 8ternity commented on #16004
@LouiseBonnard You need one more step to reproduce. 'qc' iso code are not existing. You need to change for 'fr' like mentionned in [here](https://github.com/PrestaShop/PrestaShop/issues/16004#issuecomment-651177784). Change ISO code 'qc' to 'fr' and try to translate a module translation.

[2020-07-24 12:12] Hlavtox opened #20321 "Display DNI field in address BO, even if it's not required"
#### Describe the bug

DNI (company ID) field is a regular part of address.
In Prestashop, it only shows up in BO address edit, if you enable "DNI REQUIRED" checkbox in country settings.
In front office, it shows up normally.

#### Expected behavior

If dni field is set up in address format, it should be visible in BO regardless if its required or not. This nonsense is present ever since I am usin

[2020-07-24 12:14] matks commented on #20317
@Hlavtox Just had a look on `1.7.7.x`, it works well for me 🤔  . Did you use the 1.7.7 beta ZIP or did you use latest changes on `1.7.7.x` branch ?

[2020-07-24 12:16] Hlavtox commented on #20317
@matks I used the ZIP.

Is it enough to download the branch and run composer install?

[2020-07-24 12:20] Laimonas-Mituzas commented on #20254
Yes, custom heme and blockreassurance is a widget.

[2020-07-24 12:23] matks opened #20323 "BO - View an order page - Incorrect behavior after editing address with an invalid field Address1"
#### Describe the bug

In the BO => View order page, when we try to create edit address with invalid field Address1 (too long > 128 chars), there is a redirection to the Address list page even though this is a modal

#### Expected behavior

After clicking save => we should stay on the form, with a red message to tell us what is wrong

#### Steps to Reproduce

Steps to reproduce the behavior:

1. G

[2020-07-24 12:25] matks commented on #20323
Will be fixed by https://github.com/PrestaShop/PrestaShop/issues/20323

[2020-07-24 12:57] Laimonas-Mituzas opened #20326 "Why orders navigation is confusing?"
We have orders in one column, where the last order is placed at the top of list. So we navigate UP and DOWN along the list.
https://prnt.sc/tnukhz

But in order editing window we have navigation buttons showing us LEFT and RIGHT
https://prnt.sc/tnum3a
Does it make sense?

Buttons should be UP and DOWN as we navigate along the list in the same manner.

[2020-07-24 13:03] florine2623 commented on #20194
Hi @SuichiM ,

Thanks for your report. I did manage to reproduce the issue in PS 1.6.7.5 and PS 1.7.7.0.
- Disable friendly URL
- Go to 'index.php?controller=guest-tracking'
- Complete the fields with a valid order_id and e-mail
- Submit
- Redirect to shop home page instead of Guest Tracking page :

![Capture d’écran 2020-07-24 à 15 03 01](https://user-images.githubusercontent.com/16019289/88393

[2020-07-24 13:09] Bahwaimongars commented on #20232
All cached deleted 3 / 4 times same result :/

[2020-07-24 13:14] florine2623 commented on #20326
Hi @PrestaShop/prestashop-product-team ,

@Laimonas-Mituzas finds it confusing that the button in the order details page are "Left and Right"
What do you think about that ? Is it relevant ?

Thanks!

[2020-07-24 13:18] marionf commented on #20326
ping @MatShir

[2020-07-24 13:20] Progi1984 commented on #20075
Thanks @Sinepel

[2020-07-24 13:20] #20075 closed, assigned to nobody

[2020-07-24 13:27] Davidlleide opened #20327 "When you deactivate a product from Catalog> Products it does not redirect 301 Table: ps_product. Field: redirect_type"
#### Describe the bug
When you deactivate a product from Catalog> Products it does not redirect 301
If, once the product has been deactivated, you enter its file and save, the corresponding redirect appears in the redirect_type field.
Table: ps_product. Field: redirect_type
If you deactivate the product from its template, redirection is activated.
If you disable many products at once, they are not

[2020-07-24 13:36] florine2623 commented on #20321
Hi @Hlavtox ,
Thanks for your report !

I did manage to reproduce the issue in PS 1.7.6.7 and PS .1.7.7.0.
I’ll add this to the debug backlog so that it’s fixed.
Thank you for your PR.

[2020-07-24 14:10] florine2623 commented on #20327
Hi @Davidlleide ,
I can't reproduce your issue on my test shop PS 1.7.6.7.
Please see the screenshots below.
I deactivated my product :
![Capture d’écran 2020-07-24 à 15 57 48](https://user-images.githubusercontent.com/16019289/88399963-ec029680-cdc7-11ea-9a69-9d9868e7df34.png)
The preview after disabling the product to my customers :
![Capture d’écran 2020-07-24 à 15 57 30](https://user-image

[2020-07-24 14:12] ksaandev commented on #16482
This is nice

[2020-07-24 14:31] florine2623 commented on #20298
Hi @PrestaShop/prestashop-core-developers ,

@NickolayGett is having an inconsistent bug that I cannot reproduce in FO.
There's this following condition that is "p.id_product = cp.id_product" in the product position query.
It is well explained by user :
For the "position" value it joins "category_product" with a condition "p.id_product = cp.id_product". The issue is that "category_product" table's

[2020-07-24 14:33] florine2623 commented on #20232
Can you comment gamification module and see the result ?

[2020-07-24 14:44] florine2623 commented on #20220
When you say :

Do you erase all images from server ? if yes, which folders do you delete ?

Do you add the picture manually or another way ?

[2020-07-24 14:46] florine2623 commented on #20301
Hi @prestamodule ,
Thanks for your report, I will ping our dev team so they can answer you.
Please stay tuned.

[2020-07-24 14:48] Davidlleide commented on #20327
Hello, I have already found the problem. It comes from loading products with a .csv file, which is not specified in the redirect_type field and is left blank.
If you create a new product, the program already fills in that field.
If I load it by .csv the product (maybe I do something wrong) does not update the redirect_type field and is blank. Then when deactivating it without entering the product

[2020-07-24 14:48] florine2623 commented on #20301
Hello @PrestaShop/prestashop-core-developers ,
In multistore environment, it seems interesting to have X cache folders for each shop.
This would fix issue when using different themes in different stores.

Could you give your opinion on that ?
Thanks!

[2020-07-24 14:55] Bahwaimongars commented on #20232
Folder gamification commented to __gamification = Same result.

I received an alert from my host, telling me that the memory was exceeded once (I have 512 mo). The alert appeared only once on my 30+ attempts, so I don't think it's from there.

[2020-07-24 14:56] msaustral commented on #20220
Hi
Do you erase all images from server ? if yes, which folders do you delete ? -> no because they are needed on the first store

Do you add the picture manually or another way ? -> yes manually as the process that I describe before:

on the new store go to catalogue -> products -> open an imported product -> delete all imported images -> add new onece -> save

re open the same imported product ->

[2020-07-24 14:56] marionf opened #20331 "Highlight categories in dropdown menus of the product page when using keyboard"
**Is your feature request related to a problem? Please describe.**

Categories menus in the product page have autosuggestions - when selecting items with a mouse, the items are highlighted on hover.
![capture d'écran_2742](https://user-images.githubusercontent.com/13449658/88404947-df357100-cdce-11ea-8f68-a6ab05b7d04f.png)

But when using the keyboard to select items, there are no highlights.

![c

[2020-07-24 14:58] matks commented on #20321
Oh ? the "DNI madness" comes 😄

The reason why I say this is madness is because we spent a huge time trying to deal with this when working on Symfony page migration for "Adresses" page ... and we found no solution, just a bigger problem.

The idea behind this is that **there are multiple ways to make DNI a required field or not**
- you can define it as a required field from "Adresses pages" below

[2020-07-24 15:00] marionf commented on #14052
@NeOMakinG I created a new issue for the categories drop-down: https://github.com/PrestaShop/PrestaShop/issues/20331

[2020-07-24 15:01] #14052 closed, assigned to marionf, MatShir

[2020-07-24 15:08] florine2623 commented on #20232
Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.
You can contact our support team here : https://addons.prestashop.com/en/388-support
We will close this issue.

[2020-07-24 15:08] #20232 closed, assigned to nobody

[2020-07-24 15:15] florine2623 commented on #20220
Do you have normal products or combinations product ?
If you have combination products, you need to chose the right image for the right combination to show :
![Capture d’écran 2020-07-24 à 17 15 09](https://user-images.githubusercontent.com/16019289/88406648-405e4400-cdd1-11ea-977f-4e1934a115d9.png)

[2020-07-24 16:14] khouloudbelguith opened #20332 "Autoupgrade - an issue detected after an upgrade from PS1.7.2.4 to PS1.7.7.0beta1"
#### Describe the bug

When we try to upgrade a shop from PS1.7.2.4 to PS1.7.7.0 beta.
An error is displayed
![image](https://user-images.githubusercontent.com/16067358/88412056-422c0580-cdd9-11ea-9800-a9169872b89f.png)

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1.Install PS1724
2. Install the auto-upgrade modul

[2020-07-24 16:38] elboletaire opened #20333 "Expose a single public/ or web/ folder in order to allow keeping dev-only unprotected files"
#### Describe the bug

When downloading a release from github or the official prestashop website, the downloaded zip file contains files like `composer.lock` and `package-lock.json`, but the main `.json` files are removed, making it completely unusable for most of the use cases.

Right now, if you upgrade or install from zip (this also affects docker, as it uses zip files for the installation), yo

[2020-07-24 16:47] juraj1000 opened #20334 "Incorrect order of items in PayPal checkout"
#### Describe the bug
There is incorrect order of items in Paypal checkout if there is used payment method for Paypal with gift wrapping. It is confusing for the customer, because he can see items in different order also with different subtotal amount.

#### Expected behavior
_Shopping cart_
There are displayed all items and subtotal with total correctly.
![image](https://user-images.githubusercon

[2020-07-24 16:57] Matt75 commented on #20334
Can you contact support team of PrestaShop Checkout module, on module configuration page you will see a subtab Help with an email address to contact them.

[2020-07-24 17:04] elboletaire commented on #20292
I can confirm that change actually fixes the issue. But this is also an issue in 1.7.6.X, it should be fixed there too.

[2020-07-24 17:53] J147julie opened #20336 "Faceted Search Problem"
Am using Prestashop 1.7.6.7 and have configured the Faceted Search module which seems to have gone fine, however when testing it on the frontend it doesn't seem to be working (or if it is working it must take ages).  Is this a known error?  Have looked everywhere for a solution but no luck so far.

Any assistance would be appreciated as I am new to Prestashop and have probably done something wrong

[2020-07-24 19:01] juraj1000 opened #20337 "Incorrect date format in product comment"
#### Describe the bug
We use date format "Y-m-d h:i:s" but there is displayed data with incorrect format in product comment.
There is displayed "24/07/2020, 19:07" but there should be displayed "2020-07-24 19:07" (also without comma between date and time).

_Format definition_
![image](https://user-images.githubusercontent.com/33311857/88425770-41eb3480-cdf0-11ea-810a-0ac56a61e56d.png)

_Product c

[2020-07-24 19:04] msaustral commented on #20220
Hi, please try to reproduce the issue following the describe steps, I have not mention any combine product.

on the new store go to catalogue -> products -> open an imported product -> delete all imported images -> add new onece -> save

re open the same imported product -> there are the imported image again plus the new images

on the front -> only the new images are show

[2020-07-24 19:57] SimonGrn commented on #20307
I understand you're frustrated @go-sudo , but you need to understand that we cannot take the time to investigate such a weak signal.
You say yourself that it's working with an account and not with another account. Maybe investigate on this ? Maybe you have a permission problem ? Did you try by creating a new account, or checking your own cookies on your browser, or maybe you have an extension bloc

[2020-07-24 20:02] SimonGrn commented on #20317
You can indeed `git clone`, switch to the `1.7.7.x` branch then go to the folder and run `make install` (this command will run `composer install` then `make assets` to build the BO assets).
You will then be able to install your shop as usual from the `/install-dev` folder.

[2020-07-24 20:15] adamus007p opened #20339 "Multishop All shops currency convertion update update only 1st shop not all - 1.7.7 but also in 1.7.6 and 1.6"
Updated:

I have noticed that there is problem with currency conversion in multishop.
Multishop only are affected.

When you have a multishops, usually you choose All shops to update all shops not separately.
In conversion you have button to update all currencies.
Even you are in All shop and you will click on update button the button will update only 1st shop, not all.

You need to go separate to

[2020-07-24 20:19] juraj1000 opened #20340 "Missing options for credit note number"
#### Describe the bug
There is possible to configure format of invoice numbers. It is required to have the similar possibility also for credit note number. Otherwise it is not possible to use all invoice configuration possibilities because the invoice number and credit note number should have the similar format.

#### Expected behavior
Add new configuration parameters for credit notes options:
- A

[2020-07-24 20:38] banan44 opened #20341 "[1.7.6.7] Different order of languages"
Hello,
I have just added a few new languages to my Prestashop and I noticed that order of languages displayed is different is a few places. In some places languages are displayed according to their ID, but in some places the order is totally random. Here's an example:

This is the order of the languages in New feature section. This is the ocrrect order according to the ID of the language presented

[2020-07-24 20:48] juraj1000 opened #20342 "Incorrect characters in pdf output"
#### Describe the bug
There are incorrect characters in pdf output if there are used specific characters, e.g. instead of character "č" is displayed "?". This issue occurs if there is used language "English GB" in user profile, it works correctly if there is used language "English".

#### Expected behavior
Special characters should be always displayed correctly because we use code page utf-8.

###

[2020-07-24 21:03] go-sudo commented on #20214
Hi @florine2623
I'm using v4.10.1 - par PrestaShop
![image](https://user-images.githubusercontent.com/11594433/88435093-71526f00-cdf9-11ea-979d-ad098d95b64f.png)

[2020-07-24 21:08] juraj1000 opened #20343 "Lines in User review for product are not separated with CR/LF"
#### Describe the bug
I created more lines comment in User review for product but after sending it is displayed in one line.

#### Expected behavior
The User review should be displayed by the same way as it was created.

_User review - Create_
![image](https://user-images.githubusercontent.com/33311857/88435292-2e48c980-ce02-11ea-9021-114b927a582d.png)

_User review - Display_
![image](https://use

[2020-07-24 21:27] jajarom opened #20344 "Cannot change between client adresses"
#### Describe the bug

Old bug, i want to fix it now.
I can't switch between customer addresses

#### Expected behavior

No errors

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Any client'
2. Select another adress
3. Click change adress
4. See error

Proprietatea OrderCarrier->id_order este goala.
at line 1003 in file classes/ObjectModel.php

998.             }
999.
1000.

[2020-07-24 21:48] jajarom commented on #20344
![error-adress](https://user-images.githubusercontent.com/5030991/88438111-943c4d80-ce10-11ea-98df-0cbf83ec21e5.jpg)

[2020-07-24 23:48] pixelicous commented on #20229
@PierreRambaud If you mean you will sort the javacsript inline issues that's great, but otherwise, the CSP configuration by itself isn't the issue here.

Thanks for the support!

[2020-07-25 12:14] go-sudo commented on #20308
Hi @SimonGrn

I noticed now that when i'm rejected and I delete the all the link in the bar address except the admin folder then put enter I can access but when I click on order menu I'm disconnected again

i let you know that I stopped all kind of cache Nginx and Memcached then I enabled the Debug mode.

I tried on firefox chrome and edge

[code]

You think I should create a new account.

Regards

[2020-07-25 12:20] Out24-ad opened #20345 "BO - The module manager page and Positions page are NOK - Error 500"
When trying to access the module manager or ap page builder hook manager. I get the following error

Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.
A clear and concise description of what went wrong.

#### Expected

[2020-07-25 13:40] SimonGrn commented on #20308
Do you use the Classic theme ?
Do you see some modified files (in the PrestaShop backoffice, there is a section in Advanced Parameters > Information) ?
You should try creating a new account and giving it administrator rights, but something is definitely messed up on your shop.

[2020-07-25 15:00] klazer337 opened #20346 "Cart refresh not automatic"
Hello,

I have a problem with Shopping module cart or Prestashop 1.7.6.7.

When I add an item into the cart, I have to refresh the page manually. It is not automatic.

You can see the problem at https://ktd-supplies.com

![image](https://user-images.githubusercontent.com/43007697/88461825-43c3ff00-cea7-11ea-98f5-d418b911e6b5.png)

Best Regards,

* PrestaShop version: 1.7.6.7
* PHP version: 7.2

[2020-07-25 15:14] go-sudo opened #20347 "Client name field"
Hello,

A customer did subscribe on my website with mail address as name  so I tried to reproduce that but all the prestashop form and my APK do not allow me to subscribe like he does.

![image](https://user-images.githubusercontent.com/11594433/88459980-ef158980-ce90-11ea-8466-96fbf236a400.png)
![image](https://user-images.githubusercontent.com/11594433/88459996-0c4a5800-ce91-11ea-9dee-5b879fe937

[2020-07-25 15:18] rdy4ever commented on #20344
Hi @jajarom
My guess is the problem is in the overriden file `override/classes/Dispatcher.php`
Try to disable that override (and maybe the module that created this override) and see if the problem persists.

[2020-07-25 21:17] sjurajpuchky commented on #9511
Found simmilar issue with updating cart count in header default theme
for updating cart count I use
prestashop.on('updateCart', function(event) {
    if(event.resp != undefined && event.resp.cart != undefined) {
    $(".cart-preview .cart-products-count").text(event.resp.cart.products_count);
    }
    });
~
removing from cart not worked so I fix code in theme.js to, now its working like expected

[2020-07-25 22:39] go-sudo commented on #20308
Hi @SimonGrn
I don't think that theme is the issue because i have 3 or 4 PS shops on the same server with different themes, why when I remove the token I'm enable to access but rejected from order menu.

I even created a new super admin account but still the same
![image](https://user-images.githubusercontent.com/11594433/88467454-476b7c00-cecf-11ea-82f6-0d9d7a27826f.png)

you'll find videos for m

[2020-07-26 08:09] m4logs commented on #19777
Hi, the same issue for me:

International->Localization: Default language "Italian ", Set Language from Browser: "Yes"
International->Localization->Languages: Enable Italian, disable English
Go to 'Catalog->Products'
Click on 'New Product'
Enter product name
Save
Go to 'Catalog->Products', see "N/A" for the new product

[2020-07-26 08:11] cortierdev opened #20348 "class HelperTreeCategoriesCore is not translated"
Some text in this class is hardcoded, like "Expand All", "Collapse All", etc.

These strings should be translatable.

Steps to reproduce the issue
1. Go to BO => Shop Parameters => General page
2. Enable multishop context
3. Go to BO => Advanced Parameters => Multistore
4. Edit a shop
5. Change the language of the employee to any other language
`Collapse All`, `Expand All`, `Check All`, `Uncheck A

[2020-07-26 09:46] zafer0zturk commented on #16916
Hello sir ;
we face the same problem.
We upgraded from version 1.6 to version 1.7.6.5, but we are having the same problem.

[2020-07-26 18:40] pixelicous commented on #19017
Thank you, I managed to solve my problems.

For anyone wondering -
From that classic rocket theme quoted, you need to copy microdata-jsonld.tpl
I also copied pagination-seo.tpl
Then in head_seo block include the following close to the {/block} closing tag
[code]

[2020-07-26 23:14] alfonsolr09 commented on #20347
how did you create an apk?

[2020-07-26 23:38] alfonsolr09 commented on #20346
it is a bug that produced the module version 2.0.3
Below I attach the previous version of the module where it works well. don't update that module

https://wetransfer.com/downloads/6843ce10d47b714726894c2900d49dda20200726233706/f8906b1082f926c17d45331d15645e0320200726233720/071356?utm_campaign=WT_email_tracking&utm_content=general&utm_medium=download_button&utm_source=notify_recipient_email

[2020-07-26 23:40] alfonsolr09 commented on #18950
@Progi1984 @TristanLDD

[2020-07-26 23:41] alfonsolr09 commented on #20346
Duplicate of # 18390

[2020-07-26 23:42] alfonsolr09 commented on #20346
khouloudbelguith commented on 31 Mar
Hi @alfonsolr09,

Here's the PR: #17633 to fix the issue.
it is fixed in the next version ps1.7.8.0
Your ticket is a duplicate of #16665 (comment)
So, I close it.
Thanks!

[2020-07-26 23:43] alfonsolr09 commented on #18390
@klazer337

[2020-07-26 23:44] alfonsolr09 commented on #20346
With the version that I have attached with wetransfer you will not have any problem, I am the one I currently use.
just make sure not to update this module until prestashop 1.7.8 comes out

[2020-07-27 02:10] sha925 opened #20349 "Cant open the mondules section"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

Explain what you expected to happen instead.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**

If applicable, add screenshots or screen recordings to help explain your problem.

#### Additional inform

[2020-07-27 07:13] matks commented on #20349
Hello,

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report (see https://github.com/PrestaShop/PrestaShop/issues/new?template=1_bug_report.md)

Read more about how we expect the issues to be handled here. Feel free to create a new issue if you can provide further information, we

[2020-07-27 07:13] #20349 closed, assigned to nobody

[2020-07-27 07:29] C-Ranalletta opened #20350 "Issue with Customer Reassurance Prestashop module"
Hi,
I have a problem with the customer reassurance Prestashop module, I've updated my Prestashop version to 1.7.6.7 but now the module doesn't work correctly.
I tried to uninstall it and after install it again but the system block my download and now I can't use this module.

Could you tell me how can I solve the problem?

[2020-07-27 07:57] khouloudbelguith commented on #20342
Hi @juraj1000,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #12308
So, I close it.
Thanks!

[2020-07-27 07:57] #20342 closed, assigned to nobody

[2020-07-27 07:57] khouloudbelguith commented on #20342
Duplicate of #12308

[2020-07-27 08:10] khouloudbelguith commented on #20345
Hi @Out24-ad,

The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and config

[2020-07-27 08:14] khouloudbelguith commented on #20346
Hi @klazer337,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/17633 to fix the issue.
it is fixed in the next version ps1.7.8.0.
Your ticket is a duplicate of #16665
So, I close it.
Thanks !

[2020-07-27 08:14] #20346 closed, assigned to nobody

[2020-07-27 08:14] khouloudbelguith commented on #20346
Duplicate of #16665

[2020-07-27 08:19] khouloudbelguith commented on #20334
Hi @juraj1000,

Thanks for your report.
If your module is PrestaShop Checkout please, contact support team on module configuration page > Subtab Help > there are an email address

I will close this issue.

[2020-07-27 08:19] #20334 closed, assigned to nobody

[2020-07-27 08:28] khouloudbelguith commented on #20337
Hi @juraj1000,

We are awre of the date format issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9591
So, I close it.
Thanks!

[2020-07-27 08:28] #20337 closed, assigned to nobody

[2020-07-27 08:28] khouloudbelguith commented on #20337
Duplicate of #9591

[2020-07-27 08:31] khouloudbelguith commented on #9591
Hi @LouiseBonnard,

Same issue with `productcomments` module v4.0.1 as reported here: https://github.com/PrestaShop/PrestaShop/issues/20337
**FO**
![image](https://user-images.githubusercontent.com/16067358/88520620-1b95e680-cff4-11ea-8a09-0ad87c1e737d.png)
**BO**
![image](https://user-images.githubusercontent.com/16067358/88520662-29e40280-cff4-11ea-8c21-fda9d25204e2.png)

Thanks!

[2020-07-27 08:35] khouloudbelguith commented on #20340
Hi @juraj1000,

Thanks for your report.
Your ticket is a duplicate of #19707
So, I close it.
Thanks !

[2020-07-27 08:35] #20340 closed, assigned to nobody

[2020-07-27 08:35] khouloudbelguith commented on #20340
Duplicate of #19707

[2020-07-27 09:05] dannyqwertz opened #20351 "Customer e-mail address not validated when beeing changed in the profile / frontend"
#### Describe the bug

When a logged in customer changes its mail-address under **Your Account / Information** the mail-address is not validated.
This can cause further problems (like we had with our 1.7.5.2 - installation, this installation in combination with JTL-connector got stuck in a mail-loop and kept sending out mails to customers because of 1 invalid mail-address and an unhandled exceptio

[2020-07-27 09:13] MrKappa opened #20352 "CI/CD setup and persistent directory management"
**Issue:**
I'm working on CI/CD of a custom Prestashop environment and actually I'm facing the issue that I don't know/I can't find the list of folders that contain datas to be preserved during each deployment.

**What I did so far?**
I searched and I've found this #14086

**What I need?**
Official or at least documented directory structure where data is mantained,

**What I would like?**
Unique f

[2020-07-27 09:21] khouloudbelguith commented on #20344
Hi @jajarom,

I did not manage to reproduce the issue with PS1.7.6.7.
If it is a virtual product, here's the PR: https://github.com/PrestaShop/PrestaShop/pull/17804 to fix the issue.
It is fixed in the new newt release PS1.7.7.0.

As commented by @rdy4ever, you have an override, this is the problem.
If this override is created by a custom module, you should contact the module author via your addon

[2020-07-27 09:21] #20344 closed, assigned to nobody

[2020-07-27 09:27] sowbiba commented on #20252
Thanks @grafeco for the report

[2020-07-27 09:27] matks commented on #20352
Some more informations can be found here https://devdocs.prestashop.com/1.7/development/architecture/

[2020-07-27 09:38] #12105 closed, assigned to sowbiba

[2020-07-27 09:38] matks commented on #12105
Done in https://github.com/PrestaShop/PrestaShop/pull/17215

[2020-07-27 09:40] khouloudbelguith commented on #20348
Hi @cortier,

I manage to reproduce the issue with PS1.7.5.1, PS1.7.6.7, and 1.7.7.x branch.
![image](https://user-images.githubusercontent.com/16067358/88527037-040f2b80-cffd-11ea-9c6a-8b174b709f7e.png)

Steps to reproduce the issue
1. Go to BO => Shop Parameters => General page
2. Enable multishop context
3. Go to BO => Advanced Parameters => Multistore
4. Edit a shop
5. Change the language of t

[2020-07-27 09:46] matks opened #20353 "Blank value not ackownledged by search on grid pages"
#### Describe the bug

Basically the "blank" value is not acknowledged by the filters system, it's ignored.

This issue was reported here https://github.com/PrestaShop/PrestaShop/pull/17215#issuecomment-661745374

#### Expected behavior

When selecting "blank" value on a drop-down list for input filters, it should reset the related filter.

#### Steps to Reproduce

Exemple on the order statuses li

[2020-07-27 09:46] tomablan opened #20354 "Being able to include SVG File from outside the template for themes"
Hi everyone, I'm encountering a small frustration :

#### Is your feature request related to a problem?

In my theme developement I just can't find a way to include a SVG File from any folder outside the `/themes/[my_theme_name]/templates/`.

eg : I want to include in my template small_guy.svg which is under the `themes/[my_theme_name]/assets/small_guy.svg`, but the smarty directive `{include file

[2020-07-27 09:49] sowbiba commented on #20315
Thanks @Max84 for the report. And a great thanks for the script, it is very helpful

But I dont reproduce your issue. I tried to update an order which status was 2 (waiting for payment = En attente de virement bancaire) to (In preparation = En cours de préparation). And it works fine
PS version = 1.7.6.7
Do I miss something ? Have you configure well the permissions for your webservice key ?

I'm t

[2020-07-27 09:50] matks opened #20355 "Some order status label colors are wrong"
#### Describe the bug

Some difference for 2 of the colors mentionned in #15228, it can be seen on "order statuses listing page":

For the "dartk blue" i have #34209E instead of #34219E
and for the "greene i have #01B887 instead of #2ECC71

The PR which modified the colors is #16104. There might have been an issue in it.

#### Expected behavior

Order status colors should be exact.

* PrestaShop v

[2020-07-27 09:51] matks commented on #20355
Issue reported in https://github.com/PrestaShop/PrestaShop/pull/17215#issuecomment-661745374 by @SD1982

[2020-07-27 10:07] khouloudbelguith commented on #20351
Hi @dannyqwertz,

I have the same behavior with PS1.7.5.1, PS1.7.6.7 and 1.7.7.x branch.
I think this is an improvement.
Ping @PrestaShop/prestashop-product-team what do you think?

It is reproduced from the FO and the BO.
Related to: https://github.com/PrestaShop/PrestaShop/issues/17809

Thanks!

[2020-07-27 10:14] khouloudbelguith commented on #20355
Hi @matks, @SD1982,

I have the same issue with 1.7.7.x branch
1. For the "dark blue" I have #34209E instead of #34219E
![image](https://user-images.githubusercontent.com/16067358/88531091-9bc34880-d002-11ea-8ebf-72f13dd126ab.png)
2. For the "green I have #01B887 instead of #2ECC71
![image](https://user-images.githubusercontent.com/16067358/88531158-b2699f80-d002-11ea-80c5-3977cb08a192.png)

I’ll

[2020-07-27 10:15] khouloudbelguith commented on #20355
@matks @PrestaShop/prestashop-product-team this issue should be fixed in the PS1.7.7.0?

Thanks!

[2020-07-27 10:20] khouloudbelguith commented on #20354
Hi @tomablan,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers @PrestaShop/prestashop-product-team what do you think of this improvement?

PS: PrestaShop doesn't support SVG as reported here: https://github.com/PrestaShop/PrestaShop/issues/10600

Thanks!

[2020-07-27 10:30] khouloudbelguith commented on #20353
Hi @matks,

We have already an issue about the blank value reported here: https://github.com/PrestaShop/PrestaShop/issues/18480
I think we need to close this issue.
What do you think?

Thanks!

[2020-07-27 10:35] tomablan commented on #20354
Thanks @khouloudbelguith for accepting it.

For the debate about Prestashop not supporting SVG, I think it's not the topic here as is in #10600, we talk about Back office image management... Here it's strictly about front-end development and asset manamgent :)

[2020-07-27 10:40] khouloudbelguith commented on #20352
Hi @MrKappa,

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project.
If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).
Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/).

Than

[2020-07-27 10:40] #20352 closed, assigned to nobody

[2020-07-27 10:49] khouloudbelguith commented on #20343
Hi @juraj1000,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.7 and the `productcomments` module v4.0.1.
![image](https://user-images.githubusercontent.com/16067358/88534033-8ac90600-d007-11ea-9172-e028e94108ed.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

[2020-07-27 11:06] khouloudbelguith commented on #20339
Hi @adamus007p,

Thanks for your report.
The Exchange rate autoupdate is not working as reported here: https://github.com/PrestaShop/PrestaShop/issues/13825
I tried with 1.7.7.x branch, with Manual update and it is well working.
I attached a screen record
https://drive.google.com/file/d/1h_i83GR7bA5C5MTv1LiqDCUZVoXOWTWb/view?usp=sharing
Thanks to check and feedback.

[2020-07-27 11:27] Sinepel commented on #20294
I have just tested, while updating the module, the module templates in the theme folder are not replaced and therefore do not contain the variable $display_email.

But the template files in the module itself are correct.

[2020-07-27 11:28] Sinepel commented on #20294
TPLs are correct on develop branch

[2020-07-27 11:40] khouloudbelguith commented on #20347
Hi @go-sudo,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.7.
![image](https://user-images.githubusercontent.com/16067358/88537826-8eac5680-d00e-11ea-8afb-1f6a57f25d52.png)

Did you use any custom module for creating a user/sign in?

Thanks!

[2020-07-27 11:42] sowbiba commented on #20315
Ok, I reproduce it in many versions

On 1.7.6.0, I got
Fatal error: Uncaught Error: Call to a member function get() on null in /home/xxx/workspace/PrestaShop176/classes/Tools.php on line 801

On other versions, when Emailing is not well configured, we have

 Error.<br />Unable to save resource in /home/xxx/Téléchargements/add_order_state_ps15.php:258

The error is in OrderHistory->addWS when sende

[2020-07-27 11:46] klazer337 commented on #20346
I'm sorry but the problem isn't fixed. The refresh of the cart is ok but the page stay grey. I have to refresh manually the page to have access on the website and the modal confirmation doesn't appear :

![image](https://user-images.githubusercontent.com/43007697/88538351-843e8c80-d00f-11ea-83cc-84c52cbd0dea.png)

[2020-07-27 11:59] khouloudbelguith commented on #20346
@klazer337, this issue is fixed in the next release 1.7.8.0
You can use this patch
https://github.com/PrestaShop/PrestaShop/pull/17633/files

Thanks!

[2020-07-27 11:59] SharmPRO commented on #12435
I did experience the same problem ( max key length ) on Autoupdating PS 1.7.5.2 to 1.7.6.7 for table ps_admin_filter and new index creation including field 'filter_id' VARCHAR(255)
It would be solved with index creation with a length of 170 instead of 255

[2020-07-27 12:03] khouloudbelguith commented on #20350
Hi @C-Ranalletta,

What is the exact version of the Customer Reassurance Prestashop module did you use?

Is it an issue in the FO, it is not well displayed or you can't configure it from the BO?

Thanks!

[2020-07-27 12:06] khouloudbelguith commented on #20333
Hi @elboletaire,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?

Thanks!

[2020-07-27 12:11] matks commented on #20333
Hi, removing these files is intentional because the ZIP is built to be production-ready. In production, you never run `npm` or `composer`.

If you are willing to use `composer` or `npm` on prestashop to modify some of its elements, I think it will a lot more efficient to close the git repository. You will benefit for a lot of dev-only resources such as tests (you can run them to monitor whether yo

[2020-07-27 12:13] khouloudbelguith commented on #20341
Hi @banan44,

Thanks for your report.
I manage to reproduce the issue.
![image](https://user-images.githubusercontent.com/16067358/88540266-eb117500-d012-11ea-8f71-14210229dc19.png)

In fact, all pages migrated to Symfony, the languages are randomly ordered
![image](https://user-images.githubusercontent.com/16067358/88540190-ccab7980-d012-11ea-8930-95211bfbd124.png)

In the legacy page, they are o

[2020-07-27 12:21] khouloudbelguith commented on #20336
Hi @J147julie,

Thanks for your report.
What is the exact issue with `ps_facetedsearch?`
Can you provide us steps to reproduce the issue in a new comment?
What is the exact version of `ps_facetedsearch` did you use?

Thanks!

[2020-07-27 12:29] VeiJar1 commented on #20276
Happens to all of us :P
Just wondering why this is still "waiting for author" labeled?

Do you have time to test the bug itself?

[2020-07-27 12:30] elboletaire commented on #20333
Yeah, but here's the truth: I have to work on an already production project which was installed using the normal procedures. Now I need to change code stuff, and I cannot due to all these files being removed.

I'm pretty sure there's plenty of people out there with the same problem: they're asked to take a project which was installed following production procedures, and then they stuck due to the

[2020-07-27 12:33] elboletaire commented on #20333
On the other hand, what's the reason keeping the `.lock` files without their respective json files? Neither manager works properly without their json files AFAIK.

[2020-07-27 12:34] juraj1000 opened #20357 "Display quantity in Paypal checkout"
#### Describe the bug
Hello,
we use Paypal module for payment. If there are more units for one item in the cart then there is displayed quantity and item text in the Paypal checkout, e.g.:
2 Cup of tee

It should be better to display it similar how it is in the PS cart , it means with "x" together with quantity, e.g.;
2x Cup of tee

It would be more easily to understand for the customers what the

[2020-07-27 12:34] adamus007p commented on #20339
Hello,

I will update my thoughts.

I have multishop.

What I have noticed that even when you use All shop and click update currency button there is no update of all shops.

In other shops currencies are like 1 which is big error.

Please add more shops, use multishop and check how this button works.
Change shops and see.

[2020-07-27 12:35] khouloudbelguith commented on #20308
Hi @go-sudo,

Did you use a custom module for example `pagespeed` module?
Your issue seems to be similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/14371#issuecomment-509956780

THanks!

[2020-07-27 12:36] matks commented on #20333
We initially removed it as well but we found out that Symfony Requirements Checker uses the composer.lock file as part of its process, when triggered by the Installer, to look for server configuration issues (see https://github.com/PrestaShop/PrestaShop/pull/14739).

So we keep it for now but in the long term it will be gone indeed.

[2020-07-27 12:42] khouloudbelguith commented on #20357
Hi @juraj1000,

If your module is PrestaShop Checkout please, contact the support team on module configuration page > Subtab Help > there are an email address

Thanks!

[2020-07-27 12:42] #20357 closed, assigned to nobody

[2020-07-27 12:45] khouloudbelguith commented on #19798
Hi @daresh,

Isn't your issue similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/13957 which fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/16097?

Thanks!

[2020-07-27 12:46] adamus007p commented on #20339
I have found this problem testing 1.7.7 but it also exist on 1.6.

All shops and button update currencies should update all currencies on all shops not only on the 1st one.
The same should be with cron.

Now you need to got to every shop separately and update manually using button.
Cron for example in 1.6 prestashop would works only with 1st shop.
This is quite big potential loos when the merchant

[2020-07-27 12:46] khouloudbelguith commented on #20218
Hi @Hlavtox,

Thanks for your report.
Isn't your issue similar to this ticket: #13957 which fixed with this PR: #16097?

Thanks!

[2020-07-27 12:49] daresh commented on #19798
Hi @khouloudbelguith

no, it's something totally different. The issue you mentioned is about knowing the 2x support is turned on in the tpl files.

My issue is about the 2x images not being generated on the server at all by a function that is responsible for generating normal images on demand.

[2020-07-27 12:59] elboletaire commented on #20333
What about the workflow? When I say the dev workflow is broken, I'm not speaking about prestashop's dev workflow. Obviously the way you work works for you.

But if I, as a shop developer, want to start creating a prestashop shop and making commits to my own repo to keep the (soon in production) project up to date, there are things that will broke the shop: modules and vendors are ignored, but some

[2020-07-27 13:09] khouloudbelguith commented on #19798
@daresh, thanks!

[2020-07-27 13:36] C-Ranalletta commented on #20350
Hi @khouloudbelguith now I'm trying to install the version v5.0.0 in my BO but the system leaves an error (like in the photo attached)
![customer reassurance error](https://user-images.githubusercontent.com/43338406/88548120-f1a5e980-d01e-11ea-8650-bce8a6733e31.png)

[2020-07-27 13:44] matks opened #20359 "Sanity tests should listen to prestashop event"
#### Is your feature request related to a problem?

We had to release an emergency 1.7.6.7 release because we did not notice early enough that a JS event was not correctly emitted/received by JS modules plugged on Product FO page. Because modules and themes are core to PrestaShop ecosystem, this was a critical issue.

We can expect more similar issues in the future if we do not monitor correctly t