[2019-09-30 15:18] cma93 commented on #15742
I don't think so

On Mon, Sep 30, 2019 at 6:17 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-09-30 15:19] cma93 commented on #15742
I don't think so. you can check

[2019-09-30 15:22] khouloudbelguith commented on #15742
@cma93, the first cart rule with ID=1 is created manually?

Thanks!

[2019-09-30 15:23] florine2623 opened #15759 "Bug 'Page content' in Design > Pages on iPad"
**Describe the bug**
Edition impossible on the content of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Design'
2. Click on 'Pages'
3. Scroll down to '.Page Content'
4. No toolbar while editing content on iPad (Generation 3), Safari on this case

**Screenshots**
![9560F6C3-DF08-4F82-BE4D-CA0FDE2FCA12](https://user-images.githubusercontent.com/16019289/65892614-e3f3e900-e3a

[2019-09-30 15:23] cma93 commented on #15742
Actually I don't remember

[2019-09-30 15:25] khouloudbelguith commented on #15742
@cma93, can I deleted it & re-create the same cart rule manually?

Thanks!

[2019-09-30 15:26] cma93 commented on #15742
Do as you please! Thank you for looking out my problem

[2019-09-30 15:26] marionf commented on #9861
@khouloudbelguith Could you try to reproduce the issue with PrestaShop 1.7.6.1 ?

[2019-09-30 15:33] khouloudbelguith commented on #15759
Hi @florine2623,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #15272
So, I close it.
Thanks!

[2019-09-30 15:33] #15759 closed, assigned to nobody

[2019-09-30 15:33] khouloudbelguith commented on #15759
Duplicate of #15272

[2019-09-30 15:38] yvesattias commented on #15728
@khouloudbelguith

UK is not my firstshop. I can add combinaisons on the 1st and 2nd stores but not on the 3rd and 4th stores.

Regards,
Lilian

[2019-09-30 15:41] khouloudbelguith commented on #9861
Hi @marionf,

Yes!
I manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/1clhY6lp3WCN5rz0BM7BqgKs3JFbEcVja/view

Thanks!

[2019-09-30 15:42] smartsoftbox commented on #15747
Hi @khouloudbelguith

Yes I did that but I'm getting same error

**ls -a -n**
drwxrwxr-x  9   33   33   4096 wrz 30 13:41 admin-dev
drwxrwxr-x  5   33   33   4096 wrz 30 13:41 app
-rwxrwxr-x  1   33   33   1266 wrz 30 13:41 autoload.php
drwxrwxr-x  2   33   33   4096 wrz 30 13:41 bin

**id www-data**
uid=33(www-data) gid=33(www-data) groups=33(www-data)

[2019-09-30 15:43] khouloudbelguith commented on #15728
@yvesattias, when debug mode is enabled, have you same exception as described in this screenshot?
![image](https://user-images.githubusercontent.com/16067358/65894316-75605c80-e3a1-11e9-8480-20b27153ccc9.png)

Thanks!

[2019-09-30 15:44] marionf commented on #9861
@khouloudbelguith

It's normal as you selected the two shops:

![capture d'écran_2031](https://user-images.githubusercontent.com/13449658/65894368-f58ac000-e3a9-11e9-942b-b6435d48b8a5.png)

[2019-09-30 15:48] khouloudbelguith commented on #15742
@cma93, I found the whole issue.
The quantity in your case is invalid
![image](https://user-images.githubusercontent.com/16067358/65894463-bfe1d900-e3a1-11e9-85cc-79dd4fce3a2c.png)
As you can see in this screenshot, the quantity is displayed with decimals which is incorrect.
![image](https://user-images.githubusercontent.com/16067358/65894637-fc153980-e3a1-11e9-9424-65a41008d5b7.png)
Thanks to cha

[2019-09-30 15:50] rdy4ever commented on #15483
Hi @matks
Could you check this out: #15760?

[2019-09-30 15:51] khouloudbelguith commented on #9861
@marionf, yes, it is displayed in the two shops.
I need to have this brand available in all shops but with a different description.
But, I select the first shop to edit the description only => so the description should be applied only in the first shop.

Thanks!

[2019-09-30 15:53] khouloudbelguith commented on #15747
@smartsoftbox, could you please try with this
`$ chmod 777 -R /path_to_your_folder/`

Thanks!

[2019-09-30 16:04] khouloudbelguith commented on #15734
Hi @Robin-Fischer-PS,

I have the same issue with PS1.7.6.1 & the develop branch.
![image](https://user-images.githubusercontent.com/16067358/65895983-397ac680-e3a4-11e9-9b2b-a34556b090d3.png)
With PS1.7.5.2, it is OK
![image](https://user-images.githubusercontent.com/16067358/65896006-4ac3d300-e3a4-11e9-9271-09b945637e77.png)
I’ll add this to the debug roadmap.
Thanks!

[2019-09-30 16:08] samuel-pires commented on #15734
Does it only happen with RTL?

[2019-09-30 16:08] smartsoftbox commented on #15747
@khouloudbelguith, same error.

Container keep restarting so I can not check files permission on container.

[2019-09-30 16:09] cma93 commented on #15742
Thanks. I changed it and it worked.

I have a question: I didn't alter anything in the DB then why it had decimal, do you have any idea?

Thanks again! You're a Pro

[2019-09-30 16:12] yvesattias commented on #15728
@khouloudbelguith

Yes I have the same error

[2019-09-30 16:16] #15756 closed, assigned to PierreRambaud

[2019-09-30 16:46] Robin-Fischer-PS commented on #15734
Not only, it also appears with Russian (and probably some other languages too).

[2019-09-30 17:05] lewis2413 commented on #14903
Hi good afternoon,

@khouloudbelguith Do you have any feedback about this problem? i´m contacting to you because we need some solution about this bug..

I'll hope your comments

thanks advance

[2019-09-30 18:00] maofree commented on #15554
Hi @mariem-abid
can I get some informations about this solution and the problems that I have reported?

thanks

[2019-09-30 18:34] arafatx opened #15763 "[1.7.6.1] Failed to authenticate on SMTP server with username using 2 possible authenticators"
Configure SMTP mail always failed both sending message and testing.

When we send test email. The following message appear:

[screenshot]
![image](https://user-images.githubusercontent.com/4420157/65905922-1aa42080-e3f4-11e9-9c94-76bf02a972d5.png)

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.2.23

The mail SMTP configuration for the hosting has been tested and works with

[2019-09-30 18:59] Maofree opened #15764 "Some microdata are missing in the product page"
Hi
try to use this Google's tool with a product page
https://search.google.com/structured-data/testing-tool

you can see that some values are missing

can you fix it please?
now the microdata are very important for Google

thanks
bye

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/65907691-1b718e00-e3c5-11e9-87eb-cddf86ff6b29.png)

**Additional information**
PrestaShop versi

[2019-09-30 18:59] maofree commented on #15554
hi
created also a bug report to fix the microdata for the product page
https://github.com/PrestaShop/PrestaShop/issues/15764

[2019-09-30 19:13] arafatx commented on #15744
@khouloudbelguith This is the same issue that I commented that day. Sadly, the clean installation has no problem and it's hard for me to reproduce this because it seems random to me.

[2019-10-01 07:04] kermes commented on #15745
No, sorry, it's different, and the suggested PR's for this and that issues don't solve the other one.

[2019-10-01 07:09] arafatx commented on #15744
@khouloudbelguith OK I managed to reproduce this issue as the OP mentioned.

1) I made full backup of the website including database.
2) Then, I delete all the existing prestashop files including database.
3) Import files and database from backup
4) I make sure that all permission is correct so all PS files are chmod with 644 while directories with 755
5) Login into prestashop Backoffice
6) The da

[2019-10-01 07:22] arafatx commented on #15744
The error only occur while navigating to dashboard, the other section is OK. But the only temporarily workaround is that I need to rename psaddonsconnect folder at public_html/modules/psaddonsconnect  to psaddonsconnect_backup

[2019-10-01 07:30] yvgorshkov commented on #15741
Hi @khouloudbelguith

I use: 1-Click Upgrade v4.9.0 - by PrestaShop

No, there were no errors

download log.txt here: [https://www.sendspace.com/file/a9i7g6](https://www.sendspace.com/file/a9i7g6)

I tried to completely remove modules that use AdminProduct hooks. Did not solve the problem.

[2019-10-01 07:48] yannicka opened #15767 "Incorrect final price for a specific price on a combination"
**Describe the bug**
For a simple product, with a price of 100 € and a specific price of 80 € for quantity 3, the final price on the cart for a quantity 3 is 3 * 80 = 240 €. This is what expected.

But, for a product with combinations, with a price of 0 €, combinations with a price of 100 € and a specific price of 80 € for quantity 3 (apply to all comabinations), the final price on the cart is not

[2019-10-01 08:14] khouloudbelguith commented on #15763
Hi @arafatx,

I did not manage to reproduce the issue with PS1.7.6.1.
It is well working.
https://drive.google.com/file/d/1s2Oo1ifa4TtnN8IifSCInJkjB6CK-pp1/view
The information for these fields, SMTP, should be provided by your web host: mail domain name, SMTP server, SMTP user, etc. Make sure to transcribe exactly what your web host provides you with.

Thanks to check again & feedback.

[2019-10-01 08:22] SlashedAsteroid commented on #15724
May I ask what environment you were running on? I've reproduced this behaviour twice with a clean install from git using the docker compose provided and once on a live site hosted on Apache 2.4 with MariaDB 10.2 & PHP 7.2.22.

[2019-10-01 08:26] madsoliver opened #15768 "AdminOrders generateInvoicePdf and generateDeliverySlipPdf should be in customer language, not employee language"
Today when you click the two buttons Invoice and Delivery-slip, PrestaShop generates a PDF in employee language.

**Issue:**
Often a delivery slip is printed from AdminOrders and put into the customers package before shipping. If a customer speaks another language that what language is set in the current logged in employee/admin, he will get a delivery slip / invoice in a language he cannot unders

[2019-10-01 08:29] #15435 closed, assigned to Progi1984

[2019-10-01 08:30] LouiseBonnard commented on #15435
MUCHAS GRACIAS, @Progi1984 !

[2019-10-01 08:33] khouloudbelguith commented on #15764
Hi @maofree,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & & PS1.7.6.1. & develop branch.
In fact, this issue in the develop branch is fixed: https://github.com/PrestaShop/PrestaShop/pull/14558
But we still have warnings in the FO => Product Page
![image](https://user-images.githubusercontent.com/16067358/65946615-6ecbf680-e42e-11e9-9e95-e5976e24a3d4.png)
I’ll add this

[2019-10-01 08:33] espacious opened #15769 "total_paid_real wrong value (doubled)"
**Describe the bug**

Prestashop 1.7.5.1

A customer places an order of 1.000,00 RON, on orders page total is ok.
Under customers the field Sales (total sales of that customer) is 2.000,00
So it's doubled.

The only thing i found is this paypal warning in order details:

Product pricing has been modified as your rounding settings aren't compliant with PayPal. To avoid automatic rounding to custome

[2019-10-01 08:36] maofree commented on #15764
Hi @khouloudbelguith
if you go in https://github.com/PrestaShop/PrestaShop/pull/14558 I've reported some errors of the new solution about the use of ItemList but nobody answer to me, it is necessary to remove some code from item type to fix it, can you alert the developer to look my suggestion of 14558?

thanks

[2019-10-01 08:37] matks commented on #15435
@Progi1984 Could you help us on the [Developer Documentation](https://github.com/PrestaShop/docs) by writing a "How to add new supported languages" how-to ? I dont know how to do it, so I'd be happy to learn and our contributors too I think 😄

[2019-10-01 08:39] colinegin opened #15770 "Differences between rules for BO and FO searches"
It seems there are different logic used in searches on the front office and back office. There might be some rule for improvement here as :

- in the Back office, the merchant only finds elements including the exact words he has typed in.

- in the Front office, it's an 'inclusive OR' by default, meaning that if the user searches for "transparent vinyle", he will find all products including "vinyl

[2019-10-01 08:43] Progi1984 commented on #15435
@matks Good idea ;)

[2019-10-01 08:51] CoralieNouletteAlbalogic opened #15771 "Create a product lisiting controller in a module"
Hi PrestaShop Team,

I create a specific module which needs to use specific product listing : one like CategoryController and an another one like SearchController. I need to create new ones because the queries are very specific and Prestashop ones don't answer it.

Who can we create those specific product listings in a module without overriding ? I need to modifiy the search query only and keep ot

[2019-10-01 08:54] khouloudbelguith commented on #15767
Hi @yannicka,

The Product price (tax excl.): This is where you can set an arbitrary price, independent of calculations and regular prices. This will override the retail price.
So, you have retrail price =0 if the quantity < 3 but if the quantity > = 3 the Retail price will be = 80
![image](https://user-images.githubusercontent.com/16067358/65947810-e7cc4d80-e430-11e9-9fce-5d19ee24c23c.png)
In you

[2019-10-01 08:54] #15767 closed, assigned to nobody

[2019-10-01 08:57] khouloudbelguith commented on #15768
Hi @onklmaps,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10258
So, I close it.
Thanks!

[2019-10-01 08:57] #15768 closed, assigned to nobody

[2019-10-01 08:58] khouloudbelguith commented on #15768
Duplicate of #10258

[2019-10-01 09:07] yannicka commented on #15767
Thanks, but I don't understand what I can do to solve my problem.

How can I get a price of 240 € for a quantity 3+ of my combinations? I need to have a product price of 0 € and a combination price of "+100 €".

[2019-10-01 09:17] khouloudbelguith commented on #15771
Hi @CoralieNouletteAlbalogic,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-10-01 09:17] #15771 closed, assigned to nobody

[2019-10-01 09:19] khouloudbelguith commented on #15769
Hi @espacious,

I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 & Paypal v5.0.0.
https://drive.google.com/file/d/1IybZJivrEM2RetQG_g0_MTosDrJHZpvD/view
Paypal is not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & f

[2019-10-01 09:32] khouloudbelguith commented on #15767
@yannicka, you can make a discount amount = 20 Tax excluded.
![image](https://user-images.githubusercontent.com/16067358/65950770-a2ab1a00-e436-11e9-936f-444061a62729.png)
![image](https://user-images.githubusercontent.com/16067358/65950788-ae96dc00-e436-11e9-8a7b-e428654b83dc.png)

Thanks!

[2019-10-01 09:45] khouloudbelguith commented on #15724
@SlashedAsteroid, In my case also, I'm using an environment with docker.
Here's my Server configuration:
![image](https://user-images.githubusercontent.com/16067358/65951726-8f994980-e438-11e9-876b-cfdc8fe9beee.png)

Thanks!

[2019-10-01 09:53] yannicka commented on #15767
Thank you, it works.

However, this means that I cannot have three "fixed" values (product price 0€, combination price +100€ and specific price 80€), I must necessarily have a "relative" value for the specific price (-20€)?

[2019-10-01 09:54] SlashedAsteroid commented on #15724
@khouloudbelguith Thanks for sending that, I'll make sure my environment is comparable and try again.

Thanks for looking into it.

[2019-10-01 10:16] marionf commented on #9709
@khouloudbelguith I can't reproduce this issue with PrestaShop 1.7.6.1
I defined a favicon and a shop name different for each shop

![capture d'écran_2034](https://user-images.githubusercontent.com/13449658/65953913-44396800-e445-11e9-8677-71ede6e058be.png)

![capture d'écran_2035](https://user-images.githubusercontent.com/13449658/65953919-48fe1c00-e445-11e9-8c22-1675922f1172.png)

[2019-10-01 10:21] peorthyr commented on #15385
Good day again.
I see there where updates on the card, may I ask you if it's possible to have an answer to one of my questions related to this topic?
we are trying to understand "what to say to our clients" and we are blocked on "we are trying to figure out what Prestashop developers are doing" and this is a little vague.
I'm not asking for a solution or for a rush in any case, just something I ca

[2019-10-01 12:03] espacious commented on #15769
Im on version 1.7.5.1 i know it's not the latest but i cant upgrade right now.
This has nothing to do with paypal i think. I also found other posts that mention total_price_paid_real has wrong value in database, but no solution. And also in my database there are values that are 2x too high.
It happenes no mather which payment method is selected.

[2019-10-01 12:38] jeanbousquet opened #15774 "Allow Webservice stock_movements to POST (API) a new stock movement"
As said by Xavier Gouley on 24/Jun/2015, (http://forge.prestashop.com/browse/PSCSX-5988) it would be valuable to allow POST on stock_movements :

" Webservice /api/stock_movements/ allows only GET for instance.

- To have the possibility to modify a stock, that comes from ticket : http://forge.prestashop.com/browse/PSCSX-3170

- and because it's not possible to modify directly the stock table (tha

[2019-10-01 12:41] xandenet opened #15775 "Can't access back office"
**Describe the bug**
I have Prestashop 1.7.6 installed and it worked but suddenly I can't access my back office. There is a blank page if I try it. I can only access the back office if debug mode is turned on.
Already disabled all non-native modules, and continues the error, until ontme worked fine did nothing different for this to happen, already deleted the cms cache, and nothing appears in the

[2019-10-01 12:41] 2ec0b4 opened #15776 "Multistore shop context"
**Describe the bug**
From the back office, on a multistore installation, in a shop context, product price is not displayed in the shop currency ~~and product price included taxes is not well updated on a shop tax rule selection~~

**To Reproduce**
1. I made a PrestaShop installation based on a shop in France, with currency in € and 4 taxes rules
2. I have activated the multistore option
3. In the

[2019-10-01 12:43] davidglezz commented on #9945
It seems to be related to the cache.
It would be nice to test if it still happens disabling the cache
Related: https://github.com/PrestaShop/ps_featuredproducts/issues/20

[2019-10-01 12:47] matks commented on #15771
@CoralieNouletteAlbalogic If it's about the BO CategoryController, you can override/decorate the Symfony service `prestashop.core.grid.query_builder.category` who is doing the query search 😉 see https://devdocs.prestashop.com/1.7/modules/concepts/services/#override-an-existing-symfony-service

This is not a class override, it's a service override so it's OK 👍 however as @khouloudbelguith stated it

[2019-10-01 12:51] khouloudbelguith commented on #15775
Hi @xandenet,

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfon

[2019-10-01 12:51] CoralieNouletteAlbalogic commented on #15771
OK, thanks.
Finally, I used hookProductSearchProvider and I created a specific provider in my module. Not perfect but do the job.

[2019-10-01 12:57] khouloudbelguith commented on #15776
Hi @2ec0b4,

When your second shop is selected, could you please navigate to the BO => International => Localization and check the exact currency by default.

Thanks!

[2019-10-01 13:02] rflorent commented on #15560
@mariem-abid hello, this is not a bug, there is no errors, so I can't provide the things asked. Prestashop legacy code core need to be rewrite, as explained, editing a product with a lot of  additionnal data linked (category, specific prices, features) lead to a performance issue.

A product with 20 features, means that rules are applied 20 times, when a rule is applied, specific prices are delete

[2019-10-01 13:08] 2ec0b4 commented on #15776
Hello @khouloudbelguith

Thanks for your answer.

From this page, i saw that the default country for the second shop was France. This was a mistake, i change it to Switzerland and now the product price included taxes is well updated on a shop tax rule selection. But, the default currency is good with CHF.

[2019-10-01 13:10] 01park opened #15777 "Save & stay button for categories: suggestion."
Suggestion for improvement:

Is it possible to build in the option: save & stay for category editing.

Prestashop 1.7

[2019-10-01 13:22] #11332 closed, assigned to matthieu-rolland

[2019-10-01 13:33] khouloudbelguith commented on #15777
Hi @01park,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-01 13:45] khouloudbelguith commented on #15560
Hi @rflorent,

We are working on the product page to fix all issues.
#13891
Also, some issue should be fixed related to the performance: #9809 & https://github.com/PrestaShop/PrestaShop/issues/13698
I close the issue, feel free to open a new one when needed.
Thanks!

[2019-10-01 13:45] #15560 closed, assigned to nobody

[2019-10-01 13:49] khouloudbelguith commented on #15769
@espacious, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-10-01 13:52] xandenet commented on #15775
Thanks @khouloudbelguith , it worked downgrading PHP to 7.2 and deleting the cache as per your suggestion

[2019-10-01 13:52] #15775 closed, assigned to nobody

[2019-10-01 14:05] espacious commented on #15769
Ok no problem will do a.s.a.p.

[2019-10-01 14:37] khouloudbelguith commented on #15740
Hi @Caleydon,

In the Address created for the UK, for example, the VAT number is empty or not?
![image](https://user-images.githubusercontent.com/16067358/65971850-c6835580-e460-11e9-940c-0e855f0d81d6.png)
In fact, if it is empty => Taxes are not applied
If it is not empty => the prices will be displayed with Tax excluded & the Label is correct.
I attached a screen record
https://drive.google.com/

[2019-10-01 14:50] khouloudbelguith commented on #15774
Hi @jeanbousquet,

Yes!
You are right, `Method POST is not allowed for the resource stock_movements` with PS1.7.6 also.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-10-01 15:00] khouloudbelguith commented on #15667
@DoIB, Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2019-10-01 15:02] ShaimyWinda commented on #13065
Hello,

I have this problem.
I cant to translate in BO

I changed
[code]

[2019-10-01 15:14] matks commented on #15777
Hi @01park why do you want to stay on the category page after a successful edition ? And why not doing this in every BO page then ?

No bad answer 😄 I'm just curious to fully understand the motivation behind.

[2019-10-01 15:17] abcreationIT opened #15781 "Remove shop logo as attachment in email"
**Describe the bug**
When Prestashop send an email, the shop's logo is also attached.
Normally other emails (like Amazon) have logos and images but are not attached to the email.
Just to clarify, I want the logo of my shop in the mail, but I don't want it to be sent as an attachment

**To Reproduce**
Steps to reproduce the behavior:
1. place an order or an action that causes an e-mail to be sent
2

[2019-10-01 15:21] 01park commented on #15777
Hi @matks

When your editing multiple languages and switching between tabs this can be handy. Me, I like to save my work before moving to another tab.

[2019-10-01 15:21] antondelrio opened #15782 "automatic index serch"
**Describe the bug**
Whenever you edit a product it dissapear from the search index.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any product.
2. Edit it.
3. Go to B.O -> Shop Parameters -> Search
4. the indexed products shows (x-1)/x

**Additional information**
PrestaShop version: 1.7.6.1
PHP version: 7.2.23

[2019-10-01 15:23] khouloudbelguith commented on #15430
@beniwal, when the option "Show products from subcategories" is disabled
![image](https://user-images.githubusercontent.com/16067358/65975999-647a1e80-e467-11e9-86ae-f1f0679b019b.png)
Products will be displayed only in the category by default
![image](https://user-images.githubusercontent.com/16067358/65976081-8673a100-e467-11e9-8675-26e79ccd16dd.png)

Why it is not following sorting options? what

[2019-10-01 15:31] matks commented on #15777
Ah, now I see 😄

[2019-10-01 15:59] marionf opened #15783 "ISBN, EAN13, UPC and MPN are not displayed in FO for standard products without combinations"
**Describe the bug**
ISBN, EAN13, UPC & MPN are not displayed in FO for standard products

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalog > Products and edit a standard product without combinations
2. Click on Options tab
3. Fill ISBN, EAN13, UPC & MPN fields
4. Go to product page in FO & click on product details tab
5. ISBN, EAN13, UPC & MPN are not displayed while they should

[2019-10-01 16:01] khouloudbelguith commented on #15715
@simonswif, as you can see in your "no-Replay" mail
![image](https://user-images.githubusercontent.com/16067358/65978583-dfddcf00-e46b-11e9-918b-4dd95b21245e.png)
This is an issue related to your server & not PrestaShop.
Thanks to check with your host again.

PS: In my case, it is OK
![image](https://user-images.githubusercontent.com/16067358/65979340-051f0d00-e46d-11e9-8b59-5bf6202760fa.png)

Tha

[2019-10-01 16:03] khouloudbelguith commented on #15742
@cma93, Thanks!
You are welcome!
Sorry, I don't know the exact issue.
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-01 16:03] #15742 closed, assigned to nobody

[2019-10-01 16:04] khouloudbelguith commented on #15728
@yvesattias,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9664
So, I close it.
Thanks!

[2019-10-01 16:04] #15728 closed, assigned to nobody

[2019-10-01 16:04] khouloudbelguith commented on #15728
Duplicate of #9664

[2019-10-01 16:07] ioweb-gr commented on #15697
Yes it sounds about right. Apply discount on the original subtotal is the choice we need. From what I see in other systems this is usually a dropdown which says

Apply on:   [Original Subtotal]
                 [Subtotal]

So later on other options can be added as well by modules extending the functionality.

[2019-10-01 16:20] khouloudbelguith commented on #15745
@kermes, could you please provide us the exact steps to reproduce the issue?
- Did you installed the COD module provided by PrestaShop?
![image](https://user-images.githubusercontent.com/16067358/65980713-9b543280-e46f-11e9-8838-c273535fb84b.png)
- Did you make an order from the BO or FO?
- The status generated by the COD module is Processing in progress, did you edit this status?

Thanks!

[2019-10-01 16:36] khouloudbelguith commented on #15741
@yvgorshkov, thanks for your feedback.
Yes! your upgrade is OK.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/m

[2019-10-01 16:39] khouloudbelguith commented on #15744
@benoitpetit, after restoring your back up & before login into PrestaShop, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
If you try to re-install the module `psaddonsconnect`, it is OK?
Thanks to check and feedback.

[2019-10-01 16:40] khouloudbelguith commented on #15724
@SlashedAsteroid, Thanks!
Waiting for your feedback.

[2019-10-01 16:40] khouloudbelguith commented on #15769
@espacious, thanks!
Waiting for your feedback.

[2019-10-01 16:47] ruinobreferreira opened #15784 "BO: Price per unit set to 0 after saving product"
Whenever you edit a product "Price per unit (tax excl.)" is set to 0.

**To Reproduce**

1. Go to Catalog > Products.

2. Click on the "Pricing" tab
   1. Make sure you have "Price per unit (tax excl.)" set and different from 0.

3. Click on "Save"

4. Refresh the page and the field "Price per unit (tax excl.)" is now 0.000000

**Additional information**

PrestaShop version: 1.7.6.1
PHP version: 7

[2019-10-01 16:48] khouloudbelguith commented on #15782
Hi @antondelrio,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1F600mL0i_fTonzebN9gKJD5BIWn8M1wB/view
Thanks to check & feedback.

[2019-10-01 16:51] ruinobreferreira opened #15785 "BO: Unable to update "Price per unit" field after importing products & combinations"
Unable to update the "Price per unit" in the backoffice.

**To Reproduce**

1. Go to the import Page
2. Import products with a base price & unity base price
[Downloads.zip](https://github.com/PrestaShop/PrestaShop/files/3686303/Downloads.zip)

3. Import combinations for those products
1. Go to Catalog > Products.

2. Click on the "Pricing" tab

3. Edit "Price per unit (tax excl.)"

4. Click on "Sa

[2019-10-01 17:05] khouloudbelguith commented on #15781
Hi @abcreationIT,

I did not manage to reproduce the issue with PS1.7.6.1.
I have only the invoice displayed
![image](https://user-images.githubusercontent.com/16067358/65983680-ff79f500-e475-11e9-9bd5-0427c8731085.png)

Thanks to check & feedback.

[2019-10-01 17:41] ghost opened #15786 "Report request"
**Is your feature request related to a problem? Please describe.**

Would like a one time report built that looks at all accounts that have had 2  or more opportunities lost against it in the last 2 years.

**Describe the solution you'd like**

Just a spreadsheet or report outlining which accounts have had 2 lost opportunities against it in last 2 years.

**Describe alternatives you've considered*

[2019-10-01 18:56] mrabsinthe opened #15788 "Customers 1.7.6.1 - Design improvement"
It would be nice if the customers page can be slightly re-designed. As you can see from the screenshot below, the ID box is too large while the email address box is so small, it cannot display an average length email address - email fields can contain 50 characters even though the average email address is about 25 characters long.
If you look at the ID field, it can take min of 21 visible characte

[2019-10-01 19:24] antondelrio commented on #15782
Hi khouloudbelguith,
that's really nice that you cannot reproduce the issue I am experience. But in fact the issue is happening to me (and as far as I see in the track list I am not the only one). So, any advice on how to report it or what to do to debug it, will be welcome, in order to find someone who can help me (us).
Thanks

[2019-10-01 19:46] hitinder commented on #15743
@khouloudbelguith you are right it is working. However, it is not working for me when I am editing emails only for **followup** module.
I guess it is something to do with the module emails itself.

[2019-10-01 21:16] Alamgir67 commented on #9661
[](url)

[2019-10-01 22:39] SharmPRO commented on #15720
here the log...
Also ps_currency was missing precision and iso_code values
[log.txt](https://github.com/PrestaShop/PrestaShop/files/3678736/log.txt)

[2019-10-02 01:55] BenTen opened #15789 "Stock Management: impossible to write minus sign"
On PS 1.7.5.0, In Stock Management, I can't write a minus sign in the Edit Qty box.
I need to click on the down arrow to display a minus sign then I can write the qty.

[2019-10-02 05:47] mohamedehabghaly commented on #9807
good work

[2019-10-02 06:18] Amit123456789-mithi commented on #9807
Good

[2019-10-02 07:42] #11517 closed, assigned to matthieu-rolland

[2019-10-02 07:48] khouloudbelguith commented on #15764
Ping @PrestaShop/prestashop-core-developers what do you think?

[2019-10-02 07:53] khouloudbelguith commented on #15339
Hi @pollat,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-02 07:53] #15339 closed, assigned to nobody

[2019-10-02 07:54] khouloudbelguith commented on #15343
Hi @nosoy76,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-02 07:54] #15343 closed, assigned to nobody

[2019-10-02 08:10] khouloudbelguith commented on #15789
Hi @BenTen,

The issue is fixed in the PS1.7.6.0.
Your ticket is a duplicate of #9636
So, I close it.
Thanks!

[2019-10-02 08:10] #15789 closed, assigned to nobody

[2019-10-02 08:10] khouloudbelguith commented on #15789
Duplicate of #9636

[2019-10-02 08:15] khouloudbelguith commented on #15788
Hi @mrabsinthe,

Thanks for your report.
The customer page was migrated to Symfony in the PS1.7.6.0 version.
But, I think, it could be a good improvement.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-02 08:15] BenTen commented on #15789
@khouloudbelguith Where is the pull request for this issue?

[2019-10-02 08:21] khouloudbelguith commented on #15786
Hi @mdenomme,

Thanks for your report.
So, you need to create a report to get all accounts that they lost 2 or more opportunities.
What is this exact opportunity?

Thanks!

[2019-10-02 08:23] khouloudbelguith commented on #15785
Hi @nobreferreira,

Unity must be not empty.
![image](https://user-images.githubusercontent.com/16067358/66029040-54f5e680-e4f6-11e9-9ab2-3cf884639ddf.png)

Thanks to check & feedback.

[2019-10-02 08:25] khouloudbelguith commented on #15784
Duplicate of #15785

[2019-10-02 08:26] #15784 closed, assigned to nobody

[2019-10-02 08:26] nobreferreira commented on #15785
Hi @khouloudbelguith,

in the case I reported the field "unity" was not empty.

[2019-10-02 08:27] matks commented on #11517
🎉

[2019-10-02 08:27] DevSTG opened #15791 "Theme translation export not creating correct files and not saving translated string"
I'm using 1.7.6.1 PrestaShop with Polish language

My theme new string is recognized in back office translator, but it's not saved, although success message appears 'Translation successfuly updated'.
According to this document 'https://build.prestashop.com/howtos/translation/how-to-translate-your-theme/' translation exported file should contain new strings that I added to a template in my theme (w

[2019-10-02 08:27] khouloudbelguith commented on #15775
@xandenet, thanks for your feedback.
Fell free to open a new one when needed.

Thanks!

[2019-10-02 08:49] khouloudbelguith commented on #15697
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-02 08:52] khouloudbelguith commented on #15782
@antondelrio, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/

[2019-10-02 08:58] khouloudbelguith commented on #15743
@hitinder, it is ok for me also with PS1.7.5.2 & PS1.7.6.1.
https://drive.google.com/file/d/15rFH6PZQemrMDJYdd3N3mHq8TIhMOVJg/view
But we have reproduced another issue previously with the followup module as reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/9585
But it is different.

Thanks!

[2019-10-02 09:04] khouloudbelguith commented on #15776
@2ec0b4, The currency CHF  is available only in the second shop?
The first currency € is available in all shops? is it?

Thanks!

[2019-10-02 09:07] ttoine opened #15792 "Remove a field from the employee creation form"
**Describe the bug**
A little bit of cleanup in the fields of the employee creation form. Please note that if the field must disappear, the associated behavior must be removed too.

**Additional information**
PrestaShop version: 1.7.x

[2019-10-02 09:09] khouloudbelguith commented on #15785
@nobreferreira, I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1F8ZekzhUJ0OSTl2h4muNcPLJaYA5JcYt/view
Thanks to check & feedback.

[2019-10-02 09:18] khouloudbelguith commented on #15792
Hi @ttoine,

What the exact field that should be removed?
![image](https://user-images.githubusercontent.com/16067358/66032790-f0d72080-e4fd-11e9-9dde-63652f267c58.png)

Thanks!

[2019-10-02 09:22] 2ec0b4 commented on #15776
There is only one currency by shop:

- € for the first one
- CHF for the second one

[2019-10-02 09:39] khouloudbelguith commented on #15791
Hi @DevSTG,

Before doing this step:

Did you try to translate your child theme before exporting the language?

I tried with this child theme

[childtheme-example.zip](https://github.com/PrestaShop/PrestaShop/files/3680454/childtheme-example.zip)
Exporting the language before the translation, I have this zip file
[childtheme-example.en-US.zip](https://github.com/PrestaShop/PrestaShop/files/3680457

[2019-10-02 09:45] khouloudbelguith commented on #15720
@SharmPRO, as you can see in your log file.
The upgrade is not successfully completed.
The upgrade of the database is not fully migrated.

[code]
It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.6.1
The solution is to add the missing columns to your database schema.
You can find the full schema for 1.7.6.1 here:
https://github.

[2019-10-02 09:59] khouloudbelguith commented on #15776
Hi @2ec0b4,

I did not manage to reproduce the issue with PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/1CXFVRgHJ9qNIoukJbu7An7dZ7dBj1sTU/view
What is the exact version PrestaShop did you use?

Thanks!

[2019-10-02 10:16] khouloudbelguith commented on #15747
@smartsoftbox, have you any error in your console after running `docker-compose up`?
Warning in the container `prestashop-git` or `mysql` container?

Thanks!

[2019-10-02 10:18] DevSTG commented on #15791
Hi @khouloudbelguith
Thx for your feedback!

I deleted `translations` folder in my theme and tried to translate expressions which appear in my custom domain, but with no success.
Success message appears saying: 'Translation successfuly updated', but translations are not saved. After a second or two in domain-info header element text 'ShopStgtheme - 1 expression' is updated with red text: 'Missing

[2019-10-02 10:19] khouloudbelguith commented on #15789
@BenTen, after the upgrade to PS1.7.6.0, this issue doesn't exist anymore.

Thanks!

[2019-10-02 10:27] khouloudbelguith commented on #15791
@DevSTG, I did not manage to reproduce the issue with PS1.7.6.1 & the child theme attached previously
https://drive.google.com/file/d/1ll1LBnxYYMRZuyXa8_u-Di6EcFDrrLKO/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-cr

[2019-10-02 10:33] BenTen commented on #15789
Yes, but each time after an upgrade PS doesn't work :)

[2019-10-02 10:39] davidglezz commented on #12204
@smartsoftbox chown after clone

1. git clone https://github.com/PrestaShop/PrestaShop.git
2. cd prestashop
3. chown -hR www-data:www-data .
4. docker-compose up

[2019-10-02 10:42] mdenomme commented on #15786
All opportunities last 2 years

On Wed, Oct 2, 2019, 4:22 AM khouloudbelguith <notifications@github.com>
wrote:

[2019-10-02 10:42] khouloudbelguith commented on #15385
@peorthyr, the fix is in progress, the issue will be fixed in the next patch 1.7.6.2.

THanks!

[2019-10-02 10:45] khouloudbelguith commented on #15767
@yannicka, you can make discounts on each combination.

Thanks!

[2019-10-02 10:46] khouloudbelguith commented on #15786
@mdenomme, opportunity to make an order?

Thanks!

[2019-10-02 11:01] khouloudbelguith commented on #9709
Hi @marionf,

Yes!
I did not manage to reproduce the issue with PS1.7.6.1.
It is OK
Since it is fixed, I will close the issue.

Thanks!

[2019-10-02 11:01] #9709 closed, assigned to nobody

[2019-10-02 11:04] khouloudbelguith commented on #14903
Hi @lewis2413,

Sorry, this issue is not yet.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.
Thanks!

[2019-10-02 11:07] pandiheberge opened #16990 "Bug install"
Hello,

It is not possible to install it on prestashop 1.6.1.23

2 erreurs

    Une erreur est survenue pendant l'extraction du module (le fichier peut être corrompu).
    Impossible de mettre à jour le module Google sitemap : erreur lors de l'extraction de la dernière version.

Thank you for your help

[2019-10-02 11:10] davidglezz opened #15793 "Double git clone docker-compose"
Trying to contribute using docker (https://devdocs.prestashop.com/1.7/contribute/contribute_using_docker/) i have noticed that two clones of the repository are made.

First clone: when `git clone PrestaShop...`

Second clone on docker compose-up because prestashop-git image do `git clone` on `/var/www/html/` (https://github.com/PrestaShop/docker-ci/blob/a55fdb059049b165f27a1cfd4ffb34ba7785a26b/7.1

[2019-10-02 11:24] IlPizza79 commented on #15385
Hi khouloudbelguith, can you please give us an approximate estimate of the release date?
Thanks in advance!

[2019-10-02 11:28] elviraprint opened #15794 "prestashop création incomplete charge for stripe"
hi,

this is what stripe told me :
"I had a look at the incomplete charges on the account and I can see that prestashop are creating the charges for Stripe to process on your behalf.
So I would suggest to get in touch with prestashop directly to help you resolve this issue."

can you fix it ?

[2019-10-02 11:34] khouloudbelguith commented on #15794
Hi @elviraprint,

Could you please provide us the exact steps to reproduce the issue in a new comment & some information about your configuration: PrestaShop version, PHP version,...?

Thanks!

[2019-10-02 11:36] khouloudbelguith commented on #15704
Ping @PrestaShop/prestashop-product-team

[2019-10-02 11:44] khouloudbelguith commented on #15789
@BenTen, did make an upgrade to PS1.7.6? from which version?

Thanks!

[2019-10-02 11:46] khouloudbelguith commented on #15385
@peorthyr, PS1.7.6.2, if all regressions are fixed
https://github.com/PrestaShop/PrestaShop/milestone/57
And the patch should be tested then released.

Thanks!

[2019-10-02 11:49] elviraprint commented on #15794
the customer wants to order a product,
he choose it and add it to the cart
for the paiement he got choice between stripe and PayPal
he choose stripe
when he add the credit card number and press pay,
nothing happen the paiement is still processing, processing, processing...
or they can't pay and I don't receive the paiement
or they can't pay (error message) but I receive the paiement
I got both cas

[2019-10-02 12:05] nobreferreira commented on #15785
@khouloudbelguith

The issue is on product update. Please check screencast below.

https://drive.google.com/file/d/1kNLuxFz75PO5tyU7aRW_nvS5QAjPkvLk/view

Quick reminder, screencastify doesn't show right button click each time I ask for a page reload.

[2019-10-02 12:06] antoniopineapple opened #15795 "Jsdelivr"
Hi there i would like to know how can i integrate jsdelivr on prestashop 1.7.5

[2019-10-02 12:10] kpodemski commented on #15795
what you mean by writing "integrate"?

[2019-10-02 12:14] DevSTG commented on #15791
I'm working with XAMPP for Windows 5.6.40 on Windows 7

PHP error appears in log when I click Save button in Translations panel
[02-Oct-2019 13:45:31 Europe/Berlin] PHP Deprecated:  Automatically populating $HTTP_RAW_POST_DATA is deprecated and will be removed in a future version. To avoid this warning set 'always_populate_raw_post_data' to '-1' in php.ini and use the php://input stream instead. i

[2019-10-02 12:26] khouloudbelguith commented on #15795
Hi @antoniopineapple,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-10-02 12:26] #15795 closed, assigned to nobody

[2019-10-02 12:27] antoniopineapple commented on #15795
ok thank you

[2019-10-02 12:28] 2ec0b4 commented on #15776
@khouloudbelguith,

I use PS1.7.4.0 for a client. I reproduce it with a fresh installation with Docker and PS1.7.4.0: https://youtu.be/XVQK_CHlAxs (sorry for the quality)
I did not manage to reproduce it either with PS1.7.6.1.
I have updated the initial comment with the version

Thank you

[2019-10-02 12:33] khouloudbelguith commented on #15776
@2ec0b4, since it is fixed in the last version PrestaShop, I will close the issue.
Related to: https://github.com/PrestaShop/PrestaShop/issues/9931

Thanks!

[2019-10-02 12:33] #15776 closed, assigned to nobody

[2019-10-02 12:36] khouloudbelguith commented on #15794
@elviraprint,
This is a public space.
I deleted the credentials from your comment.
Let's be safe!

[2019-10-02 12:48] elviraprint commented on #15794
oh my god thanks a lot !

then do you need other details or my request is clear ? whats should I do ?

[2019-10-02 12:56] khouloudbelguith commented on #15785
@nobreferreira, it is OK on my side.
https://drive.google.com/file/d/1mGXNqOOLJP2dLgBepRAptxVLi1Pnaq9N/view
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-10-02 12:58] mklimkiew commented on #11517
Many thanks to everyone engaged in this PR! Much needed improvement.

[2019-10-02 13:03] Traineau opened #15796 "ps_emailalerts new order displays error ' undefined method named "trans" '"
**Describe the bug**
I wanted to test the different emails, including the ps_emailalerts module's one. So after installing the module, I generate all the emails and test them in Apparence => Email theme => Modern previsualisation (at the bottom of the page).

Every single email is working, the basics, followup module's one, even all the others ps_emailalerts are working, but not the new_order, it

[2019-10-02 13:05] khouloudbelguith commented on #15794
@elviraprint, I did not manage to reproduce the issue with PS1.7.6.1 & Stipr module v2.5.0.
I attached a screen record
https://drive.google.com/file/d/1nIGNWP6DhaV02NCKonU0CfESkmMLw7oO/view
Thanks to check & feedback.

[2019-10-02 13:10] matthieu-rolland commented on #15792
So what field should be removed? I'm not sure I understand this issue 🤔

[2019-10-02 13:12] elviraprint commented on #15794
Thanks god I know how to do an order !

I m telling you that prestashop creating charges for stripe to process that’s why all the paiement become incomplete

[2019-10-02 13:13] Traineau commented on #15796
After clearing cache multiple times, reinstalling the module and making the steps a few times, it seems to work again.

[2019-10-02 13:13] #15796 closed, assigned to nobody

[2019-10-02 13:17] prestascott commented on #15788
Hello @mrabsinthe,

Thank you for your report, it's very interesting.
We're currently working on tables' displays and behaviours in the back-office. What you've suggested will definitely be considered as improvement.

Thanks!

[2019-10-02 13:18] matthieu-rolland commented on #15792
1/ The newsletter field must be deleted
2/ All features linked to this field should be disabled and properly removed.

[2019-10-02 13:20] khouloudbelguith commented on #15791
@DevSTG, could you please provide me your child theme to test it.

Thanks!

[2019-10-02 13:22] khouloudbelguith commented on #15794
@elviraprint, this issue is random?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-10-02 13:37] DevSTG commented on #15791
Sure! There is nothing special, just one modified template
[stg.zip](https://github.com/PrestaShop/PrestaShop/files/3681332/stg.zip)

[2019-10-02 13:43] elviraprint commented on #15794
Random ???
I get this email maybe more than 1000 time each days and no one either stripe module or stripe themselves can find out whats wrong they don’t help me at all !!!

I got an error 404 who makes the paiement incomplete ! People loose confidence in my website cause of that, and nobody gives me answer thats the worst
I don’t even know how to do even I told this error 1000 time at prestashop s

[2019-10-02 13:50] khouloudbelguith commented on #15794
@elviraprint, any error log files or debug mode report can help us to find what's wrong?

Thanks!

[2019-10-02 13:54] smartsoftbox commented on #15747
docker logs prestashop-git

I think this directory is empty /tmp/data-ps/prestashop so I clone there instead of /var/www/html and copy in docker_run_git.sh to /var/www/html (of course I changed files owner to www-data)

docker_run_git.sh

With this changes I can run prestashop from git with auto install on.

[2019-10-02 14:11] khouloudbelguith commented on #15791
@DevSTG,
I tried to translate this first expression
![image](https://user-images.githubusercontent.com/16067358/66051121-4c1d0900-e526-11e9-8234-55af65215a40.png)
=> successful alert is displayed, no changes in the FO
The Form is incorrect, it should be Shop.Theme.Checkout.
I tried with the second expression => OK
![image](https://user-images.githubusercontent.com/16067358/66051400-cbaad800-e526-1

[2019-10-02 14:13] khouloudbelguith commented on #15747
@smartsoftbox, so the issue is fixed?

Thanks!

[2019-10-02 14:13] nobreferreira commented on #15785
Hi again @khouloudbelguith

First we import the products then the combinations. (Files attached)

- Go to "Catalog > Products"
- Click on the "Pricing" tab
- Update "Price per unit (tax excl.)" field
- Click on "Save"
- Refresh and the "Price per unit (tax excl.)" shoud be 0.000000

As attach goes the dump from the profiler. The post I did is on "step 2" page 8 with unit price "0.28"

Hope it help

[2019-10-02 14:15] mrabsinthe commented on #15788
It is great to hear because I've randomly selected 30 email addresses from our database and only couple of them would fit the current box.

[2019-10-02 14:17] elviraprint commented on #15794
Is that what you need ?
They told me that the 404 error is on this but I don’t understand do you ?

[2019-10-02 14:38] ghost opened #15797 "Guest user name product comment module issue"
Hi,
Latest productcomments module show "By **Deleted account**" instead of provided guest name in FO. In BO guest user name is OK.

![Bez-nazwy-3](https://user-images.githubusercontent.com/8243273/66053487-b5a31480-e532-11e9-95a2-88cdf3868795.png)

Sorry if duplicated.

[2019-10-02 14:43] matks commented on #11389
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15130

[2019-10-02 14:43] #11389 closed, assigned to sarjon

[2019-10-02 15:16] khouloudbelguith commented on #15794
@elviraprint, this error 404 is very frustrating because it is such a vague error.
So, we need php error log & debug mode report to find what's wrong.

Thanks!

[2019-10-02 15:27] khouloudbelguith commented on #15797
Hi @PrestaShark,

Thanks for your report.
I have the same behavior with PS1.7.6.1 & The product comment module v4.0.0.
![image](https://user-images.githubusercontent.com/16067358/66057929-6a3c3680-e531-11e9-8923-cb01db550feb.png)
Ping @PrestaShop/prestashop-product-team what do you think? can we improve this?

Thanks!

[2019-10-02 15:28] elviraprint commented on #15794
Ok where do I find that ?
Can you do it ?

[2019-10-02 15:29] khouloudbelguith commented on #15794
@elviraprint, Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

[2019-10-02 16:19] khouloudbelguith commented on #15785
@nobreferreira, I manage to reproduce the issue with PS1.7.6.1 after importing the products & combinations
https://drive.google.com/file/d/1zVQzcTNbarrvX_KEpzByq6olCyv47yrs/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Without import => OK
Thanks!

[2019-10-02 16:42] LouiseBonnard commented on #15797
Hi @PrestaShark, do you mean that it appears when a customer account is not deleted? Or is the account deleted but the customer name is still available for the merchant in his/her back office?

[2019-10-02 16:47] tom75 commented on #14269
Hi,

There was already a good example from someone of your team:

_Example:
Nike/Jordan policy gives permision to give discounts for all Jordan Retro shoes except Men size collection.
So i want to add discount to all Jordan products ("Manufacturer: Jordan") but NOT to products with feature "Collection: Men"._

And another example:
In Fashion, there are Seasons of Collections, so, basically Summer

[2019-10-02 16:56] PrestaShark commented on #15797
Comment from guest user (no customer)
His name from the modal input fielsd is in database. Its only FO module bug

[2019-10-02 17:03] LouiseBonnard commented on #15797
Alright, thanks @PrestaShark. @jolelievre, can it be fixed easily?

[2019-10-02 18:24] jonasburneika opened #15800 "hookDisplayAdminProductsExtra($params) doesn't pass $params"
**Describe the bug**
In this hook I can't get any $params data. And if we try to use the variable it crashes with error code 500. I tried to get an error log on dev mode, but it doesn't show any. Also tried to get `$id_product` by `Tools::getValue('id_product')` but this returns `null`

**Steps to reproduce the behavior:**
1. Create a module with hookDisplayAdminProductsExtra($params)
2. Try to va

[2019-10-02 19:17] malcek opened #15801 "Combination error after change color"
I have found out that if you have 2 attribute
**color:**  black and red
**size black:**  36, 38, 40, 42, 44
**size red:** 38,40,42,44
and if default combination is black/36 and if you change color to red you get an error, because red color doesen't have size 36. After that shop is freezing and until reload page you can't do anything

**To Reproduce**
see it on my site: https://trgovina-figura.si/s

[2019-10-03 06:49] DevSTG commented on #15791
Thank you for checking, but unfortunately in my case I get success alerts all the time, but expressions are still not translated. I tried on fresh PrestaShop installation with the same outcome.
Strange thing is also that when I try to translate original domain expressions that appear in my theme like: ShopThemeGlobal or ShopThemeActions they are not saved either (no files are created in my theme t

[2019-10-03 07:23] DevSTG commented on #15791
Here is what appears in PrestaShop log:
[2019-10-03 09:19:54] doctrine.DEBUG: SELECT name FROM ps_module WHERE active = 1 [] []
[2019-10-03 09:19:54] request.INFO: Matched route "api_translation_value_edit". {"route":"api_translation_value_edit","route_parameters":{"_controller":"prestashop.core.api.translation.controller:translationEditAction","_route":"api_translation_value_edit"},"request_uri":

[2019-10-03 07:24] Diraco opened #15802 "Prestashop Checkuot module"
![checkout](https://user-images.githubusercontent.com/56108464/66106929-56d7ac80-e5bf-11e9-8751-9f469437989d.png)
<!--

the pay-in log-in button does not appear in the form

[2019-10-03 07:30] Ferry74 opened #15803 "New products not visible in catalog mode"
The new products block is not visible on the frontpage when shop is in catalog mode.
Changing to maintenance mode with maintenance IP and catalog disabled will show the new products block. I think maintenance mode is independent of catalog mode, but I didn't test that.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Shop Parameters -> General -> Maintenance'
2. Click on 'Enable shop :

[2019-10-03 07:45] DevSTG commented on #15791
I don't know if this may help, but when saving translations, the missing translations counter goes to negative values - something is wrong here
![presta-error](https://user-images.githubusercontent.com/56066938/66108132-352bf480-e5c2-11e9-9001-f5bf1018f6ad.png)

[2019-10-03 07:51] Myrjam opened #15804 "Prestashop Multistore random cookie ID"
So this is the first time I report something, please be patient should I be doing this wrong.

I was notified that in multistore the cookie ID's of the store is handed out randomly and not fixed. This causes all kinds of problems for example that the EU law cookie notification keeps appearing.

Thanks Myrjam

[2019-10-03 07:55] Dupflo opened #15806 "Abandoned cart even after checkout"
Hello the Prestashop community,

I have a question. I am setting up a cart recovery tool for a client but she has noticed me several times that abandoned cart of the same amount as orders made resurfaced ... it could be disturbing if customers receive a mail from raise when we ordered two days before ... Do you know where this problem can come from? You can check the screen to see what is happenin

[2019-10-03 08:13] khouloudbelguith commented on #15257
Hi @Hlavtox,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-03 08:13] #15257 closed, assigned to nobody

[2019-10-03 08:15] khouloudbelguith commented on #15299
Hi @ElderTugBoat786,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-03 08:15] #15299 closed, assigned to nobody

[2019-10-03 08:16] khouloudbelguith commented on #15386
Hi @matteolavaggi,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-03 08:16] #15386 closed, assigned to nobody

[2019-10-03 08:18] khouloudbelguith commented on #15374
Hi @jshrek,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-03 08:18] #15374 closed, assigned to nobody

[2019-10-03 08:19] khouloudbelguith commented on #15372
Hi @jshrek,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-03 08:19] #15372 closed, assigned to nobody

[2019-10-03 08:29] #14929 closed, assigned to matthieu-rolland

[2019-10-03 09:18] #15688 closed, assigned to Robin-Fischer-PS

[2019-10-03 09:30] khouloudbelguith commented on #15801
Hi @malcek,

This issue is fixed in the PS1.7.5.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9390 to fix the issue.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Do

[2019-10-03 09:47] khouloudbelguith commented on #15802
Hi @Diraco,

Could you please provide us a clear description of your exact issue & steps to reproduce it in a new comment?

Thanks!

[2019-10-03 09:54] Maofree opened #15807 "Error in blockreassurance version 4.1.0"
Hi
in the product page I get this error if I enable the module blockreassurance on the product page.
I've unistalled and removed the previous folders and then installed the version 4.1.0 but the error continue to be present

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/66116866-c48dd380-e5d3-11e9-97f2-56523e70c15d.png)

**Additional information**
PrestaShop version: 1.7.5.

[2019-10-03 09:58] LouiseBonnard commented on #15406
Hello @maofree, to keep you posted, we've just talked about it. We do take note of this feedback, but the checkout is a big topic and it makes no sense to change one part without reworking the whole process. In other words, it won't be studied in the next few weeks but when we will decide to rework the checkout.

Meanwhile, I invite you to turn this into a suggestion in the [User Voice](http://fee

[2019-10-03 10:00] noindie commented on #10908
same error

[2019-10-03 10:02] maofree commented on #15807
in my demo site with classic theme there are not errors
I can pass you the access of this site

[2019-10-03 10:19] khouloudbelguith commented on #15807
Hi @maofree,

I did not manage to reproduce the issue wit PS1.7.6.1 &  `blockreassurance` module after upgrade from 3.0.1 to 4.1.0.
But it occurs with PS1.7.5.2 & the `blockreassurance` v4.1.0
![image](https://user-images.githubusercontent.com/16067358/66118956-ec7f3600-e5d7-11e9-960d-d7602e48aaec.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end

[2019-10-03 10:22] khouloudbelguith commented on #15800
Hi @jonasburneika,

I tried with PS1.7.5.2 & PS1.7.6.1 & the BlockYoutubeVideos module.
I tried with `var_dump($id_product);` & it is well displayed
![image](https://user-images.githubusercontent.com/16067358/66118563-fce2e100-e5d6-11e9-9bf5-67e0e974ddaa.png)
Could you please enable debug mode when error 500 s displayed? is there any exception displayed?

Thanks!

[2019-10-03 10:23] maofree commented on #15406
Hi @LouiseBonnard
I know that it is big change, but it is not necessary that I ask for some votes, I've no time to do that. It is not so difficult to understand the motive to change the strategy about the checkout, on addons all checkout are with visible blocks, why they do that? for the same motive, it is necessary to instilling confidence in customers without hiding anything from them because th

[2019-10-03 10:23] malcek commented on #15801
Obviously it didn't fixed, because as you see I have version 1.7.5.2
We are running Cpanel + Cludlinux server + 10.3.18-MariaDB

[2019-10-03 10:25] guigplt commented on #14518
Any idea ?

[2019-10-03 10:28] khouloudbelguith commented on #15806
Hi @Dupflo,

Have you the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/9589?
In fact, Shopping cart is created automatically after login.
Thanks to check & feedback.

[2019-10-03 10:30] khouloudbelguith commented on #15804
Hi @Myrjam,

Thanks for your report.
Could you please add steps to reproduce the issue in a new comment.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - screenshots

Thanks!

[2019-10-03 10:31] maofree commented on #15406
create a new idea

[2019-10-03 10:49] khouloudbelguith commented on #15803
Hi @alowncat,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1 & the `newproducts` module v1.0.1.
If I enable the Catalog mode, this block is not displayed in the FO.
The module is well installed & enabled.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull reques

[2019-10-03 10:57] khouloudbelguith commented on #15791
@DevSTG, Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-10-03 11:06] jonasburneika commented on #15800
Hi, @khouloudbelguith
I have enabled debug mode, but it doesn't show anything, just blank white page. Can you try to var_dump $params variable? Because today I found out that, `var_dump($params['id_product'])` works fine, but `var_dump($params)` crashes.

my method:
`public function hookDisplayAdminProductsExtra($params) {

        echo __FILE__.':'. __LINE__.'<br/ >';echo "<pre>";var_dump($params

[2019-10-03 11:11] DevSTG commented on #15791
@khouloudbelguith
I cleared cache manually as you instructed, but error remains (I did this on fresh shop installment):

[2019-10-03 13:04:53] request.INFO: Matched route "api_translation_value_edit". {"route":"api_translation_value_edit","route_parameters":{"_controller":"prestashop.core.api.translation.controller:translationEditAction","_route":"api_translation_value_edit"},"request_uri":"http:/

[2019-10-03 11:14] sdwebdesign commented on #9833
Hi @wzzly , In All Shops settings when you edit products, all prices are updated for All Shops.
We also marked this as a bug. Because this is stupid behavior. The fix for this can you find here :

    When you are in All shops context Prestashop process edition as you where editing in all shops at the same time.
    price and whosale_price are shop's associated fields. So, if you are in All shops

[2019-10-03 11:22] khouloudbelguith commented on #15800
@jonasburneika, with PS1.7.6.1, I tried with `var_dump` & it is OK
![image](https://user-images.githubusercontent.com/16067358/66122768-d2962100-e5e0-11e9-92f8-ff227ac0d377.png)
Thanks!

[2019-10-03 11:33] khouloudbelguith commented on #15791
@DevSTG, could you please try to regenerate a vendor folder.
Before starting make sure to have a backup of your shop & your database, it is very necessary & you can test with a separate machine from your production.
1. Create a new file composer.json & copy this file: https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/composer.json
2. Rename the folder vendor to vendor_old
3. Run composer insta

[2019-10-03 11:38] khouloudbelguith commented on #15801
@malcek, could you please navigate to your BO => Advanced Parameters => Information & provide us a screenshot about your configuration.
Also, you need to enable debug mode in your store and debug request which is sent for change of combinations on your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. change a combinatio

[2019-10-03 11:42] jonasburneika commented on #15800
@khouloudbelguith can you try with PS1.7.5.2? Maybe it's just in the PS1.7.5.2 version.

[2019-10-03 11:47] Dupflo commented on #15806
Yes I have this issue also but I have another issue that an abandoned cart of the same amount of the order passed previously (186,50€) is reproduced. Like if the ordered cart is recreated after the customer is coming back

[2019-10-03 12:20] malcek commented on #15801
![image](https://user-images.githubusercontent.com/54998637/66125305-e3499580-e5e6-11e9-8444-90e398dace39.png)

as for the system information i can't get it, because I get after few minutes timeout with no results.

[2019-10-03 12:23] khouloudbelguith commented on #15806
@Dupflo, I did not manage to reproduce the issue with PS1.7.6.1.
In your BO => Shop Parameters => Customer Settings page => Re-display cart at login is enabled?
![image](https://user-images.githubusercontent.com/16067358/66126271-653abe00-e5e9-11e9-83e1-5871ab803bc1.png)

Thanks!

[2019-10-03 12:26] toredal commented on #15747
I don't think this is fixed.  It worked perfectly before this last weekend, or so. I'm not sure exactly, but perhaps 2 weeks ago.

I tried:
[code]
and I also get:
[code]
Complete output here https://gist.github.com/toredal/41a6d3d02036dc861461d617b483f15f

[2019-10-03 12:26] PierreRambaud commented on #15687
I'm not qualifying this in Bug, since it doesn't break anything. Updating the .gitignore should be an improvement.

[2019-10-03 12:28] #15052 closed, assigned to eternoendless

[2019-10-03 12:28] khouloudbelguith commented on #15801
@malcek, you have an override of the ProductController.php
![image](https://user-images.githubusercontent.com/16067358/66126490-d4181700-e5e9-11e9-8254-371875535946.png)
You should edit it because it is not compatible with your PrestaShop version.
You need to contact the module author if it is added by a custom module.

Thanks!

[2019-10-03 12:54] Dupflo commented on #15806
This is not enable this is why I don't understand

[2019-10-03 12:56] khouloudbelguith commented on #15806
@Dupflo, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-cr

[2019-10-03 12:56] mrabsinthe opened #15809 "Editing order - value of an item"
BO-> Orders -> Edit order -  If you want to edit price of any product and set it to 0.00 (should be available), you'll receive an alert message: Error: Product price must be set
However if you would like to add any product to the same order with 0.00 price, you are able to. But if you would like to change the product with zero price later (change the qty), you cannot because you'll receive the sam

[2019-10-03 13:00] Dupflo commented on #15806
![image](https://user-images.githubusercontent.com/39828779/66128607-76d29480-e5ee-11e9-889e-80ebeed2c420.png)

[2019-10-03 13:01] Dupflo commented on #15806
![image](https://user-images.githubusercontent.com/39828779/66128690-ac777d80-e5ee-11e9-92a9-6080ea1acb7f.png)

[2019-10-03 13:03] Dupflo commented on #15806
What you can do is
-Create an order
-Disconnect go back to your login (it should create a 0€ cart)
-Go like if you would like to check your order status as a customer
-Look if your last order cart comes back in the BO

[2019-10-03 13:06] khouloudbelguith commented on #15806
@Dupflo, di you use the module MailChimp for example?

Thanks!

[2019-10-03 13:07] JuanjoSCu commented on #15782
@antondelrio I think what I reported here https://github.com/PrestaShop/PrestaShop/issues/15640  happens to you

[2019-10-03 13:08] khouloudbelguith commented on #15809
Hi @mrabsinthe,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9830
So, I close it.
Thanks!

[2019-10-03 13:08] #15809 closed, assigned to nobody

[2019-10-03 13:08] khouloudbelguith commented on #15809
Duplicate of #9830

[2019-10-03 13:09] khouloudbelguith commented on #15782
@antondelrio, are you assigning a supplier to a product ?

Thanks!

[2019-10-03 13:13] Dupflo commented on #15806
Mailjet !

[2019-10-03 13:14] khouloudbelguith commented on #15806
@Dupflo, what is the exact name of this module?

Thanks!

[2019-10-03 13:17] khouloudbelguith commented on #15800
@jonasburneika, it is Ok with PS1.7.5.2 also
![image](https://user-images.githubusercontent.com/16067358/66129842-f19caf00-e5f0-11e9-81f5-7efb76917443.png)

Thanks!

[2019-10-03 13:19] Dupflo commented on #15806
Module Smart Cart Reminder / Relance Panier Intelligent and Mail Jet Email Newsletter but I do not believe it came from a module

[2019-10-03 13:22] khouloudbelguith commented on #15806
@Dupflo, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-10-03 13:24] ethercreation opened #15810 "Bug Link admin Module Controller"
Hello,

Currently I am getting issue on my module's admin controller render list page in Prestashop V1.7.6.1 while my controller's render list has some data.
After research, I found that I am getting this issue because I am not using $this->identifier name similar to $this->table name on module's admin controller page.
For example, my table name is 'product_review' and here I am using primary key

[2019-10-03 13:26] ethercreation commented on #15810
Correctif :
/src/Adapter/Routing/LegacyHelperLinkBuilder.php

Before 👎
    private function buildActionParameters($action, $entity, array $parameters)
    {
        unset($parameters['current_index']);
        $viewAction = $action . $entity;
        $entityId = 'id_' . $entity;
        $parameters = array_merge(
            $parameters,
            [$entityId => $parameters[$entityId], $viewActio

[2019-10-03 13:29] khouloudbelguith commented on #15810
Hi @ethercreation,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15382 to fix the issue.
It is fixed in the next patch 1.7.6.2.
Your ticket is a duplicate of #15333
So, I close it.
Thanks!

[2019-10-03 13:29] #15810 closed, assigned to nobody

[2019-10-03 13:29] khouloudbelguith commented on #15810
Duplicate of #15333

[2019-10-03 13:43] Dupflo commented on #15806
I just figure out what happen.. I try to reproduce and what happen is that the button "reorder" is placed on a zone to facilitate the "click" and the same cart came from it

So I will closed the issue that is not really an issue

[2019-10-03 13:45] #15806 closed, assigned to nobody

[2019-10-03 13:58] khouloudbelguith commented on #15806
@Dupflo, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-03 14:24] marionf commented on #15807
Fixed by https://github.com/PrestaShop/blockreassurance/pull/30

[2019-10-03 14:24] #15807 closed, assigned to Progi1984

[2019-10-03 14:43] farzane60 commented on #9807
Excellent

[2019-10-03 14:53] colinegin commented on #13228
@eternoendless @matks as we have to make a full refacto of the price calculation system, does this mean this issue no longer makes sense for 1.7.7 ?

[2019-10-03 14:56] matks commented on #13228
@colinegin No, luckily this issue is related to the Cart Presenter (how data from cart are being computed to be used in the front office) which is a lot easier to deal with. It's outside of the big rework of price calculation and can be quickly.

[2019-10-03 15:05] #15315 closed, assigned to nobody

[2019-10-03 15:24] w2019fgatfield opened #15812 "virus on chrome"
**Describe the bug**
this bug is when you have used google chrome for a long time and lots of weird adds start popping up.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to "https://www.opera.com/download"
2. Click on 'Download Opera'
4.Go to settings and uninstall google chrome
**Screenshots**

![Capture](https://user-images.githubusercontent.com/56039030/66140541-36791380-e5fa-11e9-9a90

[2019-10-03 15:32] khouloudbelguith commented on #15812
Hi @w2019fgatfield,

Please be aware that this bug tracker should be used to report issues only related to PrestaShop.

Thanks for your understanding!

[2019-10-03 15:32] #15812 closed, assigned to nobody

[2019-10-03 15:39] w2019fgatfield commented on #15812
would you be able to help me start of on coding.
thanks
w2019fgatfield@

On Thu, Oct 3, 2019 at 4:32 PM khouloudbelguith <notifications@github.com>
wrote:

[2019-10-03 15:44] #10739 closed, assigned to matks

[2019-10-03 15:45] elmanu13 opened #15813 "Backoffice header template differ from one page to another"
1. Go to main backoffice page
2. Check the html template of the header menu : list items UL/LI
3. Go to catalog-->stock page
4. Check the html template of the header menu : div items

It's a problem for some modules that add an access on the header, using DIV (for example, "easy login as customer" module).
The display will be different on the pages and can even cause functionnal problems.

Why the

[2019-10-03 15:48] IlPizza79 commented on #15385
Sorry to bump again... any news?
Since last update, we still can't use webservice on our website... and that's frustrating :-(

[2019-10-03 15:49] khouloudbelguith commented on #15747
Hi @smartsoftbox, @toredal,

Same issue.
[code]
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-10-03 15:52] khouloudbelguith commented on #15813
Hi @elmanu13,

are you comparing the Dashboard page & the Stocks page?
The Dashboard page is not migrated to Symfony but the Stocks page is migrated to Symfony.

Thanks!

[2019-10-03 15:55] elmanu13 commented on #15813
Dashboard page was an example, the problem is on many other pages.
Can I have the list of the symfony migrated pages somewhere ?

[2019-10-03 15:55] jonasburneika commented on #15800
Hi, @khouloudbelguith thanks for your time.

[2019-10-03 15:55] #15800 closed, assigned to nobody

[2019-10-03 15:58] khouloudbelguith commented on #15813
@elmanu13, We are working hard to migrate all pages to Symfony.
You can follow our Project "Symfony migration"
https://github.com/PrestaShop/PrestaShop/projects/3
In the PS1.7.6.0, we made this:
Symfony Migration - new pages

- Catalog > Categories
- Catalog > Categories > Add new / edit category
- Catalog > Brand & Suppliers > Brands > Add new brand
- Catalog > Brand & Suppliers > Suppliers (will

[2019-10-03 15:59] khouloudbelguith commented on #15800
@jonasburneika, you are welcome!
Feel free to open a new one when needed.

Thanks!

[2019-10-03 16:00] elmanu13 commented on #15813
Perfect answer, thanks !
So I guess you can close it as it's not really an issue ;-)

Good work !

[2019-10-03 16:01] khouloudbelguith commented on #15813
@elmanu13, Yes!
Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-03 16:01] #15813 closed, assigned to nobody

[2019-10-03 16:11] zenerry commented on #12760
Hello folks,
I'd like to comment this thread despite it is closed now,
Is there any way to use "category image" an "thumbnail category image" separetly?
I unsderstand that classic theme doesn't, but other people might try to use them like so (as I'm trying).

Thanks!

[2019-10-03 16:31] PierreRambaud commented on #15385
Since these are just warning in back office, I don't understand why you can't use webservices? 🤔

[2019-10-03 17:36] jf-viguier commented on #15574
Hi all, have you validated the fix #15691 for this bug ?

[2019-10-03 19:35] jlorquin commented on #15708
Contacted them and they fixed it! Thanks!

[2019-10-03 19:35] #15708 closed, assigned to nobody

[2019-10-03 19:40] dakkafex commented on #15004
what is the fix?

[2019-10-03 19:43] DoIB commented on #15667
I checked. It's unchanged.

[2019-10-03 21:13] antondelrio commented on #15782
Hi both,
first of all, thanks!

the problem happens with any change in the product.

In the next video you can see it.
https://drive.google.com/open?id=1KFTV5tgw6RMMm5UI2_naeZQOERqqEuKJ

I attache the logs i can get. I don't know how to get the php an apache logs, and I asked them to the hosting provider. As soon as i get them i will post them.
[dev.log](https://github.com/PrestaShop/PrestaShop/fi

[2019-10-03 23:04] kpodemski commented on #9861
Same issue reported by my customer, multi store things on migrated pages should be reworked as soon as possible, every new migrated page will have this issue I guess :-/

[2019-10-03 23:46] kpodemski commented on #15702
I'm pretty sure this would be a breaking change :)

[2019-10-03 23:57] kpodemski commented on #10762
hey @rGaillard could you tell me more about those technical issues?

[2019-10-04 07:15] matks commented on #15702
@kpodemski To make it less violent, we could only allow this in DEBUG mode, or convert it to a notice error message ?

[2019-10-04 07:36] Jeydh commented on #14903
I'm not sure it's related to this problem but the function setWsCategories() in classes/Product.php looks to work in a wrong way to me.
No matter what you send in position_in_category, the datas in category_product table (sorted by product id) is deleted and recreated as if it was sorted by the category id.
Feel free to check that by yourself, it's only my observations, maybe I got something wrong

[2019-10-04 07:42] Myrjam commented on #15804
I don't have much more information. I've had a module that didn't work as it was supposed to. The developer of the module said this was the cause of the problem.
I noticed myself that every time I visit the front of my store (after restarting my PC for example) I get a notification that I should only get once.
Prestashop version is 1.7.6.1

[2019-10-04 07:46] khouloudbelguith commented on #15353
Hi @slomoo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-04 07:46] #15353 closed, assigned to nobody

[2019-10-04 07:48] khouloudbelguith commented on #15387
Hi @sszr22,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-04 07:48] #15387 closed, assigned to nobody

[2019-10-04 07:49] khouloudbelguith commented on #15402
Hi @slomoo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-04 07:49] #15402 closed, assigned to nobody

[2019-10-04 07:49] khouloudbelguith commented on #15349
Hi @Padelhouse,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-04 07:49] #15349 closed, assigned to nobody

[2019-10-04 07:51] khouloudbelguith commented on #15708
@jlorquin, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-04 07:56] khouloudbelguith commented on #15667
Hi @DoIB,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-10-04 07:56] #15667 closed, assigned to nobody

[2019-10-04 08:01] khouloudbelguith commented on #15804
@Myrjam, so the issue occurs due to this module? is it?

Thanks!

[2019-10-04 08:09] davidglezz opened #15815 "Cannot use object of type ParameterBag as array"
I get exception when saving a product: Cannot use object of type ParameterBag as array.
[code]

This was caused by a module trying to call a function that did not exist by mistake in the name. It was quite difficult for me to find the problem since the error log did not show anything about this.

**We can see that [$attributes prop of class Request](https://github.com/symfony/http-foundation/blob/

[2019-10-04 08:10] marionf opened #15816 "[EPIC] - Specific price by quantity in FO"
**All issues related to Specific price by quantity in FO**

## BUGS
- [ ] #15933 - Bad price amount when specific prices by quantity are applied and delivery address is on a country with price with tax excluded
- [x] #9642 - [BOOM-5562] An empty () is displayed in the product page FO

## IMPROVEMENTS

## Fixed
- [x] #15817 - Change wording in FO when there is specific price by quantity
- [x] #9929

[2019-10-04 08:18] Myrjam commented on #15804
It is the other way around, the module experiences problems due to the fact that prestashop hands outs random cookie ID's in multistore.

[2019-10-04 08:18] khouloudbelguith commented on #15782
@antondelrio, thanks for your feedback.
I found these errors:

[2019-08-19 14:57:49] request.CRITICAL: Uncaught PHP Exception PrestaShop\PrestaShop\Core\Localization\Exception\LocalizationException: "Price specification not found for currency: """ at /var/www/vhosts/nutribionatur.com/httpdocs/src/Core/Localization/Locale.php line 171 {"exception":"[object] (PrestaShop\\PrestaShop\\Core\\Localizati

[2019-10-04 08:19] IlPizza79 commented on #15385
You know, you're right :-)
I must apologize, my webservice were really broken but it wasn't Prestastashop fault. After reading your comment I double checked my server configuration and I found out that it was just a misconfiguration. My fault :-(

I REALLY thank you for your comment, you've pointed me in the right direction :-)

[2019-10-04 08:21] marionf opened #15817 "Change wording in FO when there is specific price by quantity"
To create discount by quantity:
1. Edit a product (Catalog > Products)
2. Click on price tab
3. Click on add a specific price
4.  Fill "Starting at" and "Apply a discount of" fields
5. See the product in FO

- [x] Replace "Discount" by "Unit discount"
=> Displayed when _Display discounted price_ is set to _No_ in Shop parameters > Products
- [x] Replace "Price" by "Unit price"
=> Displayed when _D

[2019-10-04 08:24] MatShir opened #15818 "[ORDER PAGE] Order Actions (update status, view invoice, delivery slip) - 1/11"
Part of the order page migration and redesign project.

**User Storie**

As a merchant, when I check an order, I need to be able to change the order status and to view the invoice & the delivery slip

**Detailed specification**
Specs on the repo prestashop-specs
[Order Action Specs](https://github.com/PrestaShop/prestashop-specs/blob/cc476f1fc0c71c63bd3ba4879131f5163fca05e7/Order%20Page%20View.md#

[2019-10-04 08:28] MatShir opened #15819 "[ORDER PAGE] Print Order - 2/11"
Part of the order page migration and redesign project.

**User Storie**

As a merchant, when I check an order, I need to be able to print my order.

**Detailed specification**
Specs on the repo prestashop-specs
[Order Action Specs
](https://github.com/PrestaShop/prestashop-specs/blob/cc476f1fc0c71c63bd3ba4879131f5163fca05e7/Order%20Page%20View.md#i-action-panel)

[2019-10-04 08:30] MatShir opened #15820 "[ORDER PAGE] Partial Refund - 3/11"
Part of the order page migration and redesign project.

**User Story**

As a merchant, when I check an order, I need to be able refund my client.

**Detailed specification**
Specs on the repo prestashop-specs
[Order Action Specs](https://github.com/PrestaShop/prestashop-specs/blob/cc476f1fc0c71c63bd3ba4879131f5163fca05e7/Order%20Page%20View.md#i-action-panel)

[2019-10-04 08:35] MatShir opened #15821 "[ORDER PAGE] Customer block - 4/11"
Part of the order page migration and redesign project.

**User Story**

As a merchant, when I check an order, I need to be able to know who made the order.

**Detailed specification**
Specs on the repo prestashop-specs
[Customer Panel Specs](https://github.com/PrestaShop/prestashop-specs/blob/cc476f1fc0c71c63bd3ba4879131f5163fca05e7/Order%20Page%20View.md#ii-customer-panel)

[2019-10-04 08:40] MatShir opened #15822 "[ORDER PAGE] Status Tab Order - 5/11"
Part of the order page migration and redesign project.

**User Story**

As a merchant, when I check an order, I need to be able to see the status history with the editor of the status changes.

**Detailed specification**
Specs on the repo prestashop-specs
[Status tab](https://github.com/PrestaShop/prestashop-specs/blob/cc476f1fc0c71c63bd3ba4879131f5163fca05e7/Order%20Page%20View.md#v-tabs-panel)

[2019-10-04 08:42] MatShir opened #15823 "[ORDER PAGE] Documents Tab Order - 6/11"
Part of the order page migration and redesign project.

**User Story**

As a merchant, when I check an order, I need to be able to see all the documents generated by the order.

**Detailed specification**
Specs on the repo prestashop-specs
[Documents tab
](https://github.com/PrestaShop/prestashop-specs/blob/cc476f1fc0c71c63bd3ba4879131f5163fca05e7/Order%20Page%20View.md#v-tabs-panel)

[2019-10-04 08:44] MatShir opened #15824 "[ORDER PAGE] Shipping Tab Order - 7/11"
Part of the order page migration and redesign project.

**User Story**

As a merchant, when I check an order, I need to be able to see the order's shipping information.

**Detailed specification**
Specs on the repo prestashop-specs
[Shipping Tab
](https://github.com/PrestaShop/prestashop-specs/blob/cc476f1fc0c71c63bd3ba4879131f5163fca05e7/Order%20Page%20View.md#v-tabs-panel)

[2019-10-04 08:45] khouloudbelguith commented on #15804
@Myrjam, could you please add this line
`var_dump(Context::getContext()->cookie);` to your file `index.php` & check if there are random cookies.
In the meantime, you can find this document about cookies
[250518_COOKIE_POLICY_FR (1).pdf](https://github.com/PrestaShop/PrestaShop/files/3689691/250518_COOKIE_POLICY_FR.1.pdf)

Thanks!

[2019-10-04 08:46] MatShir opened #15825 "[ORDER PAGE] Merchandise return Tab Order - 8/11"
Part of the order page migration and redesign project.

**User Story**

As a merchant, when I check an order, I need to be able to see the returned merchandise interaction.

**Detailed specification**
Specs on the repo prestashop-specs
[Merchandise return Tab
](https://github.com/PrestaShop/prestashop-specs/blob/cc476f1fc0c71c63bd3ba4879131f5163fca05e7/Order%20Page%20View.md#v-tabs-panel)

[2019-10-04 08:51] MatShir opened #15826 "[ORDER PAGE] Products Panel 1/2 - 9/11"
Part of the order page migration and redesign project.
**This part doesn't integrate the pagination in the product list.**

**User Story**

As a merchant, when I check an order, I need to be able to see the ordered products by my client. I need to be able to edit and add products to compleat the order.

**Detailed specification**
Specs on the repo Prestashop-specs
[Product Panel specs
](https://gi

[2019-10-04 08:53] khouloudbelguith commented on #15815
Hi @davidglezz,

Could you please provide the exact steps to reproduce the issue & a demo module to test it.

Thanks!

[2019-10-04 08:54] MatShir opened #15827 "[ORDER PAGE] Payments Tab - 10/11"
Part of the order page migration and redesign project.

**User Story**

As a merchant, when I check an order, I need to be able to see all the payment interaction.

**Detailed specification**
Specs on the repo prestashop-specs
[Payment Tab specs
](https://github.com/PrestaShop/prestashop-specs/blob/cc476f1fc0c71c63bd3ba4879131f5163fca05e7/Order%20Page%20View.md#v-tabs-panel)

[2019-10-04 08:57] MatShir opened #15828 "[ORDER PAGE] Messages Panel - 11/11"
Part of the order page migration and redesign project.

**User Story**

As a merchant, when I check an order, I need to be able to write to my client and see all our conversation.

**Detailed specification**
Specs on the repo prestashop-specs
[Messages Panel specs
](https://github.com/PrestaShop/prestashop-specs/blob/cc476f1fc0c71c63bd3ba4879131f5163fca05e7/Order%20Page%20View.md#iii-messages-pane

[2019-10-04 09:14] matks commented on #15137
👍

Sad thought: we will never be able to do this in the core 😢because we want the software to remain an easy setup: PHP + web server + mysql.

However this could become a nice module 😉if you feel like giving it a try. There are already a few modules on Addons marketplace (https://addons.prestashop.com/fr/recherche?search_query=elasticsearch) leveraging the capabilities of elasticsearch

[2019-10-04 09:22] LouiseBonnard opened #15829 "[EPIC] Localization packs rework - 1.7.7"
Since the information in localization packs is not automatized yet, this issue is here to gather all the tasks to do for the next 1.7.7 PrestaShop version in order to update as much localized data as possible.

## Countries

- [x] #15234 - Add states to India / Fixed in #15627
- [x] #15232 - Switch zone for Croatia / Fixed in #15618
- [x] #13636 - Adding zones for: Austria, Switzerland, Denkmark,

[2019-10-04 09:26] Azur42 opened #15830 "Referrers problem"
This bug is present in Prestashop since a long time, and unfortunately It seems no one at Prestashop does care about Referrers !  My Prestashop site in 1.7.5.2 (and PHP 7.0.33), but as of today this bug concern all 1.7 versions, and still exists in the last 1.7.6.1 !

The documentation (http://doc.prestashop.com/display/PS17/Referrers) confirm it is possible to create and use Referrers and states

[2019-10-04 09:29] khouloudbelguith commented on #15830
Hi @Azur42,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9780
So, I close it.
Thanks!

[2019-10-04 09:29] #15830 closed, assigned to nobody

[2019-10-04 09:29] khouloudbelguith commented on #15830
Duplicate of #9780

[2019-10-04 09:30] PrestaShark commented on #15137
@PierreRambaud did a impresive work with Faceted Search module in last months and few last weeks. Im very thankful about it! I repeat my request timidly to include functional pages such as search results, specials, new produts to module :)

[2019-10-04 09:37] Azur42 commented on #15830
Thanks khouloudbelguith , I was not aware for ticket #9780, so I will follow it.

Thanks again for your support !

[2019-10-04 09:48] marionf commented on #15137
Hello guys,

Yes, a lot of work has been done to improve faceted search these last months.
We are currently focused on the 1.7.7
So this improvement will not be integrated right now, I hope we could rework on facetedsearch after the 1.7.7

[2019-10-04 09:49] marionf commented on #14518
Hello guys,

A lot of work has been done to improve faceted search these last months.
We are currently focused on the 1.7.7
So this improvement will not be integrated right now, I hope we could rework on facetedsearch after the 1.7.7

[2019-10-04 09:53] PrestaShark commented on #15137
Yes @marionf - 🔥🔥🔥 in module was extinguished for a while ;) Thanks! Let's focus on other improvements! 💪

[2019-10-04 10:00] ghost opened #15831 "Direct access to customer's view missing from Customers list row"
**Describe the bug**
In Customers > Customers

Missing behavior following the "Customers" page migration.
In 1.7.5.2. when clicking on a row, it opens the customer's view page.
In 17.6.1 it doesn't work anymore.

Workaround:
It is still possible to access the customer's view via the actions dropdown on the right side of the rows. But it takes 2 clicks instead of one #productivity.

**To Reproduce*

[2019-10-04 10:04] khouloudbelguith commented on #15831
Hi @samuel-pires,

Same issue with PS1.7.6.1.
I think it is a regression, we should add the regression label, what do you think?

Thanks!

[2019-10-04 10:05] samuel-pires commented on #15831
Apparently this behavior is missing from many tables in migrated pages (not enough detailed specs).

@matks do you want us to regroup all the impacted tables and create an EPIC?

@PrestaShop/prestashop-core-developers do we consider this issue as a regression? To me it is., and it should be fixed before releasing a new version.

[2019-10-04 10:08] khouloudbelguith commented on #15815
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-10-04 10:40] guigplt opened #15833 "Allow / disallow order when out of stock at combination level"
Problem :
We have a lot of product out of stock with possibility to order, and we have a lot of product with combinations.
When a combination is not available, we have to disallow order on the product.
By doing that, all the combinations of this product can't be ordered (if out of stock).

Solution :
Allow / disallow order when out of stock option should be configurable at combination level.

Rega

[2019-10-04 10:41] lichesser opened #16992 "Sitemap includes child-categories of inactive parent category"
Hello,

PrestaShop: 1.7.6.1

if a category ist set to inactive (active = 0) it correctly doesn't get included in the generated sitemap anymore, but "active" child-categories of the inactive parent category are still included.

This seems unintuitive. Maybe a new solution for `getCategoryLink` is needed. I think it should be possible to use `getNestedCategories`  to get the correct category tree.

[2019-10-04 10:46] lichesser opened #16991 "Generating sitemap in Backend with >25000 links fails"
Hello,

PrestaShop: 1.7.6.1

if you have a shop with >25000 products, generating the sitemap in the backend (not via the Cron-URL) fails.

The first sitemap file is generated and contains ~25000 URLs.

The redirect (with `continue=1`) which is supposed to create the next sitemap file doesn't work.

The redirect ends up in the "Module Catalog" in the backend.

Thus the missing sitemap files and the

[2019-10-04 10:50] khouloudbelguith commented on #15833
Hi @guigplt,

In your case, "Allow ordering of out-of-stock products" option is enabled, you want to add an option for the product with combinations, if a combination is not available => this combination can't be ordered, but with this new option, we will have a contradiction of two options.

PS: In the BO => Shop Parameters => Product Settings => we have an option to "Display unavailable product

[2019-10-04 11:30] idnovate opened #15834 "Amount paid is no longer validated when creating an order"
**Describe the bug**
When the amount paid sent in `validateOrder()` doesn't match with order total, order is created with state sent as a parameter (usually `Configuration::get('PS_OS_PAYMENT')`) instead of `Configuration::get('PS_OS_ERROR')` as in PS 1.7.5.2.

Since commit https://github.com/PrestaShop/PrestaShop/commit/57271b54b33503a31a103e95050f110f66c43dec#diff-0f162f4cf098397033f06b1cced0174

[2019-10-04 11:34] guigplt commented on #15833
I think you did not understand what we want.

I give you an example :
Take a product with 2 combinations : black and white.
- The black is out of stock but available at supplier
- The white is out of stock and not available at supplier

-> So we have to allow order for the black and disallow order for the white.

[2019-10-04 11:34] khouloudbelguith commented on #15834
Hi @idnovate,

Thanks for your report.
Thanks to follow this [comment](https://github.com/PrestaShop/PrestaShop/issues/14648#issuecomment-515520400) of our lead developer about the payment module issues with PS1.7.6.
Thanks to check & feedback.

[2019-10-04 11:37] khouloudbelguith commented on #15833
@guigplt, thanks for these clarifications.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-04 12:00] colinegin commented on #10762
@PrestaShop/prestashop-contributors what do you guys think ?

[2019-10-04 12:12] rGaillard commented on #10762
At this step your customer can be on your payment gateway payment page, how do you handle this case? You just refuse the return of your payment gateway with no link between your shop and your payment gateway? This is a bad idea...

[2019-10-04 12:16] idnovate commented on #15834
Not related.

1. Please install this module in PS 1.7.6.1:
[redsysoficial.zip](https://github.com/PrestaShop/PrestaShop/files/3690435/redsysoficial.zip)

2. Configure it this way:
![image](https://user-images.githubusercontent.com/15104724/66206566-bcf02c80-e6b0-11e9-94d1-7aa72fdcf6ae.png)

_(copy-paste)
Commerce: 327234688
Key: sq7HjrUOBfKmC576ILgskD5srU870gJ7_

3. Open frontoffice and add a prod

[2019-10-04 12:18] guigplt commented on #15833
Ok (the link @PrestaShop/prestashop-product-team doesn't exist).
Is it possible to follow the progress of my request ?

[2019-10-04 12:29] khouloudbelguith commented on #15833
@guigplt, it is not accessible in your case because you are not a member.
Yes!
I pinged our Product Team to follow your request.

Thanks!

[2019-10-04 12:31] PierreRambaud commented on #15815
The fix seems legit, ParameterBag couldn't be interpreted as array.
Because we maybe never run in `SUB_REQUEST` context, this is why we never had this error :thinking:

[2019-10-04 12:37] kpodemski commented on #10762
Hmmm, you won't be on payment gateway before clicking "Payment with an obligation to pay", right? We're talking about 1.7 only of course, the only issue i see could be with PayPal Express module and modules which skips this step...

[2019-10-04 12:38] kpodemski commented on #15702
@matks notice should be ok 👍

[2019-10-04 12:43] khouloudbelguith commented on #15834
@idnovate, I have an error on the FO
![image](https://user-images.githubusercontent.com/16067358/66208361-30943880-e6b5-11e9-912a-d82f12dd66b0.png)
Here's my configuration => similar to yours
![image](https://user-images.githubusercontent.com/16067358/66208428-53265180-e6b5-11e9-81eb-2f36c8e7072b.png)

Thanks to check & feedback.

[2019-10-04 12:47] idnovate commented on #15834
This error appeared after you insert the card?

[2019-10-04 12:49] idnovate commented on #15834
Please test it in a store accessible from the outside without maintenance mode to receive the payment confirmation.

[2019-10-04 12:53] PierreRambaud commented on #15385
@IlPizza79 At least because of you, we improve our warnings messages :sweat_smile:
Thanks for your contribution!

[2019-10-04 12:55] PierreRambaud commented on #15137
It could be awesome if we plan to integrate Elastic in the faceted search module :roll_eyes: (Interface are ready for it at least :sweat_smile:)

[2019-10-04 12:56] khouloudbelguith commented on #15834
@idnovate,

No, before
https://drive.google.com/file/d/1MkRDWCCc30tVH4ANzQh-2kHx9AoYrYJy/view
I tried with this shop also: http://optimal-scarf.machine-shuffle.prestashop.net/en/: store accessible from outside & without maintenance mode.
Same issue

Thanks!

[2019-10-04 12:59] PierreRambaud commented on #15831
@samuel-pires at least for me, it's regression and must be fixed!

[2019-10-04 13:00] idnovate commented on #15834
Error SIS0063 is "Card not available". Why is it submitting empty card form? Do you have any extension doing so?

[2019-10-04 13:02] khouloudbelguith commented on #15834
@idnovate, no, I don't have any extension.
Did you try with the shop that I sent you?

Thanks!

[2019-10-04 13:04] idnovate commented on #15834
Yes, and the form remains quiet until I introduce the card.

Could you try in private mode with Spanish VPN?

[2019-10-04 13:06] khouloudbelguith commented on #15834
@idnovate, yes, in fact, I'm using a VPN while testing this shop.

Thanks!

[2019-10-04 13:24] marionf opened #15835 "Bad discount amount when specific price by quantity is configured tax excl and prices are displayed tax incl in FO"
- [ ] **Case 1**

Taxes are enabled in International > Taxes
_Display discounted price_ is set to _No_ in Shop parameters > Products
Product price tax excl: 10€
VAT: 23%
Product price tax incl: 12,30€
Now, I add a specific price for which **I change the initial price tax excl for 8€ from 10 units**.
I change _Apply a discount of_ for 0€ **tax excl**

<p><span class="image-wrap" style=""><a id="651

[2019-10-04 13:28] #15287 closed, assigned to nobody

[2019-10-04 13:29] #9929 closed, assigned to matthieu-rolland

[2019-10-04 13:47] samuel-pires commented on #15137
I've heard PrestaRocket built a faceted search module integrating Algolia, works pretty well and I believe they are thinking about making it Open Source.

Would that be interesting or it's really different with Elastic?

[2019-10-04 13:48] marionf commented on #15835
Fixed by #15549

[2019-10-04 13:55] ttoine commented on #15137
With Elastic it would be possible to stay 100% open source and to manage the data without a third party service. (well, of course, one would need the knowledge to run and maintain an Elastic instance on their infra)

[2019-10-04 13:59] matks commented on #15137
Same issue: it means to use it you need to subscribe to Algolia, and not everybody can do that. So this would be an option, enabled only for the people willing to use it. I dont think we should spend time working on a topic that has such strict requirements 😐as it means focusing on only a fraction of users.

[2019-10-04 14:00] PierreRambaud commented on #15137
:+1: @ttoine  And you can do a lot of things with Elastic.
And as @matks it must depends on how many people need this feature. (Even if it's cool to implement this kind of feature :D)

[2019-10-04 14:11] lpvm opened #15836 "Installation asks for inexistent file anything.html"
When installing Prestashop, after the creation of the tables, there's an error

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. When installing via web access, `Create file parameters` is stricken through, and green
2. `Create database tables` is in red, installation progress at 12%
3. An error occurred during installation...
4. ERROR [console] Error thrown while running command "prest

[2019-10-04 14:13] samuel-pires commented on #15831
Alright, I'll identify all impacted tables and define the missing behavior in the specs. So we can fix it.
Will add issues in the 1.7.6 project.

[2019-10-04 14:15] khouloudbelguith commented on #15836
Hi @lpvm,

This failure comes from an IntlException which is an exception thrown when dealing with Intl issues. Meaning: internationalization. So here are 2 things you can check:

- does your failing server has the right intl extension enabled for Prestashop?
- what languages and currencies are enabled on your failing server? maybe there's one not enabled on your stage server, and that would expla

[2019-10-04 14:19] ttoine commented on #15137
That would make a very attractive module, and it would make PrestaShop to compete with the Magento 2 requirement of Elastic.

BTW, to take another example, it's like using Google Analytics (a third party service) or run a Matomo instance (open source, you own the data). This way, no need of a third party cookie banner, this has actually a lot of value.

[2019-10-04 14:30] copyact opened #15837 "PRestashop 1.7.5.1 and ps_facetedsearch v. 3.3.0"
**Describe the bug**
I have installed prestashop 1.7.5.1 with template and there was a ps_facetedsearch v.2.2.0 which was working fine. I upgraded this module to 3.3.0 and now the price slider is not working. It's hidden.

You can see that on screenshot or at https://gry-basanti.pl/184-gry-karciane

I don't know why but something adds display:none to the code:
<div id="slider-range_39140" class="u

[2019-10-04 14:36] #13168 closed, assigned to Progi1984

[2019-10-04 14:55] LouiseBonnard opened #15838 "Create a repository to stock localization files"
**Is your feature request related to a problem?**
As it works now, the files related to the localization packs are stocked in the core and it is not ideal.

**How it works currently?**
Currently, they are .xml files on a server and they have not been updated since their creation for the 1.7.0 version. After that, it is the back office that reads a file in the server to retrieve the list of all ava

[2019-10-04 15:01] khouloudbelguith commented on #15837
Hi @copyact,

I did not manage to reproduce the issue with PS1.7.6.1 & ps_facetedsearch module after upgrade from v3.0.6 to v3.3.0.
It is OK with PS1.7.5.1 & ps_facetedsearch module after upgrade from v2.2.0 to v3.3.0.
https://drive.google.com/file/d/1hwt-bDNPKnGz-vJxKc9xN0HKrAjIYPO1/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue

[2019-10-04 15:07] psydomin opened #15839 "Wholesale Price rounded on save (Product with combinations)"
**Describe the bug**
If you set the wholesale price of a combination to 1.11 and save. Reload the page and save again. The wholesale price of the combination will be rounded to 1.00000.
If after changeing the wholesale price and saving you open the combination, click the input field and save, it wont change the wholesale price.

As far as I could tell it only happens with wholesale price.

**To Re

[2019-10-04 15:12] khouloudbelguith commented on #15839
Hi @psydomin,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9972
So, I close it.
Thanks!

[2019-10-04 15:12] khouloudbelguith commented on #15839
Duplicate of #9972

[2019-10-04 15:12] #15839 closed, assigned to nobody

[2019-10-04 16:14] jvolta-1976 opened #15841 "Prestashop 1.7.6.1 Back Office Error"
**Describe the bug**
In my back office of prestashop 1.7.6.1 when i go to Order Settings > Shopping Cart to view Active Shopping Carts i'm getting this error http://prntscr.com/pex2zk
Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any incon

[2019-10-04 16:18] kandiaga commented on #9780
Hi,
I just  fix  the issue, you can now  download  it from the PrestaShop Offical  forum  website:
https://www.prestashop.com/forums/topic/1003465-free-module-tracking-front-for-17/

[2019-10-04 16:20] elviraprint commented on #15794
hi
Since I gave you the code and ask to have a look on the website everything goes incorrect look the error I got !

Dinde have that 2 days ago and a lot of new module have been download without my permission !

Anyway what do I do with that ?

You add a product on the cart
And thats whats you see on the cart page ?????
Please
thanks

[2019-10-04 16:37] ip413 opened #15842 "Order reference should be generated by hashids lib (or similar)"
**Problem**
When shop is using short order reference, example: `Tools::passwdGen(4, 'NUMERIC');` (3456, 6534, 2236) there is possibility of generating previously used numbers in a row.
This is uneffective, and dangerous when most random order references are taken, because loop from PaymentModule.php could run many times
`do {
$reference = Order::generateReference();
} while (Order::getByReference(

[2019-10-04 18:03] jaxtheking opened #15843 "Mail Templates generation not using twig files from custom email theme (Modern theme is always used instead)"
**Describe the bug**
When re-generating mail templates using a custom email theme, the generated emails do not contain the modifications implemented in the custom theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom theme by duplicating /mails/themes/modern/ and calling it (say) /mails/themes/mytheme/
2. Edit /mails/themes/modern/components/footer.html.twig and add the word

[2019-10-04 20:40] miographix opened #15844 "Wrong subtotal in order confirmation when product is customised"
I encountered a problem or bug in the order confirmation shown to the customer after buying a customized product. The subtotal in the first row of a listed product shows "0". Same thing in the order overview in the customer account. Plaese see yellow markers at the screenshots. I use a special module for product customisation but this also happens when the module is deactivated and the customizati

[2019-10-04 22:40] lpvm commented on #15836
Hi @khouloudbelguith,

Regarding the first question, the package `php72-intl-7.2.22` is installed.
The locale was `C`.  I've installed an `UTF-8` locale and the error is gone.
Thank you.

[2019-10-04 22:40] #15836 closed, assigned to nobody

[2019-10-05 05:18] arafatx commented on #15744
Deleting var/cache (prod & dev) before login into the dashboard doesn't solve this problem.

Reinstall the module fixed the problem but I do this

1) I disable the module first by renaming the module at the hosting
2) Then after i'm able to login into the dashboard, I have to open the module manager section and leave the URL open
3) Then I rename back the module to the original name from 1)
4) I r

[2019-10-05 15:58] arafatx commented on #15763
Is there a log that I can view generated from prestashop about this error?

I got this in the server mail log:

login authenticator failed for 535 Incorrect authentication data (set_id=)

I'm not sure what else I can make the server compatible with prestashop SMTP. I  can put the SMTP configuration at the other client software with no error.

[2019-10-05 17:49] kris711 opened #15845 "Your PrestaShop version is up to date"
**Describe the bug**
Since Prestashop 1.7.5.2 the PrestashopUpdates box on the right side tells only "
"Your PrestaShop version is up to date"
Even if its not.

**To Reproduce**
Nothing changed

**Screenshots**
I guess its clear

**Additional information**
PrestaShop version: 1.7.6.2
PHP version: 7.2

[2019-10-05 18:41] storepaperoomates commented on #15541
Hello @morghy1992 I am using P.S 1.7.6 and I also started having the same problem when PayPal updated to V5.0 How do we reach the module developers because it's affecting my sales since PayPal was my only Payment gateway.

[2019-10-05 19:23] storepaperoomates commented on #15541
https://www.prestashop.com/forums/topic/162185-solved-paypal-error-code-10413-totals-of-cart-items-dont-match-total/

Check out this link. It says the error is because of using PayPal Pro. I'll try it out and tell you if it works

[2019-10-05 19:33] morghy1992 commented on #15541
@storepaperoomates thank you very much for sharing the link. I have PayPal v5.0.0 What version do you have? How can I know if my PayPal is Pro? Where did you download it?

Thank you :)

[2019-10-05 23:34] cabinatele commented on #14887
Ya tengo la solución, Cada archivo Free esta comprimido sobre otro comprimido zip, debe descomprimir el theme y luego ver el zip que queda de la primera descompresión y luego ver que dentro de este no este comprimido nuevamente. Luego si ir al Back Office y subir el Theme zip. Ya no saldrá el error.

[2019-10-06 05:28] arafatx commented on #15763
Oh no. it was problem with Google Chrome. Using another browser works (tested with opera)

[2019-10-06 05:28] #15763 closed, assigned to nobody

[2019-10-06 09:45] dawidurus opened #15846 "Can't access to Module Manager and Homepage settings, error with Argument 3 passed to LinkBlockRepository::__construct() must be an instance of PrestaShopBundle\Translation\TranslatorComponent"
Hi!

I installed Prestashop and when I want go to homepage settings or in Module Manager i'm gettings this error:

`Type error: Argument 3 passed to LinkBlockRepository::__construct() must be an instance of PrestaShopBundle\Translation\TranslatorComponent, instance of PrestaShopBundle\Translation\DataCollectorTranslator given, called in /home/telefono/domains/socks-yeah.com/public_html/modules/ps_

[2019-10-07 07:43] DevSTG commented on #15791
@khouloudbelguith I followed your instructions and same error appears:

[2019-10-07 09:24:22] request.INFO: Matched route "api_translation_value_edit". {"route":"api_translation_value_edit","route_parameters":{"_controller":"prestashop.core.api.translation.controller:translationEditAction","_route":"api_translation_value_edit"},"request_uri":"http://localhost/presta-vanilla/admin85690diu5/index.ph

[2019-10-07 07:44] marionf commented on #9780
Hello @kandiaga

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop

Thank you!

[2019-10-07 07:46] khouloudbelguith commented on #15844
Hi @miographix,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15171 to fix the issue.
Your ticket is a duplicate of #10912
So, I close it.
Thanks!

[2019-10-07 07:46] #15844 closed, assigned to nobody

[2019-10-07 07:46] khouloudbelguith commented on #15844
Duplicate of #10912

[2019-10-07 07:49] khouloudbelguith commented on #15409
Hi @slomoo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-07 07:49] #15409 closed, assigned to nobody

[2019-10-07 07:49] khouloudbelguith commented on #15390
Hi @racquetmarket,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-07 07:49] #15390 closed, assigned to nobody

[2019-10-07 07:50] khouloudbelguith commented on #15212
Hi @lilwayne470,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-07 07:50] #15212 closed, assigned to nobody

[2019-10-07 07:51] khouloudbelguith commented on #15442
Hi @Kristianna1,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-07 07:51] #15442 closed, assigned to nobody

[2019-10-07 07:52] khouloudbelguith commented on #15433
Hi @Prestaworks,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-07 07:52] #15433 closed, assigned to nobody

[2019-10-07 07:57] #15385 closed, assigned to nobody

[2019-10-07 07:58] khouloudbelguith commented on #15443
Hi @kubiak85,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-07 07:58] #15443 closed, assigned to nobody

[2019-10-07 08:00] khouloudbelguith commented on #15841
Hi @jvolta-1976,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.c

[2019-10-07 08:05] idnovate commented on #15834
Still same problem today?

[2019-10-07 08:10] khouloudbelguith commented on #15842
Hi @ip413,

Thanks for your report.
Ping PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-07 08:12] idnovate commented on #15834
You can also try with Paypal, same problem appears.

[2019-10-07 08:43] khouloudbelguith commented on #15845
Hi @kris711,

We are aware od this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/14688
So, I close it.
Thanks !

[2019-10-07 08:43] #15845 closed, assigned to nobody

[2019-10-07 08:44] khouloudbelguith commented on #15845
Duplicate of #14688

[2019-10-07 08:47] khouloudbelguith commented on #15846
Hi @dawidurus,

Could you please try to re-install the `ps_linklist` by removing the folder during the uninstall.
If you can't access to your BO => Module Manager Page, you can rename the folder `ps_linklist` to `ps_linklist_old` in your `Project_Folder/modules/` path then try to install it again.

Thanks!

[2019-10-07 09:00] khouloudbelguith commented on #15794
@elviraprint, you provide me the link & the access with the insecurity way, in a public space.
So, I deleted the credentials for your safety but you must change those credentials immediately because it is not me who downloads those modules.
You can provide me for example by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks for your understanding!

[2019-10-07 09:25] khouloudbelguith commented on #15843
Hi @jaxtheking,

I manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.0 following your steps.
But there is something missing in your case, you just duplicated the modern folder & you didn't make necessary changes.
In fact, if you check all files, for example, mytheme/components/layout.html.twig
you can find
`{% include '@MailThemes/modern/components/header.html.twig' %}`
This is incorrect, you

[2019-10-07 09:34] khouloudbelguith commented on #15541
Hi @morghy1992,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-10-07 09:34] #15541 closed, assigned to nobody

[2019-10-07 09:39] khouloudbelguith commented on #15791
@DevSTG, this is a fresh install PS1.7.6.1 or an upgrade from a previous version?
What is the exact Language/Country did you used during the install?

Thanks!

[2019-10-07 09:48] DevSTG commented on #15791
@khouloudbelguith  It's a fresh install and I selected Polish language/Poland during installation process

[2019-10-07 09:56] khouloudbelguith commented on #15744
@benoitpetit, in my case, it is ok after a fresh install or following these steps: https://github.com/PrestaShop/PrestaShop/issues/15744#issuecomment-536901041
You can move your Project to a new domain without errors following these steps:
1. Made a backup for my files & the database
2. Upload your store's files to your new server
3. Import the old store's database to the new server
4. In file /ap

[2019-10-07 09:56] #15744 closed, assigned to nobody

[2019-10-07 09:58] kandiaga commented on #9780
Hi  @marionf ,
Will try  to  make  a pull request.

Thanks.

[2019-10-07 10:01] elviraprint commented on #15794
Ok thanks you I send it to you on you email,

Thanks again !

[2019-10-07 10:18] N-Wouda opened #15849 "E-mail subscription <br><em> tags"
**Describe the bug**
The e-mail subscription appears to escape its `<br>` and `<em>` tags, such that they end-up in the user text. See below for a screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Install e-mail subscription module, e.g. 2.5.1
2. Fill in some string for the conditions field
3. Go to account -> personal information/identity in the FO

**Screenshots**
![email_subscri

[2019-10-07 10:19] TarifaFisch commented on #11435
Hi,
I tried out this JS snippet in the document.ready function:
$('#payment-option-1').click();
This alwas shows the 1. payment method selected and the corresponding option box too.
Should be perfect to set the preselcted payment method in the core configs?
Best regards
Thomas - TarifaFisch

[2019-10-07 10:37] khouloudbelguith commented on #15849
Hi @N-Wouda,

I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 & the ps_emailsubscription v2.5.1 & v2.3.0.
Only in the Footer => NOK.
![image](https://user-images.githubusercontent.com/16067358/66305088-e4d4cf80-e8fe-11e9-974b-7e8c68a89569.png)

In the account -> personal information/identity => it is OK
![image](https://user-images.githubusercontent.com/16067358/66305171-09c94280-e8ff-1

[2019-10-07 11:00] ShaimyWinda opened #15850 "Translation in English is not possible"
Hello,
I have a multi-shop site and I can translate into all languages except English.

1. Go to Translation
2. And choose your theme and English language

After you have the bug :
`error: Catchable Fatal Error: Argument 2 passed to PrestaShopBundle\Translation\Loader\DatabaseTranslationLoader::addLangConstraint() must be an instance of PrestaShopBundle\Entity\Lang, null given, called in /data/www

[2019-10-07 11:04] khouloudbelguith commented on #15834
@idnovate, Yes, I tried today with the redsys module & the same issue.
With Paypal module v5.0.1, I did not manage to reproduce the issue.
I attached a screen record
https://drive.google.com/file/d/1C82pAX5eTVrJagLRsyslVhVS6L0Ex9Lh/view
Thanks!

[2019-10-07 11:09] khouloudbelguith commented on #15850
Hi @ShaimyWinda,

Could you please navigate to your BO => International => Translations => Add / Update a language section => Update your English language.
![image](https://user-images.githubusercontent.com/16067358/66307014-82320280-e903-11e9-8a46-c87203f703c5.png)

Thanks to check & feedback.

[2019-10-07 11:13] ShaimyWinda commented on #15850
Hi @khouloudbelguith

I have a error 500

[2019-10-07 11:13] idnovate commented on #15834
_Please note that PayPal screen has not been recorded so I couldn't see all the process._

According with the data you sent me, you should have paid 43,20€ in PayPal but final **accepted** cart is 57,48€.

[2019-10-07 11:19] khouloudbelguith commented on #15791
@DevSTG, it is OK with Fresh install PS1.7.6.1 Polish language/Poland country, I used your child theme & it is OK.
I attached a screen record
https://drive.google.com/file/d/14J8svS4X5pNblPjf92uiZ_ch47aD100l/view

Thanks!

[2019-10-07 11:23] khouloudbelguith commented on #15850
@ShaimyWinda, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/h

[2019-10-07 11:32] khouloudbelguith commented on #15834
@idnovate, I added the second product with price =14.28 Euro.
https://drive.google.com/file/d/1NzffspHOOxMziUA0X8UB6fdTjEcMc1Kz/view
Thanks!

[2019-10-07 11:34] khouloudbelguith commented on #15763
@arafatx, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-07 11:35] khouloudbelguith commented on #15836
Hi @lpvm,

Thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-07 11:38] ShaimyWinda commented on #15850
@khouloudbelguith , I managed to add but not to update because they don't offer us
Despite everything, I still have the red error
Error 500 was just a problem on our server

https://zupimages.net/up/19/41/he45.jpg

Thanks!

[2019-10-07 11:40] idnovate commented on #15834
Is correct what you do and you have reproduced the issue.

You have only paid 34,80€ for a cart of 49,08€ because information to Paypal have been sent before you added the 2nd product.
Please do the same test with PS 1.7.5.2 and order should be created with "Payment error" status.

[2019-10-07 11:57] khouloudbelguith commented on #15834
@idnovate, no, it is the same with PS1.7.5.2.
I have two products in the order
![image](https://user-images.githubusercontent.com/16067358/66309385-d0e29b00-e909-11e9-9dc9-95498306a749.png)
https://drive.google.com/file/d/1la9Uf32yk28bQKD-8a62acS4_kRZz7Az/view
Thanks!

[2019-10-07 12:00] khouloudbelguith commented on #15850
@ShaimyWinda, after the release of PS1.7.6.0, we reproduced some regressions related to the translation.
They are fixed in the PS1.7.6.1.
You can follow this [link](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3A1.7.6.0+label%3ARegression+label%3ATranslations+is%3Aclosed+project%3APrestaShop%2FPrestaShop%2F4) for more details.

Thanks to check & feedback.

[2019-10-07 12:01] DevSTG commented on #15791
@khouloudbelguith
Yes, same issue with Classic theme:
https://drive.google.com/file/d/1-nXEKaXn3Ap812opLs3Cz_m30L_3Q-qw/view
You may also want to look at this, maybe this is some lead?
https://drive.google.com/file/d/1kkNI7Oq76qPkJlvD3UySWw0R3foY9wRL/view

[2019-10-07 12:04] khouloudbelguith commented on #15794
@elviraprint, this issue provided in the email occurs due to the `customfields` module.
<img width="320" alt="Capture d’écran 2019-10-04 à 18 18 29" src="https://user-images.githubusercontent.com/16067358/66309983-4c911780-e90b-11e9-8cbf-2529d16c99da.png">
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.

[2019-10-07 12:07] copyact commented on #15837
It's very strange because it works on mobile. Some js is hiding the search slider on page load.

 Can you tell me for now how can I install  ps_facetedsearch v.2.2.0? I tried downloading sources from github but can't build them because they don't have package.json file and when I copied  ps_facetedsearch folder from clean prestashop download to my modules it is not showing in my module list.

[2019-10-07 12:07] ShaimyWinda commented on #15850
Thansk for your answer @khouloudbelguith!
In the link you sent me, I can't find the error I have among the publications. So if I change the version of my Prestashop, the problem will be solved?

[2019-10-07 12:25] matthieu-rolland opened #15852 "Payment not associated with delivery if delivery is a module"
During installation, payment module are associate with delivery. (table module_carrier)Currently, payment module are not associate with delivery if delivery is a module. If you select this delivery on order page, the payment will not appear.

_Originally posted by @Seleda in https://github.com/PrestaShop/PrestaShop/pull/15799#issuecomment-537946847_

Steps to reproduce the issue:
If you install a

[2019-10-07 12:45] #9726 closed, assigned to matthieu-rolland

[2019-10-07 12:45] Maofree opened #15853 "Carts created in few seconds away and a strange error"
Hi
from these 2 sites (probably I can see the same from others) I can see that prestashop create for the same customer some carts in few seconds away.
Can you explain me te motive? is it normal or can be fixed to avoid many carts from the same customers?

I report here another problem happens today from 2 sites at the distance of 1 hour:
today they had old customer who placed an order, in both cas

[2019-10-07 12:51] khouloudbelguith commented on #15837
@copyact, you can follow these steps:
1. git clone https://github.com/PrestaShop/ps_facetedsearch.git
2. cd ps_facetedsearch
3. git checkout tags/v2.2.0.
4. composer install
[ps_facetedsearch.zip](https://github.com/PrestaShop/PrestaShop/files/3697295/ps_facetedsearch.zip)
Thanks!

[2019-10-07 12:55] khouloudbelguith commented on #15850
@ShaimyWinda, If you upgrade your version, some regressions will be fixed.
In my case, I did not manage to reproduce the issue with PS1.7.6.0.
https://drive.google.com/file/d/1IxZGESUXdwnC4GojmWrXeYrHzh4LNA8k/view
How did you import the English GB language? from the BO or from the install?

Thanks!

[2019-10-07 12:59] elviraprint commented on #15794
Ok thanks a lot you really helped me

I deleted the module and everything seems to go well right now
Thanks again :))

[2019-10-07 13:03] ShaimyWinda commented on #15850
I don't know exactly.
Let me explain. For a very long time, we were on version 1.5. Last year, an agency put our entire site in version 1.7.4. However, even then, we could not translate into English.
Then they made a small migration to 1.6.7.0

Thanks @khouloudbelguith !

[2019-10-07 13:07] ShaimyWinda commented on #15850
Maybe this is the php version? I'm in PHP 5.6

[2019-10-07 13:09] khouloudbelguith commented on #15794
@elviraprint, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-07 13:09] #15794 closed, assigned to nobody

[2019-10-07 13:41] LouiseBonnard opened #15854 "Replace the wording of the checkout button"
**Is your feature request related to a problem? Please describe**
Issue described by @rdy4ever [here](https://github.com/PrestaShop/PrestaShop/issues/15406#issuecomment-531472765): "If you ask me, _Order with an obligation to pay_ button scares more customers than this kind of checkout process. The text on the button should be just _Complete order_ or _Finish order_. The term 'obligation' has no p

[2019-10-07 13:43] LouiseBonnard commented on #15854
@rdy4ever, feel free to add further information!

[2019-10-07 13:44] khouloudbelguith commented on #15853
Hi @maofree,

In your BO => Shop Parameters => Order Settings => Disable Reordering option is enabled or disabled?

It could be related to the action Re-order.

Thanks to check & feedback.

[2019-10-07 13:47] khouloudbelguith commented on #15852
Hi @matthieu-rolland,

I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2
![image](https://user-images.githubusercontent.com/16067358/66317438-cb8d4c80-e919-11e9-9d1c-eb8237dd87d3.png)
I’ll add this to the debug roadmap.
Thanks!

[2019-10-07 14:21] JohnCasa commented on #15543
Hello,
The host is OVH,
PHP Version: 7.0.33
 there is a bug on the carrier, it was deleted alone and I can not put it
back.
cordially

Le lun. 16 sept. 2019 à 10:28, Mariem ABID <notifications@github.com> a
écrit :

[2019-10-07 14:23] khouloudbelguith commented on #15543
Hi @JohnCasa,

What is the exact PrestaShop version did you use?

Thanks!

[2019-10-07 14:25] JohnCasa commented on #15543
1.7.5.2

Le lun. 7 oct. 2019 à 16:23, khouloudbelguith <notifications@github.com> a
écrit :

[2019-10-07 14:26] khouloudbelguith commented on #15543
@JohnCasa, this carrier is created manually or via a custom module?

Thanks!

[2019-10-07 14:27] JohnCasa commented on #15543
manually

Le lun. 7 oct. 2019 à 16:26, khouloudbelguith <notifications@github.com> a
écrit :

[2019-10-07 14:32] jouino16 commented on #15369
@khouloudbelguith
Hi, is there a solution for this issue? Thank you in advance.

[2019-10-07 14:35] khouloudbelguith commented on #15279
Hi @stefanovita,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-07 14:35] #15279 closed, assigned to nobody

[2019-10-07 14:37] khouloudbelguith commented on #15434
Hi @mrabsinthe,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-07 14:37] #15434 closed, assigned to nobody

[2019-10-07 14:39] khouloudbelguith commented on #15449
Hi @Amulliez,

Since it is not a bug, I will close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-07 14:39] #15449 closed, assigned to nobody

[2019-10-07 14:40] khouloudbelguith commented on #15369
Hi @jouino16,

Sorry, not yet.

Thanks for your understanding!

[2019-10-07 14:45] jouino16 commented on #15369
Thank you @khouloudbelguith for your quick reply.

1. Do you know when it is planned to be fixed?
2. Do you know any module that we can use to perform the same thing ?

Thank you in advance.

[2019-10-07 15:17] khouloudbelguith commented on #15369
@jouino16, it should be specified by our product team first.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-10-07 15:17] khouloudbelguith commented on #15543
@JohnCasa, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-10-07 15:24] jouino16 commented on #15369
@khouloudbelguith Thank you for your quick reply.
I only would like to mention that it is a major issue and it is blocking lots of people. I did a research for the issue fix and I found lots of unresolved posts regarding the same issue. So I hope that the product team take into consideration this issue as soon as possible. Thank you!

[2019-10-07 15:25] khouloudbelguith commented on #15850
@ShaimyWinda, no, It is OK with PHP5.6
https://drive.google.com/file/d/1UXJPN_zwjPiUf81EAoxX3FBomOKIg99y/view
Thanks!

[2019-10-07 15:35] ShaimyWinda commented on #15850
On the video, you are in 1.7.6.1 and not 1.7.6.0

[2019-10-07 15:43] LouiseBonnard opened #15857 "Add missing languages in the right localization packs"
**Is your feature request related to a problem? Please describe.**

As PrestaShop evolved since version 1.7.0, languages have been added but last additions have not been redistributed in the concerned localization packs. Indeed, some languages are available in the International > Translations > Add / Update a language section of the back office (such as Hindi, Malayalam or Bengali) but when you im

[2019-10-07 15:43] matks commented on #15726
@marionf I cant reproduce. I'm on 1.7.6.x branch, I enable B2B mode from Configure > Adv Parameters > Customers page, and I see the fields for B2B customers, and listing has the company column:
<img width="1116" alt="Capture d’écran 2019-10-07 à 17 42 50" src="https://user-images.githubusercontent.com/3830050/66326803-ee276180-e929-11e9-93de-04518ef1e530.png">
<img width="922" alt="Capture d’éc

[2019-10-07 15:45] khouloudbelguith commented on #15791
Could you please try to run those command lines to remove the cache:
[code]
Could you please try to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.
PS: Make sure that you have a backup of your shop.

[2019-10-07 15:47] ShaimyWinda commented on #15850
@khouloudbelguith
https://reccloud.com/fr/u/safkdyb

I dont know why i have this problem

[2019-10-07 15:58] JohnCasa commented on #15543
Steps to follow to reproduce:
Go to Transport> Transporters.

1 - The carrier is always off
2 - When we enter the carrier and modify it we get this error message:
Error thrown: object Object
Status text: parsererror
 THANK YOU!

Le lun. 7 oct. 2019 à 17:18, khouloudbelguith <notifications@github.com> a
écrit :

[2019-10-07 16:02] khouloudbelguith commented on #15850
@ShaimyWinda, those errors are reproduced after testing a PR: https://github.com/PrestaShop/PrestaShop/pull/15081 which is still open & not merged yet, so, it doesn't exist in your case.
It is OK with PS1.7.6.0 https://drive.google.com/file/d/15JEX80hegqUf8XwAGrG5Vqo9RKMvelWH/view
What is the exact theme used in your case? it is classic? or moondream?

Thanks!

[2019-10-07 16:03] khouloudbelguith commented on #15543
@JohnCasa, I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
So, we need the debug mode report & the PHP error log file to find what's wrong.

Thanks!

[2019-10-07 16:11] marionf commented on #15726
Me neither, looking at the screenshots that I posted, I activated the multi-store.
I guess I had to activate B2B for a store and display the customer page with another store selected :sweat:

[2019-10-07 16:11] #15726 closed, assigned to matks

[2019-10-07 16:18] jaxtheking commented on #15843
I can't believe I was such a rookie - however I was not expecting internal references to the theme's name.
Thank you so much for your help; it finally works!

[2019-10-07 16:18] #15843 closed, assigned to nobody

[2019-10-07 16:23] LouiseBonnard opened #15858 "Update all native modules icons and short descriptions"
**Is your feature request related to a problem? Please describe.**
Native modules need to be updated with new content and icons - for version 1.7.7!

**Describe the solution you'd like:**
With @colinegin and @PierreRambaud, we agreed on automatizing this update with a script or a cron job. For that, we must have a [Drive](https://drive.google.com/drive/folders/1yzbplZvb0x4rRpa7OZXmXcWhK7OqPpbo?usp

[2019-10-07 16:27] PierreRambaud commented on #15574
@jf-viguier Still waiting for review and QA :/

[2019-10-07 16:28] jf-viguier commented on #15574
ok thanks

[2019-10-07 18:04] samuel-pires commented on #15831
Hi @TristanLDD & @jolelievre,
I checked the pre-migration behaviors on the grids identified by Jo.
Here are the details. @TristanLDD I let you check if you see something weird.

I couldn't identify which one is "MetaGridDefinitionFactory.php".

@jolelievre check the ⚠️ symbols for specific behaviors.

---

**modified: src/Core/Grid/Definition/Factory/BackupDefinitionFactory.php ✅**
Default button:

[2019-10-07 18:47] ezquerro25 commented on #10757
How did you fix it even I see this problem in my Prestashop 17.6. ????????

[2019-10-07 19:44] JohnCasa commented on #15543
where can I find this debug mode report and the PHP error log file
please

Le lun. 7 oct. 2019 à 18:03, khouloudbelguith <notifications@github.com> a
écrit :

[2019-10-07 20:18] 8ternity opened #15860 "Error 500 on Accessing Logs in Advanced Settings [PS 1.7.5.1]"
**Describe the bug**
I get an error 500 on accessing Advanced Settings > Logs to see employee logs on store changes.

**To Reproduce**
Steps to reproduce the behavior:
- Go to Advanced Settings;
- Click on Logs

**Screenshots**
![2019-10-07_16h14_43](https://user-images.githubusercontent.com/16780421/66345242-adc1e680-e91d-11e9-870b-8f91eeb3c2f8.png)

**Additional information**
PrestaShop version:

[2019-10-07 21:52] Marcelozippo opened #15861 "The URL rewrite (mod_rewrite) is not active on your server (is active)"
Problem after moving my store, from Cloudways to cpanel. In cloudways I didn't have that problem
- * - * -
The URL rewrite (mod_rewrite) is not active on your server or it is not possible to check the server configuration. If you want to use friendly URLs you must activate this module.
- * - * -
The module is active on server. (mod_rewrite).
Cpanel 82.0.16
Centos 7
Apache
Ngnix (Engintron-Nginx-on

[2019-10-07 21:58] Marcelozippo opened #15862 "I try to change the price of a product and I get a red card that says it can't be saved."
Problem after moving my store, from Cloudways to cpanel. In cloudways I didn't have that problem
- * - * -
I try to change the price of a product and I get a red card that says it can't be saved.
Unable to update settings.

Video
https://drive.google.com/file/d/1_yHwcL-8i600A87LStfT_SYj6LS1EaNb/view

- * - * -
Cpanel 82.0.16
Centos 7
Apache
Ngnix (Engintron-Nginx-on-cPanel)
PHP Version: 7.3.10
MyS

[2019-10-08 06:56] LinkOfLight opened #15863 "Double bug"
**Describe the bug**
A clear and concise description of what the bug is.
Much products dont show the image in home but they are good placed in backoffice and in product page.

![Screenshot_20191008-085530_Opera](https://user-images.githubusercontent.com/9163980/66373681-7dc02500-e9a9-11e9-83c9-5fdc355915d6.jpg)

Cant make profiles whit all the privileges i like it in back office
![Screenshot_20191

[2019-10-08 07:14] DevSTG commented on #15791
@khouloudbelguith
Here is output of commands you sent me:

[code]

I then forced refresh but error remains:

`[2019-10-08 09:11:38] request.INFO: Matched route "api_translation_value_edit". {"route":"api_translation_value_edit","route_parameters":{"_controller":"prestashop.core.api.translation.controller:translationEditAction","_route":"api_translation_value_edit"},"request_uri":"http://localhost/

[2019-10-08 07:25] DevSTG commented on #15791
@khouloudbelguith

There are also errors in Chrome console while I'm on Translation page:
![ps-chrome-console-errors](https://user-images.githubusercontent.com/56066938/66374931-6c2c4c80-e9ac-11e9-80d0-883567ac91f9.png)

and here is  preview of server response to edit action:
[https://drive.google.com/file/d/1TY3o9z6hKGvoqz8vrCA9pdhWgrqU9YQb/view](url)

[2019-10-08 07:37] DevSTG commented on #15791
@khouloudbelguith
Following server response advice:
`Deprecated: Automatically populating $HTTP_RAW_POST_DATA is deprecated and will be removed in a future version. To avoid this warning set 'always_populate_raw_post_data' to '-1' in php.ini and use the php://input stream instead. in Unknown on line 0`
 I set 'always_populate_raw_post_data' to '-1' and now my translations are correctly saved, but

[2019-10-08 07:44] idnovate commented on #15834
Can you give me access to a PS 1.7.6.1 store FO and BO?

[2019-10-08 08:04] khouloudbelguith commented on #15843
@jaxtheking, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-08 08:07] khouloudbelguith commented on #15860
Hi @8ternity,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14926 to fix the issue.
Your ticket is a duplicate of #14785
So, I close it.
Thanks!

[2019-10-08 08:07] #15860 closed, assigned to nobody

[2019-10-08 08:07] khouloudbelguith commented on #15860
Duplicate of #14785

[2019-10-08 08:08] Progi1984 commented on #15427
I replaced all matches in Core, else in PriceFormatter because PriceFormatter is bad used (instance of class instead of DependencyInjection) which needs a special PR for this.

[2019-10-08 08:14] khouloudbelguith commented on #15861
Hi @Marcelozippo,

First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & 1.7.6 are compatible with PHP 7.2.
Next version PrestaShop 1.7.7. will be compatible with PHP7.3.

For more details you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/

Second, T

[2019-10-08 08:14] #15861 closed, assigned to nobody

[2019-10-08 08:14] khouloudbelguith commented on #15861
Duplicate of #10178

[2019-10-08 08:16] khouloudbelguith commented on #15862
Hi @Marcelozippo,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & 1.7.6 are compatible with PHP 7.2.
Next version PrestaShop 1.7.7. will be compatible with PHP7.3.

For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Thanks to downgr

[2019-10-08 08:23] khouloudbelguith commented on #15863
Hi @LinkOfLight,

Could you please navigate to your BO => Design  => Image Settings Page=>  Click on the "Regenerate thumbnails" button
![image](https://user-images.githubusercontent.com/16067358/66379414-a9490c80-e9b5-11e9-8cc3-5acbb0e185c4.png)

Thanks to check & feedback.

[2019-10-08 08:26] LinkOfLight commented on #15863
I make it, but Sony generate

Obtener Outlook para Android<https://aka.ms/ghei36> desde mi Galaxy S10+

Angel Moreno Cubero - CEO de WolfWare - www.wolfware.pro<http://www.wolfware.pro>

Advertencia Legal: La información que contiene este correo electrónico y, en su caso, los ficheros adjuntos, está dirigida a la persona cuya dirección electrónica figura en la cabecera. Si usted recibe este correo

[2019-10-08 08:26] khouloudbelguith commented on #15543
@JohnCasa, Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/ (`Try to enable the Debug Mode` section & `Try to add log files` section)

Thanks!

[2019-10-08 08:28] khouloudbelguith commented on #15863
@LinkOfLight,

Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2019-10-08 08:45] espacious commented on #15769
Any new info on this? I edited my post, please take a look.

[2019-10-08 08:47] gbartosz83 opened #15864 "PS 1.7.6.1 + Nginx half of the backoffice pages doesn't work"
**Describe the bug**
prestashop 1.7.6.1 installed corectly on nginx but then, when I've logged in half of tabs from backoffice can't be loaded, in the browser there is an address of given backoffice page (links contains index.php/sell/ or index.php/improve/ or index.php/configure or index.php/configure or index.php/modules) but server displays main page of the website

the shop is not the main pag

[2019-10-08 08:47] khouloudbelguith commented on #15850
@ShaimyWinda, in your case the `Multistore` context is enabled.
Could you please check if the language GB is enabled in all stores?
If yes, could you please try to select only one shop & try to translate with this language, check & feedback.

Thanks!

[2019-10-08 09:05] khouloudbelguith commented on #15834
@idnovate, Yes!
Link of the BO: http://beefy-machine.machine-shuffle.prestashop.net/admin-dev
Email address: test@prestashop.com
Password: 123456789
Link of the FO: http://beefy-machine.machine-shuffle.prestashop.net/en/
I tried with this shop with redsys: the same issue.
I tried with Paypal => OK, I have two products.

Thanks!

[2019-10-08 09:10] idnovate commented on #15834
Thanks!

I have reproduced the issue with "Redsys". You are paying for one product but purchased 2 and any error appear.

Is it possible for you to check why Redsys is submitting the form automatically when it loads, before you introduce the card? I suspect is related with your environment/computer.

[2019-10-08 09:11] khouloudbelguith commented on #15864
Hi @gbartosz83,

In my case, I did not manage to reproduce the issue with PS1.7.6.1 & Nginx server.
https://drive.google.com/file/d/1fnCZ8zJnUS6eyvWhvnPWlDDKJwzW2MsA/view
It is a server configuration issue.
here's my nginx configuration
[code]
I created from this file https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf
About the invali

[2019-10-08 09:25] gbartosz83 commented on #15864
Sorry but I'm a prestashop newbie, where should I put this file: in the website root or shop root?
I have a website and shop, the shop is one of the tab - like this domain.com/shop

[2019-10-08 09:29] Robin-Fischer-PS opened #15866 "Bad discount display when specific price is configured with new product price and discount in FO"
**Describe the bug**
When quantity discount are combined (fixed price + discount), and when FO display is in taxe incl. or excl., the "Discount" display on the product page is false, in 3 cases :

* When Discount is set in tax excl. and FO Display is set in tax excl. (Case 1)
* When Discount is set in tax incl. and FO Display is set in tax excl. (Case 2)
* When Discount is set in tax excl. and FO

[2019-10-08 09:48] khouloudbelguith commented on #15864
@gbartosz83, no, this is a file of the configuration on your server, you should put it on your server.
It should be available on `/etc/nginx/sites-available/default.conf`
For more details, you can ask your host.

Thanks!

[2019-10-08 10:02] ShaimyWinda commented on #15850
@khouloudbelguith i tried but nothing ..
https://reccloud.com/fr/u/i7v6bsk

Thanks!

[2019-10-08 10:07] gbartosz83 commented on #15864
thank you I will do that

[2019-10-08 10:21] khouloudbelguith commented on #15834
@idnovate, The previous shop is erased.
Can you please provide me a screen record with this shop(same credentials)
http://knowledgeable-hill.machine-shuffle.prestashop.net/admin-dev

Thanks!

[2019-10-08 10:33] idnovate commented on #15834
Here:
[screencast-inmediashop.com-2019.10.02-15_31_45.zip](https://github.com/PrestaShop/PrestaShop/files/3701968/screencast-inmediashop.com-2019.10.02-15_31_45.zip)

[2019-10-08 10:33] idnovate commented on #15834
If you want me to provide with a PS 1.7.5.2 I can test the same and you will see like order is created with "Payment error" status.

[2019-10-08 10:40] khouloudbelguith commented on #15791
@DevSTG, I tried with PHP v5.6.40 & PS1.7.6.1, but I did not manage to reproduce the issue.
The `always_populate_raw_post_data` =0 in my case.
![image](https://user-images.githubusercontent.com/16067358/66389060-c1c22280-e9c7-11e9-85e8-0c2b8e367618.png)
https://drive.google.com/file/d/1EiJ6dhxlX12WYMa2ISbleSn8wWbvbRN0/view
So, I think it is a server issue since it is fixed after editing the `alway

[2019-10-08 10:45] khouloudbelguith commented on #15864
@gbartosz83, thanks!

Waiting for your feedback.

[2019-10-08 10:45] nesoor opened #15867 "1.7.6.1 valuta eur problem server 500 error"
Hello Github Members,
I upgraded from from 1.7.4.2 to 1.7.6.1 and got this problem.
Does anybody has a fix for it?

The valuta has been removed when I installed 1.7.6.1 and when I add one I get a server error 500 at the frontend.

**Error log:**
`[Tue Oct 08 12:30:08.490355 2019] [php7:error] [pid 14716] [client 2001:1c01:46c7:8400:70e6:4884:c2fa:566d:0] PHP Fatal error:  Uncaught PrestaShop\\Pres

[2019-10-08 10:55] khouloudbelguith commented on #15867
Hi @nesoor,

Does this issue occur in the BO => Orders Page?

Thanks!

[2019-10-08 11:00] nesoor commented on #15867
@khouloudbelguith
No so far as I know everything is fine in the orders.
However I can't access the following page in the backend: International > Localization > Currency (error 500)

[2019-10-08 11:03] khouloudbelguith commented on #15867
@nesoor, did you delete the EUR currency before? or did you use the multistore context?
Because we manage to reproduce the similar bug but in different pages
https://github.com/PrestaShop/PrestaShop/issues/15486
https://github.com/PrestaShop/PrestaShop/issues/15376
Thanks to check & feedback.

[2019-10-08 11:07] nesoor commented on #15867
@khouloudbelguith
We did used the Multi store but we have disabled it long time ago.
We didn't deleted the EUR currency before updating. I just deleted the Euro a currency a few seconds ago but now also the backend and frontend shows an error 500

[2019-10-08 11:08] nesoor commented on #15867
![Annotation 2019-10-08 130403](https://user-images.githubusercontent.com/19656499/66391164-b8878480-e9cc-11e9-8f4c-8f57ec2c169b.jpg)

[2019-10-08 11:14] DevSTG commented on #15791
@khouloudbelguith
I'm not sure if this is server error, but I may be wrong.
Error message says: `Deprecated`, so it seems issue of some class used by PrestaShop, which depends on `always_populate_raw_post_data` setting. Also the error appears only on Translation page, so I would seek there for possible cause. Unfortunately, it is somehow obscured and message says that error happened `in Unknown on

[2019-10-08 11:17] nesoor commented on #15867
The shop also doesn't show any valuta and all prices are rounded for an example from: 19,95€ to 20 without a currency sign.

[2019-10-08 11:24] khouloudbelguith commented on #15769
@espacious, what the currency by default in your shop?

Thanks!

[2019-10-08 11:29] khouloudbelguith commented on #15834
@idnovate, yes, it is the same as what I reproduce with PS1.7.5.2 & PS1.7.6.1 when using the Paypal module.
The payment is accepted with the correct amount & we have two products in the order.
Ps1.7.5.2 & PS1.7.6.1 => same behavior.

Thanks!

[2019-10-08 11:34] espacious commented on #15769
Default currency is RON.
But we have also EUR enabled because paypal does not support EUR. But i think it does not matter.
[img]http://shrani.si/f/g/4c/1XEKKTM5/991a5ac3-759e-46ec-89e3-.png[/img]

[2019-10-08 11:35] khouloudbelguith commented on #15791
@DevSTG, but you just announced that this warning is displayed on your server response advice & not your log PHP file or PrestaShop logs, is it?

Thanks!

[2019-10-08 11:37] khouloudbelguith commented on #15867
@nesoor, so after deleting the currency Euro, this issue occurs, before that, it is OK?

Thanks!

[2019-10-08 11:38] idnovate commented on #15834
The payment is accepted but the information is incorrect, **you have only paid for 1 product**.

[2019-10-08 11:40] nesoor commented on #15867
@khouloudbelguith Before deleting the EUR currency all product prices were rounded and didn't have any currency sign. After deleting EUR currency the back and frontend got internal server error 500.

[2019-10-08 11:46] khouloudbelguith commented on #15834
@idnovate, yes, but before submitting and validate the order, you added a product to your cart.
So, all the data are updated, the data sent to the payment method is updated & it is the same behavior that I manage to reproduce with PS1.7.5.2 also( there is no payment error).

It is OK with PS1.7.5.2, There is no payment error., as described in my last comment: https://github.com/PrestaShop/PrestaSh

[2019-10-08 11:50] khouloudbelguith commented on #15769
@espacious, in my case, when RON is the currency by default, the Paypal doesn't support this currency.
But, if the EUR, is the currency by default, it is OK PayPal.
![image](https://user-images.githubusercontent.com/16067358/66393336-8b3dd500-e9d2-11e9-88c0-8914a8842a8d.png)

Thanks!

[2019-10-08 11:55] khouloudbelguith commented on #15867
@nesoor, as I see in your screenshot, the table of the currencies is missing some columns(numeric_iso_code, precision)
![image](https://user-images.githubusercontent.com/16067358/66393536-1919c000-e9d3-11e9-9b18-86f9b375542f.png)
So, I think, that there is something wrong during the upgrade.
Thanks to adding those missing columns, check & feedback.

[2019-10-08 11:56] khouloudbelguith commented on #15850
@ShaimyWinda, thanks for your feedback.
I tried with All shop selected, but it is OK with PS1.7.6.0 & PS1.7.6.1.
https://drive.google.com/file/d/1gvfqe3crbskJJW3pQCOBN2IzNdyrREDz/view
Could you please provide me the credentials of your shop to test it.
This is a public space.
You can provide me the access by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-10-08 12:06] espacious commented on #15769
Yes this is right. Paypal does not support RON so i edited paypal module to convert before sending the total amount. Do you think this is the problem? I doubt becouse we have another site, almost exact copy which does not use paypal and the Customer totals are still wrong. I can provide paypal code modification. It happen also with COD.

[2019-10-08 12:08] ShaimyWinda commented on #15850
Thanks!
I just sent you an email @khouloudbelguith

[2019-10-08 12:08] DevSTG commented on #15791
@khouloudbelguith
By server response I meant the response from server that I can see in Chrome browser DevTools:

![ps-server-response-2](https://user-images.githubusercontent.com/56066938/66394138-91cd4c00-e9d4-11e9-9ce4-640fbb10096a.png)

[2019-10-08 12:12] nesoor commented on #15867
@khouloudbelguith After the screenshot I tried importing US currency which didn't work so I created the missing fields and importing started working. However this didn't solve my issue.

[2019-10-08 12:13] nesoor commented on #15867
I clicked on closed by accident.

[2019-10-08 12:47] 8ternity commented on #15860
The fix already applied (see attachment):

![image](https://user-images.githubusercontent.com/16780421/66396618-19509600-e9a8-11e9-8c77-0019f813326e.png)

It's happen on selecting date, but after review your fix, the fix already applied on the updated 1.7.5.1.

[2019-10-08 12:51] khouloudbelguith commented on #15860
@8ternity, the issue is fixed in the PS1.7.6.1.
You can find the fix file here: https://github.com/PrestaShop/PrestaShop/pull/14926/files
No, it is different, there is no array.

[code]

changed to

[code]

Thanks!

[2019-10-08 12:59] idnovate commented on #15834
Is it easy for you to create it for me? Just to have a fresh installation in your server, so we can test it in the same environment.

[2019-10-08 13:03] khouloudbelguith commented on #15867
@nesoor,

Did you delete this currency from the BO?
What is the exact currency by default in your shop?
In my case, it is OK after deleting a currency, the currency Page is well displayed.

Thanks!

[2019-10-08 13:03] dennispw opened #15869 "blockreassurance: Bloated code"
Similar concerns as this ticket: https://github.com/PrestaShop/PrestaShop/issues/15495

The new update is good, multiple icon selection and even better, **SVG** support. Although I'm yet again concerned with the current approach.

Right now, there's an option to upload/use and SVG file, which is great. Smaller filesize and the ability to actually change the icon color _only_. But as it's done, the

[2019-10-08 13:29] khouloudbelguith commented on #15834
@idnovate, sorry but with this server, I'm allowed to create only shop v1.7.6 & 1.6.1.24.

Thanks for your understanding!

[2019-10-08 13:33] khouloudbelguith commented on #15869
Hi @dennispw,

Thanks for your report.
Ping @Progi1984 @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-10-08 13:36] khouloudbelguith commented on #15850
@ShaimyWinda, I just received the email.
I will check & feedback.

Thanks!

[2019-10-08 13:41] nesoor commented on #15867
I deleted the currency in the database because there is no currency available even though it is shown in the database. The default and only currency is EUR.

[2019-10-08 13:47] khouloudbelguith commented on #15867
@nesoor, you make it in a dangerous way, because, from the BO, we cannot delete a currency by default of the shop & the currency used by your employee.
![image](https://user-images.githubusercontent.com/16067358/66401054-cfd16c80-e9e2-11e9-98fe-e2c591325a20.png)
Have you a backup of your database before deleting this currency?
Thanks!

[2019-10-08 13:51] ShaimyWinda commented on #15850
@khouloudbelguith Sorry, that's not possible. We are in e-commerce and the site must be up and running 24/7   :/

[2019-10-08 13:55] ShaimyWinda commented on #15850
But you can see that even if we want to translate the Moondream theme into English, it doesn't work

[2019-10-08 14:07] 8ternity commented on #15860
Resolved with fix. Thanks

[2019-10-08 14:09] khouloudbelguith commented on #15769
@espacious, using the COD module.
I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.1.
PS1.7.5.1: https://drive.google.com/file/d/1YcsAwFQPDK-kIsQXr1kdbN5zCMaC48F3/view
PS1.7.6.1: https://drive.google.com/file/d/12Lecmkpa5oDbXloj0E1tu9czJ3U_yABA/view

Thanks!

[2019-10-08 14:15] khouloudbelguith commented on #15867
@nesoor, thanks to add the missing columns now to the table ps_currency.

[2019-10-08 14:28] nesoor commented on #15867
@khouloudbelguith I already restored the database and added the columns to ps_currency after adding the columns I created a new backup of the database.

[2019-10-08 14:34] nesoor commented on #15867
Yes still the same problem.

[2019-10-08 14:38] khouloudbelguith commented on #15867
@nesoor, still the exception ? or currency all product prices were rounded and didn't have any currency sign?

Thanks!

[2019-10-08 14:39] Hlavtox opened #15870 "Translation of strings depending on item count (plurals) is limited"
**Describe the bug**
There is a quite a drawback in Prestashop's translation system. In languages, which have multiple word endings depending on what number they follow, you have only limited possibilities to translate it.

**Example**
English:
0 items
1 item
2 items
3 items
4 items
5 items

Czech:
0 položek
1 položka
2 položky
3 položky
4 položky
5 položek
(2-4 range is different)

**Other system

[2019-10-08 14:50] khouloudbelguith commented on #15791
@DevSTG, thanks for your feedback.
In my case, I did not manage to reproduce the issue( there is no exception displayed).
To be sure, before creating the child theme, the issue is reproduced in your case or it occurs only after uploading this new theme?

Thanks!

[2019-10-08 14:54] #15513 closed, assigned to nobody

[2019-10-08 14:56] Progi1984 commented on #11154
The PR #15514 has been merged in develop. Could you check if your problem is always present ?

[2019-10-08 15:13] khouloudbelguith commented on #15870
Hi @Hlavtox,

I manage to reproduce the issue with PS1.7.5. & PS1.7.6.1.
0 items
![image](https://user-images.githubusercontent.com/16067358/66407974-65262e00-e9ee-11e9-8823-cc97ed7c678c.png)
1 item
![image](https://user-images.githubusercontent.com/16067358/66408007-72431d00-e9ee-11e9-8c5c-24d32caa8d0d.png)
2 items or more (3,4,5,..)
![image](https://user-images.githubusercontent.com/16067358/664

[2019-10-08 15:13] idnovate commented on #15834
Done, with a fresh 1.7.5.2
[screencast-inmediashop.com-2019.10.02-15_31_45.zip](https://github.com/PrestaShop/PrestaShop/files/3703186/screencast-inmediashop.com-2019.10.02-15_31_45.zip)

[2019-10-08 15:22] PululuK commented on #13942
Hello @eternoendless @matks  I just made some improvements at this level ... could you take a look here https://github.com/PrestaShop/PrestaShop/pull/15871

[2019-10-08 15:32] khouloudbelguith commented on #15834
@idnovate, thanks for your feedback.
The Paypal module, have you The Payment error also with PS1.7.5.2?

Thanks!

[2019-10-08 15:44] Klemart3D commented on #15815
Similar issue for me today when trying to access to admin. I had a PS 1.7.5.2 on my local environment and I tried to update files and database from another environment in PS 1.7.6.1 and now I have the following:

[code]

[2019-10-08 16:08] khouloudbelguith commented on #15866
Hi,

`Case1`, the same with PS1.7.6.1.
With PS1.7.5.2, same error
![image](https://user-images.githubusercontent.com/16067358/66412865-9dca0580-e9f6-11e9-968f-9e18be324f35.png)

`Case2`, different result in the FO, but is not correct (1.7.5.2 & PS1.7.6.1)
BO
![image](https://user-images.githubusercontent.com/16067358/66411407-006dd200-e9f4-11e9-9699-5f7ca636f8a0.png)
1.7.6.1 FO
![image](https://us

[2019-10-08 16:29] Hlavtox commented on #15870
@khouloudbelguith Just to clarify, this is not technically a bug, but rather a limitation in a design.

I am afraid that it would need huge modifications to the translation system, which would better not be touched, if it somehow works now. :-D

We would need to add another column to ps_translation, which would store the "allowed conditions" for the strings. These conditions would need to be someh

[2019-10-08 21:09] LinkOfLight commented on #15863
Shame situation

Obtener Outlook para Android<https://aka.ms/ghei36> desde mi Galaxy S10+

Angel Moreno Cubero - CEO de WolfWare - www.wolfware.pro<http://www.wolfware.pro>

Advertencia Legal: La información que contiene este correo electrónico y, en su caso, los ficheros adjuntos, está dirigida a la persona cuya dirección electrónica figura en la cabecera. Si usted recibe este correo electrónico

[2019-10-08 21:15] mowcixo opened #15873 "Extract variable generation to another method on PaymentModule"
**Is your feature request related to a problem? Please describe.**
Based on solid principles, email variable generation should be extracted to another method.

**Describe the solution you'd like**
It has no sense to extend PaymentModule.php class and its giant validateOrder function, just for modifying email template variables, so it would be nice to have another function for this purpose: https:/

[2019-10-09 07:05] idnovate commented on #15834
No, because Paypal use a custom `validateOrder()` function, not from `PaymentModule` class. So this issue would happen with any payment method that uses core `validateOrder()` function.

[2019-10-09 07:37] AtteR opened #15874 "Catalog page's products are in wrong order with child categories"
Products in catalog page do not follow the order set in Backoffice. If we go to product page in Backoffice and filter by categories and select category with child categories. Order here is right, ascending from 0. After we go to shop and select the same category from catalog, the order is completely different. If the category doesn't have any child categories, the order is right. Child categories

[2019-10-09 08:04] #14930 closed, assigned to matthieu-rolland

[2019-10-09 08:05] khouloudbelguith commented on #15456
Hi @maofree,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-09 08:05] #15456 closed, assigned to nobody

[2019-10-09 08:10] khouloudbelguith commented on #15874
Hi @AtteR,

The problem of the positions is fixed in the PS1.7.7.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/14529 to fix the issue.
Your ticket is a duplicate of #14504
So, I close it.
Thanks!

[2019-10-09 08:10] #15874 closed, assigned to nobody

[2019-10-09 08:10] khouloudbelguith commented on #15874
Duplicate of #14504

[2019-10-09 08:14] khouloudbelguith commented on #15873
Hi @mowcixo,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-10-09 08:17] khouloudbelguith commented on #15863
@LinkOfLight, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how

[2019-10-09 08:19] elia-c opened #15875 "Bug in Customer CSV Export column email"
Go to Customers > Customers
Click on Export

In the exported CSV, the column email is filled with the customer's firstname instead of email

Source:
src\PrestaShopBundle\Controller\Admin\Sell\Customer\CustomerController.php

line 690:
'email' => $record['firstname'],

[2019-10-09 08:26] gbartosz83 commented on #15864
my web admin changed this config file but now I have 404 error instead redirects to the main page

[2019-10-09 08:39] alumette37 commented on #14934
Hello,

I check difference 1.7.6.1 where is working and below version where there is the issue.

Problem come from product-cover-thumbnails.tpl that do not take into account the language ...

NEW CODE
`<div class="images-container">
  {block name='product_cover'}
    <div class="product-cover">
      {block name='product_flags'}
        <ul class="product-flags">
          {foreach from=$product.f

[2019-10-09 08:42] khouloudbelguith commented on #15875
Hi @elia-c,

Thanks for your report.
I manage to reproduce the issue with ps1.7.6.0 & ps1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/66465582-6bb1b580-ea81-11e9-9701-35874ca8c97f.png)

It is Ok with PS1.7.5.2. It is a regression.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a

[2019-10-09 08:47] khouloudbelguith commented on #15864
@gbartosz83, it is an issue about your configuration.
There is an incorrect redirection.
Please follow this line: https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf#L55

Thanks!

[2019-10-09 08:48] websgalicia opened #15876 "Problem with cart rules to selected products and exclude products with discount on Paypal"
**Describe the bug - _Sorry for me English_**

When I create a discount rule for products of a category and mark the option "Excluding discounted products", the cart does well, but when paying with Paypal, the discount is generated for all products and does not exclude products with discount.

**To Reproduce**

1. Create a cart rule and restric to some categories
2. Asign a discount and check "Exc

[2019-10-09 08:56] gbartosz83 commented on #15864
there is only admin and my admin folder has an extra letters afer admin word
can I change the folder in the FTP directory name or should I change again the config file?

[2019-10-09 08:56] copyact commented on #15837
Thanks:)

[2019-10-09 09:00] matks commented on #15869
@dennispw hi ! thanks for the feedback, it's very interesting (just like the other one 😉, your comments are always neat)

I'm afraid I have quite the same answer than in the previous ticket though 😅 : this is an improvement that needs to be added to the module. I'd be happy to make these improvements but I don't have the time right now as I'm working on other topics, but if someone wants to change

[2019-10-09 09:02] colinegin commented on #11263
The module has been released, I can close this issue !

[2019-10-09 09:02] #11263 closed, assigned to nobody

[2019-10-09 09:10] khouloudbelguith commented on #15876
Hi @websgalicia,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/13704 to fix the issue.
It is fixed in the next version PS1.7.7.0.
Your ticket is a duplicate of #10300
So, I close it.
Thanks!

[2019-10-09 09:10] #15876 closed, assigned to nobody

[2019-10-09 09:10] khouloudbelguith commented on #15876
Duplicate of #10300

[2019-10-09 09:22] matks commented on #15725
Fixed by https://github.com/PrestaShop/PrestaShop/pull/15855

[2019-10-09 09:22] #15725 closed, assigned to PierreRambaud

[2019-10-09 09:24] khouloudbelguith commented on #15864
@gbartosz83, the link that I provided to you, it is just an example & you need to edit your config file according to your configuration.
For example, you need to replace `admin` to `admin_folder`.

Thanks!

[2019-10-09 09:27] khouloudbelguith commented on #15837
@copyact, you are welcome!
so can I close the issue?

Thanks!

[2019-10-09 09:27] fdonnet opened #15877 "Oneclick upgrade from 1.7.5.2 to 1.7.6.1 (database_prefix)"
Linked #15080 to Oneclick upgrade from 1.7.5.2 to 1.7.60 (database_prefix) need to be reopen.

@khouloudbelguith
Even with the new version 1.7.6.1 the problem persists and I was forced to roll back to 1.7.5.2.

I can send you the update log if needed.
Never had this kind of issue in the past with other auto-upgrade on this shop.

[2019-10-09 09:32] gbartosz83 commented on #15864
I know it was an example I was asking about something different.
Can I change the folder name on the FTP to admin instead the name in the config file
I don't have access to the config file I have to ask my admin for a change.

[2019-10-09 09:38] Quetzacoalt91 commented on #15186
I just figured out that you weren't talking about the theme but the core file.

Yes, this file is always replaced during an upgrade, because it appears that we sometime add new parameters without setting a default value. If we make sure this issue is solved in the future, we could add it in the ignored list

[2019-10-09 09:39] khouloudbelguith commented on #15877
Hi @fdonnet,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshot

[2019-10-09 09:40] serumandco opened #15878 "Bug add to cart without cookie session"
#### Describe the bug
When my cookie session is not generate, i can not add product to the cart at first time.
The popin add to cart is empty.

#### Steps to reproduce
1- Go to http://demo.prestashop.com/#/en/front on a product page
2- flush your cookies
3- add the product to the cart
You'll see the confirmation popin empty.

**Screenshots**

https://drive.google.com/file/d/1t8EbiJ3S5KvcSGotq9Lxr_

[2019-10-09 09:44] matks commented on #15873
This makes sense, absolutely 👍

There is one thing I'm afraid though 🤔: would this considered a backward compatibility break ? I dont think so but I dont want to break some modules / custom code behavior

[2019-10-09 09:46] matks commented on #15873
@mowcixo However if your need is to modify variable, you can do this using hook `actionEmailSendBefore` called in `Mail::send()` ?

[2019-10-09 09:57] musaffar-patel opened #15879 "Problem after compiling assets for the admin/themes/new-theme project"
Hi

I need to make a change to the Stock management page in the back office, which has been migrated to Symfony and uses modules such as webpack and vue.js.

Therefore I did the following:

Downloaded the developer version of the admin folder (admin-dev) from https://github.com/PrestaShop/PrestaShop

Installed all necessary modules into the /admin/themes/new-theme/ using the command npm install co

[2019-10-09 10:03] khouloudbelguith commented on #15875
Hello!

The Lastname is incorrect also.
![image](https://user-images.githubusercontent.com/16067358/66471992-9e14e000-ea8c-11e9-9f4c-c22ede0125e6.png)

It is OK ps1.7.5.2

[2019-10-09 10:19] #15608 closed, assigned to nobody

[2019-10-09 10:24] khouloudbelguith commented on #15878
Hi @SerumAndCo,

I manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.0 & PS1.7.5.2.
https://drive.google.com/file/d/1t8EbiJ3S5KvcSGotq9Lxr_gJbUKPBmCW/view
If we click the second time => OK.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-10-09 10:27] khouloudbelguith commented on #15879
Hi @musaffar-patel,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-10-09 10:27] #15879 closed, assigned to nobody

[2019-10-09 10:27] fdonnet commented on #15877
Could you pls give me your email @khouloudbelguith. Thx

[2019-10-09 10:28] khouloudbelguith commented on #15877
@fdonnet, This is a public space.
You can provide me the files by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-10-09 10:32] khouloudbelguith commented on #15864
@gbartosz83, it depends on your root
https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf#L5

Thanks!

[2019-10-09 10:41] davidglezz opened #23749 "[ps_emailalerts] Invalid html in hook displayProductAdditionalInfo: form inside form"
Hook [displayProductAdditionalInfo](https://github.com/PrestaShop/PrestaShop/blob/441b7e8f87488a2df334ef3213b8441b1d2b8a9d/themes/classic/templates/catalog/_partials/product-additional-info.tpl#L26) is rendered inside form tag [in product.tpl](https://github.com/PrestaShop/PrestaShop/blob/89fc1396b8a972b718146b9b253805de904a91e6/themes/classic/templates/catalog/product.tpl#L96) with the block `{bl

[2019-10-09 10:51] mowcixo commented on #15873
@matks I'm not writing the issue because a particular problem, is just an improvement suggestion.

The case is that if in the hook you need something outside the hook params to modify the variables, you will need to reload certain entities, making database queries etc... and probably all of it entities were already filled in the PaymentModule class.

If you had the possibility to override PaymentM

[2019-10-09 11:00] khouloudbelguith commented on #15834
@idnovate, So your module builds a [FrontController](https://devdocs.prestashop.com/1.7/modules/concepts/controllers/front-controllers/) to handle validation instead of a custom endpoint like `validation.php`?
Thanks!

[2019-10-09 11:03] idnovate commented on #15834
Yes

[2019-10-09 11:55] fdonnet commented on #15877
Log.txt provided by email

Additional info:
ubuntu
php 7.2.19
mysql 5.7.27
child_classic theme (upgrade made with classic theme update and without => same issue)

error details in #15080

[2019-10-09 12:10] #15852 closed, assigned to nobody

[2019-10-09 12:20] TomHsiung opened #15881 "Category bug"
Your latest release of PrestaShop definitely has a big bug.

When I try to manage my products' category, it return

[code]

[2019-10-09 12:21] matthieu-rolland opened #15882 "legacy order create page not working well after jquery migration"
@matthieu-rolland, @matks  - after this pr legacy order create page is not working well.

- Cannot choose customer;
- Carts/orders are shown before even choosing customer.

![Screenshot from 2019-10-09 14-18-47](https://user-images.githubusercontent.com/31609858/66477208-3072af00-eaa0-11e9-9b95-c41a68a92d2f.png)
Checked locally, that undoing this pr changes brings back the expected behavior.

_Ori

[2019-10-09 12:25] matthieu-rolland commented on #15882
The **live** method doesn't exist anymore, one should use the **on** method instead.

Here is the **on** method:
https://api.jquery.com/on/

Here is how to use the **on** method to achieve the same thing as with the **live** method:
`$( document ).on( events, selector, data, handler );`

The equivalent with the **live** method would be:
`$( selector ).live( events, data, handler );`

Je m'en occup

[2019-10-09 12:31] khouloudbelguith commented on #15881
Hi @TomHsiung,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2019-10-09 12:34] ySSistemas opened #15883 "Presta Shop Version 1.6.x Stock."
Hello.

While I order from the store, the quantity is deducted from the actual value of the stock receipt.

When I cancel this order, the quantity is not increased in stock.

I want to automatically increase the stock quantity when canceling the order.

Help me solve this problem.

Thanks in advance.

[2019-10-09 12:35] khouloudbelguith commented on #15882
Hi,

Same issue with develop branch
![image](https://user-images.githubusercontent.com/16067358/66481848-0621f100-eaa2-11e9-9071-60d614905b90.png)

Thanks!

[2019-10-09 12:41] khouloudbelguith commented on #15882
Also, the choose button doesn't work
![image](https://user-images.githubusercontent.com/16067358/66482249-d6bfb400-eaa2-11e9-94c7-137e4bfd1943.png)

Thanks!

[2019-10-09 12:47] TomHsiung commented on #15881
1) Host is an Ubuntu 18.04.3 LTS server, with apache2 be the web server.
2) Sever is setup via your installation script downloaded from your official site, and the version is 1.7.6.1

Currently, I could mange most of the function without issues. But when I try to mange my product categories I get this error.

<img width="1436" alt="Screen Shot 2019-10-09 at 8 46 44 PM" src="https://user-images.git

[2019-10-09 12:53] khouloudbelguith commented on #15883
Hi @ySSistemas,

I did not manage to reproduce the issue with PS1.7.6.1
https://drive.google.com/file/d/1HWjwr5wyvjgIxdreul8aLeG0N-_PADWC/view
[The maintenance of PrestaShop 1.6.1.x is now being performed exclusively by volunteers to fix critical issues only](http://build.prestashop.com/news/1.6.1.x-what-s-next/)
The normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now

[2019-10-09 12:59] #15883 closed, assigned to nobody

[2019-10-09 13:03] TomHsiung opened #15884 "Tax does not work"
I already selected the tax rule, but the price with and without tax is the same.

<img width="1436" alt="Screen Shot 2019-10-09 at 9 02 23 PM" src="https://user-images.githubusercontent.com/6930263/66483720-397f7280-ead8-11e9-9b41-3724338dd90f.png">

[2019-10-09 13:05] TomHsiung commented on #15884
Your product setting is strange for a general customer. Why I have set it to tax but the price stays the same!

[2019-10-09 13:06] Allbutfancy opened #15885 "[My Store] Appears in emails after upgrading to version 1.7.6.1"
The issue
Whenever you receive information, messages or news from our site. We as the sender will appear as [My Store] in the mail.
We have added the stores name in Contact -> Stores.

It was working in 1.7.5.1 but after updating to 1.7.6.1 this bug appeared.

Steps to reproduce the behavior:
1. Go to www.dreamdirty.dk
2. Scroll down to the footer
3. Click "kontakt os" or "contact us"
4. Enter you

[2019-10-09 13:06] khouloudbelguith commented on #15881
@TomHsiung, The 500 Internal Server Error can be very frustrating because it is such a vague error. In addition to the error message text itself being vague, there are actually several different issues that can cause the 500 error message to appear.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please

[2019-10-09 13:14] khouloudbelguith commented on #15884
Hi @TomHsiung,

Thanks to navigate to BO => International => Taxes => Taxes Rules => edit your Taxe rule & check the Tax
![image](https://user-images.githubusercontent.com/16067358/66484359-1dafa880-eaa7-11e9-9dd7-82442abc8560.png)

Thanks to check & feedback.

[2019-10-09 13:17] khouloudbelguith commented on #15885
Hi @Allbutfancy,

Could you please try to navigate to the BO => Shop Parameters => General => Enable "Multistore".
Then go to the BO => Advanced Parameters => Multistore => Edit your shop => & edit the shop name & save => after that try to disable multistore.
![image](https://user-images.githubusercontent.com/16067358/62037610-02453900-b1ec-11e9-96a7-1764ab2dabcb.png)
You need to check that all ca

[2019-10-09 13:24] #15717 closed, assigned to nobody

[2019-10-09 13:45] Allbutfancy commented on #15885
Hey @khouloudbelguith,

Would enabling MultiStore not change anything to our shops database? We were informed that enabling MultiStore would change the core mechanic of the store, and disabling the multistore function afterwards could cause big database problems.

Best wishes

[2019-10-09 14:04] khouloudbelguith commented on #15885
@Allbutfancy, you will not change anything, you not create a new shop & you will disable it after changing the name shop.
A second way, you can change the shop name manually from the database, table `ps_shop`
![image](https://user-images.githubusercontent.com/16067358/66488541-6028b380-eaae-11e9-94f2-fc81acb98423.png)

Thanks!

[2019-10-09 14:11] khouloudbelguith commented on #15877
@fdonnet, according to your log file
The files are well upgraded

The database is well upgraded

The upgrade of your modules are well done

There is no `database_prefix` error in your file.

Thanks!

[2019-10-09 14:37] #11154 closed, assigned to nobody

[2019-10-09 14:42] fdonnet commented on #15877
So why I have an error 500 on the front store, I cannot accesss any pages on the store after the upgrade the error message is
"Fatal error: Uncaught Symfony\Component\DependencyInjection\Exception\ParameterNotFoundException: The service "prestashop.database.naming_strategy" has a dependency on a non-existent parameter "database_prefix". in /vendor/symfony/symfony/src/Symfony/Component/DependencyIn

[2019-10-09 14:52] morghy1992 commented on #12687
Hello, this problem has been resolved ?
Still got errors on my google search console.

[2019-10-09 14:55] khouloudbelguith commented on #15877
@fdonnet, the password of your database contains a % symbol?

Thanks!

[2019-10-09 15:05] eternoendless commented on #15672
I having tried this myself but [looking at WebserviceRequest](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/webservice/WebserviceRequest.php#L1535) it looks like this is already possible. You'd have to format your xml like this:

[code]

[2019-10-09 15:07] fdonnet commented on #15877
No, no "%" char in the db password.

[2019-10-09 15:28] khouloudbelguith commented on #15877
@fdonnet, could you please provide us your files `app/config/parameters.php` &  `app/config/parameters.yml.dist`

Thanks!

[2019-10-09 15:32] matks commented on #12687
@morghy1992 this problem has been fixed by PR https://github.com/PrestaShop/PrestaShop/pull/14558

If you want the issue to be solved on your shop, you must either apply the patch or wait for next PS version to be released

[2019-10-09 15:50] TomHsiung commented on #15884
OK. Yes, I tried and it worked. Thank you.

[2019-10-09 15:55] khouloudbelguith commented on #15884
@TomHsiung, thanks for your feedback.
I close the issue, Feel free to open a new one needed.

Thanks!

[2019-10-09 15:55] #15884 closed, assigned to nobody

[2019-10-09 16:00] khouloudbelguith opened #15889 "Cannot change the email of a customer from a minor case letter to uppercase - Back office"
**Describe the bug**
It is not possible to change the email of a customer from a minor case letter in uppercase from the Back office
In the FO, it is OK.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the BO => Customers Page
2. Edit a customer (Jhon Doe)
3. Change the email for example from pub@prestashop.com to Pub@prestashop.com or PUB@prestashop.com
4. Click on save
4. See error
!

[2019-10-09 16:05] eternoendless commented on #15834
If I got it right, before 1.7.6.0, this block in `validateOrder()` was able to change the value of `$id_order_state` in some circumstances: https://github.com/PrestaShop/PrestaShop/commit/57271b54b33503a31a103e95050f110f66c43dec#diff-0f162f4cf098397033f06b1cced01745L403-L405

This value is reused several lines later in `validateOrder()`: https://github.com/PrestaShop/PrestaShop/blob/develop/classe

[2019-10-09 16:19] matthieu-rolland commented on #15882
thank you for you feedback @khouloudbelguith 👍

[2019-10-09 16:19] morghy1992 commented on #12687
@matks thank you for replying. Was reading #14558 but I can't find how to resolve the problem on my store. Could you help me? thank you very much

[2019-10-09 16:29] matks opened #15890 "How to handle search in reduction column for "Catalog > Discounts > Catalog price rules > Add new / edit catalog price rule" page"
We have migrated page "Catalog > Discounts > Catalog price rules > Add new / edit catalog price rule" in PR https://github.com/PrestaShop/PrestaShop/pull/13584

However we have found one issue: https://github.com/PrestaShop/PrestaShop/pull/13584#discussion_r284236594

Basically, what happens is:
1) I create a catalog price rule with a reduction of 10.00005
2) I go to listing: well, on the listing

[2019-10-09 16:32] matks commented on #10556
@sarjon I juste understood that PR https://github.com/PrestaShop/PrestaShop/pull/14970 has migrated both the listing and the add/edit form, is that right ? 😄

[2019-10-09 16:34] sarjon commented on #10556
Yup, it migrated whole page as it was not that big, one new page that is part of 1.7.7. :tada:

[2019-10-09 16:37] eriknuds opened #15891 "SSL or cert config on PS upgrade servers, used by 1-click update module, is no longer supported by default on recent Linux distros"
SSL/TLS or certificate on upgrade servers seem to be incompatible with recent linux distros (Debian 10 Buster). This is used by 1-click update module, and updated secure systems can't download new PS versions and the upgrade module won't even be able to query about recent releases unless you figure out what's wrong and you are manually editing the SECLEVEL from 2 to 1 in /usr/llib/ssl/openssl.cnf

[2019-10-09 16:39] matks commented on #12687
You are probably interested in the changes the PR brings for the files:
- themes/classic/templates/catalog/product.tpl (https://github.com/PrestaShop/PrestaShop/pull/14558/files#diff-81d8fb082229455fb3663bf270c7f15e)
- themes/classic/templates/catalog/_partials/miniatures/product.tpl (https://github.com/PrestaShop/PrestaShop/pull/14558/files#diff-f2a39218feae4cfb78f374d5c0909a9c)

The PR adds the

[2019-10-09 16:42] sbaraka commented on #15889
hey can I pick this up?

[2019-10-09 16:42] morghy1992 commented on #12687
@matks thank you for helping me I am new in this :) should I ad the green label? I use a leo theme.

[2019-10-09 16:44] eriknuds commented on #15891
...instead of a most recent version, you will get the "You come from the future!" message.

[2019-10-09 16:50] fabiorme commented on #15080
Hello to all,
I updated prestashop from version 1.7.3.2 to version 1.7.6.1
with the one click upgrade 4.9.0 plugin, once the update was finished I had the following error:

`[INTERNAL] F:\argentissimo_v2\src\Adapter\Configuration.php line 48
- TypeError: Argument 1 passed to PrestaShop\PrestaShop\Adapter\Configuration::__construct() must be of the type array, object given, called in F:\argentissim

[2019-10-09 17:54] Refe313 commented on #15662
Hi,

so it was indeed theme related.

Unfortunatly, I do not have the final techinal description of the problem or resolving so i'll just close this topic.

Thanks all,

Best regards

[2019-10-09 17:54] #15662 closed, assigned to nobody

[2019-10-09 18:39] pattila01 commented on #11059
1.6.x

/controllers/admin/AdminOrdersController.php

~ 1317 row:
                    // Update amounts of order
                    $order->total_discounts -= $order_cart_rule->value;
                    $order->total_discounts_tax_incl -= $order_cart_rule->value;

after that put this code:

                    $round = round($order_cart_rule->value_tax_excl);
                    $order_cart_rule-

[2019-10-09 21:02] tonspeed commented on #9757
In 1.7.6.1 still the same - not working :(

[2019-10-09 21:06] cedricfontaine opened #15892 "Tax for shipping are duplicated when delivery slip is generated before invoice"
Hello,

When the invoice is configured to be generated after the delivery slip, taxes for shipping will be duplicated in the invoice.

I found that Order::setDeliverySlip will call OrderInvoice::setInvoiceDetails and populate the order_invoice_tax table, even if it does not create any invoice.

Later when generating the order, Order::setInvoice will call once again OrderInvoice::setInvoiceDetails

[2019-10-09 22:18] BenTen commented on #12687
@morghy1992 You need found Red Line in your .tpl and replace by Green Line but The PR is to fix "Classic Theme" of Prestahop.
The "Leo Theme" is maybe a bit different, you need to ask to the dev of the theme if you have a problem to apply the modification by yourself.

[2019-10-10 07:03] idnovate commented on #15834
@eternoendless Exactly. This is the code moved to another function https://github.com/PrestaShop/PrestaShop/blob/1.7.5.x/classes/PaymentModule.php#L396-L402

[2019-10-10 07:35] fdonnet commented on #15877
@khouloudbelguith
Files sent by email.

the yml.dist seems a bit strange because it only contains default values ?
Thx for the support.
Regards,

[2019-10-10 07:38] fdonnet commented on #15080
@fabiorme a #15877 issue has been open again because on my side the problem persists even with the 1.7.6.1 upgrade.

For info, I don't have any error in the upgrade process but at the end, when the upgrade is finished without any error, I have the same database_prefix issue you described above (for the frontend part of the shop)

[2019-10-10 07:38] khouloudbelguith commented on #15889
Hi @sbaraka,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-10-10 07:44] khouloudbelguith commented on #15468
Hi @johanmeer,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-10 07:44] #15468 closed, assigned to nobody

[2019-10-10 07:45] khouloudbelguith commented on #15478
Hi @attractive,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-10 07:45] #15478 closed, assigned to nobody

[2019-10-10 07:46] khouloudbelguith commented on #15450
Hi @sireris,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-10 07:46] #15450 closed, assigned to nobody

[2019-10-10 07:46] khouloudbelguith commented on #15476
Hi @TemKaSD,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-10 07:47] #15476 closed, assigned to nobody

[2019-10-10 07:47] khouloudbelguith commented on #15487
Hi @kimo1960,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-10 07:47] #15487 closed, assigned to nobody

[2019-10-10 07:48] khouloudbelguith commented on #15210
Hi @icemansparks,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-10 07:48] #15210 closed, assigned to nobody

[2019-10-10 08:23] sarjon commented on #15827
Part of this issue, we should remove details from Payment block (marked as red https://prnt.sc/phbcbb), is that correct @LouiseBonnard ? :)

[2019-10-10 08:25] maofree commented on #15853
Hi
Is it necessary to set on "true" for "Disable Reordering" option ?

![1](https://user-images.githubusercontent.com/653230/66551700-45a31880-eb48-11e9-9b09-55062974ef3b.png)

bye

[2019-10-10 08:30] khouloudbelguith commented on #15892
Hi @cedricfontaine,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/16PcwejeH30dZ_bklQFkOqZGbJgbpEHlU/view
Thanks to check & feedback.

[2019-10-10 08:33] khouloudbelguith commented on #15891
Hi @eriknuds,

Could you please add steps to reproduce the issue in a new comment.

Thanks!

[2019-10-10 08:34] khouloudbelguith commented on #15662
@Refe313, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-10 08:35] LouiseBonnard commented on #15827
It's correct, @sarjon, thank you. @colinegin said that it might be relevant to add a hook instead, for modules to be able to push some information.

[2019-10-10 08:42] eriknuds commented on #15891
Sure, here are the steps to reproduce:

Install or upgrade to Debian 10 (Buster)
Try PS 1-click upgrade.
Observe - it can't find version info or do an upgrade.
Change SECLEVEL from 2 to 1 in /usr/llib/ssl/openssl.cnf
Observe - 1-click upgrade works.

[2019-10-10 08:43] khouloudbelguith commented on #15791
@DevSTG, Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, this wi

[2019-10-10 08:44] khouloudbelguith commented on #15853
@maofree, no it is not necessary, it is just an option.
But, I need some extra details to reproduce the issue, because it is OK in my case.

Thanks!

[2019-10-10 08:54] leccyril commented on #14595
I activated USD and it was working i think maybe as the demo orders are in USD devise maybe it cause problem ? but i could be great to delete thoses demo datas

[2019-10-10 09:27] beniwal commented on #13939
This issue can be fixed by updating lanuages in International -> translations.

I worked on this issue like 2-3 days and finally figured it out. It was taking 50 sec to load very simple shop and after updating language it started loading in 2 secs.

[2019-10-10 09:31] khouloudbelguith commented on #15853
@maofree, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-c

[2019-10-10 09:42] matks opened #15893 "Hide payment details in Order page"
Following
- https://github.com/PrestaShop/PrestaShop/pull/15778#issuecomment-537911939
- https://github.com/PrestaShop/PrestaShop/pull/15778#issuecomment-538331114
- https://github.com/PrestaShop/PrestaShop/pull/15778#discussion_r332605043

It seems we want to remove any payment infos from the order page.

@colinegin @MatShir you confirm ?

I just want to state that I'm against it. PS shows what t

[2019-10-10 09:43] colinegin commented on #15893
@LouiseBonnard wdyt ?

[2019-10-10 09:44] khouloudbelguith commented on #15877
@fdonnet, yes I just received your email.
Those files are ok.
Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1.Upload the file to the server. You should upload your file to the

[2019-10-10 09:46] khouloudbelguith commented on #9757
Hi @tonspeed,

Sorry, it is not fixed yet.

Thanks!

[2019-10-10 09:51] r4dhwene opened #15894 "AdminCustomerController not found"
Hello
i can't find the file AdminCustomerController to edit customer form
Can you help me?

[2019-10-10 09:56] matks commented on #15894
@r4dhwene This controller has been migrated to Symfony in latest release PS 1.7.6
The new controller is `PrestaShopBundle\Controller\Admin\Sell\Customer\CustomerController`

You might also be interested in
- a tutorial we have written to explain how to edit the form https://devdocs.prestashop.com/1.7/modules/sample_modules/grid-and-identifiable-object-form-hooks-usage/
- an exemple module to edit

[2019-10-10 09:56] #15894 closed, assigned to nobody

[2019-10-10 09:58] khouloudbelguith commented on #15894
@r4dhwene, Those pages are migrated to symfony as described here: http://build.prestashop.com/news/prestashop-1-7-6-0-beta-release/
You can find the controller in this path: `Prestahop_Project/src/PrestaShopBundle/Controller/<path>/<Your>Controller`
- For example `AdminCategoriesController` exist here: `Prestahop_Project\src\PrestaShopBundle\Controller\Admin\Sell\Catalog`
- `AdminCustomerControlle

[2019-10-10 10:02] Modii opened #15896 "Catalog product page gives error 500 after upgrade from 1.7.3 to 1.7.6"
Hello,

I can't access the product catalog page or edit any products after upgrading from 1.7.3.1 to 1.7.6.1

It gives me two fatal php errors.

The first exception: Twig\Error\RuntimeError

in src/PrestaShopBundle/Resources/views/Admin/layout.html.twig (line 34)
[code]
The second exception: Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException

[code]

I've tried disabling all