[2022-01-13 15:29] devphoenix2404 commented on #27345
here more details
![image](https://user-images.githubusercontent.com/53808050/149359273-c16da05a-9393-4411-a842-a790f82c38a8.png)

[2022-01-13 15:39] #24399 closed, assigned to kpodemski, NeOMakinG

[2022-01-13 15:40] #27222 closed, assigned to PululuK

[2022-01-13 16:16] marwachelly opened #27348 "BO - An error is displayed in some legacy pages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error is displayed in multistore

[2022-01-13 16:21] hibatallahAouadni commented on #27345
Hello @devphoenix2404

I didn't manage to reproduce the issue with PS1782, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/149368175-db72212b-2b84-49ee-9099-e788f1f3657a.mp4

From which version did you upgrade? can you please provide your PHP version :pray:
And please disable any third-module may be related to cart (I see that you mention this module Sendi

[2022-01-13 16:24] #27074 closed, assigned to nobody

[2022-01-13 16:26] hibatallahAouadni commented on #27272
Hello @LocalHeroPro

Do you mean that with PS1782 you didn't encounter the issue?
Waiting for your feedback.

Thanks!

[2022-01-13 16:39] LocalHeroPro commented on #27272
Yep.

[2022-01-13 17:02] hibatallahAouadni commented on #27272
Great :tada:
Closing the issue as it has been fixed :wink:

Thanks for your feedback!

[2022-01-13 17:02] #27272 closed, assigned to nobody

[2022-01-13 17:16] MatShir commented on #9514
Thanks for your input @kpodemski, I quite agree on that. Let's close this issue :)

[2022-01-13 17:16] #9514 closed, assigned to nobody

[2022-01-13 18:07] LocalHeroPro commented on #27272
So I'm guessing: resolution is to update to the latest up two major versions?

[2022-01-13 21:09] hibatallahAouadni commented on #25179
Ping @SD1982
if the message is longer than this line repeated than 8 times, then the exception will be thrown :wink:

`In the FO, in the carrier selection step an exception is displayed if the order message is too longIIn the FO, in the carrier selection step an exception is displayed if the order message is too long`

IMHO, no customer will ever write a longer text than this sentence above repeat

[2022-01-13 21:31] hibatallahAouadni commented on #24301
Hello @sarahdib

This issue has been fixed on develop, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/149412223-abc7beb6-882c-441a-af77-93d62da16fdc.mp4

Closing this issue!
Thanks!

[2022-01-13 21:31] #24301 closed, assigned to nobody

[2022-01-13 21:54] mastudillot commented on #26553
Hi @florine2623,

was it possible to verify the error? Do you need more detail on how to reproduce the problem?

[2022-01-13 22:36] Juiliard opened #27351 "Module Description gives "missing" Translation issue"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Module description text: "Get notif

[2022-01-14 00:47] Hlavtox commented on #24778
@jolelievre Do you think we can implement this while migrating the product page? It seems that it was just forgotten in PS 1.6 days. 🤔

[2022-01-14 00:50] #23113 closed, assigned to nobody

[2022-01-14 00:51] #23047 closed, assigned to nobody

[2022-01-14 00:54] Hlavtox commented on #14629
Fixed in crowdin

[2022-01-14 00:54] #14629 closed, assigned to sarahdib

[2022-01-14 05:39] devphoenix2404 commented on #27345
Hi @hibatallahAouadni

Thanks for the response.

Actually, i'm using Sendinblue module, where we call `$cart->getProducts();` it leads to fatal error(above details).

Can you share the example to call getProducts() so that I can change in Sendinblue module.

Thanks

[2022-01-14 07:12] jf-viguier commented on #27222
Thanks

[2022-01-14 07:20] gross-nvs opened #27352 "GDPR module (psgdpr) has unfinished multishop support"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-14 08:47] khouloudbelguith commented on #27352
Hello @gross-nvs,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2022-01-14 08:51] khouloudbelguith commented on #27352
Hi @gross-nvs,

About the third issue:

Reported in this issue: https://github.com/PrestaShop/PrestaShop/issues/23314

Thanks!

[2022-01-14 09:09] #24750 closed, assigned to Progi1984

[2022-01-14 09:12] khouloudbelguith commented on #27345
Hi @devphoenix2404,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.

I will close this issue, feel free to create a new one when needed.

Thanks!

[2022-01-14 09:12] #27345 closed, assigned to nobody

[2022-01-14 09:13] PrestaEdit commented on #27075
Google Sitemap is set to `seo` at this moment, it's need to be updated to `checkout` ?

[2022-01-14 09:41] PrestaEdit commented on #27075
It's seems that I have forgotten one module, but I can't say wich right now :-/

[2022-01-14 11:14] Juiliard commented on #27351
1. Hi. Yes, this is exactly what I meant - the text from module "Description" filed `   $this->description = $this->l('Description of my module.');`  is missing from the translation strings.
2. I have checked file  /PrestaShop/Modules/Ps_faviconnotificationbo.php - in line 49 I have also this expression available:
`$this->description = $this->trans('Get notified directly on your browser tab each t

[2022-01-14 11:22] hibatallahAouadni commented on #27058
Duplicate of #27266

[2022-01-14 11:22] #27058 closed, assigned to nobody

[2022-01-14 13:18] khouloudbelguith commented on #27351
@Juiliard, thanks for your feedback.
About the `Order Notifications on the Favicon`, it is a regression module.

- I checked with PS1778 + `Order Notifications on the Favicon` v 2.1.0 => no missing translations
- I checked PS1778 + `Order Notifications on the Favicon` v2.1.1 => there is missing translations

So I can confirm that this behavior is indeed a bug.

Please be aware that due to the high

[2022-01-14 13:57] #26916 closed, assigned to Progi1984

[2022-01-14 16:08] khouloudbelguith opened #27356 "The header of the stock page is not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The header of the stocks page is no

[2022-01-14 16:08] #27075 closed, assigned to Progi1984, PrestaEdit

[2022-01-14 16:11] atomiix commented on #26968
@PrestaEdit just made a PR that solves it. In the meanwhile you should be able to make it work by calling `parent::__construct()` right **before** declaring the `ps_versions_compliancy` property.

[2022-01-14 19:32] devphoenix2404 commented on #27345
Hi @khouloudbelguith

Thanks for your response.

Yeah, I know that actually I'm working with the module, thing is that

The call on `$cart->getProducts()` is working fine with version below 1.7.8.0 but in the above version, it's giving error like I've shown in the recording.

The error is only coming, for the clients using PS version 1.7.8.0 or above. Please help me with it.

Thanks

[2022-01-14 22:41] hibatallahAouadni commented on #27345
Ping @devphoenix2404  you can ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channel](https://prestashop.slack.com) :wink:

[2022-01-14 22:55] seederp2p commented on #12746
I reported this in 2019.

If you're not going to reintroduce this it's better to close this...

[2022-01-14 22:59] seederp2p commented on #9594
This bug was open 1241 days ago and we all agree that this is something important to fix.

Why is this so hard to get this fixed?

Thanks

[2022-01-14 23:30] FongWan opened #27357 "`strip_tags()` expects parameter 1 to be string, array given in /prestashop/classes/db/Db.php on line 791"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the server error log there are l

[2022-01-15 09:05] photoinvest commented on #15690
@arouiadib
Tried your solution. Thanks for sharing. Saved my day.

[2022-01-15 09:11] devphoenix2404 commented on #27345
@hibatallahAouadni doesn’t allow [the public Slack channel](https://prestashop.slack.com/) to login. The error is coming because of the version update that's why I've posted here 🙏🏻😅

[2022-01-15 10:14] mparvazi commented on #27343
@tswfi

Adding an icon before filtered-column name.
Using focus-state color for border.

![Screenshot 2022-01-15 at 10-13-23 Orders • ps](https://user-images.githubusercontent.com/85633460/149618129-87fe619e-042f-4e9e-b11b-0e78fadebc02.png)

[2022-01-15 10:19] tswfi commented on #27343
I like the icon! And it could also double as "clear this filter" action?

There is actually another thing that has been bugging me with the filter. IIRC you cannot just clear the filter value and hit search again to clear it if it is the only filter, you have to use the "reset" action (on mobile so I cannot double check how it works currently).

[2022-01-15 10:27] mparvazi commented on #27343
When user hover on filter icon, then clear only that filter.

Hover state:
![Screenshot from 2022-01-15 10-25-36](https://user-images.githubusercontent.com/85633460/149618489-3255884e-3803-4ac6-84b8-47c882b6d96e.png)

[2022-01-15 10:46] masiorama commented on #26619
Hello, are there any further considerations to make about this or it is not worth the attention/context?
Just to know, thanks!

[2022-01-15 18:12] tswfi commented on #27343
Now tested the "clear this particular filter" and at least in 1.7.8.2 it does act a bit wonky.

Steps to reproduce:
1. orders listing
2. filter with name "doe" => the filter is applied and the list is filtered nicely
3. clear the name filter field and click search => "doe" filter is still applied
4. put just a space in the name filter and click search => "doe" filter is still there

This should pr

[2022-01-15 18:42] maofree commented on #27096
Hi
I get the same error, this error is present on the version 5.0.0, the 4.2.2 was ok

[2022-01-15 18:52] maofree commented on #27096
I did some tests and I confirm that with version 4.2.2 there are no errors

[2022-01-15 19:17] web-burn commented on #27096
Hi,

If you activate default theme "Classic" and then enable your theme again after these action the error will not occur.
It helped me.

[2022-01-15 19:19] maofree commented on #27096
Hi
I cannot do this action with a real website, there is a problem with the hooks
I'm studing to solve it

[2022-01-15 21:41] maofree commented on #27096
I did a lot of tests, but I did not understand why on version 4.2.2 everything works well while with 5.0.0 there is this error, if I put the tpl and js files of 4.2.2 it continues to give the same errors in the pages of the products where comments are present.
in my opinion this error should have a higher priority in the resolution.

[2022-01-15 22:20] davidglezz opened #27362 "Remove/Deprecate cleanNonUnicodeSupport function"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The function `Tools::cleanNonUnicod

[2022-01-15 22:39] SharakPL opened #27363 "Product instance in FO is filled mostly with useless information"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

`$product` variable on product page

[2022-01-16 09:34] Hlavtox commented on #27363
The translations are shown all the time when you dump the product, but I think they are not really **in** the variable. I don't know why is it like this. 🤔

The low performance is caused by the hundreds of duplicated DB queries man. :(

[2022-01-16 11:01] web-burn commented on #27096
I don't know why Prestashop is ignoring the problem.

[2022-01-16 12:37] SharakPL commented on #27363
I'll take your word for it as I'm not good enough with PHP.
Still putting all this information inside Cart instance or maybe I should say Product instance seems pointless. All other variables used by the shop that I know of are clear and compact. Actually $cart is also clear when empty. Products make a mess of it.

[2022-01-16 13:11] Oksydan commented on #27096
@maofree it's already has been fixed https://github.com/PrestaShop/productcomments/pull/121

[2022-01-16 13:17] maofree commented on #27096
ok thanks
I'll wait the next update

bye

[2022-01-16 14:58] fire2 commented on #21943
afaik this issue was fixed on 1.7.8.1 and can be closed.

[2022-01-16 20:46] matks commented on #27363
It maybe is done on purpose

Looks similar to https://github.com/PrestaShop/PrestaShop/issues/25633

Some data has been made available to "make available data that might be useful for modules in order to make building modules easier"

Not sure if that's the reason

[2022-01-16 22:48] SharakPL commented on #27363
Thanks @matks
Maybe `print_r` isn't the best way to check this as it also shows private and protected properties. Still looks like whole shop's translation is attached to each product instance. What's the point of that?

[2022-01-17 06:59] kpodemski commented on #27363
If you do `{$product->jsonSerialize()}` you will see a more readable information about the product.

[2022-01-17 07:02] #27085 closed, assigned to nobody

[2022-01-17 08:22] SharakPL commented on #27363
I know, already tried json_encode.
Is there a point to having translations attached to product instance in FO? They're not even a product related translations nor shop’s translations. I'm guessing it's inherited from parent classes but should it be like that, especially in the cart?

Wouldn't it be better to have simple compact instances of a product in the cart. There's not much needed there. It

[2022-01-17 09:07] marwachelly commented on #26741
Hello everyone,

Thank you for your pacitience and your report. We closed the issue cause we couldn't reproduce the issue with provided infos.
@PrestaShop/prestashop-core-developers Could you please try to reproduce the issue?

Thanks,

[2022-01-17 09:16] hibatallahAouadni commented on #27345
Cause you need to create a new account on this Slack and you have two options :wink: (try to connect with Google):

![image](https://user-images.githubusercontent.com/23308427/149741384-029a5d50-537e-47cd-8460-a6c8836fdcb7.png)

[2022-01-17 09:28] matks commented on #9594
Hello @seederp2p it seems that this issue is important for you.

If you find that this issue is critical for you, and it's important to have it fixed ASAP, then you can invest into having it done. You can hire a developer to fix it, or if you are a developer yourself, you can try doing it on your own. The most important thing is to share that fix with everyone by submitting a Pull Request -- that'

[2022-01-17 09:43] hibatallahAouadni commented on #27096
Hello @web-burn

We didn't ignore any issue, you just closed the issue without waiting to be treated :wink:

As @Oksydan mentioned above this issue has been fixed with this PR PrestaShop/productcomments#121
So, closing the issue as it has been fixed in next version of the module .

Thanks!

[2022-01-17 09:43] #27096 closed, assigned to nobody

[2022-01-17 09:44] hibatallahAouadni commented on #27096
Fixed by PrestaShop/productcomments#121

[2022-01-17 09:44] fritaasd opened #27369 "Addresses are not saved after update"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

i am looking for help with

[2022-01-17 09:45] antoniofourmark commented on #9589
Still happening in Prestashop 1.7.7.8, any solutions? Enabling "Data mining for statistics" module did not work for me

[2022-01-17 10:01] hibatallahAouadni commented on #27369
Hello @fritaasd

I didn't manage to reproduce the issue with PS1.6.1.20 upgraded to 1.7.8.2, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/149748673-f7664605-4332-4b18-8046-913fe6d8a9a3.mp4

Please check and feedback.
Thanks!

[2022-01-17 10:42] hibatallahAouadni commented on #27362
Hello @davidglezz

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must complete all template blocks to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further informat

[2022-01-17 10:42] #27362 closed, assigned to nobody

[2022-01-17 10:44] atomiix commented on #26972
This issue seems to have been solved as it is not reproducible both on 1.7.8.x & develop branches.

[2022-01-17 10:44] #26972 closed, assigned to nobody

[2022-01-17 10:46] nrm83 opened #27370 "Upgrade from 1.7.6.9 to 1.7.8 error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

during upgrade we have this error:

[2022-01-17 10:53] Hlavtox commented on #25633
@matks @eternoendless This data is a security risk and should be removed from the template. Starting a new shop and your competition has prestashop? What a nice way to easily fetch all of your competitors data, with IMG urls, descriptions, everything...

If it needs to have some extra data when changing combination, the JS should fetch it, like the rest of it.

[2022-01-17 10:56] vvvamik opened #27371 "Adding language mutation - very slow eshop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi, lately we have a very slow Pres

[2022-01-17 10:57] devphoenix2404 commented on #27345
https://beta.claap.io/sendinblue/login-error-c-3YfMIiN6mG-3cIzRjONgTk0 No success 🙈

[2022-01-17 10:59] atomiix commented on #27030
@HanaRebaiQA can you check again this issue? I was unable to reproduce it on 1.7.8.x

[2022-01-17 11:17] davidglezz commented on #27362
This bug comes from a code review I've done.
there is no unwanted behavior by the user or steps,
it's a code bug
Please reopen

[2022-01-17 11:48] hibatallahAouadni commented on #27357
Hello @FongWan

I didn't manage to reproduce the issue with the provided infos :disappointed:
Could you please provide a screen record of the issue :pray:

Thanks!

[2022-01-17 11:50] hibatallahAouadni commented on #27370
Hello @nrm83

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must complete all template's blocks to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information

[2022-01-17 11:50] #27370 closed, assigned to nobody

[2022-01-17 11:54] hibatallahAouadni commented on #27371
Hello @vvvamik

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must provide a clear and concise steps to reproduce the issue to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can

[2022-01-17 11:54] #27371 closed, assigned to nobody

[2022-01-17 11:59] hibatallahAouadni commented on #27362
Ping @PrestaShop/prestashop-core-developers if you think this issue is valid please reopen it :slightly_smiling_face:
Thanks in advance :pray:

[2022-01-17 12:07] hibatallahAouadni commented on #27345
Weird :confused:

https://user-images.githubusercontent.com/23308427/149766775-719dc7e6-1522-4107-a5f2-769c8f7ff540.mp4

[2022-01-17 12:10] hibatallahAouadni commented on #26920
Hello @jlbrd

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-01-17 12:10] #26920 closed, assigned to nobody

[2022-01-17 12:33] ocio87 commented on #26972
Hello @atomiix ,

What change must be made so that it can show the store in Stock?

Thanks,

[2022-01-17 13:51] MatShir commented on #26972
@ocio87 You can upgrade to 1.7.8.3 version or wait for the 1.7.8.4 that is going to release in couple weeks :)

[2022-01-17 13:52] ocio87 commented on #26972
Perfect @MatShir, thank you very much!

[2022-01-17 14:05] rsoulard-prolaser commented on #26833
Hello,

The problem is here:
https://github.com/PrestaShop/PrestaShop/blob/507da67f87e222caffadeeb26dfa79a3293192c2/classes/form/AbstractForm.php#L151-L170
The `continue;` line 169 should be placed between line 158 and 159.
I can create a PR if you want.

[2022-01-17 15:05] marwachelly opened #27375 "FO - Order confirmation page - ps_cashondelivery is NOK"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The ps_cashondelivery module is NOK

[2022-01-17 15:06] atomiix commented on #26833
@rsoulard-prolaser nice catch! Waiting for you PR :)

[2022-01-17 15:11] msaustral commented on #9594
Hi everyone, when Prestashop ask to the community to pay to fix a core issue that is affecting many stores, reported everywhere since 2018, is causing that customer migrate to other platforms and forget about Prestashop.

Please find the FINAL solution to split order:

1- modify class/PaymentModule.php line 320 -+ and add a break before the firs closing } like this:

[code]

This will prevent the

[2022-01-17 15:14] msaustral commented on #11115
Please find the FINAL solution to split order:

1- modify class/PaymentModule.php line 320 -+ and add a break before the firs closing } like this:

[code]

This will prevent the split order.

2 - Modify class/Cart.php line 322 and 327 and erase the condition AND `id_address_delivery` = ' . (int) $id_address; like this:

[code]
[code]

This will force to update the delivery address on the cart.

Ho

[2022-01-17 15:16] msaustral commented on #27340
Please find the FINAL solution to split order:

1- modify class/PaymentModule.php line 320 -+ and add a break before the firs closing } like this:

[code]

This will prevent the split order.

2 - Modify class/Cart.php line 322 and 327 and erase the condition AND `id_address_delivery` = ' . (int) $id_address; like this:

[code]
[code]

This will force to update the delivery address on the cart.

Ho

[2022-01-17 15:18] hibatallahAouadni commented on #21943
@fire2 thanks for the tip :wink:
Indeed this issue has been fixed, cause I didn't encountered it with PS1782, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/149795758-b6a0fe7f-a4a7-4b11-85f3-90647818aa7e.png)

This issue is a duplicate of this one #22315 (as both has been fixed with the same PR).

Thanks!

[2022-01-17 15:18] #21943 closed, assigned to NeOMakinG

[2022-01-17 15:19] hibatallahAouadni commented on #21943
Duplicate of #22315

[2022-01-17 15:49] seederp2p commented on #9594
Hello, I'm sorry but that's the kind of reply that no one should give.

Saying Prestashop is a free/open-source solution gives an amateur vision of a business model that actually sells modules, support plans, etc.

Try to sell that without a fairly working CMS and you'll what happens...

This issue affects multiple users since 2018!

Nothing personal, but no one should give this kind of reply in t

[2022-01-17 16:23] matks commented on #9594
I'm sorry to tell you but what I'm saying is simply facts. You can call it "amateur vision" if you dislike it but it's the truth. This github repository is about the prestashop project, so I'm not trying to sell you anything, modules or support plans.

If nobody from the maintainer team fixed this issue since 2018 it's because it's not important enough for us to do it now. We have other things we

[2022-01-17 16:49] #18000 closed, assigned to saulaski

[2022-01-17 16:50] matks commented on #18000
Fixed by https://github.com/PrestaShop/PrestaShop/pull/27329

[2022-01-17 17:01] msaustral commented on #9594
Hi @matks, sorry but this issue doesn't seem to be a problem only to PS, there are no less than 5 different cases reporting the same issue, we've already lost 2 customers because this issue has never been fixed!

Prestashop is used in large store, some do not care if they have a split order, others it is essential not to have it since they lose sales every time a customer complains that their orde

[2022-01-17 17:07] seederp2p commented on #9594
Your reasoning is flawed and is zero "Business oriented". When someone says "if nobody thinks this bug is worth the money"... It tells a lot.

Nobody said you were selling something. but pretending that Prestashop is, at present time, a simple "good will project" with zero profit goals and pretty much "forgetting" that maybe... just maybe, some people that takes the time to report and test stuff h

[2022-01-17 17:13] seederp2p commented on #9594
Just turning into bold the real meaning of making a product "customer ready".

100% agree with this vision.

[2022-01-17 17:21] matks commented on #18028
Pull Request on ps_linklist https://github.com/PrestaShop/ps_linklist/pull/142

[2022-01-17 20:23] matks commented on #9594
Please remember how amazing this is. You benefit from _thousand_ of developers working together to make new versions of PrestaShop all the time for free. Last week, there was [9 new patch releases](https://build.prestashop.com/news/coreweekly-1-2022/) delivered for modules. How much did you pay? Zero. It was all given to you for free. PrestaShop 1.7.8.0, PrestaShop 1.7.8.1, PrestaShop 1.7.8.2... a

[2022-01-17 20:53] #23218 closed, assigned to jf-viguier

[2022-01-17 20:54] #27267 closed, assigned to PululuK

[2022-01-17 21:02] seederp2p commented on #9594
@matks this leads nowhere.

@msaustral already gave you a perfectly valid reasoning. This issue isn't minor a cosmetic flaw. This is something that leads merchants to potentially lose business.

Ecosystem is the keyword. Care is the keyword. I'll rest my case as I'm pretty sure you understand my point.

Cheers.

[2022-01-17 21:44] pppplus opened #27377 "multistore_header appears, even if employees has no right on multi shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm on a multishop
I create a emplo

[2022-01-17 21:56] eternoendless commented on #26741
It looks like something, somewhere is leaking file handlers, but what, where? We don't know. We can't prioritize this bug until we are able to reproduce it (otherwise we can't know if we have fixed it or not).

The first step is to help the QA set up an environment where the bug can be reproduced. So far we can tell that @VidarPc is running their server in FPM mode (not with mod_php like we usuall

[2022-01-17 22:00] eternoendless commented on #26741
@Ryokuhi if I understand it right, you get the error when you load the System Information page, and commenting the lines out lets you load the page?

[2022-01-17 22:29] mpaolino commented on #26553
Since it seems QA does not test with third party plugins (regardless if they trigger a core bug), here is a list of new steps to reproduce the issue. As in all the other cases, **you need to follow them to the letter if you expect to reproduce the bug**.

   1) Install a *clean* Prestashop version >= 1.7.8.0.
   2) Make sure you have installed latest "Payments by check"  module
   3) Create curren

[2022-01-17 23:33] messplay opened #27378 "ps_emailsubscription not add new suscriptors"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

when I test add new susciption , th

[2022-01-18 03:46] BenTen opened #27379 "Cart Rules for categories"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-18 04:27] Guisardo commented on #26553
I can confirm that the issue is still present at the version 1.7.8.2.
The constant _PS_PRICE_COMPUTE_PRECISION_ was deprecated:
https://github.com/PrestaShop/PrestaShop/blob/develop/config/config.inc.php#L138

But still is been used at the PaymentModule class:
https://github.com/PrestaShop/PrestaShop/blob/develop/classes/PaymentModule.php#L333
https://github.com/PrestaShop/PrestaShop/blob/develop/

[2022-01-18 08:24] matks commented on #9594
I agree this leads nowhere and we are far away from the point of this web page which is to track the bug.

So let's stop discussing out-of-scope matters. Further discussions on this topic should be about the bug status and the bug progress, nothing else.

[2022-01-18 09:27] pixmax opened #27380 "No email sending after update to 1.7.8.2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Prestashop has gone silent after up

[2022-01-18 09:41] atomiix commented on #27252
@NeOMakinG Can you have a look at this issue? From what I see it's only a css issue

[2022-01-18 09:58] marwachelly commented on #27377
Hello,
Thank you for your report. I was able to reproduce the issue with PrestaShop version 1.7.8.0 and develop.
https://watch.screencastify.com/v/Jv1uwKfL6vov4lMXYYBc
The issue is not reproducible with PS 1.7.7.8 it is a regression.
https://watch.screencastify.com/v/QUsH1J4RgrWu1i5EXupA
 I'll add this to the debug backlog so that it's fixed. Please be aware that due to the high number of reported

[2022-01-18 10:06] Ryokuhi commented on #26741
Hello @eternoendless, and thanks for looking into this issue.

You got it: if I try and load the System Information page (or the 1-Click Module page), I get the Error 500; after commenting the lines above, I can load the page.

I'm not good at SysAdmin either, but, if useful, our Server Software is Apache and the Server API is CGI/FastCGI. If you need any extra information, just ping me and I'll t

[2022-01-18 10:19] HanaRebaiQA commented on #27030
Hello @atomiix

I think that the issue is fixed on PS178x branch. But, it appears on develop.
So, i will change the version of the issue.

178x :
https://watch.screencastify.com/v/Zzz2obZVK5L06oUcmRqP
develop :
https://watch.screencastify.com/v/8hwRnBer95FOgvrbg6hi

[2022-01-18 10:36] #27307 closed, assigned to tegbessou

[2022-01-18 11:17] musicpanda opened #27382 "extra costs field for orders"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-18 11:19] Hlavtox opened #27383 "Modern backoffice assets do not build properly on Windows"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Assets do not build properly inside

[2022-01-18 11:41] FongWan commented on #27357
Hello @hibatallahAouadni

I have edited the issue description with screenshots, please take a look.

The weird thing is that I couldn't reproduce the issue on localhost with a fresh install either. However, by the definition of PHP's `str_replace` function that can be returned as an array, it can cause an error anytime if there isn't a check on `Tools::nl2br` function.

[2022-01-18 11:53] Blackmamba83 commented on #19807
ciao filippo io ho inserito il codice in prestashop ho anche aggiornato la cache e forzato la compilazione da parametri avanzati ma cmq non va. Hai qualche altra info da dare? io uso prestashop 1.7.7.0
Grazie

[2022-01-18 11:59] HanaRebaiQA opened #27384 "BO - An exception is thrown on Pages configuration of Theme & Logo"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

 An exception is thrown on `Theme &

[2022-01-18 12:18] mparvazi opened #27385 "[BO] Bad display of header itmes in medium screen"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

- **768px < width < 1039px**
The he

[2022-01-18 12:39] zorrobiwan commented on #25797
so it will not be fixed in 1.7.* ?

[2022-01-18 12:53] Progi1984 commented on #27384
@HanaRebaiQA It seems it is fixed in `dev` branch of the module (with this PR PrestaShop/ps_themecusto#47).

Could you check it ?

[2022-01-18 13:01] mparvazi opened #27386 "[BO] Bad display of progress bar for bulk actions"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The progress bar percentage in bulk

[2022-01-18 13:25] fire2 commented on #26741
I've been experiencing this issue on all my Prestashop installations on Siteground for a while now (2 months or so I'd say). Back when it started happening, I did a deep analysis and found out the same things @Ryokuhi pointed out. I was not aware of this Git issue.

I created back then an override for ConfigurationTest class that disabled all the recursive tests (made them non-recursive). That sol

[2022-01-18 13:56] atomiix commented on #27377
@marwachelly I can't access the second video 🤔
Also, on the first video, we can see that the new user is associated to both shop when you edit its role.

[2022-01-18 13:56] marwachelly commented on #27386
Hello,
Thank you for your report. I was able to reproduce the issue with PrestaShop version 1.7.8.0 and develop.
https://watch.screencastify.com/v/gQhdiUqHVUeKJ4M447rR
The issue is not reproducible with PS 1.7.7.8 it is a regression.
I'll add this to the debug backlog so that it's fixed. Please be aware that due to the high number of reported issues, some bugs might take a very long time to be res

[2022-01-18 14:02] PierreRambaud commented on #27384
No, it's not related to this PR :)

[2022-01-18 14:14] seederp2p commented on #9594
@matks actually @msaustral already provided a suggestion for the solution... so maybe this should be tested and incorporated in the core.

[2022-01-18 14:32] marwachelly commented on #27377
@atomiix  The issue is that the settings of the shop association are not saved. That's lead to wrong right access to the multishop.
PS 1.7.8.0
https://watch.screencastify.com/v/n6tau0V73luwDi2WxGQt

PS 1.7.7.8
https://watch.screencastify.com/v/uLaYObAMgnuxwf6VBDqH

[2022-01-18 14:43] pppplus commented on #27377
For me employee has ONLY his shop checked. (1.7.8.0)
When I'm connected with his login/password, I see the multistore_header with all stores availables.

Impossible to enter into them, but I see them.

[2022-01-18 15:15] marwachelly commented on #27379
Hello,

Thank you for your suggession and you report. It is possible in prestashop to add a cart rule with a specific category. Do you mean that ?
https://watch.screencastify.com/v/YUHWo7x1poxgdFRooaCM

Thanks,

[2022-01-18 15:26] Saimis777 opened #27390 "[BO] - Locations/Countries - Mandatory tables when blank still get saved"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When adding a new country in the lo

[2022-01-18 15:27] marwachelly commented on #27378
Hello,

Thank you for your report, We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of [#26698]
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks,

[2022-01-18 15:27] #27378 closed, assigned to nobody

[2022-01-18 15:27] marwachelly commented on #27378
Duplicated to [#26698]

[2022-01-18 15:34] marwachelly commented on #27382
Hello,
Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this feature int

[2022-01-18 15:43] marwachelly commented on #27390
Hello,

Thank you for your report. I was able to reproduce the issue with PrestaShop version 1.7.7.8
https://watch.screencastify.com/v/p0tbsJntozSCvb5CatZZ
I'll add this to the debug backlog so that it's fixed. Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixe

[2022-01-18 16:05] eternoendless commented on #26741
@marwachelly would you care to try with apache/php-fpm and the configuration I shared to see if you can reproduce the issue? (e.g. in the System information page)

[2022-01-18 16:14] marwachelly commented on #27385
Hello,
Thank you for your report. I was able to reproduce the issue with PrestaShop version 1.7.8.0 .
https://watch.screencastify.com/v/kyjOq5HIz61yfElagzrZ
The issue is not reproducible with PS 1.7.7.8 it is a regression.
I'll add this to the debug backlog so that it's fixed. Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If t

[2022-01-18 16:24] marwachelly commented on #27383
Hello,

Thank you for your report. We are looking for a windows PC actually to reproduce the issue. Your ticket will be analysed as soon as we prepare the suitable environment.

Thanks for your understanding,

[2022-01-18 16:30] Progi1984 commented on #27311
Fixed by @atomiix  in #27228 (cf https://github.com/PrestaShop/PrestaShop/pull/27240#issuecomment-1012291160)

[2022-01-18 17:04] atomiix commented on #27377
@pppplus you're right, there's 2 bugs here: the first is that shop selection should not be visible when `SuperAdmin` profile is selected and the second is the one you reported!

[2022-01-18 17:22] pixmax commented on #27380
Many thanks for your reply. The Prestashop 1.7.6.7 initially ran with PHP 7.3. Then the store owner changed the PHP version to 7.4, which caused the back office to stop working correctly. I then performed the Prestashop update to version 1.7.8.2. Unfortunately, the problems described above now occur.
Best regards

[2022-01-18 18:56] michybetti opened #27391 "Error sent by Addons. You may be not allowed to download this module. [Exception 0]"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello everyone, I have a problem th

[2022-01-18 21:26] eternoendless commented on #25633
This is not a feature request but a bug: IMO, as I described [here](https://github.com/PrestaShop/PrestaShop/issues/25633#issuecomment-920146303), if the setting are disabled then the properties shouldn't be visible. Same when the setting is enabled but the quantity is over the minimum quantity specified there.

This can be reproduced by loading a product page, opening up the console, typing `$('.

[2022-01-18 22:52] SNor42 commented on #20011
Hi!
What I can see, that the language files are loaded from https://i18n.prestashop.com/

For example: https://i18n.prestashop.com/translations/1.7.7/hu-HU/hu-HU.zip

And I think this is the same zipped content, which we can see here:
https://github.com/PrestaShop/TranslationFiles/tree/master/1.7/translations/1.7.7/hu-HU
And this folder was updated on 2021-06-22, as the description said.

So, I gu

[2022-01-18 23:09] SharakPL commented on #27391
I get this too lately. Looks like required dependencies aren't handled properly. Try installing **ps_account** and **ps_eventbus** modules if you don't have them yet and of course **psaddonsconnect**

[2022-01-19 01:34] BenTen commented on #27379
my bad, I never seen that m(_ _)m

[2022-01-19 01:34] #27379 closed, assigned to nobody

[2022-01-19 01:57] go-sudo opened #27392 "can't enable mode debug or edit products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

When I try to activate debu

[2022-01-19 08:48] HanaRebaiQA commented on #26933
This issue is not fixed on the release 4.14.0

[2022-01-19 10:27] Progi1984 commented on #27261
@tegbessou Is it good ?

[2022-01-19 10:33] Progi1984 commented on #27261
After discussion with @Robin-Fischer-PS, we wait the release of `autoupgrade`

[2022-01-19 10:48] mparvazi opened #27395 "Using Stylelint for Vue Components"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-19 10:56] hibatallahAouadni commented on #27391
Hello @michybetti

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must fill the template to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide further information, we wil

[2022-01-19 10:56] #27391 closed, assigned to nobody

[2022-01-19 10:58] hibatallahAouadni commented on #27395
Hello @mparvazi

Thank you for your suggestion. The Developer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
Waiting for your PR :rocket:

Thank you

[2022-01-19 10:59] Progi1984 commented on #27210
@marwachelly Have you got always the problem with the `dev` branch of the module ?

[2022-01-19 10:59] Progi1984 commented on #27211
@marwachelly Have you got always the problem with the `dev` branch of the module ?

[2022-01-19 11:00] Progi1984 commented on #27212
@marwachelly Have you got always the problem with the `dev` branch of the module ?

[2022-01-19 11:00] Progi1984 commented on #27213
@marwachelly Have you got always the problem with the `dev` branch of the module ?

[2022-01-19 11:01] Progi1984 commented on #27202
@marwachelly Have you got always the problem with the `dev` branch of the module ?

[2022-01-19 11:02] Progi1984 commented on #27189
Assigned to an admin : @eternoendless @matks or @PierreRambaud

[2022-01-19 11:02] Progi1984 commented on #27200
@marwachelly Have you got always the problem with the `dev` branch of the module ?

[2022-01-19 11:02] Progi1984 commented on #27198
@marwachelly Have you got always the problem with the `dev` branch of the module ?

[2022-01-19 11:02] Progi1984 commented on #27197
@marwachelly Have you got always the problem with the `dev` branch of the module ?

[2022-01-19 11:03] Progi1984 commented on #27196
@marwachelly Have you got always the problem with the `dev` branch of the module ?

[2022-01-19 11:03] Progi1984 commented on #27194
@HanaRebaiQA  Have you got always the problem with the `dev` branch of the module ?

[2022-01-19 11:03] Progi1984 commented on #27195
@HanaRebaiQA  Have you got always the problem with the `dev` branch of the module ?

[2022-01-19 11:03] Progi1984 commented on #27199
@khouloudbelguith   Have you got always the problem with the `dev` branch of the module ?

[2022-01-19 12:10] OscarLate opened #27396 "Specific price Rule Condition"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-19 13:38] hibatallahAouadni commented on #27396
Hello @OscarLate

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2022-01-19 13:55] PierreRambaud commented on #27189
Why we don't only have one repository with branches? Are we planning to create X repositories for X languages?

[2022-01-19 13:58] Progi1984 commented on #27189
Affirmative. While we can't count contributions on different branches on Github, we must create a repository per language & version, as we discussed during the meeting about the User Documentation

[2022-01-19 14:17] okom3pom commented on #22637
Hello,

For me this is not a regression, but an improvement.
Before we couldn't find these products with custom feature via the facet search.
The merchant has created these two values in any case.
PrestaShop does the work, the error comes from the merchant.

I propose :

An alert in the BO.
A button to delete and replace the custom value.

[2022-01-19 14:37] AurelienDud commented on #26741
I also get the problem to upgrade from 1.7.7.0 to 1.7.8.2 with the 1-Click-Upgrade module made by Prestashop itself. My hosting isn't Siteground but Ionos.

[2022-01-19 14:49] hibatallahAouadni commented on #27392
Hello @go-sudo

I think you should check and change the access riht of this file `/your_shop/config/defines.inc.php`.
Cause in this file, you can enable the debug mode even manually :wink:

![image](https://user-images.githubusercontent.com/23308427/150154469-12a1a127-21ec-4771-938a-cd1615dce30b.png)

Closing this issue :relaxed:
Thanks!

[2022-01-19 14:49] #27392 closed, assigned to nobody

[2022-01-19 15:24] JoryHogeveen opened #27399 "Anchor links for image slider are incorrectly formatted"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The `ps_imageslider` plugin adds `h

[2022-01-19 15:50] Progi1984 commented on #25894
@marionf A question :
When I read this sentence :

I imagine that this block will not in the module `autoupgrade` but in the core. So only in version 8.0

[2022-01-19 15:53] Progi1984 commented on #27172
@eternoendless May be creating the repository should be a first step.

[2022-01-19 15:53] HanaRebaiQA opened #27400 "BO - The Pages Configuration & Advanced Customization pages are missing in the Theme&Logo page when upgrade from 1.6 to 1.7"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The `Pages Configuration` and `Adva

[2022-01-19 16:00] #27204 closed, assigned to Progi1984

[2022-01-19 16:52] bogdanbeniaminb opened #27402 "Issues with null values inside the Order::getCustomerOrders logic"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The current (master branch) code ha

[2022-01-19 17:14] bogdanbeniaminb commented on #27402
![image](https://user-images.githubusercontent.com/45259752/150180682-8e15ebd9-3b02-45e8-bf33-6ed57024bcaf.png)

[2022-01-19 17:17] bogdanbeniaminb commented on #27402
This is NOT a duplicate of https://github.com/PrestaShop/PrestaShop/pull/19581, it just displays an issue that was not handled completely when https://github.com/PrestaShop/PrestaShop/pull/19581 was handled. The fix to that bug doesn't "gracefully fail" when modules misbehave and do things the wrong way (removing the order state from the database directly, for example).

[2022-01-19 20:12] michybetti commented on #27391
Hi thanks for the reply

I did not understand what modules to install that you call

ps_account and ps_eventbus and psaddonsconnect

I searched the marketplace but it can't find them

[2022-01-19 20:32] fritaasd commented on #27369
Have you got idea where can i find the problem?

[2022-01-19 20:57] SharakPL commented on #27391
I noticed this too. It's like this modules where never there. That's weird 🤔

[2022-01-20 08:33] HanaRebaiQA commented on #27400
It's related to `ps_themecusto` module which is not installed.
This module is only compatible with PrestaShop 1.7 and more. See here https://github.com/PrestaShop/ps_themecusto

So, the issue is closed.

[2022-01-20 08:33] #27400 closed, assigned to nobody

[2022-01-20 08:35] Heinrich-Ffm opened #27409 "PLACE ORDER button does not work as designed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

As soon as you disable 'Terms of se

[2022-01-20 09:13] hibatallahAouadni commented on #27369
Hello @fritaasd

I think it will be better if you disbale every module (or overrides) may impact on Addresses, then check if you still encounter the issue. By the way these options `Disable all overrides` & `Disable non PrestaShop modules` in BO are not working (check the issue #9965).

I have to close the issue cause it's not PS Core bug.
Otherwise, you can ask for help in the [community forums](

[2022-01-20 09:13] #27369 closed, assigned to nobody

[2022-01-20 09:26] marwachelly commented on #27213
Hi @Progi1984,

The issue is fixed with the `dev` branch of the module.

Thanks,

[2022-01-20 09:27] marwachelly commented on #27212
Hi @Progi1984,

The issue is fixed with the `dev` branch of the module.

Thanks,

[2022-01-20 09:27] marwachelly commented on #27211
Hi @Progi1984,

The issue is fixed with the `dev` branch of the module.

Thanks,

[2022-01-20 09:27] marwachelly commented on #27210
Hi @Progi1984,

The issue is fixed with the `dev` branch of the module.

Thanks,

[2022-01-20 09:29] #27213 closed, assigned to PrestaEdit

[2022-01-20 09:32] #27212 closed, assigned to nobody

[2022-01-20 09:33] #27211 closed, assigned to PrestaEdit

[2022-01-20 09:33] hibatallahAouadni commented on #27409
Hello @HeinrichKarl

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #9927.
It's already fixed on develop with this PR #22389.

Thanks!

[2022-01-20 09:33] #27409 closed, assigned to nobody

[2022-01-20 09:33] #27210 closed, assigned to PrestaEdit

[2022-01-20 09:33] hibatallahAouadni commented on #27409
Duplicate of #9927

[2022-01-20 10:12] HeinrichKarl commented on #27409
Hi,
you are sure, it's the same? In my case you don't have a cart amount of 0.
It's the combination of only one payment method and deactivated 'Terms of service'.
Besides that, the problem is really old.

[2022-01-20 10:39] hibatallahAouadni commented on #27399
Related to #18536

[2022-01-20 10:39] SharakPL commented on #27391
Yes, although now they are available. Don't know what happened.
Unstable modules, complete chaos with translations, messed up admin panel - I've only switched to 1.7 last summer and already think about going back to 1.6, because experience with 1.7 is just horrible on every step :/

[2022-01-20 10:50] devphoenix2404 commented on #27345
Can anyone please help 🙏🏻

[2022-01-20 11:00] hibatallahAouadni commented on #27399
Hello @JoryHogeveen

Thanks for reproting the issue and for your PR :rocket:
I reproduce the issue with PS1782 and develop, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/150325385-f5cc0b99-6422-4585-a3f8-e21af3ddbaee.mp4

I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2022-01-20 11:13] hibatallahAouadni commented on #27402
Hello @bogdanbeniaminb

Do you mean when we create an order_state and assigned it to an Order, then delete it, you encounter this exception?
In my case, following these steps, I didn't encounter any issue:

1. **BO>CONFIGURE>Shop Parameters>Order Settings**
2. Create a new `Order_state` (ex: **`Shake it off`** :grin: )
3. **BO>SELL>Orders>Orders**
4. Change an Order's state to Shake it off
5. Back

[2022-01-20 11:43] bogdanbeniaminb commented on #27402
Hello, @hibatallahAouadni .

As mentioned in the issue (and the attached PR) description, the "deletion" step is NOT done through the back-office. There was a previous PR that fixed the back-office by just adding a "deleted" attribute on order statuses, so that they still remain in the database. I'm not talking about that workflow. The deletion step in this PR's case is done by directly deleting t

[2022-01-20 12:04] sergiosgc commented on #16477
PHP 7.3 is EOLed:
 https://www.php.net/supported-versions.php
This means it'll be increasingly difficult to have it present in new distro deployments, and eventually on hosting services. This issue should be raised to a critical status.

[2022-01-20 12:10] hibatallahAouadni commented on #27402
Hello @bogdanbeniaminb

As you know we do not fix a third-party module issue, so you need to contact the Module's Developer to fix the issue :wink:

I don't see any issue, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/150336236-173c7384-5dd9-4f10-b8c0-b172245e0c81.png)

Please check and feedback.
Thanks!

[2022-01-20 12:11] hibatallahAouadni commented on #27409
Exactly the problem is really old and you can check on develop, you will see that the issue is well fixed ;)

[2022-01-20 12:24] bogdanbeniaminb commented on #27402
Hello, @hibatallahAouadni .

Did you actually delete the order status from the database, as mentioned in the issue description and my previous comment? Because I can still see the order status in your screenshot, which denotes it's still in the database.

Yes, I know. Still, you're selling those third-party modules on the Addons marketplace and take a large margin of the profit. Also, the way that

[2022-01-20 12:39] hibatallahAouadni commented on #27402
Hello @bogdanbeniaminb

IMHO, it's so risky and highly not recommended to delete anything from the database and that 's why we fix this issue #19098 in this way. Let's check with the Developer Team.

Ping @PrestaShop/prestashop-core-developers wdyt of this issue?
Thanks in advance :pray:

[2022-01-20 13:30] #26680 closed, assigned to rsoulard-prolaser

[2022-01-20 14:03] #22481 closed, assigned to nobody

[2022-01-20 14:31] web-burn opened #27410 "BO: Themes translation are empty in BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Themes translations are empty in th

[2022-01-20 14:33] matteolavaggi opened #27411 "Webservice API error Undefined offset when enabling multilanguage"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Try to run this API Call

API CALL

[2022-01-20 14:55] matthieu-rolland opened #27412 "test issue bot debug"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

vdssfgdsg

### Expected behavior

g

[2022-01-20 15:05] jf-viguier opened #27413 "Support 410 status code for discontinued products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-20 15:05] #26565 closed, assigned to Progi1984

[2022-01-20 15:19] PierreRambaud commented on #27189
https://github.com/PrestaShop/user-documentation-v8-en and https://github.com/PrestaShop/user-documentation-v8-fr
have been created

[2022-01-20 15:48] #27412 closed, assigned to nobody

[2022-01-20 16:24] florine2623 opened #27414 "SEO preview block in Category and Pages is not well displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On Edit a Category page, there are

[2022-01-20 16:30] hibatallahAouadni commented on #27413
Hello @jf-viguier

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this

[2022-01-20 16:39] #27310 closed, assigned to mparvazi

[2022-01-20 16:56] jf-viguier commented on #27413
The spec is simple : add 410 status, just like 404 in the dropdown list.

[2022-01-20 17:34] seederp2p opened #27415 "PS 1.7.7.8 Webservice pointing to non existing carrier"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you do something like:

https://

[2022-01-20 17:37] seederp2p commented on #9594
@matks can you please tell us what does it take to get the suggestion from @msaustral tested and introduced into the core?

Thanks

[2022-01-20 18:51] Julievrz commented on #27189
It's look good to me. We'll just have to configure it and synchronize it with GitBook. Thanks.

[2022-01-20 19:07] SharakPL commented on #27363
@kpodemski I've just tried and it doesn't seem to work in product.tpl on PS 1.7.8.2

[2022-01-20 19:24] kpodemski commented on #27363
I forgot to put a `|dump` modifier after the variable

[2022-01-20 19:34] eternoendless commented on #26933
Note that Tabs are translatable entities. Like any other translatable content, the translated content is stored in the database in `ps_tab_lang`. We use wording and wordin_domain as basis for auto-translating the tabs whenever a new language is installed.

This means that if tabs are already stored untranslated in `ps_tab_lang`, no amount of upgrading will fix that: you need to trigger the auto-tr

[2022-01-20 20:27] SharakPL commented on #27363
It causes fatal error when added after variable. I found this method being used like this:
[code]

Any reason why product tags aren't included in $product array? I managed to get them in my last project using this:
https://github.com/PrestaShop/PrestaShop/blob/9137e46585a9b87813c5a4156d13075313d82953/classes/Tag.php#L223-L238
but they seem like great candidate to add to $product array.

[2022-01-20 20:59] kpodemski commented on #26933
@eternoendless it's good enough just to use add/update language option and select already installed language. It's a common practice to do it after every 1.6 to 1.7 update

[2022-01-20 21:18] eternoendless commented on #26933
Thanks for the confirmation Krystian

[2022-01-20 22:10] hibatallahAouadni commented on #27410
Hello @web-burn

Thanks for reporting the issue!
I reproduce the issue with PS1780 and PS1783, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/150429791-00983151-2b8c-412e-b285-19f1eb420c83.mp4

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be

[2022-01-20 23:03] hibatallahAouadni commented on #27411
Related to #26199

[2022-01-20 23:21] hibatallahAouadni commented on #27411
Hello @matteolavaggi

Thanks for reporting the issue!
I reproduce the issue only with PS1780 and PS1782, it seems a regression on 1.7.8.0, cause I didn't reproduce it with PS1778.
See the attached screenshots below:

**PS1782** :x:

![image](https://user-images.githubusercontent.com/23308427/150437598-e7575c5b-7a4b-4d3f-9a00-ef00a32c1e97.png)

**PS1778** :heavy_check_mark:

![image](https://user-i

[2022-01-20 23:26] hibatallahAouadni commented on #26933
@eternoendless What's the status of this issue?

[2022-01-21 00:37] FongWan commented on #27357
Hello @hibatallahAouadni, were you able to reproduce the issue now?

[2022-01-21 06:08] matteolavaggi commented on #27411
Have you tested with ps 1.7.6.9 ? Response is different from the error you
get on PS 1.7.8.2 .

the manaule part for bees in the single language section is very sparse in
information.  Specifically, it is indicated that the response in the case
of a single language is different, but a different api call is used than
those shown for the multilingual, and it is not clearly specified if the
syntax to

[2022-01-21 07:57] web-burn commented on #27410
Hello @hibatallahAouadni

Thank you for your quick response!

Unfortunately, I do not have sufficient skills. but i will try to find a solution.

[2022-01-21 08:54] kpodemski commented on #27363
@SharakPL

Of course `after variable` meant the code you've written ;-)

Great candidate for a PR! 👍

[2022-01-21 09:00] saulaski commented on #26405
In my humble opinion yoda style should only be a personal preference, not a constraint. The main purpose of yoda style is avoiding unwanted assignments. Such mistakes should be quickly detected by unit tests anyway.
I think yoda style might go too far because it's more about writer convenience than reader confort... and code style is mostly about easier understanding of the code.

Yoda style makes

[2022-01-21 09:11] ttoine commented on #22311
Any update on this topic ?

[2022-01-21 09:24] PierreRambaud commented on #26694
ping @marwachelly

[2022-01-21 09:40] ShapesGraphicStudio opened #27418 "Call to undefined method FrontController::parseCMSContent() after update to 1.7.8.2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

FrontController::parseCMSContent()

[2022-01-21 09:52] kpodemski commented on #27418
Your bug seems to be related to the code modifications that you have in your shop. It's not about PrestaShop Core.

It would be better to ask for a help on the official forum, Slack or Stack Overflow

[2022-01-21 09:52] KoreLewi opened #27419 "Undefined index: product blockwishlistviewstemplat.php line 28 with enabled debug mode"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When the debug mode is enabled, I c

[2022-01-21 09:53] ShapesGraphicStudio commented on #27418
Hi,
Thanks for your answer.
I understand, but I can't finc any doc talking about parseCMSContent() being deprecated..

[2022-01-21 09:55] kpodemski commented on #27418
I don't recall `FrontController:parseCMSContent` method ever being in the core.

[2022-01-21 09:58] ShapesGraphicStudio commented on #27418
OK, I forgot to mention another modification indeed, sorry.
I followed:
https://www.lije-creative.com/prestashop-creer-des-shortcodes-1-6-et-1-7/

Which was working fine until this morning update.
I will digg into it thanks.

[2022-01-21 10:10] HanaRebaiQA commented on #27415
Hello @seederp2p

Thanks for your report.
Could you please provide us more information and screen-shots about the steps to reproduce.

May this #11945 help you ?

Thanks!

[2022-01-21 10:18] HanaRebaiQA commented on #27418
Hello @ShapesGraphicStudio

Closing this issue as it's not a Core bug.
Otherwise, ifyou have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forums/) or in the [public Slack channe

[2022-01-21 10:18] #27418 closed, assigned to nobody

[2022-01-21 10:18] Progi1984 commented on #22311
Ping @eternoendless @PrestaShop/product-team for priorization.

[2022-01-21 10:19] ghost opened #27420 "Improve order return controller"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-21 10:29] #27189 closed, assigned to nobody

[2022-01-21 10:30] HanaRebaiQA commented on #27419
Hello @KoreLewi

I was unable to reproduce your issue.
https://watch.screencastify.com/v/qMTUNjmfw1cxQgjB7fbh

Could you please check again ?

Thanks!

[2022-01-21 10:46] MatShir commented on #26599
From the discussion with @Hlavtox and @NeOMakinG, I will close this issue in favor for this EPIC https://github.com/PrestaShop/PrestaShop/issues/27318. This issue can't be solved easily, we need to solve the issue on a higher level.

[2022-01-21 10:46] #26599 closed, assigned to nobody

[2022-01-21 10:47] HanaRebaiQA commented on #27420
Hello @okom3pom

Thanks for your suggestion and for you PR.
The Product Team will take it into consideration for future developments.

Thanks!

[2022-01-21 11:00] ShapesGraphicStudio commented on #27418
In case this can help anyone, I moved my override into a new smarty plugin.

I created a file vendor/smarty/smarty/libs/plugins/function.get_shortcoded_content.php

I added my shortcodes in:
[code]

And in my smarty files I called:
`{get_shortcoded_content content=$cms.content}`
instead of:
`{$cms.content nofilter}`

It seems to work all fine again.

[2022-01-21 11:18] florine2623 opened #27423 "ps_imageslider - BO Configuration throws an exception"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have an exception when trying to

[2022-01-21 11:41] HanaRebaiQA commented on #27357
Hello @FongWan

Following the steps described above, i was able to reproduce your issue.
https://watch.screencastify.com/v/0Jmz9LCfmNoGxrYuNbRx

Thanks for your PR which is Waiting for QA. We will check it as soon.

Thanks!

[2022-01-21 13:48] khouloudbelguith commented on #26891
Hi,

I found the same issue after an upgrade from PS16124 to 178x when configuring the mode `Data mining for statistics`
![image](https://user-images.githubusercontent.com/16067358/150537666-ffba3aa9-48d3-4e3e-82ac-17888eb33555.png)

Thanks!

[2022-01-21 14:30] MatShir opened #27427 "As a user, I should be able to download/access my uninstalled/deleted modules from the module manager list."
All the native module and non-native module can upgrade from the Modules and Updates lists on the Module Manager.

The Modules list on the Module Manager can be expanded with module to be installed.

Even if a module is completely removed and uninstalled, the module will be present on the module list with module info and the installation button.

### Feature status

- [x] Module manager PR https:/

[2022-01-21 14:30] MatShir opened #27428 "Create an API for the natives modules"
https://github.com/PrestaShop/distribution-api

[2022-01-21 15:00] #26792 closed, assigned to mparvazi

[2022-01-21 15:42] gadnis opened #27431 "Registration form in Confirmation order page not working"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi, after placing an order as a gue

[2022-01-21 15:42] HanaRebaiQA commented on #27380
Hello @pixmax

I think it's an email-configuration problem.

Could you please check your configuration ?

Waiting for your feedback!

Thanks!

[2022-01-21 16:18] Hlavtox commented on #27431
I fixed it on develop a while ago, it's gonna be fine in next version. ;-)

[2022-01-21 16:21] cdigruttola opened #27432 "Remove Tools::addonsRequest on AdminPsThemeCustoConfiguration.php (line 534)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

HI,
I'm having the following proble

[2022-01-21 17:23] ghoussay commented on #19807
Hi, that is indeed a problem with Excel and no-BOM. But there is several places in Prestashop where CSV are generated.
I'm currently using Prestashop 1.7.7.8.

For statistics I've found here : classes\module\ModuleGrid.php
[code]
Just need to modify "echo ..." with `echo chr(0xEF).chr(0xBB).chr(0xBF).$this->_csv;`
It is even possible to override this class/function.

Same has to be done in : class

[2022-01-21 17:54] seederp2p commented on #27415
@HanaRebaiQA if you follow the steps I provided you'll find this issue.

The ticket you provided has nothing to do with what I'm describing here. ;)

Here I'm just describing a "reading" behavior of the API.

Cheers.

[2022-01-21 18:15] MatShir opened #27433 "Handle prices data for multishop"

[2022-01-21 18:16] #27433 closed, assigned to nobody

[2022-01-21 18:30] Guisardo opened #27434 "[Improvement] Possible use of ps_versions_compliancy when unasigned"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The ps_versions_compliancy property

[2022-01-21 18:50] MatShir commented on #26694
That is right, you can't add additional cost if the carrier is set a free. I'm closing this issue, don't hesitate to open it again if needed ;)

[2022-01-21 18:50] #26694 closed, assigned to nobody

[2022-01-21 18:56] mparvazi commented on #27423
Hello @florine2623
https://github.com/PrestaShop/ps_imageslider/pull/67#pullrequestreview-858326379

[2022-01-21 19:13] MatShir commented on #27047
Might be fixed with v2

[2022-01-21 20:21] gadnis commented on #27431
@Hlavtox could you write a link of pull request where I could check what was done?  Unfortunately our shop is stuck with 1.7.6.9 version because of some paid modules..

[2022-01-21 20:34] kpodemski commented on #27423
Hello @mparvazi

In related PR, I've fixed this issue. There's no need to access `$something->fields_form` and have it inside PHPStan exceptions.

[2022-01-21 20:36] Hlavtox commented on #27431
https://github.com/PrestaShop/PrestaShop/pull/25395

[2022-01-21 20:38] gadnis commented on #27431
Thank you very much @Hlavtox

[2022-01-21 20:39] matks commented on #9594
How to contribue is documented on [this page](https://devdocs.prestashop.com/8/contribute/contribute-pull-requests/).

[2022-01-21 23:04] Guisardo commented on #27434
Found it! In my case it was caused by this module:
https://github.com/mercadopago/cart-prestashop-7

The module extend from PaymentModule and re declares the variable without default at the class declaration, then in the constructor the parent constructor is called (PaymantModule) , but it was assigning the variable after calling the parent.

The issue was actually resolved some days ago at the mo

[2022-01-21 23:04] #27434 closed, assigned to nobody

[2022-01-22 12:37] Hlavtox commented on #27427
Sooo, just restore the functionality from 1.6 😁🤪

[2022-01-22 16:38] RobinFlikkema commented on #10445
Any news on this? As this issue is closed, but the problem still exists.

The workaround works, but is seems like a hassle to do this ever ytime.

[2022-01-23 15:26] devphoenix2404 commented on #26785
Hi @Matt75
for 1.7.8.x where we can find `you can manage Same-Site directive from your PrestaShop BO > Préférences > General > Cookie SameSite` as it's not available can you please share screenshot. Thanks

[2022-01-23 19:32] Matt75 commented on #26785
@devphoenix2404 Cookie SameSite settings introduced in 1.7.8.0
![BO > Advanced Parameters > Administration](https://user-images.githubusercontent.com/5262628/150694889-cd5286d1-99f2-44dd-bc96-55fd8a443fc5.png)

[2022-01-23 21:01] PrestaEdit commented on #27432
I think that this merged pull request solve this: https://github.com/PrestaShop/ps_themecusto/pull/47

[2022-01-24 04:56] mihaiav opened #27438 "Provide configuration options for TLS connections to the database"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-24 08:19] florine2623 commented on #27431
Hello @gadnis ,

As it is fixed, I will close this issue.
Thanks!

[2022-01-24 08:19] #27431 closed, assigned to nobody

[2022-01-24 08:38] florine2623 commented on #27432
Hello @cdigruttola ,

As @PrestaEdit said, the issue is fixed with this PR : [PrestaShop/ps_themecusto#47](https://github.com/PrestaShop/ps_themecusto/pull/47)

So I close this issue.
Thanks!

[2022-01-24 08:38] #27432 closed, assigned to nobody

[2022-01-24 09:05] marionf commented on #25894
@Progi1984 Yes, exactly 👍

[2022-01-24 09:06] florine2623 commented on #27438
Hello @mihaiav ,

Thank you for your suggestion. The Product Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it. If you are willing to implement this

[2022-01-24 09:07] Progi1984 commented on #25894
So we need to remove this feature from the autoupgrade and move it in the core.

[2022-01-24 09:26] PierreRambaud commented on #25894
I think we will add a lot of complexity because if we do that for the autoupgrade, we should also do that for contributors' modules. The Core shouldn't rely on modules, it must be the opposite.
The autoupgrade module will already be available in the Module Manager section, whatever it's installed, or present on the disk.

[2022-01-24 09:34] MatShir commented on #25894
Why other contributors modules? You mean other auto upgrade's module supported by the core developed by contributors that become the official core way to upgrade?
Why not

Here, is about to add kind of a reminder. You think it is not interesting for the user ?

[2022-01-24 09:55] PierreRambaud commented on #25894
I mean upgrade modules for distributions, maybe a lot of people don't care about this module.
I also think it's not interesting for "user", as it's a "developer" thing and the module is already available in the Module Manager section.

[2022-01-24 10:08] florine2623 commented on #27415
Hello @seederp2p ,

I have reproduced your issue on 1.7.7.x, 1.7.8 and develop.
I think it is related to : https://github.com/PrestaShop/PrestaShop/issues/18277
Could you check and confirm ?

Thanks!

[2022-01-24 10:18] seederp2p commented on #27415
Yes, It's related.

[2022-01-24 10:46] Progi1984 commented on #27130
@HanaRebaiQA I suppose you are in the same page and you try to post two comments one after one.

Have you tried to post two comments in less of 30 seconds ?

If yes, the message is ok.
Because there is a configuration for not allowing two posts in less of a minimal time :

![image](https://user-images.githubusercontent.com/1533248/150768890-043b027f-fe4a-4c8e-9eed-d50e2e460878.png)

In :fr:, `Temp

[2022-01-24 11:11] MatShir commented on #27047
It seems it is fixed on the experimental product page that is going to be the next product page ;)

[2022-01-24 11:11] #27047 closed, assigned to nobody

[2022-01-24 11:28] HanaRebaiQA commented on #27130
Hello @Progi1984

It was a regression on the develop branch when adding the comment for the first time there is an error message in FO.
https://watch.screencastify.com/v/8ddeRWGdwAfsCE2Jjxpl

[2022-01-24 11:42] KoreLewi commented on #27419
Hi @HanaRebaiQA

Thank you for your reply.

The error was caused by the theme used. It works with the classic theme.

Regards,
Levi

[2022-01-24 11:42] #27419 closed, assigned to nobody

[2022-01-24 12:55] JoryHogeveen commented on #10445
@RobinFlikkema Don't expect a bug fix at all. Sisow will stop entirely since Buckaroo took over.

[2022-01-24 12:59] Progi1984 commented on #27130
@HanaRebaiQA Are you connected ?

[2022-01-24 13:25] HanaRebaiQA commented on #27130
@Progi1984 Yes! The customer must be connected to can write his comment.

[2022-01-24 13:28] florine2623 commented on #27415
@seederp2p , if it is related, then I will close this issue. You can subscribe to this [issue](https://github.com/PrestaShop/PrestaShop/issues/18277) to be informed of when it will be fixed.

Thanks!

[2022-01-24 13:28] #27415 closed, assigned to nobody

[2022-01-24 13:51] waflessnet commented on #26568
hi
I use PS 1.7.8.2 , php  7.4.2 , nginx

check "/", without "/" error
although in the same way, shema black return error last json :

![image](https://user-images.githubusercontent.com/6413704/150794932-3fe07d86-011a-4fb6-a593-ea706eca2785.png)

[2022-01-24 14:00] Progi1984 commented on #27130
@HanaRebaiQA I try with the latest version of the `dev` branch of the module.

My process :
* Connect as a customer on frontoffice
* FO > Select a product
* Click on Write you review button
* Put the Title and Review
* Click on Send
* No error

[2022-01-24 14:21] HanaRebaiQA commented on #27130
@Progi1984 So, maybe it was fixed in the new version of `productcomments` as mentioned by @atomiix in (https://github.com/PrestaShop/PrestaShop/issues/27130#issuecomment-1006440927)
!

[2022-01-24 14:43] Progi1984 commented on #25921
@MatShir Do we add support for PHP 8.1 at the same time ? (FYI @atomiix).

[2022-01-24 14:46] #25889 closed, assigned to nobody

[2022-01-24 14:51] MatShir commented on #25888
@eternoendless could you share your report made with the IT of corp?

[2022-01-24 14:51] arouiadib opened #27445 "Can't update cache configuration in BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Prestashop can't update cache confi

[2022-01-24 15:08] florine2623 commented on #27445
Hello @arouiadib ,

Is your issue related to https://github.com/PrestaShop/PrestaShop/issues/25211 ?

Could you check and let me know ?
Thanks!

[2022-01-24 15:30] arouiadib commented on #27445
Hello @florine2623 and thanks for your time.
I have checked the issue you mentioned and I don't see that is related to this one.

[2022-01-24 15:36] #27118 closed, assigned to Progi1984

[2022-01-24 15:44] SharakPL opened #27447 "Fix php notices while loading subtotals in ps_shoppingcart"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

https://github.com/PrestaShop/ps_sh

[2022-01-24 15:56] Guisardo opened #27449 "[Improvement] The Statistics controller is generation noise at the server logs"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The Statistics controller should be

[2022-01-24 16:18] florine2623 commented on #27449
Hello @Guisardo ,

I can't reproduce your issue in PS 1.7.8.2, on my end, the logs are empty. Only things that are logged are in the BO > Advanced Parameters.
Is there a specific page that you visit to trigger the errors in the server log ?
Could you send an example of what you have ?

Thanks!

[2022-01-24 16:20] #27357 closed, assigned to nobody

[2022-01-24 16:25] florine2623 commented on #27447
Hello @SharakPL ,

I can't reproduce your issue.
Here are the steps I followed :
1. renamed  the file `/themes/classic/modules/ps_shoppingcart/ps_shoppingcart.tpl` to `_ps_shoppingcart.tpl`
2. Enabled debug module
3. Go to FO and navigate the site
4. Added product with discount to the cart > Check shopping cart : No error
5. Check php_error.log -> no specific error is thrown

What errors are you h

[2022-01-24 16:32] MatShir commented on #25589
It seems to be fixed now ! 🥳  I'm closing the issue

[2022-01-24 16:32] #25589 closed, assigned to nobody

[2022-01-24 16:37] MatShir commented on #25590
It is fixed now ! :)

[2022-01-24 16:37] #25590 closed, assigned to nobody

[2022-01-24 16:40] MatShir commented on #25591
It is fixed ! :)

[2022-01-24 16:40] #25591 closed, assigned to nobody

[2022-01-24 16:46] SharakPL commented on #27447
Use `{$cart.subtotals|dump}` anywhere in the template. It seems `$cart.subtotals.discounts` and `$cart.subtotals.tax` are always **null**. Even when I add discounted products with tax > 0. So this might be yet another bug.
`/src/Adapter/Presenter/Cart/CartPresenter.php` clearly allows `discounts` and `tax` to be null so it will throw php notice.

[2022-01-24 16:48] khouloudbelguith opened #27450 "BO - Shopping Carts - Some shoppingcarts are duplicated"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is detected by [nightly]

[2022-01-24 16:49] MatShir commented on #25905
@PierreRambaud @jolelievre I think you, we should allow the all characters !  WDYT?

[2022-01-24 16:56] matks commented on #26800
I have seen PR https://github.com/PrestaShop/PrestaShop/pull/27437 and now I understand the logic behind

[2022-01-24 17:03] Robin-Fischer-PS opened #27451 "Credit slip prefix now required in all languages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

_Issue detected by automated tests_

[2022-01-24 17:12] MatShir commented on #27054
We will display the shop's country and its related tax rate. If there is none configured for this specific country, we will display 0%
![Capture d’écran 2022-01-24 à 18 09 32](https://user-images.githubusercontent.com/43613217/150830692-c3100e35-1877-497a-8773-1e6a8e6c12fb.png)
The list by country could be cool, but it is definitely a nice to have. I don't really see merchants checking the price

[2022-01-24 18:34] Hlavtox commented on #27054
@MatShir Good!

Maybe we could try to think about it in a broader scope.
- Button called "Price preview", "Do you want to check what exact price will certain customer group or country see?"
- Modal opens, you select country, group, zone etc.
- Product::getPrice will get called with these parameters.
- "In this case, the product price will be XXX".

But maybe I am just dreaming and nobody would use

[2022-01-24 21:07] matks commented on #27332
I think @NeOMakinG is the best to answer

[2022-01-24 21:21] matks commented on #27402
PrestaShop Core should not try to protect merchants against badly built modules. This is a fight we cannot win and we should not do it. It's module developers responsibility to write valid code, not our responsibility to correct their mistakes.

We are selling nothing. This repository is not affiliated with addons.prestashop.com. This GitHub repository is related to www.prestashop-project.org .

T

[2022-01-24 21:24] matks commented on #27411
Maybe on `develop` a side-effect hides the code but I think this bug should be explored so that we know why it can be reproduced on 1.7.8.x and not on develop

[2022-01-24 21:53] Peter4661 opened #27452 "Display out-of-stock label on product listing pages- 404 error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Activation of “Display out-of-stock

[2022-01-24 22:05] arouiadib opened #27453 "TinyMCE broken after upgrade to 1.7.8.2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

#26543, #27147 and #26543 are close

[2022-01-24 22:53] #27363 closed, assigned to nobody

[2022-01-25 05:13] bogdanbeniaminb commented on #27402
Thank you, @matks. I did not know this repo is not affiliated with the add-ons marketplace. I would not suppose they should protect their customers if we hadn't gone through the validation process for a module and we were prevented from publishing it because they were enforcing obsolete or unnecessary standards. And then you see all these modules that passed their validation and the code is really

[2022-01-25 07:52] hibatallahAouadni commented on #27453
Hello @arouiadib

This issue is a navigator cache problem, even after upgrade the navigator still use the old JS files.
So you need to clear your navigator cache and your shop cache to load the new JS files and that's the only way to not encounter this issue.

Closing the issue as it's not a Core bug but a navigator cache issue.

Thanks for your understanding 🙏

[2022-01-25 07:52] #27453 closed, assigned to nobody

[2022-01-25 07:52] hibatallahAouadni commented on #27453
Duplicate of #26543

[2022-01-25 08:10] NeOMakinG commented on #27395
Right! We should work on it :)

[2022-01-25 08:11] NeOMakinG commented on #27332
That would be cool, both are valid:

- Import the config file
- Allow it access globally

I would allow it globally as if the name change in the future, you can just change it in one file instead of changing multiple files

[2022-01-25 08:18] hibatallahAouadni commented on #27395
Well, we have a GO :rocket:
@mparvazi waiting for your PR :wink:

[2022-01-25 08:23] hibatallahAouadni commented on #27332
Thanks @NeOMakinG for your quick reply :rocket:

@mparvazi waiting for your PR and don't forget to follow @NeOMakinG notes mentioned above :wink:

[2022-01-25 08:59] pomichel opened #27455 "Doctrine error on accessing customer details"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi,

I get the following error mess

[2022-01-25 09:25] mparvazi commented on #27332
Hello @hibatallahAouadni

I think PR should be started by @NeOMakinG
The Vue components are widely used in PS forn-end.
PS team are working in new design at BO behind the curtain which I don't know about them (e.g. Product v2)
So if I try to make a PR it may causes a conflict in their projects.

[2022-01-25 09:50] mparvazi opened #27456 "Creating official ps_popup module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-25 10:04] hibatallahAouadni commented on #25831
@MatShir Closing the issue :wink:

[2022-01-25 10:04] #25831 closed, assigned to nobody

[2022-01-25 10:10] JBWModules commented on #27380
Check the SMTP settings at "Erweiterte Einstellungen"->"Email"

[2022-01-25 10:17] hibatallahAouadni commented on #27456
Hello @mparvazi

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

Thanks!

[2022-01-25 10:32] hibatallahAouadni commented on #27455
Hello @pomichel

I didn't manage to reproduce the issue with PS1782 and PHP 7.4, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/150959801-4cc5b9b8-02ca-486e-bdcf-95435223ceec.mp4

Please check and feedback.
Thanks!

[2022-01-25 10:39] pomichel commented on #27455
Hi,

Thanks for your feedback.

I unfortunately face the issue both from the orders list, the order detail and the customers list.

Please check the attached screenshot.

![ss-ps-admin-1](https://user-images.githubusercontent.com/35295725/150961433-5a1fc719-5778-4d7b-ab5b-6679f14919c1.jpg)

[2022-01-25 10:39] PrestaShark commented on #19605
Yes, This is just insane to delete thousands of products at once!
6000 products and about 60 seconds to delete one its 4 days of non stop deleting?!!!!!!!!!!!!!!!!

[2022-01-25 10:45] pomichel commented on #27455
The SQL request is malformed.

There is no "id_customer column" in the "ps_country" table.

[2022-01-25 10:52] prestascott commented on #27278
Hello everyone,

Thanks @rickygzz for your request!

Having the product description block on half of the screen and on the right side makes the left side really empty.
With your proposition, the product description block fills the screen and fixes the empty feeling issue on the left side.

This is a smart solution. But I think we can make it smarter by moving the product description block to the l

[2022-01-25 11:03] hibatallahAouadni commented on #27452
Hello @Peter4661

Could you please explain this step more:

Try to provide more details and a screen record :pray:
Waiting for your feedback.

Thanks!

[2022-01-25 11:04] hibatallahAouadni commented on #27123
Hello @TGD001

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-01-25 11:04] #27123 closed, assigned to nobody

[2022-01-25 11:05] hibatallahAouadni commented on #27169
Hello @AimSai59

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-01-25 11:05] #27169 closed, assigned to nobody

[2022-01-25 11:25] jolelievre commented on #19605
OK, I see the problem that you explained, if I get it right the main problem here is that categories' positions are recomputed for each product which is deleted Which of course is a huge loss of performance since it should only be done once all the products have been removed

But Product::delete doesn't propose any parameter to prevent this we can't optimize this currently, seeing the code I don't

[2022-01-25 11:41] Kaudaj commented on #16279
I've got same results if the parent theme use additional CSS and JS assets: none are loaded when using the child theme.
I agree on the fact that this is a weird behavior, since child theme is therefore broken due to missing libraries (`custom.js` of parent theme rely on these libraries).

[2022-01-25 11:43] #17713 closed, assigned to nobody

[2022-01-25 12:01] jolelievre commented on #25905
As discussed with @PierreRambaud allowing more characters would be an interesting feature but it's a new feature that requires more work and more thought Not sure we should add it to the already big scope of v8

So the purpose of this issue is actually just to improve the error message display, we need to add a constraint on the name field so that a Symfony form inline error is displayed Not a val

[2022-01-25 12:05] jolelievre commented on #27054
@Hlavtox I don't think we will have time to integrate this feature but it's a good idea

Besides, the new product page will integrate a small resume block so I guess we could use it to display this price preview We would need to add the selectors you mentioned and bind an ajax call to update the preview (maybe an additional dedicated preview block would be good to avoid messing with the current pa

[2022-01-25 12:21] PacificiShop commented on #15763
Hi, this happens to me:
with chrome in anonymous browsing
the password field does not show the encrypted password (the field is empty )

<img width="1218" alt="Schermata 2022-01-25 alle 12 50 57" src="https://user-images.githubusercontent.com/98394445/150972092-ddb79839-2064-4665-828d-86121135cad6.png">

It works properly
Idem with Firefox
<img width="1218" alt="Schermata 2022-01-25 alle 12 48 06"

[2022-01-25 12:34] pixmax commented on #27380
Hi, it seems that a wrong port was specified. I had taken the information from the provider IONOS. Possibly the port specification was only valid for TLS. I have now used the settings that Thunderbird automatically found with a different port for SMTP and now everything works fine.

Thank you for your effort and I'm sorry to bother you with this simple error that has nothing to do with Prestashop.

[2022-01-25 12:34] #27380 closed, assigned to nobody

[2022-01-25 13:35] #25990 closed, assigned to lmeyer1

[2022-01-25 13:51] hibatallahAouadni commented on #27380
@pixmax Glad to hear :tada:

[2022-01-25 13:52] boubkerbribri commented on #27451
Passed the issue on critical since we have errors (on the delete side) every night on the nightly.

[2022-01-25 13:53] matks commented on #27449
I think this is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/20921

[2022-01-25 13:54] Peter4661 commented on #27452
Hello Hibatallah Aouadni,

Thank you for coming back to me.   I will do the requested test later today
and see if it can be reproduced.

Let me give you some background on my observations.

We are in a business struggling to get stock due to world wide shortages.
Last year more and more products ran out of stock with very long delivery
times. Up till then, we did not use the Prestashop option to f

[2022-01-25 14:05] hibatallahAouadni commented on #27411
Hello @matteolavaggi

I didn't manage to reproduce the issue with PS1769, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/150991549-a9173be7-73fb-4a0a-9627-5aeb6e6dc0fa.png)

Please check and feedback.
Thanks!

[2022-01-25 14:46] titodevera commented on #23246
I´m exactly under the same situation as @tswfi described. We need to modify some product prices by custom rules in execution time, without modify the product price inself. I think a new hook that allows modify the price in all sources at the same time (product page, cart...) is the solution for this cases... Thanks

[2022-01-25 14:52] hibatallahAouadni commented on #27455
Hello @pomichel

Could you please enable the debug mode and make provide a screenshot of the issue :pray:
Waiting for your feedback.

Thanks!

[2022-01-25 15:16] jolelievre commented on #23246
I think `Product::getPriceStatic` or `Product::priceCalculation` would be the best candidate for such hook

Because ProductLazyArray or ProductPresenter are mainly used for presentation in front, you need to be able to change the whole price everywhere in cart computing, order computing and so on so for that `Product::getPriceStatic` and `Product::priceCalculation` are the lowest and most adapted

[2022-01-25 16:10] thomasalzonne opened #27458 "Faceted Search - Price range slider sometimes doesn't appear and never come back after filter reset"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When i try to use filters, sometime

[2022-01-25 16:26] arouiadib commented on #27453
@hibatallahAouadni . I don't know why CTRL+ F5 didn't work last time, but now It is working :sweat_smile:
This is a stupid issue and sorry for wasting your time.

Thanks a lot for your usual guidance and help.

[2022-01-25 16:41] pomichel commented on #27455
The screenshot is my previous post.

As already mentioned, I get the error message described in the screenshot by clicking on the customer link in the orders list view.

Of course, I have not generated the SQL request myself.

Hope this is clear enough.

[2022-01-25 16:42] khouloudbelguith commented on #26671
Hi,

I reproduced the issue following these steps

https://user-images.githubusercontent.com/16067358/151019787-9e4bad40-fade-484e-9833-814d61d380a9.mp4

Thanks!

[2022-01-25 17:52] khouloudbelguith opened #27462 "Exception in FO when trying to pay order after placing it from the BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An exception is displayed in the FO

[2022-01-25 17:53] khouloudbelguith commented on #27462
seems related to https://github.com/PrestaShop/PrestaShop/issues/21714

[2022-01-25 18:09] hibatallahAouadni commented on #27455
Please **enable the debug mode** and then make a screenshot :wink:

[2022-01-25 19:40] papich06 opened #27464 "Mysql table missing after upgrade"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
i migrate my shop from 1.4 t

[2022-01-25 19:50] hibatallahAouadni commented on #27458
Hello @thomasalzonne

I didn't manage to reproduce the issue with PS1778, could you please open your navigator console and make a screenshot :pray:
And please provide a screenshot from your BO>IMPROVE>Modules>Module Manager>FacetedSearch>Configure (like this one below):

![image](https://user-images.githubusercontent.com/23308427/151049006-676d68c2-91d0-4b7d-b0d4-122de940ad17.png)

Waiting for you

[2022-01-25 21:07] Guisardo commented on #27449
RIght on @matks , lets push that fix and it should fix this one too.
Thanks!

[2022-01-25 21:07] #27449 closed, assigned to nobody

[2022-01-25 21:40] PrestaEdit opened #27465 "JSON output of WebService does not return datas of ressource"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you use the WebService and get

[2022-01-26 05:08] ysraelcm commented on #17906
YOU ARE A GOD !!!
You saved my life. :)

I was actively searching and couldn't find the right answer until I came here and saw your great solution.
Thank you for sharing your valuable knowledge and experience.

Kind regards !!!

[2022-01-26 07:59] pomichel commented on #27455
Hi,

Here is the output supplied by debug mode. Nothing new actually :

<html><head></head><body><div class="trace trace-as-html">

InvalidFieldNameException                                                                  An  exception occurred while executing 'SELECT a.`id_address`,  a.`firstname`, a.`lastname`, a.`address1`, a.`address2`, a.`postcode`,  a.`city`, a.`company`, a.`phone`, a.`phon

[2022-01-26 08:40] Hlavtox commented on #9997
This is not a bug, payment not processed does not mean that the order is not confirmed. User can still pay by other ways, you can contact him and resend him a link to pay and still make business.

[2022-01-26 09:30] hibatallahAouadni commented on #27465
Hello @PrestaEdit

YEP, it's a regression on develop!
I only reproduce the issue with develop, see the attached screenshots below:

- `develop` with `&output_format=JSON`
![image](https://user-images.githubusercontent.com/23308427/151137532-246ae629-2071-40a3-b936-faf3b09540b6.png)
- `develop` without `&output_format=JSON`
![image](https://user-images.githubusercontent.com/23308427/151137675-eb425

[2022-01-26 09:40] okom3pom commented on #26066
This PR fix the issue : https://github.com/PrestaShop/autoupgrade/pull/451

[2022-01-26 09:52] hibatallahAouadni commented on #27464
Hello @papich06

You shouldn't upgrade from `1.4` to `1.7` :disappointed: because the PHP version **7.4** is not compatible with PS`1.4`.
So, if you could roll back to `1.4` and downgrade your PHP version to **5.2**, it will be great!
Then, upgrade your shop from `1.4.5.2` to `1.6.1.24` with PHP version **5.2**.
Upgrade your PHP version from **5.2** to **7.1**
Finally, upgrade your shop from `1.6.

[2022-01-26 09:52] Hlavtox commented on #20498
@kpodemski What defines a dynamic hook? I can trigger any hook thousand of times with the correct scenario.

[2022-01-26 09:55] hibatallahAouadni commented on #27449
Duplicate of #20921

[2022-01-26 09:57] hibatallahAouadni commented on #27254
Hello @gs2k84

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-01-26 09:57] #27254 closed, assigned to nobody

[2022-01-26 09:58] hibatallahAouadni commented on #27251
Hello @viktormalka

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-01-26 09:58] #27251 closed, assigned to nobody

[2022-01-26 09:59] Hlavtox opened #27466 "No hook to alter category meta tags"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-26 10:08] hibatallahAouadni commented on #27466
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR :rocket:

Thank you

[2022-01-26 10:21] papich06 commented on #27464
Hello @hibatallahAouadni ,

sorry you right I had version 1.7.4.1 and 1.7.5.2

I managed to migrate to 1.7.8.2
Is there a module to check databases and compress them?

[2022-01-26 10:46] hibatallahAouadni commented on #27464
Hello @papich06

Check the https://addons.prestashop.com/ you may found one :wink:
By the way, your issue seems duplicate of this one #22995
Could you please check and feedback.

Thanks!

[2022-01-26 10:54] sextoysunivers1964 opened #27468 "In multshops the default category of a each product is not saved when the same product is saved in multishops"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In multshops  the default category

[2022-01-26 11:15] HanaRebaiQA opened #27470 "BO - A bad display on Your Profile button in some pages in BO with Arabic language when RTL is enabled before an upgrade from 1769 to 1778/178"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

A bad display on `Your Profile` but

[2022-01-26 11:29] HanaRebaiQA opened #27471 "BO - The status name disappear when having two orders with the same translation of (In attesa di rifornimento) in italian language when upgrade from 1769 to 1778/178"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The status name disappear when havi

[2022-01-26 11:30] papich06 commented on #27464
Hello @hibatallahAouadni,

It's the same problem but it's not solved.
I was telling you about this module which is no longer maintained, too bad

https://github.com/PrestaShop/pscleaner

[2022-01-26 13:11] #18028 closed, assigned to saulaski

[2022-01-26 13:51] hibatallahAouadni opened #27472 "[BO] Bad display of filters in Faceted Search filters template"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Since we change the buttons/switch

[2022-01-26 14:07] hibatallahAouadni commented on #27464
Hello @papich06

Thanks for your feedback.
Closing this issue as we are aware of this issue and it is already in our debug backlog.
This issue is a duplicate of #22995.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-01-26 14:07] #27464 closed, assigned to nobody

[2022-01-26 14:08] hibatallahAouadni commented on #27464
Duplicate of #22995

[2022-01-26 15:36] #27451 closed, assigned to matks

[2022-01-26 15:36] PululuK commented on #27451
Fixed by #27457

[2022-01-26 15:44] papich06 commented on #22995
Hello @tswfi how do you recreate the tables ?

do you try with this plugin https://github.com/PrestaShop/pscleaner ?

[2022-01-26 15:46] eternoendless commented on #26933
@hibatallahAouadni IMO it's been fixed.

[2022-01-26 15:49] tups opened #27473 "Bug of the events functions on the prestashop variable (in core.js)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If we want to access `prestashop.se

[2022-01-26 15:50] tswfi commented on #22995
IIRC I checked `show create table ps_whatever` from a clean install and just copy pasted the create statement to the broken db

[2022-01-26 15:51] hibatallahAouadni commented on #27468
Hello @sextoysunivers1964

Your issue seems related to this one #22610
Could you please check and feedback.

Thanks!

[2022-01-26 15:55] hibatallahAouadni commented on #27473
Hello @tups

Could you please provide a basic module contains this event to test the issue.
Waiting for your feedback.

Thanks!

[2022-01-26 15:57] khouloudbelguith opened #27474 "BO - Multilanguages - Wishlist - Empty fields when another language is selected"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > blockwishlist module co

[2022-01-26 16:04] Julievrz opened #27476 "Improve wording tooltip Traffic & SEO > Schema of URLs"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-26 16:05] sextoysunivers1964 commented on #27468
Hello hibatallahAouadni,

I've checked that issue before to contact you.

It doesn't seem to be related cause in my case all the categories are there.

Thank you !!

Best ragards,
Juan Carlos

[2022-01-26 16:07] hibatallahAouadni commented on #26933
Great then :tada: and I have checked with @khouloudbelguith that's the issue has been fixed with the new release 1.7.8.3
Closing the issue!

[2022-01-26 16:07] #26933 closed, assigned to nobody

[2022-01-26 16:33] hibatallahAouadni commented on #27476
Thanks @Julievrz :wink:
Please check the labels, if there's a missing label then please add it :pray:

[2022-01-26 16:34] hugofintecture opened #27477 "Unable to find template function 'renderLogo'"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm working on the Fintecture payme

[2022-01-26 16:47] florine2623 opened #27478 "Blockwishlist doesn't work after changing theme"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After changing my shop's template,

[2022-01-26 16:52] tups commented on #27473
Hello @hibatallahAouadni,

In a simple way, we can do it with a child theme, and just a JS. I put a `console.log` to warn when the `'selectorsInit'` event fires.

Here is the finished child theme:
[classic-child.zip](https://github.com/PrestaShop/PrestaShop/files/7943531/classic-child.zip)

I created a PR #27475 so you can test when it works :)

[2022-01-26 16:57] marionf commented on #19190
Hello,

We are aware of this issue, it is already in our debug backlog.
This issue is a duplicate of #9971
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you!

[2022-01-26 16:57] #19190 closed, assigned to nobody

[2022-01-26 19:18] seederp2p commented on #9594
@msaustral are you willing to do that so maybe we can finally have a fix for this?

Thanks!

[2022-01-26 21:20] DracoBluee commented on #18547
Since prestashop 8 has not been released, maybe support for php 8.1?  :)

[2022-01-26 22:57] MarcorOnline commented on #27345
@devphoenix2404 hello, I have the same issue with Sendinblue module on PrestaShop 1.7.8.x

[2022-01-27 02:00] TemKaSD commented on #17199
Add please limit for best-sales controller

[2022-01-27 04:17] Lathanao commented on #27413
Well done!
Now, some shops will reduce there number of 404 dramatically.

[2022-01-27 06:11] rickygzz commented on #27278
Hello @prestascott ,

I think your proposed solution would be much better than mine.

I kind of played a little bit tweaking product.tpl (check this commit https://github.com/rickygzz/PrestaShop/commit/f88d153a014baf19cf56d34ed258f1920a779f5d)

I hope that is similar to what you were thinking (please don´t mind the style attributes all around, I did it to get a quick look and feel).

However I don

[2022-01-27 08:36] Peter4661 commented on #27452
Ola Hibatallah Aouadni,

I'm coming back to you about the flagged issue with the "out-of-stock"
banner.

I reactivated the function in the back office, forced template and cleared
cache.
Then tested with help of Google search console functionality "test URL
live" if a URL with  "out-of-stock" banner would give 404 error.

NOP. Everything was oké.
So, errors can not be reproduced. I will close the

[2022-01-27 08:38] #27452 closed, assigned to nobody

[2022-01-27 09:03] hibatallahAouadni commented on #27477
Hello @hugofintecture

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](https://www.prestashop.com/forum

[2022-01-27 09:03] #27477 closed, assigned to nobody

[2022-01-27 09:07] hibatallahAouadni commented on #27452
@Peter4661 Glad to hear :tada:
Thanks for your feedback!

[2022-01-27 09:08] hugofintecture commented on #27477
Hello @hibatallahAouadni I'm sorry but it seems to be an internal PrestaShop bug...

[2022-01-27 09:11] hibatallahAouadni commented on #27477
Hello @hugofintecture

So could you please provide clear and concise steps to reproduce the issue :pray:
Please provide as much as you can infos to help me reproduce the issue.
Waiting for your feedback.

Thanks!

[2022-01-27 09:12] hibatallahAouadni commented on #27345
@MarcorOnline you need to contact the Sendinblue developers to solve your issue :pray:

[2022-01-27 09:35] MarcorOnline opened #27482 "Product.php: Trying to access array offset on value of type bool"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Enable DEBUG MODE and you can see t

[2022-01-27 09:54] #26772 closed, assigned to matks

[2022-01-27 09:57] hibatallahAouadni commented on #27445
Hello @arouiadib

That's because you're missing these extensions (`Memcache PECL extension`, `APC PECL extension`, `Xcache extension`), see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/151335757-4e2deff3-34a2-4740-97c7-5731aa862e2e.png)

To save the first option you need to install and enable this extension `Memcache PECL extension` and the same forea

[2022-01-27 09:57] #27445 closed, assigned to nobody

[2022-01-27 10:10] Progi1984 commented on #26633
Fixed by @Hlavtox in #27225 & tested by @hibatallahAouadni.

[2022-01-27 10:10] #26633 closed, assigned to Hlavtox

[2022-01-27 10:12] Progi1984 commented on #26969
The last but not the least : https://build.prestashop.com/news/prestashop-1-7-8-3-maintenance-release/

[2022-01-27 10:12] #26969 closed, assigned to Progi1984, fabienvallon

[2022-01-27 10:15] Progi1984 commented on #26779
Fixed by @NeOMakinG in #27429 & validated by @HanaRebaiQA.

[2022-01-27 10:15] #26779 closed, assigned to NeOMakinG

[2022-01-27 10:15] Hlavtox opened #27483 "Fix grid data CSV export encoding and allow more formats"
### Is your feature request related to a problem?

When you use Prestashop export function, the data looks like this in latest Excel... It cannot properly recognize UTF-8 encoded CSVs. (unless you go through the data import process)
![export](https://user-images.githubusercontent.com/6097524/151335651-68f9f2e2-ccea-41b0-aacb-bc7906050e2c.png)

### Describe the solution you'd like

**Fix current fo

[2022-01-27 10:18] Progi1984 commented on #26747
Fixed by @lmeyer1 in #26748 & validated by @hibatallahAouadni.

[2022-01-27 10:18] #26747 closed, assigned to nobody

[2022-01-27 10:21] Progi1984 commented on #26796
Fixed by @mparvazi in # 27257 & validated by @florine2623

[2022-01-27 10:21] #26796 closed, assigned to NeOMakinG

[2022-01-27 10:43] hugofintecture commented on #27477
I've found the root of the issue. There was a change in the way to show logo in templates in October: https://github.com/PrestaShop/PrestaShop/commit/e0945fdd02d24a04159edb19208cfdcd80f89f0e

So instead of redefining the template we now use` {extends "$layout"}` and it works.

Thanks!

[2022-01-27 11:18] MatShir commented on #9997
But well, even though you can still make business, the client has to be aware that the payment is KO.  Sepending on the business, the client can be reach again to finalize the payment or to be asked to redo the action. But weird, we don't have many complaints on this issue, since payment failure can happen a lot. @Matt75 maybe you have more insight on the subject ?
If all the payment module know h

[2022-01-27 11:25] topfuel75 opened #27484 "Change qty in cart is possible and to few error messages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

At the cart-page (www.url.com/en/ca

[2022-01-27 11:26] audebms commented on #11115
This problem occurs if we update an address and the method of updating addresses to clean the basket is not applied.
Indeed, it is indeed the following fields which are not cleaned and which retain an id_address which has deleted=1:
`ps_cart_product.id_address_delivery`
`ps_cart.delivery_options`

[2022-01-27 11:34] MatShir commented on #23246
It looks like a nice feature ! Maybe If one of you guys is motivated, we can help you with @jolelievre on your contribution. Lets us know, we are available on Slack or GitHub ;)

[2022-01-27 11:38] MatShir commented on #25905
The forbidden characters are `<>;=#{}`. @Julievrz we can find a more accurate error message ? WDTY?

[2022-01-27 11:45] MatShir commented on #25894
For the link, you are right! There are different ways to upgrade PS and since now we can have it from the module list on the module manager, we don't need to share the link to download the module. But I think we can refine this issue to display that the shop is outdated, it is still an important information IMO to share to the user. WDYT @prestascott @marionf @PierreRambaud?

[2022-01-27 11:47] hibatallahAouadni commented on #27482
Hello @MarcorOnline

I didn't manage to reproduce the issue with PS1780 and PHP7.4 while the debug mode enabled, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/151352814-890b1263-21ee-4435-bf49-495efe896539.mp4

Please check and feedback.
Thanks!

[2022-01-27 12:39] Nonoland opened #27487 "filterCategoryContent hook not working"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Using the filterCategoryContent hoo

[2022-01-27 13:03] hibatallahAouadni commented on #27483
Hello @Hlavtox

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon.

Waiting for your PR :rocket:

Thank you

[2022-01-27 13:04] florine2623 opened #27488 "blockwishlist - FO - number of products in list is not updated"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The number in parenthesis in `BO >

[2022-01-27 13:16] tswfi opened #27489 ""Error: parameter "to" is corrupted" when product goes back to stock"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When customer has registered to get

[2022-01-27 13:26] NeOMakinG commented on #27473
The event is fired when the $(document).ready is executed right?

I don't really get why you're not able to listen the event

[2022-01-27 13:51] NeOMakinG commented on #27473
I did test with your child, but without your PR

and I see the console log =>
![image](https://user-images.githubusercontent.com/14963751/151371546-7446a386-e1f3-460a-86a7-bc088a7a2d97.png)

with this code:
![image](https://user-images.githubusercontent.com/14963751/151371586-78a0b58f-5c79-486d-99c9-a876f017e242.png)

but with `priority: 60` inside the `config.yml`

So your custom code comes after

[2022-01-27 14:06] jolelievre commented on #25905
I don't think we need to, we already have dedicated constraints for this kind of use cases which have their own wording already existing

[2022-01-27 14:09] NeOMakinG commented on #27473
@tups

I tested with your child theme and on your PR's branch, it seems that the child theme is unable to get the event too

Can you come on slack maybe? So we can speak together and update this issue if needed: https://www.prestashop-project.org/slack/

[2022-01-27 14:20] Saimis777 opened #27490 "Incorrect URL should not be allowed (quick access)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the quick access board, when add

[2022-01-27 15:09] sefirosweb opened #27491 "Batch insert does not accept a field with the name "type""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have a module for insert a huge o

[2022-01-27 15:13] Anooxy opened #27492 "Can't open module in product page, sometimes it shows "Upgraded", sometimes it works"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![image](https://user-images.github

[2022-01-27 15:14] MatShir opened #27493 "Use docs.prestashop-project.org links instead of doc.prestashop.com"
Use docs.prestashop-project.org links instead of doc.prestashop.com

[2022-01-27 15:26] NeOMakinG commented on #27473
@hibatallahAouadni

I seen with @tups

There is only one problem: `prestashop.on` et `prestashop.emit` methods are overridden by the theme, while it's not needed because it's already exposed by core. If we do this, the EventEmitter is not the same, so it's impossible to read events from the core!

Selectors are fine, document.ready are needed in order to make selectors overridables!

[2022-01-27 15:45] hibatallahAouadni commented on #27487
Hello @Nonoland

Could you please provide a basic module to reproduce the issue :pray:
Waiting for your feedback.

THanks in advance!

[2022-01-27 15:48] hibatallahAouadni commented on #27491
Hello @sefirosweb

Could you please provide a basic module contains this hook, to help me reproducing the issue :pray:
Waiting for your feedback.

Thanks in advance!

[2022-01-27 16:29] PululuK opened #27496 "Module `LinkList` order `CMS` pages by `position`"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-27 16:30] #18919 closed, assigned to nobody

[2022-01-27 16:32] fmozzati commented on #17490
Hi! I bring the solution! You should look at the status of all your orders and review your settings. They must have the option "Set the order as shipped" checked.

Once that is done, you can go to see your Stock and you will see that the reserved and therefore physical quantities of each product were discounted.

[2022-01-27 16:44] hibatallahAouadni commented on #27496
Hello @PululuK

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
And thanks for your PR :rocket:

Ping @PrestaShop/product-team wdyt? can we have your approval?

Thank you

[2022-01-27 16:47] #27492 closed

[2022-01-27 16:50] jolelievre opened #27497 "Product page v2 Offset bug with tax selector because of multishop checkbox"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This bug was found during the QA of

[2022-01-27 16:50] hibatallahAouadni commented on #27473
Thanks @NeOMakinG for your quick replies :pray: :rocket:

[2022-01-27 17:54] hibatallahAouadni commented on #27490
Hello @Saimis777

Thanks for reproting the issue!
I reproduce the issue with PS1778, PS1783 and develop, see the attached screen record below:

https://user-images.githubusercontent.com/23308427/151415858-cbb8c9b0-5cc8-4ec4-9a72-5a051bad7324.mp4

I’ll add this to the debug backlog so that it’s fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long

[2022-01-27 18:07] duongductuan opened #27498 "Errors in the Entities Mapping when editing product."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Ps 1.7.8.3
When I go to the product

[2022-01-27 18:50] ShaimyWinda opened #27499 "Back office: catalog is empty"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

Since today, the catalogue

[2022-01-27 19:07] MarcorOnline commented on #27482
Hello @hibatallahAouadni

My configuration:
PHP: 7.4.27
Prestashop: 1.7.8.3

This is my suggested fix:
https://github.com/PrestaShop/PrestaShop/pull/27480

My proposal is to use **isset** inside the function **isDiscounted**.
This is already used, in the same way, inside the function **_getProductIdByDate**

[2022-01-27 19:53] alberto-garcia-cocomarch commented on #25959
We are on version 1.7.8.2

public static function shopGroup(?int $shopGroupId, bool $isStrict = false): self

Still is not showing the proper fix?
[2022-01-27 09:50:08] php.INFO: User Deprecated: Not specifying the optional ShopConstraint parameter is deprecated since version 1.7.8.0 {"exception":"[object] (ErrorException(code: 0): User Deprecated: Not specifying the optional ShopConstraint parame

[2022-01-27 20:08] dnkhack commented on #9866
Hello community! I have answer how to fix!

In your case "Frontcontroller::init - Cart cannot be loaded or an order has already been placed using this cart" most likely triggered because the condition in [PaymentModule::validateOrder](https://github.com/PrestaShop/PrestaShop/blob/develop/classes/PaymentModule.php#L256) is false. It can as well happen in the[ FrontController](https://github.com/Pre

[2022-01-27 20:50] mrabsinthe commented on #9866
@dnkhack the solution you've posted didn't work for me, I've also discovered that post a while ago. I'm currently using 1.7.7.6 and solution from @deldanr did the trick. I'm using only PayPal and stripe payment modules.

[2022-01-27 21:14] samberrry opened #27500 "Bad logo position for invoices in RTL languages - 1.7.8.x"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![Screen Shot 2022-01-27 at 3 03 45

[2022-01-27 22:18] dreyser opened #27503 "Reassurance module not translated"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Translations are properly edited an

[2022-01-27 22:26] ProteanCode opened #27504 "After upgrading to 1.7.8.x the maintanence page throws an error for user who is not on IP whitelist"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

After visiting the page as non-whit

[2022-01-27 22:49] samberrry commented on #26177
@hibatallahAouadni @mparvazi
Hey guys,
could you please re-open this issue?
I don know if there is another issue with the same topic.
You know `mjml-theme-converter` is a temporary solution, and the issue itself has not yet been resolved.

As the modern mail template is the default mail template, all Arabic and RTL shops, which newly created, will face this issue. So, this is critical to the produ

[2022-01-27 23:42] dnkhack commented on #9866
@mrabsinthe I want to clarify details. Because the solution that you have used came from asynchronization of ps_cart.
Senior I hope you don't think me rude but I have to ask.
ALTER TABLE ps_cart AUTO_INCREMENT = THIS number highest than last id_cart + some number (for example 100) ?

[2022-01-28 00:09] dnkhack commented on #9866
@mrabsinthe yes you right. message appeared again!

[2022-01-28 00:21] aslezak88 commented on #9866
You can check my post above. I found solution. For fix you have to edit classes/PaymentModule.php and check other payment modules for overrides or custom class. Just try to find "Cart cannot be loaded..." error message in module files and unset id-cart cookie same way like in PaymentModule.php. Other solution - you can only comment that error message in classes or in modules and nothing will appea

[2022-01-28 00:50] BenTen commented on #9866
Comment an error doesn’t fix anything

Ben

[2022-01-28 01:00] dnkhack commented on #9866
@aslezak88
Yes. I have did corrections and do test now

[2022-01-28 08:23] NeOMakinG commented on #26642
This is an UI decision honestly, ping @prestascott

[2022-01-28 08:30] VipinNethues commented on #9566
Hi Guys,
This is 1st time when I am here or help.
I am using PS 1.7.6.3

**Issue description:**
When I submit contact us form email not send in 1st attempt and gives me error "An error occurred while sending the message, please try again."   And if I press send button again just after the error the email sent successfully.
![2022-01-28_13-47](https://user-images.githubusercontent.com/20845330/1515

[2022-01-28 08:35] matks commented on #27261
https://github.com/PrestaShop/autoupgrade/releases/tag/v4.14.0 is released so I close this issue

[2022-01-28 08:35] #27261 closed, assigned to tegbessou

[2022-01-28 08:41] antoniofourmark commented on #9589
I updated to 1.7.8.3 and it didnt fix the issue

[2022-01-28 09:09] masiorama commented on #9866
Mmm commeting an error is kinda hiding the dirt under the carpet...

[2022-01-28 09:18] vladikk007 opened #27505 "Cart check quantity when stock disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error occured while adding produ

[2022-01-28 09:22] bogdan202 commented on #26671
Please pay attention to this condition
https://github.com/PrestaShop/PrestaShop/blob/1.7.8.3/classes/PaymentModule.php#L323
Compared strings are getting by using the different precisions.
Context::getContext()->getComputingPrecision()
_PS_PRICE_COMPUTE_PRECISION_

_PS_PRICE_COMPUTE_PRECISION_ is deprecated from the version 1.7.7
https://github.com/PrestaShop/PrestaShop/blob/1.7.8.3/config/config.i

[2022-01-28 09:32] okom3pom commented on #27476
@Julievrz && @MatShir if i undertand you need somthing like this ?

![Uploading Capture d’écran de 2022-01-28 10-31-47.png…]()

[2022-01-28 09:54] mparvazi commented on #26177
Hello @samberrry

First of all I'm very happy that you've subscribed to this issue, because most of developers thinks modern email theme isn't designed for RTL, and uses classic email theme or third-party email themes for their projects in RTL!

I tried to fix the problem in PS directly, but there is some exceptions for modern email theme.
The modern email theme must be created with mjml-theme-con

[2022-01-28 10:21] PrestaSafe opened #27506 "Unknown column 'id_lang' in 'where clause'"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When i tried to delete an language.

[2022-01-28 10:27] MatShir commented on #27476
Yes exactly here but with `alert medium-alert alert-warning` :)

[2022-01-28 10:43] modex9 opened #27508 "Failed opening '/*/themes/classic/lang/lt.php'"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In our project, Sentry constantly r

[2022-01-28 10:45] khouloudbelguith commented on #27504
Hi @ProteanCode,

Could you please provide more steps to reproduce the issue?
I followed these steps:
1. Install PS1770 with English language & France country
2. Go to BO > Design > Theme & Logo page > Export the current theme classic => a `classic.zip` will be created in the path `PrestaShop/themes/`
3. I tried to create a copy of this zip & rename it to `classic2.zip`
4. I upgraded to PS1783 usi

[2022-01-28 10:50] MatShir opened #27509 "1.6 doc on the last PS version"
I've try to add more replace  but there are 5 results that can't be changed, as it was 1.6 version and not available on the doc.

<img width="620" alt="Capture d’écran 2022-01-27 à 20 50 07" src="https://user-images.githubusercontent.com/2631425/151433066-59ce1fa6-4820-4a84-9519-b06eeb0de32e.png">
4

_Originally posted by @PrestaEdit in https://github.com/PrestaShop/PrestaShop/issues/27150#issue

[2022-01-28 10:55] okom3pom commented on #27476
Done :) https://github.com/PrestaShop/PrestaShop/pull/27510

[2022-01-28 11:12] HanaRebaiQA commented on #27194
Hello @Progi1984

I have verified the issue with the `dev` branch on `develop`. It's fixed!
https://watch.screencastify.com/v/SSnS06MGSTVibL4cwsrw
![image](https://user-images.githubusercontent.com/92912932/151534319-f012e481-1f56-45af-b54a-017ec3f917ec.png)

Thank you @PrestaEdit & @Progi1984 !

[2022-01-28 11:12] HanaRebaiQA commented on #27196
Hello @Progi1984

I have verified the issue with the `dev` branch on `develop`. It's fixed!
https://watch.screencastify.com/v/8AyoIyikbuWqz5RtEMx0
![image](https://user-images.githubusercontent.com/92912932/151535682-68dd73b9-391c-4334-9b9e-474608bdf9b0.png)

Thank you @PrestaEdit & @Progi1984 !

[2022-01-28 11:12] HanaRebaiQA commented on #27197
Hello @Progi1984

I have verified the issue with the `dev` branch on `develop`. It's fixed!
https://watch.screencastify.com/v/NrkxmfvkmsawXr1qZVw8
![image](https://user-images.githubusercontent.com/92912932/151536306-862712c9-ca2c-4b38-9daf-aa92796c9f68.png)

Thank you @PrestaEdit & @Progi1984 !

[2022-01-28 11:12] HanaRebaiQA commented on #27198
Hello @Progi1984

I have verified the issue with the `dev` branch on `develop`. It's fixed!
https://watch.screencastify.com/v/MXlbbLeFppKji61eItqB
![image](https://user-images.githubusercontent.com/92912932/151537113-01ed06c7-2960-4fed-9b96-7702ded740a5.png)

Thank you @PrestaEdit & @Progi1984 !

[2022-01-28 11:12] HanaRebaiQA commented on #27195
Hello @Progi1984

I have verified the issue with the `dev` branch on `develop`. It's fixed!
https://watch.screencastify.com/v/x8WChwqWTmGdyUL6qftb
![image](https://user-images.githubusercontent.com/92912932/151532368-d1e58ff0-a3df-49f1-bd4f-c65e82d508ad.png)

Thank you @PrestaEdit & @Progi1984 !

[2022-01-28 11:13] antonchik777 opened #27511 "1.7.8.3( classic theme) in the mobile version FO(<=6,1") of the site icons with products on all pages are not adaptive"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi all,

After upgrading from versi

[2022-01-28 11:14] #27198 closed, assigned to nobody

[2022-01-28 11:14] #27197 closed, assigned to nobody

[2022-01-28 11:14] #27196 closed, assigned to nobody

[2022-01-28 11:14] #27194 closed, assigned to nobody

[2022-01-28 11:14] #27195 closed, assigned to nobody

[2022-01-28 11:20] Aphrodizlove opened #27512 "module natif non fonctionnel"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Bonjour,
je n'arrive pas a téléchar

[2022-01-28 11:20] khouloudbelguith commented on #27506
Hi @PrestaSafe,

I manage to reproduce the issue with PS1778 & PS1783, so I can confirm that this behavior is indeed a bug.
![image](https://user-images.githubusercontent.com/16067358/151537970-9d0e3d31-8b8c-445a-8cc0-dea965948a6a.png)

https://user-images.githubusercontent.com/16067358/151537734-44d8f70a-e35b-46fd-8459-336788255269.mp4

It could be related to this issue: https://github.com/Presta

[2022-01-28 11:22] aslezak88 commented on #9866
It is not a critical error, only a useless warning. You can't even count, how many of these warnings are not caught... And comment that warning is only "other solution". Like I wrote. The proper fix is above. If you don't like it, find your own.

[2022-01-28 11:22] Rogerfog commented on #22386
In my case it was an automatic order status issue. I found that when migrating from 1.6 to 1.7, within ps_order_history one of the states (id_order_state) had ID 0. I changed the ID for all orders that failed from phpMyAdmin and now they all work.

[2022-01-28 11:34] ghost opened #27513 "Use the new url for orders list in the quick access links"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-28 11:41] khouloudbelguith commented on #27511
Hi @antonchik777,

I manage to reproduce the issue with PS1783.

In fact with PS1783, we have the quick view is displayed
![image](https://user-images.githubusercontent.com/16067358/151540316-69865cfa-3f59-4113-821c-ce172aaede10.png)
![image](https://user-images.githubusercontent.com/16067358/151540397-eda551c1-7b86-4043-a7ed-f201059a101f.png)

But with PS1782, the quick view is not displayed, we

[2022-01-28 11:44] khouloudbelguith commented on #27512
Hello @Aphrodizlove,

Please send your request in English. English is the norm on GitHub.

Thank you

[2022-01-28 11:46] khouloudbelguith commented on #27500
Hello @samberrry,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #27265.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thank you!

[2022-01-28 11:46] #27500 closed, assigned to nobody

[2022-01-28 11:46] Aphrodizlove commented on #27512
Bonjour, Je ne parle pas anglais alors je ne peux pas

[cid:fd7f8834-e10f-4386-a837-4c974f79fe4d]
Tel:0763631629

https://www.aphrodizlove.fr<http://www.aphrodizlove.fr>

_____________________________________
[cid:cd4ae86a-c68e-4a03-83cc-623f77c03cdb]​Responsable boutique
________________________________
De : khouloudbelguith ***@***.***>
Envoyé : vendredi 28 janvier 2022 12:44
À : PrestaShop/Pres

[2022-01-28 11:46] khouloudbelguith commented on #27500
Duplicate of #27265

[2022-01-28 12:03] khouloudbelguith commented on #27498
Hi @duongductuan,

I manage to reproduce the issue with PS1780 & PS1783 when editing a product V1. I'll add this to the debug backlog so that it's fixed.
![image](https://user-images.githubusercontent.com/16067358/151542975-8db10ec0-28a3-4a1c-996b-15b33abc4332.png)
In PS17778 => ok
![image](https://user-images.githubusercontent.com/16067358/151543128-85aee703-9958-439f-8ce7-53d6b94ef4d3.png)

I tr

[2022-01-28 12:03] MatShir commented on #26177
The option 3 got my attention ;)
We are going to discuss next week how we can improve contribution to the email theme. I think we could add this improvement on the patches release since the email theme can be considered as an external component, but I need to discuss it with the maintainers. I will keep you updated ;)

[2022-01-28 12:05] MatShir commented on #27483
Is it related to https://github.com/PrestaShop/PrestaShop/issues/19807 ?

[2022-01-28 12:17] khouloudbelguith commented on #27513
Hi @okom3pom,

I manage to reproduce the issue with PS1778 & PS1783.
![image](https://user-images.githubusercontent.com/16067358/151545612-0460394b-e9e4-4db2-9bcc-0f2a8bdc9bd7.png)

I think, it is a bug & not a feature, I’ll add this to the debug roadmap so that it’s fixed.

Thanks for the PR :slightly_smiling_face:

[2022-01-28 12:33] dnkhack commented on #9866
@aslezak88 unfortunately warning  have appeared again this your patch.

[2022-01-28 12:40] aslezak88 commented on #9866
Did you fixed all payment modules?

[2022-01-28 12:41] aslezak88 commented on #9866
Did you fixed all payment modules?

[2022-01-28 12:48] Aphrodizlove commented on #27512
Describe the error and add a screenshot
Hello
I can't download the email subscription module because it should be native. When I try to install it, it tells me: error
oh Loading failed.
What happened?
So I can't load it, but it's compatible with my version 1.7.7.5
PS email subscription - 3517e458ca0c988bd27242556bff52775de3a3e9. zipper
-Yes.
Expected behavior
No reply
To copy
1 Module Manager
2 in

[2022-01-28 12:49] Aphrodizlove commented on #27512
Describe the error and add a screenshot

Hello

I can't download the email subscription module because it should be native. When I try to install it, it tells me: error

oh Loading failed.

What happened?

So I can't load it, but it's compatible with my version 1.7.7.5

PS email subscription - 3517e458ca0c988bd27242556bff52775de3a3e9. zipper

-Yes.

Expected behavior

No reply

To copy

1 Module M

[2022-01-28 13:27] khouloudbelguith commented on #27512
@Aphrodizlove, what is the exact version of the `ps_emailsubscription` module did you use?
![image](https://user-images.githubusercontent.com/16067358/151553028-770924e9-7713-4abe-9392-fa94907d3ce1.png)

Did you clone the zip folder from the GitHub repository https://github.com/PrestaShop/ps_emailsubscription?
If yes, you need to run this command `composer install` before creating the zip, then yo

[2022-01-28 13:40] khouloudbelguith commented on #27489
Hi @tswfi,

I manage to reproduce the issue with PS1778 & PS1783 using the module Mail alerts
v2.3.1
![image](https://user-images.githubusercontent.com/16067358/151556497-54b5db44-233f-437b-b2e3-abe2c8df20b5.png)
I’ll add this to the debug roadmap so that it’s fixed.
Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue

[2022-01-28 13:53] khouloudbelguith commented on #27484
Hi @topfuel75,

Thanks for your report.
I manage to reproduce the issue with PS1778 & PS1783.
About the
`3rd Error: There should still be an error message indicating that PRODUCT-A only has one item left on stock` & `5th Error: PRODUCT-B is also not available in this quantity, but there is no message that indicate this.`
 => This issue is reported here: https://github.com/PrestaShop/PrestaShop/iss

[2022-01-28 14:05] duongductuan commented on #27498
I have some questions.. in update to 1.7.8.4 will fix it? thanks for your feedback.

[2022-01-28 14:22] khouloudbelguith commented on #27499
Hi @ShaimyWinda,

I did not manage to reproduce the issue with PS1783 & PS1778.
![image](https://user-images.githubusercontent.com/16067358/151563014-70e22b6d-550d-4169-b66c-333bec055859.png)
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error

[2022-01-28 14:46] khouloudbelguith commented on #27508
Hi @modex9,

Thanks for your report.
Could you please provide me with the exact steps to reproduce the issue?
Is it an error in the console or an error displayed in the log file?

Thanks!

[2022-01-28 15:03] khouloudbelguith commented on #27505
Hi @vladikk007,

Thanks for your report.
I manage to reproduce the issue with PS1783 and PS1780 using PHP7.4.
![image](https://user-images.githubusercontent.com/16067358/151569522-e95df0ff-0e55-43bd-bdf2-e92e7dbe5c6b.png)

I tried with
PS1780 + php7.2 => ok
PS1778 + php7.2 => ok
PS1782 + php 7.3 => ok

PS1778 is compatible with php7.3 & not php7.4

I’ll add this to the debug roadmap so that it’s f

[2022-01-28 15:09] vladikk007 commented on #27505
Hello,

Thanks. I've created a fix and I will try to create pull request.

Thanks
Vladimir

Dňa pi, 28. jan 2022, 16:03 khouloudbelguith ***@***.***>
napísal(a):

[2022-01-28 15:13] khouloudbelguith commented on #27498
Hi @duongductuan,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #27218
I updated the other issue with your steps also :slightly_smiling_face:
So, I close it.

Thanks!

[2022-01-28 15:13] #27498 closed, assigned to nobody

[2022-01-28 15:13] khouloudbelguith commented on #27498
Duplicate of #27218

[2022-01-28 15:13] khouloudbelguith commented on #27218
I manage to reproduce the issue with PS1780 & PS1783 when editing a product V1.
![image](https://user-images.githubusercontent.com/16067358/151542975-8db10ec0-28a3-4a1c-996b-15b33abc4332.png)
In PS17778 => ok
![image](https://user-images.githubusercontent.com/16067358/151543128-85aee703-9958-439f-8ce7-53d6b94ef4d3.png)

I tried to edit a product V2 (1783 & develop) => there are no errors about `Pr

[2022-01-28 15:20] dnkhack commented on #9866
@aslezak88 Hello. I did only modification in classes/PaymentModule.php which you marked on screenshot.
What you mead "all payment modules"?

[2022-01-28 15:21] jf-viguier opened #27517 "gsitemap module doesn't check group access for categories and products"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Related to https://github.com/Prest

[2022-01-28 15:23] #27420 closed, assigned to nobody

[2022-01-28 15:27] PululuK commented on #27420
Fixed by #27421

[2022-01-28 15:35] ProteanCode commented on #27504
@khouloudbelguith

Then its probably some faulty plugin.
I think it may be closed then as nonrelated to core prestashop code, but I will leave here info what happened in case of finding that out

[2022-01-28 15:35] aslezak88 commented on #9866
You have to check all payment modules, that you are currently using. It could be paypal, bankwire, cash on delivery, cheque etc... some of them are cousing this error and you find this error in module files. Probably they are using override too. So you have to check override directory especially override/classes/PaymentModule.php file. Or you can disabled all payment modules and enabled them one b

[2022-01-28 15:37] samberrry commented on #27500
@khouloudbelguith Hi, sorry I could not find it.
Thanks

[2022-01-28 15:38] khouloudbelguith commented on #27482
Hi @MarcorOnline,

I tried in my case PS1783 + php 7.4.27 => it is ok.
I attached a screen record

https://user-images.githubusercontent.com/16067358/151575917-951104a3-6203-42cc-b3a4-da26d5a63c9a.mp4

What is the exact type of the product?
Is there any specific price related to this product?

Thanks!

[2022-01-28 15:58] NeOMakinG commented on #27511
@prestascott what should we do for the quickview on mobile? Can we just let the zoom icon?

[2022-01-28 15:58] MarcorOnline commented on #27482
@khouloudbelguith try these steps:

- Install and enable this module:
https://mypresta.eu/modules/advertising-and-marketing/loyalty-points.html
- Go to a product page

The extension use the core function "isDicounted" (inside Product.php class), but this function is bugged.

I know that "loyalty-points" is not a Core Module, but it's usefull to found the issue, because it call a Product.php functi

[2022-01-28 16:04] khouloudbelguith commented on #27517
Hi @jf-viguier,

Related to https://github.com/PrestaShop/PrestaShop/issues/16992.

I manage to reproduce the issue with PS1778 & PS1783 using gsitemap v4.2.0.
I’ll add this to the debug roadmap so that it’s fixed.

https://user-images.githubusercontent.com/16067358/151580328-0eeda2e1-92f3-44c6-bce0-456ee930f8e4.mp4

Please be aware that due to the high number of reported issues, some bugs might t

[2022-01-28 16:36] khouloudbelguith commented on #27447
Hi @SharakPL,

I manage to reproduce the issue with PS1780 & PS1783 using PHP7.4.
![image](https://user-images.githubusercontent.com/16067358/151585660-6cff7899-3e45-44e8-ab2b-836cc0cb47c1.png)
I tried with PS1778 + php7.2 => ok
I tried with PS1780 + php7.2 => ok
![image](https://user-images.githubusercontent.com/16067358/151585797-0710f938-0de3-434c-a0a1-4dd73aaf8254.png)

PS1778 is not compatibl

[2022-01-28 16:50] jf-viguier commented on #27517
I can hire myself but not today.

[2022-01-28 16:51] khouloudbelguith commented on #27455
Hello @pomichel,

Despite our efforts, we were not able to reproduce your issue with the provided information.

https://user-images.githubusercontent.com/16067358/151587854-376c5e0a-2e59-4b10-8219-5c0c160dc67f.mp4

It seems that your issue is not a PrestaShop core bug but most likely a server configuration or customization problem.

We will close this issue, feel free to create a new one when need

[2022-01-28 16:51] #27455 closed, assigned to nobody

[2022-01-28 16:51] antonchik777 opened #27519 "Customer Reassurance Not Displaying Correctly in Footer Position"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

Module Icons(Customer Reass

[2022-01-28 17:01] khouloudbelguith commented on #27491
Hi @sefirosweb,

Thanks for your report.
We are waiting for your demo to reproduce the issue.

Thanks!

[2022-01-28 17:06] khouloudbelguith commented on #27519
Hi @antonchik777,

I did not manage to reproduce the issue with PS1783
![image](https://user-images.githubusercontent.com/16067358/151590352-ef8a78f1-6516-4c4f-8cd2-dbb824f90d03.png)
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/26887 to fix the issue.
Your ticket is a duplicate of #26846
So, I close it.
Thanks !

[2022-01-28 17:06] #27519 closed, assigned to nobody

[2022-01-28 17:06] khouloudbelguith commented on #27519
Duplicate of #26846

[2022-01-28 17:17] khouloudbelguith commented on #27468
Hi @sextoysunivers1964,

Could you please confirm these exact steps to reproduce the issue?

https://user-images.githubusercontent.com/16067358/151591895-b9c9596e-42c9-4b12-8907-87f1675225c4.mp4

Thanks!

[2022-01-28 17:18] khouloudbelguith commented on #27504
@ProteanCode, thanks for your feedback.
I will close the issue.
Feel free to create a new one when needed.

Thanks!

[2022-01-28 17:18] #27504 closed, assigned to nobody

[2022-01-28 17:19] khouloudbelguith commented on #27482
@MarcorOnline, did you try to contact the module author about this issue?
Is it not a module problem?

Thanks!

[2022-01-28 18:01] sextoysunivers1964 commented on #27468
Hi,

The only difference with you is that there is not a default category (home or cream) when you come back to one of the shops as you can see in the attachment.
<img width="900" alt="No Defaut in one shop" src="https://user-images.githubusercontent.com/84627578/151598300-e1ae66ce-4fe2-4fb7-b4ab-85def8847ac6.PNG">

Best regards;
Juan Carlos

[2022-01-28 18:42] PrestaEdit commented on #27506
Imho, creating a table like _lang without id_lang or _shop without id_shop is the bug itself.

[2022-01-28 18:46] PrestaEdit commented on #27512
Hi @Aphrodizlove,

Do you try to install the module with the exactly zip file you mention ? Cause it's the issue, you need to rename it to ps_emailsubscription.zip.

The same in french bellow, for the understand of the author.

----

Bonjour @Aphrodizlove,

Essayez vous d'installer le module avec ce nom de fichier mentionné ? Ce serait la cause de l'issue.
Vous devez renommer ce fichier en ps_emai

[2022-01-28 19:31] ShaimyWinda commented on #27499
Hello @khouloudbelguith

I tested my concerns by putting the debug mode on and I see a 500 error on the page.
I looked at the PHP logs and I see this:
[code]

[2022-01-28 19:54] Aphrodizlove commented on #27512
Is not working

[2022-01-28 19:56] PrestaEdit commented on #27512
Could you enable the debug mode and also click on the "What happend?" when the error comes, maybe ?

[2022-01-28 19:56] Aphrodizlove commented on #27512
Ou avez-vous installé le module à partir de la page Catalogue de modules ?
yes

[2022-01-28 19:58] Aphrodizlove commented on #27512
Server responded with 403 code.

[2022-01-28 20:06] devcodex2025 opened #27520 "Cyrillic symbols bug in Prestashop 1.7.8.3"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In some columns in the back-office

[2022-01-28 20:20] Progi1984 commented on #27249
Fixed by @sowbiba in #27330 and tested by @khouloudbelguith

[2022-01-28 20:20] #27249 closed, assigned to sowbiba

[2022-01-28 20:48] Progi1984 commented on #27266
Fixed by @NeOMakinG in #27296 & tested by @hibatallahAouadni

[2022-01-28 20:48] #27266 closed, assigned to NeOMakinG

[2022-01-28 21:05] Progi1984 commented on #27235
Fixed by @rsoulard-prolaser in #27236 & Tested by @florine2623

[2022-01-28 21:05] #27235 closed, assigned to nobody

[2022-01-28 21:40] PrestaEdit opened #27521 "Contactform: missing /widget/contactform.tpl"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you use the contactform module

[2022-01-29 00:22] dnkhack commented on #9866
@aslezak88

Yes. I have overridden class  PaymentModule.php but for over class method "createOrderFromCart". I'm use native paymant module ps_cashondelivery and ps_wirepayment. These modules do not have a code specified by you.

[2022-01-29 02:57] 121213tjfgalfjaf opened #27522 "Link List translate save success but data not change"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![image](https://user-images.github

[2022-01-29 08:47] sitolab opened #27523 "prestashop 1.7.8.2 does not change the language in admin"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I installed prestashop directly fro

[2022-01-29 09:12] DahuProduction opened #27524 "compile error /modules/contactform/recaptcha.php"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I'm stuck since sometimes w

[2022-01-29 09:39] modex9 commented on #27508
@khouloudbelguith thanks for response.

The warning happens on any front page, when this function is called (and it's always called):https://github.com/PrestaShop/PrestaShop/blob/e5f1187150fe0d12ada30f2a8801ad292fb6a1ef/classes/Dispatcher.php#L228-L230

Because ultimately it calls `Tools::setCookieLanguage`, which has file include with the warning suppressed with @:
https://github.com/PrestaShop/P

[2022-01-29 09:57] sitolab commented on #27523
I just updated to version 1.7.8.3 and the problem persists does not change the language

[2022-01-29 11:07] SharakPL commented on #27447
@khouloudbelguith are you sure it's ok on 1.7.7 and different PHP? Accessing array keys that don't exist should throw a notice even on PHP 5 🤔

[2022-01-29 11:24] MarcorOnline commented on #27482
@khouloudbelguith this is not a module bug, because the module simply use a core method that is bugged.

If you look at the function **_getProductIdByDate** you can see the same check (**isset**) suggested by me inside the method **isDicounted**

[2022-01-29 11:26] Caleydon opened #27526 "Simpler and friendly URL of page with Registration form"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-29 11:31] Progi1984 commented on #27325
Fixed by @mparvazi in #27333 and tested by @marwachelly

[2022-01-29 11:31] #27325 closed, assigned to nobody

[2022-01-29 11:33] PrestaEdit commented on #27524
Hi @DahuProduction ,

Is you module modified ? I'm not able to find something about recaptcha inside the module.

Wich version of the contactform do you use ? Could you zip it here ?
Also, you mention the module is recaptcha but this module is not a PrestaShop core module.

[2022-01-29 11:53] PrestaEdit commented on #27487
Hi @Nonoland ,

I'm not able to reproduce with this quick example:

[code]

[2022-01-29 12:13] Progi1984 commented on #27386
Fixed by @mparvazi in #27389 and tested by @marwachelly

[2022-01-29 12:13] #27386 closed, assigned to nobody

[2022-01-29 12:30] Progi1984 commented on #27146
Fixed by @atomiix in #27374 and tested by @marwachelly

[2022-01-29 12:30] #27146 closed, assigned to atomiix

[2022-01-29 13:08] PrestaEdit opened #27528 "Add console cmd to register|unregister a module to a specific hook"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-29 13:08] PrestaEdit commented on #27528
I'm managing to implement the Pull Request but I'm not sure it's the best way to do it, to handle this inside the prestashop:module with the ModuleManager itself.

[2022-01-29 13:48] PrestaEdit opened #27529 "Remove the prestashop.adapter.legacy_db service"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-29 13:52] Hlavtox opened #27530 "Unable to unselect a dropdown in grid filter"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

You are unable to “unselect” a sele

[2022-01-29 14:01] topfuel75 commented on #27484
Hi @khouloudbelguith

Thanks for looking into this.
The minimal quantity seems to work as it should. So I looked at that and created an override that seems to fix most issues.
It has one big flaw thou. If a returning customer log in to his account, and he have more items in his cart than whats on stock, he probably run into problems when he try to adjust the cart.
So I guess an auto adjustment of

[2022-01-29 15:01] PrestaEdit commented on #27529
I'd like to make it, but the prestashop.adapter.legacy_db is used twice and I need a tips on how to handle it.
Like making Db::getInstance() where it's used or use another service. :)

[2022-01-29 15:46] davidcylke commented on #14979
@Hlavtox did you find any fix to avoid the slowness?

[2022-01-29 17:52] DahuProduction commented on #27524
Hi PrestaEdit,

Thank you for your answer !

I didn't modified any module.

Here is a zip of the contactform module :
[contactform_29-01-2022_18 44 10.zip](https://github.com/PrestaShop/PrestaShop/files/7964244/contactform_29-01-2022_18.44.10.zip)

The recaptcha module is not a core module, it's maybe where come the problem !
It's this module https://addons.prestashop.com/fr/securite-access/18478-

[2022-01-29 19:13] mparvazi commented on #27511
One product per column in small screens.

[2022-01-29 19:22] PrestaEdit commented on #27524
Hi,

Thanks. As I don't know how the reCaptcha module is made and not able to check it's code, as it's a third party module, I'm not able to say what it's the issue but t's see more an issue of this module than the PrestaShop Project, I'm afraid.

[2022-01-29 19:26] PrestaEdit commented on #27530
Hi,

I'm not able to reproduce this on 1.7.8.2 and develop branch.

The only thing I noticed is the "All" label that is white/blank on 1.7.8.2 version.

[2022-01-29 19:57] DahuProduction commented on #27524
So... after some research and test, it appear than the module make this compile error every time I want to upgrade or every time I transfer to another server !
After removing it, I can transfer to another server and upgrade without this Compile Error...
I will contact the developer to let him know my problem and hope he will solve the problem on his module.

Thank you for your answer and all the b

[2022-01-30 01:45] gusxavi opened #27532 "Property extended with appendArray not working in CartPresenter"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello community. I have been trying

[2022-01-30 08:43] Progi1984 commented on #26833
Fixed by @rsoulard-prolaser in #27376 and tested by @marwachelly

[2022-01-30 08:43] #26833 closed, assigned to rsoulard-prolaser

[2022-01-30 09:50] mparvazi commented on #27511
[code]
<img src="https://user-images.githubusercontent.com/85633460/151694099-06c314c8-213c-4fe1-8210-5281ec3374f2.png" width="300">

Product information will be hidden with this class in small screens:
[code]

We can show Quickview in small media, but it should be hidden in xsmall media.
So we need to change it to:
[code]

https://user-images.githubusercontent.com/85633460/151694823-0a729bf0-24e5

[2022-01-30 12:43] okom3pom commented on #18838
Hello @marionf && @hibatallahAouadni

I am currently working on the tax multishop and I realised that the problem was solved

https://www.okom3pom.com//videos/ecotax-issue-18838.webm

Thomas

[2022-01-30 13:13] Hlavtox commented on #27526
It would be a BC break, but I think it's a good idea. :-)

[2022-01-30 14:54] ProteanCode commented on #27504
I was using the $page variable in layout files, but that var is missing in maintenance page so the error occured
I placed isset check and everything works fine

[2022-01-30 15:25] RobertKolman commented on #10161
I think that this ticket should be reopened, because i'm facing the exactly same issue also in the latest version (1.7.8.3). I don't understand why developers have not been able to add some workaround in installation flow, when the users are still facing the same issue for more than 4 years.

<img width="984" alt="Screenshot 2022-01-30 at 16 23 13" src="https://user-images.githubusercontent.com/11

[2022-01-30 16:22] clotairer opened #27534 "Productcomments error 500 due to TypeError on addCommentGrades in case of empty request"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you call https://www.your-shop

[2022-01-30 16:57] matdu58 commented on #13863
@eternoendless
Impossible to translate product title and description into another language when this language is disabled
https://github.com/PrestaShop/PrestaShop/issues/26570

[2022-01-30 17:19] clotairer opened #27535 "hooks not trigger by employe accounts without access to the module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is a new attempt to expl

[2022-01-30 18:06] igibek opened #27536 "Workflows are referencing vulnerable actions"
Hello, there!

As part of the university research we are currently doing regarding the security of Github Actions, we noticed that one or many of the workflows that are part of this repository are referencing vulnerable versions of the third-party actions. As part of a disclosure process, we decided to open issues to notify GitHub Community.

*Please note that there are could be some false positiv

[2022-01-30 22:40] hibatallahAouadni commented on #27520
Hello @karbivskij

Could you please provide a screenshot cause I didn't manage to reproduce the issue 🙏
Which language did you use for your back office?

Did you try to clear cache? Go to **Advanced Parameters**>**Performance** and change the smarty parameters like in the attached screenshot below, then click on **Save**:

![image](https://user-images.githubusercontent.com/23308427/151720899-f3a83

[2022-01-30 22:43] hibatallahAouadni commented on #27521
Hello @PrestaEdit

Thanks for reporting the issue and for your PR 🚀
Did you encounter the same issue with PS1.7.8.3 or only on develop branch?
Waiting for your feedback.

Thanks!

[2022-01-30 22:54] hibatallahAouadni commented on #27522
Hello @121213tjfgalfjaf

Could you please provide the linklist module version and your PHP version 🙏
It seems your issue similar to this one #24010

Please check and feedback.
Thanks!

[2022-01-30 23:00] karbivskij commented on #27520
Hi, Hibatallah Aouadni! I am using a ukrainian language in admin panel. The screenshot from page of orders I attached to email, the cache is cleared many times. Some text showing with errors, some text showing correctly, I'm testing in different pages text showing differently, sometimes with errors, some times correctly, in database showing nice, without bags. -------- Исходное сообщение --------О

[2022-01-30 23:01] hibatallahAouadni commented on #27524
Hello @DahuProduction

Glad to hear that your issue is not PS Core issue 🎉
Thanks @PrestaEdit for your helpful and quick replies 🚀
Closing the issue as it's not Core bug.

Thanks!

[2022-01-30 23:01] #27524 closed, assigned to nobody

[2022-01-30 23:05] hibatallahAouadni commented on #27526
Hello @Caleydon

Thank you for your suggestion. The Product Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement this f

[2022-01-30 23:08] hibatallahAouadni commented on #27528
Hello @PrestaEdit

It seems a great idea 👏 and thanks for your PR 🚀
Let's check with the Developer Team 😉

Ping @PrestaShop/prestashop-core-developers wdyt of this feature, IMHO I think it's super useful for developers.
Waiting for your feedback.

Thanks!

[2022-01-30 23:11] hibatallahAouadni commented on #27529
Hello @PrestaEdit

Thanks again for your suggestion!
The Developers Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.
So, we're waiting for your PR!

Thank you

[2022-01-30 23:18] hibatallahAouadni commented on #27530
Hello @Hlavtox

I didn't manage to reproduce the issue with PS1783 neither on develop as @PrestaEdit mentioned above.

Did you disable all your overrides and your third-party modules?
Please check and feedback.

Thanks!

[2022-01-30 23:30] hibatallahAouadni commented on #27520
Hello @karbivskij

Thanks for your feedback!
But could you please respond and attach the screenshot on GitHub not via mail 🙏 cause when you answer via mail, that's what I got 😓

Waiting for your feedback.
Thanks!

[2022-01-30 23:39] karbivskij commented on #27520
Screenshot (maybe I forgot add it to email) -------- Исходное сообщение --------От: Hibatallah Aouadni ***@***.***>Дата: пн, 31 янв. 2022 г., 01:30Кому: PrestaShop/PrestaShop ***@***.***>Копия: Roman K ***@***.***>, Mention ***@***.***>Тема: Re: [PrestaShop/PrestaShop] Cyrillic symbols bug in Prestashop 1.7.8.3 (Issue #27520)

Hello @karbivskij

Thanks for your feedback!

But could you please resp

[2022-01-31 00:15] fire2 commented on #16434
February 2022, bug is still not fixed...

[2022-01-31 00:35] karbivskij commented on #27520
![кодировка.png](https://user-images.githubusercontent.com/67425372/151724687-8ece4c11-d8b3-4d39-b9d9-6e732bd83026.png)

[2022-01-31 04:58] Seb33300 opened #27539 "Maintenance mode is not safe to install / upgrade modules from command line"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When trying to install / upgrade a

[2022-01-31 06:18] kpodemski commented on #16434
@fire2

Hi there,

Not having an issue fixed immediately (or in a fixed timeframe) does not mean that it won't be fixed, or that we don't care. It doesn't mean that the issue is NOT important either. It just means that other issues have been considered, for whatever reason, _more_ important, so they were (or are being) tackled first. There's an immense amount of work to be done, and tasks take tim

[2022-01-31 07:37] ghost opened #27540 "Multistore checkbox & drop-down is not compatible with MaterialChoiceTableType::class"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The new multistore  checkbox & drop

[2022-01-31 07:43] VipinNethues commented on #9566
Its Just to update you guys, my proplem is solved.  its working fine.
Its not any core issue but because of cache.

Thanks

[2022-01-31 08:01] PrestaEdit commented on #27521
Hi @hibatallahAouadni,

It's with the module itself. If you remove the template form the theme, it's missing from the module at the base.

[2022-01-31 08:15] hibatallahAouadni commented on #27536
Hello @igibek

Thanks for reporting the issue!
I’ll add this to the debug backlog so that it’s fixed.

FYI @PrestaShop/prestashop-core-developers

Thanks!

[2022-01-31 08:55] Hlavtox commented on #27535
All hooks under the hood should work regardless of the employee. It produces data inconsistencies like this. :(

[2022-01-31 09:10] Progi1984 commented on #27472
@PierreRambaud `ps_facetedsearch` needs a release for the next patch version.

[2022-01-31 09:21] pomichel commented on #27455
Hi,

I have finally worked it out.

It was an issue with a custom module using hookActionCustomerGridQueryBuilderModifier.

Sorry for disturbing ;-)

[2022-01-31 09:51] #27356 closed, assigned to atomiix

[2022-01-31 09:52] Progi1984 commented on #27356
Fixed by @atomiix in #27372 and tested by @marwachelly

[2022-01-31 09:57] NeOMakinG commented on #27289
Most of stuff here is backend

[2022-01-31 09:59] NeOMakinG commented on #19618
I think we can close this one, as it will be done on the new FO theme before any release, feel free to reopen it if you've some problems with pagespeed when the new theme will be released

[2022-01-31 09:59] #19618 closed, assigned to NeOMakinG

[2022-01-31 10:05] NeOMakinG commented on #16933
Can be closed in favor of the new theme I think so, in order to avoid introducing BC

[2022-01-31 10:05] #16933 closed, assigned to NeOMakinG

[2022-01-31 10:29] #27423 closed, assigned to nobody

[2022-01-31 11:07] ttoine opened #27541 "Remove dependency of Fonts CDNs in the PrestaShop open source project"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-01-31 11:14] karbivskij commented on #27520
I sent to you the screenshot, can you test this?

[2022-01-31 11:24] hibatallahAouadni commented on #27523
Hello @sitolab

Could you please update the language **BO**>**IMPROVE**>**International**>**Translations**, in the block **Add / Update a language**, update your Italian language and then check the menu:

![image](https://user-images.githubusercontent.com/23308427/151785515-0ed91155-a3e4-4101-b3b3-48b762102395.png)

It works for me :wink:
Waiting for your feedback.

Thanks!

[2022-01-31 11:36] mikirimiki commented on #26977
The shipping section for a virtual product appears on the checkout as well.
Should I open a new Issue?

[2022-01-31 11:37] hibatallahAouadni commented on #27520
Hello @karbivskij

I didn't manage to reproduce the issue, see the attached screenshots below:

![image](https://user-images.githubusercontent.com/23308427/151786712-1796c80b-7896-420b-91f5-475a5a6af723.png)

At first, not all the sentences were translated, so I updated the language twice to have the good results:

![image](https://user-images.githubusercontent.com/23308427/151786822-d9f5be3c-1384

[2022-01-31 11:40] hibatallahAouadni commented on #27534
Hello @clotairer

Could you please provide the module version :pray:
Waiting for your feedback.

Thanks!

[2022-01-31 11:41] karbivskij commented on #27520
OK, maybe the problem with database encoding?

[2022-01-31 11:49] Hlavtox commented on #27541
IP address is a personal data only if its paired with other data that enables you to identify this person.
Based on that court decision (100 EUR btw), we should stop using all CDNs or Cloudflare?

[2022-01-31 11:51] clotairer commented on #27534
5.0 but I've not check if the bug was in a previous version. Probably according the code...

[2022-01-31 11:59] #27399 closed, assigned to JoryHogeveen

[2022-01-31 12:00] #27168 closed, assigned to mparvazi

[2022-01-31 12:10] ghtoo opened #27542 "Product url is added to browser's history on add to cart"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When in product's page and adding p

[2022-01-31 12:25] ttoine commented on #27541
It's not a problem with all CDNs or Cloudflare, because they are not distributed with the project: you configure a CDN after the installation for a website, it's a choice you make, and you can use a CDN that complies with GDPR.

Even if a CloudFlare module would be shipped with the software, the merchant would have to create an account, enable it, configure the DNS, ...

The problem here is:
- Goo

[2022-01-31 12:59] hibatallahAouadni commented on #27541
Hello @ttoine

Thank you for your suggestion.
I’ll add this to the debug backlog so that it’s fixed.

Thank you

[2022-01-31 13:10] prestascott commented on #27278
@rickygzz Can you provide some screenshots in the comments please? Thank you 🙏

[2022-01-31 13:16] matks commented on #27541
I agree with @Hlavtox : following this decision we should stop using _any_ CDN in PrestaShop that are being used in the distribution.

So if you look at file https://github.com/PrestaShop/PrestaShop/blob/develop/admin-dev/themes/default/public/theme.rtlfix  the use of cdn.jsdelivr.net should be forbidden

Also I have one question: the ruling was done by a court in Germany

https://thehackernews.co

[2022-01-31 13:20] NKoonen opened #27543 "Helper form tpl on admin's new-theme"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In  classes/helper/HelperForm.php t

[2022-01-31 13:36] Caronte-Studio commented on #9594
Has this been fixed already?

I tried @msaustral solution:

But unfortunately, I couldn't get it to work. This is my PaymentModule.php code:
[code]

Any ideas on how to fix it?
Thanks in advance.

[2022-01-31 13:40] msaustral commented on #9594
Hi, what PS version do you have?

[2022-01-31 13:59] Caronte-Studio commented on #9594
The version of my PrestaShop is 1.7.5.2.

[2022-01-31 14:02] hibatallahAouadni commented on #27281
Hello @lthienard

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-01-31 14:02] #27281 closed, assigned to nobody

[2022-01-31 14:02] hibatallahAouadni commented on #27302
Hello @miramar-gareth-parker

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-01-31 14:02] #27302 closed, assigned to nobody

[2022-01-31 14:36] msaustral commented on #9594
Hi, that is not the original class/PaymentModule.php did you migrate from PS 1.6? did you override the class?, try to download PS ver 1.7.5.2 from prestashop.com and replace the class with the original.

[2022-01-31 14:38] Caronte-Studio commented on #9594
If I have migrated from version 1.6, thank you, I will try.

[2022-01-31 14:47] msaustral commented on #9594
Hi, substitute the class with the original package

[2022-01-31 14:53] sitolab commented on #27523
thanks, this has already been tried and it doesn't work honestly I don't understand the problem, whatever it does the language doesn't change and everything is set correctly

[2022-01-31 15:06] ttoine commented on #27541
@matks thanks for pointing this issue with an other CDN in the Core. If this is possible to list them all, that would help to study them and their possible impact for end users. Then I could change this issue title into something like "Remove embedded CDNs from the project".

cdn.jsdelivr.net has a basic [privacy policy](https://www.jsdelivr.com/terms/privacy-policy-jsdelivr-net) however they actu

[2022-01-31 15:10] #19359 closed, assigned to nobody

[2022-01-31 15:17] Caronte-Studio commented on #9594
I have downloaded the 1.7.5.2 version file, but the loop is the same, I have tried adding the break, but it still doesn't work.

[2022-01-31 15:23] novashop commented on #27523
Hello,
same problem with Italian email content translations
![Screenshot traduzioni Prestashop](https://user-images.githubusercontent.com/98758775/151820941-f9d94475-4cd7-4db8-b9b6-6812a04b25e9.jpg)

[2022-01-31 15:23] #27178 closed, assigned to clotairer

[2022-01-31 15:24] #26968 closed, assigned to atomiix

[2022-01-31 15:25] novashop commented on #27523
I upgraded, but no results, no translations done.

[2022-01-31 15:57] msaustral commented on #9594
We migrate from 1.6, not all file are change to the new version, make a fresh instillation, migrate the data and apply the fix

[2022-01-31 16:10] Hlavtox commented on #27541
It's no problem to implement this, material icons are bundled, why not other fonts. But I don't want this issue to become something as a precedent for other cases in prestashop. 👍

I think it should be the responsibility of the merchant to be compliant with his local laws. I have to implement the most crucial thing for selling in europe = **EU VAT** for myself, but yet we will invest time for "ins

[2022-01-31 16:27] ttoine commented on #27541
You nailed it, it's the reason why we include material icons and other artworks assets. Fonts are no different.

Developers and small business owners often don't see the importance of legal compliance and terms of use... I am used to it, but unfortunately this should not be optional. Improving the legal compliance of the projet is actually a key for its adoption and for growing its business ecosys

[2022-01-31 16:32] matks commented on #27541
I think @Hlavtox does not care: PrestaShop being used by big companies are your topic, not his topic @ttoine . @Hlavtox goal is to use PrestaShop for his needs, not the needs of other companies. @ttoine you invest in this topic because PrestaShop being adopted by big companies are your need.

It's an open source project: people contribute to the topics they need so that the project match better th

[2022-01-31 17:21] matks commented on #27528
@PrestaEdit Could you provide some situations where this command would be very useful? You can do this from the web interface, what does the Command bring ?

[2022-01-31 17:24] PrestaEdit commented on #27528
You can do all with the inferface, like install PrestaShop, reset a module and so on.
It's just an extra command to handle, and it's usefull when you develop a module and want to add a specific hook for example, without making the reset and/or go to the interface.

[2022-01-31 18:04] PrestaEdit opened #27547 "It's impossible to uninstall the welcome module with cli command"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you try to uninstall the welcome

[2022-01-31 18:21] jf-viguier commented on #27528
@matks I see some user cases :
- a script to install a widget module in several hooks for testing it
- hook a widget module to a hook in a deployment script without theme.yml nightmare.

Thanks @PrestaEdit for the improvement.

[2022-01-31 18:21] PrestaEdit commented on #27543
I can confirm this, is also true on the develop branch.

[2022-01-31 19:29] ShaimyWinda commented on #27499
Hello @khouloudbelguith,

I tried again with the debug mode, and I see this error.
Do you have any idea how to fix this?
Thanks

![image](https://user-images.githubusercontent.com/25744417/151859620-85aac851-9889-42e9-828d-4441c1c5e0ff.png)

[2022-01-31 20:17] Hlavtox commented on #27541
Thats not true @matks, all merchants, big or small need to follow the same rules. :-) All my clients have perfectly legal-valid websites that passed several state inspections without a single issue. 👍

Then we need to provide all the possible hooks needed, fast. Only thing that people talk about in czech prestashop facebook right now is how to implement a new cookie law from 2022. Two biggest czec

[2022-01-31 22:28] hibatallahAouadni commented on #27535
Hello @clotairer

I reproduce the issue with PS1782 and PS1778, see the screenshots below:

**1st test:**
![image](https://user-images.githubusercontent.com/23308427/151882340-ffcd296e-29c6-4073-9cb4-1b42913b2705.png)

**2d test:**
![image](https://user-images.githubusercontent.com/23308427/151882391-b9ef28ac-4849-46b0-a3bb-4e0877ac5b27.png)

**3rd test:**
![image](https://user-images.githubuserco

[2022-01-31 22:40] hibatallahAouadni commented on #27523
Hello @sitolab

Did you try to clear the navigator cache or to access the BO on incognito mode (browser)?
Cause it seems even @novashop doesn't encounter your issue.
Waiting for your feedback.

Thanks!