[2018-09-06 16:41] khouloudbelguith commented on #10324
Hi @startech-france,

Thanks for your report.

First issue:
You need to navigate to your BO => Shop Parameters => Customer settings => Groups Tab
Edit the Price display method for all the groups
![image](https://user-images.githubusercontent.com/16067358/45171965-2084fd80-b204-11e8-904e-038ca0fb8ae4.png)

For the second issue
You need to check the issue with the theme author

Third issue
 You need

[2018-09-06 16:45] melmelimel commented on #9540
Hi all, any news about this issue? I have the same problem but with 1.7.4.1.

[2018-09-06 16:46] peranderssjostrom commented on #10239
Thank you! It helped but who wants this feature really. Does somebody write kg and mm as Kg and Mm?

[2018-09-06 16:46] khouloudbelguith commented on #10325
Hi @melmelimel,

Thanks to check in the conditions tab, if the shipping is included?
![image](https://user-images.githubusercontent.com/16067358/45172250-1b747e00-b205-11e8-949f-03a20fd09049.png)

Best regards, Khouloud

[2018-09-06 16:48] jolelievre commented on #10043
Hello, there is a fix in this PR https://github.com/PrestaShop/PrestaShop/pull/10326
We will try to merge it quickly

[2018-09-06 16:48] khouloudbelguith commented on #9540
Hi @melmelimel,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-09-06 16:49] khouloudbelguith commented on #10325
HI @melmelimel,

Have you the same issue with this: #9540?

Best regards, Khouloud

[2018-09-06 16:50] melmelimel commented on #10325
Hi Khouloud, yes same issue,... :(

[2018-09-06 16:52] khouloudbelguith commented on #10325
Hi @melmelimel

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9540
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-06 16:52] #10325 closed, assigned to nobody

[2018-09-06 16:52] khouloudbelguith commented on #10325
Duplicate of #9540

[2018-09-06 16:53] melmelimel commented on #9540
That's really annoying... How can we submit this as a pull request? Do you think that in a few days it can be solved or can it take months or years ?

[2018-09-06 16:59] melmelimel commented on #9540
Khouloud, it seems that Idnovate has a solution... https://addons.prestashop.com/fr/frais-de-port/26428-shipping-cost-with-without-cart-rules-discounts.html

[2018-09-06 16:59] AdriCruz commented on #10323
![consola](https://user-images.githubusercontent.com/43041205/45172507-d56bea00-b205-11e8-84fe-257a811d8e65.png)
[error_log.txt](https://github.com/PrestaShop/PrestaShop/files/2357985/error_log.txt)

If you need more information please tell me.

[2018-09-06 17:02] khouloudbelguith commented on #9540
Hi @melmelimel,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

Best regards, Khouloud

[2018-09-06 17:05] khouloudbelguith commented on #10323
Hi @AdriCruz,

Could you please try to disable the anthemeblocks module, clear cache & feedback.

Best regards, Khouloud

[2018-09-06 17:13] AdriCruz commented on #10323
I can not disable anthemeblocks because I can not made any changes from BO. I have cleared cache. Nothing change.

[2018-09-06 17:22] startech-france commented on #10324
Hello,
**1- First issue:**
Your solution and good for the payment, it is not good for the display of the product, I would like to display the prices of the product: "excl tax" and at the moment of paying it pays incl tax.
2- second issue:
I will check with the author of the theme (thanks)
3- Third issue
Thank you It's resolved.

Thanks for your help,

[2018-09-06 18:09] GerhardWG commented on #9842
Hello Khouloud!

I have not done this, I think "handliche URLs v2.1.1 - from FMM Modules"
has done.
Now, I can't deactivate the Modul. I think, I have to deinstallation it.

Kind regards, Gerhard

Am Do., 6. Sep. 2018 um 12:52 Uhr schrieb khouloudbelguith <
notifications@github.com>:

--

Mit besten Wünschen:

Gerhard & Birgit Gußmagg

Siegersdorf 14

8222 St. Johann bei Herberstein

Österreich

T

[2018-09-06 18:14] Prestashopnewbie commented on #10307
SSL is & was allready enabled on all pages.

[2018-09-06 18:17] GerhardWG commented on #9842
Can't do anything, The server returned a "500 Internal Server Error".
Since I tried deactivating the Modul "prettyurls"

Am Do., 6. Sep. 2018 um 20:09 Uhr schrieb Gerhard Gussmagg <
wuestengarten.gussmagg@gmail.com>:

--

Mit besten Wünschen:

Gerhard & Birgit Gußmagg

Siegersdorf 14

8222 St. Johann bei Herberstein

Österreich

Tel.: +43 (0) 664/2043856

info@wuestengarten.at

www.wuestengarten.a

[2018-09-06 18:26] GerhardWG commented on #9842
Protokolle von shop.wuestengarten.at - powerc226.galaxy-gmbh-service.de
2018-09-06 20:13:49 Error 91.141.2.23 500 GET / HTTP/1.1 Mozilla/5.0
(Windows NT 6.1; Win64; x64; rv:62.0) Gecko/20100101 Firefox/62.0[image:
Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:62.0) Gecko/20100101
Firefox/62.0] 400 SSL/TLS-Zugriff für Apache
2018-09-06 20:13:49 Warning 91.141.2.23 mod_fcgid: stderr: PHP Parse error:

[2018-09-06 18:27] viperlodz commented on #10288
I think that is not the same.
Here is video: https://fibor.com.pl/app/20180906_194741.mp4
I also check this: https://fibor.com.pl/sklep/phppsinfo.php
Apache log: https://fibor.com.pl/app/error.log

Firefox console:
Error: WebExtension context not found!  ExtensionParent.jsm:861:13
Error: WebExtension context not found!  ExtensionParent.jsm:861:13
sendTimingEvent addSite start undefined undefined

[2018-09-06 18:30] sarjon commented on #10323
@AdriCruz make sure you have Demo mode disabled.

You can disable it here https://github.com/PrestaShop/PrestaShop/blob/develop/config/defines.inc.php#L43

[2018-09-06 19:12] jointsystems commented on #9489
Here is the log. Also a 1% import.
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2358410/log.txt)
![1 import](https://user-images.githubusercontent.com/41153050/45179509-b90c8500-b1e6-11e8-985e-56b88868ca55.PNG)

![image](https://user-images.githubusercontent.com/41153050/45179680-2fa98280-b1e7-11e8-95d4-1b1d8a956d74.png)

[2018-09-06 20:32] AdriCruz commented on #10323
@sarjon thank you so much, it was that!! Everything works now. Thanks @khouloudbelguith too for your help.

[2018-09-06 20:32] #10323 closed, assigned to nobody

[2018-09-06 21:00] nbexiga commented on #10313
Hi @khouloudbelguith
Thanks for you reply,
the version of 1-click upgrade is 4.1.1
Regarding the log, i did not take it because i needed to go to prod with no issues , so i restore the server snapshoot.
i will have to try again and get the log and more information for what to do after the upgrade in case of error again..
it happens with both stores that i have in the server.

[2018-09-07 01:43] krodiak opened #10329 "Errors ocurred: error while importing XLSX file"
I've been trying to import this file and it just stops saying an error ocurred: error.

I am linking thefile for reproducing the error.
http://endysis.com.mx/combs_upload_endysis.xlsx

SOmetimes it happens at the beginning and some times it just freezes.

[2018-09-07 04:12] Assalea commented on #9812
Do you know When you can have a look on it?

[2018-09-07 04:36] LedCloud opened #10330 "Refresh js when new strore's upgraded to new version"
I offer to add the version of the store to JS and maybe css, so when the store would be upgraded the customer's browser will upgrade JS (and maybe :) css) automatically.

` <script type="text/javascript" src="https://napompe.ru/themes/core.js" ></script>`
replace with
 `<script type="text/javascript" src="https://napompe.ru/themes/core.js?1742" ></script>`

I belive this one https://github.com/Pre

[2018-09-07 04:43] LedCloud commented on #10288
Hi, @viperlodz!
Have you tried the other browser? I had the same probled on Google Chrome but on FF everything works fine.
I played with extentions in chrome, after some changes (enabling and disabling) chrome works fine too.

I'm not sure it's related with extentions because now they are on the same state when they've been when problem occured.

And the problem you described happend on one comput

[2018-09-07 05:26] viperlodz commented on #10288
Yes. I try on FF, Chrome, Mobile Chrome and in not work.
It's this product: https://fibor.com.pl/sklep/zamki-kontrola-dostepu/zamek-elektroniczny-do-drzwi-kaadas-k7-srebrny
I have module to beautiful links but when i trun it off also it don't work.

[2018-09-07 07:14] fruitfreak opened #10331 "Combination selector generates 403 forbidden error!"
If a product has two sizes, but each size has different flavors - it generates an error if I first select one flavor that do not exist in the other size. And then selects the other size...

Example:
Go to:
http://test.plante-protein.dk/protein-pulver/20-67-vega-protein-greens-proteinpulver.html#/
1. Select Berry flavor
2. Select 760 Gram size.

Logically selecting the 760 gram size should reset th

[2018-09-07 07:18] skipy opened #10332 "Updating product categories through CSV import"
Hi there! I am running PS  1.7.3 and I really want to update the product categories through CSV.
I put the category ID in the Categories column, but the categories remain the old ones.

Is there any solution to this? Thank you!

[2018-09-07 07:38] khouloudbelguith commented on #10331
Hi @fruitfreak,

The issue is fixed in the next version 1.7.5.0.
Here's the PR: #9390 to solve the issue.
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-07 07:38] #10331 closed, assigned to nobody

[2018-09-07 07:38] khouloudbelguith commented on #10331
Duplicate of #9390

[2018-09-07 08:08] #9556 closed, assigned to nobody

[2018-09-07 08:11] #10043 closed, assigned to jolelievre

[2018-09-07 08:43] khouloudbelguith commented on #10329
Hi @krodiak,

The issue is about the "reference" column, it is too long, it should have 32 chars or less.
But it is an issue should be fixed.
I manage to reproduce the issue with the last version 1.7.4.2.
If we try to import a combination file which has a reference more than 32 chars => the import is corrupted without any information.
![image](https://user-images.githubusercontent.com/16067358/452

[2018-09-07 08:44] #10318 closed, assigned to nobody

[2018-09-07 08:55] khouloudbelguith commented on #10332
Hi @skipy,

You need to enable the "Force all ID numbers" in the Import page.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-07 09:01] khouloudbelguith commented on #10323
Hi @AdriCruz,

Thanks for your feedback.
Feel free to open a new issue when needed.

Best regards, Khouloud

[2018-09-07 09:10] khouloudbelguith commented on #10288
Hi @viperlodz,

In the Shop Parameters / Traffic & SEO page => you edited the schema of URLs, thanks to check the issue after changing those URLs to the default one & feedback.
![image](https://user-images.githubusercontent.com/16067358/45209936-8ddd7080-b28e-11e8-829e-2f4f140e1010.png)

Best regards, Khouloud

[2018-09-07 09:13] khouloudbelguith commented on #9842
Hi @GerhardWG,

Have you tried to contact the module author?
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-07 09:19] viperlodz commented on #10288
Hi, as I write before I try also change in SEO page urls for products to:

    {category:/}{id}{-:id_product_attribute}-{rewrite}{-:ean13}.html
    {category:/}{id}{-:id_product_attribute}-{rewrite_product}.html
    {category:/}{id}{-:id_product_attribute}-{rewrite_product}{-:ean13}.html

and it still don't work.

[2018-09-07 09:24] matks opened #10333 "Demo order 2 data is wrong"
**Describe the bug**

When one installs a new shop, there are demo data loaded into the shop. Order 2 for John Doe contains 2 order rows, but the SQL data is wrong.

**To Reproduce**

Order 2 contains 2 ordered items:
- mug "today is a good day"
- poster "The adventure begins Framed poster" Size : 80x120cm

If you look at `ps_order_detail` you can see the 2nd item row has `product_attribute_id` 16

[2018-09-07 09:29] PeNov commented on #10018
Hello, Khouloud,

pull request is here: https://github.com/PrestaShop/ps_facetedsearch/pull/43

I do not know if pull request is created correctly.

Thank you

Best regards

PN

[2018-09-07 09:37] Marwazeinoo88 commented on #10315
Hi again, finally it's working! I just had to enable and able friendly urls so prestashop automatically generate .htaccess file 👍

[2018-09-07 09:37] #10315 closed, assigned to nobody

[2018-09-07 09:37] khouloudbelguith commented on #10333
Hi @matks,

I manage to reproduce the issue with the last version 1.7.4.2.
We will see how to fix it.

Best regards, Khouloud

[2018-09-07 09:39] khouloudbelguith commented on #10315
Hi @Marwazeinoo88,

Thanks for your feedback.
Feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-07 09:41] khouloudbelguith commented on #10288
Hi @viperlodz,

Could you please try to regenerate the file .htaccess

1. Rename the old file to .htaccess_old
2. Disable friendly URL
3. Enable friendly URL
Thanks to check and feedback

Best regards, Khouloud

[2018-09-07 09:49] PeNov opened #10335 "PHP errors in log if you edit orders in BO"
Hello,

**Describe the bug**
PHP errors are present if you edit (add, remove product or change carrier) order in BO.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'BO / orders / add product'
2. Scroll down to 'order overview - product, delivery, total is empty'
3. Refresh page or load this order again
3. See error in PHP log:

[07-Sep-2018 08:10:29 Europe/Prague] PHP Notice:  Undefin

[2018-09-07 10:03] khouloudbelguith commented on #10335
Hi @PeNov,

First, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Second, could you please try to configure your smarty by disabling the cache, set the option "Template compilation" to Force compilation and clear cache.
Thanks to check and feedback.
Ps: isn't the same issue reported in this ticket: #9602?

Best regards, Khouloud

[2018-09-07 10:06] Quetzacoalt91 commented on #10330
I agree with you, this wouldn't be the first time we got this issue.

This trick is already implemented on the login.js script: https://github.com/PrestaShop/PrestaShop/blob/fe7796b1b7c20080fc1c5564f2e029726f4369f2/admin-dev/themes/default/template/controllers/login/header.tpl#L50

[2018-09-07 10:13] demperador opened #10336 "Error 500 when selecting combination values that do not exist"
**Describe the bug**
When a product has more than one attribute associated with it and some combinations do not exist, the user

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://centrobell.com/esmaltes/865-2160-cnd-vinylux.html#/505-cantidad_del_envase-15_ml/586-grupo_de_colores-rojos/772-colores_de_esmaltes-244_mambo_beat
2. Select on any other "Tonos" value besides the default

[2018-09-07 10:18] khouloudbelguith commented on #10330
@marionf, what do you think about this issue?
As @Quetzacoalt91 said, we can add automatically the PS version in javascript.tpl

[2018-09-07 10:23] khouloudbelguith commented on #10336
Hi @demperador,

The issue is fixed in the next version 1.7.5.0.
Here's the PR: #9390 to solve the issue.
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-07 10:23] #10336 closed, assigned to nobody

[2018-09-07 10:24] khouloudbelguith commented on #10336
Duplicate of #9390

[2018-09-07 10:24] Quetzacoalt91 commented on #10330
I made a pull-request which follows this request. The version was hard-coded, and we had to manually update it on each release. From now, we follow the version registered in the Kernel.

[2018-09-07 10:31] khouloudbelguith commented on #10313
Hi @nbexiga,

Thanks!
Waiting for your feedback.

Best regards, Khouloud

[2018-09-07 10:45] khouloudbelguith commented on #10324
Hi @startech-france,

About the first issue, it should be fixed in this ticket: #10013
It is added to our bug roadmap.
Please follow #10013
Your ticket is a duplicate of #10013
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-07 10:45] #10324 closed, assigned to nobody

[2018-09-07 10:46] khouloudbelguith commented on #10324
Duplicate of #10013

[2018-09-07 10:50] viperlodz commented on #10288
Ok I did it, but still don't work.

[2018-09-07 11:00] khouloudbelguith commented on #10288
Hi @marionf what do you think about this issue?
I did not manage to reproduce it with the last version 1.7.4.2.
Also, it is not the same issue described here #9667 @viperlodz said.

Best regards, Khouloud

[2018-09-07 11:00] sarjon commented on #10316
@mickaelandrieu i was able to track down why it breaks. The reason is this change: https://github.com/PrestaShop/PrestaShop/commit/d7c9264b197764e72c7900814c13364f6ad5f83f

Explanation:
Newer version of PHPSQLParser returns different result for parsed SQL than the old parser. So thats why it works on stable PrestaShop release but does not work on develop branch. i could apply some fix for that, bu

[2018-09-07 11:07] LedCloud commented on #10330
I made the suggested changes to javascript.tpl and stylesheets.tpl. Now the links to scripts and css looks like that
[code]
Great!

[2018-09-07 11:08] khouloudbelguith commented on #9489
Hi @jointsystems,

Could you please provide me the csv file to test it.

Best regards, Khouloud

[2018-09-07 11:13] nbexiga commented on #10313
@khouloudbelguith
Hi
i have updated again and have the same error....

how can i send you the log?
thanks

[2018-09-07 11:16] khouloudbelguith commented on #10313
Hi @nbexiga,

Yes, can you please provide us the log of your upgrade? It can be found in the log.txt file, available in /autoupgrade/tmp/log.txt

Best regards, Khouloud

[2018-09-07 11:23] PeNov commented on #10335
Hello Khouloud,

BOOM-5839 - contain more errors. But you are right this problem was part of this BOOM. Sorry I forgot. But, now we know what cause this errors. :-)

1) /var/cache - deleted: log have same errors
2) smarty cache disabled + force compilation + /var/cache - deleted: log have same errors

Thank you

Best regards

PN

![before_and_after_edit_order_in_bo](https://user-images.githubuserc

[2018-09-07 11:26] matks commented on #10046
Fixed by https://github.com/PrestaShop/PrestaShop/pull/9444

[2018-09-07 11:26] #10046 closed, assigned to Quetzacoalt91

[2018-09-07 11:27] startech-france commented on #10013
I want to solve a problem
on my website.

1- I am a professional supplier all my prices are to display "tax excl." on the site, my at the time of the payment the tax must be added, whereas in my case to me, it is displayed my does not add to the amount total. see the example below + screenshot attached.

Example:
the customer has to pay 272,03 €. the customer must pay the subtotal + delivery charg

[2018-09-07 11:44] skipy commented on #10332
Hi, @khouloudbelguith !
Thank you for your reply! The thing is that I actually activated that option with the force ID, but when I import the products it creates categories with the number ID instead of the category name.

[2018-09-07 11:44] nbexiga commented on #10313
Hi
kindly see the log atached
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2360890/log.txt)

[2018-09-07 11:45] rokaszygmantas opened #10339 "Style issues in back office"
**Describe the bug**
Noticed a few issues related to style in back office:

1. Help box popups are remaining in the old position when the content moves (e.g. when collapsing the side menu), making them look weird (https://prnt.sc/kroltr).
2. Help box popups are overlapping on top of the page header when scrolling down (https://prnt.sc/kromsm). This happens in all new BO pages.
3. Yes/No switches a

[2018-09-07 12:22] khouloudbelguith commented on #10335
Hi @PeNov,

So, can I close this ticket, since it is duplicated?

Best regards, Khouloud

[2018-09-07 12:25] khouloudbelguith commented on #10013
Hi @startech-france,

This issue is not fixed yet.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-09-07 12:35] PeNov commented on #10335
Hello Khouloud,

partly duplicate but with steps how to reproduce. Can you please create link between both?

Thank you

Best regards

PN

[2018-09-07 12:38] khouloudbelguith commented on #10339
Hi @rokaszygmantas,

Thanks for your report, I manage to reproduce the issue with develop branch.
![image](https://user-images.githubusercontent.com/16067358/45219510-6e087580-b2ab-11e8-9afa-f636e1a341aa.png)
For the 1,3 & 4 issues existed in the stable version 1.7.4.2.
For the 2nd issue exists only in the develop branch.

Best regards, Khouloud

[2018-09-07 12:39] marionf commented on #10333
Relates to #9733

[2018-09-07 12:57] jointsystems commented on #9489
Attached is the 1% import but you will have to convert it to a csv as GitHub doesn't support it?
[BS_08-27-2018_A only_HtoL-1-500.xlsx](https://github.com/PrestaShop/PrestaShop/files/2361097/BS_08-27-2018_A.only_HtoL-1-500.xlsx)

[2018-09-07 12:57] marionf commented on #10288
@khouloudbelguith I can't reproduce the issue on 1.7.4.2
It looks like an old issue solved in 1.7.3.1 here: https://github.com/PrestaShop/PrestaShop/pull/7775

[2018-09-07 12:58] marionf commented on #10288
@viperlodz I close the issue because we can't reproduce it on 1.7.4.2

[2018-09-07 12:58] #10288 closed, assigned to nobody

[2018-09-07 13:13] khouloudbelguith commented on #10335
Hi @PeNov,

It is the same error log, on the same page, order page.
We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9602
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-07 13:13] #10335 closed, assigned to nobody

[2018-09-07 13:13] khouloudbelguith commented on #10335
Duplicate of #9602

[2018-09-07 13:29] nbexiga commented on #10313
@khouloudbelguith did you got the error?

[2018-09-07 13:32] khouloudbelguith commented on #9489
Hi @jointsystems,

Sorry, but could you explain to me the exact column that you imported?
Part # ?,Mfg ?, Diamond ?, ....Part Status ?, ...

Best regards, Khouloud

[2018-09-07 13:36] #10175 closed, assigned to matks

[2018-09-07 13:48] viperlodz commented on #10288
It strange because I install new 1.7.4.2 without update it.
I replace controllers/front/ProductController.php from the new downloaded prestashop pack, but still it not work.

In this topic: https://www.prestashop.com/forums/topic/456002-problem-with-the-product-attributes-drop-down-menu-on-shop-page/#comment-2625346
you can see that "Admin523453" has the same problem like me in version 1.7.3.3
Als

[2018-09-07 14:03] khouloudbelguith opened #10343 "The search after switching to the second page of the product page may cause a problem."
**Describe the bug**

The search after switching to the second page of the product page may cause a problem.
Please see screen-record.

Best regards, Khouloud

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Products page =>  ( be sure that you have more than 20 products & Items per page=20)
2. Click on the second page
3. Search within the "name" field with this expression "copy"

[2018-09-07 14:07] Marwazeinoo88 opened #10344 "Module cross-selling bug!!"
**Describe the bug**
Hello,
When i create a new product , and i try adding some related products , they never show on Front office !
Module : Vente croisée configured and active.

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additionnal information**
PrestaShop version: 1.7.3.0
PHP version: 7.1.20
Version du logiciel serveur : Apache
Thème actif

[2018-09-07 14:30] khouloudbelguith opened #10345 "Search isn't working in catalog > product page"
**Describe the bug**
Search isn't working in catalog > product page

**To Reproduce**

1. Go to Catalog > Products
2. Click on Filter by categories and select a category
3. Refresh the page => #10257
4. Click on the **Reorder** button
5. Search with all field (name, category, status, price, ..) => doesn't work => The page is refreshed but you still see all products

**Screenshots**
https://drive.g

[2018-09-07 14:35] matks commented on #10250
Bug analysis:
**Right DOM**
![capture d ecran 2018-09-07 a 16 35 15](https://user-images.githubusercontent.com/3830050/45225107-0870b500-b2bc-11e8-82cc-6b7503d98ee3.png)
**Faulty DOM**
![capture d ecran 2018-09-07 a 16 35 08](https://user-images.githubusercontent.com/3830050/45225129-13c3e080-b2bc-11e8-9bd8-f94eb936b1d5.png)

[2018-09-07 14:49] khouloudbelguith commented on #10288
Hi @viperlodz,

code freeze should be in September, and then, beta will be released for debugging.

Best regards, Khouloud

[2018-09-07 15:10] #10162 closed, assigned to nobody

[2018-09-07 15:20] lacrm opened #10346 "low_stock_alert allow_null"
Prestashop 1.7.4.2
`'allow_null'= true` in definition fields (classes/Product.php) for low_stock_alert
![image](https://user-images.githubusercontent.com/17384523/45227692-5e942700-b2c1-11e8-842e-81a32450867d.png)
NOT NULL in CREATE TABLE (install-dev/data/db_structure.sql)
![image](https://user-images.githubusercontent.com/17384523/45227791-a74be000-b2c1-11e8-8ee8-f37c851eaac1.png)

[2018-09-07 15:42] jointsystems commented on #9489
Here is the import column alignment.  1.7.4 does not save the field separator preferences.  In North America  the coma is mostly used for separating columns whereas in Europe the semi-colon is used.  Bot 1.6 and 1.7 automatically puts in the ; by default but at least 1.6.20 learns what you prefer.
![briggs august import columns panel four](https://user-images.githubusercontent.com/41153050/4522917

[2018-09-07 15:55] khouloudbelguith commented on #10344
Hi @Marwazeinoo88,

I did not manage to reproduce the issue with PS 1.7.4.2 / PS1.7.3.1 & the ps_crossselling v2.0.0.
![image](https://user-images.githubusercontent.com/16067358/45229803-3c050c80-b2c7-11e8-8125-846ccc4afc2b.png)
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-07 16:00] khouloudbelguith commented on #10313
Hi @nbexiga,

Sorry, but I did not manage to reproduce the issue with the 1-click upgrade module v4.1.1 (PS 1.7.3.2 => PS 1.7.4.2), there's no error in the General page after the upgrade.
@Quetzacoalt91 what do you think about this error?

Best regards, Khouloud

[2018-09-07 16:24] khouloudbelguith commented on #10332
Hi @skipy,

In the categories column, have you tried to put the name of the category that you want to update instead of the ID?
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-07 16:26] Marwazeinoo88 commented on #10344
[
![capture](https://user-images.githubusercontent.com/43037924/45231025-0bbf6d00-b2cb-11e8-8c57-7ce17d607994.PNG)
![capture07](https://user-images.githubusercontent.com/43037924/45231026-0bbf6d00-b2cb-11e8-8938-0125159e5075.PNG)

](url)
I need to associate products!
 in demo BO it's ok , but in FO, associated products don't show
(Sorry for my english)

[2018-09-07 16:41] khouloudbelguith commented on #10344
Hi @Marwazeinoo88,

Thanks for your feedback.
Same, I did not manage to reproduce the issue with the PS 1.7.4.2 /PS 1.7.3.1
Have you tried to contact the theme author?
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-07 16:48] khouloudbelguith commented on #9489
Hi @jointsystems,

I did not manage to reproduce the issue with the last version 1.7.4.2 after upgrade from 1.6.1.20 with the 1-click upgrade v4.1.1.
https://drive.google.com/file/d/11-35EpkqHEI3Q8lYFKJzvjxWHv_t-UDG/view
I Just imported this file:
[BS_08-27-2018_A.only_HtoL-1-500.xlsx](https://github.com/PrestaShop/PrestaShop/files/2361825/BS_08-27-2018_A.only_HtoL-1-500.xlsx)
Thanks to check and

[2018-09-07 16:58] khouloudbelguith commented on #10307
Hi @Prestashopnewbie,

Did you make an upgrade or it is fresh install 1.7.4.2?
Thanks to check that the demo mode is disabled: https://github.com/PrestaShop/PrestaShop/blob/develop/config/defines.inc.php#L43

Best regards, Khouloud

[2018-09-07 17:01] Prestashopnewbie commented on #10307
Hi it is a one click upgrade from PrestaShop 1.6.x to 1.7.4.2, demo mode is disabled

[2018-09-07 17:02] khouloudbelguith commented on #9536
Hi Raul,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-07 17:02] #9536 closed, assigned to nobody

[2018-09-07 17:04] khouloudbelguith commented on #9534
Hi sol8712,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-07 17:04] #9534 closed, assigned to nobody

[2018-09-07 17:05] khouloudbelguith commented on #9535
Hi zine,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-07 17:05] #9535 closed, assigned to nobody

[2018-09-07 17:06] khouloudbelguith commented on #9532
Hi Tomasz,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-07 17:06] #9532 closed, assigned to nobody

[2018-09-07 17:06] khouloudbelguith commented on #9531
Hi anto78,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-07 17:06] #9531 closed, assigned to nobody

[2018-09-07 17:07] khouloudbelguith commented on #9530
Hi Saad,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-07 17:07] #9530 closed, assigned to nobody

[2018-09-07 17:09] khouloudbelguith commented on #9562
Hi matt,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-07 17:09] #9562 closed, assigned to nobody

[2018-09-07 17:11] khouloudbelguith commented on #10307
Hi @Prestashopnewbie,

Could you please try to regenerate the file .htaccess

1. Rename the old file to .htaccess_old
2. Disable friendly URL
3. Enable friendly URL

Thanks to check and feedback

Best regards, Khouloud

[2018-09-07 17:23] Prestashopnewbie commented on #10307
I already did that several times... maybe this is something important: just after the upgrade our images where not visible in te front, this had something to do with friendly url... and SSL domain (I had www.natureldeluxe.be configurated as SSL domain) but this needed to be natureldeluxe.be (without www) I dont know why, this needed to be changed... this was the first error after upgrade...

[2018-09-07 20:19] MisteryPresta opened #10349 "'Classic" theme PrestaShop 1.7.4.2 on Safari IPhones 4 and 5 CSS problem"
On browser Safari (IPhone) All the product images  are not displaying  vertically but horizontally,  going out of the screen,  you have to scroll from left to right, looks unresponsive, Ugly.
You have to verify this bug with the real Iphone not online simulation.
See screenshot.

![img_3477](https://user-images.githubusercontent.com/43077925/45241240-ee4ecb00-b2eb-11e8-87f0-74441c1d43e5.PNG)

[2018-09-08 05:40] GerhardWG commented on #9842
Hello Khouloud!

How looks like the original Traffic & SEO page and wher can I find the
file? I will try to edit it in Plesk. I need something to do!

Kind regards, Gerhard

Am Fr., 7. Sep. 2018 um 11:13 Uhr schrieb khouloudbelguith <
notifications@github.com>:

--

Mit besten Wünschen:

Gerhard & Birgit Gußmagg

Siegersdorf 14

8222 St. Johann bei Herberstein

Österreich

Tel.: +43 (0) 664/204385

[2018-09-08 09:17] Marwazeinoo88 commented on #10344
Hi again,
I'm using classic  theme (theme by default of prestashop1.7)

[2018-09-08 10:38] nbexiga commented on #10313
Hi
good morning.. anybosy can help? ;)

[2018-09-08 12:47] rdy4ever opened #10351 "No category name in search results"
**Describe the bug**
In ps_searchbar module, the category name is no longer displayed for instant search results.
**To Reproduce**
Steps to reproduce the behavior:
Search for a product using the search bar. There is no category name listed in front of the product name.
In ps_searchbar.js, there is the code to display (`.append($("<span>").html(product.category_name).addClass("category"))`) it but

[2018-09-08 13:14] #9527 closed, assigned to nobody

[2018-09-08 13:44] dineshbadrukhiya opened #10353 "An error occurred while processing your request on product page"
When I enables multi language or multi currency or both from back-office in Prestashop 1.7.4.2, while changing attributes on product page like quantity, color its shows an error message  " An error occurred while processing your request ". when disable both multi-language and multi currency not shows any error message, I also tried solution of https://github.com/PrestaShop/PrestaShop/pull/9390 but

[2018-09-08 21:21] GerhardWG commented on #9842
Hello Khouloud!

So far no reaction from the developer of the module.
Luckily I managed to fix the error. I have replaced all the files of the
shop through which from a recent backup.
Now I could uninstall the module "PrettyURL" too. (I used version 2.1.1,
now there is an update.)
Now the price display works again when changing the product size.
Many thanks Khouloud, for your help and the right ti

[2018-09-08 22:57] laurentvannereau opened #10354 "Table 'ps_accessory' already exists"
![prestashop1 7 4 2error](https://user-images.githubusercontent.com/5227047/45259321-9fdd2180-b3fc-11e8-89e5-3ba96a64accc.jpg)

I tried many times on 2 different servers, my server is using the latest Easy Apache 4

Prestashop 1.6 can be installed but Prestashop 1.7 cannot be installed, I have tried to install Prestashop 1.7.4 and 1.7.4.2

I always get the same error.

I have tried:
- to create a

[2018-09-09 07:52] Francky336 opened #10355 "Module not display"
Hi all,
i use prestashop 1.7.4.2, all work in back office but module page don't work.
i have search many solution but no issue.
i load many modules by ftp but never display in BO, button instal module don't work and connect to markeplace.
let me know what is this problem or what is file need mod for prestashop reconize module
Thank for your help

![presta](https://user-images.githubusercontent.com

[2018-09-09 09:42] darkf3d3 opened #10356 "Integrate Webp support"
I think it's a good idea to add support of webp images because having a better compression algorithm will help deceasing page load time.

---
Edited on November 16th, following https://github.com/PrestaShop/PrestaShop/issues/10356#issuecomment-728127438:

**Describe the solution you'd like:**

1. Add WebP as a supported image format.
2. Define its MIME type in ImageManager.
3. Allow the upload of

[2018-09-09 10:04] Sergio-Fourwinds opened #10357 "Traslation module - Files can´t be written"
**Describe the bug**
The native module for traslations generates an error explaining the file CustomerAccountLink can´t be written due file´s permission. After checking the bugtracker I found a solution: http://forge.prestashop.com/browse/BOOM-4443

The error message has disappeared, anyway the module doesn´t load. So can´t be modified the traslations

**To Reproduce**
1. I go to international>Tra

[2018-09-09 14:56] Prestashopnewbie commented on #10307
Is there really no solution?

[2018-09-10 06:26] sarjon commented on #10188
hello @colinegin , this part of migration is already done in https://github.com/PrestaShop/PrestaShop/pull/9206 :)

[2018-09-10 08:03] khouloudbelguith commented on #10351
Hi @

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9767
So, I close it.
Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!
Thanks!

Best regards, Khouloud

[2018-09-10 08:03] #10351 closed, assigned to nobody

[2018-09-10 08:04] khouloudbelguith commented on #10351
Duplicate of #9767

[2018-09-10 08:12] khouloudbelguith commented on #10354
Hi @laurentvannereau,

1. Before the installation, could you please enable the mode dev.
You can enable the Debug Move using an FTP client (for instance the free Filezilla tool) to edit the config/defines.inc.php file. Find the following line in the file:
`define('_PS_MODE_DEV_', false);`
… and change it to:
`define('_PS_MODE_DEV_', true);`
2. During the installation, thanks to untick the box "Dro

[2018-09-10 08:18] khouloudbelguith commented on #10353
Hi @dbadrukhiya,

The issue is fixed in the next release 1.7.5.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9390 to solve the issue.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/pull/9390
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-10 08:18] #10353 closed, assigned to nobody

[2018-09-10 08:18] khouloudbelguith commented on #10353
Duplicate of #9390

[2018-09-10 08:18] CristianCrispini opened #10359 "Payplug IPN error(500) if Geolocation is active"
**Describe the bug**

Payplug server will receive payments but the ipn response shows error 500 as result of the transaction. This will generate a new order with no status code(--) on Prestashop BO.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Prestashop BackOffice
2. Click on **International** then **localization** then **Geolocation**
3. Download component for the geolocation and

[2018-09-10 08:23] khouloudbelguith commented on #10359
Hi @CristianCrispini,

The PayPlug module is not developed by Prestashop, have you tried to contact the theme author?
Thanks to check with them your issue and feedback.

Best regards, Khouloud

[2018-09-10 08:29] khouloudbelguith commented on #10355
Hi @Francky336,

Make sure you have Demo mode disabled.
You can disable it here https://github.com/PrestaShop/PrestaShop/blob/develop/config/defines.inc.php#L43
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-10 08:37] Quetzacoalt91 commented on #10313
I guess there are some issues with the registered class. In general, finding and deleting the files `class_index.php` helps.

[2018-09-10 08:44] matks commented on #10250
@eternoendless Thanks to Quetzacoalt91 we were able to find the issue root cause: a bad translation. We're going to fix it on crowdin however do you know if we can check the result ? Is crowdin automatically updated or is there some kind of release process ?

[2018-09-10 08:45] khouloudbelguith commented on #10357
Hi @Sergio-Fourwinds,

Thanks to export the language from the translation page, Copy the file the file generated into the translation file of your theme according to this documentation: http://build.prestashop.com/howtos/translation/how-to-translate-your-theme/#case-2:-you-are-creating-new-strings-in-files-that-already-exist-in-the-default-theme, clear cache from your shop, your browser & feedback

[2018-09-10 08:56] nbexiga commented on #10313
HI
and i delete that file where? in what folder?

thanks
________________________________
De: Thomas N <notifications@github.com>
Enviado: 10 de setembro de 2018 08:37
Para: PrestaShop/PrestaShop
Cc: N Bexiga; Mention
Assunto: Re: [PrestaShop/PrestaShop] error in Symfony after upgrade to 1.7.4.2 (#10313)

I guess there are some issues with the registered class. In general, finding and deleting the

[2018-09-10 09:03] Quetzacoalt91 commented on #10313
You can potentially find it in:
* cache/
* app/cache/dev
* app/cache/prod
* var/cache/dev
* var/cache/prod

[2018-09-10 09:11] Francky336 commented on #10355
Hi @khouloudbelguith
i have checked and it's disable "define('_PS_MODE_DEMO_', false);"
Thank's for your help.
Best regards Franck

[2018-09-10 09:16] khouloudbelguith commented on #10355
Hi @Francky336,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards,

[2018-09-10 09:20] Quetzacoalt91 commented on #15202
Hi @Kis-shoes,

Sorry for the delay. Please some time to check the concerned modules. They probably have new versions available on the marketplace for 1.7 versions of PrestaShop.

[2018-09-10 09:21] khouloudbelguith commented on #10356
Hi @darfk3d3,

Thanks for your report.
Yes, the webp is not supported by Prestashop.
![image](https://user-images.githubusercontent.com/16067358/45288632-6fc07c00-b4eb-11e8-8ec4-88f66508784b.png)
@eternoendless what do you think, can we integrate this image format?

Best regards, Khouloud

[2018-09-10 09:22] dineshbadrukhiya commented on #10353
I  tried solution as per https://github.com/PrestaShop/PrestaShop/pull/9390 but still I'm getting this error.

[2018-09-10 09:25] sesousa opened #10360 "Multiline Translation strings on modules aren't available on backofice for translation"
**Describe the bug**
On a multiline translation string on a config page of a 3rd party module, the string doesn't appear for translation on backend.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any 3rd party module and construct a multiline language translation like this on a HelperForm's field:
$this->l(
'big translation string here, and we have to split line to pass validation',
'

[2018-09-10 09:27] khouloudbelguith commented on #10353
Hi @dbadrukhiya,

Thanks to follow #10178

Best regards, Khouloud

[2018-09-10 09:29] khouloudbelguith commented on #10360
Hi @sesousa,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9525
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-10 09:29] #10360 closed, assigned to nobody

[2018-09-10 09:29] khouloudbelguith commented on #10360
Duplicate of #9525

[2018-09-10 09:34] nbexiga commented on #10313
Hi
i did not found any class_index.php in
cache/
app/cache/dev
app/cache/prod

and i cannot locate the folder var ...
is in the root of the prestashop?

thanks

[2018-09-10 09:42] khouloudbelguith commented on #10313
Hi @nbexiga,

Yes, the folder var/ is located into the Prestashop project folder.

Best regards, Khouloud

[2018-09-10 09:44] Quetzacoalt91 commented on #15200
Your case seems to be specific, so I can't really know what the issue is and provide a solution to it.

It appears you're running on an Apache server, I recommend you to check the virtual hosts configured.
If someone else did it, you should check with him.
There's probably a rule in it which prevent the use of the 1-click upgrade module. This is probably not what you intended, but this could be a

[2018-09-10 09:46] khouloudbelguith commented on #9842
Hi @GerhardWG,

Thanks for your feedback.
Since it is fixed, I close the issue.
Feel free to open a new one needed.

Best regards, Khouloud

[2018-09-10 09:46] #9842 closed, assigned to nobody

[2018-09-10 09:50] khouloudbelguith commented on #10344
Hi @Marwazeinoo88,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.pr

[2018-09-10 10:02] Francky336 commented on #10355
here my debug mode report "missing":

Locale | Domain | Times used | Message ID | Message Preview
-- | -- | -- | -- | --
fr-FR | AdminAdvparametersFeature | 1 | Never recompile template files | Never recompile template files
fr-FR | AdminAdvparametersFeature | 1 | Recompile templates if the files have been updated | Recompile templates if the files have been updated
fr-FR | AdminAdvparametersFeatu

[2018-09-10 10:04] khouloudbelguith commented on #10349
Hi @MisteryPresta,

I tried with an iPhone 8 Safari browser & it is OK.
I attached a screenshot.
![image](https://user-images.githubusercontent.com/16067358/45291106-8a95ef00-b4f1-11e8-82c0-d4ab75eab7a2.png)
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-10 10:04] Francky336 commented on #10355
here my debug mode report "defined":

Locale | Domain | Times used | Message ID | Message Preview
-- | -- | -- | -- | --
fr-FR | AdminAdvparametersFeature | 2 | Clear cache | Vider le cache
fr-FR | AdminAdvparametersFeature | 4 | Memcached via PHP::Memcache | Memcached par PHP::Memcache
fr-FR | AdminAdvparametersNotification | 4 | (you must install the [a]Memcache PECL extension[/a]) | (vous devez

[2018-09-10 10:06] nbexiga commented on #10313
i canot finde the var folder .... i locate all of them but not the var.. grrr :(:(

[2018-09-10 10:11] khouloudbelguith commented on #10355
Hi @Francky336,

Did you follow these steps?
[To turn on the Debug mode on PrestaShop 1.7, follow these steps:
Got to Advanced Parameters > Performance
In the Debug Mode section, set “Debug Mode” to “Yes”.
Click the “Save” button.]

Best regards, Khouloud

[2018-09-10 10:14] Francky336 commented on #10355
yes debug mode is active

[2018-09-10 10:14] Quetzacoalt91 commented on #10313
That's probably because you roll-backed your shop. This folder is only available from PrestaShop 1.7.4.0. :)

[2018-09-10 10:15] MisteryPresta commented on #10349
Can you check it on real phone please?
We are few people with the same problem:
https://www.prestashop.com/forums/topic/637070-prestashop-17-classic-bug-on-safari/?tab=comments#comment-2967045

[2018-09-10 10:15] khouloudbelguith commented on #10355
@Francky336  There is no exception displayed in the modules page? There are no errors in the php_log file?

[2018-09-10 10:18] matks commented on #10168
According to its [routing](
https://github.com/PrestaShop/PrestaShop/blob/develop/src/PrestaShopBundle/Resources/config/routing/admin/sell/catalog/products/products.yml#L49) this page expects URL to be formatted as `/{offset}/{limit}/{orderBy}/{sortOrder}`

However the listing URL does not follow this at all: `/sell/catalog/products?_token=xxxxx&orderBy=reference&sortOrder=asc`: the sort parameter

[2018-09-10 10:19] Francky336 commented on #10355
here missing in module page :
Locale | Domain | Times used | Message ID | Message Preview
-- | -- | -- | -- | --
fr-FR | AdminActions | 71 | Disable mobile | Disable mobile
fr-FR | AdminActions | 6 | Enable mobile | Enable mobile

[2018-09-10 10:24] khouloudbelguith commented on #10355
Hi @Francky336,

Could you please check if the memcached server is running & feedback.

Best regards, Khouloud

[2018-09-10 10:33] khouloudbelguith commented on #10349
Hi @MisteryPresta,

It seems to be OK, I checked the last version 1.7.4.2 (after an upgrade) on the iPhone SE.
![image](https://user-images.githubusercontent.com/16067358/45292460-92f02900-b4f5-11e8-93ea-fa0014e63bf0.png)

Best regards, Khouloud

[2018-09-10 10:36] Francky336 commented on #10355
i haven't memcached server

[2018-09-10 10:39] khouloudbelguith commented on #10355
Hi @Francky336,

This error is displayed in your debug mode report "defined":
![image](https://user-images.githubusercontent.com/16067358/45292721-52dd7600-b4f6-11e8-88f1-a6cc14b34ae9.png)
Could you please check the issue with your host and feedback.

PS: Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

Best regards

[2018-09-10 10:45] khouloudbelguith commented on #10307
Hi @Prestashopnewbie,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards, Khouloud

[2018-09-10 10:45] #10307 closed, assigned to nobody

[2018-09-10 10:50] juilila opened #10362 "Code promo non pris en compte pour les produits virtuels"
**Describe the bug**
A clear and concise description of what the bug is.
Sur la dernière version de prestashop 1.7.4.2 les codes promo ne sont pas appliqués sur les produits virtuels

**To Reproduce**
Steps to reproduce the behavior:
Installer la version 1.7.4.2
Créer un produit virtuel
Créer une promotion
Appliquer la promo dans le panier
Total Panier non mis à jour

**Screenshots**
If applicable

[2018-09-10 10:57] khouloudbelguith commented on #10362
Hi @juilila,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10264
So, I close it.
Thanks !

Best regards, Khouloud

[2018-09-10 10:57] #10362 closed, assigned to nobody

[2018-09-10 10:57] khouloudbelguith commented on #10362
Duplicate of #10264

[2018-09-10 11:08] khouloudbelguith commented on #10346
Hi @lacrm,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

Best regards, Khouloud

[2018-09-10 12:25] MisteryPresta commented on #10349
I can not see the image of the second product on your phone,
in my phone screen-shot it is clear that the second
product is going out of the screen to the right, instead
it should be going down:
![img_3490](https://user-images.githubusercontent.com/43077925/45297271-241acc00-b505-11e8-9562-9fd00f27a3f1.PNG)

[2018-09-10 12:45] PierreRambaud commented on #10168
@matks Le Fu.. Was already fixed. https://github.com/PrestaShop/PrestaShop/pull/9074 and validated by @eternoendless

[2018-09-10 13:05] Francky336 commented on #10355
i have cieared the 2 folder, but alredy load module, here report "defined"

Locale | Domain | Times used | Message ID | Message Preview
-- | -- | -- | -- | --
fr-FR | AdminNotificationsError | 1 | You do not have permission to add this. | Vous n'avez pas les droits suffisants pour l'ajout.
fr-FR | AdminModulesFeature | 3 | Upload a module | Installer un module
fr-FR | AdminModulesFeature | 3 | Con

[2018-09-10 13:06] Francky336 commented on #10355
and missing report:

Locale | Domain | Times used | Message ID | Message Preview
-- | -- | -- | -- | --
fr-FR | AdminActions | 71 | Disable mobile | Disable mobile
fr-FR | AdminActions | 6 | Enable mobile | Enable mobile

[2018-09-10 13:09] shokhashaykh opened #10364 "CData section not finished Change the product prices massivelyYou can change in must_have_module_list.xml file"
Modules Error in Prestashop Admin Panel

4 errors

    Error found : CData section not finished Change the product prices massivelyYou can change in must_have_module_list.xml file.
    Error found : Premature end of data in tag additional_description line 1 in must_have_module_list.xml file.
    Error found : Premature end of data in tag module line 1 in must_have_module_list.xml file.
    Error f

[2018-09-10 13:16] khouloudbelguith commented on #10349
Hi @MisteryPresta,

What is the exact iPhone did you use?

Best regards, Khouloud

[2018-09-10 13:22] khouloudbelguith commented on #10364
Hi @shokhashaykh,

Thanks to delete the must_have_modules_list.xml file into the path PROJECT_FOLDER/confix/xml, check & feedback.

Best regards, Khouloud

[2018-09-10 13:28] khouloudbelguith commented on #10355
Hi @Francky336,

What is the exact name of this module?

Best regards, Khouloud

[2018-09-10 13:31] Francky336 commented on #10355
colissimo simplicte or other, alredy not possible install

[2018-09-10 13:33] khouloudbelguith commented on #10355
Hi @Francky336,

Could you please follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, t

[2018-09-10 13:40] #10330 closed, assigned to nobody

[2018-09-10 13:53] khouloudbelguith commented on #10346
Hi @lacrm,

After fresh installation 1.7.4.2, in the structure of the ps_product_shop we have this
![image](https://user-images.githubusercontent.com/16067358/45301610-9abdc680-b511-11e8-9491-4556942b7109.png)
@eternoendless what do you think about his report?
Thanks!

Best regards, Khouloud

[2018-09-10 14:01] Francky336 commented on #10355
when i load this phppsinfo, it"s a file open and not dispaly value, i have use oher phpinfo:
memory_limit = -1 but i force it to 128 in index.php boutique
[phpinfo.pdf](https://github.com/PrestaShop/PrestaShop/files/2366913/phpinfo.pdf)

[2018-09-10 14:09] darkf3d3 opened #10366 "Improve Progressive Web App"
Prestashop 1.7.4.2 demo score only 42/100 on Progressive Web App using Google Lighthouse tool.
That would be a good thing to improve this.

[2018-09-10 14:13] khouloudbelguith commented on #10355
Hi @Francky336,

It is recommended to use 256MB =>  memory_limit
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-10 14:24] khouloudbelguith commented on #10366
Hi @darfk3d3,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.2.
https://drive.google.com/file/d/1I0NbBg-bwYZtM_unXuTczN_a_Z0Q6Sgz/view

Best regards, Khouloud

[2018-09-10 15:32] matks commented on #10257
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10365

[2018-09-10 15:33] matks commented on #10345
This issue looks like a summary of issues https://github.com/PrestaShop/PrestaShop/issues/10168 and https://github.com/PrestaShop/PrestaShop/issues/10257 that are fixed by https://github.com/PrestaShop/PrestaShop/pull/10365

[2018-09-10 15:53] MisteryPresta commented on #10349
Iphone 4S

[2018-09-10 15:59] matks commented on #10257
I do see a bug but I do not reproduce the issue as described here:

1. Go to Catalog > Products
2. Click on Filter by categories and select category "Women"
3. The page is refreshed and I see 2 demo products:
![capture d ecran 2018-09-10 a 17 56 20](https://user-images.githubusercontent.com/3830050/45308917-d90fb180-b522-11e8-8fd4-86b713fab4f9.png)

**Although on the page** it is written "Category

[2018-09-10 16:00] Marg88 opened #10367 "Prestashop installation"
PrestaShop version: 1.7

Hello,
I try to install Prestashop but when I'm on my localhost the auto-installer begin to load but at the beginning an error is indicated like you can see on the picture in attachment :
"An error has occured:
You need to grant write permissions for PHP on the following directory: /Users/lisecreationspei/Site/papa"
It's my folder with Prestashop 1.7 files.
I don't know wh

[2018-09-10 16:01] khouloudbelguith commented on #10349
Hi @MisteryPresta,

Yes, you are right with iPhone 5s safari browser, I manage to reproduce this issue.
![image](https://user-images.githubusercontent.com/16067358/45309212-8387d480-b523-11e8-899b-a456ce1bbf48.png)
We will see how to fix it.

Best regards, Khouloud

[2018-09-10 16:05] nbexiga commented on #10313
@Quetzacoalt91  Hi
 yes.. i had to rollback my install.
i will try do delete that files now when i do the upgrade again...
hope it will fix that ;)

[2018-09-10 16:09] khouloudbelguith commented on #10367
Hi @Marg88,

Thanks for your report.
It is a permission issue.
Thanks to follow these steps:
1) Set up your database
2) Download Prestashop and extract
3) Upload Prestashop to your server using FTP
4) Change file permissions of all directories to 777 using your FTP software. In Filezilla, this is done by:
File permissions >777>tick box to do it for all subdirectories> choose directories only
 5) G

[2018-09-10 16:17] MisteryPresta commented on #10349
Thank you !
This is very important for my Shop because  most of my clients use Iphone 5 and sometimes 4.

[2018-09-10 16:34] rdy4ever commented on #10366
Well, Prestashop is not by default a PWA. So maybe you should install a PWA module from the [add-ons store](https://addons.prestashop.com/en/search?search_query=pwa). Or, implement something like [this](https://github.com/DivanteLtd/vue-storefront) if you have the skills. Plese note that Magento also scores just 42 in Lighthouse in its default configuration. However, with Vue Storefront implemente

[2018-09-10 16:54] lakhveer opened #10368 "PS 1.7.2.4 in module and product page in 500 error"
My PS 1.7.2.4 in module and product page in 500 error
**PrestaShop version:** 1.7.2.4
**Shop URL:** http://www.thebellcollections.com/
**Server information:** Linux #76-Ubuntu SMP Thu Aug 16 16:21:21 UTC 2018 x86_64
**Server software version:** Apache/2.4.18 (Ubuntu)
**PHP version:** 7.0.30-0ubuntu0.16.04.1
**Memory limit:** 1000M
**Max execution time:** 5000
**Upload Max File size:** 750M
**MySQL

[2018-09-10 16:57] khouloudbelguith commented on #10368
Hi @lakhveer,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2018-09-10 17:02] lakhveer commented on #10368
Thanks for your response
where i found server setup and configuration?

[2018-09-10 17:06] peranderssjostrom opened #10369 "Can't sort Reference in Stock management PS 1.7.4.2"
Stock management function

Sort order "REFERENCE" doesn't work. I can't see what kind of order I'll get. See demo_8 as reference. N/A continues and I have a couple of more demo_x.

![skarmavbild 2018-09-10 kl 19 01 25](https://user-images.githubusercontent.com/42907000/45312330-12005400-b52c-11e8-8f5e-57b19d8d7ce7.png)
**Additionnal information**
PrestaShop version: 1.7.4.2
PHP version: 7.2.9

[2018-09-10 17:07] khouloudbelguith commented on #10368
Hi @lakhveer,

You need to navigate to the BO => Advanced Parameters => Information page.

Best regards, Khouloud

[2018-09-10 17:09] rdy4ever commented on #10349
Hi @khouloudbelguith
Could you please tell me what tool do you use to test mobile rendering? Crome dev tools do not show this layout problem.

[2018-09-10 17:10] lakhveer commented on #10368
![screencapture-thebellcollections-admin375oippbf-index-php-2018-09-10-22_39_13](https://user-images.githubusercontent.com/8274910/45312738-7d591e80-b54a-11e8-89eb-bbeb15b4cafa.png)
![screenshot from 2018-09-10 22 23 40](https://user-images.githubusercontent.com/8274910/45312748-8518c300-b54a-11e8-93d2-2e0cb9eb245f.png)

please check server configuration

[2018-09-10 18:47] darkf3d3 commented on #10366
I will look for a developer that it's able to implemente Wue Storefront because Prestashop module seem not working properly, because on their front end demo they score no more than default PS demo.
A part from this I think that it should be implemented into next PS releases.

[2018-09-11 04:44] dineshbadrukhiya commented on #10353
Still I haven't found any solution. There is no issue with php version also.

[2018-09-11 05:17] dineshbadrukhiya commented on #10178
I'm not using Nginx and any leofeaturemodule but still not fixed it.

[2018-09-11 06:26] sarjon opened #10370 "[SF Migration] Document Filters component"
As a reminder for @mickaelandrieu :wink:

[2018-09-11 06:28] GeoTimber commented on #10303
Sorry for the late reply, no such file there
[code]

How is the file name generation seeded?

[2018-09-11 08:36] matks commented on #10257
I think the issue is not a bug as explained in the previous comment.

The products found by the search are relevant: if you search all products for category "Accessories" you will get them, however in the "Category" column it might not be written "Accessories" but another Category name because the product belongs to multiple categories **including** Accessories.

What do you think ? @khouloudbelgu

[2018-09-11 08:50] matks commented on #10345
Hello @khouloudbelguith I am sorry with the latest version of `develop` I fail to reproduce the issue.

Here is what I do:
1) go to Catalog Products page, filter by "Papeterie"
![capture d ecran 2018-09-11 a 10 45 54](https://user-images.githubusercontent.com/3830050/45348881-22f2a900-b5b0-11e8-9449-884a144f22cb.png)
2) I see the 3 "Papeterie" products: looks good
![capture d ecran 2018-09-11 a 10

[2018-09-11 09:05] Francky336 commented on #10355
Hi @khouloudbelguith ,
with 256MB same problem.
I have alredy this warning :

WARNING                                                 10:54:31 | translation | Translation not found.                                   Hide context                                             [▼   "id" => "Disable mobile"   "domain" => "AdminActions"   "locale" => "fr-FR" ]
-- | -- | --

Best Regards franck

[2018-09-11 09:06] LedCloud opened #10371 "BO: While printing the order the sidepanel is shown."
Fresh clean install 1.7.4.2

If you try to print the order the left side panel is shown.

See the attach.
[Orders _ Order_KHWLILZLL_from_John_DOE_Test1.pdf](https://github.com/PrestaShop/PrestaShop/files/2370280/Orders._.Order_KHWLILZLL_from_John_DOE_Test1.pdf)
[Orders_Order_KHWLILZLL_from_John_DOE_Test2.pdf](https://github.com/PrestaShop/PrestaShop/files/2370281/Orders_Order_KHWLILZLL_from_John_D

[2018-09-11 09:24] rdy4ever commented on #10371
Hello. This is the PR to fix the issue: https://github.com/PrestaShop/PrestaShop/pull/10135

[2018-09-11 09:29] rdy4ever commented on #10368
Hi there. Please [enable debug mode](https://www.prestashop.com/forums/topic/575132-how-to-enable-debug-mode-on-prestashop-17-and-older-versions-turn-on-error-reporting-blank-page/) in order to see a more detailed error that could indicate the cause.

[2018-09-11 09:42] rdy4ever commented on #10356
Well, according to caniuse, webp has a very poor [browser support](https://caniuse.com/#feat=webp) right now. So using webp images would mean:
- no images in any IE version
- no images in any Edge version
- no images in any Firefox version
- no images in any Safari version
- no images in any iOS Safari browser

So, if you ask me webp in not ready for production yet.
It could be done but it would m

[2018-09-11 09:53] Quetzacoalt91 commented on #10371
Thank you @rdy4ever.

The issue will be fixed on 1.7.5.0. I'm closing as this is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9527.

Regards

[2018-09-11 09:53] #10371 closed, assigned to nobody

[2018-09-11 10:06] darkf3d3 commented on #10356
I know that webp it's supported by few browsers, but Chrome as nearly 60% of browser market share.
For sure this will require a lot of work to be implemented in the correct way, but i think that's a good idea to do this because since Google pay a lot of attenction to website performance, and this could help Prestashop websites to obtain improvements in SEO.

[2018-09-11 10:13] matks opened #10374 "Overriden variable "pages" on sitemap page"
#### Is your feature request related to a problem?

On FrontOffice sitemap page, the Smarty view uses a variable named pages (see [in the controller](https://github.com/PrestaShop/PrestaShop/blob/develop/controllers/front/SitemapController.php#L42) and [in the view](https://github.com/PrestaShop/PrestaShop/blob/develop/themes/classic/templates/cms/sitemap.tpl#L47)).
However there is also a global

[2018-09-11 11:28] nbexiga commented on #10313
Hi
already tried , the only class_index.php was on app/cache/dev and deleted it , but the issue persist ;(;(

don't know more what to do ;(;(;

[2018-09-11 11:32] nbexiga commented on #10313
@Quetzacoalt91

Symfony\Component\Debug\Exception\FatalErrorException:
Compile Error: Cannot redeclare class PrestaShopPaymentExceptionCore

  at classes/exception/PrestaShopPaymentException.php:0

[2018-09-11 12:04] nbexiga commented on #10313
i am using 1-click upgrade module v4.1.1

[2018-09-11 12:24] anbkt commented on #9627
Dear Khouloud, any news on the bug fix?  Best, Anabel

[2018-09-11 12:53] MathiasReker commented on #10128
I fixed it: https://github.com/PrestaShop/PrestaShop/pull/10376

[2018-09-11 12:53] MathiasReker commented on #9685
I fixed it: https://github.com/PrestaShop/PrestaShop/pull/10376

[2018-09-11 13:02] matrixino commented on #9540
This is a serious problem. It's impossible to manage carrier by price + discounts this way.
After debugging a bit i found out that Cart::getOrderTotal() with Cart::BOTH_WITHOUT_SHIPPING doesn't load cart rules.
But if I add
`Cart::BOTH_WITHOUT_SHIPPING`
in
`if (in_array($type, [Cart::BOTH, Cart::ONLY_DISCOUNTS])) {`
and moving in the switch after
`case Cart::BOTH_WITHOUT_SHIPPING:`
together with
`

[2018-09-11 13:12] Akashvastarpara opened #10377 "Combination menu in right side not appears in back office while multi store enabled"
Hello I'm facing one issue in Prestashop 1.7.4.2, but don't know how can i fix it,
In combination product right side block to choose attributes not appears in back office while I enables multi store. Can we avail this feature for multi-store also.

![combination](https://user-images.githubusercontent.com/40850132/45362393-56562780-b5f2-11e8-850c-794422213db5.png)

[2018-09-11 13:16] Marg88 commented on #10367
Thank you very much, it's work :)

Kind regards

Marg

[2018-09-11 13:20] matks commented on #10316
@sarjon Do you mean that some "classic" SQL queries of Prestashop are being flagged as "invalid" by the updated PHPSQLParser ?

[2018-09-11 13:29] Marg88 opened #10378 "Database"
PrestaShop version: 1.7

When I'm on the auto-installer, I have a problem to install my database in Prestashop. I have a database on OVH but I don't know what are good informations to put on the right place on Prestashop. So I can't connect me to the server of my database. It say me that I need to check my connection identifiers.
I join in attachment informations given by OVH and informations need

[2018-09-11 13:31] dineshbadrukhiya commented on #10377
Hi @Akashvastarpara

Thanks for sharing your issue here.
I suggest you to replace below code in /src/PrestaShopBundle/Controller/Admin/ProductController.php file to get shop id instead of 1
$attributeGroups = $this
            ->getDoctrine()
            ->getManager()
            ->getRepository('PrestaShopBundle:Attribute')
            ->findByLangAndShop(1,1);

Replace with below code :
$attrib

[2018-09-11 13:52] sarjon commented on #10316
not really @matks , if i remember correctly, `$parser` result in this line https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/SqlManager/SqlQueryValidator.php#L52 is a bit different with new PHPSQLParser thats why it breaks in develop branch.

In addition, `validateParser()` returns `false` for a valid SQL. Here's an exact line https://github.com/PrestaShop/PrestaShop/blob/develop/s

[2018-09-11 14:36] ndkdesign opened #10379 "Bug on deleteing product with customization"
**Describe the bug**
When cart has a same products multiple times with different customizations, if you try to delete one both are deleted.
deletion only take care about id_product and id_attribute

**Additionnal information**
PrestaShop version: 1.7.4.2
PHP version: 7

[2018-09-11 14:41] matks commented on #10316
Issue improved by https://github.com/PrestaShop/PrestaShop/pull/10380 but root cause not fixed (yet)

[2018-09-11 14:50] Akashvastarpara commented on #10377
Great! I tried it and my combination block is visible now.
Thank you. @dbadrukhiya

[2018-09-11 15:11] ndkdesign commented on #10366
this one will do the job: https://addons.prestashop.com/fr/mobile/31205-pwa-notification-push.html

[2018-09-11 15:19] Quetzacoalt91 commented on #10259
The PR has been merged and a new version of the module has been created. I'm closing.

[2018-09-11 15:19] #10259 closed, assigned to nobody

[2018-09-11 15:31] matks commented on #10316
@sarjon Indeed the SQL validator has issues :/ however I am not fond of the solution "run the SQL query, catch error if there is one" it feels a bit ... raw 😅 . Like "to check if this wall is solid, let's hammer it, if it breaks it was not".

Additionnaly a nice SQL validator should not only check a query is valid but also catch bad practices.

The ideal solution is to fix/rebuild the SQL validato

[2018-09-11 15:52] sarjon commented on #10316
i know its not the best solution to execute query, but building SQL parser that can parse any query does not sound fun at all. :/

[2018-09-11 16:00] peranderssjostrom opened #10381 "PS 1.7.4.2 is filling up my web hotel with Gigabyte"
public_html/cart/var/cache/dev/profiler

![skarmavbild 2018-09-11 kl 17 56 41](https://user-images.githubusercontent.com/42907000/45372012-3885c400-b5ec-11e8-889d-cdc797205e4b.png)
![skarmavbild 2018-09-11 kl 17 56 53](https://user-images.githubusercontent.com/42907000/45372041-450a1c80-b5ec-11e8-878c-dd4889a79467.png)
Yesterday I noticed that my 3 GB web hotel was filled with these cache files. I

[2018-09-11 16:06] coisasuteis commented on #9652
Same problem here. Can't figure out why this is happening... Looking forward for a solution!

[2018-09-11 16:09] matks commented on #10321
Fixed by https://github.com/PrestaShop/PrestaShop/pull/10375

[2018-09-11 16:09] #10321 closed, assigned to matks

[2018-09-11 16:35] Quetzacoalt91 commented on #10269
Fixed by https://github.com/PrestaShop/ps_themecusto/pull/5

[2018-09-11 17:19] jf-viguier opened #10383 "Delivery price cannot be defined by shop"
**Describe the bug**
In multishop context, it's impossible to configure a delivery price for a specific shop. The context is forced to "All shops".

**To Reproduce**
Steps to reproduce the behavior:
1. Select a shop in multoshop context
2. Go to the add carrier wizard
3. The shop dropdown is locked to "All shops"

**Additionnal information**
PrestaShop version: all 1.6 ans 1.7
PHP version: 5.6

[2018-09-11 17:39] MisteryPresta commented on #10349
You need a real Iphone 5 or 4 and a Mac computer to connect to in development mode.

[2018-09-11 17:52] melmelimel commented on #9540
@matrixino It seems there is a module that corrects that problem... I will try it tonight.
I let you know... Unfortunately I cannot wait till something comes out one day... or not!

[2018-09-11 18:30] matrixino commented on #9540
Yes, I know. But this is inacceptable. They are pratically saying "we know it's a bug and you have to pay for a fix, because it's not important to us" even if this is actually a critical bug in the cart process.

[2018-09-11 18:31] darkf3d3 commented on #10366
I saw your module, but the demo scored only 38/100 on Progressive Web App, that's a lower score than Prestashop without the module.

[2018-09-11 20:05] MathiasReker commented on #10381
You can clear cache.

Your screenshot shows 4kb, is that after you cleared the cache? What did the folder contain?

[2018-09-11 20:06] ghost commented on #10368
Same problem, url error 500: /admin/index.php/configure/shop/product_preferences?_token=xxx

Vers. PrestaShop: 1.7.4.2

<img width="587" alt="info server" src="https://user-images.githubusercontent.com/2458824/45385549-5d406280-b611-11e8-8b79-768f064f49f0.png">

<img width="589" alt="conf status" src="https://user-images.githubusercontent.com/2458824/45385559-64677080-b611-11e8-848a-468357347374.p

[2018-09-11 20:08] MathiasReker commented on #10379
I did not manage to reproduce. Can you send a screen record?

[2018-09-11 20:14] MathiasReker commented on #10378
Did you try with 'privatesql007' as database name?

[2018-09-11 20:16] MathiasReker commented on #10378
I don't understand France, but I guess you should not have 'elficstones' in both fields.

[2018-09-11 20:17] MathiasReker commented on #10377
@dbadrukhiya can you make a PR with your solution?

[2018-09-11 20:40] V41F commented on #15203
Hi @Quetzacoalt91
so I tried to upgrade and here is the result. really frustrating:-(
![snimek obrazovky 2018-09-11 v 21 43 44](https://user-images.githubusercontent.com/41673053/45386483-bd380880-b613-11e8-8df4-6e79e99bc0b1.png)

[2018-09-11 20:42] MathiasReker commented on #10383
PR: https://github.com/PrestaShop/PrestaShop/pull/10384

[2018-09-11 20:46] MathiasReker commented on #10125
Wdyt?

[2018-09-11 20:49] ghost opened #10385 "CacheMemcached don't add server"
**The bug**
If I want to add a server Memcached, BO don't add server. HTTP Status: 400

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'prestation'
2. Inside 'Cache box'
3. Want to 'Add a server'
4. See error

**Screenshots**
<img width="482" alt="cachememcached" src="https://user-images.githubusercontent.com/2458824/45386601-08521b80-b614-11e8-948b-0d3c08427f21.png">

<img width="1069

[2018-09-11 21:03] MathiasReker commented on #10385
Do you have the same issue that is solved in this PR #9542 ?

[2018-09-11 21:09] ghost commented on #10385
It seems similar..; what is the solution?

[2018-09-11 21:13] MathiasReker commented on #10385
My bad, thought I sent you the link to the PR. Here you go https://github.com/PrestaShop/PrestaShop/pull/10201

[2018-09-11 23:25] TecnoHands opened #10386 "Bad function in Inventory"
**Describe the bug**
I add 6 combinations -> Size: S,M,L with Color: Fucsia, White
In only 3 of this combinations, I have 1 in stock in: This way have stock = 3 but appears 7 in total

**To Reproduce**
Steps to reproduce the behavior:
1. Create a product "xxx" with combinations
2. Create a 3x2 combinations
3. Stock in 1 only in 3 of this combinations
4. Save and go to product list in BO
5. View th

[2018-09-11 23:41] Prestapro opened #10387 "You may be not allowed to download this module"
**Describe the bug**
Error!
Exception thrown by module autoupgrade on install. Error sent by Addons. You may be not allowed to download this module.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Back Office -> Module selection -> Selection
2. Click on install 1 click upgrade
3. See error

**Screenshots**
Any modules do not upload 1 click upgrade or theme customization:
http://prntscr

[2018-09-12 01:40] homecsp opened #10388 "Customers and Orders pages "access denied" after one-click upgrade from 1.6"
After using one-click upgrade module, everything appears normal in my shop, but I can't view the Customers or Orders pages (all others work fine). Below the "Getting Started..." frame it says "access denied."

Steps to reproduce the behavior:
Install PS 1.6.0.14 (this is what HostGator, my host provider, installs by default)
login as admin
Complete one-click upgrade module to upgrade to 1.7.4.2
At

[2018-09-12 03:57] dbadrukhiya commented on #10377
Hello @Mreker
Can you please tell me how to make PR for my solution?

[2018-09-12 04:09] peranderssjostrom commented on #10381
Yes, I have cleared the folder just before the screenshot.
Inside those folders you have another folders with megabyte. At this folder level I had tons of folders summing up to 1.5 GB.

[2018-09-12 04:10] dineshbadrukhiya commented on #10388
Hello @homecsp
I suggest you to  restore 'ps_access' table from 'clean' DB.

[2018-09-12 04:35] peranderssjostrom opened #10389 "Edit reserved items in stock, not possible in PS 1.4.2.1"
![skarmavbild 2018-09-11 kl 18 26 04](https://user-images.githubusercontent.com/42907000/45402329-681ce680-b655-11e8-9ac2-0ad7fd1a395e.png)

I don't know if there is a way to edit reserved items in the stock or if this is a bug. When I migrated from 1.6.1.20 a few items got this "reserved".

If you could tell me where to hack the database I'm satisfied but I wonder also how this reserved function

[2018-09-12 04:36] homecsp commented on #10388
Umm, I did this on a clean install. Looking at the 1.6 vs 1.7 ps_access table I see that the structure was drastically changed and 1.7 also now has over 200 more records.
So the adventure now changes to downloading and installing 1.7 manually so that I can get a "clean" v1.7 ps_access table and copy the data over to my target database? That sounds like a lot of work to workaround what should of be

[2018-09-12 05:39] ndkdesign commented on #10379
Did you try with a same product with 2 différents customization? Le 11 sept. 2018 10:08 PM, Mreker <notifications@github.com> a écrit :I did not manage to reproduce. Can you send a screen record?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-12 05:48] dineshbadrukhiya commented on #10388
Run a query on ps_access table > SQL
`INSERT INTO ps_access (id_profile, 	id_authorization_role) SELECT 1, 	id_authorization_role FROM ps_authorization_role;`

[2018-09-12 05:58] dbadrukhiya commented on #10377
Hello @Mreker
Can you give me advice what I need to improve in my pull request because this is my first pull request.

[2018-09-12 06:06] PierreRambaud commented on #10381
You must run your shop in production mode instead of development to prevent useless logs, and profiling. You can turn it off in `Advanced Parameters -> Performance`.

[2018-09-12 07:18] MathiasReker commented on #10379
Yes

[2018-09-12 08:08] matks commented on #10316
@sarjon PierreRambaud suggested 1st the same solution you provided: execute the query and parse sql return. However if database is MyISAM, it does not allow the use of transactions (commit/rollback) so it cannot be done for INSERT/UPDATE queries.

He suggested then we use sql "EXPLAIN" keyword :) to submit the query to mysql :) that would prevent the execution of INSERT/UPDATE queries.

@mickaelan

[2018-09-12 08:15] Maofree opened #10393 "Google Maps is not free anymore - need to be replaced in order pages"
Hi

**Describe the bug**
now google maps does not work (you can see it from the order pages), I think it is due because google has changed its strategy
I suggest you to use MapQuest, it is very nice and has a free plan
https://www.mapquest.com/

**Screenshots**
![1](https://user-images.githubusercontent.com/653230/45411378-5d257e80-b674-11e8-84b4-35626720d3d4.png)

**Additionnal information**
Pres

[2018-09-12 08:25] MathiasReker commented on #10393
You need to add an API key.

[2018-09-12 08:25] MathiasReker commented on #10379
Can you reproduce your issue on a fresh install?

[2018-09-12 08:27] ndkdesign commented on #10379
is it possible to have access to product on front office on your test environement ?

hendrik masson
postmaster@ndk-design.fr

[2018-09-12 08:29] Maofree commented on #10393
I know but now the free plan can load only one time
so it is necessary an alternative

[2018-09-12 08:34] MathiasReker commented on #10393
Can you link to the documentation of that?

[2018-09-12 08:35] Jacky75 opened #10394 "AdvancedEU compliance: Strict Standards: Declaration of Advancedeucompliance::disable()"
**Describe the bug**
Prestashop 1.6.1.20: The module AdvancedEU raises this error

Strict Standards: Declaration of Advancedeucompliance::disable() should be compatible with ModuleCore::disable($force_all = false)

**To Reproduce**
Steps to reproduce the behavior:
1. Check the source, the signature of the method "disable" of AdvancedEU module is not compatible with its parent.

**Screenshots**
If

[2018-09-12 08:36] khouloudbelguith commented on #10389
Hi @peranderssjostrom,

Reserved stock represents the quantity of products that are currently in an open customer order that has not been shipped yet. In other terms, these products are physically in your storage but are not available for sale anymore. You cannot change directly the reserved stock. The reserved stock only depends on customer orders.
Thanks to check and feedback.

Best regards, Kho

[2018-09-12 08:37] phulstaert commented on #10378
You are trying to connect to the SFTP port. Mysql runs at 35375 and not on your webserver, but on lm292794-001.privatesql. The correct connection string should be lm292794-001.privatesql:35375.
The username you should use should either be send by email when you created this instance or you can set it up under "Utilisateurs et droits". Ask OVH for more information if needed. They are helpful.

[2018-09-12 08:37] Maofree commented on #10393
about mapquest or google maps that now load a map only one time for a day?

[2018-09-12 08:38] sarjon commented on #10316
@matks keep in mind that **only** SELECT sql statements are allowed. So INSERT/UPDATE/DELETE are invalid by default.

[2018-09-12 08:38] Jacky75 opened #10395 "Impossible delete a language if a table contains "lang" word"
**Describe the bug**
If a table on the DB, installed by a module or directly created, contains the word "lang"
eg:
ps_mymodule_supportedlanguages

from the backoffice it's not possible to delete a language

**To Reproduce**
Steps to reproduce the behavior:
1. Be sure to have a table like 'ps_mymodule_supportedlanguages' on the db
2. In Backoffice try to delete an installed language
3. an error is

[2018-09-12 08:39] Maofree commented on #10393
![1](https://user-images.githubusercontent.com/653230/45412900-294c5800-b678-11e8-83c9-abdd17ef9f17.png)

[2018-09-12 08:41] ndkdesign commented on #10366
hello test here please
https://shop.ndk-design.fr/ <https://shop.ndk-design.fr/>

demo site has to be debugged

hendrik masson
postmaster@ndk-design.fr

[2018-09-12 08:46] Quetzacoalt91 commented on #15203
@wewew85, please open the `ajax-upgradetab.php` line with the `500` , and look at the response content. You should see what's actually wrong during the shop. :)

[2018-09-12 08:48] darkf3d3 commented on #10366
Thank you hendrik, I checked that page and it's score it's higher (69/100), but there's still 2 points not passed:
1. Does not respond with a 200 when offline
2. User will not be prompted to Install the Web App
Failures: Service worker does not successfully serve the manifest's start_url, Timed out waiting for fetched start_url.

With your module also that 2 points can be fixed to obtain 100/100 o

[2018-09-12 08:48] MathiasReker commented on #10393
You need a google API key: https://developers.google.com/maps/documentation/javascript/get-api-key

I have a website in production on free plan. I load they map hundreds of times per day.

[2018-09-12 08:50] Maofree commented on #10393
read better
I've some api key but created some time ago with unlimited loads, but now from 11 june it is no more possible
try to create a new  Maps JavaScript API

[2018-09-12 08:52] Maofree commented on #10393
https://stackoverflow.com/questions/51688148/google-maps-javascript-api-quota-is-set-to-1
Looks like you need to have billing enabled on the account now, tried with 2 gsuites account, limit is 1 without billing account attached and unlimited with billing account attached.

[2018-09-12 08:53] khouloudbelguith commented on #10387
Hi @Prestapro,

Could you please try to download the 1-click upgrade from this deposit & install it: https://github.com/PrestaShop/autoupgrade/releases/tag/v4.2.0
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-12 08:58] khouloudbelguith commented on #10395
Hi @Jacky75,

Could you please provide an example of such a module which create the ps_mymodule_supportedlanguages table because I do not have it.

Best regards, Khouloud

[2018-09-12 08:59] MathiasReker commented on #10393
You are right: https://developers.google.com/maps/documentation/javascript/usage-and-billing

[2018-09-12 09:01] Maofree commented on #10393
I won :)

[2018-09-12 09:02] homecsp commented on #10388
Well I tried both approaches: I truncated the ps_access table then imported all the records from a new clean 1.7 install - that didn't change anything, so I again truncated the table and ran the insert query as suggested, but no change in behavior.

[2018-09-12 09:10] Kingbera opened #10396 "Error 500 with to much combinations"
**Describe the bug**
In my prestashop site when a product has more than hundreds combinations in backoffice I can't access to product from back office. I have just error 500.
I had combinations by import a csv file.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product with more than 200 combinations and try to open in back office to modify.
2. Error  500

**Additionnal information

[2018-09-12 09:10] khouloudbelguith commented on #10394
Hi @Jacky75,

I tried to install, uninstall, configure & disable the advancedeucompliance module and there are no errors.

Best regards, Khouloud

[2018-09-12 09:16] khouloudbelguith commented on #10396
Hi @Kingbera,

We are aware of this issue, it is still in progress.
Your ticket is a duplicate of #9809
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-12 09:16] #10396 closed, assigned to nobody

[2018-09-12 09:16] khouloudbelguith commented on #10396
Duplicate of #9809

[2018-09-12 09:30] khouloudbelguith commented on #10393
Hi @maofree,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.2
We will see how to fix it.

Best regards, Khouloud

[2018-09-12 09:35] khouloudbelguith commented on #10388
Hi @homecsp,

This issue is assigned to our developer.
You can follow this comment: https://github.com/PrestaShop/PrestaShop/issues/9513#issuecomment-415011961
Your ticket is a duplicate of #9513, https://github.com/PrestaShop/autoupgrade/issues/100
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-12 09:35] #10388 closed, assigned to nobody

[2018-09-12 09:35] khouloudbelguith commented on #10388
Duplicate of #9513

[2018-09-12 09:49] khouloudbelguith commented on #10385
Hi @dritancami,

This issue is fixed with this PR: #10201 just provided by @Mreker.
It is fixed in the next release 1.7.5.0
Your ticket is a duplicate of #9542
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-12 09:49] #10385 closed, assigned to nobody

[2018-09-12 09:49] khouloudbelguith commented on #10385
Duplicate of #9542

[2018-09-12 09:52] Jacky75 commented on #10395
Hi,
the official Gestpay plugin creates the table

ps_gestpay_languages_map

With this table name I was not able to delete an installed language.

ciao

Il giorno mer 12 set 2018 alle ore 10:58 khouloudbelguith <
notifications@github.com> ha scritto:

--
----------------------------------------------------------------------
Daniele Giachino - Blulab

Via Ospedale 15/b - 12051 Alba (CN) - Italy
Voi

[2018-09-12 09:53] Jacky75 commented on #10394
Hi,
were you displaying errors?

ciao

Il giorno mer 12 set 2018 alle ore 11:10 khouloudbelguith <
notifications@github.com> ha scritto:

--
----------------------------------------------------------------------
Daniele Giachino - Blulab

Via Ospedale 15/b - 12051 Alba (CN) - Italy
Voice +39 0173 364612 - Fax +39 0173 362989
URL http://www.blulab.net
Email daniele@blulab.net
----------------------

[2018-09-12 09:55] matks commented on #10316
@sarjon You are right:
- not-SELECT queries are "unauthorized" https://github.com/PrestaShop/PrestaShop/blob/develop/classes/RequestSql.php#L60-L67
- even `SQL_CALC_FOUND_ROWS ` that I have seen used in Prestashop BO is unauthorized https://github.com/PrestaShop/PrestaShop/blob/develop/classes/RequestSql.php#L67
- and in fact after several checks **the query is performed** to check if it is valid

[2018-09-12 09:55] dineshbadrukhiya commented on #10388
May be in ps_authorization_role below data missing, If missing add this fields and run same query again.

181 	        ROLE_MOD_TAB_ADMINORDERS_CREATE
184 	        ROLE_MOD_TAB_ADMINORDERS_DELETE
182 	        ROLE_MOD_TAB_ADMINORDERS_READ
183 	        ROLE_MOD_TAB_ADMINORDERS_UPDATE

73 		ROLE_MOD_TAB_ADMINCUSTOMERS_CREATE
76 		ROLE_MOD_TAB_ADMINCUSTOMERS_DELETE
74 		ROLE_MOD_TAB_ADMINCUSTOMERS_RE

[2018-09-12 09:56] khouloudbelguith commented on #10386
Hi @TecnoHands,

I did not manage to reproduce the issue with the last version 1.7.4.2.
I attached a video record: https://drive.google.com/file/d/1teS3dUBZaLcSxgil8O9uFJGBAlSVMbYw/view
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-12 10:02] khouloudbelguith commented on #10383
Hi @jf-viguier,

Yes, you are right.
Thanks for your report & your fix.

Best regards, KHouloud

[2018-09-12 10:18] ndkdesign commented on #10366
You're right but point 2 works, try on mobile Le 12 sept. 2018 10:48 AM, darfk3d3 <notifications@github.com> a écrit :Thank you hendrik, I checked that page and it's score it's higher (69/100), but there's still 2 points not passed:
Does not respond with a 200 when offlineUser will not be prompted to Install the Web App
Failures: Service worker does not successfully serve the manifest's start_url,

[2018-09-12 10:19] Iron-Technology opened #10397 "Statistiques PrestaShop ne fonctionnent pas"
Bonjour,

Néo-PrestaShop depuis quelques mois, au lancement des produits de mon activité, je me suis rendu compte que les statistiques ne fonctionnent pas et restent à 0. Principalement les statistiques de visites.

Pour vous donner un exemple, j'ai réalisé une commande et il est affiché : commande 1 - visite 0.

Pouvez vous me donner les démarches nécessaires pour corriger ce problème. Merci à vo

[2018-09-12 10:22] khouloudbelguith commented on #10381
Hi @peranderssjostrom,

it is cache file, it is saved when you set for your site is cached, you can manually remove it or go to backend >> Advance Parameters >> Performance => click to clear cache button on the top bar.
You need also to disable the dev mode as Pierre said in the comment before.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-12 10:26] ventybug commented on #9542
And now will there be a memcached?!?
It was necessary to have a PHP accelerator for the normal working of the pretashop v. 1.7.4.2?!?

BR
Venty

[2018-09-12 10:36] khouloudbelguith commented on #10397
HI @Iron-Technology,

I did not manage to reproduce the issue with the last version 1.7.4.2.
![image](https://user-images.githubusercontent.com/16067358/45419664-35d8ac80-b688-11e8-9a84-8b6059177de8.png)
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mo

[2018-09-12 10:41] khouloudbelguith commented on #10379
Hi @ndkdesign,

As @Mreker said, I did not manage to reproduce the issue with the last version 1.7.4.2.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you

[2018-09-12 10:48] khouloudbelguith commented on #9542
Hi @ventybug,

You need to modify your files like in the PR: https://github.com/PrestaShop/PrestaShop/pull/10201/files
The best you can do is to ask a developer to apply the patch.
This PR will be available for 1.7.5.0 only that we plan to release in October.

Thanks for your understanding.

[2018-09-12 10:56] khouloudbelguith commented on #10378
Hi @Marg88,

The Database server address is not correct, in fact, it is the hostname of your MySQL server. It can be tied to your domain name (i.e. http://sql.example.com), tied to your web host (i.e. http://mysql2.alwaysdata.com), or simply be an IP address (i.e. 46.105.78.185).
Your issue is not a PrestaShop's core bug but most likely a server configuration.
If you need help, you can ask on the

[2018-09-12 10:56] #10378 closed, assigned to nobody

[2018-09-12 10:59] khouloudbelguith commented on #10394
Hi @Jacky75,

 - PHP error logs
 - javascript console log

Thanks!

Best regards, Khouloud

[2018-09-12 11:02] khouloudbelguith commented on #10395
Hi @Jacky75,

Could you please provide me the Gestpay module to test it. It is not provided by Prestashop.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks & best regards, Khouloud

[2018-09-12 11:02] mantasl opened #10399 "AdminCmsContent - cms category bug with filter, pagination (redirect to cms main)"
** Bug description **
1. Open CMS pages (AdminCmsContent controller);
2. Open CMS category;
3. Try to filter, change page, move to other page, change showing product number. Any action redirect you back to 1. CMS page main. If you click again on cms category you will see filtered content (so it works) but why it redirects to main cms page?

All you do - you back to cms main controller.

** Additio

[2018-09-12 11:03] centoasa commented on #9542
@khouloudbelguith with this patch, now all works well!
Thank you very much!

[2018-09-12 11:04] Jacky75 commented on #10395
Hi,
the module is provided as free by a Partner of yours.

https://addons.prestashop.com/it/pagamento-carta-credito-wallet/27931-gestpay-banca-sella.html

ciao
Daniele

Il giorno mer 12 set 2018 alle ore 13:02 khouloudbelguith <
notifications@github.com> ha scritto:

--
----------------------------------------------------------------------
Daniele Giachino - Blulab

Via Ospedale 15/b - 12051 Alba

[2018-09-12 11:12] khouloudbelguith commented on #10399
Hi, @mantasl,

I manage to reproduce the issue with the last version 1.7.4.2.
We will see how to fix it.
Related to #9825, #9853

Best regards, Khouloud

[2018-09-12 11:18] Iron-Technology commented on #10397
Merci pour votre rapide retour. Avez vous assez d'informations avec celles ci dessous ?

Hote : ftp.cluster021.hosting.ovh.net
Serveur : OVH
Version Prestashop : 1.7.4.2

![journal console google chrome](https://user-images.githubusercontent.com/43203989/45421668-16dd1900-b68e-11e8-9ec5-4c2fccde7f12.jpg)
[Logs OVH - error.txt](https://github.com/PrestaShop/PrestaShop/files/2374848/Logs.OVH.-.error

[2018-09-12 11:30] khouloudbelguith commented on #10395
Hi @Jacky75,

This module is provided by Easy Nolo SpA
I did not manage to reproduce your issue, I attached a video record.
https://drive.google.com/file/d/1vt5OGUv8JBaLZHBBNPIQNa_6dLB7hCDF/view

Best regards, Khouloud

[2018-09-12 11:43] khouloudbelguith commented on #10377
Hi @Akashvastarpara,

With the fresh install of 1742, I did not manage to reproduce the issue.
I attached a video record
https://drive.google.com/file/d/1mm55OqNoXq8uTAPof0xyWiQVlgfQ3ICw/view
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-12 12:18] mathieuhen opened #10400 "Not possible to choose one combination"
Hello,

when you have a product with combinations.

For example 3 combinations of a shirt :
 - size : S, color : white
 - size : M, color : black
 - size : XL, color : black

In front, on the product page, it's not possible to choose the second or the third declinaison.

When you arrive on the page, it's the default combination selected (S and White).
If you try to change the size, nothing happens

[2018-09-12 12:31] mortenhartvig opened #10401 "Supplier: In addition to the existing product reference, also allow entering EAN"
In our shop, there may be around 200 products, that comes from multiple suppliers. The products are identical, but may come in different packaging/wrapping/purchase quantity.

Therefore we want to keep displaying them as a single product on the website, but we also need to track the different EAN codes (in addition to the existing supplier reference).

-------------
Feature request: Allow entering

[2018-09-12 12:32] ndkdesign commented on #10379
Hello sorry for loose time i find problem into an override on my shop.

hendrik masson
postmaster@ndk-design.fr

[2018-09-12 12:36] centoasa opened #10402 "Google maps on order"
On customer order, Google maps have an error like this
https://screenshots.firefox.com/ugYQL8qWd96LdzdZ/www.100asa.it
Prestashop 1.7.4.2 on debian 9.5, apache+nginx

[2018-09-12 12:44] eternoendless commented on #10250
Translation packages are updated every night automatically in a two tier process.

First they are pulled from Crowdin and placed in this repo: https://github.com/PrestaShop/TranslationFiles/

Every time something is pushed to that repo, a Jenkins task builds the zip packages which are then made available for live shops.

[2018-09-12 12:45] ventybug commented on #9542
You need to modify your files like in the PR: https://github.com/PrestaShop/PrestaShop/pull/10201/files
do I need to change them manually or do I have another way?!?

[2018-09-12 12:46] centoasa commented on #9542
@ventybug I've replaced entirely that files

[2018-09-12 12:54] khouloudbelguith commented on #10402
Hi @

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10393
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-12 12:54] #10402 closed, assigned to nobody

[2018-09-12 12:54] mortenhartvig commented on #10400
I think the developers would like to know what theme you are using.

In the core/classic theme, the server responds with some new DOM elements, that replaces the whole "select combination" part of the site when you click a variant. It sounds like that part is broken for your site.

While we can argue how smart/over complicated that approach is, I'm pretty sure that it just works in the classic the

[2018-09-12 12:54] khouloudbelguith commented on #10402
Duplicate of #10393

[2018-09-12 13:08] melmelimel commented on #9540
@matrixino Unfortunately even the module doesn't work... and the developer cannot fix the issue....
I'm becoming completely CRAZY ! How can we make the things move ???

[2018-09-12 13:08] melmelimel commented on #9540
The problem seems to be in the CORE of Prestashop.

[2018-09-12 13:09] matrixino commented on #9540
As I said the problem is in the Core Cart Calculator class.

[2018-09-12 13:23] khouloudbelguith commented on #10401
Hi @mortenhartvig,

Thanks for your suggestion.
@marionf what do you think about his feature request?
![image](https://user-images.githubusercontent.com/16067358/45427617-99ba9f80-b69f-11e8-937e-dccee2a0ac1d.png)

Best regards, Khouloud

[2018-09-12 13:32] khouloudbelguith commented on #10400
Hi @mathieuhen,

Have you the same issue with this ticket: #9667?

Best regards, Khouloud

[2018-09-12 13:39] ntiepresta opened #10403 "The help button doesn't work in the positions & logs pages"
Describe the bug
The help message in the logs page doesn't display, it should displayed with the help button.

To Reproduce
Steps to reproduce the behavior:
1. Go to B.O > Configure> advanced parameters, logs page. Click on Help button.

Additionnal information
PrestaShop version: N/A
PHP version: 7.1

[2018-09-12 13:44] khouloudbelguith commented on #10369
Hi @peranderssjostrom,

I did not manage to reproduce the issue with the last version 1.7.4.2.
I attached a video record.
https://drive.google.com/file/d/13tLxDqSunx0isOcuk1lHy6mRI7EOgO4O/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-12 13:48] #9915 closed, assigned to nobody

[2018-09-12 13:48] #9875 closed, assigned to nobody

[2018-09-12 13:49] ghost commented on #10255
Yep. Just notticed that bug.
Also "Filter result limit" not working

[2018-09-12 13:53] khouloudbelguith commented on #10255
Hi @PrestaShark,

This issue will be fixed in this ticket: #10160

Best regards, Khouloud9813

[2018-09-12 14:02] ndkdesign commented on #10366
on mobile you will be able to see offline page already viewed...
hendrik masson
postmaster@ndk-design.fr

[2018-09-12 14:05] khouloudbelguith commented on #9540
Hi,

This issue is added to our bug roadmap.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-09-12 14:06] darkf3d3 commented on #10366
But that's strange that google show alert for them, because when testing the website with Lighthouse, google test it also simulating a mobile device.

[2018-09-12 14:06] benwallis commented on #10400
I have similar issues in default "Classic" theme in fresh installation of 1.7.4.2.

E.g. edit "Hummingbird Printed T-Shirt", delete combination for Size XL with Color Black. Now go to that product page on the front end. If you select Color Black, and then change size to XL, then you get a 500 error displaying "An error occurred while processing your request" and the black swatch is NOT removed.
Wi

[2018-09-12 14:14] khouloudbelguith commented on #10400
Hi @benwallis,

Your issue is different, it is fixed & it is added to the next release 1.7.5.0.
Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9390 to solve your issue.

Best regards, Khouloud

[2018-09-12 14:15] Thinkup commented on #9540
we lost the shipping cost for every orders for this issue... I also think it's a serious problem.

[2018-09-12 14:16] khouloudbelguith commented on #9542
@ventybug, yes you can modify them manually.

Best regards, Khouloud

[2018-09-12 14:18] khouloudbelguith commented on #10379
Hi @ndkdesign,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-12 14:18] #10379 closed, assigned to nobody

[2018-09-12 14:26] mathieuhen commented on #10400
Yes, it's the same issue that PR : #9390

I try to change the getIdProductAttribute function like them. And it works on a fresh installation of 1.7.4.2.
But it doesn't work if
- you enable multishop feature
- add a new shop
- in all shops context : 6 combinations
- in tested shop : only 3 combinations of the 6

[2018-09-12 14:34] khouloudbelguith commented on #10368
Hi @lakhveer,

The issue has been fixed with the v4.0.0-beta.4 release of 1-click upgrade module (https://github.com/PrestaShop/autoupgrade/releases).
In fact, the v4.2.0 is released today.
If you already upgraded, please follow the message of Peter Visser: http://forge.prestashop.com/browse/BOOM-5982?focusedCommentId=171708&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#c

[2018-09-12 14:35] p2d0 opened #10404 "Clicking on orders shows an error"
**Describe the bug**
Clicking on orders shows an error "Table 'u0504861_default.ps_pokupki_orders' doesn't exist"
Russian localization

[VIDEO](https://puu.sh/BtNaL/7eadd63727.mp4)

**Additionnal information**
PrestaShop version: 1.7.3.3
PHP version: 7.1.18

[2018-09-12 14:37] dennispw opened #10405 "displayHeader is not available when transplanting modules/hooks"
**Describe the bug**
Whether or not you want to add hook exceptions or transplant a hook into `displayHeader` you can not since it's not in that list.

In my case I had a module which added CSS/JS in the `displayHeader` hook, just like any other module. Since there was a couple of pages (`cart` and `order` in my case) where I didn't want it to be active I added exceptions to it. It worked just fin

[2018-09-12 14:47] ventybug commented on #9542
and what exactly changes, I can not orient the colors ...
can not i download the modified files from somewhere?

[2018-09-12 14:52] khouloudbelguith commented on #10404
Hi @Patriot720,

This issue occurs due to the "yamodule" module.
Have you tried to contact the module author?

Best regards, Khouloud

[2018-09-12 14:54] khouloudbelguith commented on #10400
Hi @mathieuhen,

After applying the patch: #9390, I di not manage to reproduce your issue by following your steps.
It will help us if you can attach a screen record.

Thanks & Best regards, Khouloud

[2018-09-12 14:59] ghost commented on #10368
After 1000 searches, I had already seen that post, but in my opinion is not a solution for everyone..., especially for those who fear to get their hands on the database/configuration file. Will there be an automated solution to remove human error?

[2018-09-12 15:12] khouloudbelguith commented on #10405
Hi @dennispw,

In the ps_header table & ps_hook_alias, could you please try to replace "Header" with "displayHeader"& replace "displayHeader" with "Header" in ps_hook_alias
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-12 15:15] khouloudbelguith commented on #10368
Hi @dritancami,

The module 1-click upgrade was always cleaning the empty data found.
Fixed with https://github.com/PrestaShop/autoupgrade/pull/103
The solution of Peter Visser can help you to solve the problem after getting those exceptions.

Best regards, Khouloud

[2018-09-12 15:20] khouloudbelguith commented on #9652
Hi @coisasuteis,

This issue is added to our bug roadmap.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-09-12 15:29] khouloudbelguith commented on #10367
Hi @Marg88,

Thanks for your feedback.
Feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-12 15:32] khouloudbelguith commented on #9627
Hi @anbkt,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-09-12 15:35] allyx76 opened #10407 "Display subcategories in FO categories pages"
After updating from 1.7.2.4 to 1.7.4.2 :
Subcategories don't display at all (none their thumbnails).

[2018-09-12 15:41] lakhveer commented on #10368
![screencapture-thebellcollections-admin375oippbf-index-php-_profiler-cd15f3-2018-09-12-21_10_00](https://user-images.githubusercontent.com/8274910/45436369-47de3d80-b6d0-11e8-960c-d248116a972b.png)
![screencapture-thebellcollections-admin375oippbf-index-php-_profiler-cd15f3-2018-09-12-21_09_33](https://user-images.githubusercontent.com/8274910/45436370-47de3d80-b6d0-11e8-8754-d47986a020ae.png)
![

[2018-09-12 15:41] khouloudbelguith commented on #10407
Hi @allyx76,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - screenshots
 -  Are those subcategories not displayed in the FO / BO?

Thanks!

Best regards, Khouloud

[2018-09-12 15:44] matks commented on #10250
@eternoendless OK I can see the fix there: https://github.com/PrestaShop/TranslationFiles/commit/d5a1d81a4662b8937c6562f4766b91185a6070c1
I'll try in 24 hours so that I am sure that the Jenkins task is done

[2018-09-12 15:45] khouloudbelguith commented on #10368
Hi @lakhveer,

Did you enable the debug mode?
In the meantime, it seems that a description is missing, and that's why it could not be listed in the "following errors" in the information page
Here's the PR about that issue in https://github.com/PrestaShop/PrestaShop/pull/9407.
If you're confident in modifying the core files manually, you can apply the changes to show the test in failure.

Best rega

[2018-09-12 15:53] allyx76 commented on #10407
Hi Khouloud,

Subcategories don't display in FO.   In 1.7.2.4  They've displayed (with their thumbnails).

For example photo :   buttons
![subcategory](https://user-images.githubusercontent.com/13217405/45437264-c75e1380-b6b4-11e8-8708-51cc869ad05f.jpg)

[2018-09-12 15:54] lakhveer commented on #10368
yes it's show in debug mode otherwise 500 error display :(

[2018-09-12 15:55] khouloudbelguith commented on #10355
Hi @Francky336,

Could you please try to navigate to the BO => IMPROVE => International => Translations => Please select the language you want to add or update( french) and click on "Add or update a language".
Thanks to clear cache, check, and feedback.

Best regards, Khouloud

[2018-09-12 16:14] peranderssjostrom commented on #10369
Could it be that N/A isn't regarded as "N"?

If I test with "A sample" on one product and demo_10 the sort order will be A sample at the top and demo_10 almost at the end.
![skarmavbild 2018-09-12 kl 18 10 18](https://user-images.githubusercontent.com/42907000/45438484-9206f500-b6b7-11e8-969f-067103267b05.png)
![skarmavbild 2018-09-12 kl 18 09 54](https://user-images.githubusercontent.com/42907000

[2018-09-12 16:17] khouloudbelguith commented on #10345
Hi @matks,

Thanks for your feedback.
Yes, now I cannot reproduce the issue with the develop branch.

Best regards, Khouloud

[2018-09-12 16:22] peranderssjostrom commented on #10381
Thanks, debug mode turned off. Problem solved.

[2018-09-12 16:25] peranderssjostrom commented on #10389
The thing is that I don't have any undelivered items and no open carts.

[2018-09-12 16:26] khouloudbelguith commented on #10381
Hi @peranderssjostrom,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-12 16:26] #10381 closed, assigned to nobody

[2018-09-12 16:34] eternoendless opened #10409 "Z-index problem with switch controls"
**Describe the bug**
On the develop branch, go to Shop Parameters > General, then scroll down. The switch controls appear on top of the white bar instead of scrolling below it. See screenshot below.

**Screenshots**
![screen shot 2018-09-12 at 18 29 48](https://user-images.githubusercontent.com/1009343/45439475-270aed80-b6ba-11e8-9830-8fd180941a3a.png)

**Additionnal information**
PrestaShop versi

[2018-09-12 16:35] TeapotJames commented on #10377
@khouloudbelguith The reason you're probably seeing no issue is because you still have the default language enabled. If you already have the demo content installed you should have some attributes and values with the default language (ID 1) in the database.

Try enabling another language (Assigned as ID 2 in the db), changing that one to the default language and then deleting the original language.

[2018-09-12 16:43] khouloudbelguith commented on #10377
Hi @TeapotJames,

Is it the same issue reported here: #9627?

Best regards, Khouloud

[2018-09-12 16:47] khouloudbelguith commented on #10368
Hi @lakhveer,

Have you installed any customized module before the error occurs?

Best regards, Khouloud

[2018-09-12 16:49] lakhveer commented on #10368
NO, product page in same error display

[2018-09-12 16:50] TeapotJames commented on #10377
Hi @khouloudbelguith yes I believe it looks like the same issue. I'm not sure why the language and shop id's have been hardcoded into the file as the ID's aren't always going to be these same.

[2018-09-12 16:56] khouloudbelguith commented on #10257
Hi @matks,

Yes, if you search for the category "Accessories", you will get all the products associated to the "Accessories" category including other categories.
Also, I cannot find a specific documentation about filter by category in the product page.

Best regards, Khouloud

[2018-09-12 17:08] khouloudbelguith commented on #10407
Hi @allyx76,

Thanks for your report.
Yes, I manage to reproduce the issue with the last version 1.7.4 / 1.7.3
In the recent release 1.7.2, it seems like this
![image](https://user-images.githubusercontent.com/16067358/45441264-e497df80-b6be-11e8-91f3-7b669998cd92.png)
But in the PS 1.7.3 / 1.7.4, subcategories are not displayed in the ps_categorytree block
![image](https://user-images.githubuserc

[2018-09-12 17:10] khouloudbelguith commented on #9542
@ventybug, the best you can do is to ask a developer to apply the patch.

[2018-09-12 17:13] allyx76 commented on #10407
Great !  thanks a lot.
I am looking forward to the result !

[2018-09-12 17:14] khouloudbelguith commented on #10303
Hi @GeoTimber,

Could you please try to clear cache manually by deleting all the folder into app/cache (prod & dev).
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-12 17:29] ventybug commented on #9542
how do I ask for it?

[2018-09-12 18:02] melmelimel commented on #9540
@Thinkup @matrixino Could someone submit a pull request?

[2018-09-12 18:08] pyro999 opened #10411 "cart refresh issues prestashop 1.7.2.4"
When in guest mode and guest adds an item it does not show up in the cart box (top right)

Then it shows when refresh page

This  happens with guest and registered members, it has frustrated a few customers who reported that both on mobile and laptop they add a item to cart but cart still looks empty.
Only refreshing page does cart show items added

Some did this but many will think just not worki

[2018-09-12 18:14] jointsystems commented on #9489
You are obviously having better luck than us.  We just attempted to import 517 products and none were imported.  Had 7 errors with 1.6.20 but it imported the other 510.
![0 out of 517 imported](https://user-images.githubusercontent.com/41153050/45444691-27918d00-b696-11e8-82f2-6f493b94c848.PNG)

[2018-09-12 18:21] matrixino commented on #9540
@melmelimel I don't have a fix yet, I didn't dig deeper because I only use weight shipping. It was a customer problem.

[2018-09-12 18:29] jointsystems commented on #9489
We have been invited to bid on a contract for Development of a web-based Search for Records Manager 8.3 for the International Criminal Court.  I thought it might be possible to use PrestaShop in a Catalog mode for the records manager?  This would require a small team on the ground in The Hague.
[RFQ 125544 Annex A, Scope of Work.PDF](https://github.com/PrestaShop/PrestaShop/files/2376388/RFQ.12554

[2018-09-12 18:44] pyro999 commented on #10411
SOLVED

This was caused by old and new shopping cart being active

i turned off v1.62 cart shown above

i enabled 

Shopping cart 

v2.0.1 - by PrestaShop

This resolved the issue fully
Thanks to those that helped me with this and i hope this helps others too

[2018-09-12 18:44] #10411 closed, assigned to nobody

[2018-09-12 19:03] sarjon opened #10412 "HookDispatcher issue"
I've noticed that even though hook is dispatched somewhere in the core, it not executed on module. Here's an example:

This is how hook is dispatched in grid definition factory:

[code]

However, in module hook is never executed. But if I dispatch hook using legacy `Hook` like this:

[code]
This way module hook is executed and everything works good.

**EDIT**: see conclusion below at https://githu

[2018-09-12 19:07] sarjon commented on #10412
@mickaelandrieu any ideas? :thinking:

do we actually need to depend on Symfony's event dispatcher in `PrestaShop\PrestaShop\Adapter\Hook\HookDispatcher`? wouldnt it be better to implement `HookDispatcherInterface` using legacy `Hook`?

at the moment is seems that `HookDispatcher` === `EventDispatcher` and `Hook` === `Event`? shouldnt hook dispatcher be specific to PrestaShop with it's own impleme

[2018-09-12 21:47] MathiasReker commented on #9782
@khouloudbelguith can you reproduce this in 1.7.4.2? I can't. Everything works perfect for me.

[2018-09-12 21:53] MathiasReker commented on #10305
I can't reproduce this bug on 1.7.4.2. @khouloudbelguith can you make a screenrecord, then I will see if I can fix it?

[2018-09-13 00:55] Prestapro commented on #10387
Hello,

If you install the 1-click upgrade module separately, this works. But this is not the best way to solve the problem. Perhaps PrestaShop should make the background update possible, for critical bugs, at least as an option, it could remove a lot of questions and make using PrestaShop easier.

[2018-09-13 01:06] Prestapro opened #10413 "Accessibility"
**Is your feature request related to a problem? Please describe.**
Accessibility for default PrestaShop theme 1.7 (PrestaShop 1.7.4.2)

**Describe the solution you'd like**
Please check the standard template for public access (all pages).
This can be done using the Chrome Dev Tools, the Audit tab.
It does not take a lot of time.

**Describe alternatives you've considered**
There are no alternative

[2018-09-13 07:36] khouloudbelguith commented on #10393
Hi @maofree,

The issue is fixed, thanks to check and feedback.
![image](https://user-images.githubusercontent.com/16067358/45476846-55331080-b740-11e8-9407-04c655f413c2.png)

Best regards, Khouloud

[2018-09-13 07:49] Mondatr opened #10415 "Error when sending mail"
After updating to the latest version for Prestashop (1.7.4.2), the opportunity to send a message to the administrator from the site was lost.
When a user tries to send an email message from the "contact us" form after clicking the "SEND" button, an error occurs.
Text of error: "Fetching the "prestashop.core.filter.front_end_object.main" private service or alias is deprecated since Symfony 3.4 and

[2018-09-13 07:50] khouloudbelguith commented on #10413
Hi @Prestapro,

Your issue should be fixed in this ticket #10366
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-13 07:50] #10413 closed, assigned to nobody

[2018-09-13 07:51] khouloudbelguith commented on #10413
Duplicate of #10366

[2018-09-13 07:51] Francky336 commented on #10355
Hi @khouloudbelguith ,

i have tried but not solve. I have reinstall prestashop and already same problem. i have try add my module in folder module/design.zip and add name in config file. module was installed but i can't add other module after this. if upload button not work i search php command line for upload it manually, save time.

Best regards
Franck

[2018-09-13 08:15] #10409 closed, assigned to nobody

[2018-09-13 08:20] khouloudbelguith commented on #10355
Hi @Francky336,

In the modules folder, you don't need to add the zip folder, you should unzip it and copy paste the folder of this module into the path Project_Folder/modules/
Then, you should search for it in the selection Tab & install it.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-13 08:28] khouloudbelguith commented on #10407
Hi @allyx76,

About the PS1.7.4, it is not a bug.
![image](https://user-images.githubusercontent.com/16067358/45476607-a262b280-b73f-11e8-84e8-8bf0b9076218.png)
In fact, there are no sub-categories under the men / women categories.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-13 08:30] khouloudbelguith commented on #10415
Hi @Mondatr,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9566
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-13 08:30] #10415 closed, assigned to nobody

[2018-09-13 08:30] khouloudbelguith commented on #10415
Duplicate of #9566

[2018-09-13 08:41] Mondatr commented on #9566
I changed the file contactform.php to get the option to view the error text.
Text error message is: <Fetching the "prestashop.core.filter.front_end_object.main" private service or alias is deprecated since Symfony 3.4 and will fail in 4.0. Make it public instead.>

[2018-09-13 08:47] Iron-Technology commented on #10397
Bonjour,

Depuis que je vous ai envoyé une partie des informations demandés, mon site n'a plus d'accès. La page ci jointe s'affiche automatiquement.

Pouvez vous me dire si cela est du aux manipulations que vous avez réalisés.

En vous remerciant.

![bug](https://user-images.githubusercontent.com/43203989/45477695-67ae4980-b742-11e8-8aae-a9c481d7c9fb.jpg)

[2018-09-13 08:54] khouloudbelguith commented on #10387
Hi @Prestapro,

Installing the 1-click upgrade from the BO ( I did not manage to reproduce the issue with PS1.7.4.2/ PS1.7.3.4 => OK )
https://drive.google.com/file/d/1lP9Ekvcq1ZqNFQhSxBpJRK68TexI-TVN/view
But the theme customization cannot be installed. (1.7.4.2 => NOK, 1.7.3.4 => NOK)
![image](https://user-images.githubusercontent.com/16067358/45478034-4bf77300-b743-11e8-81fc-39c3e1549920.png)
@

[2018-09-13 08:55] colinegin commented on #10193
@mickaelandrieu we need a better drag & drop for the categories listing page (see above Tristan's mockups)

[2018-09-13 09:04] Francky336 commented on #10355
it's the first test i do,  and no display module in the list , clear cache not work too. module never display and upload button never work

Best regards Franck

[2018-09-13 09:05] khouloudbelguith commented on #10397
Hi @Iron-Technology,

This issue is occurred due to the Brainify module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

Best regards, Khouloud

[2018-09-13 09:07] khouloudbelguith commented on #10355
Hi @Francky336,

Could you please provide me the credentials of your shop to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks & best regards, Khouloud

[2018-09-13 09:12] khouloudbelguith commented on #9782
Hi @Mreker,

Thanks to follow this link: http://forge.prestashop.com/secure/attachment/63908/Dec%2026%202017%204-03%20PM.webm
I manage to reproduce it with the last version PS1.7.4.2.

Best regards, Khouloud

[2018-09-13 09:14] mickaelandrieu commented on #10191
See https://github.com/PrestaShop/PrestaShop/pull/10234

[2018-09-13 09:19] Iron-Technology commented on #10397
Merci à vous, problème en cours de correction avec Brainify.

Concernant le problème initiale des visites, ou en êtes vous ?

Merci

[2018-09-13 09:19] mickaelandrieu commented on #10194
See https://github.com/PrestaShop/PrestaShop/pull/10408

[2018-09-13 09:19] mickaelandrieu commented on #10193
See https://github.com/PrestaShop/PrestaShop/pull/10160

[2018-09-13 09:20] mickaelandrieu commented on #10185
See https://github.com/PrestaShop/PrestaShop/pull/9406

[2018-09-13 09:22] khouloudbelguith commented on #9489
Hi @jointsystems,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-repo

[2018-09-13 09:30] khouloudbelguith commented on #10397
Hi @Iron-Technology,

Could you please try to re-install the dashtrends module, clear cache, check, and feedback.

Thanks!

Best regards, Khouloud

[2018-09-13 09:35] khouloudbelguith commented on #9542
Hi @ventybug,

In this PR: #10201, there are 3 files changed.
You can follow this link: https://github.com/PrestaShop/PrestaShop/pull/10201/files
For each file changed, you can click on the View button, copy paste this file into your project folder.

Best regards, Khouloud

[2018-09-13 09:35] benwallis opened #10417 "Wrong argument order in call to Manufacturer::getManufacturers() in Manufacturer::getLiteManufacturersList()"
/classes/Manufacturer.php

In Manufacturer::getLiteManufacturersList() the call to getManufacturers() has the arguments in the wrong order:

`$manufacturers = Manufacturer::getManufacturers($idLang, true);`

Should be:

`$manufacturers = Manufacturer::getManufacturers(true, $idLang);`

**Additionnal information**
PrestaShop version: 1.7.4.2
PHP version: N/A

[2018-09-13 09:39] khouloudbelguith commented on #10417
Hi @benwallis,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

Best regards, Khouloud

[2018-09-13 09:42] Saycile commented on #10045
In the Profile Menu, we will add 3 tabs :

User name (already existing)
Preferences (already existing)
Resources (NEW!)
Trainings (NEW!)
Deconnexion (already existing)

Resources:
When a user clicks on Resources Tab, Then he is redirected in a new tab on the Resources Page on the .com

Here are the links:
EN (+ all other languages)
https://www.prestashop.com/en/resources?utm_source=back-office&utm

[2018-09-13 09:49] khouloudbelguith commented on #10377
Hi @TeapotJames,

So after deleting the language which has id=1, in the Product page => in the list of the attribute, there are values which are missing, but not all the block.

Best regards, Khouloud

[2018-09-13 09:56] khouloudbelguith commented on #10368
Hi @lakhveer,

The 3 screenshots that you provided us, cannot help us to find what's wrong, there are just warnings.
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards, Khouloud

[2018-09-13 10:11] ced--ced opened #10418 "Error with stores csv import v1.7.4.2"
**Describe the bug**
"Property Store->name is empty." when trying to upload a csv for stores addresses.

**To Reproduce**
Steps to reproduce the behavior:
Upload a csv.

**Screenshots**
<img width="1440" alt="screen shot 2018-09-13 at 11 09 58" src="https://user-images.githubusercontent.com/71735/45482373-c6c18d80-b745-11e8-984c-607da512fa9f.png">

**Additionnal information**
PrestaShop version: 1

[2018-09-13 10:32] khouloudbelguith commented on #10418
Hi @ced--ced,

Thanks for your report.
This issue is fixed in the next release 1.7.5.0
It will be released in October.
https://drive.google.com/file/d/1tX_hpLP8kfJ7AsYBUjbvgFP1alElge64/view

Best regards, Khouloud

[2018-09-13 10:32] #10418 closed, assigned to nobody

[2018-09-13 10:38] ventybug commented on #9542
"the best you can do is to ask a developer to apply the patch." - how, whence...?!?

[2018-09-13 10:41] Iron-Technology commented on #10397
Manipulation effectué, sans succès, visites toujours à 0 malgré 1 visite avec mon pc principal, 1 avec mon pc secondaire et 1 avec mon téléphone.

[2018-09-13 10:45] khouloudbelguith commented on #9542
Hi @ventybug,

If this is critical for your business but you don't have developer skills, please consider to hire a freelancer or an agency

Best regards, Khouloud

[2018-09-13 10:48] centoasa commented on #9542
@khouloudbelguith
But it happens to me a strange thing, only when active memcached indicating the directives of the server: very often the data of the products are not updated, such as price, description and more, and very often, after some changes to the products, I throw away from the backoffice . Return, I do not find the changes just made in the product, and even if I try again 10 times, not p

[2018-09-13 10:50] khouloudbelguith commented on #9542
HI @centoasa,

This is a different issue.
Thanks to open a new issue with specific details.

Best regards, Khouloud

[2018-09-13 10:51] khouloudbelguith commented on #10397
Hi @Iron-Technology ,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards, Khouloud

[2018-09-13 10:51] #10397 closed, assigned to nobody

[2018-09-13 10:51] centoasa commented on #9542
sorry

[2018-09-13 10:55] centoasa opened #10420 "memcached strange behaviour"
Prestashop 1.7.4.2
Linux #1 SMP Debian 4.9.110-3+deb9u4 (2018-08-21) x86_64
apache+nginx
It happens to me a strange thing, only when active memcached indicating the directives of the server: very often the data of the products are not updated, such as price, description and more, and very often, after some changes to the products, I throw away from the backoffice . Return, I do not find the change

[2018-09-13 10:56] khouloudbelguith commented on #10420
Hi @centoasa ,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.presta

[2018-09-13 10:59] khouloudbelguith commented on #10369
Hi @peranderssjostrom,

Yes N/A regerded as N.
It is OK.
![image](https://user-images.githubusercontent.com/16067358/45484520-b2d15800-b754-11e8-87f0-26a21b0beff5.png)
![image](https://user-images.githubusercontent.com/16067358/45484571-d98f8e80-b754-11e8-8239-8694d5028d13.png)

Best regards, Khouloud

[2018-09-13 10:59] centoasa commented on #10420
host= vps Linux #1 SMP Debian 4.9.110-3+deb9u4 (2018-08-21) x86_64
apache+nginx (as proxy)
php 7.2.9
memory limit: 512
memcached installed on server, as server on 11211 port and as extension.
prestashop fresh installation 1.7.4.2
I'm sorry @khouloudbelguith but there a re no errors, as via log-apache-java as with debug mode.
It is a behavior.

[2018-09-13 11:01] allyx76 commented on #10407
Sorry, it is not the problem.

The problem is  :

- no subcategory under the category title (none thumbnails).
- on personal computer (not on a telephone)
- with 1.7.4.2 version

See my photo :   2 websites  :
- Above :  old version, subcategories and their thumbnails appear,
- Below :  version 1.7.4.2, on PC computer : no subcategory under Category title

![subcategory](https://user-images.github

[2018-09-13 11:05] khouloudbelguith commented on #10178
Hi @dbadrukhiya,

After applying the patch: #9390, I did not manage to reproduce your issue.
Steps that I followed:
1. Create  2 combinations for a product like
1.1. Size S, Color: Green, - default
1.2. Size M, Color: Blue,
2. Navigate to the FO: switch to Size M => No errors

Best regards, Khouloud

[2018-09-13 11:14] bellamolipaolo commented on #15200
if I give you all access can you help me..... we need to upgrade the website because we need to open the webshop. PLEASE help me @Quetzacoalt91

[2018-09-13 11:20] khouloudbelguith commented on #10407
Hi @allyx76,

Comparing to the version 1.6, in the category page, there a Subcategories section.
![image](https://user-images.githubusercontent.com/16067358/45485247-2c6a4580-b757-11e8-9172-d55cd838bafa.png)
But in the PS 1.7, this section doesn't exist.
@marion what do you think of this issue?

Best regards, Khouloud

[2018-09-13 12:16] Francky336 commented on #10355
mail was sent
BR
Franck

[2018-09-13 12:33] dennispw commented on #10405
@khouloudbelguith It does not work unfortunately.

In my module I tried changing between `header` and `displayHeader` (and using both).

I also updated the `ps_hook` and `ps_hook_alias` accoding to your instructions but it makes no difference. Both `header` and/or `displayHeader` is still not available using the transplant method.

[2018-09-13 12:44] khouloudbelguith commented on #10355
Hi @Francky336,

I just received the email.
I will check and feedback.

Best regards, Khouloud

[2018-09-13 12:45] MathiasReker commented on #10399
I did not manage to solve this, but I think I might have found some useful for a solution.

File: `AdminCmsContentController`

If I change this line 45: `$id_cms_category = (int)Tools::getValue('id_cms_category', Tools::getValue('id_cms_category_parent', 1));`

to

`$id_cms_category = (int)Tools::getValue('id_cms_category', Tools::getValue('id_cms_category_parent', 2));`

it solves the reported is

[2018-09-13 13:28] TecnoHands commented on #10386
Hi, I have proof for this fatal mistake in the manage of the stock.
Add a video, and screen captures of db tables, BO list.
After Video - Dont have combinations and the stock is 7 for the others testings.....
![after video](https://user-images.githubusercontent.com/16818257/45491016-0173f780-b73f-11e8-8d53-ca1ab7e41f7b.png)

VIDEO:
https://drive.google.com/open?id=1dnFf-E4-dmdGSDerFkxR59k2IQDVhlCu

[2018-09-13 13:38] TecnoHands commented on #10386
The bug is in manage the stock of the combinations... When you select the non combination product, the stock in the table ps_stock_available use the quantity column, This is ok.
But when you delete the combinations, DONT UPDATE THE Number to 0 in the ps_stock_available

Pls. Check well the issues. This is a important bug.

[2018-09-13 13:39] khouloudbelguith commented on #10355
Hi @Francky336,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards, Khouloud

[2018-09-13 13:39] #10355 closed, assigned to nobody

[2018-09-13 13:45] TecnoHands commented on #10386
Prestashop dont delete of this table the combination when you deleting in the BO....
For the first add of combinations, work well. But if you delete them, and create others combinations Having the error.

[2018-09-13 13:46] willy2m opened #10423 "Order page 500 error "FastCGI: incomplete headers (0 bytes) received from server""
Error 500 "internal server error" when the user gets to ckeckout, next step after filling adress details. (page salesdeplata.com/order)
No matter what user, identified or not, it gets to the 500 error.

WEB log gives me this error: "FastCGI: incomplete headers (0 bytes) received from server "/fcgi-bin-php56-fpm-ssl-salesdeplata.com"

PrestaShop version: 1.7.2.5
PHP version: 5.6.32

[2018-09-13 13:47] jointsystems commented on #9489
Here is the admin error log from briggsstratton.us.  Will send other logs later.
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2379555/log.txt)

[2018-09-13 13:48] khouloudbelguith commented on #10423
Hi @willy2m,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestash

[2018-09-13 14:02] willy2m commented on #10423
HI

Server setup annd config

**PHP INFO**
Host info: Linux #1 SMP Debian 3.2.82-1 x86_64
Host Sofware: Apache
PHP Version: 5.6.32
Memory limit: 320M
Max. execution time: 40
Max. file upload size: 30M

**SHOP INFO**
Prestashop version: 1.7.2.5
Shop URL: http://salesdeplata.com/
Theme: alysum

**MYSQL Info**
Versión de MySQL: 5.5.57-0+deb7u1-log
Host MySQL: localhost
Database MySQL: ps-sales
User M

[2018-09-13 14:02] khouloudbelguith commented on #10386
Hi @TecnoHands,

I attached a video record:
https://drive.google.com/file/d/1eF3ESnXqOX5MrkhoBiwcoTdJs3joa70a/view
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-13 14:05] khouloudbelguith commented on #10423
Hi @willy2m,

This error, in particular, is generally caused by an idle_timeout (30 seconds by default) or max children processes limit. It can also be caused by someone starting a long-running script and closing their browser/connection before the script completes.
Have you tried to contact the host provider?

Best regards, Khouloud

[2018-09-13 14:08] khouloudbelguith commented on #10389
Hi @peranderssjostrom,

From the BO, you cannot change directly the reserved stock.
But you can access the ps_stock_available table & try to change it directly.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-13 14:09] willy2m commented on #10423
Hi @khouloudbelguith
I will try to solve the problem with the host provider. But, should I change the max execution time value to 30 ?

Thanks

[2018-09-13 14:21] lakhveer commented on #10368
🙁 so what can I do?

[2018-09-13 14:25] TecnoHands commented on #10386
Hi!!, sorry, I truncate all tables ps_stock try again and work fine..
If any other people have this error, truncate all stock tables and charge again the qty for the products and combinations.

[2018-09-13 14:29] khouloudbelguith commented on #10423
Hi @willy2m,

No, it is by default: 30.

Best regards, Khouloud

[2018-09-13 14:30] khouloudbelguith commented on #10368
Hi @lakhveer,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards, Khouloud

[2018-09-13 14:30] #10368 closed, assigned to nobody

[2018-09-13 14:31] khouloudbelguith commented on #10386
Hi @TecnoHands,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-13 14:31] #10386 closed, assigned to nobody

[2018-09-13 14:33] khouloudbelguith commented on #10420
Hi @centoasa,

This issue occurs after applying this patch: #10201?

Best regards, Khouloud

[2018-09-13 14:41] khouloudbelguith commented on #10405
Hi @dennispw,

Thanks to follow this link: https://devdocs.prestashop.com/1.7/modules/creation/displaying-content-in-front-office/ & feedback.

Best regards, Khouloud

[2018-09-13 14:42] willy2m commented on #10423
Hello @khouloudbelguith
I contacted the host provider and we fixed the debug error. Now the order page gives me this error:
<img width="1003" alt="captura de pantalla 2018-09-13 a las 16 40 41" src="https://user-images.githubusercontent.com/43242372/45495639-eec7e580-b773-11e8-8cc9-9905ca583998.png">

Thanks

[2018-09-13 14:45] khouloudbelguith commented on #10423
Hi @willy2m,

Could you please try to clear cache manually by deleting all the folder into app/cache (prod & dev).
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-13 14:46] khouloudbelguith commented on #9489
Hi @jointsystems,

Thanks!
Waiting for your feedback.

Best regards, Khouloud

[2018-09-13 14:48] centoasa commented on #10420
@khouloudbelguith Alredy applied, but #10201 solve issue to add memcached server
Mine is issue memcached save data, and doesn't refresh data when admin change it

[2018-09-13 15:02] willy2m commented on #10423
Hi @khouloudbelguith

I have deleted the prod & dev folders in app/cache
Same error:
<img width="996" alt="captura de pantalla 2018-09-13 a las 17 00 45" src="https://user-images.githubusercontent.com/43242372/45496867-ae1d9b80-b776-11e8-8e48-00e32a1f2965.png">

[2018-09-13 15:16] colinegin commented on #10123
I added @CaptainYouz to this issue, he's aware of the card expected behaviour so he will be able to help you on this !

[2018-09-13 15:20] khouloudbelguith commented on #10423
Hi @willy2m,

Did you delete any addresses from the Database?

Best regards, Khouloud

[2018-09-13 15:24] willy2m commented on #10423
Hi @khouloudbelguith
I had a DHL Express module, wich i uninstalled yesterday, deleting allso al the databases that started "ps_dhl..."
This is the only thinng I deleted in the database.

[2018-09-13 15:27] khouloudbelguith commented on #10423
Hi @willy2m,

After deleting those tables, this issue occurs?

Best regards, Khouloud

[2018-09-13 15:37] khouloudbelguith commented on #10420
Hi @centoasa,

This issue occurs only when you add a server?

Best regards, Khouloud

[2018-09-13 15:39] willy2m commented on #10423
Hi @khouloudbelguith
Nope, i deleted them because I thought the error was caused by the module. I was having the error before

[2018-09-13 15:43] centoasa commented on #10420
yes, it's right!

[2018-09-13 15:44] reubensimute opened #10425 "The server returned a "500 Internal Server Error""
The system is not sending emails when the new account is created through my email settings are working fine. Can you please assist to why these are coming.?

**Describe the bug**
I am receiving the following error,
**1. When a new Order is being submitted by a customer. The Page goes black and displays**
"This page isn’t working
www.ptsdev.reveec.com.au is currently unable to handle this request.

[2018-09-13 15:45] peranderssjostrom commented on #10389
I'm editing in the table stock_available but see no effect. reserved_quantity seems not to be the right field.

[2018-09-13 15:49] khouloudbelguith commented on #10425
Hi @reubensimute,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards, Khouloud

[2018-09-13 16:00] khouloudbelguith commented on #10423
Hi @willy2m,

Have you tried to contact the theme author?

Best regards, Khouloud

[2018-09-13 16:03] benwallis commented on #10417
Done: https://github.com/PrestaShop/PrestaShop/pull/10428

[2018-09-13 16:09] rdy4ever opened #10429 "How to remove jquery UI from FO?"
**Is your feature request related to a problem? Please describe.**
OK. So this might be simple but:
I don't need (and frankly don't want) to load +250kb jquery UI in the front office as my theme (a modified Classic) doesn't use it. How do I remove it without altering core code?
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives

[2018-09-13 16:12] khouloudbelguith commented on #10417
Hi @benwallis,

Thanks for your report & your fix.

Best regards, Khouloud

[2018-09-13 16:16] peranderssjostrom commented on #10369
Notice that I have demo_10 in between N/A. Since I don't use this feature I'll guess I'll come back when this will annoy me.

[2018-09-13 16:19] khouloudbelguith commented on #10389
Hi @peranderssjostrom,

In the ps_stock_available table the physical_quantity = quantity + reserved_quantity
But the reserved_quantity represents the quantity of products that are currently in an open customer order => you need to update the "product_quatity" column in the "ps_order_detail" table.

Best regards, Khouloud

[2018-09-13 16:26] khouloudbelguith commented on #10369
Hi @peranderssjostrom,

I did not manage to reproduce the issue with PS 1.7.4.2.
Can I close the issue?

Best regards, Khouloud

[2018-09-13 16:31] nbexiga commented on #10313
@Quetzacoalt91
hi i updated the 1 click to new version 4.2.0 but the same issue persist... :(:(
can you help pleasE?
thanks

[2018-09-13 16:31] rdy4ever commented on #10429
Ok, to answer my own question, it seems that I actually need one componetnt of jQuery UI, the "autocomplete" component to be exact, required by the search bar module. So, if anyone else is wondering if you can switch 250kb of js for 35kb - you can. To do so:
1. Go [here](https://jqueryui.com/download/#!version=1.12.1&themeParams=none&components=110000010001000000100000100000000000000000000000) and

[2018-09-13 16:35] #10429 closed, assigned to nobody

[2018-09-13 16:55] ComptoirCarrelage commented on #10320
Hi  <https://github.com/ComptoirCarrelage> @ComptoirCarrelage,

What is the exact version of the 1-click upgrade did you used.

4.2.0
From which previous version did you make the upgrade?

1.7.3.3
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in /autoupgrade/tmp/log.txt

Il n’y  a pas de fichier  log  dans /autoupgrade/tmp/log.txt

Best regards,

[2018-09-13 16:56] khouloudbelguith opened #10430 "Some issues in the import page"
**Describe the bug**
In the import page, we have some issues.
During the installation:
- English language
- France country
![image](https://user-images.githubusercontent.com/16067358/45503199-69016580-b786-11e8-9685-056c188c1916.png)

**Additionnal information**
PrestaShop version: develop
PHP version: 7.1

[2018-09-13 16:57] khouloudbelguith commented on #10320
Hi @ComptoirCarrelage,

We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best regards, Khouloud

[2018-09-13 17:40] peranderssjostrom commented on #10389
Do you have any hint what trigger this? I know the product but there are rather many lines and I don't know the pattern I should look for. It's one reserved item. I'll guess I should look for a certain combination in the lines.

[2018-09-13 17:43] peranderssjostrom commented on #10369
Yes, close it :)

[2018-09-13 17:43] #10369 closed, assigned to nobody

[2018-09-13 17:57] willy2m commented on #10423
Hi @khouloudbelguith

I am in conntact with him, the error seems to be in the templates, doesnt it ?

I will keep this updated with the details

Thanks

[2018-09-13 18:08] colinegin commented on #10010
Issue is a lot more complex than expected, it needs a lot of work to be done.

[2018-09-13 20:11] V41F commented on #15203
@Quetzacoalt91 I have no idea what is wrong:
<?php

/**
 * 2007-2016 PrestaShop.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license an

[2018-09-14 00:04] reubensimute commented on #10425
![exonnewaccountcreation](https://user-images.githubusercontent.com/202356/45522309-cc29e100-b7f4-11e8-9caf-82981743b939.PNG)
![exonorderstatuschanged](https://user-images.githubusercontent.com/202356/45522310-cc29e100-b7f4-11e8-87d3-87cea239c68f.PNG)
![exonnewordersubmit](https://user-images.githubusercontent.com/202356/45522311-ccc27780-b7f4-11e8-88b0-8fa0ee4bf4da.PNG)

[2018-09-14 02:40] reubensimute commented on #10425
Hi
I managed to resolve this issues as it only appears to be an email problem.
I enabled **### intl** PHP function, on the Hosting backend, and everything I reported appears to be working fine now.
I enabled **### intl** PHP function,
![resolvedbyenbled](https://user-images.githubusercontent.com/202356/45526625-7c561480-b80a-11e8-96c0-0fabfced9bb4.PNG)

[2018-09-14 02:40] #10425 closed, assigned to nobody

[2018-09-14 05:17] centoasa opened #10431 "cron with flag option"
I think it's great to have the cron options integrated into prestashop, with flags as an option for the dates / days, not as dropdown, so set the cron in your server, there is the possibility to run the script several times.
Let me explain: if I set the cron on my server / * 8 every eight hours, and set "every minute" this single script will be executed every eight hours, but the others, set at a

[2018-09-14 05:30] mantasl commented on #10399
Yes, but the problem somewhere else. If you check what you get after u change page / items per page - controller get id cms:1. So after we change something its redirecting to wrong place and after it - get wrong ID and load wrong content.

[2018-09-14 06:03] Maofree commented on #10393
hi
can you show me how to fix it?

[2018-09-14 07:30] khouloudbelguith commented on #10420
Hi @centoasa,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

Best regards, Khouloud

[2018-09-14 07:33] centoasa commented on #10420
I think it's related to to slowly file creation when start a script (3rd party module as https://github.com/dim00z/gshoppingflux or https://github.com/PrestaShop/gsitemap )

[2018-09-14 07:38] khouloudbelguith commented on #10389
Hi @peranderssjostrom,

It looks like something went wrong with your update and don't have some of the database columns that were added for 1.7.4.2
The solution is to add the missing columns to your database schema.
You can find the schema changes in the SQL by looking at this: https://github.com/PrestaShop/PrestaShop/tree/develop/install-dev/upgrade/sql
You can find the full schema for 1.7.4.2 he

[2018-09-14 07:39] khouloudbelguith commented on #10369
Hi @peranderssjostrom,

Thanks for your feedback.

Best regards, Khouloud

[2018-09-14 07:42] khouloudbelguith commented on #10420
Hi @centoasa,

Have you tried to disable those module one by one, clear cache & check?

Best regards, Khouloud

[2018-09-14 07:44] centoasa commented on #10420
without these modules, memcached have same bahaviour.

[2018-09-14 07:58] khouloudbelguith commented on #10423
Hi @willy2m,

As it comes from a theme not provided by PrestaShop, I don't think we can do something before their feedback.

Best regards, Khouloud

[2018-09-14 08:01] matks commented on #10250
@eternoendless ⚠️  Language pack ar-SA has been updated for 1.7.4
http://i18n.prestashop.com/translations/1.7.4/ar-SA/ar-SA.zip

But language pack ar-SA 1.7.5 is not updated
http://i18n.prestashop.com/translations/1.7.5/ar-SA/ar-SA.zip

[2018-09-14 08:03] khouloudbelguith commented on #10393
Hi @maofree,

Is not fixed for you?

Best regards, Khouloud

[2018-09-14 08:04] Maofree commented on #10393
yes
looking in a site now the google maps is without that alert

[2018-09-14 08:06] khouloudbelguith commented on #10425
Hi @reubensimute,

Thanks!
You can also follow this link: https://github.com/PierreRambaud/phppsinfo
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

Upload the file to the server. You should upload your file to the exact directory you want to test. Typica

[2018-09-14 08:08] khouloudbelguith commented on #10393
Hi @maofree,

Thanks!
I close the ticket, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-14 08:55] mortenhartvig opened #10432 "BO: Uploading a (too large) file as a product download (e.g. a manual), provides no error to the user"
**Describe the bug**
When i upload a file too large (as product download), i get no error in the UI. Only the console log/inspection shows an exception going on:

The console log (chrome) shows that the XHR has failed loading the POST. Because the response is 413 (Request entity too large). I understand the error, i just think the interface has to understand it as well:)

![udklip](https://user-im

[2018-09-14 08:57] mortenhartvig commented on #10432
The Post response is status code 413, so a simple 200 check could solve it (or something similar). This is the NGINX Response DOM

![image](https://user-images.githubusercontent.com/17026838/45540597-259e0a00-b80d-11e8-8395-e6fd3b7bf2d1.png)

[2018-09-14 09:07] khouloudbelguith commented on #10432
Hi @mortenhartvig,

I attached a video record.
https://drive.google.com/file/d/1aTXpbqCdvgedzFkbwVdq7ZQ9jIQE9IMp/view
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-14 09:19] khouloudbelguith commented on #10431
Hi @centoasa,

On Prestashop Addons, there is a free module called Crontab that allows a server that does not have a cron process, still be able to run a list of treatments.
https://github.com/PrestaShop/cronjobs
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-14 09:21] GMVitus commented on #10264
Any updates on this issue, preliminary fixes maybe?

[2018-09-14 09:22] khouloudbelguith commented on #10264
Hi @GMVitus,

Sorry, not fixed yet.
But it is with major priority.

Best regards, Khouloud

[2018-09-14 09:32] dennispw commented on #10405
@khouloudbelguith The issue is that neither `displayHeader` _or_ `header` is available when **transplanting** a module or managing **exceptions**. Please see the attached images.

* It doesn't matter if we **only** use the `displayHeader` hook. It's not available in the list.
* It doesn't matter if we **only** use the `header` hook. It's not available in the list.
* It doesn't matter if we use **b

[2018-09-14 09:36] khouloudbelguith commented on #10405
Hi @dennispw,

Thanks for this clarifications.
I manage to reproduce the issue with the last version 1.7.4.2.
We will see how to fix it.

Best regards, Khouloud

[2018-09-14 09:53] centoasa commented on #10431
I already use it, but it’s possible set it only every hour or on every day/weekdays
If it’s possible set it for multiple choice with flag, not with drop down with single choice

[2018-09-14 10:03] FranckRIBEIRO opened #10433 "Incoherence of customers firstName lastName length between customer and address forms"
**Describe the bug**
The form for creating a new customer accept first and lastName up to 255car whereas the addressForm only accept 32car for these fields.

**To Reproduce**

1. Create a customer with a first or lastName longer than 32car
2. Add articles to cart and go to checkout
3. The address form generated is pre filled with an invalid number of car
4. Click continue and see Error Server 500

[2018-09-14 10:18] colinegin opened #10434 "[EPIC] Create helper cards/empty states for specific pages"
### [UPDATE AUG 1st 19]
Hello,

In order to help merchants have a better understanding of BO pages, we need to add :

## Helper Cards for pages with information needed
- [ ] #10585 - IMPROVE - Shipping > Carriers
- [ ] #10540 - SELL - Catalog > Attributes & Features > Features
- [x] #30043
- [ ] SELL - Catalog > Stocks > Stock
- [ ] SELL - Catalog > Stocks > Movements
- [ ] CONFIGURE - Shop parame

[2018-09-14 10:24] willy2m commented on #10423
Hi @khouloudbelguith ,

I just want to thank you for all the guiding, it was a problem with the theme. I would have gotten crazy without your help

:D

[2018-09-14 10:28] khouloudbelguith commented on #10423
Hi @willy2m,

You are welcome.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-14 10:28] #10423 closed, assigned to nobody

[2018-09-14 10:28] khouloudbelguith commented on #10433
Hi @FranckRIBEIRO,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.2.
![image](https://user-images.githubusercontent.com/16067358/45545031-508e5b00-b819-11e8-895c-4b4aab7e5c50.png)
https://drive.google.com/file/d/1jJ5AzZGzlNYGU9ndo6UI9QC1p1eV8IHx/view
We will see how to fix it.

Best regards, Khouloud

[2018-09-14 10:30] khouloudbelguith commented on #10433
Hi @FranckRIBEIRO,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

Best regards, Khouloud

[2018-09-14 10:31] khouloudbelguith commented on #10431
Hi @centoasa,

This issue needs to be specified by our developers.

Thanks & best regards, Khouloud

[2018-09-14 10:32] Marwazeinoo88 commented on #10344
There is no errors in my logs (server, php, javascript console ) debeug mode doesn't display errors..
PrestaShop version : 1.7.3.0
host: phpnet.org
screenshots: already sent
On the other hand i heard that module "cross-selling"on the version 1.7 is obviously bugging: the native modules for download are available 1 time out of 2 ... Have you please any idea if it's a bug ?

[2018-09-14 10:38] khouloudbelguith commented on #10344
Hi @Marwazeinoo88,

Could you please check that you added in the related product section are not out of stock (ref:Cadie5415, ref:Cadie321) & feedback.

Best regards, Khouloud

[2018-09-14 11:09] khouloudbelguith commented on #9515
Hi PleaseStopTracking,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-14 11:09] #9515 closed, assigned to nobody

[2018-09-14 11:11] khouloudbelguith commented on #9517
Hi maxgio92,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-14 11:11] #9517 closed, assigned to nobody

[2018-09-14 11:12] khouloudbelguith commented on #9518
Hi Remigio,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-14 11:12] khouloudbelguith commented on #9519
Hi Remigio,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-14 11:12] #9519 closed, assigned to nobody

[2018-09-14 11:13] khouloudbelguith commented on #9523
Hi Remigio,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-14 11:13] #9523 closed, assigned to nobody

[2018-09-14 11:13] khouloudbelguith commented on #9529
Hi Piotr,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Best regards, Khouloud

[2018-09-14 11:13] #9529 closed, assigned to nobody

[2018-09-14 11:20] khouloudbelguith commented on #10420
Hi @centoasa,

We'll first try to reproduce it and we'll come back to you if we need more information.

Best regards, Khouloud

[2018-09-14 12:30] jointsystems commented on #9489
This is all there was from the console log:
jquery-1.11.0.min.js:4 [Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org/.

[2018-09-14 12:50] jointsystems commented on #9489
This is the PHP 7.0 config:

PHP Directive | Information | Setting
-- | -- | --
allow_url_fopen | This option enables the URL-aware fopen wrappers that enable accessing URL object like files. Default wrappers are provided for the access of remote files using the ftp or http protocol, some extensions like zlib may register additional wrappers. | Enabled
allow_url_include | This option allows the us

[2018-09-14 12:59] CaptainYouz commented on #10339
Popup or small modal usually disappear when an other click event is trigger. I changed the behavior so that when resizing the side nav, it make the popup disappear.

[2018-09-14 13:03] dineshbadrukhiya commented on #10178
Hello @khouloudbelguith ,
in classes/Product.php there is no code as in patch: #9390,  like :

`$sql_values[] = '(' . (int) $id . ', ' . (int) $this->id . ', ' . $pos . ')';
        }`

But, there is code like :

` $sql_values[] = '(' . (int) $id . ', ' . (int) $this->id . ', ' . (int) $position . ')';`

Can it matters? I'm using PS1.7.4.2.

[2018-09-14 13:07] khouloudbelguith commented on #10178
Hi @dbadrukhiya,

This patch is merged in the next release 1.7.5.0.
In the last version 1.7.4.2, the issue exists.

Best regards, Khouloud

[2018-09-14 13:10] FranckRIBEIRO commented on #10433
Sure

[2018-09-14 13:12] hellodracon opened #10437 "CSV import error (contact stores) PS 1.7.4.2"
**Describe the bug**
Hi,

I'm trying to import stores contacts via a CSV file using the import page from Prestashop 1.7.4.2 but I have an error I really can't understand.

I'm loading the csv file, force IDs, skip row 1, select the columns and click on load but I have an error that tells me names' fields are invalid.

I even tried with the downloadable file from Prestashop that gives an example on

[2018-09-14 13:18] dineshbadrukhiya commented on #10178
Hi @khouloudbelguith

Thanks for reply. I hope 1.7.5.0 will be available soon.

[2018-09-14 13:22] khouloudbelguith commented on #10437
Hi @hellodracon

Thanks for your report.
This issue is fixed in the next release 1.7.5.0
It will be released in October.
https://drive.google.com/file/d/1tX_hpLP8kfJ7AsYBUjbvgFP1alElge64/view

Best regards, Khouloud

[2018-09-14 13:22] #10437 closed, assigned to nobody

[2018-09-14 13:23] khouloudbelguith commented on #10437
Duplicate of #10418

[2018-09-14 13:28] hellodracon commented on #10437
Hi and thank you for your answer @khouloudbelguith  but is there a file I can download or something I can change please ? The site that needs it should be online in a few days and this is the final thing we have to do (I'm talking 100+ shops, can't do it manually).

Thank you  !

[2018-09-14 13:28] Marwazeinoo88 commented on #10344
Oh thank you very much, related product was not out of stock but disabled! thanks to you i've checked it.

[2018-09-14 13:30] khouloudbelguith commented on #10344
Hi @Marwazeinoo88,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-14 13:30] #10344 closed, assigned to nobody

[2018-09-14 13:35] khouloudbelguith commented on #10437
Hi @hellodracon,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9235 to solve the issue.

Best regards, Khouloud

[2018-09-14 13:35] khouloudbelguith commented on #10418
HI @ced--ced,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/9235 to solve the issue.

Best regards, Khouloud

[2018-09-14 13:39] hellodracon commented on #10437
Thanks a lot @khouloudbelguith

[2018-09-14 13:44] willy2m opened #10439 "ContextErrorException in CustomerFormatter.php line 215:"
Hello

I am getting this error on the confirmation page after the client make an order.

<img width="978" alt="captura de pantalla 2018-09-14 a las 15 40 14" src="https://user-images.githubusercontent.com/43242372/45553620-b89e6a80-b834-11e8-8121-ba950545456c.png">

In the backoffice the order is received and all emails (order confirmation, paypment accepted) are sent. It is just an error in the c

[2018-09-14 13:52] khouloudbelguith commented on #10439
Hi @willy2m,

Have tried this issue with another user, different data?

Best regards, Khouloud

[2018-09-14 14:04] khouloudbelguith commented on #9489
Hi @jointsystems,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Best regards, Khouloud

[2018-09-14 14:27] willy2m commented on #10439
Hi @khouloudbelguith

Yes, i have tried, same error

Thankns

[2018-09-14 14:29] willy2m commented on #10439
<img width="980" alt="captura de pantalla 2018-09-14 a las 16 28 41" src="https://user-images.githubusercontent.com/43242372/45556337-4da46200-b83b-11e8-93ca-f7391a9f60d4.png">

[2018-09-14 14:30] khouloudbelguith commented on #10439
Hi @willy2m,

Have you tried to contact the theme author?

Best regards, Khouloud

[2018-09-14 14:35] willy2m commented on #10439
Hi @khouloudbelguith
I am doing it right now, I believed it was an error regarding prestashop

Thanks !

[2018-09-14 14:52] khouloudbelguith commented on #10439
Hi @willy2m,

Thanks!
Waiting for your feedback.

Best regards, Khouloud

[2018-09-14 15:21] ComptoirCarrelage commented on #10320
Hello,

I managed to update, but when I go on the modules I get this error message :

Directory /home/comptoirwg/www/log is not writable

and when I do not put my shop in maintenance I have the same message.
I emptied the cache and put the site in debug mode, but it does not work.

Thanks
Best regards
Loïc

[2018-09-14 15:26] khouloudbelguith commented on #10320
Hi @ComptoirCarrelage,

This is a permission issue.
You need to check your host.

Best regards, Khouloud

[2018-09-14 15:36] ComptoirCarrelage commented on #10320
Thanks
Loïc

[2018-09-14 15:40] khouloudbelguith commented on #10320
Hi @ComptoirCarrelage,

Thanks to check with them & feedback.

Best regards, Khouloud

[2018-09-14 16:12] MisteryPresta commented on #10349
Problem with CSS file solved:
https://www.prestashop.com/forums/topic/637071-classic-theme-ps1742-and-safari

[2018-09-14 16:14] peranderssjostrom commented on #10389
It's correct that some things went wrong in the migration for instance that I got a couple of variants I don't had from the beginning. Is it possible to explain how the reserved amount is calculated? Which fields in which tables are involved?

[2018-09-14 16:15] khouloudbelguith commented on #10349
Hi @MisteryPresta,

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

Best regards, Khouloud

[2018-09-14 16:19] khouloudbelguith commented on #10389
Hi @peranderssjostrom,

You can find the full schema for 1.7.4.2 here:
https://github.com/PrestaShop/PrestaShop/blob/1.7.4.2/install-dev/data/db_structure.sql

Best regards, Khouloud

[2018-09-14 17:13] steffen001 commented on #9656
I'm new here - and we've the same problem. There are any news about it?
PresteVersion: 1.7.4.2

[2018-09-14 17:25] peranderssjostrom opened #10441 "Weird creation order for combinations PS 1.7.4.2"
I have the feature
Output voltage 5V, 6V, 9V, 12V etc.
Voltage reference LM431, LM329

If I have the voltage first when I create one combination the order features varies without any comprehensible pattern.

If I generate all at once I'll get the same result.
![skarmavbild 2018-09-14 kl 19 23 42](https://user-images.githubusercontent.com/42907000/45565408-c9120d80-b853-11e8-8f6b-a1a2385afafd.png)

[2018-09-14 19:12] jointsystems commented on #9489
We had no difficulty importing with the 1.6 shop the 1.7.2 replaced or the other 18 current prestashop 1.6.20 installations.

[2018-09-14 22:14] jasonchemama opened #10442 "the weight does not stay in memory it works a few times,"
**Describe the bug**
A clear and concise description of what the bug is.
the weight does not remain in memory it works a few times, and then after no, in the card produced in the declensions and so when there is a command is not good.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screens

[2018-09-14 22:35] kpodemski commented on #10123
This is very cool! Small but very appreciated

[2018-09-15 10:31] natarajbodhi opened #10443 "1.7.4.2 Email not working completely ( SMTP)"
**Describe the bug**
A clear and concise description of what the bug is.
The out going emails are not going in the 1.7.4.2 version (SMTP). But at the same settings in 1.7.3 the smtp emails working. I even tried a fresh install, but the problem is same. Please fix it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '1.7.4.2'
2. Click on 'send emails using smtp in live server or localhos

[2018-09-15 19:40] Maofree opened #10444 "more than one H1 tag in the category pages - the errors are in category.tpl and active_filters.tpl"
Hi

**Describe the bug**
in the category pages there are more than one H1 tag
the problems arein category.tpl and active_filters.tpl files

in active_filters.tpl this code (you need only to replace the h1 with a p tag)
`<h1 class="h6 {if $activeFilters|count}active-filter-title{else}hidden-xs-up{/if}">{l s='Active filters' d='Shop.Theme.Global'}</h1>`
should be
`<p class="h6 {if $activeFilters|cou

[2018-09-15 20:52] jointsystems commented on #9489
Attempted to rollback the store to 1.6.20 rollback failed.  Erased 1.7.4.2 and installed a new 1.6.20 shop with identical server config and proceeded to import the same 1000 products that failed under 1.7.4.2.
![briggsstrattonus 1 6 20 import](https://user-images.githubusercontent.com/41153050/45590507-a5a89a80-b907-11e8-9bcd-3d9b319f0773.PNG) 20 failed with no explanation buth the other 980 were

[2018-09-15 21:35] twazerty commented on #9667
Some extra info: if all combinations are out of stock, the functionality works as intended. Then you can add the out of stock combination to the shopping cart. When one of the combinations is in stock, you cannot select the out of stock combination.

When will it be fixed? Because now I delete all the combinations that are out of stock, and add them again if they are in stock with all kinds of unw

[2018-09-15 21:56] twazerty opened #10445 "Wrong carrier after payment"
I am using a dutch Payment module called Sisow (https://www.sisow.nl/implementatie-plugin). When using their plugin the following happens:
1. Add product to Cart
2. Place order
3. Payment by Sisow
4. Order will be created after Payment (Cart will be converted to Order)
5. Carrier is wrong in the Order
6. The right Carrier is still available on the associated Cart

Normal payment module works diffe

[2018-09-15 23:20] twazerty commented on #9667
I may have a possible solution, after some digging in the PHP code (as a non PHP developer and non prestashop expert) I stumbled upon the following code (controllers/front/ProductController.php) on line 961:
[code]
Why filtering out the attributes without stock that should be displayed? After changing it to:
`
$productAttributes = $this->product->getAttributeCombinations();
`
the frontend works fi

[2018-09-16 06:38] miannaveed0123 opened #10449 "Email Error version 1.6.1.20"
Dear Team,
I am facing email connecting error. My email sync successful but when i go to send test email on back office or use contact us page show error. Please advise how to resolve this issue.

[2018-09-16 07:48] Medaliskr24 opened #10450 "Internal server error 500 PayPal & Braintree official Module 4.4.2"
**Describe the bug**
I have installed and configured PayPal & Braintree official Module 4.4.2 , but  I can't go at the end of the purchasing procedure, because on cart page I get an Internal server error 500 !!
and  when i got this error after enabled the debug mode and don't now iF related to the instaltion of the paypal module or not .

![screenshot_20180915-111031_chrome](https://user-images.gi

[2018-09-16 13:03] darkf3d3 opened #10451 "Bug when trying to add to cart more products than the one in stock (PS1.7.4.2)"
If you increase quantity, to a quantity higher than the one available, the add to cart button become disabled, but this doesn't happen instantly.
So the user it's able to add to the cart a product that it's not available, so when it goes to checkout it will see red alert about product unavailable in that quantity.

You can do this with a product with stock quantity of 1, then from product page, in

[2018-09-16 15:46] chrgilles opened #10453 "Again... Link to database cannot be established: SQLSTATE[HY000] [2002] Connection timed out at line 120 in file classes/db/DbPDO.php"
Hi guys !

I'm using a news fresh install with 1.7.4.2. My web site use php7 and hosted at Ovh with Perf 4 (CPU : 4x vCores RAM : 8 Go) and a PrivateSql.

For this day i've had at least 15 times the classic following message => SQLSTATE[HY000] [2002] Connection timed out at line 120 in file classes/db/DbPDO.php
With written in logs => *ERROR* 	v1.7.4.2	2018/09/16 - 15:25:04: Link to database canno

[2018-09-16 18:26] MathiasReker commented on #10444
PR : https://github.com/PrestaShop/PrestaShop/pull/10447

[2018-09-16 20:56] PeNov opened #10454 "PS 1.7.4.2 ignore discount setting: Exclude discounted products: YES"
**Describe the bug**
PS 1.7.4.2 ignore discount setting: Exclude discounted products: YES.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Catalog, Discounts, Create discount 10%, Exclude discounted products: YES'

2. Go to 'FO insert to cart product with price reduction and without price reduction '
3. Insert created voucher
4. See error:

FO: showing wrong price (is counted from all

[2018-09-16 22:46] melmelimel commented on #9540
@matrixino Hope someone can solve the problem...

[2018-09-17 07:41] khouloudbelguith commented on #10454
Hi @PeNov,

We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10300
So, I close it.
Thanks!

Best regards, Khouloud

[2018-09-17 07:41] khouloudbelguith commented on #10454
Duplicate of #10300

[2018-09-17 07:41] #10454 closed, assigned to nobody

[2018-09-17 08:00] MathiasReker commented on #10453
Did you ask you host about this problem?

[2018-09-17 08:01] khouloudbelguith commented on #10433
Hi @FranckRIBEIRO

Thanks!, nice catch :)
Fixed by #10438

Best regards, Khouloud

[2018-09-17 08:01] #10433 closed, assigned to nobody

[2018-09-17 08:02] MathiasReker commented on #10450
Did you ask the module developer?

[2018-09-17 08:03] MathiasReker commented on #10449
Do you use PHP mail function?
If not, try to switch to it.

[2018-09-17 08:12] khouloudbelguith commented on #10453
Hi @panatan,

Your issue:[Link to DB cannot be established] => it is an error on your server, you need to check the database link.
You can the database connection information provided by your web-host in the parameters.php file into the path /Project_folder/app/config/parameters.php
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-17 08:17] chrgilles commented on #10453
Hi and thank you !
The problem is that it works and sometime it doesn't... So how could i be sure that the problem comes from me host and not from Prestashop.
But i'm scary about db information shawn on the page...

[2018-09-17 08:29] khouloudbelguith commented on #10451
Hi @darfk3d3,

Yes, we are aware of this, but we have already improved this part in 1.7.3 / 1.7.4 [#8752; #8774; https://github.com/PrestaShop/StarterTheme/pull/222] and maybe we will do it later but we can't improve it right now.

Best regards, Khouloud

[2018-09-17 08:29] #10451 closed, assigned to nobody

[2018-09-17 08:36] khouloudbelguith commented on #10453
Hi @panatan,

If the issue is this exact exception [Link to database cannot be established: SQLSTATE[HY000] [2002]] => your issue is not related to PrestaShop => it is an error on your server.
Also, you can increase the max_execution_time in your php.ini file.

Best regards, Khouloud

[2018-09-17 08:38] khouloudbelguith commented on #10449
Hi @miannaveed0123,

Could you please try to navigate to your BO => CONFIGURE => Advanced Parameters => E-mail => TEST YOUR EMAIL CONFIGURATION by sending a test email.
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-17 08:38] ttoine opened #10456 "[WIP] CR - Installer - call API for Modules, translations, and other information"
**Describe the bug**
Currently, when PrestaShop's core has no access to the Internet, there are many issues like:
 - some tasks are waiting for the API servers
 - it can be impossible to finish an install

The core (and other features like the module manager or the translation manager) should be able to acknowledge that this is not possible to execute some tasks and calls to the API servers, and t

[2018-09-17 08:46] darkf3d3 commented on #10451
That's pity because it's an annoying bug for customers.
Prestashop 1.6 add to cart work a lot better than the one actually available on PS1.7.

[2018-09-17 08:58] khouloudbelguith commented on #10456
Hi @ttoine,

Thanks for your report.
I manage to reproduce this issue with PS1.6 / PS1.7.
![image](https://user-images.githubusercontent.com/16067358/45614062-85dcb800-ba68-11e8-8717-5dbb8cb90ca1.png)

Best regards, Khouloud

[2018-09-17 09:04] Medaliskr24 commented on #10450
not yet

[2018-09-17 09:06] khouloudbelguith commented on #10450
Hi @Medaliskr24,

This issue occurs only when the PayPal & Braintree official Module is enabled?
Could you please try to disable it, clear cache, check, and feedback.

Best regards, Khouloud

[2018-09-17 09:15] Medaliskr24 commented on #10450
Hello
thank you for the reply
This issue occurs when the PayPal & Braintree official Module is disabled too
![capture](https://user-images.githubusercontent.com/41730638/45614788-8a05d700-ba62-11e8-9a19-44db0b9cfb48.JPG)

[2018-09-17 09:17] khouloudbelguith commented on #10444
Hi @maofree,

Thanks for your report.
@Mreker, thanks for your fix

Best regards, Khouloud

[2018-09-17 09:18] Medaliskr24 commented on #10450
unfortunately the team support of the theme take much time to respond , they even didn't fix the earlier bugs !!

[2018-09-17 09:21] khouloudbelguith commented on #10445
Hi @twazerty,

Could you please provide me the Sisow module to test it.
This is a public space.
You can provide me the module by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks & best regards, Khouloud

[2018-09-17 09:30] ndkdesign commented on #10366
hello you can retry now score is 100

hendrik masson
postmaster@ndk-design.fr

[2018-09-17 09:31] khouloudbelguith commented on #10443
Hi @natarajbodhi,

Configure PrestaShop to send emails to your customers. We strongly advise you that you consult your web host to determine which settings to use for this feature.
To set my your own SMTP parameters, in this case, the information for these fields should be provided by your web host: mail domain name, SMTP server, SMTP user, etc. Make sure to transcribe exactly what your web host p

[2018-09-17 09:31] #10443 closed, assigned to nobody

[2018-09-17 09:34] khouloudbelguith commented on #10450
Hi @Medaliskr24,

Could you please navigate to your BO => Design => Positions=> check the "Display non-positionable hooks" option & search for the "displayHome".
![image](https://user-images.githubusercontent.com/16067358/45615693-8d529000-ba6d-11e8-8a99-b705de891981.png)
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-17 09:35] khouloudbelguith commented on #10442
Hi @jasonchemama,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - steps to reproduce the issue in a new comment
 - screenshots

Thanks!

Best regards, Khouloud

[2018-09-17 09:47] miannaveed0123 commented on #10449
Dear, I don't know because i never change any function after uploaded of Prestashop.

[2018-09-17 09:48] Medaliskr24 commented on #10450
Thank you so much for your responding
the theme team fix it now

kind regrads

[2018-09-17 09:50] V41F commented on #15203
@Quetzacoalt91 any information what is wrong in my ajax-upgradetab.php? thx a lot.

[2018-09-17 09:50] miannaveed0123 commented on #10449
I already perform, see below message i received.

Error: Please check your configuration
Connection to whuk102.redbackinternet.net:143 Timed Out

[2018-09-17 09:52] khouloudbelguith commented on #10449
Hi @miannaveed0123,

Configure PrestaShop to send emails to your customers. We strongly advise you that you consult your web host to determine which settings to use for this feature. The options are:
- Use PHP's mail() function. This option is recommended by default. In the event that this does not work, then use the SMPT option below.
- Set your own SMTP parameters. In this case, a new section ap

[2018-09-17 09:53] khouloudbelguith commented on #10450
Hi @Medaliskr24,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
Thanks!
I close the issue, feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-17 09:53] #10450 closed, assigned to nobody

[2018-09-17 09:56] khouloudbelguith commented on #10441
Hi @peranderssjostrom,

I did not manage to reproduce the issue with the last version PS 1.7.4.2.
![image](https://user-images.githubusercontent.com/16067358/45616692-88dba680-ba70-11e8-96ac-5bf95959d734.png)
I attached a screesnshot, thanks to check & feedback.

Best regards, Khouloud

[2018-09-17 09:57] miannaveed0123 commented on #10449
Thanks for your time, I have all info regarding configuration of email, POP3, SMTP. I tried my self every option but not working also i consult with hosting provider they advise problem in my script.

[2018-09-17 10:08] khouloudbelguith commented on #10449
Hi @miannaveed0123,

Could you please check your SMTP connection in your PHP info.
https://mediatemple.net/community/products/dv/204643880/how-can-i-create-a-phpinfo.php-page#gs
![image](https://user-images.githubusercontent.com/16067358/45617341-516df980-ba72-11e8-9fdc-38b67c3c1b4d.png)
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-17 10:21] PierreRambaud commented on #10444
F.Y.I: We can have multiple h1 per section. Even google said it's ok to have multiple h1:
 - https://www.youtube.com/watch?v=WsgrSxCmMbM
 - http://www.suvaance.com/microblog/how-google-considers-multiple-h1-tags-in-one-page/

And this is in the RFC https://tools.ietf.org/html/rfc1866#section-5.4 and google have at least 91% of the global search, and Bing 3.5% and I'm sure they are following the RF

[2018-09-17 10:27] khouloudbelguith commented on #9656
Hi @steffen001,

This issue is added to our bug roadmap but not fixed yet.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Best regards, Khouloud

[2018-09-17 10:28] C-Ranalletta opened #10457 "Problems with the Prestashop 1.7.4.2 update"
**Describe the bug**
I've updated my Prestashop e-commerce from 1.6 to 1.7.4.2 using 1-Click Upgrade, but when the update was over I found some errors and now my platform and my site doesn't work correctly.
I entered the debug mode and I find these errors (they are in the screenshots below).
Could you help me to solve the problem?
Thanks

**Screenshots**

![schermata 2018-09-16 alle 17 22 46](http

[2018-09-17 10:32] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

Could you please try to disable the PayPal module, clear cache from your shop & your browser, check and feedback.

Best regards, Khouloud

[2018-09-17 10:36] khouloudbelguith commented on #9489
Hi @jointsystems,

Could you please provide me all the information of the product which has ID= 1501713E540MA to import it.

Best regards, Khouloud

[2018-09-17 10:36] miannaveed0123 commented on #10449
Below is detail

Outgoing Server: mail.dxpshop.com.pk
SMTP Port: 465(SSL) or 587(TLS)

Incoming Server: mail.dxpshop.com.pk
IMAP Port: 993 POP3 Port: 995

[2018-09-17 10:53] khouloudbelguith commented on #10449
Hi @miannaveed0123,

Try checking all your files and directories permission. If all your files and folder permission is set to 777 they can't access to SMTP config.
So reset the permission of all the files to 644 while the folders to 755.
Also, this problem may occur if your firewall does not allow connections
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-17 10:55] peranderssjostrom commented on #10441
What happens if you start with output voltage and then the voltage reference? I could test this over at my place. I may have some problem connected to the migration to 1.7.4.2.

[2018-09-17 11:00] francesco-arenaforge opened #10458 "Modules bug - error 500"
I wanted to test a new Theme, I uploaded it but, during its installation, something went wrong and it showed me a page with this message:

_**"Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused."**_

Now my website does

[2018-09-17 11:02] miannaveed0123 commented on #10449
If i set 644 web not working..

[2018-09-17 11:04] khouloudbelguith commented on #10441
Hi @peranderssjostrom,

I attached a video record
https://drive.google.com/file/d/1-zR73o_jtHG1XpOek4wz8ojdp4mX5taJ/view
What is the exact version of the 1-click upgrade did you use?
What is the previous version of PrestaShop did you use?

Best regards, Khouloud

[2018-09-17 11:06] khouloudbelguith commented on #10458
Hi @francesco-arenaforge,

As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

Best regards, Khouloud

[2018-09-17 11:09] khouloudbelguith commented on #10449
Hi @miannaveed0123,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.p

[2018-09-17 12:07] Quetzacoalt91 commented on #10457
When you upgrade from 1.6 to 1.7, your modules needs to be updated as well. This step is not done by the "1-click upgrade" module. Please go to the module page and check the "module to upgrade" list.

[2018-09-17 12:11] miannaveed0123 commented on #10449
Hi I check myself again setting and found email now work, thanks for your time.

[2018-09-17 12:12] #10449 closed, assigned to nobody

[2018-09-17 12:12] miannaveed0123 commented on #10449
Issue resolve!

[2018-09-17 13:08] C-Ranalletta commented on #10457
I can't do this because if I open the module page I see this error (screenshot is attached below)
![schermata 2018-09-17 alle 15 06 58](https://user-images.githubusercontent.com/43338406/45624734-7884f500-ba8b-11e8-9679-0ac2fdb8c7cb.png)

[2018-09-17 13:11] Quetzacoalt91 commented on #10457
You should remove the folder modules/advancedeucompliance to get rid of that issue.

[2018-09-17 13:16] C-Ranalletta commented on #10457
How can I do this?
Thanks a lot

[2018-09-17 13:24] khouloudbelguith commented on #10449
Hi @miannaveed0123,

Thanks for your feedback.
Feel free to open a new one when needed.

Best regards, Khouloud

[2018-09-17 13:28] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

You need to delete the advancedeucompliance folder, you can find it into the path /YourProjectFolder/modules/

Best regards, Khouloud

[2018-09-17 13:56] Quetzacoalt91 commented on #15203
Sorry, there is a misunderstanding, I didn't expect the file content.

I wanted you to make an upgrade and use the console browser:

![snimek obrazovky 2018-09-11 v 21 43 44](https://user-images.githubusercontent.com/41673053/45386483-bd380880-b613-11e8-8df4-6e79e99bc0b1.png)

When you click on the line with the file `ajax-upgradetab.php` and the code 500 on the left, you should have the details o

[2018-09-17 14:00] khouloudbelguith opened #10459 "There's no condition in the product's name - Multilanguage"
**Describe the bug**

Multilanguage Shop
In the BO => Product page => There's no condition in the name's product when id_lang <> 1
**To Reproduce**
Steps to reproduce the behavior:
English is the default language
1. Go to BO => Product page
2. Click on 'add new product'
3. Enter a name with 2 chars
4. Save
5. See error "This value is too short. It should have 3 characters or more." => OK
6. Edit t

[2018-09-17 14:19] mbadrani opened #10460 "When scrolling buttons appears on the top layer"
**Describe the bug**
When you scroll on Modules pages (module catalog or module manager) you can see "search" button appearing under the top layer header toolbar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Modules > module catalog'
2. Scroll down
3. Look at the search button => it appears under the header toolbar

**Screenshots**
https://drive.google.com/file/d/1OOSeqmjbVdwWHRgSf

[2018-09-17 14:31] PierreRambaud commented on #10460
Fixed in #10440

[2018-09-17 14:48] khouloudbelguith commented on #10460
Hi @PierreRambaud,

I make the changes of you PR: #10440.
But it looks like this:
![image](https://user-images.githubusercontent.com/16067358/45630722-86417700-ba99-11e8-83df-23735dbda881.png)

Best regards, Khouloud

[2018-09-17 15:10] khouloudbelguith commented on #10339
Hi,

Also, the "buttons appear on the top layer" issue exists in those pages:
1- invoices
2- stocks
3- Modules catalog #10460
4- Module Manager
5- localization
6- geolocation
7- order-preferences
8- product-preferences
9- preferences
10- Merchant Expertise
![image](https://user-images.githubusercontent.com/16067358/45631729-d7eb0100-ba9b-11e8-93e8-7df8d3d4b4c1.png)
11- performance
12- Administrati

[2018-09-17 15:26] #10417 closed, assigned to nobody

[2018-09-17 15:28] C-Ranalletta commented on #10457
Thanks, now I can see the modules page.
But I still have a problem, when I try to upgrade a module, I see this error:
"Warning: include_once(/homepages/12/d643640243/htdocs/clickandbuilds/PrestaShop/Gioielleria_Ranalletta/classes/../tools/pear/PEAR.php): failed to open stream: No such file or directory"

How can I solve it?

Thanks
Regards

[2018-09-17 15:32] khouloudbelguith opened #10461 "The brand page is not displayed correctly"
**Describe the bug**
When we try to add a new brand, the description & the logo are not aligned.

**To Reproduce**
The window size is bigger than 1197px* 981px
Steps to reproduce the behavior:
1. Go to BO => Catalog => Brands page =>
2. Click on 'add a new brand'
3. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/16067358/45633261-99efdc00-ba9f-11e8-893f-702a2a411d5d.

[2018-09-17 15:37] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

Which module did you need to upgrade it?
Could you please try to re-install it.

Best regards, Khouloud

[2018-09-17 15:56] steffen001 commented on #9656
Hi Khouloud,
thanks for your message. I would like to help - but i'm just a user of Prestashop. if we can do anything let us know.
Best Regards
Steffen

[2018-09-17 16:05] khouloudbelguith commented on #9656
Hi @steffen001,

Below are different ways to help us to fix this issue:
- If you found a module that solves the issue, please add a comment with a link to it so it is possible to share this knowledge with other impacted users
- If this is critical for your business but you don't have developer skills, please consider to hire a freelancer or an agency
- If you are a developer, you can open a pull r

[2018-09-17 16:11] ntiepresta commented on #10461
Hello, @khouloudbelguith
I manage to reproduce the issue.
Best regards, Reddy Ntie

[2018-09-17 16:14] Prestapro opened #10463 "Vulnerability jQuery"
Hello,

There is a problem with PrestaShop version 1.7.4.2:
Library Version
Vulnerability:
jQuery@2.2.4 Medium
jQuery UI@1.10.3 High

The problem can be reproduced in the Chrome Dev Tools tab Audit

Screen:
http://prntscr.com/kvgdzg

[2018-09-17 16:33] khouloudbelguith commented on #10463
Hi @Prestapro,

Thanks for your report.
I manage to reproduce the issue with the last version 1.7.4.2.
![image](https://user-images.githubusercontent.com/16067358/45636465-14245e80-baa8-11e8-9f5b-c88ef0ba34d2.png)
We will see how to fix it.
Related to #10366

Best regards, Khouloud

[2018-09-17 16:48] khouloudbelguith commented on #10403
Hi,

This issue exists in 2 symfony pages

1. **positions** => the help button doesn't work: click on the help button => nothing happens
2. **Logs** => the help button doesn't work: click on the help button => nothing happens

Best regards, Khouloud

[2018-09-17 16:53] PierreRambaud commented on #10403
This is not due to Symfony or even PrestaShop open source project. The SSL certificate of https://help.prestashop.com/ is just expired.
You can change your ticket and keep only `positions`and `Logs` pages :)

[2018-09-17 17:00] PierreRambaud commented on #10460
@khouloudbelguith PR still in WIP (we will merge wednesday I think) and assets haven't been built :)

[2018-09-17 18:55] peranderssjostrom commented on #10441
I used the migration tool Prestashop Migrator (from 1.6.1.20 to 1.7.4.2)

[2018-09-17 19:02] peranderssjostrom commented on #10441
The problem is really weird. If I delete all variants and just choose 6 V + LM431 is the order I get LM431 first.  22

[2018-09-17 19:04] peranderssjostrom commented on #10441
6 V and 22 V are the last added. Something is fishy. Could the ID have something to do with it?
![skarmavbild 2018-09-14 kl 19 23 49](https://user-images.githubusercontent.com/42907000/45644128-307ec600-babd-11e8-8fce-f578ad848b95.png)
![skarmavbild 2018-09-17 kl 20 58 58](https://user-images.githubusercontent.com/42907000/45644133-3379b680-babd-11e8-9f30-1cbf27bd688b.png)
![skarmavbild 2018-09-17

[2018-09-17 20:40] JavierEB commented on #15199
hi, Can anyone help me with this error or do I need to gather more information ...?

[2018-09-17 21:24] francesco-arenaforge commented on #10458
Hi Khouloud,

I'm not so happy with your reply.
Because I didn't ask you how to repair the new, not official, theme I tried to install but I asked you if there is a way to restore the default theme of Prestashop _(Quote: "The question is: there is a "RESET" to restart ALL and solve the problem?")_. Independently from the cause of the error, I think that Prestashop has a way to "reset" itself, but

[2018-09-18 02:23] CArlvJ1N0N8 opened #10466 "Deleting existing language in BO"
When having multiple languages activated in the back-office and trying to delete a language (not in use by the user connected) provides an error and the back-office is now in the language you are trying to delete.

Prestashop 1.7.4.2

[2018-09-18 02:25] CArlvJ1N0N8 commented on #10258
Hello,

Any update for this ?

Thanks,

[2018-09-18 02:30] CArlvJ1N0N8 commented on #10466
To Reproduce
Steps to reproduce the behavior:

The connected user is using English as the active language
Go to the back-Office - International - Localisation - Langues
And delete spanish language
See error messages returned are in the user language, but the menu and such are now in Spanish.
And i am unable to delete spanish

Additionnal information
PrestaShop version: 1.7.4.2
PHP version: 7.0.27-

[2018-09-18 02:30] CArlvJ1N0N8 commented on #10466
![delete language](https://user-images.githubusercontent.com/42921237/45660944-3f6b7580-bac9-11e8-9c4d-223c4c93094d.JPG)

[2018-09-18 06:28] Quetzacoalt91 commented on #15199
Hi,

You provided everything we needed. We already got that issue in https://github.com/PrestaShop/autoupgrade/issues/87#issue-335433391, which was caused by a third-party module.

I currently have no change to bring on the core or the 1-click upgrade module itself, but we hope to handle that issue in a future release.

Regards

[2018-09-18 07:16] MathiasReker commented on #10466
You need to chance your default/active languege to another languege than spanish before you can delete it.

[2018-09-18 07:25] chrgilles commented on #10453
I don't think that the problem becomes not from web-host, (but i'm not sure) but it is very critical !!!

[2018-09-18 07:42] khouloudbelguith commented on #10466
Hi @CArlvJ1N0N8,

As @Mreker said, you need to navigate to the BO => IMPROVE => International => Localization => in the CONFIGURATION part, you need to edit the Default language.
Thanks to check & feedback.

Best regards, Khouloud

[2018-09-18 07:44] PierreRambaud commented on #10453
The problem comes from your web host. You must check your `PrivateSql` instance and everything around. It's not even a `max_execution_time` problem.
Try to connect to your mysql server in command line if you can :)

[2018-09-18 07:46] chrgilles commented on #10453
OK but what did i find/search ?

[2018-09-18 07:56] C-Ranalletta commented on #10457
Hi @khouloudbelguith
I've re-install, de-activated and activated 39 modules, but if I remove the mantenance mode I see all these errors in my front office site (photos are attached).
![schermata 2018-09-18 alle 09 49 26](https://user-images.githubusercontent.com/43338406/45672649-006d0c80-bb29-11e8-99ef-67913b5fed6c.png)
![schermata 2018-09-18 alle 09 49 39](https://user-images.githubusercontent.c

[2018-09-18 08:02] PierreRambaud commented on #10453
`mysql -u MYSQL_USER -p DATABASE_NAME -h DATABASE_HOST` try to connect by replacing values.
If there is a timetout, you must check if your server is able to connect to the remote `PrivateSQL` server.

[2018-09-18 08:09] chrgilles commented on #10453
Yes, all is good

[2018-09-18 08:18] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

Could you please try to uninstall the blockbanner module & try to install the ps_banner.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

Best regards, Khouloud

[2018-09-18 08:22] krasnycz opened #10467 "Autoupdate fails to update module 1.7.3.3 to 1.7.4.2"
Autoupdate module fails on updating modules when trying update 1.7.3.3 to 1.7.4.2.

It fails at FrontController.php line 358 - Trying to get property of non-object. Ajax-autoupgrade.php ends up with 503. There is no error in the PS or server log.

To reproduce the issue simply use Autoupdate v 4.2 and PS 1.7.3.3 with default theme and proceed with the update.

PHP version: 7.1.

![update1733](http

[2018-09-18 08:23] infinity-web-italy opened #12451 "Problem with the cache in 1.7.4.2"
Hello,
I noticed that the module does not work correctly when you activate the theme cache ..
As you can see from the image, the first product is seen correctly while the others do not. If you disable the theme cache this does not happen. This site, however, needs the active cache!
Any ideas on how I can fix this problem?
![2](https://user-images.githubusercontent.com/43369421/45674219-e3d2d380-bb

[2018-09-18 08:23] khouloudbelguith commented on #10258
Hi @CArlvJ1N0N8,

Sorry not yet.
This issue needs to be specified by our developers.

Best regards, Khouloud

[2018-09-18 08:31] khouloudbelguith commented on #10467
Hi @krasnycz,

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in <admin folder>/autoupgrade/tmp/log.txt

Best regards, Khouloud

[2018-09-18 08:36] krasnycz commented on #10467
[log.txt](https://github.com/PrestaShop/PrestaShop/files/2391851/log.txt)

[2018-09-18 08:36] khouloudbelguith commented on #10458
Hi @francesco-arenaforge,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

Best

[2018-09-18 09:01] toutantic opened #10468 "Use Puppeteer to run End to End tests"
see project [geppetto](https://github.com/mbadrani/geppetto)

[2018-09-18 09:04] khouloudbelguith commented on #10467
Hi @krasnycz,

Service Unavailable server error code 503 response code indicates that the server is not ready to process the request.
Typically, this occurs because the server is shut down or inaccessible due to maintenance or overhead.
Could you please check if the safe_mode is enabled on your server & feedback.

Best regards, Khouloud

[2018-09-18 09:08] colinegin commented on #10258
Hi @CArlvJ1N0N8, please excuse the delay.

I agree with you, the customer should be able to get his invoices / delivery slips in his own language when he needs to download them. However, those are also used by the employee (especially invoices, as  he needs to keep all of them for legal purposes) and I think he should have them in his own language too.

@eternoendless / @marionf  is it possible to

[2018-09-18 09:09] khouloudbelguith commented on #10441
Hi @peranderssjostrom,

Yes, that's exactly the main issue.
All the attributes are ordered by id.
Sorting by positions doesn't work.
We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9836
So, I close it.
Thanks!
PS: For a quick fix, you need to recreate in order all these attributes.

Best regards, Khouloud

[2018-09-18 09:09] khouloudbelguith commented on #10441
Duplicate of #9836

[2018-09-18 09:09] #10441 closed, assigned to nobody

[2018-09-18 09:16] PierreRambaud commented on #10468
Should we move this repository into PrestaShop organization no?

[2018-09-18 09:27] mbadrani commented on #10468
yes that's what we want finally, but we will create a parallel project repository for the moment to avoid conflicts between package.json files

[2018-09-18 09:39] Maofree commented on #10444
Hi Pierre
however for me has no sense to add 2 H1 just to set a h1 for the desktop and a h1 for mobile, it would make more sense to use only one h1 and then find changes with the css code

from that suvaance.com is written
 In HTML5, the semantic elements like header, footer, section etc, help representing the hierarchy perfectly and one can use one H1 tag in each such elements safely.

So, if you

[2018-09-18 09:41] C-Ranalletta commented on #10457
Ok I've unistall these modules, they were not compliance with 1.7 version and now I see no more error in the front end of my site but I can't see nothing on the page (photo attached). I also tried to upload my theme module compatible with 1.7 version but I can't do this, it doesn't allow me.

Thanks
![schermata 2018-09-18 alle 11 38 49](https://user-images.githubusercontent.com/43338406/45678935-c

[2018-09-18 09:54] khouloudbelguith commented on #10457
Hi @C-Ranalletta,

You need to install some native modules:

1. advancedeucompliance
2. bankwire
3. ps_contactinfo
4. ps_shoppingcart
5. ps_languageselector
6. blockcms
7. blockcmsinfo
8. blockcontact
9. blockcontactinfos
10. Currency block
11. ps_facetedsearch
12. Newsletter
13. Customer accounts ...

Best regards, Khouloud