[2022-09-28 10:08] eshraw opened #29789 "APIS06 - Create API access configurations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-28 10:15] ckubitza commented on #29303
I have the same problem, the manual upgrade as described in the current official documentation is not working (trying to update from 1.7.8.7 to 8.0.0-beta.1 with latest autoupgrade module from github):
https://devdocs.prestashop-project.org/1.7/basics/keeping-up-to-date/upgrade/ (showing even the old path to upgrade.php)
https://devdocs.prestashop-project.org/8/basics/keeping-up-to-date/upgrade/

[2022-09-28 10:19] hekep commented on #24156
We have tried to delete cache too...  Still we get "file:helpers/uploader/ajax.tpl"

Below is a stack trace:

![kuva](https://user-images.githubusercontent.com/1901788/192754681-12ebc1e4-908a-4359-aaea-0d0b7e8cb424.png)

[2022-09-28 10:24] HanaRebaiQA commented on #29727
Hello @FranRomero

Thanks for your report.
I was able to reproduce your issue using the same steps mentioned in your video  with **PS1778** and **PS1787** when putting `"0" `in the `Category filter depth (0 for no limits, 1 by default) `parameter.

The mentioned video :

https://user-images.githubusercontent.com/92912932/192755273-28e4eeb0-8d66-42cb-9472-d9243978d66d.mov

Here is my different scre

[2022-09-28 10:27] hekep commented on #24156
--
Twig\Error\RuntimeError: An exception has been thrown during the rendering of a template ("Unable to load template 'file:helpers/uploader/ajax.tpl'").

at src/PrestaShopBundle/Resources/views/Admin/Sell/Catalog/Categories/Blocks/form.html.twig:130

at Twig\Template->displayBlock()      (var/cache/dev/twig/74/74451a7467946f85e76f60dde13e2bcc3d07b27e15f647e3ebad722af8f49a5d.php:47)
 at __TwigTemp

[2022-09-28 10:27] eternoendless opened #29790 "Bad layout in Advanced Parameters > Security > Password policy"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The form takes all the horizontal s

[2022-09-28 10:28] HanaRebaiQA commented on #29727
It's related to this issue [#16067 ](https://github.com/PrestaShop/PrestaShop/issues/16067)

[2022-09-28 10:38] HanaRebaiQA commented on #29763
Hello @lmeyer1

Thank you for your feedback.

I'll add this to the debug backlog so that it's fixed.

Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved. If this issue is important to you and you cannot wait for it to be fixed on the project's own time, we strongly suggest you consider [hiring a specialist](https://www.prestashop.co

[2022-09-28 10:39] HanaRebaiQA commented on #29763
It's related to this issue [#28106](https://github.com/PrestaShop/PrestaShop/issues/28106)

[2022-09-28 10:47] HanaRebaiQA commented on #29579
Hello @adrifi90

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thank You!

[2022-09-28 10:47] #29579 closed, assigned to nobody

[2022-09-28 10:51] hekep commented on #24156
It looks like old module "blockcategories", from prestashop 1.6 times has been left installed to newee Prestashop 1.7. The old module is hooked via  `displayBackOfficeCategory`  ... Either uninstall the module or rename module folder in `modules` folder.

[2022-09-28 12:05] #29761 closed, assigned to Hlavtox

[2022-09-28 12:23] Hlavtox commented on #29761
@eshraw Thanks Eshane, but try to think about where to put them, I think it's not a bad idea to have it in the help section or in the footer of backoffice. :-)

A small link called "Found some issue?", you click it, modal opens.
"You think something is not working right?"
"The best thing you can do now is to report it bla bla bla"

[2022-09-28 12:34] clotairer commented on #29780
PR available #29754

[2022-09-28 13:14] sLorenzini opened #29792 "BO - Stats page data labels are too long in French"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On 8.0.0 version, when I want to se

[2022-09-28 13:49] sLorenzini opened #29795 "BO - Responsive - Product page V1 - bad display of offline/online button in footer page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Offline/online button is not displa

[2022-09-28 13:53] HanaRebaiQA commented on #29778
Hello @Hlavtox

Thanks for your report.
I was able to reproduce your issue using the same steps to reproduce with PS1778, PS1787 and PS8.0.x

**PS1778 without the security page but there is a help text :**

https://user-images.githubusercontent.com/92912932/192796821-ba92005a-89eb-41ba-ade1-236bdbc952bb.mp4

**PS1787 without the security page but without a help text :**

https://user-images.github

[2022-09-28 14:06] Hlavtox opened #29796 "Modules should be able to alter frontend sitemap"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-28 14:19] MatShir commented on #29761
Bottom of the menu ? 🤔

[2022-09-28 14:22] Hlavtox opened #29798 "Refacto CheckMissingOrUpdatedFiles class because it can be slow"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-28 14:31] HanaRebaiQA commented on #29779
Hello @haveyougotanypets

Thanks for your report.
Is this issue [#29653](https://github.com/PrestaShop/PrestaShop/issues/29653) similar to this yours ?

Thank You!

[2022-09-28 14:38] haveyougotanypets commented on #29779
HI @HanaRebaiQA

No this issue not the same. This issue relates to the location field belonging to a combination. The feature request you have linked to is related updating a product image

[2022-09-28 14:50] Texier54 opened #29799 "Undefined variable in CategoryController.php"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I reinstalled prestashop version 1.

[2022-09-28 14:53] kpodemski commented on #29799
Hey @Texier54

Could you paste entire `getBreadcrumbLinks` here?

[2022-09-28 15:29] matks commented on #29350
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29406

[2022-09-28 15:29] #29350 closed, assigned to zuk3975

[2022-09-28 15:57] HanaRebaiQA commented on #29780
Hello @szavadskiy

Thanks for your report.
I was able to reproduce your issue with **PS1787**
This issue is not related to your module ?

Here is a screen-record :

https://user-images.githubusercontent.com/92912932/192827710-74bf3146-2a3d-4509-8b9a-f5ad5c35875f.mp4

Thank You!

[2022-09-28 16:01] HanaRebaiQA commented on #29798
Hello @Hlavtox

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone else i

[2022-09-28 16:06] HanaRebaiQA commented on #29796
Hello @Hlavtox

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Thank You for your PR

[2022-09-28 16:06] szavadskiy commented on #29780
@HanaRebaiQA
No, this issue is not related to our module, you can reproduce the issue with any module that contains admin tabs, we made this test module "testmultistoremodule" just for this issue

[2022-09-28 16:12] HanaRebaiQA commented on #29790
Hello @eternoendless

Thanks for your report.
I was able to reproduce your issue with **PS8.0.x** with php7.3

![image](https://user-images.githubusercontent.com/92912932/192831112-bd4f0cde-950a-4b04-ba55-1a593192cdec.png)

The security page is not present in the **1.7.7** and **1.7.8** branches

So, indeed it's a regression

I'll add this to the debug backlog so that it's fixed.

Thanks for your

[2022-09-28 17:08] fixo94 opened #29806 "Add available date for each combinations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

themes/xxx/templates/checkout/cart.

[2022-09-28 18:48] #29747 closed, assigned to jolelievre

[2022-09-28 18:49] #29701 closed, assigned to jolelievre

[2022-09-28 21:08] TheKruspe commented on #15164
I was able to fix this by adding two lines of code within the `ps_facetedsearch` repo.

In `src/Filters/Products.php`, `getProductByFilters`, I added

    $this->searchAdapter->addSelectField('id_product_attribute'); // this line
    $matchingProductList = $this->searchAdapter->execute();

In `src/Adapter/MySQL.php`, `useFiltersAsInitialPopulation`, I added

    $this->setSelectFields(

[2022-09-28 22:43] kpodemski opened #29807 "Configuration key name should be available in the form field HTML markup"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-29 02:38] leemyongpakvn commented on #23286
@hibatallahAouadni & @Progi1984 I think this issue was solved after [Release 5.1.0](https://github.com/PrestaShop/blockreassurance/pull/356/files#diff-3f34d294ae195f56ad0db4e3398c52d0356f388dc62595ee3d572e495fbbfa54).

[2022-09-29 07:47] matks commented on #29744
RC1 build 1 was delivered to QA team

[2022-09-29 07:47] #29744 closed, assigned to nobody

[2022-09-29 08:05] florine2623 commented on #29792
Hello @sLorenzini 👋 ,

I reproduce the issue with PrestaShop version 1.7.8.7, 8.0.0, develop branch, I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contacting a professional](https://www.p

[2022-09-29 08:20] florine2623 commented on #29795
Hello @sLorenzini 👋 ,

I reproduce the issue with PrestaShop version 8.0.0 and develop branch, I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contacting a professional](https://www.prestas

[2022-09-29 08:23] lartist commented on #29399
Hello @HanaRebaiQA I didn't succeed to reproduce the bug. I did autoupgrade from 1.7 to 8 and that's what i get
<img width="1676" alt="Capture d’écran 2022-09-29 à 10 22 47" src="https://user-images.githubusercontent.com/10706307/192979693-bb890f95-1e38-4859-92f9-fe3105784866.png">

[2022-09-29 08:28] florine2623 commented on #29788
Hello @sabrinaih ,

I can't reproduce your issue.

We use GitHub issues only to discuss about bugs and new features in the PrestaShop project. If you have questions about using PrestaShop or third-party modules, or if you need help with your shop, please consider one of our [support plans](https://www.prestashop.com/support).

Alternatively, you can also ask for help in the [community forums](http

[2022-09-29 08:28] #29788 closed, assigned to nobody

[2022-09-29 08:50] florine2623 commented on #29807
Thank @kpodemski ,

Thank you for your suggestion. Waiting for another maintainer to approve your suggestion ^^

We're waiting for your PR 🚀

Thank you

[2022-09-29 08:54] eshraw opened #29809 "APIS07 - Add “Authorization server” in the side menu of the BO"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-29 08:59] eshraw opened #29810 "APIS08 - Display the lists of authorized applications in the page “Authorization server”"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-29 09:06] florine2623 commented on #29787
Hello @Triloworld ,

@PrestaShop/wording-managers will take a look and get back to you.

Thanks for the suggestion!

[2022-09-29 09:20] florine2623 commented on #29806
Hello @fixo94 ,

Can you send me the cart.tpl file so I can see what you changed ?
Also, a screenshot of the result in FO would be great.

Waiting for your feedback.
Thanks!

[2022-09-29 09:26] fixo94 commented on #29806
Ok i find a way in override Cart.php line 194 :
$row['available_date'] = $additionalRow['available_date'];
Just before unset($additionalRow);

I think this line must be add in Cart.php
A screen of the result :
![image](https://user-images.githubusercontent.com/8167966/192994716-0fe0724f-1b02-4bcd-bc83-b7fdfb0fcbc6.png)

[2022-09-29 09:39] ElodieOS commented on #25950
Hello everyone, I didn't find an example of this issue (filter with radio button or drop-down list). Maybe it has been solved or the proposed solution has been implemented ?

[2022-09-29 09:58] eshraw opened #29811 "APIS09 - Display the lists of available scopes"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-29 10:07] eshraw opened #29812 "APIS11 - Create an authorization server management for an application"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-29 10:15] eshraw opened #29813 "APIS10 - Create an App object in the BO to manage API accesses of external applications"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-29 10:40] florine2623 commented on #29806
Ok, thanks.
So you solved the issue, right ? I can see that the date has the right format.

[2022-09-29 10:43] fixo94 commented on #29806
Yes but i think this value need to be set for everybody.
So a PR can be made.

[2022-09-29 11:48] nitronco opened #29814 "FO: SEO minor bug in some languages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In some languages, such as Persian

[2022-09-29 13:17] lmeyer1 opened #29815 "Blockwishlist - the wishlists have a public URL that is not protected enough"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Wishlist pages are publicly accessi

[2022-09-29 13:20] TomanDesign commented on #26855
I had wrong language iso code set, it should be GB instead of EN.

[2022-09-29 13:51] eshraw opened #29816 "APIS12 - Revoke an authorization access for an application"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-29 15:01] zenerry commented on #26855
Hi @TomanDesign ,
this might be not the best technical answer, but as fas as I can tell is that after I updated something dd not when absolutely well, and I tryed just picking those JS bundles that where throwing errors (2 in my case) from the native installation package and overwriting them in my project.

After that, everything run smothly!

give me back your opinion if you try, please!

hope it

[2022-09-29 15:02] matks commented on #26427
## Status update

PrestaShop 8.0.0 RC1 has been built, and PrestaShop Autoupgrade module 4.15.0 also [has a release candidate](https://github.com/PrestaShop/autoupgrade/pull/513).

Both releases candidates have been delivered to QA team for testing. Testing of the upgrade process will first focus on upgrades from 1.7.8 to 8.0.0 RC1.

[2022-09-29 15:03] florine2623 commented on #29815
Hello @lmeyer1 ,

On blockwishlist module, a wishlist can be shared only via the share link that looks like : `myshop.com/en/module/blockwishlist/view?token=38586C798D8BAFD2`

If I share a link through my wishlist in my customer acccunt, I cannot access via if I am not logged in as customer : `myshop.com/en/module/blockwishlist/view?id_wishlist=1`
<img width="1135" alt="Screenshot 2022-09-29 at 17

[2022-09-29 15:18] florine2623 commented on #29815
You are using PS 1.6.7.6 ?

On my end, I tested with 1.7.8.7 as you wrote in the issue and blockwishlist v2.1.2.

Let me know when you have more info!

[2022-09-29 16:03] florine2623 commented on #29780
Hello @szavadskiy ,

I have reproduced the issue with autoupgrade module. This module also adds a link in the menu.

I disable my module only for shop2, it is hidden in left menu: ✅
<img width="1437" alt="Screenshot 2022-09-29 at 17 51 03" src="https://user-images.githubusercontent.com/16019289/193079380-3309f060-3016-45e5-b181-28f82c467f4f.png">
I go to ps178 shop, I don't see the autoupgrade mod

[2022-09-29 19:35] TomanDesign commented on #26855
Hi @zenerry, everything works for me after overwritten files js/admin/tinymce.inc.js and admin/themes/new-theme/public/cms_page_form.bundle.js by prestashop from clean install package files, (issue #27173 ) I don't know why 1-Click Update module doesn't udated them while upgadeing 1.7.7.8 to 1.7.8.7 version. In my case, I had also to correct the language iso code because the AP Page Builder module

[2022-09-30 03:49] simongareste opened #29818 "actionGetProductPropertiesBefore hook is missing from install"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In `classes/Product.php`, in the `g

[2022-09-30 07:36] MatShir opened #29819 "Visibility (catalog, everywhere, …): there should be a dynamic help text above the radio buttons"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-09-30 08:31] daresh opened #29820 "Group access for categories is being checked even after disabling customer groups"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

PrestaShop keeps checking group acc

[2022-09-30 08:40] Hlavtox commented on #29820
@daresh Good catch, will be fixed by https://github.com/PrestaShop/PrestaShop/pull/29821

[2022-09-30 09:15] zenerry commented on #26855
@TomanDesign Great news! then, we both think that "1-Click update" is missing some files to overwrite!

[2022-09-30 10:26] ElodieOS commented on #26153
Hi everyone !
Thank you for yours suggestions @madsoliver :)

**I’m totally agree with the issue of the edit-button**. We can have it all the time because it is the main action we need to do quickly.

However, for the other propositions, I have some coments:
- I think the sorting icon is quite recognizable because it’s more and more used in modern software. Unfortunately, the table contains a lot

[2022-09-30 10:45] MhiriFaten commented on #29820
Hello @daresh ,

I was able to reproduce your issue using the same steps mentioned with PS1787, PS178X and PS80X

[Untitled_ Sep 30, 2022 12_36 PM.webm](https://user-images.githubusercontent.com/111756615/193253482-f1fb775f-aea9-481f-9cc7-769554856004.webm)

Thank you

[2022-09-30 11:56] Hlavtox commented on #29818
@simongareste Hi Simon, good catch! Can you please add it to hook.xml and make a PR on develop branch?

[2022-09-30 12:21] HanaRebaiQA commented on #29699
Hello,

When testing with 8.0.0 RC build1, i was able to reproduce the errors in theses pages (As mentioned previously in the description):

BO > SELL > Stats pgae
BO > SELL > Stats > PrestaShop Metrics
BO > Advanced parameters > Merchant expertise

1. Enable the Disable non-native module option
2. Do not uninstall the problematic modules
3. Use the release of autoupgrade.zip (v4.15)
4. Upgrade fr

[2022-09-30 12:34] simongareste commented on #29818
Hi,

No problem, I'll do that this week-end. Given that I believe there are quite a few others that are not present, do we agree that we should have all hooks mentioned in the documentation / code (including deprecated ones like actionGetProductPropertiesAfter for compatibility with previous themes/modules) present in the database upon installation?

[2022-09-30 12:37] Hlavtox commented on #29818
Yes all the hooks should be there, from time to time everyone finds some that aren't there. It's not a problem, it's gonna get created if some module hooks on it, but it's good if the hook has description.

I wonder if there is a way to scan the codebase for all hooks. 🤔

[2022-09-30 12:43] AureRita opened #29824 "SQL Manager - Help Button - Display all sub part like title"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

We have some sub part on the help b

[2022-09-30 13:10] sLorenzini opened #29825 "BO - Modules - Titles & subtitles are too close on any configure module's page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I go on any configure module's

[2022-09-30 13:56] MhiriFaten commented on #29824
Hello @AureRita ,

Thanks for your issue.
I was able to reproduce the issue using the same steps to reproduce with PS800 and PS8.0.x **but not** with PS1787 and PS1778 so it's a regression.

[2022-09-30 13:58] MhiriFaten commented on #29759
Hello @rost9999,

I followed your steps in your screen record, yet I didn't manage to reproduce the issue, see the attached screen record below:
Waiting for your feedback.

[Untitled_ Sep 30, 2022 3_16 PM.webm](https://user-images.githubusercontent.com/111756615/193285938-3625ea0a-a338-4d31-9d4c-894fc6251426.webm)

Thank you.

[2022-09-30 14:50] sLorenzini opened #29826 "BO - Bad icon display on left menu in French or another long language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

"Shop parameters" icon is not align

[2022-09-30 15:02] adviva opened #29827 "Gateway timeout status while extending admin twig template"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The problem is about the extends of

[2022-09-30 15:25] MhiriFaten commented on #29818
Hello @simongareste ,

I reproduce the issue with PrestaShop version PS1767, PS1770, PS1786, PS800, I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved. If this one is important to you and you cannot wait for it to be fixed on the project’s own time, we strongly suggest you consider [contacting a professional](https://www.pr

[2022-09-30 15:59] MhiriFaten commented on #29826
Hello @sLorenzini ,

Thanks for your issue.
I was able to reproduce the issue using the same steps to reproduce with PS1778, PS1787 and PS8.0.x

[2022-09-30 16:02] MhiriFaten commented on #29827
Hello @adviva ,

I didn't manage to reproduce the issue with the provided informations.
Could you please provide some screenshots or a screen record of the issue :pray:
Waiting for your feedback.

Thanks!

[2022-09-30 18:07] Hlavtox commented on #29818
@simongareste

List of missing hooks: 😄😄
[code]

[2022-09-30 21:42] tameroski commented on #29734
Hi,
This is how you can reproduce the issue :

1. Download Prestashop in a directory, let's say `path/to/prestashop`
2. In your web server root directory, create a symlink pointing to that directory like this :

`ln -s /path/to/prestashop/ /var/www/prestatest`

<img width="687" alt="Capture d’écran 2022-09-30 à 23 25 56" src="https://user-images.githubusercontent.com/338432/193359392-f0691e10-88

[2022-10-01 11:08] nitronco commented on #29814
Hello @florine2623
Please note that there is no problem on the page except that inside the div tag with the "product-details" identifier, the information including the product image is created (data-product), which is incomplete. Google scans this link and displays it as a 404 link in Google Console.
As you can see in the second image, the name of the image becomes incomprehensible phrases and cre

[2022-10-01 18:54] RiviereMarc commented on #27777
Hello,

This issue occur also on Prestashop version 8.0.0 beta.1
PHP Version : 8.1.10 or version : 8.0.23

Regards
Marc.

![1](https://user-images.githubusercontent.com/114829824/193424104-f10373a4-339b-4333-9852-093846a13324.PNG)
![2](https://user-images.githubusercontent.com/114829824/193424106-0c13bd80-7e07-480d-ad18-f3f7586d77bc.PNG)
![3](https://user-images.githubusercontent.com/114829824/193

[2022-10-01 22:20] TheKruspe commented on #26676
I would like to see this switchable for specific categories or products.

[2022-10-02 12:24] Rubben1985 opened #29830 "Page 2 of inside of CMS category return to root"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Inside of a **category** CMS, when

[2022-10-02 12:29] Rubben1985 commented on #29830
Here is the solution for TB fork (&PS 1.6?)
https://github.com/thirtybees/thirtybees/commit/844f9ec4d028d385c90f192c6b14a020165d54b6

I tried to apply it to PS 1.7 but files are differents.

[2022-10-02 12:30] Rubben1985 commented on #10399
Here is the solution for TB fork (&PS 1.6?)
https://github.com/thirtybees/thirtybees/commit/844f9ec4d028d385c90f192c6b14a020165d54b6

I tried to apply it to PS 1.7 but files are differents.

[2022-10-03 06:57] hekep opened #29834 "ContextErrorException Warning: htmlspecialchars() expects parameter 1 to be string, array given. at ModuleCore->fetch()in ps_featuredproducts.php line 248"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

ContextErrorException
Warning: html

[2022-10-03 07:16] hekep commented on #29834
54af6b2b1e7ea8a99a3a8660d89122f6f40fe91e_2.file.product.tpl.php line 129 is:

                    <input type="hidden" name="id_customization" value="<?php echo htmlspecialchars($_smarty_tpl->tpl_vars['product']->value['id_customization'], ENT_QUOTES, 'UTF-8');?>

[2022-10-03 07:40] Hlavtox commented on #27318
@MatShir Proper picture tag example for main image on product page.

[code]

[2022-10-03 08:45] Progi1984 opened #29836 "Target prestashop.com for samples in `ps_imageslider`"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When installing `ps_imageslider`, t

[2022-10-03 09:55] florine2623 opened #29838 "BO > Profiles - If I bulk delete Profiles including mine, only the ones above mine will be deleted"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

https://user-images.githubuserconte

[2022-10-03 09:58] PululuK opened #29839 "[FO] Wrong datas in order return with multiple products"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The data is incorrect when making a

[2022-10-03 10:02] #29799 closed, assigned to nobody

[2022-10-03 10:09] lartist commented on #27497
I know this Issue is relatively old but I tried to reproduce the bug but I didn't succeed. I can't see any checkbox appear. Do you think this Issue got useless?

[2022-10-03 10:42] matks commented on #29654
I think the good solution is `redirect to login form or the homepage`: user should not stay in this area

[2022-10-03 11:47] daresh commented on #9932
One of my customers had this issue today on 1.7.8.7. So it seems it still happens somehow that the address ID is different for both tables. So far I applied a patch to fix address ID for cart_product table, I don't know how to reproduce this issue.

[2022-10-03 11:49] matks commented on #29654
Started by @0x346e3730

[2022-10-03 12:34] AureRita commented on #29806
Hi @fixo94 !

as you fixed the issue, I will close the issue, if you want, you can [contribute it back to the project](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-requests/). Remember that the more people contribute, the better PrestaShop becomes for everyone.

Thank you

[2022-10-03 12:34] #29806 closed, assigned to nobody

[2022-10-03 12:44] florine2623 opened #29843 "BO > Profiles - I can add multiple Profiles with the same name with no warning or error message"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I can add multiple Profiles with th

[2022-10-03 12:58] AureRita commented on #29814
Hello @nitronco,

I tried to reproduce you issue as you can see :

https://user-images.githubusercontent.com/100699445/193581424-4a0969d2-e49b-42bf-a232-a1cd3470e3bb.mp4

I checked the large_default and I didn't have the same result as you, I have the same things of @florine2623.

Can you give us a video of all the process to reproduce your issue ?

Waiting for your feedback

[2022-10-03 13:15] AureRita commented on #29830
Hi @Rubben1985

I reproduce the issue with PrestaShop version 1.7.8.7 and not with the version 1.7.7.8. Nice catch ! It's a regression ! I'll add it to the patch backlog.

You can see that I reproduce you issue on this video :

https://user-images.githubusercontent.com/100699445/193585339-fba8cfe1-c1e9-4a19-a97d-4e9910dbd372.mp4

Please be aware that some issues might take a very long time to be r

[2022-10-03 13:26] lartist commented on #27600
Hi @khouloudbelguith,
Do you have a screenshot of what do the inputs should look like?

[2022-10-03 13:29] AureRita commented on #29834
Hi @hekep

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it,currently, I don't know why you have your issue, I have no information that allow me to reproduce your issue. **You must follow the template and provide clear and concise steps to reproduce the bug**.
Read more about how we expect the issues to be handled [here](ht

[2022-10-03 13:29] #29834 closed, assigned to nobody

[2022-10-03 13:37] AureRita commented on #29836
Hi @Progi1984 ,

Thank for your reprot, I reproduce the issue with PrestaShop version 8.0.0, I'll add this to the backlog so it can be fixed.
We can see your issue on this screen
![image](https://user-images.githubusercontent.com/100699445/193591302-76548da4-5106-44f2-9d0a-37f0736d2ed0.png)

Please be aware that some issues might take a very long time to be resolved.

Thanks

[2022-10-03 13:42] sLorenzini opened #29848 "Theme Customization module - Mobile - Disable mobile action is not working + bad display on tab on mobile screens"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I want to disable theme customizati

[2022-10-03 14:05] eshraw commented on #29838
Hello, thanks @florine2623 , @AureRita

Best case scenario should be "I cannot select my own profile for a bulk action" as bulk actions (enable/disable/delete) are affecting profile integrity.

Expected behaviour is as follow in case best case scenario cannot be achieved :
- Given that I have admin rights
- When
   - I select multiple profiles including mine using check boxes
   - And I try to per

[2022-10-03 14:08] AureRita commented on #29839
Hi @PululuK ,

I reproduce the issue with PrestaShop version1.7.8.7, as we can see on this video :

https://user-images.githubusercontent.com/100699445/193598081-772158d8-fcad-49ec-9443-6c197f920429.mp4

I'll add this to the backlog so it can be fixed.

Thank you for your PR :rocket:

Thanks

[2022-10-03 14:32] AureRita commented on #29843
Hi @florine2623 ,

Thank for the report,I reproduce the issue with PrestaShop version 1.7.7.8. I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved.

Thanks

[2022-10-03 14:58] adviva commented on #29827
Hello @MhiriFaten,

I attach a test module that extends Admin Product template.
What happen in my case is an infinite loading while opening product page and i have to restart php process.
Let me know if you are able to open the admin product detail after have installed the test module.

Thanks!
[pcomtest.zip](https://github.com/PrestaShop/PrestaShop/files/9698578/pcomtest.zip)

[2022-10-03 15:01] AureRita commented on #29848
Hi @sLorenzini ,

I reproduce the issue with PrestaShop version 1.7.7.8, I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved.
Thanks

[2022-10-03 15:17] sLorenzini opened #29849 "BO - Responsive - Update status button and list option status are not displayed correctly in order details page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On responsive screen (from 544px to

[2022-10-03 15:35] AureRita commented on #29827
Hello @adviva,

I reproduced your issue as we can see on this video :
[Untitled_ Oct 3, 2022 5_27 PM.webm](https://user-images.githubusercontent.com/100699445/193617730-100dda07-fbfb-455f-84ff-45610bc83ca8.webm)

@PrestaShop/prestashop-maintainers, can you check it if it's not due to the module ?

waiting for your feedback

[2022-10-03 15:38] AureRita commented on #29849
Hi @sLorenzini  ,

I reproduce the issue with PrestaShop version 8.0.0 and not with the version 1.7.8.7 Nice catch ! It's a regression ! I'll add it to the patch backlog.

Please be aware that some issues might take a very long time to be resolved.

Thank you

[2022-10-03 15:40] AureRita commented on #29734
Hi @tameroski,

Unfortunately, I didn't manage to reproduce the issue with the provided infos, as you can see, my mail are well send
![image](https://user-images.githubusercontent.com/100699445/193551835-589ad0fc-64be-4b48-b11b-aedbc439f5a6.png)

Did you see some emais template when you go on :
BO > Design > Email Theme
scroll down and clic on the icon nex to modern

Waiting for your feedback

[2022-10-03 15:43] PereGE opened #29852 "Problem with product customization upload"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have a website, where all product

[2022-10-03 15:49] #29058 closed, assigned to nobody

[2022-10-03 21:02] compsoul commented on #28457
Same. {$product.delivery_in_stock} on product tpl shows empty string.

[2022-10-03 21:39] compsoul opened #29856 "Delivery in stock return empty string"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Similarly issues:
#28457
#18559

Pr

[2022-10-04 00:26] alfonsolr09 commented on #29852
hola, debes escribir en inglés para obtener alguna respuesta.
hello, you must write in English to get any response.

[2022-10-04 07:38] PereGE commented on #29852
I have a website, where all products must necessarily have a file uploaded by the client. Once the file is uploaded, choose the attributes and characteristics and it is added to the cart.

Well, if you do this always with the same "configuration" of attributes and characteristics, they are added fine, the problem appears when you change these attributes, for example, instead of selecting X, you se

[2022-10-04 08:22] KiLiMaToS commented on #19123
Hello everyone, surely the pagination solution could be an excellent solution for the near future.
I report my example, but it will also be of others with the same type of Shop, some particular products, eg: Monthly Contact Lenses, Toric Multifocal, require this type of variants:
Radius: **2** values
Diameter: generally **1** max value **2**
Power: **111** valides
Cylinder: **11** values
Axis: **3

[2022-10-04 08:43] HanaRebaiQA opened #29858 "Autoupgrade - BO - The Theme Catalog and Module Catalog are displayed with "Page not found" error after an upgrade from 1.7 to 8.0.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

This issue is reported previsiouly

[2022-10-04 10:11] florine2623 commented on #13930
Hello @zuk3975 ,

In 8.0.0, I don't have the exception anymore.
I can create a wrong query, I will be able to Export it to PDF with no exception. There's just nothing on the PDF:

https://user-images.githubusercontent.com/16019289/193793683-b2432ea6-7693-42c5-aae4-37b7f3bc7ddd.mov

Should we modify this bug or should we change it to a feature request ? Waiting for PM decision ^^

Thanks!

[2022-10-04 10:19] paulnoelcholot commented on #29557
Hello @danielkauffman,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-10-04 10:22] paulnoelcholot commented on #29856
Hello @compsoul,

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:

- screenshots
- clear and concise steps to reproduce

Thank you

[2022-10-04 10:25] paulnoelcholot commented on #29559
Hello @danielkauffman,

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog. Please note that you can always create a new one if further information pops up.

Thank you

[2022-10-04 10:25] #29559 closed, assigned to nobody

[2022-10-04 11:46] Rubben1985 commented on #29830
Hi, it is not exactly that but I am glad that you have discover that too :)

It is inside backoffice, cms-> category cms.

[2022-10-04 11:46] Rubben1985 commented on #29830
@AureRita

[2022-10-04 13:27] nitronco commented on #29814
Hi
It's not in "product-image", you have to find "**product-data**" at <div id=product-details" ... , as I said before

[2022-10-04 13:35] florine2623 opened #29862 "FO Quickview - On sale, New, Discount, Web only flags are not displayed"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Might be related to : https://githu

[2022-10-04 13:37] NeOMakinG commented on #29329
@ElodieOS You did test it using the product page v1

You have to activate the product page v2 inside the `Advanced Parameters > New and Experimental Features` and then go to a product page, test on a combination, you'll see the issue

[2022-10-04 13:39] #29004 closed, assigned to NeOMakinG

[2022-10-04 13:40] #28990 closed, assigned to lartist

[2022-10-04 13:44] compsoul commented on #29856
Steps:
1. Set to default template to active
2. Edit catalog/product.tpl
3. Add variable {$product.delivery_in_stock}
4. Open FO product page
5. {$product.delivery_in_stock} is empty

You have similar situations in my first report.

[2022-10-04 14:05] MhiriFaten opened #29863 "FO - product quickview : “Write your review” is unclickable"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The button **write your review** is

[2022-10-04 14:18] florine2623 opened #29865 "FO Responsive - Zoom on product image stretches the images"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I use my tablet and zoom on a

[2022-10-04 14:49] florine2623 opened #29866 "FO - In Cart, text in modal for customized product can exceed modal itself"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Text should be inside the module.

[2022-10-04 15:37] khouloudbelguith opened #29867 "Autoupgrade - BO - Position page & AdminGroup Page - An exception is displayed when the welcome is not uninstalled before the upgrade"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On the BO > Design > Positions page

[2022-10-04 19:22] adamus007p opened #29868 "Two times set-cookie"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have noticed that Prestashop send

[2022-10-05 04:38] leemyongpakvn opened #29869 "Duplicate type casting in ps_facetedsearch module"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-05 05:07] metacreo opened #29870 "PS add taxes on order edit"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have tax excluded customers group

[2022-10-05 08:07] hibatallahAouadni commented on #29852
Hello @PereGE

Following your steps I didn't encounter any issue.
Did you try to reproduce the issue with the Classic theme? and could you please provide a screen record :pray:
Waiting for your feedback.

Thanks!

[2022-10-05 08:22] MhiriFaten commented on #29868
Hello @adamus007p ,

I think you mean 1.7.8.7 cause we didn't release 1.7.8.8 yet :sweat_smile:
Could you please provide a screen record :pray:
Waiting for your feedback.

Thanks!

[2022-10-05 08:25] khouloudbelguith commented on #29329
Hi @ElodieOS, @NeOMakinG,

I updated the description of the issue.

Thank you all!

[2022-10-05 08:43] PereGE commented on #29852
Hello @hibatallahAouadni, Thanks for your answer, but the problem is still there.

I am attaching screenshots of the tests with the native theme.

**Image 1**
![image_1](https://user-images.githubusercontent.com/114938787/194018888-caa4e6f9-8627-4662-9d3c-414eaef9fc6d.png)

**Image 2**
![image_2](https://user-images.githubusercontent.com/114938787/194018884-e8b896ae-fa8e-4229-96e4-7e08b6ab97bc.png

[2022-10-05 09:23] 01park opened #29871 "403 forbidden error on root categorie"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I am not sure if this is a bug, but

[2022-10-05 09:37] paul-jolimoi commented on #29212
Does it make sense to update translation from the configuration of the module ?
Appart of the default wishlist name maybe, but I think those configuration shall be removed and replaced by proper translation string managed by the translation system of prestashop ?

[2022-10-05 10:03] hibatallahAouadni commented on #29869
Hello @leemyongpakvn

Thank you for your suggestion and for your PR :rocket:
The Maintainer Team will take it into consideration for future developments.

Thank you

[2022-10-05 10:49] rost9999 commented on #29759
If turn off PHP Notice, is work.
The error is can't take id_image from false.
![image](https://user-images.githubusercontent.com/25079898/194042850-b82768e8-c3fc-47ce-8d3f-316cd9a60c34.png)

[2022-10-05 11:09] B-spot opened #29873 "1 Click upgrade module does not get uploaded"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi! I downloaded the [1-Click Upgra

[2022-10-05 11:18] Dan-Orchard commented on #15137
Still nothing?

You must note that there are no modules on addons for this functionality

`Facetedsearch is only designed for category page initially and you could find advanced modules on marketplace to add support for others pages.`

I still cannot believe this isn't sorted in core yet.

[2022-10-05 11:25] Prestapro opened #29875 "Bug Installation PrestaShop 8 last step. Error Install theme. HTTP 500 - error"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I'm using Mamp Pro and Mac OS and I

[2022-10-05 11:38] ValentinGratz opened #29877 "SSL cannot be disabled Prestashop 8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I downloaded the beta versi

[2022-10-05 11:46] okapicarton opened #29878 "Sats dashboard does not appear in menu"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![Captura de pantalla 2022-10-05 12

[2022-10-05 11:55] JoBICHE opened #29879 "Display issue"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Issue displaying activity preview s

[2022-10-05 12:29] lmeyer1 opened #29880 "In BO, Advanced Parameters E-Mail, the email log is not filtered by shop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In a multishop environment, when na

[2022-10-05 12:31] florine2623 opened #29881 "FO ps_brandlist - When I click on a brand, it is not selected in the drop-down"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The dropdown selector is not focuse

[2022-10-05 12:34] Mwaqas1 opened #29882 "Bug in Guest Checkout "Address" "Invoice address""
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There's is long pending unresolved

[2022-10-05 12:39] lmeyer1 commented on #29880
I notice, that in the table `ps_mail` there is not even a column `id_shop`, therefore, it is not possible to filter against the originating shop.

[2022-10-05 13:09] danieledexter commented on #19849
Hello everyone, I am writing here because I have encountered a similar problem.

I'm new here and i don't know if it's the right place to write.
If necessary I will open a new issue.

However my problem is that the pr_layered_price_index table has all prices = 0.
I believe this is the table used for sorting the list of products, right?

In my site I have entered all the products with price = 0 and

[2022-10-05 13:33] paulnoelcholot opened #29884 "New Twitter Github Facebook logo in the authentication page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

New Twitter Github Facebook logo in

[2022-10-05 13:43] paulnoelcholot commented on #29884
@TristanLDD

[2022-10-05 13:47] smarzougui opened #29885 "Error 500 if phone is required in the adresse."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Senario:

Back office: In adress, c

[2022-10-05 13:57] #28889 closed, assigned to nobody

[2022-10-05 13:58] smarzougui opened #29886 "SEO isssue: 302 Redirection to default Declination URL ( declinations URLs not included in sitemap )"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

For products with declinations,
Pre

[2022-10-05 14:07] AureRita opened #29887 "BO - Help Button - Help button in max size"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you are disconnected from the

[2022-10-05 14:18] NeOMakinG commented on #29879
@JoBICHE do you want to try to contribute to fix it?

[2022-10-05 14:25] hibatallahAouadni opened #29889 "[BO - Product V2] can't change the default combination in the list"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Choosing another combination to mak

[2022-10-05 14:26] AureRita opened #29890 "BO - Problem with google chrome and the eye of Preston"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you're with Google chrome v.10

[2022-10-05 14:26] hibatallahAouadni commented on #29889
@HanaRebaiQA reproduced it too :tada:

[2022-10-05 14:27] MatShir commented on #25790
Can't we create a new image setting with a big width and height? Use this size as original image 🤔

[2022-10-05 14:46] matks commented on #29890
@AureRita maybe Preston is sad 😢

[2022-10-05 14:49] Hlavtox commented on #25790
@MatShir Yes I was thinking about it, it would be good. But there would need to be an option called "do not upscale image if the original is smaller" and "keep the aspect ratio".

[2022-10-05 14:59] TristanLDD commented on #29884
We should keep the new icons as the 1.7 ones were more "customized icons" than official logos, but the spacing between each icon must be 15px, right now they are too close to each other.
thx!

[2022-10-05 15:02] MatShir opened #29893 "Configure new image format for the new image system"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-05 15:08] Progi1984 opened #29894 "Incorrect number of columns when filtering in Shopping Carts page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In Shopping Carts page, if I filter

[2022-10-05 15:12] hibatallahAouadni commented on #29890
Hello @AureRita

I didn't manage to reproduce the issue with PS1778, PS1787 and PS800 with Chrome v105, see the attached screen record below:

[issue_29890_2.webm](https://user-images.githubusercontent.com/23308427/194090981-a88079c1-2308-462c-b16d-dbf11d97c5d0.webm)

Closing the issue as it's not a bug.

Thanks!

[2022-10-05 15:12] #29890 closed, assigned to nobody

[2022-10-05 15:21] jolelievre opened #29895 "Core archives new API has different format not adapted with the Core"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

For PrestaShop version 8, the trans

[2022-10-05 15:28] JoBICHE commented on #29879
Yes, with pleasure !

[2022-10-05 15:30] hibatallahAouadni commented on #29887
Hello @AureRita

I didn't manage to reproduce the issue with PS1778 and PS800.
Could you please create a fresh shop and try to reproduce the issue.
Waiting for your feedback.

Thanks!

[2022-10-05 15:36] sallemiines commented on #29863
Hello @MhiriFaten

Thanks for reporting the issue
I reproduce the issue with PS1778 PS1787 and PS800,  you can see the issue here :

https://user-images.githubusercontent.com/31663369/194101845-248f656d-7183-4008-81eb-17f211351132.mp4

Thank you !

[2022-10-05 15:43] sallemiines commented on #29871
Hello @01park ,

Thank you for submitting this issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must follow the template and provide clear and concise steps to reproduce the bug**.
Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you c

[2022-10-05 15:43] #29871 closed, assigned to nobody

[2022-10-05 15:46] mathieuhen opened #29897 "Stock movement added twice during a backoffice order"
### Prerequisites

- [x] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

We are experiencing a probl

[2022-10-05 15:49] Progi1984 commented on #29894
@hibatallahAouadni We discuss with @PrestaShop/qa-automation and we think we should have an empty column. Isn't it ?

[2022-10-05 15:53] sallemiines commented on #29875
Hello @Prestapro

Thanks for this issue .
Could you please advise which theme you are using? did you try to install the store with the default theme or did you use another theme?

Please check feedback ! :pray:

[2022-10-05 16:02] hibatallahAouadni commented on #29886
Hello @smarzougui

Thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. **You must provide clear and concise steps to reproduce to submit a complete bug report**.

Read more about how we expect the issues to be handled [here](https://build.prestashop.com/news/how-bug-reports-are-handled/). Feel free to create a new issue if you can provide

[2022-10-05 16:02] #29886 closed, assigned to nobody

[2022-10-05 16:06] sallemiines commented on #29880
Hello @lmeyer1

Thanks for re  this issue .
Following your steps I didn't reproduce your issue !
Could you please provide us a screen record .

Thank you !

[2022-10-05 16:18] hibatallahAouadni commented on #29873
Hello @B-spot

I didn't reproduce the issue with the provided infos, could you please provide your 1-Click Upgrade Module version :pray:
Waiting for your feedback.

Thanks!

[2022-10-05 16:22] sallemiines commented on #29882
Hello @Mwaqas1
Thanks for reporting the issue

Following your steps until the step 7, I reproduce that the created addresses are duplicated , but unfortunately I can't reproduce the steps 7 et 8 ! you can see the issue here :

https://user-images.githubusercontent.com/31663369/194111273-8d5d7048-30c2-4c86-aa83-ea5c98bb264e.mp4

Could you please provides us a screen record !

Thank you !

[2022-10-05 16:23] hibatallahAouadni commented on #29779
Hello @haveyougotanypets

Thanks for your patience :pray:
Unfortunately I didn't manage to reproduce the issue with the provided infos :disappointed:
Could you please provide a screen record :pray:

Thanks!

[2022-10-05 16:27] #29870 closed, assigned to nobody

[2022-10-05 16:27] hibatallahAouadni commented on #29870
Duplicate of #23784

[2022-10-05 16:40] hibatallahAouadni commented on #29878
Hello @okapicarton

I didn't manage to reproduce the issue with PS1770 and PS1774, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/194114479-6cb96327-519f-46b6-a92d-041fdcb8e9fb.png)

Neither with PS8.0.0, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/194114676-fb7e257c-077a-4f00-8ff8-60f27b6e825f.png

[2022-10-05 16:40] #29878 closed, assigned to nobody

[2022-10-05 16:48] sallemiines commented on #29881
Hello @florine2623

Thanks for reporting the issue
I reproduce the issue with PS1778 PS1787 and PS800.

Thanks for your PR :rocket:

[2022-10-05 16:49] hibatallahAouadni commented on #29879
Hello @JoBICHE

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #27602.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-10-05 16:49] #29879 closed, assigned to nobody

[2022-10-05 16:49] hibatallahAouadni commented on #29879
Duplicate of #27602

[2022-10-05 16:59] hibatallahAouadni commented on #29734
Hello @tameroski

Thanks for all provided infos :pray:
Ping @PrestaShop/prestashop-core-developers someone please try to reproduce the issue, it's too technical!

Thanks in advance!

[2022-10-05 17:23] hibatallahAouadni commented on #29814
Hello @nitronco

Following your steps, this is what I got (see attached screen recording below):

[issue_29814.webm](https://user-images.githubusercontent.com/23308427/194122745-eb723006-05c2-4d3e-bfc6-06685d03d963.webm)

Do you mean when we only have `-.jpg` for the image name is a bug?
Please check and feedback.

Thanks!

[2022-10-05 17:34] Mwaqas1 commented on #29882
Thank you so much for looking into this issue.
Well in your video you are editing **shipping address**, while in the step 7 i had wrote to edit the **invoice address**.
please can you test on this as well where i am testing, PS 1.7.8.7 > https://flowfeet.com/ or this > PS 1.7.8.7 http://amnadesigns.pk/
the second one is fresh installation of PS, both the stores are using different themes!
Thanks a

[2022-10-05 17:51] dennisgon commented on #29863
Can you assign it to me? I will help to solved the bug

[2022-10-05 19:32] matks commented on #29212
I suppose it allow merchant to be able to customize this item from the "Configure" page of the module, and maybe it is easier than searching in the back-office translation page.

[2022-10-05 19:39] matks commented on #29902
Dear @PrestaShop/qa-team I transferred this issue from https://github.com/PrestaShop/ps_buybuttonlite/ it was in the wrong place. This report is from 2018 can you check if it is still valid?

[2022-10-05 19:41] matks commented on #29901
Transferred 😄

Dear @PrestaShop/qa-team I transferred this issue from https://github.com/PrestaShop/ps_buybuttonlite/ it was in the wrong place.

@dobra947 in order to make it easier to work on this issue do you think you could follow the format like in https://github.com/PrestaShop/PrestaShop/issues/29897 for example ? Provide steps to reproduce and expected behavior?

[2022-10-05 20:10] metacreo commented on #29870
NO! This is similar and not affected to "price display" method. This issue on processed orders. When order processed without taxes... on edit order taxes added... even if globally on the site price display method is without taxes...

[2022-10-05 20:23] metacreo commented on #23784
@gennaris in PS "Price display method" only on product pages, lists, etc... PS no have public solution to exclude tax for group or customer... so they make money on modules who present this as feature. I recommend you use module to make vat exclusion.

[2022-10-05 20:28] metacreo commented on #23784
@hibatallahAouadni  #29870 closed as duplicate... different issue. Not related to "Price display method".

[2022-10-05 20:37] PululuK opened #29903 "`HelperOptions` select multiple not work"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

`HelperOptions` select multiple not

[2022-10-05 21:25] go-sudo opened #29905 "id_address_invoice when i change order status"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello

The mail is not sent when I

[2022-10-05 21:51] smarzougui commented on #12048
THis genrates internal Redirections 302, to the URL with the attribute ID.
And this very bad for SEO.
Any solutions ?

[2022-10-06 05:36] B-spot commented on #29873
Hi!
Well, the version is
v4.14.2
<https://github.com/PrestaShop/autoupgrade/releases/tag/v4.14.2>but you can
either download the zipped file from here: https://we.tl/t-Ef9vuBJsg8
or you can also download it from GitHub, this was from where I downloaded
it yesterday: https://github.com/PrestaShop/autoupgrade

Thanks

Στις Τετ 5 Οκτ 2022 στις 7:19 μ.μ., ο/η Hibatallah Aouadni <
***@***.***> έγραψε:

[2022-10-06 06:40] gennaris commented on #23784
@metacreo: the issue I reported concerns how data is displayed into a misleading table in the native order history page...
Unfortunately a module cannot solve it :)

In any case, if it helps, I can confirm that my issue and your issue #29870 are not duplicates, as mine is just a visualization issue.

[2022-10-06 07:10] metacreo commented on #23784
@gennaris Thank you for confirmation. In your case exactly module can help you.
![user_info_page](https://user-images.githubusercontent.com/543458/194238036-7d53b291-0eeb-4ae8-aa59-9185333bea8e.png)
![email](https://user-images.githubusercontent.com/543458/194238155-60b5c9c2-d2d5-4fb9-958d-6ecdbc72ce29.jpg)
![pdf](https://user-imag
![order_conf](https://user-images.githubusercontent.com/543458/194

[2022-10-06 08:13] florine2623 opened #29908 "BO - Legacy page VS migrated page - Export to SQL Manager button leads to query without indentation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The SQL query is in 1 big block (un

[2022-10-06 08:41] metacreo commented on #23784
wrong. because carrier tax calculating separately....

[2022-10-06 08:44] gennaris commented on #23784
@metacreo

In your screenshot there are **no taxes** involved,
so the totals appears correct in the table, this already happens to be correct now.

My report only concerns orders **with taxes** on products/carrier,
for customer groups that have the "price display tax excluded" flag turned on in BO.

[2022-10-06 08:51] sallemiines commented on #29903
Hello @PululuK
Thanks for reporting the issue .

I tried to reproduce your issue with PS1778 , Ps1787,
but I got this behivor , see the attached screen-shot
Could you please check your screenshots: Bug and Expected behavior , because I think you may switch them!

![Groups • 1787](https://user-images.githubusercontent.com/31663369/194267151-a481fea6-2964-4700-9655-72ea594e8244.png)

I think that th

[2022-10-06 09:01] 0x346e3730 commented on #29684
@Jose-comonsoft Wanted to thank you for the analysis you did, made it easier to track and fix !

[2022-10-06 09:06] atomiix commented on #29758
@hibatallahAouadni what was the URL of your shop? If it's `127.0.0.1`, `::1` or `localhost`, this is the expected behavior as we consider local as maintenance

[2022-10-06 09:42] thomasDelaporte opened #29911 "Modify doctrine.yml configurations in modules"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-06 09:45] sallemiines commented on #29905
Hello @go-sudo

Thanks for reporting the issue .

Following your steps I didn't reproduce your issue , all the received emails are **OK** ,  see the attached screen record

https://user-images.githubusercontent.com/31663369/194280356-ad3cf826-45b5-47d9-966a-6558706017e9.mp4

Could you please check in **Shop parameters > Order Setting > Statuses**   that the option` Send an email to the customer wh

[2022-10-06 10:15] go-sudo commented on #29905
Hello

https://user-images.githubusercontent.com/11594433/194285150-f0e97e4a-9c06-4700-bc8b-d2cc71321762.MOV
![D1FFFF25-53E4-4FB7-8AF2-B6AA695305DF](https://user-images.githubusercontent.com/11594433/194287973-642e7607-2228-425d-adc8-f134dbfcad9e.png)

Regards

[2022-10-06 10:19] go-sudo commented on #29905
Hello

I resolved the issue thank you

the order status was linked to deleted template mail

Regards

[2022-10-06 10:29] sallemiines commented on #29903
Hello @PululuK

As we disscussed on slack ,  you encountred an issue while overriding.
Did you encounter this issue only on 1.7.8.7 and 8.0.0 (means a regression) or it's an old bug?
Ping @PrestaShop/prestashop-core-developers : Could someone please try to reproduce the issue, it's too technical!

Thanks!

[2022-10-06 10:34] #29905 closed, assigned to nobody

[2022-10-06 10:48] sallemiines commented on #29885
Hello @smarzougui

Thanks for your report.
Following your steps, I couldn't reproduce your issue !

The issue is fixed in the PS version 1.7.3.0.
Here is a PR: [#8435](https://github.com/PrestaShop/PrestaShop/pull/8435)
[#7975](https://github.com/PrestaShop/PrestaShop/pull/7975)
I close the issue, feel free to open a new one when needed.
Thanks!

[2022-10-06 10:48] #29885 closed, assigned to nobody

[2022-10-06 10:49] Prestapro commented on #29875
Hi,
Yes, this is the default template.

[2022-10-06 10:57] sallemiines commented on #29911
Hello @thomasDelaporte ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or any

[2022-10-06 11:13] khouloudbelguith opened #29913 "BO - Products - An exception is displayed after deleting a product created with V1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO > Catalog > Products page

[2022-10-06 13:00] khouloudbelguith opened #29914 "BO - Products - An exception is displayed after deleting a product created with V2"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Related to https://github.com/Prest

[2022-10-06 13:33] sallemiines commented on #29897
Hello @mathieuhen  !
Thanks for reporting the issue.
I reproduce the issue with PS1778 PS1787 , see the attached screenShot

![Stock • 1787](https://user-images.githubusercontent.com/31663369/194326160-61feecb0-19b9-47fb-8513-cd5b27e8df16.png)

But with PS800 it's ok ,  see the attached screenShot

![Stock • rc_800](https://user-images.githubusercontent.com/31663369/194326448-cdb91d64-e4a4-490b-b0

[2022-10-06 13:49] mathieuhen commented on #29897
Hello @sallemiines !

OK good, do you think a fix for 1.7.8.7 will be available ?

[2022-10-06 13:54] sallemiines commented on #29902
hello @chiruVai !

Thanks for your report.

I check your issue  with Ps1787 and the ps_buybuttonlite v1.0.1
Following your steps, I couldn't reproduce your issue ! see the attached screenShot

![Capture d’écran de 2022-10-06 12-49-37 png (3840×1205)](https://user-images.githubusercontent.com/31663369/194305811-49f18ee2-343d-47b2-b086-7deeda8a0274.png)

I close the issue, feel free to open a new on

[2022-10-06 13:54] #29902 closed, assigned to nobody

[2022-10-06 13:56] #29901 closed, assigned to nobody

[2022-10-06 14:24] PrestaEdit opened #29915 "ps_buybuttonlite - Notice error while search products on PHP 7.4"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you search a product that have

[2022-10-06 14:25] sallemiines commented on #29908
Hello @florine2623

Thanks for reporting the issue.
I reproduce the issue with **PS1778 PS1787 PS800** , see the attached screen record

https://user-images.githubusercontent.com/31663369/194338699-87665f4e-9e57-4528-8d15-0d9b555b022e.mp4

Thnak you !

[2022-10-06 14:26] PrestaEdit commented on #29901
Next time, be carefull about closing issues, please. It's a valid one.

The lack of details is due to the fact that Issue template was not on the repository where the issue was created.
Also, it's less than a day that it was transferred and asked to get more details.

Thanks in advance for contributors.

[2022-10-06 14:30] HanaRebaiQA opened #29916 "BO - A bad display of checkboxes in all migrated pages with RTL language when upgrade from 1.7 to 8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It's related to this issue [#24925]

[2022-10-06 14:41] florine2623 commented on #29877
Hello @ValentinGratz ,

It depends on how your localhost is configured to use SSL.

You should be able to do these steps:
<img width="1206" alt="Screenshot 2022-10-06 at 16 35 10" src="https://user-images.githubusercontent.com/16019289/194341921-6cdc3434-d5c5-4883-8c69-2d6712e6b35d.png">
<img width="1206" alt="Screenshot 2022-10-06 at 16 35 16" src="https://user-images.githubusercontent.com/160192

[2022-10-06 14:55] go-sudo opened #29917 "All mails sent to one costumer"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello

 When I resend mail from his

[2022-10-06 15:17] HanaRebaiQA opened #29918 "BO - A bad display of some items with RTL in product page V2 after an upgrade from 1.7 to 8.0"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

It's related to this issue [#29336]

[2022-10-06 15:51] #29917 closed, assigned to nobody

[2022-10-06 15:54] #29852 closed, assigned to nobody

[2022-10-06 16:03] ValentinGratz commented on #29877
Thanks, in my case I'm talking about disabling it from the database for 8.0.0 beta.

On the other hand in the database, I can't find any line PS_SSL_ENABLE, I looked in all the tables, they are no longer there

table : ps_configuration
![ligne_introuvable](https://user-images.githubusercontent.com/39189263/194362517-1cd1b780-0095-459c-b2d9-02e0d18dfd02.png)

The only solution I found (in localhost

[2022-10-06 16:06] florine2623 commented on #29875
Hello @Prestapro ,

I can't reproduce your issue using Mamp Pro PHP 7.4.

https://user-images.githubusercontent.com/16019289/194363264-2b7fe041-0c8f-4a64-827c-b35d8da66605.mov

Please update your PHP version and try again.

I will close your issue as it can't be reproduced.
Thank you for your understanding.

[2022-10-06 16:06] #29875 closed, assigned to nobody

[2022-10-06 16:07] florine2623 commented on #29877
Can you go to page 2 or display all lines of the table ?

[2022-10-06 16:10] #9823 closed, assigned to kpodemski

[2022-10-06 16:11] #29825 closed, assigned to NeOMakinG

[2022-10-06 16:14] #29877 closed, assigned to nobody

[2022-10-06 16:16] florine2623 commented on #29882
Hello @Mwaqas1 ,

I've tested again on my end using 1.7.8.7 version and classic-theme.

https://user-images.githubusercontent.com/16019289/194365269-6e51a584-119d-4e09-bc98-34e49e948728.mov

I can't reproduce your issue. The issue must come from your template itself. I suggest contacting the developer of the template directly.

As I can't reproduce your issue, I will close it.
Thank you for your u

[2022-10-06 16:16] #29882 closed, assigned to nobody

[2022-10-06 16:18] sallemiines commented on #29856
Hello @compsoul

I test your issue following those steps :

- Access to **themes/classic/templates/product.tpl**
- Add `{$product.delivery_in_stock|print_r}` in the file
- Access to the FO
- Click on a product

==> In my test case I couldn't reproduce your issue, the displayed value in the FO is not emtty, you can see the attached screenShot

![Capture d’écran du 2022-10-06 17-07-40 png (1561×1023

[2022-10-06 16:18] #29856 closed, assigned to nobody

[2022-10-06 16:35] go-sudo opened #29919 "All mails sent to one costumer"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello

When I resend mail from hist

[2022-10-06 17:29] Mwaqas1 commented on #29882
Hi,
Well thanks again, i am developer my self & i had tested on every theme, the bug remains the same.
you are reproducing the bug incorrectly in your video, i wrote at the reproducing steps that edit the "Invoice" please look at the video.

https://user-images.githubusercontent.com/61832872/194379345-71cdfe06-5af0-4365-90a5-32cdf119874b.mp4

Thank you for sparing your time for this

[2022-10-06 18:58] Hlavtox commented on #29919
@go-sudo Hi, that is very weird. Nothing like this is happening on any Prestashop version I have ever used.

Check if you have any overrides or modules intervening with mailing/order processing.

Also, why there are missing lines in your screenshot? The IDs are not sequential.

[2022-10-06 19:35] go-sudo commented on #29919
Hi @Hlavtox
I agree but it happens , you can check here https://video366.com/v/eXILq9 i do not know why the mail is sent with other client name
regards

[2022-10-06 19:36] Mwaqas1 opened #29921 "Bug in Guest Checkout "Address" "Invoice address" #29882"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

There's is long pending unresolved

[2022-10-06 19:39] #29795 closed, assigned to nobody

[2022-10-07 02:35] Cavilezg1989 commented on #18483
@miraago you can solve this issue? i have de same error but i can´t find the solution

[2022-10-07 06:57] metacreo opened #29924 "BO Cannot edit customer"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

BO Customers. On click Edit page no

[2022-10-07 07:52] #28963 closed, assigned to mflasquin

[2022-10-07 08:12] matks commented on #29875
@Prestapro look for logs, it could be plenty things. Wrong permissions, network issue... but installation on a 'standard env' works

[2022-10-07 08:26] paulnoelcholot opened #29925 "[BO] Refresh dashboard"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If I update the dashboard while bei

[2022-10-07 10:34] valentin-anamorphik commented on #21386
@jf-viguier is it possible don't force the update of category friendly URL with a module or override?

This option should be impact all prestashop friendly urls.

[2022-10-07 10:51] hibatallahAouadni commented on #29759
Hello @rost9999

Thanks for your feedback and glad that you find a work arround :clap:
Unfortunately, we have to close the issue as we were not able to reproduce your issue with the provided information.

We will close this issue.

Thanks!

[2022-10-07 10:51] #29759 closed, assigned to nobody

[2022-10-07 10:56] hibatallahAouadni commented on #29868
Hello @adamus007p

Thanks for reporting the issue!
Ping @PrestaShop/prestashop-core-developers someone please try to reproduce the issue, it's too technical!

Thanks in advance!

[2022-10-07 11:01] hibatallahAouadni commented on #29873
Hello @B-spot

Could you please follow my steps:

1. **BO**>**IMPROVE**>**Modules**>**Module Catalog**
2. Search for **`1-Click autoupgrade`** module
3. Click on **`Install`** button
4. The module is successfully installed :tada:

Please check and feedback.

Thanks!

[2022-10-07 11:05] hibatallahAouadni commented on #29919
Hello @go-sudo

It seems that your issue is not a PrestaShop core bug.
Please disbale your overrides and disbale all non-native modules :pray:

We only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).

Alternatively, you c

[2022-10-07 11:05] #29919 closed, assigned to nobody

[2022-10-07 11:09] hibatallahAouadni commented on #29924
Hello @metacreo

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of #25683.
To be informed when it's fixed, please subscribe to the issue mentioned above.

Thanks!

[2022-10-07 11:09] #29924 closed, assigned to nobody

[2022-10-07 11:09] hibatallahAouadni commented on #29924
Duplicate of #25683

[2022-10-07 12:06] florine2623 commented on #19766
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29740

[2022-10-07 12:06] #19766 closed, assigned to nobody

[2022-10-07 14:39] HanaRebaiQA opened #29929 "BO - An error when upgrade from 1.7 to 1.7.8 or to 8.0 when the zip and the xml are erased"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

An error when upgrade from 1.7.7.8

[2022-10-07 14:45] Jose-comonsoft commented on #29684
Hello @sallemiines,

your welcome!
Thx for the video.

best regards

[2022-10-07 14:49] Jose-comonsoft commented on #29684
Thank you too for the fix!
I tested it on prestashoop  version 1.7.8.4 and it works.

best regards.

[2022-10-07 14:50] 0x346e3730 commented on #29684
The fix is not merged so I don't think the issue is fixed yet 🤔

[2022-10-07 15:04] hibatallahAouadni opened #29932 "[AutoUpgrade] The shop breaks while upgrading without xml file (from local archive)"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I try to upgrade a shop (1.7.7

[2022-10-07 15:20] AureRita opened #29933 "[Module] - New product - You can add a character when you need an int"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I can add a caractere like ")" in t

[2022-10-07 15:29] #9605 closed, assigned to AlexTechDev

[2022-10-07 15:35] matks commented on #28895
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29047

[2022-10-07 15:35] #28895 closed, assigned to marsaldev

[2022-10-07 17:09] hibatallahAouadni commented on #29925
Hello @paulnoelcholot

I reproduce the issue with PS1767, 1778, 1787 and 800! I’ll add this to the debug backlog so that it’s fixed.
Please be aware that due to the high number of reported issues, some bugs might take a very long time to be resolved.

Thank you

[2022-10-07 17:31] hibatallahAouadni commented on #29921
Hello @Mwaqas1

Thanks for the perfect bug report :clap: :rocket:
I didn't manage to reproduce the issue with PS1787, see the attached screen record below:

[issue_29882.webm](https://user-images.githubusercontent.com/23308427/194616064-7482a4d2-f0b7-457e-a926-566c1a738f2f.webm)

Did you try to switch your theme to CLassic, cause it ay related to the theme?
Please check and feedback.

Thanks!

[2022-10-08 11:36] adamus007p commented on #29868
@hibatallahAouadni

I am reproducing it in Prestashop demo.

![image](https://user-images.githubusercontent.com/19956106/194705480-3d5b8445-f670-4319-9a04-131b4c7870c8.png)

[2022-10-08 13:19] nitronco commented on #29814
Hello @hibatallahAouadni
Yes. As I said, Google crawler recognizes these links incompletely and causes a lot of 404 errors in the Google search console.
I have solved this problem in the same way for several shops in Persian language, and I thought it necessary to contribute to GitHub to solve the problem forever.

[2022-10-09 10:18] adamus007p commented on #29868
What I have noticed too that Prestashop send cookie in the end of connection. What are purposes for that? I was trying to analize the code.

[2022-10-09 11:54] PrestaEdit commented on #29815
I confirm the issue.

The link to share have a token but the link on the title will give you the ID of the list ; but there is a protection about access to the customer to show you a 403 error if it's not yours.

[2022-10-09 11:57] PrestaEdit commented on #29796
HI @Hlavtox,

What could be the point to allow a module to edit theses generated URLs ?

[2022-10-09 12:04] Hlavtox commented on #29796
Hi, I mostly did the hook to allow modules to add new ones. Easiest way is to just pass it as one array.

About edit scenario - I can imagine a developer that would like to remove some controllers he doesn't want customers to use for example.

[2022-10-09 12:06] PrestaEdit commented on #29824
As far I know, it's not resolved. Isn't it ?

[2022-10-09 19:23] PrestaEdit commented on #9642
Seems to be fixed onto 8.0.0-beta.1

[2022-10-09 21:45] fc-mbouzidi opened #29936 "Tax calculation error for EU customers"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have the bug in Prestashop 1.7.8.

[2022-10-10 07:30] thomasnares opened #29937 "Displaying informations from installation command from cli : Array to String conversion PHP notice"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Displaying informations from instal

[2022-10-10 07:57] #27155 closed, assigned to nobody

[2022-10-10 08:23] ElodieOS commented on #14018
Hi everyone! Is this issue still relevant? I like prescott's proposal and I think it's a good idea.
I see a similar component has been created on the Product v2 page, so maybe it's a UX check?

[2022-10-10 08:25] matks commented on #29827
Hello @adviva in the documentation https://devdocs.prestashop-project.org/8/modules/concepts/templating/admin-views/

the extend should be:
[code]

please notice the `!` can you try this?

[2022-10-10 08:51] Bosco91-rn opened #29939 "Related product errors in Google Snippet Product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I noticed that Google Search Consol

[2022-10-10 08:57] ElodieOS commented on #25894
Hi everyone! Yes, I think it's a good idea to remind new update versions.
We can use this info alert. I took Julie's wording and I added a link to the module manager (to guide people who are not used to the tool) and a cross to ignore the alert (some people want to stay at an old version).

Wdyt?

![Info update](https://user-images.githubusercontent.com/113457393/194830568-2ff57cc6-765e-4280-9936-

[2022-10-10 09:14] #29790 closed, assigned to nobody

[2022-10-10 09:18] MatShir commented on #29824
Seems to be a nice improvement actually, I close this issue

[2022-10-10 09:18] #29824 closed, assigned to nobody

[2022-10-10 09:21] MatShir commented on #29830
@AureRita seems you have tested FO instead of the BO. Could you check it again ? 🙏

[2022-10-10 09:23] MatShir commented on #29884
It's not a bug then thanks @paulnoelcholot :)

[2022-10-10 09:23] #29884 closed, assigned to nobody

[2022-10-10 09:59] Mwaqas1 commented on #29921
@hibatallahAouadni  ok i had checked , and there is no issue while using classic theme.
but the issue is with almost 99% custom theme as i had tested.
(Also please tell me the fix for the duplicate addresses)

thanks

[2022-10-10 10:42] hibatallahAouadni commented on #28879
@PrestaShop/prestashop-core-developers friendly reminder :pray: we need your approval to test the PR :wink:

[2022-10-10 11:03] kpodemski commented on #28879
@hibatallahAouadni from what I see this PR has been approved by Thomas

[2022-10-10 11:18] khouloudbelguith opened #29940 "BO/FO- HTML tags are not well displayed in different pages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the BO - Customer Settings - Gro

[2022-10-10 11:56] nicosomb commented on #29940
Hello,

By removing `$parameters['legacy'] = 'htmlspecialchars';` in `classes/controller/Controller.php`, all is fine. But the code didn't change recently...

@matks Do you know what happens here?

[2022-10-10 13:13] PrestaEdit commented on #29940
It's a legacy controller.

Could I suggest you to check that inside the v1.7.8.2 it's good but not into the 1.7.8.3, maybe ?

[2022-10-10 13:43] hibatallahAouadni commented on #29929
Hello @HanaRebaiQA

I reproduce the issue only with 1-Click autoupgrade v4.15.0, with v4.14.2 I didn't manage to reproduce the issue, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/194880060-eb8661d7-ee68-4ee6-8519-0a229ef2eac1.png)

So, it's a regression on the module! I will add to the Backlog to be fixed.

Thanks!

[2022-10-10 14:40] florine2623 commented on #29895
Hi @jolelievre
Checking with you, is the shop completely broken ou does it still work ?
It is for the choice of label. If completely broken : `Critical`, if not `Major`.

[2022-10-10 14:58] ElodieOS commented on #23586
Hi @bullmade!

I'm replacing prescott and working with @TristanLDD to improve the design of open source.

I've read all the discussions and I agree with prescott, it's a good proposal and we're really happy that people get involved in the design and contribute to it.
Unfortunately, we can't make a decision easily. Here, we have a good proposal for sure, but it’s not user tested. All important issu

[2022-10-10 15:03] florine2623 commented on #26427
Hello :slightly_smiling_face:,

Final report of QA on the 8.0.0 RC1 :
The manual functional test campaign is done and OK.
The exploratory test session is now complete.

Summary of the issues detected during the test:

**Trivial:**
 - #29866
- #29884
- #29925
- #29916

**Minor:**
- #29838
- #29843
- #29862
- #29865
- #29913
- #29933
- #29824
- #29918
- #29858
- #29929
- #29863

**Major:**
- #29867

[2022-10-10 15:09] Rubben1985 commented on #29830
here a video showing the problem.
Look how when I go to page 2 inside of a category, it goes again to page 2 of "inicio category" (home in Spanish) instead of the category I was into.
https://www.loom.com/share/a73e4eb71f284f939feae1411512d31e

[2022-10-10 15:18] #29357 closed, assigned to nobody

[2022-10-10 15:52] bullmade commented on #23586
@ElodieOS thanks for the update.
The changes are quite insignificant, it's a bit vague to say it needs thorough study. It's simply a design improvement, and not a refactoring of anything other than simple visual improvement.

I hope you aren't implying that the current navigation has been usertested.

Im not saying you should implement the design we proposed, but it is indeed a big demoralization

[2022-10-10 15:57] PrestaEdit opened #29945 "The 410 redirection is not saved on product page V1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The 410 Gone was made onto the prod

[2022-10-10 15:57] matks opened #29946 "CI is failing on PRs on develop because of 'Checking doubles...' that does not run"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

CI is failing on PRs on develop bec

[2022-10-10 16:05] matks commented on #29946
I wonder if this https://github.com/PrestaShop/PrestaShop/pull/29912/ could have introduced an unwanted side effect

[2022-10-10 16:08] Rubben1985 commented on #29830
@AureRita it is not exactly the same, but if pagination is like a filter, could be due to the same or similar thing.

[2022-10-10 16:11] boubkerbribri commented on #29946
Don't think so, Tests are running on 8.0.x branch (ex : https://github.com/PrestaShop/PrestaShop/pull/29942)

[2022-10-10 16:43] jolelievre commented on #29895
Not needed anymore, the fix has been handled on the API server side.

[2022-10-10 16:43] #29895 closed, assigned to nobody

[2022-10-10 16:46] hibatallahAouadni commented on #29936
Hello @fc-mbouzidi

This module has been archived, it’s no longer maintained but you still can fork it if you need it for your shop.
Also let us know if you are voluntary to maintain this module.

Thanks!

[2022-10-10 16:46] #29936 closed, assigned to nobody

[2022-10-10 16:48] atomiix commented on #29946
I think it's related to:
https://github.com/PrestaShop/PrestaShop/commit/f8258e8ed42e53724b066cb927b7c12ee6d52594#diff-f8e83c96d3c6b691a585feaf7063e8338365b4fd4a77993b35ab1f8883babcccL65

[2022-10-10 17:11] Agencenetcom opened #29948 "Plugin not show on Back office prestashop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I want to install 1-click upgrade f

[2022-10-10 17:12] hibatallahAouadni commented on #29937
Hello @thomasnares

Thanks for reporting the issue and your PR :rocket:
I reproduce the issue with PS80x, it's a regression as you mentioned, see the attached screenshot below:

![image](https://user-images.githubusercontent.com/23308427/194919828-9f408ce0-b436-4d63-9b02-6935e0f1a436.png)

Adding it to the backlog!
Thanks :pray:

[2022-10-10 17:41] hibatallahAouadni commented on #29709
Hello @jolelievre & @khouloudbelguith

I didn't manage to reproduce the issue with PS80x neither with develop :disappointed:
Closing the issue as it seems to be fixed :sweat_smile:

Thanks!

[2022-10-10 17:44] hibatallahAouadni commented on #29814
Hello @nitronco

Could you please point to the issue if you see it in my screen record :pray:
Cause I didn't see any issue :sweat_smile:
Waiting for your feedback.

Thanks!

[2022-10-10 18:21] aperezbios opened #29949 "Impossible to easily import anything due to lack of useful feedback on duplicate columns"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-11 06:41] ghost opened #29950 "Salve, non riesco a far funzionare il PrestaShop / programma di riferimento sul mio prestashop 1.7"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Quando provo ad inserire il modulo

[2022-10-11 07:33] ejfarsta commented on #28707
Yes, adding a module should solve the issue.

Untill then - how can I configure to have a different status than "Out of stock" when order is created?
________________________________
Od: Matthias RAIGNE ***@***.***>
Wysłane: czwartek, 9 czerwca 2022 10:50
Do: PrestaShop/PrestaShop ***@***.***>
DW: ejfarsta ***@***.***>; Mention ***@***.***>
Temat: Re: [PrestaShop/PrestaShop] Cash on delivery order

[2022-10-11 07:33] MatShir commented on #29863
Thanks @dennisgon, you are assigned now. We will be happy to review your PR :)

[2022-10-11 07:36] sallemiines commented on #29949
Hello @aperezbios ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone e

[2022-10-11 07:46] fc-mbouzidi commented on #29936
I know that this module has been archived but because of it, I thought that the 1.7 handle the EU payment without module. It's not the case ?

[2022-10-11 07:56] nicosomb commented on #29940
I worked on this issue yesterday (https://github.com/PrestaShop/PrestaShop/pull/29943), but I need to work on an other subject.

My PR is not OK.

As discussed with @eternoendless (if you want to add more details, don't hesitate), we need to delete this line https://github.com/PrestaShop/PrestaShop/pull/7026/files#diff-9f289759f04c7012de8116c55f0d0db2eb1f7da736b2949946fd6076743e2977
Then, we need

[2022-10-11 07:59] MatShir commented on #26427
Thank @florine2623 and the @PrestaShop/qa-functional for your work 💯

Many of the issues listed are not blockers and are not regressions. The only blocking issue for the release is https://github.com/PrestaShop/PrestaShop/issues/29867. Once fixed, we can finally release the RC 🚀
The remaining regressions will be fixed in the 8.0.1 patch.

Stay tuned !

[2022-10-11 07:59] Garfield2013 commented on #28621
You still need to fix this: https://www.screencast.com/t/bR1cF1DTjnuG

I guess that would fix the unit-price in the bottom of the payment-page as
well (check my screenshots in my first post).
Otherwise unit-price needs the same fix as well at the bottom of the
payment-page.

On Thu, 2 Jun 2022 at 18:38, AureRita ***@***.***> wrote:

[2022-10-11 08:17] PrestaEdit commented on #29945
Sorry, my steps was not clear enough.

I mean the product edition, not the settings of produts.

[2022-10-11 08:21] sallemiines commented on #29950
Hello @Valerio-Varchi !

Hello,

Please send your request in English. English is the norm on **GitHub**.

Thank you !

[2022-10-11 08:22] #29950 closed, assigned to nobody

[2022-10-11 08:51] okapicarton commented on #29878
Hello, the issue is NOT RESOLVED because the screen shots are from one shop (Encajando.es) which is the one that has the access to Stats. But it is the other site, okapi.es, the one that doesn’t. I am still facing the same problem.

***@***.***

Un saludo,

firma lola-01-01

¡Síguenos en redes!
      <https://www.linkedin.com/company/soyokapi/>    <https://www.instagram.com/soyokapi/>    <https://

[2022-10-11 09:16] prestacrazy opened #29955 "Class overridable with private variable in a class"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On many class(enough) that are over

[2022-10-11 09:18] matteolavaggi commented on #28014
Hi, the google 2fa app password are detailed here , and work great using
simple php smtp send function (Mail())
https://support.google.com/accounts/answer/185833?hl=en

Regarding Prestashop the unique message shown is the error sending email
alert that you can see in the smtp parameter when try to send a test email
after inserting the SMTP gmail credentials.

Il giorno mer 23 mar 2022 alle ore 12:

[2022-10-11 09:37] atomiix commented on #29014
I confirm this one is fixed!

[2022-10-11 09:37] #29014 closed, assigned to atomiix

[2022-10-11 10:02] kpodemski commented on #29955
Hello @prestacrazy

Please describe your scenario to us in detail so we can think of a different way of modifying the behavior. Maybe you could use an additional hook?

[2022-10-11 10:04] atomiix commented on #29868
@hibatallahAouadni I confirm I see the set-cookie twice. There's something to investigate here!

[2022-10-11 10:04] kpodemski commented on #29940
Latest changes that may have an impact:

https://github.com/PrestaShop/PrestaShop/pull/29441/files

[2022-10-11 10:05] adviva commented on #29827
Hi @matks
many thanks for your suggestion! It was a really small change to do in our code.

Both the solution with the new namespace @PrestaShopCore and with @!PrestaShop works fine for me

[2022-10-11 10:11] prestacrazy commented on #29955
Hello @kpodemski ,

**i am not here for help**, for myself i will write on original file, not the first time i found problem like this, we can't wait another version.

Here i am speaking about an **architectural Prestashop problem**, not in one case, but **in all Prestashop classes overridable**, and it is also present for Symfony decorator

I report the problem, i will no more give help, u treat

[2022-10-11 10:11] Shoprunners commented on #27629
Sorry, but I don't see this as an duplicate of #27411. The problem is in the classes/Product.php class, method setWsPositionInCategory

there is an if clause
`if ($position > count($result) ) {` //line 7124

it should be

`if ($position > count($result) &&  count($result) > 0 ) {` //line 7124

and in the following rows

[code]

[2022-10-11 10:14] sallemiines commented on #29948
Hello @Agencenetcom  !

Thanks for reporting the issue.
I reproduce the issue with PS1778 PS1787 and PS800 ,
I install the module directly from module page , but there's an error displayed , see the attached screen record

https://user-images.githubusercontent.com/31663369/195063678-0c22d25d-1bbe-475b-8924-facb4ad26cd9.mp4

Also i put the module file in modules files , the module isn't exist, see

[2022-10-11 10:14] kpodemski commented on #29955
We don't want to make classes easier to override. We want to make the core easier to customize through hooks and other mechanisms that are more reliable.

If you don't want any help and it is only a comment, then I'm closing this issue. We can discuss such things [on the open source Slack for the project](https://www.prestashop-project.org/slack/).

[2022-10-11 10:14] #29955 closed, assigned to nobody

[2022-10-11 10:15] Shoprunners commented on #27629
it is an duplicate of @14903 or vice verca

[2022-10-11 10:17] kpodemski commented on #29948
Hello @Agencenetcom

Did you download the module from the [releases page](https://github.com/PrestaShop/autoupgrade/releases)?

If you don't, and all you have are source files, you need to run `composer install` for the module to work properly.

[2022-10-11 10:22] adamus007p commented on #29868
@atomiix  Cookie __destruct writes cookie when body sent

[2022-10-11 11:20] hibatallahAouadni commented on #29949
Hello @aperezbios

I think your issue is similar to this one #21937
Please check it and feedback.

Thanks!

[2022-10-11 12:05] atomiix commented on #29827
I think we can close this issue then! :)

[2022-10-11 12:05] #29827 closed, assigned to nobody

[2022-10-11 12:29] #24651 closed, assigned to matks

[2022-10-11 12:34] matks commented on #29955
To add some context to @kpodemski message: override is a powerful mechanism but it actually also introduce a lot of instability in your shop. This is especially painful when upgrading PrestaShop versions. This is why the mechanism is still available but not being reworked: we are looking for ways to customize PrestaShop that do not decrease stability.

[2022-10-11 12:48] Hlavtox commented on #19777
- Lang 1 - czech
- Lang 2 - slovak
- Czech lang installed but disabled, so it can be used for profile language
- Default shop lang Slovak
- Employee lang set to Czech
- Front office in Slovak ✅, Backoffice in Czech ✅, Backoffice data in Czech 🔴

### Database
![data](https://user-images.githubusercontent.com/6097524/195094348-a4aabb57-06f1-477b-9f6d-468ae0156586.jpg)

### Product list
![data2](http

[2022-10-11 13:07] prestacrazy commented on #29955
Hello @matks ,

u are right and i know it, but here it is not a customization it is a bug patch of core of Prestashop(and some of them were in 1.6 and are still on 1.7), we prefer to use override cause we consider it as cleaner than edit original file, about migration Prestashop(at this time) is not a solution to use without a professionnal working on IT based on his modular architecture(and his h

[2022-10-11 13:21] #24845 closed, assigned to nobody

[2022-10-11 13:21] #13212 closed, assigned to nobody

[2022-10-11 13:21] #18295 closed, assigned to nobody

[2022-10-11 13:27] florine2623 opened #29959 "BO - Import - Popup for data import has non-escaped text"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When I do an import, at the end, th

[2022-10-11 13:32] Hlavtox commented on #24845
@juraj1000 Done, you can make your own module using `actionGenerateDocumentReference` ;-)

[2022-10-11 14:01] momo1240 commented on #20339
Hello
this issue is still present on Prestashop 1.7.8.7 with multistore configuration
enven if we decide to use the url to call the script as described here
https://devdocs.prestashop-project.org/1.7/faq/pricing/
(myshop.com/adminname/cron_currency_rates.php?secure_key={my_secure_key})

still the exchange update works only for the first shop not all shops currency rates are updated

thank you

[2022-10-11 14:23] sallemiines commented on #29959
Hello @florine2623

Thanks for reporting the issue.
I reproduce the issue with **PS1778 OK , PS1787 OK , develop / ps80x NOK ,  and PS800 OK ,**
see the attached screen shot for develop/80x
![Import • prestashop](https://user-images.githubusercontent.com/31663369/195117731-5e4018e2-9fb5-4329-8902-1d6c10aa8818.png)

see the attached screen shot for 800

![Import • rc_800](https://user-images.github

[2022-10-11 14:32] lmeyer1 opened #29961 "In All shop context, while editing an order, the default currency might be invalid"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

- When editing an order in All Shop

[2022-10-11 15:07] khouloudbelguith opened #29962 "BO - Translations - Error 500 is displayed after updating a language"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Related to this https://github.com/

[2022-10-11 15:18] ElodieOS commented on #23586
For sure @bullmade, UX it’s a priority. In our studies, retailers don't talk about an actual navigation problem. That doesn't mean we can't improve it. Just we can prioritize an another issue for the moment.
You said it would have been great to show the merchant you are reorganizing their navigation on their backoffice. But why is that important now? Do you have any data or use cases that show the

[2022-10-11 15:20] PululuK opened #29963 "`Customer` property `is_guest ` not updated on change customer default `group`"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Customer `is_guest` return wrong in

[2022-10-11 15:29] khouloudbelguith commented on #29962
@matks,

I tried to update the Arabic language for the first time => NOK: error 500
I tried to update the Arabic language the second time => Ok
I tried to update the Arabic language again => exception

As described in my screen records

Thanks!

[2022-10-11 15:57] sallemiines commented on #29939
Hello @Bosco91-rn
Thanks for reporting the issue.
Following your steps ,I can't reproduce your issue , I tested  with  PS1778 PS1787 !
I get this result, see the attached screenshot

![Rich Results Test - Google Search Console](https://user-images.githubusercontent.com/31663369/195140449-3849570a-7c6e-424f-ad5a-da7031adb47a.png)

Could you please provides us with the result you have ?

I think thi

[2022-10-11 15:58] AureRita commented on #29962
Hi @khouloudbelguith  ,

Thank you for the report, I reproduced it on 8.0.0 and 1.7.7.8 but not on 1.7.8.7.
For me, in first use, it update somewhere the languages is not updated and after I get the exception. as you can see :

[Untitled_ Oct 11, 2022 5_56 PM.webm](https://user-images.githubusercontent.com/100699445/195141328-8fdc17a7-936c-4dfd-b43d-1ea52f066b6a.webm)

After some test, I see that

[2022-10-11 16:09] Bosco91-rn commented on #29939
Hello @sallemiines, thanks for your quick reply! Yes in attachment the result of the search console.
This is the link of the product if you want to have a look: https://www.cebsas.it/it/connettori-occhiello/12670-capicorda-occhiello-m8-isolato-giallo
As you can see the main product is fine and all field are ok as  "http://schema.org/Product", but google snippet find 2 critical errors that are comi

[2022-10-11 16:09] matks commented on #29962
Oh? That means issue is not related to http://i18n.prestashop-project.org/ as it's something only PrestaShop 8 uses

[2022-10-11 16:41] sallemiines commented on #29963
Hello @PululuK

Thanks for reporting the issue.
Im trying to reproduce your issue, but I wanna check if  you mean by : `Edit a customer default group and set default group is guest` this behavior , please check the screen shot bellow

![image](https://user-images.githubusercontent.com/31663369/195149602-695e8391-bd05-4861-b499-4bc81c589da4.png)

Please check and feedback !

[2022-10-11 16:41] hibatallahAouadni commented on #29815
Hello @lmeyer1

I didn't manage to reproduce the issue with PS1787, see the attached screen record below:

[issue_29815.webm](https://user-images.githubusercontent.com/23308427/195150238-8f2ae1cc-ad6a-4dc7-849a-dce29845cc29.webm)

Is your shop a fresh install or was it upgraded from an old version?
Waiting for your feedback.

Thanks!

[2022-10-11 16:47] hibatallahAouadni commented on #29921
Hello @Mwaqas1

It seems that your issue is not a PrestaShop core bug. It's related to you theme.

We will close this issue as we only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).

Alternatively, you can also ask for h

[2022-10-11 16:47] #29921 closed, assigned to nobody

[2022-10-11 16:58] hibatallahAouadni commented on #28879
@kpodemski I can see that but I need a Developer to approve this issue (delete the `NeedsSpecs` and `Waiting for Dev` labels, add the `Ready` label) :wink:

[2022-10-11 17:36] PululuK commented on #29963
Hi @sallemiines , thanks for the check

I'm talking about edit customer page

![image](https://user-images.githubusercontent.com/16455155/195161067-082c93b3-b6cd-4e43-8dca-8fb766016a32.png)

[2022-10-11 18:46] adamus007p commented on #20339
What I see that update currency via cron do not works. I am not use multishop anymore so I can not check if the problem still exist.

[2022-10-11 20:29] #29826 closed, assigned to matks

[2022-10-11 20:30] matks commented on #28877
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29584

[2022-10-11 20:30] #28877 closed, assigned to yanmakouf

[2022-10-11 20:32] matks commented on #29865
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29910 on 1.7.8 but still need to be tested for Classic theme for PS 8.0.0

[2022-10-11 22:36] Hlavtox commented on #29963
@PululuK It doesn't work like that. You must transform this guest to a customer.
Groups themselves or his default group are not tied to is_guest property.

[2022-10-12 07:18] matks commented on #29946
Fixed by @atomiix : it was a change in GitHub settings

[2022-10-12 07:18] #29946 closed, assigned to nobody

[2022-10-12 08:16] eternoendless commented on #29962
Could it be a timeout?

[2022-10-12 08:18] HanaRebaiQA commented on #29712
Hello,

I checked again the issue with 8.0.0RC1. The issue is fixed.

https://user-images.githubusercontent.com/92912932/195289026-75b04c7a-711a-4477-a147-96af3f1d5814.mp4

So, i'll close the issue.

Thank You!

[2022-10-12 08:18] #29712 closed, assigned to nobody

[2022-10-12 08:22] nitronco commented on #29814
Hi
Your test has a bigger bug that you need to fix it first: The name of the image has been completely removed.
If the image name is not removed, this problem will be visible in the product-data section.
The error in the Google console is as follows:
![photo_2022-10-12_11-50-51](https://user-images.githubusercontent.com/114002013/195290074-d63c04dc-c46e-4ef2-a1eb-79b79ea6e89d.jpg)

[2022-10-12 08:27] ElodieOS commented on #29894
Hello everyone!

For a quick action, I agree with @eshraw, we need to keep consistency regardless of the state to not lose the user.

In the long term, I think we need to rework the ux of the data tables in general (several issues on it), but if you want a quick action, eshane's proposal is good :)

[2022-10-12 08:53] momo1240 opened #29979 "Currencies exchange rate is not updated for all shops"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I noticed that in multistore config

[2022-10-12 09:07] Mwaqas1 commented on #29921
@hibatallahAouadni  i am sorry to say that yes i can reproduce this same bug on CLASSIC theme as well.
Please you can reproduce the issue as same steps i am doing.

Regards

[2022-10-12 11:24] kpodemski commented on #29963
I agree with @Hlavtox

For now, groups are not the main indicator that this customer is a guest. This way, you'd change the customer to the guest by editing his groups, which is impossible.

[2022-10-12 11:51] VanigliaPro opened #29982 "No more default tax rule when creating new product"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [x] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Creating a new product (manually or

[2022-10-12 13:53] paulnoelcholot commented on #29982
Hello @VanigliaPro ,

Despite our best efforts, we were unable to reproduce your issue with the information provided. Would you be able to provide us with more information so that we can reproduce it?

Thank you

[2022-10-12 14:03] VanigliaPro commented on #29982
Hi @paulnoelcholot

There's nothing to do... I can't get the default Tax Rule... It's a fresh installation of Prestashop 1.7.8.7, no 3rd party modules installed.

https://watch.screencastify.com/v/h2FPjHkOQ8p7MKKBBxv7

[2022-10-12 14:19] Kerami82 commented on #28490
@adamus007p please tell me where I can find you solution for "Canonical for dynamin pages". Im looking for that :(

[2022-10-12 14:31] paulnoelcholot commented on #29982
I just created a new shop and I still can't reproduce this bug as you can see.

[2022-10-12 14:35] VanigliaPro commented on #29982
Hi,

what version of php and mysql are you using?
There's some way, for me, to force this feature to work as expected? A file to modify o something?

thank you.

[2022-10-12 14:42] paulnoelcholot commented on #29982
PHP 7.4 and MySQL 5.7

Can you go to : Internazionale --> Tasse -->  Did you have the same settings as this screen?
![image](https://user-images.githubusercontent.com/112863083/195373439-92862db6-4b8f-43fa-99db-fb9c4b206e53.png)

[2022-10-12 14:50] VanigliaPro commented on #29982
Same settings here:
![Schermata 2022-10-12 alle 16 44 20](https://user-images.githubusercontent.com/115633430/195374227-10cc2695-828a-43de-8751-ea7fc580260e.png)

I tried setting up php 7.4 on my VM but nothing has changed... I can't really understand why this happen.

[2022-10-12 14:59] AureRita commented on #29962
Sorry for this bad infos, I didn't reproduce it on 1.7.7.8. Indeed, we need to disable the cache in 1.7.7.8 to no longer have another issue.

Even if you disable the cache in 8.0.0, the issue is still there.

@eternoendless, in the 1.7.7.8 version, without disabling the cache, we can have some timeout.
In the 8.0.0 version, no

[2022-10-12 15:02] paulnoelcholot commented on #29830
Hello,

We are aware of this issue, it is already in our debug backlog. This issue is a duplicate of [#10399](https://github.com/PrestaShop/PrestaShop/issues/10399).

Please be aware that some issues might take a very long time to be resolved.

It seem that you fix the issue on your end, can you [contribute it back to the project](https://devdocs.prestashop.com/1.7/contribute/contribute-pull-reque

[2022-10-12 15:03] paulnoelcholot commented on #29830
Duplicate of #10399

[2022-10-12 15:03] #29830 closed, assigned to nobody

[2022-10-12 15:26] Progi1984 commented on #19355
@okom3pom FYI The team page has been simplified in 8.1 :) Ready for MultiStore :wink:

[2022-10-12 15:28] eternoendless commented on #29962
If you get an HTTP 500 error even when in dev mode, it probably means that either the web server or PHP is crashing. The Apache (or whatever your server is) error log might be of use to find where the problem is coming from.

[2022-10-12 16:01] #27753 closed, assigned to nobody

[2022-10-12 17:05] jolelievre commented on #29962
I had a similar error locally, I thought it was related to my environment so I ignored it at the time. I didn't understand why but I noticed that the path mentioned in the error `var/cache/dev/whatheverthecontainerfolder` was actually referring to a container folder that doesn't exist in the cache

I don't know why though, but maybe when a language is installed the kernel or container is rebooted

[2022-10-12 17:10] Arpit-Gulgulia commented on #22057
Is this issue still open to work?

[2022-10-12 17:31] Arpit-Gulgulia commented on #29792
Hi, I would like to contribute to work on this issue as part of the Hacktober fest. Is this issue open to assigning?
Thanks!

[2022-10-12 18:37] PrestaPierre opened #29984 "BO - Fields are not correctly aligned in "Theme & logo"'s page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On theme & logo page, fields are no

[2022-10-12 18:48] kpodemski commented on #28879
ok, thx @hibatallahAouadni :) Ready :)

[2022-10-12 20:30] #10582 closed, assigned to sarjon

[2022-10-12 22:20] MatShir opened #29986 "Make the new product list multistore"
## **US**
As a merchant, I want in all shop context to know to which stores the product is associated to.

## **Specs**
**Product Preview**
WHEN all shops or a group of shops is selected, THEN the column of Stores(s) is added to the listing.

Each item in the product list displays the product with a list of the names of the stores associated with the product, the image, the reference, main categor

[2022-10-12 22:51] MatShir opened #29987 "Duplicate, Delete & Preview from all shops / one shop"
**US**
As a merchant, I want to delete, duplicate & preview from all shops / one shop

**Specs**
![image](https://user-images.githubusercontent.com/43613217/195462320-338162e4-66eb-4a43-ba50-42510c69a6d3.png)

| Is the product row has more than one shop in the Store(s) column? | Shop contexts | Edit | Duplicate | Enable | Disable | Delete | Preview |
| --- | --- | --- | --- | --- | --- | --- | ---

[2022-10-12 23:09] Hlavtox commented on #29984
Hi, each of the boxes have different content, why they should be aligned? One of them has tabs, others don't, texts are different, helptexts are different.

Please don't create problems where there are none. :-)

[2022-10-12 23:41] MatShir opened #29988 "Handle product image data for multishop"
**US:**

As a merchant, I want to display specific image depending of my shops in multistore.

**Specs**
![Capture d’écran 2022-10-13 à 02 32 31](https://user-images.githubusercontent.com/43613217/195472217-729eafcd-3be2-4ea8-b341-b026b2f2e27a.png)
The button manage image is only displayed in multistore. If pressed, it opens a modal.

![Capture d’écran 2022-10-13 à 02 32 02](https://user-image

[2022-10-13 06:37] Magnanimousthefirst commented on #9866
Adding if ((int)$this->context->cookie->id_cart > 0) { $this->context->cookie->__unset('id_cart'); } as descrived above is working for me.  Presta 1.7.8.5

Confirmed resolved after adding and clearing the cache.  Thx for the workaround.

[2022-10-13 07:44] AureRita commented on #29887
Hi @hibatallahAouadni,

I tried to reproduce the issue and I do it with version 1.7.8.7 and 8.0.x as you can see :

[Untitled_ Oct 13, 2022 9_42 AM.webm](https://user-images.githubusercontent.com/100699445/195533650-e77ac03a-83bc-4411-b1b4-fe4cde12b5fb.webm)

You really need to wait for the timeout connection to test it, take a shop on and let this on the background, at the end of the day, check t

[2022-10-13 08:07] ElodieOS commented on #18915
Hi @marsaldev and @hibatallahAouadni !

Sorry for the delay 😥
Yes, it's true, it's not practical. I take the subject and think about a solution.

I'll keep you informed

[2022-10-13 08:17] kpodemski commented on #24497
cc @PrestaShop/product-team

[2022-10-13 08:19] ElodieOS commented on #16009
Hi @khouloudbelguith !

I can take the issue but I need to know if there are any technical specifications for it. Was it originally done that way for a reason? Are we free to change the mechanism?

[2022-10-13 08:26] eternoendless commented on #29984
@Hlavtox if you look at the screenshots closely, you will notice that the middle input is slightly (not "tight") lower than the other two, like 2px.

@PrestaPierre translations can be fixed on [Crowdin](https://crowdin.com/project/prestashop-official) (cc @l-delin)

[2022-10-13 08:31] #21170 closed, assigned to nobody

[2022-10-13 08:32] AureRita commented on #29984
Hi @PrestaPierre ,

Thank you for this report. I reproduce the issue with PrestaShop version 1.7.7.8, I'll add this to the backlog so it can be fixed.
We can see the reproduction of this issue on this screenshots :

on 8.0.0
![image](https://user-images.githubusercontent.com/100699445/195544042-cfb70a36-27b5-49e7-aee5-90dc1d279631.png)

on 1.7.7.8
![image](https://user-images.githubusercontent.com

[2022-10-13 08:32] PrestaPierre commented on #29984
@eternoendless Tkx Pablo for your return

[2022-10-13 08:41] PululuK commented on #29963
oh yes, you are right @Hlavtox @kpodemski ! Thanks guys

[2022-10-13 08:41] #29963 closed, assigned to nobody

[2022-10-13 08:41] kpodemski commented on #17412
FYI: as for now, the sorting feature is missing on the new product list page

[2022-10-13 08:43] Anthony-Tran commented on #28323
I allow myself to open the ticket again because I have exactly the same problem as you describe on your screenshot. I tested on a clean install.
I posted on the prestashop forum (https://www.prestashop.com/forums/topic/1069155-duplicate-display-of-the-personalization-and-does-not-save-the-personalizations-when- several-combinations-cart-order/) but I have no answer so I try my luck on github.

Thi

[2022-10-13 08:44] l-delin commented on #29984
Hello, thanks for spotting the typo. It's been taken care of 🙌

[2022-10-13 09:08] eternoendless commented on #29984
The problem is more visible like this:

![Screenshot 2022-10-13 at 11 07 40](https://user-images.githubusercontent.com/1009343/195554321-4e9433c7-aaa5-4150-a310-c9f35d55b350.png)

[2022-10-13 09:22] #29684 closed, assigned to 0x346e3730

[2022-10-13 09:23] #28295 closed, assigned to zuk3975

[2022-10-13 09:23] #28296 closed, assigned to zuk3975

[2022-10-13 09:38] PrestaEdit commented on #25827
Hi there,

Is there is something to check about this, or replace `self::` by `static::` is the only things to make ?

[2022-10-13 09:45] bullmade commented on #29581
@HanaRebaiQA are you able to locate which PR fixed the issue in PS 8.0? Then we cacn implement it similiarly for 1.7.x untill 8.0 becomes stable.

[2022-10-13 10:11] eternoendless commented on #29984
Oh I see what you meant @Hlavtox

The problem is that the positioning of the inputs depends on the height of the content above. The box in the middle has tabs, contrary to the other two. Tabs are thicker than titles, so the whole content is pushed down a bit, as you can see in this screenshot:

![Screenshot 2022-10-13 at 12 09 25](https://user-images.githubusercontent.com/1009343/195569635-6678e28

[2022-10-13 10:19] AureRita commented on #29945
Hi @PrestaEdit

Thank for your details, I reproduce your Issue in 8.0.0 ( it can be reproduce on 1.7.8.7 because it's a new feature )
we can see a video of this issue here :

[Untitled_ Oct 13, 2022 12_13 PM.webm](https://user-images.githubusercontent.com/100699445/195570662-053a01c5-7b97-4298-8177-adee4afc2f64.webm)

I'll add this to the backlog so it can be fixed.

Please be aware that some issu

[2022-10-13 10:35] bullmade commented on #23586
@ElodieOS ive previously offered our full help to make the design + make a PR for it, so that PrestaShop does not have to put development resources into it. But there is no reason to start it if PrestaShop does not show any signs of willingness to look into the issue, or to cooporate on it.

I agree with you that the backoffice design in general is not a "crucial" issue/bug/feature or for that sak

[2022-10-13 10:35] marsaldev commented on #16009
I don't know why this behaviour, but I wouldn't remove the SSL verification, otherwise if the ssl certificate is not installed (and no not valid) and you enable the ssl your shop could be not accessible (and you need to go through DB to disable the option)
At this point I'd take this opportunity to move this setting to the new "Security" page, wdyt?

[2022-10-13 10:39] matks commented on #29962
I have this on localhost

![Capture d’écran 2022-10-13 à 09 57 09](https://user-images.githubusercontent.com/3830050/195575450-8ff63770-a7f8-4035-9220-539933d2627d.png)

And I notice in var/cache/dev I have 3 container files:
- ContainerAxJHC44
- ContainerAxJHC44.legacy
- ContainerB75kEGA

It looks like the first clic on "Update language button" generates a new dumped container file and then the

[2022-10-13 10:45] NeOMakinG opened #29994 "Theme should be able to not include the core.js files"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-13 10:46] HanaRebaiQA commented on #29962
Hello everybody,

Thank you @khouloudbelguith for your report.
I tried to reproduce the issue on PS1778, PS1787 and PS8.0.x.

- **PS1778** : When I changed the BO language to Arabic, the menu is changed in Arabic and i was able to reproduce the 500 error when I click on update languages many times : **NOK (500 Error)** :x:

https://user-images.githubusercontent.com/92912932/195576794-72678f3a-3c3b

[2022-10-13 13:40] jolelievre opened #29998 "Allow _legacy_link to be handled via a feature flag"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-13 13:54] #29562 closed, assigned to jolelievre

[2022-10-13 13:55] #29564 closed, assigned to FabienPapet, jolelievre

[2022-10-13 13:56] ElodieOS commented on #21461
Hi @matks
I checked all the form pages in BO and I don't see any problem to create a unique save button.

So, as I said just before, I think we can put a save button at the bottom of the screen to keep a logical flow (first you can change the settings and then you can save your actions). This button will be in sticky position to allow saving at any time (without scrolling endlessly especially when

[2022-10-13 13:56] jolelievre commented on #29563
Actually, we skipped this part, the CI re cloning the project directly without using a docker so not needed anymore
The need may arise again later but it will require a new dedicated issue

[2022-10-13 13:56] #29563 closed, assigned to nobody

[2022-10-13 14:03] AureRita commented on #29939
Hi @Bosco91-rn ,

Thank you for all the details. I tried to reproduce your issue with other shop of prestashop as you can see :
![image](https://user-images.githubusercontent.com/100699445/195617624-0a2fece2-80e9-404c-b792-180e6c565c80.png)

I didn't have issue on this shop, can you tell us wich type of images did you have in your related product ?
Can you test it with a classic theme ? to see if

[2022-10-13 14:07] AureRita commented on #29998
Hi @jolelievre  ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon.

Waiting for your PR :rocket:

Thank you

[2022-10-13 14:25] AureRita commented on #29814
Hi @nitronco ,

Thank you for your screenshot. Currently, we maybe need some videos to let us reproduce your issue, I tried, as you can see :

[Untitled_ Oct 13, 2022 4_22 PM.webm](https://user-images.githubusercontent.com/100699445/195623614-59b805d2-cc4b-4b90-9668-0fc0855beff5.webm)

and I didn't Identify the issue, does the issue is that the name of the product isn't showed and it will be chang

[2022-10-13 14:36] #29933 closed, assigned to nobody

[2022-10-13 14:51] AureRita commented on #29979
Hi @momo1240 ,

Thank you for the report, I reproduce the issue with PrestaShop version 1.7.7.8, as we can see in this video

[Untitled_ Oct 13, 2022 4_46 PM.webm](https://user-images.githubusercontent.com/100699445/195630920-a20d5185-1fe1-4257-94a4-bcf681866b47.webm)

 I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved. If

[2022-10-13 15:10] AureRita commented on #29939
Hi @Bosco91-rn,

I tested your link and indeed the google snippet show that you've errors in your images' related product. But, currently I tried to reproduce you issue with an other shop to let have enought details for the developper.

Did you do other things that this three steps to reproduce your issue ?

Waiting for your feedback

[2022-10-13 15:10] PrestaEdit opened #30000 "When you have no image settings, there is an error on Front Office"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you delete (even its not recomme

[2022-10-13 15:14] AureRita commented on #30000
Hi @PrestaEdit ,

I reproduce the issue with PrestaShop version 1.7.8.7,as we can see in this video :

[Untitled_ Oct 13, 2022 5_13 PM.webm](https://user-images.githubusercontent.com/100699445/195636260-9ea84dde-84c0-4e9e-ad0f-c5ba9baa5457.webm)

I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved.

Waiting for your PR :rock

[2022-10-13 15:31] FabienPapet opened #30001 "🚀 30000 Issues / PR already !"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

😎

### Expected behavior

_No respo

[2022-10-13 15:32] FabienPapet commented on #30001
Fail 😂

[2022-10-13 15:33] #30001 closed, assigned to nobody

[2022-10-13 15:35] ts2666 opened #30002 "Mail template variables in attributes were not replaced"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Variables in mail templates were no

[2022-10-13 15:46] matks commented on #30000
Hello @AureRita I'm a bit curious as @PrestaEdit said: "If you delete (even its not recommend) all the image settings" 😅

I have never heard of anybody that tried to delete all image settings and it seems really weird to me that one day a shop admin will decide to do it on purpose. Do you think even if this looks weird, this is still a major?

If you want to keep it `Major` it's OK for me it's jus

[2022-10-13 15:55] DarwinImple opened #30003 "No se visualiza metodo de pago por transferencia"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

No se visualiza el metodo de pago p

[2022-10-13 16:04] Robin-Fischer-PS commented on #30001
Looser @FabienPapet !

[2022-10-13 16:05] MatShir commented on #30001
😂😂😂😂

[2022-10-13 16:49] MatShir commented on #26427
🥳 PrestaShop 8.0 RC has been released and is ready to be tested !
Blog: https://build.prestashop-project.org/news/prestashop-8-0-rc1-release/
Tag: https://github.com/PrestaShop/PrestaShop/releases/tag/8.0.0-rc.1

Next target the final release, if there is no critical bug release shared by the community, we planned to release the 24th October.

Thanks again to all the people involved in this releas

[2022-10-13 18:00] okom3pom commented on #30000
@matks  if you knew what the merchants do  :o

It's the 30 000 :100:

[2022-10-13 18:19] PululuK commented on #30000
# 30000 💯

[2022-10-13 18:30] momo1240 commented on #29979
Hello @AureRita
thanks for taking time to reproduce this issue
unfortunately I don't have a fix for it

[2022-10-13 18:51] matks commented on #29867
Fixed by https://github.com/PrestaShop/welcome/pull/147

[2022-10-13 18:51] #29867 closed, assigned to yanmakouf

[2022-10-13 18:52] kpodemski commented on #30000
We have PR coming to the core where there is information that if you delete image types used by the theme it may cause error. I think that'd enough.

[2022-10-13 20:27] matks commented on #29734
Hi @tameroski apologies for delay we were busy with this 😅 https://build.prestashop-project.org/news/prestashop-8-0-rc1-release/

Depending on systems, symlinks behavior when computing filepaths can differ. What are you running on? Debian? Ubuntu? Something else?

I also reviewed the PR https://github.com/PrestaShop/PrestaShop/pull/29736/ but we have to be extra careful when working with filepaths

[2022-10-13 20:33] okom3pom commented on #30001
Hahaha :) Je l'avais pas vu

[2022-10-13 21:30] tameroski commented on #29734
Hi @matks
No problem for the delay, first things first 😉
I did the tests on a Mac and on a Debian.

[2022-10-14 07:44] l-delin commented on #29787
Hello @Triloworld,
Could you please contact me at documentation@prestashop.com to further discuss your request? Thanks! 🙌

[2022-10-14 07:51] hibatallahAouadni commented on #30003
Hello @DarwinImple

Please send your request in English. English is the norm on GitHub.

Could you please provide a screenshot BO>IMPOROVE>Payment>Payment preference 🙏
Waiting for your feedback.

Thank you

[2022-10-14 07:54] hibatallahAouadni commented on #30002
Hello @ts2666

It seems your issue is similar to this one #27984
Could you please check and feedback.

Thanks!

[2022-10-14 07:56] Minde266 opened #30006 "ContextErrorException Warning: proc_open() has been disabled for security reasons"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I am using Prestashop 1.7.8

[2022-10-14 08:00] nemesistech opened #30007 "Address assigned existing address to new customer when creating account, Opcache issue ?"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

We identify a strange bug when crea

[2022-10-14 08:48] l-delin opened #30008 "Fix errors in V.8 source strings"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
Here's an overhaul of every

[2022-10-14 08:49] kpodemski commented on #29017
@MatShir @jolelievre I think it's ready?

[2022-10-14 09:30] Robin-Fischer-PS commented on #30000
@matks Today we follow this matrix for the severity of the issues (sorry, it's in French), so even if it's highly unlikely, if the impact is really bad, it stays major.

However Miss Rita will check if there are workarounds, to be sure the impact is "really bad" and not just "bad" :stuck_out_tongue:

![image](https://user-images.githubusercontent.com/55688534/195812698-2674645e-8274-4677-b4c4-7a02

[2022-10-14 10:12] PrestaEdit commented on #30000
Hi @Robin-Fischer-PS ,

Is this documentation is available in public, maybe ?

[2022-10-14 11:36] beautifullook opened #30010 "Access back office Prestashop"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I have a problem in the Prestashop

[2022-10-14 11:52] matks commented on #30000
@Robin-Fischer-PS I understand 😄  thank you for your answer

[2022-10-14 11:56] zuk3975 opened #30011 "Enabling new theme fails due to routes caching"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you upload theme via `Theme & de

[2022-10-14 12:24] Robin-Fischer-PS commented on #30000
Hi @PrestaEdit ! Well, this specific matrix is not public, unfortunately it was done by the previous QA Manager, and since we had a lot of work and we left this subject aside...

For the moment, the only public documentation we have on issue management is this one : https://devdocs.prestashop-project.org/1.7/contribute/contribution-process/how-issues-are-sorted/

We are working on a new test strat

[2022-10-14 12:25] ts2666 commented on #30002
Hello @hibatallahAouadni
No, it was not the same. In issue #27984 the variables are replaced with an empty value. In my issue the variables were not replaced and their names are in the email instead of the content. This was because swiftmailer was 'html encoding' the { and } to %7B and %ID around the variables so that the decorator Plugin did not found the variables to replace them.

[2022-10-14 12:38] lmeyer1 opened #30012 "In the BO the new shop selection dropdown does not reflect employee permissions"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In a multishop environment, when lo

[2022-10-14 12:44] foglmagna opened #30013 "European VAT number"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,
The module does not verify t

[2022-10-14 13:38] Triloworld commented on #29787
Message send :)

[2022-10-14 14:13] Triloworld commented on #29787
Get information, we will start from tomorrow. Thx!

[2022-10-14 14:13] #29787 closed, assigned to nobody

[2022-10-14 14:26] DarwinImple commented on #30003
Yes,

![prefe](https://user-images.githubusercontent.com/103607812/195871199-cce5e4a8-dbf0-476b-b702-a90d70390dba.png)

[2022-10-14 17:13] slupostrupek opened #30015 "Override Class ImageManager is impossible"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Creating ImageManager class of Imag

[2022-10-14 17:20] kpodemski commented on #29719
Thank you for the ping. We need to create a module so we can have an easy scenario to reproduce (if needed).

If there is an issue, I think we could agree on having a fix in the next patch.

[2022-10-14 18:02] DarwinImple commented on #30003
thanks , It's already resolved

[2022-10-14 18:13] DarwinImple opened #30016 "Menu Bar - The start link is not displayed, nor is the link of the month's must-sees."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Menu Bar - The start link is not di

[2022-10-14 18:20] hibatallahAouadni commented on #30013
Hello @foglmagna

This module has been archived, it’s no longer maintained but you still can fork it if you need it for your shop.
Also let us know if you are voluntary to maintain this module.

Thanks!

[2022-10-14 18:20] #30013 closed, assigned to nobody

[2022-10-14 18:22] hibatallahAouadni commented on #30010
Hello @beautifullook

It seems your issue is related to your server configuration.

We only use GitHub issues to discuss about bugs and new features in the PrestaShop project. If you need support, you can find resources to help you on this page: [Get help with PrestaShop](https://www.prestashop-project.org/support/).

Alternatively, you can also ask for help in the [community forums](https://www.p

[2022-10-14 18:23] #30010 closed, assigned to nobody

[2022-10-14 18:24] hibatallahAouadni commented on #30003
Hello @DarwinImple

Glad to hear and thanks for your feedback.

[2022-10-14 18:25] #30003 closed, assigned to nobody

[2022-10-14 18:45] DarwinImple opened #30017 "Images cannot be uploaded to the catalog."
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

![image](https://user-images.github

[2022-10-14 21:05] #30017 closed, assigned to nobody

[2022-10-14 21:05] DarwinImple commented on #30017
resulted

[2022-10-15 09:25] bullmade commented on #28221
@hibatallahAouadni the author is not talking about backoffice language as you are reffering to in #27617, but rather about the individual field translations, such as descriptions in products etc.

The issue from @szykuc is still present and is not adressed in #27617, nor in this PR https://github.com/PrestaShop/PrestaShop/pull/28392

[2022-10-15 11:09] aghaeian opened #30019 "price showing issue"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Products prices not show or show so

[2022-10-15 11:11] aghaeian commented on #30019
http://www.arsalan.com.tr/furniture

[2022-10-15 13:57] jimbobpresta opened #30020 "[Blockwishlist] change heart Icon"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-16 02:55] jgillich opened #30022 "Missing primary key on accessory table"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The accessory table does not have a

[2022-10-16 09:31] Caleydon opened #30023 "Installation HTTP issue on XAMPP - PrestaShop 8.0.0 RC1"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello,

I've got the installation H

[2022-10-16 10:27] Caleydon commented on #30023
@Hlavtox provided the solution.

Add the following at the end of apache config file - httpd.conf

`<IfModule mpm_winnt_module>
    ThreadStackSize 8888888
</IfModule>`

[2022-10-16 10:28] #30023 closed, assigned to nobody

[2022-10-16 12:23] Maofree opened #30024 "Some fixes to do in product-jsonld.tpl and head.tpl"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hi
in the classic theme and in the

[2022-10-16 13:14] zuk3975 commented on #29719
On the other hand, should we really reset the fields **before** the hook? Hook represents the action that was done, so in case the update() action was done with the "fieldsToUpdate" set, maybe its alright to leave them intact and let the module decide what to do with them (or decide what to do depending on them)?
e.g. new product page has lots of "update" actions firing during single product updat

[2022-10-16 19:20] matks commented on #28688
https://github.com/PrestaShop/PrestaShop/pull/29635 was merged so this issue is not blocked anymore @eshraw ?

[2022-10-16 19:23] matks commented on #29037
Hello @FabienPapet were you able to find a solution for this issue?

[2022-10-16 19:24] matks commented on #25579
PR available for this issue -> https://github.com/PrestaShop/PrestaShop/pull/29362

[2022-10-16 19:25] matks commented on #29223
@yanmakouf Were you able to do something for this issue?

[2022-10-16 19:26] matks commented on #29865
https://github.com/PrestaShop/PrestaShop/pull/29910 also merged : this issue if fixed!

[2022-10-16 19:26] #29865 closed, assigned to NeOMakinG

[2022-10-16 19:27] matks commented on #27665
Dear @PrestaShop/issue-managers following latest messages it seems this issue can be closed, wdyt ? 😄

[2022-10-16 19:30] matks commented on #26218
PR available to fix this issue https://github.com/PrestaShop/PrestaShop/pull/28782

[2022-10-17 02:54] rblaurin opened #30026 "Missing Module Catalog menu"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

I made a fresh install of 8.0.0-rc1

[2022-10-17 07:36] boubkerbribri commented on #29037
I think a backport of #29616 should do the trick

[2022-10-17 07:56] eshraw commented on #28688
Indeed it should not be blocked anymore ! Thanks for the catch @matks

[2022-10-17 08:11] FabienPapet commented on #29037
Yes

[2022-10-17 08:12] FabienPapet commented on #29037
Yes, I'll start working on it

[2022-10-17 08:17] Hlavtox commented on #30026
Hi @rblaurin, module catalog was removed from standard Prestashop, modules can now be installed from module manager like in 1.6.

If you want to have Prestashop Addons Catalog back, install ps_mbo module https://github.com/PrestaShopCorp/ps_mbo/releases/tag/v2.0.2

[2022-10-17 08:22] sallemiines commented on #30026
Hello @rblaurin !

Thanks for reporting the issue.
I reproduce the issue with  **PS 178X** **PS 800** , see the attached screen shot

![Painel • test](https://user-images.githubusercontent.com/31663369/196120948-543df948-3105-4272-a6dd-9af5f23eef3c.png)

Thank you !

[2022-10-17 08:25] Hlavtox commented on #30024
Hi @maofree,

Good improvement, can you make a PR?

These keys are supported by Offer - https://schema.org/Offer, the more info we add, the better.

What would you add to this field? Schema is not very clear about what this field should contain, they have a ISBN there, but not everyone sells books - https://schema.org/productID

Good catch, should be solved if this key is missing.

Already made a

[2022-10-17 08:30] sallemiines commented on #30020
Hello @jimbobpresta ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [contacting a professional](https://www.prestashop-project.org/support/) to help you create it.

If you or anyone

[2022-10-17 08:33] maofree commented on #30024
Hi
I still don't know how to use github, so I can't do a PR, later I'm going to learn how to use it
a seo agency said me to set the first page to remove the duplications made from the rest of pages, because they have the same content (meta title, meta description, title, H1, description and it was alerted by search console), I'll try some tests

thanks
bye

[2022-10-17 08:33] Gipielle commented on #9866
This fix create problem in the shopping cart

[2022-10-17 08:34] Hlavtox commented on #30020
@jimbobpresta Unfortunately, you need to recompile the whole module to change this icon, or rewrite it in the compiled assets.
![Snímek obrazovky 2022-10-17 103312](https://user-images.githubusercontent.com/6097524/196129688-5891d4e3-ffe6-48d3-b9e7-d92aa4b9bed9.jpg)

Ping @NeOMakinG

[2022-10-17 08:35] sallemiines commented on #30015
Hello @slupostrupek ,

Could you please provide us with more info ?
We need more details to understand how we can reproduce your issue:
**Example :**
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript console log
- screenshots
- ... ......

You don't know how to get this information? Please read the following a

[2022-10-17 08:37] #30015 closed, assigned to nobody

[2022-10-17 08:45] Hlavtox commented on #30019
Hi @aghaeian, this is a problem with your template. The prices are correctly rendered, you have some CSS/JS issues.

![template](https://user-images.githubusercontent.com/6097524/196132219-5de5e3fd-ac68-42bd-bd30-62a50f4623ba.jpg)

[2022-10-17 08:54] zuk3975 commented on #30026
As @Hlavtox mentioned, this is not a bug. As stated in https://build.prestashop-project.org/news/prestashop-8-0-beta-release/#modules--module-management since v8.0 **The PrestaShop project is now free of commercial products and services, so it no longer includes the Addons Marketplace by default**, so there is no module catalog by default anymore

[2022-10-17 08:56] sallemiines commented on #30024
Hello @maofree ,

Thanks for reporting this issue!
Ping @PrestaShop/prestashop-core-developers : Could someone please try to reproduce the issue, it's too technical!

Thanks in advance!

[2022-10-17 08:59] aghaeian commented on #30019
Hi @Hlavtox , Thank you for response. I try to find css/js issue but can't find it. Can you help me?
Best Regards.

[2022-10-17 09:15] Anthony-Tran opened #30028 "Duplicate display of the personalization and does not save the personalizations when several combinations"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

2 bugs identified.
The first displa

[2022-10-17 09:19] lmeyer1 commented on #28292
@khouloudbelguith @kpodemski Shouldn't this be fixed by https://github.com/PrestaShop/ps_linklist/commit/0011b28115fa611a81ec7f9d762aff468f3e9883 ?

[2022-10-17 09:27] kpodemski commented on #28292
@lmeyer1 I think so! Did you reproduce the issue on the new version?

[2022-10-17 09:29] lmeyer1 commented on #28292
@lmeyer1 No. My PR (https://github.com/PrestaShop/ps_linklist/pull/134) is blocked by this issue. And I believe it should no longer be blocked.

[2022-10-17 09:56] AureRita commented on #30000
Hi @matks,

After some research, I will let this issue at `major`, I will explain why :
- for the main page, you just have to keep an image wich is selected for "products" whatever the name so this issue can be considered as "bad" instead of "really bad"
- But, for the product page (so the second main page of a shop) if you just modify the name of "home_default" resolution, this page will be broke

[2022-10-17 10:02] hibatallahAouadni commented on #30026
Hello @rblaurin

As @Hlavtox and @zuk3975 mentioned above this is the expected behavior!
Closing the issue as it's not a bug.

Thanks!

[2022-10-17 10:02] #30026 closed, assigned to nobody

[2022-10-17 10:32] aslezak88 commented on #9866
What problem it is creating?

[2022-10-17 11:11] waveywaves opened #30029 "Investigate increasing developer productivity with pull requests environments"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-17 11:34] #28292 closed, assigned to nobody

[2022-10-17 11:35] kpodemski commented on #28292
Thanks @lmeyer1

[2022-10-17 11:40] #29043 closed, assigned to nobody

[2022-10-17 12:02] rblaurin commented on #30026
Thanks for the clarification. So, from now on, the default way to install a new module (unless I install ps_mbo) is downloading it from PrestaShop Addons and then uploading it through module manager?

[2022-10-17 12:22] beautifullook commented on #30010
What should I do?
Thank you.

[2022-10-17 12:40] nicosomb opened #30032 "Typo in Configuration key on images management"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In `controllers/admin/AdminImagesCo

[2022-10-17 13:10] hibatallahAouadni commented on #29963
Thanks guys for your help :pray: @Hlavtox @kpodemski :rocket:

[2022-10-17 13:12] hibatallahAouadni commented on #29887
Hello @AureRita

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a module problem.

We will close this issue.

Thanks!

[2022-10-17 13:12] #29887 closed, assigned to nobody

[2022-10-17 13:13] aslezak88 commented on #9866
Solution is above. You have to find all error messages and determine which one is causing problem... For me solution is working from 1.6 to 1.7.8.5 on all my (61) e-shops...

[2022-10-17 13:43] hibatallahAouadni commented on #29982
Hello @VanigliaPro

Thanks for your feedback!
Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely a configuration problem.

PS: @AureRita that's the expected behavior cause you choose France as a Country when you install the shop. So when you delete the default tax, **`No Tax`** will be a

[2022-10-17 13:43] #29982 closed, assigned to nobody

[2022-10-17 13:45] hibatallahAouadni commented on #30002
Hello @ts2666

Could you please provide a screen record :pray: Cause with the provided infos, I only manage to reproduce the issue #27984
Waiting for your feedback.

Thanks!

[2022-10-17 14:01] hibatallahAouadni commented on #29745
Hello @Hlavtox

Since we had no news from you for more than 20 days, I'll close this ticket to avoid cluttering up the backlog.
Please note that you can always create a new one if further information pops up.

Thanks!

[2022-10-17 14:01] #29745 closed, assigned to nobody

[2022-10-17 14:12] florine2623 commented on #28985
Fixed in https://github.com/PrestaShop/PrestaShop/pull/29554

[2022-10-17 14:12] #28985 closed, assigned to lartist

[2022-10-17 14:39] slupostrupek commented on #30015
Module override but three are errors od missing function its bug

[2022-10-17 14:45] #30006 closed, assigned to nobody

[2022-10-17 15:27] matks commented on #30026
@rblaurin Yes 👍  if you use PrestaShop 8.0.0 open source (this GitHub repository contains the source code for PrestaShop open source project)

I think PrestaShop SA will also publish a PrestaShop 8.0.0 version that embeds the Module Manager that allows downloading modules from Addons, but that is now outside of the scope of this OSS organization :)

[2022-10-17 15:27] fc-mbouzidi opened #30040 "[FO] Address not updated in Checkout"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

In the checkout, when I edit an add

[2022-10-17 15:28] #29858 closed, assigned to nobody

[2022-10-17 15:43] slupostrupek opened #30041 "Override Class ImageManager is impossible"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Impossible to override ImageManager

[2022-10-17 16:03] matks commented on #29560
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29619

[2022-10-17 16:03] #29560 closed, assigned to lartist

[2022-10-17 17:03] hibatallahAouadni commented on #30008
Hello @l-delin

Thanks for your first issue :rocket:
Ping @PrestaShop/wording-managers @PrestaShop/product-team please add the label `Verified` :pray:

Thanks!

[2022-10-17 17:16] mauricecec opened #30042 "PrestaShop 1.7.8.7 Features Bug"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Prestashop 1.7.8.7 Fresh Install

I

[2022-10-17 17:32] hibatallahAouadni commented on #30011
Hello @zuk3975

I didn't manage to reproduce the issue with PS80x, see the attached screen record below:

[issue_30011.webm](https://user-images.githubusercontent.com/23308427/196244288-0b0ebccc-4c50-42a0-b080-ea98bc8423f3.webm)

Please check and feedback.

Thanks!

[2022-10-17 17:36] #30016 closed, assigned to nobody

[2022-10-17 17:38] hibatallahAouadni commented on #30019
Hello @aghaeian

Despite our efforts, we were not able to reproduce your issue with the provided information. It seems that your issue is not a PrestaShop core bug but most likely an override or a theme problem.

PS: thanks @Hlavtox for your quick replies :pray: :rocket:

We will close this issue.

Thanks!

[2022-10-17 17:38] #30019 closed, assigned to nobody

[2022-10-17 17:40] hibatallahAouadni commented on #30029
Hello @waveywaves

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.
Please be aware that there is no guarantee that this feature will be developed anytime soon. If this is important to you, we strongly suggest you consider [hiring a specialist](https://www.prestashop.com/en/experts) to help you create it.

If you are willing to implement t

[2022-10-17 17:42] hibatallahAouadni commented on #30022
Hello @jgillich

Thanks for reporting the issue!
Ping @PrestaShop/prestashop-maintainers someone please try to reproduce the issue, it's too technical!

Thanks in advance!

[2022-10-17 17:58] Rubben1985 commented on #9971
still present since 2018. Any news?

[2022-10-17 18:29] hibatallahAouadni commented on #30007
Hello @nemesistech

I didn't manage to reproduce the issue with the provided infos.
Could you please switch to the Classic theme and try to reproduce the issue :pray:
Cause it may related to your theme. Please check and feedback.

Thanks!

[2022-10-17 18:37] hibatallahAouadni commented on #30012
Hello @lmeyer1

I reproduce the issue and it's a regression on 1.7.8.7! I will add it to the Patch backlog to be fixed.
The employee shouldn't see the other shops when he hasn't access to them.
So, we're waiting for your PR :rocket:

Thanks!

[2022-10-17 19:51] PrestaEdit opened #30043 "Cards helper redirect to 1.7 documentation"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

As the user doc of v8 is not yet pu

[2022-10-17 21:26] jgillich commented on #30022
I think the solution might be to change this to `PRIMARY KEY` https://github.com/PrestaShop/PrestaShop/blob/d1e14ec7b1f959f370915ecb9b34afe28b098e88/install-dev/data/db_structure.sql#L9

And adding a migration somewhere?

All other tables already have primary keys as far as I can tell.

[2022-10-17 21:28] #29637 closed, assigned to mflasquin

[2022-10-18 06:18] web23421 opened #30044 "Can not get smarty context in prestashop 1.8"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello, I see that, I can not get sm

[2022-10-18 06:41] kpodemski commented on #30044
Hello @web23421

Why would you get Smarty variables this way? 🤔 You can access the category object this way:

`$this->context->controller->getCategory()` && `$this->context->controller->getProduct()`

From what I see, this function was deprecated years ago:
https://capture.dropbox.com/hMmzsDgPfTePaCcA

And it is now removed from the Smarty core.

[2022-10-18 07:26] PrestaEdit commented on #30044
As Smarty was updated inside this version, deprecated methods are not usable.

You need to use the `getTemplateVars('product')` , also available on the 1.7 PrestaShop.

This is not a bug, it's a need to make compliant the galslidereverywhere module.

[2022-10-18 08:24] Hlavtox commented on #30044
What about `$this->context->smarty->tpl_vars['customizationFields']->value`?

[2022-10-18 09:21] nicosomb opened #30046 "On AdminImages, when I don't fill a required field, the form is even so saved"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

On images administration, there are

[2022-10-18 09:23] web23421 commented on #30044
Ok, thanks everybody. Yes, the problem with compatibility of the module. I have replaced by this code:

getTemplateVars('product')
$this->context->controller->getProduct()

It works.

[2022-10-18 09:24] #30044 closed, assigned to nobody

[2022-10-18 09:45] AureRita commented on #30043
Hi @PrestaEdit  ,

Despite our efforts, we were not able to reproduce your issue with the provided information. As you can see in this video :

[Untitled_ Oct 18, 2022 11_42 AM.webm](https://user-images.githubusercontent.com/100699445/196396351-1bce8ebf-9298-4d53-923c-a7cb9fa5b5fa.webm)

I verified different page wich the problem should be present.

Can you give me maybe a screen to show me this i

[2022-10-18 09:50] PrestaEdit commented on #30043
Hi,

Not the "Help" button, but the Helper card, the one where you can see the "Lear more" button on your screen.

[2022-10-18 09:56] AureRita commented on #30043
Thank you for this details,

I reproduce the issue with PrestaShop version 8.0.0, as we can see here :

[Untitled_ Oct 18, 2022 11_52 AM.webm](https://user-images.githubusercontent.com/100699445/196398862-e6023176-6931-4819-848d-fedda36edf19.webm)

I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be resolved.

Thanks

[2022-10-18 10:21] fc-mbouzidi commented on #30040
My bad I tried with the classic theme and it works. It comes from my template

[2022-10-18 10:35] #29654 closed, assigned to 0x346e3730

[2022-10-18 10:36] #29937 closed, assigned to thomasnares

[2022-10-18 11:49] mauricecec commented on #29164
I have same problem , in my case i installed a fresh Prestashop 1.7.8.7
Than after that i did :
International - Translate front office Select Theme , no Theme Classic Found
as i understand there is a file that can be Modified from Null to Classic , but i do not understand which one
Thanks

[2022-10-18 12:06] rsoulard-prolaser commented on #30041
Hello @slupostrupek
Your override of the ImageManager class is incorrect, it should extend the ImageManagerCore class

[2022-10-18 12:28] AureRita commented on #30046
Hi @nicosomb ,

Thank you for your report. I reproduce the issue with PrestaShop version 1.7.7.8, we can see the issue in this video :

[Untitled_ Oct 18, 2022 2_23 PM.webm](https://user-images.githubusercontent.com/100699445/196429103-e0c6f018-c43d-4e11-b96b-4a5b5bb537a7.webm)

I'll add this to the backlog so it can be fixed.

Please be aware that some issues might take a very long time to be res

[2022-10-18 12:37] alexanderrz1 opened #30050 "I cant see order details in Front Office"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Hello, i noticed that i cant see or

[2022-10-18 12:47] AureRita commented on #30042
Hi @mauricecec  ,

Despite my efforts, I was not able to reproduce your issue with the provided information as you can see in this video :

[Untitled_ Oct 18, 2022 2_41 PM.webm](https://user-images.githubusercontent.com/100699445/196432604-e8abde59-15f0-4014-b186-6271604e878a.webm)

Did I miss something to do, to reproduce your Issue ?

You can maybe give us a video with the issue ?

Waiting for y

[2022-10-18 12:56] AureRita commented on #30040
Hi @fc-mbouzidi

Thank you for your report and your investigation,

I will close this issue

Have a great day

[2022-10-18 12:56] #30040 closed, assigned to nobody

[2022-10-18 13:25] boubkerbribri opened #30051 "[Console] Error when accessing to BO symfony pages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

404 Error pops on console when tryi

[2022-10-18 13:29] nicosomb commented on #30032
@AureRita I also saw that this configuration key is not available in `install-dev/data/xml/configuration.xml` (files to store default values). Is that a bug?

[2022-10-18 13:34] #30050 closed, assigned to nobody

[2022-10-18 13:40] hibatallahAouadni commented on #22057
@Arpit-Gulgulia yesss

[2022-10-18 13:44] AureRita commented on #30051
Hi @boubkerbribri  ,

Thank for your report. I reproduce the issue with PrestaShop version 8.0.0 and not with the version 1.7.8.7. You can see the issue on this video :

[Untitled_ Oct 18, 2022 3_42 PM.webm](https://user-images.githubusercontent.com/100699445/196447324-737038e4-9a6f-4551-a213-9d7497a69cd8.webm)

Nice catch ! It's a regression ! I'll add it to the patch backlog.

Please be aware th

[2022-10-18 13:58] nicosomb commented on #30051
The issue seems to come from `admin-dev/themes/new-theme/public/preload.tpl` with the `{$admin_dir}` variable.

[2022-10-18 14:01] nicosomb commented on #30051
Maybe this commit https://github.com/PrestaShop/PrestaShop/commit/f3e107b1cf959b57fd2da6193667e28e5088bf2c#diff-a0c11aa945b1bc083a28bb4c339304f0f8fdf8e6bbcb8a8741366da887c2aaa4

[2022-10-18 14:09] AureRita commented on #30042
Hi @mauricecec

I tried again with the change of the weight, you can see it on this video :

[Untitled_ Oct 18, 2022 4_07 PM.webm](https://user-images.githubusercontent.com/100699445/196453964-0b2b65d3-0ebe-4c63-b414-25356279557c.webm)

Nothing happens, can you give us a video to reproduce your issue ?

Waiting for your feedback

[2022-10-18 14:12] lblasik commented on #22303
I have problematic scenario when you generate voucher insted of insert product line with cost 0.
We work with 2 different taxes, and we are giving 1 product for free and this product has 21% tax. When in the cart ar different products wiht different taxes 21 and 10% voucher tax is divided. It generates many problems with invoicing.
It would be big improvement and not feature in my opinion.
In gene

[2022-10-18 14:21] mauricecec commented on #30042
Hi Rita ,

On attach my video , in this case Bug was reproduced in another Mode (About the same)
The question as i understand is that Custom Feature and Mandatory features together have some problem with this version
i m sorry if my video have audio
thanks in advance for your  great upport

[2022-10-18 14:22] nicosomb opened #30053 "Don't launch Github Actions for PR which are draft"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-18 14:33] leemyongpakvn opened #30055 "blockreassurance - use pure HTML a tag instead of JavaScript window.open method"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing features request](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3AImprovement%2CFeature%2CDeveloper+Feature+) and found no previous suggestion of this feature.

### Is your feature

[2022-10-18 14:40] HanaRebaiQA opened #30056 "FO - The images are not well displayed in the product details page"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

The images are not well displayed i

[2022-10-18 14:46] AureRita commented on #30055
Hi @leemyongpakvn  ,

Thank you for your suggestion. The Maintainer Team will take it into consideration for future developments.

Waiting for your PR :rocket: !

Thank you

[2022-10-18 15:05] #29820 closed, assigned to nobody

[2022-10-18 15:06] AureRita commented on #30028
Hi @Anthony-Tran

Your issue seems to be similar than this one : #29185

Can you say me if it's the same or not ?

Waiting for your feedback

[2022-10-18 15:11] AureRita commented on #30042
Hi @mauricecec

I didn't see your video, wait until it was uploaded on the discussion

Waiting for your feedback

[2022-10-18 15:15] mauricecec commented on #30042
Dear Rita Video is to big i think i will try to reduce size

[2022-10-18 15:20] mauricecec commented on #30042
Dear Rita

Yes You are right

I iuploaded agian i think now is oK
https://user-images.githubusercontent.com/114263985/196472701-a3d45618-4a5a-4ed4-bdb0-819ba3352a84.mp4

[2022-10-18 15:26] AureRita commented on #30056
Hi @HanaRebaiQA  ,

I reproduce the issue with PrestaShop version 8.0.x and not with the version 8.0.0-RC, as you can see in this video :

[Untitled_ Oct 18, 2022 5_25 PM.webm](https://user-images.githubusercontent.com/100699445/196474351-da5fddc3-0fb6-44d5-90e2-aa0a25769be8.webm)

Nice catch ! It's a regression ! I'll add it to the patch backlog.

it's normal that my pictures have a bad resolutio

[2022-10-18 15:44] AureRita commented on #30042
I see your video and try to follow them, point by point, and I didn't reproduce your issue

You can see this on my video :

[Untitled_ Oct 18, 2022 5_37 PM.webm](https://user-images.githubusercontent.com/100699445/196478731-3013f3a4-f8a0-4ff6-afda-197993af23ce.webm)

Do you think I miss something ?

Waiting for your feedbaxk

[2022-10-18 15:48] mauricecec commented on #30042
Dear Rita ,
Thanks so much for your big support.
If you follow step by step and everything is Ok , i really have no idea what could be the issue , i can give you even the
url of the fresh Install it is a test shop , but what i can assure to you that it is a fresh Install , and i have same problems on two different active stores with same version
Waiting your comment
Regards

[2022-10-18 15:57] mauricecec commented on #30042
Dear Rita ,
Credential of Test Shop i do not mind if in Public it is a test shop
https://maucec1.dreamhosters.com/
info@maucec1.dreamhosters.com / Umberto612755
Kindly ask if you can reproduce this issue on this Test Shop

[2022-10-18 16:08] mauricecec commented on #30042
https://maucec1.dreamhosters.com/admin291icjqvy
Url Edited Rita
Thanks

[2022-10-18 16:12] #27665 closed, assigned to nobody

[2022-10-18 17:52] Anthony-Tran commented on #30028
Hi @AureRita
Part of the problem is similar (double customization).
The 2nd bug is not addressed in this post and it is the one that is the most problematic because it does not save customization.

[2022-10-18 20:02] Timoenhilda09 opened #30058 "Unnamed images for other languages"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

For some reason,

When creating a n

[2022-10-18 20:22] PrestaEdit commented on #29123
Hi,

Someone is here ?

[2022-10-18 20:26] matks commented on #29123
Just me

[2022-10-18 20:29] PrestaEdit commented on #29123
You are lost inside the the amazing maze of unanswered issues ? 😌

[2022-10-18 20:31] matks commented on #29123
Just helping the project as I can with my limited time and energy (and obviously the work I'm doing right here is volunteer nobody's paying me to help the project at 10:30pm on Tuesday)

[2022-10-18 20:34] PrestaEdit commented on #29123
Nobody paying me at anytime of my help/work on this project, too. I really don't understand this sentence.

If you like, close this issue : it will help everyone to get free time to check anothers issues,  ¯\_(ツ)_/¯

[2022-10-18 20:46] #27109 closed, assigned to nobody

[2022-10-18 21:38] Hlavtox commented on #30058
Hi @Timoenhilda09, thank you for reproducing an issue I didn't know how to reproduce 😄

This PR will fix it - https://github.com/PrestaShop/PrestaShop/pull/27758.

[2022-10-18 21:47] PrestaEdit opened #30059 "BO - Orders - The gift message is not visible enough"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When you allow the customer to buy

[2022-10-18 21:54] PrestaEdit commented on #30059
Actually, it's visible but you need to know that it will be.
"Gift package" label is shown on the loading, but the gift message will be on the carrier tab.

<img width="682" alt="Capture d’écran 2022-10-18 à 23 53 25" src="https://user-images.githubusercontent.com/2631425/196552123-2e73ebea-84c9-4395-a618-67027f280c1d.png">

<img width="682" alt="Capture d’écran 2022-10-18 à 23 53 20" src="htt

[2022-10-18 22:04] PrestaEdit opened #30060 "Disabling customer groups feature still show them inside customer edition"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you disable the customers's grou

[2022-10-18 22:07] PrestaEdit opened #30061 "Product Page V2 - Features are still configurable on product sheet while you disable features optional feature"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

If you disable the "Features" featu

[2022-10-18 22:09] PrestaEdit opened #30062 "Groups could be managed even with feature disabled"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

When the customers groups feature i

[2022-10-19 05:43] Timoenhilda09 commented on #30058
Thank you!

[2022-10-19 05:43] #30058 closed, assigned to nobody

[2022-10-19 07:45] matks commented on #28649
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29615

[2022-10-19 07:45] #28649 closed, assigned to nicosomb

[2022-10-19 07:46] #27640 closed, assigned to margud

[2022-10-19 07:49] #29062 closed, assigned to nobody

[2022-10-19 08:34] PrestaEdit commented on #29560
Hi @matks ,

Why 8.0.1 ? Isn't it an error ?

[2022-10-19 08:47] matks commented on #29560
8.0.0 content is already frozen
8.0.x branch content is now PS 8.0.1

[2022-10-19 08:48] PrestaEdit commented on #29560
But which version will be available on the final release, so ?

[2022-10-19 09:19] florine2623 commented on #29341
Fixed by https://github.com/PrestaShop/PrestaShop/pull/29846

[2022-10-19 09:19] #29341 closed, assigned to FabienPapet

[2022-10-19 09:25] AureRita commented on #30032
I checked my `install-dev/data/xml/configuration.xml` and I didn't see the key `PS_HIGHT_DPI`

[2022-10-19 09:41] paulnoelcholot commented on #30062
Hello @PrestaEdit,

Thanks for your issue.

If I understand the problem, the step to reproduce is:
1. Go to performances tab
2. Disable the customers groups
3. Go to Shop Parameters > Customer Settings > Groups

I should not have access to this feature and a message should tell me that the feature has been disabled and give me a link to enable the feature. That's right?

https://watch.screencastif

[2022-10-19 10:13] paulnoelcholot commented on #30060
Hi @PrestaEdit

Thanks for this issue. Could you specify what you mean by "see customer" and the path to access it?

Waiting for your comment

[2022-10-19 10:17] paulnoelcholot commented on #30061
Hi @PrestaEdit

Thanks for this issue. Could you specify what you mean by "product edition", the path to access it and a screenshot of result please?

Waiting for your comment

[2022-10-19 10:22] PrestaEdit commented on #30061
I mean Going to catalog, see products list and edit it.

[2022-10-19 10:22] PrestaEdit commented on #30060
I mean going to Customers listing and see details/ edit it.

[2022-10-19 10:26] paulnoelcholot commented on #30061
Thanks. Do you have a visual proposal for us on the desired result?

[2022-10-19 10:26] #12412 closed, assigned to nobody

[2022-10-19 10:31] paulnoelcholot commented on #30060
If I understand the problem, the step to reproduce is:

1. Go to performances tab
2. Disable the customers groups
3. Go to Customers > Customers > Edit a customer
I should not have access to this feature and a message should tell me that the feature has been disabled and give me a link to enable the feature. That's right?

https://watch.screencastify.com/v/VylwyGILF4SpnxcEATqV

[2022-10-19 11:14] PrestaPierre opened #30063 "GDPR Module - translation on help section is always on English"
### Prerequisites

- [X] I understand and accept the project's [code of conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md)
- [X] I have already [searched in existing issues](https://github.com/PrestaShop/PrestaShop/issues?q=is%3Aissue+label%3ABug) and found no previous report of this bug.

### Describe the bug and add screenshots

Help part on GDPR module is always

[2022-10-19 12:04] paulnoelcholot commented on #30059
Hi @PrestaEdit,

If I understand the problem, the step to reproduice is :

On BO :
1. Go to Shop Parameters > Order Settings
2. Enable the "Offer gift wrapping"

On FO :
3. Place a order with the gift wrap option enabled in the delivery method and adding a message with the gift.

On BO :
4. Orders > Orders > click on the order details

I can't see the message added to the gift. The content of this