[2020-05-29 23:49] Matt75 commented on #19469
What is ps_checkout version ?
Can you check in `var/logs/ps_checkout` if errors is logged ?

[2020-05-29 23:54] srn87 commented on #19465
Thank you very much!! It Worked @Matt75

[2020-05-30 00:00] srn87 commented on #19469
Hi @Matt75 it is 1.4.1 version of prestashop checkout.

Yes, it tells me that there is an error in the login that the credentials are not correct, but I use the same credentials that I use for paypal.es user and pass equal no?

[2020-05-30 00:04] Matt75 commented on #19469
No here it’s PrestaShop Checkout account not PayPal account

1. Create a PrestaShop Checkout account or sign in with an existing PrestaShop Checkout account
2. Sign in with your PayPal Account when you have been successfully signed in with your PrestaShop Checkout account.

[2020-05-30 00:14] srn87 commented on #19469
fixed, you have solved 2 problems for me 1 week for it in 5 min, you are a genius, thank you very much @Matt75

[2020-05-30 00:59] srn87 opened #19470 "Error 504 Gateway Time-out"
I am having problems when I try to run a script that what it does is import products from my provider and it does not finish running, I get a 504 ngnix error on the screen before it ends, the hosting provider tells me it has to do with the design of my web, what I do not explain is that I have uploaded the type of server with them and before I did not have that problem and now that I have better v

[2020-05-30 01:10] #19469 closed, assigned to nobody

[2020-05-30 01:10] #19465 closed, assigned to nobody

[2020-05-30 10:21] neich78 commented on #18016
Have the same issue (PS 1.7.6.4) and the client got confused with the order image does not match the right product image.
This is order image which is under tmp/img directory as "mini"
![Captura de pantalla 2020-05-30 a las 11 50 16](https://user-images.githubusercontent.com/11721870/83325831-a914be80-a26f-11ea-9454-6d359b72e5b2.png)
This is product catalog image, also in tmp/img but with another

[2020-05-30 14:35] Matt75 commented on #14039
@PrestaShop/prestashop-core-developers I thinks this feature should be in 1.7.7 because we have many issue with people updating modules in production environment.

It cause many issues related to cache cleaning, I thinks it need a new EPIC about cache management.

More over I thinks we should add a new empty state on Modules > Modules Manager > Updates
To inform merchant about best practice to do

[2020-05-30 14:59] gadnis opened #19471 "Multiple column sorting using Grid component"
#### Is your feature request related to a problem?

First, this is a question and if the answer is "No", than it is a feature request 😁
Question: - Is it possible to sort multiple columns with grid component? No? Than why not?

#### Describe the solution you'd like

It would be great to be able sort by multiple columns. Excel has this option, why not have it here too? Example: I need to sort produ

[2020-05-30 16:35] Matt75 commented on #14703
@PrestaShop/prestashop-core-developers this issue cause trouble with PrestaShop Checkout too. On shared hosting if PaymentModule::validateOrder() is timeout PrestaShop Order is not created or partially created !

[2020-05-30 17:38] Gipielle opened #19472 "Save and stay button in category edit"
## Describe the bug

I would like to have a save and stay button in category edit, with many languages to menage is good to save often when you edit a category but is annoing to return in category each time you save

## Expected behaviour

In category form I have two buttons:
- `Save` button that saves the modification and returns to list
- `Save and stay` button that saves the modification and re

[2020-05-30 17:57] gadnis opened #19473 "Extend JS Router to add routing from modules"
## Describe the bug:

As described in symfony [documentation](https://symfony.com/doc/4.0/routing/generate_url_javascript.html), there is a solution to generate routing in javascript like so:
`<script>
var url = Routing.generate('blog_show', {
    'slug': 'my-blog-post'
});
</script>`

Is it possible to do that with PrestaShop?

## Expected solution:

This JS routing is already used in the core pa

[2020-05-30 18:56] srn87 commented on #19470
I am trying to solve the problem by looking over the internet for other cases that are similar.

[Sat May 30 20: 47: 05.445674 2020] [proxy_fcgi: error] [pid 1585: tid 140529677313792] [client 79.154.179.211:42640] AH01071: Got error 'PHP message: PHP Warning: Invalid argument supplied for foreach () in /var/www/vhosts/mysite/mysite/modules/provider/myprovider.php on line 524 \ n ', referer: https

[2020-05-30 19:37] alfonsolr09 commented on #18803
<img src="https://image.prntscr.com/image/gtGSvly4S1ex_mIQo4wRVA.png" />
the link redirects here where the customer can pay, by giving send I suppose it redirects to a process similar to paying a cart in prestashop

[2020-05-30 19:38] alfonsolr09 commented on #18803
I think it is a good way for a customer to pay you for an order that he places by phone or many other times.

[2020-05-30 19:39] alfonsolr09 commented on #18890
@florine2623

[2020-05-30 19:39] alfonsolr09 commented on #19247
I already did it and the new product works perfectly

[2020-05-30 19:59] bpato opened #19474 "verification.php in ps_emailsubscription is outdated"
I don't know if it's still in use but verification.php in ps_emailsubscription is outdated and if you call it directly it throws a 500 error on server.

https://github.com/PrestaShop/ps_emailsubscription/blob/master/verification.php

[2020-05-30 20:28] matks commented on #19473
We use this solution for Symfony pages in the BO 😉
- FOSJSRoutingBundle is enabled, see https://github.com/PrestaShop/PrestaShop/blob/develop/app/AppKernel.php#L59
- we have wrapped the function into a JS component Router.js https://github.com/PrestaShop/PrestaShop/blob/develop/admin-dev/themes/new-theme/js/components/router.js

And we use it like this:
[code]

See for example `admin-dev/themes/ne

[2020-05-30 20:31] matks commented on #19473
However we have 1 issue: this needs for Symfony routes to be parsed and dumped into a JSON file that we put in `admin-dev/themes/new-theme/js/fos_js_routes.json`

So if you create a new route, you need to re-generate this file ! If you are a shop admin / developer you can do it, but if you create a module ; you cannot do it easily as you might not have access to this part of the shop

We have no g

[2020-05-30 20:40] matks commented on #9944
ping @LouiseBonnard @Junebyun ; feedback from @davidglezz is relevant 😄

[2020-05-30 20:54] matks commented on #16563
@PrestaShop/prestashop-qa  Hi ! it seems the PR associated to this issue has been merged. So can we close this issue ?

[2020-05-30 20:57] arirangz commented on #14979
Hello,

I don't know if it's related but I have a similar problem on :
Presashop 1.7..5
Tested on both PHP 7.1 or PHP 7.3
All module disabled
Override disabled
Default theme

As soon as I have one product in the cart, the pages take much more time to load : from 700ms to 3000ms+

Before adding a product :
![Capture d’écran 2020-05-30 à 22 52 38](https://user-images.githubusercontent.com/1193727/

[2020-05-30 21:47] mnowakpcgs commented on #14979
It was even worse for me, it would increase exponentially like that for
each additional item to the point that 20+ items in cart would start to
time-out and checkout was impossible.

I don't know. The advice I've received for years was to go back to 1.6. I
had skipped straight from 1.4.4.0 to 1.7.1.2 so its been a lot of work
migrating overrides, modifications, and modules, but I'm 90% done and
it

[2020-05-30 23:49] tarasklymets opened #19475 "Slow edit product"
https://skr.sh/v2QXe2Xhh91
Other sections load quickly. The old site on version 1.6 loads quickly when editing the product. Can I hide categories, as was in 1.6?

[2020-05-30 23:59] tarasklymets commented on #19475
![image](https://user-images.githubusercontent.com/16720338/83341322-b91db400-a2ea-11ea-92e1-3f69d2d6e450.png)

[2020-05-31 00:00] tarasklymets commented on #19475
![image](https://user-images.githubusercontent.com/16720338/83341326-cf2b7480-a2ea-11ea-9743-ac3df44d1356.png)
As it was in 1.6

[2020-05-31 05:43] SolucionesIE opened #19476 "Display backoffice orders"
I have a problem with viewing orders in the backoffice in Prestashop 1.7.6.5.
It opens like this:
![screencapture-magiaviral-mvadmin-index-php-2020-05-31-00_36_59](https://user-images.githubusercontent.com/66195002/83345325-5ec72800-a2d7-11ea-922e-4d2d924c3120.png)

Thanks for your help.
Regards

[2020-05-31 07:26] gadnis commented on #19473
@matks that’s great news! Looking forward to module solution too. Thanks ;)

[2020-05-31 08:53] TemKaSD opened #19477 "PHP 7.4: Notice: Trying to access array offset on value of type bool"
![Screenshot_1](https://user-images.githubusercontent.com/6318282/83348437-e6607580-a36f-11ea-96d4-e0c6fc4f1bee.png)

https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Product.php#L2992

$ids return FALSE (bool)

[2020-05-31 11:02] bpato opened #19478 "A second fieldset with tabs shows broken on a module configuration page"
#### Describe the bug

If you add a second fieldset with tabs on a module's configuration page, the first its ok but the second ones its broken.

this are the ids for the panels:

[code]

https://github.com/PrestaShop/PrestaShop/blob/12177c5efaad9abaf8fca5c669f4c0026ee4114a/admin-dev/themes/default/template/helpers/form/form.tpl#L48

the javascript that makes the tabs in the second case is searchi

[2020-05-31 12:47] kerstar opened #19479 "How to resend a new order notification to the seller? (ps_emailalerts module)"
Hello,

I have a minor problem.

Due to a failure on the mail server side, notifications of new orders could not be sent.
The mail server crash has been fixed and I thought that I would simply be able to manually resend the seller about new orders, but I don't see this option anywhere.

How do I resend a new order notification to the seller?

Can anyone tell me what code and where to add, so as to

[2020-05-31 16:30] oliversiegel opened #19480 "Template command {render} violates MVC architecture"
The (presumably) custom command {render} breaks MVC architecture and makes the .tpl file act as a controller.

This severely reduces creative freedom for Theme/Front End developers. Also it violates the separation of concerns principle and it over-complicates the template files, violating the KISS principle.

The documentation barely provides any details about this function, instead it is vague ab

[2020-05-31 18:06] davidglezz commented on #9944
https://doc.qt.io/archives/qq/qq19-plurals.html

![image](https://user-images.githubusercontent.com/194784/83359380-2f1d2c00-a37a-11ea-9f8c-f81479f817f4.png)

**Polish**
0 domów
1 dom
2 domy
3 domy
4 domy
5 domów
21 domów
22 domy
24 domy
30 domów

https://doc.qt.io/archives/qq/qq19-plurals.html

[2020-05-31 18:55] oliversiegel commented on #19480
This issue is related, or perhaps even caused caused by the render command:

https://github.com/PrestaShop/PrestaShop/issues/19462

[2020-05-31 20:28] Robin-Fischer-PS commented on #16563
@matks The PR https://github.com/PrestaShop/PrestaShop/pull/16550 fixes only the issue https://github.com/PrestaShop/PrestaShop/issues/13386.

This issue is for another bug, which is not fixed by the PR (according to this comment) :

https://github.com/PrestaShop/PrestaShop/pull/16550#issuecomment-559074422

Just to be sure, I tested on develop branch, and the bug is still there.

[2020-05-31 20:44] ksaandev commented on #9998
Similar issue here

[2020-05-31 20:48] ksaandev opened #19481 "PostgreSQL support"
#### Is your feature request related to a problem?

It would be great to be able to use postgresql

pgsql have many useful features like logical replication, huge performance compared to mysql

#### Describe the solution you'd like

Be able to plug prestashop on a postgresql database instead of mysql, select database type "postgresql" and it works

[2020-05-31 21:09] matks commented on #9934
Hi ! I'm sorry I don't understand the issue here. I think I'm missing one part of the information.

I do this
- create a new product with name "Hello" - let's say it's product A
- create a 2nd product "Hello" - let's say it's product B
- create tag "soirée" for product B ; like this
<img width="791" alt="Capture d’écran 2020-05-31 à 23 06 08" src="https://user-images.githubusercontent.com/383005

[2020-05-31 22:09] jose73wrc opened #19482 "Errow with tax exempt customers"
when a customer with a tax exempt location is registered,
There are several errors, whether or not we have marked show taxes, it should always show the prices of the products without taxes, like the total of the invoice, the total with taxes should not appear in the cart.
Something similar happens with transport taxes, it does not calculate correctly, it adds the products with taxes included plus

[2020-05-31 23:52] DPStudioGR opened #19483 ""500 Internal Server Error". After "PrestaShop Marketplace in your Back Office" module update."
I got a notification that there was an update for "PrestaShop Marketplace in your Back Office" module.
After the update was finished and i clicked to return to dashboard i got the following error..

Oops! An Error Occurred
The server returned a "500 Internal Server Error".
Something is broken. Please let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorr

[2020-06-01 01:34] Angar90 opened #19484 "[PrestaShop 1.7.7.0] Logo is not displayed if I use theme from 1.7.6 or other versions"
#### Describe the bug

If I use the theme from PrestaShop 1.7.6 in 1.7.7, the shop logo is not displayed:
https://prnt.sc/srdrc6

It happened because the path to the logo in 1.7.7 looks like this:
src="{$urls.img_ps_url}{$shop.logo}"

and in 1.7.6 like this:
src="{$shop.logo}"

This small change will cause many problems, because after upgrade from for example PrestaShop 1.7.6 to 1.7.7 almost all u

[2020-06-01 04:09] DianaButkute commented on #19380
Hello @marionf

I am toking about BO - back-office. Yes it is normal, but if I want to create pack from customizable product. It means that I want to have pack with two products, one would be the women t-shirt (where you can write whatever you want on it) and the men t-shirt (where you can write whatever you want on it). How to solve this problem ? Because when I creating pack I do not see any lab

[2020-06-01 07:02] Progi1984 commented on #14039
Ping @PrestaShop/prestashop-product-team

[2020-06-01 07:17] SD1982 commented on #18498
Hi @colinegin maybe we can wait until #18532 is done and merged just to be sure

[2020-06-01 07:21] sarahdib commented on #19341
@colinegin it's too technical I can't say :(

[2020-06-01 07:25] sarahdib commented on #19090
@arouiadib Thank you for those detail :)

@kenlog can you confirm ?

[2020-06-01 07:29] Stampa-Stampa commented on #19483
Hi...
Can you please tell me how i can disable this module from database, or what is its name in the php database?

[2020-06-01 07:29] colinegin commented on #19341
ping @PrestaShop/prestashop-core-developers

[2020-06-01 07:37] matks commented on #14039
I 🆙 this request and this need ; makes a lot of sense 👍

[2020-06-01 07:43] Matt75 commented on #19483
Hi @Stampa-Stampa

This is a cache issue, we released a new version of ps_mbo on last Friday to fix it.

Please follow instruction provided with the new version : https://github.com/PrestaShopCorp/ps_mbo/releases/latest

[2020-06-01 07:49] MatShir opened #19486 "Droplist to change the number of products in the list"
**User story**
As a merchant, when I have more than 50 products on the order page I would like to check them quickly to edit one without having to go through all the pages.

**Solution**
The best solution would have been a search but because we are stabilizing at the beta phase. The simpler solution, we will be to add a drop list to change the number of products displayed by pages.

**Detailed spe

[2020-06-01 07:50] colinegin commented on #19403
ping @jolelievre do you reproduce this issue ?

[2020-06-01 07:59] MatShir opened #19488 "The list of products researched is hidden when adding a product"
#### Describe the bug

In the tablet view, the list of products researched is hidden when adding a product by the order totals.
![image](https://user-images.githubusercontent.com/43613217/83388085-26663d80-a3ee-11ea-9949-9935a6866cdd.png)

#### Expected behavior

To be displayed on the top of the order totals.
![image](https://user-images.githubusercontent.com/43613217/83388114-2f570f00-a3ee-11ea-

[2020-06-01 08:04] Stampa-Stampa commented on #19483
Thanks ...it worked

[2020-06-01 08:04] Matt75 commented on #19478
Well I always be against usage of Module::getContent() because since PrestaShop 1.5 module can create a ModuleAdminController where Helpers introduced in 1.5 are designed for.

Usage of helpers on Module::getContent() is a trick but not a good practice, it’s not initially designed for so it’s not working well...

Personally I use only Module::getContent to put a redirection to my main ModuleAdminC

[2020-06-01 08:06] eternoendless commented on #14039
I'm sorry to be the one saying no, but we can't add this in 1.7.7 because it's too late  in the release cycle. However I think this would be a nice addition to 1.7.8

[2020-06-01 08:13] Matt75 commented on #14039
Well, we should investigate on Cache issues, reports are growing since ps_mbo first release on shared hosting.

[2020-06-01 08:17] sarahdib commented on #18852
@LouiseBonnard like this : https://drive.google.com/file/d/11V3xqEu7ffBLtcuLXRb8UoOI5DtTvdS_/view

[2020-06-01 08:27] MatShir opened #19490 "Wrong price displayed before adding a product on a order"
### Describe the bug

When I add the same product in the order that was previously discounted, the price of the product on the add interface displays the new price, but when it is added, it displays the old price.

![image](https://user-images.githubusercontent.com/43613217/83390576-60d1d980-a3f2-11ea-8779-bf5114209aef.png)

**Displays price on the add interface:**
35.9 € tax excl
43.08 € tax incl

[2020-06-01 08:30] KwabeaAtakora opened #19491 "Error Migrating Prestashop"
Trying to migrate my Prestashop Application to AWS. Followed all the steps here https://www.prestashop.com/en/blog/how-to-migrate-prestashop-to-a-new-server and i get the error below

Notice: Undefined index: type
--
in 8b032dc79d5e7fed3b4903a6acad53de7ce2ce46_2.module.ttmegamenuviewstemplatesh.php line 83
at content_5ed3fa41531231_96514705(object(SmartyDevTemplate))in smarty_template_resource_bas

[2020-06-01 08:51] colinegin commented on #18003
ping @Matt75 @Darmona i close this issue as it no longer occurs on your module.
Feel free to reopen it if it happens again.

Thanks !

[2020-06-01 08:51] #18003 closed, assigned to nobody

[2020-06-01 08:59] colinegin commented on #19244
@matks @Quetzacoalt91 should we put it in 177 kanban ?

[2020-06-01 08:59] jolelievre commented on #19463
Hi @TemKaSD,

could you please provide more info about this deprecation notice? Especially:

- which version of PHP you are using?
- which version of PrestaShop you are using?

If I'm not wrong `array_key_exists` has been deprecated since PHP 7.4, as of today even our coming latest version 1.7.7 is compatible to PHP 7.3 max, the full support of PHP 7.4 will be implemented in 1.7.8

So these warnin

[2020-06-01 08:59] #19463 closed, assigned to nobody

[2020-06-01 09:00] jolelievre commented on #19463
Duplicate of #16477

[2020-06-01 09:01] #19442 closed, assigned to nobody

[2020-06-01 09:01] matks commented on #19442
Fixed by https://github.com/PrestaShop/PrestaShop/pull/19456

[2020-06-01 09:15] matks commented on #19244
I think yes, as it is an unwanted change of behavior that causes issues to modules

[2020-06-01 09:17] Quetzacoalt91 commented on #19244
Yes please, there are potential side effects on modules relying on `addJquery()` on PS 1.7.7

[2020-06-01 09:20] matks commented on #19244
So there are 3 topics, if I understand correctly:

### jQuery files are required in a new Order in 1.7.7

As some modules rely on this order, this creates issues.

Solution: make sure jQuery files are required like before, which means at the beginning of the `<script type="text/javascript" src=...>` list is that right ?

### `addJQuery()` cannot be used anymore

Is that really an issue if previous

[2020-06-01 09:20] marionf opened #19492 "Multistore - Advanced parameters > Performance - Display only all shops context and add information message"
This page doesn't have checkboxes in all shops context, no matter the context selected changes are applied for all stores.

We should display in the header only the all shops context
We should add an information message: "Note that this page is available in all shops context only, this is why your context has just switched."

[Specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broad

[2020-06-01 09:20] marionf opened #19493 "Multistore - Advanced parameters > Team > Profiles - Add information message"
This page is available only in all shops context, other contexts are not displayed in the header.

We should add an information message: "Note that this page is available in all shops context only, this is why your context has just switched."

[Specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.md#list-of-pages-for-specific-case-3-the-page-can-

[2020-06-01 09:21] marionf opened #19494 "Multistore - International > Localization > Languages - Add information message"
This page is available only in all shops context, other contexts are not displayed in the header.

We should add an information message: "Note that this page is available in all shops context only, this is why your context has just switched."

[Specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.md#list-of-pages-for-specific-case-3-the-page-can-

[2020-06-01 09:38] matks commented on #19305
@Max84 Just had a look, but this is actually not an issue.

PS 1.7.7. is not compatible with php7.4 . It is compatible with php7.3 and next minor version (PrestaShop 1.7.8) will be compatible with php7.4

The message you have comes from php7.4 "Trying to access array offset on value of type null"

[2020-06-01 09:38] #19305 closed, assigned to nobody

[2020-06-01 09:42] PierreRambaud commented on #19341
If the quantity needs to be updated during the process, the usage of this hook seems legit :thinking:

[2020-06-01 09:58] PierreRambaud commented on #14956
Found the original commit introducing this wrong deprecated notice: https://github.com/PrestaShop/PrestaShop/pull/8411/files#diff-9079f61ba1c5da7f9f142723d5d42ea0R683

[2020-06-01 09:59] jolelievre commented on #19464
Hi @TemKaSD

As I explained in this comment https://github.com/PrestaShop/PrestaShop/issues/19463#issuecomment-636715107 The compatibility with PHP 7.4 is planned for PrestaShop 1.7.8 version.

I tried to reproduce your bug however but encountered many blocking issues related to PHP 7.4, so I guess you already fixed some of them to reproduce this issue? Could you detail the bug a little more becau

[2020-06-01 09:59] marionf opened #19495 "Multistore - Shop parameters > Order settings > Statuses - Add information message"
This page is available only in all shops context, other contexts are not displayed in the header.

We should add an information message: "Note that this page is available in all shops context only, this is why your context has just switched."

The All Shops context should be forced.

[Specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.md#list-o

[2020-06-01 10:03] marionf opened #19496 "Multistore - Shop parameters > Order settings > Statuses > Add new / edit order status - Add information message"
Currently, this page don’t have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

The All Shops context should be forced.

Th

[2020-06-01 10:03] jolelievre commented on #19464
Also could you detail how this bug can be reproduced by a tester with detailed process.

Like:
- go on Front Office
- try to go on category page
- ...

[2020-06-01 10:05] marionf opened #19497 "Multistore - Shop parameters > Order settings > Statuses > Add new / edit order return status - Add information message"
Currently, this page don’t have shop association block.
In this case, the element is added for all shops, no matter the context selected

To avoid frustration, we should inform the merchants of this behavior:
Display an information message on this page: "Note that this feature is available in all shops context only. It will be added to all your stores."

The All Shops context should be forced.

Th

[2020-06-01 10:07] jolelievre commented on #19477
Hi @TemKaSD

Thank you for your feedback, as explained in this comment https://github.com/PrestaShop/PrestaShop/issues/19463#issuecomment-636715107 The support for PHP 7.4 will be managed in PrestaShop 1.7.8, so this issue might be a duplicate of #16477 but without further information it's hard to tell.

I tried to reproduce your bug however but encountered many blocking issues related to PHP 7.4,

[2020-06-01 10:17] eternoendless commented on #19480
I don't know much about this feature but it looks like it was implemented 5 years ago to "make re-usable smarty components that are also friendly to designers" (see https://github.com/PrestaShop/PrestaShop/commit/07edeb7963f9c330b177b9fd6cc2ca8f7200dab3)

I personally struggle to see the added value of this thing, and I agree that views should have the least possible logic in them. To me it looks

[2020-06-01 10:28] sam-pires opened #19498 "Award images are broken in Module Catalog in the BO"
## Describe the bug
Display bug.
In the BO in module catalog on modules with an "award". The award image is broken.

See screenshot:
![Capture d’écran 2020-06-01 à 11 05 25](https://user-images.githubusercontent.com/25405887/83400369-ff663680-a402-11ea-9037-eec32983f9ca.png)

#### Expected behavior
The award image should not be broken

#### Steps to Reproduce

Steps to reproduce the behavior:

O

[2020-06-01 10:30] sam-pires commented on #19498
Hello @Matt75,
I am not sure, is it related to MBO?

[2020-06-01 10:49] Matt75 commented on #19498
Not related to MBO, image link is `https://medias2.prestastore.com/themes/prestastore/img/front/sprites/badges/awards-customer-satisfaction-up-and-coming.png`

[2020-06-01 11:13] Progi1984 commented on #19447
Fixed by #19448

[2020-06-01 11:13] #19447 closed, assigned to nobody

[2020-06-01 11:15] jolelievre commented on #19467
I was able to reproduce the issue with PrestaShop version 1.7.6.x and 1.7.7.x

I’ll add this to the debug backlog so that it’s fixed. I see you already provided a PR to fix this issue.

Thank you!

[2020-06-01 11:17] florine2623 commented on #19247
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

[2020-06-01 11:17] #19247 closed, assigned to nobody

[2020-06-01 11:26] kenlog commented on #19090
Hi @sarahdib I confirm the bug as I have exposed it. In addition, this is also reflected in the PayPal payment method which correctly charges the right price excluding the already discounted products. This obviously involves a difference in the total cart and the order total. :astonished:

![carrello](https://user-images.githubusercontent.com/11728231/83404468-ff6a3480-a40a-11ea-8d34-a67d12b8b21f.

[2020-06-01 11:29] florine2623 commented on #19204
With all the info, I still can't reproduce your issue.
I advise you to contact the support : https://addons.prestashop.com/en/388-support
Or contact an PrestaShop Partner agency : https://www.prestashop.com/en/experts
Thanks!

[2020-06-01 11:29] #19204 closed, assigned to nobody

[2020-06-01 12:04] prietojc commented on #9971
Any news?
Thanks.

[2020-06-01 12:09] colinegin commented on #16555
We need to :
- validate specs written by @eternoendless --> @LouiseBonnard
- check #19242 issue which should fix this issue too

[2020-06-01 12:13] colinegin commented on #19341
About the modal question, I let @MatShir and @TristanLDD decide what to do. If we need to implement this improvement, there should be a new issue created.

[2020-06-01 12:15] #19128 closed, assigned to nobody

[2020-06-01 12:16] MatShir opened #19499 "Address form should be opened in modal"
By the way, the Address form should be opened in modal, not a new page. (same behavior as in order create page), isn't it? (because now it seems to be forgotten. It opens up in a new page)

_Originally posted by @zuk3975 in https://github.com/PrestaShop/PrestaShop/issues/19341#issuecomment-634475159_

[2020-06-01 12:16] matks commented on #19128
Fixed by https://github.com/PrestaShop/PrestaShop/pull/19249

@Kioob it will be better in next version 😉 thanks to @DelecroixQuentin

[2020-06-01 12:17] eternoendless commented on #19341
We need to find out if it's logical or not that that hook is called, because why would an address change modify the cart quantity?

[2020-06-01 12:20] colinegin commented on #19244
Investigation work needed to know what has happened and see how to fix it.

[2020-06-01 12:23] matks commented on #19244
Oh, we know what happened 😄 in 1.7.7 @matthieu-rolland did the huge work of reworking / upgrading jQuery in BO (and maybe FO too ?). This is one of the consequences of his work (which was needed and was hard nonetheless)

[2020-06-01 12:28] florine2623 commented on #19380
Hi @DianaButkute ,
I did manage to reproduce your issue. This is a bug happening in both PS 1.7.6.5 and PS 1.7.7.0.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Steps to reproduce :
- create 2 customizable products in BO
- create a pack of products containing these 2 products
- go t

[2020-06-01 12:29] colinegin commented on #19446
Investigation needed to know if the bug should be fixed in the core or in the theme custo module.

[2020-06-01 12:31] florine2623 commented on #19491
Hi @KwabeaAtakora ,
You have an issue with module `ttmegamenu`, please contact the developer of the theme/module to correct this issue.
This is not a PrestaShop Core issue.
Thank you for understanding!

[2020-06-01 12:31] #19491 closed, assigned to nobody

[2020-06-01 12:31] matks commented on #19451
Changed introduced by https://github.com/PrestaShop/PrestaShop/pull/16928

[2020-06-01 12:34] eternoendless commented on #19446
Fixed in the module's release v1.2.0 https://github.com/PrestaShop/ps_themecusto/pull/20

Make sure that the module version is 1.2.0 in composer.lock and update it as necessary.

[2020-06-01 12:44] colinegin commented on #19490
Calculation is correct, the display is correct after you save the product.
The display is incorrect in the form.

[2020-06-01 12:47] matks commented on #19305
@Max84 thanks anyway for the feedback, it will be fixed with all other php7.4 issues for 1.7.8 😉

[2020-06-01 12:52] florine2623 commented on #19476
Hi @SolucionesIE ,
Could you enable debug mode ?
What version of PHP are you using ?
Thanks!

[2020-06-01 12:56] SolucionesIE commented on #19476
Notice on line 101 in file /home/magiaviral/public_html/vendor/symfony/symfony/src/Symfony/Component/HttpFoundation/Session/Storage/Handler/StrictSessionHandler.php
[8] SessionHandler::gc(): ps_files_cleanup_dir: opendir(/var/cpanel/php/sessions/ea-php72) failed: Permission denied (13)

[2020-06-01 12:57] SolucionesIE commented on #19476
![screencapture-magiaviral-mvadmin-index-php-2020-06-01-07_57_17](https://user-images.githubusercontent.com/66195002/83411275-8a343a80-a3dd-11ea-8ae9-3a4447ce054b.png)

[2020-06-01 12:59] colinegin commented on #19498
We need some investigation to know where this comes from.

[2020-06-01 13:00] Matt75 commented on #19498
@colinegin This come from Addons API, image links are into xml retrieved from Addons

[2020-06-01 13:00] florine2623 commented on #19484
Hi @Angar90 ,
With the classic theme, I have no issue.
If you are using another theme, please make sure it is compatible with PS 1.7.7.0.
Please check with the developer of the theme.
Thanks!

[2020-06-01 13:00] #19484 closed, assigned to nobody

[2020-06-01 13:03] sam-pires commented on #19498
Thanks @Matt75!
I'll create a Jira ticket for the Platforms team

[2020-06-01 13:04] colinegin commented on #19059
ping @MatShir this is related to the product page rework.
Study is needed to define what should be done.

[2020-06-01 13:04] matks commented on #19451
A bit strange that such a "big red screen" mistake was able to slip through puppeeteer 🤔

@SimonGrn did you enable the Link Checker ? Should'nt it have spotted that ?

[2020-06-01 13:11] matks commented on #19451
Bugfix is here https://github.com/PrestaShop/PrestaShop/pull/19501

[2020-06-01 13:12] colinegin commented on #18273
ping @LouiseBonnard is this issue ready to go to backlog ?

[2020-06-01 13:14] colinegin commented on #18653
ping @LouiseBonnard is this issue ready to go to dev ?

[2020-06-01 13:14] marionf opened #19502 "Multistore - Advanced parameters > Team > Permissions - Add information message"
This page is available only in all shops context, other contexts are not displayed in the header.

We should add an information message: "Note that this page is available in all shops context only, this is why your context has just switched."

[Specs](https://github.com/PrestaShop/prestashop-specs/blob/master/broader-topics/multistorespecialsspecs.md#list-of-pages-for-specific-case-3-the-page-can-

[2020-06-01 13:21] colinegin commented on #18450
The work on the API will allow to display modules' changelog. Nothing to do on core side.

We then need to work on PrestaShop native modules to include the module's changelog

[2020-06-01 13:22] florine2623 commented on #19482
Hi @jose73wrc ,

You can check for these parameters :
- Create a Tax Rule and choose No Tax
- Create a customer group and display Tex Excluded
- In Carriers, choose No Tax

Check also this issue, as it might be related : https://github.com/PrestaShop/PrestaShop/issues/19110

Please, check and let me know.

[2020-06-01 13:23] colinegin commented on #18480
ping @TristanLDD @prestascott has one of you had time to work on the dropdown design issue ?

[2020-06-01 13:26] florine2623 commented on #19481
Hi @PrestaShop/prestashop-core-developers ,
Is this something that can be done ?
Thanks!

[2020-06-01 13:27] colinegin commented on #16904
Edit - I remove it from the 178 kanban until the Eco currency is added to the CLDR

[2020-06-01 13:37] florine2623 commented on #19475
Hi @tarasklymets ,

You can click "collapse" to hide the categories.
![Capture d’écran 2020-06-01 à 15 35 58](https://user-images.githubusercontent.com/16019289/83414380-b1126100-a41d-11ea-86c0-cdd96c921a95.png)
Is that what your issue is about ?
Please check and let me know !

[2020-06-01 13:45] tarasklymets commented on #19475
The problem is that the site wants to display all 7000 categories, in 1.6 it worked somehow differently.

How do I make collapsed categories when entering editing? To make the page load faster. Or can I make a video of the difference in speed of 1.6 and 1.7?

[2020-06-01 13:45] boubkerbribri commented on #19451
@matks

Our sanity tests does not test this pages (New products, Best sales and searh).

But the weird thing, we have a functional test (Search product on FO) which fails on local machine but not in the nightly (for 3 days in a row). We are investigating this matter.

For the linkchecker, we did not enable it, why ? because we still have some js and request errors in BO, and since we wanted to add

[2020-06-01 13:47] matks commented on #19015
Fixed by https://github.com/PrestaShop/PrestaShop/pull/19016

[2020-06-01 13:47] #19015 closed, assigned to jolelievre

[2020-06-01 13:52] matks commented on #19451
Search page is quite an important FO page, I suggest adding a test on it in the future 😉 I think "searching for products" is an important customer behavior

Would it be possible to have the list of these errors in a github issue ? So we can identify and fix it

[2020-06-01 13:53] #19451 closed, assigned to matks

[2020-06-01 13:54] boubkerbribri commented on #19451
I will create the issues

[2020-06-01 13:58] eternoendless commented on #19441
Is there a specific reason to require the name at the ObjectModel level?

[2020-06-01 13:59] SimonGrn commented on #19451
We have to balance features and time. We could add this test, but that means 1 or 2 more minutes for sanity tests. We had to make choices and searching in FO wasn't categorized as important as "installing", "creating products" or "completing a checkout". Reminder: the scope for sanity tests was decided with the Product team.
We can create a test for searching but I'm not sure this is necessary. As

[2020-06-01 14:09] zuk3975 commented on #19441
We can do it in command level to avoid bc break.
But I guess  the main reason was to have a more robust model :thinking:

[2020-06-01 14:10] boubkerbribri commented on #19451
We found why nightly haven't found the big Red screen :
Our tests are executed in production mode (debug mode = false), and the error only occurs when testing on dev mode (debug mode = true).

[2020-06-01 14:12] matks commented on #19441
Yes, we actually think the "require" is missing to allow ghost products and since we're going to remove ghost products, we would like to fix the model along the way

[2020-06-01 14:16] jolelievre commented on #19470
Hi @srn87

If you get this Timeout error, it's probably because you try to import lots of products at a time, and the processing exceeds your Server time limit. You can try one of these solutions:
- import a smaller portion of products
- if your hosting solution allows it, increase your server max timeout

I'm not an expert of nginx thought but maybe something like that:
[code]

Regarding the warn

[2020-06-01 14:16] #19470 closed, assigned to nobody

[2020-06-01 14:26] jose73wrc commented on #19482
Hi @florine2623 ,
everything is checked,
I have seen the article and reviewed it,
but I still have the same doubts,
I want to show the articles with taxes and for companies to visualize without taxes.
I could show all the articles with the 2 prices with taxes and without taxes, but calculating the total is something else.
What to create a carrier with taxes and another without taxes?
How do I indi

[2020-06-01 14:27] jolelievre commented on #19471
Hi @gadnis

Indeed it is not possible to sort Grid by multiple values as of now. As to why I'd say the feature has been mainly designed depending on the UX, in which you can only select one column for sorting.. So the query matches this behaviour and only sort based on a single column, the `SearchCriteriaInterface` (as you pointed) also reflects this behaviour

That said I understand your need, th

[2020-06-01 14:28] alfonsolr09 commented on #19247
Only appens with this product... Dont close the issue
If you want i give you conection to my backoffice website
@florine2623

[2020-06-01 14:31] #19483 closed, assigned to nobody

[2020-06-01 14:32] florine2623 commented on #19436
I have reproduced your issue in both PS 1.7.6.5 and PS 1.7.7.0.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Steps to reproduce :
- BO : Create new order status, choose option Send Mail and chose template
- FO : Place an order
- BO : Change order status with your newly create status

[2020-06-01 14:36] jolelievre commented on #19472
Thank you @Gipielle

This might be an interesting feature indeed, I took the liberty to edit your issue description to add a bit more information and match our Issue template. I also added the question about having this behaviour in all forms (as it might be needed for other entities than just Category).

Anyway this is a new feature request and will need to be discussed and prioritized with the @

[2020-06-01 14:38] florine2623 commented on #19476
Clear your cache and check if you still have errors.

[2020-06-01 14:39] florine2623 commented on #18729
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-01 14:39] #18729 closed, assigned to nobody

[2020-06-01 14:40] florine2623 commented on #18796
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-01 14:40] #18796 closed, assigned to nobody

[2020-06-01 14:40] florine2623 commented on #18814
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-01 14:40] #18814 closed, assigned to nobody

[2020-06-01 14:41] florine2623 commented on #18863
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-01 14:41] #18863 closed, assigned to nobody

[2020-06-01 14:42] florine2623 commented on #18874
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-01 14:42] #18874 closed, assigned to nobody

[2020-06-01 14:43] florine2623 commented on #18934
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-01 14:43] #18934 closed, assigned to nobody

[2020-06-01 14:44] alfonsolr09 commented on #19247
@florine2623

[2020-06-01 14:45] marionf commented on #15367
It seems to be fixed in 1.7.7.x

[2020-06-01 14:45] #15367 closed, assigned to nobody

[2020-06-01 14:46] gadnis commented on #19471
@jolelievre thanks for your answer! At least I am sure now that this is not integrated 😁

Regarding the UX perspective, I like [vuetable2](https://www.vuetable.com/guide/sorting.html#multi-column-sorting) feature how they deal with multi-column sorting. The user can use Alt+Click to multi-sort (select/unselct)
Actually [vuetable](https://www.vuetable.com/) is the reason I created this post.

But a

[2020-06-01 14:47] jolelievre commented on #19473
Hi @gadnis

I think @matks explained it all ^^ It is indeed usable if you only need core routes, but not for modules ones. So I'll reformulate this issue title and description into a different way: `Extend JS Router to add routing from modules`

We should also add something in the doc to explain how to use this router from a module (even only for core routes for now) I created an issue for this he

[2020-06-01 14:49] SolucionesIE commented on #19476
When accessing the advanced parameters it gives me this:
![screencapture-magiaviral-mvadmin-index-php-configure-advanced-performance-2020-06-01-09_47_38](https://user-images.githubusercontent.com/66195002/83421057-2154be80-a3ed-11ea-91d2-13281b2690e3.png)

[2020-06-01 14:57] niccolobusato opened #19504 "Theme not selectionable"
#### Describe the bug
Can't select .zip of a theme from fronted. input select is not clickable!

#### Expected behavior

Open the input select and select the zip file

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'Design'
2. Click on 'Theme & Logo'
3. Scroll down to 'mport from FTP '
4. See error

**Screenshots**

<img width="1005" alt="Schermata 2020-06-01 alle 16 54 42" sr

[2020-06-01 14:59] florine2623 commented on #19504
Please downgrade to 7.2.
PrestaShop is only compatible with 7.2 : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

[2020-06-01 14:59] #19504 closed, assigned to nobody

[2020-06-01 14:59] jolelievre commented on #19473
I just updated the description with a rough (very rough ^^) possible solution This will need to be polished by the @PrestaShop/prestashop-core-developers team

[2020-06-01 15:04] jolelievre commented on #19474
Hi @bpato

could you detail a bit more how you get this error? IS the endpoint always returning a 500 error? or just when you call it manually without any parameter?

I can see that the script is expecting a `token` variable so maybe that's the problem, the script is not supposed to be called without it.

Also what do you mean by outdated? Do you mean compared to other modules that are more recent

[2020-06-01 15:14] javierVP commented on #19250
Ok, I'll try to see.
 

[2020-06-01 15:18] jolelievre commented on #19474
Also when I check at the module it would appear this file is marked has ben `deprecated` 6 years ago (it is already deprecated in original commit in the Github repository).

I don't think you are supposed to use this endpoint any more (it should have been removed a long ago maybe). The verification process seems to handled by this controller now
https://github.com/PrestaShop/ps_emailsubscription/b

[2020-06-01 15:18] #19474 closed, assigned to nobody

[2020-06-01 15:31] florine2623 commented on #19476
Clear cache manually from /var/cache folder.

This seems to be a permission issue. You need to check with your host directly regarding the server configuration.

Also make sure, the version of PS you are suing is compatible with the version of PHP : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

I will close this ticket as this is not a core issue from PrestaShop.

[2020-06-01 15:31] #19476 closed, assigned to nobody

[2020-06-01 15:32] florian-202 opened #19505 "FO Account creation - Browser-side validation problem on the number of characters in a password"
#### Describe the bug

There is only a HTML validation of the password when creating an account. This is problematic if a theme does not add this check because it is impossible for the user to connect later.

#### Expected behavior

In case there is no HTML validation in the theme, perform a validation from the server before registration.

#### Steps to Reproduce

Steps to reproduce the behavior:

[2020-06-01 15:34] jolelievre commented on #19479
Hello @kerstar

Thank you for this feedback, I would need a bit more details:

When you talk about the "seller" do you mean the merchant admin (whose emails are defined in the module configuration?).

Regarding your question the mail alert is sent when the payment is validated, so if the email was not sent at this point there is no system to resend them in the module. These are mail "alerts" so ma

[2020-06-01 15:36] florine2623 commented on #19250
For now, I close this issue.
If later on you need support on your migration, you can contact the support team : https://addons.prestashop.com/en/388-support
Thanks!

[2020-06-01 15:36] #19250 closed, assigned to nobody

[2020-06-01 15:38] marionf commented on #9861
Hello @kpodemski

I just tested on 1.6.1.23 and the behavior was the same. This is not related to the migration.

If you need to have the same brand but with a different description for one or many shops, so it's not completely the same brand and you have to create different brands.
Elements (brands, categories, suppliers...) created for several shops at once are exactly the same. You can't later

[2020-06-01 15:43] bpato commented on #19474
Hi @jolelievre, thanks for the reply i agree with you, but the thing is that this file comes with the last release of prestashop.

yeah, is when you call it manually, the module class expects a parameter and throws the error.

[2020-06-01 15:53] florine2623 commented on #19247
You can buy a support plan if you want some customized help :
https://addons.prestashop.com/en/388-support

[2020-06-01 16:14] oliversiegel commented on #19480
The fact that `$renderable` is a private variable, makes it even more difficult to work with.

As a theme developer, even if you managed to hook into the right place to modify things, you can't even READ the tpl variables, because they are private and inaccessible.

PS 1.6 got by just fine without using {render}, as far as I can tell this was introduced in PS 1.7

Off topic: @eternoendless Can you

[2020-06-01 16:17] Klemart3D commented on #19131
Suggested PR: #19507

[2020-06-01 16:50] jolelievre commented on #19505
Hi @florian-202

I managed to reproduce the bug on 1.7.7 and 1.7.6.

I will add this bug to the develop roadmap. The `Validate::isPasswd` needs to be udpated to manage this min length. This indeed MUST be checked on the server side.

Although I don't understand why during the login the min length error is applied. Since it's not validated by the `Validate` class maybe there's an additional check i

[2020-06-01 16:59] jolelievre commented on #19247
Hi @alfonsolr09

Just a hint, not sure if it will help you but you can check in the source code at the meta:

[code]

which is used to display links. And check if the url is correct and accessible. Also you can try changing the cover of your product to see if it fixes your problem.

[2020-06-01 17:06] jolelievre commented on #19474
Yes I know it's still in the release but it probably shouldn't so we won't fix an endpoint that's not supposed to be used (at best we will remove it)

As I said prefer using the front controller, but if you don't provide the expected parameters (especially the token) you will end up with the same problem anyway The token is required for security purpose, or anyone could validate any email and spam

[2020-06-01 17:10] HartLarsson opened #19508 "statsvisits error on line 176"
#### Describe the bug

Seems that the 2.0.2 with PS 1.7.6.5 have some trouble to get visitors stats firing on error_log_php this type of error:

[01-Jun-2020 02:32:03 Europe/Rome] PHP Warning:  Invalid argument supplied for foreach() in /home/xxxxxxx/public_html/modules/statsvisits/statsvisits.php on line 176

the result is an empty statistical graph:
![image](https://user-images.githubusercontent

[2020-06-01 17:15] Gipielle commented on #19472
Ok perfect, thanks !

[2020-06-01 19:12] anthhh opened #19509 "1.7.6.4 - Charts not displayed"
Dear Users!

Im using Prestashop 1.7.6.4 with php 7.2.27

The charts of product sale in back office are not displayed (check the attached screenshot)

Changing the php to 5.6 solves the isssue but i have to run on 7.2 as the other modules requires that.

There are no errors in the server log, however there are some in the console (attaching screenshot)

Any clues?

![charts](https://user-images.gi

[2020-06-01 19:30] TemKaSD commented on #19464
@jolelievre Sorry.

PrestaShop v 1.7.7.0 Beta 1 && PHP 7.4.6.

1. Install PrestaShop
2. Advanced Parametrs > Performance
- Template compilation: Force
- Cache: No
- Debug mode: On
3. Catalog > Categories > Clothes > Edit > Delete Category cover image.
4. Go to /index.php?id_category=3&controller=category
![image](https://user-images.githubusercontent.com/6318282/83446460-0b4d0980-a492-11ea-91a3-5f

[2020-06-01 19:34] TemKaSD commented on #19477
1. Install PrestaShop
2. Advanced Parametrs > Performance
- Template compilation: Force
- Cache: No
- Debug mode: On
3. Modules > Module Catalog > Install ps_specials
4. Go to /index.php

![image](https://user-images.githubusercontent.com/6318282/83446793-aba32e00-a492-11ea-867d-9b97435dfb15.png)

[2020-06-01 19:35] TemKaSD commented on #19463
@jolelievre Why can't you make corrections in 1.7.7?

[2020-06-01 20:27] kerstar commented on #19479
Hello @jolelievre

Thank you for your answer to my problem.

Yes, by "seller" I meant emails that are defined in the module settings.

My problem is that in the settings of this module an email is given to a person who does not log in to Prestashop, but supports the processing of new orders that came in the email.

At woocomerce it is so that if the person who carries out the order did not receive

[2020-06-01 21:14] alfonsolr09 commented on #19247
I think it is a bug, but since you are not able to reproduce it, you close the ticket

[2020-06-01 21:21] alfonsolr09 commented on #19247
thanks, how should i check the source code for example in whatsapp?

[2020-06-01 21:40] alfonsolr09 commented on #19247
in case someone else happens, I have deleted the product (it is deleted from the database)
then I copied the product id 446 and changed the id to 447 in the three tables of the database
the wrong product was id 447 (I deleted it from prestashop and copied it from id 446 in the database)
I comment it in case someone else happens

[2020-06-01 22:14] jose73wrc commented on #19482
Carrier, products, and customer are all tax exemptions working properly.
If any product, carrier or customer address has taxes, the error appears in the cart.
That an online sales platform fails in the calculations of the cart seems very serious to me.

[2020-06-02 05:14] MatShir commented on #14770
**Product name field**
When you create a new product, invalid characters for the name field are: <>;=#{}
If you have only one language installed and enter an invalid character and save, you have an error "This value is not valid." displayed under the field.

![capture d'écran_1746](https://user-images.githubusercontent.com/13449658/60906145-cc5d0680-a276-11e9-93ef-fb62fa59e1d6.png)

But if you hav

[2020-06-02 05:23] MatShir opened #19511 "[Basic settings tab] - Combinations 1/14"
**As a merchant I want to be able to complete the basic information of my products.**

It is necessary to save the basic settings tab informations in order to access the combinaition tab. Until saved, other tabs are disabled with a tooltip on hover. Here are the mockup of the disabled tabs behavior: https://invis.io/3RWZILBJWQH#/414747857_Disabled_Tabs___Tooltip

Here is the list of the elements o

[2020-06-02 05:25] MatShir opened #19512 "[Basic settings tab] - Reference 2/14"
**As a merchant I want to be able to complete the basic information of my products.**

* **Reference**: The reference is displayed in the product details part in front-office.

[2020-06-02 05:26] MatShir opened #19513 "[Basic settings tab] - Summary & Description 3/14"
**As a merchant I want to be able to complete the basic information of my products.**

- [ ] **Summary**: The text can be formatted thanks to the TinyMCE editor \([improvement 14985](https://github.com/PrestaShop/PrestaShop/issues/14985)\)

A drop-down next to the field is displayed when there are several languages installed \(disabled languages are displayed in the drop-down\). It allows to choos

[2020-06-02 05:30] MatShir opened #19514 "[Basic settings tab] - Quantity 4/14"
**As a merchant I want to be able to complete the basic information of my products.**

**Quantity**: This field is not displayed for a product with combinations. This field is not displayed if stock management is disabled in Shop parameters &gt; Products settings.
If a simple product is selected, under the quantity field, there is a “quantities” link. When you click on it, you switch to quantities

[2020-06-02 05:35] MatShir opened #19515 "[Basic settings tab] - Price exl and incl 5/14"
**As a merchant I want to be able to complete the basic information of my products.**

**Price tax excl**: When a value is filled, the price tax incl field is calculated automatically according to the tax rule chosen.
To separate decimals a dot or a comma can be used, both should work no matter the language.
When you change it, the same field in the pricing tab is also updated.
**Price tax incl**:

[2020-06-02 05:37] MatShir opened #19516 "[Basic settings tab] - Tax rules 6/14"
**As a merchant I want to be able to complete the basic information of my products.**

**Tax rule**: This field shouldn't be displayed if taxes are disabled in International &gt; Taxes \([issue 15330](https://github.com/PrestaShop/PrestaShop/issues/15330)\).
Drop-down with all tax rules enabled and a “no tax” option.
If there are several taxes rules with the same name, then the ID of the tax rule

[2020-06-02 05:43] MatShir opened #19517 "[Basic settings tab] - Search Categories 7/14"
**As a merchant I want to be able to complete the basic information of my products.**

- [ ] **Search category**: Search field to search a category. You can search by category name.
When you start typing, if there are results, they are displayed and highlighted \([issue 20331](https://github.com/PrestaShop/PrestaShop/issues/20331)\) under and you can click on it.

[2020-06-02 05:48] MatShir opened #19518 "[Basic settings tab] - Associated categories 8/14"
As a merchant I want to be able to complete the basic information of my products.

- [ ] **Select category**: Allows to associate categories to the product.
A category is necessarily selected, it is impossible not to have one.
When you create a new product, “Home” is selected.
When you search a category elements are highlighted in dropdown when using keyboard and hover with mouse \([issue 20331](h

[2020-06-02 05:49] MatShir opened #19519 "[Basic settings tab] - Create a new category 9/14"
As a merchant I want to be able to complete the basic information of my products.

- [ ]  **Create a new category**: When you click on the button “Create a category”, this button disappears, a field “New category name” and a drop-down “parent of the category” are displayed with 2 buttons Cancel and Create.
- [ ]  **New category name**: Allows to create quickly a new category.
The name will be the

[2020-06-02 05:52] MatShir opened #19520 "[Basic settings tab] - Features 10/14"
As a merchant, I want to be able to complete the basic information of my products.

The **Features section** is displayed if the Feature option in the Advanced Parameters / Performance / Optional features page enables otherwise the section is hidden.

Display the section's title "Feature" even if there is so feature saved.

- [ ] **Add a feature**: By default the selected option is "Choose a featu

[2020-06-02 05:54] MatShir opened #19521 "[Basic settings tab] - Brand 11/14"
As a merchant, I want to be able to complete the basic information of my products.

- [ ]  **Add a brand**: By default the selected option is "Choose a brand". \([issue 9678](https://github.com/PrestaShop/PrestaShop/issues/9678)\)
All the brands enabled are displayed in the drop-down. If there are several brands with the same name, then the ID of the brand is displayed before its name.
The brand i

[2020-06-02 05:59] MatShir opened #19522 "[Basic settings tab] - Related product 12/14"
As a merchant I want to be able to complete the basic information of my products.

- [ ]  **Add a related product**: Search field to search a product. You can search by product name or product reference. When you start typing, if there are results, they are displayed and highlighted in the dropdown when using a keyboard and hover with mouse \([issue 14052](https://github.com/PrestaShop/PrestaShop/

[2020-06-02 06:01] MatShir opened #19523 "[Basic settings tab] - Pack 13/14"
As a merchant, I want to be able to complete the basic information of my pack products.

- [ ] **Pack search for a product**: Select Pack of products as product type in the drop-down. A search field to search a product is displayed. You can search by product name or product reference.
When you start typing, if there are results, they are displayed and highlighted in the dropdown when using a keybo

[2020-06-02 06:11] MatShir opened #19524 "[Basic settings tab] - Images 14/14"
- [ ] **Image upload**: Upload zone. When there is no image, you have the following message displayed “Drop images her or select files. Recommended size 800 x 800px for default theme. JPG, GIF or PNG format.”  You can click in the entire zone to open the selector or you can drop one or many images in the entire zone.
When there is already an image, you can click only on the frame with the “+” to o

[2020-06-02 06:17] MatShir commented on #19520
**Feature fields**
When you add a customized value for a feature, invalid characters are: _<>=#{}_ and you are limited to maximum 255 characters.
If you enter an invalid character or more than 255 chars and save, you have a success message "settings updated" but the feature isn't added.

- [ ] When you save, if your customized value contains an invalid character, we should display the error "This

[2020-06-02 06:17] MatShir commented on #19524
**Image part**
When you add an image caption, invalid characters are: _<>=#{}_ and you are limited to maximum 128 characters.
If you enter an invalid character or more than 128 chars and save, you have no errors and the caption isn't added.

- [ ] When you save, if your caption contains an invalid character, an error message under the field should be displayed: "This value is not valid."

- [ ] If

[2020-06-02 06:18] MatShir commented on #19514
**Quantity field**
Product quanity fields in back-office product page is an integer field. Only integers are allowed.

1) If you enter a number with decimal (ex 30,5 or 30.5) and save, it says “settings updated” and everything after the comma is deleted.
- [ ] It could be good to add an error message under the field "This value is not valid".

2) If you select Pack of product as product type and s

[2020-06-02 06:18] MatShir commented on #19515
**Price tax excl & price tax incl fields**
Prices tax incl & excl are decimal fields. If you enter more than 10 numbers before the dot/comma and save, an error is displayed "The price field in invalid"

![capture d'écran_1842](https://user-images.githubusercontent.com/13449658/61810750-37ded080-ae40-11e9-96ec-077636412d06.png)

- [ ] Instead of this, it could be good to add an error message under

[2020-06-02 06:28] MatShir commented on #19499
As discussed with @TristanLDD, It's better to be able to homogenize behavior between pages.

[2020-06-02 07:12] Max84 commented on #19305
@matks I understand, it's not a problem, but do you think i should open an issue for documentation?
Because php 7.3 and 7.4 are current versions, and INSTALL.txt + https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/ tell PHP 7.1.3+. So we can think php 7.4 is ok.

[2020-06-02 08:08] NeOMakinG commented on #15018
Hey @reanim8ed, regarding comments of @SD1982 and @colinegin, I'm closing the issue related to https://github.com/PrestaShop/PrestaShop/pull/15035 as it looks fixed due to another change, if you manage to reproduce it again, don't hesitate to open the issue again :)

Thanks for your contribution anyway, have a good day !

[2020-06-02 08:08] #15018 closed, assigned to nobody

[2020-06-02 08:35] prestascott commented on #18480
Hi,

In my opinion, we should definitely fix this issue because it must display all the items when the blank value is selected in the dropdown select.

However, this dropdown select can be improved by replacing the blank value with a short wording such as "All". It will be clearer for users instead of facing a blank value.

Here is my design proposition:
![All1](https://user-images.githubuserconte

[2020-06-02 09:04] matks commented on #19305
@Max84 We might improve the doc to tell people to scroll a bit to check what php versions are compatible
A bit below in the page we have an accurate table https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart

What we mean by "compatible with php7.1.3" is "PS 1.7, in general, is compatible with php7 ... but for the latest versions the work to make it c

[2020-06-02 09:07] arradijamal commented on #19301
Hello,

I downgrade my php to 7.2 but the problem still there.
I can't even make cron job to index products.

[2020-06-02 09:26] Eva-F opened #19527 "Export in CSV the whole list instead of the current page on the BO list page"
Export into csv from the BO list is allways **limited**.

#### Describe the solution you'd like

I would expect all records from Listing are exported ( without any _pagination limit).

AdminController "processExport function"  calls getList function with parameter $limit=false
(default value of parameter $limit = null)

in AdminController "getList function"  is the $limit allways set ( mainly by _

[2020-06-02 10:11] #19161 closed, assigned to NeOMakinG

[2020-06-02 10:25] LouiseBonnard commented on #19472
Hi there, there is another issue mentioning the same improvement for the Design > Positions page, #19435. In addition to the category and position pages, @MatShir, do you think it would make sense to add it to the product page?

If yes, it could be worth creating a dedicated issue that would list all the forms or pages where a _Save & Stay_ button is relevant. It looks like this component has been

[2020-06-02 10:26] LouiseBonnard commented on #16904
Oh, nice, thanks! Can I close this issue then?

[2020-06-02 10:35] eternoendless commented on #19244
So if I get it right the problem is that before we could alter the position of jquery in the scripts list? Wouldn't it be much more simple just to put all the scripts from modules _after_ the ones from the core?

[2020-06-02 10:44] ChineseNorris commented on #18890
Hi,

the solutions posted seems to work for messages between customer and store, but won't work if the message is sent from the observations box from carrier checkout page.

This error is present with 1.7.6.5 and php 7.2

[2020-06-02 10:52] ChineseNorris commented on #19454
Hello @florine2623  and thank you for taking the time to replicate the issue, let's see if we can add a solution or merge for this issue.

@khouloudbelguith can you please take a look and see if someone from the core team can take a look?

Thanks

[2020-06-02 10:54] Quetzacoalt91 commented on #19244
Exactly. Note it can be moved "earlier" in the list, but never towards the end.

That's what we did in the related module (SEOExpert). However I would not consider that modifying all the modules is a simple solution.

We still find in the documentation that JS and CSS files are added early, for instance with the hook `displayHeader` in https://devdocs.prestashop.com/1.7/modules/creation/displaying

[2020-06-02 11:12] Quetzacoalt91 commented on #19244
I would leave it as it is now on 1.7.7.

I can have a look for you, keeping the previous behavior of addJquery might help even if it is deprecated.

Yes, we did. Some deprecated stuff has been removed, and we already updated our modules to stop rely on these attributes and methods. In my opinion, there was nothing to change on the core.

However, even if you added a polyfill for the `$.live()` met

[2020-06-02 11:38] onklmaps commented on #19344
This is still an issue!

The order_conf.html table gets broken with using HTML-editor of AdminTranslations. I guess the products-loop gets moved outside of the table (because of syntax cleanup?). The result is that `{products} {discounts}` gets moved above the order summary table, rendering the email just like the screenshot by @emflomed17

[2020-06-02 12:10] PabloGBarcelo commented on #18892
We use some hidden status for our internal system and we want to hide from customers, but they don't know actual status and felt worried about what happend with their orders. I think that its better to give 'last readable status' than nothing.

[2020-06-02 12:17] tsarnow commented on #19130
Hi @florine2623 yes it was triggered by the extension advanced seo.
So I investigated the problem and it gets boiled down to the PHP problem mentioned above.

[2020-06-02 12:29] matks commented on #14173
Reopening the issue as it's still there

I'll deal with it

[2020-06-02 12:29] 01park commented on #18892
@PabloGBarcelo

Im not looking how to hide it, I'm looking for the customer to see the last visible status. Just like on  the order detail page.

[2020-06-02 12:48] arirangz commented on #14979
Thanks for your feedback. From my side it's an update from 1.7.3 to 1.7.6.

I double check and adding more products is not increasing the slowdown.

The difference is only from 0 product in cart to 1 or more product in cart.

Any progress from Prestashop team on this?

Thanks

[2020-06-02 13:08] KwabeaAtakora commented on #19491
@florine2623 Thanks. Will do that

[2020-06-02 13:45] florine2623 commented on #19527
Hi @Eva-F ,
I will ping our dev team to get their point of view.
Please stay tuned !

[2020-06-02 13:45] florine2623 commented on #19527
Hi @PrestaShop/prestashop-core-developers ,
What do you think about that ?

[2020-06-02 13:49] mickaelandrieu commented on #14173
Hi,

I don't want to be notified, so please create your own issue.

Thanks.

[2020-06-02 14:02] florine2623 commented on #19508
Hi @HartLarsson ,
In my shop 1.7.6.5, I do have the same issue :
![Capture d’écran 2020-06-02 à 15 57 56](https://user-images.githubusercontent.com/16019289/83528852-e5535380-a4e9-11ea-804d-cac0b7bdbd04.png)
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-06-02 14:42] idnovate opened #19531 "Useless code: $cart_rules & $available_cart_rules declared but unused"
Are these code lines useless? These variables are not referenced anywhere. I have commented out and couldn't see any missfunction.

https://github.com/PrestaShop/PrestaShop/blob/22978dd19a69b3a8f6f128b29826819c33b3da3c/controllers/front/CartController.php#L492-L502

[2020-06-02 14:48] Junebyun commented on #19200
For this issue, there are 2 possible scenarios:

1) Keep the value 1 (which corresponds to the ID):

- Column label: ID

- Value: 1
![InkedScenario 1_LI](https://user-images.githubusercontent.com/64894223/83534171-d02df300-a4f0-11ea-942f-1bc1351d168a.jpg)

2) Keep the reference number:

- Column label: return number

- Value: #RE000001
![InkedScenario 2_LI](https://user-images.githubusercontent.co

[2020-06-02 14:50] florine2623 commented on #19509
Hi @anthhh ,

I don't have the same info on my shop PS 1.7.6.5 with PHP 7.2 of 5.6:
![Capture d’écran 2020-06-02 à 16 48 08](https://user-images.githubusercontent.com/16019289/83534269-ed62c180-a4f0-11ea-8c6c-619fb6062856.png)
Are you using any external module for statistics ?

Thanks!

[2020-06-02 14:52] florine2623 commented on #19531
Hi @idnovate ,
I will ping our dev team to get their point of view.
Please stay tuned!

[2020-06-02 14:52] florine2623 commented on #19531
Hi @PrestaShop/prestashop-core-developers ,
Could you check this please ?
Thanks!

[2020-06-02 15:10] ukbazz opened #19532 "Longstanding bug still there [PSCSX-9685]"
It seems an issue first reported on the old Forge repository is still 'live' I can no longer access Forge bug repository and it is not mentioned here,
But the issue occurs while creating new account on OPC with a separarate delivery and invoice addresses.

Missing out any fields in the 2n'd 'Invoice Address the registration takes place on the delivery address and the Invoice address will not be ma

[2020-06-02 15:12] florine2623 commented on #19532
Hi @ukbazz ,
PrestaShop 1.6 [isn't maintained anymore](http://build.prestashop.com/news/1.6.1.x-what-s-next/). The maintenance for this version is now being performed exclusively by volunteers to fix critical issues.
You can open an issue on the [dedicated repository](https://github.com/PrestaShop/PrestaShop-1.6/issues). Please keep in mind that only critical issues will be acknowledged.
If you ne

[2020-06-02 15:12] #19532 closed, assigned to nobody

[2020-06-02 15:21] PierreRambaud commented on #14173
@mickaelandrieu Feel free to remove notification on the right panel, with this, you'll no longer receive notifications :+1:
![image](https://user-images.githubusercontent.com/1462701/83537797-564c3880-a4f5-11ea-8059-00920bc16b7e.png)

[2020-06-02 15:22] TaccCZ opened #19533 "No weight is displayed in Order summary with combination products"
#### Describe the bug

If the customer orders a product that has a combination, and it is listed with the increasing weight of the combination, then this weight will not be transferred to the order summary in the administration.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Make order with combination (must have weight as picture no.1)
2. Go to admin order, look on weight on order

[2020-06-02 15:22] PierreRambaud commented on #16904
@LouiseBonnard We can close this issue. We should only rely on updating CLDR :smile_cat:

[2020-06-02 15:22] #16904 closed, assigned to Progi1984

[2020-06-02 15:25] clotaire202 commented on #19200
@Junebyun more over in the front office, the customer has #RE000001. If the merchand want to contact the customer about a return, it's easier to use the same number.

[2020-06-02 15:25] PierreRambaud commented on #19531
I confirm the code is useless, feel free to create a pull request and we will merge it really fast :)

[2020-06-02 15:29] idnovate commented on #19531
And what about `$cart_rules`?

[2020-06-02 15:40] matks commented on #19531
Same 😄 nice catch !

[2020-06-02 15:44] matks commented on #19532
@ukbazz your issue on the 1.6 repo was closed because it's not a critical issue and only critical issues are fixed on 1.6

However if your issue still happens on recent PS versions 😄 like PS 1.7.6 it's another story

[2020-06-02 15:51] florine2623 commented on #19533
Hi @TaccCZ ,
I can't reproduce your issue on PS 1.7.6.5 :
![Capture d’écran 2020-06-02 à 17 47 55](https://user-images.githubusercontent.com/16019289/83540925-40407700-a4f9-11ea-8db4-1eff43b8be02.png)
![Capture d’écran 2020-06-02 à 17 47 32](https://user-images.githubusercontent.com/16019289/83540915-3dde1d00-a4f9-11ea-899f-4b369605efc7.png)

The issue you mentioned is not the same problem as

[2020-06-02 16:10] TaccCZ commented on #19533
@florine2623 thank you.
I think I found a problem. it's Multistore. I have the weight filled in only in the first e-shop in which the order was made. In the second e-shop, the weight is not filled in combination, but the system took over this zero weight from the second shop, which is wrong.

[2020-06-02 16:33] LouiseBonnard commented on #9944
Interesting feedback, thanks a lot! Perhaps we should split the translation into three different options since we cannot modify the current translation system? I let @Junebyun study this part whenever she has the time for it. :-)

[2020-06-02 16:39] colinegin commented on #18892
I find this idea very interesting !
I put it in "to do", but do not hesitate to make a PR to add this improvement !

Thanks,

[2020-06-02 17:13] LouiseBonnard commented on #18852
Noted, thanks for your reply! If a user disables the small_default image for his/her categories and then creates a category with a thumbnail, he should get the following warning notification when saving: _Your category thumbnail cannot be saved since this image format is disabled. Go in the Design > Image Settings section of your back office to enable it._ in _Admin.Notifications.Warning_. @Juneby

[2020-06-02 17:14] xiaoyuan1998 opened #19536 "Page 404 with google ad"
when i used google ads or facebook ads and the loading page is home page,
example : www.maison-des-meches.fr?gclid=123

PS 302 TO  https://maison-des-meches.fr/accueil/?gclid=123

and then PS redirect 302 to https://maison-des-meches.fr/index.php?controller=404 and I got an 404 error.

LOG:  https://maison-des-meches.fr/logdebug.html

I have tried deactivate the addons ttproductimagehover,  deacti

[2020-06-02 18:16] juraj1000 commented on #19401
Hi,
after discussion with hosting provider and changing PHP parameters the issue is solved, thanks

[2020-06-02 18:16] #19401 closed, assigned to nobody

[2020-06-02 20:21] anthhh commented on #19509
Hi @florine2623
Look for NVD3 module in your prestashop. This is a default addon

[2020-06-02 22:46] ukbazz commented on #19532
@matks  Am wondering how a bug that actually _prevents people from making an order_ is deemed not critical! I did post on the dedicated 1.6 repository earlier - that post was removed also and I was directed here. Since this is an acknowledged bug in a version that many people still use it might have been helpful to keep the old forge up so that users might be able to address this

[2020-06-03 06:09] mickaelandrieu commented on #14173
Done !

[2020-06-03 07:07] 202-ecommerce opened #19537 "[WIP][EPIC] Form Type reusability and stability"
This EPIC is based on a [sample module](https://github.com/202ecommerce/checkboform) with all From Type from PrestaShop Bundle or Symfony.

## Qualified by the author

- [ ] #11329 - PS1.7 add Specific Price with time (hours)
- [ ] #18806 - Improvement > CategoryChoiceTreeType to add a "check all button"
- [ ] #19547 - Bug > GeneratableTextType and ReductionType show help two times
- [ ] #19555 -

[2020-06-03 08:19] MatShir commented on #19537
Hi @clotaire202?
It seems to be an improvement. Could you please provide us with more info? We need more details to understand the issue. It will help prioritize it.

Usually, when we create an epic it's a prioritized list of issues. Each issue is resolved by a pull request, which helps the quality assurance and product team understand the whys and how of each PR. But we can adapt according to you

[2020-06-03 08:27] prestascott commented on #16567
@PrestaShop/prestashop-product-team

[2020-06-03 08:34] MatShir commented on #19536
Hi @xiaoyuan1998,
Could you provide us with more information? I can't reproduce your issue. We need more details on how you can help us understand how we can reproduce your number.

But the problem seems to be related to the module you bought on the addon store and not to PrestaShop itself. I strongly recommend that you contact the developer of the module or our support team [here] (https://addons

[2020-06-03 08:34] #19536 closed, assigned to nobody

[2020-06-03 08:46] clotaire202 commented on #19537
@MatShir

This summary is work in progress (WIP). I cannot publish all tickets in the same time ... This part of PrestaShop is quite forgotten. I need some time to check and report all "suspicious" behaviour.

But you will received an issue for each line here a full explanation. How to reproduce, if it's an improvement, if it's a bug, ... all details you need to take a decision, to approve a devel

[2020-06-03 08:50] MatShir commented on #19200
Thanks, @clotaire202 for the request. Indeed, it seems more logical to have the return number. It will prioritize with the other issue.

[2020-06-03 08:50] matks commented on #19532
If you're curious, here's how issues are labeled: https://build.prestashop.com/news/severity-classification/

Basically a "critical" bug makes the software unusable. It looks you are using PS 1.6 as do hundred of other people everyday, even though the bug is not fixed ; so the software cannot be described as unusable, right ? 😄

Anyway, PS 1.6 is now dead software (= EOL) so it will only benefit,

[2020-06-03 09:07] prestascott commented on #16567
Epic: #16587

You can find the redesign of the input number in UI Kit here: [Link to InVision prototype](https://invis.io/S9UXGJA73B5)

[2020-06-03 09:14] PierreRambaud commented on #19477
Duplicate of #16477

[2020-06-03 09:14] #19477 closed, assigned to nobody

[2020-06-03 09:14] MatShir commented on #19537
Thank for your clarification :smile:

[2020-06-03 09:19] #19531 closed, assigned to nobody

[2020-06-03 09:31] PierreRambaud commented on #19464
Duplicate of #16477

[2020-06-03 09:31] #19464 closed, assigned to nobody

[2020-06-03 09:43] jolelievre commented on #19499
Just a thing to be careful about When an address assigned to an order is edited it is actually soft delete and duplicated So the ID is supposed to change, I wonder if the order page should be updated then (or at least the address field)

[2020-06-03 10:06] Junebyun commented on #18852
@LouiseBonnard wording is fine! I just changed the order of the second sentence so that it sounds less ordering and letting the user choose if he/she wants to enable the image format!

_Your category thumbnail cannot be saved since this image format is disabled. To enable it, go to the Design > Image Settings section of your back office._ in _Admin.Notifications.Warning._

[2020-06-03 10:15] Junebyun commented on #19200
Slight modification:
- Column label: Number

- Value: #RE000001 (return reference number)

I changed the label of the column to _Number_ because it is in harmony with the _Documents_ tab in the BO.
![image](https://user-images.githubusercontent.com/64894223/83625170-cdd0a500-a593-11ea-982a-e8ba3235e670.png)

[2020-06-03 10:16] Junebyun commented on #19200
Slight modification:
- Column label: Number

- Value: #RE000001 (return reference number)

I changed the label of the column to _Number_ because it is in harmony with the _Documents_ tab in the BO.
![image](https://user-images.githubusercontent.com/64894223/83625170-cdd0a500-a593-11ea-982a-e8ba3235e670.png)

[2020-06-03 10:27] 202-ecommerce opened #19540 "Form Type help and popover tooltip not display properly"
#### Describe the bug

If you want to create a Form type with a tooltip or help. It can't be display simulaneous. You need to split the form_row

#### Expected behavior

If you declare a
[code]
It should display :
![image](https://user-images.githubusercontent.com/4932192/83625717-b1813800-a594-11ea-9040-c7b1cd2cb743.png)

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Install PS 1.

[2020-06-03 11:07] BudrysLP opened #19541 "Cannot change activation state on many requested products"
#### Describe the bug

A clear and concise description of what went wrong.

#### Expected behavior

When I try to activate some products I get that error "Cannot change activation state on many requested products". When I try t edit the same products I can't do that and also get error.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to products
2. Click on activate
3. Go to produ

[2020-06-03 11:47] markopolo2002 commented on #10122
I'm wondering if the issues described here are the same as mine but on further testing of our live site (1.7.6.5) I made an express checkout payment on our site via PayPal and then noticed the process actually created an account with my details although the process fails to inform me (as a customer) what the password is, given that I didn't enter one obviously I'm wondering if this is another issu

[2020-06-03 12:03] Progi1984 commented on #17657
PR PrestaShop/ps_linklist#88

[2020-06-03 12:31] MatShir commented on #19541
Hi @BudrysLP,
I try:
1. Go to the product lists
2. Go to offline/deactivated product
3. Activate the product
4. Save the product
No errors detected.

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- Javascript

[2020-06-03 12:36] MatShir commented on #19540
@PrestaShop/prestashop-core-developers could confirm this behaviors?
First time to occur a bug like this.
@202-ecommerce Have you find this issue in 1.7.6 ?

[2020-06-03 12:46] BudrysLP commented on #19541
You could not have that issue. What is weired I have it only for some products, not for all.

[2020-06-03 12:47] MatShir commented on #19509
Hi @florine2623, could you try on 5.6 with some orders in payment accepted? thank you

[2020-06-03 13:03] MatShir commented on #19533
@TaccCZ the order was made on which shop at the end?

[2020-06-03 13:13] MatShir commented on #19527
@PrestaShop/prestashop-product-team Do you think we should enhance the export system in the listing page ?

[2020-06-03 13:21] Progi1984 commented on #11115
Fixed by #19139

[2020-06-03 13:27] rdy4ever commented on #19462
Even more. If you do register an account after the order is placed, you will not have the order registered in your account.

[2020-06-03 13:57] colinegin commented on #15797
ping @PrestaShark, did you see @jolelievre's comment ? We need your input to be sure how to fix it !

[2020-06-03 13:57] clotaire202 commented on #19540
I confirm it doesn't work on 1.7.6. Same bug.

Defaut behaviour of form_row has a default alignment not coherent with form_rest :
{{ form_row(settings.CHECKBOFORM_YESANDNO) }}

![image](https://user-images.githubusercontent.com/52157233/83645275-93c2cb80-a5b2-11ea-9295-07cc8d779caa.png)

[2020-06-03 13:58] colinegin opened #19543 "[EPIC] - Customer/Guest account management"
This EPIC lists all bugs and potential improvements related to customer and guest accounts in PrestaShop, and the flow between these 2 different account types :

## Transforming a guest account into a customer account
- [x] #10122
- [x] #12852
- [x] #15273

## Making purchases as a guest user
- [ ] Making several purchases with the same guest email creates several guest accounts (related to #9693)

[2020-06-03 14:03] Progi1984 commented on #19446
I have the good version :
![image](https://user-images.githubusercontent.com/1533248/83646182-9bcf3b00-a5b3-11ea-9165-c0c308258168.png)

And I don't have the problem :
![image](https://user-images.githubusercontent.com/1533248/83646272-ba353680-a5b3-11ea-88c9-7a4c469149dd.png)

It's Fixed ;)

[2020-06-03 14:09] #19172 closed, assigned to nobody

[2020-06-03 14:11] MatShir commented on #19130
@PrestaShop/prestashop-core-developers hey guys, could you help to reproduce this one?
Is it an issue from PS side or on the module? How problematic is it?

[2020-06-03 14:17] 202-ecommerce opened #19544 "CustomMoneyType and ResizableTextType looks unused and throw an error when used"
#### Describe the bug

When we try to use CustomMoneyType or ResizableTextType, we have an error :

Could not load type "PrestaShopBundle\Form\Admin\Type\CustomMoneyType": class does not implement "Symfony\Component\Form\FormTypeInterface".

#### Expected behavior

This Form Type sould probably be removed because I don't find

<pre>
./src/PrestaShopBundle/Form/Admin/Type/CustomMoneyType.php:32:cla

[2020-06-03 14:25] MatShir commented on #19482
Hi @jose73wrc,
Thank you for your feedback and we do take cart calculation seriously.
We need a bit more info, could provide us an example of the steps of what went wrong on the calculation (like when I add this product at 30euro, I have this tax instead of...)?

[2020-06-03 14:43] MatShir commented on #19475
@tarasklymets for your feedback, indeed there is a huge performance issue.
I suggest continuing the discussion on this issue #14955. Tell us your thoughts on it. The issue will be close because it is a duplicate of #14955

We are aware of this issue, it is already in our debug backlog.
To be informed when it’s fixed, please subscribe to the issue above.

Thank you!

[2020-06-03 14:43] #19475 closed, assigned to nobody

[2020-06-03 14:57] Progi1984 commented on #19029
Fixed by #19437

[2020-06-03 14:57] #19029 closed, assigned to jolelievre

[2020-06-03 14:57] TaccCZ commented on #19533
@florine2623 The order was placed at the first e-shop, which had the weight filled for the combinations. But the order took over information from the second e-shop in which there were no weights.

[2020-06-03 15:00] MatShir commented on #19544
@PrestaShop/prestashop-core-developers Wdyt ?

[2020-06-03 15:00] MatShir commented on #19544
@PrestaShop/prestashop-core-developers Wdyt ?

[2020-06-03 15:04] 202-ecommerce opened #19547 "GeneratableTextType and ReductionType show help two times"
#### Describe the bug

If you want to use GeneratableTextType or ReductionType from PrestaShopBundle with configure help. Help is displayed Two time

![image](https://user-images.githubusercontent.com/4932192/83653272-dccb4d80-a5bb-11ea-8548-25ccb9cd775e.png)

![image](https://user-images.githubusercontent.com/4932192/83937188-f098ce80-a7ca-11ea-9885-68080b06c2ec.png)

#### Expected behavior

Disp

[2020-06-03 15:04] MatShir commented on #19478
Hi @Matt75,
Is there still an issue here?

[2020-06-03 15:04] jose73wrc commented on #19482
Hi @MatShir ,
I have any product, they all have a default 21% tax, for it to be good it would have to have the same product but without taxes as well.
I add any product to the cart, the client's area is exempt from taxes, because the client will see:
- if the option to see without taxes is checked, exactly the same as if you will pay taxes, both in subtotal and in total.
- If the option to see pro

[2020-06-03 15:09] jose73wrc commented on #19482
A client registers from the Canary Islands, an area that does not have taxes if you are a company.
because you just have to try to add to the cart a product that you have for trial and that the total comes out without taxes.

[2020-06-03 15:10] lrodriguez37 commented on #17539
Thank you. This fix the issue.

[2020-06-03 15:12] bpato opened #19548 "Cannot access the gamification configuration page after disabling it"
Edit:
#### Describe the bug

when gamification module is not active tries to redirect to AdminHome Controller and fails.

![Captura](https://user-images.githubusercontent.com/28157986/83656812-51a08680-a5c0-11ea-80c6-a7e89ad4386a.PNG)

https://github.com/PrestaShop/gamification/blob/master/controllers/admin/AdminGamificationController.php#L13L22

#### Steps to reproduce
it tries to redirect to ?co

[2020-06-03 15:13] colinegin commented on #19462
Thanks @dangelion for warning us about this issue.
It was already listed here #14414, so your issue is a duplicate.
I'm closing it so that we can better focus on fixing it.
Do not hesitate to follow the EPIC #19543 if you want to add information.

Thanks !

[2020-06-03 15:13] #19462 closed, assigned to nobody

[2020-06-03 15:16] MatShir commented on #19548
Hi @bpato,
Could you please provide us with more info? What kind of errors do you encounter when it fails?
We need more details on the issue to help us the prioritization

Thank you!

[2020-06-03 15:25] MatShir commented on #19547
@PrestaShop/prestashop-core-developers Wdyt ?

[2020-06-03 15:34] bpato commented on #19548
![Captura](https://user-images.githubusercontent.com/28157986/83656812-51a08680-a5c0-11ea-80c6-a7e89ad4386a.PNG)

it tries to redirect to ?controller=AdminHome

[2020-06-03 15:37] colinegin commented on #16567
Should it be part of the EPIC then ?

[2020-06-03 15:42] dangelion commented on #14414
Any news on this? It's like an year this is opened and it's a serious issue. Better to remove it from upcoming releases since it doesn't work.

[2020-06-03 15:42] MatShir commented on #19520
Issue:
- [ ] https://github.com/PrestaShop/PrestaShop/issues/19212

[2020-06-03 15:44] Progi1984 commented on #19444
PR : PrestaShop/pscleaner#45

[2020-06-03 15:45] MatShir commented on #19212
I put the issue to minor since the feature does not appears in FO, I will see with the migration team if it can be resolved on the migration of the product page.
thanks @clotaire202

[2020-06-03 16:16] bpato commented on #19478
little example, most part from https://devdocs.prestashop.com/1.7/modules/creation/adding-configuration-page/
[code]

![CapturaError](https://user-images.githubusercontent.com/28157986/83660639-5b78b880-a5c5-11ea-9f7d-f09418e28bef.PNG)

using a ModuleAdminController it shows correctly.

[2020-06-03 16:38] Progi1984 opened #19549 "Implement Native Lazy Loading"
#### Is your feature request related to a problem?

The idea is a small optimization which allows to improve loading time.

#### Describe the solution you'd like

Add `loading=lazy` on `img` tags.

#### Additional context

Reference : https://web.dev/native-lazy-loading/
Reference : https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#Browser_compatibility

[2020-06-03 16:41] eternoendless commented on #19549
To be implemented in the classic theme & maybe faceted search as well?

[2020-06-03 16:59] bpato commented on #19478
perhaps the best thing to do is update the documentation and make
clear that usig this method is a bad practice.

[2020-06-03 17:39] 202-ecommerce opened #19550 "Date and DateRange picker Type with time"
#### Is your feature request related to a problem?

helper forms supply date time picker. You can found it on Cart Rules.

![image](https://user-images.githubusercontent.com/4932192/83669276-941e8f00-a5d1-11ea-9e00-97dc3947dd69.png)

#### Describe the solution you'd like

With DatePickerType or DateRangeType we cannot pick a time :

![image](https://user-images.githubusercontent.com/4932192/836693

[2020-06-03 18:59] tarasklymets commented on #14955
The problem is that the site wants to display all 7000 categories, in 1.6 it worked somehow differently.

How do I make collapsed categories when entering editing? To make the page load faster. Or can I make a video of the difference in speed of 1.6 and 1.7?

PrestaShop 1.6 very fast https://skr.sh/v2STKMcje4L
PrestaShop 1.7 very slow https://skr.sh/v2SK5Qu6vQq

Most likely it is already difficult

[2020-06-03 23:29] 5-digits commented on #17539
Thanks @khalidumarr it works for me also

[2020-06-04 05:47] MatShir commented on #19533
@TaccCZ
I couldn't reproduce, I try:
1. Activate Multistore
2. Create new shops with the same products
3. Add weight the product of the default shop
4. Order the product on the default shop
5. The product of the order has the right weight

Could you provide the information, a video, or more steps to reproduce your bug?
Thank you

[2020-06-04 05:59] MatShir commented on #19548
I was able to reproduce the issue with PrestaShop version 1.7.7.
I’ll add this to the debug backlog so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thank you!

[2020-06-04 06:13] juraj1000 opened #19551 "Incorrect discount value"
Hello,
I use in product settings the parameter "Display discounted price"  =  "Yes" (In the volume discounts board, display the new price with the applied discount instead of showing the discount (ie. "-5%")).
But there is still displayed the discount with %, I expect there should be displayed discount amount with the currency (in my example there is "-10%" and "Save 10%", there should be "€-13,50

[2020-06-04 06:39] Progi1984 commented on #19446
Need to update the `composer.lock`

[2020-06-04 06:40] 202-ecommerce opened #19552 "IpAddressType not reusable without template custumization"
#### Describe the bug

IpAddressType cannot be resused in the form_rest.

![image](https://user-images.githubusercontent.com/4932192/83721515-8140a480-a63b-11ea-9c9c-ca0bcf496679.png)

1. you need to assign in you Admin Controller a specific parameter `'currentIp' => $request->getClientIp()`
2. you need to call specifically the form_row. This require that you define all previous fields Type to kee

[2020-06-04 06:55] MLE-Coding opened #19553 "BO Virtual product: Download the file will get the first one instead the last (active)"
| Questions     | Answers
| ------------- | -------------------------------------------------------
| Branch?       | develop
| Description?  | The bug is at the backoffice products detail page at virtual products. You edit a virtual product and add a new download file to this product, you are able to download this file (see screenshot) ![image](https://user-images.githubusercontent.com/63242596/8

[2020-06-04 07:03] juraj1000 opened #19554 "Button Add to cart doesn't work"
Hello,
I use a product with attributes "Book 1" and "Book 2" but the button "Add to cart" doesn't work. If I press it nothing happens.
If I change a quantity to e.g. 3 and then I press the button, the quantity is changed to 1 and again nothing happens. It means no product is added to the cart and no new screen displays. I also switched on the debug mode but no log file was generated.

Product deta

[2020-06-04 07:13] TaccCZ commented on #19533
@MatShir
Hi, here is video:
https://www.loom.com/share/a5868127dc8f4f78a9afb325cf9bf024

As you can see, in the first e-shop I have the weight of the combination set to 0.5 kg and in this e-shop I made an order. In the second e-shop, I set the weight to 0.9 kg, and made an order again in the first e-shop. And the weight of 0.9 kg was transferred to the order ... that is, from the second e-shop.

[2020-06-04 07:22] LouiseBonnard commented on #19527
Yep, I think it'd be great, thanks! Can you let us know which version of PrestaShop you use, @Eva-F? On a 1.7.6.5 version, I can manage to export the whole listing of my products, and not only the 20 items displayed on the page.

[2020-06-04 07:24] 202-ecommerce opened #19555 "Form Type error are not managed on each fields"
#### Describe the bug

When you use default PrestaShop\PrestaShop\Core\Form\FormHandler it's impossible to manager form type errors.

![image](https://user-images.githubusercontent.com/4932192/83726575-02039e80-a644-11ea-805d-66369a36e1e1.png)

You can just send an error the top of the page.

![image](https://user-images.githubusercontent.com/4932192/83727141-e77df500-a644-11ea-9612-1093187f1c39.p

[2020-06-04 07:32] LouiseBonnard commented on #18273
It is ready now, thanks! In order to install the alpha or beta versions of Addons modules, a tech feature but still useful for the users who would like to test modules in advance, we should do **both the tech improvement** in the code **and the option in the Advanced Parameters section of the back office** - by a dropdown selector, for instance.

[2020-06-04 07:56] manoaratefy opened #19557 "Upgrade from CLI not working, class Datas not found (1.7.6.1 to 1.7.6.5)"
When I run php install/upgrade/upgrade.php on CLI, it doesn't work. It shows:

[code]

Opening http://www.mysite.com/install/upgrade/upgrade.php on browser doesn't have this issue.

#### Steps to Reproduce

#### Additional information

* PrestaShop version: 1.7.6.1, upgrading to 1.7.6.5
* PHP version: PHP 7.2.31-1+0~20200514.41+debian8~1.gbpe2a56b

[2020-06-04 07:59] juraj1000 opened #19558 "Do not mention tax in invoice labels when tax is disabled"
Hello,
I use configuration for Tax options "Enable tax" = No

![image](https://user-images.githubusercontent.com/33311857/83729510-0336ca80-a648-11ea-8b94-438a9b77d472.png)

But there are incorrect texts in an invoice if this configuration is used.
I expect:
- not to display "Tax rate" in the header for items
- to use the texts "Base Price", "Unit Price" and "Total" without "(Tax excl.)"  in the h

[2020-06-04 08:13] colinegin commented on #19548
IMO, this is normal that you don't have access to the configuration page once you disable the module.
The only thing that could be improved is the "page not found" message. But this is not a bug.

Or maybe there's something i misunderstood ?
What do you think @MatShir ?

[2020-06-04 08:14] florine2623 commented on #18925
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2020-06-04 08:16] florine2623 commented on #18958
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.
Thanks!

[2020-06-04 08:17] #19170 closed, assigned to nobody

[2020-06-04 08:23] jolelievre commented on #19272
Hi @florine2623

The feature seems legit indeed, I guess it can be added to backlog and it will be prioritized by product team. The suggestion for modification seems fine, it will have to be tested a bit more but it's a nice improvement.

[2020-06-04 08:24] juraj1000 opened #19559 "Currency symbol"
Hello,
I use only currency EUR in my e-shop, but there is displayed symbol € and I need to display ISO code EUR in screens and also in emails, pdf.... How can I change € to EUR? I couldn't find any configuration for it.

Configuration
![image](https://user-images.githubusercontent.com/33311857/83733136-6bd47600-a64d-11ea-8c56-91dd45d5c974.png)

[2020-06-04 08:25] Matt75 commented on #19548
@colinegin Yes AdminHome doesn't exist, it should be AdminDashboard instead 👌

[2020-06-04 08:26] MatShir commented on #19548
Other modules link banner, for example, allow to configure it even when it is not activated. So this module, in particular, I understand there is not configuration to do when it is disabled.
IMO, Page not found is not very professional when other modules allow to do it. It could be excepted from the merchant to try to click on _Configure_. So I might be more improvement with a page that explains t

[2020-06-04 08:27] alfonsolr09 commented on #19170
Probably you have to put spanish languaje

[2020-06-04 08:27] alfonsolr09 commented on #19170
@florine2623

[2020-06-04 08:28] alfonsolr09 commented on #19170
I use 22" screen

[2020-06-04 08:28] Matt75 commented on #19272
For information if Core doesn't use legacy helpers since migration to Symfony, modules developers still use them to works from PrestaShop 1.5 to PrestaShop 1.7 thanks to ModuleAdminController
Changes have to be done carefully to not require changes from modules developers to handle it if it break somethings.

[2020-06-04 08:30] colinegin commented on #17317
When creating a product with combinations and adding pictures to it, if you decide not to associate any of them to your combinations, then ALL images will be shown for every product combination page. Would that solve your problem @superskyman100 @coloronyou @MarkALeonard ?

[2020-06-04 08:36] Matt75 commented on #19548
Yes it should redirect on AdminDashboard

AdminHome is replaced by AdminDashboard since PrestaShop 1.6.0.1
https://github.com/PrestaShop/PrestaShop/blob/develop/install-dev/upgrade/sql/1.6.0.1.sql#L35

[2020-06-04 08:42] colinegin commented on #19548
Oh ok I get it now :)

[2020-06-04 08:49] #17309 closed, assigned to nobody

[2020-06-04 08:50] Eva-F commented on #19527
version 1.7.6.3
for now I am using override
**override/classes/controller/AdminController.php**
[code]

[2020-06-04 08:51] #19131 closed, assigned to nobody

[2020-06-04 08:51] PierreRambaud commented on #19547
@MatShir What is the question? AFAIK, regarding the image it's a bug :thinking:
And a pull request is already opened #19453

[2020-06-04 08:51] MatShir commented on #19548
If we redirect to the AdminDashboard, it could be frustrating if the merchant want to manage his modules. AdminDashbord is just the default redirection in PS.

[2020-06-04 08:57] MatShir commented on #19547
Nice, It was not very clear but I could not reproduce the bug (I couldn't download the module) so I was asking your opinion on the issue. All the information seems to be here. Thanks everyone

[2020-06-04 09:05] clotaire202 commented on #19547
@PierreRambaud The PR don't fix this issue. It's not the same twig block

[2020-06-04 09:09] superskyman100 commented on #17317
It won't solve the problem cause the color swatches won't be functional.

We use this workaround : we duplicate ALL images and select the ones we want for each combination. For the last color combination, because we've duplicated the images, we still can show and select others colors if we want to show all combinaisons on thumnails with functional thumbnails.

Ex :
![image](https://user-images.git

[2020-06-04 09:11] PierreRambaud commented on #9951
After a looonnnnggg time, yes it's still up to date, I will do a pull request to protect it ;)

[2020-06-04 09:12] clotaire202 commented on #19547
@MatShir I've committed vendor directory. No need composer, just download the zip from.

[2020-06-04 09:27] florine2623 commented on #19551
Hi @juraj1000 ,
The option you chose is for the volume discount board. For example :
![Capture d’écran 2020-06-04 à 11 22 54](https://user-images.githubusercontent.com/16019289/83739359-c1148580-a655-11ea-909a-5ec8cb366bf3.png)
If you want the discount to show in amount, you need to put the discount amount instead of the percentage directly in the product sheet.
In product sheet > Price > Specif

[2020-06-04 09:27] #19551 closed, assigned to nobody

[2020-06-04 09:28] florine2623 commented on #19554
Hi @juraj1000 ,
Could you share the exact steps to reproduce your issue please ?
Thanks!

[2020-06-04 09:32] matks commented on #9951
Thank you for fast answer :trollface:

[2020-06-04 09:39] PierreRambaud commented on #17317
Please, don't share your website admin address, it's a really bad idea.. Do proper screenshots and remove sensitive data.

[2020-06-04 09:40] Muzz-as commented on #9954
Product not being saved only in FireFox Version 77.0.1. This is a bug ? I have't error massage in debug mode report.

[2020-06-04 09:41] Muzz-as commented on #9954
Product not being saved only in FireFox Version 77.0.1. This is a bug ? I have't error massage in debug mode report.

[2020-06-04 09:43] juraj1000 opened #19561 "Incorrect content of localization pack for country Slovakia"
Hello,
there is incorrect content of localization pack for country Slovakia (SK). If I import language sk then there are used incorrect date formats "Y-m-d" and "Y-m-d H:i:s".
The correct formats are:
- Date format:   d.m.Y
- Date format (full):    d.m.Y H:i:s
Could you please change it in the localization pack for Slovakia?

[2020-06-04 09:50] juraj1000 commented on #19554
Exact steps:
- Home page Popular products
- Select product > there is displayed product detail info
- press button Add to cart > nothing happens and the cart is empty
This issue is only with one product which uses combination, the product is activated.

[2020-06-04 09:53] jolelievre commented on #17317
I think we could add a feature that allows to configure this behaviour:
- Display combination images only
- Display all product images

Ideally we would have a generic shop configuration (manageable in Shop Parameters > Product settings), and an additional one in product page for more specific overriding use cases (I just want this specific product to display all images)

This will then be managed

[2020-06-04 10:01] juraj1000 opened #19562 "Incorrect text No tax if tax is not used"
Hello,
I use configuration for Tax options "Enable tax" = No

![image](https://user-images.githubusercontent.com/33311857/83742643-f7540400-a659-11ea-8866-b91c5e19fd2d.png)

But there is still used the text "No tax" in product information and this text should be hidden. The e-shop company is not VAT tax liable therefore there is not any tax. The product is configured with Tax rule = "No tax".

![i

[2020-06-04 10:02] #19446 closed, assigned to Progi1984

[2020-06-04 10:03] florine2623 commented on #19559
Hi @juraj1000 ,

In PS 1.7.6.5, you can't change that manually. You will need t change it in your database in `ps_currency_lang`.
In PS 1.7.7.1, you will be able to change currency format and symbol :
![Capture d’écran 2020-06-04 à 12 02 07](https://user-images.githubusercontent.com/16019289/83743633-477f9600-a65b-11ea-8bd0-959e749d2a75.png)
You can test that feature in the beta version by downl

[2020-06-04 10:03] #19559 closed, assigned to nobody

[2020-06-04 10:04] florine2623 commented on #19562
Please do not open the same issue multiple times.

[2020-06-04 10:05] florine2623 commented on #19562
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/19558

[2020-06-04 10:11] florine2623 commented on #19554
I can't reproduce the issue.
You forgot to mention that this product is a PACK.
Can you give me more details about the 2 products in the pack ?

[2020-06-04 10:12] florine2623 commented on #19550
Hi @202-ecommerce ,
Thanks for the recommandation. I will ping our product team, please stay tuned !

[2020-06-04 10:14] florine2623 commented on #19550
Hi @PrestaShop/prestashop-product-team ,
What do you think about this ?
Thanks!

[2020-06-04 10:17] florine2623 commented on #19561
Hi @LouiseBonnard ,
Could you take a look at this ? Can this be implemented ?
Thanks!

[2020-06-04 10:17] Matt75 commented on #19548
@MatShir Related to https://github.com/PrestaShop/PrestaShop/pull/19448
If a merchant request a disabled module configuration page or a ModuleAdminController of a disabled/uninstalled module, he should see an explicit error.

[2020-06-04 10:19] juraj1000 commented on #19554
The product is not pack, it has only the text description about packs of 2 books, the product is "Product with combinations"

[2020-06-04 10:21] NeOMakinG commented on #19440
Hey @rdy4ever,

Why not, but it's been 13 months without any commit on this one too, and there is only one maintainer on the npm page, I'm not sure but I think we don't add library with only one maintainer on npm ! Is there any other library up to date and with some moovement ?

What do you think @PrestaShop/prestashop-core-developers ?

[2020-06-04 10:22] florine2623 commented on #19555
Hi @202-ecommerce ,
Please stay tuned as I ping our dev team !
Thanks!

[2020-06-04 10:22] florine2623 commented on #19555
Hi @PrestaShop/prestashop-core-developers ,
What do you think about that ?
Thanks!

[2020-06-04 10:22] rdy4ever commented on #19440
I couldn't find one

[2020-06-04 10:25] NeOMakinG commented on #19440
Of course, was just asking if another option is more viable ;)

[2020-06-04 10:25] rdy4ever commented on #19440
@NeOMakinG At least this one has all the icons present in Google's iconfont. It't a bit frustrating as a theme developer to try an add an icon showcased in the ofiicial docs, just to see a blanck square :)

[2020-06-04 10:31] LouiseBonnard commented on #19561
Nice catch, thanks @juraj1000! Of course, it is very easy, you just need to create a pull request to modify this information, located in the [all_language.json](https://github.com/PrestaShop/PrestaShop/blob/develop/app/Resources/all_languages.json) file.

[2020-06-04 10:33] MarkALeonard commented on #17317
I agree with @jolelievre the best solution would be to have this behaviour as an option.

The suggested work arounds would not work for the client that I initially suggested the PR for. He has a shop selling t-shirts, one design per product with 6 sizes and 8 colours. Duplicating the images for every combination would be tiresome.

I haven't delved into adding options in the backend of Prestashop

[2020-06-04 10:39] florine2623 commented on #19554
I can't reproduce your issue.
Have you checked your shopping_cart module and enable ajax cart ?

[2020-06-04 10:46] MarkALeonard commented on #17317
Here is an example of the current PR in action. https://test.bearshaped.com/gb/t-shirts/32-747-crystal.html#/size-s/colour-black

[2020-06-04 11:02] Muzz-as opened #19563 "Does not save changes, but show updated message"
#### Describe the bug

Does not save eny changes on pruduct page but show updated message. Only in product. CMS or Catalog page - is OK. Only in FireFox and Google Chrom. Opera working fine.
Debug mode report without errors. What's the problem?

#### Additional information

* PrestaShop version: 1.7.6
* PHP version: 7.2
* FireFox Version 77.0.1
* Theme: Classic (standart)

[2020-06-04 11:16] juraj1000 commented on #19554
Ajax cart is enabled, how can I check shopping_cart module?

[2020-06-04 11:56] juraj1000 commented on #19562
please keep into account it is not duplicate, this issue is about incorrect text "No tax" in product info,  #19558 is about incorrect texts "Tax excl." in pdf invoice

[2020-06-04 12:05] florine2623 commented on #19563
Hi @Muzz-as ,
I can't reproduce your issue.
Can you try to deactivate the overrides ?
Check you log file to see if there are any fatal errors ?
Thanks!

[2020-06-04 12:06] rdy4ever commented on #19549
This will be great in the future, but for now I think I'm gonna stick with the [lazysizes](https://github.com/aFarkas/lazysizes) I've been using for years. At 7.59 kb it's a bargin for me :)

[2020-06-04 12:07] PierreRambaud commented on #18460
@sam-pires FYI, the problem is already fixed :wink:

[2020-06-04 12:07] #18460 closed, assigned to PierreRambaud

[2020-06-04 12:07] NeOMakinG commented on #19440
Waiting for the advice of more peoples of the team and I'm gonna work on this, don't worry

[2020-06-04 12:11] florine2623 commented on #19558
Hi @juraj1000 ,
Thanks for your request.
This is an improvement you'd like to see, I don't think it is "incorrect".
I will ping our product team to know what they have to say on that topic !
Please stay tuned.

[2020-06-04 12:12] florine2623 commented on #19558
Hi @PrestaShop/prestashop-product-team and @LouiseBonnard ,
Could you take a look at this request ?
Thanks!

[2020-06-04 12:20] NeOMakinG opened #19566 "id_group_shop instead of id_shop_group in webservice parameter"
#### Describe the bug

There is a typo in the name of id_shop_group parameter for webservice, see official doc: https://devdocs.prestashop.com/1.7/development/webservice/tutorials/advanced-use/manage-multishop/#define-shop-specific-override)

#### Expected behavior

Activate multishop, with 2 groups (eg: "Default" and "Stores"), with at least 1 shop in each group. Activate webservices and create a

[2020-06-04 12:29] #19193 closed, assigned to Progi1984

[2020-06-04 12:31] matks commented on #19527
Please consider 2 things:
- some people want to export the paginated list, some want the full list
- exporting the full list might crash some servers/browsers (for example if it's too much data for memory)

I think the right way to export the full list is in the Export page 🤔 isn't it ?

[2020-06-04 12:36] Muzz-as commented on #19563
Deactivate the overrides allready. No error message in server-log.
I Have only one Error in "Symfony Profiler": Matched route"admin_get_form_images_combination".
and json-File at: ...../index.php/sell/catalog/products/attributes/form-images/.....is Empty

[2020-06-04 12:41] MatShir commented on #19527
Why not it would be a useful page that could be combined with the import page?
How exporting from another page (Export page) changes the performance rather than export on the related pages?

[2020-06-04 12:49] LouiseBonnard commented on #19527
I succeed in getting the whole list directly from a specific page, see screenshot below:

<img width="1356" alt="Capture d’écran 2020-06-04 à 14 45 36" src="https://user-images.githubusercontent.com/32565890/83758275-18285380-a672-11ea-9014-f06bc7d4163c.png">

Perhaps we should just add a modal when the user clicks on the icon to export to make him/her decide whether he/she wants to export the w

[2020-06-04 12:54] sam-pires commented on #19527
Hi @prestascott
I think you did some research about listing export while working on tables, am I right?

[2020-06-04 12:56] Muzz-as commented on #19563
Only combination added products, only FireFox and Chrome. Opera is fine.

[2020-06-04 12:58] florine2623 commented on #19552
Hey @PrestaShop/prestashop-core-developers ,
Could you check @202-ecommerce request ?
Thanks!

[2020-06-04 13:06] MatShir opened #19569 "[Quantities tab] - Quantities 1/4"
As a merchant, I want to be able to manage my product quantities.

* **Quantity**: This field is not displayed if stock management is disabled in Shop parameters &gt; Products settings.
When you update the field in the quantities tab, the same field in the basic settings tab is updated.
The quantity is displayed in front-office if the option “Display available quantities on the product page” in Sh

[2020-06-04 13:12] marsaldev commented on #19527
@LouiseBonnard Or something like this?
![Schermata 2020-06-04 alle 15 10 03](https://user-images.githubusercontent.com/48283112/83760772-b538bb80-a675-11ea-9974-fffa90d23e27.png)

[2020-06-04 13:15] MatShir opened #19571 "[Quantities tab] - Stock 2/4"
As a merchant, I want to be able to manage my product quantities.

* **Stock location**: This field should not be displayed for a virtual product \([issue 9623](https://github.com/PrestaShop/PrestaShop/issues/9623)\)

* **Low stock level**: You can define value and choose or not to receive an email when the product quantity is &lt;= to this value.

* **Send me an email when the quantity is below o

[2020-06-04 13:17] MatShir opened #19572 "[Quantities tab] - Pack quantities 3/4"
As a merchant, I want to be able to manage my product quantities.

**Pack quantities**: Dropdown with 4 options, displayed only when the product type is pack:
1\) **Decrement pack only**: Only the pack quantity is decremented when you order it.
2\) **Decrement products in the pack only**: Only the products contained in the pack are decremented, the pack isn’t.
3\) **Decrement both**: The pack and

[2020-06-04 13:21] prestascott commented on #16567
Yes, it's already part of the epic and has its own issue : #16599

[2020-06-04 13:26] MatShir opened #19573 "[Quantities tab] - Availability preferences 4/4"
As a merchant, I want to be able to manage my product quantities.

**Behavior when out of stock:**
This field is not displayed if stock management is disabled in Shop parameters &gt; Products settings.

3 radios buttons:
1\) **Deny orders**: when it’s checked and product quantity is &lt;= 0, in front-office product page and quick view, the message filled in Shop parameters &gt; Product settings &g

[2020-06-04 13:35] imagicuus opened #19574 "Duplicate combination product results in 500 error page (product is still duplicated)"
**Describe the bug**
When duplicating a product in some situations a 500 error page is shown. This happens in a multistore installation and only with products that have features and/or combinations. When I duplicate a simple product without features/combinations no error is shown.

When the error is shown the product is still created, but there are no features and images in the created product.

*

[2020-06-04 13:36] MatShir commented on #19569
Product quanity fields in back-office product page is an integer field. Only integers are allowed.

1) If you enter a number with decimal (ex 30,5 or 30.5) and save, it says “settings updated” and everything after the comma is deleted.
- [ ] It could be good to add an error message under the field "This value is not valid".

2) If you select Pack of product as product type and search for a product

[2020-06-04 13:41] MatShir commented on #19571
When you create a new product, invalid characters for the stock location field are: <>;={}
If you enter an invalid character and save, you have an error "The location field in invalid" displayed.

![capture d'écran_1742](https://user-images.githubusercontent.com/13449658/60885950-09160700-a251-11e9-8b3b-34776edd499a.png)

- [ ] Instead of this, we should have an error under the field "This value i

[2020-06-04 13:43] LouiseBonnard commented on #19527
@marsaldev, why not! As long as we allow the user to choose between the two options. ;-)

[2020-06-04 14:05] florine2623 commented on #19563
When you enable debug mode, do you have an error ?

[2020-06-04 14:05] colinegin commented on #14804
ping @marionf

[2020-06-04 14:10] ghost opened #19575 "New spam prestashop 1.7"
#### Is your request for functionality linked to a problem?

A new spam campaign is launched on customer accounts and on the mailing list.

This is not a security issue, but it is a problem because an IP can be banned

Google V3 captcha is hacked and even with this security, servers are banned

Is it possible to have a capctha made by prestashop that evolves?

I think the discussion should be open

[2020-06-04 14:11] Muzz-as commented on #19563
No error message

[2020-06-04 14:11] Eva-F commented on #19527
to be true - export only one page doesn't make for me too sense - but i can be wrong .
But I am understand your fears about memory crash - maybe also time limit could be a problem -
therefore some upper limit is neccessary to set - imho . ( into getList?? or into processExport?? ).

BTW what happens when I write Sql query into "Advanced Parameter->Database"
[code]
and try to export?

- I agree wit

[2020-06-04 14:14] florine2623 commented on #19554
Can you check in the product page if you have any special configuration ? For example, allow only a certain amount of products to the cart.

[2020-06-04 14:21] florine2623 commented on #19509
@anthhh yes I'm using NDV3 Charts v2.0.1, I still can't display the charts

@MatShir I tried with PHP 5.6, and have orders paid in my shop, still no chart.

[2020-06-04 14:25] SD1982 opened #19576 "Bad redirection after deleting an element in monitoring page"
#### Describe the bug

After deleting a element in "Catalog / monitoring"  We are redirected to the product list .

#### Expected behavior

After deleting a element in "Catalog / monitoring"  We should stay on the monitoring page

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to BO => Catalog => monitoring
2. Delete one off the element
3. See error

**Screenshots**

https://driv

[2020-06-04 14:35] #14804 closed, assigned to marionf

[2020-06-04 14:42] marionf commented on #12540
Ping @matthieu-rolland FYI, maybe this issue will be usefull to implement checkboxes, let me know otherwise I close it

[2020-06-04 14:47] florine2623 commented on #19563
When you inspect the element, do you have error in the console ?

[2020-06-04 15:22] Matt75 commented on #19575
I thinks problem come from bad implementation of captcha modules.
The captcha checking should be done in hook actionDispatcher to be sure it will be executed before all others actions to prevent sending email or database operations.

[2020-06-04 15:24] matteolavaggi opened #19578 "APCU on php 7.2 complete brake backend"
#### Describe the bug

Another time prestashop decide to dead with a standard and common component.

We install on our server apcu and apcu-bc for php 7.2.
We dont do other things on our prestashop.

Some Backend page start to be unavailable with error 500.

Default backend page and order page for example work.

performance page does not work.

Try to uninstall apcu from the server dows not solve

[2020-06-04 15:29] squaremedia1 opened #19579 "Special carachters in customer name"
Hi, I have a problem with prestashop 1.7.6.5
My clients are unable to register when an apostrophe or a special carachter is entered in the first or last name.
I checked the validate.php in the classes and seems everithing ok.

public static function isCustomerName($name)
    {
        $validityPattern = Tools::cleanNonUnicodeSupport(
            '/^(?:[^0-9!<>,;?=+()\/\\@#"°*`{}_^$%:¤\[\]|\.。]|[\.

[2020-06-04 15:31] florine2623 commented on #19574
Hi @imagicuus ,
I could not manage to reproduce our issue in PS 1.7.6.5.
I followed your steps with the specification mentioned.
Please see my screen record :
https://drive.google.com/file/d/1BY75x-Ghhh_voSqHGnJp3487D6XzzbI0/view
Is there anything special in your product page ? Some configuration ?

[2020-06-04 15:33] matks commented on #19579
Can you provide some examples ?
In order to protect your customers privacy, you can provide modified names 😊 so if your customer is David Smith you can tell us Vavid Mhsit is not able to register for example

[2020-06-04 15:34] squaremedia1 commented on #19579
Name: Davide
last name: d'alessandro

[2020-06-04 15:36] emflomed17 commented on #19344
Hi @onklmaps use this order_conf file:

[order_conf.zip](https://github.com/PrestaShop/PrestaShop/files/4731100/order_conf.zip)

[2020-06-04 15:44] imagicuus commented on #19574
Hi @florine2623,

Thx for checking this out. Because of the SQL error shown I think having a supplier in the options tab might also have something to do with this.

[2020-06-04 16:13] florine2623 commented on #19566
Hi @NeOMakinG & @loicsapone ,
Thanks for the Issue and the PR !

The issue can be reproduce and PS 1.67.6.5 and 1.7.7.0.
I’ll add this to the debug roadmap so that it’s fixed.

[2020-06-04 16:20] florine2623 commented on #19574
Do you mean this tab ?
![Capture d’écran 2020-06-04 à 18 19 59](https://user-images.githubusercontent.com/16019289/83782397-0e154d80-a690-11ea-9436-12c9dbacca29.png)

[2020-06-04 16:27] florine2623 commented on #19579
Hi @squaremedia1 ,

I couldn't reproduce your issue.
Please check my screen record : https://drive.google.com/file/d/1VblTa0rWdHV8-cuUZs3azDMHR03zGi9k/view

What version of PHP are you using ?

[2020-06-04 16:31] florine2623 commented on #19562
Hi again @juraj1000 ,
I'm sorry I misread your issue.
Our product team will decide what to do with your issue :)

Not a duplicate of #19558

[2020-06-04 16:32] LouiseBonnard commented on #19558
Hi @juraj1000, by default it is mentioned in the invoice labels although the field is empty. I am wondering how helpful it can be to the users, it is just part of the invoice template: values are empty and labels are mentioned tax excluded...

Perhaps we should let people vote for it in order to estimate how required it is, the PrestaShop feedback tool should be available soon. We keep in touch! :

[2020-06-04 16:40] squaremedia1 commented on #19579
PHP 7.3
I see your video, but for me it is not the same, i got an error

[2020-06-04 16:56] IranDec commented on #18925
@florine2623
Hi
1) yes
2)  info in that product is empty like u don't fill that ever
3) yes my PHP ver is 7.2 thanks for your advice

I'm so sorry but it most possible to get a screen record
but I will try if my customer accept my ask.

Thanks

[2020-06-04 19:50] juraj1000 commented on #19554
I'm sending configuration of the product. There is only special configuration for attributes, there are used attributes "Book 1" and "Book 2". Both attributes have 3 values, so the system generated 9 combinations. But 6 combinations were deleted because only 3 combinations are relevant.

![image](https://user-images.githubusercontent.com/33311857/83803301-9efa2200-a6ac-11ea-9983-d4567324f00a.png)

[2020-06-04 19:59] imagicuus commented on #19574
@florine2623 yes indeed. I've recorded the 2 situations. Duplicating a product without supplier and with supplier selected. Wait until the end to see the error: https://drive.google.com/file/d/1uhr5ruNEIuWm34Us0mspEu-_GPksdc6i/view?usp=sharing

[2020-06-04 20:33] matks commented on #19579
Are you sure your shop has not a custom behavior, either introduced by a module you installed, or some custom you or someone else wrote ?

Can you check on a fresh PS 1.7.6.5 install ?

[2020-06-04 20:37] juraj1000 opened #19583 "Attribute name is not updated"
Hello,
I use attributes for products in PS 1.7.6.5. If I change attribute Name then it is correctly displayed in detail screen, but it is not updated in screen for attribute list.

BO > Catalog > Attributes & Features > choose Edit and attribute detail screen is displayed > change Name > Save > system returns back to the screen for attribute list but there is not updated attribute Name
After cache

[2020-06-04 20:38] juraj1000 commented on #19583
The similar issue exists also for Features

[2020-06-04 20:49] PululuK commented on #19579
Hi  @matks @squaremedia1
PS 1.7.6.5 with PHP 7.3 ? 🤔
See https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart

[2020-06-04 21:49] juraj1000 opened #19584 "Not possible to translate menu item Stocks in BO"
Hello,
I use PS 1.7.6.5 and it is not possible to translate menu item in BO > Catalog > Stocks. The translation system is not able to find this text Stocks.

[2020-06-04 22:39] nitzibon opened #19585 "International category-Prestashop. Unable to configure it."
#### Describe the bug

Localization, locations, taxation and translations do not work properly, specifically in SELECTION BOXES.  I am unable to select anything at all and the options are instead displayed in all the screens like a background.

#### Expected behavior

To be able to use any SELECTION BOX properly and to work accordingly.

#### Steps to Reproduce

Steps to reproduce the behavior:

1

[2020-06-05 02:28] birdiesroom commented on #16283
I am running into this problem with a recent site and see that there is a fix with version 1.7.7. Is this version of Presta available?

[2020-06-05 05:06] augustinejenin opened #19586 "Product image missing when Upgarde Prestashop"
#### Describe the bug

We upgraded prestashop 1.5.0.17 to 1.6.1.24. After updrade complete product images are not available.How can we fix this.
This is the image url after upgrade.
http://quesoslarra.testme.es/64-large_default/queso-larra-cu%C3%B1a-estuche.jpg.

I tried regenerating thumbnail but we got errors.
preferences->images
Original image cannot be found or is empty (/home/quesoslarr/domai

[2020-06-05 06:56] #17878 closed, assigned to Progi1984

[2020-06-05 07:09] squaremedia1 commented on #19579
Tryed to change the php version setting it to 7.1, 7.2 and 7.0. Unfortunately nothing changes

[2020-06-05 07:10] juraj1000 commented on #19559
Hello,
thanks for hint about currency symbol in PS 1.7.6.5. Is it also possible to configure format with currency in PS 1.7.6.5?

[2020-06-05 07:22] Hlavtox commented on #16283
@birdiesroom You can apply the fix to your current Prestashop, just add these two lines and fixed! :)

![9C4DD891-7653-46B2-8402-0553BE1E6044](https://user-images.githubusercontent.com/6097524/83848391-1a3ff000-a70e-11ea-8990-5b4cedd81ae7.png)

[2020-06-05 07:36] florine2623 commented on #19585
Hi @nitzibon ,
What version of PHP are you using ?
For PrestaShop 1.7.6.5, you must use PHH 7.2 max. Please check our system requirements :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Thanks!

[2020-06-05 08:19] florine2623 commented on #19586
Hi @augustinejenin ,
Did you do a back-up of all files before doing the migration ?
If yes, you can copy the folder /img of your old shop to your new shop !
Let me know the outcome!

[2020-06-05 08:19] boubkerbribri commented on #17871
@Progi1984 No impact on automated UI tests.

Thanks for asking.

[2020-06-05 08:21] juraj1000 opened #19587 "Missing information for pack products"
Hello,
I use PS 1.7.6.5 and there are missing information for product type = Pack:
- in shopping cart
- in final summary
- in pdf - invoice, credit note, delivery slip...

There is always displayed only name of the product pack, but I'd like to display also the names of products which are contained in the pack. Then it would be much easier to check it if there are all information.
It could be disp

[2020-06-05 08:52] florine2623 commented on #19587
Hi @PrestaShop/prestashop-product-team ,

Is it possible to show each product names from a product pack ?

Thanks!

[2020-06-05 08:54] ukbazz commented on #19532
@matks as you say - I like hundreds of others - though I suspect the number is in the very high thousands are indeed continuing to use v1.6 for as long as possible. Mostly because, those of us who have been using it for over 10 years find it a much better platform currently than v1.7!

I am more than happy to look at this bug myself and get it fixed, but it would help if someone at Prestashop coul

[2020-06-05 08:55] florine2623 commented on #19584
Hi @juraj1000 ,
What text are your talking about ?
Could you make a screenshot and highlight it so that it is clearer for me ?
Thanks

[2020-06-05 09:01] florine2623 commented on #19583
Hi @juraj1000 ,
I can't reproduce your issue on neither Attributes  nor Features.
Please check my screen recording : https://drive.google.com/file/d/1iRJZ-CgkKr6W2Jto2pSe6_32iTvQpgyo/view

Are you using multi language ? Maybe you only changed it for one language ?

Have you tried enabling debug mode and check for errors ?
Thanks!

[2020-06-05 09:01] #19488 closed, assigned to NeOMakinG

[2020-06-05 09:01] Progi1984 commented on #19488
Fixed by #19546

[2020-06-05 09:08] florine2623 commented on #19579
Did you try to unable your overrides ?
In your FTP `override` becomes `_override`

[2020-06-05 09:13] florine2623 commented on #19170
I still can't reproduce your issue with your details.
I leave this issue closed !

[2020-06-05 09:16] florine2623 commented on #19541
Hi @BudrysLP ,
Did you do an upgrade of your shop ?
Is there anything special about the products that an't be saved ?
When debug mode is on, do you have an error ?
Thanks!

[2020-06-05 09:21] Ditwo opened #19589 "BO > Stock > error 500"
#### Describe the bug

An error 500 page occurs when clicking Catalog > Stock.
Context : some orders with "double" payment issue have to be refunded, the qty refunded is hence twice the order quantity.

#### Expected behavior

I expect the right calculation of the difference od.`product_quantity` -`od`.`product_quantity_refunded`, even in case of qty product_quantity_refunded> product_quantity.
Be

[2020-06-05 09:22] alfonsolr09 commented on #19170
@florine2623
ok, you post in forums that it is very important that we test the version and report bugs.  I report them but since you are not able to reproduce it you close the thread ...

Thats good....
 :'/

[2020-06-05 09:23] Ditwo commented on #19589
SOLVED changing src/Adapter/StockManager.php, function updateReservedProductQuantity() by introducing CAST in substraction :
ORIGINAL CODE
                SELECT SUM(od.product_quantity - od.product_quantity_refunded)

NEW CODE
                SELECT SUM(CAST(od.product_quantity as signed) - CAST(od.product_quantity_refunded as signed))

[2020-06-05 09:35] matks opened #19590 "Provide a small block to tell webservice status"
#### Is your feature request related to a problem?

Webservice page is quite short on informations. You can turn on the webservices, create keys, and that's all.

I am missing the following informations:
- where is webservice endpoint (it's in devdocs)
- even though webservice is enabled it might not work, some other config settings might be needed

#### Describe the solution you'd like

A small b

[2020-06-05 09:36] matks commented on #19590
@PrestaShop/prestashop-product-team can you validate the feature is OK (and then I can validate/update/finish the PR) ?

[2020-06-05 09:40] juraj1000 commented on #19584
Hello,
check menu item in BO, I use SK language in my user profile but there is not translated item Stocks, it is in EN language. I was not able to find this text in the translation tool.

![image](https://user-images.githubusercontent.com/33311857/83861682-2e411d00-a721-11ea-83a6-d0fe971719ae.png)

[2020-06-05 09:48] florine2623 commented on #19574
Ok thanks for your video, it is clearer.
I still can't reproduce your issue though.

In your supplier list, could you check if they are all available for all your shops of your multistore ?

[2020-06-05 09:49] #19589 closed, assigned to nobody

[2020-06-05 09:54] MatShir opened #19591 "Adding a second product in the order does not update correctly the cart list"
Be aware of the EPIC - BO - Display and update error on cart rule in the order #19594 to solve this issue

#### Describe the bug

I create a cart rule on the product Brown bear at 9 euro with an automated discount of 50% on the total of the order.

On the back-office, when I add product the product to the order it apply a 50% reduction in the total of the order. But when I add again the same produ

[2020-06-05 10:02] MatShir opened #19592 "Update product's quantity in the order does not update the discount"
Be aware of the EPIC - BO - Display and update error on cart rule in the order #19594 to solve this issue

#### Describe the bug

I create a cart rule on the product Brown bear at 9 euro with an automated discount of 50% on the total of the order.
On the back-office, when I update the quantity on the order the discount is not updated

#### Expected behavior

The discount should apply the 50% reduc

[2020-06-05 10:19] imagicuus commented on #19574
Yes, all suppliers are available in all shops. Have you tried it with a product with combinations?

When I look at the SQL error my hypothesis is the following: In the supplier database it wants to add the line with the original "product ID" and the original "product attribute ID" instead of using the newly generated ID's for the duplicated product.

Duplicate entry '200-434-3' for key 'id_product

[2020-06-05 10:26] fanny300 opened #19593 "In Cart Rule, when Sending a free gift to a customer, it isn't mentioned on the order (BO & FO)"
Hello i'm french, i try to explain correctly the problem :

#### Describe the bug

I have a cart rule : for 3 product buy you have 1 product offer.
The price of the product gift is 0€ ( The price is not fixed, a different product gift is sent depending on stock )

I do an order with 3 products + 1 product gift, automaticaly add (with out code).
The order work but, no recording in the table order_c

[2020-06-05 10:27] #18694 closed, assigned to atomiix

[2020-06-05 10:33] matks commented on #19532
Well it's good to know you like one of PrestaShop projects 😊

I'm sorry this we cannot do it, because it's not in our scope (we are PS employees so we are paid for a mission, and the mission is "work on PS 1.7" 😉 ) and also because we do not have the skills anymore as it's old software now and we have not worked / leveled up on it. Our feedback would not be relevant on a bugfix for PS 1.6.

May I

[2020-06-05 10:36] Llorx commented on #19220
Yes, all dropdowns are broken, no matter the menu you enter. Regarding PHP version, I was using PHP 7.3.18 as is a supported version (at least that's what the installer said).

[2020-06-05 10:53] MatShir opened #19594 "[EPIC] BO - Display and update error on cart rule in the order"
The issues below are grouped in an epic because it seems they have to be solve together.

## BUGS

- [x] #19184 - BO - Order detail - Voucher is displayed multiple time
- [x] #19591 - Adding a second product in the order does not update correctly the cart list
- [x] #19592 - Update product's quantity in the order does not update the discount
- [x] #19890 - Update product's price in the order does

[2020-06-05 11:00] MatShir opened #19595 "[EPIC] Errors when adding a product with minimum quantity in order page"
The issues below are grouped in an epic because it seems they have to be solved together.

## BUGS

- [x] #18568 - BO - Order page - An exception is displayed when adding a product with a min quantity
- [x] #18695 - A product allowed to be ordered out of stock with a minimum quantity cannot be added to the BO order.
- [x] #19607 - The minimum quantity is not respected when I add a product
- [x] #2

[2020-06-05 11:02] shoppresta opened #19596 "1-click Upgrade - not start"
#### Describe the bug

I can't open Module 1-Click-Upgrade version: 4.10.1 prestashop 1.7

#### Expected behavior

Upgrade prestashop 1.7.6.4 > 1.7.6.5

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to 'backend prestashop 1.7.6.4'
2. Click on '1-click Upgrade '
3. Scroll down to '....'
4. See error

**Screenshots**

[Wed May 27 13:59:39.760726 2020] [fcgid:warn] [pid 25906] (104

[2020-06-05 11:47] augustinejenin commented on #19586
HI  its ok. we got the images.
after we upgraded to 1.6 design is broken how we can fix this. do we need to do extra css by our own?
please take a look into these sites.
live :http://www.quesoslarra.com/
Upgrded: http://quesoslarra.testme.es/

How we can fix the design issues?

[2020-06-05 12:18] florine2623 commented on #19596
Hi @shoppresta ,
Can you disable your overrides and try again ?
`override` becomes `_overrides` in FTP.
Thanks

[2020-06-05 12:43] matthieu-rolland commented on #12540
Yes, this issue and the related issue (https://github.com/PrestaShop/PrestaShop/pull/14802) are indeed useful

[2020-06-05 12:47] TaccCZ opened #19600 "Faceted Search - bad info about stocks"
#### Describe the bug

Stock information works poorly in the category listing when the faceted search module is turned on.
If faceted search is active, the "stock" of the product is displayed incorrectly in the statement, if the product is in more than one category.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Define custom "stock type" if is product not in stock
2. Go to 'produc

[2020-06-05 12:58] florine2623 commented on #19593
Hi @fanny300 ,

Thanks for the report. I did reproduce your issue on PS 1.7.6.5 and PS 1.7.7.0 partially.
Regarding this : _Go on FO, in your account, history of order : click on re-order the next order.
In cart there on product gift in excess_
I did not reproduce it.

The exact steps I used to reproduce the issue :
- Create a 0€ product
- On tab "Options", uncheck "available for order"
- Create a

[2020-06-05 13:03] florine2623 commented on #19600
Hi @TaccCZ ,

Please keep in mind that this is a public space, do not share your admin here. Let's be careful.

Regarding your issue. I don't understand the language used in the video. Could you explain the exact steps to reproduce in English so that I can help you ?
Thanks!

[2020-06-05 13:06] florine2623 commented on #19554
I used a product with combination and a specific price like yours. Still can't be reproduce.

Is that the only product that can't be added to your cart or all products ?

[2020-06-05 13:13] florine2623 commented on #19479
HI @kerstar ,

You would like to see a new feature in the module email-alert that allows you to resend emails to yourself, is that right ?
For example, a new button would be added here, so that you can resend emails to yourself + any contact that you add in the "email addresses" section, is that right ?
![Capture d’écran 2020-06-05 à 15 11 04](https://user-images.githubusercontent.com/16019289/8

[2020-06-05 13:13] PierreRambaud commented on #19555
Hey @matks @zuk3975 it's up to you :wink:

[2020-06-05 13:16] PierreRambaud commented on #19552
Hey @zuk3975 or @matks I think the `IpAddressType` should contain a default value for `current_ip` wdyt?

[2020-06-05 13:16] florine2623 commented on #19586
It is not broken CSS, it is the new theme for PS 1.6. If you want another theme, you will have to choose a template here : https://addons.prestashop.com/en/3-templates-prestashop

I will now close the issue, as it is not related to a core problem !
Thanks!

[2020-06-05 13:16] #19586 closed, assigned to nobody

[2020-06-05 13:17] TaccCZ commented on #19600
I updated first post and write additional informations.

[2020-06-05 13:18] florine2623 commented on #19220
Please check this : https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

PHP 7.3 is only available for 1.7.7.0. For now this version is still a beta version. So do not use it is production.

I will now close this issue.

[2020-06-05 13:18] #19220 closed, assigned to nobody

[2020-06-05 13:21] florine2623 commented on #18891
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-05 13:21] #18891 closed, assigned to nobody

[2020-06-05 13:21] florine2623 commented on #18933
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-05 13:21] #18933 closed, assigned to nobody

[2020-06-05 13:22] florine2623 commented on #18941
Hi @BERNARD-EMMANUELLE ,
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-05 13:22] #18941 closed, assigned to nobody

[2020-06-05 13:23] florine2623 commented on #18943
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-05 13:23] #18943 closed, assigned to nobody

[2020-06-05 13:24] florine2623 commented on #19038
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-05 13:24] #19038 closed, assigned to nobody

[2020-06-05 13:24] florine2623 commented on #19041
Since we had no news from you for 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-05 13:24] #19041 closed, assigned to nobody

[2020-06-05 13:25] boubkerbribri commented on #17657
Thank you @Progi1984 , this was fixed by PrestaShop/ps_linklist#88

[2020-06-05 13:33] #17657 closed, assigned to Progi1984

[2020-06-05 13:46] colinegin commented on #19590
What are the different status which will be available ?

[2020-06-05 13:50] marionf opened #19602 "Multistore - Add new header on legacy pages"
As a merchant I want to be able to switch between contexts when I have many stores, so I can choose the store(s) I want to configure and easily see which store I am configuring

[Specs header](https://github.com/PrestaShop/prestashop-specs/blob/master/back-office/multistoregeneralspecs.md#multistore-header-only-from-178)

This header should be displayed on all legacy pages

As specified in the [mu

[2020-06-05 13:50] florine2623 commented on #19533
@TaccCZ ,

With all the details, I can't reproduce the issue.

Steps I reproduce :
- Have multistore active with 2 shops
- In shop 1 - BO, in product test, add impact on weight for a combination (0.9)
- In shop 2 - BO, in product test, add a different impact on weight for combinations (0.5)
- In shop 1 - FO, place an order of that product
- In shop 1 - BO, check the order, weight in displayed
- Sw

[2020-06-05 13:53] matks commented on #19590
The idea I have is to actually send a HTTP request to the webservice endpoint and see if it answers back.
If it answers back, status is considered VALID
If no answer or bad answer, status is considered NOT VALID and I display a link to Developer Documentation "troubleshooting webservice" section

So it's "enabled and it works" or "enabled but I cannot reach it"

[2020-06-05 13:54] ttoine opened #19603 "Wording issue in 1.7.6.5 (regression?)"
#### Describe the bug

I updated a shop In 1.7.6.5, and now, when I add a new product, the tag "Neuf" is added to the thumbnail. It should be "Nouveau", in French, like it was in 1.7.6.4 and previous versions

#### Expected behavior

In this case, in french, it should be "Nouveau", not "Neuf". The context is not good.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Add a new product

[2020-06-05 13:56] matks commented on #19603
Related to https://github.com/PrestaShop/PrestaShop/issues/17455

[2020-06-05 13:56] TaccCZ commented on #19533
Thank you,
**at 5 step: In shop 1 - BO, check the order, weight in displayed**
what weight is at order in BO? I have weight from shop 2, (in your case 0.5, but I should have 0.8.)

[2020-06-05 14:02] ttoine commented on #19603
fixed manually with the translation system
![Selection_819](https://user-images.githubusercontent.com/4619685/83884969-fdbfaa00-a745-11ea-9277-8aabc65f5ba6.png)

[2020-06-05 14:05] ttoine commented on #17455
On a shop in 1.7.6.4, in French, it was translated as "Nouveau". And now it is translated as "Neuf" in 1.7.6.5. So there might be a need to fix that also in versions before 1.7.8, at least in 1.7.7 it would be great.

[2020-06-05 14:08] PierreRambaud commented on #19481
Hi @ksaandev
Unfortunately, it's currently not possible, we use too many MySQL specific things (yes it's bad), but I totally agree that PgSQL is really awesome.
Maybe one day, but for now we are already too busy and have a lot of major projects in progress, and the work needed to make this happen is huge.

I'm closing it since it's not planned.

[2020-06-05 14:08] #19481 closed, assigned to nobody

[2020-06-05 14:08] florine2623 commented on #19584
Hi @LouiseBonnard 👋 ,
Can the menu on the left be translated via International > Translations ?

Thank you :)

[2020-06-05 14:08] PierreRambaud commented on #19481
Duplicate of #13512

[2020-06-05 14:11] LouiseBonnard commented on #19584
Hi there, this ticket is a duplicate of #9893 and will be fixed by #18082. I close this issue so that we can all focus on the original issue and the pull request linked to it, thanks!

[2020-06-05 14:11] #19584 closed, assigned to nobody

[2020-06-05 14:13] #18568 closed, assigned to atomiix, MatShir

[2020-06-05 14:13] imagicuus opened #19604 "in BO - "allow orders" option in Product Page should override option "hide unavailable attributes""
#### Describe the bug

When in the store settings you want to hide unavailable attributes but for some products you allow orders when they are out of stock there is some weird behaviour.

#### Expected behavior

In my opinion the "allow orders" product option should override the store option "hide unavailable attributes"

#### Steps to Reproduce

See video on Prestashop Demo site: https://drive.go

[2020-06-05 14:13] colinegin commented on #19590
How will you display it ? Like an error message ?
IMO it perfectly makes sense, we just need to decide how we should display it to make it clear for the user.

[2020-06-05 14:14] linuxatico opened #19605 "Very slow massive products delete"
#### Describe the bug
Deleting 4000+ products each with an average of 4-5 combinations without any image takes very long, ~ 15 s / product and 100% cpu usage till the end.

#### Expected behavior
To delete products with time consumption of lower order of magnitude: It's not the same, but for give an idea, doing the TRUNCATE commands via MySql for all the related tables is far more more more effici

[2020-06-05 14:20] florine2623 commented on #19557
Hi @manoaratefy ,

Have you followed this documentation ?
https://devdocs.prestashop.com/1.7/basics/keeping-up-to-date/upgrade/
If yes, could you tell me which steps are problematic ?
Or what steps I should follow, so I can try to reproduce your issue.

Thanks!

[2020-06-05 14:29] colinegin commented on #19590
ping @LouiseBonnard @Junebyun for the wording review.
ping @TristanLDD @prestascott for the webservice status block.

If this is ok for you, then you can go on @matks ;)

[2020-06-05 14:38] MatShir opened #19607 "The minimum quantity is not respected when I add a product"
Be aware of the EPIC - Errors when adding a product with minimum quantity in order page #19595

#### Describe the bug

When an edit the quantity of product with min quantity required then delete in the order and I add the product again, it does not throw an error.

#### Expected behavior

Display the error message: "Error! Minimum quantity of "X" must be added when I add the product again.

#### S

[2020-06-05 14:39] demperador opened #19608 "Trying to get property 'id' of non-object (/var/www/html/classes/CartRule.php, line 754)"
#### Describe the bug

I have a webservice from our ERP to Prestashop to update the order status and most of my orders are correctly updated but some of them in Prestashop is giving the following error:

Trying to get property 'id' of non-object (/var/www/html/classes/CartRule.php, line 754)

In fact, my orders do get updated but keeps sending my customers emails about their order status. I believ

[2020-06-05 14:46] florine2623 commented on #19292
You can regenerate your .htaccess by going to Traffic & SEO and saving the config (no need to change anything else)

[2020-06-05 14:47] florine2623 commented on #19603
Hi @ttoine ,
We manage to reproduce the issue, it is added to our debug roadmap.
Your ticket is a duplicate of #17455
So, I close it.

[2020-06-05 14:47] florine2623 commented on #19603
Duplicate of #17455

[2020-06-05 14:47] #19603 closed, assigned to nobody

[2020-06-05 14:57] florine2623 commented on #19605
Hi @linuxatico ,
Do you have a test module available so that I can test it on my end ?
Thanks!

[2020-06-05 15:03] florine2623 commented on #19608
Hi @demperador ,
What are the steps to reproduce your issue ?

Thanks!

[2020-06-05 15:09] manoaratefy commented on #19557
Hi,

Yes, I followed this documentation. The upgrade is blocked on the step "Database upgrade", when I run `php install/upgrade/upgrade.php` on the webserver.

However, if I choose to run the upgrade on the web browser (using `http://<shop_domain>/install/upgrade/upgrade.php`) the issue is not happening.

[2020-06-05 15:15] florine2623 commented on #19600
**In Shop 1 :**
In product page :
![Capture d’écran 2020-06-05 à 17 11 27](https://user-images.githubusercontent.com/16019289/83893157-e4236000-a74f-11ea-910c-39291ba99cf5.png)
On order page :
![Capture d’écran 2020-06-05 à 17 12 29](https://user-images.githubusercontent.com/16019289/83893177-e980aa80-a74f-11ea-916f-0d0a33550189.png)
On order detail :
![Capture d’écran 2020-06-05 à 17 11 22]

[2020-06-05 15:16] florine2623 commented on #19533
**In Shop 1 :**
In product page :
![Capture d’écran 2020-06-05 à 17 11 27](https://user-images.githubusercontent.com/16019289/83893157-e4236000-a74f-11ea-910c-39291ba99cf5.png)
On order page :
![Capture d’écran 2020-06-05 à 17 12 29](https://user-images.githubusercontent.com/16019289/83893177-e980aa80-a74f-11ea-916f-0d0a33550189.png)
On order detail :
![Capture d’écran 2020-06-05 à 17 11 22]

[2020-06-05 15:23] florine2623 commented on #19604
Hi @imagicuus ,
If I understand well, in your video example, you would like to be able to buy the white shirt in S because you allowed it on the product sheet ?

[2020-06-05 15:30] linuxatico commented on #19605
Hi @florine2623 ,
I'm sorry but I have a whole ad hoc project for inserting and deleting products and it will take lot of effort creating a test module: I know that it's not ideal, but I posted some crucial points of code, I hope you can find a way of testing this without problems, don't you have some test cases for inserting and deleting products?

[2020-06-05 15:33] MatShir opened #19609 "Discount total not display on tax excl order"
followed the steps and I see different behavior.

#### Describe the bug

When I create an order with a customer that displays the price as tax excluded and I add a discount of 10% on the total of the order, the discount total in summary disappears. The discount also does not update, the value displayed on the cart rule is incorrect.

#### Expected behavior
The discount should be updated when the p

[2020-06-05 15:33] florine2623 commented on #19600
Thanks for the details !

I think the issue is with your theme. I advise you to contact directly the developer of the theme.

In my shop, with theme classic, I have the right message :
When back order is allowed :
![Capture d’écran 2020-06-05 à 17 29 04](https://user-images.githubusercontent.com/16019289/83895098-86444780-a752-11ea-8dd2-1a74150093d6.png)
![Capture d’écran 2020-06-05 à 17 29 15

[2020-06-05 15:36] okom3pom commented on #19575
I use another captcha @ttoine said me to open an issue

I think we can close the issue if it's ok when module use the good way.

_Of course, should you decide to venture in that direction, that would be a business opportunity for you :)_

I am a merchand :)

[2020-06-05 15:45] florine2623 commented on #19574
@imagicuus
I did manage to reproduce your issue with a product with combination in a multistore in PS 1.7.6.5 and PS 1.7.7.0.

Steps to reproduce :
- Activate multistore, All Shops environment in BO
- Have Suppliers ready
- Go to Products list
- Try to duplicate a product with combinations -> OK
- Edit that product > in tab Option, choose a Supplier > Save
- Go back to your product list
- Duplicat

[2020-06-05 15:50] florine2623 commented on #19076
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-05 15:50] #19076 closed, assigned to nobody

[2020-06-05 15:51] florine2623 commented on #19162
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-05 15:51] #19162 closed, assigned to nobody

[2020-06-05 15:53] florine2623 commented on #18946
Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-05 15:53] #18946 closed, assigned to nobody

[2020-06-05 16:01] matthieu-rolland commented on #18810
I spent some time trying to "fix" this bug before realizing that there is no bug :D At least that's my conclusion, I might be wrong, but here is my cart summary:

<img width="375" alt="Capture d’écran 2020-06-05 à 17 54 27" src="https://user-images.githubusercontent.com/1784781/83897248-a32e4a00-a755-11ea-91d4-65db79b889fe.png">

The two 10% discounts are applied one after the other, as it shoul

[2020-06-05 16:07] sickboards commented on #19076
Sorry super busy here

Version 1.7.5.2, multi store
php 7.1

reproducing is simple just make an order check the stock, do a partial refund without stock update and see that the stock is updated.

[2020-06-05 16:07] matthieu-rolland commented on #18810
Damn I get it, it's the second cart rule's value that should be fixed, if I understand well ? I'm on it

[2020-06-05 16:07] MatShir commented on #19184
I create this issue to work on the @zuk3975  issue https://github.com/PrestaShop/PrestaShop/issues/19609. I do not seem to be the same bug.

[2020-06-05 16:22] loremipsum31 opened #19610 "Tinymce Visualblocks plugin in page CMS editor"
#### Is your feature request related to a problem?
As a webmaster managing the page CMS of an eshop, we need sometimes to write html (bootstrap layout) in the tinymce editor. But if a person doesnt see the blocks, when he select some text to correct it, he can break the html...

#### Describe the solution you'd like
In our case to help him we display the visualblocks, to show the separation beetwe

[2020-06-05 16:22] rdy4ever commented on #19578
You can disable cache from `app/config/parameters.php`
Set
`'ps_cache_enable' => 0`

[2020-06-05 16:23] TaccCZ commented on #19600
Hi, but problem is not in product detail. Problem is in category (product list)
look here: https://www.strojni-pily.eu/69-prislusenstvi-pro-pily-na-beton
![image](https://user-images.githubusercontent.com/37780517/83899770-47fe5680-a759-11ea-8895-ff5214ab7ef8.png)
product detail is OK: https://www.strojni-pily.eu/864-vodici-lista-na-retezy-force3-pro-pilu-agp-cs11.html.
![image](https://user-image

[2020-06-05 16:34] demperador commented on #19608
Hello,

Main problem is that it seems that Context::getContext()->currency->id in line 754 of CartRule.php inside _public function checkValidity_ is not getting what it is expected.

[2020-06-05 19:53] omar2886 opened #19611 "PS 1.7 email alerts when product available not working"
PS 1.7.6
PS-EMAILALERTS v2.1.1

Hi,
I have an issue with this module, it's not sending emails to customers when product becomes available.
I've checked table mailalert_customer_oos and it's well registering the emails, also checked /var/logs/prod.log and there are no errors. So I don't know what's happening, this module also deals with other email alerts to admin that are working fine.
I also have

[2020-06-05 20:18] imagicuus commented on #19604
@florine2623 that is correct

[2020-06-05 20:35] TaccCZ commented on #19600
I added video for develop web version:
https://www.loom.com/share/e31447b6e86b4221ad8e540746f0994a

[2020-06-05 21:40] shoppresta commented on #19596
Hi, I have disabled override in ftp but it doesn't work.
the same error log apache:
[Fri Jun 05 23:36:55.642293 2020] [fcgid:warn] [pid 28508] (104)Connection reset by peer: [client XX.XX.XX.XXX.:XXXXX] mod_fcgid: error reading data from FastCGI server, referer: https://www.XXXXXXX.XX/adminXXXXX/index.php?controller=AdminDashboard&token=XXXXXXXXXXXXXXXXXXXXXX
[Fri Jun 05 23:36:55.642483 2020] [cor

[2020-06-06 01:59] nitzibon commented on #19585
[image: image.png]
<http://www.php.net/>PHP Version 7.4.4

El vie., 5 de jun. de 2020 a la(s) 01:36, florine2623 (
notifications@github.com) escribió:

--
Nicia

[2020-06-06 05:55] 202-ecommerce commented on #19547
Edit > Add ReductionType in the same issue

[2020-06-06 07:31] 202-ecommerce opened #19612 "CategoryChoiceTreeType, ChoiceCategoriesTreeType ShopChoiceTreeType "required" attibute doesn't validate fields"
#### Describe the bug

When you use a Material Tree Type from PrestaShopBundle, you can set required to true.

You can see the red star at the right if the label, but you can validate. There is no HTML5 validation

![image](https://user-images.githubusercontent.com/4932192/83938823-f517b400-a7d7-11ea-9a67-6b3ac38a8bc3.png)

#### Expected behavior

Manage HTML5 validation.

#### Steps to Reproduce

[2020-06-06 08:25] clotaire202 commented on #19537
A first batch qualified is now available here. There is more things to be improved.

[2020-06-06 11:16] pks891618 opened #19613 "combination generator for 3 attributes having values count 11,28,12 giving time out error and website freezes"
**Describe the bug**

When we have 3 attributes having values count 11,28,12 then the Prestashop combination generator freezes
also it's giving the memory limit error. I have already increased the PHP memory limit to 5gb

**Prestashop version**
1.7.6.5

**Expected behavior**
for the particular product, it must list all combinations without any error.

**Steps to Reproduce**

1. Created 3 attribute

[2020-06-06 12:44] PululuK commented on #19613
This will interest you https://github.com/PrestaShop/PrestaShop/issues/19123

[2020-06-06 13:13] pks891618 commented on #19123
@PululuK  sorry but  i cant see the possible solution

[2020-06-06 13:18] PululuK commented on #19123
Precisely we are looking for the solution ... Do not hesitate to participate 😅

[2020-06-06 13:19] pks891618 commented on #19613
@PululuK  sorry but i can't see the solution for this

[2020-06-06 14:10] kerstar commented on #19479
Hi @florine2623

It is worth adding a feature that allows you to resend messages to people whose emails are defined in the ps_emailalerts module configuration.

You mentioned this function in the "ps_emailalerts" module settings.
Just how do you send a notification for a specific order instead of all orders?
There would have to be a field in which you must enter the id order number and then the "R

[2020-06-06 14:42] flyman30 opened #19614 "Suddenly customers can no longer register"
Prestashop 1.7.6.5

Hello, I was under Prestashop 17.6.4 brutally new customers could no longer register, I used the update in 1 click so I went to 17.6.5 and there everything worked for a few minutes then rebelote again the problem reappeared.
I say that I have not changed anything, no new modules nothing.

I went into debug mode and here is the error message

[PrestaShopException]
The length of

[2020-06-06 16:09] #19614 closed, assigned to nobody

[2020-06-06 19:19] rblaurin opened #19615 "[1.7.7-beta.1][1-click Upgrade] Error messages when gamification module is not installed"
#### Describe the bug

When upgrading to 1.7.7-beta.1, I get some error messages during the database upgrade process if I don't have the gamification (Merchant Expertise) module installed. This doesn't brake the upgrade, but I get error messages.

#### Expected behavior

Table PREFIX_condition is dropped when you uninstall the "Merchant Expertise" module. So I suppose this table should be upgraded

[2020-06-07 04:30] Tatyart31 opened #19616 "An exception has been thrown during the rendering of a template ("PrestaShopBundle\Twig\LayoutExtension cannot find the {$content} string in legacy layout template")."
Hello, after installing a template I got this error

prestashop version 1.7.6.4
template
TB_FASHION_SKY_128

####

in src/PrestaShopBundle/Resources/views/Admin/layout.html.twig (line 34)
    layoutHeaderToolbarBtn is defined ? layoutHeaderToolbarBtn : [],    layoutDisplayType is defined ? layoutDisplayType : '',    showContentHeader is defined ? showContentHeader : true,    headerTabContent is de

[2020-06-07 05:29] jenmobo commented on #13131
@ovallepa Pudiste solucionar el problema con el error me esta sucediendo lo mismo en este momento

[2020-06-07 07:44] Hlavtox commented on #19562
@florine2623 This is connected to my previous issue https://github.com/PrestaShop/PrestaShop/issues/15330

Maybe we can make an “non-vat-payer-shops EPIC” and merge all the issues there?

[2020-06-07 10:45] pks891618 commented on #18953
server setup and configuration  **ubuntu 18**
PrestaShop version (source)  ==> 1.7.5
debug mode report ===>  http://i.imgur.com/jF3qLhl.png
PHP error logs => there is no error
apache error log ==> no error
Javascript console log => no error
screenshots  ==> http://i.imgur.com/jF3qLhl.png

/products?display=full&output_format=JSON
Prestashop API not returning the total count of resources available

[2020-06-07 12:03] Pnowfr opened #19617 "Bug with with price slider and sorting by price"
#### Describe the bug

I have a bug with the price slider that does not appear, and sorting by price which displays no products.

#### Expected behavior

filter and sorting products by price

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to https://terredebaobab.com/4-boucles-d-oreilles?order=product.price.asc
here are 58 items, none displayed, and the price slider is not displa

[2020-06-07 16:05] augustu5 opened #19618 "Page speed optimization"
#### Describe the bug

I'm using PrestaShop 1.7 default theme.
I'm optimizing my site using Google Insights (chrome Lighthouse).
I'm stuck with the last two issues:
- Remove unused code (js)
- Remove unused CSS

Could you address these issues?
Any tips on how I could do it by myself?
For example, I tried to serve Bootstrap CSS from CDN and removed it from the build process. Assets build finished s

[2020-06-07 20:32] Souhaibbek opened #19619 "Bug on prestashop 1.7.6.5 cannot modify translations"
![4554](https://user-images.githubusercontent.com/44231763/83979448-38704080-a906-11ea-9b71-1365272c7ab1.PNG)

#### Describe the bug

I can't modify my translations

#### Expected behavior

any help please

[2020-06-08 04:58] juraj1000 commented on #19554
Yes, it is relevant only for one product

[2020-06-08 07:29] matks commented on #19616
Dear @Tatyart31,

thanks for your issue. Unfortunately, there is not enough information provided to reproduce it and work on it. You must follow the template to submit a complete bug report.

Moreover,
- your log message is too big for us to work with. I had to cut it
- if issue happens because of custom theme, you need to contact the theme developer as this is not code that belongs to PrestaShop

[2020-06-08 07:29] #19616 closed, assigned to nobody

[2020-06-08 07:40] florine2623 commented on #19072
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-08 07:40] #19072 closed, assigned to nobody

[2020-06-08 07:41] #19099 closed, assigned to nobody

[2020-06-08 07:41] florine2623 commented on #19120
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-08 07:41] #19120 closed, assigned to nobody

[2020-06-08 07:42] florine2623 commented on #19141
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-08 07:42] #19141 closed, assigned to nobody

[2020-06-08 07:42] florine2623 commented on #19149
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-08 07:42] #19149 closed, assigned to nobody

[2020-06-08 07:44] florine2623 commented on #19152
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-08 07:44] #19152 closed

[2020-06-08 07:45] florine2623 commented on #19167
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-08 07:45] #19167 closed, assigned to nobody

[2020-06-08 07:47] NeOMakinG commented on #19619
Hello @Souhaibbek,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
- host
- server setup and configuration
- PrestaShop version (source)
- debug mode report
- PHP error logs
- apache error log
- javascript console log
- screenshots
You don't know how to get this information? Please read the following article:
http://build.prestashop.

[2020-06-08 07:51] florine2623 commented on #19176
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-08 07:51] #19176 closed, assigned to nobody

[2020-06-08 07:53] florine2623 commented on #19352
Since we had no news from you, I'll close this ticket. Feel free to open another one if you can give specific details.

[2020-06-08 07:53] #19352 closed, assigned to nobody

[2020-06-08 07:57] NeOMakinG commented on #19618
Hello @krystian-3c
Unfortunately, we use bootstrap SCSS vars in order to build the assets :

![image](https://user-images.githubusercontent.com/14963751/84005606-ab60d200-a96d-11ea-9791-b18aa81391a9.png)

This means that using a CDN for bootstrap is more difficult, maybe you can try to use the CDN on these imports inside theme.scss of classic theme but I doubt this is possible, not sure! Otherwise

[2020-06-08 08:02] procent85 commented on #18956
Why it was closed since the problem was not resolved?

@Progi1984  @eternoendless

[2020-06-08 08:06] florine2623 commented on #19585
Please use PHP 7.2 for your version of PrestaShop.
I'll close this issue.

[2020-06-08 08:06] #19585 closed, assigned to nobody

[2020-06-08 08:11] Caleydon commented on #19149
Yes, all features are correct except for the last one. Multishop ID can't be added into numbering!

An example: I've got 3 eshops on 3 different domains and also I've got one physical store. All is one business subject. Every eshop and store has own document numbering. It's mean I have 4 different queues (sources) of invoices and their order and credit slips etc. Each document type should have uni

[2020-06-08 08:18] matks opened #19620 ""Unit price" ratio is saved instead of raw value"
#### Describe the bug

"Unit price" field in BO product page is wrong. I save a number, I refresh, another number is displayed (because of bad rounding). I save 900,00, I refresh and 900,025900 is displayed 😄

#### Expected behavior

I save 900.00, I refresh, unit price is still 900.00.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to Back-Office, open a product page
2. Click o

[2020-06-08 08:21] matks commented on #19620
<img width="1102" alt="Capture d’écran 2020-06-08 à 10 21 00" src="https://user-images.githubusercontent.com/3830050/84008223-cfbead80-a971-11ea-89c4-90e15c73cd5f.png">

[2020-06-08 08:31] colinegin commented on #18967
ping @MatShir what should be done with this issue ?

[2020-06-08 08:32] Caleydon opened #19621 "Customer group column/filter in list of customers"
#### Is your feature request related to a problem?

Feature Request: Please add “Customer group” column into customer list Back-office > Customers > Customers. Is quite important when merchant need see and filter customers by customer group.

![customer-group](https://user-images.githubusercontent.com/2806752/84009155-25e02080-a973-11ea-876a-332ab9a8aee4.png)

[2020-06-08 08:32] colinegin commented on #18966
ping @MatShir what should be done with this issue ?

[2020-06-08 08:34] NeOMakinG commented on #19617
Hello @Pnowfr,

I just tested it on 1.7.6.5 and it looks like it's working.

Also, I tested on your shop using chrome version 83.0.4103.61 (Official Build) and it looks like it's working, which browser are you using ? (See the screen)

![image](https://user-images.githubusercontent.com/14963751/84009429-87a08a80-a973-11ea-8d13-7bcf1b564fe8.png)

Thanks

[2020-06-08 08:40] NeOMakinG commented on #19610
Hello @loremipsum31, asking the team what they think about it and we'll depending on their thought put this as a ToDo !

@PrestaShop/prestashop-product-team wdyt ? Should we do it?

Thanks

[2020-06-08 08:54] matks commented on #19620
Simple php script to see what happens
[code]

[2020-06-08 09:00] juraj1000 commented on #19554
I found out how reproduce the error:
- create mandatory customization field "Pack" in Customization for the product
![image](https://user-images.githubusercontent.com/33311857/84010989-bddf0980-a975-11ea-86c0-2b31e3fa71a0.png)
- then delete this customization field from the product
=> and now it is not possible to add this product to the cart, it seems there is still check for mandatory field "Pac

[2020-06-08 09:01] juraj1000 commented on #19583
It' strange, now it works correctly, so I'm closing this issue

[2020-06-08 09:01] #19583 closed, assigned to nobody

[2020-06-08 09:05] florine2623 commented on #19608
If I cant reproduce your issue on my end, I cannot help you.
Please share the steps to reproduce your issue.

[2020-06-08 09:08] florine2623 commented on #19600
Thanks for the clarification. But as I said earlier, that issue has something to do with your theme. I advise you to contact directly the developer of the theme.

In classic theme provided by PrestaShop, in the categories, the stock label is not displayed.

I will close this issue since it is not a bug from PrestaShop itself.
Thanks!

[2020-06-08 09:08] #19600 closed, assigned to nobody

[2020-06-08 09:14] juraj1000 opened #19622 "Hidden information for Payment in BO"
Hello,
I use PS 1.7.6.5 and there can be hidden information in BO > Orders > Payments for Invoice number and the buttons Detail and ADD
![image](https://user-images.githubusercontent.com/33311857/84012504-f1bb2e80-a977-11ea-9d5f-8b51d86441e8.png)

You can reproduce it if you zoom the screen in your web browser:
- start BO > Orders > Order detail > Payments
- e.g. in Mozilla Firefox press "Ctrl +"

[2020-06-08 09:26] matks commented on #19620
# Possible solutions

## Hard BC break: store unit_price instead of unit_price_ratio

`$unit_price_ratio` is the data being stored in the database, and is rounded. This is what creates this strange behavior "I save field X, I refresh, X field has changed". It's because X is not saved directly into database, it is being converted into another number (the ratio) and this other number is the one bein

[2020-06-08 09:31] NeOMakinG commented on #19611
Hello @omar2886,

It looks like I've been able to reproduce it and I don't receive any email but I've the alerts on my customer dashboard of this module.

Thanks

[2020-06-08 09:37] matks commented on #18966
Fix it

We forgot about it, but I just assigned it to me and I will do it

[2020-06-08 09:37] matks commented on #18967
Fix it

We forgot about it, but I just assigned it to me and I will do it

[2020-06-08 10:39] juraj1000 opened #19623 "Incorrect text formatting for product with combinations"
Hello,
I use PS 1.7.6.5 and there is incorrect text format if there is a product with combinations and there is 2 or more attributes.
There is missing a blank space between the 1st and 2nd attribute. This text is used also in an invoice and some times it is confusing for an end user.

There is:
... t-shirt - Size : **S-** Color...
There should be:
... t-shirt - Size : **S -** Color...
![image](htt

[2020-06-08 11:20] dylanpaddeu opened #19624 "issue with product variation"
hello,
I'm on dedicate server + php7.3 + prestashop 1.7.6.5 + mariadb +nginx + wk gérer déclinaison.
when I click on BO product list on the the product with 22k variation i get 504 gateaway timeout  eror.
regard dylan

[2020-06-08 11:44] didi-2018 opened #19625 "change tax rate and keep the sale-price incl. tax"
Hi,

this is a feature request:

We have in germany the problem that we have a reduced tax rate from 19 to 16 percent from 01.07.20 to 31.12.20. If I now change the tax in prestashop from 19% to 16% the shop pulls down the tax from the price incl. tax an adds the new tax 16% on the price without tax. At the end I will have new sale-prices calculated from the price without tax.

So we need a featur

[2020-06-08 11:50] florine2623 commented on #19479
Hi @PrestaShop/prestashop-product-team ,

The user would like to see 2 new feature in the module ps_emailalerts :

"As a merchant, I would like to be able to use module ps_emailalerts to resend emails as I wish.
There are 2 features that I would like to see :
1) Have a button "Resend email" in the "New order" section
2) Have a field where I can choose the exact order so that the email is sent agai

[2020-06-08 11:55] florine2623 commented on #19554
I can't reproduce your issue. Please check my screen record : https://drive.google.com/file/d/12rJW8N7A7XpBualXJt5-M2YZmuviPaoq/view

[2020-06-08 12:06] Pnowfr commented on #19617
Bonjour Valentin,

Je ne comprends pas, je suis sur Chrome aussi Version 83.0.4103.97 (Build officiel) (64 bits)
Et la glissière de prix ne s'affiche pas ( j'ai rien entre "Matière" et "Forme") :

![image](https://user-images.githubusercontent.com/60473985/84028207-fe03b380-a998-11ea-9c21-da45085a971d.png)

Et lorsque je tri par prix croissant ou décroissant, j'ai le nombre de produit mais ils ne

[2020-06-08 12:18] florine2623 commented on #19596
You need to contact your server and specify your error : Connection reset by peer: mod_fcgid

I'll close this issue since it is not a PrestaShop issue.

[2020-06-08 12:18] #19596 closed, assigned to nobody

[2020-06-08 12:21] NeOMakinG commented on #19612
Hey @202-ecommerce,

I manage to reproduce the issue with PrestaShop version 1.7.x.x and on the develop branch.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-06-08 12:25] Frankie-IT opened #19626 "Back Office issue with duplicate delivery Addresses on the order page"
#### Describe the bug

In the Back Office on the customer order page when I change the shipping address, this is always duplicated.

Then if I add a customer note in (OTHER), it is duplicated in the order screen.

#### Expected behavior

I wish there is not a duplicate of the shipping address with each modification of the same.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. Go to t

[2020-06-08 12:27] florine2623 commented on #19619
Hi @Souhaibbek ,
Please check your version of PHP and make sure it is compatible with your version of PrestaShop :
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/
Thanks

[2020-06-08 12:27] #19619 closed, assigned to nobody

[2020-06-08 12:49] Wiatrogon opened #19627 "services not available during module installation"
I'm not really sure if this is a bug or just omission in documentation.
I tried to create a module that installs a tab as shown in
https://devdocs.prestashop.com/1.7/modules/concepts/controllers/admin-controllers/tabs/#modern-controllers-and-manual-tab-insertion
Of course I thought "lets make a TabInstaller service" since I've heard that SOLID is a thing.
Shortly after I've had a `install()` metho

[2020-06-08 12:51] NeOMakinG commented on #19613
Hello @pks891618,

As @PululuK said, it's already being discussed there https://github.com/PrestaShop/PrestaShop/issues/19123 for the next version but I tested it and I managed to reproduce it :

![image](https://user-images.githubusercontent.com/14963751/84032320-6f426700-a997-11ea-9890-61721ee762d9.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your

[2020-06-08 13:23] florine2623 commented on #19624
Hi @dylanpaddeu ,
PrestaShop 1.7.6.5 is compatible with PHP 7.2 max.
https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/

Error 504 is a server error, not an error with PrestaShop itself, so I'll close this issue.
Thanks!

[2020-06-08 13:23] #19624 closed, assigned to nobody

[2020-06-08 13:31] florine2623 commented on #19622
Hi @juraj1000 ,
This issue is fixed in PS 1.7.7.0 beta. When the release version is out, you can upgrade it :)
I'll close this issue.

[2020-06-08 13:31] #19622 closed, assigned to nobody

[2020-06-08 13:33] NeOMakinG commented on #19557
Hello @manoaratefy ,

I managed to reproduce it :

![image](https://user-images.githubusercontent.com/14963751/84036312-5a68d200-a99d-11ea-8304-0cfe9f1574f3.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

Thanks!

[2020-06-08 13:35] florine2623 commented on #19621
Hi @Caleydon ,
Thanks for the recommandation, I will ping our product team so they can make the decision !
Please stay tuned!

[2020-06-08 13:36] florine2623 commented on #19621
Hi @PrestaShop/prestashop-product-team ,
What do you thing about the improvement idea of adding a new filter in Customer page in BO ?
Thanks!

[2020-06-08 13:37] SD1982 commented on #17812
LGTM the tooltip is correctly added Thanks @patrickmyh

[2020-06-08 13:38] #17812 closed, assigned to nobody

[2020-06-08 13:46] #18115 closed, assigned to matks

[2020-06-08 13:51] florine2623 commented on #19623
Hi @PrestaShop/prestashop-product-team ,
Can we implement adding a space between the combinations of product ?

It occurs at a few different places :
Recap of order FO :
![Capture d’écran 2020-06-08 à 15 42 31](https://user-images.githubusercontent.com/16019289/84038061-b16fa680-a99f-11ea-8cc4-922cf4e374b5.png)

Invoice PDF :
![Capture d’écran 2020-06-08 à 15 43 55](https://user-images.githubu

[2020-06-08 13:55] LouiseBonnard commented on #19623
Sure, I just ping the @PrestaShop/prestashop-designers so that they can know about it but there should definitely be a space between the attributes. :-)

[2020-06-08 14:00] jolelievre commented on #19605
Hi @linuxatico

I agree that using truncate on the table directly is more efficient, however I'm not sure we can do it that easily, because using `Product::delete` (or any delete on an Object model) manages more that just removing the table row There are hooks that are called (so that module can removed related data if needed) it also needs to remove and the relation with categories, suppliers, ..

[2020-06-08 14:04] juraj1000 commented on #19554
Could you please try to reproduce it again:
- use product with combinations (see above)
- don't use stocks

[2020-06-08 14:09] NeOMakinG commented on #19605
I’ll add this to the debug roadmap so that the team will work on optimize it

Thanks!

[2020-06-08 14:11] LouiseBonnard opened #19628 "Update the German tax rates"
#### Is your feature request related to a problem?

Following this [announcement](https://www.lepoint.fr/monde/allemagne-un-plan-de-relance-de-l-economie-de-130-milliards-d-euros-devoile-04-06-2020-2378416_24.php) (🇫🇷), Germany will temporary lower its tax rates until the end of the year.

VAT rates will be reduced from 19% to 16% and from 7% to 5%. Since it is not handled dynamically in the softw

[2020-06-08 14:18] florine2623 commented on #19623
Hi @LouiseBonnard thanks for the response, but it was actually a duplicate. It is fixed in https://github.com/PrestaShop/PrestaShop/issues/17309.

Thanks @marionf for letting me know !

@juraj1000 , this issue will be fixed in PS 1.7.8.

[2020-06-08 14:18] florine2623 commented on #19623
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/17309

[2020-06-08 14:18] #19623 closed, assigned to nobody

[2020-06-08 14:22] jf-viguier commented on #15491
There is this issue too https://github.com/PrestaShop/PrestaShop/issues/11115

[2020-06-08 14:26] #18732 closed, assigned to nobody

[2020-06-08 14:26] #17871 closed, assigned to Progi1984

[2020-06-08 14:27] florine2623 commented on #19625
Hi @didi-2018 ,
Thanks for the recommandation, we have an open issue regarding that. You can follow it here : https://github.com/PrestaShop/PrestaShop/issues/19628

I'll close this issue as it is a duplicate !

[2020-06-08 14:27] florine2623 commented on #19625
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/19628

[2020-06-08 14:27] #19625 closed, assigned to nobody

[2020-06-08 14:32] florine2623 commented on #19615
Hi @rblaurin ,
First of all, keep in mind that PS 1.7.7.0 is a beta version and should not be used in production.

I will try to reproduce your issue. Could you tell me which version of PS are you starting from ?

[2020-06-08 14:33] sowbiba commented on #18695
https://drive.google.com/file/d/1ABR8NiFIwC7ae10OGaslrolxNEZIJdhn/view

The alert is correct for me. Maybe fixed by another PR

[2020-06-08 14:42] rblaurin commented on #19615
Yes, don't worry, I know it is a beta version. I am just testing and trying to help.
I started from 1.7.6.2, but I think you can reproduce it starting from any version.

[2020-06-08 14:47] jf-viguier commented on #15491
@marionf @colinegin what's your plan to solve order spliting issues ?
Removing the split or generate two differents order reference ?

[2020-06-08 15:08] sam-pires commented on #19029
[Link to specs](https://github.com/PrestaShop/prestashop-specs/blob/master/front-office/Product-images.md)

[2020-06-08 15:09] linuxatico commented on #19605
Hi @jolelievre ,
thanks for your time, I surely understand it may not be easily improvable but I think that there has to be a way of improving this behavior: doing the same things with a very low amount of products it's far very efficient (~ 0.3/s or less per product).
Here an improved list of info(s) that may be useful to you to understand the problem:

1. The site is not public yet, it's still u

[2020-06-08 15:11] NeOMakinG commented on #19613
We discussed with the team about it, and as it will be completely reworked on 1.7.8, this issue is considered as a duplicate of #19123, thanks for your time :)

[2020-06-08 15:11] #19613 closed, assigned to nobody

[2020-06-08 15:15] cdcvince commented on #15491
I don't think removing the split or generate multiple order references is the solution.
These are not big problems and should be fixed instead of changing the whole order split system, which is great.

[2020-06-08 15:21] Bekazede opened #19630 "Double payment on the order after order status "shipped""
#### Describe the bug

I have disabled billing on the site.
After the order status changed in "shipped", I have double payment in my order (screen 1) and a fake PDF bill...
I found a "solution", if i disable "Show delivery PDF." on the paramaters of the status "shipped" there is no problem anymore.

#### Steps to Reproduce

Steps to reproduce the behavior:

1. You need to have no facturation on th

[2020-06-08 15:39] florine2623 commented on #19554
I can't reproduce your issue. You can check my screen record here : https://drive.google.com/file/d/1p_rAQ6U271OoKIn8RWTvnMQhKOV4yBf-/view

If that is the only product that you can't add to cart, try to duplicate that product and add the duplicated product to the cart.

[2020-06-08 15:55] florine2623 commented on #19630
Hi @Bekazede ,
I could not reproduce your issue. Please check my screen record : https://drive.google.com/file/d/1fzo53mxuuRWKOIXJ8s5CcR6izckhmWoi/view

I try with 2 different payment methods (Check and wire payment) and it works correctly in both cases.

You are using another payment method, the problem might come from an override. Please check your overrides. You can also disable them to see if

[2020-06-08 16:07] sowbiba commented on #19607
I can't reproduice this issue

https://drive.google.com/file/d/1tyZpUyV7CV5zfbufow_r055bORr5vJNp/view

[2020-06-08 16:11] NeOMakinG commented on #19122
Hey @PrestaEdit .

Managed to reproduce it on develop also

![image](https://user-images.githubusercontent.com/14963751/84054289-79725e80-a9b3-11ea-84be-8ef57abeebd3.png)

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2020-06-08 16:14] florine2623 commented on #19626
Hi @Frankie-IT ,
I'm using PS 1.7.6.5 and couldn't reproduce your issue. Please check my screen record here : https://drive.google.com/file/d/1eX9zU3DvZpp-CdZiw7QIf52TtkkP4DYg/view
I stopped at step 3.

Do you use any module that has an override on that page ?
Please check and let me know!

[2020-06-08 16:26] NeOMakinG commented on #19617
I just tested it again, take look at this screen, you can see the url and also the slider and filter on :(

I just tested it on firefox too, and on PS 1.7.6.5, everything looks fine... This is so strange.

![image](https://user-images.githubusercontent.com/14963751/84055116-a8d59b00-a9b4-11ea-9fb7-15ebf98aab40.png)

By the way, without any filter, it looks like there are only 47 products, can you

[2020-06-08 16:28] florine2623 commented on #19604
In your video, these 2 options are mentioned :
In Shop Parameters > Product Settings :
1) Display unavailable product attributes on the product page -> **NO**
2) Allow ordering of out-of-stock products -> **YES**

Just to be sure, you would want to have the second option overriding the first one ?

[2020-06-08 16:31] imagicuus commented on #19604
Yes indeed, because right now it's not hiding properly and you also can't order the option. So even if people would prefer the override the other way around there is still a bug going on.

[2020-06-08 16:34] cadonovan opened #19632 "Dashboard item - "Net Profit" is wrongly calculated and wrongly named."
#### Describe the bug

In the admin dashboard area, PrestaShop wrongly calculates the Net Profit. If you click on the settings cog above the net profit box and scroll down you can see the field to enter the "average gross margin percentage". The numerical value added to the "Average gross margin percentage" field is correctly described in the notes below the input box but the calculation is wrongl

[2020-06-08 16:38] LouiseBonnard commented on #19628
@didi-2018, I've just created a pull request to have it fixed in the next 1.7.7 minor version. You can follow this issue to know when those new tax rates will be available in PrestaShop. :-)

[2020-06-08 16:45] ovallepa commented on #13131
El problema se resolvió actualizando a 1.7.6.0

[2020-06-08 17:13] aecarlosae opened #19633 "Make PrestaShop support varnish out-of-the-box"
#### Describe the bug

Hello guy!
I have a server with **Varnish service** enable. After successfully login to the Backoffice (BO), if I click or try to run a BO function (e.i Create a product, edit a customer...), I get automatically log out.

I thought it was a IP changing issue and tried to disable "Check the cookie's IP address" but the problem was not fixed.

After some hours trying to find a

[2020-06-08 17:34] Hlavtox commented on #19593
@florine2623 Free gifts do not display correctly for more than 3 years. https://github.com/PrestaShop/PrestaShop/issues/9757

Maybeeeeee it can be finally fixed? 🙏 @matks

[2020-06-08 17:42] Hlavtox opened #19634 "European VAT module bug list"
Hi, it would be very useful to give some love to vatnumber module. It's a necessity for european merchants.

#### Validation service availability

If you enable VAT number validation via VIES and the service is not available, you are unable to save an adress or finish the order in case of OPC checkouts.

Fallback should be implemented and the VAT number accepted, if the service could not be contac

[2020-06-08 17:45] Hlavtox commented on #19558
@LouiseBonnard This is not "Vote for it", this is a legal requirement not to display anything about VAT anywhere, if you are not VAT payer.

- No tax rate
- No tax incl./tax excl.
- No VAT number in your information in the invoice header.
- (optional) A statement that you are not a VAT payer.

[2020-06-08 17:48] Hlavtox commented on #19110
@CIMEOS You need to use https://github.com/PrestaShop/vatnumber in order to display taxes correctly for foreign business customers. You set your "home" country and it will automatically set tax rate to 0 if a foreign customer fills the VAT number.

Has some bugs https://github.com/PrestaShop/PrestaShop/issues/19634, but works.

[2020-06-08 17:48] HartLarsson commented on #19508
i will take alook to see if i can fix

[2020-06-08 18:18] Pnowfr commented on #19617
Thank you,

Currently on Home page (Accueil) there are 56 products : https://terredebaobab.com/2-Accueil
(there were 67 of them, it's an operating site launched 2 days ago)

On "Boucle d'oreilles" page 46 products : https://terredebaobab.com/4-boucles-d-oreilles

I still don't have the price slider :

![image](https://user-images.githubusercontent.com/60473985/84064698-bea28a80-a9cb-11ea-9d7f-be7b

[2020-06-08 18:24] Caleydon commented on #19621
Of course customer can be assigned into multiple groups. But the column could display default customers group.

[2020-06-08 19:29] molszews opened #19635 "Currency exchange rate feed url in 1.7.7.x"
#### Describe the bug

In 1.7.7.x `src/Core/Currency/ExchangeRateProvider.php` was introduced with hardcoded currency feed url: https://github.com/PrestaShop/PrestaShop/blob/1.7.7.x/src/Core/Currency/ExchangeRateProvider.php#L48
As this is not part of the config (`defines_uri.inc.php`) anymore, I'm afraid about making further updates of the online shop - they may break the compatibility and existi

[2020-06-08 20:29] juraj1000 opened #19636 "Configuration for text for product with combinations"
Hello,
I use PS 1.7.6.5 with products with combinations. There is also used the character dash "-" in values for attributes. If there are more attributes the PS uses dash as a separator in text item in an invoice.
It is confusing for a business user because he doesn't know what is separator and what is the attribute.

I propose to create a possibility for configuration of such text item.

_Current

[2020-06-08 21:34] juraj1000 opened #19637 "Incorrect modern email template for new order"
Hello,
I use PS 1.7.6.5 with modern email theme. But if a business user place an order and the PS sends the  email "New order" then there is used old classic template. There should be modern template.
![image](https://user-images.githubusercontent.com/33311857/84082596-688c1200-a9e0-11ea-8e69-413651e8b53d.png)

[2020-06-08 21:35] juraj1000 commented on #19554
I duplicated the product and there is exactly the same issue, it is not possible to add it to the cart

[2020-06-08 22:38] bmihm opened #19638 "installing prestashop 1.7.8.0"
I install the shop with composer and all work ok.
when I try to open the admin shop there is strange look like css is not loaded.
i verify the css tag with chrome and the css link is not there.

I use xampp and windows 10 and I have around 10 shops installed on my computer that are all working.

I want to install a new one in a new folder and is not working,

#### Describe the bug

A clear and con

[2020-06-09 06:00] juraj1000 opened #19639 "Missing carrier in Carrier restrictions in BO"
Hello,
I use 2 shipping carriers with the same name. The reason is there are different upper limits for Europe and non-Europe countries when out-of-range behavior disables the carrier. But in BO > Payment > Preferences > Carrier restrictions is displayed only one shipping carrier. There should be displayed both. But if there were displayed the same name it wouldn't be possible to identify them. Th

[2020-06-09 06:49] #11334 closed, assigned to nobody

[2020-06-09 06:56] sarahdib commented on #19627
Hello,

Please be aware that this bug tracker should be used to report issues only.
If you need help, you can ask on the :
- Forum (https://www.prestashop.com/forums/)
- Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop)

You can also join slack in order to discuss with developer https://github.com/PrestaShop/open-source/blob/master/slack/readme.md

Thanks for your understandin

[2020-06-09 06:57] stijnvergote opened #19640 "Overriding/extending ProductLazyArray"
Hello,

I have a question regarding the ProductLazyArray class (namespace PrestaShop\PrestaShop\Adapter\Presenter\Product).

I would like to change the rounding for the $presAbsoluteReduction from 2 decimals to 0 in the 'addPriceInformation' method. This is a very small change but I do not want to add this adjustment in the core files. So I'm looking for a way to override or extend this functional

[2020-06-09 07:18] Progi1984 commented on #18956
@procent85 As I said :

[2020-06-09 07:26] procent85 commented on #18956
@Progi1984
Wait... what does version 1.7.7.0 have in common with the problem described by OP, which has a problem with version version 1.7.6.4? Nothing.
Your answer is totally pointless and did not help in any way to solve the problem

[2020-06-09 07:26] sarahdib commented on #19627
@PrestaShop/prestashop-core-developers Could you check ?

[2020-06-09 07:30] matks commented on #19640
We've recently added a hook into ProductPresenter, I think it will do the job ?
https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/Presenter/Product/ProductPresenter.php#L95

[2020-06-09 07:30] matks commented on #19640
(see https://devdocs.prestashop.com/1.7/modules/concepts/hooks/ if you are not familiar with hooks)

[2020-06-09 07:35] Frankie-IT commented on #19626
Hi @florine2623 ,
the modules currently connected to the PS order page are Paypal and Gest Pay for payments.

Two months ago I uninstalled a module called Packlink Sipping that automatically managed the status of orders via API, that is, it changed the status automatically from Shipped, In transit and Delivered. Unfortunately I uninstalled it because it didn't work perfectly.

So I currently use t

[2020-06-09 07:35] Pnowfr commented on #19617
Hi,

I noticed something else strange, if I activate the weight slider in the module faceted search it will appear! But te price slider not :
![image](https://user-images.githubusercontent.com/60473985/84119209-b898c200-aa3c-11ea-8a52-813827fda03e.png)

![image](https://user-images.githubusercontent.com/60473985/84119281-cf3f1900-aa3c-11ea-8e3f-724d6ebcd906.png)

Any idea ?

[2020-06-09 08:03] lisapowerlifts opened #19641 "Prestashop falsely sends "Item out of stock" mails to customers"
I'm using Prestashop with the Braintree Module. After a Payment is authorized by the customer it takes approx. 2 hours to be completed and the Prestashop order status changes from blue to green. We had the following situation:

1.) Product got sold out (5 orders, 5 products in stock). All 5 orders still payment processing via Paypal (using Braintree Module).
2.) Product in store marked as sold out

[2020-06-09 08:03] marionf commented on #19613
Duplicate of #19123

[2020-06-09 08:05] marionf commented on #19122
@NeOMakinG could you please add the label "bug" or "improvement" ?
And the severity if it's a bug ?

[2020-06-09 08:06] marionf commented on #19557
@NeOMakinG could you please add the label "bug" if it's one ?

[2020-06-09 08:06] marionf commented on #19611
@NeOMakinG it's a regression of which version ?

[2020-06-09 08:10] sarahdib commented on #19632
Hello @cadonovan

I didn't reproduce this issue
<img width="1280" alt="Capture d’écran 2020-06-09 à 10 07 39" src="https://user-images.githubusercontent.com/3034677/84122705-280cb280-aa39-11ea-960e-3a83156831e1.png">
What is the configuration of the commission ? If it's not 0 it's the normal result.

Thank you

[2020-06-09 08:14] sarahdib commented on #19633
@PrestaShop/prestashop-core-developers Could you check this issue ?

[2020-06-09 08:19] matks commented on #18956
I am locking this conversation because I can see some heated comments very harsh and that do not comply with our [Code of Conduct](https://github.com/PrestaShop/PrestaShop/blob/develop/CODE_OF_CONDUCT.md).

To sum it up:
- this bug will not be fixed on Prestashop 1.7.6
- Order list has been re-built from scratch in incoming version PrestaShop 1.7.7 and it seems bug is gone without implementation ;

[2020-06-09 08:28] HartLarsson opened #19642 "IT Standard Rates missing UK and Croatia"
#### Describe the bug

Because UK and Croatia are in Europe, the IT Standard Rate (22%) for example must contain also UK and Croatia but by default these countries are not preset,

#### Expected behavior

Because UK and Croatia are in Europe if a customer purchase something from Italy without VAT the Tax must be applicated.

#### Steps to Reproduce

Simulate any purchase from UK or Croatia and you