[2019-12-16 13:52] mariem-abid commented on #16816
Hi @Noido,

I did not manage to reproduce the issue with PS:1.7.6.2.
I attached a video record.
https://drive.google.com/file/d/1k24ap2SaacRjQH3IJYfiSKfMLX6ACMe3/view

Thanks to check and feedback.

[2019-12-16 15:17] Noido commented on #16816
Hi @mariem-abid it s with navigator back button see my picture attached , i put yellow on it

![image](https://user-images.githubusercontent.com/5593403/70918566-896e3e80-201f-11ea-8349-c2cb757335b6.png)

Thanks

[2019-12-16 15:23] mariem-abid commented on #16827
Hi @Mduclain,

I did not manage to reproduce the issue with PS:1.7.6.2.
I attached a video record.
https://drive.google.com/file/d/1mSaB8oEd6_uQoACyUO8VHzbeO2jx85LU/view

Thanks for check and feedback.

[2019-12-16 15:26] mariem-abid commented on #16811
Hi @cesarfierro,

Are you using the template by default of Prestashop?

Thanks!

[2019-12-16 15:33] mariem-abid commented on #16810
Hi @lordchukz,

Could you please follow this documentation: http://doc.prestashop.com/display/PS17/Managing+Multiple+Shops

Thanks for check and feedback.

[2019-12-16 15:52] mariem-abid commented on #16804
@antho-girard, waiting for your feedback.

[2019-12-16 15:56] mariem-abid commented on #16829
Hi @maofree,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

[2019-12-16 16:14] mariem-abid commented on #16816
@Noido, I manage to reproduce the issue with PS:1.7.6.1 and PS:1.7.6.2.
I attached a video record.
https://drive.google.com/file/d/1HiBva_GO0O0opOUxHrfbT6wfS1VrHOvK/view

I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-12-16 16:28] smag-dev opened #16832 "Total order price error"
when adding a product to the cart with price XX.05 € and adding a discount voucher of 10%, the total price of the order is wrong

Steps to reproduce the behavior:
1. Prestashop clean installation
2. Create a discount voucher on total order with 10% off
3. add to cart product Mountain fox cushion (reference: demo_15)
4. Click on cart to view products
5.Add discount voucher and see total order price

[2019-12-16 16:47] rss9090 commented on #16808
@khouloudbelguith

I think yes.

[2019-12-16 17:06] LouiseBonnard opened #16833 "Switch zone for Bosnia and Herzegovina, Liechtenstein, and Ukraine"
**Is your feature request related to a problem? Please describe:**
It is not a bug, but a default parameter to update.

**Describe the solution you'd like:**
In International > Locations > Countries, Bosnia and Herzegovina, Liechtenstein, and Ukraine are currently part of Europe (UE) zone, yet it should be classified in Europe (non-EU) zone since those three countries are not part of the UE. By de

[2019-12-16 17:14] kenlog commented on #16812
Hi @khouloudbelguith it's probably caused by the php version, thanks :wink:

[2019-12-16 17:14] #16812 closed, assigned to nobody

[2019-12-16 17:24] LouiseBonnard commented on #16336
@colinegin, I'm doing some research about it, I'll keep you posted. ;-)

[2019-12-16 17:31] ibrahimfsasmaz commented on #16795
still could not fix it. I tried manual upgrade to fix but as it is already latest version, I have taken error 28.
so I have no idea for the moment how to fix it...
I need help pls

[2019-12-16 17:51] antho-girard commented on #16804
Hi @mariem-abid @khouloudbelguith

Actually, with a fresh install and without the demo data we cannot share orders and customers for the default group.

![image](https://user-images.githubusercontent.com/2207308/70929259-fb03b800-2032-11ea-8908-7e5df5987705.png)

There's no John Doe anymore but we still have the GDPR customer.
After deleting customers using pscleaner, we can indeed share orders an

[2019-12-17 07:30] golden1688 opened #16835 "Question: The product payment selection causes the price to increase. The price of the product is automatically modified directly. The background price is also automatically changed. For the first feedback, I do n’t know if the release method is wrong. Please inform me if there is something wrong! Thank you!"
**Describe the bug**
A clear and concise description of what the bug is.

Question: The product payment selection causes the price to increase. The price of the product is automatically modified directly. The background price is also automatically changed. How to do?

For the first feedback, I do n’t know if the release method is wrong. Please inform me if there is something wrong! Thank you!

**T

[2019-12-17 07:31] khouloudbelguith commented on #16442
Hi @SnefIT,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-17 07:31] #16442 closed, assigned to nobody

[2019-12-17 07:33] khouloudbelguith commented on #16812
@kenlog, thanks for your feedback.
Feel free to open a new one when needed.

[2019-12-17 07:58] khouloudbelguith commented on #16832
Hi @aguia10,

Thanks for your report.
What is the exact error with the order price?
![image](https://user-images.githubusercontent.com/16067358/70974818-fda0f480-20a8-11ea-9c67-d83deb8afcfb.png)
Total products =23.25 Tax included
Discount= 10%
Total = Total products - discounts = 23.25 -10% = 20.925 => after rounding => 20.93
Discount = 23.25 - (23.25-10%)  = 23.25-20.925 = 2.325 =>after rounding

[2019-12-17 08:13] khouloudbelguith commented on #16835
Hi @golden1688,

Thanks for your report.
Did you make any changes to the Core of PrestaShop?
Those products are created manually? or imported via csv file?
In the BO => Shop Parameters => Product Settings page => "Quantity discounts based on " => `Products` or `Combinations`?
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to ge

[2019-12-17 08:24] khouloudbelguith commented on #16804
@antho-girard, thanks a lot for your feedback.

If you have already registered customers & orders, it will be not possible to enable those options, this is impossible, you just have already data saved, it is not safety that's why it will be disabled.

Also, you will not be able to disable those options "Share customers" & "Share orders
" once you have registered customers & you accepted orders als

[2019-12-17 08:26] golden1688 commented on #16835
Hello there!
Great technical support:
Make it easier for you to check and find out the problem. How do I send you an account password? Thank you!
                                                             Your loyal customer golden1688

[2019-12-17 08:30] khouloudbelguith commented on #16795
Hi @ibrahimfsasmaz,

Sorry for the late response.
Could you please try to uninstall the `ps_facetedsearch` module with removing the folder.
You need to clear the cache manually by deleting all the folders into var/cache (prod & dev).
Now, try to navigate to the BO => Module Catalog => Search for the module & install it.
About the second exception: `Declaration of HTML`, thanks to provide the whole

[2019-12-17 08:30] khouloudbelguith commented on #16808
@rss9090,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #12168
So, I close it.
Thanks!

[2019-12-17 08:30] #16808 closed, assigned to nobody

[2019-12-17 08:31] khouloudbelguith commented on #16808
Duplicate of #12168

[2019-12-17 08:53] khouloudbelguith commented on #16816
Same issue with PS1.7.5.2
https://drive.google.com/file/d/107gcnZIWhjbpdE4QShEcDOlGAJWyJy5S/view
Thanks!

[2019-12-17 08:55] khouloudbelguith commented on #16816
Hi @Noido,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/14821
So, I close it.
Thanks!

[2019-12-17 08:55] #16816 closed, assigned to nobody

[2019-12-17 08:56] khouloudbelguith commented on #16816
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/14821

[2019-12-17 09:30] khouloudbelguith commented on #16774
@TaccCZ,
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-12-17 09:52] khouloudbelguith commented on #16829
Hi @maofree, thanks for your report.

I manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.2.
In fact, this issue was fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/14945
It is merged, but this modification was removed again by this PR: https://github.com/PrestaShop/PrestaShop/pull/14719/files#diff-ad069b98e9b581f219f28732198910d1L253
So, it is a regression
![image](https://us

[2019-12-17 09:55] FuTuRNeT commented on #10161
Hi All,
The solution from julio899  Work for me also,
Many Thanks :)

Best Regards
Akram

[2019-12-17 09:57] khouloudbelguith commented on #16829
Ping @jolelievre

[2019-12-17 10:00] Mavoli commented on #16824
Any help?

[2019-12-17 10:07] khouloudbelguith commented on #16799
@kazzo,

Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2019-12-17 10:17] Hlavtox opened #16836 "Breadcrumb missing on my account page"
There is no breadcrumd in my account page on the front office.

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Original description :

If I make a PR fast, can we make it to 1.7.7?

**Missing breadcrumbs in these controllers**
bestsales
newproducts
pricesdrop
myaccount
password
Login page + registration

**Incompl

[2019-12-17 10:48] marionf commented on #16804
Thank you for this imporvement suggestion @antho-girard

We will have to study the feasibility

[2019-12-17 10:49] khouloudbelguith commented on #16797
@sam-pires, I will close this issue.

Thanks!

[2019-12-17 10:49] #16797 closed, assigned to nobody

[2019-12-17 10:50] khouloudbelguith commented on #16781
@ShaimyWinda, We need PHP error logs. If you don't have it, you should ask to your hosting provider.

Thanks!

[2019-12-17 10:52] khouloudbelguith commented on #16785
@dnatabar, great!
Ping @PrestaShop/prestashop-product-team what do you think of this improvement?
Can we add the `reference` to the `product` into the `product_bundle` section?

Thanks!

[2019-12-17 10:57] khouloudbelguith commented on #16529
@krystian-3c, did you use OS windows10? and you are using Ubuntu on Windows?

Thanks!

[2019-12-17 10:59] Prestaworks commented on #13689
This issue is still present in 1.7.6.2
However, it has been fixed on the development version, I just noticed when I tried to do a pull request myself.

https://github.com/PrestaShop/PrestaShop/commit/c4167c566b92d0a7480810d40378b41136949452#diff-bfb3a7df5a16cd6e301d95412ace4715

It was fixed in may? how come we still have this issue in the "stable" release? come on, that the data is stored with ba

[2019-12-17 11:02] khouloudbelguith commented on #16793
@faranm,

PrestaShop 1.6 is not compatible with PHP7.2, you can follow this [link](https://devdocs.prestashop.com/1.7/basics/installation/system-requirements/#php-compatibility-chart) for more details.

The BO is not accessible in your case? is it possible to try to import your language Danish from the BO?

Thanks!

[2019-12-17 11:02] khouloudbelguith commented on #16796
@CallejaMotos,
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-12-17 11:14] khouloudbelguith commented on #16836
Hi @Hlavtox,

Is it the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/15440?

Thanks!

[2019-12-17 11:45] golden1688 commented on #16835
Hello there!
1. The core files have not been modified since the program was installed.
Just buy and install the application module
2. The products are collected by AliExpress modules, and the module developers have ruled out their modules.
3. The product has no set combination

[2019-12-17 11:46] golden1688 commented on #16835
Hello there!
1. The core files have not been modified since the program was installed.
Just buy and install the application module
2. The products are collected by AliExpress modules, and the module developers have ruled out their modules.
3. The product has no set combinationGreat technical support:
Make it easier for you to check and find out the problem. How do I send you an account password? T

[2019-12-17 12:15] kenlog opened #16838 "Themes without memory"
**Is your feature request related to a problem? Please describe.**
When setting a new theme and then returning to the previous one, the positions of the modules and the modules that have been deactivated for the theme used are not recognized.

**Describe the solution you'd like**
I believe this can be solved by storing this preference in a dedicated table. In this way both the positions of the mod

[2019-12-17 12:44] josebrownie opened #16839 "Export Product List"
If you export a product list in .csv file (from settings>export) the column status is wrong because does not correspond from "active" column in DB. Sometimes indicates the product is disabled but is enabled.

[2019-12-17 12:51] khouloudbelguith commented on #16838
Hi @kenlog,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-12-17 12:57] khouloudbelguith commented on #16803
@antho-girard, thanks for your feedback.
I manage to reproduce the issue with PS1.7.6.2 & PS1.7.5.2
We should have Domain & SSL Domain different to reproduce the issue.
https://drive.google.com/file/d/14SQGNY_eYGvKsYSG5LI8zGaip3jbTYVP/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!

[2019-12-17 12:57] Hlavtox commented on #16836
@khouloudbelguith It's different. I made a PR. Breadcrumbs on listing pages have been already added by someone else.

[2019-12-17 13:07] Noido commented on #14821
No fix since 23 July ? @khouloudbelguith It s 4 month

[2019-12-17 13:12] khouloudbelguith commented on #14922
Hi @sam-pires,

I have the same issue with PS1.7.6.2 & PS1.7.5.2.
I’ll add this to the debug roadmap.
Thanks!

[2019-12-17 13:13] khouloudbelguith commented on #16839
Hi @josebrownie,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #14922
So, I close it.
Thanks!

[2019-12-17 13:13] khouloudbelguith commented on #16839
Duplicate of #14922

[2019-12-17 13:13] #16839 closed, assigned to nobody

[2019-12-17 13:15] khouloudbelguith commented on #16836
@Hlavtox, thanks!

[2019-12-17 13:17] Hlavtox opened #16840 "OrderDetail->product_quantity_in_stock is wrong"
**Describe the bug**
This commit screwed up the logic of computing items-in-stock quantity.
https://github.com/PrestaShop/PrestaShop/commit/64e6f9e1d4068bd1ebab78c089e08d16c928fcd9#diff-706c99b0aadf150c801cec8a83a90cc1

Wrong line (1.7.6.2):
`$product_quantity = (int)Product::getQuantity($this->product_id, $this->product_attribute_id, null, $cart);`

Correctly functioning (from 1.6.1.23):
`$produc

[2019-12-17 13:17] khouloudbelguith commented on #16835
@golden1688, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-12-17 13:18] josebrownie commented on #16839
Hi,

Sorry for the inconveniences.

Thanks for move it

Saludos,

José Cuadrado
Web Developer

t: +34 932 377 066
m: + 34 639 887 471
e: jose.cuadrado@browniespain.com

Brownie
Calle Neptuno 14
Barcelona (08006)

 <https://www.facebook.com/browniespain>   <https://www.twitter.com/browniespain>   <https://www.youtube.com/channel/UCnDt7Kjl2LsiMgPKF-trwzg>   <https://instagram.com/browniespain>

 <ht

[2019-12-17 13:31] dennispw commented on #16838
Related: https://github.com/PrestaShop/PrestaShop/issues/12933

[2019-12-17 14:06] danielducu opened #16841 "Products in orders disappear when catalog product is deleted"
Latest PS version and bellow: Products in orders disappear when catalog product is deleted. Product array in client order details is empty. File Orders.php > getCartProducts() $product['product_id'] comparision with $product['id_product'] which no longer exists.. comparision failing to empty array.

[2019-12-17 14:14] golden1688 commented on #16835
Hello there!
I have mailed you, please check the mail, thank you!

[2019-12-17 14:15] khouloudbelguith commented on #16840
Hi @Hlavtox,

Thanks for your report.

In my case with PS1.7.6.2 & PS1.7.5.2
1. quantity =1
2. physical_quantity = 0
3. reserved_quantity = 0
![image](https://user-images.githubusercontent.com/16067358/71001417-8c2f6900-20dd-11ea-9c7e-c5426fc804b6.png)

1. product_quantity =1
2. product_quantity_in_stock =0

Ping @PrestaShop/prestashop-core-developers what do you think, `product_quantity_in_stock`

[2019-12-17 14:26] khouloudbelguith commented on #16841
Hi @danielducu,

Could you please add steps to reproduce the issue in a new comment
I attached a screen record
https://drive.google.com/file/d/1wRTm_xhV8t821rxrwux0UnJxA5XuHnXl/view
Thanks to check & feedback.

[2019-12-17 14:36] khouloudbelguith commented on #16835
@golden1688, thanks!
I just received the email.
I will check & feedback.

[2019-12-17 14:36] danielducu commented on #16841
There you go : https://drive.google.com/file/d/1WHO7ejoHhFG-HXSfSwgkcV7Jn-ge6Jrm/view?usp=sharing

[2019-12-17 14:54] khouloudbelguith commented on #16835
@golden1688, when debug mode enabled, I did not find any exception.
The price is increasing when selecting any combination.
We need PHP error logs. If you don't have it, you should ask your hosting provider.

Thanks!

[2019-12-17 15:04] khouloudbelguith commented on #14821
Hi @Noido,

Sorry not yet.
There are some major issues to solve before this one.
But PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-12-17 15:09] golden1688 commented on #16835
Hello there! Great technical support:
I have already asked the server vendor to take a PHP error diary. If there is a reply, I will send it to you immediately. Thank you!
                             Yours faithful customers

[2019-12-17 15:17] khouloudbelguith commented on #16841
@danielducu, thanks for these clarifications.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.2.
In the FO => NOK
![image](https://user-images.githubusercontent.com/16067358/71008290-a7ec3c80-20e8-11ea-85c7-a43b46357726.png)
In the BO => OK
![image](https://user-images.githubusercontent.com/16067358/71008340-bcc8d000-20e8-11ea-94d3-35ad51fe92ab.png)
I’ll add this to the debug roadmap so t

[2019-12-17 15:19] khouloudbelguith commented on #16835
@golden1688, great!
Waiting for your feedback.

Thanks!

[2019-12-17 15:34] ShaimyWinda commented on #16781
@khouloudbelguith I know but the file is empty .. not error php ...

Thanks

[2019-12-17 15:39] khouloudbelguith commented on #13689
Hi @Prestaworks,

Yes, you are right.
This issue is fixed in the develop branch.
![image](https://user-images.githubusercontent.com/16067358/71010103-a4a68000-20eb-11ea-9afd-c96087af5bdb.png)
It is fixed in the next release ps1.7.7.
I will close the issue.

Thanks!

[2019-12-17 15:39] #13689 closed, assigned to nobody

[2019-12-17 15:44] khouloudbelguith commented on #16781
@ShaimyWinda, could you please provide me your exact server information.
You can find it in the BO => Advanced Parameters => Information page.

Thanks!

[2019-12-17 15:50] ShaimyWinda commented on #16781
@khouloudbelguith
Informations sur votre serveur Linux #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64

Version du logiciel serveur : Apache

Version de PHP : 7.1.33-2+0~20191128.28+debian9~1.gbpc60685

Limite de mémoire : 512M

Temps maximal d'exécution : 3600

Taille max. pour envoi de fichiers : 128M

[2019-12-17 15:55] marionf commented on #9855
Hello @fmipsylone

Thank you for your answer !

It seems we are not talking of the same thing
You are talking of the unit_price_to_pay_by_customer while I am talking of the amount owned by the seller (without taxes and without ecotax)

I am totally agree with you

Tell me if I am wrong but it seems that as a merchant you fill the product price tax excl **with the ecotax** (tax excl) **included**
A

[2019-12-17 15:56] LouiseBonnard commented on #16133
Hey @jannyba, I've referenced this issue so that it can be studied when the Contact > Stores page will be migrated - at best for version 1.7.8.

[2019-12-17 16:01] khouloudbelguith commented on #16781
@ShaimyWinda, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-12-17 16:13] #13555 closed, assigned to nobody

[2019-12-17 16:13] LouiseBonnard commented on #13555
FYI: #16435

[2019-12-17 16:19] Tehnikus commented on #9511
Also this bug is revealed when removing product from cart. Is there any workaround on this bug?

[2019-12-17 16:20] khouloudbelguith commented on #9511
Hi @Tehnikus,

Sorry not yet.

Thanks!

[2019-12-17 16:24] khouloudbelguith opened #16842 "FO - The promo value is not correct in the cart summary & checkout summary"
**Describe the bug**
The promo value is not correct in the cart summary & checkout summary

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the BO => Catalog => Discounts => Create a new cart rule
1.1 has no code
1.2 there is no condition
1.3 As an acrtion=> Apply a discount Percent = 100% => Apply a discount to:"Cheapest product"
![image](https://user-images.githubusercontent.com/16067

[2019-12-17 16:26] idnovate opened #16843 "Price returned when doing a search when show price is disabled"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Disable `Show prices` for a customer group
![image](https://user-images.githubusercontent.com/15104724/71014527-5a74cd00-20f2-11ea-8fd2-bba0c19e1077.png)

2. Prices are not displayed in the frontoffice
![image](https://user-images.githubusercontent.com/15104724/71014412-30

[2019-12-17 16:30] khouloudbelguith commented on #16781
@ShaimyWinda, as always, I have the combination is missing
![image](https://user-images.githubusercontent.com/16067358/71014713-ab84c100-20f2-11ea-808e-cfc10d7712e3.png)
PS: if I click on the preview button => OK
I will send the screen record by email.

Thanks!

[2019-12-17 16:37] khouloudbelguith commented on #16843
Hi @idnovate,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/13354
So, I close it.
Thanks!

[2019-12-17 16:37] #16843 closed, assigned to nobody

[2019-12-17 16:37] khouloudbelguith commented on #16843
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/13354

[2019-12-17 16:38] khouloudbelguith commented on #13354
Same with PS1.7.6.2

[2019-12-17 16:39] khouloudbelguith commented on #16824
Hi @Mavoli,

Thank you for your report.
We'll first try to reproduce it and we'll come back to you if we need more information.

Thanks!

[2019-12-17 17:12] ShaimyWinda commented on #16781
@khouloudbelguith Try other product. Same issus ...

Thanks

[2019-12-17 17:12] eternoendless commented on #16608
@prestascott @colinegin These cards are only used in the module & themes pages, I'm not sure that it's worth it putting them in the UI kit. Moreover these elements are going to be extracted from the core and handled by MBO only, which cannot use newer additions to the UI kit...

[2019-12-17 17:20] NeOMakinG commented on #16587
Everything should be done for now, we need to wait for the PRs to be merged before we check together everything is right or pixel perfect, and then I need to create a new PR about fixing stylelint errors before integrating it to a CI

[2019-12-17 17:35] LouiseBonnard commented on #16336
@eternoendless, I found a piece of explanation by digging into PrestaShop's GitHub history. It is a bit old but I cannot find a more recent one... all EU localization packs share the same tax rule on virtual products and it requires each tax rate to be gathered and marked with the `eu-tax-group="virtual"` mention. As far as I can see, it has always been coded like that. Unfortunately, I cannot fin

[2019-12-17 18:36] Noido commented on #14821
Tell me where i can check for resolve bug , give me direction what file can cause that, and i check if i found error

[2019-12-17 20:39] ibrahimfsasmaz commented on #16795
there is no "faceted search" under module catalog unfortunately.
pls find below the log file

[log.txt](https://github.com/PrestaShop/PrestaShop/files/3975357/log.txt)

[2019-12-17 21:22] kazzo commented on #16799
So, I did it earlier and no, no progress.
When friendly Url is Off the miniature images are displayed but related product name is still without its name - for example (ref:00267).

[2019-12-18 06:36] Micdales opened #16844 "Bug suppression option personnalisation et ajout au panier/ Bug deletion option customization and addition to the cart"
Bonjour,

Impossible d'ajouter le produit au panier

Le bug ce produit de la manière suivante :
1. ajouter un champ personnalisation avec l'option "requis" (enregistrer)
2. supprimer le champ personnalisation sans désactivé l'option "requis" (enregistrer)
3. impossible d'ajouter le produit au panier

Noter: Vider le cache ne suffit pas à résoudre le bug

Merci!

Hello,

Unable to add product to ca

[2019-12-18 07:51] imcoddy commented on #9817
Is this fixed in version 1.7.6.2? Anybody knows what's causing this problem?

[2019-12-18 07:54] khouloudbelguith commented on #16464
Hi @joesibarani,

Your issue is incomplete, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-18 07:54] #16464 closed, assigned to nobody

[2019-12-18 08:39] khouloudbelguith commented on #16844
Hi @Micdales,

Thanks for your report.

The deletion is from the Back office?
![image](https://user-images.githubusercontent.com/16067358/71070002-2cd36680-217a-11ea-896e-f1c7707e3bd2.png)

Thanks!

[2019-12-18 08:41] Mavoli commented on #16824
Edit :
I finally succeed to make it work. I was following the code shown here https://github.com/phalcon/incubator/tree/master/Library/Phalcon/Http/Client . But actually, the request' body was not expected to be pass in an array of parameters. Hence, the correction was simply to change:
[code]

For :

[code]

Thanks anyway khouloudbelguith for your reply

[2019-12-18 08:47] khouloudbelguith commented on #16799
@kazzo, in your BO => International => Translations => Update the Polish language, check & feedback.
![image](https://user-images.githubusercontent.com/16067358/71070583-5e98fd00-217b-11ea-91e2-053a08056b55.png)

Thanks!

[2019-12-18 09:01] golden1688 commented on #16835
Hello there!
Great technical support:
I enabled the PHP error journal according to the instructions of the server vendor. After several hours, no files were found. Do I need to wait? The account password of the server has been sent to you by email. You can log in, check and find the cause of the problem! Thank you!
                                                        Your loyal customers

Hello

[2019-12-18 09:09] khouloudbelguith commented on #16795
@ibrahimfsasmaz, the upgrade was done ok.

The upgrade of your modules was corrupted due to a cache issue.

Could you please try to uninstall the `blockreassurance` module with removing the folder, clear cache & try to install it again from the Module Catalog page.

You can find it in our GitHub repository
https://github.com/PrestaShop/ps_facetedsearch/releases
[ps_facetedsearch.zip](https://githu

[2019-12-18 09:11] khouloudbelguith commented on #16824
@Mavoli, thanks for your feedback.
Since it is fixed, I will close the issue, feel free to open a new one when needed.

Thanks!

[2019-12-18 09:11] #16824 closed, assigned to nobody

[2019-12-18 09:14] khouloudbelguith commented on #16835
@golden1688,  I did not find any exception in the FO.
Could you please provide me the log file, you can find it in this path `Project_PrestaShop_Folder/var/logs`.

Thanks!

[2019-12-18 09:15] jtraulle commented on #9859
Hello,

I can confirm this is still an issue on PrestaShop 1.7.6.2

[2019-12-18 09:16] khouloudbelguith commented on #9817
Hi @imcoddy,

Sorry, not fixed yet.
PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-12-18 09:19] ShaimyWinda commented on #16781
Hello @khouloudbelguith ,

I noticed something else, if I disable simplified url and change the product id, I don't have an error but the attribute id is no longer displayed

![Capture24](https://user-images.githubusercontent.com/25744417/71072989-d537f980-217f-11ea-8d2f-8d7e6231ab5b.JPG)

[2019-12-18 09:25] #16833 closed, assigned to sarahdib

[2019-12-18 09:35] ShaimyWinda commented on #16781
@khouloudbelguith I found the error, it comes from version 1.7.6.0

This is the canonicalRedirection() function in ProductController. If I put the code of version 1.7.4.2 everything works fine

[2019-12-18 09:36] khouloudbelguith commented on #16781
@ShaimyWinda, did you make an upgrade from PS1.7.4.2 previously?
Thanks!

[2019-12-18 09:39] khouloudbelguith commented on #9859
Hi @jtraulle,

This issue is not fixed yet.
It is added to our bug roadmap.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-12-18 09:39] ShaimyWinda commented on #16781
@khouloudbelguith , Yes I was in 1.7.4.2 and when we switched to version 1.7.6.0, it didn't work anymore. So I looked at the functions of the file and noticed this error

Thanks

[2019-12-18 09:41] ShaimyWinda commented on #16781
On the other hand, it redirects well but it's not the right attribute

[2019-12-18 09:42] khouloudbelguith commented on #14821
@Noido, thanks a lot!
If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-12-18 09:44] khouloudbelguith commented on #16781
@ShaimyWinda, did you used the 1-click upgrade? which version?
Have you any errors during the upgrade?

Thanks!

[2019-12-18 09:54] khouloudbelguith commented on #16735
@Hlavtox, this issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/16822

Thanks!

[2019-12-18 09:54] ShaimyWinda commented on #16781
@khouloudbelguith , it was an agency specialized in Prestashop that made the migration. I override the file and put in the modifications. I have no redirection error but the id of the attribute does not change. But if I change in the master file (so without override) everything works very well

[2019-12-18 09:57] khouloudbelguith commented on #16781
@ShaimyWinda, great to hear that is fixed.
As you didn't use a module provided by Prestashop, we can't do anything with this.
You should contact the agency, they are the only ones to help you with it.

PS: in my case, I did not manage to reproduce the issue => it is OK.
I will close the issue, feel free to open a new one when needed.
Thanks!

[2019-12-18 09:57] #16781 closed, assigned to nobody

[2019-12-18 10:14] khouloudbelguith commented on #16343
@Arnaldo405,

If you need help, you can ask on the Forum (https://www.prestashop.com/forums/) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks!

[2019-12-18 10:17] khouloudbelguith commented on #9866
Hi @cedricfontaine,

If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-12-18 10:38] colinegin commented on #16736
@khouloudbelguith do you know if this was working in previous versions of PrestaShop (ex: 1.7.5.2) ?

[2019-12-18 10:40] weddingtextile opened #16845 "1-Click Upgrade cannot update PrestaShop from 1.7.4.3 to 1.7.6.2"
**Describe the bug**
Error occurred:
[2019-12-17 06:48:51] [INTERNAL] /home/virtwww/w_wedding***/http/admin***/autoupgrade/latest/install/upgrade/php/ps_1760_copy_data_from_currency_to_currency_lang.php line 55 - Call to a member function get() on null

See the log files in attach.
[log.txt](https://github.com/PrestaShop/PrestaShop/files/3977908/log.txt)
[PHP_errors.log](https://github.com/PrestaS

[2019-12-18 10:41] Mduclain commented on #16827
Hi,

Thx for your reply.
I found it by myself, I just did it wrong during my first tries ... It works fine

[2019-12-18 10:44] khouloudbelguith commented on #16736
Hi @colinegin,

I tried with PS1.7.5.2 & it is OK
![image](https://user-images.githubusercontent.com/16067358/71079508-ad4e9300-218b-11ea-8fc4-45bab477d1b3.png)

I check with another Previous PrestaShop version like PS1.7.5.1?

Thanks!

[2019-12-18 10:47] khouloudbelguith commented on #16827
Hi @Mduclain,

Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-12-18 10:47] #16827 closed, assigned to nobody

[2019-12-18 10:47] Micdales commented on #16844
Hi @khouloudbelguith

Yes deletion from the back office.

Deletion when "required" disabled is ok.
Deletion when "required" is activated is not ok, bug add to cart.

Thanks!

[2019-12-18 10:49] colinegin commented on #16736
Ok thanks I just wanted to know if this was working in 1752 ! :)

[2019-12-18 10:54] khouloudbelguith commented on #16845
Hi @weddingtextile,

The 1-click upgrade is an old version, the latest version is 4.10.0.
Did you not upgrade your module before?

THanks!

[2019-12-18 10:54] alexandreb2w commented on #16826
Hello, I am the french agency :) If you need more information, I'm available. Your explanation is clear !

[2019-12-18 10:59] khouloudbelguith commented on #16844
@Micdales, I did not manage to reproduce the issue with PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/1fUiNPabIGFT6wq5ph-gj3-5hNRjQQsEK/view

Thanks to check & feedback.

[2019-12-18 11:08] lordchukz commented on #16810
Thank you @mariem-abid for your kind response.

I actually found and implemented a solution for shared customers.

Shared cart remains disabled as each store should have a separate order history.

I unfortunately still don't have a solution for "_the controller’s still include other products in them such as in the new product section, offers, best sales and also the producers appear in the sitemap

[2019-12-18 11:19] emeraldlab opened #16846 "Default Newsletter module sends email when customer is buying some product"
**Describe the bug**
The default module of the newsletter send emails when customers are buyng some product. I don't want this happens. It must send emails only if the customers decides to subscribe to the newsletter and not when is going to bui something.
At this link: http://helpme.emeraldlab.it/prestashop/bug-newsletter.mp4
you can see the bug

Is it a bug? How to fix it?

Thank you,
emeraldlab

[2019-12-18 11:25] golden1688 commented on #16835
Hello there!
Great technical support:
Okay, thank you!
I found that there are many files in it. Are they packaged and sent to you together? Or do you log in to choose?
Thank you!

                                                        Your loyal customer G

[2019-12-18 11:26] PrestaShark commented on #15106
I can't believe that nobody help with that trivial bacic and setup! Statisctics works only when correct status was set - and Invoice mark is set...

![mark](https://user-images.githubusercontent.com/8243273/71082484-78ddd580-2191-11ea-8bd7-9d8480e05580.png)

[2019-12-18 11:28] khouloudbelguith opened #16847 "If the shop name contains special chars => the email subject will be incorrect"
**Describe the bug**
If the shop name contains special chars => the email subject will be incorrect.
For example if the shop name is äöüß ) => subject email => `[&auml;&ouml;&uuml;&szlig;]`
https://github.com/PrestaShop/PrestaShop/pull/16500#commitcomment-36445923
Thanks @JBWModules

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Shop Parameters => Contact
2. change Shop name `äö

[2019-12-18 11:29] khouloudbelguith commented on #16847
Ping @PierreRambaud related to https://github.com/PrestaShop/PrestaShop/pull/16500

[2019-12-18 11:31] khouloudbelguith commented on #16835
@golden1688, you can provide me the zip folder.

Thanks!

[2019-12-18 11:32] colinegin commented on #16196
Hello @khouloudbelguith do you know if this is a regression from 175 ?

[2019-12-18 11:34] colinegin commented on #15463
@NeOMakinG is this something you would be able to do ?

[2019-12-18 11:35] weddingtextile commented on #16845
I had two attempts to update the system.
First time I previously updated 1-Click to 4.10.0, but error occurred:
...
All files upgraded. Now upgrading database...
[Ajax / Server Error for action upgradeDb] textStatus: "error " errorThrown:" " jqXHR: " "

I hate this error.
So I tried to update with 1-Click 4.4.0.

One more moment, the pre-upgrade checklist (**1-Click 4.10.0**) had the message that

[2019-12-18 11:37] colinegin commented on #13934
@jolelievre do you know if there is anything that should be done on our side or the CLDR should handle it ?

[2019-12-18 11:40] colinegin commented on #9997
@LouiseBonnard don't you think we should do the same here as what we have done in the transactional email ?

[2019-12-18 11:49] colinegin commented on #9871
Hello @khouloudbelguith, what do you think of this issue ?
I'm wondering if this is an issue as the phone number field is optional.
Do you know how to make it a mandatory field ?
Thanks !

[2019-12-18 11:52] golden1688 commented on #16835
Hello there!
Great technical support:
Okay, thank you!
Attachment of diary file in email!
                                                       Your loyal customer G

[2019-12-18 11:55] khouloudbelguith commented on #16835
@golden1688, Thanks!
I will check & feedback.

[2019-12-18 11:56] colinegin commented on #9632
@khouloudbelguith @marionf do you think this issue and the #10762 are related ?
It seems that the solution is the same.

[2019-12-18 11:58] khouloudbelguith commented on #9871
Hi @colinegin,

In the BO => Customers => Addresses page => we need to click on the " Set required fields for this section" & check Phone as required
![image](https://user-images.githubusercontent.com/16067358/71084651-0d4a3700-2196-11ea-8db1-50670b9c6d7a.png)

Thanks!

[2019-12-18 11:58] colinegin commented on #9729
Hello @khouloudbelguith what do you think of this issue ? Is there anything we can do here ?

[2019-12-18 12:01] colinegin commented on #9642
Hello @khouloudbelguith do you reproduce this issue ? Thanks !

[2019-12-18 12:02] khouloudbelguith commented on #16845
@weddingtextile,

[Ajax / Server Error for action upgradeDb] textStatus: "error " errorThrown:" " jqXHR: " "

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

I need the log file when using the 1-click upgrade v4.10.0 & not the other version.

This is a previous version, that's why you have issues during

[2019-12-18 12:05] colinegin commented on #9648
Hello @khouloudbelguith, what do you think of this issue ? Is there anything to do here ?

[2019-12-18 12:19] khouloudbelguith commented on #16846
Hi @emeraldlab,

First, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Please downgra

[2019-12-18 12:21] khouloudbelguith commented on #16196
Hi @colinegin,

I have the same issue with PS1.7.4.4.
![image](https://user-images.githubusercontent.com/16067358/71086118-518b0680-2199-11ea-9dab-86f61d90bc79.png)

So, it is not a regression.

Thanks!

[2019-12-18 12:24] khouloudbelguith commented on #9642
Hi @colinegin,

Yes!

I have the same issue with PS1.7.6.2
![image](https://user-images.githubusercontent.com/16067358/71086241-a62e8180-2199-11ea-89e6-5611f00c3b62.png)

Thanks!

[2019-12-18 12:29] khouloudbelguith commented on #9729
Hi @colinegin,

I have the same issue with PS1.7.6.2
![image](https://user-images.githubusercontent.com/16067358/71086415-2e148b80-219a-11ea-8767-58408fc85ef9.png)
But I think, it is an HTML issue, we should check the developers.

Thanks!

[2019-12-18 13:03] emeraldlab commented on #16846
Thank you for the PHP info!
But I don't want to remove the code because I need that when a user subscribe to the newsletter he will receive the code.
But I need that this happens only when the user subscribe to the newsletter and not when is buying one of the products.

[2019-12-18 13:11] jcarloscid opened #16849 "Missed translation units for language Spanish on file EmailsBody.es-ES.xlf"
**Describe the bug**
Some translation units are missed on the file EmailsBody.es-ES.xlf as compared to default EmailsBody.xlf

So far I have found the following ones by reviewing the emails on Spanish:
file "mails/themes/modern/core/outofstock.html.twig"
trans-unit id="e57e950cfde3e24c3674f9266753edec"
trans-unit id="dd099f9c8d04d30fa277471417a372be"

file "mails/themes/modern/core/password_query.

[2019-12-18 13:19] khouloudbelguith commented on #16846
@emeraldlab, no, this code is a welcome voucher.
So, if a new account is created => this welcome voucher is sent (the new customer could be subscribed to the newsletter yes or no)

This welcome voucher is sent because you create a new customer in the checkout page.

If you subscribe to the newsletter with this block
![image](https://user-images.githubusercontent.com/16067358/71089535-5eabf380-21a1

[2019-12-18 13:22] khouloudbelguith commented on #16849
Hi @jcarloscid,

Have you the same issue with this ticket: https://github.com/PrestaShop/PrestaShop/issues/16555?

Thanks!

[2019-12-18 13:22] emeraldlab commented on #16846
Ok, thank you very much.

[2019-12-18 13:22] #16846 closed, assigned to nobody

[2019-12-18 13:24] khouloudbelguith commented on #16846
@emeraldlab, you are welcome!
Feel free to open a new one when needed.

Thanks!

[2019-12-18 13:31] jcarloscid commented on #16849
I haven´t tried that.

I discover the problem after exporting the emails in Spanish replacing existing templates.

Looking at the emails generated I found this translations units where used by emails but missed in Spanish file, so I added them manually and repeat the email generation.

[2019-12-18 13:53] khouloudbelguith commented on #9648
Hi @colinegin,

I have the same issue with PS1.7.6.2 & the ps_crossselling v2.0.0.
![image](https://user-images.githubusercontent.com/16067358/71090692-e5fa6680-21a3-11ea-9dbe-5d0e7e007bab.png)
I think it a module issue.
Thanks!

[2019-12-18 13:54] jolelievre commented on #13934
Mmm, it seems it's only for discounted prices that there is an error Probably a problem on the front, I'm not sure it's directly related to CLDR it needs more checking I'd say something is messed up with the special RTL character This will have to be checked with customization as well

[2019-12-18 13:54] LouiseBonnard commented on #9997
@colinegin, @rdy4ever, indeed, it would be great if this could be fixed!

Here are how things should work: as @marionf said, we must add a condition to check if the payment encountered an error. If yes, the text in the header must be replaced, cf. the screenshots below. Besides, the email sent to the customer must be the _payment_error_ one instead of _order_conf_.

In the case the [order status](

[2019-12-18 13:55] jolelievre commented on #13934
@colinegin Is it in 177 scope?

[2019-12-18 13:57] khouloudbelguith commented on #9632
Hi @colinegin,

I think those issues are similar.
We can close this ticket as a duplicate.
Ping @marionf what do you think?

Thanks!

[2019-12-18 14:00] NeOMakinG commented on #9644
Backend issue, no limited size on front side

![image](https://user-images.githubusercontent.com/14963751/71092218-1ee80a80-21a7-11ea-9366-d8b79efcf132.png)

[2019-12-18 14:06] colinegin commented on #13934
no, there's no emergency :)

[2019-12-18 14:09] colinegin commented on #16608
@TristanLDD wdyt ?

[2019-12-18 14:12] colinegin commented on #9997
Thanks @LouiseBonnard !

[2019-12-18 14:14] matteolavaggi opened #16850 "Uncaught ReferenceError: prestashop is not defined"
**Describe the bug**
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/24798703/71092245-2dcebd00-21a7-11ea-821b-4ae327b4d954.png)

I cant figure out how to resolve, seem some reference to prestashop is missed in some file
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2019-12-18 14:32] khouloudbelguith opened #16851 "Search by product name & category doesn't work in the second of the Stocks page"
**Describe the bug**
In the BO => Catalog => Stocks page => Search by product name & category doesn't work in the second page.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install PS1.7.6
2. Go to the BO => Catalog => Stocks page => select the second page
3. Try to search by a product name "Brown" which exists on the second page => "No product matches your search. Try changing searc

[2019-12-18 14:34] khouloudbelguith commented on #16851
Ping @boubkerbribri

[2019-12-18 14:41] cedricfontaine commented on #9866
No, we didn't fix it, but we look up to find if it's a bug in our code or a core bug.

[2019-12-18 14:44] khouloudbelguith commented on #16810
Hi @lordchukz,

If you have already registered customers & orders, it will be not possible to enable those options, this is impossible

But we will work on it as reported here: https://github.com/PrestaShop/PrestaShop/issues/16804

Ping @marionf what do you think?

Thanks!

[2019-12-18 14:44] imaging04 commented on #9866
I got this error by migration of product from prestashop to an other prestashop using MigrationPro.
i fix it by using ETS Migrator.

[2019-12-18 14:49] marionf commented on #9632
Yes, it's a duplicate
Duplicate of #10762

[2019-12-18 14:49] #9632 closed, assigned to nobody

[2019-12-18 14:52] khouloudbelguith commented on #16850
Hi @matteolavaggi,

could you please check those errors are displayed in which files
You need just to move the mouse under `file.js`
For example
![image](https://user-images.githubusercontent.com/16067358/71096211-35de2b00-21ae-11ea-8643-2c0d69d8fd2b.png)
Thanks to check & feedback.

[2019-12-18 14:54] matteolavaggi commented on #16850
Hi, file are

themes/core.js
themes/classic/assets/theme.js
modules/ps_shoppingcarts/ps_shoppingcarts.js

[2019-12-18 15:00] marionf commented on #16810
Hello @lordchukz

I am not sure to understand what you want to do and mean by "redirect the organic searches(indexed urls) to the various shops"

Do you have an example ?

[2019-12-18 15:07] emeraldlab commented on #16846
@khouloudbelguith there is a way to make the system send an email to new newsletter subscriber?
I search in lots of configuration but I didn't find anything useful.

[2019-12-18 15:09] khouloudbelguith commented on #16850
@matteolavaggi, those errors are displayed in the BO or FO?
On which page exactly?

Thanks!

[2019-12-18 15:09] rdy4ever commented on #9997
I think the error should also include the reason or the error. Like "Payment error. Reason: Your bank refused the transaction. Please try again later or contact yor bank if this happens again"

[2019-12-18 15:10] khouloudbelguith commented on #16846
@emeraldlab, you can find some module in our Market place addons
https://addons.prestashop.com/en/

Thanks!

[2019-12-18 15:18] khouloudbelguith commented on #16849
@jcarloscid, thanks for your feedback.

How did you export the emails in Spanish? from the BO?

Thanks!

[2019-12-18 15:30] matteolavaggi commented on #16850
FO , on all page. BTW i've restored a complete backup! im sure is a single prestashop word changed in some file during today work!
Thanks

[2019-12-18 15:30] #16850 closed, assigned to nobody

[2019-12-18 15:33] khouloudbelguith commented on #16850
@matteolavaggi, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-12-18 15:55] Mx74 opened #16853 "Unable to load template 'file:catalog/_partials/miniatures/product.tpl'"
Hello,

Working with Prestashop 1.7.6.1, with the classic theme. I did install some others theme, but uninstall them.
In the back office, I was playing with the theme appearance, trying to configure the module "New product" on the home page. when suddenly I got "Oops! An Error Occurred
The server returned a "500 Internal Server Error"."

I search on the web, switch in dev mode, and got:

SmartyExc

[2019-12-18 15:57] LouiseBonnard commented on #9997
I don't know if we can get this information from all payment modules at this time and place - and it is probably handled by gateways in most credit card cases. My suggestion is to stay neutral in the header. Also, it might not be a great idea since the _payment_error_ email sent tells the customer to reach the merchant to know more about it. :-)

[2019-12-18 15:58] khouloudbelguith commented on #16835
@golden1688, I found those errors

This error is related to the `g_aliexpress` module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.

You need to clear cache manually by deleting all the folder into var/cache (prod & dev).

*ERROR* 	v1.7.6.1	2019/1

[2019-12-18 16:01] rdy4ever commented on #9997
This makes me think if the error header shouldn't actually be handeled by the payment module instead of core. Provide a general error by default but add a hook for the payment module to provide more info.

[2019-12-18 16:08] khouloudbelguith commented on #16853
Hi @Mx74,

Thanks for your feedback.
Thanks to provide me the whole exception displayed in your case.

Did you delete them from the BO? or just removing the theme folder manually?
Thanks!

[2019-12-18 16:13] qqqqq4211 opened #16854 "PS team 9.%"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-18 16:14] qqqqq4211 commented on #16854
Bb

[2019-12-18 16:15] #16854 closed, assigned to nobody

[2019-12-18 16:18] khouloudbelguith commented on #16854
Hi @qqqqq4211,

Thanks for your report.
This issue will be re-opened if you can give us specific details.

Thanks!

[2019-12-18 16:38] matteolavaggi opened #16855 "Inline assets css not loaded"
**Describe the bug**
Try to create a new css file, and include inline in theme assets following the dev guide, result in empy content generated in html:

HTML generated:
![image](https://user-images.githubusercontent.com/24798703/71104988-0d116200-21bd-11ea-874d-9fd05aec558f.png)

Asset created:

![image](https://user-images.githubusercontent.com/24798703/71105005-169aca00-21bd-11ea-83fb-1e2622a6c

[2019-12-18 16:39] Mx74 commented on #16853
I did everything from the BO, nothing by ftp or whatever.

The whole exception display:

Symfony Exception
Symfony Docs
Symfony Support
SmartyException
HTTP 500 Internal Server Error
Unable to load template 'file:catalog/_partials/miniatures/product.tpl'

    Exception Logs 2 Stack Trace

SmartyException
in vendor/smarty/smarty/libs/sysplugins/smarty_template_compiled.php (line 96)

        public

[2019-12-18 17:01] jf-viguier commented on #12514
Hi @PierreRambaud, UK is still in EU et VAT should be applied. Can you reopen this issue ?

[2019-12-18 17:01] marionf commented on #15498
Hello @photinia73

We can provide a pull request to make the bullets appears on Classic theme but it will not fix your issue because you use another theme than Classic
You should make the fix on your own theme

Regards

[2019-12-18 17:07] NeOMakinG commented on #15498
Hello @photinia73,

Juste verified, Classic theme doesn't show the bullets on every ul, I activated it on the product's description, but if your theme is not based on this one or totally changed the markup of product page, then it won't take the update, your theme developper should do it.

Regards

[2019-12-18 17:19] kazzo commented on #16799
Nope, still the same :(

[2019-12-18 17:30] aguia10 commented on #16832
Hi @khouloudbelguith ,

Thanks for your reply!

In both cases, the order prices (my example and your example) are wrong because the customer sees:
my example: 23.25 - 2.33 = 20.93 and  correct is 20.92
your example: 23.25 - 2.32 = 20.92 and  correct is 20.93

For me the problem is in the "round type" which by default is set to "Round each line", if the discount is a line first must be rounded and

[2019-12-18 17:40] matks commented on #12514
@PrestaShop/prestashop-product-team @jf-viguier has spotted a potential cause for this bug, could you please tell us whether this line is right:
https://github.com/PrestaShop/PrestaShop/blob/develop/localization/fr.xml#L77

In "localization/fr.xml" localization file, there is a VAT setting targeting country with ISO code "uk" although United Kingdom iso code is "gb"

[2019-12-18 18:08] jf-viguier commented on #12514
Line is wrong I guess. It should be "gb" in all EU countries in corresponding xml.
UK is not mentioned in "EU VAT For Virtual Products", is there any legal reason here ?

[2019-12-18 19:28] photinia73 commented on #15498
Hello!
Where I can see the changes in the code, to make the same for my Theme?

ср, 18 груд. 2019, 19:07 користувач SZCZUPAK Valentin <
notifications@github.com> пише:

[2019-12-18 20:11] IsaacVe opened #16858 "Stock Web Service 1.7.5.2"
What is the correct way to update the stock? via web services

Prestashop 1.7.5.2
Thank you in advance.

[2019-12-18 22:29] ibrahimfsasmaz commented on #16795
there is no blockreassurance module under Module Catalog

[2019-12-18 22:51] weddingtextile commented on #16845
The third attempt was successful, but there are problems...

Faceted search cannot rebuild price index.
I have only 500 products and earlier the index updated in a few seconds.
The operation interrupted by timeout.

There are other errors, see the log file in attach.
[PHP_errors.log](https://github.com/PrestaShop/PrestaShop/files/3980866/PHP_errors.log)

[2019-12-18 23:46] weddingtextile commented on #16845
Faceted search cannot rebuild price index because I have products that are related to several categories. I removed additional links but only "Index all missing prices" works.

[2019-12-19 01:45] imcoddy commented on #9817
@khouloudbelguith
I am wondering if anyone knows which part went wrong. IMO it should be the PDF not supporting UTF-8 charset, but I've no idea where to start looking into.
Let me know if you have a clue

[2019-12-19 02:49] golden1688 commented on #16835
Hello there!
Great technical support:
Thanks for your check and feedback!
I immediately contacted the module developers and asked them to fix the problem! Thank you!
                                      Your loyal customer G

[2019-12-19 04:59] golden1688 commented on #16835
Hello there!
Great technical support:
I contacted the AliExpress module developer, and they said it was not their module problem, what should I do? The following is the original reply from the developer:

This problem is not caused by our module. You can clear cache and test again. If it is a problem with our module, the price will not update anymore if the module is disabled. But when we disabled

[2019-12-19 06:55] ibrahimfsasmaz commented on #16795
I tried to upload the module zip latest version downloaded from
https://github.com/PrestaShop/blockreassurance/releases

But had error message
Oops... Upload failed.

[2019-12-19 06:56] golden1688 commented on #16835
Hello there!
Great technical support:
I contacted the AliExpress module developer, and they said it was not their module problem, what should I do? The following is the original reply from the developer:

This problem is not caused by our module. You can clear cache and test again. If it is a problem with our module, the price will not update anymore if the module is disabled. But when we disabled

[2019-12-19 07:46] khouloudbelguith commented on #16441
Hi @symphonytech111,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-19 07:46] #16441 closed, assigned to nobody

[2019-12-19 07:49] khouloudbelguith commented on #16855
Hi @matteolavaggi,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13872
So, I close it.
Thanks !

[2019-12-19 07:49] #16855 closed, assigned to nobody

[2019-12-19 07:49] khouloudbelguith commented on #16855
Duplicate of #13872

[2019-12-19 07:58] lordchukz commented on #16810
Thanks @khouloudbelguith, Now I have customers shared thanks to the link @mariem-abid shared
(I exported all ps_customer tables via phpmyadmin, dropped the tables and was able to switch the share customer feature on. Then I only imported the ps_customer sql file previously exported and had all customers restored without errors).

Orders are ok to be shop dedicated with it's order history for bette

[2019-12-19 07:59] khouloudbelguith commented on #16858
Hi @IsaacVe,

You can use this script to update stock available:
[code]
But the `physical_quantity` and `reserved_quantity` are not updated as reported here: https://github.com/PrestaShop/PrestaShop/issues/15976.
It is added to our bug roadmap.
Also, for more details you can follow our official documentation: http://doc.prestashop.com/display/PS16/Web+service+tutorial

Thanks!

[2019-12-19 07:59] #16858 closed, assigned to nobody

[2019-12-19 07:59] khouloudbelguith commented on #16858
Duplicate of #15976

[2019-12-19 08:04] khouloudbelguith commented on #16853
@Mx74, thanks for your feedback.
Could you please try to rename the folder /Project_Folder/modules/`ps_newproducts` to /Project_Folder/modules/`ps_newproducts_old`, and try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-12-19 08:05] Robin-Fischer-PS opened #16859 "Bad wording when installation is checking compatibility"
**Describe the bug**
During installation, at step "Checking PS compatibility", if there is an error, a message is displayed, asking the user to click the "Refresh information" button. But the button itself is named only "Refresh". It should be identical, so either rename the button "Refresh information" or change error wording to '...click  "Refresh" to test...'

**To Reproduce**
Steps to reproduc

[2019-12-19 08:08] khouloudbelguith commented on #16832
Hi @aguia10,

Thanks for your feedback.
We have a different rounding problem, it is an issue that should be specified & fixed by our developers.
We are aware of this issue.
Your ticket is a duplicate of #9779
So, I close it.
Thanks!

[2019-12-19 08:08] #16832 closed, assigned to nobody

[2019-12-19 08:08] khouloudbelguith commented on #16832
Duplicate of #9779

[2019-12-19 08:14] lordchukz commented on #16810
Forgot to mention this.

Each shop were dedicated their specific categories without sharing any, but unfortunately I cannot create the shop without selecting main  "home" category.

I tried creating a main "home" category for one shop (as a test) but the shop category (example "tools") can be attributed only to one main "home" category.

If I should do this, main shop will loose "tools" category.

[2019-12-19 08:16] khouloudbelguith commented on #16845
@weddingtextile, thanks for your feedback.

Great!
What is the exact version of `ps_facetedsearch` did you use?

In your php.ini file, Try to increase:

[code]
Thanks to check & feedback

[2019-12-19 08:19] khouloudbelguith commented on #16795
@ibrahimfsasmaz,

Did you try with this zip?
[ps_facetedsearch.zip](https://github.com/PrestaShop/PrestaShop/files/3982407/ps_facetedsearch.zip)

Did you check if this module is installed in the module Manager page before installing it again?

Thanks!

[2019-12-19 08:37] khouloudbelguith commented on #16835
@golden1688, but those products are just imported with this module.
I tried to create a product manually & it is OK
I attached a screen record
https://drive.google.com/file/d/1Vup8w31FweCAiCJKhvGUazxd5DkJhy7-/view
You need to import a new product with this module & check prices.
Thanks to check & feedback.

[2019-12-19 08:58] Mx74 commented on #16853
Hello,

It looks like Filezilla somehow struggle deleting ContainerQq2njit. As if the files were creating faster than they are deleted
Now it gives me this:

(1/1)                                     FatalErrorException                                                                  Compile  Error: require(): Failed opening required  '/homepages/27/d625361112/htdocs/prestashop/var/cache/dev/Conta

[2019-12-19 08:58] khouloudbelguith commented on #16799
@kazzo, could you please provide me a screenshot from your BO => Design => Images Settings
![image](https://user-images.githubusercontent.com/16067358/71159559-214d7180-2246-11ea-9624-3120879fa540.png)

Thanks!

[2019-12-19 09:00] khouloudbelguith commented on #13531
@kazzo, the issue created here: #16799

[2019-12-19 09:03] Mx74 commented on #16853
I renamed ContainerQq2njit folder to ContainerQq2njit_old instead of deleting it, and now I can access my back office again.

I have to check everything and see if I got others errors

[2019-12-19 09:04] khouloudbelguith commented on #16853
@Mx74, As you can see in your error, there are only cache errors.
Did you use a caching like Memcached or APC?

Thanks!

[2019-12-19 09:05] Mx74 commented on #16853
Yep, got errors again. I can acces my catalog, products, everything, but I go to modify my theme appearence, it crashes again:

Unable to load template 'file:catalog/_partials/miniatures/product.tpl'

[2019-12-19 09:07] Mx74 commented on #16853
I have no memory using any special cache function or module

[2019-12-19 09:26] Mx74 commented on #16853
I did your procedure again, could access my BO again, but then it crashes again when i try to access the parameters page. It not usable as it is.

Accessing the shop parameters pages created a cache folder in dev named "ContainerAuwagus" Renaming this one allows me to access the BO again. So yes, it's definitively cache erros, but how to solve them?

[2019-12-19 09:27] cesarfierro commented on #16811
Hello
I have checked it with Cassic Theme and I get the same result.
![Captura1](https://user-images.githubusercontent.com/47951167/71161702-c0239f00-2241-11ea-96b0-7b691ec39f5f.PNG)
![Captura2](https://user-images.githubusercontent.com/47951167/71161703-c0239f00-2241-11ea-93dc-2a256ef935c1.PNG)

[2019-12-19 09:28] weddingtextile commented on #16845
Faceted search version is 3.4.0

In my php.ini file:
max_execution_time = 120
max_input_time = 60
memory_limit = 512

I had products that are related to several categories.
"Index all missing prices" and "Rebuild entire price index" didn't work. Error occurred: "PHP Fatal error: Maximum execution time of 120 seconds exceeded".

I removed additional product links to categories and "Index all missin

[2019-12-19 09:30] PierreRambaud commented on #16847
I was just following the patches in https://github.com/PrestaShop/PrestaShop/issues/16499 :sweat_smile:

[2019-12-19 09:30] jcarloscid commented on #16849
Yes. using the new option on Design --> Email Themes --> Generate Emails

![image](https://user-images.githubusercontent.com/35863705/71160145-4ee6ea80-2247-11ea-8cf9-5214a94d5947.png)

(I'm sorry the user interface is in Spanish)

I plan to upgrade another shop (same initial and final versions) in the following days. If it helps, I can capture some of the emails with mixed translated/non-translat

[2019-12-19 09:31] #10581 closed, assigned to zuk3975

[2019-12-19 09:37] khouloudbelguith commented on #16859
Hi @Robin-Fischer-PS,

I have the same issue with PS1.7.5.2 & PS1.7.6.2 & develop.
I’ll add this to the debug roadmap.
Thanks!

[2019-12-19 09:41] khouloudbelguith commented on #16845
@weddingtextile,

In your php.ini file, try to edit the `max_execution_time` from 120 to 300 for example, check & feedback.

Thanks!

[2019-12-19 09:42] Progi1984 commented on #16509
Merged in #16648

[2019-12-19 09:42] #16509 closed, assigned to matthieu-rolland

[2019-12-19 09:49] khouloudbelguith commented on #16853
@Mx74, Could you please try to run those command lines to remove the cache:
`rm -fR /Projet_PrestaShop/var/cache/*`

[code]

Thanks!

[2019-12-19 09:51] Mx74 commented on #16853
I'm on a mutualized hoster, can't do that

[2019-12-19 10:00] weddingtextile commented on #16845
I tested that, not help.

[2019-12-19 10:19] Perfecticus opened #16862 "Module Theme template (override) translations not working properly"
**Describe the bug**
When overriding a template of a module in your theme modules directory, adding a new translation, the texts appear in BO and is translatable (write to ps_translations works).

*I encountered this bug for the old translation tag*

The changed translation is not being used in FO however.
Tried clearing cache and deleting cache directory.

**To Reproduce**
Steps to reproduce the

[2019-12-19 10:24] khouloudbelguith commented on #16845
@weddingtextile, same errors?

Thanks!

[2019-12-19 10:25] khouloudbelguith commented on #16853
@Mx74, could you please try to contact your host provider to try with those commands.
It is helpful to delete cache from the prod & dev environment.

Thanks!

[2019-12-19 10:27] rdy4ever commented on #16862
Hi @Perfecticus
To mitigate this issue, use theme domain instead of module when overriting module templates. For example instead of `mod='faqs'` use `d='ModsFaqs` (cammel case). And you will find the translation in the BO under the Mods domain, Faqs subdomain.

[2019-12-19 10:28] khouloudbelguith commented on #16849
@jcarloscid, we cannot edit the translation which is in the core of the mails.
It is planned for PS1.7.7.7: https://github.com/PrestaShop/PrestaShop/pull/14809

Thanks to check & feedback.

[2019-12-19 10:31] khouloudbelguith commented on #16862
Hi @Perfecticus,

You can follow those links: https://build.prestashop.com/news/new-translation-system-prestashop-17/#calling-symfonys-translator
https://build.prestashop.com/howtos/translation/how-to-translate-your-theme/

Thanks!

[2019-12-19 10:46] marionf commented on #10407
@NeOMakinG
Are you able to do it and if yes, do you need mockups ?

[2019-12-19 10:47] marionf commented on #9692
@NeOMakinG
Are you able to do it ?

[2019-12-19 10:47] marionf commented on #14361
@NeOMakinG
Are you able to do it ?

[2019-12-19 10:49] NeOMakinG commented on #15498
Hey,

there : https://github.com/PrestaShop/PrestaShop/pull/16856/files

[2019-12-19 10:50] sdev-pfischer opened #16864 "PrestaShop 1.7.X : "Cart::getDeliveryOption()" method with a payment module."
**Describe the bug**
When you process to a payment with a payment module which needs an external page to process to your payment, the selected carrier is always redefined to the first after the payment on all versions 1.7.X.X of PrestaShop.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the front and add a product to your cart.
2. Process to the payment.
3. Full the customer informati

[2019-12-19 10:59] jcarloscid commented on #16849
Don´t know if your answer really address the issue, but I'm happy to hear that.

By the time that you implement the editor, you might want to fix the sources.

[2019-12-19 11:02] khouloudbelguith commented on #16849
@jcarloscid, sorry, but what exact sources?

Thanks!

[2019-12-19 11:03] khouloudbelguith commented on #16811
Hi @cesarfierro,

What is your exact version PrestaShop did you use?

Thanks!

[2019-12-19 11:04] Mx74 commented on #16853
Ok, I could do it by SSH.

Now I get:

Notice: Trying to get property 'id' of non-object

    Exception Logs 2 Stack Trace

Symfony\Component\Debug\Exception\ ContextErrorException
in src/Core/Product/Search/ProductSearchContext.php (line 59)

        {
            if ($context) {
                $this->idShop = $context->shop->id;
                $this->idLang = $context->language->id;

[2019-12-19 11:05] NeOMakinG commented on #10407
Should be fine without mockups

[2019-12-19 11:06] LouiseBonnard commented on #16859
@khouloudbelguith, @Robin-Fischer-PS, thanks, I'm in favor of modifying the error notification instead of the button: _(...), and then click "Refresh" to test the compatibility of your new system._

[2019-12-19 11:07] khouloudbelguith commented on #16864
Hi @sdev-pfischer,

I did not manage to reproduce the issue with PS1.7.6.2 & Paypal v5.0.3.
I attached a screen record
https://drive.google.com/file/d/1BwdBotJ7NeejjrHZuwcIPcygkr7BdMF4/view
Thanks to check & feedback.

[2019-12-19 11:08] khouloudbelguith commented on #16853
@Mx74, did you removed the `ps_newproducts` module or not?

Thanks!

[2019-12-19 11:10] jcarloscid commented on #16849
My workaround for the issue it was as follows:
1. Edit EmailsBody.es-ES.xlf and add the missed translation units using copy&paste from EmailsBody.xlf
2. Translate new units to Spanish
3. Clear cache (!important)
3. Regenerate emails in Spanish overriding existing ones

I am attaching the modified file which is located at /app/Resources/translations/es-ES
[EmailsBody.es-ES.xlf.zip](https://github.c

[2019-12-19 11:10] jcarloscid commented on #16849
@khouloudbelguith /app/Resources/translations/es-ES/EmailsBody.es-ES.xlf

[2019-12-19 11:14] Mx74 commented on #16853
yes, and it's recreated every time

[2019-12-19 11:19] cesarfierro commented on #16811
Hello
I have tested it with 1.7.6.1 and 1.7.6.2

Regards

[2019-12-19 11:23] cesarfierro commented on #16811
And B2B enabled

[2019-12-19 11:26] Perfecticus commented on #16862
Hi @rdy4ever, thanks for that hint.

@khouloudbelguith, I have read through all of the documentation concerning translations and never figured out to do that rdy4ever said. I was under the impression that new translations would only be used when implementing a certain method in 1.7.6.1.

I saw this in https://devdocs.prestashop.com/1.7/modules/creation/module-translation/new-system/

![Opt-in for

[2019-12-19 11:40] weddingtextile commented on #16845
There are same errors in php_errors log file.
What is the problem?
See the log file in attach.
[PHP_errors.log](https://github.com/PrestaShop/PrestaShop/files/3983376/PHP_errors.log)

[2019-12-19 11:42] Maofree opened #16865 "When removing languages, old URLs (with language code) aren't redirected to the new URL (without language code)"
Hi
In past I've alert Prestashop to solve a SEO problem for multi-languages sites
with WPML is it possible to remove the iso_code of the default language if the site has some languages.
Normally a site starts from one languange and the others will be added after a while
so many of multi-languages sites will have the problem after the installation of the second language, because all urls of the sit

[2019-12-19 12:13] rdy4ever commented on #16862
I would only use one domain and one subdomain, like `Modules.Faqs`. Using more subdomains in custom transaltions may cause some issuses.
PS: Sorry about the CammelCase. Correct is to use `.` as you did. Use CammelCase in the subdomain just for visual aid, like `Modules.FaqsSearchblock`

[2019-12-19 12:16] maofree commented on #16865
there are many people that need this need
https://www.prestashop.com/forums/topic/551790-remove-default-iso-code-from-multilanguage-website-links/

[2019-12-19 12:22] rdy4ever commented on #16862
Modules, yes, must opt-in. But once you override a module template in yoir theme, you cand activate the new translation system just by using `d` instead of `mod` and the string will be interpreted as belonging to the theme and not the module.

[2019-12-19 12:29] sdev-pfischer commented on #16864
Hello @khouloudbelguith,

Thank you for your feedback.

Indeed, your module PayPal does not need a redirection to process to the payment. You have an "iframe".

In fact, we have this error when we have a payment module which needs a redirection to process to the payment. The redirection is not in a new tab so we exit the PrestaShop website and we will redirected on it when the payment process is f

[2019-12-19 12:34] aguia10 commented on #16832
Hi @khouloudbelguith

What version of prestashop will it be possible to fix?

Thanks

[2019-12-19 12:37] jcarloscid commented on #15503
Same problem found in module REDSYS (redsysoficial v3.0.4) after upgrading to PS 1.7.6.2

The fix described by @rdy4ever worked in my shop also.

[2019-12-19 12:50] khouloudbelguith commented on #16832
@aguia10, Our product Team should specify this issue & then our Devs will fix it.
It is planned by our product team.

Thanks!

[2019-12-19 12:53] khouloudbelguith commented on #16862
@Perfecticus, thanks for your feedback.

Since it is resolved, I will close the issue, feel free to open a new one when needed.

Thanks!

[2019-12-19 12:53] #16862 closed, assigned to nobody

[2019-12-19 12:57] sdev-pfischer commented on #16864
Hi,

There is the link with a demonstration : https://drive.google.com/file/d/1G4eNR_UF0WsButVKRdfNHaHWLuuw0Le3/view?usp=sharing

Thank you for your feedback.

[2019-12-19 12:59] BlackKerio opened #16866 "[HOOK | IMPROVEMENT] Add a actionWebserviceObjectAdd hook"
I would like to ask you to add a hook to monitor the webservice API. Currently some hooks depend only on frontoffice and backoffice.

Insert one hook into the WebserviceRequestCore class with object parameter and sent xml file for any additional information

It is not necessarily used to override the function

Example: when creating a new customer using the webservice, the customer is not informed

[2019-12-19 13:06] khouloudbelguith commented on #16866
Hi @BlackKerio,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-12-19 13:17] khouloudbelguith commented on #16865
Hi @maofree,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Please downgrade your PH

[2019-12-19 13:28] khouloudbelguith commented on #16811
@cesarfierro, with fresh install PS1.7.6.2, I don't have the expression` instead of`
![image](https://user-images.githubusercontent.com/16067358/71177214-c595df00-226b-11ea-84df-0408425b4ca3.png)
Did you edit your classic theme?

Thanks!

[2019-12-19 13:31] maofree commented on #16865
hi
it is not a php problem
read better the issue, it is present on all php version
try to use a site with 2-3 languages in the urls will be present the iso_code also for the default language

[2019-12-19 13:34] maofree commented on #16865
at this moment there is only a module that remove it
https://mypresta.eu/modules/seo/remove-language-iso-code-from-urls.html
but I don't know if it can remove all posible problems from a site with complex configurations
it should be present by default in prestashop core

[2019-12-19 13:44] Progi1984 commented on #16460
Merged in `dev` branch

[2019-12-19 13:44] #16460 closed, assigned to matthieu-rolland

[2019-12-19 13:48] khouloudbelguith commented on #16865
@maofree,

read better the issue, it is present on all php version

It is just information about PrestaShop compatibility.

Ping @PrestaShop/prestashop-product-team what do you think of this improvement?
Related to #13737.

Thanks!

[2019-12-19 14:11] sickboards opened #16869 "Partial refund and cancellation of an order will give a incorrect stock"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to make an order
2. Go to the BO and the order, check the stock of the product in the order,
3. Do a partial refund and restock of products, check the stock
4. Cancel the order and check the stock again and you will see you have more products in stock then when the orde

[2019-12-19 14:12] eternoendless commented on #16865
As far as I know this is not a SEO issue, only cosmetic.

1. The original page (without ISO) is redirected to the new page (make sure to set up 301 redirects in the "Traffic & SEO" page) so page rank is transferred to the new canonical.
2. Translated pages are not considered by Google as duplicate content.

[2019-12-19 14:15] Jojo-Kaly opened #16870 "Error in upgrade to prestashop 1.7.5.2 to 1.7.6.0"
Hi !

I open a new post because I have exactly the same problem than #15185 (https://github.com/PrestaShop/PrestaShop/issues/15185). I put CHMOD on 755 on folders and 644 on files but I still have the error.
Do you have a solution, please ?

Thank you.

[2019-12-19 14:24] khouloudbelguith commented on #16870
Hi @Jojo-Kaly,

You have permission denied on your server.
It is not allowed to write on your disk & there is no space available on it.
If you don't have access, you can check with your host to give the right permission.
Give the write and read access.
`$ chown -hR www-data:www-data ./Project_Folder_name`
Thanks!

[2019-12-19 14:38] maofree commented on #16865
Hi
and the opposite case?
from multi-languages to single language
the url like
xxxx/it/rrrrr -> xxxx/rrrr
get a 404 error?

[2019-12-19 14:40] golden1688 commented on #16835
Hello there!
Great technical support:
Thank you very much for your help, and have contacted the module developer in time! Thank you!
                                              Your loyal customer G

[2019-12-19 14:41] khouloudbelguith commented on #16869
Hi @sickboards,

I manage to reproduce the issue with PS1.7.6.2.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Ping @matks @MatShir Maybe this one can be solved during the migration of the order page?
Thanks!

[2019-12-19 14:42] khouloudbelguith commented on #16869
Old issue: http://forge.prestashop.com/browse/BOOM-3993

[2019-12-19 15:02] khouloudbelguith commented on #16835
@golden1688, Thanks!

Waiting for your feedback.

[2019-12-19 15:12] kazzo commented on #16799
Here You are:
![images](https://user-images.githubusercontent.com/8221944/71181877-53c29300-2275-11ea-9a37-3a40fa5614ce.jpg)
But I think the problem is elsewhere.
Look at this:
![Related_Err](https://user-images.githubusercontent.com/8221944/71182231-0135a680-2276-11ea-84fa-e53f403b587f.jpg)
Last two positions represents the same product. I added related products and leave, then back to edit and t

[2019-12-19 15:16] matks opened #16871 "Creating an order with product with combination and shipped status leads to payment error"
**Describe the bug**
When creating an order from BO with product "Hummingbird printed sweater - size S", and choosing a status "shipped", the order is created BUT the order status is "payment error".

This is true on `develop` branch (1.7.7.0) but I dont reproduce the bug with `1.7.6.x` branch so it seems to be a regression.

**To Reproduce**
Steps to reproduce the behavior:
1. Go into BO on "Crea

[2019-12-19 15:17] matks commented on #16871
Some more infos, as extra
- obviously we see the same issue while migrating the page to Symfony 😬it was 1st spotted by @Robin-Fischer-PS
- issue might come from `PaymentModule` class, lines 320 to 322 which set order status to payment error

[2019-12-19 15:21] khouloudbelguith commented on #16864
@sdev-pfischer, I did not manage to reproduce the issue with a custom payment module similar to yours
https://drive.google.com/file/d/1NO0cWD-4W_lE8guzM7azHJv0o1XBSKT3/view

Thanks!

[2019-12-19 15:23] khouloudbelguith commented on #16853
@Mx74, I think, it is similar to this issue: https://github.com/PrestaShop/PrestaShop/issues/14768

Thanks to check & feedback.

[2019-12-19 15:38] sdev-pfischer commented on #16864
@khouloudbelguith,

Thank you for your feedback.

It is strange... When I debug the cart before the redirection to Atos, I have the good carrier. But after the payment process, the carrier is redefined to the first.

[2019-12-19 15:41] khouloudbelguith commented on #16864
@sdev-pfischer, As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-12-19 15:41] #16864 closed, assigned to nobody

[2019-12-19 15:49] jf-viguier commented on #9757
The PR is rebased and fix this bug https://github.com/PrestaShop/PrestaShop/pull/16573
Can this pr be included in 1.6.7.3 or 1.7.7 ? Why waiting for 1.7.8 ?

[2019-12-19 15:54] sdev-pfischer commented on #16864
@khouloudbelguith,

My agency is the author of this module and we need to understand this error caused by the "Cart::getDeliveryOption()" method.

Can you tell us which module do you use for your test please ?

[2019-12-19 15:57] khouloudbelguith commented on #16845
@weddingtextile,

About this error, did you use a custom payment module?

Thanks!

[2019-12-19 16:00] khouloudbelguith commented on #16864
@sdev-pfischer, KBC: Credit Card

Thanks!

[2019-12-19 16:10] romain-le-mercier opened #16873 "Blank page on admin product (edit or new) only on prod (and no error in logs)"
Hi,

I get a blank page when I go to the admin product form (new or edit product) only when on **production** mode. I have no errors in logs (I tripple checked).

When i'm on **dev** mode, the profiler is not working on this page (but everything else is working just fine).
The profiler web page shows an unserialize error. I can't paste you the serializes content because it's way to long but the ba

[2019-12-19 16:13] marionf commented on #9757
Hello @jf-viguier

Not in 1.7.6.3 because we fix in patch versions only regressions of the last minor (1.7.6.0)
And the bug fixed by this PR isn't a regression of 1.7.6.0

And I don't think it will be for 1.7.7 because we are very close to the freeze
We need to stay focus on ["must-have" items](https://github.com/PrestaShop/PrestaShop/projects/7?card_filter_query=label%3Amust-have) if we don't wan

[2019-12-19 16:15] khouloudbelguith commented on #16873
Hi @romain-le-mercier

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Please downgrad

[2019-12-19 16:16] khouloudbelguith commented on #16871
Hi @matks,

I did not manage to reproduce the issue with the develop branch (PS1.7.7.0.)
I attached a screen record
https://drive.google.com/file/d/1lKXwjYYOWX_YxN3zYBpb1xg-CZ7QDFYv/view
Thanks to check & feedback.

[2019-12-19 16:21] Hlavtox commented on #9757
@marionf Can you try to push it in the team? There were several PR's regarding discounts and gift calculations. We could have this whole gift&discounts issue fixed.

Again, tt's nice everyone works on BO, but FO is what sells and keeps the merchants alive. 👍

[2019-12-19 16:21] khouloudbelguith commented on #16799
@kazzo, I did not manage to reproduce the issue with PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/1XSRNEvV7EeE7yJ99G5hjGfSv5s2BuTV1/view
In the FO, they are well displayed?
What is the exact browser did you use?
Thanks!

[2019-12-19 16:26] 8ternity opened #16874 "Improvement - Error on activating products with multiples grouped selected products disapear and show success"
Tested in Version 1.7.5.1

The error while activate a lot of selected products disapear too fast + message of success still show success.

It's annoying to know which one has failed. I was needed to screen record to pause a video to know which product has failed to activate.

The error are shown about half second and the window disapear.
![2019-12-19_11h22_05](https://user-images.githubusercontent

[2019-12-19 16:29] jf-viguier commented on #9757
@marionf It's just few lines of code that fix a major bug, please add it to the 1.7.7.
I agree with @Hlavtox : my merchants doesn't understand why bugs in commercial actions are not
 considered majors and still be relegated to the Saint Glin Glin ;-)

[2019-12-19 16:36] khouloudbelguith commented on #16849
@jcarloscid, here's my two files with PS1.7.6.2.

[EmailsBody.xlf.txt](https://github.com/PrestaShop/PrestaShop/files/3984561/EmailsBody.xlf.txt)
[EmailsBody.es-MX.xlf.txt](https://github.com/PrestaShop/PrestaShop/files/3984571/EmailsBody.es-MX.xlf.txt)

Those keys are present in EmailsBody.es-MX.xlf file:
[code]

Thanks!

[2019-12-19 16:41] matks commented on #16871
😅 I dont know what to say ... it fails on my computer, and it does fail for @Robin-Fischer-PS too ...

[2019-12-19 16:42] khouloudbelguith commented on #16871
@Robin-Fischer-PS, have you the same issue on the develop branch?

Thanks!

[2019-12-19 16:44] khouloudbelguith commented on #16871
@matks, thanks!
I will try to re-install the shop & check.

Thanks!

[2019-12-19 16:44] Robin-Fischer-PS commented on #16871
Yes, I tried on develop branch too @khouloudbelguith

[2019-12-19 16:54] tonspeed commented on #9757
i agree... its very frustrating...

[2019-12-19 17:02] jcarloscid commented on #16849
Please, @khouloudbelguith check my original message. The locale I sent was es-ES. I haven't check this issue in any other locale.

And please also take a look at this one,

https://github.com/PrestaShop/TranslationFiles/blob/master/1.7/translations/1.7.6/es-ES/EmailsBody.es-ES.xlf

Kind regards.

[2019-12-19 17:06] khouloudbelguith commented on #16874
Hi @8ternity,

I did not manage to reproduce the issue with PS1.7.6.2
![image](https://user-images.githubusercontent.com/16067358/71193216-08ff4600-228a-11ea-9015-e4cc50deefc9.png)

In the BO => Shop Parameters => Product Settings => we have an option to set "Max size of short description "
I tried with a lot of products & they are ok
https://drive.google.com/file/d/18YcSV4Ow5dOzU6hcbhqn4IRUxrpLDm

[2019-12-19 17:15] khouloudbelguith commented on #16849
@jcarloscid, Thanks for these clarifications
I have the same issue with PS1.7.6.2.
[EmailsBody.es-ES.xlf.TXT](https://github.com/PrestaShop/PrestaShop/files/3984754/EmailsBody.es-ES.xlf.TXT)
PIng @jolelievre what do you think?

Thanks!

[2019-12-19 17:20] khouloudbelguith commented on #16871
@matks, @Robin-Fischer-PS, After fresh install develop => same issue
https://drive.google.com/file/d/1UIEaAgGFy4eepFjjgCfFEFEnn44nNCvv/view
I’ll add this to the debug roadmap.
Thanks!

[2019-12-19 17:58] Jojo-Kaly commented on #16870
Why is it allowed to write on my server while I have settled the permissions on 755 for folders and 644 for files ?
The space is unlimited.
What is it this code : $ chown -hR www-data:www-data ./Project_Folder_name ?

Thank you

[2019-12-19 18:28] cesarfierro commented on #16811
No, I don´t edit it.

I tried with a new pack of two components and set your prices. I have obtained the same result as you, no 'instead of'

But if you use my prices:
Pack 800.00, T-shirt 250.00 and Pantalon 749.99, the expression is showed.

Regards.
![Captura3](https://user-images.githubusercontent.com/47951167/71199165-444f4400-228d-11ea-9954-d79af9f79157.PNG)
![Captura4](https://user-images.g

[2019-12-19 20:14] kazzo commented on #16799
I use PS 1.7.6.1 on localhost (PHP 7.2.11) and cannot reproduce this issue too.
In the FO related products works perfect, problem is only in BO.
I use Firefox, but the same issue is in Crome and Opera too.
Phppsinfo says all OK, but in Apache error log I have:
AH01071: Got error 'Primary script unknown\n', referer: https://admirsklep.pl/admin516ncnsa4/index.php/sell/catalog/products/1?_token=TOjqs

[2019-12-19 22:04] weddingtextile commented on #16845
No, I didn't.
My list:
1) Cash on delivery (COD) v1.0.6 - by PrestaShop
2) Bank transfer v2.0.4 - by PrestaShop

[2019-12-20 07:51] khouloudbelguith commented on #16470
Hi @webrdinfo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-20 07:51] #16470 closed, assigned to nobody

[2019-12-20 07:51] khouloudbelguith commented on #15914
Hi @SignalBip,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-20 07:51] #15914 closed, assigned to nobody

[2019-12-20 08:16] khouloudbelguith commented on #16870
@Jojo-Kaly, Some hosts might require you to use` CHMOD 777`, although it is not recommended for anything more than a one-time need.
If you have to use CHMOD 777, make sure to switch to a safer setting (for instance, 775 for folders and 664 for files) once you are done upgrading.
To give the write and read access, you can use this command
`chown -hR www-data:www-data ./Project_Folder_name`
https://

[2019-12-20 08:23] matteolavaggi opened #16877 "unable to login on backend PS 1.7.6.1"
Yesterday we were able to login on PS, this morning , try to login in back office result in a redirect to login page again.

No message show in console. Debug mode enabled, no entry in dev.log on exception.log.

On the same server other PS 1.7.6.1 work good.

`

timestamp,"source","application_name","message"
--
2019-12-20T08:18:01.000Z,"naws01",,"naws01   nginx: T=0.124 [127.0.0.1] [www.mydomain.

[2019-12-20 08:28] khouloudbelguith commented on #16811
@cesarfierro, no with fresh install PS1.7.6.2.
I don't have this expression
![image](https://user-images.githubusercontent.com/16067358/71241111-13155900-230b-11ea-933f-4d4410536e29.png)

Thanks!

[2019-12-20 08:30] sdev-pfischer commented on #16864
@khouloudbelguith,

Thank you for your feedback.

For information, there is the override we've done to resolve our problem :

`class Cart extends CartCore`
`{`
` ` ` ` `public function getDeliveryOption($default_country = null, $dontAutoSelectOptions = false, $use_cache = true)`
` ` ` `  `{`
` ` ` ` ` ` ` ` `return parent::getDeliveryOption($default_country, $dontAutoSelectOptions, false);`
` ` `

[2019-12-20 08:34] matteolavaggi commented on #16877
Some related to JS? Cart stop to work.
How its possible to have a PS 1.7.6.1 destroyed and no log allert?!
![image](https://user-images.githubusercontent.com/24798703/71241436-e31a8580-230b-11ea-943c-71d36c6f7885.png)

[2019-12-20 08:36] matteolavaggi commented on #16877
Request URL: https://www.pineappleitaly.com/store/login?back=my-account
Request Method: GET
Status Code: 500
Remote Address: 51.68.81.86:443
Referrer Policy: no-referrer-when-downgrade

[2019-12-20 08:50] PeNov commented on #16741
Hello, I have same problem after upgrade from 1.7.4.2 to 1.7.6.2.

Bank wire module v2.0.4.
Email theme: Modern
![image](https://user-images.githubusercontent.com/38213520/71242105-786a4980-230d-11ea-95fb-19dccf052d44.png)

Apache/2.4.25 (Debian)
PHP: 7.0.33-0+deb9u6
128M
180s
60M
MySQL: 10.1.41-MariaDB-0+deb9u1

Log:
[09-Dec-2019 14:31:02 Europe/Prague] PHP Warning:  require(/home/www/DOMAIN.cz/w

[2019-12-20 08:56] cesarfierro commented on #16811
I have been upgrading since  1.6, may be time for a fresh install.

Thanks for your time!

[2019-12-20 08:56] netdrag commented on #16741
Were you referring to me or mateolavaggi?
We have the problem only on outlook. Thunderbird or Webbased Mail are ok.
Our version is 2.0.4.

But it seems more of a problem when generating emails. They are not generated correctly...

[2019-12-20 08:56] khouloudbelguith commented on #16877
Hi @matteolavaggi,

Here are some things you can try :

1/ Clear your browser cache and your cookies

2/ Check PS_SHOP_DOMAIN and PS_SHOP_DOMAIN_SSL in ps_configuration table

3/ Manually clear smarty cache: remove all files from /var/cache/

4/ Disable the IP check in classes/Cookie.php (this can cause many issues with dynamics IP)

5/ Into the path /PROJECT_FOLDER/classes/controller/AdminControl

[2019-12-20 09:01] khouloudbelguith commented on #16633
Related to: https://github.com/PrestaShop/PrestaShop/issues/9919

[2019-12-20 09:12] khouloudbelguith commented on #16795
@ibrahimfsasmaz, from GitHub you need to unzip the folder, run `composer install` & zip it again.
Thanks to try with this folder
[blockreassurance.zip](https://github.com/PrestaShop/PrestaShop/files/3987544/blockreassurance.zip)

Thanks!

[2019-12-20 09:15] khouloudbelguith commented on #16799
@kazzo, thanks tp provide me your PHP info file.
you can follow this documentation to know how to create your file php.ini: https://mediatemple.net/community/products/dv/204643880/how-can-i-create-a-phpinfo.php-page
Thanks!

[2019-12-20 09:19] khouloudbelguith commented on #16845
@weddingtextile, thanks to provide me a screenshot about your table ps_currency.
![image](https://user-images.githubusercontent.com/16067358/70512851-bbb80180-1b30-11ea-8f91-42ec62a53e2d.png)

Thanks!

[2019-12-20 09:21] matteolavaggi commented on #16877
Hi, after many try the more easy and easy solution, clear all browser cookie.

BTW from what this is cause? and how we can mitigate this for our customer? today i'm not able to login or use cart both front and back end, but how solve this for our customer that has same problem and dont know to clear browser cookie?

[2019-12-20 09:23] khouloudbelguith commented on #16811
@cesarfierro, yes!
With PS1.6.1.24, it was displayed
![image](https://user-images.githubusercontent.com/16067358/71244361-9d14f000-2312-11ea-85a9-9a1b12ef6202.png)
But, not the same behavior with PS1.7.6.2.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-12-20 09:23] #16811 closed, assigned to nobody

[2019-12-20 09:25] khouloudbelguith commented on #16877
@matteolavaggi, in your BO => Advanced Parameters => Administration
You can increase the "Lifetime of front office cookies"
![image](https://user-images.githubusercontent.com/16067358/71244551-13b1ed80-2313-11ea-9416-daa06de0cd45.png)

Thanks!

[2019-12-20 09:27] krystian-3c commented on #16529
yes

[2019-12-20 09:32] romain-le-mercier commented on #16873
I'll try on PHP 7.2 and get back to you but I have other prestashop (1.7.5.1) running on the same server and PHP 7.3 without the issue.

[2019-12-20 09:33] mikitarra opened #16878 "Related products"
When I looking for related products, do not show the main product related to the product sheet I am modifying.

[2019-12-20 09:33] MultiTech-MS opened #16879 "Rounding difference between invoices and credit notes"
I encounter a rounding problem when I generate a credit note with Prestashop (1.7.4.4).
The problem seems to come from the total tax on delivery in the credit note.

![facture](https://user-images.githubusercontent.com/51752454/71245003-08ab8d00-2314-11ea-8e46-c74f7fe31a7f.JPG)
![avoirs](https://user-images.githubusercontent.com/51752454/71245007-08ab8d00-2314-11ea-9c5f-982bc42e805a.JPG)

PrestaSh

[2019-12-20 09:37] khouloudbelguith commented on #16878
Hi @mikitarra,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9617
So, I close it.
Thanks !

[2019-12-20 09:37] #16878 closed, assigned to nobody

[2019-12-20 09:38] khouloudbelguith commented on #16878
Duplicate of #9617

[2019-12-20 09:39] weddingtextile commented on #16845
![ps_currency](https://user-images.githubusercontent.com/44600313/71245434-58db1d00-231d-11ea-9193-9a93af8e4bce.jpg)

[2019-12-20 09:40] khouloudbelguith commented on #16873
@romain-le-mercier,  I'm happy to hear that there is no issue with php7.3  on your staging server but as I said, currently PrestaShop is not compatible with php7.3. So some parts of the application might work, but there is no guarantee it works globally. Explications about why can be read here: http://build.prestashop.com/news/announcing-end-of-support-for-obsolete-php-versions/

Waiting for your

[2019-12-20 09:46] khouloudbelguith commented on #16845
@weddingtextile, thanks for your feedback.
Could you please try to re-install the `ps_facetedseach` module by following these steps:
1. Uninstall the module with removing the folder
2. Try to clear cache manually by deleting all the folder into var/cache (prod & dev).
3. Go to the BO => Module Catalog page => install the module again

Thanks!

[2019-12-20 09:46] jf-viguier commented on #13252
Any news here ? I don't see this issue in any roadmap @khouloudbelguith ?

[2019-12-20 09:49] khouloudbelguith commented on #13252
@jf-viguier, the Label Todo is added to this issue
So, it is in the Todo list.

Thanks!

[2019-12-20 10:05] khouloudbelguith commented on #16741
@netdrag,

Outlook in the web: https://outlook.live.com/mail or desktop?
In the Outlook web, it is OK
![image](https://user-images.githubusercontent.com/16067358/71247247-a3a66600-2318-11ea-82de-093bd01bcd43.png)

Thanks!

[2019-12-20 10:05] jf-viguier commented on #13252
Yes but no milestone assigned, I know what it means in Prestashop language : Saint Glin Glin

[2019-12-20 10:11] khouloudbelguith commented on #13252
@jf-viguier, Our product Team is responsible about the milestone.
Thanks!

[2019-12-20 10:16] matteolavaggi commented on #16877
Why increase? i dont need to set this low to clear it?

[2019-12-20 10:22] khouloudbelguith commented on #16877
@matteolavaggi, this is the number of hours during which the front office cookies are valid.

If you use an incognito browser => cookies are deleted.

Thanks!

[2019-12-20 10:23] netdrag commented on #16741
no the problem with the bank details is on every computer.
The problem with the gigantic logo is just on outlook desktop. Sorry for mixing up things. The problem with the logo was the reason why I tried to regenerate the templates in prestashop, but the details I put into the templates aren't copied to the final mail

[2019-12-20 10:26] khouloudbelguith commented on #16741
@netdrag,

Did you generate the templates from the BO?

Thanks!

[2019-12-20 10:26] matteolavaggi commented on #16877
This is minutes or hours?
If i set it to 1 so this result in invalid all cookie users?

[2019-12-20 10:28] Mx74 commented on #16853
No, sorry, I don't see the similarity.

I gave up and restored both files and DB at a previous date.

It's anyway weird to be able to break Prestashop so badly by using only built-in features from the backoffice...

Thank you for your time and help

[2019-12-20 10:29] khouloudbelguith commented on #16877
@matteolavaggi, hours
![image](https://user-images.githubusercontent.com/16067358/71248732-e289eb00-231b-11ea-8f74-7db6104a969a.png)
"Set the amount of hours during which the front office cookies are valid. After that amount of time, the customer will have to log in again."
Thanks!

[2019-12-20 10:31] khouloudbelguith commented on #16853
@Mx74, you are welcome!
I will close the issue, feel free to open a new one when needed.

Thanks!

[2019-12-20 10:31] #16853 closed, assigned to nobody

[2019-12-20 10:54] NeOMakinG commented on #9725
@eternoendless do you have an idea about this issue ? It looks particular, I don't know if we should do it, the behavior looks normal, if producf needs a 1080 image, push a 1080 image, we won't upperscale a lower image

[2019-12-20 10:59] NeOMakinG commented on #9707
It should be handled in backend side

[2019-12-20 11:01] rdy4ever commented on #16877
Actually, I remember running into this problem with Prestashop even on 1.6. It was random and unpredictable, but I figured it only affects sessions where you are logged into the BO, so clients should not experiece this issue. I ran into it a couple of times on my 1.7 also, but clearing cookies worked every time.

[2019-12-20 11:03] khouloudbelguith commented on #16529
@krystian-3c, did you use Ubuntu 16.04 to 18.04?

Thanks!

[2019-12-20 11:10] khouloudbelguith commented on #16879
Hi @MultiTech-MS,

I did not manage to reproduce the issue with PS1.7.6.2.
Invoice
[IN000007.pdf](https://github.com/PrestaShop/PrestaShop/files/3987979/IN000007.pdf)
![image](https://user-images.githubusercontent.com/16067358/71250851-056ace00-2321-11ea-8967-ee319f0c2d5f.png)
Credit notes
[000010.pdf](https://github.com/PrestaShop/PrestaShop/files/3987983/000010.pdf)
![image](https://user-images.

[2019-12-20 11:12] netdrag commented on #16741
yes, is there another way?

[2019-12-20 11:21] NeOMakinG commented on #15463
I'll take a look, assigned to myself

[2019-12-20 12:52] khouloudbelguith commented on #16741
@netdrag, so it is a logo issue or the datils of the bank wire which they are not displayed?
What is your exact issue?
Thanks!

[2019-12-20 13:01] eternoendless commented on #9725
In my view this is a feature request, not a bug

ping @PrestaShop/prestashop-product-team

[2019-12-20 13:06] NeOMakinG commented on #9725
Even if this is a feature request, it should be configurable, we don't want to force people having one of these behavior, they should be able to swap between one or the other

[2019-12-20 13:22] eternoendless commented on #9725
I agree

[2019-12-20 13:29] Bonobomagno commented on #15684
Actually the only working solution is to change the miniature /product.tpl template, to include(yep, copy past) the product-miniatures.tpl part

[2019-12-20 13:35] krystian-3c commented on #16529
Just like in link I provided above.  Ubuntu 18.04.2 LTS.

[2019-12-20 13:56] khouloudbelguith commented on #16529
@krystian-3c, thanks for your feedback.
I will try to prepare an environment similar to yours, check & feedback.

Thanks!

[2019-12-20 14:14] kazzo commented on #16799
OK,
Here is [phpinfo as html](https://drive.google.com/open?id=1JwIbzeaVpFW86XmYyMgWwxA9TKWuqc_1)
and maybe [.htaccess](https://drive.google.com/open?id=1JeWvVtf-w7gcv8iBBu1zFAM48iGPTU6y) yet - mostly generated by PS.

[2019-12-20 14:43] khouloudbelguith commented on #16799
@kazzo, you are using PHP-FPM
This error `Primary script unknown\n` is related to your server.
It is almost always related to a wrongly set `SCRIPT_FILENAME`.
So, could you please check with your host & feedback.

[2019-12-20 15:10] Jojo-Kaly commented on #16870
Thank you, khouloudbelguith.
I use CHMOD 777 for module/autoupgrade/classes folder (and its files) but I still have the same error...

[2019-12-20 15:12] khouloudbelguith commented on #16870
@Jojo-Kaly, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2019-12-20 15:31] Jojo-Kaly commented on #16870
[log.txt](https://github.com/PrestaShop/PrestaShop/files/3988949/log.txt)
The log is in attached file. Thank you for your help.

[2019-12-20 15:34] khouloudbelguith commented on #16870
@Jojo-Kaly,
I found these errors
[code]

It is a permission issue, thanks to check again & feedback.

[2019-12-20 15:44] Davidlleide opened #16885 "Problem with vertical sliding in the product combination 1.7.6.2"
**Describe the bug**
Problem with vertical sliding in the product combination. When the color of a product changes in a combination. When you go to the product, the vertical sliding stops working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
[Fallo-slider-vertical.zip](https://github.com/PrestaShop/PrestaShop/files/3988997/Fallo-slider-vertical.zip)

**Screenshots**
see video

[2019-12-20 15:48] khouloudbelguith commented on #16885
Hi @Davidlleide,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/16863 to fix the issue.
Your ticket is a duplicate of #12064
So, I close it.
Thanks !

[2019-12-20 15:48] #16885 closed, assigned to nobody

[2019-12-20 15:48] khouloudbelguith commented on #16885
Duplicate of #12064

[2019-12-20 16:36] khouloudbelguith opened #16887 "Sort doesn't work in the monitoring page"
**Describe the bug**
In the BO => Catalog => Monitoring
1. List of products with combinations but without available quantities for sale => the sort by ID & Reference & Name & Status do not work.
2. List of products without combinations and without available quantities for sale => the sort by ID & Reference & Name & Status do not work
3. List of disabled products => the sort by ID & Reference & Nam

[2019-12-20 16:36] khouloudbelguith commented on #16887
Ping @matks

[2019-12-20 16:43] NeOMakinG commented on #15463
After a lot of research

/Users/vSzczupak/Sites/prestashop/themes/_core/js/cart.js

Line 54 : `$('.cart-overview').replaceWith(resp.cart_detailed);`

resp.cart_detailed is not updated with new discounts when changing value, tried to see more in backend side but can't find how to do this, it's a backend issue...

[2019-12-20 17:51] Jojo-Kaly commented on #16870
I don't know what I have to check...   :-(

[2019-12-20 19:24] BlackKerio commented on #9819
Hi Miguel López, @khouloudbelguith @marionf
The actual system works so that for updating the client and other objects via webservice it is necessary to read all current data of the given object, change it and save it. It is not possible to change directly only individual field, eg just the name of the client. Logically ... if you want to completely delete one field, you will not specify it. If thi

[2019-12-20 19:46] kazzo commented on #16799
I upload test.php to shop directory (it printis out $_SERVER superglobal)

The most interesting values are:
[HOME] => /home/admir/ftp
[SCRIPT_URI] => https://admirsklep.pl/test.php
[SCRIPT_URL] => /test.php
[HTTP_HOST] => admirsklep.pl
[PATH] => /bin:/usr/bin:/usr/local/bin
[DOCUMENT_ROOT] => /home/admir/ftp
[CONTEXT_DOCUMENT_ROOT] => /home/admir/ftp
[SCRIPT_FILENAME] => /home/admir/ftp/bisk_sklep

[2019-12-20 21:36] Jojo-Kaly opened #16889 "Error in upgrade from Prestashop 1.7.5.2 to 1.7.6.2"
**Describe the bug**
When I try to upgrade Prestashop from 1.7.5.2 to 1.7.6.2, I have the error in the screenshot.
Thank you for your help !

**Screenshot**
<img width="1440" alt="Capture d’écran 2019-12-20 à 16 01 26" src="https://user-images.githubusercontent.com/59056657/71294535-18a98800-2379-11ea-961a-1310e2ef79fd.png">

**Additional information**
PrestaShop version: 1.7.5.2
PHP version: 7.

[2019-12-20 22:07] ibrahimfsasmaz commented on #16795
Hello,
I have uploaded the modules but ;
1- stil having that error 500 at BO>Catalog>Categories   &   BO>Catalog>Brands&suppliers
2- BO>Customers>CustomerService  &  BO>Customers>MerchandiseReturn  does not display anything

![Screen Shot 2019-12-21 at 01 00 48](https://user-images.githubusercontent.com/58822578/71295733-3c2afd80-238e-11ea-8447-d04edf3280c5.png)
![Screen Shot 2019-12-21 at 01 01 4

[2019-12-20 23:01] matks opened #16891 "Simplify rendering of forms for 1.7.8 pages"
Hello @tdavidsonas88 I have another topic you can tackle in order to get more familiar with PrestaShop stack and that would be really useful for 1.7.7 😄 .

Since @sarjon 's PR https://github.com/PrestaShop/PrestaShop/pull/15130 we are able to render entire forms inside migrated pages using the single twig statement ` {{ form_rest(...) }}`.

**Before**
[code]

**After**
[code]

Basically, since we

[2019-12-21 12:21] Stone2021 commented on #16817
I have same issue

New clean prestashop 1.7.6.2 install, and warehouse theme also try it with Leo theme and tryed it on 2 different servers, it is same error.

Just go to translate theme and to shop theme actions and translate all and save, and then 2 of them the first 2 go blank.

I have make this issue to warehouse theme support, they said it is 100% not theme related.

![translateA](https://use

[2019-12-21 18:39] arouiadib commented on #16665
yes @kexuejia, I don't see why the test against `resp` was added in first `if`. I think the test should look like:
https://github.com/PrestaShop/ps_shoppingcart/pull/54

But if it is necessary to send `resp` in the emitted object, we can keep the module untouched and modify in theme:
https://github.com/PrestaShop/PrestaShop/pull/16892

I hope someone help me decide between the two PRs, or guide me

[2019-12-21 19:27] ibrahimfsasmaz commented on #16795
it looks that there i no other solution than waiting 1.7.6.3 , 1.7.6.2 has lots of bugs

[2019-12-22 10:17] Stone2021 opened #16894 "Translate do not save 1.7.6.2"
New clean prestashop 1.7.6.2 install, and warehouse theme also try it with Leo theme and tryed it on 2 different servers, it is same error.

Just go to translate theme and to shop theme actions and translate all and save, and then 2 of them the first 2 go blank.

I have make this issue to warehouse theme support, they said it is 100% not theme related.

![translateA](https://user-images.githubuser

[2019-12-22 11:35] amarmib2 opened #16895 "Product images not showing in google chrome browser"
hi
I have uploaded my products in Prestashop 1.7.6.2 after uploading I checked in all the web browser on pc everything was working fine all the images was loading properly.

But when I checked in mobile only in google chrome browser products was not showing properly.
when I click on "rings category" some products images are showing and some are not showing.

can someone help me with this.

PHP ver

[2019-12-22 16:10] #16894 closed, assigned to nobody

[2019-12-22 18:35] weddingtextile commented on #16845
I tried twice to reinstall the module.
It didn't help. There are same errors in the log file (((
Moreover, the function "Index all missing prices" also stopped working.
The strangest thing is that after installing the module, I had to restart the web server.

So I restored the system from the archive.

[2019-12-23 04:59] fukawi2 opened #16896 "Invalid argument supplied for foreach() in Product.php"
**Describe the bug**
When trying to add a new product using the webservice, the server returns a 500 error due to a PHP error:

    Invalid argument supplied for foreach() (/bitnami/prestashop/classes/Product.php, line 6827

**To Reproduce**
Steps to reproduce the behavior:
1. Enable the webservice and create a key with full access to all permissions.
2. Make a `POST` request to the webservice URL

[2019-12-23 05:24] fukawi2 commented on #16896
Further debugging shows this error appears to happen when 'name' is a string, not an array. I'm obviously posting the wrong data, but the server still shouldn't return a PHP error in response.

[2019-12-23 08:03] khouloudbelguith commented on #16298
Hi @acer1981,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-23 08:03] #16298 closed, assigned to nobody

[2019-12-23 08:04] khouloudbelguith commented on #16476
Hi @jeckyl,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-23 08:04] #16476 closed, assigned to nobody

[2019-12-23 08:07] khouloudbelguith commented on #16889
Hi @Jojo-Kaly,

What is the exact version of the 1-click upgrade did you use?
Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2019-12-23 08:20] khouloudbelguith commented on #16895
Hi @amarmib2,

Thanks for your report.
Could you please navigate to your BO => Design => Images Settings page => Click on "Regenerate thumbnails", check & feedback.

Thanks!

[2019-12-23 08:22] 06463771 opened #16898 "http 500 error after Order confirmation"
After placing order I am facing http 500 error. Order confirmation email is also recieved and even order is also showing in admin but at the customer page its showing error. My prestashop version is 1.7.5.0. Please give me solution ASAP.

Thanks.

Store URL - http://www.picfair.in

[2019-12-23 08:29] boubkerbribri opened #16899 "Exception displayed when creating new profile"
**Describe the bug**
In page 'Advanced Parameters > Team > profile', when creating a new profile, an exception is displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Advanced Parameters > Team > profile'
2. Click on 'Add new profile'
3. Fill form and click on save'
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/48441421/71345752-78b15180-2566-11

[2019-12-23 08:32] khouloudbelguith commented on #16899
Hi,

Same issue with the `Delete` action.

Thanks!

[2019-12-23 08:44] tdavidsonas88 commented on #16891
@matks @rokaszygmantas what's the easiest way to find out all forms created during 1.7.7 development phase?

Is it just these two related to this issue:
Catalog > Files add/edit form (migrated by @RaimondasSapola) (see form)
Catalog > Supplier add/edit form (migrated by @zuk3975) (see form)

?

[2019-12-23 08:50] khouloudbelguith commented on #16898
Hi @06463771,

I deleted the credentials.
This is a public space.
Let's be safe!

Thanks!

[2019-12-23 08:51] 06463771 commented on #16898
ok

[2019-12-23 08:55] khouloudbelguith commented on #16898
@06463771, could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-

[2019-12-23 09:15] 06463771 commented on #16898
Prestashop Version :- 1.7.5.0

Debug Mode Report :- ON

PHP Error Log :-

[23-Dec-2019 01:12:22 Asia/Calcutta] PHP Fatal error:  Uncaught Error: Call to a member function getPluginConfig() on null in /home/nkh94n2gnruv/public_html/modules/sendinblue/sendinblue.php:3597
Stack trace:
#0 /home/nkh94n2gnruv/public_html/modules/sendinblue/sendinblue.php(3421): Sendinblue->getApiConfigValue()
#1 /home/n

[2019-12-23 09:23] khouloudbelguith commented on #16896
Hi @fukawi2,

I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.2.
I used tthis script
[code]

Thanks to check & feedback.

[2019-12-23 09:26] khouloudbelguith commented on #16898
Hi @06463771,

It is a `sendinblue` module issue.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-12-23 09:26] #16898 closed, assigned to nobody

[2019-12-23 09:28] khouloudbelguith commented on #16845
Hi @weddingtextile,

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
THe phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Ty

[2019-12-23 09:48] khouloudbelguith commented on #16799
@kazzo, did you tried to contact your host?
Have you any feedback from them?

Thanks!

[2019-12-23 09:51] khouloudbelguith commented on #16870
@Jojo-Kaly, could you please try to contact your host.
You have a permission issue on your server.
Thanks to check with them & feedback.
Also, in your BO => Advanced Parameters => Information page => Check your configuration if it is OK
![image](https://user-images.githubusercontent.com/16067358/71350708-28d88780-2572-11ea-8138-13e0e3cc2d19.png)

Thanks!

[2019-12-23 09:52] weddingtextile commented on #16845
I know about this file.
The file is on my site.
[PHP PrestaShop Info.zip](https://github.com/PrestaShop/PrestaShop/files/3994451/PHP.PrestaShop.Info.zip)

[2019-12-23 09:57] khouloudbelguith commented on #16795
@ibrahimfsasmaz, could you please provide me a screenshot from the Database, the structure of the table `ps_admin_filter`
![image](https://user-images.githubusercontent.com/16067358/71350970-da77b880-2572-11ea-82ba-f5ea9e0a5570.png)

Thanks!

[2019-12-23 10:02] azralth opened #16901 "updateProductPrice is pending for 15/30 sec in admin order"
When i add new order in admin, and update the unit price tax exc, the price tax inc is taking too long to update. The ajax call function updateProductPrice is pending for 15/30 sec

1 Go to admin -> order
2 Choose a customer
3 Add a product to a cart
4 Update unit price tax exc
5 Wait for 15/30 sec to get the prix tax inc update.

PrestaShop version: 1.7.5.2
PHP version: 7.2

[2019-12-23 10:13] khouloudbelguith commented on #16901
Hi @azralth,

I did not manage to reproduce the issue with PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/1xjmwWQUiE0KuyyCR7fQ-TGJT7nfnBJVn/view
Could you please try to enable profiling mode
In your `Projetc_Folder/config/defines.inc.php`, you need to replace this

[code]

by this

[code]
When profiling mode is enabled, you should have information about the time needed to ru

[2019-12-23 10:18] khouloudbelguith commented on #16665
Hi @arouiadib,

Thanks a lot!
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-12-23 10:27] azralth commented on #16901
Hi,
I just found what is goin on. I use filesystem cache in this site. I just cleared the cache and now price is update instantly. This is wired. Why i have to cleared the cache to get the query instantly ...

I have not cleared it for 3 weeks.
Thanks

[2019-12-23 10:33] MathiasReker commented on #16877
I ran into this problem as well for 5 min ago. Clearing cookies solved the problem.

[2019-12-23 10:35] khouloudbelguith commented on #16877
@matteolavaggi, any news?

Thanks!

[2019-12-23 10:39] khouloudbelguith commented on #16901
@azralth, thanks for your feedback.
Since it is fixed, I will close the issue.
Feel free to open a new one hen needed.

Thanks!

[2019-12-23 10:39] #16901 closed, assigned to nobody

[2019-12-23 10:51] matteolavaggi commented on #16877
Clear cookie solve the problem, btw we where unable to identify the root
cause of the issue that affect every user that has a logged in session
station on the backoffice.
I think it can "easy" integrate a BO login page function that can check for
some corrupted cookies and show an allert on login fail attempt or store a
log in the exception log to allow site administrator find and debug issue
fast

[2019-12-23 11:27] khouloudbelguith opened #16903 "Ghost Product in the Monitoring Page"
**Describe the bug**
If you create a new product and directly leave to the dashboard, for example, the Monitoring page shows an empty product in the list of products

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Products => Click on "Add a new Product"
2. Leave the product page without saving
3. Go to the BO => Catalog => Monitoring page => you can see an empty product in all l

[2019-12-23 11:27] khouloudbelguith commented on #16903
Related to https://github.com/PrestaShop/PrestaShop/issues/9945

[2019-12-23 11:31] khouloudbelguith commented on #16903
ping @boubkerbribri

[2019-12-23 11:34] khouloudbelguith commented on #16877
@matteolavaggi, thanks for your feedback.
Can we close this issue & try to create a new improvement to describe your feature?

some corrupted cookies and show an allert on login fail attempt or store a
log in the exception log to allow site administrator find and debug issue
faster.

What do you think?

Thanks!

[2019-12-23 11:41] khouloudbelguith commented on #16845
@weddingtextile, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-12-23 11:44] matteolavaggi commented on #16877
Yes

Il giorno lun 23 dic 2019 alle ore 12:34 khouloudbelguith <
notifications@github.com> ha scritto:

--
cordialmente,
*FATTURAZIONE ELETTRONICA B2B*
Il nostro codice destinatario (alcuni lo chiamano “codice SDI”) è il
seguente: *M5UXCR1*

Matteo Lavaggi
CEO

ufficio +390245071999

[image: PrestaShop]
www.pineappleitaly.com/pineapplegroup

*PINEAPPLE® S.r.l.*
Capitale sociale €100.000 i.v.
SL: G

[2019-12-23 11:49] khouloudbelguith commented on #16877
@matteolavaggi, Thanks!
I will close the issue, feel free to open a new one when needed.

Thanks!

[2019-12-23 11:49] #16877 closed, assigned to nobody

[2019-12-23 12:12] LouiseBonnard opened #16904 "Remove the Franc CFA currency from the Ivory Coast + Senegal localization packs"
**Is your feature request related to a problem? Please describe:**

It has been stated this weekend that, in 2020, the Franc CFA currency will be replaced by the Eco currency.

🌍 _Which African countries are concerned?_

All the members of the Union Economique et Monétaire Ouest-Africaine (UEMOA): Benin, Burkina Faso, Ivory Coast, Guinea-Bissau, Mali, Niger, Senegal, Togo.

⏱ _When will it come in

[2019-12-23 12:48] #15506 closed, assigned to nobody

[2019-12-23 13:31] khouloudbelguith commented on #16845
@weddingtextile, you have a proxy error
![image](https://user-images.githubusercontent.com/16067358/71360657-d3f83980-2590-11ea-8169-0a2355ad6d7d.png)
It is a server issue, thanks to check with your host & feedback.

Thanks!

[2019-12-23 13:43] weddingtextile commented on #16845
Delete image, please!!!!

[2019-12-23 13:46] Jojo-Kaly commented on #16870
OK, I will try to contact my host.
Required parameters and optional parameters are OK.
Thank you, khouloudbelguith.

[2019-12-23 13:46] khouloudbelguith commented on #16845
@weddingtextile, done :)

[2019-12-23 13:49] khouloudbelguith commented on #16870
@Jojo-Kaly, thanks!
Waiting for your feedback.

[2019-12-23 13:50] Jojo-Kaly commented on #16889
I have 1-click upgrade v4.10.0.
I have backed up my Prestashop. So, I will try again to uprade it and provide you the log...
Thank you.

[2019-12-23 13:52] khouloudbelguith commented on #16889
@Jojo-Kaly, thanks!
Waiting for your feedback.

PS: As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.

[2019-12-23 13:55] evamariamontero commented on #16342
Hi,

I'm having the same error and my prestashop version is 1.7.6.2
Any idea on what to do?

Thank you!

[2019-12-23 14:17] eternoendless commented on #9757
Any change can produce regressions, no matter how small it is. Even it's just one character, it can produce unpredictable side effects as long as code is coupled and not covered by automated tests. Proof of that is that despite all our efforts, we end up having to release patch versions after each minor release.

This is why we try to be as strict as possible in terms of what goes in which version

[2019-12-23 14:22] kazzo commented on #16799
So, not yet. I wonder what should I ask about?
Thanks!

[2019-12-23 14:23] khouloudbelguith commented on #16799
@kazzo, about this error
`This error Primary script unknown\n` is related to your server.

Thanks!

[2019-12-23 14:28] khouloudbelguith commented on #9607
Hi,

It is fixed in the develop branch
https://drive.google.com/file/d/19fkUeUvO7mGi5I1hsGsz5djMaz5P8Ll2/view

Thanks!

[2019-12-23 15:39] azralth opened #16907 "Bug carrier in admin order creation"
When i try to create order in admin area, sometimes carrier can be choose, and sometime i can't choose any carrier.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to admin -> order
2. Click on create order
3. choose customer
4. Add a product
5 .Try to select carrier
![carrier](https://user-images.githubusercontent.com/552339/71366524-7ec52380-25a2-11ea-868a-38d010eaf006.png)

Other bug,

[2019-12-23 15:45] khouloudbelguith commented on #16907
Hi @azralth,

If PrestaShop Carriers Are Not Available, you need to check:

1. Carrier Is Inactive: PrestaShop carrier status is the first thing you should consider
Incorrect Zone Assign or Country Disabled: Zone association is among the first things to check if a created carrier does not show for a specific shopper. When configuring PrestaShop carrier you are supposed to assign it to zones, this

[2019-12-23 15:56] azralth commented on #16907
Hi,

Here more information :

Go to admin -> order
Click on create order
choose customer
Add a product
Update unit price product ---> Then the carrier appear

But normally, the carrier should be appear right after i add product on cart. Not when i update the price ...

[2019-12-23 15:57] weddingtextile commented on #16845
It is not a server issue.
You didn't see the real problem because "Apache optimization = True".
I set "Apache optimization = False" and a real error is in the log file:
[23-Dec-2019 17:38:07 Europe/Kiev] PHP Fatal error:  Maximum execution time of 120 seconds exceeded in /home/virtwww/w_wed***/http/classes/SpecificPrice.php on line 528

[2019-12-23 16:02] khouloudbelguith commented on #16907
@azralth, I did not manage to reproduce the issue with PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/1nUbYSvQjgj9SZJSwQvGxCSaUAWZY6ww5/view
Thanks to check & feedback.

[2019-12-23 16:06] azralth commented on #16907
Ok, this is normal behavior. But in my case, right after had the product, i can't get my carrier appear. I have to update the unit price to get them. I am on 1.7.5.2 prestashop version.

Maybe if i update the shop i get the fix ...

[2019-12-23 16:09] khouloudbelguith commented on #16907
@azralth, it is Ok with PS1.7.5.2 also
https://drive.google.com/file/d/1ESwZwrNGhopg_z1kHzw7sG1XBv77Myvf/view
Thanks!

[2019-12-23 16:12] khouloudbelguith commented on #16845
@weddingtextile, sorry, but I tried again & same issue occurs.
Thanks!

[2019-12-23 16:14] azralth commented on #16907
Ok so i have something wrong in my shop ...
[https://www.loom.com/share/b96f22549d014b799035cf1e428e0df6](url)

[2019-12-23 16:18] khouloudbelguith commented on #16907
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-

[2019-12-23 16:32] azralth commented on #16907
I already get the debug mod enable. I check all query in network and no error. Same with js in console, no error reported.
Here are some information :
![server](https://user-images.githubusercontent.com/552339/71369103-03677000-25aa-11ea-8c29-38a301f14aee.png)
I think first thing i have to do is update to the latest prestashop version and see if i can fix this problem.

[2019-12-23 16:34] weddingtextile commented on #16845
You can’t understand a real problem in the browser.
See info from log files.

PHP_errors.log:

[23-Dec-2019 18:20:28 Europe/Kiev] PHP Fatal error:  Maximum execution time of 120 seconds exceeded in /home/virtwww/w_wed***/http/classes/SpecificPrice.php on line 528

error_ul14_apache_aux1_19-12-23.log:

[Mon Dec 23 18:20:28 2019] [error] [client 31.202.111.85] proxy: Error reading from remote server

[2019-12-23 16:38] khouloudbelguith commented on #16845
@weddingtextile,

`Maximum execution time of 120 seconds`
IN your PHP info what is the exact value of `max_execution_time`?
![image](https://user-images.githubusercontent.com/16067358/71369400-f434f200-25aa-11ea-9790-8543296f0a9d.png)

Thanks!

[2019-12-23 16:40] khouloudbelguith commented on #16907
@azralth, As always, you can use the 1-click update v4.10.0 to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.

Thanks to check & feedback.

[2019-12-23 16:42] pnshurba opened #16910 "Free shipping in promocode"
I am creating  cart rules a free shipping promo code.  When customers use it, they don’t have any delivery methods displayed.  The system writes there are no available ways.
If delivery is paid and the promotion is not applicable then there are delivery methods.  please help me.

![5732C5F8-2748-4873-A99A-4652AAD6850E](https://user-images.githubusercontent.com/39360984/71369687-95787400-25bc-11ea-

[2019-12-23 17:04] weddingtextile commented on #16845
The algorithm is not working. More precisely, the algorithm is not working with my data.
I set the value of max_execution_time = 300, but this didn't solve the problem.

Here is the proof.
PHP_errors.log:
[23-Dec-2019 18:49:11 Europe/Kiev] PHP Fatal error:  Maximum execution time of 300 seconds exceeded in /home/virtwww/w_wed***/http/classes/SpecificPrice.php on line 528

error_ul14_apache_aux1_19

[2019-12-23 17:31] eternoendless commented on #16865
To my best understanding, once your shop becomes multilingual, all addresses without language are permanently redirected to `xxxx/it/rrrrr` even if you delete all other languages.

[2019-12-23 18:08] ibrahimfsasmaz commented on #16795
mine is like below, pls have a look

![Screen Shot 2019-12-23 at 21 07 38](https://user-images.githubusercontent.com/58822578/71373478-53552f80-25c8-11ea-919f-43d4ac635959.png)

[2019-12-23 18:13] ibrahimfsasmaz commented on #16795
I changed the filter id as varchar 255 but nothing has changed I still the error below at BO>Catalog>Categories

![Screen Shot 2019-12-23 at 21 11 28](https://user-images.githubusercontent.com/58822578/71373666-058cf700-25c9-11ea-8c56-fda41be531ac.png)

![Screen Shot 2019-12-23 at 21 11 47](https://user-images.githubusercontent.com/58822578/71373673-0a51ab00-25c9-11ea-855d-1b0d5cb0f50a.png)

[2019-12-23 19:09] jf-viguier commented on #11125
+1 I reall need this too

[2019-12-23 20:14] ElenaAlexi opened #16911 "Fresh install 1.7.6.2 unable to update settings on most products - client denied by server configuration"
I've installed Preshashop 1.7.6.2 and imported my database from 1.6 using phpadmin.

As described in the title, when I try to update a product , I get the error "unable to update settings on most products".

After checking the server error log, here's the error message that is generated when the product can't be updated:
`[Mon Dec 23 22:10:43.603776 2019] [authz_core:error] [pid 11817:tid 47270288

[2019-12-23 22:11] fukawi2 commented on #16896
Thanks for the rapid response :)
Yes, I can confirm your test script works. As mentioned, I was doing the wrong thing and supplying `<name>` without with the associated `<language>` tag - the server should probably handle this invalid data a little more gracefully rather than throwing PHP errors?

[2019-12-23 23:40] maofree commented on #16865
Hi
I've tested this problem on a demo site
you can do it easily
1) use a multi-language site
2) go to the front-office site in a product page
3) disable all languages except the default one
4) now reload the product page
5) now you will get a 404 error

the problem is simple, there is not a redirect to the default url without iso code
the best solution is to remove the iso code from the url for de

[2019-12-24 01:01] mvorisek opened #16912 "Very slow LegacyTests\Integration\Core\Localization\LocaleUsageTest:testItShouldFormatNumbers"
**Is your feature request related to a problem? Please describe.**
LegacyTests\Integration\Core\Localization\LocaleUsageTest:testItShouldFormatNumbers test is very slow, it takes consistently about 60 seconds, example:
[code]
and the other tests take no more than 5 seconds. This should be fixed to make the tests about 15% overall faster.

**Describe the solution you'd like**
Reduce the test time t

[2019-12-24 07:48] khouloudbelguith commented on #16516
Hi @osamachihadeh,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-24 07:48] #16516 closed, assigned to nobody

[2019-12-24 07:49] khouloudbelguith commented on #16221
Hi @richo8,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-24 07:49] #16221 closed, assigned to nobody

[2019-12-24 08:05] khouloudbelguith commented on #16910
Hi @pnshurba,

First PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Please downgrade

[2019-12-24 08:11] khouloudbelguith commented on #16912
Hi @mvorisek,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-12-24 08:12] shana0780 opened #16913 "Problem after upgrade to Prestashop 1.7.6.2."
I have problems after the update

When I click on add an article to the cart, the cart is empty
Unable to click on the button "add a file" to change the image in the slider
Unable to add or remove something in the topmenu. The topmenu doesn't appear on the website.
When I try to change an url in SEO & URL, I have the following error Une erreur inattendue s'est produite. [PrestaShopException code 0

[2019-12-24 08:13] shana0780 commented on #16913
![lovingscrap_cart](https://user-images.githubusercontent.com/59194234/71402619-b0370100-262d-11ea-9624-243c45142c48.jpg)
![lovingscrap_topmenu](https://user-images.githubusercontent.com/59194234/71402622-b0cf9780-262d-11ea-94ce-a835180e1614.jpg)

[2019-12-24 08:36] khouloudbelguith commented on #16896
@fukawi2, I tried with this XML sent
[code]
https://drive.google.com/file/d/1UR0tC_llJerzviyZ-PXAQc--PWZ681vK/view

And it is OK
Thanks to check & feedback.

[2019-12-24 08:38] khouloudbelguith commented on #16913
Hi @shana0780,

What is the exact previous version PrestaShop did you use before the upgrade?
What is the exact version of the 1-click upgrade did you use?
Have you any errors during the upgrade?

Thanks!

[2019-12-24 08:38] fukawi2 commented on #16896
Interesting. I'm away from computers until next week, I'll have a look
then.

Sent from my phone, please excuse my brevity.

On Tue, 24 Dec. 2019, 19:36 khouloudbelguith, <notifications@github.com>
wrote:

[2019-12-24 08:39] shana0780 commented on #16913
I was the version 1.6.1.8

[2019-12-24 08:40] shana0780 commented on #16913
During the upgrade, I have some error in yellow in the database.  I also have many errors on the website but I have corrected everything by changing some files.

[2019-12-24 08:49] khouloudbelguith commented on #16913
@shana0780, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
You need to force refresh the page, by pressing CTRL+F5 on Windows / Linux, Cmd+R on Mac OS while you are on this page.

Thanks!

[2019-12-24 08:51] khouloudbelguith commented on #16896
@fukawi2, thanks!
Waiting for your feedback.

[2019-12-24 08:53] shana0780 commented on #16913
Already done, and many times. But still the same.

I also try the following
Disable all the modules and activate one by one to see if the problem is coming from one of them
Disable the ajax cart
I'm using the Classic theme
Change the PHP version, I'm in PHP 7.2 (I try with 7.1, 7.0)

[2019-12-24 09:07] khouloudbelguith commented on #16913
@shana0780,

You need to install the `blocktopmenu` (Module for PS 1.6) & install the `ps_mainmenu` (Module for PS 1.7)

Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2019-12-24 09:11] shana0780 commented on #16913
[log.txt](https://github.com/PrestaShop/PrestaShop/files/3997794/log.txt)

I try to change the menu but I'm making a backup of the website with FTP.

[2019-12-24 09:23] khouloudbelguith commented on #16913
@shana0780, there is no errors in the file.
Here are some things you can try :

1/ Clear your browser cache and your cookies

2/ Check PS_SHOP_DOMAIN and PS_SHOP_DOMAIN_SSL in ps_configuration table

3/ Manually clear smarty cache: remove all files from /var/cache/

4/ Disable the IP check in classes/Cookie.php (this can cause many issues with dynamics IP)

5/ Into the path /PROJECT_FOLDER/classes

[2019-12-24 09:31] khouloudbelguith commented on #16795
@ibrahimfsasmaz, I need to check in your structure, that they are not null
![image](https://user-images.githubusercontent.com/16067358/71406277-f3966d00-2637-11ea-8509-8cd9cac7d77e.png)
Thanks!

[2019-12-24 09:34] khouloudbelguith commented on #16845
@weddingtextile,

How many categories related to a product, I need to reproduce the issue in my local.

Thanks!

[2019-12-24 09:52] shana0780 commented on #16913
Clear cache and cookies : OK
PS-SHOP I don't see such files in the database
Clear cache OK
Classes cookie.php ? where can i disable the IP check ?
Admincontroller OK change

and now I have an error when I try to open the website and the admin
![lovingscrap_error](https://user-images.githubusercontent.com/59194234/71407525-8a185d80-263b-11ea-92d3-8cb3a05fb86a.jpg)
![lovingscrap_table](https://user-

[2019-12-24 09:53] khouloudbelguith commented on #16911
Hi @ElenaAlexi,

`AH01630: client denied by server configuration`
This error occurs in particular if you update your server to version 2.4 without having modified the configuration file beforehand.
Since version 2.4, access is managed by the new mod_authz_host module, which also manages all other authorization checks. The new directives to use are "Require any", "Require all" and "Require none". T

[2019-12-24 09:53] #16911 closed, assigned to nobody

[2019-12-24 09:54] khouloudbelguith commented on #16913
@shana0780, this is a cache issue.
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-12-24 09:58] shana0780 commented on #16913
It's done, but now I can open the website but error on the admin

![lovingscrap_admin](https://user-images.githubusercontent.com/59194234/71407811-5c7fe400-263c-11ea-9a21-6cef024f89ec.jpg)
![lovingscrap_var](https://user-images.githubusercontent.com/59194234/71407812-5c7fe400-263c-11ea-988b-210a7b336f42.jpg)

[2019-12-24 10:15] shana0780 commented on #16913
If I change the AdminController by the first one, It's OK for the admin.

Now I have the topmenu, but the cart doesn't work.
The slider, it's OK now.

But I have another problem now.  I see the menu and when I click on a category in
![lovingscrap_category](https://user-images.githubusercontent.com/59194234/71408477-b5e91280-263e-11ea-93a6-a307d373bfc8.jpg)
"Products" (I have translated the word Ho

[2019-12-24 10:25] jf-viguier commented on #16367
@nenes25 I've started a PR https://github.com/PrestaShop/PrestaShop/pull/16880
Join the discussion

[2019-12-24 10:29] weddingtextile commented on #16845
See https://github.com/PrestaShop/PrestaShop/issues/16845#issuecomment-567409214

Maybe I didn’t delete all the additional categories links.
You have access to my data and can write a query to the database (I do not know from which tables select data).
Everything worked before the update. Faceted Search version was 2.2.0.

[2019-12-24 10:42] khouloudbelguith commented on #16913
@shana0780, I checked your log file & all files are well copied
[code]

Thanks!

[2019-12-24 10:44] ElenaAlexi commented on #16911
Hi @khouloudbelguith ,

thanks for your response.
It's not possible to contact my host at the moment, so I was wondering if you can clarify something.
Do you mean that this line needs to be replaced in the htaccess file of the img directory?

Many thanks in advance,
Elena

[2019-12-24 11:06] khouloudbelguith commented on #16845
@weddingtextile, With this SQL command:
`select * from ps_category_product ORDER BY id_product`, you can get all products associated to categories.
For each product, you have 2 or 3 categories.

Thanks to check & feedback.

[2019-12-24 11:07] shana0780 commented on #16913
I have looked via FTP and all the files are OK but impossible to see the products in a category and the cart is still at 0 when I add a product in the cart :(

[2019-12-24 11:08] khouloudbelguith commented on #16911
@ElenaAlexi, if you are using a virtual host, you can add it to your conf file.
In my case
[code]
Thanks!

[2019-12-24 11:22] LouiseBonnard commented on #16783
Hi @mrabsinthe, and thank you very much @khouloudbelguith! About the three improvement ideas:

1. Great idea!
2. It is already possible to create (by copy-pasting a text, not by loading like importing a text file) a predefined reply via the Customer Service > Order Messages page, and it can also be handled through the messages panel of the order page.
3. Are you talking about the front office or t

[2019-12-24 11:44] ibrahimfsasmaz commented on #16795
this is what I display

![Screen Shot 2019-12-24 at 14 43 32](https://user-images.githubusercontent.com/58822578/71411792-df646700-265b-11ea-8fde-d594268d5caf.png)
![Uploading Screen Shot 2019-12-24 at 14.43.39.png…]()

[2019-12-24 12:08] shana0780 commented on #16913
For the cart, I also try to replace ps_shoppingcart with the one I can find in the downloaded files of prestashop 1.7 but it doesn't work. Still at 0 when I try to add a product.

[2019-12-24 12:37] ibrahimfsasmaz commented on #16795
ok I installed phpmyadmin and this is what I display

![Screen Shot 2019-12-24 at 15 35 05](https://user-images.githubusercontent.com/58822578/71413397-0d00de80-2663-11ea-98d8-49ea6b903caf.png)

[2019-12-24 12:41] khouloudbelguith commented on #16913
@shana0780,

About this problem, it is a bookies issue.
Did you tried this solution
https://github.com/PrestaShop/PrestaShop/issues/16913#issuecomment-568704286
Thanks!

[2019-12-24 12:43] shana0780 commented on #16913
yes but for one I don't where I have to change

4/ Disable the IP check in classes/Cookie.php (this can cause many issues with dynamics IP)

[2019-12-24 12:47] shana0780 commented on #16913
I find this text but i don't know what to change

            && (!isset($this->_content['remote_addr']) || $this->_content['remote_addr'] == ip2long(Tools::getRemoteAddr()) || !Configuration::get('PS_COOKIE_CHECKIP'));

[2019-12-24 13:00] khouloudbelguith commented on #16913
@shana0780, you can disable it from the BO
![image](https://user-images.githubusercontent.com/16067358/71414093-a7f2bc00-2655-11ea-9021-2955cb535fca.png)

Thanks!

[2019-12-24 13:04] shana0780 commented on #16913
Done but still the same.
I also try to desactivate the debug mode, but nothing change.

But I also see that it's not possible to click on the cart button

[2019-12-24 13:26] khouloudbelguith commented on #16913
@shana0780, could you please check if you have some override not compatible with your shop.

Thanks!

[2019-12-24 13:34] shana0780 commented on #16913
I delete the folder override to replace it with the folder find in the zip files of PS 1.7.6.2. Nothing change.

[2019-12-24 13:35] shana0780 commented on #16913
I have remove the maintenance mode so you can see the website https://www.lovingscrap.com/

[2019-12-24 13:42] khouloudbelguith commented on #16913
@shana0780, The oddest thing is that “/themes/your_theme/category.tpl” is a file for PrestaShop1.6.
You are using Prestashop 1.7, but it seems there are some files for Prestashop 1.6 loaded.
Thanks!

[2019-12-24 13:54] eternoendless commented on #16865
You're right @maofree and to me that's a bug.

Short recap: when you disable other languages, old product URLs (with language code) aren't redirected to the new URL (without language code).

Ping @colinegin @marionf

[2019-12-24 14:01] khouloudbelguith commented on #16795
@ibrahimfsasmaz, could you please check if you have an override of the class `HTMLTemplateOrderSlipCore`?

Thanks!

[2019-12-24 14:15] shana0780 commented on #16913
yes that's what I have in the beginning. I have to replace some files to remove all the errors.  But here I don't which one I have to replace.
I'm looking for a solution on google but nothing for the moment.

[2019-12-24 14:19] kazzo commented on #16799
My host said:

So, I'm on my own?
Thanks & Merry Xmas.

[2019-12-24 14:23] khouloudbelguith commented on #16913
@shana0780, this file /themes/your_theme/category.tpl doesn't exit in PrestaShop1.7: https://github.com/PrestaShop/PrestaShop/tree/1.7.6.2/themes/classic
try to rename this file in your case.

Thanks!

[2019-12-24 14:25] Jojo-Kaly commented on #16889
The logs are in attached file.
At a time, a message asked me "Do you want to restore V1.7.5.2... ?". After this, the upgrade stop it.
Thank you for your help.
<img width="1440" alt="Capture d’écran 2019-12-24 à 15 10 14" src="https://user-images.githubusercontent.com/59056657/71416637-944d5280-2661-11ea-93c7-7d84cd0a9e21.png">
![Uploading Capture d’écran 2019-12-24 à 15.10.45.png…]()

[log.txt

[2019-12-24 14:26] LouiseBonnard commented on #15424
Hello @vvvamik,

thanks for bringing up this issue we will need to study! Could you please add it to the [User Voice](http://feedback.prestashop.com/forums/387864-prestashop-1-7-x) so that the community can vote for it if they consider this idea useful? I will help us realize how requested is this feature and, why not, add it to the roadmap. ;-)

[2019-12-24 14:27] shana0780 commented on #16913
No it doesn't exist and I try to copy the file from my backup (PS 1.6) but nothing change.

[2019-12-24 14:32] marionf commented on #16865
Yes, I think I have already seen an issue like this but can't find it

[2019-12-24 14:35] khouloudbelguith commented on #16913
@shana0780,

This error is displayed at the beginning or it is displayed after some modifications?

Thanks!

[2019-12-24 14:38] shana0780 commented on #16913
In the beginning, I don't have the menu on the homepage and it's impossible to do something (move or remove somethibngp.  The menu appears after the change I make today (the change you ask me to do).  And then I try to go to a category, and I have an error

[2019-12-24 14:41] khouloudbelguith commented on #16889
@Jojo-Kaly, it is a size problem during the upgrade of your Database.
Thanks to check your configuration in the `php.ini` file & try to increase them

[code]

Thanks!

[2019-12-24 14:41] #14588 closed, assigned to nobody

[2019-12-24 14:45] khouloudbelguith commented on #16913
@shana0780,

As explained in this comment: https://github.com/PrestaShop/PrestaShop/issues/16913#issuecomment-568715421
The issue occurs
The AdminController is replaced by the original one (PS1.6) or from fresh install PS1.7.6.2?

Thanks!

[2019-12-24 14:49] shana0780 commented on #16913
No it's OK. I have seen my error (double i on if). Now it works.
![Sans titre-2](https://user-images.githubusercontent.com/59194234/71417316-f491c380-2664-11ea-92cc-b4ea5b6e0201.jpg)

[2019-12-24 14:53] khouloudbelguith commented on #16913
@shana0780, so the issue is fixed?

Thanks!

[2019-12-24 14:53] shana0780 commented on #16913
no still cart 0 and error on category page.

[2019-12-24 14:58] khouloudbelguith commented on #16913
@shana0780, about this error, We need more details to understand how we can reproduce your issue:
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Thanks!

[2019-12-24 14:59] cins06 commented on #15283
Hello, I have the same problem ! i have a question where i create this file to try :  check_phpinfo.php file and Write this PHP Code:

<?php

// Show all information, defaults to INFO_ALL
phpinfo();

?>
Then Navigate to Url like www.example.com/check_phpinfo.php and It will show you PHP file in the server

Thank you soo much

[2019-12-24 15:02] khouloudbelguith commented on #15283
Hi @cins06,

Thanks to follow this link: https://mediatemple.net/community/products/dv/204643880/how-can-i-create-a-phpinfo.php-page

Thanks!

[2019-12-24 15:08] shana0780 commented on #16913
![Sans titre-2](https://user-images.githubusercontent.com/59194234/71417803-a631f400-2667-11ea-83e7-d9aedf24f21d.jpg)

[2019-12-24 15:10] shana0780 commented on #16913
![Sans titre-2](https://user-images.githubusercontent.com/59194234/71417846-e5604500-2667-11ea-8bc2-3d25d729b895.jpg)

[2019-12-24 15:12] shana0780 commented on #16913
en some logs from var/logs

[dev.log](https://github.com/PrestaShop/PrestaShop/files/3998611/dev.log)
[20191222_exception.log](https://github.com/PrestaShop/PrestaShop/files/3998613/20191222_exception.log)
[20191224_exception.log](https://github.com/PrestaShop/PrestaShop/files/3998615/20191224_exception.log)
[prod.log](https://github.com/PrestaShop/PrestaShop/files/3998616/prod.log)

[2019-12-24 15:25] shana0780 commented on #16913
For the Cart it's OK.
I say "No" to Geolocation and now the cart is working.

The last problem (I hope) to solve, the category

[2019-12-24 15:47] ibrahimfsasmaz commented on #16795
I do not have that override
![Screen Shot 2019-12-24 at 18 46 27](https://user-images.githubusercontent.com/58822578/71418855-c79dda80-267d-11ea-882e-ef59324585a5.png)

[2019-12-24 15:49] khouloudbelguith commented on #16795
@ibrahimfsasmaz, thanks to check under the `pdf` folder.

[2019-12-24 15:51] ibrahimfsasmaz commented on #16795
![Screen Shot 2019-12-24 at 18 51 02](https://user-images.githubusercontent.com/58822578/71418974-5f9bc400-267e-11ea-99ee-d3e6d4859319.png)

[2019-12-24 15:59] khouloudbelguith commented on #16795
@ibrahimfsasmaz, exactly, you have 4 overrides.
![image](https://user-images.githubusercontent.com/16067358/71419202-85b96800-266e-11ea-8f12-f153c8605f68.png)
By default, those files do not exist: https://github.com/PrestaShop/PrestaShop/tree/1.7.6.2/override/classes/pdf
You need to check those overrides are provided by which module & check the compatibility.

Thanks to check & feedback.

[2019-12-24 16:01] khouloudbelguith commented on #16913
@shana0780, the category issue isn't solved in this comment:
https://github.com/PrestaShop/PrestaShop/issues/16913#issuecomment-568761223
Thanks!

[2019-12-24 16:01] shana0780 commented on #16913
unfortunately no, not resolved.

[2019-12-24 16:03] khouloudbelguith commented on #16913
@shana0780,

As explained in this comment: https://github.com/PrestaShop/PrestaShop/issues/16913#issuecomment-568715421
The issue occurs
The AdminController is replaced by the original one (PS1.6) or from fresh install PS1.7.6.2?

Thanks!

[2019-12-24 16:05] shana0780 commented on #16913
By the file from PS 1.7.6.2. and I have change the number 900 by 3600

[2019-12-24 16:33] khouloudbelguith commented on #16913
@shana0780, I uploaded here, the default classic theme
[classic2.zip](https://github.com/PrestaShop/PrestaShop/files/3998728/classic2.zip)
I just rename it to be not a duplicate.
Thanks to upload it & use it.

[2019-12-24 16:33] khouloudbelguith commented on #16799
Hi @kazzo,

Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to contact our support team: http://addons.prestashop.com/en/388-support to help you solve your issue.

Thanks!

[2019-12-24 16:33] #16799 closed, assigned to nobody

[2019-12-24 17:09] shana0780 commented on #16913
I have the same error after downloading the theme.

[2019-12-24 17:14] ibrahimfsasmaz commented on #16795
I do not think that there is a relation between these files and the problem. Even if I rename/remove them the problem is not fix

![Screen Shot 2019-12-24 at 20 13 15](https://user-images.githubusercontent.com/58822578/71421101-d8ece400-2689-11ea-82c5-6261843d4440.png)

[2019-12-24 18:05] Jojo-Kaly commented on #16889
I don't found the php.ini file. Should I create it ? What values should I put in it ?
Thank you.

[2019-12-24 18:19] shana0780 commented on #16913
Everything is OK now.
For the category, I delete in controllers/front the file CategoryController.php
Now it works.

Thank you very much for you help and have a Merry Christmas.

[2019-12-24 19:13] ibrahimfsasmaz commented on #16795
I installed a new module and now it is completely gone.... perfect ! wonderful !
full of bugs

![Screen Shot 2019-12-24 at 22 07 40](https://user-images.githubusercontent.com/58822578/71423358-fe81e980-2699-11ea-9039-7e4f8fc35b88.png)

![Screen Shot 2019-12-24 at 22 07 50](https://user-images.githubusercontent.com/58822578/71423359-03df3400-269a-11ea-970c-a7438bd05649.png)

![Screen Shot 2019-12-2

[2019-12-24 19:30] shana0780 opened #16916 "FO - error when opening order history and contact"
**Additional information**
PrestaShop version: 1.7.6.2.
PHP version: 7.2

After the upgrade from 1.6.1.8 to 1.7.6.2., i have now a problem with the opening of order history and contact.

![order](https://user-images.githubusercontent.com/59194234/71423821-413cc500-268c-11ea-98e5-7c85550603a8.jpg)
![contact](https://user-images.githubusercontent.com/59194234/71423822-41d55b80-268c-11ea-9ee4-fed2302

[2019-12-24 21:02] shana0780 commented on #16916
This is the complete error for the contact form.

(1/1) ContextErrorExceptionNotice: Undefined index:
--
in Order.php line 944
at OrderCore::getCustomerOrders(64)in contactform.php line 391
at Contactform->getTemplateVarOrders()in contactform.php line 326
at Contactform->getWidgetVariables(null, array())in contactform.php line 275
at Contactform->renderWidget(null, array())in Hook.php line 975
at 

[2019-12-25 08:46] khouloudbelguith commented on #16916
Hi @shana0780,

I think that during the upgrade some records of `ps_order_history` are missing in your case.
Try to change the following lines solves the problem in this file: `PrestaShop/classes/order/Order.php`

[code]

to

[code]

Thanks to check & feedback.

[2019-12-25 08:48] khouloudbelguith commented on #16913
@shana0780, Great!
Since it is fixed, I will close the issue, feel free to open a new one when needed.

Thanks & Merry Christmas!

[2019-12-25 08:48] #16913 closed, assigned to nobody

[2019-12-25 08:51] khouloudbelguith commented on #16795
@ibrahimfsasmaz,

You need to clear the cache manually by deleting all the folders into var/cache (prod & dev) after renaming those files.

full of bugs

What is the exact module did you installed? is it Advanced Pack?

Thanks!

[2019-12-25 08:53] khouloudbelguith commented on #16889
@Jojo-Kaly, no it is a configuration file: https://www.php.net/manual/en/configuration.file.php
You can check your host for more details.

Thanks!

[2019-12-25 10:10] shana0780 commented on #16916
Thank you very much Khouloud.
It's working now :)

I hope it's the last time.

Happy holidays

[2019-12-25 10:15] khouloudbelguith commented on #16916
@shana0780, you are welcome!
I close the issue, feel free to open a new one when needed.

Thanks & Happy holidays!

[2019-12-25 10:15] #16916 closed, assigned to nobody

[2019-12-25 10:58] ibrahimfsasmaz commented on #16795
ok I removed all had created a new clone copy from the beginning...

Now what I have is that 1.7.5.1 upgraded to 1.7.6.2 with 1-click upgrade and I have same error.

[2019-12-25 11:01] khouloudbelguith commented on #16795
Hi @ibrahimfsasmaz,

In order to avoid problems, remember to check the compatibility of your modules and theme & overrides beforehand.
As explained here: https://github.com/PrestaShop/PrestaShop/issues/16795#issuecomment-568771079, try to rename those overrides & you need to clear the cache manually by deleting all the folders into var/cache (prod & dev) after renaming those files.

Thanks!

[2019-12-25 11:03] shana0780 opened #16918 "BO - Impossible to open an order (after upgrade 1.7.6.2.)"
**Additional information**
PrestaShop version: 1.7.6.2
PHP version: 7.2

Hello,

After downloading the module Paypal, it's impossible to open the orders in the back-office.

![image](https://user-images.githubusercontent.com/59194234/71443954-565a3800-270e-11ea-8117-44f8973f3cfe.png)

and it's the same if I try to download invoices per date

![image](https://user-images.githubusercontent.com/59194

[2019-12-25 11:05] khouloudbelguith commented on #16918
Hi @shana0780,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account: https://addons.prestashop.com/en/contact-us?id_product=1748, they are the only ones to help you with it.
Thanks!

[2019-12-25 11:05] #16918 closed, assigned to nobody

[2019-12-25 15:23] mrabsinthe commented on #16783
@LouiseBonnard thanks for your reply.
2. It is of course possible to copy a pre-defined message from "Order messages", however it is way too complicated with so many extra steps required:

1/ go to order messages
2/ select a message
3/ copy message
4/ go back to customer service
5/ select a message
6/ paste reply

Don't you think it is way too much if you need to reply a customer query? It would b

[2019-12-25 16:16] khouloudbelguith commented on #16529
Hi @krystian-3c,

When using this environment: Windows 10 - Ubunutu 18.04TLS, did you find any problems during the Mysql installation?
In my case, the MySQL service cannot be started.

Thanks!

[2019-12-25 19:29] arouiadib commented on #16841
@danielducu Thank you for directly pointing the right function that creates the issue. However, `$product['id_product']` exists. It is equal to NULL for a deleted product, which makes the `$key` string not complete and consequently the `in_array` returns false.

It is $product['product_id'] that should be used, please to look at the [PR](https://github.com/PrestaShop/PrestaShop/pull/16919).

[2019-12-25 19:34] danielducu commented on #16841
Yeah, I was just pointing to where the comparison was failing. I fixed the issue for my version.

[2019-12-25 22:01] ibrahimfsasmaz commented on #16795
nothing works....
Is there another way to migrate to a clean 1.7.6.2 without loosing any data or module or theme pls ?

[2019-12-26 05:44] Anthotill opened #16920 "Private note about customer from order page (new)"
**Describe the bug**
After upgrading PS version from 1.7.5.2 to 1.7.6.2 using 1-Click Upgrade, when we add a private note **from the order page** => ?controller=AdminOrders&vieworder=&id_order=XXX the private note is not saved. It doesn't work only on order page, not on customer information page

**To Reproduce**
Steps to reproduce the behavior:

1. Go to order and display an order => ?controller=

[2019-12-26 07:56] khouloudbelguith commented on #16537
Hi @langziyang,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-26 07:56] #16537 closed, assigned to nobody

[2019-12-26 07:57] khouloudbelguith commented on #16540
Hi @PrestaworksNiklas,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-26 08:05] khouloudbelguith commented on #16795
@ibrahimfsasmaz, before upgrading, you need to check if your modules & your theme & your overrides are compatible with the new release PS1.7.6.2.
So, if your overrides are not compatibles for example with PS1.7.6.2 => you will have a lot of issues, that's the problem.

In your case, as I said before, some overrides occurs a lot of problems & your last module has issues with PS1.7.6.2 also, you nee

[2019-12-26 08:24] khouloudbelguith opened #16921 "The alert success is not correct when deleting files with Bulk action"
**Describe the bug**
In the BO => Catalog => files => when we delete files with bulk action, the alert-success is not correct.
It is displayed "Successful deletion."
![image](https://user-images.githubusercontent.com/16067358/71466841-1738ef00-27c1-11ea-8839-4372798202ea.png)

It should be "The selection has been successfully deleted."
![image](https://user-images.githubusercontent.com/16067358/71

[2019-12-26 08:24] khouloudbelguith commented on #16921
Ping @nesrineabdmouleh

[2019-12-26 08:25] khouloudbelguith commented on #16921
Ping @matks

[2019-12-26 08:53] NeOMakinG commented on #14431
This is a translation mistake in Admin.Catalog.Help file, I think there are too much quotes, these quotes should be html encoded like this : &quot; , I asked to join the translation team in order to fix this, waiting !

[2019-12-26 08:59] khouloudbelguith commented on #16920
Hi @Anthotill,

I did not manage to reproduce the issue with PS1.7.6.2 after an upgrade from PS1.7.5.2 using the 1-click upgrade v4.10.0.
I attached a screen record
https://drive.google.com/file/d/1P0OgoUNguWBzpTNZ_BfLriV2E1yXrWW2/view
Thanks to check & feedback.

[2019-12-26 09:29] ibrahimfsasmaz commented on #16795
which module do you mean pls ? I can remove that or ask to developer ? If I remove that the issue will be fixed ?

[2019-12-26 09:34] khouloudbelguith commented on #16795
@ibrahimfsasmaz, according to this comment: https://github.com/PrestaShop/PrestaShop/issues/16795#issuecomment-568792924
You have issues after installing a module, isn't? this module.

Also, you need to check what are the modules that create those overrides
![image](https://user-images.githubusercontent.com/16067358/71470000-2329ae80-27cb-11ea-86c6-f06cb68242a1.png)

Thanks!

[2019-12-26 09:38] tfayolle commented on #14071
Up :)

[2019-12-26 09:58] ibrahimfsasmaz commented on #16795
no there is a misunderstanding there is no relation with that module..

without installing any module with 1-click upgrade I have several issues from 1.7.5.1 to 1.7.6.2.
even if I upgrade the faceted search and all other modules the problem has not fixed..

I am having 500 error when try access BO>Catalog>Categories and several other links at backend..

After all while nothing has fixed I tried to

[2019-12-26 10:07] khouloudbelguith commented on #16795
@ibrahimfsasmaz,

and after installing the module the site completely stopped working

About this module, you should contact the module author via your addons.prestashop.com account about these new errors

even if I upgrade the faceted search and all other modules the problem has not fixed

At last, you have these issues
![image](https://user-images.githubusercontent.com/16067358/71471405-af3dd500

[2019-12-26 10:18] NeOMakinG commented on #14431
Removed extra double quotes in translation, should be fixed when translations will be update

[2019-12-26 10:50] hzouba opened #16924 "Admin Panel HTTP 500 internal server error in Prestashop 1.7.6.2"
Hello,

Everything worked perfectly until i did translate a word in the classic theme from English to French and i cleared the cache, then it's happened, a 500 error only in the dashboard, the front is OK, but in Debug Mode ON the dashboard is working, only when it's OFF it's not OK.

When Debug Mode is ON i did not see any weird errors in my browser, but when i checked the error logs it show this

[2019-12-26 11:02] khouloudbelguith commented on #16924
Hi @hzouba,

"1G" is not a valid maximum size.
Thanks to change it to 1000M for example, check & feedback.

Thanks!

[2019-12-26 11:06] zinebnouari commented on #13029
Hey can you please tell me what was your solution?

[2019-12-26 11:10] hzouba commented on #16924
Hi @khouloudbelguith

I guess it's what Prestashop shows, but in my php.ini the values are like this :

max_input_vars = 5000
allow_url_fopen = On
allow_url_include = Off
asp_tags = Off
display_errors = Off
enable_dl = Off
file_uploads = On
max_execution_time = 30
max_input_time = 60
memory_limit = 256M
post_max_size = 128M
session.gc_maxlifetime = 1440
upload_max_filesize = 128M
zlib.output_compr

[2019-12-26 11:21] khouloudbelguith commented on #16924
@hzouba, that's ok.
Thanks!

You have an error in the new-thems folder & not the classic theme, is it a custom theme?

Thanks!

[2019-12-26 11:33] hzouba commented on #16924
No, the new-theme is an administration theme right ?
It seems that what i did with the translation in the classic theme to test things, triggered the error, because as i said everything worked fine before that.

[2019-12-26 12:04] khouloudbelguith commented on #16924
@hzouba, in my case, I did not manage to reproduce the issue with PS1.7.6.2.
I attached a screen record
https://drive.google.com/file/d/11TlQzWEbW7veoup12TX7Xs4-MQruSS5Y/view
Could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-12-26 12:49] francct opened #16925 "Impossible to show product in different categories"
**Describe the bug**
Hi,
I have only selected one subcategory on several products, but they are also visible on the mother category page. How can I show the products only in the categories I have selected (even multiple)?

I tried to deactivate "show products from subcategories" through the "Faceted search" module, but in this case the product is only visible in the default category. I want to sho

[2019-12-26 13:12] matks commented on #16353
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16729

[2019-12-26 13:12] #16353 closed, assigned to PierreRambaud

[2019-12-26 13:13] #14398 closed, assigned to NeOMakinG

[2019-12-26 13:15] matks commented on #16730
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16746

[2019-12-26 13:15] #16730 closed, assigned to PierreRambaud

[2019-12-26 13:15] khouloudbelguith commented on #16925
Hi @francct,

The button "Show products from subcategories" is here to only display products that are in the "Main category" not the latest one.
Otherwise where it should be displayed if you have this:
![image](https://user-images.githubusercontent.com/1462701/58570390-2dd19480-8238-11e9-8d30-98d955a13485.png)
![image](https://user-images.githubusercontent.com/1462701/59031604-70145a80-8864-11e9-9

[2019-12-26 13:17] matks commented on #16829
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16888

[2019-12-26 13:17] #16829 closed, assigned to jolelievre

[2019-12-26 13:37] AbdulRehmanYounas opened #16926 "ContextErrorException on local host"
**Describe the bug**
When I move PrestaShop form server to localhost. Everything work fine but when I click on admin site module & service or advance parameter>performence. Its show me 500 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/58478086/7147

[2019-12-26 13:40] khouloudbelguith commented on #16926
Hi @AbdulRehmanYounas,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Please downgra

[2019-12-26 13:54] francct commented on #16925
Hi @khouloudbelguith, thanks for your reply!
I'm sorry, I misspelled "default category" instead of "main category"

Anyway this is the situation:
I have two products setted in this way
![t-shirt](https://user-images.githubusercontent.com/59253436/71478102-1c606300-27ee-11ea-8351-2bb8d7ed5778.png)
![sweater](https://user-images.githubusercontent.com/59253436/71478101-1c606300-27ee-11ea-8f5b-4f01ac6

[2019-12-26 14:24] khouloudbelguith commented on #16925
@francct,

Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/14003#issuecomment-499420416
So, I close it.
Thanks!

[2019-12-26 14:24] #16925 closed, assigned to nobody

[2019-12-26 14:24] khouloudbelguith commented on #16925
Duplicate of https://github.com/PrestaShop/PrestaShop/issues/14003

[2019-12-26 14:27] khouloudbelguith commented on #14003
Hi @colinegin, @marionf,

We need also to specify those cases:

I have two products set in this way
![t-shirt](https://user-images.githubusercontent.com/59253436/71478102-1c606300-27ee-11ea-8351-2bb8d7ed5778.png)
![sweater](https://user-images.githubusercontent.com/59253436/71478101-1c606300-27ee-11ea-8f5b-4f01ac6cf09e.png)

I want to show "t-shirt" in both "men and clothes categories".
Instead, I

[2019-12-26 14:31] LouiseBonnard commented on #16783
@mrabsinthe, thanks! I agree with those three points which are nice improvements for the Customer Service page - a page that will be migrated in the next few months, meaning we might have the chance to rework a few elements. I reference your issue in the migration document!

[2019-12-26 14:45] ZamperSPA opened #16929 "htmlspecialchars expects parameter 1 to be string, array given"
update the  module: Faceted Search and website stops responding

**To Reproduce**
Steps to reproduce the behavior:
1. Update module faceted from 3.0.6 to 3.4
2. open any category

**Screenshots**
![imagen](https://user-images.githubusercontent.com/40174130/71479111-e57c5400-27d1-11ea-8df6-b03e3cdf67b9.png)
Log: [https://pastebin.com/BiamYGyC](https://pastebin.com/BiamYGyC)
![imagen](https://user-i

[2019-12-26 14:50] francct commented on #14003
Hi, @khouloudbelguith
I need to say a clarification.

It shows correctly both products, when "Show products from subcategories" is enabled.

The problem is when "Show products from subcategories" is disabled, because it doesn't show any product. In this specific case it should only show "t-shirt".
![clothes_2](https://user-images.githubusercontent.com/59253436/71479939-f25f6e80-27f6-11ea-9b8a-05ec

[2019-12-26 14:56] hzouba commented on #16924
@khouloudbelguith
Thanks a lot you saved my life :)
I removed the both Prod & Dev in var/cache and it's work again perfectly, no more errors.

[2019-12-26 14:56] #16924 closed, assigned to nobody

[2019-12-26 15:39] khouloudbelguith commented on #16924
@hzouba, you are welcome!
Feel free to open a new one when needed.

Thanks!

[2019-12-26 16:51] khouloudbelguith commented on #16929
Hi @ZamperSPA,

I did not manage to reproduce the issue with PS1.7.6.2& ps_facetedsearch v3.4.0.
I attached a screen record
https://drive.google.com/file/d/1o22P1iBW_crTHD2nsIdhVudm7ypDM2mQ/view
In the ps_facetedesarch configuration page, could you please try to click on the "Index all missing prices" & "Rebuild entire price index" & "Clear cache" buttons, check & feedback.

[2019-12-26 17:28] cins06 commented on #15283
Hello,
i have a problem i don't find this (/var/www/vhosts/example.com/httpdocs/)
...My problem is already Vous devez activer le module Apache
'mod_auth_basic' afin de permettre l'authentification au service web.

can you help me ?
Thank
Cindy

Le mar. 24 déc. 2019 à 16:02, khouloudbelguith <notifications@github.com> a
écrit :

[2019-12-27 09:00] marionf opened #16932 "Sub-categories are not displayed anymore in FO menu with mobile"
**Describe the bug**
Sub-categories are not displayed anymore in FO menu with mobile

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the FO with a mobile
2. Click on the menu
3. Click on "Clothes" or "Accessories"
4. Sub-categoriies are not displayed

**Screenshots**
![capture d'écran_2208](https://user-images.githubusercontent.com/13449658/71510602-af9da500-288f-11ea-97d6-a7e24d4bc72a

[2019-12-27 09:09] marionf opened #16933 "The filter button to display the faceted search filters is not well placed on a mobile"
**Describe the bug**
When you want to make a filter though faceted search on a mobile, you have to click on "Filter" button to display the filters
Unfortunately it is not intuitive because the button is right next to the dropdown to sort products and it looks like you have to click on it after selecting a new sort option in the dropdown

**To Reproduce**
Steps to reproduce the behavior:
1. Make su

[2019-12-27 09:46] camillo777 opened #16935 "Official way to login via API"
**Is your feature request related to a problem? Please describe.**
I am making a mobile app to integrate with PrestaShop via the web services API.
I don't find any official information about how to login a user with the API.
I understood there is as well a change in 1.7 authentication which does not allow to publish the hashing algorithm so I am still struggling to understand what is going to be t

[2019-12-27 10:14] CallejaMotos commented on #16796
I am out of my country, I don't have my pc, after 5th January I will send info.
Thanks

[2019-12-27 11:17] Robin-Fischer-PS opened #16937 "Wrong conversion when adding a product in BO in a different currency"
**Describe the bug**
In BO, when adding a product to an order which was made in a different currency from the default one, the "Total" price is wrong, probably because the price is converted twice.

**To Reproduce**
Steps to reproduce the behavior:
1. Install PS in Euro (Country : France for example)
2. On BO, add a country with another currency with localization pack (for example, Algeria)
3. On

[2019-12-27 11:40] k0lv opened #16939 "Custom Attribute values for URL and Meta title texts are not working after enabling "Display attributes in the product meta title" - Solved in the FO > Product listing page"
**Describe the bug**
Follow-up on [issue#11927](https://github.com/PrestaShop/PrestaShop/issues/11927).
I have enabled attributes display in Meta-title, but it seems not taking the values from the attribute configuration, instead uses just Name and Public Name.

**1. Enabled parameter:**
![image](https://user-images.githubusercontent.com/59282576/71515176-bab1fe80-28aa-11ea-829e-b771fc4e32cf.png)

[2019-12-27 16:15] #16805 closed, assigned to nobody

[2019-12-27 19:31] francct opened #16942 "Breadcrumb Search Console problem still present on Index"
**Describe the bug**
Hi,
After applying the solution suggested in #15632 PR, there is still an error in search console.
Index page still has the "BreadcrumbList" itemtype, but there are no "ListItem" elements.

I believe that `{if $page.page_name != 'index'}` before "breadcrumb.tpl" code can be a solution, but I don't know if there is a better way to solve.

**To Reproduce**
Steps to reproduce the

[2019-12-27 20:32] Jojo-Kaly commented on #16889
I set the configuration in the php.ini like this :

upload_max_filesize = 32M
post_max_size = 16M
max_file_uploads = 40
memory_limit = 256M
max_input_vars = 2000
max_execution_time = 60

But I still have the same error (log in attached file) !
[log.txt](https://github.com/PrestaShop/PrestaShop/files/4006197/log.txt)

Thank you for your help.

[2019-12-27 22:14] damianobertuna opened #16944 "Custom javascritp with jQuery"
**Describe the bug**
I read that addJquery is no longer supported in PrestaShop 1.7.6, how can I be sure that a custom js file in a module I am developing is loaded after jQuery framework?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalogue section
2. Enter in a product edit page
3. Try use a custom module with javascript that use jQuery
4. Custom javascript will not work due to

[2019-12-27 23:27] arouiadib commented on #16921
I don't know why I can't reproduce this behaviour in 1.7.6.2 !

[2019-12-27 23:49] ProteanCode opened #16945 "Can I put the shop in maintenance mode using shell script?"
Hello

I used to see many web projects that are put into maintenance mode whenever there is a file in root directory like .lock or .maintenance, but in prestashop I think I cannot do that.

There are some PHP `defines` like SITE_ENABLED (or something), but I do not want to do it using some awk commands and regex matches since it would not be compatibile solution across multiple versions.

What can

[2019-12-28 10:06] arouiadib commented on #16921
Thank you @khouloudbelguith ,

I am really interested to know if the requirement is to change the alert success string for all bulk delete actions in BO. I see that in some controllers the string is "Successful deletion" but for others "The selection has been successfully deleted." . Is the objective is to normalize the situation in all BO for bulk deletion?

The main question is : where can I rea

[2019-12-28 12:18] unicorn1372 commented on #16482
perfect!

[https://cleanabzar.com/](url)

[2019-12-28 12:19] unicorn1372 commented on #16482
perfect

[2019-12-28 17:17] bigpimp303 opened #16947 "A2(it was here To^ and fro) [I have predicted this earth unto its death] A1[but honor3 will reward the brave, rightious}, and upright"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-28 17:20] #16947 closed

[2019-12-28 18:21] bigpimp303 commented on #16947
### The problem that is _sin _without_ the _lords honor_and @ngry as it makes me that god sent me to sacriledge for my sin of resentment and still sacriledge come in handy if you practice necromancy  (#16506  to be out spoken and still I aim for Gods good [grace] `in any > case` if I
never had my beautiful fiancé, corruption would come over me. the answer, hold my resentment to god with the unders

[2019-12-28 22:15] mvorisek opened #16949 "Module override merger does not preserve formatting"
**Is your feature request related to a problem? Please describe.**
Currently the override merger does not preserve new lines formatting

**Describe the solution you'd like**
Update the merger/generator code to preserve new lines.

Empty new lines are currently stripped by this code:
### this is also dangerous as even new lines in regular strings are removed
- for new files https://github.com/Prest

[2019-12-28 22:15] mvorisek commented on #16949
Simple and elegant solution can be to apply CS fixer on the override output, but it will require the CS fixer package for prod. Is this solution welcomed, should I submit a PR for it?

[2019-12-28 22:17] mvorisek commented on #16949
Simple and elegant solution is to apply CS fixer on the override output (requires the CS fixer package for prod.).

Is this solution welcomed as a PR?

[2019-12-29 03:36] golden1688 commented on #16835
Hello there!
Great technical support:
The reason was found. It turned out that the Advance SEO module called the product update function, which caused the problem.
right now
The problem has been solved. Advance SEO developers have added a product controller file override / controllers / front / ProductController.php. Thank you very much for your help, thank you!
                                   

[2019-12-29 05:41] sys commented on #15343
Greetings
Have the same issue as above.

When installing new theme - got this error while i navigate to the modules section or any other admin panel section that is not "Modules" or "Themes".

Tried reinstalling ps_links module with no help.

`Type error: Argument 3 passed to LinkBlockRepository::__construct() must be an instance of PrestaShopBundle\Translation\TranslatorComponent, instance of Pre

[2019-12-29 05:51] sys commented on #15343
Fixed the issue on my side by copying ps_linklist.php from working version into the one after update.
Installing theme changed the contents of ps_linklist.php

[2019-12-29 09:48] rflorent opened #16950 "Theme classic code discount form not showing"
**Describe the bug**
After an upgrade to 1.7.6.2 with classic theme update activated (autoupgrade module), on the frontend cart view, link to add a discount code is not working anymore. The form is not showing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to cart view (add a product and a code discount before)
2. Click on "add a discount code"
3. Nothing happend

Seems that some code h

[2019-12-29 12:47] photinia73 opened #16951 "Faceted search resust is not shown after back to the product list"
**Describe the bug**
A clear and concise description of what the bug is.
If in the Facetedsearch is cheked one or more brands and I visit the choosen product page and return back the list of product is not sorted accordanly to the chosen brand in the filter. I see the whole list despite the check box with brand is still choosen
![image](https://user-images.githubusercontent.com/50954519/71557101-1

[2019-12-29 15:41] arouiadib commented on #16842
Thank you, @khouloudbelguith,  you addressed an issue that is behind many bugs.

When "Apply discount to:" is set to "cheapest" in BO, the calculation must NOT be = [( All Products Total excl Taxes  *  Reduction percentage ) / 100](https://github.com/PrestaShop/PrestaShop/blob/develop/src/Adapter/Presenter/Cart/CartPresenter.php#L561)

**but** should be = ( Cheapest product price excl Taxes  *  Re

[2019-12-29 16:55] Twabi2 opened #16952 "Faceted search: still shows products with no available stock after filtering"
**Describe the bug**
This bug was previously mentioned by me and others, eg #15056, #15220. Despite update PrestaShop/ps_facetedsearch#132 that should have fixed this, this bug still exists.
Basically, faceted search still shows products as available, even if that specific combination has no stock available. For example, if I filter on T-shirts with size XL, it will show me any product that ever h

[2019-12-30 00:34] MatShir opened #16953 "[ORDER PAGE] Confirmation popin for the action button"
**User story**

As a merchant, when I want to refund (or to cancel or to return) multiple products on the differences pages of my products list I want to be sure I'm refunding the right ones.

**Why**

The pagination on the product list limits the visibility of the interaction between

**Specification**

After pressing on the validation button, a pop in is displayed summarising the impacted produc

[2019-12-30 00:59] fukawi2 opened #16954 "Why does the Web Service returns every field as CDATA?"
**Describe the bug**
Any request to the web service returns every field wrapped in CDATA tags.

My understanding is that CDATA is meant to wrap *character* data that *could* be misinterpreted as part of the XML document, or to avoid encoding characters such as `<` and `&` as `&lt;` and `&amp;` respectively.

Wrapping _everything_ in CDATA tags is unnecessary and makes the responses difficult to re

[2019-12-30 01:03] fukawi2 commented on #16896
That XML does produce the error on my system:
![image](https://user-images.githubusercontent.com/139959/71564889-1aebaf00-2afc-11ea-88a0-1fd16952a650.png)

(Screenshot is from "Insomnia" REST API client to test).

Perhaps this has been fixed after 1.7.6.2?

[2019-12-30 06:34] TemKaSD opened #16955 "Unhook the module when installing the template"
Hello. Me need unhook ps_shoppingcart from displayNav2 theme.yml. How do I do this?

[2019-12-30 08:13] khouloudbelguith commented on #16562
Hi @edensh89,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-30 08:13] #16562 closed, assigned to nobody

[2019-12-30 08:14] khouloudbelguith commented on #16554
Hi @Hlavtox,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-12-30 08:14] #16554 closed, assigned to nobody

[2019-12-30 08:30] khouloudbelguith commented on #16937
Hi @Robin-Fischer-PS,

We are awre of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #12521
So, I close it.
Thanks!

[2019-12-30 08:30] #16937 closed, assigned to nobody

[2019-12-30 08:30] khouloudbelguith commented on #16937
Duplicate of #12521

[2019-12-30 08:45] #15703 closed, assigned to atomiix

[2019-12-30 09:09] matks commented on #16048
Thanks to PrestaShop IT team, https://demo.prestashop.com/ is now ✅ 😄

[2019-12-30 09:09] #16048 closed, assigned to Quetzacoalt91

[2019-12-30 09:09] matks commented on #16048
And thank you @Quetzacoalt91 of course

[2019-12-30 09:40] matks commented on #16921
For years, these requirements only existed into the brains of the Product Management team of PrestaShop and (sometimes) in folders/documents (mostly google docs) shared inside the company ; so there was nothing available for you.

We know it was a very bad habit for an opensource project thanks to @ttoine and this is why we created the github repository https://github.com/PrestaShop/prestashop-spe

[2019-12-30 09:55] khouloudbelguith commented on #16939
Hi @k0lv,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.2 & ps_facetedsearch v3.0.4
I have the same issue with PS1.7.5.2 & ps_facetedsearch v2.2.1.

PS: in the BO => Shop Parameters => SEO & URLs page => Display attributes in the product meta title is enabled

In the FO => Product detail page
1. The URL uses back-office attribute name
2. Meta title uses back-office attribut

[2019-12-30 09:55] khouloudbelguith commented on #16939
Related to https://github.com/PrestaShop/PrestaShop/issues/15688

[2019-12-30 10:09] muyncky commented on #16657
I remembered something else. After the update I placed orders, which gave errors. So there was no status given to the orders.
Unfortunately, I cannot find the issue back in the log.

[2019-12-30 10:19] khouloudbelguith commented on #16942
Hi @francct,

This issue is fixed with this PR: https://github.com/PrestaShop/PrestaShop/pull/15642
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/15641
So, I close it.
Thanks!

[2019-12-30 10:19] #16942 closed, assigned to nobody

[2019-12-30 10:19] khouloudbelguith commented on #16942
Duplicate of #15641

[2019-12-30 10:30] khouloudbelguith commented on #16944
Hi @damianobertuna,

Thanks for your report.
Ping @eternoendless  what do you think?
Thanks!

[2019-12-30 10:31] khouloudbelguith commented on #15023
Issue created here: https://github.com/PrestaShop/PrestaShop/issues/16944

[2019-12-30 10:40] k0lv commented on #16939
Hello, @khouloudbelguith
Thank you for the fast reply.
Unfortunately I am not (yet) enough skilled to solve this issue.
Sorry.

[2019-12-30 10:45] photinia73 opened #16957 "Facetedsearch does not work properly"
**Describe the bug**
Faceted search does not hold down the chosen Brand.
When the Brand is chosen in the facetedsearch filter and I visit the product page and then return back I see the whole list of products whitout sorting by chosen before brand. But in the filter I can see that my Brand is still chosen in the check box.

![image](https://user-images.githubusercontent.com/50954519/71578140-a4e94

[2019-12-30 10:59] khouloudbelguith commented on #16945
Hi @ProteanCode,

You need to set the value in the Database => Table: ps_configuration => `PS_SHOP_ENABLE` name to 0.

![image](https://user-images.githubusercontent.com/16067358/71579164-a749a200-2afb-11ea-8882-856a4da36107.png)

I hope this helps you.
Please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com

[2019-12-30 10:59] #16945 closed, assigned to nobody

[2019-12-30 11:06] khouloudbelguith commented on #16949
Hi @mvorisek,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

https://medium.com/@mickael_andrieu/chez-prestashop-on-a-fait-le-choix-de-php-cs-fixer-et-la-configuration-est-disponible-%C3%A0-la-racine-b21b9cbfa944
https://github.com/PrestaShop/PrestaShop/issues/15545#issuecomment-533179788
Thanks!

[2019-12-30 11:11] weddingtextile commented on #16845
I will not find the problem in the module Faceted Search without debugging.
At the same time, I noticed that "Clear cache" function does not work. The table ps_layered_price_index is not cleared.

First of all, I want to fix errors when working in BO.
See https://github.com/PrestaShop/PrestaShop/issues/16845#issuecomment-567455330
Maybe these errors are related to the menu "Quick Access".
Look at

[2019-12-30 11:16] khouloudbelguith commented on #16950
Hi @rflorent,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.2 fresh install & PS1.7.6.2 after an upgrade from PS1.7.5.2 using the 1-click upgrade v4.10.0. (Upgrade the default theme is enabled)
https://drive.google.com/file/d/1Ke7D5Rk8jnJvV9n8Rs7EMe3QVsL-fJVI/view
Could you please provide us with more info? We need more details to understand how we can reproduce you

[2019-12-30 11:25] khouloudbelguith commented on #16951
Hi @photinia73,

I did not manage to reproduce the issue with PS1.7.6.2 & ps_facetedsearch v3.4.0.
I attached a screen record
https://drive.google.com/file/d/1loXXEtsXWGFe6u8OHi_8EfnLiYAkzJnO/view
What is the exact version of the ps_facetedsearch & PrestaShop did you use?

THanks!

[2019-12-30 11:30] photinia73 commented on #16951
Presta 1.7.5.2
Faceted the latest update vershion 3.4.0

пн, 30 груд. 2019, 13:25 користувач khouloudbelguith <
notifications@github.com> пише:

[2019-12-30 11:35] photinia73 commented on #16951
P.s. But I use non classic theme...

пн, 30 груд. 2019, 13:29 користувач Светлана Кричмаровская <
photinia73@gmail.com> пише:

[2019-12-30 11:40] khouloudbelguith commented on #16952
Hi @Twabi2,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.2 & ps_facetesearch v3.4.0.
Same issue with PS1.7.5.2 & ps_facetesearch v2.2.1
https://drive.google.com/file/d/10UOuHPQd-ODn-h-JBRZme4cCki515Vs0/view
Ping @PierreRambaud https://github.com/PrestaShop/ps_facetedsearch/pull/132

Thanks!

[2019-12-30 11:45] khouloudbelguith commented on #16955
Hi @TemKaSD,

Please be aware that this bug tracker should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-12-30 11:45] #16955 closed, assigned to nobody

[2019-12-30 11:46] khouloudbelguith commented on #16957
Duplicate of #16951

[2019-12-30 11:46] #16957 closed, assigned to nobody

[2019-12-30 11:46] k0lv commented on #14934
Same problem is still actual also in 1.7.6.2 version

[2019-12-30 11:47] khouloudbelguith commented on #16951
@photinia73, As it's not the default theme, provided by Prestashop, we can't do anything with this.
You should contact the theme author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

[2019-12-30 11:49] khouloudbelguith commented on #14934
Hi,

This issue is added to our bug roadmap.
PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-12-30 11:52] khouloudbelguith commented on #16657
Hi @muyncky,

Despite our several trials, we could not reproduce your issue with the provided information.
In my case, this issue is reproduced only if I delete run those commands manually.
This is not logic.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.

Thanks!

[2019-12-30 11:52] #16657 closed, assigned to nobody

[2019-12-30 11:56] khouloudbelguith commented on #16896
Hi @fukawi2,

I tried with PS1.7.6.2 & it is well working as you can see in my last screen record

Thanks!

[2019-12-30 12:00] Carphedon commented on #9732
I think this behavior is still not fixed correctly because in a lot of situations it is useful to have headings and buttons visible even if no products exist.

In my opinion the right fix would have been an option to choose whether to display empty headings and buttons or not.

See this example where the empty categories are greyed out. It is much more clear for the customer what the options are w

[2019-12-30 12:21] Jojo-Kaly opened #16958 "Sign error with gift discount"
Hi !

I have an issue with "total discount" (total bons de réduction) of gift discount. I have a negative number instead of a positive number like free delivery (frais de port offerts). Because of that, my customers can't pay(transaction refused because of an invalid argument. The totals of the cart item amounts do not match order amounts.).

How to fix this issue, please ?

Thank you

**Additiona

[2019-12-30 12:56] JGomezSDI commented on #16067
Good morning!!
We appreciate you solve this issue ASAP, please.
Thanks a lot

[2019-12-30 13:08] khouloudbelguith commented on #16958
Hi @Jojo-Kaly,

Thanks for your report.

In the FO => you have an exception? what the exact custom module did you use? have you tried to contact the module author about the issue?

Thanks!

[2019-12-30 13:11] LouiseBonnard commented on #16953
Hey, what about the shipping fees, will it be included in the standard refund pop-up window?

[2019-12-30 13:21] khouloudbelguith commented on #16954
Hi @fukawi2,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-12-30 13:24] khouloudbelguith commented on #16835
@golden1688, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-12-30 13:24] #16835 closed, assigned to nobody

[2019-12-30 13:25] colinegin commented on #16650
Hello @matthieu-rolland, do you confirm this feature is already managed by @Progi1984's PR ? https://github.com/PrestaShop/PrestaShop/pull/16150

[2019-12-30 13:36] khouloudbelguith commented on #16889
@Jojo-Kaly, as you can see in your log

[2019-11-30 21:37:47] Unable to open archive

You have a permission issue in your server.
Thanks to check the permissions.

Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and off

[2019-12-30 13:39] khouloudbelguith commented on #16796
@CallejaMotos, thanks!
Waiting for your feedback.

[2019-12-30 13:43] khouloudbelguith commented on #15283
Hi @cins06,

Issue fixed in the PS1.7.6.2 with this PR: https://github.com/PrestaShop/PrestaShop/pull/15731

Thanks!

[2019-12-30 14:16] Jojo-Kaly commented on #16958
Hi, khouloudbelguith,

I dont have an exception in my FO.
I have Alt sup theme on my shop, but I dont have specific module for discount code.
So, I think it's a Prestashop 1.7 bug...

[2019-12-30 14:17] eternoendless commented on #16944
Hi @damianobertuna

Could you please share a small proof of concept implementation that reproduces the problem?

[2019-12-30 14:18] khouloudbelguith commented on #16958
@Jojo-Kaly,

This error is displayed in the FO or BO? On which page?

Thanks!

[2019-12-30 14:23] khouloudbelguith commented on #16845
@weddingtextile, I need t know this error
![image](https://user-images.githubusercontent.com/16067358/71585736-e685ec00-2b17-11ea-8f56-4e5de1373f41.png)
Did you try to check your host about it?
I tried to enable debug mode & it is enabled also.
It is the same error when rebuilding the index.
![image](https://user-images.githubusercontent.com/16067358/71585826-3369c280-2b18-11ea-8e72-d3b4ebe58ac7.p

[2019-12-30 14:25] matks commented on #16912
Thanks for the analysis @mvorisek !

[2019-12-30 14:26] matks commented on #11125
@PrestaShop/prestashop-core-developers I think we should consider this

[2019-12-30 14:37] khouloudbelguith commented on #16935
Hi @camillo777,

You can follow this link: http://forge.prestashop.com/browse/BOOM-4406?focusedCommentId=159405&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-159405

We have already an issue about improving the Webservice documentation: https://github.com/PrestaShop/docs/issues/342

Thanks to check & feedback.

[2019-12-30 14:39] matks commented on #16540
@khouloudbelguith I confirm the bug on develop

[2019-12-30 14:39] colinegin commented on #14736
Hello @MatShir what should we do with this issue ?

[2019-12-30 14:51] Jojo-Kaly commented on #16958
I have this error on Paypal logs :

_Error code: 10413;Short message: Transaction refused because of an invalid argument. See additional error messages for details.;Long message: The totals of the cart item amounts do not match order amounts.;_

Customers tell me that they can't pay, with Paypal or with credit cart, but I don't know exactly what is displayed on their screens.

Thank you.

[2019-12-30 15:00] khouloudbelguith commented on #16540
@PrestaworksNiklas, @matks,

Same issue with PS1.7.5.2 & PS1.7.6.2 & develop.
https://drive.google.com/file/d/1VK7DTHraec4V5AmmaHM0MiWAqxS4ztWb/view
I’ll add this to the debug roadmap.
Thanks!

[2019-12-30 15:04] camillo777 commented on #16935
Hello @khouloudbelguith ,
thank you, but I already tried with this solution but it did not seem to work.
I am trying with the test user (John DOE --> pub@prestashop.com) with a super simple script:

<?php

$debug = true;

$password = '123456789'; // from USER INPUT
$passwd = 'c2f9ab1c7ba6be048f11b082fcadac5a'; // from DB

    if (password_verify($password, $passwd) == true) {
  	session_start();

[2019-12-30 15:07] khouloudbelguith commented on #16958
@Jojo-Kaly, have you tried to contact the module author about this issue?
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks to check with them & feedback.

[2019-12-30 15:16] pdalexis commented on #15369
I'm facing this issue too using Prestashop 1.7.6.

[2019-12-30 15:25] Jojo-Kaly commented on #16889
Thank you, khouloudbelguith,

I typed the login and the password ("prestashop" for both) but the web page doesn't open...   :-(

[2019-12-30 15:28] khouloudbelguith commented on #16889
@Jojo-Kaly, it is just a phpinfo file equivalent to the phpinfo() function.
thanks to try with this file
[test.php.zip](https://github.com/PrestaShop/PrestaShop/files/4010156/test.php.zip)
I deleted the credential check.

Thanks!

[2019-12-30 15:34] Jojo-Kaly commented on #16889
Thank you, it's OK.

But there is no red parameter.
<img width="1440" alt="Capture d’écran 2019-12-30 à 16 31 59" src="https://user-images.githubusercontent.com/59056657/71588553-35388380-2b22-11ea-8a4b-e4ff0595162e.png">
<img width="1440" alt="Capture d’écran 2019-12-30 à 16 32 07" src="https://user-images.githubusercontent.com/59056657/71588557-379add80-2b22-11ea-87f4-0aa9e5ea39fb.png">

<im

[2019-12-30 15:45] khouloudbelguith commented on #16889
@Jojo-Kaly, thanks to increase these configurations to the recommended value, check & feedback.

[code]

Thanks!

[2019-12-30 15:50] colinegin commented on #14431
Thanks @NeOMakinG ! What do you think @LouiseBonnard ? Is there anything to do on your side ?