[2019-10-30 13:58] cemalarik opened #16211 "Admin -> Order Update -> Carrier Fee Miscalculation"
Hello,

I am using Prestashop 1.7.6.1

I found an issue related with order update process on Admin page.

On my shop, all orders over 149TL (Turkish Liras) shipment is set free.

If I want to update a current order with adding new products, new price is calculated, but this time shipment fee is added to the order, but it should not be.

Here is a video record I got:

https://drive.google.com/open?

[2019-10-30 14:04] matks opened #16968 "On reset, modules are hooked in the wrong place"
This bug seems to impact all front office modules, including ps_shopping cart, ps_mainmenu, ps_searchbar module and Newsletter subscription module.

Exemple with shopping cart
If you reset the module or if you uninstall the module, clone the module from github and install it, then on FO, the cart is hooked on the wrong display.

<img src="https://user-images.githubusercontent.com/55688534/67095830

[2019-10-30 14:05] LOUTAG commented on #16210
Thank you for your answer!
I've done a mistake, I'm currently using the ps_facetedsearch version 2.2.1(image on the third screenshot, not 2.1.2) I've never had the version 2.1.2 !
Due to your answer on the topic that I've quoted I'm looking for the version 2.1.2.
I've already sent a message to the theme author, and I will share you the answer.
Could you share me the ps_facetedsearch version 2.1.2

[2019-10-30 14:12] khouloudbelguith commented on #16210
@LOUTAG, this is an old version: https://github.com/PrestaShop/ps_facetedsearch/releases/tag/v2.1.2

Thanks!

[2019-10-30 14:20] khouloudbelguith commented on #16200
So, when you add a product, which doesn't have customization, to the cart => the pop up is not displayed?

![image](https://user-images.githubusercontent.com/16067358/67866084-ae1e5d80-fb28-11e9-9959-fc38b99201fb.png)

Thanks!

[2019-10-30 14:22] khouloudbelguith commented on #16199
@Nainterceptor, I'm happy to hear that there is no issue with php7.3 on your staging server but as I said, currently PrestaShop is not compatible with php7.3. So some parts of the application might work, but there is no guarantee it works globally. Explications about why can be read here: http://build.prestashop.com/news/announcing-end-of-support-for-obsolete-php-versions/

Sorry as I said before,

[2019-10-30 14:22] #16199 closed, assigned to nobody

[2019-10-30 14:25] LOUTAG commented on #16210
I cannot upload the .zip... have I something specific to do?

[2019-10-30 14:25] khouloudbelguith commented on #16155
@mayka83, thanks for your feedback.
As you can see in my screen record, the products are simple products without combinations => OK.
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don'

[2019-10-30 14:28] matrixino opened #16212 "Infinite loop in CartRule class if free shipping is given"
**Describe the bug**
If you have a rule which gives free shipping and this rules is used, trying to open the order/cart results in loop till memory exaust error.
I have identified the problem in this part (around line 1105 of CartRule.php):
`        if ($this->free_shipping && in_array($filter, array(CartRule::FILTER_ACTION_ALL, CartRule::FILTER_ACTION_ALL_NOCAP, CartRule::FILTER_ACTION_SHIPPING))

[2019-10-30 14:28] matrixino commented on #16212
Not sure why the code format is messed up.

[2019-10-30 14:32] #16212 closed, assigned to nobody

[2019-10-30 14:33] Punisher07 commented on #9809
Same problem here.

Save buttons from product don't save if the product have some combinations.

after i removed

submitHandler: function(form)
{ form.submit(); }

from /admin/themes/default/template/controllers/products/helpers/form/form.tpl , the natives modules save naturally (informations, price... - they are saving even with a lot of combinations) , but the non-natives still got the problem (

[2019-10-30 14:38] matteolavaggi commented on #16202
Multistore is not enabled.

BO currency:
![image](https://user-images.githubusercontent.com/24798703/67867774-34d43a00-fb2b-11e9-98df-1188b735df60.png)

DB Currency

![image](https://user-images.githubusercontent.com/24798703/67867830-487fa080-fb2b-11e9-942d-4a84e893f8a1.png)

[2019-10-30 14:43] Punisher07 commented on #9809
i got it @khouloudbelguith

but, in the newest versions, the bug was fixed?
As i see, here and in the other foruns, it seens may not fixed yet, or not?

[2019-10-30 14:45] khouloudbelguith commented on #9809
@Punisher07, no, it is not fixed yet.
It is added to our bug roadmap.

Thanks!

[2019-10-30 14:59] khouloudbelguith commented on #16210
@LOUTAG, thanks to follow these steps:

1. Go to https://github.com/PrestaShop/ps_facetedsearch
2. Run `git clone https://github.com/PrestaShop/ps_facetedsearch.git`
3. Run `cd ps_facetedsearch`
4. Run `git checkout v2.1.2`
5. Run `composer install`
6. zip this folder & upload it.

Thanks!

[2019-10-30 15:16] matks commented on #10558
@marionf we can try 🤔 but we need to discuss it as it is a bit vague

[2019-10-30 15:18] khouloudbelguith commented on #16202
@matteolavaggi, I just sent you an email.
Thanks to check & feedback.

[2019-10-30 15:24] idrisselbasri opened #16214 "Bug in module Ps_linklist after upgrade v.1.7.1.2 to 1.7.6.1"
You have requested a non-existent service "prestashop.module.link_block.repository". Did you mean one of these: "prestashop.core.admin.lang.repository", "prestashop.core.admin.log.repository", "prestashop.core.admin.shop.repository", "prestashop.core.api.stock.repository", "prestashop.module_kernel.repository"?

![image](https://user-images.githubusercontent.com/43181798/67872067-b29b4400-fb31-11e

[2019-10-30 15:28] jolelievre commented on #16208
So this would be the composer.json of your module? So we would need to add a feature to composer so that it can interpret this field. I wonder if it's possible..

It would be cleaner to use a dependency in the module, like any other dependency But the thing is PrestaShop can't really be counted as a dependency I guess, to do that properly we would need to extract the core methods into a dedicated

[2019-10-30 15:33] matteolavaggi commented on #16202
Enabling the product generate the bug
![image](https://user-images.githubusercontent.com/24798703/67872966-065a5d00-fb33-11e9-9a01-a9ef776cccf5.png)

[2019-10-30 15:35] khouloudbelguith commented on #16202
@matteolavaggi, I will check & feedback.

Thanks!

[2019-10-30 15:37] cosmoscrystals opened #16215 "Product photos do not show 1.7.6.1"
This is a new fresh install of 1.7.6.1
Php 7.2
I'm trying to put my first product and the product pics do not show.  I've tried everything that I've found on the net and here to fix it but nothing fixed the issue.  I saw a post where someone replaced a directory to fix the issue.  I do not have an old directory so I can't do that.

If I click the zoom link the images show in a popup.

Any suggesti

[2019-10-30 15:39] #15231 closed, assigned to matks, TristanLDD, MatShir

[2019-10-30 15:48] idrisselbasri commented on #16214
Hi @khouloudbelguith

I reset the module and clear the cache but I found the same bug

Thanks!

[2019-10-30 15:48] #15821 closed, assigned to nobody

[2019-10-30 15:50] matks commented on #15822
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16022

[2019-10-30 15:50] #15822 closed, assigned to nobody

[2019-10-30 16:00] khouloudbelguith commented on #16215
@cosmoscrystals,

Could you please try to regenerate the file .htaccess

- Rename the old file to .htaccess_old
- Disable friendly URL
- Enable friendly URL

Thanks to check and feedback

[2019-10-30 16:04] matteolavaggi commented on #16202
This does not seem to work on previously "bugged" product, try on the link above

[2019-10-30 16:06] khouloudbelguith commented on #16202
@matteolavaggi, I just you a new email.

Thanks!

[2019-10-30 16:12] #16106 closed, assigned to atomiix

[2019-10-30 16:15] khouloudbelguith commented on #16215
@cosmoscrystals, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prest

[2019-10-30 16:37] cosmoscrystals commented on #16215
I don't have time to find and copy all of that info.  I've been trying to fix this for hours and hours.  I was up until 3am last night trying to make it work.
I have two other prestashop installs that work fine. No problems at all.

I can't find the post where someone else copied an older directory to fix the problem. Do you think if I do the same that it might fix it?  You were helping him. Do yo

[2019-10-30 16:40] khouloudbelguith commented on #16215
@cosmoscrystals,
We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-10-30 17:00] cosmoscrystals commented on #16215
I put it in debug mode and got this error message when I tried to view the item page.
![Screenshot_20191030-125818](https://user-images.githubusercontent.com/57187709/67880552-38f55d00-fb15-11e9-805c-259e020cce0f.jpg)

[2019-10-30 17:01] creartlab opened #16217 "Issue in Image Settings in Product"
I have an issue with product image settings in the BO. After uploaded it I can't manage it anymore, deleting or other. I have the window all blank.

Screenshot: https://prnt.sc/pq8zpe

I enabled debug mode, gone to the product page, opened up developer tools
and in Network tab I read the followed error:

Request URL: https://missq.it/amministrazione/index.php/sell/catalog/products/image/form/40?_t

[2019-10-30 17:16] bet0x commented on #16208
Add an extra required file, like a theme.yml or module.yml and store those variables there, if the module requires develop branch or X version.

I think when i mentioned composer i got you confused. Doesn't need to be composer or composer has something like this.

[2019-10-30 18:21] procent85 commented on #16002
I have the same problem as @WooXu but I'm using Warehouse 4.3.2 theme.
I'm using PS 1.7.6.1 with PHP 7.2.22 and translating is not working. I.e. official psgdpr module.
I'm translated it to Polish but in Front Office I see only English.
![BO](https://user-images.githubusercontent.com/57193052/67886577-fbf78d80-fb49-11e9-9836-f53dbeb3da5e.PNG)
![FO](https://user-images.githubusercontent.com/5719305

[2019-10-30 19:04] xandenet opened #16219 "Admin->Design->Positions Error 404"
**Describe the bug**
The Design, Positions tab provides a 404, I don't know how to solve ...

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin'
2. Scroll on 'Design.'
3. Click down to 'Positions'
4. See error

**Screenshots**
If applicable, add screenshots or screenrecords to help explain your problem.

**Additional information**
PrestaShop version: 1.7.6
PHP version: 7.2

[2019-10-30 20:25] cosmoscrystals commented on #16215
I uninstalled 1.7.6.1 and installed 1.7.6.0 and it's working fine so far.

[2019-10-30 20:25] #16215 closed, assigned to nobody

[2019-10-30 21:08] matks commented on #11631
Module ps_shoppingcart has been released on v2.0.3 which ship the related fix. So this bug is fully fixed when using PrestaShop 1.7.7.x and ps_shoppingcart 2.0.3

[2019-10-30 21:53] ChristopherThorpe opened #16220 "Password came to my email in plaintext"
I received an email from PastryChefsBoutique as a new subscriber and the email included my password in plain text. In 2019 this is unacceptable and I hope it doesn't affect all of your customers.
![Password in Plain Text](https://user-images.githubusercontent.com/78364/67901837-00f61600-fb25-11e9-8db6-fc554d45bd7a.png)

[2019-10-30 21:55] ChristopherThorpe commented on #16220
Suggestion:
1) IMMEDIATELY change your code to stop sending passwords in email.
2) Update your password storage so you don't store them in plaintext. Best practice is to encrypt passwords in your database using a hashing scheme resistant to brute force attacks.

Some resources:
https://crackstation.net/hashing-security.htm
https://cheatsheetseries.owasp.org/cheatsheets/Password_Storage_Cheat_Sheet

[2019-10-30 23:19] richo8 opened #16221 "Error on the amount of total orders (total-order-amount)"
**Describe the bug**
From Back office, I have a bug on the amount of the order. (Prestashop 1.7.6.1 with php7.1.3).
Go to Customers > Customers.
All amounts are wrong.
Going into the detail of the order we see this gap.

**To Reproduce**
Steps to reproduce the behavior:
1. On back office Go to Customers > Customers.
2. Click on the customer's "show buton"
3. Scroll down to the orders
4. See error

[2019-10-31 05:14] aavinseth commented on #16201
@khouloudbelguith if i does't pass `id_address_delivery`, then it give error **400 Bad Request id_address_delivery is required**. See below screenshot for the same. Even i am passing the same id which i am getting in get method response for parameter `id_address_delivery`.

![image](https://user-images.githubusercontent.com/5337520/67920613-dc547980-fbca-11e9-8cc0-c8ea306bb028.png)

[2019-10-31 07:34] khouloudbelguith commented on #15740
Hi @Caleydon,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-31 07:34] #15740 closed, assigned to nobody

[2019-10-31 07:35] khouloudbelguith commented on #15715
Hi @simonswif,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-31 07:35] #15715 closed, assigned to nobody

[2019-10-31 07:36] khouloudbelguith commented on #15745
Hi @kermes,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-31 07:36] #15745 closed, assigned to nobody

[2019-10-31 07:36] khouloudbelguith commented on #15741
Hi @yvgorshkov,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-31 07:36] #15741 closed, assigned to nobody

[2019-10-31 07:37] khouloudbelguith commented on #15724
Hi @SlashedAsteroid,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-31 07:37] #15724 closed, assigned to nobody

[2019-10-31 07:38] khouloudbelguith commented on #15781
Hi @abcreationIT,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-10-31 07:38] #15781 closed, assigned to nobody

[2019-10-31 07:39] khouloudbelguith commented on #16215
@cosmoscrystals, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-31 07:43] khouloudbelguith commented on #16217
Hi @creartlab,

You need to enable debug mode in your store and debug request which is sent for product edition in your browser, using DevTools, so:

1. enable debug mode
2. go to the product page
3. open up developer tools
4. go to Network tab
5. edit product
6. wait for an error, you should see red request information in Network tab (error 500 in your case)
7. click on it, you should see the err

[2019-10-31 07:44] khouloudbelguith commented on #16219
Hi @xandenet,

Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2019-10-31 07:54] khouloudbelguith commented on #16220
Hi @ChristopherThorpe,

Thanks for your report.
I did not manage to reproduce the issue with PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/67928703-f9358080-fbbb-11e9-92ca-42018767bca0.png)
It is fixed with PS1.7 fixed with this PR: #5889
If you are using the PS1.6, it is fixed with this PR: #8564
Thanks to check & feedback.

[2019-10-31 08:33] khouloudbelguith commented on #16221
Hi @richo8,

I did not manage to reproduce the issue with PS1.7.6.1.
![image](https://user-images.githubusercontent.com/16067358/67931106-816a5480-fbc1-11e9-839a-de601a6af5ea.png)

I attached a screen record
https://drive.google.com/file/d/1DIPe3nRolMuxSkSnWsgBMAFn0wnIwHJv/view
In your case the total amount > total amount,
The total amount is displayed with tax included & the total spent is displa

[2019-10-31 08:41] khouloudbelguith commented on #16201
@aavinseth, thanks to add the "id_address_delivery" to your XML sent since it is required, it is similar to `id_address_invoice`.

Thanks to check & feedback.

[2019-10-31 08:52] lucastes commented on #15369
is there any way to fix it temporary - it is a key feature for us? thanks

[2019-10-31 09:07] matks commented on #16220
@ChristopherThorpe as khouloudbelguith stated it, this behavior has been changed a long time ago in PrestaShop codebase. It is likely that PastryChefsBoutique is powered by a very old version of PrestaShop 😉 .

[2019-10-31 09:09] matks commented on #16220
And also passwords were never stored in plaintext. When the "send password in clear" behavior was enabled, the password would be sent just after being registered (so php has access to it as it was given to it as an input), but it would be encrypted in database.

[2019-10-31 09:15] khouloudbelguith commented on #16002
Hi @procent85,

I did not manage to reproduce the issue with PS1.7.6.1 & a new theme minimal.
I attached a screen record
https://drive.google.com/file/d/1kkWMxO51Ty28V-Guvh6GvzfXAtH7oxoe/view
This issue is fixed in the PS1.7.6.1 with this PR: https://github.com/PrestaShop/PrestaShop/pull/15139 as reported here: https://github.com/PrestaShop/PrestaShop/issues/15133
Thanks to check & feedback.

[2019-10-31 09:20] khouloudbelguith commented on #16200
@watou, I tried with another case, customization which is not required but I did not manage to reproduce the issue with PS1.7.6.1.
https://drive.google.com/file/d/1H-uzf69UlOvMN93kugyYaJ0RwLdIBGh6/view
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customi

[2019-10-31 09:22] khouloudbelguith commented on #16205
@Mosquito65, you can follow these steps:
1. Remove or rename the `blockreassurance` folder in this path `Project_Folder/modules/`
2. Try to clear cache manually by deleting all the folder into app/cache (prod & dev)
3. Go to the BO => Module Catalog => search the module & install it again.

Thanks!

[2019-10-31 09:23] khouloudbelguith commented on #16214
@idrisselbasri, thanks for your feedback.
Since it is fixed, I close the issue, feel free to open a new one when needed.

Thanks!

[2019-10-31 09:23] #16214 closed, assigned to nobody

[2019-10-31 09:24] khouloudbelguith commented on #16198
Hi @Colgeo13,

Waiting for your feedback.
Thanks!

[2019-10-31 09:27] #16220 closed, assigned to nobody

[2019-10-31 09:27] khouloudbelguith commented on #15369
Hi @lucastes,

Sorry, it is not fixed yet.
It should be specified by or our Product Team first.
Thanks for your understanding!

[2019-10-31 09:39] matks commented on #16200
@watou There are over 1300 open issues on PrestaShop, that is why we close the issues on which we cannot act. Issues are not a registry of possible bugs, it's rather items that need an action.

When someone, be it a prestashop developer or a contributor, can provide accurate steps and environment to reproduce this bug we'll be happy to put it in the roadmap. Until then we must focus on what we can

[2019-10-31 09:53] mayka83 commented on #16155
@khouloudbelguith thanks for the info.

*server setup and configuration* -> 7.1.33
*PrestaShop version (source)* -> 1.7.5.0
*debug mode report* -> without error
*PHP error logs*  -> Error dispatching request to :, referer: https://webname/adminroute/index.php?controller=AdminOrders&id_order=445&vieworder&token=bb36c887f0bc7d56931fdcb973b3b087
*apache error log* -> without error
*javascript console

[2019-10-31 09:57] marionf opened #16223 "As a merchant I need to know if the prices are displayed tax incl or tax excl"
As a merchant I need to know if the prices are displayed tax incl or tax excl

When I have a product with combinations, there is 2 columns impact on price and final price but I don't know if it's tax excl or tax incl

We should change the label "impact on price" by "impact on price (tax excl.)" and change "final price" by "final price (tax excl.)"

[2019-10-31 10:03] khouloudbelguith commented on #16200
Hi @watou,

I tried with different versions to reproduce the issue => but it is Ok in my side.
In your case, you are using a different theme not the default one provided by PrestaShop =>PRS01.

Could you please try to change your theme, clear cache & check the issue again.
I will re-open until your feedback.

[2019-10-31 10:29] #11379 closed, assigned to matks, marionf

[2019-10-31 10:29] matks commented on #16094
Fixed by https://github.com/PrestaShop/PrestaShop/pull/12379

[2019-10-31 10:29] #16094 closed, assigned to nobody

[2019-10-31 10:30] matks commented on #11379
Implemented in https://github.com/PrestaShop/PrestaShop/pull/12379

[2019-10-31 10:30] #12870 closed, assigned to atomiix

[2019-10-31 10:35] watou commented on #16200
The method `Product::hasAllRequiredCustomizableFields` calls the method `Product::getRequiredCustomizableFields`, which calls the method `Product::getRequiredCustomizableFieldsStatic`.  This last method performs the following query:

[code]

However my database has a row in this table for product 22 (one of the products that present the incorrect popup `Please fill in all of the required fields, a

[2019-10-31 10:39] colinegin commented on #9702
Hello @matthieu-rolland and @LedCloud ,
thanks both for your suggestions ! I quite agree, there's a lot of work to be done with the cart rule creation and management. Unfortunately, this page needs to be migrated first before we can think of improving some features.

My recommendation is to apply this fix anyway as it fixes an issue on front office, and then we'll think of the expected behaviour a

[2019-10-31 10:51] khouloudbelguith commented on #16155
@mayka83, I tried with PS1.7.5.0 on server PHP 7.1 => OK
https://drive.google.com/file/d/14acUuqABTW6Pcu2fwaB7Ln0auVMmLq8Y/view
All states in your case have the same zone?
![image](https://user-images.githubusercontent.com/16067358/67940856-c21f9900-fbd4-11e9-8f2f-d0c68843c50b.png)

Thanks!

[2019-10-31 10:53] matks commented on #11482
Fixed in migrated page https://github.com/PrestaShop/PrestaShop/issues/10552

[2019-10-31 10:53] #11482 closed, assigned to nobody

[2019-10-31 11:07] khouloudbelguith commented on #16200
@watou,
Could you please confirm these steps:
1. you are creating a new product
2. In the BO => Product => Product details page => Options Tab => you have a Customization?
Is it one customization or more?
Is it a Text or a file?
Is it required or not
![image](https://user-images.githubusercontent.com/16067358/67941775-b0d78c00-fbd6-11e9-9a27-d410f00d548b.png)
3. Does your product have a quantity o

[2019-10-31 11:11] sarjon opened #16226 "Fix dates format in new Order page"
All dates should be formatted according to logged in employee's language, currently format is hardcoded.

For this, `PrestaShopBundle\Twig\Extension\LocalizationExtension` extension was introduced which adds Twig filter `date_format_full` to ease the work.

So, instead of this:
`{{ some_object.createdAt|date('Y-m-d H:i:s') }}`
it should become like this:
`{{ some_object.createdAt|date_format_full

[2019-10-31 11:14] khouloudbelguith commented on #16226
Ping @matks

[2019-10-31 11:16] watou commented on #16200
Hi @khouloudbelguith,

The steps were that at some point in the past, a BO user had created a customization for a product, by some means it gained the value `is_deleted` set to `1`, it no longer appears in the BO under that product, and yet, with PS 1.7.5.0 and the code change in PR #8478, this product incorrectly complains when trying to add to the cart.

I recommend that you focus on how rows ar

[2019-10-31 11:24] khouloudbelguith commented on #16200
@watou, did you make an upgrade from a previous version PrestaShop (less than 1.7.3.0) to PS1.7.5.0?
So, for example, => you deleted a customization => after the upgrade the issue occurs?

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Than or developers can review your code & our QA team can test the PR.
Thank

[2019-10-31 11:36] Hlavtox opened #16227 "Total tax amount is wrong in order confirmation email"
**To Reproduce**
Steps to reproduce the behavior:
0. Setup some VAT rule, 21% for example.
0. Setup a voucher which discounts the order by X percent.
1. Add something to cart.
2. Apply a voucher with discount.
3. Order it.
4. Total tax in email is wrong. It is calculated from the amount before discounts.

**Fix**
`'{total_tax_paid}' => Tools::displayPrice(($order->total_products_wt - $order->total

[2019-10-31 11:36] khouloudbelguith commented on #16152
@eCommerceWhiteKnight, I tried with Safari v13.0.3 & the `blockreassurance` v4.1.1 & it is well working
![image](https://user-images.githubusercontent.com/16067358/67943730-0150e880-fbdb-11e9-809d-cea0af74e9b5.png)

Thanks to check & feedback.

[2019-10-31 11:40] watou commented on #16200
This PS site was first set up in or around March/April 2018, so whatever the latest version was at the time was used, and then later upgraded to 1.7.5.0.

I can make a pull request, but I cannot rigorously test it with to stand behind the assertion that it does not have other unwanted side effects.  Only seeing internal uses of the method `getRequiredCustomizableFields` suggests that adding `AND i

[2019-10-31 11:46] watou commented on #16200
Problem was already fixed in PR #15739.

[2019-10-31 11:46] #16200 closed, assigned to nobody

[2019-10-31 11:48] watou commented on #16200
Duplicate of #13211.

[2019-10-31 11:48] khouloudbelguith commented on #16200
@watou, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-10-31 11:48] khouloudbelguith commented on #16200
Duplicate of #13211

[2019-10-31 12:17] khouloudbelguith commented on #16227
Hi @Hlavtox,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1 & the develop branch.
In the email the Tax is incorrect.
![image](https://user-images.githubusercontent.com/16067358/67946024-a7532180-fbe0-11e9-82cc-56e2a3293c23.png)

In the FO it is OK
![image](https://user-images.githubusercontent.com/16067358/67945974-8a1e5300-fbe0-11e9-8cd9-ac962dc1be80.png)
I’ll

[2019-10-31 13:29] matks commented on #16226
Thanks @sarjon

[2019-10-31 13:43] matks commented on #16200
I think you are confusing project and product and this is why you have expectations that we do not meet. Please read https://opensource.com/business/15/8/open-source-products-four-rules that might help you why we have and apply this "disastrous rule" 😉

[2019-10-31 13:44] LouiseBonnard commented on #15234
Hi @Progi1984, the formerly one state **Jammu and Kashmir** has been divided into two union territories (**Jammu and Kashmir** and **Ladakh**) and union territories are not referred to as states in PrestaShop, so you can forget about those two. :-)

[2019-10-31 13:52] watou commented on #16200
@matks Ultimately time will tell if your "not my problem, I'm working on a project not a product" attitude will help or hurt the adoption and retention of this product.  To tell an outsider that he is confused and using the wrong concepts is really a bad sign in my opinion.  I really don't wish to risk repeating the points I've made in this issue, so please have a great day and all the best to you

[2019-10-31 13:53] matks commented on #16200
Sorry we could not understand each other. Wishing you a great day too

[2019-10-31 13:57] Robin-Fischer-PS opened #16228 "No display of specific price on BO"
**Describe the bug**
When I add a new specific price, it's not displayed on the product page on BO (but still works in FO).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO > Product > Pricing
2. Add a specific price : It does not appear after being added.
If you add same specific price : An error message stating that a similar rule exist appears.
The rule works fine in FO.

**Screen

[2019-10-31 13:59] bet0x opened #16229 "Replace $_GET and $_POST with Request from Symfony"
**Is your feature request related to a problem? Please describe.**
Replace native $_GET and $_POST variables on Prestashop with Symfony native Request module.

[code]
More information here: https://symfony.com/doc/current/components/http_foundation.html

There are more features on the document to read about "why use it".

One file to fix: https://github.com/PrestaShop/PrestaShop/blob/develop/contr

[2019-10-31 14:16] bet0x commented on #16229
More files:
[code]

[2019-10-31 14:17] bet0x commented on #16229
And $_POST variables:
[code]

[2019-10-31 14:20] khouloudbelguith commented on #16229
Hi @bet0x,

Thanks for your report.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-10-31 14:24] azralth opened #16232 "Bug cart rule and specific price"
Hi,
I'm on 1.7.4
I have a product with specific price -> 25% reduction

I have cart rule with 25% reduction for all catalog, applied on cart with with "not include product with discount".

If i add product with discount in my cart, the cart rule is not applied -> Great, this is what i want.
If i add another product in my cart with no discount, cart rule is applied but with the total cart including

[2019-10-31 14:28] #16232 closed, assigned to nobody

[2019-10-31 14:29] khouloudbelguith commented on #16232
Duplicate of #10300

[2019-10-31 14:35] #16109 closed, assigned to nobody

[2019-10-31 14:39] TristanLDD opened #16233 "Design Fix: Shipping Method Display on Classic Theme's Checkout"
Display of shipping method block in Classic theme looks broken and can be easily fixed :

![Capture d’écran 2019-10-31 à 15 35 12](https://user-images.githubusercontent.com/27484094/67956514-84cb0380-fbf4-11e9-87ef-111077c3a565.png)

[2019-10-31 14:48] creartlab commented on #16217
Hello, thanks for the replay. I done some screenshot of the visualization of error in Preview tab, thanks

![image](https://user-images.githubusercontent.com/57190143/67957100-6580a600-fbf5-11e9-8fa2-696a91c0dfb3.png)

![image](https://user-images.githubusercontent.com/57190143/67957149-78937600-fbf5-11e9-853c-f17cd92e0a06.png)

![image](https://user-images.githubusercontent.com/57190143/67957181-

[2019-10-31 14:48] bet0x commented on #16229
@matks Great! Just throwing a had in there. Will you do a Middleware for the SF Request just in case you migrate to another library in the future? Because i saw https://github.com/PrestaShop/PrestaShop/blob/develop/classes/Tools.php and can be good to have it in there or something like that.

[2019-10-31 14:48] colinegin commented on #15777
This can be a nice improvement, I agree with you !

[2019-10-31 14:50] TristanLDD commented on #11427
Here's the mockup for Classic thème:

![Delivery Date](https://user-images.githubusercontent.com/27484094/67957535-1129f600-fbf6-11e9-8d1b-e3a866aede35.jpg)

[2019-10-31 14:52] #16223 closed, assigned to nobody

[2019-10-31 14:52] #16001 closed, assigned to LouiseBonnard

[2019-10-31 14:55] khouloudbelguith commented on #16217
@creartlab, did you use the `litespeedcache` module?

Thanks!

[2019-10-31 14:59] #15059 closed, assigned to nobody

[2019-10-31 14:59] khouloudbelguith commented on #16217
@creartlab, did you run `composer install`?

Thanks!

[2019-10-31 15:11] Kixell-NicolasJardillier opened #16234 "Prestashop 1.7.5.2 $page['canonical'] is empty for manufacturer"
Hi,

Prestashop 1.7.5.2
$page['canonical'] is empty for manufacturer

[2019-10-31 15:12] khouloudbelguith commented on #16234
Hi @nicoja,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #9503
So, I close it.
Thanks!

[2019-10-31 15:12] #16234 closed, assigned to nobody

[2019-10-31 15:13] khouloudbelguith commented on #16234
Duplicate of #9503

[2019-10-31 15:18] khouloudbelguith commented on #16217
@creartlab, could you please follow these steps:
1. make a backup of your shop & your database first => let's be safe
2. rename the vendor folder to vendor_old
3. download this file into your project_folder
https://github.com/PrestaShop/PrestaShop/blob/1.7.6.1/composer.lock
4. Run `composer install`

Thanks to check & feedback.

[2019-10-31 15:18] khouloudbelguith commented on #16154
@8ternity, can I close the issue?

Thanks!

[2019-10-31 15:21] creartlab commented on #16217
Hello, thanks.
what exactly composer install will do?

[2019-10-31 15:23] khouloudbelguith commented on #16217
@creartlab,`composer install ` just install all the dependencies as specified in the composer.lock file.

Thanks!

[2019-10-31 15:32] khouloudbelguith commented on #16233
Hi @TristanLDD,

Same issue with PS1.7.6.1 & PS1.7.6.0 & PS1.7.5.2.
I’ll add this to the debug roadmap.
Thanks!

[2019-10-31 15:39] khouloudbelguith commented on #16217
@creartlab,

You need just to unzip it & copy it into your Project_Folder
[composer.lock.zip](https://github.com/PrestaShop/PrestaShop/files/3794618/composer.lock.zip)
Thanks!

[2019-10-31 15:44] colinegin commented on #11880
@jolelievre do you think this issue is critical for 1.7.7 ?

[2019-10-31 15:45] creartlab commented on #16217
Ok pls give all steps to do.
I downloaded it and uploaded it then in the main folder of the website.
then?
thanks

[2019-10-31 15:47] colinegin commented on #16039
@MatShir and @TristanLDD should this be fixed before or after the freeze ?

[2019-10-31 15:48] TristanLDD commented on #16073
I agree with @jolelievre and @colinegin it is a very small issue that doesn't deteriorate user experience, it can be fixed after 1762.

[2019-10-31 15:52] khouloudbelguith commented on #16217
@creartlab,
You just downloaded the composer.lock file & here's the composer.json file
[composer.json.zip](https://github.com/PrestaShop/PrestaShop/files/3794675/composer.json.zip)
=> download it, unzip it & copy it to your Project_Folder
Now, you need to run `composer install`
PS:
Please make a backup of your shop & your database first => let's be safe
Thanks!

[2019-10-31 15:56] TristanLDD commented on #15983
Hi,
this problem has already been discussed and solved here: #16129
We will add a pagination on the concerned blocks soon :)

[2019-10-31 15:58] creartlab commented on #16217
I unzipped composer.lock file and I putted in the main folder.
To run, just I have to call the complete url?

P.S. I done a complete backup from Softaculous in the cPanel.
thaks

[2019-10-31 16:00] matks opened #16238 "When GDPR module is uninstalled, "accept terms" checkbox is not displayed"
**Describe the bug**
When GDPR module is uninstalled, "accept terms" checkbox is not displayed. I think this is a legal issue 🤔 this check is mandatory, GDPR or not.

**To Reproduce**
1. Install a shop
2. Uninstall GDPR module
3. Add a product to cart, go to checkout
4. See that checkbox "accept our terms" is not displayed

**Screenshots**
![Capture d’écran 2019-10-31 à 17 00 12](https://user-im

[2019-10-31 16:01] khouloudbelguith commented on #16217
@creartlab, you need to use a terminal to run the `composer install` command.
![image](https://user-images.githubusercontent.com/16067358/67964167-1ab85b80-fc00-11e9-8288-2240d4b337e4.png)

Thanks!

[2019-10-31 16:04] creartlab commented on #16217
I dont have terminal tool in my cPanel, I dont know how to do it.

[2019-10-31 16:05] TristanLDD commented on #14985
Hi,
here is the mockup:

![Summary   description](https://user-images.githubusercontent.com/27484094/67964392-80a4e300-fc00-11e9-82ba-6c578340b6e8.png)

[2019-10-31 16:06] khouloudbelguith commented on #16238
Hi @matks,

It is the same behavior as PS1.7.5.2 & PS1.7.6.1.
We just need to disable the GDPR module to reproduce this issue.
Ping @colinegin @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-10-31 16:08] matks commented on #16238
Spotted by @sarahdib by the way, cheers go to her

[2019-10-31 16:09] khouloudbelguith commented on #16217
@creartlab, could you please check with your host if it is possible to run `composer install`.

Thanks!

[2019-10-31 16:12] creartlab commented on #16217
yes, I will contact them now.
thanks

[2019-10-31 16:19] jul-m commented on #11806
Hello,

I encountered the same problem. This comes from the line "StockAvailable::getStockAvailableIdByProductId($id_product, $id_product_attribute, $id_shop);". I am using the version 1.7.6.1 of Prestashop.

If the product does not exist in the "ps_stock_available" table, the "getStockAvailableByProduct" function in the "src/Adapter/StockManager" class creates the record. However, even when the c

[2019-10-31 16:39] LouiseBonnard opened #16239 "Add Uzbek to the installer"
**Is your feature request related to a problem?**
It is not a bug, but a default parameter to update.

**Describe the solution you'd like**
For the 1.7.7 version, following recent activity on Crowdin, it would be nice to add Uzbek to the PrestaShop installer.

**Why?**
Since the installer helps you installing PrestaShop, it must be accessible to as many people as possible. And this is why it is av

[2019-10-31 16:41] #16238 closed, assigned to nobody

[2019-10-31 16:43] jul-m opened #16240 "src\Adapter\StockManager - getStockAvailableByProduct() -> Duplicate data on key : product_sqlstock"
**Describe the bug**
If the product does not exist in the "ps_stock_available" table, the "getStockAvailableByProduct" function in the "src/Adapter/StockManager" class creates the record. When the command is called by the function "checkProductStock" of the base class Prestashop "OrderDetail" (for example, this function is called in other classes and some modules), the problem occurs (tested on a

[2019-10-31 16:48] ChristopherThorpe commented on #16220
Thank you. I had searched the GitHub issues for this before posting and did not find any mention of the problem. I think it would be helpful to leave something people like me could find so they don’t waste their time reporting this again and again. Some

Dear Sir,

I acknowledge receipt of your email and your complaint.

Indeed, the recommendations of the CNIL provide that the passwords must not b

[2019-10-31 17:02] matks commented on #16220
It's strange you could not find it 🤔 https://github.com/PrestaShop/PrestaShop/issues/15922 was reported only 17 days ago, it was same topic. Hopefully this issue will be better found 😉

[2019-10-31 17:25] matthieu-rolland opened #16242 "Bug on displayed total discount value when there more than one free shipping voucher"
**DECRIPTION**
When there are two or more free shipping vouchers in use, the shipping cost is added each time to the total discount value displayed in the cart reduction summary.

**To Reproduce**
Steps to reproduce the behavior:
1. in BO, create two reduction vouchers with free shipping activated
2. In FO, add one or more product to your cart
3. See that "Réduction(s)" value has added free shippi

[2019-10-31 17:27] #15938 closed, assigned to atomiix

[2019-10-31 17:27] matks commented on #15938
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16088

[2019-10-31 17:33] matks opened #16243 "Folder vendor/prestashop/smarty is used for cache"
**Describe the bug**
It seems folder vendor/prestashop/smarty is used for cache

See https://github.com/PrestaShop/PrestaShop/blob/develop/config/smarty.config.inc.php#L26

This prevents us from using our Smarty fork http://github.com/PrestaShop/smarty  as composer attempts to install the fork in this folder.

Thus we cannot merge https://github.com/matks/PrestaShop/commit/52f6a9f0e831dfe5928bcf66

[2019-10-31 20:59] ChristopherThorpe commented on #16220
Thanks Mathieu, I was able to find it, eventually.
May I suggest you use GitHub's new Security Advisory feature
https://github.com/PrestaShop/PrestaShop/security/advisories and publish an
advisory that customers need to update their code because of this bug? I
think it's a big GDPR problem in Europe and a big PCI-DSS problem in the US.

[2019-11-01 06:31] LedCloud commented on #9702
@colinegin

I'm not sure I can be usefull for you. The exist solution fits me (as a merchant) fine. And for I can fix this issue for my store I have no suggestion. At least for the moment.

[2019-11-01 07:46] khouloudbelguith commented on #15743
Hi @hitinder,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-01 07:46] #15743 closed, assigned to nobody

[2019-11-01 07:47] khouloudbelguith commented on #15786
Hi @mdenomme,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-01 07:47] #15786 closed, assigned to nobody

[2019-11-01 08:06] khouloudbelguith commented on #16240
Hi @jul-m,

Thanks for your bug report.
About your second step:

How can I delete the record( manually from the database?)

Thanks!

[2019-11-01 08:22] khouloudbelguith commented on #16242
Hi @matthieu-rolland,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #11722
So, I close it.
Thanks!

[2019-11-01 08:22] #16242 closed, assigned to nobody

[2019-11-01 08:23] khouloudbelguith commented on #16242
Duplicate of #11722

[2019-11-01 08:26] khouloudbelguith commented on #16217
@creartlab, first you need to open the terminal on your `Project_Folder` path

1. `cd /path_to_your_project_folder/`
2. `composer install`

Thanks!

[2019-11-01 08:30] khouloudbelguith commented on #14663
Hi @fabiorme,

Here's the PR: https://github.com/PrestaShop/PrestaShop/pull/15906 to fix this issue.

Thanks!

[2019-11-01 09:55] AtteR opened #16245 "Product catalog pages are blank when CacheAPC is enabled"
Hello,

We are having some problems with CacheAPC. First issues were that when enabled, after some time the webstore stopped completely loading, but this was fixed by increasing memory for APC. After increasing memory store seem to be working fine, except some product catalog pages were broken now with following error:

PHP Warning:  array_merge(): Argument #1 is not an array in .../classes/Produc

[2019-11-01 10:36] khouloudbelguith opened #16246 "The bulk action doesn't work in the employees page"
**Describe the bug**
In the BO => Advanced Parameters => Team => Employees page => we cannot delete or enable or disable employees with bulk action => an error is displayed
![image](https://user-images.githubusercontent.com/16067358/68019164-518f7f80-fc9b-11e9-9f16-dd8356854bde.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the BO => Advanced Parameters => Team => Employees page

[2019-11-01 10:37] khouloudbelguith commented on #16246
Ping @nesrineabdmouleh

[2019-11-01 10:45] sextoysunivers opened #16247 "1 Clic upgrade bug"
Hi,

After trying to upgrade with the 1 clic upgade module from 1.6.1.24 to 1.7.1.6 I get the follwong error :

Fatal error: Uncaught Unknown column 'h.live_edit' in 'field list'<br /><br /><pre>SELECT h.`name` as hook, m.`id_module`, h.`id_hook`, m.`name` as module, h.`live_edit` FROM `px_module` m INNER JOIN px_module_shop module_shop ON (module_shop.id_module = m.id_module AND module_shop.id_sh

[2019-11-01 10:46] khouloudbelguith commented on #16245
Hi @AtteR,

Thanks for your bug report.
I did not manage to reproduce the issue with PS1.7.6.1 & APCu v5.1.18.
Here is a link to Optimize your PrestaShop performance.
There is a Prestashop module that is promising for APCu.
https://dh42.com/free-prestashop-modules/apcu-manager/
This module just displays the APCu dashboard and doesn't have any impact on the configuration or performances.
I attached

[2019-11-01 11:11] khouloudbelguith commented on #16247
Hi @sextoysunivers,

First of all, thanks for your report.
Second, PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 wil

[2019-11-01 11:30] AtteR commented on #16245
Hi,

Sorry, I meant the webstore frontend product catalog pages or category pages (not sure which one they are called). I should have been more specific.

We have installed and tracked the caching with APCu info (https://github.com/krakjoe/apcu/blob/master/apc.php). There is plenty memory available but the fragmentation is 100% after hour or so. I am not sure if the issue is because of fragmentati

[2019-11-01 11:33] sextoysunivers commented on #16247
Dear khouloudbelguith,

Thank you very much for your kindly answer

When do you think the next Major release PS1.7.7 it's going to arrive ?

Best regards,

JC

[2019-11-01 12:08] sextoysunivers commented on #16247
Dear khouloudbelguith,

I'm asking you this cause my server works with debian 10 buster which makes impossible to downgrade to php 7.2. To downgrade the php version wouldn't be an option

To do that I would have to  reinstall everything to an older debian 9

Best regards,
JC

[2019-11-01 12:28] 8ternity commented on #16086
@khouloudbelguith Did you know what is the ETA for a Roadmap? I have integration company who ask me when it's will be fixed. Thanks.

[2019-11-01 12:47] khouloudbelguith commented on #16086
@8ternity, no sorry.
Our product Team prioritizes issues to fix.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-11-01 12:53] khouloudbelguith commented on #16245
@AtteR, thanks for your feedback.
No, I tried with PS1.7.6.1 also in the Front office & it is well working.
I attached a screen record
https://drive.google.com/file/d/1JX4oYdag0OXVpnesTj3O9X5Mm2j7rKAA/view
Thanks!

[2019-11-01 12:56] khouloudbelguith commented on #16247
Hi @sextoysunivers,

We are still working on the PS1.7.7.
You can follow our process here: https://github.com/PrestaShop/PrestaShop/projects/7

Thanks, waiting for your feedback.

[2019-11-01 13:09] sextoysunivers commented on #16247
Hi khouloudbelguith,

I can see a lot of hard work out there

I'll be monitoring

Thank you

Best regards,

JC

[2019-11-01 13:12] khouloudbelguith commented on #16247
@sextoysunivers, So you will work on it & I can close the issue?

Thanks!

[2019-11-01 13:41] bet0x commented on #16243
@matks On the dev branch you are moving into Twig right?

[2019-11-01 13:46] sextoysunivers commented on #16247
I'll do it for you

Thank you again 👍

JC

[2019-11-01 13:46] #16247 closed

[2019-11-01 13:47] khouloudbelguith commented on #16247
@sextoysunivers, Thanks!
Feel free to open a new one when needed.

[2019-11-01 13:52] AtteR commented on #16245
Hi,

Thanks for the videos.

Our webstore has a lot of different categories and products (thousands). I was able to get test enviroment to crash also. APCu fragmentation is 100% and there is still some memory left, but some product categories currently crash with this error:

Warning: array_merge(): Argument #1 is not an array
in ProductAssembler.php line 95

If your apc.ttl is 0, the apc will cle

[2019-11-01 13:57] khouloudbelguith commented on #16245
@AtteR, in my case it is also 3600
![image](https://user-images.githubusercontent.com/16067358/68029616-e3a58100-fcb7-11e9-85a0-07bbc719bd25.png)
could you please provide the whole exception displayed attached in PDF file.

Thanks!

[2019-11-01 14:03] AtteR commented on #16245
Hello,

Here is a screenshot, I could not post PDF here.

![prestashop apc crash](https://user-images.githubusercontent.com/5371194/68029978-143de880-fcc1-11e9-966f-b49fbe86a696.png)

[2019-11-01 14:15] khouloudbelguith commented on #16245
@AtteR, did you delete a product which has an ID=2014950?

Did you use the module ps_viewedproduct? what is the exact version?

Thanks!

[2019-11-01 14:20] AtteR commented on #16245
Yes, actually there is no product with ID = 2014950 in ps_product table.

ps_viewedproduct is enabled and the version is 1.2.1.

[2019-11-01 14:25] khouloudbelguith commented on #16245
@AtteR, could you please check your Database table ps_product, if this ID exists?

Thanks!

[2019-11-01 14:26] AtteR commented on #16245
SELECT * FROM ps_product WHERE id_product = 2014950; return zero rows, so it does not exist.

[2019-11-01 14:28] khouloudbelguith commented on #16245
@AtteR, sorry it is 20141950.
![image](https://user-images.githubusercontent.com/16067358/68031560-384afb00-fcbc-11e9-86dc-0a4b22ebce04.png)

Thanks!

[2019-11-01 14:29] AtteR commented on #16245
Oh, sorry yes.

SELECT * FROM ps_product WHERE id_product = 20141950;

Finds 1 row.

[2019-11-01 14:30] khouloudbelguith commented on #16245
@AtteR, this product it is displayed in your BO?

Thanks!

[2019-11-01 14:35] AtteR commented on #16245
No, it is missing in BO.

[2019-11-01 14:36] AtteR commented on #16245
Yes, actually it is there.

[2019-11-01 14:37] khouloudbelguith commented on #16245
@AtteR, could you please try to disable it, clear cache, check & feedback.

Thanks!

[2019-11-01 14:38] AtteR commented on #16245
Clearing cache does fix it, but then after sometime some other page will break.

[2019-11-01 14:39] khouloudbelguith commented on #16245
@AtteR, the same product is displayed in your exception?

Thanks!

[2019-11-01 14:41] AtteR commented on #16245
Yes, see the screenshot.

![Screenshot_2019-11-01 Screenshot](https://user-images.githubusercontent.com/5371194/68032456-65041000-fcc6-11e9-9b33-f1cfd5da3af9.png)

[2019-11-01 14:43] khouloudbelguith commented on #16245
@AtteR, if you disable the cacheAPC => it is OK?

Thanks!

[2019-11-01 14:45] AtteR commented on #16245
Yes, I disabled CacheAPC without clearing the cache and the product category page works.

[2019-11-01 14:49] khouloudbelguith commented on #16245
@AtteR, so, it is a cache issue.
Thanks to follow these steps:

- `Never recompile template files`: this option is to be chosen for maximum performance.
- `Cache enabled (YES)`: makes pages fastest.
- `Smart cache for CSS (YES)`: brings together in a single file, compresses and caches CSS files.
- `Smart cache for Javascript (YES)`: brings together in a single file, compresses and caches JS files.

[2019-11-01 15:53] Marcelozippo opened #16248 "When I activate SMARTY cache, the description of the related products is not displayed"
Hello, I have the problem that when I activate SMARTY cache, the description of the related products is not displayed. And the same products are always shown. How can I solve it? What can I do to avoid having to deactivate SMARTY?
Prestashop 1.7.6.1
Cpanel
PHP 7.2.23
MySQL: 10.2.27-MariaDB-log-cll-lve

Video
https://drive.google.com/file/d/1wkwFFIhqaBtxpt1Pm__ir5aO8h3G8MPe/view

The creator of the

[2019-11-01 16:03] khouloudbelguith commented on #16248
Hi @Marcelozippo,

I did not manage to reproduce the issue with PS1.7.6.1 & Two different themes.
I attached a screen record
https://drive.google.com/file/d/1MWWXV2aqk2rWhZKXdjvbCQwqQS04uav6/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP

[2019-11-01 16:45] Marcelozippo commented on #16248
Hi, I think I'm using another module, it's not the same as seen in your video. The module I am using is:

Enhance your business, add a block on every product page that displays items from the same category.
Products in the same category
PrestaShop v1.0.4

This is a free module of official Prestashop, it appears on all products. I send you a photo.

In the server log it doesn't give me any errors.

[2019-11-01 17:53] Prestaja commented on #9948
Also experiencing this issue. Any tips to solve?

[2019-11-01 19:29] GLSSoftware commented on #13386
I can confirm this bug with 1.7.6.1.
To reproduce this behaviour it is suffucient that the mail addess starts with an uppercase e.g. "Volker.Mustermann@example.de". In Germany customers enter their email address very often using uppercase letters. This bug shows up in our live shop almost every week to at least one customer. Because of that the bug should not be marked as 'minor'.

[2019-11-01 21:22] matks commented on #16243
@bet0x We're moving into Twig only in the back-office, on the `develop` branch indeed. Front-office benefits from a higher level of backwards compatibility which prevents us from modifying the templating engine as we follow SemVer. Only when we release a new major version will we be able to introduce the necessary breaking changes to remove completely Smarty from PrestaShop.

[2019-11-02 01:40] jul-m commented on #16240
Hi @khouloudbelguith,

To reproduce the bug, you must delete the record manually from the database.

In my shop, there were some products missing in this table, but I do not know why because normally it should all be there.

Thanks.

[2019-11-02 10:43] rdy4ever opened #16249 "Product alignment is wrong in product lists for smaller devices"
**Describe the bug**
In product lists and featured products on homepage, products look broken on smaller screens due to` justify-content: flex-start;`. We need to fix this as it looks terrible on mobile devices (see screen).
**To Reproduce**
Steps to reproduce the behavior:
Try if on mobile or via developer tools

**Screenshots**
![before](https://user-images.githubusercontent.com/12268701/6806982

[2019-11-02 12:57] matrixino commented on #14621
Did you manage to solve this problem? I'm still getting it in a customer shop on 1.7.6.1. Seems not related to the theme, rather a bug in PS cookie management. Especially since it was working fine before the upgrade to latest version, the theme was always the same. I'm using Warehouse anyway.

[2019-11-02 14:09] sirius82 opened #16251 "PS 1.7.5.2 Free product. Order not possible"
Hello,
The shop has products with price but one of them is a free service. I create it as a virtual product. Customer can ask it by adding it in his cart. If he needs only this service without other products, the order is blocked because there is no payment method.
The only way I found should be to activate cheque paiement only for free products and to rename it.

I didn't found any other idea.

H

[2019-11-02 19:31] Nelhagui opened #16252 "importing data CSV products more from 100 items"
**Describe the bug**
when uploading products from files with CSV extension (more than 7000 products) returns an error (attached capture)

**Screenshots**
screenshot1: [https://www.distribuidora2g.com.ar/captura.png](url)
https://www.distribuidora2g.com.ar/captura.png
screenshot2 = [https://www.distribuidora2g.com.ar/captura2.png](url)
https://www.distribuidora2g.com.ar/captura2.png
screenshot3(php

[2019-11-02 22:47] Allbutfancy commented on #16044
@khouloudbelguith we have downgraded our PHP version to PHP 7.2 and experience no errors! Works wonderfully.

Thanks!

[2019-11-03 13:31] freefiona85 commented on #15503
Hello @TedEriksson , @khouloudbelguith . I tried this fix, it worked out good, but it didn't pass Prestashop Validation - is there any workaround for this? Thank you!

[2019-11-03 17:33] sickboards opened #16253 "Attach invoice PDF to email toggle not working"
**Describe the bug**
In Order Setting, you can set whether the invoice is added to the email or not, but it does not seem to matter if the box is ticked or not, the invoice is always attached.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to order settings, select awaiting bank wire payment status
2. Unselect the box 'Attach invoice PDF to email' and save
3. Make an order using bank wir

[2019-11-03 18:24] weddingtextile opened #16254 "Admin panel is not displayed. (70007)The timeout specified has expired"
**Describe the bug**
I can't start the admin panel. I enter the login and password, but the admin panel is not displayed. Front office is working.

Аn error is displayed in the browser after a few minutes:
Proxy Error
The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request GET /admin***/index.php.

Reason: Error reading from remote serve

[2019-11-04 06:50] cartomatica73 commented on #14621
any news, update me

[2019-11-04 07:14] matrixino commented on #14621
Nevermind, i found the problem. it's not a ps problem. You probably have ps installed in a subfolder with wrong webserver configuration.

[2019-11-04 07:48] khouloudbelguith commented on #15802
Hi @Diraco,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-04 07:48] #15802 closed, assigned to nobody

[2019-11-04 07:51] khouloudbelguith commented on #15801
Hi @malcek,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-04 07:51] #15801 closed, assigned to nobody

[2019-11-04 07:52] khouloudbelguith commented on #15804
Hi @Myrjam,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-04 07:52] #15804 closed, assigned to nobody

[2019-11-04 07:53] khouloudbelguith commented on #15782
Hi @antondelrio,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-04 07:53] #15782 closed, assigned to nobody

[2019-11-04 07:55] khouloudbelguith commented on #15797
Hi @PrestaShark,

We are waiting for your feedback.
Any news?

Thanks!

[2019-11-04 08:02] malcek commented on #15801
Thank you for your help on that. After I contact developer od pretty url module he prepare fix for this error in two hour.

[2019-11-04 08:04] Lorenzacchio opened #16256 "Bug module Avis Clients v4.0.0 sur PrestaShop 1.7.6.1"
Bonjour,

J'ai activé le module en BO mais rien ne s'affiche en Front.

J'ai désactivé/réactivé, réinitialisé le module, rien ne se passe ni ne s'affiche en Front office.

Avez-vous une solution svp ?

[2019-11-04 08:09] futurowebpl commented on #11435
@PrestaShark but this walkthrough does not display an additional description of the payment method, it is exactly the same if you added {if $ option.id == 'payment-option-1'} checked {/ if} in payment.tpl - this is not the right solution.

this is a bug in Prestashop with $selected_payment_option - when will it finally be solved @khouloudbelguith?

[2019-11-04 08:24] AtteR commented on #16245
Hi,

Yes, it is cache issue. We do have settings enabled like that, but what we should do with APCu?

[2019-11-04 08:26] khouloudbelguith commented on #16256
Hi @Lorenzacchio,

Thanks for your report.
Did you enable this module: https://addons.prestashop.com/fr/avis-clients/29150-avis-clients-societe-des-avis-garantis.html? or The Product Comments provided by PrestaShop?

Thanks!

[2019-11-04 08:32] #15230 closed, assigned to matks, TristanLDD, MatShir

[2019-11-04 08:32] Lorenzacchio commented on #16256
The Product Comments provided by Prestashop > Avis Clients v4.0.0 - par PrestaShop
https://www.prestashop.com/fr/blog/module-avis-clients

[2019-11-04 08:38] khouloudbelguith commented on #16249
Hi @rdy4ever,

Thanks for your report.
I manage to reproduce the issue with develop branch.
![image](https://user-images.githubusercontent.com/16067358/68107953-ad9a1400-fee6-11e9-8bb0-592c01f25ba4.png)
![image](https://user-images.githubusercontent.com/16067358/68107961-b985d600-fee6-11e9-85d2-22c68d95ba53.png)

In the PS1.7.6.1, it is OK.
![image](https://user-images.githubusercontent.com/160673

[2019-11-04 08:49] khouloudbelguith commented on #16256
@Lorenzacchio, in the FO, are you connected or not?
Because we have an option to Allow `guest reviews`
![image](https://user-images.githubusercontent.com/16067358/68108495-39607000-fee8-11e9-8f33-fa989adfe66f.png)
If it is enabled, visitors & guests can write reviews
![image](https://user-images.githubusercontent.com/16067358/68108576-62810080-fee8-11e9-8ef6-366308f08d60.png)

Thanks!

[2019-11-04 09:04] Lorenzacchio commented on #16256
Yes, I have tried 'Allow guest reviews' on YES and on NO, nothing is displayed on the front office

[2019-11-04 09:09] khouloudbelguith commented on #16251
Hi @sirius82,

I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2.
I attached a screen record
https://drive.google.com/file/d/1shVbXt5FVAWSn0tkWBs-MqmvcJwGfC-B/view
Thanks to check & feedback.

[2019-11-04 09:15] khouloudbelguith commented on #16256
@Lorenzacchio, could you please navigate to the BO => Design => Positions page => search the Product comments module & check if this module is hooked to the `displayProductAdditionalInfo` hook
![image](https://user-images.githubusercontent.com/16067358/68109888-fd2f0e80-feeb-11e9-974b-cf1a3106466b.png)

Thanks!

[2019-11-04 09:22] Lorenzacchio commented on #16256
Yes, the module is hooked on the good place on BO > Design > Positions > displayProductAdditionalInfo

[2019-11-04 09:31] khouloudbelguith commented on #16253
Hi @sickboards,

You need to unselect the option "Allow a customer to download and view PDF versions of his/her invoices".
![image](https://user-images.githubusercontent.com/16067358/68110941-41231300-feee-11e9-8105-cec53706203c.png)

Thanks to check & feedback.

[2019-11-04 09:34] khouloudbelguith commented on #16256
@Lorenzacchio, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestas

[2019-11-04 09:36] colinegin commented on #9702
Alright, no problem :)

[2019-11-04 09:43] mayka83 commented on #16155
@khouloudbelguith  We have various zone.
The problem happens in both cases.
When we change de zone and when we change only the address.
Thanks for your help.

[2019-11-04 09:45] marionf commented on #14770
### - Issues when **duplicating a product** sorted by priority high to low :

**Should-Have**
- [ ] #9828

**Nice to have**
- [x] #11496 PR: https://github.com/PrestaShop/PrestaShop/pull/15712

**Improvement**
- [ ] #15330

**New feature**
- [ ] #13397

### - Issues related to **permission** sorted by priority high to low :

**Should-Have**
- [ ] #12636

[2019-11-04 10:09] khouloudbelguith commented on #16254
Hi @weddingtextile,

Thanks for your bug report.
Are you connected over Proxy with authentication?

Thanks!

[2019-11-04 10:21] PierreRambaud commented on #16184
Hi @bet0x
Could you tell us more about what you want exactly? In which context?

[2019-11-04 10:25] PierreRambaud commented on #15298
@colinegin No problem to add a correlation table :) We also could update our `tab` field values.

[2019-11-04 10:25] khouloudbelguith commented on #16252
Hi @Nelhagui,

I did not manage to reproduce the issue with ps1.7.6.1.
I tried with 1680 products & it is OK.
https://drive.google.com/file/d/1OMi80CJWWFxtlMH_tB1dqwxkFp3c7-Hu/view
Here's my configuration
![image](https://user-images.githubusercontent.com/16067358/68114197-c0681500-fef5-11e9-8ad2-51045ee6cd3a.png)
Thanks to check & feedback.

[2019-11-04 10:34] weddingtextile commented on #16254
No Proxy

[2019-11-04 10:35] khouloudbelguith commented on #16254
@weddingtextile, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prest

[2019-11-04 10:40] PierreRambaud commented on #16208
I think it's a good idea.
Today we are based on values stored in `mymodule.php` which mean, if this file is not properly loaded, we can have a 500 errors.
Composer is not used by everyone but why not adding a Composer plugin to check these new information and make it mandatory in the future :thinking:

[2019-11-04 10:42] khouloudbelguith commented on #16155
Hi @mayka83,

In your case, ib the carriers settings, all zones are with same ranges?
![image](https://user-images.githubusercontent.com/16067358/68115196-1ccc3400-fef8-11e9-8236-7f63581d20e5.png)

Thanks!

[2019-11-04 10:46] khouloudbelguith commented on #15503
Hi @freefiona85,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-11-04 10:50] Lorenzacchio commented on #16256
Host : OVH
server setup and configuration : Version PHP globale 7.0
PrestaShop version (source) : 1.7.6.1
debug mode report : no
PHP  / apache / javascript console log  : 0
sceenshots : i-phonik.fr

[2019-11-04 10:56] mayka83 commented on #16155
Hello @khouloudbelguith

Yes, we have the same ranges for all zones

![transportista](https://user-images.githubusercontent.com/11313604/68116042-2787c880-fefa-11e9-82f7-e080854e951c.png)

Thanks in advance

[2019-11-04 11:03] Robin-Fischer-PS opened #16257 "Minor display regression on Contact Us Page (FO)"
**Describe the bug**
On the "Contact us" page, the contact mail is not displayed correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Contact Us" on FO, see the display of the email adress.

**Screenshots**
On 1762 :
![release 1762 custo contact mail 1 - now](https://user-images.githubusercontent.com/55688534/68116315-c7455680-fefa-11e9-97b8-2ed875884dd0.png)

On 1752 :
![releas

[2019-11-04 11:14] zuk3975 opened #16259 "Localization exception in order creation page after clean ps install"
**Describe the bug**
Cannot search for products in Sell > Order > add new Order.
Keep getting Localization exception associated with empty currency, thrown in Locale::getPriceSpecification() which is apparently called in admin controller when preparing context.

**To Reproduce**
Steps to reproduce the behavior:
1. Install prestashop development mode (using /install-dev)
2. Click on Sell > Orders >

[2019-11-04 11:17] khouloudbelguith commented on #16257
Hi @Robin-Fischer-PS,

I have the same behavior as PS1.7.6.1 & PS1.7.6.0.
![image](https://user-images.githubusercontent.com/16067358/68117220-01aff300-fefd-11e9-80fb-f16495728e1f.png)
Thanks!

[2019-11-04 11:26] khouloudbelguith commented on #16259
Hi @zuk3975,

I have the same issue with the develop Branch.
![image](https://user-images.githubusercontent.com/16067358/68117664-4425ff80-fefe-11e9-8f44-ecfbe988791b.png)
It is OK with PS1.7.6.2build1.
I’ll add this to the debug roadmap.
Thanks!

[2019-11-04 11:27] sickboards commented on #16253
Thanks that did the trick

[2019-11-04 11:28] khouloudbelguith commented on #16253
@sickboards, Thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-11-04 11:28] #16253 closed, assigned to nobody

[2019-11-04 11:33] khouloudbelguith commented on #16155
@mayka83, in my case, I did not manage to reproduce the issue with PS1.7.5.0, I tried with different zones for different states, but it is OK.
What is the exact zone for the Zaragoza state & the Madrid State?
In my case, it is the Europe Zone
![image](https://user-images.githubusercontent.com/16067358/68118028-3f158000-feff-11e9-8511-458ea14676ce.png)
![image](https://user-images.githubusercontent

[2019-11-04 11:35] khouloudbelguith commented on #16256
@Lorenzacchio, did you use a custom theme or the default theme provided by PrestaShop?

Thanks!

[2019-11-04 11:44] Lorenzacchio commented on #16256
A custom theme provided by a professional company called Laberthemes
I specify that the the module worked well yesterday, it doesn't work since this morning

[2019-11-04 12:22] cartomatica73 commented on #14621
we have the server locally, could you tell me what part of the configuration is there to see?

[2019-11-04 12:23] matrixino commented on #14621
If you have PS in a subfolder be sure to NOT have any htaccess in parent folders. Especially if they overwrite mod_expires rules.

[2019-11-04 12:39] khouloudbelguith commented on #16256
@Lorenzacchio, it could be a cache issue.
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-11-04 12:41] khouloudbelguith commented on #16044
@Allbutfancy, thanks for your feedback.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-11-04 12:41] #16044 closed, assigned to nobody

[2019-11-04 12:44] khouloudbelguith commented on #16240
@jul-m,

I cannot delete records from the database manually => this is incorrect behavior.
From the BO => there is no option to delete the record of a product in the ps_stock_available table.

Deleting this record manually => this is an insecure way.

Thanks!

[2019-11-04 13:02] khouloudbelguith commented on #16248
Hi @Marcelozippo,

I tried with PS1.7.6.1 fresh install & it is OK.
I attached a screen record
https://drive.google.com/file/d/1XFkwj5GC4lhe-GkbDiil_pwp65esCdym/view
Your issue is duplicate of #15684.
If you enable the debug mode, you can find an exception related to your theme.
The issue is fixed with this PR: https://github.com/PrestaShop/ps_categoryproducts/pull/6

Thanks!

[2019-11-04 13:03] khouloudbelguith commented on #9948
Hi @Prestaja,

Sorry, it is not fixed yet.

Thanks!

[2019-11-04 13:08] jul-m commented on #16240
Hi @khouloudbelguith,

In my case, some records were missing from the "ps_stock_available" table. There is a problem with creating these records, or deleting them. I did not identify the source of this problem.

If I ask to delete directly in database, it is only to reproduce the state in which I found myself. There is obviously no question of doing this on a shop in production.

I am aware that t

[2019-11-04 13:15] colinegin commented on #14750
Hello @jolelievre , is this issue fixed by #14972 ?

[2019-11-04 13:15] colinegin commented on #14709
Hello @jolelievre , is this issue fixed by #14972 ?

[2019-11-04 13:33] khouloudbelguith commented on #16240
@jul-m,

I need to reproduce this problem.
Did you use a fresh install PS1.7.6.1 or an upgrade from a previous version?

Thanks!

[2019-11-04 13:44] Lorenzacchio commented on #16256
I have cleared the cache right now, no change, the module doesn't still not appear on front office
I don't understand why because once again, it worked well yesterday

[2019-11-04 13:46] khouloudbelguith commented on #16256
@Lorenzacchio, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-11-04 13:47] jul-m commented on #16240
There have been several updates since version 1.7.1, and many CSV imports.

Difficult to determine when these recordings were not made (or deleted).

That's why I focused my issue on the function getStockAvailableByProduct() which is anyway problematic, because I have no details to bring about the origin of the absence of products in the table " ps_stock_available ".

[2019-11-04 13:51] colinegin commented on #15857
@LouiseBonnard are you sure this is a good idea to add breton to the french pack as it is very specific ?

[2019-11-04 13:53] khouloudbelguith commented on #16240
@jul-m, we need to reproduce the issue first.
If I manage to reproduce the issue without deleting the data from the database, I will add the issue to our bug roadmap.

The stock location field is displayed in your ps_stock_available table?
Is it?
https://user-images.githubusercontent.com/16067358/61954584-0a656480-afb1-11e9-8290-45f600db4fdc.png
Thanks!

[2019-11-04 13:56] matks opened #16260 "Module shopping cart / after upgrade from v2.0.2 to v2.0.3 when I order a out-of-stock product, nothing happens on PS 1.7.6"
## Describe the bug

**On PS 1.7.6 (and probably previous versions too):**
If I use ps_shoppingcart v2.0.2, when I order a out-of-stock product, the modal opens and tells me the product has been added to cart successfully => this was wrong and was registered as a bug in https://github.com/PrestaShop/PrestaShop/issues/11631.

**On PS 1.7.6 (and probably previous versions too):**
If I use ps_shoppin

[2019-11-04 13:58] khouloudbelguith commented on #16256
@Lorenzacchio, I tried with your shop.
It is well displayed
![image](https://user-images.githubusercontent.com/16067358/68126218-96bde680-ff13-11e9-84a2-4e46e03a4ee3.png)

Thanks!

[2019-11-04 14:04] jolelievre commented on #14750
Hi everyone!
No, the PR #14972 is just the first part linked to this issue #15752
But the work for this issue is well advanced in a branch, I just didn't create a PR because other ones need to be managed first. Also (as the numerotation doesn't indicate) this issue will have to be merged first https://github.com/PrestaShop/PrestaShop/issues/14709

[2019-11-04 14:05] jolelievre commented on #14709
As explained in this other comment https://github.com/PrestaShop/PrestaShop/issues/14750#issuecomment-549368083
No the PR  #14972 is only the first one, two other PRs will be coming once it is merged.

[2019-11-04 14:07] LouiseBonnard commented on #15857
Breton is already available in the Translations > Add / Update a language section of the back office and since it is somehow part of the French pack, I thought it could be nice to add it as well.

[2019-11-04 14:21] dharmendravirasat opened #16261 "I'm facing error Call to a member function trans() on null prestrashop 1.7.6"
My custom module code here
`` ` $this->fields_list = array(
            'id_lpc_caddie' => array('title' => $this->l('ID'), 'align' => 'center', 'width' => 25),
            'id_cart' => array('title' => $this->l('Cart ID'), 'width' => 120),
            'id_customer' => array('title' => $this->l('Customer ID'), 'width' => 40),
            'firstname' => array('title' => $this->l('Firstname'), 'widt

[2019-11-04 14:38] khouloudbelguith commented on #16260
Hi @matks,

I have the same issue with PS1.7.5.2 & PS1.7.6.1 & the ps_shoppingcart v2.0.3.
But the error message is not displayed in my case after refreshing the page.
In the develop branch => OK
https://drive.google.com/file/d/1lG8ZKLCDaD9GZaWCe3bkH0yPLE4dnNsJ/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please

[2019-11-04 14:43] khouloudbelguith commented on #16261
Hi @dharmendravirasat,

Please be aware that this bug tracker should be used to report issues only. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-11-04 14:43] #16261 closed, assigned to nobody

[2019-11-04 14:43] Lorenzacchio commented on #16256
Yes you’re right but yesterday, i was not the same design, there were stars beside each products…
You see what I mean.

Also, I don’t find how to associate a country to a geographical area. I have searched on google, on the documentation, but nothing about where to find countries….

Best regards,
Laurent

[2019-11-04 14:43] bet0x commented on #16184
@PierreRambaud You use file_get_contents, even for Prestashop core stuff. Using Symfony native method with fallback will prevent errors (in my case where i host i have no file_get_contents). Only curl extensions, so if you check for one or the other you will have always connection to the source.

[2019-11-04 14:56] khouloudbelguith commented on #16256
@Lorenzacchio, because, there is no Approved reviews in your case
![image](https://user-images.githubusercontent.com/16067358/68130422-9cb7c580-ff1b-11e9-8e07-a7116ff78973.png)

Thanks!

[2019-11-04 15:00] fyndpriser opened #16263 "The problem is related to the shopping cart."
Hi,
I have a problem after re-upload some files and replace them with the old.
The problem is related to the shopping cart.

When I click Add item to cart nothing happens but after refreshing the page the item appears already added.
The second thing when I try it on another browser that I have not used before shows the same product that I added earlier.
I think it's related to cookies.
Are there a

[2019-11-04 15:04] Lorenzacchio commented on #16256
Oh ok, I had in the previous Prestashop version (1.6), it means that they have not migrated to the new version 1.7.6.1, it doesn’t matter, I'll check this later.

Do you have any suggestion how we can associate a country to a geographical area for shipping please ?

[2019-11-04 15:15] khouloudbelguith commented on #16263
Hi @fyndpriser,

Did you use the MailChimp module?

Thanks!

[2019-11-04 15:17] fyndpriser commented on #16263
Hi @khouloudbelguith
No, I don't use the MailChimp module

Thanks..

[2019-11-04 15:19] fyndpriser commented on #16263
I've disable non PrestaShop modules and disable all overrides without result.

[2019-11-04 15:19] alaminmishu opened #16264 "prestashop 1.6 chrome scroll down error"
Whenever my site loads on the chrome browser it automatically scrolls down to footer area.
Not showing header content first. There is a slider in header area.

Tested in Iphone's Safari browser and opera browser this problem not occurs.
plz have a look.

site link: https://inglotbangladesh.com/

Prestashop version: 1.6.1.23

Appreciate, if anyone faces this problem and overcome.
plz, let me know h

[2019-11-04 15:19] khouloudbelguith commented on #16256
@Lorenzacchio, first we have an option Geolocation by IP address you can enable it.
![image](https://user-images.githubusercontent.com/16067358/68132203-95de8200-ff1e-11e9-9556-458ae2ac3d41.png)
To associate a country to shipping you need to follow these steps:
1. Create a new zone Zone1
2. Edit your country & change the zone of this country to Zone1.
3. Now, you can associate this new Zone1 of th

[2019-11-04 15:19] #16256 closed, assigned to nobody

[2019-11-04 15:21] weddingtextile commented on #16254
On a hosting found cyclic requests to 216.58.215.115, then an error on a timeout.
Perhaps not exactly, it is somehow related to gamification.prestashop.com

How can I manually disable modules in the database?

[2019-11-04 15:21] khouloudbelguith commented on #16263
@fyndpriser, did you use those options?
![image](https://user-images.githubusercontent.com/16067358/68132542-30d75c00-ff1f-11e9-9424-d0baa23af3db.png)

Thanks!

[2019-11-04 15:22] khouloudbelguith commented on #16264
Hi @alaminmishu,

I did not manage to reproduce the issue with PS1.7.6.1.
As you may already know, normal maintenance support for PrestaShop 1.6 ended in October 2018, which is now in [extended maintenance mode until June 30, 2019](https://www.prestashop.com/en/blog/maintenance-extension-prestashop-1-6).

During this period, and in order to ensure the stability of current 1.6 shops, only critical

[2019-11-04 15:22] #16264 closed, assigned to nobody

[2019-11-04 15:24] fyndpriser commented on #16263
yes, I've disable non PrestaShop modules and disable all overrides without result.

[2019-11-04 15:26] weddingtextile commented on #16254
The assumption was confirmed. Renamed the gamification directory to gamification_ and the admin panel worked.

[2019-11-04 15:27] khouloudbelguith commented on #16254
@weddingtextile, what is the exact version of the gamification module did you use?

Thanks!

[2019-11-04 15:27] PierreRambaud commented on #16184
Ohh, yes, this is something we will do later. Step by step, migrating our legacy to symfony is a really long task :/

[2019-11-04 15:28] fyndpriser commented on #16263
@khouloudbelguith
I have multiple stores and the problem is also with other stores https://www.fyndpris.no/ . Thanks..

[2019-11-04 15:30] khouloudbelguith commented on #16263
@fyndpriser, no those options do not work as reported here:
https://github.com/PrestaShop/PrestaShop/issues/9965 & https://github.com/PrestaShop/PrestaShop/issues/14596

Thanks!

[2019-11-04 15:32] weddingtextile commented on #16254
<module>
	<name>gamification</name>
	<displayName><![CDATA[Merchant Expertise]]></displayName>
	<version><![CDATA[2.0.1]]></version>

[2019-11-04 15:32] weddingtextile commented on #16254
<module>
	<name>gamification</name>
	<displayName><![CDATA[Merchant Expertise]]></displayName>
	<version><![CDATA[2.0.1]]></version>

[2019-11-04 15:32] weddingtextile commented on #16254
2.0.1

[2019-11-04 15:33] TristanLDD commented on #16039
@colinegin With Sarunas' departure we may want to keep it for after the freeze

[2019-11-04 15:46] #15940 closed, assigned to LouiseBonnard, colinegin

[2019-11-04 15:58] jf-viguier commented on #14524
The bug is still there in Prestashop 1.7.6.1, can you reopen it ?

[2019-11-04 16:05] TristanLDD commented on #15179
I think an information message or even some changes in the wording would be enough to avoid the confusion. Helper cards are more relevant for important pages that require some learning. @LouiseBonnard what do you think?

[2019-11-04 16:10] weddingtextile commented on #16254
https://www.web-hints.com/tools/disable-prestashop-api-calls-in-backoffice/

[2019-11-04 16:11] khouloudbelguith commented on #14524
Hi @jf-viguier,

Could you please confirm these steps:
1. Français is selected
2. Create a new customer with a previous email & with birthday date like 15/08/1985
3. click submit
4. An error "L'adresse email est déjà utilisée, veuillez en choisir une autre ou vous connecter" is displayed
5. change the address email & submit again => there is no error
In my case, in the step5, The user is well regi

[2019-11-04 16:11] #15817 closed, assigned to atomiix

[2019-11-04 16:14] khouloudbelguith commented on #16254
@weddingtextile, this version is very old.
We re-worked in this module & fixed issues.
Please upgrade your module to the latest one v2.3.1.
https://github.com/PrestaShop/gamification/releases

Thanks!

[2019-11-04 16:18] LouiseBonnard commented on #15179
It suits me fine, let's precise it during the page migration!

[2019-11-04 16:22] #16254 closed, assigned to nobody

[2019-11-04 16:22] jf-viguier commented on #14524
There is clearly a display issue : when submitting to server with en error, the birthday is displayed in yyyy-mm-dd instead of french format dd/mm/yyyy
![bugdate](https://user-images.githubusercontent.com/16720275/68137487-5a948100-ff27-11e9-98ab-2e412a842a29.png)
In my screenshot, I used a wrong password.

[2019-11-04 16:23] TristanLDD commented on #14135
@marionf Yes the dropdown with languages would be the most consistent option :)

[2019-11-04 16:28] pantle commented on #9959
sorry, this error occurs still...
<img width="600" alt="Bildschirmfoto 2019-11-04 um 17 27 56" src="https://user-images.githubusercontent.com/3627386/68138225-7ea49200-ff28-11e9-97b7-73b343068f3d.png">

[2019-11-04 16:29] marionf commented on #14135
The problem that I see is if you have the same file for X languages, you will have to add it X times for each

[2019-11-04 16:32] khouloudbelguith commented on #9591
The same issue in the "Create an account page."
1. Français is selected
2. Create a new customer with a previous email & with birthday date like 15/08/1985
3. click submit
4. An error "L'adresse email est déjà utilisée, veuillez en choisir une autre ou vous connecter" is displayed
5. The birthday is displayed in yyyy-mm-dd instead of french format dd/mm/yyyy
![image](https://user-images.githubuser

[2019-11-04 16:33] khouloudbelguith commented on #14524
Hi @jf-viguier,

I updated an old issue.
it is added to our debug roadmap.
Your ticket is a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9591
So, I close it.
Thanks!

[2019-11-04 16:33] #14524 closed, assigned to nobody

[2019-11-04 16:33] TristanLDD commented on #14448
The design is now displaying well in 1.7.6. Must have been related to the RC.
I close the issue.

[2019-11-04 16:33] #14448 closed, assigned to TristanLDD

[2019-11-04 16:35] Bonobomagno commented on #15433
So, the new "modern" email templating just don't work with translation.
1.7.6.1? The PR was merged 5 days ago.
Actually the only solution is using a custom translation domain (different from Email.Body)
Something like change Emails.Body to Modules.Custommodule.customsubdomain

you have to regenerate the emails on every translation change, but it will just work.

[2019-11-04 16:36] khouloudbelguith commented on #16245
Hi @AtteR,

I'm trying to create a huge shop with a lot of products & check the issue again.
Because it is OK with a normal shop.

Thanks!

[2019-11-04 16:40] TristanLDD commented on #14135
Oh you're right, the problem could be solved by adding checkboxes in the language dropdown so you can select X languages for one file.

[2019-11-04 16:42] bet0x commented on #16184
If you just grep the project and look for file_get_contents, then replace it for a middleware function to check if allow_url_fopen is enabled if not then you do

[code]

grep is your friend!

[2019-11-04 16:46] jf-viguier commented on #14524
It's not a duplicate of #9591 because the birthday is not managed by the same code of the product availability date.

[2019-11-04 17:14] matthieu-rolland opened #16268 "Fuzzy search optimization"
**Edit 22/01/2021:**

The code has moved quite a bit since this issue was created, so the task at hand could be described as follow:

1/ Check if proposed improvement is still relevant, if not, see if there are other improvements possible.

2/ If any improvements are needed, do it.

 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[2019-11-04 17:15] matthieu-rolland commented on #16268
@Lathanao , @colinegin

This is the issue we were talking about regarding future improvement of the fuzzy search PR.

[2019-11-04 18:47] 8ternity commented on #16154
Yes close it. I have no answer yet on gitter. Im not a developper, i just want to have a fix and not break anything.

[2019-11-04 19:33] jul-m commented on #16240
Yes
![Capture](https://user-images.githubusercontent.com/16786004/68151613-56299180-ff42-11e9-89b1-9eb71b0c99c9.JPG)

[2019-11-04 20:46] amigainc commented on #15080
I also have the same message:

[2019-11-04 21:58] diyan1234 opened #16269 "Stock management - filter by supplier works only if selected default supplier for the product"
Stock management can filter products by supplier only if selected default supplier for the products. It is not working if for any product is selected just "Choose the suppliers associated with this product"

For example I have product A which I buy from supplier 1 and supplier 2. I associated it with both suppliers but if I didn't choose "Default supplier" then it will not be visible if I use Stoc

[2019-11-05 07:38] khouloudbelguith commented on #15841
Hi @jvolta-1976,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-05 07:38] #15841 closed, assigned to nobody

[2019-11-05 07:52] khouloudbelguith commented on #16245
Hi @AtteR,

I tried with a huge shop with a lot of products & it is OK.
CacheAPC is enabled => there is no issue in the FO.
I tried with PS1.7.6.1 & PS1.7.5.2 => OK.
Despite our several trials, we could not reproduce your issue with the provided information.
It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I invite you to cont

[2019-11-05 07:52] #16245 closed, assigned to nobody

[2019-11-05 08:08] khouloudbelguith commented on #16269
HI @diyan1234,

Thanks for your report.
Yes, I have the same behavior as PS1.7.6.1 & PS1.7.5.2.
If a product doesn't have a supplier by default selected => filter doesn't work.
For example, I have a Test product with 2 suppliers ( there is no default supplier)

![image](https://user-images.githubusercontent.com/16067358/68189483-a5f07300-ffab-11e9-8160-c472fb91f672.png)
In the stocks page => no pr

[2019-11-05 08:12] Alexsmart78 opened #16270 "Bug nombre de visiteurs en ligne"
Bonjour,

Je suis sous prestashop 1.7.4.3 et depuis quelques temps j'ai un bug concernant le nombre de visiteurs en ligne.
Il y a des explosions du nombre des visiteurs plusieurs fois par jour alors qu'il s'agit toujours de la même adresse IP qui se connecte toutes les 3 secondes.
Du coup mes stats : nombre de visites et taux de transfo sont complètement faussés.
Suis-je la seule dans ce cas ?
Peu

[2019-11-05 08:17] khouloudbelguith commented on #16270
Hi @Alexsmart78,

I think you have an attack.
Did you have some Amazon, ebay, etc. module to synchronize your shop with the market?
It could be due to a proxy server also.
You can use PrestaShop Geo Location Feature. It is really very good to block the IP.
Thanks!

[2019-11-05 08:23] khouloudbelguith commented on #16154
@8ternity, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-11-05 08:23] #16154 closed, assigned to nobody

[2019-11-05 08:28] khouloudbelguith commented on #14524
Hi @agnesdennetiere,

But the issue is the same "Date format always in US format in the French language".
In the BO => International => Loaclization => Languages Tab => The Date format is specified & we can edit it => but in the FO is not applied.
![image](https://user-images.githubusercontent.com/16067358/68190855-873fab80-ffae-11e9-88aa-20c0d48518af.png)

Thanks!

[2019-11-05 08:30] marionf commented on #16269
Hello @diyan1234

Your issue is a duplicate of #9580
Please follow this issue.

Regards

[2019-11-05 08:30] #16269 closed, assigned to nobody

[2019-11-05 08:38] Alexsmart78 commented on #16270
No je n'ai pas de module Amazon, ebay...
Le problème c'est que l'IP change tous les jours voir plusieurs fois par jours :(

[2019-11-05 08:40] marionf commented on #9790
@LouiseBonnard Are you ok with that ?

[2019-11-05 08:40] khouloudbelguith commented on #16270
@Alexsmart78, could you please provide me a screenshot.
As I said before, you can use PrestaShop Geo Location Feature. It is really very good to block the IP.
You can navigate to your BO => International => Localization => Geolocation Tab, in this page, you can enable the Geolocation by IP address, you can add IP addresses that will always be allowed to access your shop.
Thanks!

[2019-11-05 08:52] Alexsmart78 commented on #16270
encore obligé d'acheter un module :( N'y a t'il pas de solution gratuite ?

[2019-11-05 08:58] khouloudbelguith commented on #16270
@Alexsmart78, the PrestaShop Geo Location Feature is not a module, it is a PrestaShop option.

Thanks!

[2019-11-05 09:05] Alexsmart78 commented on #16270
c'est une option payante ?

[2019-11-05 09:09] khouloudbelguith commented on #16270
@Alexsmart78, No.
You can navigate to your BO => International => Localization => Geolocation Tab, in this page, you can enable the Geolocation by IP address, you can add IP addresses that will always be allowed to access your shop.
![image](https://user-images.githubusercontent.com/16067358/68193947-65e1be00-ffb4-11e9-88a5-ada75a684350.png)

Thanks!

[2019-11-05 09:11] Alexsmart78 commented on #16270
ah ok. Super !
Merci beaucoup

[2019-11-05 09:19] khouloudbelguith commented on #16270
@Alexsmart78, thanks to check it & feedback.

[2019-11-05 09:33] khouloudbelguith commented on #16240
@jul-m , I tried to follow these steps:
1.Enable multi-store mode without sharing stocks.
2.Delete the record of a product in the ps_stock_available table of a product available in all shops
=> I deleted a record of the first shop => now I cannot order this product in the first shop => because => it is out of stock& it is not allowed to be ordered.
=> If I try to order this product in the second s

[2019-11-05 09:41] khouloudbelguith commented on #15080
Hi @amigainc,

Maybe you have an override which is incompatible with your PrestaShop version as described here: https://github.com/PrestaShop/PrestaShop/issues/15877#issuecomment-541568906

Thanks!

[2019-11-05 10:01] marionf opened #16272 "Add information message for attached files in product options tab"
Under the message "Add files that customers can download directly on the product page (instructions, manual, recipe, etc.)."
Add an information message: "To manage your files, go to Catalog > Files" with a link to the page

![capture d'écran_2125](https://user-images.githubusercontent.com/13449658/68198086-aa248c80-ffbb-11e9-90fa-4d9fc743b546.png)

[2019-11-05 10:04] jolelievre opened #16273 "When I install a new language, the generated emails are not translated on first generation"
**Describe the bug**
When I install a new language, the generated emails are not translated on first generation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to International > Translations
2. Install new language "Polish"
3. The mails are generated in `mails/pl` but they are in englisg
4. If you regenerate them manually after it works fine

**Solution**
Check the update package part of

[2019-11-05 10:18] khouloudbelguith commented on #16273
Hi @jolelievre,

I have the same issue with PS1.7.6.1 & PS1.7.6.2build1.
[pl.zip](https://github.com/PrestaShop/PrestaShop/files/3808419/pl.zip)

It is OK with PS1.7.5.2.
[pl.zip](https://github.com/PrestaShop/PrestaShop/files/3808413/pl.zip)

I’ll add this to the debug roadmap.
Thanks!

[2019-11-05 10:20] khouloudbelguith commented on #16273
Ping @PrestaShop/prestashop-product-team what do you think?
It should be fixed in the PS1.7.6.2 patch?

Thanks!

[2019-11-05 10:27] MatShir commented on #15522
I will check with the tech team, thanks for the report @khouloudbelguith @marionf

[2019-11-05 10:28] MatShir commented on #15820
An interesting bug about the partial refund #15522

[2019-11-05 10:39] LouiseBonnard opened #16275 "Prevent customers from returning a full virtual order"
**Is your feature request related to a problem? Please describe:**

When an order contains only virtual products, the Merchandise Returns tab displays the following message: Merchandise returns are not applicable for virtual orders. So we let the merchant know virtual products (and by extension, fully virtual orders) cannot be returned.

But once a virtual order is noted as delivered, the customer

[2019-11-05 10:40] elrosi opened #16276 "Text WYSIWYG Editor is not working correct"
Hi,

Back office editor not working correct. In PrestaShop versions 1.7.2 to 1.7.6.1 the editor for my product description doesn't work, it just appear html code as the attached picture.
There is also a problem with resizing the table.

Browser: Google Chrome, version 78.0.3904.87 (Official Build) (64-bit)

![2019-11-05_11-15-20](https://user-images.githubusercontent.com/1309982/68199122-aeea4000-

[2019-11-05 10:51] khouloudbelguith commented on #16276
Hi @elrosi,

Thanks for your bug report.
Have you the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/9651?
I tried with PS1.7.6.1 & PS1.7.6.2build1 & it is OK
https://drive.google.com/file/d/1fBQlhqKd56iVONUCqnqEvq7b-btSB7Ac/view

Thanks!

[2019-11-05 11:08] Prestaja commented on #9948
@khouloudbelguith  thanks for the reply! Any timeline or workaround?

[2019-11-05 11:09] LouiseBonnard commented on #9790
I'm fine with it, thanks @marionf! Here is my recommendation, feel free to challenge it:

_Select the files (instructions, documentation, recipes, etc.) your customers can directly download on this product page._
_Need to browse all files? Go to the [1]Catalog > Files[/1] section of your back office._

[2019-11-05 11:30] LouiseBonnard commented on #16272
Here is my recommendation, feel free to challenge it:

_Select the files (instructions, documentation, recipes, etc.) your customers can directly download on this product page._
_Need to browse all files? Go to the [1]Catalog > Files[/1] section of your back office._

[2019-11-05 11:43] PierreRambaud commented on #16184
@matks @eternoendless I think it's a good idea to use newer component for file_get_contents (Replacing Tools::file_get_contents also)

[2019-11-05 12:03] freechelmi opened #16277 "[Docker] FPM image should wait for db"
**Is your feature request related to a problem? Please describe.**
When you invoke db and prestashop ( fpm) in a docker-compose , the PS FPM container will exit because the DB is not ready yet
**Describe the solution you'd like**
the DB connection should be retried at least for 60 seconds.
**Describe alternatives you've considered**

**Additional context**
That is what other project like nextcloud

[2019-11-05 12:24] khouloudbelguith commented on #16277
Hi @freechelmi,

Thanks for your feedback.
Ping @PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-11-05 12:26] khouloudbelguith commented on #9948
@Prestaja,

There are some major issues to solve before this one.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-11-05 12:42] fyndpriser commented on #16263
@khouloudbelguith
I've manually disabled all non-PrestaShop modules. And reset all PrestaShop modules.
But the same problem!

[2019-11-05 12:43] fyndpriser commented on #16263
I don't know if the problem is related to the database or something else?

[2019-11-05 12:45] khouloudbelguith commented on #16263
@fyndpriser, did you make any changes in the theme?

Thanks!

[2019-11-05 12:54] matks commented on #16184
Doesn't it move the problem elsewhere ? Replacing file_get_contents by curl calls is going to move "I need allow_url_fopen" to "I need curl extension"

[2019-11-05 12:56] fyndpriser commented on #16263
@khouloudbelguith
I installed the warehouse template and then after that removed it and tried to install the transformer2 template. Then the problem appeared and then removed all templates and keep the default template.
I have restored a backup of all files and folders before modifying without the database.

Sorry for my English
Thanks..

[2019-11-05 12:58] khouloudbelguith commented on #16263
@fyndpriser, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:

 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-

[2019-11-05 13:52] iw0der commented on #15019
for the benefit of someone who is reading here, I answer to my own question...

**NO**

...bypassing the autoincrement check, it does not even complete the installation ... goes wrong during the installation of the modules :-( and actually looking through the various forums, I found the following written:

so it seems to me there are not many alternatives at present, a little too complex to modify

[2019-11-05 14:31] dennispw opened #16279 "Childtheme (not) using parent assets"
**Describe the bug**
Recently came across an "issue" when it comes to child themes. Let's say I have this structure
[code]
Which in a `.tpl` file is used for something like: `<img src="{$urls.img_url}some-image.jpg" ... >`. Works as expected.

However, if we in a child theme extend or use that very same `.tpl` file we will get a 404 since that image is not present in the child themes `assets/img`

[2019-11-05 14:31] matks commented on #15019
Sorry I did not see the question 😢and thank you for providing the answer

[2019-11-05 15:05] eternoendless opened #16280 "Nightly builds are not being created"
**Describe the bug**
Nightlies are not being published on https://nightly.prestashop.com/

[2019-11-05 15:40] Leo-pold-02 opened #16282 "After 1 click Update: Various backend Tabs not reachable - Errors"
**Describe the bug**
After a Upgrade using 1 click update from 1.6. to 1.7.1. i cant acsess the :
Orders/Orders tab
International/Localisation
Stats
Shop Paramerters/General
Shop Paramerters/Order settings
Shop Paramerters/Customer Settings/Titles
Advanced Parameters/Administration
in backend.

**Errors:**
On Orders it displays Acsess denied

On Customers it display a redirect issue or sometimes a

[2019-11-05 15:41] khouloudbelguith commented on #16279
Hi @dennispw,

Thanks for your bug report.
I have the same behavior as PS1.7.6.1 & PS1.7.5.2.
![image](https://user-images.githubusercontent.com/16067358/68221984-95132200-ffea-11e9-9138-7645e6dd21b9.png)
The image `some-image.jpg` exists in the path `themes/classic/assets/img/some-image.jpg`
I used this child theme
[childtheme-example.zip](https://github.com/PrestaShop/PrestaShop/files/3809793/ch

[2019-11-05 15:46] khouloudbelguith commented on #16282
Hi @Leo-pold-02,

For the access denied page => you need to remove 'ps_access' table and restore 'ps_access' from 'clean' DB to solve your issue.
About the Customer Tab issue, it is a permission issue => you need to check it with your host.
You can navigate to your BO => Advanced Parameters => Information => Check your configuration => Required parameters: OK/NOK.
Thanks to check & feedback.

[2019-11-05 16:14] #16257 closed, assigned to atomiix

[2019-11-05 16:20] Leo-pold-02 commented on #16282
Hi @khouloudbelguith
Thanks for the quick answer! Amazing!

Could you help me with doing the database thing, im not a experienced database user, however i have a second copy with a clean PS 1.7. install in a diffretn subdomin runnig right now so shgould be easy to get teh clean DB files.
What instructions should i folow so i dont break anything crutial?

Customer Tab, ok i can check with my host a

[2019-11-05 16:30] khouloudbelguith commented on #16282
@Leo-pold-02,

You need, for example, install new PrestaShop v1.7.6.1 with your same configuration.
Export the new ps_access table
Import it in the your Old Database
Please make a back up before these changes, let's be safe!

yes!

[2019-11-05 16:37] Hlavtox opened #16283 "Unable to remove customized product from cart - minimum quantity error"
**Describe the bug**
During testing, I got the store to a situation, where I couldn't delete product from cart. It happened only on my phone and I can't (for now) reproduce it on desktop.

- When I attempted to delete product from cart or reduce amount to 0, it threw **'You must add %quantity% minimum quantity'**.
- Adding and reducing count above 1 worked OK.
- Behavior was the same if it was onl

[2019-11-05 16:43] Leo-pold-02 commented on #16282
Thanks.
1 I Exported a clean ps_Accsess database from a virgin build thr myPhp.
2 Went in the current running database with the errors in my PHP, deleted "drop tabels" of the ps_Accsess.
3 importat the ps_accsess DB file thru my php in the database.
4. ps_acsess is there again. but i cant acsess hte backend anymore
:( - im very confused now. please help.
Error:
https://ibb.co/LQ1qWj8
DB in myPHP
h

[2019-11-05 16:47] 123monsite-regis opened #16284 "Migration from earlier version (ps earlier than 1.6.0.11), zero before product EAN13 where deleted"
**Describe the bug**
During Migration from earlier version than 1.6.0.9
When apply, autoupgrade, zeros before Ean13 disappear.
note that official ean13 from Usa seems to begin from 000 to 060 ( for instance : 018200110306 )

**To Reproduce**
Steps to reproduce the behavior:
1. Install a old prestashop (1.6.0.9 is used on the screens bellow the reproduce steps )
2. Fill EAN13 for a product and for

[2019-11-05 16:50] Leo-pold-02 commented on #16282
btw: i had the virgin prestashop running at php 7.2. and the new one (with all my data that i try to fix at) php 7.1

[2019-11-05 16:58] Leo-pold-02 commented on #16282
i did a complete new presta instalation of 1.7.6.1. on a new subdomain again.
This time something strange happend the database is not starting the tables wit ps_ but with r2gDF_ the r2gDF_accsess contain 756 tabels. The one i hab used before only 419 tabbles. This confuses me again. im sorry!

this is the new virgin database now:
https://ibb.co/kQXzBh2

[2019-11-05 18:18] bet0x commented on #16208
It happened to me.
I downloaded a theme after git cloning the dev branch, i just uploaded it into the theme folder and i got an error 500.

So this is a real need, a check to see if something is compatible or not. Modules and Themes alike.

[2019-11-05 21:48] darylstone opened #16286 "Contact form does send mail alert to the person who did contact and translations/placeholders not working"
**Describe the bug**
If a customer does a request using the contact form, the mail: You have received a new message from contact form (translated from german) is sent to the customer instead to the admin. Besides that if I open the mail, it does display: Hello, {firstname} {lastname}. But on the contact form is not a input field for firstname or lastname if you are not logged in.

**To Reproduce**

[2019-11-06 07:38] khouloudbelguith commented on #15846
Hi @dawidurus,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-06 07:38] #15846 closed, assigned to nobody

[2019-11-06 07:40] khouloudbelguith commented on #15543
Hi @JohnCasa,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-06 07:40] #15543 closed, assigned to nobody

[2019-11-06 08:02] khouloudbelguith commented on #16283
Hi @Hlavtox,

Thanks for your report.
We have recently fixed two issues in PS1.7.7.0 similar to this problem.
1. Customized product can't be deleted from the cart reported in this ticket: https://github.com/PrestaShop/PrestaShop/issues/15986 & fixed by this PR: https://github.com/PrestaShop/PrestaShop/pull/15987
2. Removal of customization makes impossible to remove a product from the cart reporte

[2019-11-06 08:06] khouloudbelguith commented on #16286
Hi @darylstone,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #13386
So, I close it.
Thanks!

[2019-11-06 08:06] #16286 closed, assigned to nobody

[2019-11-06 08:06] khouloudbelguith commented on #16286
Duplicate of #13386

[2019-11-06 08:33] khouloudbelguith commented on #16282
@Leo-pold-02, you need to install the new version PS1.7.6.1 with same configuration ( same prefix with your old one)
![image](https://user-images.githubusercontent.com/16067358/68281601-5461ea00-0078-11ea-8897-49b28960ab7a.png)

Please make a back up before these changes, let's be safe!
In your old database without any changes thanks to Run a query on `ps_access` table > SQL
`INSERT INTO ps_access

[2019-11-06 08:46] PierreRambaud commented on #16119
Should it be in the 1.7.6 backlog instead?

[2019-11-06 08:55] matks commented on #16119
I added it to both, as it was solved in both backlogs 😄

[2019-11-06 09:39] khouloudbelguith commented on #16284
Hi @123monsite-regis,

I did not manage to reproduce the issue.
I tried with the 1-click upgrade v4.9.0.
I tried an upgrade from PS1.6.0.11 to PS1.7.6.1 & from PS1.6.1.24 to PS1.7.6.1 & they are ok.
I attached a screen record
https://drive.google.com/file/d/12dZsBwgXkzJB5TTsShyXemNYb3XdVIet/view
Thanks to check & feedback.

[2019-11-06 09:41] colinegin commented on #9959
@khouloudbelguith do you reproduce this issue ? It is supposed to be fixed in 176

[2019-11-06 09:52] khouloudbelguith commented on #9959
Hi @colinegin,

Yes, it is OK.
I tried with PS1.7.6.1 & it is well displayed
![image](https://user-images.githubusercontent.com/16067358/68287544-29c95e80-0083-11ea-8919-f3079e753d7e.png)

Thanks!

[2019-11-06 09:53] colinegin commented on #9959
Thanks @khouloudbelguith !

@pantle are you sure you are using PS 1.7.6 ?

[2019-11-06 09:54] khouloudbelguith commented on #16202
Hi @matteolavaggi,

Can I close the issue?

Thanks!

[2019-11-06 09:57] #16259 closed, assigned to matthieu-rolland

[2019-11-06 09:59] colinegin commented on #15857
I guess it means that if you install french localization pack, you will have french and breton languages by default available ?

[2019-11-06 09:59] matthieu-rolland opened #16288 "Order creation page in BO: adding a product creates a new cart"
**Describe the bug**

Here's the bug that was found by @Robin-Fischer-PS from QA when testing PR #16266 :

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Orders > Orders > Create new order

When adding a product, it creates a new cart (with only the last product added) instead of adding the product to current cart.

**Bug demonstration**
https://drive.google.com/file/d/191hrSUes1-eW16b

[2019-11-06 10:06] dennispw commented on #16279
To clarify, I'm not saying this is a bug per say, just that the behaviour is "odd" depending on how you think about it. Makes perfect sense since your using a "new" theme and that asset isn't available but on the other hand it feels like it "should" automatically check the parent theme for that file if not present in the child theme. Simply curious.

[2019-11-06 10:09] #9790 closed, assigned to nobody

[2019-11-06 10:30] 123monsite-regis commented on #16284
sorry @khouloudbelguith my description was not really good,

you need to upgrade from a version stricly inferior as PS1.6.0.11  (PS1.6.0.9 for instance )

[2019-11-06 10:35] matks commented on #14736
According to @eternoendless we might track the following trick: put a large `<td>` which would contain the whole row and inside it, put one `<td>` for each column

So, before:
[code]
After:
[code]

this would allow us to make the row clickable without javascript

[2019-11-06 10:36] matks commented on #14732
@marionf I'm a bit confused here, can we write down what needs to be done ?

[2019-11-06 10:41] MatShir commented on #14732
I'm on it ;)

[2019-11-06 10:45] khouloudbelguith commented on #16288
Hi @matthieu-rolland,

The first issue is not fixed also.
I have the same exception as reported here: https://github.com/PrestaShop/PrestaShop/issues/16259
when we choose a customer after deleting all shopping carts not ordered yet.
Steps to reproduce the issue:
1. fresh install to develop or delete all shopping carts not ordered yet.
2. Try to add a new order from the BO
3. Choose a customer
4. s

[2019-11-06 10:47] khouloudbelguith commented on #16259
Hi @matthieu-rolland,

The issue is not fixed yet.
Steps to reproduce the issue:
1. fresh install to develop or delete all shopping carts not ordered yet.
2. Try to add a new order from the BO
3. Choose a customer
4. see the error in the console
![image](https://user-images.githubusercontent.com/16067358/68291740-c9d6b600-008a-11ea-9694-80a91be53036.png)

Commented here: https://github.com/PrestaS

[2019-11-06 10:48] 01park opened #16290 "Option to duplicate team profiles: suggestion"
I would like to have the option to duplicate a team profile in back office.

This would speed things up :)

[2019-11-06 11:00] matthieu-rolland commented on #16288
@khouloudbelguith Damn, ok, issue #16259 mentioned the exception when searching for a product, I didn't not realize we had the same issue when choosing a customer. 😓

So to sum up things that we still have to fix on this page:

- Exception when looking for a customer
- Products being added create a new cart

Am I right?

[2019-11-06 11:01] khouloudbelguith commented on #16290
Hi @01park,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?
![image](https://user-images.githubusercontent.com/16067358/68292911-2509a800-008d-11ea-87b2-76703d1232c2.png)

Thanks!

[2019-11-06 11:04] khouloudbelguith commented on #16288
@matthieu-rolland, yes exactly!

1. Exception when choosing a customer just searched, when all shopping carts not ordered yet are deleted
2. Products being added create a new cart

Thanks!

[2019-11-06 11:07] khouloudbelguith commented on #16284
@123monsite-regis, sorry.
I tried again with PS1.6.0.9 & it seems ok.
I attached a screen record
https://drive.google.com/file/d/1z8JDORe5XRWqM-ftkIwyVmR-Axt0tg6x/view
Thanks to check & feedback.

[2019-11-06 11:19] TristanLDD commented on #16290
Hi @01park, in order to better understand your need could you give us an example of a use case when you need to perform this action?

Thanks!

[2019-11-06 11:31] 01park commented on #16290
The reason I came up with this suggestion is because lets say you have a group working on a project, but one person you want to give extra access. For this you will need to create a second profile with all the existing option. By duplicating an account, you will less likely make a mistake as you no longer need to select the options in a empty sheet.

[2019-11-06 11:51] Leo-pold-02 commented on #16282
Thanks again for your answer!

does the same configuration mean: just the prefix, or also the theme and all the modules etc?

I will try again once i have the info what sam config means.

Once i have the new clean database in my php admin:
1. i export the ps_Acsess in the clean install database
2. i clean the ps_acsess table in the shop with errors
3. i import the clean ps_acsess table in the shop

[2019-11-06 12:59] eternoendless commented on #15857
Yes that's right

[2019-11-06 13:01] 123monsite-regis commented on #16284
@khouloudbelguith

on your record, we can see that the ean13 has been changed from `018200110306` to `18200110306` (only 12 digits) .
this is the issue reported.

regards

[2019-11-06 13:01] Leo-pold-02 commented on #16282
My Backend is running again! Thanks a lot for your help @khouloudbelguith !

Would i still need to run that query and what will it do?

Best
Leo

[2019-11-06 13:11] colinegin commented on #15857
To be honest i find it a bit weird, breton is a very very specific & local language. I feel like in 99% of the time you only need french as language, so it will require that people remove the breton language. What do you think @LouiseBonnard ?

[2019-11-06 13:12] khouloudbelguith opened #16293 "Cannot create or update a supplier with a country which contains states by default"
**Describe the bug**
It is impossible to create or update a supplier with a country which contains states by default, for example, the United States, Mexico,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to BO => Catalog => Suppliers page
2. Create a new supplier with the country United States
3. Select a state for this country
4. Save
5. See error (The State field is empty)
![image](ht

[2019-11-06 13:13] matks commented on #15857
⚠️
<img src="https://i.skyrock.net/5767/41125767/pics/3314351488_1_5_EkEyA7id.jpg">

[2019-11-06 13:13] khouloudbelguith commented on #16293
Ping @boubkerbribri

[2019-11-06 13:15] #9702 closed, assigned to matthieu-rolland

[2019-11-06 13:16] khouloudbelguith commented on #16282
@Leo-pold-02,

No, it is a second solution.

Since it is fixed, I close the issue, Feel free to open a needed.

Thanks!

[2019-11-06 13:17] khouloudbelguith commented on #16282
Duplicate of #9513

[2019-11-06 13:22] matks commented on #12368
@colinegin I confirm this issue is less relevant now. If we had done it before 1.7.6 was out, we would have been able to delete an unnecessary piece of code because it was duplicated. However, 1.7.6 is now released and it is forbidden for us to delete pieces of code released as it might now be used by a module. We will only be able to remove this piece of code in next major.

The only thing we can

[2019-11-06 13:23] khouloudbelguith commented on #16284
@123monsite-regis, yes you are right.
The 0 is missing.
I will add the issue to the debug roadmap.

Thanks!

[2019-11-06 13:26] Robin-Fischer-PS commented on #11115
Hi here, @marionf !

It's possible by ordering two products that have two different specific carrier. The order will be split into two (one for each carrier), but with the same reference.

Screenshot :
![duplicate reference](https://user-images.githubusercontent.com/55688534/68302018-6e63f280-00a1-11ea-96a1-68673b24356d.png)

[2019-11-06 13:28] Leo-pold-02 commented on #16282
@khouloudbelguith im sorry its me again. i realised that the modules that came with my theme are not accessible any more after the DB transfer.
I get an Access denied all the time.
Is there something i need to change in the virgin database so that does not happen?

Best
Leo

[2019-11-06 13:31] khouloudbelguith commented on #16282
@Leo-pold-02, yes, the second solution is to run this SQL request on your first Database
`INSERT INTO ps_access (id_profile, id_authorization_role) SELECT 1, id_authorization_role FROM ps_authorization_role;`

Thanks!

[2019-11-06 13:40] MatShir commented on #11115
hey @bm-services @sirion89 Klemart3D,
Do the duplicated orders have different carriers? We are still trying to reproduce it. For what I can read, it is with different customer, but need to ask to be sure.

[2019-11-06 13:51] Leo-pold-02 commented on #16282
Hello,
Well at the moment the in old(updated) database the ps_accsess contained only 419 taels the new ps_acsess contains 756 Tabels.
Why would this affect the backend modules and tools that came with my theme? Is there a way to fix that issue without returning to the old small database?
Would i need to install the theme and all modules on the virgin build exactly the way i have it on my undated s

[2019-11-06 13:58] khouloudbelguith commented on #16282
@Leo-pold-02, so, you need to check the `ps_authorization_role` table, you have all `id_authorization_role` defined in the `ps_acsess` table.
So, I think, you have missing `id_authorization_role` in the table `ps_acsess` which are available in the `ps_authorization_role` table.

Thanks!

[2019-11-06 14:13] Klemart3D commented on #11115
In my case it's not related to different carriers because it can be reproduced for a command with only one product (so with only one carrier) and one payment method.

In my last investigations, it can be related to addresses: sometimes 2 shipping addresses ID are sended in customer cart on PS1.7 but one of this address is `deleted=1` in database, so that can create some problems like wrong shippin

[2019-11-06 14:29] Leo-pold-02 commented on #16282
Thanks for the quick reply.
In Ps Acsess i have the table ps_authorization_role and it seems like there is a value for each line.

https://ibb.co/M5Q6MzT

Or did i not understand you right? Sorry im really a noon in database stuff. Tanks aa lot for your help. Leo

[2019-11-06 14:30] #9890 closed, assigned to Progi1984

[2019-11-06 14:30] #16272 closed, assigned to nobody

[2019-11-06 14:31] #15857 closed, assigned to eternoendless

[2019-11-06 14:32] matks commented on #15857
PR has been approved https://github.com/PrestaShop/PrestaShop/pull/16292 but we can make following your decision 😊

[2019-11-06 14:33] johnchatel commented on #16273
Hello,

I have the same problem, how do you regenarate the emails manually please?
Thank you for help!

[2019-11-06 15:08] MatShir commented on #14732
This must be fixed, it hasn't be done yet.

For the tax included/excluded issue, it depends also on how the issue going to be fixed: [comment PR product list](https://github.com/PrestaShop/PrestaShop/pull/16150#issuecomment-550345968
)
- If you can't fix the client group display management in the order, we should all display on the product list with no tax column on the total price with tax label.

[2019-11-06 15:10] creartlab commented on #16217
Hello,
I wanted to say that composer and to regenerate all classes didn't help and I have stille the problem.

[2019-11-06 15:20] khouloudbelguith commented on #16217
@creartlab, the command `composer install` is used to install all dependencies specified in the composer.lock file.

Thanks!

[2019-11-06 15:22] creartlab commented on #16217
yes it was installed already. We did to re install all dependencies. But it don't find "form" class.

[2019-11-06 15:30] khouloudbelguith commented on #16217
@creartlab, this issue is reproduced in which step? during the install of the module? or running the composer install command?

Thanks!

[2019-11-06 15:32] creartlab commented on #16217
the issue is always in the product image window. it shows all blank without commando to delete.

[2019-11-06 15:43] khouloudbelguith commented on #16282
@Leo-pold-02, what are the exact pages which you have access denied?

Thanks!

[2019-11-06 15:46] khouloudbelguith commented on #16217
@creartlab, Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-11-06 15:48] creartlab commented on #16217
Ok! thanks
I will write a message here when I sent.

[2019-11-06 15:50] ghost opened #16295 "URGENT! SpecificPriceRule (Catalog price rules) should work OVER product Specific Prices"
Hi guys.
We have now an very hot months in e-commerce world. Black Friday, Cyber Monday and Christmas...

Prestashop from the begining don;t have efficient way to set massive discount for all catalog.

**Example**
I have 500 products in catalog, 2/3 of them have set specific prices from 15 to 40% discounts.
I want to set catalog rule to cover whole site with 50% discount
Catalog rule will work onl

[2019-11-06 15:51] #16122 closed, assigned to eternoendless

[2019-11-06 15:56] khouloudbelguith commented on #16295
Hi @PrestaShark,

Isn't the same issue reported here: https://github.com/PrestaShop/PrestaShop/issues/14516?

Thanks!

[2019-11-06 15:59] khouloudbelguith commented on #16217
@creartlab, thanks!
Waiting for your feedback.

[2019-11-06 16:08] marionf commented on #14135
I just thought that the language selector on the product page is at the top and applies for the whole page

[2019-11-06 16:13] TristanLDD commented on #14135
Yes but the problem is that with that selector only it's not possible to know which fields are multi language and which fields are not.

[2019-11-06 16:37] fyndpriser commented on #16263
@khouloudbelguith
The problem has been resolved by disabling the Seo Meta Tags Manager module .

Seo Meta Tags Manager
v1.1.0 - by FMM Modules

Thanks.....

[2019-11-06 16:38] #15824 closed, assigned to nobody

[2019-11-06 16:38] #16263 closed, assigned to nobody

[2019-11-06 16:45] acer1981 opened #16298 "Can't save any product when youtube video is embeded in description"
Can't save any product when youtube video is embeded in description. Console log - https://prnt.sc/ptc2e3

("Allow iframes on HTML fields" is enabled - https://prnt.sc/ptc41d)

[2019-11-06 16:59] marionf opened #16299 "Add language selector next to each multilanguage fields in product page"
**Problem**
Currently on the product page there is only on language selector at the top of the page
This can be a problem to identify quickly which fields are translatable or not

**Solution**
Add a language selector next to each translatable field:
- [x] Product name

**Basic settings tab**
- [x] Image caption
- [x] Summary
- [x] Description
- [x] Customized value (Feature)

**Quantities tab**
-

[2019-11-06 17:25] matks commented on #15971
Fixed by Minor improvements for Orders list #16060

[2019-11-06 17:33] rtvt opened #16300 "Category tree wrong current category on homepage"
When you click on homepage after any category page - category tree links module shows previous category instead of home category, when show Current category selected in module settings.

Steps to reproduce:
1. Go to Design - Theme - chose layout - enable left column on homepage to show category tree block.
2. Go to Modules - Category tree links - configure - Set show Current category - save.
3. Go

[2019-11-06 17:35] #15825 closed, assigned to nobody

[2019-11-06 17:42] eternoendless commented on #15838
Done! https://github.com/PrestaShop/LocalizationFiles

New changes should be done there, then pulled on the API server, then updated in PrestaShop.

Note: updated packages are only available for 1.7+

[2019-11-06 17:43] #15838 closed, assigned to eternoendless

[2019-11-07 06:16] jajarom opened #16301 "There are not anough products in stock for virtual products"
**Describe the bug**
When I try to add a custom virtual product, I get the error "There are not anough products in stock", even if the product is in stock.

**To Reproduce**
Add any virtual product in cart.
I thought this problem was solved

**Screenshots**
![error](https://user-images.githubusercontent.com/5030991/68364497-ce58a880-0136-11ea-9db1-a427bde8d9bf.jpg)

**Additional information**
Pres

[2019-11-07 07:25] sotirisa commented on #15469
Hi,

For this I found a soution that it works. You must go and translate the mails files from themes/YOURTHEME/mails.

When I translate this everything is ok. I don't know if this is the right solution but from now it works.

[2019-11-07 07:31] khouloudbelguith commented on #15862
Hi @Marcelozippo,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-07 07:31] #15862 closed, assigned to nobody

[2019-11-07 07:32] khouloudbelguith commented on #15850
Hi @ShaimyWinda,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-07 07:32] #15850 closed, assigned to nobody

[2019-11-07 07:33] khouloudbelguith commented on #15867
Hi @nesoor,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-07 07:33] #15867 closed, assigned to nobody

[2019-11-07 07:52] khouloudbelguith commented on #16298
Hi @acer1981,

I did not manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1e2NvVvhkslLsrvWPesQI3MNeDhaV1fZ-/view
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 -

[2019-11-07 07:56] mayka83 commented on #16155
Hi @khouloudbelguith

We have several zones, as you can see in the image.
But the problem happens although we don't change the zone, only with the street for example.

Thanks for the help
![zonas](https://user-images.githubusercontent.com/11313604/68370286-6d33d380-013c-11ea-8309-bf2f73abfa4a.png)

[2019-11-07 08:01] khouloudbelguith commented on #16301
Hi @jajarom,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1aSIAAClDv_WZJX_66d21WgXnyOsUBg4X/view
Thanks to check & feedback.

[2019-11-07 08:14] Leo-pold-02 commented on #16282
@khouloudbelguith

Its only the backend tools and Modules that came with the thme that i need to configure the thme that are not acsessible right now.
The pages are Called: AP Page builder, Leo-Blogmanagement, and Leo-Thememanagement.

Would it maybe help to swich back to the default theme, and than back to the at-oreo theme i want to use? Or would i need to correct the database for that?

Thanks!

[2019-11-07 08:18] khouloudbelguith commented on #16300
Hi @rtvt,

We are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #10763
So, I close it.
Thanks!

[2019-11-07 08:18] #16300 closed, assigned to nobody

[2019-11-07 08:18] khouloudbelguith commented on #16300
Duplicate of #10763

[2019-11-07 08:20] khouloudbelguith commented on #16282
Hi @Leo-pold-02,

As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-11-07 08:21] khouloudbelguith commented on #16155
Hi @mayka83,

Could you please provide me the access to your shop to test it.
This is a public space.
You can provide me the credentials by email.
My address mail: khouloud.belguith@prestashop.com
Let's be safe!

Thanks!

[2019-11-07 08:22] Leo-pold-02 commented on #16282
OK such a bummer, everything looked fine until i wnated to work on the design again.
Unfortunatly i uninstalled the default theme that came with the virgin PS build. Is there a way to get the default theme back? Where could i download it to reinstall it?

Best
Leo

[2019-11-07 08:30] khouloudbelguith commented on #16282
@Leo-pold-02, here's a classic theme
[classic.zip](https://github.com/PrestaShop/PrestaShop/files/3818561/classic.zip)
Thanks!

[2019-11-07 08:31] Leo-pold-02 commented on #16282
Thanks!
Do you think my approach could work?
Best
leo

[2019-11-07 08:36] Leo-pold-02 commented on #16282
@khouloudbelguith i tried swiching back to the default hteme but i cant it gives me a "you do not have persmision to do that" error.

https://ibb.co/BnDpgN4

Is there a way to fix that?

[2019-11-07 08:39] PrestaShark commented on #16295
Yes. It's becoming urgent... as many of customers want to set massive discounts on their stores...

[2019-11-07 08:40] khouloudbelguith commented on #16282
@Leo-pold-02,

Yes, it could help you with this solution.
Also, you can change the theme of your shop, in your table ps_shop, theme_name
![image](https://user-images.githubusercontent.com/16067358/68373161-96eff900-0142-11ea-97da-a5b4115541d3.png)

Thanks!

[2019-11-07 08:41] khouloudbelguith commented on #16295
Hi @PrestaShark,

It is added to our debug roadmap.
Your ticket is a duplicate of #16295
So, I close it.
Thanks!

[2019-11-07 08:41] #16295 closed, assigned to nobody

[2019-11-07 08:42] khouloudbelguith commented on #16295
Duplicate of #14516

[2019-11-07 08:45] khouloudbelguith commented on #14516
Hi @colinegin,

Anu news about the fix of this issue? because @PrestaShark said

Thanks!

[2019-11-07 08:58] PrestaShark commented on #14516
As mentioned above :

"**Example**
I have 500 products in catalog, 2/3 of them have set specific prices from 15 to 40% discounts.
I want to set catalog rule to cover whole site with 50% discount.
Catalog rule will work only with 1/3 of non discounted products because.

CATALOG RULES doesn't work OVER product SPECIFIC PRICE! ;(
Without this the Catalog Rules don't make any sense... "

THANKS!

[2019-11-07 09:02] Leo-pold-02 commented on #16282
Thanks @khouloudbelguith
What do you think is the best approach to get my shop with the theme i want back up and running?

1. Try to activate the default clasic theme, and after switch back to the theme i bought?
(i cant install the classic theme for the you do not have persmision to do that" error. - would i avoid that error by switching the theme in the database like sugested? - do oyu think tha

[2019-11-07 09:15] JBWModules opened #16302 "Javascript definitions loaded only after scripts"
**Describe the bug**
In current classic theme the javascript variable defintions that can be set e.g. in a module by Media::addJsDef() are added only after the internal and external javascript code and are therefore not available when executing JS code that use this variables.

**To Reproduce**
Steps to reproduce the behavior:
1. Add some JS variable by using Media::addJsDef() (e.g. in a module ho

[2019-11-07 09:22] khouloudbelguith commented on #16302
Hi @JBWModules,

Could you please provide us a demo module to test it.

Thanks!

[2019-11-07 09:27] Leo-pold-02 commented on #16282
I tried route nr.2. and imported the ps acsess again from a virgin PS build, this time i installed the theme of chice, and matched all the modules to be exactly the same.
But i still have the same issues: i cant switch the theme in backend and i cant scsess all the tools of my theme.
I dont know what else to do :) please help me. thanks!

[2019-11-07 09:34] khouloudbelguith commented on #16282
@Leo-pold-02, you are a super admin is it?
![image](https://user-images.githubusercontent.com/16067358/68377111-1df49f80-014a-11ea-9aa6-b5fb36708c0f.png)

Thanks!

[2019-11-07 09:38] Leo-pold-02 commented on #16282
yes.

![Bildschirmfoto 2019-11-07 um 10 37 23](https://user-images.githubusercontent.com/57262480/68377420-a1ae8c00-014a-11ea-893f-142e0249c797.jpg)

If i click on team/ employes / permsions i get this error:
![Bildschirmfoto 2019-11-07 um 10 37 04](https://user-images.githubusercontent.com/57262480/68377464-b7bc4c80-014a-11ea-8169-cd3ffe766322.jpg)

[2019-11-07 09:40] khouloudbelguith commented on #16282
@Leo-pold-02, could you please try to clear cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-11-07 09:48] Leo-pold-02 commented on #16282
did that now, still the same issue, if i acsess team/ employes / permsions i get this:
![Bildschirmfoto 2019-11-07 um 10 45 48](https://user-images.githubusercontent.com/57262480/68378144-e4bd2f00-014b-11ea-946c-24ed5b8b995e.jpg)

And i still cant change the theme in the backend under design / theme & logo.

[2019-11-07 09:51] khouloudbelguith commented on #16282
@Leo-pold-02, thanks to follow this comment: https://github.com/PrestaShop/PrestaShop/issues/12126#issuecomment-454349802, I think, it is similar to your issue.

Thanks to check & feedback.

[2019-11-07 09:56] eternoendless commented on #14527
To me this is a bug because some modules may not be installable if they depend on the services or doctrine entities during install

[2019-11-07 10:05] marionf opened #16306 "Improve feature creation in product page"
#### Describe the bug

There are two cases in product page :

**Product V1 page** : There is no possibility to delete a feature when we put `Choose a value` and `Choose a feature`. The features are duplicated after save and when we put a customized value for it.

Here is a screen-record : 8.0.x with product V1 page

https://user-images.githubusercontent.com/92912932/177517930-35644b44-8d22-43f1-8c

[2019-11-07 10:08] Leo-pold-02 commented on #16282
@khouloudbelguith i did contact my host they changed the file, but they said they would not recomend doing this ? is that somehow dangerous?

The file looks like this now:

# Apache 2.2
#<IfModule !mod_authz_core.c>
#    Order deny,allow
#    Deny from all
#</IfModule>

# Apache 2.4
#<IfModule mod_authz_core.c>
#    Require all denied
#</IfModule>

But the error is still the same, i cleaned cache

[2019-11-07 10:25] khouloudbelguith commented on #16282
@Leo-pold-02, Can you please provide us the log of your upgrade? It can be found in the log.txt file, available in `<admin folder>/autoupgrade/tmp/log.txt`

Thanks!

[2019-11-07 10:29] colinegin commented on #12368
Thanks for the feedback ! I'm leaving this issue in the backlog then, just in case we have nothing left to do :) I'm unassigning you !

[2019-11-07 10:31] Leo-pold-02 commented on #16282
sure:

[log.txt](https://github.com/PrestaShop/PrestaShop/files/3819091/log.txt)

[2019-11-07 10:36] khouloudbelguith commented on #16282
@Leo-pold-02, just question, your theme is compatible with PS1.7?
Because the theme used in the PS1.6 is not used & compatible with PS1.7.
There is a huge difference.

Thanks!

[2019-11-07 10:42] matks commented on #14732
For the record: every feedback from Marion was fixed by Sarunas in Some fixes to Orders page #16075
Only remaining issue: the price, whether it should be displayed with or without taxes

[2019-11-07 10:43] Leo-pold-02 commented on #16282
@khouloudbelguith

Yes, we bought a new theme(at-oreo by leo-themes) just for that that is compatible with the 1.7. PS version. I have it running on the virgin build with no issues.
But i dont have our products, customers, orders, cariers and such in the virgin build. Thats why i want to use the updated shop.

In terms of the update:

in 1.6.
On backup of the shop
Change theme to default
Upgrade p

[2019-11-07 10:54] WebXYAgency opened #16308 "Tax Rules : Incorrect display value in Price Tab of admin product controller"
**Describe the bug**
When using an integer as tax rules name, the display value in tax rule field is incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Internationnal' > 'Taxes' > 'Tax Rules' tab.
2. Add a new tax rule with an integer (ie: 20)  as name and save.
3. Go to any product page in 'Catalog' > 'Products'.
4. Go to 'Pricing' tab and open the select list of 'Tax rule' f

[2019-11-07 11:11] khouloudbelguith commented on #16308
Hi @WebXYAgency,

Thanks for your report.
I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1 & PS1.7.6.2build1.
The display is incorrect.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-11-07 11:17] PierreRambaud commented on #15919
We must update productcomments or blockreassurance.
Both are not compatible together :)
https://github.com/PrestaShop/productcomments/blob/master/composer.json#L17 https://github.com/PrestaShop/blockreassurance/blob/master/composer.json#L17

PIng @jolelievre @Progi1984

[2019-11-07 11:21] khouloudbelguith commented on #16282
@Leo-pold-02, We need to retrieve the PHP error log and the debug mode report in order to find out what's wrong.
Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-report/

Thanks!

[2019-11-07 11:38] Leo-pold-02 commented on #16282
Sure its strange i cant find the required php error log under var/logs - there is only a dev.log and a prod.log file - no subfolders!
I did read the article but it does not point out where i find the debug mode report. im sorry. could you please tell me where to find it.

Really appreciate your help!

![Bildschirmfoto 2019-11-07 um 12 37 13](https://user-images.githubusercontent.com/57262480/68386

[2019-11-07 11:44] Leo-pold-02 commented on #16282
Another question, and 2 creative aproached to solve the issue.

1. maybe it would be easyer to transfer the images, products, carriers and so on over to the virgin build ? is that somehow possible or would this require a lot of manual work? Or could i just copy folders over?

2. Maybe there is a way to manually uninstall the at_oreo theme that i bought and its modules and reinstall it again so the

[2019-11-07 12:16] sickboards opened #16311 "Scroll Blocking event on mobile product page in core.js:39"
**Describe the bug**
The mobile menu can freeze (unable to scroll) on a product page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a product page in chrome
2. Change to mobile view (in browser), open de hamburger menu
3. Check the console
4. See error

**Screenshots**
see screenshot from your demo site.

**Additional information**
PrestaShop version: lastest
![Capture](https://user-

[2019-11-07 12:17] Progi1984 commented on #15919
@jolelievre productcimments must be updated to 0.2.0. It's the release that I asked to Guzzle's team.

[2019-11-07 12:20] #15074 closed, assigned to atomiix

[2019-11-07 12:22] marionf commented on #16308
@khouloudbelguith it's only in pricing tab or also in basic settings ?

[2019-11-07 12:44] khouloudbelguith commented on #16308
Hi @marionf,

Yes, same problem in the basic settings.

Thanks!

[2019-11-07 13:00] khouloudbelguith commented on #16311
Hi @sickboards,

Thanks for your report.
I did not manage to reproduce the issue with PrestaShop download v1.7.6.1.
the dem PrestaShop is not the latest version.
Did you try with a PrestaShop download?
You can try with this shop: http://melted-ring.machine-shuffle.prestashop.net/en/stationery/16-mountain-fox-notebook.html

Thanks!

[2019-11-07 13:07] sickboards commented on #16311
Hello
Yes, I still see the same issue.
We noticed the issue on an iphone,
but I see it on win10/chrome Version 77.0.3865.120 (Official Build) (64-bit)

On Thu, 7 Nov 2019 at 14:01, khouloudbelguith <notifications@github.com>
wrote:

[2019-11-07 13:08] khouloudbelguith commented on #16282
@Leo-pold-02,

You need to navigate to your BO => Advanced Parameters => Performance => Enable debug mode
![image](https://user-images.githubusercontent.com/16067358/68391359-bc432e00-0167-11ea-8ed8-5968dea8bc70.png)

No, when you access to the theme & logo page => is there any exception displayed?

Retreiving the bug report & error log file, could help us to understand the exact issue & how to so

[2019-11-07 13:17] Leo-pold-02 commented on #16282
Hey, im sorry the debug mode is activated since days.
I have the debug bar in the browser at the bottom as well.

Acsessing theme&Logo isn o problem.
Only if i want to change the theme it gives me "You do not have permission to edit this."
Also the Homepage Configutation and Advanced customistation tabs under Theme are not accsessible.
Still no pho error file in the var/logs.
Best
Leo

[2019-11-07 13:18] khouloudbelguith commented on #16311
@sickboards, it is OK in my case, I tried with this shop http://melted-ring.machine-shuffle.prestashop.net/en/stationery/16-mountain-fox-notebook.html & windows 10 chrome v77 & an iPhone.
I attached a screen record
https://drive.google.com/file/d/12A_Yv-9_qwTD88khYQ9rLbaTEQQQW1ND/view
Thanks to check & feedback.

[2019-11-07 13:20] khouloudbelguith commented on #16282
@Leo-pold-02, You need to enable debug mode in your store and debug request which is sent for theme change in your browser, using DevTools, so:

1. enable debug mode
2. go to the Theme & logo page
3. open up developer tools
4. go to Network tab
5. change the theme
6. wait for an error, you should see red request information in Network tab
7. click on it, you should see the error message in "Respon

[2019-11-07 13:28] RogerComte opened #16313 "Problem with messages from customer account"
Hi there,

When a customer write a message from the order-detail form, the e-mail alert is sent to the shop's address and not the customer service address (just like the contact form).

If the shop's address is a noreply@xxx.com (in our case), we can't get any alert.

This kind of form should act like the contact form...

PrestaShop version: 1.7.3.3
PHP version: 7.1.3.3

[2019-11-07 13:29] eternoendless commented on #16029
This is an old issue that we have been aware of for some time and goes a very long way back. My guess is that years ago, an old Core developer mixed up _country_ ISO codes ([ISO 3166-1](https://en.wikipedia.org/wiki/ISO_3166-1) alpha 2) with _language_ ISO codes ([ISO 639-1](https://en.wikipedia.org/wiki/ISO_639-1)) which happen to be the same for some country/languages (like French/France, Spanis

[2019-11-07 13:32] Leo-pold-02 commented on #16282
thanks. About 3. by developer tools you mean the bar at teh bottom of the page (symphony profiler)?

In this i only find 3 issues:
![Bildschirmfoto 2019-11-07 um 14 30 22](https://user-images.githubusercontent.com/57262480/68393032-5eb0e080-016b-11ea-9525-8ffd5e58eda9.jpg)
![Bildschirmfoto 2019-11-07 um 14 30 16](https://user-images.githubusercontent.com/57262480/68393033-5f497700-016b-11ea-9106-b

[2019-11-07 13:36] PierreRambaud commented on #15919
Thanks to @jolelievre for updating productcomments module.
we are waiting for a new version on packagist before updating #16310

[2019-11-07 13:37] khouloudbelguith commented on #16282
@Leo-pold-02, open the console, you can follow this link to know how to open the console tab.
https://kb.mailster.co/how-can-i-open-the-browsers-console/

Thanks!

[2019-11-07 13:40] Leo-pold-02 commented on #16282
ReferenceError: $ is not definedadmin.js:19:1
    <anonym> https://_shop.xxxx.de_/modules/amzpayments/views/js/admin.js:19

[2019-11-07 13:42] khouloudbelguith commented on #16282
@Leo-pold-02, this error is related to the amzpayments module.
As it's not a module provided by Prestashop, we can't do anything with this.
You should contact the module author via your addons.prestashop.com account, they are the only ones to help you with it.
Thanks!

[2019-11-07 13:42] Leo-pold-02 commented on #16282
so i unstalled amazon pay plugin and now there is no error in the console but still the same issue

[2019-11-07 13:46] Leo-pold-02 commented on #16282
in the network anaytics tab i get this

![Bildschirmfoto 2019-11-07 um 14 44 44](https://user-images.githubusercontent.com/57262480/68393995-58236880-016d-11ea-8883-0ee63e4f3490.jpg)

[2019-11-07 13:50] khouloudbelguith commented on #16282
@Leo-pold-02, the issue is related to the permission issue to your employee.
So, thanks to creat a new profile with all permissions (pages & modules)
Create a new employee with this new profile, check & feedback.

[2019-11-07 13:57] Leo-pold-02 commented on #16282
hey @khouloudbelguith
BABÄM - i did a diffrent approach and copied teh ps_accsess and teh ps_autentification_role from the virgin database over to the existing one and so far that seems to have fixed teh issues!
I want to thank you so mutch for helping me out and taking the time to fix this with me!
a big hug to you!

Fingers crossed that im not runnign into a new issue in 2 minutes :)

[2019-11-07 14:00] khouloudbelguith commented on #16282
@Leo-pold-02, Great!
I'm happy that you solved the issue.
I close the ticket, feel free to open a new one when needed.

Thanks!

[2019-11-07 14:00] #16282 closed, assigned to nobody

[2019-11-07 14:14] marionf commented on #9976
Not relevant anymore with #13479

[2019-11-07 14:14] #9976 closed, assigned to nobody

[2019-11-07 14:21] TristanLDD commented on #13589
Design feedback on  -->  [#16013](url)

[2019-11-07 14:30] khouloudbelguith commented on #16313
Hi @RogerComte,

This type of message is sent to your shop address?
![image](https://user-images.githubusercontent.com/16067358/68397404-70968180-0173-11ea-9a3b-2f87a9133eeb.png)

Thanks!

[2019-11-07 14:51] matks commented on #15823
Fixed by https://github.com/PrestaShop/PrestaShop/pull/16046

[2019-11-07 14:51] #15823 closed, assigned to nobody

[2019-11-07 14:53] alim-n opened #16314 "Add VK to ps_socialfollow module"
VK is very popular social media in russian speaking countries.
Please consider adding it to social media module.

[2019-11-07 15:03] Majusek commented on #10739
Hi I tkink that I have a smiliar problem.

I have a diffrent carriers for diffrent countries.
When client is a visitor (not logged yet) and his localization is diffrent that default countrie set in shop, shipping cost in cart is free.
If client is a visitor (not logged yet) and his localization is the same as default countrie set in shop the shipping cost is correct.

I suppose that the geolocaliz

[2019-11-07 15:07] ITFGouws opened #16315 "Permission denied (13)"
Notice on line 101 in file /home/gdpintck/public_html/farminabox/vendor/symfony/symfony/src/Symfony/Component/HttpFoundation/Session/Storage/Handler/StrictSessionHandler.php
[8] SessionHandler::gc(): ps_files_cleanup_dir: opendir(/var/cpanel/php/sessions/ea-php71) failed: Permission denied (13)

[2019-11-07 15:18] khouloudbelguith commented on #16315
Hi @ITFGouws,

Thanks for your bug report.

About this issue, it is a server permission issue.
Thanks to check with your hist & feedback.

[2019-11-07 15:19] khouloudbelguith commented on #16314
Hi @nzer,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

THanks!

[2019-11-07 15:40] Prestaworks commented on #15834
I can confirm this issue also, it's just as @eternoendless explains it. The issue is in 1.7.6.0 and 1.7.6.1. I think this needs to be fixed quickly as many merchants expects the payment error status to work.

[2019-11-07 15:41] khouloudbelguith commented on #16155
Hi @mayka83,

Finally, I manage to reproduce the issue with PS1.7.6.2build1 & PS1.7.6.1.
https://drive.google.com/file/d/15c30uT-6zje5PdHkuVlzB5DMgdz4NMp7/view
Steps to reproduce the issue
1. Create a product with 0.2 Kg as a Weight.
![image](https://user-images.githubusercontent.com/16067358/68401904-cfabc480-017a-11ea-9e42-b80acc857a94.png)
2. Create a combination for this product with an impact

[2019-11-07 15:43] khouloudbelguith commented on #16155
PS: I tried with a simple product => OK
I tried with a product with combinations but without impact on weight => OK.

Thanks!

[2019-11-07 15:44] #16169 closed, assigned to eternoendless

[2019-11-07 15:44] #16119 closed, assigned to atomiix

[2019-11-07 15:44] khouloudbelguith commented on #16155
Ping @matks, what do you think? this issue could be fixed during the Migration of the Order page?

Thanks!

[2019-11-07 15:47] khouloudbelguith commented on #15834
Ping @eternoendless @colinegin @marionf, what do you think? this issue should be fixed in the next patch PS1.7.6.2?

Thanks!

[2019-11-07 16:03] matks commented on #14732
Last issue is to be fixed in https://github.com/PrestaShop/PrestaShop/pull/16319. Please see "how to test" description for an accurate description of the expected scenario.

[2019-11-07 17:58] gaboto83 opened #16320 "Filter doesn't work when characteristic value starts with - (minus) character in ps_facetedsearch 3.4"
When the character value begins with the character "-" (minus), the filter does not work when selecting that value.
For example, if I have the characteristic "Pressure range", and I have the value "-1 to 0 Bar", I see the option to select in the filters, but when I click on it, it does not work.
A workaround is to rename the value and add a blank space character before name,
for example: " -1 to 0

[2019-11-07 18:15] LouiseBonnard opened #16321 "Clean languages (again) in localization packs"
**Is your feature request related to a problem? Please describe:**

Decision has been made to arbitrate on what languages a localization pack should contain or not. As a result, we have decided to keep only official languages (from a country point of view instead of regionally) part of the localization pack and allow the import of other related languages directly in the International > Translation

[2019-11-07 19:12] Maofree opened #16322 "Cart rules - problems when it is present at the same time a condition on carriers and the free shipping"
Hi
I found an error in the "Cart Rules" when it is present a conditions on carriers (so I want to limit the discounts only on some carriers) and I want to offer the shipping selecting the "free shipping" option in the "Actions" section.

![3](https://user-images.githubusercontent.com/653230/68419636-ebbf5e00-019a-11ea-8d91-ec6cb7c8cf88.jpg)
![4](https://user-images.githubusercontent.com/653230/684

[2019-11-07 19:35] jajarom commented on #16301
Ok.
This problem occurs after I upgrade the Block Cart module, from 2.0.2 to 2.0.3 in the BO. After copy old files back, all good.
So i think here can be a bug from the module.

Thx

[2019-11-07 20:32] bet0x commented on #16315
@ITFGouws In cPanel, logging on your account, you will see Multi PHP, change the session_save_path to something inside your home directory. More here: https://documentation.cpanel.net/display/84Docs/MultiPHP+INI+Editor+for+cPanel

[2019-11-07 20:38] RogerComte commented on #16313
Hi @khouloudbelguith and thank you for your quick answer.
Yes, it's a "message from a customer" and it comes to noreply@xxx.com (the shop address).

[2019-11-07 20:47] jusurb opened #16323 "Search by product reference causes full table scan"
**Is your feature request related to a problem? Please describe.**
Searches by product reference are slow on large product table because it issues full table scan
[code]

**Describe the solution you'd like**
product.reference column is VARCHAR(64) which is perfect for indexing, we should add an index on that column so imports and searches can benefit form it
same query but with index created
[code

[2019-11-07 21:27] karilobre opened #16324 "How to add facebook snipet"
Hi I have my store with prestashop 1.7.5.2 and the theme is sp_market2, I need to add snnipet code from facebook chat to the file header.tpl. I think the file is in this rute \themes\sp_market2\templates\_partials\header.tpl, and I put the code in the first line after the comments. I've cleaned cache but I cant see the snnipet in the store.

Can someone explain me how do I have to put the code or

[2019-11-07 22:43] piotro9x commented on #16152
I have the same problem, php 7.2 browser google chrome.
Have you found a solution to this problem?

[2019-11-08 05:38] qwebdevel opened #16325 "ps_socialfollow wrong url adress"
To Reproduce
Steps to reproduce the behavior:
1. Go to 'BO -> modules -> ps_socialfollow
2. Click on 'configure'
3. Add social media like 'facebook,twitter,etc'
4. See statement of url 'domain.com/facebook.com'
5. Need to be 'facebook.com'

PrestaShop version: N/A
PHP version: N/A

[2019-11-08 06:44] xcephpdev commented on #15846
Hi,

I am facing the same issue on the PS 1.7. When remove the directory from the module then backend was start working. But when I try to install that then module showing the same error during installation time.
How I install that module again.

Regards:
XCE Developer

[2019-11-08 07:51] khouloudbelguith commented on #15863
Hi @LinkOfLight,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-08 07:51] #15863 closed, assigned to nobody

[2019-11-08 07:53] khouloudbelguith commented on #15837
Hi @copyact,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-08 07:53] #15837 closed, assigned to nobody

[2019-11-08 08:22] khouloudbelguith commented on #16325
Hi @qwebdevel,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 & ps_social follow v2.0.0.
When we add a link like `facebook.com` or `instagram.com` => there is an incorrect redirection `domain.com/facebook.com.`
We should add https:// before any link to be correct.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or

[2019-11-08 08:37] khouloudbelguith commented on #16320
Hi @gaboto83,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1 & PS1.7.5.2 & ps_facetedsearch v3.4.0 & ps_facetedsearch v3.0.6.
I attached a screen record
https://drive.google.com/file/d/1tiPwub2c-G99szWFE0VU24Q2admMkmwP/view
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull

[2019-11-08 08:38] khouloudbelguith commented on #16320
Ping @PierreRambaud

[2019-11-08 08:46] khouloudbelguith commented on #16324
Hi @karilobre,

Please be aware that the forge should be used to report issues ONLY. If you need help, you can ask on the Forum (https://www.prestashop.com/forums/), Gitter (https://gitter.im/PrestaShop/General) or Stack Overflow (https://stackoverflow.com/questions/tagged/prestashop).
Thanks for your understanding!

[2019-11-08 08:46] #16324 closed, assigned to nobody

[2019-11-08 08:53] #16308 closed, assigned to nobody

[2019-11-08 08:56] ShaimyWinda opened #16326 "Translation Credit Slip : Don't take locale language"
Hello !

I have a problem with the translations of the credit slip.
Invoices have the right translation (the language of the shop)
On the other hand, for the slip credits, they are all in French even if I download a credit note from an order in the German shop.

And in the translations, it is well translated into German. But if I change the translation in the FR shop, it changes well for the FR cr

[2019-11-08 09:15] khouloudbelguith commented on #16323
Hi @Gamesh,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?
@Gamesh, Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/develop
Thank you!

[2019-11-08 09:22] marionf commented on #16323
@matks Do you think this could be done during the remigration of product page ?

[2019-11-08 09:26] colinegin commented on #15932
Hello @TristanLDD ,

@Progi1984 is currently working on fixing some bugs on blockreassurance module.
Do you think you will have time to update design to add this feature or we'll keep it for a future version of the module ?

[2019-11-08 09:31] khouloudbelguith commented on #16152
Hi @piotro9x,

What is the exact version PrestaShop did you use?
What is the exact browser version did you use?

Thanks!

[2019-11-08 09:40] khouloudbelguith commented on #16326
Hi @ShaimyWinda,

I did not manage to reproduce the issue with PS1.7.6.1 & PS1.7.6.0.
I attached a screen record
https://drive.google.com/file/d/16rVPZN2C6vnEFml02N9dPwocwNLmDnrp/view
PrestaShop is not compatible with PHP 5.4, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link:

[2019-11-08 09:53] JBWModules commented on #9511
The issue is still present in 1.7.6.1 - any news when it will be fixed @khouloudbelguith? Without is it is difficult to dynamically react on cart changes in JS.
I think it is caused in line 31 in cart.js where prestashop.cart is overwritten with event data that don't contain a cart object - not sure what is the intention of this code:
` prestashop.cart = event.reason.cart;`

[2019-11-08 10:02] khouloudbelguith commented on #9511
@JBWModules, Sorry not yet.
PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-11-08 10:04] piotro9x commented on #16152
Presta: 1.7.6.1
Chrome: 78.0.3904.97

[2019-11-08 10:10] beniwal commented on #11011
Is there any solution for this issue. Its coming in google chrome only and now a days 70% people using google chrome.

I see in prestashop 1.7.6.1 we using tinymce 4.0.16 which is ages old and used same version in prestashop 1.6 also. Now there is lot of new features available with new versions of tinymce.

When people use content and images rich html in description and CMS pages selecting images

[2019-11-08 10:15] Gamesh commented on #16323
@khouloudbelguith  yes, as i wrote:

as I understand I need to modify `install-dev/data/db_structure.sql` to add the index

But do I need to add the DB migration to the 1.7.7.1.sql file in `install-dev/upgrade/sql`?

[2019-11-08 10:15] Leenwt opened #16327 "Bot Registration"
**Describe the bug**
Over the past couple of days we have been receiving random registrations from a bot script, I have been unable to fix the problem without enabling a recaptch which is a hurdle for the legitimate customers.

**To Reproduce**
Steps to reproduce the behavior:
N/A

**Screenshots**
![Random-registrations](https://user-images.githubusercontent.com/21257941/68468622-4e9f0c80-0210-11e

[2019-11-08 10:23] ShaimyWinda commented on #16326
Hi @khouloudbelguith

Do you speak french ?
It's easier for me.

Sorry, My Php version is 5.6
Do you have a multi-shop website?
In fact, the basic language of my shop is French. And we have other shops like Germany, or Spain

Thanks

[2019-11-08 10:32] khouloudbelguith commented on #16326
@ShaimyWinda, yes, I speak French, but English is the norm on GitHub.
No, did you use the Multishop context?
The employee language is Deutch?

Thanks!

[2019-11-08 10:41] ShaimyWinda commented on #16326
@khouloudbelguith
No, we all speak French. Just we're in the multi national.

We have a total of 14 countries.
The weird thing is that the problem comes only from the credit slip.
On invoices or delivery notes, if the order is in German, the invoice will be in German. Logically if you make a credit note of an order that has been ordered in the German shop, and refund it, it should be in German.

B

[2019-11-08 10:41] khouloudbelguith commented on #16152
@piotro9x, I did not manage to reproduce the issue with PS1.7.6.1 & `blockreassurance` v4.1.1.
I attached a screen record
https://drive.google.com/file/d/1rPvLvcR1IAsEbXdIM3_76DZqy7yjfyF8/view

Thanks!

[2019-11-08 10:43] khouloudbelguith commented on #11011
Hi @beniwal,

This issue is added to our bug roadmap.
Sorry, it is not fixed yet.
PrestaShop is an open source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-11-08 10:45] khouloudbelguith commented on #16327
Hi @Leenwt,

You can use PrestaShop Geo Location Feature. It is really very good to block the IP.
What is the exact solution did you find?
Thanks!

[2019-11-08 10:50] Leenwt commented on #16327
@khouloudbelguith I have yet been able to fix the issue, Blocking ip's is great and all but not when they are coming from hundreds of ip addresses! 😆

I was hoping someone would pick this up and write a sophisticated regex or something that detects random character entry like the customer names are!

For now I am just deleting them as part of a daily task! 😢

[2019-11-08 10:53] khouloudbelguith commented on #16326
@ShaimyWinda, what is the exact employee language did you use when generating the Credit slips, because we have already an issue about the document's language, they are printed in the employee language reported here: https://github.com/PrestaShop/PrestaShop/issues/10258.

Thanks!

[2019-11-08 10:54] khouloudbelguith commented on #16327
@Leenwt, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - host
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/h

[2019-11-08 10:58] khouloudbelguith commented on #16315
@bet0x, thanks for your feedback.
@ITFGouws, It seems that your issue is not a PrestaShop's core bug but most likely a server configuration or customization problem.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-11-08 10:58] #16315 closed, assigned to nobody

[2019-11-08 11:03] khouloudbelguith commented on #16301
@jajarom, is it the ps_shoppingcart module?
We have reproduced recently an issue with products out of stock reported here: https://github.com/PrestaShop/PrestaShop/issues/16260
Do you have the same issue?

Thanks!

[2019-11-08 11:09] Slews opened #16328 "Customers export from the BO - Wrong 50 limit"
Hello,

When you use the "export" button of the customer grid from the Backoffice:
![image](https://user-images.githubusercontent.com/52968867/68471864-6b8f0c00-021f-11ea-8eea-c3d070c2414c.png)

The file is limited to 50 entries. It should extract all the Customers.

In the PrestaShopBundle\Controller\Admin\Sell\Customer\CustomerController::exportAction(CustomerFilters $filters)
There is no filter

[2019-11-08 11:14] khouloudbelguith commented on #16313
@RogerComte, I did not manage to reproduce the issue with ps1.7.6.1.
I attached a screen record.
https://drive.google.com/file/d/1gUT2kHG29gyf4M4uJWkD3K_Vty9MFd3v/view
Thanks to check & feedback

[2019-11-08 11:17] ShaimyWinda commented on #16326
@khouloudbelguith The exact employee language is French

[2019-11-08 11:20] piotro9x commented on #16152
To the moment that is on the video, my module is OK, too. But the problem occurs after saving the text and re-editing it.
When you enter the edit of a block of text, the edit field is missing teskt. But on the shop page teskt is visible.
Another thing I noticed that might be related to this problem is that I didn't have any default blocks in the module.
At the beginning of my experience with prest

[2019-11-08 11:21] idnovate opened #16329 "Product price from products in the pack displayed when "Show price" is disabled"
**Describe the bug**
Product price from products in the pack displayed when "Show price" is disabled

**To Reproduce**
Steps to reproduce the behavior:
1. Create a pack

![image](https://user-images.githubusercontent.com/15104724/68472964-07217c00-0222-11ea-9a89-6c47c74f86a7.png)

2. Disable "Show price"

![image](https://user-images.githubusercontent.com/15104724/68472982-14d70180-0222-11ea-86b4-

[2019-11-08 11:22] jajarom commented on #16301
Yes, same issue on latest Prestashop.
So need to copy old folder after update.

[2019-11-08 11:23] gennaris commented on #14354
I know this is not a critical one, but a follow-up would be really appreciated.

[2019-11-08 11:27] khouloudbelguith commented on #16301
@jajarom, we are aware of this issue, it is added to our debug roadmap.
Your ticket is a duplicate of #16260
So, I close it.
Thanks !

[2019-11-08 11:27] #16301 closed, assigned to nobody

[2019-11-08 11:28] khouloudbelguith commented on #16301
Duplicate of #16260

[2019-11-08 11:31] khouloudbelguith commented on #16328
Hi @Slews,

Thanks for your report.
I manage to reproduce the issue with PS1.7.6.1.
It is OK with PS1.7.5.2
I used this script to create a lot of customers
[code]
It is aregression.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-11-08 11:59] Leenwt commented on #16327
@khouloudbelguith I could produce all this but its not a configuration issue, It's a flaw in the design of the Auth controller. a simple bot is targeting the authentication form exactly the same way that PR #13604 was.

[2019-11-08 12:39] RogerComte commented on #16313
@khouloudbelguith, ok what you show is totally what i need ! 😸
The good and classic way could be to update the PS version but i would prefer to find a solution with this version... or just update the involved files... (?)

[2019-11-08 13:03] marionf commented on #16328
Thanks for diving into this @Slews

Would you be willing to make a pull request on GitHub with your code suggestion?
https://github.com/PrestaShop/PrestaShop/tree/1.7.6.x

Thank you!

[2019-11-08 13:08] khouloudbelguith commented on #16328
Hi,

With PS1.7.6.2build1, we can export a maximum 100 customers.
![image](https://user-images.githubusercontent.com/16067358/68478829-24aa1200-0231-11ea-9be3-10ed062e05b6.png)

Thanks!

[2019-11-08 13:16] khouloudbelguith commented on #14354
@gennaris, I just pinged our developers on this issue.

Thanks!

[2019-11-08 13:21] khouloudbelguith commented on #16313
@RogerComte, there are a lot of updates added to the latest versions PrestaShop.
As always, you can use the 1-click update to upgrade between minor versions without much trouble. In order to avoid problems, remember not to change core files, check the compatibility of your modules and theme beforehand, and test the upgrade on a separate machine from your production.

Thanks!

[2019-11-08 13:28] khouloudbelguith commented on #16327
@Leenwt, but this issue is fixed in the PS1.7.6.0 & we attempt, from front-office, to create a customer with an URL as first name or last name.
In your case, the Lastname & Firstname are not URLs.
![image](https://user-images.githubusercontent.com/16067358/68479973-e6fab880-0233-11ea-9766-c7104f2686d2.png)

Thanks!

[2019-11-08 13:39] khouloudbelguith commented on #16326
@ShaimyWinda, As I said before, we are aware of this issue "the document's language, they are printed in the employee language" reported here: #10258.
Your ticket is a duplicate of #10258
So, I close it.
Thanks!

[2019-11-08 13:39] #16326 closed, assigned to nobody

[2019-11-08 13:40] khouloudbelguith commented on #16326
Duplicate of #10258

[2019-11-08 13:40] Slews commented on #16328
@marionf the thing is I don't think my """solution""" is good enought to be put directly on the core code.
It was mostly to help you to quickly understand the issue.
Adding $filters->set('limit', null) to the action would ask to do the same thing for all Grid Controller exportAction(). And I don't think this would be the best way.
I do think a more DRY compliant solution would be preferable. But f

[2019-11-08 13:40] Leenwt commented on #16327
@khouloudbelguith I understand this by by patching the email issue they have just designed the bot to use random characters. I am not the only one having this issue. https://www.prestashop.com/forums/topic/960660-bot-customers/

[2019-11-08 13:43] khouloudbelguith commented on #16327
You are probably being spammed.
See :
- http://build.prestashop.com/news/fighting-against-spamming-again/
- http://build.prestashop.com/news/fighting-against-spamming/

Thanks!

[2019-11-08 13:49] khouloudbelguith commented on #16329
Hi @idnovate,

I manage to reproduce the issue with PS1.7.5.2 & PS1.7.6.1 & PS1.7.6.2 build1.
I’ll add this to the debug roadmap so that it’s fixed. If you have already fixed it on your end or if you think you can do it, please do send us a pull request!
Thanks!

[2019-11-08 13:57] khouloudbelguith commented on #16152
@eCommerceWhiteKnight, it is ok with editing the blocks also.
https://drive.google.com/file/d/1d3_kTAZOJ9utQKcxDaAbrWT8zZWmCRRo/view
Can you try to re-install the module, clear cache, check & feedback?

Thanks!

[2019-11-08 14:07] marionf commented on #16329
@idnovate

I think the prices of the product in the pack should be hidden if "show price" is disabled for these product and not for the pack, what do you think ?

[2019-11-08 14:09] TristanLDD commented on #15932
@colinegin Yes I can do the mockups, I will post them here as soon as possible.

[2019-11-08 14:17] khouloudbelguith commented on #16322
Hi @maofree,

Could you please confirm these steps:
1. Create a cart rule without code
2. In the Condition Tab: Restrictions
2.1 Carrier: select some carriers
2.2 Product: select one category & select one Attribute
3. As an action, Free shipping
4. In the FO, in the checkout page => all carriers are free?

Thanks!

[2019-11-08 14:28] piotro9x commented on #16152
Please see the video.
After entering the block edit icon, there is no text in the text field.
https://drive.google.com/file/d/1ko4-cUAckvDcXOzF221Vls1dOr9rTyLK/view
I did reinstallations. Unfortunately it doesn't help

[2019-11-08 14:32] khouloudbelguith commented on #16152
@eCommerceWhiteKnight, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/

[2019-11-08 14:34] yannicka opened #16333 "Bullets of bulleted lists are removed by default"
By default, PrestaShop changes the behaviour of bulleted lists by removing the bullets:
https://github.com/PrestaShop/PrestaShop/blob/4f5d70f1ae3a9ceb5251a850551e79d8ff62a0d7/themes/classic/_dev/css/partials/_commons.scss#L14-L17

So, every time I make a bulleted list, I don't have the bullets, and that's quite annoying. Would it be possible to remove this piece of code from the default theme?

If

[2019-11-08 14:37] khouloudbelguith commented on #16333
Hi @yannicka,

Thanks for your report.
Ping @@PrestaShop/prestashop-core-developers what do you think?

Thanks!

[2019-11-08 14:42] #9497 closed, assigned to nobody

[2019-11-08 14:42] #12043 closed, assigned to atomiix

[2019-11-08 14:42] #14732 closed, assigned to matks, sarjon, TristanLDD, MatShir

[2019-11-08 14:47] dennispw commented on #16333
Since most of the `ul` and `ol` element used in the theme, such as in the footer, navigation, pagination etc. this snippet below could be an option. Chances are, if a `ul` or `ol` has a class it will most likely be to remove that styling. Snippet below only removes the bullets if the list actually has a class.

[code]

[2019-11-08 15:04] yannicka commented on #16333
I do not think that remove bullets/numbers to ul/ol when they have a class is a good idea.

I think the best thing to do is to have the behaviour expected from the browser: have the bullets/numbers and remove them explicitly by adding a class like `list-unstyled`.

If there is a notion of retrocompatibility, it's possible to wait for the next major version: 1.8.

[2019-11-08 15:20] TristanLDD commented on #15932
@Coline, I had a closer look at the module and it seems that this feature will require some significant changes in the interface.

Adding a column in the table as @khouloudbelguith suggested will actually not work because you don't want to choose the position of a specific item, you want to choose the position of a combination of several items (up to 8).

So we would have to:
1 - Add the possibili

[2019-11-08 15:35] maofree commented on #16322
hi
check the first 2 images, the second image is the wrong result, where the chosen carriers are not Gratis. The second two images are the result of the removal of the condition on the carriers.

1. Create a cart rule without code (yes without code)
2. In the Condition Tab: Restrictions
2.1 Carrier: select some carriers
2.2 Product: select one category or select one Attribute (I think this conditi

[2019-11-08 15:35] eternoendless commented on #16321
I don't think that languages are removed during the upgrade

[2019-11-08 15:42] jajarom commented on #16260
Fix : copy old folder (old version of module) into your shop 👍

[2019-11-08 15:45] LouiseBonnard opened #16336 "Copy Croatian tax rates in EU localization packs"
**Is your feature request related to a problem? Please describe:**

So far, Croatia was not considered part of the EU in PrestaShop. It has been fixed for version 1.7.7. (cf. #15618) so Croatia and its tax rates must be reported in all European packs.

**Describe the solution you'd like:**

🇭🇷 _What are the Croatian tax rates again?_

25% Standard Rate
13% Reduced Rate
5% Reduced Rate
0% Zero Rate

[2019-11-08 16:02] jf-viguier commented on #15932
The link widget already have a block management :
http://doc.prestashop.com/display/PS17/Link+Widget

[2019-11-08 16:09] ghost opened #16337 "Email Theme permissions settings are not saved when trying to enable them"
**Describe the bug**
It is impossible to re-enable the permissions settings for the Email Theme page **once they have been disabled**.
The modification does not seem to be saved when enabling the permissions.

When I go to the Permissions page, the Email Theme page permissions (first email theme row, the parent one) are unchecked, I checked them, See a confirmation message, but when I refresh the

[2019-11-08 17:16] ghost opened #16338 "Action buttons in Modules Manager rows disappear when permissions are modified"
**Describe the bug**
The actions buttons in the rows on the Module Manager page disappear if the permissions of the page are disabled, then enabled.
It is normal they disappear when a user only has the view permission, but they should be visible again when other permissions are re-enabled.

The user can only use the bulk actions dropdown to act on modules.

**To Reproduce**
Steps to reproduce the

[2019-11-08 22:31] piotro9x commented on #16152
I analyzed all report files.
When I try to run the module, debugging mode indicates the following errors:

[8] Undefined offset: 4

Notice w linii 49 w pliku /home/contactmkubo/websites/presta/var/cache/dev/smarty/compile/92/05/81/920581808bb42e659d34d4f14f0c3a98e9fc3c9e_0.file.description.tpl.php
[8] Undefined offset: 4

Notice w linii 55 w pliku /home/contactmkubo/websites/presta/var/cache/dev/s

[2019-11-09 02:07] MathildeJoli opened #16339 "Customer Review Anonymisation"
Be able to remove the customer lastname on the front of the Avis Client module, having the choice of
- Full name (First name + Last name) : Melodie Dupont
- Partial name (First name + Last name first letter).  Melodie D

[2019-11-09 09:11] rdy4ever commented on #16333
I do believe most use cases for bulleted lists will be in cms pages content. This way we don't mess with the global styles. PR here: #16340

[2019-11-09 10:30] Lorenzacchio commented on #16256
Hello,

Do you do how can we choose the order of the products in the promotion block of the home page please ?

How to do if we want to put forward some discount products in the first places of the carrousel because for now it seems that the native prestashop promotion block put the products depending on the date of product creation, it’s totally stupid because some discounts needs to be put forwa

[2019-11-09 10:47] idnovate commented on #16329
Hi,

we have tested hiding the price of one of the product in the pack and it's
still displayed.
The TPL to display the price of the products inside of the pack doesn't
have the "show_price" control.

Regards,
David

--

[image: www.idnovate.com] <http://www.idnovate.com/>

<https://www.prestashop.com/es/expertos/agencias-web/idnovate>

👉 Échale un vistazo a todos nuestros módulos
<https://addons.

[2019-11-09 12:25] yannicka commented on #16333
I also think that this is the most common use. So thank you for the PR.

However I think that bulleted lists can be used elsewhere, like in pages: https://github.com/PrestaShop/ps_checkpayment/pull/25.

[2019-11-09 13:05] 01park commented on #15221
Hi,

Can you maybe update the labels for this issue. That it effects also later Prestashop versions. I think this might be the reason the problem is not resolved yet.

[2019-11-09 14:50] alphaonex86 opened #16341 "Fatal error on any admin change"
**Describe the bug**
`[09-Nov-2019 15:47:41 Europe/Paris] PHP Warning:  require(/home/user/Desktop/www/shop.bolivia-online.com/var/cache/prod/ContainerZ5xnfp1/getPrestashop_SearchParameters_ResolverService.php): failed to open stream: No such file or directory in /home/user/Desktop/www/shop.bolivia-online.com/var/cache/prod/ContainerZ5xnfp1/appProdProjectContainer.php on line 1136
[09-Nov-2019 15:

[2019-11-09 16:42] flavi1 opened #16342 "Prestashop 1.7 manual upgrade error with SqlTranslationLoader.php"
Hello
I'm trying to manually upgrade a Prestashop version from 1.6 to 1.7.6.1. However it doesn't work. I only got a blank page if I try to run the upgrade feature. You'll find the error message below.
`

Fatal error: Uncaught Symfony\Component\Debug\Exception\FatalThrowableError: Type error: Argument 1 passed to PrestaShopBundle\Translation\Loader\SqlTranslationLoader::addTranslationsToCatalogue(

[2019-11-10 10:09] prashantjain257 commented on #9661
test.

[2019-11-10 12:53] phaan commented on #10161
The solution from julio899  worked for me, with prestashop 1.7.6.1 on a raspberry pi (with raspbian)
Thanks julio899

[2019-11-10 13:20] Arnaldo405 opened #16343 "Price scroll bar faceted search is in dollars instead of euros"
After upgrading from 1.7.5.2 to 1.7.6.1 the price of the scroll bar in faceted search in the front office  is in dollars instead of euros. The only active currency in the shop is euros. See the screenshots.
How can this be adjust? Please help.

Additional information
PrestaShop version: 1.7.6.1
PHP version: 7.2.22
![Faceted search in dollars](https://user-images.githubusercontent.com/53099784/6854

[2019-11-10 16:14] nicoladze opened #16344 "Size limit of "recap" on product sheet"
**Describe the bug**
The size limit of the recap section on a product sheet is reached at 400 characters while it is written under the recap window 800 characters allowed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Catalogue -> Produits
2. Write on "Recapitulatif" more than 400 characters
3. Click on "Sauvegarder"
4. See error "Le champ description_short (Français (French)) est tr

[2019-11-10 20:10] rekondaren opened #16345 "Module and services"
Hi,

I downloaded a module that took to long to install so I refreshed the page and now when I click on Module and services it sends me to a blank page and also when I click on module catalogs it says try again.
How do I solve this problem?

PHP-version: 7.2.24
PrestaShop version: 1.7.6.1

[2019-11-10 22:55] mjamroz opened #16346 "re-sending email with status change"
**Describe the bug**
Variables related with emails are not displayed in an email template (at least "bankwire" template)

**To Reproduce**
1. Go to order details view in backoffice
2. Click on "resend an email' (for example for status "waiting for bankwire")
![Screenshot_2019-11-10_23-55-18](https://user-images.githubusercontent.com/505646/68552279-89be5d00-0415-11ea-8237-b5a1ad97f426.png)

3. sen

[2019-11-11 02:29] didi-2018 opened #16348 "How to add "recycled packaging" in order_conf and new_order mail and on order summary page and order confirmation page?"
Hi,
on order summary page (Please check your order before payment) before the customer click on "order with an obligation to pay" button the option "I would like to receive my order in recycled packaging" from checkout step 3 (shipping method) is not shown. And it is not shown on order confirmation page.

And at least it is not shown in order_conf mail to the customer and not shown in new_order ma

[2019-11-11 02:51] ziegenberg commented on #10597
@colinegin: the "Apply to older controllers" check-box at the top of the issue description is not yet ticked, but I did not checked if this is actually true.

[2019-11-11 06:56] flavius commented on #15332
Ping @PrestaShop/prestashop-core-developers ?

Ping @khouloudbelguith ?

[2019-11-11 08:02] khouloudbelguith commented on #15853
Hi @maofree,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-11 08:02] #15853 closed, assigned to nobody

[2019-11-11 08:05] khouloudbelguith commented on #15720
Hi @SharmPRO,

Since we had no news from you for more than 30 days, I'll close this ticket. Feel free to open another one if you can give specific details.

Thanks!

[2019-11-11 08:05] #15720 closed, assigned to nobody

[2019-11-11 08:54] infinity-web-italy commented on #9727
Hello,
I have the same problem on PS 1.7.3.3
Has anyone solved it?

[2019-11-11 09:07] khouloudbelguith commented on #16338
Hi @samuel-pires,

The buttons will be displayed if the Modules permissions are checked
![image](https://user-images.githubusercontent.com/16067358/68574763-eac45000-046a-11ea-8e07-af487154e5aa.png)
There is is a conflict.
Your ticket is a duplicate of #9786
So, I close it.
Thanks!

[2019-11-11 09:07] #16338 closed, assigned to nobody

[2019-11-11 09:07] khouloudbelguith commented on #16338
Duplicate of #9786

[2019-11-11 09:26] khouloudbelguith commented on #16339
Hi @MathildeJoli,

Thanks for your report.
Ping @PrestaShop/prestashop-product-team what do you think?

Thanks!

[2019-11-11 09:37] khouloudbelguith commented on #16341
Hi @alphaonex86,

PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
Could you please try to clear cache manually by deleting all the folder into var/c

[2019-11-11 09:45] rdy4ever commented on #16345
Hi @rekondaren
Try to go to your website root directory via ftp or file manager in CPanel, go to modules folder, locate the module you were trying to install and rename/detete it.

[2019-11-11 10:01] khouloudbelguith commented on #16345
Hi @rekondaren,

What is the exact name of this module?
Is it compatible with PrestaShop 1.7.6.1?
It is not well installed in your case, so you have issues during the configure.
Thanks!

[2019-11-11 10:03] idnovate commented on #16329
@marionf

Apologize if we didn't understand your message, for us, the correct behavior should be that disabling the show price in the product pack, the product pack and all the products in the pack should have the price hidden.

Regards,
David

[2019-11-11 10:06] khouloudbelguith commented on #9727
Hi @infinity-web-italy,

Sorry not yet.
There are some major issues to solve before this one.
So, it will probably not solved right now.
But PrestaShop is an open-source project, so it can be solved before if someone submits a pull request to solve it.

Thanks!

[2019-11-11 10:07] rekondaren commented on #16345
Hi,

Thank you very much I deleted it and it worked.

[2019-11-11 10:08] #16345 closed, assigned to nobody

[2019-11-11 10:21] khouloudbelguith commented on #16343
Hi @Arnaldo405,

What is the exact version of the module ps_facetedsearch did you use?
The last version released is v3.4.0.
Thanks to check & feedback.

[2019-11-11 10:36] khouloudbelguith commented on #16344
Hi @nicoladze,

I did not manage to reproduce the issue with PS1.7.6.1.
The Max size of the short description by default is 800 characters.
You can change it in the BO => Shop Parameters => Product Settings page
![image](https://user-images.githubusercontent.com/16067358/68580588-f4ec4b80-0476-11ea-8920-94ebb8acf271.png)
I attached a screen record
https://drive.google.com/file/d/1mZ3AqVRSK7D7VVTti

[2019-11-11 10:49] khouloudbelguith commented on #16346
Hi @mjamroz,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1Bg9Tuiuhf7oFsIeGT4IYW_MAFHCl_guQ/view
Thanks to check & feedback.

[2019-11-11 11:04] khouloudbelguith commented on #16348
Hi @didi-2018,

Thanks for your report.
I have the same behavior as PS1.7.6.1.
The  Recycled packaging label is added only in the BO => Orders details page
![image](https://user-images.githubusercontent.com/16067358/68582349-cd977d80-047a-11ea-9cb5-01963ad65cd9.png)
It is **not displayed** in the:
1. Final summary
![image](https://user-images.githubusercontent.com/16067358/68582418-f1f35a00-047a-1

[2019-11-11 11:09] khouloudbelguith commented on #15332
@PrestaShop/prestashop-core-developers friendly reminder :)

[2019-11-11 11:13] khouloudbelguith commented on #15221
Hi @01park,

Please follow this ticket: https://github.com/PrestaShop/PrestaShop/issues/9701
This issue is closed as a duplicate of https://github.com/PrestaShop/PrestaShop/issues/9701

Thanks!

[2019-11-11 11:21] mjamroz commented on #16346
Hi @khouloudbelguith ,
ahh, I am sorry - i just repeat it but with disabled all external modules and overrides and it works like on your screen record (i mean - it works properly).

Sorry for taking your time, i will close this issue and try to locate source of error in my installation.

cordialement,
michał

[2019-11-11 11:21] #16346 closed, assigned to nobody

[2019-11-11 11:24] cd2500 opened #16350 "Problem with automatic generated .htaccess 'Primary script unknow'"
Yesterday I installed latest PS 1.7.6.1. I'm getting this error in the logs when I open a product:
[proxy_fcgi:error] [pid 552] [client xxxxxxx] AH01071: Got error 'Primary script unknown', referer: https://xxx/index.php/sell/catalog/products/13? token......
I did a research over the net and came to the conclusion, that this must be something wrong in the .htaccess of Prestashop. It's default one

[2019-11-11 11:25] khouloudbelguith commented on #16346
@mjamroz, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-11-11 11:30] khouloudbelguith commented on #16350
Hi @cd2500,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade you

[2019-11-11 11:37] khouloudbelguith commented on #16256
Hi @Lorenzacchio,

Sorry, this function doesn't exist in PrestaShop by default.
They are ordered by Id.

Thanks!

[2019-11-11 11:38] cd2500 commented on #16350
Why is the 1-click module than forcing a php upgrade to 7.3. ? I was not able to upgrade, because the module was blocking the php version and forcing by message "please upgrade to php 7.3. before you upgrade Prestashop". This is weird information.
PS version in use before was 1.7.2. with php 7.0. upgraded to php 7.2., also not working. Reverted to 7.0. working, but also with some minor error messa

[2019-11-11 11:41] khouloudbelguith commented on #16152
Hi @piotro9x,

There is a lot of cache errors.
Could you please try to clear the cache manually by deleting all the folder into var/cache (prod & dev).
Thanks to check and feedback.

[2019-11-11 11:42] Maofree opened #16351 "Problem with cart rule when it is limited only on some products"
Hi
the shopkeeper has created a discount using the cart rule like I show in these images
all is ok in the front office, there is a problem only when the product that has this discount "Sconto Villaggio Meraviglie" is in the cart with other products that they have not this discount. This discount is applied to all total product price, not only to the discounted product.

https://shop.natur.it/home/

[2019-11-11 11:55] khouloudbelguith commented on #16350
@cd2500, what is the exact version of the 1-click upgrade did you use?
I tried with different servers (PHP7.2 & PHP7.1) & they are well working.
https://drive.google.com/file/d/1ce1wxlZ5Zw4doLJ9r2V2gu9x8GX59GPs/view

Thanks!

[2019-11-11 12:02] sickboards commented on #16311
Hi, the link to your shop is not working unfortunately

[2019-11-11 12:07] khouloudbelguith commented on #16311
@sickboards, this link should be used instantly, it disappears after a time.
Thanks to check with this link: http://foolish-things.machine-shuffle.prestashop.net/en/

Thanks!

[2019-11-11 12:08] khouloudbelguith commented on #16322
Hi @maofree,

I think your issue is similar to this ticket: https://github.com/PrestaShop/PrestaShop/issues/15525

Thanks to check & feedback.

[2019-11-11 12:12] Lorenzacchio commented on #16256
Hello,

Ok thanks for your reply but it’s really incomprehensible that Prestashop designers did not think to a personalized ranking of this module so that the special price items can be displayed in the order of priorities of the manager.

Imagine if the manager of a supermarket could not choose the gondola heads he wants to put forward?

It would be highly necessary to ask the developers to set u

[2019-11-11 12:13] khouloudbelguith commented on #16351
Hi @maofree,

But this is a restriction for Product selection ( what are the exact products should be added to the cart to have a valid cart rule)and not an action to be applied to those products only.
In the action Tab, you are selecting this option: "Apply a discount to
Order (without shipping)" => so the discount is applied on the total.
![image](https://user-images.githubusercontent.com/160673

[2019-11-11 12:14] alphaonex86 commented on #16341
Hi,
I have already try, but no change.
Cheers,

[2019-11-11 12:16] nicoladze commented on #16344
Hi @khouloudbelguith

The max size of short description was "0", since I put "800", the problem is solved.

Thank you

[2019-11-11 12:17] khouloudbelguith commented on #16341
@alphaonex86, Could you please follow this link: https://github.com/PrestaShop/php-ps-info
phppsinfo file provides an equivalent to the phpinfo() function that reports PrestaShop Requirements information about the PHP/MySQL/Apache environment and offers suggestions for improvement.

1. Upload the file to the server. You should upload your file to the exact directory you want to test. Typically, th

[2019-11-11 12:17] khouloudbelguith commented on #16344
@nicoladze, thanks for your feedback.
Since it is fixed.
I close the issue, feel free to open a new one when needed.

Thanks!

[2019-11-11 12:17] #16344 closed, assigned to nobody

[2019-11-11 12:19] khouloudbelguith commented on #16256
Hi @Lorenzacchio,

Thanks to create a new improvement describing your suggestion about this module.

Thanks!

[2019-11-11 12:35] alphaonex86 commented on #16341
No red, only Image Processing (ImageMagick) and Memcached in yellow.

[2019-11-11 12:43] maofree commented on #16351
Hi
so it is necessary to select the option "selected products" ?

[2019-11-11 12:48] gbartosz83 opened #16352 "Two columns small left column with Recommended Product are not displaying corectly."
Hello, I have a little problem with displaying products on main page.
I wanted to have menu with all categories and products on main page, so I have changed grid for index to "Two columns small left column - Two columns with a small left column".
But now in the main page only two products in one row are displayed (instead of 3)
How to change this to look the same as in category view where 3 produc

[2019-11-11 12:51] maofree commented on #16351
yes it works now with that option
thanks

[2019-11-11 12:51] #16351 closed, assigned to nobody

[2019-11-11 13:08] khouloudbelguith commented on #16341
@alphaonex86, the mod_rewrite is enabled on your server?
Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - debug mode report
 - PHP error logs
 - screenshots

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to-create-bug-repor

[2019-11-11 13:10] khouloudbelguith commented on #16351
@maofree, thanks for your feedback.
Feel free to open a new one when needed.

Thanks!

[2019-11-11 13:26] sickboards commented on #16311
Same issue is visible for me
![Capture](https://user-images.githubusercontent.com/3520123/68590584-3688f080-048f-11ea-8b34-41d2ce9f12a2.JPG)

[2019-11-11 13:35] nicoladze opened #16353 "Price section on a product sheet does not save the changes - Cost price & unit price"
**Describe the bug**
Price in product sheet do not stay like I wrote them.

**Steps to reproduce the issue:**
1. Create 3 suppliers
2. Create a product with
2.1 Price = 12 tax included / =10 tax excluded
2.2 Tax =20%
2.3 Price per unit= 10 /ml
2.4 Cost price = 10
2.5 In the Options Tab, select one supplier as a default.
2.6 Price (tax excl.) for the supplier = 10
3. Enable product & Save
4. Go to

[2019-11-11 13:36] khouloudbelguith commented on #16352
Hi @gbartosz83,

PrestaShop is not compatible with PHP 7.3, in fact, PrestaShop 1.7.0 to 1.7.3 is compatible with PHP 7.1 and PrestaShop 1.7.4 & 1.7.5 & PS1.7.6 are compatible with PHP 7.2.
For more details, you can follow this link: http://build.prestashop.com/news/prestashop-1-7-is-moving-to-symfony-3-4-and-php-5-6/
Next Major release PS1.7.7 will be compatible with PHP7.3.
You need to downgrade

[2019-11-11 13:37] alphaonex86 commented on #16341
The missing info: Linux Gentoo, Nginx 1.16.1-r1
Here is error 500, fatal error, then unlinked to rewrite_rule
My conf:
`server {
    listen 127.0.0.1;
    server_name shop;
    root /home/user/Desktop/www/shop/;
    index index.html index.php;
    location / {
        try_files $uri $uri/ /index.php?$args;
        rewrite ^/([0-9])(-[_a-zA-Z0-9-]*)?(-[0-9]+)?/.+.jpg$ /img/p/$1/$1$2$3.jpg last;

[2019-11-11 13:42] khouloudbelguith commented on #16341
@alphaonex86, In my case, I did not manage to reproduce the issue with PS1.7.6.1 & Nginx server.
It is a server configuration issue.
here's my nginx configuration
[code]
I created from this file https://github.com/PrestaShop/PrestaShop/blob/develop/docs/docker/nginx_fpm/prestashop-nginx/prestashop-nginx.conf
Thanks to check & feedback.

[2019-11-11 13:55] alphaonex86 commented on #16341
Same problem with your configuration file.

[2019-11-11 13:56] khouloudbelguith commented on #16341
@alphaonex86, did you edit it? or just copy-paste?

Thanks!

[2019-11-11 13:58] alphaonex86 commented on #16341
Copy and paste + edit server name.
PS: the bug seam randomly occur (80% of bug, 20% of the time work).

[2019-11-11 13:59] khouloudbelguith commented on #16353
Hi @nicoladze,

I did not manage to reproduce the issue with PS1.7.6.1.
I attached a screen record
https://drive.google.com/file/d/1MBtGdSLmUrdxAT4U_EUGQrz4cf87fS7I/view
Thanks to check & feedback.

[2019-11-11 14:00] gbartosz83 commented on #16352
Thanks!
I don't have solution yet, but meanwhile I could have change it to something else.
How to set default category to be displayed in the main page instead of this broken popular product page?

[2019-11-11 14:40] 8ternity opened #16354 "UPC should allow 13 digits"
**Describe the bug**
We have an integration with products integrations which push datas to our feed with Web Services.

When the product updates prices and availability, it's creating dublons because Prestashop doesn't accept zero's in the begining of UPC code. The integration works with UPC and brand manufacturer informations to update the quantity and prices on a daily base.

The problem is we c

[2019-11-11 15:01] matutin0 opened #16355 "Bots creating new users"
**Describe the bug**
Since November the 3th (8 days ago) there are dozens of new users registered on our website with e-mail addresses that look real and names/surname made by random characters. I don't know how to stop it. Seems similar to the issue about spam sent through the contact page, but is not the same. Totally looks like a bot behavior.

**To Reproduce**
It's just about to check your cli

[2019-11-11 15:28] khouloudbelguith commented on #16355
Hi @matutin0,

Your ticket is a duplicate of #16327
So, I close it.
Thanks !

[2019-11-11 15:28] #16355 closed, assigned to nobody

[2019-11-11 15:28] khouloudbelguith commented on #16355
Duplicate of #16327

[2019-11-11 15:29] khouloudbelguith commented on #16341
@alphaonex86, when debug mode is enabled, are there any exceptions displayed?

Thanks!

[2019-11-11 15:29] piotro9x commented on #16152
Hello.
I deleted the contents of the folders. The 'prod' folder remains empty but in the 'dev' folder the files overwrite and errors still appear.

[2019-11-11 15:38] nicoladze commented on #16353
Hi @khouloudbelguith

I have tried on another product sheet and there is no problem; it seems that it is a mater of this pecular sheet...

[2019-11-11 15:38] alphaonex86 commented on #16341
Few warning:

WARNING16:36:03 | translation | Translation not found.Hide context[▼   "id" => "SEO options"   "domain" => "AdminShopparametersFeature"   "locale" => "en-US" ]
-- | -- | --

Few deprecation I test with version 1.7.5.2:
User Deprecated: The AbstractGridDefinitionFactory::setHookDispatcher method is deprecated as of 1.7.5.1 Please use the constructor instead
Enabling the "sensio_framew

[2019-11-11 15:43] khouloudbelguith commented on #16353
@nicoladze, Could you please provide us with more info? We need more details to understand how we can reproduce your issue:
 - server setup and configuration
 - PrestaShop version (source)
 - debug mode report
 - PHP error logs
 - apache error log
 - javascript console log

Don't you know how to get this information? Please read the following article:
http://build.prestashop.com/howtos/misc/how-to

[2019-11-11 15:43] Maofree opened #16356 "ps_socialfollow add telegram"
Hi
is it possible to add telegram and linkedin to the module ps_socialfollow like for facebook and others ?
thanks

Prestashop version: 1.7.6.1
Module version: 2.0.0